[2018-01-14 10:54] #2889 closed

[2018-01-14 11:03] ismcagdas commented on #2755
@hyzx86 you can take this document as a starting point https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management#ldapactive-directory.

[2018-01-14 11:47] hyzx86 commented on #2755
@ismcagdas  Thanks !

[2018-01-14 13:28] beriniwlew opened #2890 "TimeZoneHelper/TimeZoneConverter - Convert To DateTimeOffset"
I propose methods be added to the TimeZoneHelper/TimeZoneConverter to return DateTimeOffset types.

[2018-01-14 17:00] diegoortizmatajira opened #2891 "Error on publish using basic template v3.3 (ASPNET MVC without module zero)"
I'm using Abp version 3.3 template and get an error when publishing the web project

It happens the same when I try to publish inside a container.

NOTE: Compiling and running the application works fine... the problem is when I publish it

My development environment is:
[code]
**Steps to reproduce:**
1. Remove the next line from XXXX.web.csproj (because it produces an error message, at least on vs

[2018-01-14 19:12] ismcagdas commented on #2891
@diegoortizmatajira is it ASP.NET Core or MVC 5.x ?

[2018-01-14 19:14] diegoortizmatajira commented on #2891
Hi, I'm ASP.NET Core

[2018-01-14 19:17] ismcagdas commented on #2891
Thanks, we will check this in a short time. I have moved to issue to right repository https://github.com/aspnetboilerplate/aspnet-core-template/issues/53.

[2018-01-14 19:17] #2891 closed

[2018-01-14 19:19] ismcagdas commented on #2890
@beriniwlew thanks for your suggestion. Let us think about this. A PR is always appriciated 😄

[2018-01-14 20:40] beriniwlew commented on #2890
@ismcagdas Check my other PR.  After you commit it, I'll show you what I had in mind with the DateTimeOffset

[2018-01-14 22:52] beriniwlew commented on #2890
I suggest these 3 new methods in TimezoneHelper.cs  (I have a prototype with tests ready for a PR)

`public static DateTimeOffset? ConvertFromUtcToDateTimeOffset(DateTime? date, string timeZoneId)`
`public static DateTimeOffset? ConvertToDateTimeOffset(DateTime? date, string timeZoneId)`
`public static DateTimeOffset ConvertToDateTimeOffset(DateTime date, string timeZoneId)`

[2018-01-15 01:03] SanchoWalden commented on #2884
@ismcagdas Thanks. I've solved this problem.Because  page forwarding can't be done using AJAX.

[2018-01-15 02:37] KennyEng12 opened #2892 "DI vs Properties (ApplicationService, DomainService, AbpController, AbpApiController... etc.)"
Hi,

I've a question of using DI and using Properties that derived from some specific base classes (ApplicationService, DomainService, AbpController, AbpApiController... etc.).

For example, inject IObjectMapper vs ObjectMapper property.
Do we still need to use inject IObjectMapper if we derived from these base classes, why?
Because it quite confusing me since we can use the properties when we der

[2018-01-15 03:01] acjh commented on #2892
No, you don't need to inject a dependency that is already property-injected by the base class.

[2018-01-15 03:24] KennyEng12 commented on #2892
Thank you @acjh .

[2018-01-15 03:24] #2892 closed

[2018-01-15 03:52] #2884 closed

[2018-01-15 04:12] silverl997 commented on #2755
how to enable LDAP #FEATURE_LDAP ?
i have already install Abp.Zero.Ldap
but still got red in Configuration.Modules.ZeroLdap()

[2018-01-15 05:10] ismcagdas commented on #2755
@silverl997 as far as I remember FEATURE_LDAP only exists in AspNet Zero. Can you ask it on AspNet Zero repository ?

[2018-01-15 05:29] ismcagdas commented on #2890
@beriniwlew seems great to me.

[2018-01-15 14:26] Juslwk opened #2893 "Migration using Migrator.exe failing. Could not load file or assembly System.ValueTuple"
* Your Abp package version: 3.0.0.0
* Your base framework: .Net Framework

* Exception message and stack trace if available:
DEBUG 2018-01-15 22:17:35,011 [1    ] Abp.Modules.AbpModuleManager             - Loading Abp modules...
DEBUG 2018-01-15 22:17:35,146 [1    ] Abp.Modules.AbpModuleManager             - Found 9 ABP modules in total.
DEBUG 2018-01-15 22:17:36,530 [1    ] Abp.Modules.AbpModuleM

[2018-01-15 14:37] ismcagdas commented on #2893
@Juslwk I have found two similar issues
IdentityModel/IdentityModel2#38
and
IdentityModel/IdentityModel2#64

can you try offered solutions ?

[2018-01-15 16:16] Juslwk commented on #2893
@ismcagdas , thanks for reply, based on the solutions, I have tried updating my visual studio to latest version, and installing .NET SDK 4.7, but still throws the same error when I run the migrator.exe

[2018-01-15 16:45] Juslwk commented on #2893
@ismcagdas thank you, i managed to get it to work after installing .NET SDK 4.7.1

[2018-01-15 16:45] #2893 closed

[2018-01-15 18:22] ktngoykalolo commented on #2030
I think there could be an open source tool to help scaffold some items such as application services, managers or repositories and even views. it could be a separate project from this one.

[2018-01-15 18:38] ktngoykalolo commented on #694
I would not mix database level concerns within the app. I think data partitioning issues should remain within the database only.

[2018-01-15 19:12] ismcagdas commented on #2030
@ktngoykalolo this is a good idea but it is not in our short term plan yet.

[2018-01-15 19:13] ktngoykalolo commented on #2030
totally understand. @ismcagdas

[2018-01-15 19:16] ismcagdas commented on #2893
@Juslwk thanks for the feedback, it is really appriciated 😄

[2018-01-16 00:03] Worthy7 commented on #2159
Just there is no unit of work by default, you have to program it yourself - which I did. So no problem.

[2018-01-16 00:03] #2159 closed

[2018-01-16 01:28] jefftindall commented on #2846
We recently updated to v3.2.5 and are now seeing this error message throughout our logs.

I'm not even getting enough of a stack trace to see where it is starting from.

ERROR 2018-01-16 00:45:24,904 [27   ] bp.Runtime.Caching.Memory.AbpMemoryCache - System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Microsoft.Extensions.Caching.Memory.MemoryCache'.
   at Microsoft.Exte

[2018-01-16 02:21] tom177y commented on #2892
**Question:** Based on online documentation --> https://aspnetboilerplate.com/Pages/Documents/Object-To-Object-Mapping#iobjectmapper-interface

1) Constructor injected object was illustrated instead of Property injected object.  Am i right to assume that constructor injected approach is better in term of code clarity?

2) For Unit Testing, can IObjectMapper be constructor injected?

Thanks.
/Tommy

[2018-01-16 03:41] #2853 closed

[2018-01-16 03:41] Belala commented on #2853
params input error

[2018-01-16 05:34] ismcagdas commented on #2892
`Constructor injected object was illustrated instead of Property injected object. Am i right to assume that constructor injected approach is better in term of code clarity?`

Absolutely.

`For Unit Testing, can IObjectMapper be constructor injected?`

In current design, it cannot be. You can resolve it in the constructor like this if you want.
`var objectMapper = Resolve<IObjectMapper >();`

[2018-01-16 05:36] natiki opened #2895 "Adding Hangfire to WebForms project that has been converted to ABP - Problem with IoC...."
Hi,

- ABP 3.3.0
- Webforms
- .NET 4.61

I am trying to get Hangfire going in an existing Webforms application that has been "converted" to ABP by adding the necessary modules and bootstrapper code for ABP. This has been working for a while now without issue. The problem is I cannot get Hangfire to work.

I have done the following in my Webforms application:

- Installed Hangfire and configured it

[2018-01-16 05:40] ismcagdas commented on #2846
@jefftindall do you know how to reproduce this error ? Is it just happening randomly ?

[2018-01-16 05:44] papyr commented on #2030
@natiki Its _unfortunate other people not concerned with the need_ manage to simply trample over developers who have a need. This a very reasonable request, and good idea too @ktngoykalolo .

Since this is template based, making it good candidate for t4 scaffolders, especially for newer folk. Speeds up dev. quite a bit.

[2018-01-16 08:26] wuball commented on #2883
@ismcagdas Yeah, the purpose is to make the email in the system is not necessary, but dispensable.

[2018-01-16 08:59] Worthy7 commented on #550
@hikalkan how about adding an optional parameter to IRepo Delete(permanent = false) which will ignore the IsDeleted system if it is true.

I just got a request to allow some test data into our live system so people can practice together, then afterwards they want that data deleting.

[2018-01-16 11:58] ktngoykalolo commented on #2895
I would not recommend simply dropping binaries to convert a Webforms to MVC, as ABP brings lots of constraints with itself and the whole DDD implications. I would go for a full rewrite if possible. Hangfire is integrated with ABP and brings with it some contraints and requirements. it could be a tiny thing that is killing the whole thing. check again the code.

[2018-01-16 11:59] ktngoykalolo commented on #2895
simply said it would require too much effort adapting ABP with an existing Webforms app.

[2018-01-16 12:03] ismcagdas commented on #2895
@natiki have you tried to move ITransientDependency to one of your job classes ? OzCpHelloWorldJob for example.

[2018-01-16 13:02] JishaBejoy opened #2896 "HTTP Error 400.0 - Empty or invalid anti forgery header token"
Using a form post to some payment websites for online payment with some return url . after the transaction automatically redirecting to the return url . But iam getting an error HTTP Error 400.0 - Empty or invalid anti forgery header token. Bad Request. How can I resolve this?

[2018-01-16 13:08] gentledepp opened #2897 "EventBus does not unsubscribe in integrationtests and causes sideeffects"
### Github Issues
If you're creating a bug/problem report, please include followings:

* Your Abp package version. 2.3.0
* Your base framework: .Net framework.
* Exception message: `InvalidOperationException - the filter MayHaveTenant was not registered`
* Steps needed to reproduce the problem.

Create two integrationtests which cause an event to be triggered.
Call "LocalIocManager.Dispose" at the

[2018-01-16 13:12] acjh commented on #2896
Please describe your problem in the issue description, not the title.

[2018-01-16 13:48] ismcagdas commented on #2896
@JishaBejoy I have modified your issue. Please also include other informations as @acjh suggested.

[2018-01-16 13:50] acjh commented on #550
Soft delete is not handled in the repository.

This is sufficient for your use case: https://forum.aspnetboilerplate.com/viewtopic.php?p=6202#p6193

[2018-01-16 13:53] ismcagdas commented on #2896
@JishaBejoy by the way, if a third party app is redirecting back to your website. Anti Forgery shouldn't be a problem. The problem might be something else. We can try to help if you can share your codes for redirecting to a third party website.

[2018-01-16 13:56] ismcagdas commented on #2897
@gentledepp are you using one of the ABP templates ?

We are using first option in AspNet Zero, so we can also implement this in ABP templates.

[2018-01-16 14:13] beriniwlew commented on #2890
Done in #2894

[2018-01-16 14:14] #2890 closed

[2018-01-16 14:34] xiaochong44 commented on #2846
@ismcagdas  it very frequently. I have two solution have this problem.

[2018-01-16 14:59] Worthy7 commented on #550
Alright thanks.

[2018-01-16 15:03] reberinformatik opened #2899 "Allow localization in ICustomValidate context"
Domain objects or dtos can implement `ICustomValidate` to implement complex validation logic. See [documentation](https://aspnetboilerplate.com/Pages/Documents/Validating-Data-Transfer-Objects).

The `CustomValidatationContext` provides no easy way to translate validation-messages. Localized validation messages are crucial for a good user-experience.

One could resolve `ILocalizationManager` as a

[2018-01-16 15:29] Y2zz opened #2900 "Add support for machine.specifications (BDD) testing framework"
Use machine.specifications more elegant test behavior, so that the test code clearer

[2018-01-16 15:51] andmattia opened #2901 "Extend multi tenant with custom URL"
In a multi tenancy env is a good option to use a customer url.

ES base site www.tenantbase.com
cust1.tenantbase.com
cust2.tenantbase.com -> app.cusomerurl.com

a simple option is use a TXT on Customer DNS but some customer can ask to not redirect to your url.

[2018-01-16 19:14] natiki commented on #2895
@ktngoykalolo I did not drop in the binaries ;-). I have converted Webforms by includiting the necessary code ;-)

[2018-01-16 19:17] natiki commented on #2895
@ismcagdas

That is already what I am doing though?

[code]
and then my job class descending from that:
[code]

[2018-01-16 19:20] MohammedAl-Qaisi opened #2902 "Assembly reference"
Dears,
This what I get trying to "Update-Package" as first step

`Could not load file or assembly 'Castle.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

![castel core reference](https://user-images.githubusercontent.com/279402

[2018-01-16 19:24] ismcagdas commented on #2900
@Y2zz let us check this.

[2018-01-16 19:26] ismcagdas commented on #2901
@andmattia what about a custom ITenantResolveContributor implementation similar to https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/MultiTenancy/DomainTenantResolveContributor.cs ?

[2018-01-16 19:29] ismcagdas commented on #2846
@xiaochong44 is it possible for you to send your project to us via email ? You can use info[@]aspnetzero.com

[2018-01-16 19:36] ismcagdas commented on #2883
@wuball then you can replate IEmailSender's implementation with https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Net/Mail/NullEmailSender.cs.
You can do something like this in your core module's PreInitialize method.
`Configuration.ReplaceService<IEmailSender, NullEmailSender>(DependencyLifeStyle.Transient);`

[2018-01-16 19:36] #2883 closed

[2018-01-16 20:34] natiki commented on #2902
@MohammedAl-Qaisi Does this happen after you have done a Clean Build as well? Normally these kinds of issues are easily dealt with by emptying out your bin folder and then doing a full build.

It would also be helpful if you included how you constructed your project in the first place. Was it from one of the downloadable templates?

[2018-01-16 21:19] natiki commented on #2030
@papyr This is definitely not the case. I still maintain that providing scaffolding support by the framework is not where time should be spent. Because the framework is so flexible catering for its potential using T4 is a complex undertaking and ultimately not going to benefit you in the long term. The reason for this is simple: **How you implement things in your application is up to you and canno

[2018-01-16 21:25] natiki commented on #2902
Which template? And .NET or .NET Core?

[2018-01-16 21:27] MohammedAl-Qaisi commented on #2902
.NET

[2018-01-16 22:13] natiki commented on #2902
.MVC, Angular?, EF, NHibernate? We need the full details.

[2018-01-16 22:18] MohammedAl-Qaisi commented on #2902
Angular, EF

[2018-01-16 22:23] natiki commented on #2895
@ismcagdas some more permutations:

[code]

[code]

[code]

[2018-01-16 23:42] peeranon commented on #1294
In production I'll be using redis with credential, so at UseRedis -> Configuration initialization, when I'm trying to set connectionString formatted like password@host:post i'd get "No end points specified" exception.
and it doesn't support the following format too:
redis://password@host:port

[2018-01-17 01:58] colinin opened #2904 "How do I enable the custom IAuditingStore feature?"
I implemented the IAuditingStore interface, but how should I register in an application?
I flipped the Module-Zero and the source code, and the simple log storage system was registered after the Module was started, but I couldn't do that.

    public class AuditingStore : IAuditingStore
    {
        private readonly IRepository<AuditLog, long> _auditLogRepository;

        /// <summary>
        /

[2018-01-17 02:04] acjh commented on #2904
[code]

[2018-01-17 02:13] colinin commented on #2904
@acjh Thank you very much. Your answer is great. I have solved my problem.

 public class ServersCoreModule : AbpModule
    {
        public override void PreInitialize()
        {
            Configuration.Auditing.IsEnabledForAnonymousUsers = true;
            Configuration.ReplaceService(typeof(IAuditingStore), () => {
                IocManager.RegisterIfNot<IAuditingStore, AuditingStore>(Depe

[2018-01-17 02:30] natiki commented on #2895
I managed to solve this. Ultimately I needed to add a module to make sure all my Job classes got registered. I then also needed to make sure that I used AbpHangfireModule together with the afore mentioned module as ABP provides the necessary Activator smarts to Hangfire to make IoC work.

[2018-01-17 02:30] #2895 closed

[2018-01-17 02:33] #2904 closed

[2018-01-17 02:54] natiki opened #2905 "Plugging into validation framework outside of a controller etc...."
Hi,

- ABP 3.3.0
- Webforms .NET 4.61
- I have read [validating DTO's](https://aspnetboilerplate.com/Pages/Documents/Validating-Data-Transfer-Objects)
- I am not using the ABP IBackgroundJobManager or BackgroundJob<> but am natively using Hangfire to do things (see also : #2895):

[code]

How should I restructure things so that MyInputDto is automatically validated when ExecuteJob() is called?

[2018-01-17 02:54] maliming opened #2906 "About EF Core Global Query Filter problem"
hi @hikalkan

EF core may also need to wait for some time to fix this problem #2735 .
Is it possible to use other libraries to temporarily solve the EF filter problem?
Or how ABP can avoid this problem?

like:[zzzprojects/EntityFramework-Plus#query-filter](https://github.com/zzzprojects/EntityFramework-Plus#query-filter)

[2018-01-17 03:16] acjh commented on #2902
Answered in this question:
https://stackoverflow.com/questions/48179819/asp-net-boilerplate-mvc-5-x-template-fails-to-start

[2018-01-17 03:45] acjh commented on #2905
You can register the `ValidationInterceptor` for your service similar to:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a6f55b72bff6ed4de1fa63209686356fc38b5e6a/src/Abp/Runtime/Validation/Interception/ValidationInterceptorRegistrar.cs#L11-L22

[2018-01-17 04:12] pedoc opened #2907 "custom JsonpMediaTypeFormatter is not working"
* abp v3.3.
* .Net Framework 4.6.2.
* Steps needed to reproduce the problem.

i installed package `JsonpMediaTypeFormatter`([WebApiContrib.Formatting.Jsonp](https://github.com/WebApiContrib/WebApiContrib.Formatting.Jsonp)) in  WebApi project,and rewrite `WebApiModule` `Initialize` method：

    public override void Initialize()
    {
         var httpConfiguration = IocManager.Resolve<IAbpWebApiCon

[2018-01-17 04:52] JishaBejoy commented on #2896
Using  .Net Framework with angular boilerplate ,  trying the form posting  from an angular directive
using the following code.
   <form name="myForm" action="https://secure.paylinedatagateway.com/api/v2/three-step/2e054044"
https://secure.paylinedatagateway.com/api/v2/three-step/7i286f28
" method="post">
                <div class="modal-body">
                    <table>
                        <

[2018-01-17 05:00] acjh commented on #2896
Please format code like this:
<pre>
[code]
</pre>

[2018-01-17 05:13] pedoc commented on #2907
UPDATE:

when move `InitializeFormatters` call to `PostInitialize`,it's work for standard webapi(inherited from `ApiController`),but not work for dynamic application service

[2018-01-17 05:14] ismcagdas commented on #2896
@JishaBejoy you can use DisableAbpAntiForgeryTokenValidation attribute on your action.

[2018-01-17 05:16] ismcagdas commented on #2907
@pedoc can you share your PostInitialize method ?

[2018-01-17 05:26] pedoc commented on #2907
@ismcagdas hi,thanks for reply, code is:
[code]

[2018-01-17 05:29] acjh commented on #2907
You may need to use an `ActionFilterAttribute` for dynamic Web API: https://stackoverflow.com/questions/9421312/jsonp-with-asp-net-web-api/18206518#18206518

[2018-01-17 05:34] ismcagdas commented on #2906
@maliming have you tried this workaround https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2735#issuecomment-347151102 ?

[2018-01-17 05:35] ismcagdas commented on #2895
Thanks for sharing your solution @natiki

[2018-01-17 05:41] pedoc commented on #2907
@acjh hi,this is an option, but I do not think it is the best way

[2018-01-17 05:44] pedoc commented on #2907
after testing, I think this should not be a problem abp framework.

[2018-01-17 05:47] ismcagdas commented on #2896
@JishaBejoy yes, probably there is a problem when redirecting back from the payment gateway because DisableAbpAntiForgeryTokenValidation doesn't any parameters, it just ignores validation of anti forgery token.

[2018-01-17 05:48] JishaBejoy commented on #2896
Tried  the same process from .net framework without boilerplate , it is working fine

[2018-01-17 06:03] acjh commented on #2907
It's the *correct* way for dynamic Web API.

[2018-01-17 06:06] acjh commented on #2896
Can you show your method signature?

[2018-01-17 06:11] #2907 closed

[2018-01-17 06:50] #2708 closed

[2018-01-17 06:50] ismcagdas commented on #2708
It seems like it works as expected.

[2018-01-17 06:52] ismcagdas commented on #2741
I think it is better to work on this issue together with https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2745. So, moving to v3.5.

[2018-01-17 07:16] ismcagdas commented on #2670
It seems like Microsoft.AspNet.OData  nuget package still depends on Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0 && < 2.0.0). Moving to v3.5 for now.

[2018-01-17 07:57] maliming commented on #2906
@ismcagdas
it work,thank you very much!

[2018-01-17 07:57] #2906 closed

[2018-01-17 08:22] Juslwk opened #2908 "OpenId unauthorized_client issue"
* Your Abp package version. ANZ 5.0.5
* Your base framework: .Net Core.

* Steps needed to reproduce the problem.
1.) Configure open id in appsettings.json:
[code]
2.) run solution
3.) click on login with open id
4.) error shown, unauthorized_client

Thank you.

[2018-01-17 08:33] acjh commented on #2908
Please open an issue in https://github.com/aspnetzero/aspnet-zero-core

[2018-01-17 08:35] Juslwk commented on #2908
@acjh my license have expired few days ago and my company have not renewed it, so I do not have access to it...

[2018-01-17 08:48] andmattia commented on #2901
@ismcagdas yes I need to customize the tennat resolve but how can I susbsitute it globaly?

[2018-01-17 09:01] acjh commented on #2901
You don't need to substitute/replace it. Just add it in the `PreInitialize` method of your module:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bee3127800894f60a43b72f739eaf0fe5125e331/src/Abp.AspNetCore/AspNetCore/AbpAspNetCoreModule.cs#L38

[2018-01-17 09:06] rmsohaila commented on #2860
Bingo, working now. Thanks.

[2018-01-17 09:07] acjh commented on #2908
The [demo](https://demo.identityserver.io)'s "client" does not have the required [`openid`](https://auth0.com/docs/scopes/current#openid-connect-scopes) scope. Try "server.hybrid" or "server.code".

[2018-01-17 09:07] KennyEng12 opened #2909 "DbUpdateConcurrencyException in custom Manager class."
Hi, I'm using MVC5AJ1.

I'm trying to catch DbUpdateConcurrencyException but I've got an error:

The reason is because of there is no EntityFramework.dll in .Core project.
Therefore, I intend to move the method to custom repository since this method is use to get and update data from database.

My question is is it a good practice or is there another way of doing it?

Thanks.

[2018-01-17 09:18] wzengguang opened #2910 ".net core JWT Bearer Authentication"
Hello:
  I see document in .netcore from 1.0 to 2,0  about JWT Bearer Authentication.
[https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x](url)
I modify AbpCoreAngular corresponding code  by this document , then the application work well.

[2018-01-17 09:24] acjh commented on #2909
You can catch [`AbpDbConcurrencyException`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/da0880a93d11e9f144d0f9f56b1492578ab9c3a3/src/Abp/Domain/Uow/AbpDbConcurrencyException.cs) in your Manager if you do this:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/6eccadb5d454f8f3d26bbd330f0d1ffd0455cbd6/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L194-L22

[2018-01-17 09:27] acjh commented on #2910
[aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template) already does that.

[2018-01-17 09:28] KennyEng12 commented on #2909
Thanks for the quick reply @acjh.

But I still can't use AbpDbConcurrencyException. Is it because of the version of Abp?

Thanks.

[2018-01-17 09:33] andmattia commented on #2901
@acjh exact I try to say... thks for your clarification.

I try and share the result

[2018-01-17 09:38] acjh commented on #2909
Which version of ABP are you using?

[2018-01-17 09:39] KennyEng12 commented on #2909
1.5.0 :)

[2018-01-17 09:45] Juslwk commented on #2908
@acjh i tried using server.hybrid and server.code, but still doesn't work and have the same error message, maybe I am doing it wrongly and have the wrong concept?? Is IdentityServer4 an OpenId Server?? Or is Abp configured to connect to certain types of OpenId server only?
Now I am testing out Abp's OpenId server connection on demo servers, then I will work on building an OpenId Server for my user

[2018-01-17 09:49] acjh commented on #2909
Yeah, that's only available in 2.0.0+. MVC5AJ1 is compatible with ABP 2.3.0/3.3.0.

But if you don't want the other improvements, you can just follow a similar pattern.
Define a `MyDbConcurrencyException` class in **.Core** project and throw that instead.

[2018-01-17 09:52] Juslwk commented on #2908
I have registered to Auth0.com to test Abp's OpenId connection, but still doesnt work. After setting some configurations, I managed to log in using Auth0. However, after that it just redirects me back to the aspnetzero main page without doing anything.

[2018-01-17 09:55] acjh commented on #2908
ASP.NET Zero 5.0.5 already has [Identity Server 4 (OpenID Connect) Integration](https://www.aspnetzero.com/Documents/Development-Guide-Core#identity-server-4-integration).

[2018-01-17 10:03] Juslwk commented on #2908
@acjh yes that is the final objective, however I still can't get the first step to work, which is to connect my existing app to an OpenId Connect server. Once that step is complete, I will use ANZ to host my own OpenId Connect server, then I will get my existing apps to connect to my own OpenId Connect server.

[2018-01-17 10:06] KennyEng12 commented on #2909
Ok thank you.

[2018-01-17 10:07] KennyEng12 commented on #2909
Can I do it by custom repo?

[2018-01-17 10:09] #2910 closed

[2018-01-17 10:56] ismcagdas opened #2911 "Implement ApplicationPath for ASP.NET Core"
ApplicationPath property of AbpRazorPage returns '/' at the moment. It should return base path for the running website just like it does for MVC 5.x.

[2018-01-17 10:57] #2911 closed

[2018-01-17 18:41] #2902 closed

[2018-01-18 01:37] Y2zz commented on #2900
I tried to reimplement AbpIntegratedTestBase

[code]

[2018-01-18 03:17] xiaochong44 commented on #2846
@ismcagdas  I send full code to info[@]aspnetzero.com. but 您的邮件被收件人（info@aspnetzero.com）所在服务商判为垃圾邮件，对方不予接收。
Because this error,now i use redis cache.

[2018-01-18 04:24] Juslwk commented on #2908
I tried Auth0.com again, with some different settings. This time it seems to have navigated to the correct callback url. But there is some error:

[2018-01-18 05:30] ismcagdas commented on #2908
@Juslwk I think you need to use a certificate but it is not implemented in AspNet Zero. You need to manually configure it. I'm not sure how it is done.

[2018-01-18 07:02] Juslwk commented on #2908
hello @ismcagdas , what would be the reason to believe it is a certificate issue? do you have any links that can point me in the right direction? thank you

[2018-01-18 07:16] Trojaner25 opened #2914 "Service 'Abp.Domain.Repositories.IRepository[...] not registered"
I have made a service called "BeaconsAppService" with a "Beacon" entity in the `XXXXApplicationModule`-project:

Entity:
[code]

Service:
[code]
When I try to call the GetAll() from dynamic API with swagger (/api/services/app/Beacons/GetAll) I get the following exception, while GetAll() does not get called at all:

[code]

So it seems like DI can not resolve `IRepository<Beacon, GUID>`.

I'm using

[2018-01-18 07:22] acjh commented on #2914
Duplicate of #2548

[2018-01-18 07:22] #2914 closed

[2018-01-18 07:22] Trojaner25 commented on #2914
Thanks, I searched for the issue but did not find anything similar.
Solution at #2548 solved it.

[2018-01-18 11:04] ismcagdas commented on #2908
@Juslwk I faced a similar problem with Identity server 4 before. SecurityTokenInvalidSignatureException is also shows this.

Do you want to use auth0 as an OpenId connect server ?

[2018-01-18 12:12] ismcagdas commented on #2846
@xiaochong44 I haven't received the project. can you send using a different email ?

[2018-01-18 14:39] xiaochong44 commented on #2846
@ismcagdas
please receive email. thanks

[2018-01-18 15:45] bufferz opened #2915 "ABP orm"
is is possible to use abp framework with other orms than hiber and EF ?

[2018-01-18 15:58] acjh commented on #2915
Related: #895

It's *possible* but not supported.

[2018-01-19 03:04] Juslwk commented on #2908
@ismcagdas I plan to use ANZ as OpenId connect server in future, but now I'm trying to get one part to work at a time. So I will use auth0 as server first, once my app can connect to it, I will replace auth0 with ANZ OpenId connect server

[2018-01-19 05:48] ismcagdas commented on #2908
@Juslwk then you will use Identity server in AspNet Zero in the future. As far as I know it also requires a certificate. Does Auth0 have a documentation for OpenId connect ? Are you trying to implement this by following a documentation ?

[2018-01-19 08:19] dKaulig opened #2916 "Microsoft.AspNetCore.SignalR 1.0.0-preview1-27891 doesn't exists"
Hi,

on building the template roject i get this error:

* Your Abp package version.
**3.4.1**
* Your base framework: .Net Framework or .Net Core.
**.Net Core**
* Steps needed to reproduce the problem.
**Build project**

[2018-01-19 08:20] ismcagdas commented on #2916
duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2831

[2018-01-19 08:20] #2916 closed

[2018-01-19 08:52] Juslwk commented on #2908
@ismcagdas I followed the Auth0 quickstart, by adding a client, which is my application, configure the redirecturi, and get the client id and client secret. Then in my application I changed the appsettings to use the authority, client id and client secret.
What kind of certificate is that? I am unaware. Because I went through the IdentityServer4 Quickstart tutorials too, but they did not mention a

[2018-01-19 09:04] BHARAT703 opened #2917 "Issue with JWT token and Identity server 4"
Hi,
I have integrated Identity server 4 in my ASP.NET Boilerplate project.

I am getting bearer token and the console app for testing identity server is also working fine. (i found this console app code from document https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server#test )

Now, accessing API from Angular App is not working. I am stucked here from last 2 days.

I looked at the log

[2018-01-19 09:10] acjh commented on #2917
Resolved in this question:
https://stackoverflow.com/questions/48243612/asp-net-boilerplate-identityserver#answer-48284282

[2018-01-19 09:23] KennyEng12 opened #2918 "[Question] Domain Manager Design"
Hi, I'm using MVC5AJ1. Abp Version 1.5.0.

I've a question about the design of Domain Manager.
I've 2 AppServices and some common methods being used by these 2 AppServices. Therefore, I created a Domain Manager to handle the common methods.

But the problem is the common methods that I'm trying to implement in Domain Manager are returned as DTO object, which can't be used in Domain Manager.

For e

[2018-01-19 10:25] BHARAT703 commented on #2917
Hi @acjh,

I am still struggling with this.
I have updated my code as per the answer in SO.

Now, if I move client grant type to "password" as we have in SO answer, I am getting this error.
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2889

and if I stay with my current grant type i.e. client_credentials, I am getting **Failed to validate the token**
error.

don't know what to cha

[2018-01-19 11:30] ismcagdas commented on #2918
@KennyEng12 sure this is a good idea if you cannot return an entity/aggregate.

[2018-01-19 11:33] #2917 closed

[2018-01-19 12:56] nguyendnhat commented on #2463
@natiki how you can fix this error?
I run in Visual Studio it is ok, but I run it at server (2012 R2) it have same error.
Please help me, thanks you

[2018-01-20 08:40] Jamlee opened #2919 "1.0.0-preview1-27891 version is nout found"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bfa24e75a79c39bfc82dbc37e897a4e412dccd06/src/Abp.AspNetCore.SignalR/Abp.AspNetCore.SignalR.csproj#L34-L36

on nuget.org:
https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR/

[2018-01-20 10:46] ismcagdas commented on #2919
Duplicate of #2831

[2018-01-20 10:46] #2919 closed

[2018-01-20 18:50] dejancg opened #2920 "Unable to update multiple entities (parents with children)"
Please see: https://stackoverflow.com/questions/48359363/ef-core-adding-updating-entity-and-adding-updating-removing-child-entities-in for steps needed to reproduce this.

I am not sure if this is a bug in EF itself or something caused by the way ABP handles units of work.

The ABP version I'm using is should be 3.0.0 (it says so under Dependencies)

[2018-01-21 05:00] sdly602 opened #2921 "Repository Problem"
Hi, I'm using ASP.NET Core AJ5. Abp Version 3.3.0. EntityFrameWorkCore.SqlServer 2.0.1
I'm using a repository (CarRepository) to get all the cars with paging, the repository inherit from EfCoreRepositoryBase. but ,throw a SqlServerException. I got the SQL statement.
      "SELECT [c].[Id], [c].[BrandModel], [c].[CreationTime], [c].[CreatorUserId], [c].[DeleterUserId], [c].[DeletionTime], [c].[IsDe

[2018-01-21 05:30] sdly602 commented on #2921
The entity type "Car" has a property "Dimension", "Dimension" is a valueObject type, used "builder.OwnsOne(x => x.Dimension)" in the car entity type Configuration file. if deleted property "Dimension"  ,then the problem  be resove.

[2018-01-21 08:58] kgamalseif opened #2922 "More than one application module dependency problem"
Hi,

I am trying to make my WebModule(TanfethWebModule) depends on two application modules(Fis, Gov) each has its own data and core module as below:
)
![image](https://user-images.githubusercontent.com/25977450/35192102-2e2781d6-fe9c-11e7-8214-db80c6ad7ce9.png)

Then, at the DynamicApiControllerBuilder, I am building the app services for each application module as below:
![image](https://user-imag

[2018-01-21 10:30] dejancg commented on #2920
Sorry guys, turns out it was a problem in EF-related code, nothing to do with ABP. Thanks anyway!

[2018-01-21 10:30] #2920 closed

[2018-01-21 10:34] kgamalseif commented on #2922
The Issue was solved.

I was using the same namespace and appServices at both application modules, when changed the namespaces it worked.

Thanks.

[2018-01-21 10:34] #2922 closed

[2018-01-21 11:23] ismcagdas commented on #2921
@sdly602 can you also share Car entity and Dmiension ValueObject ? Ideally ValueObjects shouldn't have Ids.

[2018-01-21 12:10] sdly602 commented on #2921
Maybe it's a bug of EF Core.

[2018-01-21 19:36] ismcagdas commented on #2921
@sdly602 we can tyr to help if you cannot fix this problem.

[2018-01-21 21:19] dejancg opened #2924 "[Question] Is it possible to use ABP 3.4.x with old AngularJS template?"
I've worked with AngularJS, but not with Angular 2+. I'm curious if it would be possible to use the latest ABP back-end in conjuction with the older AngularJS template (with integrated app services). This could be helpful with some smaller projects with a short deadline as it requires no learning curve.

[2018-01-22 01:43] sdly602 commented on #2921
Entity Car:
   public class Car:FullAuditedAggregateRoot
    {
        public Dimension Dimension { get; set; }
    }
ValueObject Dimension:
    public class Dimension:ValueObject<Dimension>
    {
        public long Width { get; set; }
        public long Height { get; set; }
        public long Length { get; set; }
    }
DbContext:
   public class DemoDbContext : AbpZeroDbContext<Tenant, Role, U

[2018-01-22 01:57] KennyEng12 commented on #2918
Hi @ismcagdas,
Sorry for the late reply but thank you.

[2018-01-22 01:57] #2918 closed

[2018-01-22 02:30] acjh commented on #2924
Yes. v3.4.0 has not been released, but [aspnetboilerplate/module-zero-template](https://github.com/aspnetboilerplate/module-zero-template) uses v3.3.0: [*.Core.csproj](https://github.com/aspnetboilerplate/module-zero-template/blob/41a139f75d1d5b76a0a7d66d69c078ec08e00455/src/AbpCompanyName.AbpProjectName.Core/AbpCompanyName.AbpProjectName.Core.csproj#L38-L40)

[2018-01-22 02:42] natiki commented on #2905
Perfect. Thanks.

[2018-01-22 02:42] #2905 closed

[2018-01-22 05:02] #2924 closed

[2018-01-22 07:46] Omital opened #2925 "new template has so many warning"
new downloaded template ASP.NET MVC 5.x +AngularJs+EntityFramework has so many warning in error list. visual studio version is 15.4.0
Severity	Code	Description	Project	File	Line	Suppression State
Warning		Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.

[2018-01-22 08:04] Trojaner25 opened #2926 "Castle.MicroKernel.ComponentNotFoundException: "No component for supporting the service Abp.WebApi.Configuration.IAbpWebApiConfiguration was found"
I'm trying to change the configuration of the AbpWebApi module so it does not wrap dynamic API by default, but I get the following exception:

`Castle.MicroKernel.ComponentNotFoundException: "No component for supporting the service Abp.WebApi.Configuration.IAbpWebApiConfiguration was found"`

[code]
It happens when I try to access the AbpWebApi() module, like here for example:
[code]
I'm using ABP

[2018-01-22 08:14] Trojaner25 commented on #2926
To register it manually, what is the implementation class for `IAbpWebApiConfiguration`?

[2018-01-22 08:15] Trojaner25 commented on #2926
What is the implementation class of ´IAbpWebConfiguration`?

[2018-01-22 08:19] Trojaner25 commented on #2926
I tried the following to manually register it:
[code]

However I still get the same error message

[2018-01-22 08:33] Trojaner25 commented on #2926
I get a warning on NuGet that the package "Abp.Web.Api 3.3.0" is not available for the target platform ".NETCoreApp 2.0" and the ".NETFramework,Version=v4.6.1" version of it has been installed instead

[2018-01-22 09:59] Juslwk commented on #2908
An update, I downloaded the IdentityServer4 Quickstart guide, and hosted my own identity server to test. It managed to go through the flow until ExternalLoginCallback method on the ANZ application. The
`var externalLoginInfo = await _signInManager.GetExternalLoginInfoAsync();` always returns null.
Any ideas why?

[2018-01-22 10:58] hikalkan commented on #2451
Thanks @acjh,

So, to reproduce it:

* Create an abstract Controller class, like ``MyBaseController``, add an action inside it.
* Derive a new controller, ``MyController``, inherit from ``MyBaseController``.
* Add [DontWrapResult] to ``MyController`` (class level).

@alirizaadiyahsi can you test like that. We should fix this problem.

[2018-01-22 11:02] #2386 closed

[2018-01-22 11:03] #2520 closed

[2018-01-22 11:03] ismcagdas commented on #2926
@Trojaner25 first, you shouldn't reference Abp.Web.Api nuget package to your project if it is ASP.NET Core.
You can configure result wrapping like this in the PreInitialize method of your web module.

Configuration.Modules.AbpAspNetCore().DefaultWrapResultAttribute
[code]

[2018-01-22 11:03] #2926 closed

[2018-01-22 11:04] Trojaner25 commented on #2926
Thanks

[2018-01-22 11:19] ismcagdas commented on #2925
@Omital we will check this. But as I can see the warning about MultiTenantFactAttribute is false because we use it according to multi tenancy enabled/disabled switch.

[2018-01-22 11:28] #2658 closed

[2018-01-22 11:49] alirizaadiyahsi commented on #2451
Here is the my test code

[code]

And result is as we expected.

[2018-01-22 11:50] ismcagdas commented on #66
@smockgithub can't you override below method in NSWAG's generated client ?

![image](https://user-images.githubusercontent.com/4133525/35219412-917e7356-ff83-11e7-9d0b-01cf9d63faca.png)

[2018-01-22 12:26] acjh commented on #2451
@alirizaadiyahsi That's the workaround.

Like #2253, the expected usage is to not `override`. The `Route` attribute in that test code is unnecessary.

[2018-01-22 13:24] hikalkan commented on #2900
We haven't used that framework before. But I think there is no problem to use it with ABP. So, anyone can use it. Don't know what to do to simplify it. If anyone know and create an integration package as a PR, we accept the PR.

[2018-01-22 13:58] alirizaadiyahsi commented on #2921
Hi @sdly602 ,

This is an awesome feature to map objects, hierarchically. With this feature, you can get Dimension props like using `car.Dimension.Weight`. So second Id is using to map `Dimension` to related `Car`.

What exceptions are you getting? Could you share exception message details?

[2018-01-22 14:06] alirizaadiyahsi commented on #2921
@sdly602 what errors are you getting? Could you share exception message details?

[2018-01-22 14:20] #2915 closed

[2018-01-23 01:32] sdly602 commented on #2921
Errors in the log.
Error Number:8156,State:1,Class:16
ERROR 2018-01-23 08:50:49,138 [17   ] Mvc.ExceptionHandling.AbpExceptionFilter - **多次为 't' 指定了列 'Id'**。
System.Data.SqlClient.SqlException (0x80131904): **多次为 't' 指定了列 'Id'**。
   at System.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__108_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2.InnerInvo

[2018-01-23 02:52] Y2zz commented on #2900
Because MSpec uses delegates, you need to change the method in AbpIntegratedTestBase to static

[2018-01-23 03:14] thiagoburgo opened #2939 "Customize Dynamic Api Controllers in aspnetcore"
Hi,

In Abp with .NETFramework I can control the HttpVerb convention to my dynamic api methods using the code:

[code]
where `WebApiHttpVerbResolver.GetHttpVerbWithClinAppsConventions(builder.Method);` decides the correct HttpVerb according with my action name conventions.  I did'nt found information (in documentation) how to do this with aspnetcore configuration.
Has a way to do it?

Thanks,

[2018-01-23 05:08] acjh commented on #2939
Something like this:

[code]

[2018-01-23 06:00] AtwindYu opened #2940 "How to add asp.net core mvc routes from modules"
[code]

[2018-01-23 06:10] hikalkan commented on #2900
Changing it to static breaks test isolation. As a basic problem, you create AbpBootstrapper in static ctor (which only works once) but disposing it for every test. So, it will throw exceptions after 1st test even there is no conflicts between tests.

IntegratedTestBase class best works with xunit.

[2018-01-23 06:30] Y2zz commented on #2900
This is my modification

[code]

[2018-01-23 06:36] hikalkan commented on #2940
Hi,

As you can see, we haven't provided an abstraction or system for it. Startup templates come with the route included in Startup.cs file as regular:

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Startup/Startup.cs#L89-L98

But it's good idea to provide such a mechanism, so modules can contribute to the route. Fo

[2018-01-23 06:43] Y2zz commented on #2900
example

[code]

[2018-01-23 06:49] Y2zz commented on #2900
MSpec is called a "context/specification" test framework because of the "grammar" that is used in describing and coding the tests or "specs". That grammar reads roughly like this

You should be able to see the components of the traditional Arrange-Act-Assert model in there. To support readability and remove as much "noise" as possible, MSpec eschews the traditional attribute-on-method model of tes

[2018-01-23 06:53] hikalkan commented on #2908
@Juslwk it can be related to auth schema names and auth middleware configuration. I suggest you check them.

[2018-01-23 07:23] alirizaadiyahsi commented on #2921
Add class

[code]

and modify `CarDto`

[code]

I tested all scenerios(Get, GetAll, Create, Update and Delete) with no errors.

### Explanation

EF is tracking `owned types` like two seperate entity. The second ID that you see in query is actually `FK` for `Dimension` entity. But this won't throw exception for SQL queries.

The actual cause of the error is mapping input to entity. If you define th

[2018-01-23 07:37] sdly602 commented on #2921
Thanks !

[2018-01-23 07:37] #2921 closed

[2018-01-23 08:55] hikalkan opened #2941 "Delete html documents"
Since markdown files are used.

[2018-01-23 14:06] ismcagdas commented on #2755
fixed via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2843

[2018-01-23 14:06] #2755 closed

[2018-01-23 14:12] #2941 closed

[2018-01-23 17:14] thiagoburgo commented on #2939
Hi @acjh, thanks for quick response,

But seems the Action in `ConfigureControllerModel` is not called by Abp, I put log inside and breakpoints in VS. But the code never reach. I need put this configuration in a specific place? (I tested Initialize and PreInitialize of WebApi project Module).

Thanks,

[2018-01-24 01:28] Xeevis commented on #2940
It's possible to add into routing table using `[Route]` & `[Area]` attributes on controllers and actions. Works well for modules too.

If you don't want to define route for every single controller you can define route on base controller from which you inherit all other plugin controllers.

    [Route("PlugIns/[controller]/[action]")]
    public class PluginController : AbpController
    {

[2018-01-24 01:37] briandrms opened #2948 "AbpUserManager - Protected 'admin' user hard coded in framework."
AbpUserBase.AdminUserName is defined as a constant causing a business decision to be made within the framework in both Abp.Zero and Abp.ZeroCore implementations of AbpUserManager that I feel should be left up to the application consuming the framework to implement according to their own needs.

AbpUserBase.AdminUserName is referenced in the following projects:

- Abp.Zero
- Abp.ZeroCore
- Abp.Zero

[2018-01-24 01:59] ycc3000 opened #2949 "abp.message has no button"
Dear,
I set _abp.libs.sweetalert.config.info.buttons = ["test"]_ in my js, when I call abp.message.info("balabala"), the message window has no button :(

* Your Abp package version.
V3.3
* Your base framework: .Net Framework or .Net Core.
.Net Framework
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.
1. add site.js in my solution.
2. add script:
if(abp.li

[2018-01-24 04:27] ebicoglu commented on #2949
hi,

if you want to change the localization of button texts you can do it in localization files, here's how to do it:
https://aspnetboilerplate.com/Pages/Documents/Localization

if you have only 1 button then do not use array for button definition, like below;
abp.libs.sweetAlert.config.info.buttons = "alper"
![image](https://user-images.githubusercontent.com/9526587/35314513-c0d8f432-00d7-11e8-96

[2018-01-24 04:27] #2949 closed

[2018-01-24 08:10] AtwindYu commented on #2940
Great! It's working. Thank you very much.

[2018-01-24 09:43] hikalkan commented on #2948
I also don't like to define a constant admin name, however it simplifies things in pratical. Let us think on that. @ismcagdas can you also check this?

[2018-01-24 11:24] jamesatgithub commented on #1256
@hikalkan I tried above solution and override below method in my filter, but I can see the default filter is still used in the logging when the AbpAuthorizationException been threw so my custom filter method seems not get chance to run. (this is a project with Abp 2.2.2). Anything changed since the above post?

Abp.Authorization.AbpAuthorizationException:
...
at Abp.Web.Mvc.Authorization.AbpMvcAut

[2018-01-24 11:48] beriniwlew commented on #2948
If it can be set up to where I don't have to use the admin name, I would be so happy.

[2018-01-24 14:10] okezieokpara opened #2953 "React integration"
I have been using this framework for a while and it's good.
However, I wish there was also a version for React, since most of us now use React instead of angular.
I can help contribute to that, if there are others to join me.
I have already built a React app for Abp framework before, so this will not take so long.

[2018-01-24 14:17] acjh commented on #2953
Related: #2804

[2018-01-24 14:30] ismcagdas commented on #1256
@jamesatgithub how do you use your custom filter ?

[2018-01-24 14:35] jamesatgithub commented on #1256
@ismcagdas just followed the step 3 in above comments from hikalkan

[2018-01-24 14:37] ismcagdas commented on #1256
@jamesatgithub sorry :). Can you try `GlobalFilters.Filters.Insert(0,IocManager.Resolve<YourMvcAuthorizeFilter>());` ?

[2018-01-25 02:38] jamesatgithub commented on #1256
@ismcagdas still not work, this is the method:

[code]

[2018-01-25 05:59] ismcagdas commented on #1256
@jamesatgithub what are the values in GlobalFilters.Filters after the line             `GlobalFilters.Filters.Remove(GlobalFilters.Filters.Single(f => f.Instance is AbpMvcAuthorizeFilter));` is executed ? Can you debug and see ?

[2018-01-25 06:12] jamesatgithub commented on #1256
@ismcagdas ok two issues found:
the number of filters didn't change before and after the Remove method called
after Add method called, my custom filter was the last one of filters instead of expected the first one

[2018-01-25 06:23] #2940 closed

[2018-01-25 09:08] chrsas commented on #2009
I can not do it in Core, GetStatusCode in AbpExceptionFilter is private.😭

[2018-01-25 11:05] mkchx opened #2956 "[Docker] Publishing the app in windows container app crashes"
Running the **dotnet publish -r win10-x64 -c Release**
after that I run the generated .exe file to see if everything is good but the app crashes.
**Log**
[code]

**Dockerfile**
[code]
What am I missing here?

**Edit:**
This project is generated using asp.net boilerplate .net core 2, jquery template,
I haven't made any modification to the project, just run the publish for the docker.

Thanks in adv

[2018-01-25 11:30] chrsas opened #2957 "How do i change AbpValidationException's default message?"
I want to change AbpValidationException's default message, what can I do please?
In my case using AbpValidationException.ValidationErrors is redundant.

[2018-01-25 12:57] fernandolguevara opened #2959 "Can Abp publish entity crud events through signalr or socket?"
Can Abp publish entity crud events through signalr or socket?

[2018-01-25 13:13] Klainer opened #2960 "[SOLVED] TransactionAbortedException - multiple request"
Hello. I´m traing to simulate  2 paralel requests on application controller action.
My application is running in two instaces (two app pools) locally.

I open IE, and CHROME and fire the same request form each.

Controller action:
[code]

My service: - I want to use distributed locking - we have 8 instacies of application in production enviroment with load balancer...

// For locking  I´m using th

[2018-01-25 16:34] #2960 closed

[2018-01-26 08:48] jamesatgithub commented on #1578
@hikalkan  what's the best place to run the code-based migration of EF (Core) in application startup (the dbcontext.Database.Migrate() method) with Abp core project? I just tried the Core template and see a Migrator project and wondering where should be the best place to add the code?

[2018-01-26 08:59] natiki commented on #2959
Not directly. But you can listen for them and then do that yourself.

[2018-01-26 13:30] maks232 opened #2961 "AspNetCore SignalR Package reference does not exist"
* Abp Package Version 3.4.1
* Base framework:
.Net Core.
* Exception message:
Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler	NU1102	Das Paket "Microsoft.AspNetCore.SignalR" der Version (>= 1.0.0-preview1-27891) wurde nicht gefunden.
  - 3 Version(en) gefunden in "nuget.org" [ Nächste Version: 1.0.0-alpha2-final ]
  - 0 Version(en) gefunden in Microsoft Visual Studio

[2018-01-26 13:41] hikalkan commented on #2804
continue from https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2953

[2018-01-26 13:41] #2804 closed

[2018-01-26 13:44] hikalkan commented on #2953
@okezieokpara

It's very appreciated if you can create a simple startup template like we did for angular. A few notes:

You can take this repository as a reference: https://github.com/aspnetboilerplate/module-zero-core-template

I actually expect that the server side of this template just should be reused without much modification. Because client and server is completely seperated.

For the client

[2018-01-26 13:48] acjh commented on #2961
Duplicate of #2831

[2018-01-26 13:48] #2961 closed

[2018-01-26 14:09] hikalkan opened #2962 "Extending Localization Sources example in the document should be changed to XmlEmbeddedFileLocalizationDictionaryProvider"
Because HttpContext.Current.Server.MapPath is not so useful example for asp.net core projects
See https://aspnetboilerplate.com/Pages/Documents/Localization#extending-localization-sources

[2018-01-26 14:09] hikalkan commented on #2957
It's defined in https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource/AbpWeb.xml

Localization source name is `AbpWeb` (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/AbpWebConsts.cs#L5)

You can override a localization text as described here: https://aspnetboilerplate.com/Pages/Documents/Localiza

[2018-01-26 14:34] AlexSenchenko commented on #2953
@okezieokpara  if you need assistance let me know, I can help too.

[2018-01-26 14:37] hikalkan commented on #1578
We don't prefer to run migrations on application startup. Because it may take long in a real application (it may require to create index, move data and so on) and may cause to a long wait or even to a timeout.
We prefer to use a command line tool for it, which is already available in the startup template.

However, if you really need, the best place should be Program.cs or Startup file. I think yo

[2018-01-26 15:24] chrsas commented on #2957
Thanks for the answer, but it's not what I want. I I want that when an ValidationException("abc") thown, the message recieved by the client is abc, and statuscode is 400, like UserFriendlyException's message but not as its statuscode.

[2018-01-26 16:57] cturner-nbme opened #2963 ".Net Core Angular API Proxy Generation"
We are migrating an old .Net app to Core and have run into an issue with the dynamic api proxy generation. Our front-end requests our api proxies using ~/AbpServiceProxies/GetAll?type=angular however since the move to Core that endpoint produces the error below. The default jquery returns just fine, but angular seems to no longer work.

Abp.AbpException: Could not find a proxy script generator wit

[2018-01-26 18:09] thiagoburgo commented on #2939
Hey @hikalkan,

Have you any idea about this problem?

Anyone else?

Thanks,

[2018-01-27 12:16] sseffa commented on #2670
+1

[2018-01-28 06:46] natiki opened #2967 "Making my domain service wrappers participate in Unit Of Work "automagically"...."
Hi,

- ABP 3.3

I have a set of domain services eg. `TpDboActivityStreamIndividualDomainService` that ultimately descend from `IDomainService` as follows:

[code]

Mostly the above `TpDboActivityStreamIndividualDomainService` gets called when in a service method etc. which means they are part of Unit Of Work. However they are also called from some Hangfire jobs directly (I am not using the ABP Han

[2018-01-28 07:06] acjh commented on #2967
From the documentation on [Conventional Unit Of Work Methods](https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#conventional-unit-of-work-methods):

[2018-01-28 09:35] hikalkan commented on #2957
Then you may want to replace IExceptionToErrorInfoConverter by your own implementation. See the default implementation: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Models/DefaultErrorInfoConverter.cs

[2018-01-28 09:40] hikalkan commented on #2963
Hi,

For AspNet Core, we haven't created an endpoint that creates Angular proxies. Instead, we are using nswag tool to generate proxies statically.
Startup template is configured to work like that.

[2018-01-28 09:45] hikalkan commented on #2939
When I check the code, it seems calling the cofigurer action: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Conventions/AbpAppServiceConvention.cs#L46

If you are sure then we can test it.

[2018-01-29 02:59] ycc3000 opened #2970 "abp.ajax.always cannot reached?"
Dear,
my abp.ajax.always cannot reached, did I make a mistake?
abp.ajax({ ....... })
        }).done(function (result) {
            abp.message.success("OK");
        }).always(function () {
            alert("always test");
        });

[2018-01-29 03:01] acjh commented on #2970
What's the error?

[2018-01-29 03:15] ycc3000 commented on #2970
Uncaught TypeError: Cannot read property 'then' of undefined
    at Object.<anonymous> (http://localhost:61754/Abp/Framework/scripts/libs/abp.sweet-alert.js:54:29)
    at Function.Deferred (http://localhost:61754/Scripts/jquery-1.12.4.min.js:2:29272)
    at showMessage (http://localhost:61754/Abp/Framework/scripts/libs/abp.sweet-alert.js:53:18)
    at Object.abp.message.success (http://localhost:6

[2018-01-29 03:22] acjh commented on #2970
Duplicate of aspnetboilerplate/module-zero-core-template#149

[2018-01-29 03:29] ycc3000 commented on #2970
Thank you very much :)

[2018-01-29 03:30] #2970 closed

[2018-01-29 05:49] ebicoglu commented on #2956
hi,

Seems like cannot get a config value from appsettings.json.
maybe below line throws exception
`bool.Parse(configuration["Authentication:JwtBearer:IsEnabled"])`

[2018-01-29 06:40] ismcagdas opened #2971 "Allow ignoring TimeZoneNotFoundException for retrieving windows timezones"

[2018-01-29 06:55] #2971 closed

[2018-01-29 09:25] cocosip opened #2972 "generate javascript proxy greg ferro"
* Abp version  3.2.4
* framework: .Net Framework 461

I have two controllers in different dll ,they have different route, but same area,and same method.
we call it   "A" (route:"admin/xxx") and "B"(route: "api/xxx"), in controller "A" has "RemoteService" attribute.
when in the '/api/AbpServiceProxies/GetAll' i saw, the javascript proxy of "A"  call the  "api/xxx".

[2018-01-29 10:36] natiki commented on #2967
Hey @acjh,

Sorry I missed that when I read the page (Not a deliberate RTFM :-)). However it is still not working for me. So I added the following to my PreInitialize:

[code]

I know it is getting hit setting a break point, but none of the variations work as I get the following:

![image](https://user-images.githubusercontent.com/4738140/35505971-e6e6a4c2-053b-11e8-8ec9-1fcfdde9b48c.png)

If I un

[2018-01-29 10:46] acjh commented on #2967
Try this:

[code]

[2018-01-29 11:51] natiki commented on #2967
I need to have all my domain class descendants participate so I tried:

[code]
[code]
Neither of which appears to do the trick?

[2018-01-29 11:55] hikalkan opened #2974 "Entity Change Set Improvements"
I have tested and see some potential improvements can be made:

1. When we create a new entity, original values and new values are same. I think original values should be all null. This will reduce disk usage. I also think a new property's old value can be null is conceptual true.
2. It's same for delete operation. New values can be all null instead of duplication.
3. OriginalValue naming can be O

[2018-01-29 12:43] hikalkan opened #2975 "Remove Abp.QuartzCore package since Quartz 3 has been released"
In Abp v3.4 release, it's being deprecated.

[2018-01-29 12:48] hikalkan opened #2976 "Upgrade nuget dependencies for v3.4.0 release"
- [ ] Quartz from 2.6.1 to 3.0.2.
- [ ] Mailkit from 1.22.0 to 2.0.1.
- [ ] Microsoft.AspNetCore.Mvc from 2.0.1 to 2.0.2.
- [ ] IdentityServer4 from 2.0.4 to 2.1.1.
- [ ] IdentityServer4.AspNetIdentity from 2.0.0 to 2.1.0
- [ ] Automapper from 6.2.1 to 6.2.2.
- [ ] RefactorThis.GraphDiff from 3.0.0 to 3.0.1.
- [ ] NHibernate from 5.0.1 to 5.0.3.
- [ ] mongocsharpdriver from 2.4.4 to 2.5.0.
- [ ] p

[2018-01-29 13:04] #2976 closed

[2018-01-29 13:52] hikalkan commented on #2940
@ebicoglu can you write a small info for "how to use it".

[2018-01-29 14:38] thiagoburgo commented on #2939
Hi,

I tested again, and I put a breakpoint in class `AbpAppServiceConvention`, wich code calls `AbpControllerAssemblySetting` class with a empty Action, instead my custom code. I call my code from PreInitialize in my module, is correct way?

Thanks,

[2018-01-29 14:40] acjh commented on #2974
Agreed with 1 and 2.

As for 3, `OriginalValue` is named after EF Core's [`PropertyEntry.OriginalValue`](https://docs.microsoft.com/pt-br/dotnet/api/microsoft.entityframeworkcore.changetracking.propertyentry.originalvalue?view=efcore-2.0) since it's commonly known.

[2018-01-29 15:21] cturner-nbme commented on #2963
Ok thanks for the response. Shouldn't be a problem, just another thing to change with the rest of the refactoring.

[2018-01-29 15:21] #2963 closed

[2018-01-29 15:55] acjh commented on #2939
It works in `PreInitialize` method of [`AbpProjectNameWebCoreModule`](https://github.com/aspnetboilerplate/module-zero-core-template/blob/a8134370dc22a64dc99a7f6f758044c7189c135b/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/AbpProjectNameWebCoreModule.cs#L53-L56):

![](https://user-images.githubusercontent.com/14091939/35519613-b462e6dc-054f-11e8-8f0f-14d3068fd1d3.png)

[2018-01-29 18:39] thiagoburgo commented on #2939
Hi @acjh and @hikalkan ,

I found the problem:

the http verb string **must be** upper cased, otherwise don't works.

[code]

Thanks,

[2018-01-29 18:40] #2939 closed

[2018-01-29 21:38] thiagoburgo opened #2979 "Register in Castle/Windsor as PerRequest lifestyle (aspnetcore)"
* Abp Version: v3.4.0
* Base framework: .Net Core.

I wanna register my object to be unique per request in aspnetcore, I register my object as follow:

[code]

But when I resolve two instances `IocManager.Instance.Resolve<IAgendaSessionContext>()` in same request, I received two differents instances.

Extra info:
When I register in this way `services.AddScoped<IAgendaSessionContext, AgendaSessionC

[2018-01-30 04:25] ryansix opened #2980 "Soft delete filter problem In ef core Performance/generates script"
Now i have a search function to query result fron sql server for paging . I declare an Entity named "Product" inherit from ISoftDelete ,  my service injection IRepository<Product,long> _productRepository ,as my requirement I write my code as follows：

`
         var query = _productRepository.GetAll()
              .WhereIf(input.ModelId.HasValue, u => u.ModelId == input.ModelId)
                .

[2018-01-30 04:30] ryansix commented on #2980
when a delete ISoftDelete from "Product",generates sql have change

[2018-01-30 05:41] ismcagdas commented on #2980
@ryansix which version of ABP do you use ? Can you also try this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2735#issuecomment-347151102 ?

[2018-01-30 06:15] ebicoglu commented on #2979
https://github.com/castleproject/Windsor/issues/120

https://github.com/volosoft/castle-windsor-ms-adapter

[2018-01-30 06:24] hikalkan commented on #2979
Hi,

Do not resolve scoped services via `IocManager.Instance.Resolve` because in this way you are directly resolving from the root container without a scope.

You have two options;

1. Resolve from HttpContext.RequestServices.GetService
2. Inject IServiceProvider into your class and use GetService method of it.

Both of this ways resolve a dependency from the **current scope**. Current scope means

[2018-01-30 06:26] ryansix commented on #2980
@ismcagdas  I use ABP 3.0.0

[2018-01-30 06:26] #2974 closed

[2018-01-30 06:27] hikalkan commented on #2974
Thank you @acjh :)

[2018-01-30 06:38] ismcagdas opened #2981 "Make GetStatusCode overridable in AbpExceptionFilter for ASP.NET Core"
Related issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2009 and related comment https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2009#issuecomment-360405045

[2018-01-30 06:38] ismcagdas commented on #2009
@chrsas we can do the same for AspNet Core. Here is the related issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2981

[2018-01-30 09:21] abhishekhbd opened #2982 "How to deploy ABP Angular 5 to IIS."
* Your Abp package version.
* Your base framework:  .Net Core.
* Exception message and stack trace if available: Getting 405 when click on login button.
* Steps needed to reproduce the problem: deploy the application to IIS place web.config file send in APB package. Login windows will open. Now when we click on login iis default 405 windows gets open.

### Stack Overflow

Please use Stack Overflow

[2018-01-30 10:33] KennyEng12 opened #2983 "[Question] DataTypeName of Notification"
Hi, I'm using MVC5AJ1.

1. I'm wondering how is DataTypeName is being inserted into AbpTenantNotifications table:
![image](https://user-images.githubusercontent.com/29649512/35561454-503cb57e-05eb-11e8-9b18-5efea8c6fcc1.png)

2. Why is there has some other information? Example: Version, Culture, etc... Can these data be removed?

3. Is there any features to create a new DataTypeName? Because I'm t

[2018-01-30 11:04] acjh commented on #2983
1. `DataTypeName` is set in [NotificationPublisher](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/80576e4f3b6ca8c6279a742b55f78268eae372d8/src/Abp/Notifications/NotificationPublisher.cs#L96).

2. The information is part of [AssemblyQualifiedName](https://msdn.microsoft.com/en-us/library/system.type.assemblyqualifiedname%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) and should not b

[2018-01-30 12:03] ogix opened #2984 "Allow to override primary key types of AbpUser, AbpRole, AbpTenant entities"
Now `AbpUserBase` derives from `FullAuditedEntity<long>` so it is not possible to change primary key to `int` for example. It was a headache when I was trying to integrate Abp framework to my existing project because it is not so easy to change type of primary key in the database.

Interestingly, `AbpRole` and `AbpTenant` derive from `FullAuditedEntity<int>`.

Are there any reasons for that?

* Yo

[2018-01-30 12:28] #2981 closed

[2018-01-30 12:28] yekalkan opened #2987 "AbpODataEntityController class should implement ITransientDependency by default"

[2018-01-30 12:34] hikalkan commented on #2984
Short answer: Defining PKs generic enforces us to make all related classes generic too (domain services, caches, session... etc.). We thought it's impratical and making some assumptions are acceptable to create a common code base.
For a longer answer, you can search Github issues since this was discussed a few times.

[2018-01-30 13:01] hikalkan commented on #2967
`typeof(TpDomainServiceBase<,,,>).IsAssignableFrom(type)` can not work since generic assignable comparison does not work like that.

Fortunately, ABP has a helper for that: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Reflection/ReflectionHelper.cs#L18
But I see it's internal :(
You can copy it for now.

[2018-01-30 15:59] thiagoburgo commented on #2979
Hi @hikalkan,

Thanks for information,

But for register what the correct way?  Via
[code]
or

`services.AddScoped<IAgendaSessionContext, AgendaSessionContext>()`

A suggestion is include documentation about this behavior (transform this issue in a documentation task), and explain integration between Windsor and Native MS DI.

[2018-01-30 20:43] olexandrman opened #2991 "Error during installing Abp.AspNetCore.SignalR from NuGet"
I have tried installing Abp.AspNetCore.SignalR from NuGet. But I got error. I saw the same issue there https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2831. I created NuGet.Config file in the folder that contains solution file .sln, but I continue getting error. Does exist other solution of my issue? Thanks.
![nugeterror](https://user-images.githubusercontent.com/17553412/35590247-e8

[2018-01-30 20:51] olexandrman opened #2992 "Warnings after installing packages from NuGet"
I use Asp Boilerplate with Asp Net Core 2. I want to use SignalR. In template are commented code for SignalR. It is list of dependencies that I need to install:

#if FEATURE_SIGNALR
using SPA.EzPay.Web.Owin;
using Abp.Owin;
using Microsoft.AspNet.SignalR;
using Microsoft.Owin.Cors;
using Owin;
using Owin.Security.AesDataProtectorProvider;
using Abp.Web.SignalR;
using Microsoft.AspNet.SignalR.Hubs;

[2018-01-30 21:40] Ivangrasp opened #2993 "Framework messages localization fallback"
* **Your Abp package version:** 2.3.0
* **Your base framework:** .Net Framework 4.6.2
* **Exception message and stack trace if available.** None

Localization works as expected in most cases but certain error messages keep showing in english. My app uses **en** and **es_MX** cultures. I created an XML file specific for es_MX and everything worked as expected; in fact, even before I created that fi

[2018-01-30 22:06] thiagoburgo commented on #2979
Hi again @hikalkan and @ebicoglu,

I did some tests and behavior wasn't as I expected, follows details:

* In my scenario I need:
1) Get information from request (via cookie or header), using a midleware, and save this information (`empresaId`) in `IAgendaSessionContext`:

[code]
2) `IAgendaSessionContext` must be unique per request, because user can change this information in next request. Theref

[2018-01-30 22:20] ogix commented on #2984
Ok, it makes sense. But on the other hand it is a bit weird that framework allows to specify primary key type for custom entities but not for User or Role. If you want to have Id as Guid for all entities - it is not possible. For some it can be a big drawback.

If you think that it will require a lot work to make everything generic then maybe this feature should still be considered in some major r

[2018-01-30 22:44] jefftindall commented on #2846
@ismcagdas any luck reproducing the error?

Any options to suppress the logs?  It doesn't appear to have any other negative effects on the site.

[2018-01-31 00:05] acjh commented on #2991
Restart your Visual Studio.

[2018-01-31 00:11] acjh commented on #2992
See the documentation on [SignalR AspNetCore Integration](https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration).

[2018-01-31 00:13] acjh commented on #2993
es_MX or ex_MX?

[2018-01-31 00:46] Ivangrasp commented on #2993
es_MX. Sorry, a typo

[2018-01-31 04:51] takavi commented on #2991
Thank, it's done

[2018-01-31 05:14] #2991 closed

[2018-01-31 05:26] ismcagdas commented on #2993
@Ivangrasp the fallback mechanism exists like you explaind but I couldn't understand the problem of yours.

[2018-01-31 05:38] ismcagdas commented on #2846
@jefftindall couldn't reproduce this.
@xiaochong44 @jefftindall have you used `_cacheManager.GetUserPermissionCache()` in your project ? If so, is it in a constructor ?

[2018-01-31 06:35] JefferyZh opened #2994 "UnitOfWorkBase Discuss"
Function [SetFilters](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/cfc8ae7dea866f65f3c8b30984de9e8e64f4d073/src/Abp/Domain/Uow/UnitOfWorkBase.cs#L387) in `UnitOfWorkBase` , when `filterOverrides` is null or empty, dose this function can jump out?

[2018-01-31 07:58] acjh commented on #2994
Sure. It's micro-optimisation though, since `_filters` has few items.

[2018-01-31 07:58] mkchx commented on #2956
Hello,

You're right but even if I hard-code the code the exception moves to app.UseAbp() inside Startup.cs
I can't debug atm but anyway..
I believe that's because of some incompatible nuget packages the project has. As I've tried to release and run it under win server 2016 with IIS and it worked. (no docker)

[code]

[2018-01-31 08:37] hikalkan commented on #2994
It also has this line: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/cfc8ae7dea866f65f3c8b30984de9e8e64f4d073/src/Abp/Domain/Uow/UnitOfWorkBase.cs#L400

[2018-01-31 08:42] JefferyZh commented on #2994
I think that also can jump out.

[2018-01-31 08:50] hikalkan commented on #2994
But ChangeFilterIsEnabledIfNotOverrided works even if filterOverrides is empty.

[2018-01-31 09:04] JefferyZh commented on #2994
When filterOverrides is empty, `ChangeFilterIsEnabledIfNotOverrided` dose nothing as I can see.

[2018-01-31 09:27] natiki commented on #2967
Hi Halil,

I copied it sideways and used it in PreInitialize as both:

[code]

[code]

but still get the same original exception "aDbContext has been disposed....". I checked that the params are round the right way. Anything else I have missed?

[2018-01-31 12:25] ismcagdas commented on #2957
@chrsas is that worked for you ?

[2018-01-31 12:25] #2959 closed

[2018-01-31 12:59] ismcagdas opened #2996 "Many threads blocks due to OnlineClientManager"
reported by @flexem.

When one thread Invoke the OnlineClientManager.Remove method. It will get a lock.
In the lock block, it will trigger the UserDisconnected event.https://github.com/aspnetboilerplate/aspnetboilerplate/blob/1f2a05fcf21984e01648fa692b5df5873bafe91a/src/Abp/RealTime/OnlineClientManager.cs#L74

If some one registered the event,and took too long time to invoke in it.(eg. Thread.Slea

[2018-01-31 13:06] kasitan opened #2997 "Related entities in collection duplicate after inserting an object graph to database"
Issue: after inserting a new entity, that contains another new related entities in its collection properties (one-to-many relationship), to a database - every related entity duplicates in the corresponding collection.

I'm using ABP 3.4.0, .net core 2.0, EF Core, Sql Server 2016 LocalDB.

Steps I took to reproduce an issue:

- Went to [ABP Download Template](https://aspnetboilerplate.com/Templates

[2018-01-31 13:48] ismcagdas commented on #2980
@ryansix can you also update ABP to 3.3 or 3.4 ?

[2018-01-31 14:02] ismcagdas commented on #2982
@abhishekhbd we will prepare a guide for deployment in a few weeks.

Basically, if you are trying to deploy two different IIS websites (*.Web.Host project and Angualr project).

1. In order to publish Host project, just publish it using Visual Studio and then configure appsettings.json for connection string and website addresses.
2. For  angular application, use "ng build --prod" command to publis

[2018-01-31 14:19] thiagoburgo commented on #2979
Hi,

I created a sample project with problem:

My context class and interface:

My middleware (where I resolve PerRequestContext and set values):

My registration:

Where I use:

[2018-01-31 14:38] hikalkan commented on #2979
Do not use ``IocManager.Instance.Resolve``, even for resolving the ``IServiceProvider`` (because this resolves the root scope).

AspNet Core creates a scope for every Http request. You should resolve from this scope in order to get the service per request.

When you use ``IocManager.Instance.Resolve`` (or even inject IIocManager and use it's resolve), you do something independent from the current

[2018-01-31 14:38] acjh commented on #2997
A `List` works. A `HashSet` allows the same item to be added for different keys because `GetHashCode` returns `0` before and a negative "transient" value after it's inserted by EF. I haven't found where this occurs in the pipeline.

[2018-01-31 14:38] hikalkan commented on #2979
``...LifestyleCustom<MsScopedLifestyleManager>()`` and `services.AddScoped` are same. I suggest the second one.

[2018-01-31 14:55] thiagoburgo commented on #2979
Hi @hikalkan,

If I can't get `IServiceProvider ` from IoCManager (or with contructor injection, right?). How can I get correct instance of `IServiceProvider`, in my DbContext, for example?

[2018-01-31 15:22] acjh commented on #2997
Workaround:

[code]

[2018-01-31 16:07] abhishekhbd commented on #2982
Yes it's really help me if you do so. Because we have just purchase the ABP and now re are struggling to deploy in IIS. PLEASE SEND THE DOC AS EARLY AS POSSIBLE.

[2018-01-31 16:36] kasitan commented on #2997
To be honest, I didn't quite understand why `HashSet` doesn't work, because it works with just EF Core and this code:
[code]

But the solutions you provided fix the issue! Thanks!

[2018-01-31 16:40] Ivangrasp commented on #2993
@ismcagdas My problem is practically the same as #2730. The difference is that there's a 'es' file in [AbpWebXmlSource](https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource) that should be used as fallback for my 'es_MX' culture.

Maybe the fallback only happens in the module-zero localization?

[2018-01-31 16:52] acjh commented on #2993
Change es_MX to es-MX.

[2018-01-31 17:10] Ivangrasp commented on #2993
@acjh This is part of my code in the seed method:
[code]

My project is called IDeI. In the localization source XML files I put 'IDeI-es-MX.xml'.

I searched in my entire solution and didn't found any line of code where I used 'es_MX'. Every reference to the culture is 'es-MX'.

[2018-01-31 17:18] acjh commented on #2993
Have you extended AbpWeb?

[2018-01-31 17:23] Ivangrasp commented on #2993
I'm working on it. Mainly I'm just copy-pasting all the 'es' files and rename them to 'es-MX'.

Is this the intended way? Localization fallback only working for module-zero?

[2018-01-31 17:33] acjh commented on #2993
Why do you need to copy-paste the files?

[2018-01-31 19:24] Ivangrasp commented on #2993
I'm doing some work in my project to do more testing. Suddenly the fallback feature stopped working so I may have a problem somewhere in my code and maybe cache was messing with my system. I'll get back to you when I solve those issues.

Sorry

[2018-01-31 20:58] Ivangrasp commented on #2993
I downloaded a clean template and did some testing, thanks to this I found the cause of the issue.

Since my application only needs English and Spanish, I modified ```DefaultLanguagesCreator``` class and my InitialLanguages looked like this:
[code]
And thanks to the cache and some bizzarre stuff with my computer I thought that fallback feature was working ok. I didn't do enough testing and just cr

[2018-01-31 21:10] okezieokpara commented on #2953
Thanks.
Is there an HTML template we can use, or are we free to implement one from scratch?

[2018-01-31 23:40] acjh commented on #2993
Thanks for letting us know!

[2018-02-01 01:42] KennyEng12 commented on #2983
Hi @acjh ,

Thank you for the answers and sorry for the late reply.

Thanks.

[2018-02-01 05:45] hikalkan commented on #2953
There is no HTML template. I suggest to take current angular template as a start point. It uses the BSB admin theme: https://github.com/gurayyarar/AdminBSBMaterialDesign

[2018-02-01 05:51] #2993 closed

[2018-02-01 06:06] xiaochong44 commented on #2846
@jefftindall  I send all to you email，you can remove redis config。i have not used _cacheManager.GetUserPermissionCache().

[2018-02-01 06:07] xiaochong44 commented on #2846
@ismcagdas I send all to you email，you can remove redis config。i have not used _cacheManager.GetUserPermissionCache().

[2018-02-01 07:13] faridprogrammer opened #3000 "Cannot read property 'offsetTop' of undefined when page not added to menu"
When creating a page if the page is not added to menu the following error will raise on page load.
Maybe the reason is ScrollActiveItemWhenPageLoad feature of side menu is active and it is trying to scroll to a page that is not added to menu,

[code]
## Workaround
To resolve the issue temporary is disabled the feature in `admin.js` file.

[code]

* Abp package version: 3.3.0
* ASP.NET Core MVC wit

[2018-02-01 07:20] KennyEng12 commented on #2983
I've another question, which is which layer is the best place to implement the custom data type?
Domain layer or Application layer?

Thanks.

[2018-02-01 08:24] hikalkan commented on #2983
If it's related to domain (used by domain entities and services), can be in the domain layer.

[2018-02-01 08:31] KennyEng12 commented on #2983
Thanks again.

[2018-02-01 08:31] #2983 closed

[2018-02-01 09:01] chrsas commented on #2957
@ismcagdas I think the method given above will have more code to write, and it will be troublesome to reward future synchronization. So I wrote a filter according to AbpExceptionFilter, just rewrite GetStatusCode, others are copied from AbpExceptionFilter. Finally, add this filter before AddAbp.
[code]
If there has a better way, let me know please.

[2018-02-01 09:05] acjh commented on #3000
Fixed by aspnetboilerplate/module-zero-core-template#168

[2018-02-01 09:10] acjh commented on #2957
You can do that for now. `GetStatusCode` will be overridable in ABP v3.5 (#2981).

[2018-02-01 09:25] chrsas commented on #2957
@acjh I think that GetStatusCode will be overridable is not enough, there is no way to easily replace the `AbpExceptionFilter`, adding an `Action` parameter in `AddAbp` maybe better.

[2018-02-01 09:31] maliming opened #3001 "AddJsonOptions DateFormatString not work."
Abp 3.3.3 .net core 2.0 with zero.

[code]

```AddJsonOptions```  is working fine in the web api project generated by the VS template.

@hikalkan any ideas?

[2018-02-01 09:51] #3000 closed

[2018-02-01 10:32] AlexSenchenko commented on #2953
@okezieokpara https://github.com/mui-org/material-ui is one of the most popular

[2018-02-01 10:36] welsonplay commented on #2953
I'm also willing to help with the project with React.

As for the theme, if it follows the same pattern as the others, we can use AdminBSBMaterialDesign, but the problem I see in it is that we would not develop using pure React and get stuck in JQuery, which I do not think is good.

I find it very interesting to use the material that @AlexSenchenko spoke about.

[2018-02-01 10:52] AlexSenchenko commented on #2953
@okezieokpara @welsonplay @hikalkan  let organize a new repository for this?

[2018-02-01 11:12] welsonplay commented on #2953
certainly. We need to create a roadmap to facilitate the evolution of the project.

[2018-02-01 11:29] okezieokpara commented on #2953
I just forked the project at https://github.com/okezieokpara/module-zero-core-template
May be I can start from there

[2018-02-01 12:07] AlexSenchenko commented on #2953
@okezieokpara  I would rather prefer to create it at @aspnetboilerplate org

[2018-02-01 12:08] okezieokpara commented on #2953
I also created a new branch named "react" and a new folder "react".
Then I add a "Create React App" App.
@AlexSenchenko I don't have that access

[2018-02-01 12:12] CS-beglnner opened #3004 "How to use AppServiceBase in Core layer?"
I just start learning and using wonderful abp with helpful abp documents.

I want trying EventCloud as my first project. I got some errors because that sample isn't up-to-date, I fixed them with using latest Abp documents but now I cant understand why EventCloud had two AppServiceBase (at Core and Application layers) and why we cant using Application.AppServiceBase in Core.SomeServiceClass!

If is

[2018-02-01 12:17] ismcagdas commented on #3004
@CS-beglnner we are working on the sample projects right now. We will update all samples in a short time.

You cannot use AppServiceBase in Core layer, it is designed for application services.
For Core layer, you can use MyAppServiceBase (not MyAppAppServiceBase).

[2018-02-01 12:34] AlexSenchenko commented on #2953
May be @hikalkan  can assists here.

[2018-02-01 12:48] CS-beglnner commented on #3004
@ismcagdas OK Sir,  Thanks for quick replies.
I just found new issue, When I add menu items in AppNavigationProvider they are not appear in angular application. Should I create a new issue ?

[2018-02-01 12:54] ismcagdas commented on #3004
you also need to add it into your client side app. Are you working with AngularJS or Angular ?

[2018-02-01 12:58] CS-beglnner commented on #3004
@ismcagdas AngularJS MVC5 Template

[2018-02-01 12:59] ismcagdas commented on #3004
can you share your definition in AppNavigationProvider ?

[2018-02-01 13:00] hikalkan commented on #2953
I think that you can fork it, develop and send a pull request.

[2018-02-01 13:06] CS-beglnner commented on #3004
[code]
@ismcagdas

[2018-02-01 13:08] CS-beglnner commented on #3004
Items Added after manually adding that in app/main/views/layout/sidebar-nav.js

[2018-02-01 14:56] andmattia opened #3014 "Moving from MVC AngularJs to Angular"
Reading some doc to move our project from MVC/AngularJs to Core/angular I need to clarify.

Our solution have some module / api. If we plan to migrate to new Core solution we need to split Core module in 2 Core and Core.Shared similar for Application. So Application is quite clear that need to split for shareing Interface and DTO but for Core is not the same.

So about API/WEB in current solution

[2018-02-01 15:54] thiagoburgo commented on #2979
@hikalkan ,

I'm feeling a newbie, I can't make it works. Help me please =)!

When I injecting `IServiceProvider ` in constructor and I resolve `IAgendaSessionContext` with it, I'm always get a new instance instead the unique instance per request.

I'm lost here...

Thanks

[2018-02-01 16:00] ogix opened #3015 "Missing StringLength attributes for some entity properties"
I have noticed that some base entities are missing StringLength attribute so EF Core translates to nvarchar(max) type which can affect performance.
I personally think that every string property should be limited to some length by default unless explicitly needed. It is still possible to override using model builder.

These properties are missing StringLength attribute:

- AbpBackgroundJobs
JobArgs

[2018-02-01 17:32] CS-beglnner commented on #3014
If you have special connectionString per tenant, Try store your tenant menu items at database

[2018-02-01 18:32] welsonplay opened #3016 "ABP, Angular Integration with Identityserver4"
I'm using ABP 3.4.0 for ASP.NET Core and using the Zero Module template project and Angular client application,

I implemented IdentityServer4 in my project. To decrease the work I changed the Action code
Authenticate the TokenAuthController controller to the following code.

[code]

As I have changed the way the server authenticates, then I do not need to change anything in the angular applicatio

[2018-02-01 23:27] MalconMikami opened #3017 "Problems publishing to Azure"
I am using version 2.3, on my machine this is working correctly, but after publishing in Azure I have this error log. Any tips?

![image](https://user-images.githubusercontent.com/17220095/35708697-7c025004-0796-11e8-9394-66937c613d6b.png)
.

[2018-02-02 05:16] ismcagdas commented on #3017
Probably your published configuration file doesn't contain JwtBearer configuration. See the below screenshot.

![image](https://user-images.githubusercontent.com/4133525/35717589-5e4af15a-07f1-11e8-99d3-db23c6d29bee.png)

[2018-02-02 05:34] ismcagdas commented on #3016
@welsonplay we haven't tried to integrate IdentityServer4 into Angular version but since you are using RequestResourceOwnerPasswordAsync, I think, no change is needed on the angular UI.

Have you tested this scenario ?

[2018-02-02 05:48] alirizaadiyahsi opened #4596 "Upgrade to latest ABP"
And other nuget packages

[2018-02-02 06:06] ismcagdas commented on #3015
@ogix when I look at this list, for most of the fields, it is hard to determine a max length.
Yes, you can easily change the max values in OnModelCreating of the DbContext like this.

[code]

[2018-02-02 10:28] welsonplay commented on #3016
I'm using the code I put up in production and it's working fine. What I do not know if this would be the best way.

[2018-02-02 10:47] faridprogrammer opened #3019 "Problem building the project"
I am using ASP.NET Core MVC template that I recently downloaded.
When I build the project often I get the following error:

[code]

To resolve this issue temporarily I need to clean the solution and rebuild it again every time I make a change to source.

**Versions**
Abp package version: 3.3.0
ASP.NET Core MVC with full .net framework template

[2018-02-02 11:14] ismcagdas commented on #3019
@faridprogrammer can you try to delete all bin & obj folders and try to rebuild solution again ?

[2018-02-02 11:20] faridprogrammer commented on #3019
@ismcagdas  I delete these file every time I need to make a change.
When deleting these files in file explorer as you suggested. I get the following error that is identical to one Visual studio issue.

![image](https://user-images.githubusercontent.com/6207351/35730683-3c3b9560-0828-11e8-81c0-1dd5c2a7b3a8.png)

[2018-02-02 11:38] ogix commented on #3015
Yes, I know, but such fields like Role Description, ConcurrencyStamp, PhoneNumber can have limited length by default. And other fields can be set to 2000 as it is done for some fields now as I noticed.

I guess you don't want to store 2GB of data in each of these fields. Because nvarchar(max) is optimized for storing large amount of data and as I mentioned it can affect performance. And most users

[2018-02-02 13:02] acjh commented on #3019
I encountered this yesterday. Restarted my laptop and haven't encountered it again.

[2018-02-02 13:20] vitorlacerda opened #3020 "How Serialize DTO with Date as Object?"
How can i make Abp serialize dto using date as object and not as string?

Json.NET can do this

[code]

[2018-02-02 13:49] CS-beglnner commented on #3019
Some problem!

[2018-02-02 13:51] #2992 closed

[2018-02-02 13:55] hikalkan commented on #2994
See the code:

[code]

It's very clear that if ``filterOverrides`` is empty then it **does not** return from the method. Please check the condition carefully.

[2018-02-02 14:31] hikalkan commented on #2979
Constructor-inject IServiceProvider. However, if you inject it to a class then resolve that class from IocManager, it will not work again.

You can try something like that which should work:

[code]

You can even resolve from IocManager.Instance like that:

[code]

[2018-02-02 16:50] faridprogrammer commented on #3019
I restarted the computer but I have this problem again.

[2018-02-02 17:48] thiagoburgo commented on #2979
Worked! Thanks!

A little bit misleading this behavior! But solved!

Thanks again!

[2018-02-02 22:24] thomas-parrish opened #3021 "AbpRoleManager Methods are virtual, but dependencies are private"
In ABP 3.3? (Asp Zero 5.0.6) I've come across a situation where I need to override the behavior of the role manager.

In attempting to do so, I've discovered that while I can override the methods (such as GetGrantedPermissionsAsync()), I cannot implement my own logic because many of the dependencies injected are private (like IPermissionManager.)

I don't see how this makes sense, as I could overr

[2018-02-02 23:31] CS-beglnner commented on #3019
@faridprogrammer Close your VS, Use windows Task Manager for ending all VS background tasks, Clean your VS ASP.NET temporary at C:\Users\[YourAccount]\AppData\Local\Temp\Temporary ASP.NET Files\
and C:\Windows\Microsoft.NET\Framework\v4.0.30319\Temporary ASP.NET Files, Clean all off bin and obj folders per projects (you can use search explorer in your main directory), then open your solution in VS

[2018-02-02 23:41] CS-beglnner commented on #3019
If is your first running after downloading template be sure YourProject.zip file is not blocked by Windows Security!! You can check that by Right-Click at downloaded .ZIP file and choosing Properties then go to General tab

[2018-02-03 10:03] acjh commented on #2291
@natiki Is this resolved?

[2018-02-03 14:05] cuibty opened #3022 "Does Entity History have a plan to support EF 6.x"
Does Entity History have a plan to support EF 6.x ?

[2018-02-03 14:25] thomas-parrish commented on #1943
Just to confirm, as of 3.4 (and zero 5.1) permissions are no longer sealed?

[2018-02-03 14:35] acjh commented on #1943
Yes.

[2018-02-03 14:38] thomas-parrish commented on #1943
Does this completely resolve this issue? (We are looking to implement a very similar permissions system as described here.)

[2018-02-03 14:41] acjh commented on #3022
Yes, see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2835#issuecomment-354750769.

[2018-02-03 14:46] cuibty commented on #3022
thanks

[2018-02-04 05:56] natiki commented on #2291
Hi @acjh,

No even with your suggestion of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2291#issuecomment-329936990 it still requires the Identity database tables.

[2018-02-04 09:36] YINZHU2016 opened #3023 "abp is too large,Business logic invades the underlying code"
ABP is a great project, providing a lot of support and code specifications, but I want to make a small suggestion that ABP is becoming more and more massive now. Especially its initial design combined with the underlying business logic, many such as SaaS, user management and other functions, and produced a lot of pollution to the underlying code, cause learning framework of cost becomes high, woul

[2018-02-04 12:40] hikalkan commented on #3015
We can define max length for some of the properties. We will discuss that in the team, thanks.

[2018-02-04 12:44] hikalkan commented on #3020
Have you tried something like that:

[code]

[2018-02-04 12:53] #2979 closed

[2018-02-04 13:24] hikalkan commented on #3021
See this: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Core/Authorization/Roles/RoleManager.cs

You can easily add a private field to that class and assign permissionManager to your own private field.

But, if you want to send a PR, we appreciate it :)

[2018-02-04 14:18] hikalkan commented on #3023
Thank you for your comments. I agree with some points. We will definitely work on these in the next versions.

[2018-02-04 14:19] hikalkan commented on #3023
I'm closing this for now since it's not an issue to track.

[2018-02-04 14:19] #3023 closed

[2018-02-04 16:57] faridprogrammer commented on #3019
@CS-beglnner  I get the error again.

[2018-02-05 00:40] JefferyZh commented on #2994
Yeah, my mistake, close this.

[2018-02-05 00:40] #2994 closed

[2018-02-05 05:56] ismcagdas commented on #3019
@faridprogrammer I'm not sure if there is anything related to template here. It is hard to detect such problems. Do you have a chance to try it on another PC ?

[2018-02-05 06:06] faridprogrammer commented on #3019
@ismcagdas Yes I tested it on another PC. But the other PC's visual studio version (Updates and other stuff) was same as my PC.
I am trying to test on a PC with different version of visual studio (With different updates for example).

[2018-02-05 06:08] ismcagdas commented on #3019
@faridprogrammer what is your VS version ? I'm using 15.5.6.

[2018-02-05 07:40] ismcagdas commented on #2982
@abhishekhbd did you manage to publish your app ?

[2018-02-05 07:51] abhishekhbd commented on #2982
Till now we have not found the process to deploy angular 4 ABP to iis.

We are still using developer build. Can you please help.

[2018-02-05 08:00] ismcagdas commented on #3016
@welsonplay maybe you could create another action if you want to use the old way in the future but I think it is a good way what you did.

[2018-02-05 08:00] #3016 closed

[2018-02-05 10:25] ismcagdas commented on #2982
@abhishekhbd as I said, the document will be ready in a few weeks but we can help you here.
Can you share at which step you are stuch with ? Do you have an error ? You can also write the steps you have done.

[2018-02-05 10:35] abhishekhbd commented on #2982
1. I create a build using ng build --prod.
2. create a web site in IIS and point dist folder.
3. Login screen gets open. but when we login post does not called even I cannot change the tenent name.

[2018-02-05 10:35] welsonplay commented on #3016
With this approach I came across another problem. In the above code I add a cookie to httpHandler, but HttpCookieTenantResolveContributor could not resolve to Tenant. I checked the request and the cookie was set correctly, but the HttpCookieTenantResolveContributor always returns null.

I ended up opting to change my code. Instead of using the TokenClient to generate the token, I am generating the

[2018-02-05 10:47] ismcagdas commented on #2982
Two questions;

1. What is the url of your running host prohect ?
2. Have you configured appconfig.json for Angular project ? Can you share it ?

[2018-02-05 12:57] andmattia commented on #3014
@CS-beglnner this is not my problem.

We have  a solution developed on top of ABP+ABPZero(sing 0.6.8) so we need to plan migration to ABP Core. To do that we need to investigate some basic difference from AngularJs to Angular and MVC to Core. I think we have many project with same issue.

[2018-02-05 13:28] acjh commented on #3014
Put the equivalent in [YourWebCoreModule](https://github.com/aspnetboilerplate/module-zero-core-template/blob/a8134370dc22a64dc99a7f6f758044c7189c135b/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/AbpProjectNameWebCoreModule.cs#L53-L56):

[code]

[2018-02-05 14:31] AlexSenchenko commented on #2953
@okezieokpara let me know when we can start

[2018-02-05 14:39] apchenjun opened #3032 "Rapid Application Development tool can be open source"
New released Rapid Application Development Tool Can we open open source

[2018-02-05 14:41] hikalkan commented on #3032
We don't have a plan to create a RAD tool for the open source side yet. Maybe in the future :)

[2018-02-05 14:42] okezieokpara commented on #2953
@AlexSenchenko We can all start now.
I will first install the template.
But we might need to look at the angular project to learn a few things

[2018-02-05 15:06] baiyunchen opened #3033 "Abp User Entity Design Question"
In the project, there will be **front-end registered users** and administrators of two types of users, I would like to know in ABP these two kinds of users how to design better?
I do not expect to store both front-end registered and administrator users in a single table , but I also hope that front-end registered and administrator users will have the many Abp.Zero provid user-related abilities.

*

[2018-02-05 16:34] AlexSenchenko opened #3034 "Question: using abp-src"
Hi

What does mean abp-src and how it used further?

```<script abp-src="/view-resources/Views/Account/Login.js" asp-append-version="true"></script>```

[2018-02-05 16:51] leosaravia commented on #2717
Great thanks! The change in the InitBuildWebHost corrected the error.

[2018-02-05 17:40] andmattia opened #3035 "Problem on AspZero VS Plugin"
Move to forum

[2018-02-05 17:48] andmattia commented on #3035
I check the plugin and I found that in root folder not exist
AspNetZeroRadTool\config.json

[2018-02-05 18:13] #3035 closed

[2018-02-05 19:46] ismcagdas commented on #3034
@AlexSenchenko as far as I remember this exists in AspNet Zero.
It is a tag helper and it includes *.min.js for production (Release mode) and it includes *.js for development time.

For example for your example, when you publish your app, it will be:
`<script src="/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>`

But, in development time, it will be:
`<script src="/

[2018-02-05 19:46] #3034 closed

[2018-02-06 00:35] jefftindall commented on #2846
@ismcagdas No, we are not using GetUserPermissionCache() in our projects.

[2018-02-06 03:16] abhishekhbd commented on #2982
This application is running on local network.

I am able to run application properly using NG SERVE.

[2018-02-06 03:16] abhishekhbd commented on #2982
But not on IIS serve

[2018-02-06 05:32] ismcagdas commented on #2982
I assume you are running host project at http://localhost:22742/.

If so, configure your appconfig.json like this:

[code]

[2018-02-06 07:17] ShiWei-L commented on #3001
Is there a solution to this problem?

[2018-02-06 07:38] acjh commented on #3001
Duplicate of #2764

[2018-02-06 07:40] acjh commented on #2234
Duplicate of #1636

[2018-02-06 07:40] #2234 closed

[2018-02-06 07:49] #3001 closed

[2018-02-06 09:12] natiki commented on #2967
Bump?

[2018-02-06 09:14] sebitsi opened #3036 "Domain classes with static filter expressions"
Hi.

I have question that is not directly related to ABP or ABP.ZERO.

Let say we have customer domain class and another static class with predefined filters.
Something like:

[code]
We can use this filter in any part of application like

`var query = ctx.Customers.Where(CustomersFilters.ActiveCustomers);
`

Ok. This works fine.

And now my question:

Is it wise to put this filter definition into

[2018-02-06 09:14] natiki commented on #3032
See also https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2030

[2018-02-06 13:33] abhishekhbd opened #3040 "Can we Create folder while uploading file on ABP angula 4?"
We have a scenario in which when any user update the file I need to create a folder from Angular 4 itself or client and save the file inside that folder only.

We are using ABP changeProfilePicture component.

[2018-02-06 13:39] ismcagdas commented on #3040
@abhishekhbd yes, you can create if both apps on the same server. Just use regular c# folder creation code in your app service.

[2018-02-06 13:42] Xeevis commented on #2659
If I understand you correctly you are trying to grandfather static admin role to all permissions available correct? If so why not simply use RoleManager in domain layer, it can easily ensure role has all the available permissions including ones added by plugins.

For example you can create **Core\Authorization\PermissionConfigurer.cs**

    public static class PermissionConfigurer
    {
        pu

[2018-02-06 13:51] abhishekhbd commented on #3040
So we can create folder on server from Angular code.

Can you please share any reference code to do this?

How we can modify the existing ChangeProfilePictureComponent code?

[2018-02-06 13:55] ismcagdas commented on #3040
Just use System.IO.Directory.CreateDirectory in your app service. You can create a folder on the server wherever you want.

[2018-02-06 14:19] andmattia commented on #3014
@acjh thks for your replay.

So I read more about document and in my plan I add this Task

- [ ] Convert csproj from old to new Version (I found a good staring point here [http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/](url)
- [ ] Delete WebApi and add the row custom module
- [ ] AngularJs rewrite to Angular (very complex task)
- [ ] move all ui-grid to PrimeNg Table (I read

[2018-02-06 14:38] acjh commented on #3036
Answered in this Stack Overflow question: [Are expression trees thread-safe?](https://stackoverflow.com/questions/40442189/are-expression-trees-thread-safe)

[2018-02-06 15:41] abhishekhbd commented on #3040
But it's a dot net code.

I need to create folder from Angular 5 code.

[2018-02-06 19:02] ismcagdas commented on #3040
@abhishekhbd you can't create a folder on the server using Angular 5 directly, because Angular 5 runs on the client. You need to create the folder on the server. The best way is to create it when you call your app service method.

[2018-02-06 19:02] #3040 closed

[2018-02-06 21:06] sebitsi commented on #3036
Hi @acjh.

Thanks for your response and given link.
That's all i need to know.

[2018-02-06 21:06] #3036 closed

[2018-02-07 05:39] ebicoglu commented on #3033
You can achieve the problem with user roles. End users may have a basic role that contains limited permission grants and admins may have an advanced role that contains all the permissions enabled.

[2018-02-07 05:44] ebicoglu commented on #3032
Let's wait until the product becomes mature and stable. so things get easier to make it open-source

[2018-02-07 07:03] baiyunchen commented on #3033
@ebicoglu thanks for you answer,but front end user and administrator has not related. If use the same object,then the user table will have a lot of useless fields~
I want to separate front end user and administrator user to two tables stored.

[2018-02-07 07:51] ismcagdas commented on #3033
@baiyunchen you can define another user like this;

[code]

and map it to a new table.

You also need to define FrontEndUserManager (copy of UserManager), FrontEndUserStore etc...

[2018-02-07 08:12] baiyunchen commented on #3033
@ismcagdas   thanks for you answer!
I am trying to copy a user-related class, just worried that there will be problems. For now, it's unfriendly to define two tenant classes.

[2018-02-07 08:14] ismcagdas commented on #3033
@baiyunchen you should be able to use Tenant for your new user class.

[2018-02-07 08:17] baiyunchen commented on #3033
Tenant class defined need a User generic type,Is there any way to skip it?
[code]

[2018-02-07 08:23] ismcagdas commented on #3033
@baiyunchen oh you are right, sorry. You could use TPC but currently  EF Core doesn't allow it as far as I know.

Best option is to add a Type property to existing User entity.

[2018-02-07 08:30] baiyunchen commented on #3033
@ismcagdas  thanks for you answer!
I try to create two sets of user class contains tenant, if the attempt fails, I will add a userType field in the existing User to distinguish.

[2018-02-07 12:09] dkisic2 opened #3043 "Problem with locating signalr-client.min.js?"
I've been following [AspNetCore integration tutorial](https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration) and I am having problem locating signalr-client.min.js script which needs to be included before abp.signalr-client.js.

Where can I find this file?

[2018-02-07 12:30] acjh commented on #3043
The filename [has been changed](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/5e88088dd03b9bd212610c5d5d3c3259cd7c7e47/doc/WebSite/SignalR-AspNetCore-Integration.md#client-side-jquery). It's now [signalr.min.js](https://github.com/aspnetboilerplate/module-zero-core-template/blob/620a99d0213df160ef3b60505f7bb135d0bc2ccb/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/wwwroot/lib

[2018-02-07 12:47] #3043 closed

[2018-02-07 13:08] CS-beglnner opened #3045 "Why AngularJS html element response null"
I am trying to create a simple project with AspNet Boilerplate MVC/AngularJS template. I can see my `GetAll` `XHR` result at Network with success `true` in my requested queries, but the div in Chrome elements is null(they have after/before elements).

**Index.js**

[code]

**Index.cshtml**

    <div class="row clearfix" ng-controller="app.views.events.index as vm">
        <div class="col-lg-12 co

[2018-02-07 17:30] ApplixDev opened #3049 "Missing abp-web-resources js files"
* Abp package version: 3.4.0
* Base framework: .Net Framework.

Hello, i recently generated from your website an MVC 5.x project template and i get many errors about missing JS files. Concerned files are located in the Web project "MyProject.Web" following this path ...\MyProject.Web\lib\abp-web-resources, in fact the abp-web-resources directory and sub directories are empty.

To solve this proble

[2018-02-07 20:16] Ivangrasp commented on #3049
I'm pretty sure that this issue is with the template and not with the framework itself. I created an issue [here](https://github.com/aspnetboilerplate/module-zero-template/issues/118) because some files weren't updated in the earlier version.

[2018-02-08 03:06] andmattia commented on #3014
Update on migration process.

We has start to convert our module to new csproj version and we has "fight" with nuget/reference, so many projects works fine but EF create a lot off issue.
After conversion (at the moment we has change only csproj not target framework) the EF work with ABP module but migrations doesn't work.
We catch an exception about "projectName" (row 719 or 720 in EF 6.1.3 or 6.2

[2018-02-08 05:43] ismcagdas commented on #3049
duplicate of https://github.com/aspnetboilerplate/module-zero-template/issues/118.

[2018-02-08 05:43] #3049 closed

[2018-02-08 06:00] acjh commented on #3021
Resolved by #3047

[2018-02-08 06:00] #3021 closed

[2018-02-08 06:00] ismcagdas commented on #3045
@CS-beglnner can you change getEvents function like below ?

[code]

[2018-02-08 06:07] FrikkinLazer opened #3050 "Feature: Suppress datetime normalization on specified DTO fields."
This is a feature request.

Add an attribute, that can be added to a DTO, called something like [SuppressUTCConvert].

When a DateTime is sent back from the browser into the API, dont do any normalization when attribute is present.

For certain fields, like birth dates, future calendar entries, etc, specific dates like 2000-04-05 00:00:00 are typically sent back, and a birthdate is time zone agnos

[2018-02-08 06:16] hikalkan commented on #3050
@ismcagdas is that possible?

[2018-02-08 06:16] acjh commented on #3050
Duplicate of #1240

[2018-02-08 06:17] hikalkan commented on #3050
Thank you @acjh, I've forgot it :)

[2018-02-08 06:17] #3050 closed

[2018-02-08 10:47] CS-beglnner commented on #3045
@ismcagdas nothing some as before changes. I think my problem is Abp WebAPI controller because i'm newbie to using that. My events module is in a namespace with "MyApp.Catalog.Events". My issue Isn't about getting service assembly?

[2018-02-08 10:57] denisvirissimo opened #3051 "Cannot access old documentation on site"
When I try to access old documentation in the ABP website, from version 1.0.0 to 3.2.5, it gives an internal server error.
Can only view documentation of versions 3.3.0 and 3.4.0.

[2018-02-08 11:21] ismcagdas commented on #3045
@CS-beglnner according to screenshot you have shared, client receives the data from server.

[2018-02-08 13:49] CS-beglnner commented on #3045
@ismcagdas ok I found solution. I used old article for learning Abp. That article uses 2 app service base in both project (core & application). So I removed core app service and everything worked well! We are really need new samples. Sorry for my bad English, I'm 14 years old from wars country. Very thanks to you and awesome AspNet Boilerplate support team.

[2018-02-08 13:49] #3045 closed

[2018-02-08 14:32] tamys commented on #3033
@baiyunchen i tried that using tpc approach. i was close but i gave up since the only solution i came with was to reserve a number of Ids for one of the two types. e.g allow ids from 1 to 1000 for admin users and from 1001 to long.MaxValue for front end. However i didnt like this as it is a bit hacky. This would be great when Ids will guids. check out this #1883

[2018-02-08 14:39] baiyunchen commented on #3033
@tamys thanks for you answer!
Now, I'm trying to emulate ABP to create a simplified version of the user system for front-end user, it has only simple login function, delete the role, permissions and other functions, if I can try to success, I will share here in the future.

[2018-02-08 15:16] acjh commented on #2416
Duplicate of #3033

[2018-02-08 15:16] #2416 closed

[2018-02-08 15:16] #2857 closed

[2018-02-08 15:16] #2876 closed

[2018-02-09 01:59] muzizongheng opened #3052 "Why Web-project reference Core-project？"
I saw “XXXConsts.LocalizationSourceName” reference in web project。 Is it against the DDD N-layer rules？

[2018-02-09 04:49] iyhammad opened #3053 "OData Integration Issue"
Abp Version: 3.4.0
Base framework: .Net Framework
I'm facing the below exception while trying to experiment the new OData Package and integrating it in my solution.
The Exception happen only while invoking the OData Controller only.
Exception:
[code]
I followed the documentation step by step. Could you please tell me from where I can start debugging it?

[2018-02-09 04:52] chenxinyong opened #3054 "winform client not work with signalr asp.net core"
winform client not work with signalr asp.net core

            var connection = new HubConnectionBuilder()
                .WithUrl("http://localhost:62114/andon")
                .WithConsoleLogger()
                .WithMessagePackProtocol()
                .WithTransport(TransportType.WebSockets)
                .Build();

            await connection.StartAsync();

(Method Not Allowed)。

[2018-02-09 04:55] acjh commented on #3053
Did you begin a unit of work yourself? Show your Controller code.

[2018-02-09 05:32] ismcagdas commented on #3054
@chenxinyong can you share detailed error message ?

[2018-02-09 05:51] ismcagdas commented on #3045
@CS-beglnner thanks 😄 . We are tryint to improve our documents and samples.

[2018-02-09 09:16] ogix opened #3055 "AbpStore should not be exposed from AbpUserManager"
`AbpStore` and `AbpUserManager` both share many common method definitions and `AbpStore` is publicly declared in `AbpUserManager` so it is confusing whether you should use method like `FindByEmailAsync` directly from `AbpUserManager` or from `AbpStore`.

IMO `AbpStore` should be declared as protected.

[2018-02-09 09:52] ebicoglu commented on #3055
hi, change it as protected and send pull request

[2018-02-09 10:02] ogix commented on #3055
I have checked that `AbpStore` is used 6 times in `AbpLogInManager`. Not sure if it is safe to just switch to `AbpUserManager` instead. Maybe there are some differences between them?

[2018-02-09 10:51] ogix commented on #3055
For example `UpdateAsync` in `AbpUserManager` look like this and it eventually calls `base.UpdateAsync(user)` which comes from Microsoft's Identity lib. I would expect it to call `AbpStore`'s `UpdateAsync` because it is internally using `UserRepository `which works under UOW.

[code]

`UpdateAsync ` in  `AbpUserStore`:

[code]

[2018-02-10 01:30] chenxinyong commented on #3054
在 System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   在 Microsoft.AspNetCore.Sockets.Client.HttpConnection.<Negotiate>d__42.MoveNext()
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   在 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   在 Microsoft.AspNetCore.Sockets.Client.HttpConnection.<S

[2018-02-10 01:32] chenxinyong commented on #3054
![Uploading 0180210092856.png…]()

[2018-02-10 01:34] acjh commented on #3054
Which version of the client are you using?

[2018-02-10 01:38] acjh commented on #3054
Wait for your image to upload before pressing comment.

[2018-02-10 02:02] acjh commented on #3054
As the issue pointed by @ebicoglu mentions,

For Abp.AspNetCore.SignalR `v3.4.0-preview2`, you need Microsoft's `v1.0.0-preview1-28189`.
You may need to add a NuGet package source: #2831

[2018-02-10 07:05] iyhammad commented on #3053
Hi @acjh ,
I don't begin a unit of work. here is my controller class
[code]
Also Here is my startup class it may has something that conflicts with OData
[code]

[2018-02-10 18:33] Omital opened #3058 "Permission based on IP address"
We have been using this framework and it is awesome. recently my team faced with situation that don't want to authorize client for executing applicant service's methods, we want to authorize based on client IP address. However we have already implement IInterceptor and use it, but I think it is a good feature to implement it in future release.

[2018-02-10 19:43] CS-beglnner opened #3059 "Is there any idea for using Dtos and ViewModels together?"
Hi everyone.
I want create simple eCommerce app using ABP Core 2 and EF. Before start coding I need some tips about my project data architecture.
eCommerce apps needs to much related data so I think that need to many lines hard code. In ABP using ViewModels together DTO is possible? or Where I can find any documents about using ABP for enterprise or big data projects?

[2018-02-11 01:54] natiki commented on #3059
Hi @CS-beglnner,

While it is possible to use DTO and View Models as the same class (either directly or via inheritance) it is not advisable as you are ultimately leaking information from your domain layer to your presentation layer. While it may seem tedious to have DTO's and ViewModels in the long run it makes a lot of sense as you keep things separate and can then have different validations for

[2018-02-11 09:19] hikalkan commented on #3059
Hi,

@natiki, DTOs are not a part of the domain. So, it's actually not leaking the domain to the presentation. DTOs already makes this abstraction.

@CS-beglnner, as like any good answer: it depends. For me;

There is nothing wrong to use DTOs in your views (as model). But do it only if no change required (I mean if you use the DTO class as is).

In pratical, you will generally want to add view-sp

[2018-02-11 11:58] CS-beglnner commented on #3059
@hikalkan Very thanks for clear answer

[2018-02-11 11:58] #3059 closed

[2018-02-11 13:55] CS-beglnner opened #3060 "[Help Need] How to use IRepository<T> and Repository-Per-EntityChange"
I am trying to create simple eCommerce using ABP. I have some base entities so I create a entity class that called `EntityBase : Abp.Domain.Entities.Entity<Guid>` and attached my entities. Then created a service `EntityService` for working with data using `Abp.Domain.Repositories.IRepository` as ABP documents guide. Now I have a method that write `Table1[metaData1, metaData2, metaData3]` and `Tabl

[2018-02-11 13:56] hikalkan commented on #3058
If you want, you can create such an implementation and contribute :) Your implementation may contain such services:

* IpBasedPermissionChecker
* IIpBasedPermissionStore (may have two methods like GetAllowedAddresses and GetProhibitedAddresses for instance)
* InMemoryIpBasedPermissionStore (implements IIpBasedPermissionStore and gets all IPs as a configuration on app start).

These are just an ide

[2018-02-11 14:18] hikalkan commented on #3055
Resolved with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/3056

Thanks @ogix

[2018-02-11 14:22] hikalkan commented on #3052
Hi,

The problem here is the localization is defined in the Core project. Actually, it's something related to presentation. We did it like that to allow you to use localization code in application and domain layers too.

XXXConsts.LocalizationSourceName is not a domain object, so it does not break DDD layering. But a better design could be creating a new project, say MyProject.Core.Shared, and dep

[2018-02-11 15:11] hikalkan commented on #2967
Are you injecting your domain services via interfaces, or directly via class references? If you don't inject their interfaces, then Castle dynamicproxy requires to make service methods virtual in order to proxy them.

[2018-02-11 15:13] hikalkan commented on #2846
@jefftindall can you add full stack trace so we can understand the complete path of the exception.

[2018-02-11 19:29] Omital commented on #3058
Hi @hikalkan
IPermissionChecker's methods work when user is logged in, otherwise it throw exception [Current user did not login to the application] therefore I think IInterceptor implementation is necessary.

[2018-02-11 19:34] ismcagdas commented on #3051
This was fixed on last friday I guess.

[2018-02-11 19:42] ismcagdas commented on #3060
@CS-beglnner does it work when you try it like below ?
`await _brandRepository.InsertAndGetIdAsync(brand);`

[2018-02-11 20:17] CS-beglnner commented on #3060
Yeah that worked tank you @ismcagdas

[2018-02-11 20:24] CS-beglnner commented on #3060
@ismcagdas Sorry Sir how I can use notification service (or some else like logger) in the repository methods?

[2018-02-11 22:19] natiki commented on #3060
@CS-beglnner Have a read of the [dependency injection](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection) and [logging](https://aspnetboilerplate.com/Pages/Documents/Logging) documentation pages. They should get you started on how to at least access the logger and bring classes in via IoC.

[2018-02-12 00:41] denisvirissimo commented on #3051
@hikalkan Now it's working!

[2018-02-12 02:32] muzizongheng commented on #3052
hi Hikalkan，

thanks for your reply, I meant web project reference core will be caused domain layer exposed to presentation layer. Someone maybe use domain class directly.

Another question, Is your opinion xxx.core.shared  like infrastructure layer? Can domain layer reference infrastructure layer? I think domain layer cannot depend any other layers, I don't know my mind whether is right.

[2018-02-12 05:03] hikalkan opened #3061 "Make AuthorizationHelper public and easily overridable"
- [x] Make it public.
- [x] Make private methods as protected virtual.
- [x] Make public methods virtual.

[2018-02-12 05:03] hikalkan commented on #3058
Hmmm.. you're right. The authorization interceptor does it (actually, the [AuthorizationHelper](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/AuthorizationHelper.cs)).

Replacing `AuthorizationHelper` can be an option, however, it's internal and not possible to inherit from it (you can implement public `IAuthorizationHelper` but it requires too much copy/pas

[2018-02-12 05:05] #3051 closed

[2018-02-12 05:15] faridprogrammer commented on #3019
@ismcagdas
![image](https://user-images.githubusercontent.com/6207351/36084282-08a0eb46-0fd1-11e8-8b8a-908302690a24.png)

[2018-02-12 05:18] hikalkan commented on #3052
You're right. It can be a potential issue. That's why I suggested to create a project like Core.Shared.

It's not infrastructure layer. It just stores some code (mostly consts) shared accross the entire solution. It does not depend on 3rd-party libraries and does not implement any service used in domain or application layers (it can not because it has not a reference to those projects).

[2018-02-12 05:25] hikalkan commented on #2967
@natiki you are executing LINQ inside your watchdogjob (.ToList()), not in the domain service. So, making domain service UOW doesn't help you. You should need to add [UnitOfWork] to the ExecuteJob method.

BTW, returning IQueryable from a domain service is not a nice idea. Just directly use a repository instead.

[2018-02-12 05:37] #3060 closed

[2018-02-12 05:40] muzizongheng commented on #3052
Hi，i’m agree with you that the consts’ definition can not reference any 3rd-party libraries. i have last question(sorry for my balabala...), dose core-shared include enums of domain-layer.thanks again,发自我的iPhone------------------ Original ------------------From: Halil İbrahim Kalkan  <notifications@github.com>Date: 周一,2月 12,2018 1:19 下午To: aspnetboilerplate/aspnetboilerplate <aspnetboilerplate@nor

[2018-02-12 05:41] hikalkan commented on #3052
Yes, it can contain enums since I think enums can be shared with upper layers.

[2018-02-12 05:42] #3052 closed

[2018-02-12 06:14] ebicoglu opened #3062 "Html encode all output DTOs for Cross Site Scripting (XSS) Attacks"
For anti-XSS, encode all string fields of a JSON output.
This feature will be enabled by default (because it's an important feature for the OWASP standards)
It can be disabled by an attribute for the output DTO or can be disabled by a global setting.
Hence developers never think of (stored or reflected) malicious script injection.

[2018-02-12 08:08] andmattia commented on #3014
I test the new VS plugin to generate from scratch a new entity (DB, DTO, App, Core and UI) so I not investigate a lot on the plugin usage but I possible to extend the plugin with some feauture

1. use different name of project (ex. main is myFirstApp, my "module" myFirstModule) if is possibile to specify UI module and other class we can use VS Extension we more flexibility
2. create only part of c

[2018-02-12 08:09] kgamalseif opened #3063 "Can not register IAbpWebApiClient. It should be a non-abstract class. If not, it should be registered before"
Hi,

I am trying to test my AppService that use IAbpWebApiClient to call another AppService hosted on differnent website and this my test class:

[code]

it thrwos exeption when trying to resolve _abpWebApiClient:

Please, any one can help my on how to resolve it?

Thank you,
Khaled

[2018-02-12 08:42] AHassanabadi commented on #1441
Hello All,
How about ASP.Net MVC not core and web api,

I have neither `app.UseCors("AllowAll")` nor `services.AddMvc();` as yours mentioned links says that abilities in `Microsoft.AspNetCore.Cors`

What we can do for ASP.Net MVC with ABP?
Is there a way to config they in ABP ApplicationServices like `Initialize()`.?

[2018-02-12 10:37] natiki commented on #2967
Hi @hikalkan,

Then why is an application service implicitly UOW because it is the same thing isn't it? It also executes LINQ (off a Repository). Or are you saying that the class that *calls* a repository method and wants to take part in UOW has to be annotated to participate in UOW?

Thanks. What we call a domain service (its legacy) is actually an enhanced repository wrapper hence the IQueryable

[2018-02-12 10:41] hikalkan commented on #2967
Yes. See doc: https://aspnetboilerplate.com/Pages/Documents/Repositories#about-iqueryablet

[2018-02-12 11:01] acjh commented on #2967
`IApplicationService` is UOW because it's selected here:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/da0880a93d11e9f144d0f9f56b1492578ab9c3a3/src/Abp/Domain/Uow/UnitOfWorkDefaultOptions.cs#L40-L44

[2018-02-12 12:18] AHassanabadi opened #3064 "Enable CORS in ASP.Net mvc integrated with ABP"
In interface of IApplicationService I have decorated one of my method as `[HttpOptions]`

When I do ajax from another domain, the method will be fired from the server side but I have got the below exception in Client-Side:

Request header field Content-Type is not allowed by Access-Control-Allow-Headers in preflight response.

As This link described how to enable CORS in MVC core or WebApi in ASPN

[2018-02-12 12:29] leonardospina commented on #1192
Same issue here, had to stop/start the application pool to get it working

[2018-02-12 14:09] #3055 closed

[2018-02-12 16:45] andmattia opened #3066 "Reference Issue System.ComponentModel.DataAnnotations"
Abp 3.4.0 + Zero
Angular+NETCore

I get a clean project and I see this waring
![image](https://user-images.githubusercontent.com/8192217/36108175-7838a6e2-101c-11e8-9749-f71296175ef6.png)

[2018-02-12 16:48] andmattia opened #3067 "Error After nswag refresh, service-proxies.ts corrupted"
Abp 3.4.0 + Zero
Angular+NETCore

I add some Service and after call refresh.bat on service-proxies.ts I get this error.
![image](https://user-images.githubusercontent.com/8192217/36108308-d5f3549e-101c-11e8-81d0-ce0dd7eabf4c.png)

[2018-02-12 21:58] CS-beglnner opened #3068 "How to post collection of files and how to mapping them?"
Abp 3.4
ASP.Net Core 2
Abp Core 2 + Angular + EF Core  template

[code]
Why `Http.Request`  doesn't exist in `Abp.ApplicationService` context? I must use `AbpApiController`?

[2018-02-12 22:12] CS-beglnner commented on #3068
Sorry for asking stupid question. This project is my first Api based project I'm very newbie.

[2018-02-13 00:21] joedavis01 opened #3069 "Abp cache trouble."
ABP 3.4
AspNet Framework 4.6.1

Template MVC - JQuery

I am converting an existing MVC Intranet application to Abp and we are using and third party tool called WebClientPrint by Neodynamic. This tool caches some client printer settings and prints zpl commands directly to zebra printers.

My issue is the current application uses IMemoryCache and HttpContext.Session.Id to manage and query printers.

[2018-02-13 03:37] AtwindYu opened #3070 "How to support multiple databases in abp zero core application"

[2018-02-13 03:54] alirizaadiyahsi commented on #3068
Check following issues:

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1023
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2801

[2018-02-13 04:02] alirizaadiyahsi commented on #3070
Dublicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/952 and also check https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2476

[2018-02-13 04:02] #3070 closed

[2018-02-13 04:38] KennyEng12 opened #3071 "Object Mapper One-To-Many Relationships"
Hi, I'm using MVC5AJ1.
I'm trying to map objects from dto to entity. And I don't want to map Descriptor property at all.
So I didn't implement Descriptor property in the DTOs below.

**DTO**
[code]
[code]

**Entity**
[code]
[code]

The problem is the Descriptor property of `List<UserChoiceItem>` became null after the automapping, which is:
`_objectMapper.Map(CreateOrUpdateUserChoiceGroupInput, Use

[2018-02-13 05:28] KennyEng12 commented on #3071
[code]

[2018-02-13 05:37] ismcagdas commented on #3069
@joedavis01 have you tried like this example https://aspnetboilerplate.com/Pages/Documents/Caching#icachemanager ?

[2018-02-13 06:00] ismcagdas commented on #3067
@andmattia have you changed swashbuckle configuration on the server side ?
Can you also share your nswag config file ?

[2018-02-13 06:03] ismcagdas commented on #3066
@andmattia is there any warning messages ?

[2018-02-13 08:05] KennyEng12 commented on #3071
Or is there any other way to update parent and child table? I've stuck here for few days.

Thanks.

[2018-02-13 08:25] KennyEng12 commented on #3071
I tried to add Descriptor property to DTO and do the automapping with the codes:
[code]
But I got this exception:

I'm not clear about why update would affect to the relationship and FK?

Thanks.

[2018-02-13 12:41] andmattia commented on #3067
@ismcagdas I don't change anything. I leave project in TS 2.5 and not update to 2.7
[code]

[2018-02-13 13:06] andmattia commented on #3066
@ismcagdas this is the log from console:

[2018-02-13 13:26] andmattia commented on #3067
Probably I found the problem.

I my project I've 2 objs FileDto (ProjA and ProjB) in old solution I use Swagger with fullname anc in Core I set the same config
[code]

[2018-02-13 14:04] ismcagdas commented on #3067
Thanks for your feedback @andmattia. As far as I know, NSWAG is not able to handle such cases very well.

[2018-02-13 14:04] #3067 closed

[2018-02-13 14:05] ismcagdas commented on #3066
@andmattia could this be the problem https://github.com/dotnet/core/issues/730#issuecomment-314611284 ?

[2018-02-13 14:56] ismcagdas commented on #3063
@kgamalseif can you try it like this https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/test/Abp.AspNetCore.Tests/Tests/AuthTestController_Tests.cs  ?

[2018-02-13 14:57] ismcagdas commented on #1441
Is this the same problem https://stackoverflow.com/questions/48744204/aspnetboilerplate-enable-cors ?

[2018-02-13 14:59] ismcagdas commented on #3064
@AHassanabadi I think this is the same question https://stackoverflow.com/questions/48744204/aspnetboilerplate-enable-cors, right ? Since the conversation is gone further in stackoverflow, I think it is better to continue on https://stackoverflow.com/questions/48744204/aspnetboilerplate-enable-cors.

[2018-02-13 14:59] #3064 closed

[2018-02-13 16:08] okezieokpara commented on #2953
So, I have been making a few changes to this. Though small changes (cos I am busy), you guys might want to take look.
Also, I will appreciate anyone with knowledge of Angular to help me walk through the Angular project

[2018-02-13 16:34] joedavis01 commented on #3069
I did take a look at that document however it looks like I have to create a factory that returns a printCacheItem through the application layer correct?

I like this idea going forward, but is there a way to simple get the item similar to this for just a quick evaluation?
`_MemoryCache.Get<string>(sessionID + "wcppInstalled")
`

[2018-02-13 18:06] CS-beglnner opened #3075 "No webpage was found for the web address: http://localhost:21021/"
ASP.Net Core 2.x Abp 3.5+ Spa Angular (include module Zero)
One Solution (Merged AngularUI and Host project)
I just downloaded latest Abp template  and build as Abp guides but got that error when try running the application.
console output:

[code]

[2018-02-13 19:06] CS-beglnner commented on #3075
when I trying extracting the .zip project I got the duplicated "Web.config" file. I'm sure this error is about AngularUI and web.host migration.

[2018-02-13 19:26] ismcagdas commented on #3075
@CS-beglnner haven't tried but it should work at http://localhost:21021/swagger.
In order to see angular ui, just run "npm start" in the root folder of *.Web.Host project on the command prompt.

You are right about two web.config file, @alirizaadiyahsi can you check it ?

![image](https://user-images.githubusercontent.com/4133525/36169240-c3fd440c-110c-11e8-814d-6e6650f21e68.png)

[2018-02-13 19:37] ismcagdas commented on #3069
You should be able to get a cache item like below;

`_cacheManager.GetCache<string, TypeOfYourCacheItem>(sessionID + "wcppInstalled")`

[2018-02-13 19:52] CS-beglnner commented on #3075
@ismcagdas Yes is work at http://localhost:21021/swagger/

[2018-02-13 20:03] CS-beglnner commented on #3075
@ismcagdas I got internal error 500 after `nmp install` then `npm start`

[2018-02-14 01:28] CS-beglnner commented on #3075
@ismcagdas I cant run Angular UI. When I using stdoutLog = true in web.config or using npm test in command prompt  I got errors about angular components.
here is start of many lines errors:
[code]

[2018-02-14 05:16] ismcagdas commented on #3075
@CS-beglnner I assume you have installed npm dependencies first using **yarn**  or **npm install** command before running **npm start**, right ?

[2018-02-14 06:58] AHassanabadi commented on #1441
Yes that is the same, I came to this conclusion to change all my Application Service to WebApiController because I can retrieve Session in ApplicationService layer easily and some other things are not easy, so as AbpApiController does not generate proxy for all Controller like ApplicationService let See
[code]
I want to something like `abp.services.fep.newService.do()` is this possible ?

[2018-02-14 09:13] CS-beglnner commented on #3075
@ismcagdas True, I used npm install , can yarn be useful?

[2018-02-14 09:21] CS-beglnner commented on #3075
@ismcagdas I'm trying **yarn** for new extracted project and getting some warning about our resource version

[code]

[2018-02-14 09:29] RajeevS1 opened #3077 "NOT ABLE TO DEBUG .NET CORE APP IN VS 2017"
Hi,

I got the latest version of AspNetZero Core template and tried to run in VS 2017. But when I try to run the app in debug mode, the app crashes instantly and I get the following message in Output window.

'dotnet.exe' (CoreCLR: DefaultDomain): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.5\System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the deb

[2018-02-14 09:39] ryancyq opened #3078 "Refactor abp.signalr-client ES6 Code"
For browser that does not support ES6, the following [catch block](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Resources/Abp/Framework/scripts/libs/abp.signalr-client.js#L62) of `abp.signalr-client` script will fail to catch any error being thrown.

[code]

[2018-02-14 10:38] yekalkan commented on #3077
Please contact to info@aspnetzero.com about this problem.

[2018-02-14 10:38] #3077 closed

[2018-02-14 10:39] ismcagdas commented on #3075
@CS-beglnner those are warnings, you can ignore them. When you use "npm install", it installs newest minor version of each library. I guess on of the libraries used in angular project causes your initial problem.

If it is working with yarn, then you can go like that.

[2018-02-14 10:39] #3075 closed

[2018-02-14 10:41] ismcagdas commented on #3078
Thanks a lot @ryancyq, we will change it for the next version.

[2018-02-14 17:02] acjh commented on #3071
Add `[IgnoreMap]` to `UserChoiceGroup.UserChoiceItems` collection.

[2018-02-14 17:33] dolphinsd opened #3082 "Override base path for service api"
1. What about base path, like /api/services/, I want to change '' - empty string so just /api/
2. What about custom mapping path, for example I want to remap all reference to OgranizationUnits controllers, simply to Groups, can I configure it?

Looks like a simple configuration enhancement?

Can I override AbpWebApiModule and PostInitialize?

[2018-02-14 19:20] CS-beglnner commented on #3071
@acjh Some problem in EF core, Why we need using `[IgnoreMap]` ? Am I should using this for many-to-many in Net Core 2.0 EF Core  too?

[2018-02-14 19:39] CS-beglnner commented on #3071
EF Core 2.0 after using `[IgnoreMap]`
`Unable to determine the relationship represented by navigation property 'Category.Brands' of type 'ICollection<Brand>'. Either manually configure the relationship, or ignore this property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.`

[2018-02-14 19:44] Ivangrasp commented on #3071
If you debug and check the value of ```userChoiceItem.Descriptor```, is it ```null```? Is ```userChoiceItem``` also ``null```?

@CS-begInner
Unless your code is exactly the same as @KennyEng12, it may be helpful to add the code generating the issue. This will help to narrow down the issue.

On top of that, maybe this is an issue with automapper and not with abp.

[2018-02-14 20:19] CS-beglnner commented on #3071
@Ivangrasp That worked with using [NotMapped]. `using System.ComponentModel.DataAnnotations.Schema;` But I want tips or guides tounderstanding what happens to may entities if I using `[NotMapped]` or `[IgnoreMap]`. I just started my new project and I'm student.
[code]

[code]

`add-migration` console output

[code]

[2018-02-15 00:05] joedavis01 commented on #3069
Worked thanks...

[2018-02-15 00:05] #3069 closed

[2018-02-15 02:30] mohammad-shadmehr commented on #2831
I did not quite get where I should add the Nuget.Config file to!? in the Web.Core project? in where the Solution (.sln) is?! I tried both an still getting the same error!

[2018-02-15 02:33] acjh commented on #2831
Restart your Visual Studio.

[2018-02-15 02:39] mohammad-shadmehr commented on #2831
thanks, but I am still not quite sure where to place the Nuget.package file at though!

[2018-02-15 02:47] mohammad-shadmehr commented on #2831
thanks it did the trick!

[2018-02-15 06:29] ismcagdas commented on #3071
@CS-beglnner I suggest you to read this https://docs.microsoft.com/en-us/ef/core/modeling/relationships to understand if you are doing anything wrong with EF Core.

It seems liek your latest code also doesn't work well with EF Core.

[2018-02-15 11:06] CS-beglnner commented on #3071
@ismcagdas Thank you Sir for link. I changed my code using that article. Please if possible I need a green light from you Mr to continue that for all of my entities. My code working now with EF Core?

[code]
[code]

[code]

Thank you for giving your time to me

[2018-02-15 11:47] #3061 closed

[2018-02-15 13:10] ismcagdas commented on #2996
@flexem We have checked this issue but if we remove lock totally, in that case, *Connected and *Disconnected events might be triggered more than once.

It is better to use a seperate thread in the registered events (UserDisconnected in this example).

[2018-02-15 13:10] #2996 closed

[2018-02-15 16:17] andmattia commented on #3066
@ismcagdas I remove the reference, so I clean obj & bin I do a dotnet restore and now the problem is gone. I'm not sure why... but it's gone!

[2018-02-15 16:17] #3066 closed

[2018-02-15 19:14] pagner opened #3084 "Can't override initialize method in dbcontext"
Hi there,
I am using abp 3.4.0

I need to set a global filter much like this question here:
https://forum.aspnetboilerplate.com/viewtopic.php?t=5065&p=11990

Problem is, the initialize method is no longer in the base class. Where did it go? Where do I now set "SetFilterScopedParameterValue" to be global? I nee to set a session variable that is global much like tenantId

thanks

[2018-02-15 19:20] #3084 closed

[2018-02-15 19:29] ismcagdas commented on #3066
Thanks for the feedback. Probably a Visual Studio problem.

[2018-02-16 03:00] willseward opened #3085 "Permissions for clients (non-users)"
I'm curious if there is any built-in mechanism for authorizing clients (non-users, other servers, devices) to execute application service methods based on their claims. Not all service methods need or make sense for a user to execute, specifically from clients with tokens derived from a ```client_credentials``` flow. Here's a SO question that explains it in better terms than I can.

https://stacko

[2018-02-16 04:56] ebicoglu commented on #3085
hi, not to mess with the current code base, is it possible for you to use (Table-Per-Hierarchy)[https://weblogs.asp.net/manavi/inheritance-mapping-strategies-with-entity-framework-code-first-ctp5-part-1-table-per-hierarchy-tph]? so you'll have a user type like _OutsourceUser_ inherited from user.

[2018-02-16 07:09] mohammad-shadmehr commented on #2831
I have successfully added SignalR to my asp core solution (ASP Zero). For some reason the notification is not real time and I have to still refresh the page to get the notification bell jingling!
All I have is a button on my Angular page which would call a service to publish a notification! in the same page where the button is I have defined a function to register to a notification:
`registerEvent

[2018-02-16 08:13] ismcagdas commented on #3071
@CS-beglnner seems well, you can continue like that. I personally don't prefer to new navigation lists in it's definition but I prefer to do it in the constructor of entity.

[2018-02-16 08:13] #3071 closed

[2018-02-16 12:12] beriniwlew opened #3087 "API Throttling"
Are there any plans to introduce throttling of the API?

I read an interesting article about it today :
https://lachlanbarclay.net/2018/02/throttling-your-api-in-asp-dot-net

Good Pull Request Candidate?

Or is it better left to the IT department to handle the traffic?

[2018-02-16 13:35] acjh commented on #2710
Resolved by #3030

[2018-02-16 13:35] #2710 closed

[2018-02-16 13:38] acjh commented on #2710
Link: [EF Core MySql Integration](https://aspnetboilerplate.com/Pages/Documents/EF-Core-MySql-Integration)

[2018-02-16 14:03] hikalkan commented on #3087
You can check this one: https://github.com/stefanprodan/AspNetCoreRateLimit
We used it before and it works.

[2018-02-16 17:44] ogix commented on #3087
I have also used this lib before but I guess there are some performance issues if you are not using distributed cache: https://github.com/stefanprodan/AspNetCoreRateLimit/issues/12

[2018-02-16 19:30] Donistivanov opened #3095 "[RemoteService(false)] does not work on method in .NET Core"
I can still request against the controller/actions made from my application service which I derive from the `AsyncCrudAppService`. But the routes are hidden from swagger, to be sure. I am using the module zero core template.

For example I have

[code]

and I can submit a request to get

[code]

I tested it on the class, and it works on the whole class.

[2018-02-16 22:26] willseward commented on #3085
I could, but generally clients that are connecting aren't usually humans, so inheritance from ```User``` doesn't really make semantic sense.

One use-case is for servers or other hosts to connect to a reporting service. Each host would have a set of permissions assign to it (probably through roles).

I imagine I could hack together a solution by inheriting and replacing ```AbpSession```, ```IPermi

[2018-02-17 01:47] Xeevis opened #3096 "Unable to merge IQueryable for AsyncCrudAppService GetAll"
Hi, I have simple Product AsyncCrudAppService and I'm trying to override GetAll method to exclude duplicates based on property `ProductGroupId` so I get only one product per group in the result, but I also need to include all products that are not in any group (NULL). I've tried things like `Concat/Union` but these result in strange errors (key cannot be null, AnonymousObject etc).

    public ove

[2018-02-17 02:30] acjh commented on #3095
I've made a PR.

# Workaround

Configure controller model in [AbpProjectNameWebCoreModule](https://github.com/aspnetboilerplate/module-zero-core-template/blob/a8134370dc22a64dc99a7f6f758044c7189c135b/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/AbpProjectNameWebCoreModule.cs#L53-L56):

[code]

[2018-02-17 02:40] acjh commented on #3096
Remove `.Where(x => x.ProductGroupId != null)`

[2018-02-17 02:52] Xeevis commented on #3096
If I keep both queries it will then return just 1 product. The first query with GroupBy will create groups including NULL group and select first from each group. The second query will then filter out all that are not grouped leaving just that 1 ungrouped product.

[2018-02-17 03:14] acjh commented on #3096
`Union` works:

[code]

[2018-02-17 03:31] Xeevis commented on #3096
That gives me the exception :( Perhaps it's because `ProductGroupId` is a nullable int?

    ArgumentNullException: Value cannot be null. Parameter name: key
        System.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
        System.Collections.Generic.Dictionary.FindEntry(TKey key)
        System.Collections.Generic.Dictionary.get_Item(TKey key)
        Microsoft.EntityFrame

[2018-02-17 03:49] natiki commented on #3087
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1157

[2018-02-17 04:17] Donistivanov commented on #3095
@acjh Do you drive stick, because you came in clutch.

Thanks for this!

[2018-02-17 05:21] Donistivanov commented on #3095
@acjh

I am now using the workaround but I am afraid it introduced a new bug.
What I have right after is two `await` calls to two different `Manager` classes, and I get a 500 error with 0 help on the console output.

As I step through my code it brings me immediately into the `xxxEntityFrameworkModule` and runs the `PreInitialize` method over and over again (from what I can tell). Initially I did

[2018-02-17 10:44] ismcagdas commented on #3096
@Xeevis can you also share your entity definition ?

[2018-02-17 10:52] Xeevis commented on #3096
It has lots of properties but if I cut it out it's just

    public class Product : Entity
    {
        public ProductGroup ProductGroup { get; set; }
        public int? ProductGroupId { get; set; }
        (...)
    }

Also my `CreatedFilteredQuery` if it's of any help

    protected override IQueryable<Product> CreateFilteredQuery(PagedAndSortedResultRequestDto input)
    {
        return Repo

[2018-02-17 14:34] hikalkan commented on #3087
I'm closing this one since there are alternatives and we don't think to work on that in a near future. I will let #1157 to remain open.

[2018-02-17 14:34] #3087 closed

[2018-02-17 16:10] #3095 closed

[2018-02-17 16:14] Donistivanov commented on #3095
The problems I had are not from the workaround, there is something going on with my session logic.

This works, to be sure!

[2018-02-17 16:15] hikalkan commented on #3085
Hi @willseward

You're right. ABP does not offer a built-in solution for that. Currently, the only way seems to add https://www.nuget.org/packages/Microsoft.AspNetCore.Authorization package and use asp.net core's standard authorization system.

[2018-02-18 16:10] brunobertechini commented on #2500
Thanks @hikalkan, closing...

[2018-02-18 16:10] #2500 closed

[2018-02-18 16:12] brunobertechini commented on #1476
Hello @Juslwk , sorry for the delay. They are included in each module's EntityFramework Module Initialize (or post initialize).

Every module use Migrations Api to update its own database.

[2018-02-19 12:33] #2691 closed

[2018-02-19 12:53] saeedallahyari opened #3103 "Custom Model Binder For Application Service"
Hi.
Kindly.

I'm working on encrypt/decrypt scenario for DTO fields.
Application service method send encrypted value from server to client. then in Edit scenario user made some changes and submit it.
so, I can handle encrypt/decrypt over MVC controller by adding custom model binder and change encrypted Id to plain Id(as long) because I can get request parameters in model binder and cast it.
On the

[2018-02-19 15:42] acjh commented on #3096
Related issue: https://github.com/aspnet/EntityFrameworkCore/issues/11007

[2018-02-19 19:38] ismcagdas commented on #3103
@saeedallahyari are you working on MVC 5.x or ASP.NET Core ?

[2018-02-19 22:00] satishkumar-t commented on #1989
Hi,
I am unable to add [DontWrapResult] attribute ti my controller. Hope this needs respective assembly reference i.e Abp.Web.Models.
But when I try to install the ABP from nuget in VS 2017 Core 2.0 Web API solution, it is throwing following errors.

Error finding repository for 'https://www.myget.org/f/framework_soa': An error occurred while retrieving package metadata for 'Abp.Web.3.4.0' from so

[2018-02-19 22:41] acjh commented on #1989
`DontWrapResultAttribute` is in [Abp](https://www.nuget.org/packages/Abp/) package. Just add:

[code]

[2018-02-20 02:58] willseward commented on #3085
@hikalkan I think I will create my own filter. That seems to be the most scalable way to implement without futzing around with the internals.

Thanks

[2018-02-20 02:58] #3085 closed

[2018-02-20 04:45] ebicoglu commented on #3103
hi, do you know that you can get raw request stream, below code shows how to access request input stream. I don't think it's the best way of getting your parameters but it's a way :)

[code]

[2018-02-20 05:32] #895 closed

[2018-02-20 05:36] #835 closed

[2018-02-20 05:58] kgamalseif commented on #3063
@ismcagdas
Thank you for reply.
Since my project is MVC 5 + Angularjs, I am inherting my testbase from AbpIntegratedTestBase not AbpAspNetCoreIntegratedTestBase, Is there any way to test it with AbpIntegratedTestBase ?

[2018-02-20 06:25] ebicoglu commented on #3068
ApplicationServices provide data to application . Web layer can consume it via AbpApiController. But if we want to create a windows service that has to use the application services, why would need a **System.Web** reference!

[2018-02-20 06:25] #3068 closed

[2018-02-20 16:28] ahmedtolba1984 opened #3106 "aspnetboilerplate best practices in Domain Driven Design"
Hi Guys,
We use **aspnetboilerplate** to build Enterprise application, We use **DDD**  patterns and practices in our solution, Each module is a separated bounded context along with its EFDbContext Core but with a single database, Also, We use the Aggregate Pattern i.e We don't use Navigation Properties related to other aggregates in our aggregates.
I have some issues
1- I want to build a query bui

[2018-02-20 18:42] Ivangrasp commented on #3096
Do you need to use ```Union```? Do you have the same issue if you use ```Concat``` instead?

[2018-02-20 19:07] Xeevis commented on #3096
@Ivangrasp Concat gave same results as Union 😞. This issue turned to be one of those you waste many hours on and solution turns out to be super simple. All I had to do was to make good old switcheroo ♻️.

Instead of this (throws ArgumentNullException)

    query = query.Where(x => x.ProductGroupId != null).GroupBy(x => x.ProductGroupId).Select(x => x.First())
        .Union(query.Where(x => x.Prod

[2018-02-20 19:07] #3096 closed

[2018-02-21 04:36] saeedallahyari commented on #3103
@ismcagdas I'm working on MVC 5.x

[2018-02-21 04:43] saeedallahyari commented on #3103
@ebicoglu where should I use it?
I think, I should use before Intercept method call.
In my case, sometimes `HttpContext.Current` is null in Interceptor class level and it's not an static class.

[2018-02-21 11:15] dedlfix opened #3107 "Dependencies for creating a Module missing in documentation"
The documentation at https://aspnetboilerplate.com/Pages/Documents/Module-System doesn't mention what dependencies are required when creating a Module so that it can derive from AbpModule. Please add the indended way, like adding a NuGet package or reference a DLL from the file system when template is installed or whatever.

[2018-02-21 14:11] samiozer opened #3109 "Sub Module yapısı hakkında"
Merhabalar,
Aşağıdaki kodda görüldüğü üzere, ben modülleri bir birini Depend eder şekilde yazdığımda, Depend edilen module, Depend edenden önce çalışması gerekmez mi? Yani şu sıra ile modul lerin ayağa kalkması gerekli dye düşünüyorum.

KernelModule
MyModule2
MyModule1
MyStartupModule

Ama şuanda EnsureStartupModuleToBeLast metodu ile sadece MyStartupModule  sona alınıyor ve moduller aşağıdaki sır

[2018-02-21 14:14] hikalkan commented on #3109
Can you please write in English? Thanks.

[2018-02-21 16:04] acjh commented on #1945
Resolved by #3038

[2018-02-21 16:04] #1945 closed

[2018-02-21 16:04] acjh commented on #1945
Link: [EF Core Sqlite Integration](https://aspnetboilerplate.com/Pages/Documents/EF-Core-Sqlite-Integration)

[2018-02-21 16:16] #2763 closed

[2018-02-21 21:51] Lefka opened #3111 "Incorrect query generated by EF when using FullAuditedEntity"
I'm upgrading from Abp 0.9.0 to 3.2.4. Two queries that were working fine previously are failing now. The root cause appears to be the `FullAuditedEntity` base class.

The error being generated is: `{"Unknown column 'Extent1.ParentId' in 'where clause'"}`, which after checking the query executed, it's not using the foreign keys to do the joins and is producing a query that doesn't work.

Assume th

[2018-02-21 22:54] acjh commented on #3111
Show the produced query.

[2018-02-22 00:29] Lefka commented on #3111
@acjh Updated the original post with both generated SQL queries.

[2018-02-22 12:47] hikalkan commented on #3106
Hi,

These are common questions (independent from the framework) and subject to a good discussion. It would be better if you ask on stackoverflow.

[2018-02-22 12:53] hikalkan commented on #3107
``AbpModule`` class is defined in the core [Abp package](https://www.nuget.org/packages/Abp). Any ABP based solution (and all templates) has already a reference to that package. Should I indicate it?

[2018-02-22 15:50] ktngoykalolo opened #3114 "Deploying ABP as a 2 Tier system"
Hello,
If I want to deploy ABP in a 2 Tier system, with an Application servers  tier and Front-End Tier,
is there any particular considerations ?
I would probably deploy the WebApi layer as App Tier, and the WebMvc layer as Front-End Tier ?

[2018-02-22 20:13] ismcagdas commented on #3114
@ktngoykalolo MVC 5.x versions of ABP templates are not designed to work like that. If you haven't started your project, I suggest you to go with ASP.NET Core & Angular template.

[2018-02-22 21:52] dedlfix commented on #3107
If you create a new module in a new project - because of "Generally, an assembly is considered a module.", so a module is considered to be created in a new project - then this new project has no references to ABP. It doesn't automatically adds packages that are already in the solution. I miss in the documentation that you need to reference package YouKnowIt.ButIDont to be able to inherit from AbpM

[2018-02-23 04:07] mohammad-shadmehr opened #3116 "2 ways binding with DateTimePicker (Angular)"
HTML:
`<input class="form-control" type="datetime" #RequiredByDate name="RequiredByDate" [value]="formatDate(hitchRequest.requiredByDate, 'LT')" required>`

`formatDate(date: any, format: string): string {
    return moment.utc(date.toString()).local().format(format);
}`
It show the local time when getting the value from DB, but now the issue is when updating its value. When I save the form it con

[2018-02-23 04:26] ebicoglu commented on #3111
Change your entity declarations like below;
[code]

[2018-02-23 05:44] ismcagdas commented on #3116
@mohammad-shadmehr

* If the value of Clock.Provider is ClockProviders.Utc, then ABP converts your date to UTC.
* If the value of Clock.Provider is ClockProviders.Local, then ABP converts your date to local time.
* If the value of Clock.Provider is ClockProviders.Unspecified , then ABP doesn't do anything about your date.

You can check which clock provider you are using now, then you need to send

[2018-02-23 05:59] mohammad-shadmehr commented on #3116
Thanks, Where exactly I should check for the ClockProviders? I assume it is set to UTC as it always converts it to UTC. My question is about 2 ways binding on DateTimePicker. In the sample in the project I ialso noticed that you did not do 2 ways data binding with the DatetimePicker and manually getting its value from the field and set it to the object to be sent to the server:

`submitDateTime():

[2018-02-23 06:16] ismcagdas commented on #3116
@mohammad-shadmehr you are right, we don't have a sample in ABP templates.
But, basically you need to bind date object to your input, not it's formatted string value.

You can debug your server side code and check the value of Clock.Provider in Startup.cs.

[2018-02-23 06:42] mohammad-shadmehr commented on #3116
I see. I actually did the same thing and have bound the date to the field and then format and local it to show it to the user. the problem is as described in the above scenario every time the datetime is sent to the server it deals it as a local time and converts it to UTC. I noticed that there is a property on the moment object as isUTC which is always false. do not know how to set that to true f

[2018-02-23 06:45] ismcagdas commented on #3116
@mohammad-shadmehr I think it is related the value when you send datetime to server. Can you share a screenshot of your request including the datetime value ?

[2018-02-23 08:52] hikalkan commented on #3107
Yes, but Abp.AspNetCore already depends on the Abp package. So, the template indirectly include the Abp package.

But I got the point and add this information to the module document. Thanks for your suggestion.

[2018-02-23 08:58] hikalkan commented on #2688
To be honest, did not understand your problem and did not work on that :(

[2018-02-23 09:28] Znow commented on #2688
@hikalkan I think I thoroughly explained it, but why didn't you respond that you didn't understand it? :-)

The problem is as following:

I am using LDAP authentication in a project.

I have 2 domains, Domain A and Domain B, and a user in each, User 1(Domain A), User 2(Domain B). Pretty simple.

My server/machine/workstation is on Domain A, but I want to sign in, with User 2(Domain B).

So, in the

[2018-02-23 09:42] hikalkan commented on #2688
Hmmm.. I suppose I understood now.

`LdapAuthenticationSource.CreatePrincipalContext` method uses a single domain as you can see. It can not work with multiple domains based on the given user with the current design. See the code:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs#L117-L128

The solution would be takin

[2018-02-23 09:54] hikalkan commented on #2688
After new version release, you will be able to override one of the new ``CreatePrincipalContext`` methods to create a different PrincipalContext based on user info.

See my commit: https://github.com/aspnetboilerplate/aspnetboilerplate/commit/bd4965e8f00e305f071791d7865742fcf8b984a6

[2018-02-23 09:57] Znow commented on #2688
@hikalkan Thanks! I will have a look at it in the next few days, and see if it works out.

[2018-02-23 09:59] hikalkan commented on #2688
OK, reopen this if it fails.

[2018-02-23 09:59] #2688 closed

[2018-02-23 10:28] mohammad-shadmehr commented on #3116
![capture](https://user-images.githubusercontent.com/8295373/36589340-ddcc1856-18da-11e8-8bc6-681b724a2ded.PNG)
Here is the sending request..
Here is what has happened:

- Before I send the request the value of the requiredByDate in DB was: 2018-02-23 05:40:00.0000000
- The requiredByDate value was populated into the field as 2018-02-23 16:10:00.0000000 (Im in Australia +10:30) which is right conv

[2018-02-23 10:48] KennyEng12 commented on #2899
Hi,

May I know is this being implemented? Because I'm trying to use Localization in DTO level.

Thanks.

[2018-02-23 11:10] hikalkan commented on #2899
@reberinformatik:

You can just create an extension method for that (this method resolves the ILocalizationManager and localizes the given string).

If you want to send a PR, it's accepted.

[2018-02-23 14:39] ismcagdas commented on #3116
@mohammad-shadmehr if you have access to AspNet Zero's source code (demoUiComponentsSample), then you can use date picker directive for this. Have you tried it ?

[2018-02-23 16:08] ktngoykalolo commented on #3114
thank you.

I have already started the project.

is there a way to decouple the layers ?

________________________________
From: İsmail ÇAĞDAŞ <notifications@github.com>
Sent: Thursday, February 22, 2018 9:13:09 PM
To: aspnetboilerplate/aspnetboilerplate
Cc: Kevin Tshimanga Ngoy Kalolo; Mention
Subject: Re: [aspnetboilerplate/aspnetboilerplate] Deploying ABP as a 2 Tier system (#3114)

@ktngoykalo

[2018-02-24 13:53] beriniwlew opened #3120 "NHibernate Tests failing"
I just ran some tests.  The Nhibernate related tests are failing.  Is this known?

[2018-02-24 13:58] jeremyyang824 opened #3121 "DapperExpressionVisitor Issue at VisitConstant"
I found an issue in Abp.Dapper at [DapperExpressionVisitor.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Dapper/Dapper/Expressions/DapperExpressionVisitor.cs) when it convert constant expression

Test Code:
[code]
And it will throw an exception at GetCurrentField method.

When we compose expression on demand, use true constant as the initial expression it useful.

I t

[2018-02-24 14:11] acjh commented on #3121
@zhangwstar Any thoughts?

[2018-02-24 15:02] CS-beglnner opened #3122 "Is possible a multi-tenancy/multi-db apps had shared user db?"
If yes, How ABP can find user's tenant at login request? I need config AccountManager?

[2018-02-24 15:18] CS-beglnner commented on #3122
I want create  a simple marketplace where users can create own store with specific Database and back-end panel. Then a public site (at host tenant) had a list view of they's products for some request like searching or etc. If is possible then I can remove users dashboard and they data from host DB.

[2018-02-24 15:46] CS-beglnner commented on #3122
After reading [this](https://stackoverflow.com/questions/9343705/building-a-web-application-with-multiple-database-instances-or-just-a-single-ins) I found using multi-db is ridiculous for my project 👎 :)
multi-tenancy is best choice

[2018-02-24 15:46] #3122 closed

[2018-02-24 18:22] jdvachal opened #3123 "Razor Pages - The name 'PageContext' does not exist in the current context"
When using razor pages in the dotnetcore 2.0 template the following exception is thrown at runtime when rendering a _page_ that inherits from [ProjectName]RazorePage<TModel> which has AbpRazorPage<TModel> as it's base class.

`The name 'PageContext' does not exist in the current context`

This tracks https://github.com/aspnet/Mvc/issues/6769

I've worked around this by creating a different base cl

[2018-02-24 20:04] vitalii-mostivskyi commented on #2494
Adding binding to `System.Net.Http` helps me to solve the same problem. Boilerplate version 3.4.0

[2018-02-25 03:11] mohammad-shadmehr commented on #3116
@ismcagdas this is the code from the demoUiComponentsSample:
HTML:
`<div class="form-group m-form__group row">
                <label class="col-md-12">Default datetime picker</label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <input type="datetime" #SampleDateTimePicker name="SampleDateTimePicker" class="form-control">
                </div>
                <div

[2018-02-25 03:16] acjh commented on #2321
Answered in this SO question: [ABP 401 response from API instead of redirect](https://stackoverflow.com/a/48969686/8601760)

# ASP.NET Core 1.x

ABP v2.x / module-zero-core-template v2.x

Modify [`IdentityRegistrar`](https://github.com/aspnetboilerplate/module-zero-core-template/blob/99798a82fdf602cbfcaff525dabee1410e6cec16/aspnet-core/src/AbpCompanyName.AbpProjectName.Core/Identity/IdentityRegist

[2018-02-25 07:30] iyhammad opened #3124 "Object reference not set to an instance of an object (Entity History)"
Abp package version.: 3.4.0
base framework: .Net Framework
Exception:
[code]
I feel this is happening because Telerik is using second thread to some job with the report and this second thread doesn't have AbpSession and also doesn't have HttpRequest and so it has this issue.
Edit:
I tried to disable the EntityHistory using this
[code]
But it has no effect.

[2018-02-25 08:05] iyhammad commented on #3053
Hi @hikalkan ,
Do you have any idea where can I investigate in this issue ?

Thanks,

[2018-02-25 10:35] ismcagdas commented on #3124
@iyhammad even if you disable EntityHistory, AbpSession is used here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.ZeroCore.EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs#L69.

So, as a temporary workaround, you can override CreateEntityChangeSet method of EntityHistoryHelper.

@acjh should we check if AbpSession is null or not ? An EntityHistory record might

[2018-02-25 10:43] ismcagdas commented on #3116
@mohammad-shadmehr yes you are right. Have you tried usin it this way ? By the way, have you checked the value of your Clock.Provider ? If you don't want ABP to change your dates, just set it like below;

`Clock.Provider = ClockProviders.Unspecified;`

[2018-02-25 11:01] mohammad-shadmehr commented on #3116
Yes it works fine if I set the value through the native element but I was hoping that I could do it via 2 way data binding! With regard to the clock.proveider I have set to be UTC in the startup.cs. Here is my wonder though: if I send a request with a datetime as 2018/02/25 00:00:00 should expect the value to be stored in DB changes to 2018/02/25 10:30:00 or the same as the sent request? At the mo

[2018-02-25 11:03] ismcagdas commented on #3116
`I was hoping that I could do it via 2 way data binding!`
This is actuall not related to ABP Framework directly. You can use a native datepicker (ngx-bootstrap or primeng calendar). But I'm not sure if they support moment or not.

If you are using UtcClockProvider and if your date is not converted to UTC, then there might be a problem related to ABP.

[2018-02-25 12:07] iyhammad commented on #3124
Thank you @ismcagdas for the workaround.

[2018-02-25 12:15] acjh commented on #3124
`AbpSession` won't be null. `AbpSession.UserId` can be null, which is fine.

From the stack trace, it seems `HttpContext.Request` is null. That's unexpected.
I was aware that `HttpContext` could be null, which is already handled (see below).

@iyhammad Since a repro involves Telerik, could you subclass `HttpRequestEntityChangeSetReasonProvider` with the following change and replace `IEntityChangeS

[2018-02-25 12:26] mohammad-shadmehr commented on #3116
@ismcagdas thanks for your comments. So, seems something is wrong with ABP then. I have set the Clock.Provider to UTC and nothing is being converted from the request to the value saved in DB. Whatever I am sending is what is saved in DB

[2018-02-25 12:38] mohammad-shadmehr opened #3125 "ClockProviders.Utc does not convert the datetime to UTC"
I am using ASPNet.zero template. I have set the ClockProviders.Utc in the startup.cs Configure method. When I send a Datetime in the request the value is not converted to UTC automatically and is saved in DB as it was sent in the request.

[2018-02-25 19:25] ismcagdas commented on #3125
@mohammad-shadmehr can you also share the value you send to the server.

Are you calling an app service via ajax ? If so, I assume you are using ASP.NET Core, right ?

[2018-02-25 19:25] ismcagdas commented on #3116
@mohammad-shadmehr maybe. We can close this I think because you have created a seperate issue for that here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3125.

[2018-02-25 19:26] #3116 closed

[2018-02-25 19:31] ismcagdas commented on #3120
@beriniwlew yes, it is a know issue. In this way, NHibernate tests pass on AppVeyor CI. It is a x86/x64 problem.

[2018-02-26 01:55] KennyEng12 commented on #2899
Hi @hikalkan,

What should I do after I create an extension method for it? Inject into DTO?

What does PR stands for?

Thanks.

[2018-02-26 05:46] hikalkan commented on #2899
No. Just a static [extension method](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/extension-methods) for CustomValidatationContext class.

[2018-02-26 05:49] ebicoglu commented on #3123
thanks for the solution

[2018-02-26 05:49] #3123 closed

[2018-02-26 05:52] ebicoglu commented on #3121
@osoykan any thoughts? :)

[2018-02-26 05:53] #2321 closed

[2018-02-26 08:24] AtwindYu opened #3127 "abp NetCore exception:No component for supporting the service AbpDemo.Application2.Students.StudentAppService was found"
### about the issue

* Create another Application Layer named with AbpDemo.Application2。
* config the AbpDemoApplication2Module  like this:

[code]

* Create StudentAppService and IStudentAppService in this assembly.
* Config the AbpDemo.Web.Host 's AbpDemoWebHostModule like this:
`Configuration.Modules.AbpAspNetCore().CreateControllersForAppServices(typeof(AbpDemoApplication2Module).Assembly, mod

[2018-02-26 08:26] ismcagdas commented on #3127
@AtwindYu does your AbpDemoWebHostModule depends on AbpDemoApplication2Module ?
If so, can you share your StudentAppService and IStudentAppService definitions ?

[2018-02-26 08:29] AtwindYu commented on #3127
ok, i add this ,it's work. thank you very much.

[2018-02-26 08:30] #3127 closed

[2018-02-26 09:18] ktngoykalolo commented on #2030
what about simple Visual studio snippets ?

[2018-02-26 20:38] lommez opened #3128 "Thread-Safe MemoryDb"
Are the any plans to make MemoryDb to be Thread-Safe?

Thanks

[2018-02-27 02:55] zLulus opened #3129 "GetAllIncluding() not work well"
## basic info
Abp package version:3.3.0
base framework: .Net Core

## description
When I used GetAllIncluding() method, I found the deleted data(IsDeleted=true).
[code]
I hope you will solve this bug as soon as possible.  : )

[2018-02-27 04:07] acjh commented on #3129
[`GetAllIncluding`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f43776ec3336da1b4d8c36bcab2a9bb4d09ff0c4/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityAndTPrimaryKey.cs#L86) just uses EF Core's `Include` method, so this is not a bug in ABP.

[2018-02-27 04:25] zizizak opened #3130 "Migration to Oracle"
When i migration to oracle, after generate migrate file, run update-database has error "Identifier to long". Problem some table had column name length over 30(char) maximum oracle size. Col name : EntityTypeAssemblyQualifiedName, so we need to remove some character like : EntityTypeAssQuaName
Please update core then we can work for all database.
Thx
 * Your Abp package version:  v3.4.0
* Your base

[2018-02-27 04:30] acjh commented on #3130
Duplicate of #2593

[2018-02-27 05:31] #3130 closed

[2018-02-27 05:37] ismcagdas commented on #3129
@zLulus can you also share your entity definitions ? As @acjh said, we are directly using EF Core's Include method but there might be a problem on generating query filters.

[2018-02-27 06:24] ismcagdas commented on #3128
@lommez It is already thread safe. Do you have any problem related to that ?

[2018-02-27 07:32] ismcagdas commented on #2980
@ryansix I assume updating to ABP 3.3 or 3.4 didn't solve your problem, right ?

[2018-02-27 08:03] ryansix commented on #2980
@ismcagdas  thank you for attention，after some demo test I find this problem comes from  my EF Context that Inherit from AbpZeroDbContext, that is to say any entity in dbContext that Inherit from AbpZeroDbContext  will load all records in memory before paging,also i have tried an entity in dbContext that Inherit from AbpDbContext haven't this problem.so i can sure some code in  AbpZeroDbContext in

[2018-02-27 13:25] brunobertechini commented on #1476
@chanjunweimy Would you like to create a shared repo to work integratingmy backend structure with your UI structure?

I believe we are in the right path

Bruno

[2018-02-27 15:21] lommez commented on #3128
In the file MemoryRepositoryOfTEntity.cs, it is used List<TEntity>, and that way is not going to be thread-safe to add/remove items from list.
And there is a comment in that file a todo, to implement thread-safety.

But i'm thinking to use SQLite In-Memory. I haven´t test it yet, but could i use the same way as Entity Framework?

Thanks

[2018-02-27 16:28] KasimMB opened #3132 "Email Issue : SMTPUTF8 is required, but was not offered by host"
Hi Gents,

When sending an email which contains any arabic letters for a specific domain we're receiving a return-back email with the following error
**Diagnostic-Code: X-Postfix; SMTPUTF8 is required, but was not offered by host**

so how we can change the encoding to not use  UTF8?

I tried to replace the EmailSenderBase with a local version and changed the encoding but code execution not reach

[2018-02-27 19:25] ismcagdas commented on #3132
@KasimMB try replacing ISmtpEmailSender.

[2018-02-27 19:27] ismcagdas commented on #3132
@KasimMB by the way, your problem might not be related to sending email code.
Check out this topic as well https://stackoverflow.com/questions/35557307/mailkit-smtputf8-error.

[2018-02-27 19:36] ismcagdas commented on #3128
@lommez ohh sorry, you are right about that todo.
Yes, you can use it like below I guess;

[code]

You also need to disable transactions like below because sqlite inmemory db doesn't support transactions.
`Configuration.UnitOfWork.IsTransactional = false;`

[2018-02-28 00:56] chanjunweimy commented on #1476
@brunobertechini yes, we can try that. ^^

Jun Wei

[2018-02-28 02:24] gunpal5 commented on #1704
@personball Is there any chance you can share your RedisOnlineClientManager code?

[2018-02-28 04:45] ebicoglu commented on #3129
Can you explain in details the problem? If you entity is a soft delete entiy then the framework adds IsDeleted=true criteria. If you see the soft deleted activities in your resut model then it's a problem. but if you see deleted child collections (like ActivityComments or ActivityEvents) then you might need to add the IsDeleted=true for them.

[2018-02-28 05:06] mohammad-shadmehr commented on #3125
Hi,
Sorry for the late reply. here is the code that use to save the form:
`save(): void {
        let input = new CreateOrUpdateCarparkRequestInput();
        input.carparkRequest = this.carparkRequest;
        input.carparkRequest.requiredByDate = moment($(this.requiredByDate.nativeElement).data('DateTimePicker').date().format('YYYY-MM-DDTHH:mm:ssZ'));
        this.saving = true;
        this._ca

[2018-02-28 05:11] ismcagdas commented on #3125
@mohammad-shadmehr If I understand correctly, you send "2018-02-28T15:30:00.000Z" from server to client and the saved value to DB is "2018-02-28 15:30:00.0000000". This is the expected behaviour if you are using UtcClockProvider. The 'Z' at the end of your date indicates that it is already an UTC date.

What is the expected value to be saved to database in your case ?

[2018-02-28 05:29] mohammad-shadmehr commented on #3125
good point but seems it does not fully cover the issue. The thing is that the value sent from the server was: **"2018-02-28T 05:30:00.000Z"**. On showing the modal I was seting the datetime field to Local time:
`    onShown(): void {
        $(this.requiredByDate.nativeElement).datetimepicker({
            locale: abp.localization.currentLanguage.name,
            format: 'LT',
        });
    }`

[2018-02-28 05:53] mohammad-shadmehr commented on #3125
I have found something but not sure how to deal with it! The carparkRequest.requiredByDate is originaly in UTC format. While I am manually setting its value in saving method I am reading the value from the DatetimePicker and setting its value with:
`input.carparkRequest.requiredByDate = moment($(this.requiredByDate.nativeElement).data('DateTimePicker').date().format('YYYY-MM-DDTHH:mm:ss'));`
The p

[2018-02-28 06:23] mohammad-shadmehr commented on #3125
![capture](https://user-images.githubusercontent.com/8295373/36773063-ad7182ba-1ca7-11e8-96b8-f299db96382d.PNG)
Please see the above screenshot from the swagger. As you see I am sending datetiem without "Z" at its tail and the saved value will still be the same value that was sent through

[2018-02-28 06:28] personball commented on #1704
@gunpal5 https://github.com/personball/abplus/blob/master/src/Abplus.Web.SignalR/RealTime/RedisOnlineClientManager.cs

[2018-02-28 06:59] #2451 closed

[2018-02-28 08:54] #2899 closed

[2018-02-28 10:03] Mostafasaffari opened #3135 "Can i have a user with many tenant in Abp?"
Hi
I have problem with multi tenancy. each tenant similar to a company. but in my case we have a user that has multi company(tenant), for example in teachable.com one user can be has many school that each school is a tenant.
can i have this feature in Abp? and how?

[2018-02-28 10:48] ismcagdas commented on #3135
@Mostafasaffari currently a user in ABP can belong to a single Tenant or to Host. So, in your case, you can create duplicate user for each tenant and link then using UserAccount table.

[2018-02-28 11:55] #2975 closed

[2018-02-28 15:29] lommez commented on #3128
@ismcagdas ,

I'm trying to use the Volo.SqliteDemo.
When the application try to execute the InitialHostDbBuilder, an exception is raised because the tables doesn´t exists yet.
Also, the Migrations is not supported when running in memory.
Is there any solution in that scenario?

In the SqliteDemoEntityFrameworkModule i´ve implemented the Initialize just like this:

public override void Initialize(

[2018-02-28 20:30] Lefka commented on #3111
I did change my entity declarations to specify the foreign key. There was no change to the resultant query.

I brought the Entity base stack into my local project and hacked at it for a while. What I found was that everything works great, unless ISoftDelete is applied to the stack. Something is manipulating the query based on that interface.

I dug some more and the only thing that stuck out at me

[2018-02-28 23:24] gunpal5 commented on #1704
@personball  Thank you!

[2018-03-01 00:14] mohammad-shadmehr commented on #3125
@ismcagdas Have you had a chance to see the above comments? would you please send me an example of a value that I can send to the server which will be converted to UTC time when being saved to DB? Where exactly should I expect that the conversion is occured? In the application layer where I am receiving the DTO? when it being saved to DB? I cant see any conversion happen when the Clock.Provider is

[2018-03-01 02:16] jdvachal opened #3137 "Interface to define and reference an entity search column"
This can be tagged discussion and enhancement

I've been a long time casual consumer of the framework for some pet projects but am now using it in production.

I'd like to open some discussion regarding entity searching.

I find myself frequently creating an override for CreateFilteredQuery and applying the same type of logic to implement searching of an entity through some kind of ajax grid.

My

[2018-03-01 04:19] KennyEng12 opened #3138 "[Question] AbpAuthorize attribute is not working for private method."
Hi, I'm using MVC5AJ1.

I've one question for the AbpAuthorize attribute.
Which is, why AbpAuthorize attribute is not working for private method but protected virtual method.

Example of AbpAuthorize attributes are not working:
[code]
[code]
[code]

Example of AbpAuthorize attributes are working:
[code]
[code]
[code]

Thanks.

[2018-03-01 04:26] KennyEng12 commented on #3138
Sorry, it's my bad of asking without reading the documentation.

[AbpAuthorization Document](https://aspnetboilerplate.com/Pages/Documents/Authorization)

This document mentions about:

Thanks and sorry.

[2018-03-01 04:26] #3138 closed

[2018-03-01 05:51] ismcagdas commented on #3125
@mohammad-shadmehr I'm really confused.

So, if I understand correctly, you want to send a local time from client to server and you want that value to be saved into database as UTC, right ?

If so, using Clock.Provider as UtcClockProvider is correct. As I can see in the screenshot, it is already working. If you want to add user's timezone to client side data value, you need to send a value somethi

[2018-03-01 05:51] #3125 closed

[2018-03-01 06:33] ismcagdas commented on #3128
@lommez I thought you want to use it for unit test, sorry.

I guess the right place to do it is https://github.com/aspnetboilerplate/aspnetboilerplate-samples/blob/master/SqliteDemo/aspnet-core/src/Volo.SqliteDemo.EntityFrameworkCore/EntityFrameworkCore/SqliteDemoDbContextConfigurer.cs.

You can modify connection string here https://github.com/aspnetboilerplate/aspnetboilerplate-samples/blob/maste

[2018-03-01 06:38] mohammad-shadmehr commented on #3125
@ismcagdas You are right! nothing is wrong with the framework. Once I replaced the Z at the tail to +10:30 at the Swagger the datetime is correctly converted and saved in DB. Now the thing is I do not know how to send the date in that format from my client side?! The moment(YourTime).format() sends the datetime in the UTC format again and so no conversion happens!

[2018-03-01 06:53] ismcagdas commented on #3114
@ktngoykalolo it might be possible but I think it is a bit hard.
Like you said, even you can deploy the WebApi layer as App Tier, and the WebMvc layer as Front-End Tier, your MVC app is using app services directly but you are hosting them on a remote server.

So, theoretically, you need to proxy your app services for your MVC app to call a remote service. You can create custom implementations for

[2018-03-01 06:56] ismcagdas commented on #3125
@mohammad-shadmehr are you using moment timezone library as well ? If so, you can set user's timezone like below;

` moment.tz.setDefault(IANA_TIMEZONE_ID);`
Then, moment().format()

[2018-03-01 07:03] mohammad-shadmehr commented on #3125
@ismcagdas but I dont know where the user is from so I could set its timezone! The other thing is if I manually set the requiredByDate = moment() it works fine and the user time diffrence is sent to the server for the conversion but once I set the moment to read from the datetimepicker or even manually set a datetime to it (eg. moment('2013-03-01T00:00:00')), it keeps sending the time in the UTC f

[2018-03-01 07:48] ismcagdas commented on #3137
@jdvachal what common usages can be handled in the repository base ? Are you suggesting that we should add a common search feature ?

[2018-03-01 08:43] chrsas opened #3139 "How to support multi test projects"
My solution structure:
[code]
In my current solution, for the purpose of reuse `Abp`(I have injected some codes), I use another `DbContext` In `Sdt.Dcs.EntityFrameworkCore` to organize related business entities, and the application layer also uses a separate project `Sdt.Application.Channels`, in unit test I meet a problem, when I deride a new class from `SdtTestBase` which is derided from `AbpInt

[2018-03-01 08:45] SanchoWalden opened #3140 "How AbpRedis should be integrated into webapi？"
How do I configure AbpRedis for Webapi services ?

[2018-03-01 10:54] alirizaadiyahsi commented on #3107
https://github.com/aspnetboilerplate/aspnetboilerplate/commit/ca002d504b1a51858db95475251b8a5038ae12fa

[2018-03-01 10:54] #3107 closed

[2018-03-01 11:16] alirizaadiyahsi commented on #2987
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/3142

[2018-03-01 11:16] #2987 closed

[2018-03-01 12:31] ismcagdas commented on #2366
resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2976

[2018-03-01 12:31] #2366 closed

[2018-03-01 12:56] ismcagdas opened #3145 "Create a way to define max lenght for Discriminator columns"
This can be done when https://github.com/aspnet/EntityFrameworkCore/issues/9384 is complete.

[2018-03-01 12:57] ismcagdas commented on #3015
For Discriminator columns, I have created a seperate issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3145.

[2018-03-01 13:38] jdvachal commented on #3137
I don't think the repository is necessarily the best spot for it.  My initial thought would be (in my case) the AsyncCrudAppService, and to have a similar implementation to the CreateFilteredQuery logic.

Possibly a DTO base class like SearchableInputDto that defines a simple search string and an entity base class like SearchableEntity that defines a property like EntitySearchValue.

During modeli

[2018-03-01 13:42] tjackadams opened #3146 "Abp.RedisCache InvalidCastException when accessing settings"
My current setup is
2 Web servers
2 App servers which essentially just run Hangfire jobs.

The problem i have is complicated but i will try my best to explain.

- If a web server is started first (out of the 4 servers) then the app server will throw an exception when trying to access a setting stored in the Redis Cache.
- If an app server is started first, then the web server will throw an excepti

[2018-03-01 14:30] ly303550688 opened #3147 "login service can't navigate to app/home"
I used the zero template , sometimes need refresh the page to navigate

[2018-03-01 14:41] wenxiayili opened #3148 "The page does not jump to the home page"
Sometimes this happens, in the login page, when i click login,the page does not jump to the home page。
The version is 3.4
Can you help me?

[2018-03-01 16:56] majidbigdeli opened #3149 "Does not exist UserId Property in RoleClaim Class"
Does not exist UserId Property  in RoleClaim Class  But It is  exist in _Initial_Migration please see pics

![image](https://user-images.githubusercontent.com/26275762/36857160-1192609e-1d8d-11e8-8bff-6bc238adfb08.png)

![image](https://user-images.githubusercontent.com/26275762/36857279-5c03af34-1d8d-11e8-8b41-89631c161635.png)

I'm going to use PostgreSQl .
I Remove _Initial_Migration migration

[2018-03-01 17:01] acjh commented on #3149
`UserId` column was dropped in [`Upgraded_To_Abp_2_1_0`](https://github.com/aspnetboilerplate/module-zero-core-template/blob/63f6e3b6147b6df7a08b09a53dad562c57dac17c/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/Migrations/20170608053244_Upgraded_To_Abp_2_1_0.cs#L17-L19) migration.

[2018-03-01 17:33] majidbigdeli commented on #3149
@acjh  yes Thank you
My mistake was that I did not remove Upgraded_To_Abp_2_1_0

[2018-03-01 17:38] acjh commented on #3149
You should [remove **all** migration classes](https://aspnetboilerplate.com/Pages/Documents/EF-Core-PostgreSql-Integration#create-database).

[2018-03-01 19:44] iyhammad commented on #3053
I'm closing this issue because I found it's not related to ABP. The problem was an issue in my Entity Model and Entities Relationships.

[2018-03-01 19:44] #3053 closed

[2018-03-01 20:09] lommez commented on #3128
This is how i´ve implemented:

[code]

But when i try to consume any endpoint of the application i got that exception:

INFO  2018-03-01 16:59:45,677 [10   ] ore.Mvc.Internal.ControllerActionInvoker - Executing action method Volo.SqliteDemo.Roles.RoleAppService.GetAll (Volo.SqliteDemo.Application) with arguments (Abp.Application.Services.Dto.PagedResultRequestDto) - ModelState is Valid
ERROR 2018-

[2018-03-02 02:19] arnbunchen opened #3151 "There is no DisableAbpAntiForgeryTokenValidation attribute in version abp dotnet core?"
There is no DisableAbpAntiForgeryTokenValidation attribute in version abp dotnet core?

[2018-03-02 02:30] acjh opened #3152 "FeatureDependencyContext.TenantId not set in AbpUserManager"
* Your Abp package version: **3.4.0**
* Your base framework: **.NET Core**
* Exception message and stack trace:

Abp.AbpException: FeatureChecker can not get a feature value by name. TenantId is not set in the IAbpSession!
   at Abp.Application.Features.FeatureChecker.GetValueAsync(String name)
   at Abp.Application.Features.FeatureCheckerExtensions.<IsEnabledAsync>d__2.MoveNext()
--- End of stack

[2018-03-02 02:44] acjh commented on #3151
From the documentation on [XSRF CSRF Protection](https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection#features-2):

[2018-03-02 05:08] alirizaadiyahsi commented on #3148
Which temlate are you using?

[2018-03-02 05:29] ebicoglu commented on #3148
can we reproduce the problem?

[2018-03-02 05:30] ebicoglu commented on #3147
you mean after you login you need to refresh the page to see it?

[2018-03-02 05:31] chrsas commented on #3139
I have solved it, but I think it isn't a good approach because there's too much redundancy .
1. Because `AbpIntegratedTestBase.AbpBootstrapper` is `readonly`,  so I copy all `AbpIntegratedTestBase`'s code and name it `SdtIntegratedTestBase` .
1. Add `set` into `SdtIntegratedTestBase.AbpBootstrapper`.
1. Change `SdtTestBase` to derive from `SdtIntegratedTestBase`.
1. Reset `AbpBootstrapper` in `Cha

[2018-03-02 06:10] #3151 closed

[2018-03-02 06:15] mohammad-shadmehr commented on #3125
@ismcagdas Well I have found a workaround for it as below:
`moment(new Date($(this.requiredByDate.nativeElement).data('DateTimePicker').date().format('YYYY-MM-DDTHH:mm:ss')));`
The new Date returns the date in the user's local time difference and I dont need to store the users' timezones

[2018-03-02 06:25] ismcagdas commented on #3125
@mohammad-shadmehr thank you for sharing it.

[2018-03-02 06:27] ismcagdas commented on #2980
@ryansix which version of ABP do you use ?

[2018-03-02 06:30] ebicoglu commented on #3140
See https://aspnetboilerplate.com/Pages/Documents/Caching#redis-cache-integration

[2018-03-02 06:33] ryansix commented on #2980
@ismcagdas my all code are based on  ABP 3.0.0 ,  I will upgrade to ABP 3.4 to test it later.

[2018-03-02 06:59] ismcagdas commented on #3111
@Lefka have you tried to update ABP to latest version ?

[2018-03-02 07:01] ismcagdas commented on #3137
@jdvachal I think in most of the cases, others fields of the Entity might be included into the search. So, why don't you create your own implementation for this in your project ?

[2018-03-02 07:05] swimhigher opened #3154 "How to create a .netcore webapi project don't include login,register........"
when I choose not include login, there are only multi page project can be create,  what I need is only a
.netcore webapi project,  what should I do?

[2018-03-02 07:42] #2962 closed

[2018-03-02 12:58] RajeevS1 opened #3156 "How to set default language for user while creating new user"
Please guide me how to set default language for user while creating new user or guide which api do i need to use for setting up new user default language.

[2018-03-02 14:00] Lefka commented on #3111
@ismcagdas Yes I have. The same issue occurs there.

[2018-03-02 14:15] ismcagdas commented on #3156
@RajeevS1 you can change user's setting like below;

`await SettingManager.ChangeSettingForUserAsync(new UserIdentifier(tenantId, userId), "Abp.Localization.DefaultLanguageName", "en");`

[2018-03-02 14:15] #3156 closed

[2018-03-02 15:30] fupanda commented on #1274
I know it's an old thread, but had also troubles on this one. Couldn't get it to work.

acjh, finally I used your solution. And added some code in the UserManager in order to make it always work

`public override Task<IdentityResult> CreateAsync(User user)
        {
            user.Name = user.Name ?? String.Empty;
            user.Surname = user.Surname ?? String.Empty;
            return base.C

[2018-03-02 15:48] acjh commented on #1274
That's great :)

[2018-03-02 16:52] ktngoykalolo commented on #3114
Ok.
but if I wanted to implement a mobile client,
how would I proceed ?
It would be nice to reuse the existing logic and the Application Services layer provide (in theory)  a nice way to do so.

[2018-03-02 17:06] ktngoykalolo commented on #3114
Or I will have to wrap up the App Service classes in another Web API layer ?

[2018-03-02 17:32] lavanyagowri commented on #456
I am running into a similar issue.
Which Initialize method are we talking about?

[2018-03-02 17:44] yashwanthkata commented on #2982
hi @ismcagdas  where can i find appconfig.json

[2018-03-02 18:03] alirizaadiyahsi commented on #2982
under **angular\src\assets**

[2018-03-02 20:01] ismcagdas commented on #456
@lavanyagowri havae you tried the suggestion for OnModelCreating ?

[2018-03-02 20:03] ismcagdas commented on #3114
@ktngoykalolo if you want to build a mobile app and consume the WebAPI, it is possible. You can use it directly, there is no problem with that.

[2018-03-02 20:17] ktngoykalolo commented on #3114
@ismcagdas you mean I can use the web api layer directly ? is it possible to make use of the Swagger generated code ?

[2018-03-03 05:29] CS-beglnner commented on #3154
You can create a new core api project in your VS and then installing ABP NuGet packages to your project as you need.
If you still using SPA template you can remove module zero users configurations from your AppCoreModule.cs check this [this original ABP module zero guide](https://aspnetboilerplate.com/Pages/Documents/Zero/Overall)
I recommended you to use awesome Module Zero and edit their service

[2018-03-03 05:56] CS-beglnner commented on #3148
Some issue!
Return URL and access token still in address bar and page refreshed without redirecting to dashboard. When put submit again then dashboard loaded with very more delay time for loading from first run. Is my problem when my host app is run most for long time (+40 min). When the local host restarted everything works well.
Zero 5.2 template

[2018-03-03 06:36] swimhigher commented on #3154
@CS-beglnner  Thanks for your advice ，I will try it.

[2018-03-03 07:30] cuibty opened #3158 "Abp.Dapper .net Framework has dependency to DapperExtensions.DotnetCore"
* Your Abp package version: v3.4
* Your base framework: .Net Framework

#2209

https://github.com/aspnetboilerplate/aspnetboilerplate/commit/a94a7fd955ec58d6684729d4fe57cf4121af64d5#diff-8a3c29c64d26246a99f1dc51aaa773b0

[2018-03-03 07:45] acjh commented on #3158
What's the issue?

[DapperExtensions.DotnetCore](https://www.nuget.org/packages/DapperExtensions.DotnetCore/) supports **.NETFramework 4.5**, **.NETFramework 4.6.1** and **.NETStandard 1.6**.

[2018-03-03 08:00] cuibty commented on #3158
@acjh DapperExtensions.DotnetCore Has dependency to NETStandard.Library So, .Net framwork 4.6 targeted project trying to install NetStandart Libraries

[2018-03-03 08:01] abhishekhbd commented on #2982
I am still not able to run production build on qa. When I publish it open login window every thing work perfectly.

But while login it call post method to statistics page login. And it gives method not allowed IIS error page.

Can you please help me what configuration I need to do.?

[2018-03-03 08:12] acjh commented on #3158
ABP v3.4 does not support **.NETFramework 4.6**.

[2018-03-03 08:15] cuibty commented on #3158
ABP v3.4 does not support **.NET Framework 4.6.1** ?

[2018-03-03 08:30] acjh commented on #3158
ABP v3.4 supports **.NETStandard 2.0**, which is supported by **.NETFramework 4.6.1**.

[2018-03-03 10:06] osoykan commented on #3121
@jeremyyang824,

If you have a boolean property such as (IsActive, IsDeleted...) `Expression<Func<Foo, bool>> expression = f => f.IsActive;` you can use it this way. ExpressionVisitor designed for selectable properties.

[2018-03-03 10:35] ismcagdas commented on #2982
@abhishekhbd can you share your login screen and login request details ? You can use google chrome's network tab to track failed request details.

[2018-03-03 10:53] ismcagdas commented on #3114
@ktngoykalolo by directly I mean, you can use it via remote calls from your mobile app.

[2018-03-03 15:31] jeremyyang824 commented on #3121
@osoykan

Thank you for your advice. It can temporary solve my problem.

But actually, I use [Specifications](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Specifications/AnySpecification.cs) to create expression.
And I can't prevent developer use the const way to create expression. So it's still a serious risk.

[2018-03-03 16:30] hikalkan commented on #3152
Thank you @acjh for finding and reporting this.

[2018-03-03 16:32] #3140 closed

[2018-03-03 16:42] tjackadams commented on #3146
It does appear to be an issue with the serialization between the two frameworks.
I changed the web project to net 4.7.1 as a test and it seemed to work fine.

Is this something that could be resolved in the Abp package?

[2018-03-03 18:05] hikalkan commented on #3146
This is the serializer used for redis cache: [DefaultRedisCacheSerializer](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.RedisCache/Runtime/Caching/Redis/DefaultRedisCacheSerializer.cs).

Actually, I didn't understand why it happens. Because it uses JSON serializer so it should be compatible between frameworks.

However, this is a good extension point to handle it and do

[2018-03-04 04:14] acjh commented on #456
It's the one in [`AbpDbContext`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/1fd559fc3621f094550774cf40e9cdc1d8ae0553/src/Abp.EntityFramework/EntityFramework/AbpDbContext.cs#L186) of `Abp.EntityFramework`.
Note that its counterpart in `Abp.EntityFrameworkCore` does not have an `Initialize` method.

[2018-03-04 06:39] Donistivanov commented on #2982
I am also interested in how I can deploy my ABP application, specifically this one: https://github.com/aspnetboilerplate/module-zero-core-template. I am trying to figure things out as I wait for the docs here as well as it might be relevant here https://github.com/aspnetboilerplate/module-zero-core-template/issues/183

[2018-03-04 10:53] ianmark89 commented on #3124
when running background job, ClientInfoProvider.BrowserInfo is null, how can I fix it?

[2018-03-04 11:13] acjh commented on #3124
Fix it to do what?

[2018-03-04 15:40] ktngoykalolo opened #3159 "Empty or invalid anti forgery header token"
Hello,
trying to use Syncfusion ASPNET MVC grid, with ABP MVC 5.x and MPA.
I am trying to implement the CRUD functions from the Grid directly but I am getting the error :

_
here is a snapshot :

![image](https://user-images.githubusercontent.com/3276588/36947369-ed960f84-1fca-11e8-8814-17b2ddf9ff89.png)
any tips on how to solve this ?

[2018-03-04 15:46] ktngoykalolo commented on #3159
![image](https://user-images.githubusercontent.com/3276588/36947369-ed960f84-1fca-11e8-8814-17b2ddf9ff89.png)

[2018-03-04 16:08] acjh commented on #3159
Try adding [this](https://github.com/aspnetboilerplate/module-zero-template/blob/8586c989a3a180f17e177af7d9ba4b1c88bd5dfb/src/AbpCompanyName.AbpProjectName.WebMpa/Views/Shared/_Layout.cshtml#L10) in your View:

[code]

[2018-03-04 16:14] ktngoykalolo commented on #3159
its there already.

[2018-03-04 16:26] acjh commented on #3159
Try adding it in your View.

[2018-03-04 18:03] abhishekhbd commented on #2982
@ismcagdas Below is login detail:

![image](https://user-images.githubusercontent.com/17004143/36948652-1b53ab14-2004-11e8-91cd-1905c4cf73e8.png)

And login detail is:
![image](https://user-images.githubusercontent.com/17004143/36948665-54143086-2004-11e8-8265-895e64e1adc4.png)
![image](https://user-images.githubusercontent.com/17004143/36948669-63187524-2004-11e8-8a5c-d07539ab5074.png)

Please he

[2018-03-05 00:16] #3154 closed

[2018-03-05 01:27] maliming opened #3161 "Extending Localization Sources Exception"
Net Core 2.0
Abp 3.4
Enables the database localization.

hi @hikalkan

My.XXX.Core layer in my project already exists Localization/SourcesFiles/ directory,
Now I want to modify and add some of AbpWeb default [https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource/AbpWeb-en-.xml] translation.

Then I added AbpWeb-zh-CN.json in my My.XXX.W