[2021-05-06 06:53] ismcagdas commented on #6138
@worthy7 you can replace it with an emtpy implementation for your tests.

[2021-05-06 07:22] worthy7 commented on #6138
but how? Event handlers all get registered under "IEventHandler", so if I add an empty one it is just added, and run along with all the others still in there right?

[2021-05-06 07:34] ismcagdas commented on #6137
@worthy7 good catch 🙂, thanks a lot. I think because of this, SignalR will not work when you login with an external provider. We will fix it.

[2021-05-06 07:36] worthy7 commented on #6137
Yea, I know - that's how I found it - none of my new visitors have a working app the first time they login lol

[2021-05-06 10:52] TingtingAn commented on #4709
any solution now?

[2021-05-06 11:42] #6137 closed

[2021-05-07 01:12] maliming commented on #4709
@TingtingAn
You can use a common assembly.

[2021-05-07 02:30] wujiale0324 commented on #6135
Hi @ismcagdas , thank you so much for replying. I descrip the issue in a wrong way. Actually, we are using azure redis to share cache, not session. And I think I get the problem fixed. I installed Abp.Redis in a wrong project. I should install abp.Redis under Web.Core project, not Web.Host project.

[2021-05-07 02:30] #6135 closed

[2021-05-07 08:52] BenLewies commented on #2637
@hikalkan  Is it possible to retain the wrapping functionality but have Swagger include the wrapper in it's generated schema?

[2021-05-07 16:37] bxjg1987 opened #6139 "Disable dynamic API according to configuration"
At present, dynamic API can only be disabled through “RemoteServiceAttribute”. Can we provide another way? I want to decide whether to enable some dynamic APIs of AppService according to the module configuration

[2021-05-08 10:06] ismcagdas commented on #6139
@bxjg1987 we will consider this, thanks.

[2021-05-09 09:29] sajasbana opened #6140 "A numeric comparison was attempted on "$(MsBuildMajorVersion)" that evaluates to "" instead of a number, in condition "($(MsBuildMajorVersion) < 16)""
Dears,

I tried to download new tempalte .net framework mvc

when run on vs2019 and build it gives error

A numeric comparison was attempted on "$(MsBuildMajorVersion)" that evaluates to "" instead of a number, in condition "($(MsBuildMajorVersion) < 16)"

is there problem to run in vs2019? i installed 2019 in my machine

Thanks

[2021-05-10 05:51] slatlas commented on #5604
We are facing the same issues. Any help or tips to improve would be amazing. Is there a branch being worked on, so that we could contribute?

[2021-05-10 07:15] ismcagdas commented on #5604
@slatlas we haven't started to work on this yet but will start soon.

[2021-05-10 08:44] krugerm commented on #5604
Do you have an ETA on this?  I've been needing a fix for this for years now... 😄

[2021-05-10 08:45] ismcagdas commented on #5604
@krugerm I started to work on this but I'm not sure if we can find a solution or not in a short time.

[2021-05-10 10:11] krugerm commented on #5604
How can I help?

[2021-05-10 16:04] slatlas commented on #5604
I have an environment for load testing if we have experimental builds. Let me know if I can help as well.

[2021-05-10 17:09] emisand commented on #5604
@krugerm if you are willing to help, my idea for a solution is:

1. Extract the **implementation** of Interceptors (located at the main Abp package), to something like an `Abp.Interceptors.DynamicProxy` package and declare it as a module, keep the interfaces at the Abp project. Hardcoded dependency to DynamicProxy must be removed from the bootstraper / IocManager, so it can be injected as a module

[2021-05-10 22:34] emisand commented on #5604
@ismcagdas Will you consider PostSharp as an option?
Their [Community Edition](https://www.postsharp.net/get/community) looks like it include all the features we need, except support for async methods. I will get in contact with them to see if a deal can be made.

Advantages in PostSharp vs DynamicProxy is that all proxies are generated at compilation instead of runtime. So there is no performance

[2021-05-11 05:58] ismcagdas commented on #5604
@emisand async methods are really important, otherwise we face another performance problem when handling mass requests. If we can't solve the problem with current implementation, I think it is better to implement ASP.NET Core middleware approach.

[2021-05-11 17:22] yvcabrera commented on #5610
Hello, I have tried to do it, but I have errors solving the "AbpWebCommon" module.
![moduleabp](https://user-images.githubusercontent.com/16673786/117858433-e5141a00-b25b-11eb-9cf7-7c85a1ba47fb.jpg)

[2021-05-12 02:04] slatlas commented on #5604
Maybe some additional exposure to their product via the ABP community will entice PostSharp to make it work for us.

[2021-05-12 03:33] krugerm commented on #5604
Seems like an interesting solution - replacing runtime injection with compile time templating could go a long way to improving performance. 🤩
Agree with @ismcagdas about needing async support - this is a must.
Let us know how you get on with getting PostSharp to include async in the community edition @emisand 😄

[2021-05-12 08:31] sajasbana commented on #6140
@demirmusa
Thanks it worked and solved

hope team can update mvc templates

[2021-05-12 10:11] BenLewies opened #6141 "Abp custom SwaggerUI javascript interfering with Auth button functionality"
I checked the documentation at https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration

Swagger UI does not render the authorization dialog for bearer token authentication.  This seems to be due to abp-specific javascript contained in `wwwroot/swagger/ui/index.html`, for the `onload` event, not returning null, in stead of the proper markup for the `authorizebtn` component.

[code]

He

[2021-05-12 10:22] worthy7 commented on #6045
I think you are basically missing the point of ABP, that is exactly the kind of work that the framework is taking away for you.
I cannot imagine why you would want to manually register the eventhandlers other than if you are putting important work inside them.
Event handlers should just inject a service and call a method on that service.
Then if you want to run the login in some other way, like fr

[2021-05-12 10:26] ismcagdas commented on #6141
@BenLewies in AspNet Zero, there is a login page before the swagger ui, it should be the default page when you run the host application. For login, you should use that page and it will redirect you to swagger UI. Can you try that way ?

[2021-05-12 12:12] BenLewies commented on #6141
@ismcagdas Unfortunately, it yields the same results

I have also checked the AspNetZero documentation for Swagger https://docs.aspnetzero.com/en/aspnet-core-mvc/latest/Features-Mvc-Core-Swagger-UI

It does not mention anything about the login page on host nor authorization

[2021-05-12 12:34] yvcabrera commented on #5610
@maliming

Thanks for the help. Some other configuration would be necessary at the appsettings.json level.

Thanks

[2021-05-12 22:05] emisand commented on #5604
@ismcagdas I've talked with the PostSharp team and they will happily issue an open-source redistribution license for ASP.NET Boilerplate. Let me know if you want me to forward you the conversation to your email at volosoft.

I will try to integrate PostSharp as additional package (Abp.PostSharp) and extract DynamicProxy interceptors to Abp.DynamicProxy, if I don't get stuck with any architectural

[2021-05-13 02:09] slatlas commented on #5604
This is fantastic!!! Good work, and let us know if you need help.

[2021-05-13 02:40] emisand commented on #5604
@slatlas Well, i'm still researching on how to do this properly.

This is what I know so far:
- In PostSharp we can incercept both sync and async methods with their [Method Interception Aspects](https://doc.postsharp.net/method-interception), they are implemented pretty similar to Castle's DynamicProxy
- Currently the Castle's Dynamic Proxies are **registered** at `AbpKernelModule.RegisterIntercep

[2021-05-13 06:36] emisand commented on #5604
I've made progress creating PostSharp aspects for the Abp interceptors.
Also solved the `AbpBootstrapper` Interceptor Registrar issue just by checking if the `AbpPostSharp` module is registered.

I am now dealing with a harder issue that is affecting the Unit Tests, as PostSharp aspects are generated at compile time, we cannot use constructor or property dependency injection, the only way to acces

[2021-05-14 09:51] worthy7 opened #6142 "Mixing IAsyncEventHandler and IEventHandler throws error"
You can add multiple event handlers:
https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#handling-multiple-events

But if you mix Async and normal EventHandlers in together, it will error.
It doesnt error in unit tests, only live.

[2021-05-14 10:45] worthy7 opened #6143 "[Docs] Use Protected constructor (not private) if using LazyLoading"
This is a suggestion but one that I just ran into.

At the moments in all the Abp docs, it says to put a private constructor on entities etc, and this works fine IF we don't enable the efcore LazyLoading module.

https://docs.microsoft.com/en-us/ef/core/querying/related-data/lazy

If we do, it fails in run time (not tests) to construct these entities with a private constructor.
I think perhaps `pr

[2021-05-14 11:09] ismcagdas commented on #6143
@worthy7 this seems specific to EF and only when you use LazyLoading, I guess. So, it will not be convenient to make such suggestion for common usage.

[2021-05-14 11:10] ismcagdas commented on #6142
@worthy7 could you share a sample ?

[2021-05-14 11:26] worthy7 commented on #6143
Is there some downside to using Protected instead though?

Anyway, maybe a note in the docs then.

On Fri, 14 May 2021 at 20:09, İsmail ÇAĞDAŞ ***@***.***>
wrote:

[2021-05-14 11:27] worthy7 commented on #6142
Sorry I knew you would ask that and I don't have one right now but can
maybe get round to it in a few days. As I said it only happens when doing
it live, not in unit tests

On Fri, 14 May 2021 at 20:10, İsmail ÇAĞDAŞ ***@***.***>
wrote:

[2021-05-15 02:28] emisand commented on #5604
@ismcagdas @slatlas @krugerm
I've done my full implementation of the PostSharp aspects for ABP in PR #6144

Please not that it was not possible to also have the older DynamicProxy interceptors at the same time, because PostSharp can not be turned on or off, PostSharp package reference needs to be at all projects that implement App Services, Repositories or any interceptor related attributes, and i

[2021-05-15 09:12] ismcagdas commented on #6143
Yes, we can add this to EF Core document as a note.

[2021-05-15 12:33] emisand commented on #5604
I've good and bad news.
I've tested my PostSharp implementation in our solution and it effectively makes everything faster to load the first time and also on subsequent requests.

The bad news is that to use PostSharp in any solution that *uses* ABP with this fixes, we must pay for a PostSharp license. The redistribution license PostSharp provided only applies to the ABP source code, but not for t

[2021-05-15 15:22] slatlas commented on #5604
We have a small startup, with only a couple of developers, so even with a fee attached I could see us using PostSharp. Thanks for working on this.

[2021-05-16 09:09] ismcagdas opened #6145 "Allow changing default log severity for ABP exceptions"
We should allow changing default log severity for;

* AbpAuthorizationException
* AbpValidationException
* UserFriendlyException

[2021-05-16 09:57] ismcagdas commented on #5604
@emisand thank you very much for your effort and implementation, it is really appreciated. However, because of the licensing, we can't publish official NuGet packages which depends on Postsharp. If it would be only one package, we could do that but not with all ABP packages. I will also try to work on action filters approach which is already included in ABP actually but with my initial tests, it d

[2021-05-16 14:05] krugerm commented on #5604
I'm interested in trying this approach - I'll review & provide feedback
this week.

Great work by @emisand 🤩

On Sun, 16 May 2021, 5:58 pm İsmail ÇAĞDAŞ, ***@***.***>
wrote:

[2021-05-17 14:19] worthy7 opened #6147 "[Feature] EventHandler as [Attribute]"
I was recently checking out Dapr, and saw this really interested and simple way to invoke event handlers

[code]

Simply adding the `Topic` attribute.

At the moment I am doing a lot of Event Driven stuff with ABP and I am finding the overhead in creating a handler for every action a bit much, it would be nice to just have a service with all the functions in for a specific domain, and then I can j

[2021-05-17 14:19] worthy7 commented on #6147
https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/publish-subscribe#use-the-dapr-net-sdk

[2021-05-17 14:54] emisand commented on #5604
@ismcagdas I totally understand the licensing concerns. I've emailed the PostSharp team to see if they can do licensing discounts for ABP users, but anyways ABP should stay totally free as default.

As PostSharp modifies the IL of all Abp compiled assemblies, there are 3 options to deal with this:
1. Merge my PR but set `IPostSharpOptions.EnablePostSharp` as `false` by default. Currently this is s

[2021-05-18 06:13] sajasbana opened #6148 "small typo in parameter comment && more details settings documentation"
Dears,
this line i think need to fix the comment "permission name"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/SettingDefinition.cs#L71

Also in documentation can you add more details and example of other features of settings like groups and displayname and clientVisibilityProvider

Thanks

[2021-05-18 06:19] ismcagdas opened #6149 "More details settings documentation"
In documentation can you add more details and example of other features of settings like groups and displayname and clientVisibilityProvider ?

[2021-05-18 06:19] ismcagdas commented on #6148
@sajasbana thanks, I have fixed the comment via https://github.com/aspnetboilerplate/aspnetboilerplate/commit/51947e8f9badeb2107a67ecc9150f6b1c053023d.

I have created a separate issue for documentation https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6149

[2021-05-18 06:19] #6148 closed

[2021-05-18 08:27] hemantsavkar commented on #6127
@RobersonLuo Its Already Possible, I have 2 apps with aspnetboilorplate backend
https://play.google.com/store/apps/details?id=cds.nashik.dashboardforbeds
https://nashikcare.connectdigital.co.in/
https://play.google.com/store/apps/details?id=cds.junnarncp.beddashboard

[2021-05-19 11:49] vjerani opened #6151 "#aspboilerplate user permissions are not available"
Abp package version 6.3.1
 .Net Core 5
my problem is the following, when creating a new tenant I add new roles and permissions to it. After I create a new user and log in with him, I see everything correctly. After restarting the application, the roles disappear, only the standard ones are visible (during debug f12, getall response).

[2021-05-19 13:10] vjerani commented on #6151
I am not using authorization provider. i did manually added permissions and roles. Looks this doesn't work well. Still, everything is correctly stored.

[2021-05-19 17:33] sajasbana opened #6152 "SettingDefinition parameter isVisibleToClients is obsolete"
Dears,

in abp .net core template, in AppSettingProvider.cs is it using isVisibleToClients and it is obsolete

why still using obsolete until now? can you update it to use new property

also if there other obsoletes in abp can you use new properties

Thanks

[2021-05-19 19:07] sajasbana opened #6153 "does localization support html tags"
Hi
I read doc. https://aspnetboilerplate.com/Pages/Documents/Localization

I did not find information if I can use html tag like <b> or <br> .... to style text

does localization support html tags? and how to use it?
please mention in doc. also if supported

[2021-05-20 05:38] ismcagdas commented on #6153
@sajasbana there is nothing special to HTML in localization. For example you can define a localization similar to;

[code]

And render it on the UI.

[2021-05-20 05:39] ismcagdas commented on #6152
@sajasbana thanks, we will update this specific one.

[2021-05-20 06:00] sajasbana commented on #6153
@ismcagdas Thank you
could you add this to doc. if will be great

[2021-05-20 06:42] ismcagdas commented on #6153
@sajasbana I think this is a special use case. We don't prefer to add use cases to our documentation.

[2021-05-20 12:55] emisand commented on #5604
I've been researching a little more and found out we *might* be able to implement a free alternative to the PostSharp aspects with a tool already included in the ABP solution, it's **Fody**.

Fody allows us to do IL weaving when building the solution, and found out there are many available Fody plugins that already implement method interception and totally free to use.

The only thing is that all

[2021-05-21 08:15] chai93323 opened #6154 "Abp.EntityFrameworkCore.EFPlus issue on .net 5"
Currently Abp.EntityFrameworkCore.EFPlus using Z.EntityFramework.Plus.EFCore version 5.1.19. and it not working in .net 5 environment . Please refer the link below:
[https://github.com/zzzprojects/EntityFramework-Plus/issues/601](https://github.com/zzzprojects/EntityFramework-Plus/issues/601)

Is that possible to update Z.EntityFramework.Plus.EFCore to latest version? so it won't throw exception b

[2021-05-21 09:52] khoaanh10 opened #6155 "Background job duplicate"
I have a backgroundJob to send mail, but it was send double mail

[2021-05-21 09:54] khoaanh10 commented on #5349
hello thanhtri94, how to you can solve it, i have same issue :(

[2021-05-21 10:53] #6154 closed

[2021-05-21 10:55] chai93323 commented on #6154
Wrong report. It cause by my local code issue.

[2021-05-21 11:09] ismcagdas commented on #5604
@emisand in the meantime, could you try the branch https://github.com/aspnetboilerplate/aspnetboilerplate/tree/feat/minimize-interception-usage and see if it makes any difference ? In this branch, AppServices shouldn't be intercepted at all unless you manually use UnitOfWork attribute in the appservice.

I also wanted to remove interception of repositories in ASP.NET Core apps but it will cause ma

[2021-05-21 13:55] emisand commented on #5604
@ismcagdas I've performed some tests and these are my results.
For all of this tests, I first run the solution to warm up caches, and then closed and restarted the project

### Test results

#### Control scenario (Using ABP 6.3.1)
From project start to our Tenant Dashboard: 65346 ms
Reload tenant dashboard: 2381 ms
AJAX reload datatable: 180 ms

#### PostSharp variant
From project start to our Ten

[2021-05-21 14:05] ismcagdas commented on #5604
@emisand thanks for your fast response. We can also try Fody when https://github.com/Fody/MethodDecorator/issues/378 is resolved. But, at the moment I think my work is making a difference at least for the requests but not for app load time. I think the app load time is not a problem since it will be executed only once when the app starts. I will also try to make it faster. I removed the intercepti

[2021-05-21 19:02] serdar-sahin opened #6156 "Missing translations in the Turkish xml file"
Missing translations are complete.
It will be good for everyone if you add it to the template.
Thanks.

And, This part needs an edit;
change-password.component.ts

`
changePassword() {
    this.saving = true;

    this.userServiceProxy
      .changePassword(this.changePasswordDto)
      .pipe(
        finalize(() => {
          this.saving = false;
        })
      )
      .subscribe((success) =>

[2021-05-22 06:16] emisand commented on #5604
@ismcagdas Letting you know that I've updated my pull request to disable the PostSharp aspects by default.
Now these aspects can be enabled by setting the `EnablePostSharp` property inside `AbpBootstrapperOptions` to *true*
This mean if a developer wants to use PostSharp in their solution, they just have to modify their `.AddAbp()` call in the `Startup` class by adding the `option.EnablePostSharp

[2021-05-23 15:37] #6152 closed

[2021-05-23 15:52] #6145 closed

[2021-05-23 16:06] ismcagdas commented on #6156
Thanks a lot @serdar-sahin 👍

[2021-05-24 08:36] ismcagdas commented on #5604
@emisand we are about to join the .NET Foundation, so even with a configuration, I think it will not be possible to keep PostSharp in the ABP NuGet packages. However, we can use option 3 [here](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5604#issuecomment-842391329).

I'm also trying the reduce the usages of interceptors in ASP.NET Core applications. Once I do that, I think the o

[2021-05-24 19:47] emisand commented on #5604
@ismcagdas Ok then, I will publish them as an independent fork packages.
Will rename them as Emisand.Abp.PostSharp.* to not cause any confusion when searching at the NuGet package manager and include my own how to guide to use Abp with PostSharp.

[2021-05-26 10:08] ismcagdas commented on #6008
@fncap do you have any comments for https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6008#issuecomment-813339708 ?

[2021-05-26 12:16] fncap commented on #6008
I will check and report back. Sorry for the late!

[2021-05-27 06:42] ismcagdas commented on #5349
@khoaanh10 could you create a new issue and provide details about your problem ?

[2021-05-27 06:42] ismcagdas commented on #5349
Sorry, it seems like you already did https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6155

[2021-05-27 06:43] ismcagdas commented on #6155
@khoaanh10 could you share your background job's code ? If you can share a reproduction project, it will be better.

[2021-05-27 07:16] ismcagdas commented on #6147
@worthy7 sorry for my late reply. You can create an Interceptor and achieve this in your application. However, we don't want to create new interceptors in the framework itself because it causes performance problems.

[2021-05-27 08:36] #6147 closed

[2021-05-27 10:13] codeweb commented on #5316
In my case, it doesn't work.

[2021-05-27 10:22] ismcagdas commented on #5316
@codeweb did you try removing WebDAV ?

[2021-05-27 16:57] emisand opened #6158 "Update Castle.Core.AsyncInterceptor"
Stable version 2.0.0 of Castle.Core.AsyncInterceptor was released in January including official .NET 5 support and several fixes.
Please consider updating it, as currently Abp is depending on an alpha release from 2019

[2021-05-27 22:42] StefanKoenen opened #6159 "Dupplicate AbpUserLogin records"
* Your Abp package version: 6.3
* Your base framework: .Net Core
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

**Issue:**
I think records in the `AbpUserLogins` table should have a unique combination of ProviderKey + TenantId (I don't think LoginProvider should be included?)

**Steps to reproduce:**
Call the TokenAuthController.ExternalAuthenticate twi

[2021-05-28 05:26] ismcagdas commented on #6159
@StefanKoenen I think in some cases, this can be useful. For example, as a public user, I may want to login to different tenants using my same social login account. You can easily add a constraint in your app if this is a problem in your case.

[2021-05-28 05:27] ismcagdas commented on #6158
@emisand thanks, we should definitely update it.

[2021-05-28 06:47] hamzasharif-code commented on #4234
Can i use database first approach while using Asp.Net Boilerplate?

[2021-05-28 06:48] hamzasharif-code commented on #4234
Can i use database first approach while using asp.net boilerplate? if yes then guid me how

[2021-05-28 06:50] hamzasharif-code opened #6160 "Database First Approach with Asp .NET Boilerplate"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-05-28 06:52] hamzasharif-code commented on #6160
can I use database first approach using asp.net boilerplate? if yes then please guid me how to use it

[2021-05-28 21:16] StefanKoenen commented on #6159
@ismcagdas I agree with you that it should be possible to login as public user to **different** tenants. But as I showed in my 'table' I have two records with **the same public user within the same tenant** BUT with two different user ids and that should not be possible!?

[2021-05-29 08:28] ismcagdas commented on #6159
@StefanKoenen sorry, I got it wrong, you are right 👍

[2021-05-29 09:08] ismcagdas commented on #6160
@hamzasharif-code it is not supported directly. You can try using tools like https://marketplace.visualstudio.com/items?itemName=SimonHughes.EntityFrameworkReversePOCOGenerator to generate your entities from your DB tables.

[2021-05-29 09:08] ismcagdas commented on #4234
@hamzasharif-code please continue via https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6160

[2021-05-30 11:14] warheat1990 opened #6162 "Getting error "Keyword not supported: user (Parameter 'keyword')" when running "update-database" using postgresql"
I'm getting error when trying to `update-database` using `postgres`. I assume it's due to keyword `user` is reserved? I followed this tutorial https://aspnetboilerplate.com/Pages/Documents/EF-Core-PostgreSql-Integration and I remove all the files in the `*.EntityFrameworkCore/Migrations` folder except the `DbContextModelSnapshot.cs`.

* Your Abp package version.
  **6.3.0**
* Your base framework:

[2021-05-31 05:52] ismcagdas commented on #6162
@warheat1990 thanks, we will check this problem.

[2021-05-31 05:57] warheat1990 commented on #6162
@ismcagdas actually it's due to my own mistake, I forgot that ConnectionString for postgres is different than MSSQL, it should be
`"Server=localhost;Port=5432;Database=test;User Id=postgres;Password=************;"`
instead of
`"Server=localhost;Port=5432;Database=test;User=postgres;Password=*************;"`

[2021-05-31 05:57] #6162 closed

[2021-05-31 05:59] ismcagdas commented on #6162
Thanks 🙂

[2021-05-31 07:01] worthy7 commented on #3128
No your database is not seeded, that's why it has no language

[2021-05-31 07:14] worthy7 commented on #2266
I just want to comment here, because its 4 years later and I'm wiser now and I want to deter people from the idea of starting UoW automatically at the beginning of the test.
The reason is if you ever call an app service (intergration test) then you want the uow to act the same way (start and end on the appservice method)

If you are doing unit testing, then probably you don't need a UoW most of th

[2021-05-31 07:20] worthy7 commented on #6155
The only way this happens is if two background job workers have been created by accident (by not using a singleton, registering it as Transient instead - or - by having 2 servers running for example)

Or, you made two jobs by accident.

[2021-05-31 07:22] worthy7 commented on #6138
I managed this by creating an interface for event handler, then reimplementing a null handler and replacing it with that null handler in the TestModule

[2021-05-31 07:22] #6138 closed

[2021-05-31 07:27] worthy7 commented on #6058
I actually couldn't get this to work, so I just did a really bad hack inside `AuthConfig` to pull out the cookie manually

[code]

[2021-05-31 07:27] #6058 closed

[2021-05-31 07:35] worthy7 commented on #6159
I think it might be wiser to consider a non-database solution to this one.
For example, a simple check before adding to the table, doing an Upsert instead of an Insert, making it Idempotent.

[2021-05-31 07:54] fncap commented on #6008
Hi @ismcagdas,
I just tried to remove my own copy of `HangfireIocJobActivator` from my module, and all seems to work correctly.
Maybe it was my fault on some missing `DependsOn` attribute, that was fixed working on my code since the isse was posted here.
Sorry for the mistake!

[2021-05-31 08:00] veryweb8 opened #6163 "Master-slave table id problem"
Found a problem, the main table and the slave table, the execution is accidental, the main table id was not successfully obtained, but the detailed record has been stored and the main table id=0
But in the end, the main table record is stored successfully, but when the detailed table is stored, the main table has not been stored yet, so the stored detailed table is the main table id=0
The code is

[2021-05-31 10:40] abolfazlmohammadiseif opened #6164 "How can I register an instance using AbpBootstrapper as Singleton"
I  know registering a class as a Singleton is like this:
`            _bootstrapper.IocManager.Register<IElasticClient, CustomElasticClient>(DependencyLifeStyle.Singleton);`

The problem is that I need to register an instance (=an object. and not a class) as a Singleton.
And when I register my instance like this:
`            _serviceCollection.AddSingleton<IElasticClient>(clientObj);`

Then the f

[2021-05-31 10:41] #6063 closed

[2021-05-31 11:19] abolfazlmohammadiseif commented on #6164
I found this which I think is true:
`            _bootstrapper.IocManager.IocContainer.Register(Component.For<IElasticClient>().Instance(client));
`

[2021-05-31 12:54] ismcagdas commented on #6164
@abolfazlmohammadiseif yes, you can use this approach.

[2021-05-31 12:54] #6164 closed

[2021-06-01 02:35] zx493734247 commented on #6147
Is it a possible to create a switchable dapr interceptor?
in this way,if you want use ,just enable it.

[2021-06-01 02:40] worthy7 commented on #6147
Perhaps I could just integrate Dapr sure.

[2021-06-01 06:20] zx493734247 commented on #6147
thanks very much

[2021-06-01 10:10] ktaze1 opened #6166 "User Roles operations throws error due to severed association between entities."
Hello,

I'm working on a project with AspNetBoilerplate ( version 5.14.0 ) and I'm getting an error probably same as #4733 , the base framework is .Net Core.

In UserAppService I've got this method:

[code]

When I send a request t o this endpoint, `_userManager.SetRolesAsync(user, input.RoleNames)` throws an error. Here is the content.

#### Error Message
[code]

#### StackTrace
[code]

Here is t

[2021-06-02 09:53] ismcagdas commented on #6163
@veryweb8 could you share your entity definition and how we can reproduce this problem ?

[2021-06-02 09:53] ismcagdas commented on #6166
Hi @ktaze1

Could you share a sample input for reproducing this error on our side ?
By the way, is your UserAppService is derived from CrudAppService ?

[2021-06-02 09:54] ismcagdas commented on #6008
Thanks 🙂

[2021-06-02 09:54] #6008 closed

[2021-06-02 10:01] ismcagdas commented on #5604
Thanks @emisand for your effort on this. So, I'm closing this issue since there are two options at the moment.

1. We have removed interception usage as much as possible with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6165
2. You will publish an un-official PostSharp version (For the ones who want to use this option should purchase a PostSharp license)

[2021-06-02 10:01] #5604 closed

[2021-06-02 10:11] #6158 closed

[2021-06-02 10:12] ismcagdas commented on #6131
Resolved via https://github.com/aspnetboilerplate/module-zero-core-template/commit/77f303f9577d5b95a95336891913e0575349c459

[2021-06-02 10:12] #6131 closed

[2021-06-02 10:51] khoaanh10 commented on #6155
//here my bgworker
            QueueMailInput mailInput = new QueueMailInput() { SendStatus = (int)EnumSendStatus.Sent, Processing = (int)EnumSendStatus.Processing };
            IEnumerable<QueueMailOutput> listQueueMail = _queueMailManager.GetAllQueueMails(mailInput);
            if (listQueueMail != null)
                _backgroundJob.Enqueue<SendMailBackgroundJob, QueueMailInput>(mailInput);

[2021-06-02 10:51] khoaanh10 commented on #6155
//here my bgworker
            QueueMailInput mailInput = new QueueMailInput() { SendStatus = (int)EnumSendStatus.Sent, Processing = (int)EnumSendStatus.Processing };
            IEnumerable<QueueMailOutput> listQueueMail = _queueMailManager.GetAllQueueMails(mailInput);
            if (listQueueMail != null)
                _backgroundJob.Enqueue<SendMailBackgroundJob, QueueMailInput>(mailInput);

[2021-06-03 01:09] #6070 closed

[2021-06-03 01:10] #6076 closed

[2021-06-03 05:59] ismcagdas commented on #6155
I have two questions;

1. Have you checked if line below returns duplicate records or not
`IEnumerable listQueueMail = _queueMailManager.GetAllQueueMails(input);`
2. Do you run 1 instance of your app or more instances ?

[2021-06-03 06:01] #6159 closed

[2021-06-03 06:50] khoaanh10 commented on #6155
1. yes  i have
2. more 2 instances

[2021-06-03 07:15] worthy7 commented on #6155
I used to have multiple instances too, and this is surely the problem. You have to disable background jobs on the second instance (use configuration and if statement in module startup)

[2021-06-03 07:54] khoaanh10 commented on #6155
can i chat with you?

[2021-06-03 08:35] khoaanh10 commented on #6155
can you clearly explained

[2021-06-03 08:37] worthy7 commented on #6155
If you have 2 instances of the app, they will both be polling the same database and will both get the same email job from the system, which will then send two emails.

[2021-06-03 08:43] khoaanh10 commented on #6155
yeah, exactly. but i dont understand your solution
can i have example

[2021-06-03 08:52] ismcagdas commented on #6155
You can disable job execution in one instance https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#disabling-job-execution. Or you can try using [Hangfire ](https://aspnetboilerplate.com/Pages/Documents/Hangfire-Integration) which can be used in more than 1 instance deployment.

[2021-06-03 08:58] khoaanh10 commented on #6155
it seems link die

[2021-06-03 11:01] onur-ardal opened #6168 "Cannot Override Cache Control Header."
I am using aspnetboilerplate version 5.13.0. I want response cache but it didn't work no matter what i tried. Response Header has always cache-control: no-cache, no-store.

I tried the following;

 - I just added the response cache attribute.
 - Response Cache middleware and cache profile.
 - I defined DefaultResponseCacheAttributeForControllers in WebCoreModule PreInitialize

**Offical Documentat

[2021-06-04 05:24] ismcagdas commented on #6168
@onur-ardal I think there was a problem with the older versions of ABP which doesn't get some attributes for AppServices when converting them to Controllers. We have fixed it with the latest version. But, if you are using 5.13, you need to upgrade your solution to latest version which also requires updating your solution to .NET 5.

[2021-06-04 07:30] khoaanh10 commented on #6155
https://docs.abp.io/en/abp/latest/Background-Workers-Quartz
how can i use Quartz to fix it

[2021-06-04 11:38] #6156 closed

[2021-06-04 16:19] onur-ardal commented on #6168
@ismcagdas I've updated all boilerplate references to the latest version. And i also updated from .net core 3.1 to .net 5.0. However, the cache-control did not change.

[2021-06-05 08:53] ismcagdas commented on #6168
@onur-ardal could you also share the sample code so we can try this on our side, reproduce and fix the problem ?

[2021-06-05 09:07] #6143 closed

[2021-06-05 09:19] #6118 closed

[2021-06-05 11:37] #6053 closed

[2021-06-07 02:27] veryweb8 commented on #6163
It happened by accident, and there is no way to reproduce it 100%. So far, there have been about 10 cases!

[2021-06-07 02:36] veryweb8 commented on #6163
the entity:
`public class ProductFactoryOfferPrice : Entity<long>, IHasCreationTime, IHasModificationTime
    {
        /// <summary>
        /// 供应商Id
        /// </summary>
        public long SupplierId { get; set; }
        /// <summary>
        /// 产品Id
        /// </summary>
        public long ProductId { get; set; }
        /// <summary>
        /// 市场价格报价
        /// </summary>
        pu

[2021-06-07 02:39] veryweb8 commented on #6163
Two cases have occurred since the problem was reported！
the entity:
`
public class ProductFactoryOfferPrice : Entity<long>, IHasCreationTime, IHasModificationTime
    {
        public long SupplierId { get; set; }
        public long ProductId { get; set; }
        public decimal OfferMarketPrice { get; set; }
        public string OfferMixedPriceJson { get; set; }
        public string OfferSkuPr

[2021-06-07 02:44] veryweb8 commented on #6163
Since the addition of [UnitOfWork], 210 records have been added, and no similar situation has been found for the time being!

[2021-06-07 06:26] lockcd opened #6169 "Upgrade to Angular version 12"
https://blog.angular.io/angular-v12-is-now-available-32ed51fbfd49

[2021-06-07 06:42] ismcagdas commented on #6163
Is your code in an app service ? If so, could you also share your app service ?

[2021-06-07 08:04] veryweb8 commented on #6163
`
    public class ProductFactoryOfferPriceAppService : AppServiceBase, IProductFactoryOfferPriceAppService
    {
        private readonly IRepository<ProductFactoryOfferPrice, long> _repository;
        private readonly IProductFactoryOfferPriceLogAppService _productFactoryOfferPriceLogAppService;
        private readonly ILogAppService _logAppService;

        public ProductFactoryOfferPriceAppS

[2021-06-07 08:05] veryweb8 commented on #6163
`public class ProductFactoryOfferPriceCreateOrUpdateInput
    {
        public long SupplierId { get; set; }
        public long ProductId { get; set; }
        public decimal OfferMarketPrice { get; set; }
        public string Remark { get; set; }
        public List<ProductFactoryOfferPriceSkuDto> SkuPriceList { get; set; }
        public List<MixedPriceDto> OfferMixedPrices { get; set; }
    }

[2021-06-07 08:06] veryweb8 commented on #6163
public class ProductFactoryOfferPriceCreateOrUpdateInput
    {
        public long SupplierId { get; set; }
        public long ProductId { get; set; }
        public decimal OfferMarketPrice { get; set; }
        public string Remark { get; set; }
        public List<ProductFactoryOfferPriceSkuDto> SkuPriceList { get; set; }
        public List<MixedPriceDto> OfferMixedPrices { get; set; }
    }

[2021-06-07 09:56] onur-ardal commented on #6168
@ismcagdas as follows,

[code]

Startup;
[code]

[code]

CoreModule;

[code]
![image](https://user-images.githubusercontent.com/80475909/120996864-64c7d280-c78f-11eb-98d1-009070f57857.png)

[2021-06-07 11:21] ismcagdas commented on #5995
@easyest thank you for the detailed explanation but I couldn't reproduce it on my side. Is it possible for you to reproduce this with a new template ?

[2021-06-07 11:38] ismcagdas commented on #6122
@Ajaysinh4377 I don't have much experience with Xamarin but it seems like we don't support using Linker Assemblies, because there are many reflection usages in the Framework.

[2021-06-07 11:46] ismcagdas commented on #5923
@liyojose when I look at the code of storing token on React app, it stores the token on cookie. So, regardless of the load balancer, each http request should send Authorization header retrieved from this cookie. Could you check this on your scenario ? It is hard for me to setup such load balancer to test this case.

[2021-06-07 11:57] #6071 closed

[2021-06-07 12:00] ismcagdas commented on #6096
As I can see, current tables are default html tables. We can use a better table for the Angular app so it can be easily sorted.

[2021-06-07 12:14] #6002 closed

[2021-06-07 14:31] #2826 closed

[2021-06-08 06:57] khoaanh10 commented on #4762
year i am having same issue, but i have it on development server and production server

[2021-06-08 14:07] bxjg1987 opened #6170 "question: Does bacgroup job system support periodic cycl jobs?"

[2021-06-09 03:13] hungqng52 commented on #4255
SignalRAspNetCoreHelper.ts:26 GET http://localhost:4200/assets/abp/abp.signalr-client.js net::ERR_ABORTED 404 (Not Found)

How can I solve it! Please help me!

[2021-06-09 06:28] ktaze1 commented on #6166
Hello @ismcagdas , my apologies for late respond.

Incoming UserDto is something like this:
[code]

The role "ADMIN" exists (I don't know if that matters.)

UserAppService is derived from AsyncCrudAppService which is also derived from CrudAppServiceBase

[2021-06-09 12:08] cgrorhan opened #6171 "AbpUserConfiguration/GetAll error"
I just upgrade EF version 2.2 to 3.1 in the Asp.Net Core. And I updated some other packages according to this situation. But I am facing with this error in react->src->index.tsx

'GET http://localhost:21021/AbpUserConfiguration/GetAll 404 (Not Found)'

-Abp packages version 5.13

[2021-06-09 15:28] bxjg1987 opened #6172 "AuthConfigurer.QueryStringTokenResolver Decryption failed"
context.Token = SimpleStringCipher.Instance.Decrypt(qsAuthToken, AppConsts.DefaultPassPhrase);
Neither encrypted accesstoken nor accesstoken can be decrypted

[2021-06-09 20:56] #6029 closed

[2021-06-09 20:56] #6030 closed

[2021-06-09 20:56] #6033 closed

[2021-06-09 20:56] #6077 closed

[2021-06-09 20:56] #6092 closed

[2021-06-09 20:56] #6079 closed

[2021-06-10 00:49] hzicong opened #6173 "why sometimes Repository.InsertAndGetIdAsync return id = 0"
i just call:     var id = await _repository.InsertAndGetIdAsync(entity);
but sometimes id return 0

* Abp:5.10.1.
* Framework:  .Net Core 3.1.

        public virtual async Task<AjaxResponse> CreateOrUpdate(ProductFactoryOfferPriceCreateOrUpdateInput input)
        {
            var entity = await _repository.FirstOrDefaultAsync(p => p.ProductId == input.ProductId);

            if (entity == null

[2021-06-10 00:54] veryweb8 commented on #6163
The same problem appeared again. This is a screenshot of the log and the corresponding code, abp version 5.10.1
![image](https://user-images.githubusercontent.com/40821508/121448005-67157100-c9c9-11eb-9972-599ad9c96f77.png)

[2021-06-10 00:58] veryweb8 commented on #6163
The same problem appeared again. This is a screenshot of the log and the corresponding code,
 abp version 5.10.1
![Uploading image.png…]()

[2021-06-10 06:38] ismcagdas commented on #6172
@bxjg1987 how can we reproduce this ? SimpleStringCipher is changed when moving to a major ASP.NET Core version as far as I remember. If you made such a migration recently, it might be the cause.

[2021-06-10 06:53] ismcagdas commented on #6170
@bxjg1987 you can use https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#background-workers but if its features is not enough, you can try using Hangfire or Quartz.

[2021-06-10 07:15] demirmusa commented on #6171
Hi @cgrorhan

I could not reproduce the same problem. Can you please share a project that contains that problem?

[2021-06-10 07:46] hzicong commented on #6173
it same to #6163

[2021-06-10 08:20] ismcagdas commented on #6173
We can continue via https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6163

[2021-06-10 08:20] #6173 closed

[2021-06-11 05:36] manhhung94qn opened #6174 "Angular DevTools not working with angular aspnettemplate"
I use aspnetboilerplate + angular. I use Angular DevTools for debug but not working.
 It's show 'This page is not using Angular, or it has a strict extension policy.'
Please help me.

[2021-06-12 11:17] ismcagdas commented on #6174
@manhhung94qn could you share steps to reproduce this problem on an empty template ?

[2021-06-12 13:41] #6172 closed

[2021-06-12 13:41] bxjg1987 commented on #6170
thanks！

[2021-06-12 14:18] #6170 closed

[2021-06-14 07:06] ismcagdas commented on #4255
@hungqng52 could you download a new template and see if SignalR works for you ? As far as I can see, Angular version doesn't use abp.signalr-client.js. It is used in jQuery version.

[2021-06-14 13:42] ontur00 opened #6175 "Abp.Authorization.AbpAuthorizationException: Current user did not login to the application!"
### Error at application
After about 30 minutes of logging in, the application shows an error **Current user did not login to the application!**

![image](https://user-images.githubusercontent.com/11216422/121901768-f652b980-cd26-11eb-9b41-81d2add55037.png)

### Log
WARN  2021-06-14 12:29:57,233 [76   ] Mvc.Authorization.AbpAuthorizationFilter - Abp.Authorization.AbpAuthorizationException: Current

[2021-06-15 06:17] ismcagdas commented on #6175
This might happen when your web server is recycled. If you are using IIS, you can configure it to always running mode.

[2021-06-15 10:05] mugambiwarwema opened #6176 "CORS Error after my app has been in production for two months"
I have seen the error before but it appears there's no direct fixed

Access to XMLHttpRequest at 'https://api.xxxxxxxxxx.com/AbpUserConfiguration/GetAll' from origin 'https://order.xxxxxxxxxx.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

My app was in production a

[2021-06-15 10:24] ontur00 commented on #6175
Hi @ismcagdas I changed Appplication Pools ->Advanced Settings -> start Mode (AlwaysRunning) and i have still the same issue

![image](https://user-images.githubusercontent.com/11216422/122037245-adf1d500-cdd4-11eb-8cad-180c202a05bb.png)

[2021-06-15 11:48] fncap opened #6177 "MustHaveTenantFilter is not compatible with EF Core TPH inheritance"
Hi,
I'm currently using ABP .NET Core v.6.2.0 and trying to implement a TPH inheritance with following example entities:

[code]

Following is how I configured TPH in `OnModelCreating` method of `DbContext`:

[code]

When I try to add a migration like `dotnet ef migrations add InitialMigration`
I got following error:
[code]

`MustHaveTenantFilter` is applied for all entities assignable from `IMust

[2021-06-15 15:20] fncap commented on #6177
Same happens with all others built-in data filters

[2021-06-16 06:27] ismcagdas commented on #6177
I believe EF Core doesn't support this https://docs.microsoft.com/en-us/ef/core/querying/filters#limitations. Did you make it work with raw EF Core ?

[2021-06-16 09:47] worthy7 opened #6178 "Job per EventHandler (EventBus)"
When firing an event through the EventBus, it is done in memory, which can have the side affect of being slow if some calls are made to external services.

To circumvent this, we have the `backgroundJobManager.EnqueueEventAsync` extension method, which will put it into a job instead.

HOWEVER, there is one large problem with this. If there are multiple handlers for an event, and one of the handers

[2021-06-16 09:48] worthy7 commented on #6178
I am basically asking for a proper pub/sub system, which runs out of process.

[2021-06-16 12:36] mahdighorbanpour opened #6179 "Using ODataQueryOptions in the method parameters will throw exception"
Your Abp package version: 6.3.0
Your base framework: .Net 5
Exception message and stack trace:
[code]
* Steps needed to reproduce the problem.

I created a new .net 5 project from https://aspnetboilerplate.com/Templates page and followed the instructions on https://aspnetboilerplate.com/Pages/Documents/OData-AspNetCore-Integration to enable OData. Without any customization, everything works fine.

[2021-06-16 13:46] mahdighorbanpour commented on #6179
I created a new .netcore project and used the Odata nuget package directly there (without using abp) and the same code works with no problem.

[2021-06-16 15:27] manhhung94qn commented on #6174
I dowload template, unzip, then run. Angular dev tool not work
[Link exeten](https://chrome.google.com/webstore/detail/angular-devtools/ienfalfjdbdpebioblfackkekamfmbnh)

[2021-06-16 16:04] manhhung94qn commented on #6174
@ismcagdas I think problem is AbpUserConfiguration/GetAll, if server work, angualar dev tool enable else if turn off serer then angular dev tool is not turn on

[2021-06-17 05:49] ismcagdas commented on #6179
@mahdighorbanpour thanks, we will check this.

[2021-06-17 05:58] ismcagdas commented on #6178
@worthy7 we don't have such a plan at the moment. Maybe, it will be better to use a 3rd party library for that.

[2021-06-17 06:09] ismcagdas commented on #6177
I think, there is nothing we can do in ABP Framework.

[2021-06-17 06:10] ismcagdas commented on #6175
@ontur00 thanks, we will check this in details.

[2021-06-17 06:11] ismcagdas commented on #6176
@mugambiwarwema do you have any error logs in your server side log file ?

[2021-06-17 06:46] worthy7 commented on #6178
Is there some way I can simply replace whatever manages the
IAsyncEventHandlers to launch jobs instead of executing them directly?

On Thu, 17 Jun 2021 at 14:58, İsmail ÇAĞDAŞ ***@***.***>
wrote:

[2021-06-17 10:36] fncap commented on #6177
Looking at [this](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a235e9ed032947c71943e436bfb3aa1ca99f9183/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L129-L147)
[code]
the `if condition` should apply global filters only if current entity is a base entity, not inheriting from another one.
But in my case, when `ReferenceA` and `ReferenceB` are inspected, both had `Ba

[2021-06-17 15:53] fncap commented on #6177
I just figured out how to solve this issue.

Reading [EF Core Doumentation on inheritance](https://docs.microsoft.com/en-us/ef/core/modeling/inheritance), I understand that `BaseType` is identified by EF Core if all entities participating in the inheritance chain, are all known to model.
So you have to put a `DbSet` for all of them.

In my scenario, I don't need to perform query against `Reference

[2021-06-17 17:12] mugambiwarwema commented on #6176
@ismcagdas

I have checked my logs, no errors show up.

However when I restart my kestrel services with

the app starts loading OK without the error.

I will monitor and respond in 48 hours.

[2021-06-17 19:19] mugambiwarwema commented on #6176
@ismcagdas

sadly the error persists.

[2021-06-18 02:15] #6108 closed

[2021-06-18 06:01] ismcagdas commented on #6176
If there are no errors on server side, probably the request is blocked before reaching the server. It is hard for me to detect such a problem without reproducing the problem.

[2021-06-18 06:44] mugambiwarwema commented on #6176
I went and updated my LetsEncrypt certificates and now all looks good.
Kindly keep the thread open for 48 hours after which I can close this issue.

Thanks

[2021-06-19 22:44] guecort commented on #5610
How did you solve it I have the same error, some advice please

[2021-06-19 22:45] solopromiguel commented on #5610
How did you solve it I have the same error, some advice please

[2021-06-20 05:58] Rikudouensof commented on #5316
There is no web. config in my solution. only application.json, startup.cs...
![Capture](https://user-images.githubusercontent.com/20301927/122663776-c5dea580-d194-11eb-877b-2319c5144b45.PNG)

I am kinda lost. even Microsoft documentation does not give any open way without the .config file

[2021-06-20 08:25] AntheusS opened #6180 "Request for information: Is it better to start new projects with ABP.IO, aspnetboilerplate or does it not matter which one I choose?"
Are there or will there be any plans for aspnetboilerplate to be no longer maintained because of the ABP Framework?

I am planning on building a couple of applications for some clients and have experience using aspnetboilerplate, but I would hate to use aspnetboilerplate to have it go EOL in 2 years or something.

[2021-06-20 10:27] ismcagdas commented on #6180
@AntheusS we will continue to maintain AspNet Boilerplate. We are planning to update it to .NET 6 when it is released. AspNet Boilerplate is a very mature Framework and we are making enhancements to it even there is ABP.IO released by same developers of AspNet Boilerplate.

If your main concern is maintenance, I can say that it will not be a problem. But, I can suggest you to use ABP.IO if you wan

[2021-06-20 10:28] ismcagdas commented on #5316
@Rikudouensof web.config is not required, you can also try https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5316#issuecomment-589455054

[2021-06-20 10:30] Rikudouensof commented on #5316
Thanks @ismcagdas

[2021-06-20 10:31] ismcagdas commented on #5610
@solopromiguel are you trying this in your web project's module ?

[2021-06-20 10:50] AntheusS commented on #6180
@ismcagdas Thank you for the great reassuring answer.

[2021-06-20 10:50] #6180 closed

[2021-06-20 17:01] easyest commented on #5995
@ismcagdas please follow my commits at https://github.com/easyest/TestEmbeddedResources/commits/master
As I already stated - the problem does not manifest itself with the current `EmbeddedResourceVirtualPathProvider`, because current `EmbeddedResourceVirtualPathProvider` does not have methods for folders. But if You implement those methods (`DirectoryExists` and `GetDirectory`) then method `GetCac

[2021-06-20 17:05] easyest commented on #5995
First add breakpoint to line 129 of `BundleConfig.cs` and when this breakpoint is hit, add the breakpoint at line 28 of `FixedEmbeddedResourceVirtualPathProvider.cs` and check what values You get for `virtualPath` and `virtualPathDependencies` when `GetCacheDependency` is called from bundling subsystem.

[2021-06-20 17:09] easyest commented on #5995
Oh, I found one more way to explain it. `GetCacheDependency` is called not only for single files, but for file collections for each virtual path that is registered as bundle. In this case `virtualPath` contains Bundle virtual path (`~/Bundles/Shared/js`), and `virtualPathDependencies` contains every embedded file in this bundle (`~/EmbeddedContent/Javascript.first.js` and `~/EmbeddedContent/Javasc

[2021-06-21 01:37] veryweb8 commented on #6163
There are similar problems with the above problem,
According to the execution of this code, sometimes no data is created
code show as below:
`await _productFactoryOfferPriceLogAppService.Create(inputLog);`

[2021-06-21 06:44] ismcagdas commented on #6177
@fncap thanks, I will also check this.

[2021-06-21 06:49] ismcagdas commented on #6174
@manhhung94qn this is normal because Angular app can't work if server app is not up.

[2021-06-21 10:00] mahdighorbanpour commented on #6179
I found out adding these lines in the WebCoreModule will resolve the issue
`Configuration.Validation.IgnoredTypes.AddIfNotContains(typeof(ODataQueryOptions));
            Configuration.Validation.IgnoredTypes.AddIfNotContains(typeof(ODataQueryOptions<>));`

[2021-06-21 11:58] ontur00 commented on #6175
Hello, I tested the application despite the constant activity of the user, clicking and moving the mouse logs out after about 30-40 minutes.
I added a method that calls the method from controller every 30 seconds, but that didn't help either. do you propose any workaround.

**Chats.cs**
`

[HttpPost]
public JsonResult KeepSessionAlive()
{
	JsonResult json = new JsonResult("Success");
	return json;

[2021-06-22 00:24] worthy7 commented on #6178
Using a third party library is going to be difficult because it means we need to rely on exteral software. I was hoping we can keep it all within ABP. Our internal network  is very strict, doesn't have docker, doesn't have internet connection. If I am forced to go with a 3rd party I am not sure which would be simplest to implement, any recommendation?
All we need is pub/sub with the same kind of f

[2021-06-23 06:28] saliksaly commented on #4460
I use my own filter for entities for tenants (TenantId.HasValue) or shared (TenantId == null).

EntityFrameworkModule:

public override void PreInitialize()
{
    Configuration.UnitOfWork.RegisterFilter("TenantOrSharedEntity", true);
}

DbContext:

protected virtual bool IsTenantOrSharedEntityFilterEnabled =>
            CurrentUnitOfWorkProvider?.Current?.IsFilterEnabled("TenantOrSharedEntity") =

[2021-06-23 06:33] saliksaly commented on #1040
My solution for **shared entities**:
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4460#issuecomment-866566252

[2021-06-23 11:23] ismcagdas opened #6181 "Upgrade NuGet packages"

[2021-06-23 14:02] #6181 closed

[2021-06-24 02:12] worthy7 opened #6183 "Replace service not replacing service"
I have this code in my `preinitialize` of my core module
`Configuration.IocManager.Register<IFileSystem, FileSystem>(DependencyLifeStyle.Singleton);`

Then in my `preinitialize` of test module I have this
`Configuration.ReplaceService<IFileSystem, MockFileSystem>(DependencyLifeStyle.Singleton);`

I debugged and used breakpoints to see that they are being executed in the correct order.
If I try to

[2021-06-24 06:24] ismcagdas commented on #6183
@worthy7 it is hard to tell. Could you provide a reproduction project ?

[2021-06-24 17:13] #6174 closed

[2021-06-24 17:13] manhhung94qn commented on #6174
This is my error

[2021-06-24 17:52] manhhung94qn opened #6184 "I can user an instance aspboilerplate for both api + identityserver?"
I can user an instance  aspboilerplate for both api + identityserver?
If available, how to do it?
I want to use a page ui login from instance aspboilerplate and i choice default Quickstart default of identiyserver4 and i have change config below but not work.
1. Add DI
`

        public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            //MVC
            services

[2021-06-26 13:02] #6113 closed

[2021-06-26 13:02] #6107 closed

[2021-06-26 13:02] #6117 closed

[2021-06-26 13:02] #6103 closed

[2021-06-26 13:02] #6109 closed

[2021-06-27 14:56] ismcagdas commented on #6184
@manhhung94qn you can use IdentityServer with AspNet Boilerplate. You can check the samples below;

https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServerWithEfCoreDemo
https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServervNextDemo

[2021-06-27 14:57] ismcagdas opened #6185 "Upgrade templates to 6.4-rc.1"
Upgrade all 4 projects to 6.4-rc.1

[2021-06-27 14:57] #6169 closed

[2021-06-28 10:15] demirmusa commented on #6185
- [ ] module-zero-core-template
- [ ] module-zero-template
- [ ] aspnetboilerplate-templates
- [ ] aspnet-core-template

[2021-06-28 11:50] BigCDogCrew opened #6186 "ForeignKey references cause LEFT JOIN ON SELECT *"
Promoted from Asp.Net Zero Support Page (Issue #10386)
https://support.aspnetzero.com/QA/Questions/10386/ForeignKey-references-cause-LEFT-JOIN-ON-SELECT
Read that article for background.

The primary difference between the ANZ query and the LinqPad query is that ANZ applies the tenancy filters. That's the "why". Because ANZ needs to apply the tenancy filters, it has opted to use a nested subquery

[2021-06-29 00:35] rqx110 opened #6187 "upgrade the official document version"
the document on https://aspnetboilerplate.com/Pages/Documents is older, please upgrade to the latest!

![image](https://user-images.githubusercontent.com/1829209/123719671-b65a0d80-d8b4-11eb-9eec-6ad4cebf1451.png)

[2021-06-29 03:25] Newxml opened #6188 "Where can I find ABP historical version source code"
Where can I find ABP historical version source code

[2021-06-29 03:27] #6188 closed

[2021-06-29 03:27] Newxml commented on #6188
![image](https://user-images.githubusercontent.com/34527830/123732790-0644ce80-d8cd-11eb-8a41-224cee6855fd.png)

[2021-06-29 05:41] Martin367 commented on #5272
that's it, thanks
for me, this error would occur due to modified tsconf without inspection after upgrading my project
background: angular 11 + ng zorro 11 + ng alain 11

[2021-06-29 06:28] ismcagdas commented on #6187
@rqx110 thanks, updated.

[2021-06-29 06:28] #6187 closed

[2021-06-29 06:43] ismcagdas commented on #6186
Thanks a lot @BigCDogCrew, we will work on this and see if we can improve it.

[2021-06-29 07:15] #6185 closed

[2021-06-29 17:02] MalikOsama opened #6189 "Worker Service Initialization Exception"
[ServiceModule.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/6735117/ServiceModule.zip)
**Exception In Entity Framework Layer**
Castle.MicroKernel.ComponentNotFoundException: 'No component for supporting the service System.IServiceProvider was found'
I Attached Service Module Class and Program Class
Kindly check and verify what I make wrong.

[2021-06-30 02:22] #6120 closed

[2021-06-30 07:25] worthy7 commented on #88
I think this is the missing piece that will solve the problem of quering data from multiple modules, which to me, seems like the biggest pain point of such distribulted applications

Related: https://stackoverflow.com/a/27973819/1079267

[2021-06-30 09:32] ismcagdas opened #6190 "Allow disabling result filters for specific controllers"

[2021-06-30 17:22] MalikOsama commented on #6189
#6189 kindly respond please.

[2021-07-01 06:24] iyilm4z commented on #6189
duplicate of #5369

[2021-07-01 10:47] #5652 closed

[2021-07-02 06:48] worthy7 commented on #6183
Hi there,

https://github.com/worthy7/module-zero-template/tree/replace-service

Check the last commit to see what was added. The replace service just doesn't work when not using

It works if I use the `ITransientDependency` way of registering dependencies, but not using manual registration.

(This issue came about because I am just trying to register some things that exist in a different assembly

[2021-07-02 06:51] ismcagdas commented on #6183
@worthy7 ReplaceService doesn't work when you use `Configuration.IocManager.Register` because it directly uses Castle Windsor. You can try using Castle's IsDefault option with your replacement registration, see https://stackoverflow.com/a/37832194/6681451

[2021-07-02 06:55] worthy7 commented on #6183
In that case, perhaps change the `ReplaceService` function to only take types that implement from `ITransientDependency` or `ISingletonDependency` (or make them implement something shared and enforce it).

Thanks for looking at this so quick.

[2021-07-02 07:03] worthy7 commented on #6183
Hmm this is for factories it seems, is there no other way other than to provide an instance?

[2021-07-02 07:10] ismcagdas commented on #6183
I think it should work in your case too. Did you have a chance to try ?

[2021-07-02 07:14] worthy7 commented on #6183
That repo is a simple version of the real problem 😁

(related https://github.com/castleproject/Windsor/blob/master/docs/whats-new-3.1.md#fallback-components)

Yes, if I change the registration of the real component to:
`Configuration.IocManager.IocContainer.Register(Component.For<ISomething>().ImplementedBy<RealSomething>().IsFallback());`

(not `Configuration.IocManager.Register(Component.For<ISo

[2021-07-02 07:14] #6183 closed

[2021-07-02 07:25] ismcagdas commented on #3749
@BenLewies sorry, it seems like I couldn't understand your question at first. ABP uses result wrapping by default, see https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#result-filter. ABP uses extra fields success, error etc... on the client side. You can disable it as shown below in your web module's PreInitialize method;

[code]

[2021-07-02 07:26] worthy7 commented on #6178
Really could use some guidence on this, I just need to know what part of ABP manages firing of events. All I want to do is
1. On `EnqueueEventAsync` (extension method) - or my own new extension,
2. Find all handlers for the event
3. Write a job to fire the handler, put it into the database. (which will be picked up by a worker to run the handler)

This way, if a handler fails, it does not affect a

[2021-07-02 07:31] worthy7 commented on #6178
Would I be correct in thinking I want to implement `IEventBus`? with a new `BackgroundJobEventBus` ?
I know the implementation is out of process and I am not sure if that is an implementation detail or not... I basically think all events should run as background jobs and in the testing framework I made all background jobs run after the end of a UoW (to simulate the speed up).

I was looking at thi

[2021-07-02 08:11] veryweb8 commented on #6163
Test the code in this way, call the method containing the main table and the detailed table storage, id=0 will appear

for (var i = 0; i < 5; i++)
{
    await Task.Factory.StartNew(async () =>
        {
            input.ProductId++;
            await _productFactoryOfferPriceAppService.CreateOrUpdate(input);
        });

}

[2021-07-02 15:56] randforum commented on #2619
Can we implement the same with Azure Blob Storage? is there an article to help. We need to store all binary objects to Azure Blob Storage

[2021-07-02 18:07] randforum commented on #2619
https://www.nuget.org/packages/Volo.Abp.BlobStoring

I just saw this and wondered if it is compatible with aspnetboilerplate or if there is any implementation of storing blobs on Amazon or Azure example

[2021-07-04 04:12] #6125 closed

[2021-07-04 04:12] #6124 closed

[2021-07-04 04:12] #6129 closed

[2021-07-04 08:33] ismcagdas commented on #2619
@randforum aspnetboilerplate doesn't have a IBinaryObjectManager or its implementation. The one from abp.io can't be used in aspnetboilerplate but you can copy its source code to your project and use it.

[2021-07-07 08:53] abolfazlmohammadiseif opened #6192 "Notification System does not return custom properties"
Hi,
I use Notification System and I add a custom notification like this:
[code]
in which the **AdminNotificationData** class is like this:
[code]
when I publish the notification, it is saved in the DB and all the new properties above, is saved in **Data** field as a **Json** string; and when I **Get** it using the following method, I can see the custom properties like (SenderUserName  and  Message

[2021-07-08 00:55] #6130 closed

[2021-07-08 00:55] #6132 closed

[2021-07-08 09:41] KhoaND290391 opened #6193 "Collection was modified; enumeration operation may not execute."
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* package version.: `Aspnet Zero 7.2.3`
*base framework: .Net Core 2.2.
* Exception m

[2021-07-08 16:46] abhishekpoonia31 commented on #2862
service-proxies.ts file is getting too large as the application grows, and it's added in main.js bundle. This is impacting angular startup performance. Below the snapshot of main.js using webpack-bundle-analyzer
![image](https://user-images.githubusercontent.com/591155/124960539-ab505d00-dfd9-11eb-9c70-3182abdb891c.png)

[2021-07-09 02:29] cuongnc5 opened #6194 "Cannot login after deploy in linux"
After deploy to linux. I can not login. I alway got error 302.
Please help me how to config after deploy abp application?

[2021-07-09 04:55] dolphinsd opened #6195 "how to disable EF core sql logging"
For some reason all sql queries are being logged into log4net file. Any idea how to disable it in development mode? Thanks.

[2021-07-09 05:00] sriramNV commented on #6195
There is a solution in the official documentation of log4net "https://logging.apache.org/log4net/release/faq.html".

Setting the Threshold on the Hierarchy to Level OFF will disable all logging from that Hierarchy. This can be done in the log4net configuration file by setting the "threshold" attribute on the log4net configuration element to "OFF".

For example:
<log4net threshold="OFF" />

[2021-07-09 15:14] dolphinsd commented on #6195
@sriramNV thanks for the note, we want logging, just not EF core sql queries. They appear recently with update to asp.net core 3.x and higher.

[2021-07-09 18:24] ridicoulous commented on #6195
@dolphinsd
[code]

[2021-07-10 10:14] abolfazlmohammadiseif opened #6196 "Get Notifications and User Notifications records"
There are two Notification tables in DB. The first one is [Notifications], and the second one is (both [TenantNotifications] and [UserNotifications]). I think the first table (Notifications), depending on if the TenantId is Null or not, is shared among all users of a specific tenant or among All users of all tenets.
And [TenantNotifications] and [UserNotifications] are both for a specific user.

I

[2021-07-11 08:29] sajasbana commented on #5793
@ismcagdas
Thanks
hope you can add this feature to next update

[2021-07-11 09:26] ismcagdas commented on #6195
@dolphinsd please reopen if this doesn't work for you.

[2021-07-11 09:26] #6195 closed

[2021-07-12 05:38] ismcagdas commented on #6196
@abolfazlmohammadiseif the framework handles this for you. Did you have a problem about this ? You don't have to deal with those tables directly.

[2021-07-12 05:50] ismcagdas commented on #2862
@abhishekpoonia31 we are still waiting for https://github.com/RicoSuter/NSwag/issues/1398

[2021-07-12 07:52] ismcagdas commented on #6193
@KhoaND290391 could you share what is on line 314 in SmsAppService ? As I can see, it is commented out. If so, could you share a reproduction project ? When I look at the code you have shared, everything seems fine.

[2021-07-12 07:54] ismcagdas commented on #6194
@cuongnc5 there might be many reasons for this. Can you login as a host user ?

[2021-07-12 07:59] ismcagdas commented on #6141
@BenLewies sorry, I thought you were using the Angular version, my mistake. For MVC version, you can login via the default login page and then navigate to Swagger UI. In that way, cookies will be sent with each swagger request. Could you try that way ?

[2021-07-12 09:50] zlyxm commented on #5990
I have encountered this problem too. Would you please tell me specifically how to solve it?

My signalr.js version is 2.4.0

[2021-07-12 09:52] zlyxm commented on #5990
The debug operation is normal, but the release operation fails

[2021-07-12 10:44] rjs123431 opened #6197 "VPN and Non-VPN Configuration"
Hi,

We installed the system in our local server, so the `remoteServiceBaseUrl `as 192.168.x.x. When we access it using VPN the Ip is now 10.8.x.x. It will show the UI, however it cannot get into the Api which is in 192.168.x.x

Is there any way we can access the system both in local network or through VPN? Or are we missing some configurations?

Thank you.

[2021-07-12 11:35] KhoaND290391 commented on #6193
Hi ,
That was
`var messages = query.ToList();`

[2021-07-12 12:02] alpeshkalena opened #6198 "How to use this keyword in inside abp.event.on('eventname')?"
Hi, I am using abpzero framework Angular + .Net core.
My issue is related to the events in angular side.
My question is how to access this keyword inside in event. I am attaching screenshot of the implementation for event registration.
Currently if i use this keyword outside the event function but i need current latest this keyword in the event function. If try to use this in inside then it is giv

[2021-07-13 06:02] #6149 closed

[2021-07-13 06:30] ismcagdas commented on #6198
@alpeshkalena it should work like this;

[code]

[2021-07-13 06:31] ismcagdas commented on #6193
@KhoaND290391 is it possible for you to share a reproduction project ? If not, could you share your entity and app service definitions ?

[2021-07-13 06:34] ismcagdas commented on #6197
@rjs123431 this is not supported out of the box. If you can determine the VPN usage, you can load a different configuration file (appconfig.production.json and appconfig.vpn.production.json) and handle this case.

[2021-07-13 06:35] ismcagdas commented on #5990
Hi,

Could you share what is your signalr.js NPM package name ?

[2021-07-13 07:05] Sunzhuokai opened #6200 "why use `->` symbol represent property changes stack tree"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e711cc08b81ba39bb04839b8af432574413fc2cd/src/Abp/EntityHistory/EntitySnapshotManagerBase.cs#L115

`->` symbol usually represent changes from left to right，but in abp it's opposite，why use this symbol？

[2021-07-13 08:47] KhoaND290391 commented on #6193
Sorry I can't.
But I think above example was very clear.
You could try with these steps:
1. Use class map to a table, has one property with type is enum
2. use GetAll() via Repository with above condition
3. call Select to map classs to another class (ViewModel)
4. call  OrderbyDescending with any field.
5. Error happens.

[2021-07-14 01:18] cuongnc5 commented on #6194
Sorry. I am missing https in systemd/system/app.service file.

[2021-07-14 01:18] #6194 closed

[2021-07-14 03:07] zlyxm commented on #5990
of course
https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.4.2/jquery.signalR.min.js

I downloaded the template on the official website,
\Views\Shared\Layout\_Scripts.cshtml

[2021-07-14 06:24] abolfazlmohammadiseif commented on #6196
Unfortunately I have a problem with that. Actually I inject **INotificationPublisher** and use  **PublishAsync** to push notifications.
[code]
and then when I try to get all Notifs in the following API, I'm not able to get them all, and jest get personal notifications. not shared ones.

[code]

[2021-07-14 07:19] ismcagdas commented on #6200
@Sunzhuokai I couldn't remember this at the moment but it seems wrong as you said. We will check it, thanks.

[2021-07-14 07:22] ismcagdas commented on #6196
As I can see, all notifications are same in your case. All cases send the same AdminNotificationData. Which one you can't get ?

[2021-07-14 07:48] abolfazlmohammadiseif commented on #6196
Yes, they are the same **AdminNotificationData** notifications. But the first 2 **Ifs** in the code above, saves records in **Notifications** table and the last **Else If**  saves records in **TenantNotifications** and **UserNotifications**. When I run **GetUserNotifications**  Just receive **GetUserNotifications** records. It does not return **Notifications** records.

[2021-07-14 08:20] acjh commented on #6196
Did you subscribe the user to the notification name?
If you don't specify `userIds`, ABP publishes to subscribers. If you don't subscribe, you don't receive.

From the documentation on [Notification System](https://aspnetboilerplate.com/Pages/Documents/Notification-System):

[2021-07-14 09:10] abolfazlmohammadiseif commented on #6196
The publish method above, saves the notifications in tables, no matter I subscribe them or not.
So, you mean, receiving the notifications, depends on subscription?!

[2021-07-14 09:18] acjh commented on #6196
If you don't specify `userIds`, then yes.
These are the two ways mentioned in the documentation and quoted in my previous comment for your convenience.

[2021-07-14 09:25] abolfazlmohammadiseif commented on #6196
In the **PublishAdminNotification** method above, I directly send a notification to target a user. So I think that would not be necessary to subscribe.

[2021-07-14 09:26] abolfazlmohammadiseif commented on #6196
So you mean that subscription is necessary for the **Notifications** table which is shared among other users.

[2021-07-14 09:33] acjh commented on #6196
You only do that in your third `if`, which has no issue, right?

Notifications sent to subscribed users will save records in `TenantNotifications` and `UserNotifications`.
`Notifications` table is always written, regardless of whether it's sent to target users or subscribed users.

[2021-07-14 20:37] amira133 opened #6202 "Disable DateTimeNormalization globally in project"
hi,

how can disable DateTimeNormalization globally in abp?

abp v6.3.1

[2021-07-15 02:18] 274188A opened #6203 "v6.4.0 - Templates Need Updating"
I think the templates (https://aspnetboilerplate.com/Templates) have not been updated.  I tried preview as well and both have breaking changes if nugets are updated to 6.4.0

[2021-07-15 06:13] ismcagdas commented on #6202
@amira133 you can use `Clock.Provider = ClockProviders.Unspecified`. In that case, AspNet Boilerplate will not modify the datetime values but ASP.NET Core may.

[2021-07-15 07:36] ismcagdas opened #6204 "IOnlineClientManager.GetAllClients always returns zero"
Details can be found here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5990#issuecomment-879549814

[2021-07-15 07:36] ismcagdas commented on #5990
Thanks, I have created a separate issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6204

[2021-07-15 07:38] ismcagdas commented on #6192
Could you also share the case when the data doesn't return to frontend ?

[2021-07-15 08:02] ismcagdas commented on #6193
I tried and it worked for me

![image](https://user-images.githubusercontent.com/4133525/125751667-5c1a8d97-dbe5-46fd-b9a2-030b163a306e.png)

This is the code I have tried.

[code]

So, please download a new project from https://aspnetboilerplate.com/Templates and provide a reproduction example.

[2021-07-15 10:43] #6136 closed

[2021-07-15 16:03] KhoaND290391 commented on #6193
Thanks ismcagdas ,
Actually I have removed OrderbyAscending and use DynamicLinq. and that way is working for me.

This error often happens on around 5/100 requests.

[2021-07-15 16:06] KhoaND290391 commented on #6193
[code]
        with input was an implemented of PagedAndSortedInputDto

[code]

[2021-07-15 16:11] #6193 closed

[2021-07-16 04:55] acjh commented on #6192
Possible duplicate of #6064

[2021-07-17 07:35] amira133 commented on #6202
Thanks @ismcagdas but I want to store my date as Utc so I set `Clock.Provider = ClockProviders.Utc;`.
So it seems I can not use `Clock.Provider = ClockProviders.Unspecified`.
Is there no other way to do this?

[2021-07-17 19:14] bxjg1987 opened #6205 "DbContextPool"
[dbcontextpool](https://docs.microsoft.com/en-us/ef/core/performance/advanced-performance-topics?tabs=with-constant#dbcontext-pooling)

[2021-07-17 19:19] bxjg1987 opened #6206 "UOW transactions seem to lead to the exhaustion of the database connection pool"
abp 6.4

According to the Convention, by default, appservice starts transactions. After testing, a large number of concurrent requests will lead to insufficient database connection pool, resulting in timeout.

This problem disappears when the transaction is closed using [unitofwork (false)].

my dbconection string
 "Default": "Server=(LocalDb)\\MSSQLLocalDB;Database=fyj;Trusted_Connection=True;Mul

[2021-07-18 08:22] ismcagdas commented on #6206
@bxjg1987 for the endpoints you get a massive amount of request and you don't need transaction, you can use `[unitofwork(false)]`. I think SQL Server has its own limitations as well.

[2021-07-18 08:25] ismcagdas commented on #6205
Duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2559. I have tested DbContextPooling recently but coudn't see a performance difference. But, we can include this into our plans.

[2021-07-18 08:25] #6205 closed

[2021-07-18 08:36] ismcagdas commented on #6202
@amira133 using `ClockProviders.Utc` means date time normalization is enabled. Could you explain your scenario ? I think I couldn't understand your requirement.

[2021-07-18 08:41] bxjg1987 commented on #6206
thanks!

[2021-07-18 08:41] #6206 closed

[2021-07-19 04:15] ngoc31031997 opened #6207 "AttachIfNot(Entity) not working?"
hi everyone, i have a little issue when i used AttachIfNot to update entity in baseRepository.
Here my code :
            var entity = (TEntity)Activator.CreateInstance(typeof(TEntity));
            entity.Id = id;
            //Context.Entry(entity).State = EntityState.Added;
            AttachIfNot(entity);
            //Context.Entry(entity).State = EntityState.Modified;
            modifyPrope

[2021-07-19 04:41] acjh commented on #6207
Either use `.AsNoTracking()` or detach the tracked instance.

[2021-07-19 05:54] amira133 commented on #6202
In fact, I want the dates registered in the system to have a specific standard so that if users from different countries register information, the date of creation and editing of the information will be specified according to a certain standard.
But the problem is that in many parts, ASP.NET Boilerplate normalizes dates when fetching from the database, and I have trouble comparing these dates.
For

[2021-07-19 06:37] abolfazlmohammadiseif commented on #6196
Yes.

I subscribed the user, and then sent a notification to it's tenant, but when I ran **GetUserNotifications** Method. the notification didn't return.

To be more clear I need to send a notification just to a specific **Tenant** and then all the users of that tenant receive it. Also I need to send a message to all users, without specifying **TenantIds** and **Userids**. What would be your solut

[2021-07-19 08:11] acjh commented on #6196
Show code.

You can implement your custom logic and replace `INotificationDistributer`.

[2021-07-19 08:16] abolfazlmohammadiseif commented on #6196
[code]

[2021-07-19 09:26] acjh commented on #6192
That's all.

[2021-07-19 10:16] abolfazlmohammadiseif commented on #6192
I mean the **Get** method is just returning the result of this line?

`var UserNotifications = await _userNotificationManager.GetUserNotificationsAsync(userIdentifier);
`

because the line above still returns this:

[code]

[2021-07-19 10:22] acjh commented on #6192
Share a repro project.

[2021-07-19 11:04] abolfazlmohammadiseif commented on #6196
I think this is related to this line in ABP documents.

What should I do about this?

[2021-07-20 01:38] vinstics commented on #5975
For those in need
[code]

[2021-07-20 04:08] acjh commented on #6196
I could not reproduce: https://github.com/acjh/module-zero-core-template/tree/issue-6196

If you are using one of the templates, then `INotificationStore` is already implemented.
Otherwise, your application wouldn't be able to save to `UserNotifications` in any case.

[2021-07-20 22:22] #6142 closed

[2021-07-23 08:57] amira133 commented on #6202
No Idea?

[2021-07-24 15:03] hxf1398 opened #6208 "Build Error"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误		尝试在条件“($(MsBuildMajorVersion) < 16)”中对计算结果为“”而不是数字的“$(MsBuildMajorVersion)”进行数值比较。	IAMRich.Core

Why is this a issue

[2021-07-25 08:24] ismcagdas commented on #6208
@hxf1398 do you use ASP.NET Core or ASP.NET MVC 5.x ?

[2021-07-26 08:03] demirmusa commented on #6203
- [ ] module-zero-core-template
- [ ] module-zero-template
- [ ] aspnetboilerplate-templates
- [ ] aspnet-core-template

[2021-07-26 12:17] #6203 closed

[2021-07-26 13:29] SAssassin opened #6209 "A series of queries were executed after the run"
I upgraded the abp and dotnet core versions from 3.1 to 5.0.
When the application is running, a large number of query requests are executed
![image](https://user-images.githubusercontent.com/26713143/126995557-c596c2cc-3c58-41ed-b80d-3a2ffd3519b6.png)
I thought I missed something and didn't set it

However, when I recreated one from the startup template, I found that running the application would

[2021-07-26 14:18] #6127 closed

[2021-07-26 14:23] #6200 closed

[2021-07-26 14:51] hemantsavkar commented on #6198
Did you tried like below ?

**var me = this;**
abp.event.on('eventname', () => {
    **me.**text = 'test';
});

[2021-07-26 14:54] demirmusa commented on #6204
@zlyxm, @ismcagdas, it works if I test it with following document https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration.

[2021-07-27 05:43] rqx110 commented on #6209
You can disable these logs. See https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6195

[2021-07-27 06:55] ismcagdas commented on #6202
@amira133 sorry for the late reply. This is not done via AspNet Boilerplate actually. It is done according the your app's culture by ASP.NET Core. You can try to set UI culture of your app to 'en'. I think it can solve your problem.

[2021-07-27 07:09] ismcagdas commented on #6178
@worthy7 sorry for the late reply, have you figured this out ?

[2021-07-27 07:35] worthy7 commented on #6178
Nope. Not sure what I need to change exactly.

[2021-07-27 13:47] SAssassin commented on #6209
![mmexport1627393350743](https://user-images.githubusercontent.com/26713143/127164403-9d1b122d-77c8-4e2a-8926-da2a622e8dd6.png)
Left dotnet 5.0/abp 6.3, right dotnet core 3.1/abp.5.9
I reviewed the code changes from versions 5.9 to 6.3, and wondered why the post-6.0 version would appear with a bunch of queries after launch, and that the #6195  was a processing of the entire log, and I wanted to se

[2021-07-27 13:56] ismcagdas commented on #6209
These are just logs. Same queries are executed in the older versions but not logged to log file. So, you can disable those logs written by EF Core as explained above.

[2021-07-28 08:41] mohammad-shadmehr commented on #4711
@alaawahbah @maxbaki Thanks for your post. I followed the steps and keep getting the following error in the main.js file:
UrlHelper.initialUrl = location.href;
location is not defined.

I am pretty sure it has something to do with the server.ts file. I have no idea why despite setting global[location]= window.location, the location is not defined yet!

[2021-07-28 09:09] alaawahbah commented on #4711
dear you need to install package for creating browser in your server for simulating the real browser
I think that

[2021-07-28 09:28] mohammad-shadmehr commented on #4711
Do you have any suggestion? I have tried dominos and even the jsdom in you sample seems should do the same but neither work!

[2021-07-28 10:57] demirmusa commented on #6151
Hi @vjerani
Sorry for overlooking this issue. Does your problem still exists?

[2021-07-28 11:32] abolfazlmohammadiseif commented on #6196
I just downloaded another template yesterday that notifications worked properly. But the project that I am using is also abp template but I downloaded it about a year ago. Is there any modification that I should apply to my old project template so that notification work properly?
I think there should be something different in templates that I'm using.

[2021-07-28 11:37] abolfazlmohammadiseif commented on #6192
It is a template that I downloaded almost a year ago. Now it is a huge project that I cannot share it and also it belongs to the company that I work for. Is there any other solution?

[2021-07-28 11:38] acjh commented on #6196
Which version of `Abp` and template are you using?

[2021-07-28 11:39] acjh commented on #6192
Download a new template and reproduce it.

[2021-07-28 11:59] abolfazlmohammadiseif commented on #6196
The new template is net core 3.x which notification works fine.

The old one was net core 2.x then I upgraded to 3.x (3.1) which notification does not work fine. (If I specify both **tenantId** and **userId** it saves into **TenantNotification** and **UserNotification**. If I don't specify one of  **tenantId** or **userId**, it saves into **Notifications** table and does not return in get API)

I

[2021-07-28 12:43] acjh commented on #6196
Then you might have made a mistake. Without the faulty code, I cannot advise on the modification that you should apply.

[2021-07-30 09:00] jalilzade commented on #5515
@vcluopeng did you find any solution for this?

[2021-07-31 03:12] izanhzh opened #6212 "A question about AOP"
_My English is not good, maybe the expression is not very accurate :-) ._

I am using ABP 5.0.0 and.NET Core 3.0

I wanted to define a CacheInterceptor to cache the results of the method, and then consulted the AOP tutorial on the [official website](https://aspnetboilerplate.com/Pages/Documents/Articles/Aspect-Oriented-Programming-using-Interceptors/index.html). I follow the tutorial step by step,

[2021-07-31 06:37] abolfazlmohammadiseif commented on #6196
I think **Notifications** table is mapped to **NotificationInfo** class. How can I have access to **NotificationInfo** Dbset and get records directly from the **Notifications** table?

[2021-07-31 08:12] masoudnoursaid commented on #1498
I added abpWeb-fr.xml to abp.core project in any folder you want.
then need add this code to [your]coremodule.cs in preinitialie() method.

            Configuration.Localization.Sources.Extensions.Add(
               new LocalizationSourceExtensionInfo("AbpWeb",
                   new XmlEmbeddedFileLocalizationDictionaryProvider(
                       Assembly.GetExecutingAssembly(),

[2021-07-31 11:57] #6209 closed

[2021-07-31 18:07] zubayer01913 commented on #5190
Thanks @demirmusa

[2021-08-01 09:01] sajasbana opened #6213 "how to use localization in entity class"
Hello Dears,

is there way to use localization in entity class like when throw exceptions like this https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/BusinessException.cs ?

Thanks

[2021-08-01 09:22] ismcagdas commented on #6213
@sajasbana it will be better to do it in a [domain service](https://aspnetboilerplate.com/Pages/Documents/Domain-Services) instead of entity.

[2021-08-01 10:04] ismcagdas commented on #6196
You can use `IRepository<NotificationInfo, Guid>` but normally this is not suggested.

[2021-08-01 10:31] sajasbana commented on #6213
@ismcagdas
thanks for valuable advice

[2021-08-01 10:31] #6213 closed

[2021-08-01 16:01] #6133 closed

[2021-08-02 02:29] yihango opened #6214 "[feature] DynamicHttpProxyInterceptor support"
Hello, abp vnext support [DynamicHttpProxyInterceptor](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs),  abp can also support this feature?

[2021-08-02 02:55] vcluopeng commented on #5515
hi @jalilzade
Haven't found a good solution for the time being
Wish you luck

[2021-08-02 06:13] ismcagdas commented on #5515
@jalilzade have you tried not using AddVersionedApiExplorer and only use AddApiVersioning ?

[2021-08-02 06:14] ismcagdas commented on #6214
@staneee we haven't received much request for this feature. For now you can add it to your project and we can consider this for the future.

[2021-08-02 06:41] ismcagdas commented on #6212
@izanhzh we will check this and update the documentation if necessary. Thank you for your explanation.

[2021-08-02 09:25] jalilzade commented on #5515
Hi @ismcagdas, I managed to add API versioning to asp.net Zero.
If you think there is more easier or better way to achieve this, I would happy to here.
If you think it is ok, can we have this as part of documentation of asp.net zero (.netcore + angular)

####   File `ProjectName.Web.Host\startup\startup.cs` method `ConfigureServices` changed related code to this:

[code]

#### File `ProjectName.We

[2021-08-05 03:54] feigaogit opened #6215 "IObjectMapper Do you want to add a mapping relationship to the same entity？"
_objectMapper.Map(systemFlowForm, flowForm);

systemFlowForm=public class FlowForm
flowForm=public class FlowForm

If the mapping relationship is not added, the mapping fails

[AutoMapTo(typeof(FlowForm))]
it is required？

[2021-08-06 18:04] #6160 closed

[2021-08-07 07:41] gzh4455 commented on #3544
but it is not a good solving way .
if the method need a lot of time to execute ,  it will lock the table .

it 's  a terrible  solving solution .

[2021-08-08 10:04] vikramtamboli commented on #6176
Any resolution for this error

I am facing same issue

react build created using below command
**npm run-script build**
then copy build content to ui folder and hosted using below command
**start serve -l 3000 -s ui**

dotnet pi project build using below command
**dotnet msbuild -target:Publish -property:Configuration=Release**
then copy build content to api folder and run standalone exe
D:\MyTest

[2021-08-08 11:18] ismcagdas commented on #3544
@gzh4455 could you create a new issue with the details of your problem ?

[2021-08-09 05:46] ismcagdas commented on #6176
@vikramtamboli could you check your server side logs to see if there are any error messages ?

[2021-08-09 06:30] ismcagdas commented on #6215
@feigaogit couldn't understand the problem, sorry. Could you provide a sample code which reproduces this error ?

[2021-08-09 07:30] ismcagdas commented on #6175
@ontur00 sorry for the late reply. Do you go to other pages during your test ? If not, the cookie's expire time will not change and user will be logged out. This is the expected case.

[2021-08-09 07:34] ismcagdas commented on #6163
@veryweb8 could you also log the value of `input.ProductId` ? I think it will have same value for multiple operations since you are using `Task.Factory.StartNew`. Using a Guid for Id might be a better test for this case.

[2021-08-09 08:05] feigaogit commented on #6215
@ismcagdas [https://github.com/feigaogit/MapDemo](https://github.com/feigaogit/MapDemo)

No mapping relationship was created for the user table，Mapping method failure

![image](https://user-images.githubusercontent.com/18181270/128675785-a79b0da1-0721-4f69-b05c-763b92366a6f.png)
![image](https://user-images.githubusercontent.com/18181270/128675816-a27ad648-0d8c-40bd-9731-7600b9d1fca9.png)
![image]

[2021-08-09 08:16] ontur00 commented on #6175
@ismcagdas  Hi. I'm not passing, I understand that this is how the framework works. Is there any workaround for this? He needs to stay on one page after the user logs in, and he will not go to other subpages

[2021-08-09 10:14] Robert-Laverick opened #6216 "Null reference exception in AntiForgery code"
I'm getting logging events of Null Reference Exceptions thrown from this line in my production environment.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/124633706c9eb4022f501443b53eadba2a0f8a9f/src/Abp.Web.Mvc/Web/Mvc/Security/AntiForgery/AbpMvcAntiForgeryTokenManager.cs#L57

This code doesn't look to have changed in a long time, and while I'm not getting any issues reported by my

[2021-08-09 10:25] ismcagdas commented on #6168
@onur-ardal I think the problem is related to anti-forgery cookie, see the Notes section of https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware?view=aspnetcore-5.0#conditions-for-caching. When I remove the `AbpAntiForgeryManager.SetCookie(Context);` I can set `Cache-Control` response header. So, it seems like this is by design of ASP.NET Core.

[2021-08-10 08:37] #6140 closed

[2021-08-10 11:48] ismcagdas commented on #4420
This is done https://dotnetfoundation.org/projects/aspnetboilerplate

[2021-08-10 11:48] #4420 closed

[2021-08-11 07:31] ismcagdas commented on #6175
I think you can update the cookie's expire time by modifying this line https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Resources/Abp/Framework/scripts/libs/abp.jquery.js#L39

[2021-08-11 10:01] KennyEng12 opened #6217 "[Error] Culture is not supported. Parameter name: name bm is an invalid culture identifier."
Hi, I'm using MVC5AJ1. Abp Version 1.5.0.

I'm getting this error of "Culture is not supported. Parameter name: name bm is an invalid culture identifier." when deployed to IIS.
![image](https://user-images.githubusercontent.com/29649512/129009748-1c81c967-0ada-4615-844f-05b2707cc0bb.png)

But I got no error when running on local:
![image](https://user-images.githubusercontent.com/29649512/12900987

[2021-08-11 11:59] sajasbana commented on #6217
@KennyEng12

based on this https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/a9eac961-e77d-41a6-90a5-ce1a8b0cdb9c?redirectedfrom=MSDN

bm First available in Windows 10 and Windows Server 2016. Supported in all later versions.

maybe you server not support this lang.

[2021-08-11 12:17] vincywindy opened #6218 "Abp.IdentityServer4,Abp.IdentityServer4vNext's IUnitOfWorkManager Should be Public"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* 4.6.0
* Your base framework: .Net Framework or .Net Cor

[2021-08-11 13:52] KennyEng12 commented on #6217
HI @sajasbana thanks for the quick response.

Based on the link you sent, my bm is meant for this:
![image](https://user-images.githubusercontent.com/29649512/129041312-5405d632-93b8-4bea-a9bd-86f23074eb12.png)

I will change and try.

Thanks,
Kenny.

[2021-08-11 14:11] KennyEng12 commented on #6217
@sajasbana thanks a lot, changing to ms-MY is solving my problem.

Thanks,
Kenny.

[2021-08-11 14:11] #6217 closed, assigned to nobody

[2021-08-11 16:44] vikramtamboli commented on #6176
there are no error messages.
the application works if accessed from same machine
just not able to access from another machine

[2021-08-11 19:17] mugambiwarwema commented on #6176
Considered removing cookies and browser data?

If you refer to my answer, re installing let’s encrypt, it clears affirms
that there is no direct Fox for this error.

So just probe around on the ‘other machine’.

[2021-08-12 06:50] #6179 closed

[2021-08-12 10:09] Robert-Laverick commented on #6216
The one currently in production is 5.4, though I'm rolling out 5.6 at the moment though it doesn't seem to have any changes that impact this issue from what I can see, I should have confirmation of that in a few days (release process and the fact that I'm only really seeing the issue in production being what it is).

[2021-08-13 15:11] easyest opened #6221 "LDAP authentification and username attribute used to create user"
LdapAuthenticationSource.cs method `protected virtual void UpdateUserFromPrincipal(TUser user, UserPrincipal userPrincipal)`:
[code]
There is a problem, that in fact SamAccountName does not hold the username. Completely valid LDAP information example:
SamAccountName: UserName
GivenName: SomeName
Surname: SomeSurname
EmailAddress: user@gmail.com
UserPrincipalName: username@mydomain.local

In this c

[2021-08-13 23:13] #6122 closed

[2021-08-13 23:13] #6155 closed

[2021-08-14 17:07] jzhouw commented on #5115
@aeoluseros how did you manually register the abp builtin components e.g. the UserManager which requires lots of other dependencies

[2021-08-14 17:08] jzhouw commented on #5115
@aeoluseros how did you manually register the abp builtin components e.g. the UserManager which requires lots of other dependencies

[2021-08-15 02:14] DamienLaw opened #6222 "AbpUserStore.GetAuthenticatorKeyAsync() is not virtual, making it difficult to override this method."
The `AbpUserStore.GetAuthenticatorKeyAsync()` is not virtual, making it difficult to override this method.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4bfc29aaaab3846962902e0aba86f57a475898f6/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L2830

However, its `SetAuthenticatorKeyAsync()` counterpart is virtual though, which makes me think that the above could be an oversight.

[2021-08-15 09:14] ismcagdas commented on #6222
@DamienLaw thanks, we will improve this.

[2021-08-15 11:27] ahmedHalim2290 commented on #3790
@ryancyq thanks for your help but now in version  10.2.0 of Zero look like this, Where I can add the part of seeding method?
    public async Task CreateTenant(CreateTenantInput input)
        {
            await TenantManager.CreateWithAdminUserAsync(input.TenancyName,
                input.Name,
                input.AdminPassword,
                input.AdminEmailAddress,
                input.C

[2021-08-16 06:19] KannaDinesh opened #6223 "aspnetboilerplate angular build produce more files. Why it occurs? Benefit of the file? How to restrict it?"
Hi, I'm using aspnetboilerplate angular. In the building process, ng build --configuration="production", it generate more files in dist folder (like 1.js, 2.js,......,1642.js.

![image](https://user-images.githubusercontent.com/19591721/129519381-09346a9a-d5cd-42b5-a619-862e8f5b297e.png)

Due to this, the bundle size is so high. So, How to stop generating unwanted files. Thanks in advance.

[2021-08-16 11:00] ismcagdas commented on #6223
@KannaDinesh these files are generated for supporting different cultures. These files doesn't affect the bundle size because only one of them will be loaded according to selected language.

[2021-08-16 13:45] KannaDinesh commented on #6223
Hi @ismcagdas, Thanks for the quick response. But the bundle size is also a little large comparatively.
![image](https://user-images.githubusercontent.com/19591721/129573404-a8d1a600-d74b-4cf2-b65a-e3bc8f8f8b3d.png)

[2021-08-17 02:10] rqx110 commented on #6223
you can use **Webpack “magic comments”** to select which locale you want to include.
change this line
https://github.com/aspnetboilerplate/module-zero-core-template/blob/15a61993bab08096fa2becf671013a1309aa79e9/angular/src/app-initializer.ts#L38
to some things like:
[code]

about Webpack “magic comments”:  https://medium.com/front-end-weekly/webpack-and-dynamic-imports-doing-it-right-72549ff49234

[2021-08-17 07:41] #6166 closed

[2021-08-17 07:41] #6171 closed

[2021-08-17 13:41] DWiszyns commented on #6175
Currently @ontur00 is unavailable so I'll continue the issue. Can you give us example on how to modify this line to update cookie's expiry time? Also from what we see the expiry time is supposed to be as long as browser session, but after about 30 minutes we have the same issue as if we delete the cookie manually. From our POV it looks like a bug. Is there maybe a workaround for this?

![image](ht

[2021-08-19 01:15] #6197 closed

[2021-08-20 08:37] ranmax123 opened #6225 "Upgrade templates to 6.4.0"
Upgrade templates to 6.4..... I'm getting 6.3 which was released in March

[2021-08-20 09:35] ognyandim opened #6226 "License note can of abp-ng2-module not be found on NPM page"
The MIT license note can not be found at [https://www.npmjs.com/package/abp-ng2-module](https://www.npmjs.com/package/abp-ng2-module) which leads to false positives by license checking apps and by "OSS License enforcement" staff.

Can this License note be added easily to the NPM repo/page?

[2021-08-20 12:26] ismcagdas commented on #6225
@ranmax123 all templates are released, please reopen if you can't see 6.4 version when you download a new project.

[2021-08-20 12:26] #6225 closed

[2021-08-21 07:58] amira133 opened #6227 "why aspnetboilerplate dose not impelement addRange() for inserting to database"
Hi,

I want to add a list of records to the database, but when I read the[ documents related to aspnetboilerplate](https://aspnetboilerplate.com/Pages/Documents/Repositories#insert  ) , there seems to be no way to do this and I have to add the records one by one, which is very timeless.
So the question I have is why this feature is not added to the aspnetboilerplate  ?
Also introduce if there is a

[2021-08-21 16:24] dolphinsd opened #6228 "Loading localization resource on demand"
There is a way to add new localization as documented here
https://aspnetboilerplate.com/Pages/Documents/Localization

In a large system, some strings only needed when module is loaded on the server or client.
- Is there a way to load those strings just in time, on demand?
- Keep them separate from global strings?

When application grows, you do not want to send 1 Mb file of strings to the client a

[2021-08-22 11:54] ismcagdas commented on #6228
@dolphinsd there is no such feature at the moment. We can consider to implement it in the future.

[2021-08-22 12:11] ismcagdas commented on #6227
Hi @amira133 you can directly access the DbContext by creating a custom repository or using `IDbContextProvider` and directly use ef core methods.

[2021-08-22 13:16] ismcagdas commented on #6226
@ognyandim thanks, we should add it.

[2021-08-23 05:51] #6204 closed

[2021-08-23 05:55] ismcagdas commented on #6175
@DWiszyns sorry for the late reply, I will check it again. If the cookie expire time doesn't have a value, you don't have to change it.

[2021-08-23 14:13] sayassyk opened #6229 "Asp.NetBoilerPlate - .Net Framework Upgrade from 4.4 to 6.3"
Dear @hikalkan, @ismcagdas, @maliming, @yekalkan,

I am using the ASP.Net BoilerPlate framework (.Net Framework 4.5) for the past 2 years (My current version is 4.4). Due to some requirement priorities, I couldn't keep the framework updated.
Now I would like to update the solution to the latest version.
But actually, our plan is to migrate our entire solution from ASP.Net BoilerPlate (.Net Framewo

[2021-08-23 14:17] ismcagdas commented on #6229
Hi @sayassyk you need to upgrade your ABP NuGet packages and migration from .NET Framework to .NET Core at the same time. This article can help you about your upgrade https://volosoft.com/blog/Migrating-from-ASP.NET-MVC-5.x-to-ASP.NET-Core. If you face a specific problem, please create a separate issue and we will try to help you.

[2021-08-23 15:56] Robert-Laverick commented on #6216
I miss spoke in my last message, This is on abp 6.4 (the upgrade was from 6.3 to 6.4 not 5.4 as I indicated)

The Rollout of the latest version 6.4 has not reduced the occurrence of the error.

I've been tracking the endpoints that are throwing this error, and they seem to exclusively be async ones, and I'm fairly sure this is related to thread switching causing httpcontext.current to be lost, I'v

[2021-08-24 06:36] ismcagdas commented on #6216
This might be caused an async over sync usage as well. Do you know a specific endpoint on your app which causes this problem ? If so, could you share its code with us ?

[2021-08-24 06:39] sajasbana opened #6230 "Question: abp class library"
Dears,
hope you are fine

I have question, when download abp + mpa .net core project from website, i checked the class library e.g. (.EntityFrameworkCore), it contains in element <PropertyGroup> many properties e.g. (<OpenApiGenerateDocuments>)  like below image

[code]

![image](https://user-images.githubusercontent.com/34976854/130568425-a1e74e04-6f2c-4ebb-93f1-80de7435ec5a.png)

my question is

[2021-08-24 07:35] rqx110 commented on #6230
see https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props

[2021-08-24 07:52] ismcagdas opened #6231 "Make OnAuthorizationAsync method of AbpAuthorizationFilter virtual"
So, creation of a custom authorization filter will be easier.

[2021-08-24 15:44] sajasbana commented on #6230
@rqx110
Thanks I understand it now

[2021-08-24 15:44] #6230 closed

[2021-08-25 02:53] apchenjun opened #6233 "abp.dapper the GetAllPagedAsync method cannot return data"
In my program, CountAsync can return the number, but GetAllPagedAsync cannot return the data.
The same query conditions return inconsistent results
items = [] ,totalcount = 3
![image](https://user-images.githubusercontent.com/4964551/130718612-0a9a9acb-7d4c-464b-950e-d34311aefd1c.png)

[2021-08-25 04:39] ismcagdas commented on #6233
@apchenjun could you try using dapper directly and see if it works as expected ?

[2021-08-25 06:43] apchenjun commented on #6233
@ismcagdas I found the problem

[2021-08-25 06:43] #6233 closed

[2021-08-25 06:52] sajasbana opened #6234 "Use DefaultPassPhrase when ever SimpleStringCipher is used"
Dears,

Thanks for the good feature to generate DefaultPassPhrase for each project when download from site

I noticed that some places DefaultPassPhrase is passed as parameter and some place is not passed maybe you forgot to change that part.

please Use DefaultPassPhrase when ever SimpleStringCipher is used

for example in TenantAppService.cs
![image](https://user-images.githubusercontent.com/349

[2021-08-25 06:56] apchenjun opened #6235 "abp.dapper Expression Func How to connect according to conditions"
How to dynamically connect conditions
**use dapper**
[code]
 **use dapper Extensions**
[code]
but now use Expression Func How to connect according to conditions

[2021-08-25 07:22] ismcagdas commented on #6234
@sajasbana when it is not passed, the default one is used, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Security/SimpleStringCipher_NetStandard.cs#L73. But, to be consistent, we should check this.

[2021-08-25 08:55] sajasbana opened #6236 "Possibility to generate Random port number when download abp"
Dears,

Is it possible to make port number random when download project from abp site

some time I want to run to solution to check something and I have to stop one of them or change the port for one of them but if it possible when generate from abp site this will be helpful

Thanks

[2021-08-25 19:42] osalas891123 opened #6237 "(Question) Commit not merge back on 5.X branch"
* Your Abp package version 5.14
* Your base framework: .Net Framework or .Net Core. .Net Core

There is any plan to give support on 5.x branch. The issue related with cache was generated based on 5.3 but was not merged back to 5.X branches.

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390

[2021-08-26 05:23] ismcagdas opened #6238 "Use a static value for DefaultPassPhrase for development"
Use a default value for AbpProjectNameConsts.DefaultPassPhrase for development.

[2021-08-28 06:16] sayassyk commented on #6229
Dear @ismcagdas,
Thanks for your reply!
When upgrading the ABP & .Net Framework from my same project will not change the solution architecture right?
I would like to get the latest project structure of your new startup template for my migrated solution. So I am planning to download a new **ASP.Net Core Startup Template** and transferring all my current source codes to the template as per the guida

[2021-08-28 06:16] sayassyk commented on #6229
Dear @ismcagdas,
Thanks for your reply!
When upgrading the ABP & .Net Framework from my same project will not change the solution architecture right?
I would like to get the latest project structure of your new startup template for my migrated solution. So I am planning to download a new **ASP.Net Core Startup Template** and transferring all my current source codes to the template as per the guida

[2021-08-28 08:00] ismcagdas commented on #6229
@sayassyk yes, the solution structure is not changed, you can use the same structure in .NET Core.

[2021-08-29 01:01] #6237 closed

[2021-08-29 06:30] sajasbana opened #6241 "Email Configuration: add IsEnabled property"
Dears,
hope you are fine

I read email doc (https://aspnetboilerplate.com/Pages/Documents/Email-Sending?searchKey=mail)

can you add IsEnabled property to email Configuration?
so if it true it will use the real settings else it will consider as feature not added and use the NullEmailSender

I saw you use IsEnabled in LDAP so I thought it will be good to add this to email configuration instead of m

[2021-08-30 07:01] ismcagdas commented on #6241
Hi @sajasbana

IsEnabled on LDAP is used on runtime but NullEmailSender is used in DEBUG mode. You are right, both settings seems similar, we can add this but until then, you can check all email settings and decide if email settings is configured or not.

[2021-08-30 07:16] ismcagdas commented on #6229
This Web.Core layer is actually for oru development but can be useful for you as well. It is used to keep shared code between Web.Host and Web.Mvc projects.

[2021-08-30 08:37] sajasbana commented on #6241
@ismcagdas
I added settings in setting manager named IsSendEmailEnabled

can I change injection registration after save this setting dynamically instead of adding code on PreInitialize() method like documentation says ?

sudo code example for class that return:
if(email setting enabled)
   register real service
else
  register nullable service

or if you have better suggestion appreciate

[2021-08-30 09:32] sayassyk commented on #6229
Okay. Thanks for the information. I'll get back to you if I stuck up in further migration.
Thank You.

[2021-08-30 09:32] #6229 closed

[2021-08-31 06:32] ismcagdas commented on #6241
no, you can't decide it on runtime. If you want to do it in runtime, you need to check this setting in a different class and use NullEmailSender or real implementation conditionally.

[2021-08-31 07:29] sajasbana commented on #6241
@ismcagdas
I will create class e.g EmailSenderCustom and Interface IEmailSenderCustom
and contains method SetEmailSenderService to return the used service

on SetEmailSenderService method I will check the settings like this

[code]
please can you tell me if my way is correct?

[2021-08-31 08:40] #6238 closed, assigned to ismcagdas

[2021-08-31 09:51] #6222 closed

[2021-08-31 10:02] #6234 closed

[2021-08-31 10:04] #5995 closed

[2021-08-31 13:09] #6190 closed

[2021-08-31 13:15] alpeshkalena opened #6242 "About read appsettings.json in appservices"
Hi, I am not able to read appsettings.json file in app services.
Can you please guide me or provide any documentation on it?
I am trying using IConfiguration interface but when i try to read it is giving me null value
Please find attached screenshot
![image](https://user-images.githubusercontent.com/41985261/131509272-a1bb7ad2-a2ca-4c77-a8e1-6f456984fed4.png)

[2021-09-01 05:46] sajasbana commented on #6242
Hi @alpeshkalena
you can use 'AppConfigurations.cs' class to read from appsettings.json

check this class and check its references to see how to use it

[2021-09-01 05:52] alpeshkalena commented on #6242
Hi @sajasbana I know that we can use that class but when I add any key value in appsettings.json of the .Host project then it is not available when i read the appsettings.json in service
Also i found one strange thing is that when i try to read .Host project appsettings.json file by calling from MVC project then it is not available but if i call api from swagger then it is available.

You can repr

[2021-09-01 06:13] ismcagdas commented on #6242
@alpeshkalena this is expected, those setting files belong to different projects. Do you want to read values from Host project's appsettings.json from your MVC project ? If that's the case, you can consider using [Settings](https://aspnetboilerplate.com/Pages/Documents/Setting-Management) because settings are stored in the database and both apps can access it.

[2021-09-01 06:22] alpeshkalena commented on #6242
Yes i can use the settings but what my question is if i call api from MVC project and if i read the appsettings.json file of the .Host project in the api then newly added key value not available.

[2021-09-01 06:24] ismcagdas commented on #6242
Yes, this is how it works. Each app can only access to its own appsettings.json.

[2021-09-01 06:31] MohammadMobasher opened #6243 "OData return 500 error"
hi guys
i recently use this framework and i want to use OData. everything are ok like
1) expane
2) filter
3) count
and so on, but when i want to use aggregate the endpoint response 500 error without any other info, just 500 error.

my configuration is :

startup.cs
`                builder.EntitySet<TestTbl>("TestTbl").EntityType.Count().Filter().OrderBy().Expand().Select().Page().;
`

TestTblCont

[2021-09-01 06:48] ismcagdas commented on #6242
Do you add it in development time or in production. If it is in production, you need to recycle the app pool if you are hosting on IIS.

[2021-09-01 06:50] alpeshkalena commented on #6242
Currently i added key value in appsettings.json file because right now i am developing my app.

[2021-09-01 08:17] sajasbana commented on #6242
@alpeshkalena
check this maybe will help you

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3370#issuecomment-389117741

[2021-09-01 10:16] ismcagdas commented on #6218
fixed via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6219/files

[2021-09-01 10:16] #6218 closed

[2021-09-01 10:40] #6221 closed

[2021-09-01 11:08] ismcagdas commented on #6212
@izanhzh I tested this again and I can confirm that non-virtual public methods can be intercepted as explained in https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#unitofwork-attribute-restrictions. You can test it by creating the background job class below;

[code]

For AppServices, they are converted to ASP.NET controllers and if a method is scoped by unit of work by either ActionFilter

[2021-09-01 11:21] DWiszyns commented on #6175
@ismcagdas were you able to check it again?

[2021-09-01 14:19] ismcagdas commented on #5793
Hi @sajasbana I just tested this scenario and when I define "ar" culture and "ar-KW" culture, "ar" culture is used as a fallback for "ar-KW", see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Localization/Dictionaries/DictionaryBasedLocalizationSource.cs#L103. So, it works as you request in my tests.

[2021-09-01 19:24] KannaDinesh commented on #6223
Thank you @rqx110  @ismcagdas

[2021-09-01 19:24] #6223 closed

[2021-09-02 06:02] sajasbana commented on #5793
summary of steps:
1- define needed language (I defined 4 language then decided to disable 2 of them)
![image](https://user-images.githubusercontent.com/34976854/131789095-04b4e42c-5cf0-4d26-85b1-9137602bad18.png)

2- I changed default language to en-GB
![image](https://user-images.githubusercontent.com/34976854/131789251-c57e09da-a15a-48f2-ac0e-6adc3f762a02.png)

3- I added 2 new source one for en

[2021-09-02 08:33] easyest commented on #5995
One more thing, worth mentioning in the documents - as the path is encoded using dots in embedded resources, the following paths and files will be the same:
/First/Second/Third/File.js
/First/Second/Third.File.js
/First/Second.Third.File.js
/First.Second.Third.File.js

[2021-09-02 08:36] ismcagdas commented on #6243
Hi @MohammadMobasher

The detailed error log should be written to server side log file. Can you check it to see the error details? You can find it under App_Data/Logs folder of your web project.

[2021-09-02 08:39] sajasbana opened #6244 "how to skip seed db every time I run solution"
Dears,

first time I use update-database to install db
then when run solution it seed records

later if I delete one of records from db e.g one of language from languages table
I noticed it add that record again

Is there way to stop seeding db?

Thanks

[2021-09-02 12:35] sajasbana commented on #6244
I found way similar to MyCoreProjectMigratorModule.cs Thanks

![image](https://user-images.githubusercontent.com/34976854/131844435-693375ea-f4ee-4801-9657-83fda91a6e85.png)

[2021-09-02 12:35] #6244 closed

[2021-09-03 04:21] AmrMRamadan commented on #6218
@vincywindy How did you upgrade from 4.2.1 to 6.4.0 only updating NuGet package?

[2021-09-04 02:33] Robert-Laverick commented on #6216
So it doesn't seem to happen to any of my more simple endpoints, though there are quite a few affected this is the simplest one I've manged to dig out of the log files.

[code]

The only thing that all of the endpoints have in common that I can tell is that they're all async, but there are other async endpoints I've not seen errors from, although it could be that it's dependant on how long they ta

[2021-09-04 03:36] MohammadMobasher commented on #6243
this is the error

[code]

[2021-09-04 04:05] MohammadMobasher commented on #6243
I think the bug is about [Link](https://github.com/dotnet/efcore/issues/17878) but the question is, how can i fix this?

[2021-09-04 07:42] bxjg1987 opened #6245 "Does it exist, or you can provide a single threaded publish subscribe model"
ABP currently consists of publish subscribe models such as web hook and event, and also provides background jobs, but they are not global single threaded. Can a globally unique publish subscribe model be provided, or does it already exist?

Reference c# Channel in System.Threading.Channels

[2021-09-04 07:51] #6245 closed

[2021-09-05 06:29] sajasbana opened #6246 "show datatables export excel button"
Dears,
hope you are fine

I download mpa core template

I want to show datatables default export button like excel

when I put code for that it not showing, please advise, usually we just put buttons part and it shows as below image
![image](https://user-images.githubusercontent.com/34976854/132117728-6617be11-79e9-410a-b405-7516ba0a0657.png)

added this file also in bundles and shared view
![imag

[2021-09-05 07:23] sajasbana commented on #6246
Thanks I success adding buttons

steps if any one later ask for it
- in libman.json
![image](https://user-images.githubusercontent.com/34976854/132118869-46210653-d69e-49fb-83ba-82d19583ef0a.png)

- _scripts.cshtml
![image](https://user-images.githubusercontent.com/34976854/132118893-0712d7a0-a77f-4e71-9743-0fd2498a85b9.png)

- in bundleconfig.json
![image](https://user-images.githubusercontent.co

[2021-09-05 07:23] #6246 closed

[2021-09-06 03:47] MohammadMobasher commented on #6243
any idea?

[2021-09-06 06:39] ismcagdas commented on #6243
Hi @MohammadMobasher I couldn't be sure if this problem is related to AspNet Boilerplate or not. You can try several options like removing Include from your query or remove groupBy operation and see if it works.

[2021-09-06 06:47] ismcagdas commented on #6245
@bxjg1987 currently there is no such feature. It might be better to use a 3rd party library for that for you.

[2021-09-06 06:49] ismcagdas commented on #6216
@Robert-Laverick thanks for the detailed explanation, I will investigate this problem in details.

[2021-09-06 11:12] cgrorhan opened #6247 "The LINQ expression 'DbSet<Role> could not translated"
ERROR 2021-09-06 13:10:09,253 [9 ] Mvc.ExceptionHandling.AbpExceptionFilter - The LINQ expression 'DbSet .Where(r => __ef_filter__p_0 || !(((ISoftDelete)r).IsDeleted) && __ef_filter__p_1 || ((IMayHaveTenant)r).TenantId == __ef_filter__CurrentTenantId_2) .Where(r => __user_Roles_0 .Any(ur => ur.RoleId == r.Id))' could not be translated. Either rewrite the query in a form that can be translated, or

[2021-09-06 12:30] DWiszyns commented on #6175
@ismcagdas Were you able to check it last week?

[2021-09-07 04:20] MohammadMobasher commented on #6243
I did all of this and always appear this error.

[2021-09-07 04:29] #6184 closed

[2021-09-07 07:32] ismcagdas commented on #6243
Could you provide a sample project so we can work on it ?

[2021-09-07 07:45] ismcagdas commented on #6247
This seems related to https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.x/breaking-changes#linq-queries-are-no-longer-evaluated-on-the-client. If you can share a sample query, we can suggest you a solution.

[2021-09-07 07:51] ismcagdas commented on #2378
Have you followed https://aspnetboilerplate.com/Pages/Documents/EF-Core-PostgreSql-Integration to convert your app to use Postgres ?

[2021-09-07 07:55] ismcagdas commented on #5995
@easyest thanks, I have added this note to documents

[2021-09-07 09:39] Robert-Laverick commented on #6243
It looks like it's having trouble grouping by Name, is Name a string, or is it an object (I thinking something with a first and last name inside it or something)? I know group by EF code has issues grouping by complex objects from past experience, you'd have to group by NameID or Name.Firstname, Name.Lastname or something along those lines if it is complex.

[2021-09-07 09:54] Robert-Laverick commented on #6216
I was digging through the other tickets to see if anything stood out, could this be related maybe? If Winsor have made adjustments to handle async differently might that impact the way things like thread static things like CurrentRequest are handled?

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4401

Although I'm not clear on the difference between the Interceptors being replaced

[2021-09-07 13:31] ontur00 commented on #6175
I noticed that if the user has rights other than admin then the session expires after about 30 minutes

[2021-09-08 04:39] MohammadMobasher commented on #6243
@Robert-Laverick  hi, the Name is just a simple string.

[2021-09-08 04:42] MohammadMobasher commented on #6243
hi @ismcagdas

this is my entity class
`public class TestTbl : Entity<int>, IHasModificationTime, IHasCreationTime, ISoftDelete, IDeletionAudited, IMustHaveTenant
    {
        public string Name { get; set; }
        public string Title { get; set; }
        public virtual bool IsDeleted { get; set; }
        public virtual long? DeleterUserId { get; set; }
        //public virtual long? LastModi

[2021-09-08 07:45] sajasbana opened #6249 "Question about notification system"
Dears,

I liked notification feature in abp, I want to ask few question
- what the AbpNotification DB table used for ? because when I run publish notification method it stores notification in other notification tables

- for Real-Time Notifications, if I want to use email or sms, I added class similar to image below but when test to send notification it is not reached, please advise me if there is

[2021-09-08 08:24] ontur00 commented on #6175
I did the tests, they go through the subpages every 1 minute and so the user logged off after 30 minutes.

[2021-09-08 11:55] acjh commented on #6249
From https://aspnetboilerplate.com/Pages/Documents/Notification-System#multiple-notifiers:

[2021-09-08 11:58] M-Abdelmoniam opened #6250 "Multi Tenant : Single Deployment with Multi Database"
I want an example project that provide :
 * database for each tenant
 * configure subdomain to detect the selected tenant

[2021-09-08 12:30] acjh commented on #6249
It is used to persist the notification, to be later retrieved and processed by the notification distributer in a background job.

It is inserted by the notification publisher before distribution, since the distribution may be enqueued in a background job:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/0b3a51481a4d3c36ae09193c4bcb49f52f78498e/src/Abp/Notifications/NotificationPublishe

[2021-09-08 17:25] sajasbana commented on #6249
Dear @acjh
Thanks for explanation it is clear now

[2021-09-09 06:09] ismcagdas commented on #6250
Hi @M-Abdelmoniam

The current templates you download from https://aspnetboilerplate.com/Templates already supports what you are asking for.

When creating a new Tenant, you can provide a connection string and it will create the database and do the migrations for you.
For subdomain to detect the current tenant, you need to configure DomainFormat as shown below;

`Configuration.Modules.AbpWebCommon

[2021-09-09 13:39] DWiszyns commented on #6175
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/26147124/132696148-84b0efd2-871e-4344-a7ad-fcde5cff2323.png)

I don't know if it helps you, but once we the session is down, we can see Jan 1 1970 is the time of expiration in cookies. I attach screen.

[2021-09-10 04:23] ngoc31031997 commented on #6207
it work. thank you very much

[2021-09-10 04:23] #6207 closed

[2021-09-10 10:32] ismcagdas opened #6251 "Use multi tenancy in DynamicProperty and DynamicEntityProperty caches"
Currently, cache for those entities uses only the Id which causes problems in DB per-tenant architecture. Also, one tenant can access entities of other tenants from cache.

[2021-09-11 12:13] antinews opened #6253 "get ssl"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-09-11 12:13] #6253 closed

[2021-09-11 16:25] remeWdm opened #6254 "ABP 6.4 Exception ArgumentNullException: Value cannot be null. (Parameter 'ordering')"
my use
* abp 6.4
* net core 5.0
* Exception message and stack trace if available.
Exception message:

stack trace:
[code]
* Steps needed to reproduce the problem.

controller call appservice will throw exception when input class use IShouldNormalize interface.
direct call appservice api is Ok.
old abp version like 6.3,6.3.1 is OK
code show below：

[code]

[2021-09-12 08:47] ismcagdas commented on #6254
@remeWdm thanks, we will check this.

[2021-09-13 03:10] remeWdm commented on #6254
thanks

[2021-09-16 07:59] ismcagdas commented on #6243
@MohammadMobasher it would be really helpful if you can share a running project which includes this problem.

[2021-09-17 07:20] #6251 closed

[2021-09-17 07:23] #6212 closed

[2021-09-17 15:16] gem81 commented on #6250
if (entityType.IsKeyless)
                    {
                        modelBuilder.Entity<TEntity>().HasQueryFilter(filterExpression);
                    }
                    else
                    {
                        modelBuilder.Entity<TEntity>().HasQueryFilter(filterExpression);
                    }

?? please, somebody explain, for what reason ?((

[2021-09-17 18:34] acjh commented on #6250
@gem81 Unnecessary `if` statement removed in ae28493.

[2021-09-19 19:32] #6189 closed

[2021-09-22 03:30] rqx110 opened #6255 "Warn of Entity framework core 5"
* Your Abp package version: latest
* Your base framework:  .Net Core, EF5.0
* Your Project template:  Module-Zero-Core-Template
* UI: Angular
* Steps needed to reproduce the problem:
run the host, and you will see below warning message: (can you fix it?)
![image](https://user-images.githubusercontent.com/1829209/134278872-7668af58-d86b-412f-9ea2-566e57ad9e30.png)

by the way, the project works wel

[2021-09-22 07:44] ismcagdas opened #6256 "Upgrade to Microsoft.AspNetCore.OData 8.x"
There are breaking changes for Microsoft.AspNetCore.OData 8.x, so we can include it into 7.0 milestone.

[2021-09-22 07:47] ismcagdas opened #6257 "Upgrade NuGet packages"

[2021-09-22 07:50] #6257 closed

[2021-09-23 10:16] jonassix opened #6259 "abp-ng2-module - Angular 12"
I've seen ABP template has moved from angular 11 to angular 12. We have done the same for our Zero template.
However project abp-ng2-module is not following suit.

see https://github.com/aspnetboilerplate/abp-ng2-module/blob/master/package.json

[2021-09-24 06:34] ismcagdas commented on #6259
@jonassix thanks, we will upgrade it to Angular 12.

[2021-09-27 05:34] ismcagdas opened #6260 "Redis performance problem"
Reported at https://github.com/aspnetzero/aspnet-zero-core/issues/1794

[2021-09-27 10:12] abhi1692 opened #6261 "Cannot set property ɵfac of function AbpHttpInterceptor(configuration, _injector)"
Hello Team,
1. I am migrating my project from Angular 8 to Angular 9.
2. While migrating i am facing below issue(screenshot attached),
![Screenshot 2021-09-23 at 6 11 49 PM](https://user-images.githubusercontent.com/7926683/134878391-e9811a3f-7671-4287-88b8-d154c1257e28.png)
)
3. I am not facing any issue while compiling, my build is running fine, but getting above error on console
4. I am using b

[2021-09-27 22:49] Parsus-Goddard-Trevor opened #6262 "ExceptionMessage over 1024 characters will throw SqlException"
ExceptionMessage = auditInfo.Exception?.Message,

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/src/Abp.Zero.Common/Auditing/AuditLog.cs#L169

Will throw a SQLException "data will be truncated" exception if the exception.toString() exceeds 1024 characters.  This appears to mask the actual exception in the console.

[2021-09-28 05:03] ismcagdas commented on #6261
Could you share your app-auth.interceptor.ts ? Probalby removing @Directive() attribute from that will solve the issue.

[2021-09-28 05:41] ismcagdas opened #6263 "Upgrade to .NET 6 RC.1"

[2021-09-28 05:41] ismcagdas opened #6264 "Upgrade to .NET 6 Final"

[2021-09-28 05:45] #6263 closed

[2021-09-28 06:37] abhi1692 commented on #6261
Just an update, I have updated the below package to Angular 9 compatible version
"abp-ng2-module": "6.0.0",
"abp-web-resources": "5.2.0",

Now i am getting below issue
![Screenshot 2021-09-27 at 3 27 12 PM](https://user-images.githubusercontent.com/7926683/135035642-8568a50b-b386-4269-9f26-292bff010a73.png)
:

[2021-09-28 16:44] Parsus-Goddard-Trevor commented on #6262
I will try that, thanks.  Apologies for the curt message, it had been a long day.

[2021-09-28 23:37] #6141 closed

[2021-09-29 06:00] bxjg1987 opened #6266 "Can dynamic property provide validation rules?"
Such as required, length... etc

[2021-09-29 06:49] ismcagdas commented on #6266
@bxjg1987 currently no. We will consider this for the future.

[2021-09-29 07:06] #6208 closed

[2021-09-29 07:06] #6151 closed

[2021-09-29 07:07] #6168 closed

[2021-09-29 07:12] ismcagdas commented on #6176
@vikramtamboli this might help you https://stackoverflow.com/questions/47412363/how-to-open-a-create-react-app-from-another-computer-connected-to-the-same-netwo

[2021-09-29 07:12] #6176 closed

[2021-09-29 07:16] ismcagdas commented on #6178
@worthy7 I read the issue again but couldn't understand the point and I'm a bit confused. Could you try to explain your real life scenario ? Maybe it can help me to understand the problem here.

[2021-09-29 07:16] #6192 closed

[2021-09-29 07:16] #6196 closed

[2021-09-29 07:21] #6198 closed

[2021-09-29 07:22] #6202 closed

[2021-09-29 07:26] worthy7 commented on #6178
I think that using the BackgroundJob system for Events can be dangerous because it doesn't make a job for each handler, it makes one job which is then handled by each handler separately, and so if one of those handlers error's, then the job will error and retry, which will cause ALL handlers (even those that were successful) to retry which would duplicate the handling of that event.

So right now

[2021-09-29 07:29] ismcagdas commented on #6215
You can create a mapping as shown here https://aspnetboilerplate.com/Pages/Documents/Object-To-Object-Mapping#custom-mapping

[2021-09-29 07:34] #6227 closed

[2021-09-29 07:35] ismcagdas commented on #6235
@apchenjun sorry that we missed your question. Did you figure it out ?

[2021-09-29 07:39] ismcagdas commented on #6241
@sajasbana yes, this is correct.

[2021-09-29 07:39] #6241 closed

[2021-09-29 08:12] ismcagdas commented on #6242
@alpeshkalena have you solved this problem ? If not, could you provide a reproduction project ?

[2021-09-29 08:14] #6249 closed

[2021-09-29 08:14] #6250 closed

[2021-09-29 08:20] ismcagdas commented on #6261
@abhi1692 if there is no special restriction, you can try to use the latest version for abp-ng2-module and Angular and compare your project with the one from the repository https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/angular

[2021-09-29 08:46] sajasbana opened #6267 "warning when override LDAP method"
Dears,

I get warning when override LDAP method like below image (warning CA1416: This call site is reachable on all platforms. 'UserPrincipal.FindByIdentity(PrincipalContext, string)' is only supported on: 'windows'.)

![image](https://user-images.githubusercontent.com/34976854/135234523-b61c0f60-1dc0-43b7-a7df-b97425e5a821.png)

It is working but does it need fix in ABP?

[2021-09-29 10:27] ismcagdas commented on #6235
Thanks 🙂

[2021-09-29 10:27] #6235 closed

[2021-09-29 16:55] smhnlxndr opened #6268 "System.ArgumentNullException: 'Value cannot be null. (Parameter 'unitOfWork')'"
### System.ArgumentNullException: 'Value cannot be null. (Parameter 'unitOfWork')'
After Update all packages from version 6.3.0 to 6.5.0 I got this exception.

###### StackTrace
[code]

 ###### Message
 Value cannot be null. (Parameter 'unitOfWork')

### [screenshot](https://snipboard.io/q23tmg.jpg)

[2021-09-29 17:32] acjh commented on #6268
Add `[UnitOfWork]` attribute, as shown in the documentation:
https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#create-a-background-job

[code]

[2021-09-30 06:20] ismcagdas commented on #6267
@sajasbana we are directly using .NET's implementation. This shouldn't be a problem I think.

- Which version of ABP you are using ?
- Is your project targeting .NET core or .NET Framework ?

[2021-09-30 06:35] sajasbana commented on #6267
I downloaded from website mpa .net core template

I apply ldap based on (https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management?searchKey=ldap#ldap-active-directory)

I override method Update like image i shared

and it shows this warning, please check steps on your machine, if you don't see warning like i see maybe something wrong in my machine, if you see and can be fixed will be bet

[2021-09-30 09:08] ontur00 commented on #6175
Hello, is there a workaround currently available in version 6.5?
Have you found the problem and are you going to add a patch to version 7.0?

[2021-09-30 15:14] smhnlxndr commented on #6268
Thank you.

[2021-09-30 15:14] #6268 closed

[2021-10-01 05:59] ismcagdas commented on #6267
When I check it, I don't see a warning. Also, since this is a class from .NET Framework, I think we can't fix it :).

[2021-10-01 08:23] tayfunuyar opened #6269 "Service inject give error in MVC"
When I inject service to  MVC razor  view give unitofwork null error.
For example :

@inject ICustomAppService

[2021-10-01 08:41] ismcagdas commented on #6269
@tayfunuyar if you are injecting into a Component, you should use IUnitOfWorkManager in your class to start a unit of work manually.

[2021-10-01 10:29] tayfunuyar commented on #6269
@ismcagdas  thanks for quick response.  I want to  inject service  to   .cshtml

[2021-10-01 11:00] ismcagdas commented on #6269
For such services, you should either use UnitOfWork attribute on your app service method or manually start uow in the app service method. Something like this;

[code]

or

[code]

But this is only necessary if you are injecting your app service to a view.

[2021-10-01 11:06] tayfunuyar commented on #6269
@ismcagdas  thanks for helping.

[2021-10-01 11:06] #6269 closed

[2021-10-01 12:17] ismcagdas commented on #6260
We can examine https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5551 and make a similar enhancement where necessary.

[2021-10-02 12:05] DamienLaw opened #6272 "IRepository<> doesn't work on Entity added in OnModelCreating() of DbContext"
In order for auto repository to be injected in constructor
[code]

We have to declare its `DbSet<>` in `DbContext`, like this
[code]

However, we have a need to register it programmatically
[code]

Is there a way to inject `IRepository<>` with Entities added to the model using `OnModelCreating()`?

[2021-10-03 06:27] sajasbana commented on #6267
Ok Dear Thanks

[2021-10-03 06:27] #6267 closed

[2021-10-04 06:56] ismcagdas commented on #6272
@DamienLaw this is not possible at the moment, you can manually register the IRepository<CustomEntity> for now. We will try to make it automatic.

[2021-10-04 11:45] ismcagdas commented on #5793
@sajasbana I think that's because `ar` culture is disabled. Fallback to a disabled language is not a good idea I think.

[2021-10-04 12:21] sajasbana commented on #5793
@ismcagdas
I solved this issue for me with this workaround solution
1- I added new property in languages table with name IsVisible
- this way I can use the new property to hide the un wanted language like 'ar' in the UI and display only 'ar-KW' and 'ar' still active in DB and the fallback will work

2- other way is to change the abp localization cade to check all languages even Disabled one when s

[2021-10-04 13:31] #6259 closed

[2021-10-05 05:08] 3151036158 opened #6273 "AbpExceptionFilter Unable to catch a request exception that the client voluntarily disconnects"
If you're creating a bug/problem report, please include followings:

*  Abp package version.  5.14
*   base framework: asp.net core .3.1
* Exception message and stack trace if available.
2021-10-05 12:21:12.4998 Abp.AspNetCore.Mvc.ExceptionHandling.AbpExceptionFilter The operation was canceled.System.OperationCanceledException: The operation was canceled.
   at System.Threading.CancellationToken.T

[2021-10-05 05:39] milukukoz opened #6274 "the unitOfWork was been null when called by the View"
Hi, could you help me?
I'm updated FW from version 6.3.0 to 6.5.0 and I get an error when call action from view  to service
"ArgumentNullException: Value cannot be null. (Parameter 'unitOfWork')"
![image](https://user-images.githubusercontent.com/17758133/135967367-3075efa7-d3e4-4601-9e86-0be3db51cc9e.png)

+ call actions from view to service using inject
+ call actions from view using Viewcompone

[2021-10-05 05:52] ismcagdas commented on #6274
You need to manually start a unit of work in InvokeAsync method of the viewcomponent. This happens because we disabled unitOfWork interceptors by default and we started to use action filters for UoW for performance reasons.

[2021-10-05 05:55] ismcagdas commented on #5793
Thanks. I think you can use this solution for your case. Since we haven't received such use case scenario much, I will close the issue. If we get similar requests in the future, we can consider this again.

I think, in your case, IsVisible is a better choice.

[2021-10-05 05:55] #5793 closed

[2021-10-05 06:52] milukukoz commented on #6274
Ok, I was doing that. thank you. pls close the question

[2021-10-05 06:52] #6274 closed

[2021-10-05 07:35] demirmusa opened #6275 "Prepare a documentation about PerRequestRedisCache"
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5910

[2021-10-05 17:41] jacobmhulse commented on #3221
ABP Team: It has been over 2 years since this was opened, any news for us?  You guys have built an amazing framework here, shame to have it fall short on such an important piece.  Please update us lowly developers.  Thank you!

[2021-10-06 15:39] jacobmhulse commented on #3221
@ismcagdas That's fantastic news, thank you!

[2021-10-07 06:24] easyest opened #6278 "UserPrincipal.FindByIdentity usage"
Dear Sirs,

At the moment, ABP queries LDAP for any identity type. Unfortunately, this may cause problems. As stated [here](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.accountmanagement.userprincipal.findbyidentity?view=dotnet-plat-ext-5.0):

But as stated [here](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.accountmanagement.identitytype?view=dotnet

[2021-10-07 06:29] 1jedrzej1 opened #6279 "Abp.EntityHistory.EntityHistoryHelperBase.IsAuditedPropertyInfo: Object reference not set ..."
Hi community :)
I've problem with auditing exception for PropertyInfo object.
Abp version 6.4.0
.NetCore 5

Exeption
`Object reference not set to an instance of an object`

   at Abp.EntityHistory.EntityHistoryHelper.GetPropertyChanges(EntityEntry entityEntry, Boolean auditedPropertiesOnly)
   at Abp.EntityHistory.EntityHistoryHelper.CreateEntityChangeSet(ICollection`1 entityEntries)
   at Abp.Zer

[2021-10-07 08:18] demirmusa commented on #6254
Hi @remeWdm
I could not reproduce the problem. Can you please share a project that contains that problem?

[2021-10-09 20:35] tinonetic commented on #4762
Adding my voice. Having the exact same issue.

Works intermittently, no logs for runs where IsAbandoned = true

Will see if I can give a sample project reproducing the issue

It's been biting us for months now. If only it logged when the Abandonment occurred.

Fortunately, I've used Hangfire and it integrates well. So will use that as an alternative

[2021-10-10 11:32] ismcagdas commented on #4762
@tinonetic it would be great if you can provide a reproduction project or at least background job, thanks.

[2021-10-10 11:44] rogeralsing opened #6280 "EF Migrations for updating legacy projects?"
We are helping a client upgrading an old system.
The last EF migrations in the EF Core folder are from 2019.
We are now trying to update the libraries to modern versions. so far so good.
But then the database is incompatible with the newer libs as it uses this ancient schema.

What is the correct way to get ef migrations for the abp tables, from then til now, into this legacy project?
<img width="

[2021-10-10 11:52] ismcagdas commented on #6278
@easyest doesn't [this](https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6232/files) solve the problem ?

[2021-10-10 12:02] rogeralsing commented on #6280
What does that mean? the missing changes are the ones for aspnetboilerplate itself, so how and where do we get those?
Or am I misunderstanding something fundamental here?

[2021-10-11 10:59] milukukoz opened #6281 "Get Text from ApplicationLanguageText"
Hi, I'm a newbie in Aspboilerplace. some previous days I have updated from 6.3 to 6.5
I have a function to manage language text from DB by using IRepository<ApplicationLanguageText, long>
![image](https://user-images.githubusercontent.com/17758133/136779487-e11b81b9-a9e8-4f2f-a6e2-4a3f9efa0983.png)

![image](https://user-images.githubusercontent.com/17758133/136778875-e05df583-b09a-47fb-b7c2-a76b0

[2021-10-11 11:12] demirmusa commented on #6279
Hi  @1jedrzej1
I tried it but could not reproduce it. Can you please share your entity, GenderEnum and any other related info that will help me to reproduce it?

[2021-10-11 20:26] amira133 opened #6282 "Problem with DateTime converted from Georgian to Persian automatically"
Hi ,

I have a problem when set Ui culture to `fa`.

In the database, all dates are stored as Gregorian date, but when these dates are read from the database, they are automatically converted to the Persian date. It may not seem like a problem, but when editing this date on the client side(Ui), this date is converted to Persian  again and something is completely wrong.

To make the problem clearer

[2021-10-13 05:59] ismcagdas opened #6283 "Reduce redis request count"
We should implement a similar enhancement to https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6276 in 6.x branch.

- [ ] Test this PR in a template before merge

[2021-10-13 07:05] demirmusa opened #6284 "Nuke Build Error"
![image](https://user-images.githubusercontent.com/48536631/137083745-51ce6807-9fac-47f1-9a93-6b217a78bddb.png)

[2021-10-14 05:39] #6284 closed

[2021-10-14 12:26] elie-chaaban opened #6287 "ABP return file"
Hello,

I am using ABP Module without UI, and i need to return files which are on the server, I will pass only for example:
/images/image/image1.jpg
where these images should be in Host or Domain or Application? also how can i parse it and return the appropriate file

[2021-10-17 05:53] sajasbana opened #6288 "Request: Add doc. about abp ui inputs"
Dears,

Is is possible to add document about abp ui input ?
![image](https://user-images.githubusercontent.com/34976854/137613672-4983972c-3052-4ac0-80c5-b67da29abe91.png)

Thanks

[2021-10-20 08:12] MohammadMobasher opened #6289 "AbpPermission is empty"
hello
I'm using zero platform and i have a problem.
there are no items in AbpPermission table in sql. in free version when i add new permission in AppAuthorizationProvider>SetPermissions after running we have a record in AbpPermission  table but in zero version not. can you please help me please...

[2021-10-20 08:29] iyilm4z commented on #6289
Hi @MohammadMobasher, the default store for permissons is in-memory. So adding a new permission in AppAuthorizationProvider doesn't chage this behavior. The AbpPermission table is mostly for overriding permissons. Try to override a permission for a **user** of a **role** and see the result in the table. Here is a helpful [doc](https://aspnetboilerplate.com/Pages/Documents/Zero/Permission-Managemen

[2021-10-21 07:14] MohammadMobasher commented on #6289
but how can i skip the in-memory storage for permission!?

[2021-10-21 08:42] iyilm4z commented on #6289
@ismcagdas most probably he means open source zero modules by saying zero.
@MohammadMobasher in order to skip the in-memory storage you should implement your own [PermissionManager](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/PermissionManager.cs). However abp agnostic, permissions are static by it's nature. The requirement for dynamic actions abp already

[2021-10-21 12:25] ismcagdas opened #6290 "Update OData documentation"
Following https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6270

[2021-10-21 12:26] ismcagdas opened #6291 "Update OData sample project to ABP 7"
Update the sample when ABP v7 is released

[2021-10-21 12:26] #6256 closed

[2021-10-21 14:08] Robert-Laverick commented on #6216
So I've done some testing, and while I've not spotted any endpoints that are very simple and not async throw the error, I did convert one async endpoint to a none async one like this.
[code]
I expected this to stop that endpoint from generating these errors, however it hasn't. After this change was running in production I'm still seeing errors from this Create endpoint with this backtrack.
[code]

[2021-10-24 12:27] sajasbana opened #6292 "Get setting default value after I update in application and tenant scope"
Dears,

I want to get the setting default value that defined in setting provider, is that possible?
suppose I modified setting value in application and tenant scope, then I want to get the default value to reset it

Thanks

[2021-10-25 03:31] NepPure opened #6293 "System out of memory with Grpc + MagicOnion in Castle.Windsor"
## Abp Info

* Your Abp package version. v6.5
* Your base framework: .Net 5

## Exception

![image](https://user-images.githubusercontent.com/12379907/138630530-4b374ad1-03c4-4d0f-a27c-1488a9a03a9e.png)

## dotMemory

![image](https://user-images.githubusercontent.com/12379907/138629291-74db8a72-1597-4b75-a6f6-2becd49d61f9.png)

![image](https://user-images.githubusercontent.com/12379907/138629327

[2021-10-27 03:10] jonesrd opened #6294 "EntityHistoryHelper shouldn't create a PropertyChange for unchanged property"
If you're creating a bug/problem report, please include followings:

* Abp package version. - **6.3**
*  .Net Core.
* No Exceptions
* Enabled EntityHistory per documentation.  Appears to be working correctly except for datetime? properties are showing as modified.

This appears to be the same as bug #5292
![Capture](https://user-images.githubusercontent.com/70344314/138993538-6e2f30dd-809c-4b05-8f

[2021-10-27 20:24] tayfunuyar opened #6295 "How to take tenant admin password list from management side."
Hi guys ,
How to take system user password list without hash in management side.
Can  you help me ? I can't find decrypt hash method.

[2021-10-28 06:40] #6295 closed, assigned to nobody

[2021-10-28 08:28] #6287 closed, assigned to nobody

[2021-10-30 22:23] FirasKira opened #6296 "Injection of application service in NavigationProvider"
# Description
I have injected an application service in my project's navigation provider in order to generate dynamic data based menus.
But I faced a problem that NavigationProvider doesn't accept dependency injection to app service!

I need to access the app service function to get data from DB so I can show dynamic menu (fetched from DB).
How can I do that?

## Technical details:
* Abp package v

[2021-10-31 09:55] sajasbana opened #6297 "Question: about JwtBearer Authentication IsEnabled"
Dears,

I have question in JwtBearer Authentication: what this property "IsEnabled" will do if I make it false? I made it false but did not see any effect
![image](https://user-images.githubusercontent.com/34976854/139577014-bf735f72-ba27-44a8-b543-552a1a7c6279.png)

also disabled this code and did not see effect
![image](https://user-images.githubusercontent.com/34976854/139577103-09842b54-72ac-4

[2021-11-01 05:50] ismcagdas commented on #6297
Hi,

When you make it false, normally it should disable JWT authentication.

[2021-11-01 05:58] ismcagdas commented on #6296
But I faced a problem that NavigationProvider doesn't accept dependency injection to app service!

@FirasKira what problem/exception did you see when you did this ?

[2021-11-01 06:48] #6297 closed

[2021-11-01 06:59] turkiasoft opened #6298 "localization not working on login"
The result when we send a request with a token
![image](https://user-images.githubusercontent.com/69857983/139633314-8cc030a9-b915-46ee-a738-6a7863b25c90.png)

Result when we send request without token
![image](https://user-images.githubusercontent.com/69857983/139633402-46d7af1f-cc44-4e56-af1b-13f17353e853.png)

packages installed in the project are the latest version
![image](https://user-images

[2021-11-02 05:11] ismcagdas commented on #6298
Hi @turkiasoft

When Localizing a text, we use a hierarchical mechanism, see https://aspnetboilerplate.com/Pages/Documents/Localization#how-the-current-language-is-determined.

Since you are sending a token, probably user's selected language is used. Can you check that ?

[2021-11-04 17:44] turkiasoft commented on #6298
Hi, @ismcagdas
thanks for the answer. Even I made a request here and then it started working fine.

![image](https://user-images.githubusercontent.com/69857983/140391501-c8a21ade-a867-4eca-b58b-f748c904ddc7.png)

[2021-11-04 17:44] #6298 closed

[2021-11-05 02:20] dafeifei0218 opened #6299 "How to use localization in console projects or core projects?"
How do I use localization in my application's core layer project?
How do I use localization in a console project?

[2021-11-05 05:13] ismcagdas commented on #6299
@dafeifei0218 you can follow this document https://aspnetboilerplate.com/Pages/Documents/Localization. Let me know if it doesn't work for you.

[2021-11-05 13:19] sahilpma opened #6300 "Datatables are not working"
![image](https://user-images.githubusercontent.com/38884892/140515862-5e77cd40-cd8f-467b-88bf-5d3e3154ec49.png)

![image](https://user-images.githubusercontent.com/38884892/140515994-c0fff161-4c43-423e-881a-1bb09fdcd6fa.png)

Modals are not working after hosting.

![image](https://user-images.githubusercontent.com/38884892/140516153-1d69d498-9b1a-459c-b6f9-490da1081781.png)

Datatables are part of

[2021-11-05 18:06] 1jedrzej1 commented on #6279
any progress with it?

[2021-11-05 23:03] washyn commented on #6300
hi, you can share the code to see the problem, the default template should work.

[2021-11-05 23:05] washyn commented on #6300
hi, you can share the code to see the problem, the default template should work.

[2021-11-06 08:29] ismcagdas commented on #6300
@sahilpma

* are there any other errors on browser console ?
* Is this working on development time ?

[2021-11-06 08:31] ismcagdas commented on #6279
@1jedrzej1 not yet, we will try to work on this before releasing 7.0

[2021-11-06 08:34] FirasKira commented on #6296
I'm getting the following exception even before the application finish the startup.
![image](https://user-images.githubusercontent.com/9990352/140603467-4457999d-1ffc-473b-ab81-74b14b643c41.png)
@ismcagdas

[2021-11-06 08:41] FirasKira commented on #6296
## Note:
When I injected a manager instead of an app service, I got the following exception.

![image](https://user-images.githubusercontent.com/9990352/140603656-cd27e035-b787-45ed-aa33-b873c7ef8445.png)

[2021-11-06 09:58] sahilpma commented on #6300
I can see only these errors in browser. This is working perfectly in my machine, but gives problems when hosted on server.

Link; http://circacer.azurewebsites.net
Admin credentials are the defaults.
(it will take some time to load at first hit, as hosted on azure free plan)

Currently I have hosted by this configuration.
![image](https://user-images.githubusercontent.com/38884892/140605603-911aa1

[2021-11-07 11:41] sajasbana commented on #6241
@ismcagdas
please can you help which one is safe to use in abp to inject service out in abp module class?
try1 or try2 or try3

![image](https://user-images.githubusercontent.com/34976854/140643408-761505d2-ff1d-45bb-812c-da4658c9469e.png)

[2021-11-07 22:46] washyn commented on #6300
your code is
![image](https://user-images.githubusercontent.com/15305896/140664381-dc6375f1-8262-4899-9630-8d1a2df12bd8.png)

![image](https://user-images.githubusercontent.com/15305896/140664497-fdda497a-0ccd-4860-8f0a-ddb34079aa24.png)

I recommend that you put the styles in the _Styles.cshtml file and the scripts in the same way in the _Scripts.cshtml file, I also see that you are adding additi

[2021-11-08 05:14] ismcagdas commented on #6241
@sajasbana I couldn't understand the question but you can use the one that works for you. There are no difference between those usages for safeness.

[2021-11-08 05:28] sajasbana commented on #6241
@ismcagdas
I mean which line in the 3 examples I put can can used for inject email service dynamicly?

[2021-11-08 05:40] ismcagdas commented on #6241
You can use ReplaceService in one of your module's PreInitialize method.

[2021-11-10 05:31] rqx110 commented on #6264
any progress on this feature?

[2021-11-10 05:32] ismcagdas commented on #6264
We will be releasing 7.0-rc.1 in a few days with this update.

[2021-11-10 12:36] quan0zhou commented on #5647
If efcore is used, the DBContext ServiceLifetime is changed to transient，For example

`Startup.cs`

[code]

`Repository.cs`

[code]

[2021-11-11 03:11] Parsus-Goddard-Trevor commented on #6262
Ended up creating a migration to increase the col length:

`         protected override void Up(MigrationBuilder migrationBuilder)
         {
-
+            migrationBuilder.AlterColumn<string>(
+                name: "ExceptionMessage",
+                table: "AbpAuditLogs",
+                nullable: true,
+                maxLength: 4096);
         }

         protected override void Down(Migr

[2021-11-11 03:11] #6262 closed

[2021-11-12 13:07] 1988gadocansey opened #6301 "Cannot register users"
Cannot register users

[2021-11-12 14:37] ismcagdas commented on #6301
@1988gadocansey is this happening in a template downloaded from https://aspnetboilerplate.com/Templates ? Could you provide a bit more information about the problem you are having ?

[2021-11-14 07:18] sajasbana opened #6302 "System.Text.Json instead of Newtonsoft.Json"
Measurements of performance show that this library is faster, but its functionality is still inferior to "Newtonsoft.Json".

check [https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-overview](url)

[https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to](url)

if possible to consider this to if leads to higher pe

[2021-11-14 07:24] sajasbana commented on #6302
I saw this, similar to this request

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5634

if System.Text.Json can be used instead of Newtonsoft.Json hope you can consider this

[2021-11-15 06:47] ismcagdas commented on #6302
@sajasbana you can follow https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5634, we are planning to add this in the following versions.

[2021-11-15 15:37] bxjg1987 opened #6303 "source link can not work"
abp version 6.5

it still can not be download .adb
![图片](https://user-images.githubusercontent.com/39435771/141809897-e313629c-1a56-4229-8d8e-5e2ea5f73327.png)
![图片](https://user-images.githubusercontent.com/39435771/141809931-8241d590-95bb-4390-be03-f04de7843cc5.png)

[2021-11-16 04:54] ismcagdas commented on #6303
@bxjg1987 When I test it last time, it was working but I will check it again.

[2021-11-16 13:43] bxjg1987 commented on #6303
ok,thanks~

[2021-11-16 17:59] ahmedtolba1984 opened #6304 "Upgrade templates to .NET 6"
Dears,
I need to know when will you upgrade abp to .NET Core 6 latest version so, we can benefit from its huge speed improvements
@acjh @hikalkan @ismcagdas

[2021-11-17 04:33] ismcagdas commented on #6304
@ahmedtolba1984 it is planned for the next week.

[2021-11-17 14:03] smhnlxndr opened #6305 "SignalRHelper authorization"
We are already created question on stackoverflow, but didn`t receive answer.

Details here:
https://stackoverflow.com/questions/69975179/signalrhelper-how-to-authorize-by-http-with-base-url-and-for-connecting-to-ws-u

[2021-11-18 07:28] ismcagdas commented on #6305
@smhnlxndr is your AspNet Zero license active ?

[2021-11-18 13:33] greenlgy opened #6306 "How to customize annotations at the Web Controller layer"
I want to customize the annotations used in the Web Controller layer and do some business checks in the annotation processing program.
I did not find the relevant documentation and hope to get some suggestions and guidance.
thanks.

[2021-11-18 22:36] lineralpha opened #6307 "Castle is unable to instantiate custom repository base class"
### Environment:

ABP 6.5.0 + ASP.NET Core 5.0/.NET 5.0

Code to repro: https://github.com/lineralpha/AcmeDemo

### Issue

When I add AutoRepositoryTypesAttribute to the custom DbContext class to make it use the custom repository class, the app throws exception complaining not able to instantiate the repository (missing public default constructor). But the base class AbpZeroDbContext does not have

[2021-11-19 00:16] ahmedtolba1984 opened #6308 "Authenticate Static Files in Angular"
Dears,
I am using ASPZERO with .NET Core **Static Files** middle-ware  but when trying to authenticate users for static files (Images), the **Context.User.Identity.IsAuthenticated** is always **false** although the other angular pages already authenticated and sent authorization header in each request
[code]
I can see the Cookie is sent with the correct value but the request doesn't authenticated

[2021-11-19 04:38] ismcagdas commented on #6308
Could you share your entire Startup.cs ?

[2021-11-19 04:55] ismcagdas commented on #6305
Could you create your question on https://support.aspnetzero.com/QA/Questions or https://github.com/aspnetzero/aspnet-zero-core/issues

[2021-11-19 04:56] ismcagdas commented on #6306
@greenlgy would you like to define new attributes and do some business checks when they are used ?

[2021-11-19 07:38] greenlgy commented on #6306
@ismcagdas
Yes, that's right.
And get some data from AbpSession and database for business inspection.
But I didn't find the relevant information, can you help me~

[2021-11-19 07:41] #6264 closed

[2021-11-19 09:00] smhnlxndr commented on #6305
@ismcagdas wrong link for  https://github.com/aspnetzero/aspnet-zero-core/issues

Maybe it is private ?
![image](https://user-images.githubusercontent.com/48657143/142594998-52f20a7e-36bf-4056-84b8-356026d45ad8.png)

[2021-11-19 09:35] ontur00 commented on #6175
When are you planning to release version 7. Will there be a fix for the logout error in it? It is very necessary or some kind of workaround

[2021-11-19 13:29] demirmusa commented on #6279
Hi @1jedrzej1
I could not reproduce the problem. It works correctly for me. See:
![image](https://user-images.githubusercontent.com/48536631/142630457-6ed4a7d3-bbb5-4c4d-a9b6-9f3a22e87870.png)

Can you please create a new clean project and reproduce the problem in it, then share the project with us?

[2021-11-21 05:46] sajasbana opened #6310 "issue in text encode when view source in the broswer"
Dears,

I notice something strange when change the language to any language non english (arabic - persian ...).
as below image when you view page source from browser, texts it shows in non readable formats

![image](https://user-images.githubusercontent.com/34976854/142751027-7be5d3ab-e58a-470a-b5bd-ea176a95cfd3.png)

after adding the following lines
![image](https://user-images.githubusercontent.

[2021-11-21 21:13] ahmedtolba1984 commented on #6308
@ismcagdas
Thanks, I solved it
I have to set     context.Token = context.Request.Cookies[Constants.AbpAuthToken]; in QueryStringTokenResolver method  for my static files
so, they can be get authenticated correctly
Thanks

[2021-11-21 21:13] #6308 closed

[2021-11-22 13:44] wzj7531 opened #6311 "aspnetboilerplate template project create tenant with connection string can't creating DB"
I have download template project from aspnetboilerplate and run successfully. Actually, I want to check what will happen when creating a new tenant with connectiong string, so i clicked the add button in Tenants page, and a form popup. I filled out all the fields of the form,and the content of connectiong string field is "Server=localhost\SqlExpress; Database=Test1DB; Trusted_Connection=True;", th

[2021-11-23 06:05] ismcagdas commented on #6305
Sorry, yes it is a private repository. You can add your GitHub user on https://aspnetzero.com/LicenseManagement

[2021-11-23 16:20] egrassinode opened #6312 "BackgroundJobManager can't insert record because DbContext is already used"
### GitHub Issues

Informations:

* Abp package version: **5.14.0**
* Your base framework: .Net Core.
* Exception message and stack trace if available:
[code]

* Steps needed to reproduce the problem.

I've implemented a functionality that should generate a Excel File within a certains input data in two ways basically:
1. if DB query and excel generation are executed into a 10 seconds time frame,

[2021-11-23 20:53] crstnsz opened #6313 "Missing tags in AbpWeb-pt-BR.xml"
I using abp 6.5

These tags are missing from the AbpWeb-pt-BR.xml file. The values below are already translated to pt-BR

[code]
I try to fork and PR but I don't have permission. So I'm trying to help out here. If there is a way for me to do this PR, please show me where I can find documentation for the correct process.

Thanks

[2021-11-24 05:47] ismcagdas commented on #6313
Thanks @crstnsz for your contribution, we will add those items.

[2021-11-24 06:14] ismcagdas commented on #6312
Could you try using unitOfWork.CompleteAsync() instead of unitOfWork.Complete() ?

[2021-11-24 07:13] ismcagdas commented on #6306
@greenlgy sorry for the late reply. We don't provide an out of the box functionality for this. You can create an attribute, define an action filter, check the defined attributes and make necessary actions.

You can take https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Auditing/AbpAuditActionFilter.cs as an example

[2021-11-24 07:19] ismcagdas commented on #6310
@sajasbana thanks, we can include this to default templates.

[2021-11-24 07:46] ismcagdas commented on #6311
@wzj7531 do you have SQL Server ? Could you try with that ?

[2021-11-24 08:17] egrassinode commented on #6312
Unfortunately doesn't change the result.

[2021-11-24 08:31] egrassinode commented on #6312
Detailed Stack trace from VisualStudio:
[code]

[2021-11-24 08:59] #6260 closed

[2021-11-24 10:22] #6275 closed

[2021-11-24 10:23] #6290 closed

[2021-11-24 12:02] maghradze commented on #5464
Could you please share the code, how do you made user duplication? Thank you.

[2021-11-24 12:05] arpitce27 commented on #5464
Yes, please send me email on arpit.ce27@gmail.com and we will go from there.

[2021-11-24 12:05] arpitce27 commented on #5464
Yes, please send me email on arpit.ce27@gmail.com and we will go from there.

[2021-11-25 00:03] tookinaboot opened #6316 "Bug: Project template generated as angular when "One Solution" checkbox checked, but react is selected afterward"
Steps to reproduce:
1. Go to the download template page: https://aspnetboilerplate.com/Templates
2. Select Angular option
3. Mark the checkbox true for the "One Solution" option
4. Change Angular to React option (overwrite step 2)
5. Download the template, open archive folder

Observed:
The project downloaded will be the angular version of the template

Expected:
The project download should be rea

[2021-11-25 06:38] ismcagdas commented on #6283
Implemented by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6285

[2021-11-25 06:38] #6283 closed

[2021-11-26 01:30] wzj7531 commented on #6311
Yes I have SQL server express.

[2021-11-26 02:38] wzj7531 commented on #6311
The point is Whether I add a connection string for the tenant or not, the CreateTenantDto input's ConnectionString always null. So I manually add connection string like this:
`
if(input.ConnectionString == null)
{
      input.ConnectionString = @"Server=localhost\\SQLEXPRESS; Database={input.TenancyName}Db; Trusted_Connection=True"
}
`
Now tenant DB was created successfully, but it  seems like  id

[2021-11-26 04:22] ismcagdas commented on #6311
Because host and tenant uses same DbContext by default.

[2021-11-26 07:26] Pangyeeshen opened #6317 "HangFire stop retries when hit exception for one of the background job (Not globally)"
How do i stop retries for one of the background job when it hit exceptions (Not globally)

[2021-11-26 18:58] sahilpma commented on #6300
@washyn Sorry for late reply.
I have done as you asked for.
But still getting the same error in production..

Live website: http://cicacerweb.azurewebsites.net
(Default credentials)

![image](https://user-images.githubusercontent.com/38884892/143621301-368945e3-9c2d-4720-a3a6-f1ee372478b6.png)
It seems there is some javascript error.

Uncaught TypeError: Cannot read properties of undefined (readin

[2021-11-27 02:33] washyn commented on #6300
can you contactme to shin321654987@gmail.com  and i can help you

[2021-11-27 06:46] sahilpma commented on #6300
Thanks. I have mailed you.

[2021-11-27 08:11] greenlgy commented on #6306
@ismcagdas  Thanks for your answer, I get it.

[2021-11-27 08:11] #6306 closed

[2021-11-29 01:36] Rorschach331 opened #6318 "questions about aop & uow"
Your base framework: .Net Core.
i registered Aop1Interceptor in my core module just like abp's codes
[code]
here is my simple appservice
[code]
when i  run the method,Aop1Interceptor finished before uow.
if i want that:uow finish before Aop1Interceptor ,what should i do?

[2021-11-29 01:49] Rorschach331 commented on #6318
i found that abp registered Interceptors like UnitOfWorkInterceptor in class AbpBootstrapper,which is called at StartUp.cs with `services.AddAbp`.
but my Aop1Interceptor  registered  at moudle's PreInitialize method,so it registered  later than UnitOfWorkInterceptor .
is there a correct way?

[2021-11-29 06:12] ismcagdas commented on #6318
Do you register your interceptor as shown here https://aspnetboilerplate.com/Pages/Documents/Articles/Aspect-Oriented-Programming-using-Interceptors/index.html#ArticleRegisterInterceptor ?

[2021-11-29 07:19] ismcagdas commented on #6317
@Pangyeeshen  I think you can do it in https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.HangFire.AspNetCore/Hangfire/AbpHangfireJobExceptionFilter.cs by creating your own filter

[2021-11-29 07:42] Rorschach331 commented on #6318
thanks for reply!
yes,i did
Aop1Interceptor works fine
here is the log:
[code]
it means that Aop1Interceptor's Intercept Method returned before uow.Complete()
i wish Aop1Interceptor's Intercept Method returned after uow.Complete() ,the log is like blow:
[code]
how can i fixed the  interceptors order?
[interceptors-can-be-chained-in-a-fixed-order](https://riptutorial.com/castle-windsor/example/2943

[2021-11-30 06:21] ismcagdas opened #6320 "AbpPerRequestRedisCache bugs for 6.x version"
Implement the fix on https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6319 for 6.x branch

[2021-11-30 08:00] rqx110 opened #6321 "the document on the web site is outdated"
please also publish the latest document after pump new abp version.

https://aspnetboilerplate.com/Pages/Documents

[2021-11-30 08:27] ismcagdas opened #6322 "Allow adding dynamic header parameters to webhook requests"
See https://support.aspnetzero.com/QA/Questions/10716/Adding-Authorization-header-to-a-Published-Webhook

[2021-11-30 08:44] nitinjs commented on #776
what is the most recent version number of ABP I can use with ASP.NET Web Forms??

-nitin

[2021-11-30 08:49] harpsicord86 opened #6323 "Unable to access application services within a view component"
* Abp package version: 6.5.0
* Your base framework: .Net Core.

Hi there,

When I try to use an application service within a view component, I get the following error:
![image](https://user-images.githubusercontent.com/12445814/144013564-e63030e6-4c07-4d5f-a1fa-d17edcc5942f.png)

It seems as though the Unit of Work Manager is inaccessible within the AbpViewComponent class. I've tried my same code

[2021-11-30 10:47] ismcagdas commented on #6323
Hi **@harpsicord86**

This happens because ActionFilters are not executed for ViewComponents. I suggest you to use IUnitOfWorkManager and manually start a unitOfWork as explained here https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#iunitofworkmanager

[2021-11-30 10:49] ismcagdas commented on #776
@nitinjs we haven't tried ABP with WebForms for a long time but since .NET Standard is supported on Windows, the latest version should be fine. Please create a new issue if you face a problem.

[2021-11-30 17:01] nitinjs commented on #776
It will be good if you provide a sample for ASP.NET web forms boilerplate @aspnetboilerplate team

[2021-11-30 17:31] harpsicord86 commented on #6323
Hi @ismcagdas

I tried your suggestion and it's worked! Thanks everso so much for your help :-)

[2021-11-30 17:31] #6323 closed

[2021-11-30 23:19] vasylklapatyi commented on #4433
I also got this issue, but this solution didn't work

[2021-12-01 05:04] ismcagdas commented on #4433
@vasylklapatyi could you create a new issue and share the error details ? It would be great if you can also share a reproduction project.

[2021-12-01 05:38] ismcagdas commented on #776
Web Forms are not used in new projects anymore or it is usage is very low. Probably we will not prepare a sample but if we get more requests about it, we can think about it.

[2021-12-01 08:11] ismcagdas commented on #6320
Closed via https://github.com/aspnetboilerplate/aspnetboilerplate/commit/d6e5c878fdd21d51b2f5ac0abc148abcdb0968c8

[2021-12-01 08:11] #6320 closed

[2021-12-01 13:18] behiunforgiven opened #6324 "Use AspnetBoilerplate as OpenId Client (How to login with Identity Server) ?"
How can I log in with the identity server?
when I use sample Codes the page refreshes infinitely after login.
this is my AuthConfigurer.Config

[code]

Is there any working sample?

[2021-12-01 14:37] sajasbana opened #6325 "ISoftDelete with Cascade or Restrict not working"
Dears

I have issue is
I have 3 table
category
item (contains categoryId)
itemaccount (contains itemId)

in DBContext I defined
[code]

issue is when delete category restrict not work but in sql server it works
also cascade not work when delete item but in sql server it works

how can i force these constraints?
also when delete category isDeleted is updated only on category but item column isDelet

[2021-12-01 16:07] #6305 closed

[2021-12-02 06:29] ismcagdas commented on #6325
@sajasbana ISoftDelete doesn't delete the entity, it just updates its IsDeleted column. You can remove ISoftDelete from your entity and try that way.

[2021-12-02 06:31] sajasbana commented on #6325
@ismcagdas
I understand it update the entity, but what about it is children(related) records?
and is there way to use OnDelete(DeleteBehavior.Restrict) or OnDelete(DeleteBehavior.Cascade) ?

[2021-12-02 06:35] acjh commented on #6325
Duplicate of #3955

[2021-12-02 06:36] ismcagdas commented on #6324
@behiunforgiven you can take a look at https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServervNextDemo

[2021-12-02 06:44] sajasbana commented on #6325
@acjh
clear thanks
I will check manually for related entities

[2021-12-02 06:44] #6325 closed

[2021-12-03 05:32] ismcagdas commented on #6321
@rqx110 thank you for the remined, it is done.

[2021-12-03 05:32] #6321 closed

[2021-12-03 05:47] 274188A commented on #6304
Will the downloadable templates be updated to ad an extra tab for the .net 6.0 version?

[2021-12-03 05:48] ismcagdas commented on #6304
@274188A we are expecting to release templates with .NET 6 support in 1-2 days.

[2021-12-03 05:49] 274188A commented on #6304
Thank you!

[2021-12-04 05:50] behiunforgiven commented on #6324
Thank you, I review the demo source, but it's an Identity Server demo, I want a sample with AspnetBoilerplate as the base and log in with OpenId

[2021-12-04 08:31] ismcagdas commented on #6324
@behiunforgiven you can follow https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4148, we don't have such a sample at the moment.

[2021-12-04 12:59] smhnlxndr opened #6326 "How unit test custom repository. [aspnetboilerplate]"
## How create unit test for custom repository.

I created question in [`stackoverflow`](https://stackoverflow.com/questions/70225760/how-unit-test-custom-repository-aspnetboilerplate), but I want duplicate it here.

I have custom repository. But default tests (it is not unit tests, looks like integration) using in memory db, and for unit test my repository, I need create a lot of relations just fo

[2021-12-04 19:49] behiunforgiven commented on #6324
@ismcagdas Thank you, but can you give me some hints about how to do that with AspnetBoilerplate?
(I did it with an ordinary asp.net core project, but have problems in boilerplate)

[2021-12-06 03:45] joelmdev opened #6327 "How to use IGeneratesDomainEvents with IBackgroundJobManager"
I'm trying to enqueue a domain event roughly as shown [in the official documentation](https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events). However, I'm combining `IGeneratesDomainEvents` with `IBackgroundJobManager`, as I want my Entity's domain event to fire automatically, but I do not want it to process immediately.

In my Entity I call `DomainEvents.Add(new MyEventData(this));

[2021-12-06 06:08] ismcagdas commented on #6324
The flow is very similar with a regular ASP.NET Core app. Could you share the problem you had ?

[2021-12-06 06:15] ismcagdas commented on #6326
Hi @smhnlxndr I think you can move the code block marked in red into a separate method and mock it in a specific test. It would be easier than mocking the entire DbContext or DbSet.

![image](https://user-images.githubusercontent.com/4133525/144796700-27b1ca56-e18b-44c0-8d7a-b121d8977816.png)

[2021-12-06 06:34] ismcagdas commented on #6327
@joelmdev there was a bug and it was fixed with ABP 6.3.1 version. Can you upgrade your ABP NuGet packages to 6.3.1 and try again ?

[2021-12-06 07:55] behiunforgiven commented on #6324
Yes, as I mentioned above, I use that config to use OpenId instead of regular authentication.
after logging in with the Identity server login page I stuck in a loop in address :

`
https://localhost:5009/connect/authorize?client_id=mvc&redirect_uri=https%3A%2F%2Flocalhost%3A44308%2Fsignin-oidc&response_type=code&scope=openid%20profile%20api1&code_challenge=xqpQIwcdvoAEAUxQIVC9u9Ex9_pxa8VuFbpSxVryo

[2021-12-06 08:53] smhnlxndr commented on #6326
@ismcagdas it`s resolve only this case, but what I need to do if I need test SingleAsync, Single, FirstOrDefault, or for example I need get FirstOrDefault Medication but with Include fields or I need get in the same method  not only Medication.

I need write for each DbSet method for getting it?
GetOneMedication
GetOneUser
GetOne_SomeOtherEntity_WithInclides

It is not a good solution. It is not r

[2021-12-06 13:38] joelmdev commented on #6327
@ismcagdas I'm actually running AspNetBoilerplate as part of AspNetZero. Is this a compatible update?

[2021-12-06 15:05] behiunforgiven commented on #6324
this is my Principal.Claims

![Screenshot_33](https://user-images.githubusercontent.com/2098017/144869776-e3cfd15b-ac55-4229-b3a6-aee5d5682cf5.png)

[2021-12-06 15:42] joelmdev commented on #6327
I went ahead and tried this. Unfortunately upgrading to 6.3.1 seems to have broken everything that touches the database. For example, here's the stack trace resulting from a call to IsTenantAvailable:

[code]

Reverting to 6.2.0 packages fixes the problem.

This may be getting into A0 territory so I will post there as well.

[2021-12-07 05:01] ismcagdas commented on #6327
Yes, same problem should be fixed when ABP NuGet packages upgraded to 6.3.1 in AspNet Zero. I assume you also need to add a new migration when you upgrade to 6.3.1, could you try like that ?

[2021-12-07 05:04] ismcagdas commented on #6324
Do you have any exception or warning message in your app's logs ?

[2021-12-07 05:26] ismcagdas commented on #6326
@smhnlxndr another approach would be preparing a test data for all your tests. In that case, you know what will be the return of those specific methods. Other than that, I can't offer you a solution.

[2021-12-07 05:29] ismcagdas commented on #6318
If you are using interceptors for AppServices or Controllers, Instead of using interceptors I suggest you to use action filters. In that case, you can define the order of action filter. For Interceptors, It doesn't seems to be possible.

[2021-12-07 05:44] ismcagdas commented on #6312
@egrassinode I will test this but it might take some time.

[2021-12-07 05:45] Rorschach331 commented on #6318
thaks,i will have a  try.

[2021-12-07 05:45] #6318 closed

[2021-12-07 10:42] behiunforgiven commented on #6324
There is no warning but this is the related log:

`
info: Microsoft.AspNetCore.Authorization.DefaultAuthorizationService[2]
      Authorization failed. These requirements were not met:
      DenyAnonymousAuthorizationRequirement: Requires an authenticated user.
info: Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler[12]
      AuthenticationScheme: oidc was challenged.
info: Mi

[2021-12-07 11:33] behiunforgiven commented on #6324
I also test with a new brand project and it's the same.
Is there any special setting for OpenId connect in AspnetBoilerplate?

[2021-12-08 01:10] AmamiyaYuko07 commented on #6304
.net 6 plz   thinkyou

[2021-12-08 01:11] AmamiyaYuko07 commented on #6304
.NET 6 PLZ!  thank you~~~

[2021-12-08 03:23] joelmdev commented on #6327
I will try that. Is there a another way to accomplish this in general compared to the example code that I posted? I want events to be picked up automatically by way of IGeneratesDomainEvents but I also want them to be processed in the background. I'm by no means married to the implementation I posted- if there's a better way I'm certainly open to it.

[2021-12-08 05:32] ismcagdas commented on #6327
At the moment, framework doesn't provide a way out of the box. I think your approach is fine.

For cyclic reference handing, you can check https://stackoverflow.com/a/18223985.

[2021-12-08 05:55] ismcagdas commented on #6324
@behiunforgiven when the OpenID provider returns to your app, how do you handle the signIn process ? Normally, you should handle it similar to code below;

[code]

[2021-12-08 07:46] behiunforgiven commented on #6324
Thank you, it seems a step forward 😊
I set my redirect uri to `https://localhost:5001/Account/ExternalLoginCallback`, but `var externalLoginInfo = await _signInManager.GetExternalLoginInfoAsync();` is null

[2021-12-08 10:38] ismcagdas commented on #6324
Could you check if you have a different log this time in the log file ?

[2021-12-08 14:38] rgiosa commented on #421
When you create a role manually it is necessary to call `role.SetNormalizedName()`, otherwise any GUID will be saved in the database and the permissions will not work.

[2021-12-08 14:43] ahmedtolba1984 commented on #6279
@ismcagdas  Any Updates?
We faced the same issue for shadow properties or any workaround
![image](https://user-images.githubusercontent.com/6592222/145227912-0afe8962-de47-4b06-b9f3-c05ea15d31ac.png)

[2021-12-08 15:05] joelmdev commented on #6327
I'm familiar with that particular issue in JSON serialization as I've run into it in the past, I just didn't expect to run into it when dealing with background events. Is there a specific way to disable cycles when working with BackgroundManager?

[2021-12-09 00:11] ahmedtolba1984 opened #6328 "Integration Tests got broken after upgrade from v5.5 to v7.0"
Dears,
All of my integration tests got broken after upgrade from version 5.5.0 to latest version 7.0.0
After debugging my tests, I can see the root cause of the issue is this line:-
    `protected virtual void SetCreationAuditProperties(object entityAsObj, long? userId) => EntityAuditingHelper.SetCreationAuditProperties(this.MultiTenancyConfig, entityAsObj, this.AbpSession.TenantId, userId, this.C

[2021-12-09 04:29] worthy7 commented on #6178
im gonna bump this 😁

[2021-12-09 09:03] ahmedtolba1984 commented on #6328
@ismcagdas Any Updates?

[2021-12-09 12:39] ahmedtolba1984 commented on #6328
Dears,
We got stuck

[2021-12-09 14:14] princefishthrower commented on #3757
Super old issue - the `[UnitOfWork]` operator should ensure atomicity of the batch job, correct?

[2021-12-09 19:19] #6326 closed

[2021-12-10 04:43] ismcagdas commented on #3757
@princefishthrower yes, correct.

[2021-12-10 04:49] ismcagdas commented on #6328
@ahmedtolba1984 could you share a sample project which we can reproduce this problem ?

[2021-12-10 10:33] yopichy opened #6329 "Breaking changes after upgrade from v6.3.1 to v7.0.0"
an error like this appears after the upgrade, like it's not registered

![image](https://user-images.githubusercontent.com/2038089/145559599-d43c9215-9227-4e1c-b5c7-6b3011d04e5e.png)

_tenantRepository UoW manager is null

![image](https://user-images.githubusercontent.com/2038089/145560778-9e229dad-0f3b-409c-9633-608f85691b97.png)

code changes in core

![image](https://user-images.githubusercont

[2021-12-10 11:41] pixelapocalypseuk commented on #6300
Hey im also having this issue, i got past the error in js by cleaning the solution and then using the bundle and minify extension to update the bundles and now my js controls work but none of the datatables work throwing the error in the screenshot below :-
![image](https://user-images.githubusercontent.com/39482282/145568753-f407c8b6-596b-417c-8a4a-92ed4879251c.png)
I published it to my local IIS

[2021-12-11 08:12] ismcagdas commented on #6300
@pixelapocalypseuk could you try this fix in your project https://github.com/aspnetboilerplate/module-zero-core-template/pull/624/files ?

[2021-12-11 08:13] ismcagdas commented on #6329
@yopichy you can add [UnitOfWork] attribute to your DoWork method or manually start a unit of work by using `IUnitOfWorkManager`

[2021-12-11 08:21] ismcagdas commented on #6300
v3.0.0 is released https://marketplace.visualstudio.com/items?itemName=Volosoft.AspNetZeroPowerTools with VS 2022 support

[2021-12-11 12:49] yopichy commented on #6329
Do i have to add all the methods? Or is it just a background worker?
If I may know, what causes the current version to add attributes? in version 6.3 there is no problem. thanks again for your hard work! @ismcagdas

[2021-12-11 23:49] pixelapocalypseuk commented on #6300
@ismcagdas seems to be working with that change after deleting bin/obj folders, bundle update and rebuild client side libs

[2021-12-12 14:10] ahmedtolba1984 commented on #6328
@ismcagdas
https://github.com/ahmedtolba1984/AbpAutomationTestsIssue

[2021-12-12 14:10] ahmedtolba1984 commented on #6328
@ismcagdas
The sample contains the issue we already faced

[2021-12-12 14:11] ahmedtolba1984 commented on #6328
@ismcagdas
Just run CustomersTests --> Customer_Should_Be_Created_Successfully

[2021-12-12 22:35] pixelapocalypseuk commented on #6300
@ismcagdas can i ask, those power tools, they cant be used with aspnetboilerplate i assume?

[2021-12-13 05:55] ismcagdas commented on #6300
@pixelapocalypseuk sorry I wrote this to the wrong issue :). It can't be used with free templates.

[2021-12-13 06:32] ismcagdas commented on #6329
We removed conventional interception by default. You can still use it by setting false here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/AbpServiceCollectionExtensions.cs#L44. If you don't set it, you only need to use UnitOfWork attribute for classes rather than Controllers and AppServices.

[2021-12-13 06:40] yopichy commented on #6329
@ismcagdas thanks for your explaination
so if i don't set to false, i just need to use UoW attribute for classes except Controller and AppService, right?

[2021-12-13 06:41] ismcagdas commented on #6329
Yes, that's right. I suggest you to go with this approach because it has performance improvements.

[2021-12-13 06:44] yopichy commented on #6329
ok noted, thanks @ismcagdas
i'll close this issue.
thanks again :)

[2021-12-13 06:44] #6329 closed

[2021-12-14 03:57] roblatprogen commented on #229
Pass `abpHandleError: false` to ajax params is a way to do that.

[2021-12-14 08:20] rqx110 opened #6330 "update template hosting model to latest"
since we have upgraded to .net6, but we still use the old `WebHost` to create application in template(module-zero-core-template) project, any plan to upgrade to the `Generic host` or the .net6 new hosting model?

relate: https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5331 https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5367

[2021-12-14 08:34] rqx110 opened #6331 "failed create project from web site"
while creating project from web site, it is failed:
Target Version: v7.x
Target Framework: .NET 6
![image](https://user-images.githubusercontent.com/1829209/145961611-7828357c-be32-4fed-8361-eae4b47c50d7.png)

[2021-12-14 11:52] ismcagdas opened #6332 "PreRequestRedisCache type conversion error"
Here is the error message:

ERROR 2021-12-14 12:38:02,440 [28   ] Mvc.ExceptionHandling.AbpExceptionFilter - Unable to cast object of type 'Abp.Authorization.Users.UserPermissionCacheItem' to type 'Abp.Authorization.Roles.RolePermissionCacheItem'. System.InvalidCastException: Unable to cast object of type 'Abp.Authorization.Users.UserPermissionCacheItem' to type 'Abp.Authorization.Roles.RolePermis

[2021-12-14 11:53] ismcagdas opened #6333 "PreRequestRedisCache type conversion error"
Here is the error message:

ERROR 2021-12-14 12:38:02,440 [28 ] Mvc.ExceptionHandling.AbpExceptionFilter - Unable to cast object of type 'Abp.Authorization.Users.UserPermissionCacheItem' to type 'Abp.Authorization.Roles.RolePermissionCacheItem'. System.InvalidCastException: Unable to cast object of type 'Abp.Authorization.Users.UserPermissionCacheItem' to type 'Abp.Authorization.Roles.RolePermissi

[2021-12-14 12:41] ahmedtolba1984 commented on #6328
@ismcagdas
Any Response ?

[2021-12-14 13:12] ismcagdas commented on #6332
Closed via https://github.com/aspnetboilerplate/aspnetboilerplate/commit/0e4cb815a529abd4560a0125b8cc2c3ab314e89d

[2021-12-14 13:12] #6332 closed

[2021-12-14 13:13] #6333 closed

[2021-12-15 03:08] Poepon commented on #6331
This is because the website has added twitter code. In China, twitter resources cannot be accessed, resulting in failure.

[2021-12-15 05:25] rqx110 commented on #6331
if you select v5.x, it will work

[2021-12-15 05:56] ismcagdas commented on #6331
This problem is fixed now, can you try to download again ?

[2021-12-15 05:57] #6331 closed

[2021-12-15 08:19] ismcagdas commented on #6328
@ahmedtolba1984 could you override SetCreationAuditProperties in your DbContext as shown below until we release 7.0.1 ?

protected override void SetCreationAuditProperties(object entityAsObj, long? userId)
        {
            EntityAuditingHelper.SetCreationAuditProperties(
                MultiTenancyConfig,
                entityAsObj,
                AbpSession.TenantId,
                userI

[2021-12-15 08:42] #6328 closed

[2021-12-15 11:11] DamienLaw commented on #6222
The async `AbpUserStore.GetAuthenticatorKeyAsync()` is now virtual. However, its synchronous counterpart `AbpUserStore.GetAuthenticatorKey()` still isn't virtual.

[2021-12-15 12:11] ismcagdas commented on #6304
Templates are released with .NET 6 support.

[2021-12-15 12:11] #6304 closed

[2021-12-16 00:42] joelmdev commented on #6327
I wanted to follow up on this. Is the BackgroundJobManager simply incompatible with event sources that have bidirectional navigation properties?

[2021-12-16 04:48] ismcagdas commented on #6327
Sorry, I forgot to reply to your message. BackgroundJob arguments are serialized to json string so that they can be stored in database, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/BackgroundJobs/BackgroundJobManager.cs#L65. Because of that, the arguments you provided must be convertible to json using Newtonsoft.Json.

[2021-12-16 05:36] ismcagdas commented on #6222
@DamienLaw thank, it seems like this one is missed, I have changed it https://github.com/aspnetboilerplate/aspnetboilerplate/commit/fd2de3f4222b816e8580e36feb4d1c3f5a903cda

[2021-12-16 05:44] ismcagdas commented on #6178
@worthy7 thanks but probably we will not be able to work on this for a while. At least this year 🙂

[2021-12-16 05:48] ismcagdas commented on #6279
@ahmedtolba1984 we will test this again.

[2021-12-16 05:49] ismcagdas commented on #6307
@lineralpha did you fix this problem ?

[2021-12-16 09:03] Omital opened #6337 "Problem when set app.CreatePerOwinContext and CookieAuthenticationProvider.validateInterval in Startup"
I want to application check user SecurityStamp every 10 second so config Startup like this:

            app.UseAbp();
            app.UseOAuthBearerAuthentication(AccountController.OAuthBearerOptions);

            app.CreatePerOwinContext(IocManager.Instance.Resolve<Authorization.Users.UserManager>);

            app.UseCookieAuthentication(new CookieAuthenticationOptions
            {

[2021-12-16 18:41] acjh commented on #6294
I could not reproduce this. Perhaps `Millisecond` is different?

[2021-12-17 05:42] #6279 closed

[2021-12-17 06:09] ismcagdas commented on #6337
Hi @Omital

I think tenantId is removed somehow. Your problem might be similar to https://stackoverflow.com/questions/39897172/custom-claims-lost-on-identity-re-validation. Could you try using `regenerateIdentityCallback` ?

[2021-12-17 10:55] s4lvo opened #6341 "Unable to generate v5.x template"
Hi,
I'm trying to create a new template in v5.x starting from https://aspnetboilerplate.com/Templates but even if I choose the v5.x the page generates alway the v7.x in net.6.
Is there a way to generate the template in net core 5 ?

thanks

[2021-12-17 21:35] ahmedtolba1984 commented on #6328
@ismcagdas
Thanks :)

[2021-12-18 05:35] Omital commented on #6337
hi @ismcagdas
I change startup configuration like this:
`

            app.UseAbp();
            app.UseOAuthBearerAuthentication(AccountController.OAuthBearerOptions);
            app.CreatePerOwinContext(IocManager.Instance.Resolve<UserManager>);

            app.UseCookieAuthentication(new CookieAuthenticationOptions
            {
                Provider = new CookieAuthenticationProvider

[2021-12-18 06:48] behiunforgiven commented on #6324
Sorry for my late response, no there isn't any useful information in the log file. and still `externalLoginInfo ` is null

[2021-12-19 05:55] Omital commented on #6337
and this repository create for test this unknown behavior
[https://github.com/Omital/TAuth02.git](url)

[2021-12-19 10:34] ismcagdas commented on #6324
If you can provide a sample project to reproduce this error, I can try to take a look.

[2021-12-19 13:57] behiunforgiven commented on #6324
Here you are, I push my sample project here:
[https://github.com/behiunforgiven/Hatch](https://github.com/behiunforgiven/Hatch)

[2021-12-20 05:48] ismcagdas commented on #6337
@Omital thanks, I will check it.

[2021-12-20 05:51] ismcagdas commented on #6341
@s4lvo thanks, I will fix this problem in a short time.

[2021-12-20 06:05] #6341 closed

[2021-12-20 08:04] MohammadMobasher opened #6342 "custome parameter like Abp.TenantId"
I have am idea in my mind, but i don't know is it possible or not. I want to create a parameter like Abp.TenantId and use it like tenantId on my database tables. my scenario is reading my param (FilterParameters) from header in each request (on whole framwork) and set it in but the problem here is, how and where i have to write the code for reading this prop from header and set it on CurrentUnitOf

[2021-12-20 08:07] saeidi-dev commented on #6342
I have the same problem, please help.

[2021-12-20 11:38] smhnlxndr opened #6343 "Override AbpZero Localization doesn`t work"
I read [issue #1498](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1498). But It doesn`t help me.

I have LocalizationConfigurer which creates localization for my project in core module.

![image](https://user-images.githubusercontent.com/48657143/146761729-dbdc641a-1e6d-423e-8763-5ddabd82ec81.png)

Also I created  override for AbpZero localization source.

![image](https://user-im

[2021-12-20 15:46] yopichy opened #6344 "How to integrate using masstransit or rebus (RabbitMq/AzureBus)?"
does anyone ever integrate or examples for integration with rebus or masstransit?

[2021-12-21 06:54] MohammadMobasher commented on #6342
i wrote an middleware and use IUnitOfWorkManager on it for setting filterParameter. but there is a little problem.
``` this._unitOfWorkManager.Current ``` is null so i couldn't set any value for filterParameter.
i you have any idea, please let me know

[2021-12-21 07:49] ismcagdas commented on #6342
I think this article might help you https://aspnetboilerplate.com/Pages/Documents/Articles%5CHow-To%5Cadd-custom-data-filter-ef-core

[2021-12-21 08:03] MohammadMobasher commented on #6342
hi and thanks for you're responding.
but i don't have any problem in how to use the filter (ShouldFilterEntity and CreateFilterExpression) on db context. my problem is in this line

`            this._unitOfWorkManager.Current.SetFilterParameter(BaseWHC.AbpDataFilters.Period, BaseWHC.AbpDataFilters.Parameters.PeriodId, 111);
`
i wrote a middleware and and used code above for setting value in "Whc.

[2021-12-21 08:13] ismcagdas commented on #6344
@yopichy I haven't tried rebus or masstransit but I will at least add this issue to backlog so we may create a tutorial for integration. If anyone else has such an experience, they can share it here as well.

[2021-12-21 11:53] sajasbana opened #6345 "Is there example of syncfusion jquery grid with abp?"
Dears,
Is there example/sample of syncfusion jquery grid with abp?
I found sample for kendu grid

Thanks

[2021-12-21 13:13] ismcagdas commented on #6345
There is no official one. I haven't seen an unofficial as well :). If you have a specific problem, we can try to help.

[2021-12-23 01:38] Korris opened #6347 "How to prevent tenant access API ?"
Hi
Im working a system using multi tenant , and i want to set Tenant InActive in my management system
but how i can disable/prevent the user from that tenant call my API

[2021-12-23 04:54] ZahraBayatgh commented on #4586
Hi,
I had the same problem. My tests took a long time.
My tests were xunit and I changed them to Nunit.
I solved this problem with Nunit.
Now my tests run very fast.

[2021-12-23 05:35] ismcagdas commented on #4586
@ZahraBayatgh thank you for your feedback, I will check this problem again but probably we will not use NUnit because XUnit is its successor.

[2021-12-23 06:57] ismcagdas commented on #6347
Tenant entity is soft delete by default, so, you can update IsDeleted field to true when you want to disable tenant's access to your APIs and website.

[2021-12-23 07:02] Korris commented on #6347
i have try soft delete the tenant but when i call Api it still work
That api not require user logged In , i just add abp.tenantId to Header quen submit request

[2021-12-23 07:02] Korris commented on #6347
i have try soft delete the tenant but when i call Api it still work
That api not require user logged In , i just add abp.tenantId to Header quen submit request

[2021-12-23 07:04] ismcagdas commented on #6347
If the API doesn't require authorization, you can write an action filter and get TenantId from AbpSession and check it in your action filter.

[2021-12-23 07:13] Korris commented on #6347
oh so i have to write a logic to check the Tenant in every function right ?

[2021-12-23 07:16] ismcagdas commented on #6347
If you write an [action filter](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-6.0) (or a [middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-6.0)), it will be executed for every request.

[2021-12-23 08:02] Korris commented on #6347
im trying use action filter
` public class AccessFilter : IActionFilter
    {
        private readonly IAbpSession abpSession;
        protected readonly IDbContextProvider<YDbContext> DbContextProvider;

        public AccessFilter(IAbpSession abpSession)
        {
            this.DbContextProvider = IocManager.Instance.Resolve<IDbContextProvider<YDbContext>>(DependencyLifeStyle.Singleton);

[2021-12-23 08:03] ismcagdas commented on #6347
If you want to access the DbContext, just create a unitOfWork manually using IUnitOfWorkManager, see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work

[2021-12-23 08:17] Korris commented on #6347
it work , thanks you so much
the problem is solved

[2021-12-23 10:41] #6347 closed

[2021-12-24 06:14] waleed-naveed-tkxel commented on #5959
@tanghaojie I am facing the same issue that i am always getting the default value. Can you please share how you resolved it.