[2022-09-26 22:49] mannok opened #6550 "Interceptor for conventional registered components does not work at all"
* Your Abp package version: 7.3.0
* Your base framework: .Net Framework or .Net Core: .NET 6
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

Steps are demostrated in [https://github.com/mannok/InterceptorReproduction.git](https://github.com/mannok/InterceptorReproduction.git). In short, just a copy of [https://aspnetboilerplate.com/Pages/Documents/Articl

[2022-09-27 04:56] ismcagdas commented on #6550
Could you pass false to second parameter of services.AddAbp in your Startup.cs ? Interceptors are disabled by default.

[2022-09-27 05:07] ismcagdas commented on #6549
It is not the same but maybe you can use https://aspnetboilerplate.com/Pages/Documents/Entities#iextendableobject-interface

[2022-09-27 06:33] mannok commented on #6550
@ismcagdas Thanks so much...   Seems OK now. May I know is that documented anywhere?

[2022-09-27 07:07] netty2019 commented on #6549
[Dynamic Parameter System](https://aspnetboilerplate.com/Pages/Documents/Dynamic-Parameter-System)  is implementation based on [iextendableobject-interface](https://aspnetboilerplate.com/Pages/Documents/Entities#iextendableobject-interface) ？

[2022-09-27 13:05] mannok commented on #6550
@ismcagdas UPDATE: Seems still not work. I have updated from the above repository. Any advice for me? Thanks

[2022-09-28 04:56] ismcagdas commented on #6549
No, it has a different architecture. It stores additional fields of the entity in a separate table. You can also use it.

[2022-09-28 05:01] ismcagdas commented on #6550
Could you mark related methods as virtual and try again ?

[2022-09-28 08:42] mannok commented on #6550
@ismcagdas Works now. But I feel it a bit weird. From my understanding, As long as I implemented it from an interface, Dynamic Proxy will help to intercept the method calling no matter it is virtual or not. Quite confusing...

[2022-09-28 12:11] ExCx opened #6553 "PostgreSQL integration for EF6 MVC project"
I'm trying to migrate my ABP/MSSQL based project to PostgreSQL. It seems like there's a document for EF Core type of projects. But I couldn't find one for EF6 MVC. Is it possible to do so? (I guess I'll be using EntityFramework6.Npgsql library btw)

If it isn't possible can anyone show me some other alternative to MSSQL without the 10GB limit and which I can migrate my huge db and ABP project easi

[2022-09-29 06:27] ismcagdas commented on #6553
You are right, we only have a document for EF Core. Maybe you can follow https://aspnetboilerplate.com/Pages/Documents/EF-MySql-Integration and make similar changes for PostgreSQL by looking at https://www.npgsql.org/ef6/.

[2022-09-29 06:50] xuejmnet commented on #694
try this lib: https://github.com/dotnetcore/sharding-core

demo: https://github.com/xuejmnet/ShardingWithFramework/tree/main/abp/toapp

[2022-09-29 08:41] ExCx commented on #6553
Hmm ok I'll try. Thank you.

[2022-09-29 15:58] thibnes opened #6554 "Castle.Core.Pair TypeLoadException"
Hello!
I'm facing an issue and seeking some help.

Basically, after upgrading to ABP 7.3.0 I'm getting the following exception:
`System.TypeLoadException: 'Could not load type 'Castle.Core.Pair``2' from assembly 'Castle.Core, Version=5.0.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc'.'`

The issue has also been reported here [here](https://support.aspnetzero.com/QA/Questions/11223/Castle-c

[2022-09-29 21:01] jacobmhulse opened #6555 "SignalR Implementation"
* Your Abp package version: 7.1
* Your base framework: .Net Framework or .Net Core.: .Net Core
* Exception message and stack trace if available: See below.
* Steps needed to reproduce the problem.
New project with documented SignalR Implementation

When attempting to register to the SignalR hub, abp.signalr-client.js calls `connection.invoke('register')` at line 74.  This appears to trigger the fo

[2022-09-30 01:51] MayGodBlessYouAMen opened #6556 "Can TenantId use long type?"
I use snowflake id to assign primary key in my program, but the TenantId is of int type, and the length is not enough to use the snowflake id.
What should I do?

[2022-09-30 04:43] mannok opened #6557 "No Validation Message while Applying DataAnnotation attribute to DTO?"
* Your Abp package version. - 7.3.0
* Your base framework: .Net Framework or .Net Core. - .Net Core
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

Please write in English.

### Stack Overflow

According to aspnetboilerplate document [https://aspnetboilerplate.com/Pages/Documents/Validating-Data-Transfer-Objects](https://aspnetboilerplate.com/Pages/Docum

[2022-09-30 06:50] ismcagdas commented on #6556
You can try adding a new field like below to your multi tenant entities. I haven't tried this but it might work.

`public new long TenantId { get; set; }`

[2022-09-30 06:52] ismcagdas commented on #6557
@m-aliozkaya could you check this when you have time ?

[2022-09-30 07:39] ismcagdas commented on #6554
@thibnes the link I shared belongs to a private repository but here is the content;

Probably a package you are using depends on Castle.Core 5.0.0.

[2022-09-30 12:42] #6550 closed

[2022-09-30 12:42] thibnes commented on #6554
Thank you @ismcagdas you were right :) One of the packages that I had upgraded was indeed depending on Castle.Core 5.0.0.
Thanks again for your quick reply.

Closing this.

[2022-09-30 12:42] #6554 closed

[2022-09-30 12:55] mannok opened #6558 "Related EntityDto in an EntityDto"
* Your Abp package version. - 7.3.0
* Your base framework: .Net Framework or .Net Core. - .Net Core
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

According to aspboilerplate document, we can use `AutoMapFrom` with `EntityDto` to make a client side object shape. By using `AsyncCrudAppService`, `EntityDto` properties will be filled up by efcore. However,

[2022-09-30 14:42] ismcagdas commented on #6554
Great :), we will upgrade to Castle.Core 5.0 as well, probably with ABP 7.4.

[2022-10-01 11:28] #6481 closed

[2022-10-01 11:28] #6483 closed

[2022-10-01 11:29] #6490 closed

[2022-10-03 07:10] ismcagdas commented on #6558
@mannok this should work at first look. The two BasketDto classes you share are different. One contains IList<OrderDto> and the other oen contains IList<Order>. Could you share a sample project which reproduces this problem ?

[2022-10-03 08:04] onurcanyilmaz commented on #6518
Hello @ismcagdas,

Thank you for feedback.

As you show, when I've defined in PostInitialize method, there was no exception however when I've triggered the publisher, there is no action in the consumer method.

By the way, we've changed masstransit packages to only RabbitMQ.Client nuget package.
Nothing was happened.
We've tought that exception could be cause by RabbitMQ.Client

Could you give us

[2022-10-04 15:44] #6558 closed

[2022-10-09 08:57] MayGodBlessYouAMen commented on #6556
I'll try, thanks.

[2022-10-09 08:57] #6556 closed

[2022-10-10 10:54] gentledepp opened #6560 "EFRepositoryBase - Unnecessary call to `Update` or `UpdateAsync` causes whole entity to be marked `dirty`"
When using Entity Framework (6 or Core), one of the most widely-spread misconseptions is the use of `Update`.

Developers
- load entities into the DbContext,
- change some property
- and then call `Update` assuming this is necessary, so EF is aware of the changes.

However, `Update` should only be called, if an entity was detached and should now be updated using a new DbContext.
E.g.
- an entity w

[2022-10-10 14:26] demirmusa commented on #6433
Hi @nikschuiling

1. SettingInfo is where settings are stored. When you change setting it will be stored here and an event will be published. See [SettingManager](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/SettingManager.cs) [ISettingStore](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/ISettingStore.cs). I does hand

[2022-10-10 15:17] bxjg1987 opened #6562 "[Question] globale db filter Support entity inheritance?"
abp7.3

in AbpDbContext.cs I find this:
[code]

**if (entityType.BaseType == null**
Does it mean that inherited entities cannot apply global data filters? Is soft deletion and multi tenancy still effective?

Can inherited entities not be used in user-defined global data filters?

[2022-10-11 05:09] ismcagdas commented on #6562
@bxjg1987 the default template already contains a User entity which is also inherited from AbpUser and it can be filtered. Could you provide a sample which we can reproduce this problem ?

[2022-10-12 05:44] ismcagdas commented on #6518
@onurcanyilmaz sorry for my late reply. At the moment, I couldn't suggest a solution but I will try to check hte problem again. Just note that it might take some time for me to take a look at this problem.

[2022-10-12 05:47] ismcagdas commented on #6547
@ruohki sorry for my late reply, did you find a solution to your problem ?

[2022-10-12 05:51] ismcagdas commented on #6526
@bigshika thank you for sharing the details. When you create a new project on https://aspnetboilerplate.com/ or https://aspnetzero.com/, the SecurityKey is randomly generated. I will check it again just to confirm but that's what I remember for now.

[2022-10-12 06:32] bxjg1987 commented on #6562
OK, I will test again. If the problem still exists, I will prepare a demo

[2022-10-12 20:00] kevgeni commented on #4877
I had this issue today and it was quite hard to debug.
The stack trace was not very helpful as it was inside of the AuditingHelper and would not very show what it was trying to serialize nor where it was trying to serialize it.

Disabling audit logging would temporarely fix the issue (https://aspnetboilerplate.com/Pages/Documents/Audit-Logging)

I implemented a custom abp IAuditSerializer and repl

[2022-10-13 00:58] maliming commented on #4877
hi @kevgeni

You can try to add the parameter type to `Configuration.Auditing.IgnoredTypes`

[2022-10-13 12:58] thibnes opened #6564 "Sharing Authentication Cookies between ASP.NET 4.8 (ABP 4.19) and .NET 6 (ABP 7.3)"
Hello everyone, I came here to seek some help.

# Context

We have two Web applications, let's call them Project A and B.

Both run on .NET Framework 4.8 with ABP 4.19.

They are sharing the authentication cookie enabling a kind of SSO and this works pretty well.

Now we are migrating Project B to .NET 6 with ABP 7.3 and we are not able to share the authentication cookie anymore.

# What we did

W

[2022-10-13 13:43] ismcagdas commented on #6443
Because of https://docs.automapper.org/en/latest/11.0-Upgrade-Guide.html#automapper-now-targets-net-standard-2-1-and-doesn-t-work-on-net-framework we need to drop .NET Framework support for some packages as well. So, we will handle this with .NET 7 upgrade

[2022-10-13 13:44] ismcagdas opened #6565 "Upgrade to .NET 7"
Handle https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6443 in this issue as well because of https://github.com/dotnet/runtime/issues/69119

[2022-10-13 15:04] bxjg1987 commented on #6562
The user in the template project can work normally, probably because its entity inherits User rather than AbbUser<User>(it is an abstract class). I guess it is OK if the parent class is an abstract class, otherwise the global data filter cannot be applied.

Thank you. I will close this issue.

[2022-10-14 05:33] ismcagdas commented on #6562
@bxjg1987 thanks for the update, I think it is because https://learn.microsoft.com/en-us/ef/core/querying/filters#limitations

[2022-10-14 05:37] ismcagdas commented on #6564
@thibnes Do you have any error logs on the Project A ? I couldn't think of an exact problem but maybe this can be related to encryption changes between different versions.

[2022-10-14 07:17] thibnes commented on #6564
Hi @ismcagdas,
unfortunately, I have no error in the logs, I'm blind...

I'm trying to understand when and how the AbpSession.UserId is set to see why it is not set in my case.

Also, note that I logged in using the `DefaultAuthenticationTypes.ApplicationCookie` `AuthenticationType/AuthenticationScheme` and got a valid cookie then I stopped the application and changed `AuthenticationType/Authentic

[2022-10-14 07:38] #6486 closed

[2022-10-14 07:42] ismcagdas commented on #6361
I think this issue is fixed via https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6503

[2022-10-14 07:42] #6361 closed

[2022-10-14 07:45] ismcagdas commented on #6515
I tested this as well and It seems like it is related to HttpContext being null in the problematic class. Couldn't figure out a solution yet.

[2022-10-14 07:46] ismcagdas commented on #6555
Hi @jacobmhulse is it possible to provide a reproduction project ?

[2022-10-14 07:47] ismcagdas opened #6566 "Upgrade NuGet packages"

[2022-10-14 11:58] #6566 closed

[2022-10-14 15:21] leaortiz commented on #2327
I know this is old, but I came here before finding a solution

Add this header to your API requests "X-Requested-With: XMLHttpRequest"  if you want to get a 401 and not a redirect.

[2022-10-16 10:43] ismcagdas commented on #6564
Is it possible to provide a minimal reproduction project ? Checking the source code might help us to understand the problem.

[2022-10-17 09:06] thibnes commented on #6564
Hi @ismcagdas here is the reproduction project https://github.com/thibnes/ReproAbpLoginIssue.

I've just downloaded the template from https://github.com/aspnetboilerplate/module-zero-template/tree/v4.7.0/src and replaced the `DefaultAuthenticationTypes.ApplicationCookie` `AuthenticationType/AuthenticationScheme` by `"Identity.Application"`.

Hopes that will help.

[2022-10-18 19:33] basilfx commented on #5746
I ran into this issue as well. Can reproduce the issue with the sample of @ty793941 (https://github.com/ty793941/ABPHttpClientTest.git). Updating to the fix suggested in https://github.com/volosoft/castle-windsor-ms-adapter/pull/38 does not work. Updating the sample to 5.14 doesn't fix it either.

Something else I should change, @maliming? I'm not able to update my own ABP project to something new

[2022-10-19 02:06] jacobmhulse commented on #6555
I downloaded a template and tried following your documentation here https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration but I'm still having issues.  I think I got it close, but `sendMessage` is not defined.

`$\AngularTest.Web.Host\Startup\Startup.cs` was updated to add `endpoints.MapHub<AbpCommonHub>("/signalr-myChatHub");` on line 113
`$\AngularTest.Web.Host\src\app\app

[2022-10-19 06:05] basilfx commented on #5746
That is not the right solution, because the HttpClientFactory expects them to be [transient](https://stackoverflow.com/a/68867517): it construct its own scope. Also see [this](https://andrewlock.net/understanding-scopes-with-ihttpclientfactory-message-handlers/) article,

The problem is that the HttpClient creates it own scope (see articles) using an [IScopeProviderFactory](https://github.com/dotn

[2022-10-19 07:28] #6553 closed

[2022-10-19 07:30] #6549 closed

[2022-10-19 07:39] ismcagdas commented on #6547
Since you are hosting both apps under the same domain, you need to configure your ASP.NET Core app to handle requests for SPA as well. You can check https://weblog.west-wind.com/posts/2020/Jul/12/Handling-SPA-Fallback-Paths-in-a-Generic-ASPNET-Core-Server#server-side-navigation-of-client-side-routes or similar documents on the web.

[2022-10-19 07:39] #6547 closed

[2022-10-19 07:39] #6540 closed

[2022-10-19 07:47] ismcagdas commented on #6539
Closing since there is a workaround.

[2022-10-19 07:47] #6539 closed

[2022-10-19 07:48] #6536 closed

[2022-10-19 07:48] #6534 closed

[2022-10-19 07:48] #6533 closed

[2022-10-19 07:49] ismcagdas commented on #6529
This seems like an environment related problem. I assume we can't make any change on the framework related to this.

[2022-10-19 07:49] #6529 closed

[2022-10-19 07:50] ismcagdas commented on #6524
Closing as there is nothing to do on the framework side.

[2022-10-19 07:50] #6524 closed

[2022-10-19 07:51] ismcagdas commented on #6522
We will create a blog post about this, so closing this issue for now.

[2022-10-19 07:51] #6522 closed

[2022-10-19 08:23] #6520 closed

[2022-10-19 08:56] ismcagdas commented on #6506
@amendez1000 I'm closing the issue. If you are still having this issue, please reopen and provide a minimal reproduction project.

[2022-10-19 08:56] #6506 closed

[2022-10-19 08:56] ismcagdas commented on #6504
@karen-hikesupport we couldn't reproduce this on AspNet Zero project. If you are having this issue, please reopen and provide a reproduction project via email.

[2022-10-19 08:56] #6504 closed

[2022-10-19 08:59] ismcagdas commented on #6489
We couldn't reproduce this on a not modified template, so closing for that reason.

[2022-10-19 08:59] #6489 closed

[2022-10-19 09:23] ismcagdas commented on #5189
This is implemented https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.RedisCache/Runtime/Caching/Redis/RealTime/RedisOnlineClientStore.cs

[2022-10-19 09:23] #5189 closed

[2022-10-19 11:46] m-aliozkaya opened #6569 "Use Entity Framework Core Async Methods"
![unknown](https://user-images.githubusercontent.com/56235083/196681623-92f0cb92-2d9e-4665-a9fb-33dd72c9a982.png)

Example;

Use `AddAsync(entity)` instead of `Task.FromResult(Insert(entity))`

[2022-10-19 13:47] thibnes commented on #6564
Hello, I've just found the root cause.
It comes from the `AbpLoginManager.CreateLoginResultAsync` method that set the AuthenticationType to `DefaultAuthenticationTypes.ApplicationCookie`

![image](https://user-images.githubusercontent.com/11884292/196709370-4da2393a-6cd2-48c2-95e2-d5d011cb8efa.png)

[2022-10-19 14:57] thibnes commented on #6564
Now the issue I'm hitting is that the XSRF token cannot be decrypted by Project B :-/

[code]

[2022-10-20 06:14] ismcagdas commented on #6564
@thibnes it is good to hear you have solved the first problem. For the XSRF token, I assume two apps are hosted separately, right ?

[2022-10-20 06:56] thibnes commented on #6564
For the moment the 2 apps run locally on my dev machine sharing the same key ring folder. Then they would be deployed on the same IIS server.

[2022-10-20 07:13] thibnes commented on #6564
One more note: when I log in to project A and then open project B I got logged out from Project A with the same type of error:
`AntiForgery.AbpMvcAntiForgeryManager - The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies expli

[2022-10-20 08:38] sajasbana opened #6572 "Bulk async Update and Delete in EF Core 7"
Dears,

please can you consider new EF Core 7 features, like Bulk async Update and Delete? when update to .net 7

Thanks

[2022-10-20 12:07] ismcagdas commented on #6564
This is generated by ASP.NET Core, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Security/AntiForgery/AbpAspNetCoreAntiForgeryManager.cs#L26. So, I assume this is not related to AspNet Boilerplate. I'm not sure but maybe you will not face this problem on production if those two apps are going to use different URLs in production.

[2022-10-20 15:19] thibnes commented on #6564
OK, so as a temporary workaround (until we migrate project B to AspNet Core) I renamed the anti-forgery cookie and unregistered the AbpAutoValidateAntiforgeryTokenAttribute.

Thank you for your time @ismcagdas

[2022-10-21 06:25] maliming commented on #5746
ok, I will check this on weekend.

[2022-10-22 03:41] DamienLaw opened #6574 "Property (of collection data type) of dependency injected components is empty despite being populated in constructor"
Abp package version: 7.3
Base framework: .Net Core

Steps to reproduce:

[code]

Expected result:
`_customService.NameList` should contain a string with value "Testing 123" instead of an empty collection.

[2022-10-23 11:41] ismcagdas commented on #6574
@DamienLaw does that work in a non-abp based project ? I'm not totally sure but this might be related to castle windsor.

[2022-10-24 01:13] anandjaisy commented on #5522
@ismcagdas  I am facing the same issue

[code]

Try to register as below

IocManager.IocContainer.Register(Component.For<IWebHostEnvironment>().Instance(new HostingEnvironment()));

However, not able to do that as well

`Argument type 'Microsoft.Extensions.Hosting.Internal.HostingEnvironment' is not assignable to parameter type 'Microsoft.AspNetCore.Hosting.IWebHostEnvironment'`

[2022-10-24 06:04] ismcagdas commented on #5522
@anandjaisy could you create a new issue and provide a sample project which reproduces this problem ?

[2022-10-24 07:46] RobersonLuo opened #6575 "Support Angular 14"
Deos any plan to update to **angular 14**?
iWill be appreciated if updating to angular 14 in the Version 8.0.

Thanks very much.

[2022-10-24 10:11] ismcagdas commented on #6575
Yes, we will update the templatest to Angular 14 for the next version.

[2022-10-25 11:27] #6530 closed

[2022-10-25 11:36] #6569 closed

[2022-10-26 05:46] ismcagdas commented on #4633
@egrassinode this is a low priority item for us and probably will not be implemented in a short time.

[2022-10-27 08:17] Omital commented on #6492
Hello. According to the documentation below, this problem still exists in v7.4.
this is my method
[code]
and this is cache configuration
[code]
and generated log

[code]

[2022-10-27 10:24] maliming commented on #6492
hi @Omital

Redis or Memory are you using?

[2022-10-27 11:24] Omital commented on #6492
Memory

[2022-10-27 13:34] maliming commented on #6492
Please share your full app service code.

[2022-10-28 03:59] bigshika commented on #6526
@ismcagdas I'm still getting this from a freshly downloaded project generated from https://aspnetboilerplate.com/Templates
[code]

[2022-10-28 05:58] ismcagdas commented on #6526
Thanks, I will check it again. Maybe the implementation is not deployed yet.

[2022-10-28 09:55] maliming commented on #6492
hi @Omital
Please create a new issue and share the code & steps to reproduce.

[2022-10-28 20:46] AllyMurray commented on #4633
@ismcagdas when I opened this issue I didn't want to start it until there was some feedback on the questions I had. A couple of months after opening it I moved to a new job and haven't worked in .net since. If someone else would like to pick it up they are welcome to do so otherwise please feel free to close it.

[2022-10-29 18:18] Omital commented on #6492
I can't reproduce it in new project. every thing is fine, but in production server occurs.
does memory caching any limitation? something related to key count or memory limitation?

[2022-10-30 06:02] Omital commented on #6492
Application new version installed in production server in 2022-10-29 22:51:48
This log was generated on the production server after that:
[code]

[2022-10-30 07:34] Omital commented on #6492
Produce it finally.
suppose cache config is
[code]
and laod method is
[code]
first call at **2022-10-30 10:48:40.803** (data fetched from DB)
second call at **2022-10-30 10:49:34.157** (data fetched from cache)
third call at **2022-10-30 10:49:34.877**  (data fetched from DB)
**up to this point caching system is working properly**
After that, every request is sent to the method, the information wi

[2022-10-30 08:04] Omital opened #6577 "The Cache DefaultAbsoluteExpireTime property work only once"
Hi
suppose cache config is
[code]
and laod method is
[code]
first call at **2022-10-30 10:48:40.803** (data fetched from DB)
second call at **2022-10-30 10:49:34.157** (data fetched from cache)
third call at **2022-10-30 10:49:34.877**  (data fetched from DB)
**up to this point caching system is working properly**
forth call at **2022-10-30 10:49:35.247** (data fetch from DB)
After that, every req

[2022-10-30 08:05] Omital commented on #6492
project and problem reproduction shared in issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6577.

[2022-10-30 09:23] ismcagdas commented on #6577
@Omital do you use the latest ABP, 7.4 ?

[2022-10-30 10:39] Omital commented on #6577
this project https://github.com/Omital/TCache for reproducing problem is Abp, 7.3 but my real project is Abp, 7.4

[2022-10-30 10:41] Omital commented on #6577
@ismcagdas
https://github.com/Omital/TCache  updated to ABP 7.4 and problem still exist.

[2022-10-31 00:13] maliming commented on #6577
hi @Omital
I will check your project.

[2022-10-31 01:48] maliming commented on #6577
hi @Omital

Please use `DefaultAbsoluteExpireTimeFactory` instead of `DefaultAbsoluteExpireTime `.

Configuration.Caching.Configure(CacheNames._roles, cache =>
{
            cache.DefaultAbsoluteExpireTimeFactory =DateTimeOffset.Now.AddMinutes(1);
});

[2022-10-31 08:40] Omital commented on #6577
hi @maliming
Thank you, It work with
[code]
but what about `DefaultAbsoluteExpireTime`? it has no functionality?

[2022-10-31 08:45] maliming commented on #6577
This can be seen as design.

[2022-11-01 20:17] Mahesh3677 opened #6578 "InsertManyAsync and InsertAsync are throwing notimplemented exception . Exception not throwing when using Id as primary key."
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2022-11-02 04:48] ismcagdas commented on #6578
@Mahesh3677 could you provide your code which causes this problem ?

[2022-11-02 08:38] odesyatnyk opened #6579 "Application spammed with requests to app root when deployed on Azure"
* Abp 7.0.1
* NET 6

We have an application deployed to Azure App Service:
* Code deployment
* Linux OS
* Always On enabled
* Application Insights enabled
* Healthchecks disabled

Recently we discovered in logs that we are receiving a lot of requests to the root of our Web App. During investigation we found out that it is not related to Always On feature, because as it states in documentation - it

[2022-11-02 12:06] sajasbana opened #6580 "Show Result in XML instead of JSON"
Dears,
Is it possible to show getall result in xml instead of json for 1 method only not in whole system?

![image](https://user-images.githubusercontent.com/34976854/199485689-f961d832-2275-478e-b4a9-ce67e93b4824.png)

[2022-11-02 14:04] ismcagdas commented on #6580
This would be a breaking change for the all ABP templates. So, by default it is not possible. However, you can create a similar endpoint and return a XML response.

[2022-11-02 21:57] Mahesh3677 commented on #6578
I have resolved the issue. Thanks

[2022-11-02 21:57] #6578 closed

[2022-11-02 22:01] Mahesh3677 opened #6581 "How can I use DbFunction JSON_VALUE in ABP for querying json columns in SQL from entity Framework ?"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2022-11-03 01:28] aitongsm opened #6582 "5.1.0 running in win2022 will produce some strange bugs, for example, some interfaces in win2016 normal, in win2022 will report 500 error"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2022-11-03 02:32] maliming commented on #6582
Your Abp package version.
Your base framework: .Net Framework or .Net Core.
Exception message and stack trace if available.
Steps needed to reproduce the problem.

[2022-11-03 05:43] ismcagdas commented on #6581
I think this is a new feature of EF Core 7 and ABP's .NET 7 verison is not released yet. You can use it when ABP 8.0 is released.

[2022-11-03 06:53] ismcagdas commented on #6579
We haven't faced such a problem but maybe records in AbpAuditLogs table can give you a clue.

[2022-11-03 10:13] huyqta opened #6584 "Check TenantID on Startup.cs or AuthConfigurer.cs"
Hi team,

I'm trying some ways to check tenantId when user access the page or switch tenant. I want to add some authentication schemes to a specific tenant, not all. But I cannot access AbpSession object or IAbpSession interface on Startup.cs or AuthConfigurer.cs.

Could you help me a solution for this case please?

Thanks and best regards.

[2022-11-03 11:46] sajasbana commented on #6580
@ismcagdas
Thanks
I did it in my Action in below way
![image](https://user-images.githubusercontent.com/34976854/199712693-b74d098f-9f89-4588-9e2b-46306bccbc9d.png)

[2022-11-04 07:14] #6580 closed

[2022-11-04 07:29] ismcagdas commented on #6584
Replied the same question on https://github.com/aspnetzero/aspnet-zero-core/issues/4627. @huyqta please close one of the issues, so we can continue with the other one.

[2022-11-04 07:40] #6584 closed

[2022-11-04 14:13] ognyandim commented on #6575
When can we expect the version with Angular 14?

[2022-11-04 19:22] Mahesh3677 opened #6585 "Query from json data in sql column."
I have a column in table that stores in the format
{"parameter": "value"}
i need to write a query using entity framework by passing parameter and value in where condition.
How to implement using abp inbuilt functions ?

[2022-11-06 11:07] ismcagdas commented on #6585
Maybe you can use https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Entities/IExtendableObject.cs

[2022-11-07 06:29] ismcagdas commented on #6575
Probably in 1 month or so.

[2022-11-08 13:24] totpero opened #6586 "AbpSeriveProxies -> GetAll two semicolon"
Hi,
Is any reason to set two semicolons [here ajaxParams));;](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Api/ProxyScripting/Generators/JQuery/JQueryProxyScriptGenerator.cs#L78)?

[2022-11-09 06:19] ismcagdas commented on #6586
Might be a mistake, I will check it.

[2022-11-09 09:52] zx493734247 opened #6587 "Ignored AutoMapper AttributeMapping"
it's doesn't work when I use AutoMapper's AttributeMapping e.g. ValueConverter
how can I write a sucess code when using AttributeMapping.

example:

[code]

[2022-11-09 12:51] staneee opened #6588 "Can abp run on the linux/arm64 platform?"
Can abp run on the linux/arm64 platform? Because **.net5** supports arm64

* Abp package version. 6.4.0
* Base framework: .Net5.
* Exception message and stack trace if available.
[code]
* Steps needed to reproduce the problem.
  - build docker image use base image: mcr.microsoft.com/dotnet/aspnet:5.0-focal
  - run image

[2022-11-09 13:33] ismcagdas commented on #6588
Is this the full stack trace ?

[2022-11-09 13:35] ismcagdas commented on #6587
@zx493734247 could you use fluent configuration instead of attributes ? It is not the suggested appraoch anymore.

[2022-11-10 01:41] zx493734247 commented on #6587
all right.
but I have a weird problem.
i was try to use AutoMapper's AutoMapAttribute ( not Abp.AutoMapper assembly)
the 'ValueConverter' Attribute is worked.but another Dto is error.
e.g.
 LawDto <->Law mapping success,
CreateUpdateLawDto<-> law  mapping error.  throw
"
Missing type map configuration or unsupported mapping.
Mapping types:
Object -> Law
"
the ApplicationModule related code is
[cod

[2022-11-10 01:47] zx493734247 commented on #6587
Thanks.
i was sloved it.
I was replace Abp.AutoMap to AutoMapper.AutoMap Attribute.
It works.
the new code is
[code]

[2022-11-10 01:47] #6587 closed

[2022-11-11 12:38] gabrielcapanogyp opened #6589 "Update to EF7"
hello, are you guys will update EF6 to EF7?
Apparently the EF7 is much faster, I don't believe there would be many breaking changes for the ABP

[2022-11-11 17:42] ganeshkatore commented on #2396
Dude, today also aspnetboilerplate.com  is down

[2022-11-11 17:43] ismcagdas commented on #2396
It works for me now, could you check it again ?

[2022-11-12 05:27] ganeshkatore commented on #2396
I am still facing same error "This site can’t be reached"
![image](https://user-images.githubusercontent.com/1651405/201458784-c781acd6-ad86-440c-9a74-d686cd71b1c0.png)

[2022-11-12 13:05] ismcagdas commented on #2396
Could you try with VPN and see if it works ? I tried with Opera's VPN and works from several different countries.

[2022-11-12 13:55] ismcagdas commented on #6589
This is in progress, please follow https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6565. We are planning to release .NET 7 version with ABP 8.0.

[2022-11-12 21:00] ahk1977 commented on #3722
I also set the always running mode but it still doesn't work

[2022-11-13 11:05] ismcagdas commented on #3722
@ahk1977 could you share what is not working ?

[2022-11-14 08:34] sajasbana opened #6590 "Console app"
Dear team,

I want to add console app to my abp project v7.3 mvc.

I check Migrator project and it helped me, I have issue now with registering IWebHostEnvironment

![image](https://user-images.githubusercontent.com/34976854/201627646-53e333c0-6a1b-4eae-bf78-82d5508f8e5b.png)

![image](https://user-images.githubusercontent.com/34976854/201627815-3d48ecb9-b9a1-4d15-a9dd-5138c573d0f5.png)

![image](

[2022-11-14 12:36] sajasbana commented on #6590
Dear,
I solve it by remove IWebHostEnvironment hostingEnvironment from constructor.

how can I get appsettings based on environment now?
![image](https://user-images.githubusercontent.com/34976854/201661985-6b855e15-acdf-42e4-ab6f-7b12880d5c35.png)

[2022-11-14 12:59] sajasbana commented on #6590
Dears,

I added this line to get environment it works for now, I will test my application to see it is working
![image](https://user-images.githubusercontent.com/34976854/201666122-08ac7676-ceec-4bd7-88b3-50417e66dd3d.png)

also you need to launchSettings.json to read the environment

Thanks

[2022-11-15 15:11] JurjendeGroot commented on #6159
I'm upgrading our ABP v5.1 to v7.3 and when updating the database with the migrationscript I get an error when creating the following index on AbpUserLogins

CREATE UNIQUE INDEX [IX_AbpUserLogins_ProviderKey_TenantId] ON [AbpUserLogins] ([ProviderKey], [TenantId]) WHERE [TenantId] IS NOT NULL

I'm not sure on how to resolve this, should we 'manually' remove the duplicates and if so, which records

[2022-11-15 20:45] onurcanyilmaz commented on #6589
Also, we need to use EF7 in our project with Json columns property.
we look forward to it :)

[2022-11-15 21:54] onurcanyilmaz opened #6591 "Unit testing - Castle.MicroKernel.ComponentNotFoundException: 'No component for supporting the service"
Hello,

We mentioned it before for that exception like this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6518

When I wrote unit testing, I received that exception.
I've used to resolve my dependencies using IocManager.Instance...
Normally, that code is working great but not working in unit test

![image](https://user-images.githubusercontent.com/33642676/202098493-5d7cda39-a050-4

[2022-11-16 05:24] ismcagdas commented on #6589
We are planning to release .NET 7 version in 2 weeks.

[2022-11-16 06:20] ismcagdas commented on #6159
Yes, you need to remove records manually. You can keep the last one by looking at the biggest ID for each duplicate record set.

[2022-11-17 00:52] anandjaisy opened #6592 "Angular 13 with abp-ng2-module dependency issue"
Getting dependency exception with Angular 13

[code]

Tried with 6.4.0, also got dependency issue

[code]

Didn't find any reference document for angular 13

![image](https://user-images.githubusercontent.com/84489031/202327230-c3c9c67a-3648-4a1b-aefb-37ab8961a867.png)

[2022-11-17 04:37] FirasKira opened #6593 "Securing AbpServiceProxies/GetAll"
# Problem description
All the routes (URL(s)) for the API (including parameters to use) are accessible to unauthenticated users by calling this API `AbpServiceProxies/GetAll` which doesn't require any token and is not protected.
This opens the application for easy attacks.
Can you please tell me how to secure this API without affecting the normal functionality of the framework.

## Technical detai

[2022-11-17 05:39] ismcagdas commented on #6593
You can create a similar [controller ](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Proxying/AbpServiceProxiesController.cs) in your app and add Authorize attribute to it. However, this endpoint doesn't return and private data and may be used by anonymous users.

[2022-11-17 05:44] ismcagdas commented on #6592
[7.0.0](https://www.npmjs.com/package/abp-ng2-module/v/7.0.0) shpould support Angular 13, could you try that one ?

[2022-11-17 10:06] nikschuiling commented on #5244
We're having the same issue. For one user authentication was taking 2 minutes, because 21.000 tokens we're being loaded from the database. We reduced our token lifetime from 1 year to 1 week so expired tokens will be deleted sooner, but can still be an issue if many tokens are generated in one week. This should be optimized.

[2022-11-17 11:43] ismcagdas commented on #5244
We created a background job to clear the expired user tokens. You can follow a similar approach, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/Users/UserTokenExpirationWorker.cs

[2022-11-17 12:35] nikschuiling commented on #5244
@ismcagdas I'm aware of this job, but this doesn't help in the scenario where there are many non expired tokens.

Example: when the refresh token expiry period is set to 7 days (which is not an unexceptionally long period), for every user that logins with credentials a new refresh token is stored in table AbpUserTokens. They will be preserved until expiry, so for 7 days. For every login attempt, c

[2022-11-17 13:46] liammullan opened #6594 "Missing step in Domain Services tutorial?"
I really enjoyed your "Domain Services" tutorial at:

https://aspnetboilerplate.com/Pages/Documents/Domain-Services#:~:text=Domain%20Services%20(or%20just%20Services,an%20Entity%20or%20Value%20Object.

I wanted to check one thing. In the example Appliction Service at the end you have:

[code]

... but isn't this missing the saving of the updated task back to the task repository? Apologies if I hav

[2022-11-18 04:54] ajayak commented on #5244
@ismcagdas what a coincidence. I just found that we got the same issue again 😓
![image](https://user-images.githubusercontent.com/5102208/202619868-b685a2d5-a478-4ff9-bc09-03780c1b9324.png)

[2022-11-18 04:57] ajayak commented on #5244
This is the most resource consuming query in our app.
Here is the graph for past 12 hours
![image](https://user-images.githubusercontent.com/5102208/202620178-bf9fff3d-6ac3-4956-88aa-e595d1a0170d.png)

[code]

[2022-11-18 05:50] ismcagdas commented on #6594
App service methods are executed in a unit of work by default. So, even if you don't call update method, it will be updated by unit of work.

[2022-11-18 08:16] thibnes commented on #6565
Hello, is there a rough estimate of when .NET 7 would be supported?

[2022-11-18 10:11] liammullan commented on #6594
Many thanks for the reply. Wow, this framework is amazing. I wish there was something like this in the Java or Typescript worlds, I'm considering learning .NET just to use it!

[2022-11-18 10:11] #6594 closed

[2022-11-19 08:09] FirasKira commented on #6593
When I added a similar controller in my app with Authorize attribute the frontend couldn't use any service:
![image](https://user-images.githubusercontent.com/9990352/202841209-52ca5617-2d7c-4353-9b97-35b92ac87cbf.png)
The front end error:
![image](https://user-images.githubusercontent.com/9990352/202841243-af37216f-8a79-45d7-b118-261a7546c907.png)

[2022-11-19 17:17] ismcagdas commented on #6593
Does this endpoint return a valid result ?

[2022-11-19 19:33] FirasKira commented on #6593
Yes the end point was working properly before I create the new controller `AbpServiceProxiesController`.
But It seems that the proxy doesn't work as expected!

[2022-11-20 12:23] ismcagdas commented on #6593
I asked for your new endpoint actually.

[2022-11-22 09:59] thibnes commented on #6565
Looks like it will come in the coming weeks!
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6589#issuecomment-1316376567

[2022-11-23 06:31] JontyMin commented on #4538
请问有后续解决方法嘛？

[2022-11-23 06:35] JontyMin commented on #4538
Please advise how this was followed up, I currently need to use CAP as well, but the following exceptions occur, please reply.

[code]

[2022-11-23 21:00] DamienLaw opened #6595 "Global filters on a large database table caused SELECT query to run really slow"
Abp version: 7.4
.NET 6
EF Core 7

Global filters such as _Soft Delete_, _May Have Tenant_, _Must Have Tenant_ are causing SELECT query in a large database table (eg: AbpAuditLogs) with more than 5 million records executes very slowly (most of the time, timed out - exceeding 30 seconds).

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/ae2849321ac856369e8a07b0e9e954c507bacc20/src/Abp.E

[2022-11-23 21:07] DamienLaw commented on #6595
The 3 boolean variables can be extracted out from the expressions and rewritten as
![image](https://user-images.githubusercontent.com/14930009/203646158-db7fc6ab-69df-4e6c-8cb1-96df476b39f8.png)

[2022-11-24 07:40] ismcagdas commented on #6595
@DamienLaw thanks for your suggestion. Let me check it.

[2022-11-24 08:52] ismcagdas commented on #4538
I think no solution provided and it doesn't seem possible https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4538#issuecomment-495608883

[2022-11-24 15:24] DamienLaw commented on #6595
As it turns out `IsMustHaveTenantFilterEnabled` checks for the `TenantId` to determine if the Host is running the query. Currently ABP is putting this boolean in the expression and will conditionally turn on/off the filter within the SQL statement generated which we're trying to avoid. Instead of flipping the switch at the database layer, we'll need to find a way to do it at the application layer.

[2022-11-25 01:18] JontyMin commented on #4538
I configured it according to the official documentation , and Before AddAbp() method
[code]
I get a warning
[code]
By modifying the transaction isolation level in the EntityFrameworkCoreModule, it works properly
[code]

[2022-11-25 12:45] LoveMango8 opened #6596 "abp v7.3 code first failure"
input>>>>>add-migration first -verbose

outPut>>>>>>Using project 'src\Net_Host_Api.EntityFrameworkCore'.
Using startup project 'src\Net_Host_Api.Web'.
Build started...
Build succeeded.
C:\Program Files\dotnet\dotnet.exe exec --depsfile D:\..\..\SourceCode\Net_Host_Api\src\Net_Host_Api.Web\bin\Debug\net6.0\Net_Host_Api.Web.deps.json --additionalprobingpath C:\Users\YEMING\.nuget\packages --additio

[2022-11-25 13:27] ismcagdas commented on #6596
@LoveMango8 could you provide a bit more detail ? Did you create a new project on https://aspnetboilerplate.com/ and then execute `add-migration first -verbose` ? If so, could yu share the full path of folder this command is executed ?

[2022-11-26 10:46] LoveMango8 commented on #6596
yeah,l am sure. project from https://aspnetboilerplate.com/ .
please review my screenshot:
<img width="877" alt="1669459573761" src="https://user-images.githubusercontent.com/92429438/204084839-b209f553-57e4-47e5-a977-860ef9d97974.png">

[2022-11-26 10:47] LoveMango8 commented on #6596
yeah,l am sure. project from https://aspnetboilerplate.com/ .
please review my screenshot:
<img width="784" alt="1669459654293" src="https://user-images.githubusercontent.com/92429438/204084895-b8338ff1-7062-4fea-9a88-3b02b31cf4cf.png">

[2022-11-26 10:49] LoveMango8 commented on #6596
always display below error:
An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application service provider. Error: Timed out waiting for the entry point to build the IHost after 00:05:00. This timeout can be modified using the 'DOTNET_HOST_FACTORY_RESOLVER_DEFAULT_TIMEOUT_IN_SECONDS' environment variable.

[2022-11-26 12:51] LoveMango8 commented on #6596
I just succeeded.
I found that after execute add-migration first -verbose , the migration folder was excluded from the project.
codefirst is successful when after I set include it.
But I donot understand now.,why always disply below error:
**An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application service provider. Error: Timed out waiting for

[2022-11-28 08:05] ismcagdas commented on #6596
It might be related to your PC setup. Checking it on the web might help you.

[2022-11-30 03:28] emisand opened #6597 "Sweetalert2 buttons aren't localized properly"
Using the `abp-web-resources` package at version 5.6.0 with SweetAlert2 doesn't seem to be translating the Ok and Cancel buttons properly.

Even though I can verify that `abp.dynamicScriptsInitialized` event is triggered and `abp.libs.sweetAlert.config.confirm.buttons` is set with the proper localized texts, when calling `Swal.fire` within abp.sweet-alert2.js with that localized options object, it

[2022-11-30 05:59] ismcagdas commented on #6597
@emisand thanks, we will check this.

[2022-11-30 13:07] #6443 closed

[2022-11-30 13:07] #6565 closed