[2021-12-24 06:36] tanghaojie commented on #5959
A year not use abp, i'm not sure this is right.
In my memory, all work fine when open multi tenant. If close multi tenant, you should always keep `tenantId = MultiTenancyConsts.DefaultTenantId`, and implement `ITenantStore` like [this](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5959#issuecomment-752349156) above, use this `NoneTenantStore` instead of default `NullTenantStore`, i

[2021-12-25 05:53] MohammadMobasher commented on #6342
finally i found a solution but stile a bad state.
i create a Middleware like this :

`public class WhcMiddleware
    {
        private readonly RequestDelegate _next;
        private readonly IUnitOfWorkManager _unitOfWorkManager;

        public WhcMiddleware(
            RequestDelegate next,
            IUnitOfWorkManager unitOfWorkManager)

        {
            _next = next;
            _unit

[2021-12-26 05:56] sajasbana commented on #6345
Thanks @ismcagdas
I will make sample and will share it when understand it soon

[2021-12-26 05:56] #6345 closed

[2021-12-27 04:55] ismcagdas commented on #6342
@MohammadMobasher you can add your custom param to session, see https://aspnetboilerplate.com/Pages/Documents/Articles%5CHow-To%5Cadd-custom-session-field-aspnet-core. Then, you can use this parameter in your DbCcontext as we do here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L78. This first takes parameter from c

[2021-12-27 05:44] ismcagdas commented on #5959
@waleed-naveed-tkxel could you create a new issue if you are still having this problem and provide details ?

[2021-12-27 05:50] ismcagdas commented on #6343
@smhnlxndr is it possible for you to share your project which you are having this problem ?

[2021-12-28 05:30] ranmax123 opened #6348 "Unable to load web app developed in ABP 6.3, Angular with .Net 5 in iframe"
* Your Abp package version - 6.3
* Your base framework: .Net Framework or .Net Core. - .Net Core

I'm trying to load a web app developed in ABP with Angular and .Net 5 in an iframe. When I query abp.auth.getToken() method I get null in response.

Any clues what might be happening?

[2021-12-28 10:01] sajasbana commented on #6254
@demirmusa
I also saw this issue

just make your GetAllDto inherets from IShouldNormalize like below image
![image](https://user-images.githubusercontent.com/34976854/147554375-23393a1d-8ed5-490e-be0f-6941e7a67bcf.png)

add call the service method from controller like below image line in red
![image](https://user-images.githubusercontent.com/34976854/147553780-52f55830-1df9-4e7c-b76c-fa80c57048f5.

[2021-12-28 13:35] ismcagdas commented on #6254
@sajasbana thanks, we will check it according to your instructions.

[2021-12-28 13:36] ismcagdas commented on #6348
@ranmax123 do you run this script outside of the iframe ? If so, I think you can't access iframe resources outside of the frame.

[2021-12-28 15:20] MohTaraby opened #6349 "a bottleneck when using ILocalizationSource.GetString"
recently we upgraded our project to use the latest .Net Core (v 6) with latest version  of aspnetboilerplate , As well as moving to .NET Core 6 , we're also switching OS from Windows to Linux .

after applying our stress test on Linux , we found that a part of our server side code that uses ILocalizationSource to get the localized value of a string is our bottleneck , it blocks other threads from

[2021-12-28 16:39] ranmax123 commented on #6348
No. I run it inside the iframe in the same app.

On Tue, Dec 28, 2021, 7:06 PM İsmail ÇAĞDAŞ ***@***.***>
wrote:

[2021-12-29 08:01] ismcagdas commented on #6348
@ranmax123 in that case, I'm not sure. Can you provide a reproduction project ?

[2021-12-29 10:33] smhnlxndr commented on #6343
@ismcagdas  No, it is private project. Under NDA.

[2021-12-29 10:34] smhnlxndr commented on #6343
@ismcagdas ask what information you need and I try to present it for you

[2021-12-29 10:46] ccccccmd opened #6350 "got memory leak"
i got memory leak when i have a static function to run a longruning job.

.net core 6.0
aspnetboilerplate  v7.0
release

download code from https://aspnetboilerplate.com/Templates
then add test code in startup.cs

    Task.Run(async() =>
        {
            Console.WriteLine("start");
            for (int i = 0; i < 5000; i++)
            {
                var userApp = IocManager.Instance.Resol

[2021-12-30 05:47] ismcagdas commented on #6350
Could you disable unitOfWork in GetHashCode, see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#disabling-unit-of-work and try to create unitOfWork manually in your for loop ?

By the way, is this a test code ?

[2021-12-30 06:04] ccccccmd commented on #6350
yeah,almost the real logic in prod. we resolve IxxxxAppService  in a thread  in some reasons

[2021-12-30 06:09] ismcagdas commented on #6350
My suggestion might help to resolve this problem because uow interceptor has such a problem with high amount of calls.

[2021-12-30 06:15] ccccccmd commented on #6350
i got it. i am confused that why uow can't be released when it completes a loop.

[2021-12-30 06:18] ismcagdas commented on #6350
actually it is released normally but I think this is specific for using Task.Run.

[2021-12-30 06:23] ccccccmd commented on #6350
i'll check it.we have a longrunning job to generate files in ms interval.so we chose a singal thead starting in a static function .

[2021-12-30 07:59] ccccccmd commented on #6350
this can resolve this problem

[2021-12-30 07:59] #6350 closed

[2021-12-30 09:17] klapatyivasyl opened #6352 "Unit tests with real database"
Hello, I am trying to use a real database and real db connection in unit tests instead of inmemory db provider basically provided by ABP.
How can I do this?

[2022-01-01 12:45] ismcagdas commented on #6352
@klapatyivasyl this might help you https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5645

[2022-01-01 20:30] Omital opened #6353 "AuditLogs Feature Request"
Consider adding ability to set max row count in abpAuditLogs entity with this parameter settings "AuditLogs.MaxRowCount" and
 "AuditLogs.EmptyFactorPercent".
for example with "AuditLogs.MaxRowCount" = 1000 and "AuditLogs.EmptyFactorPercent" = 20  then if AuditLogs row count excceded to 1000 rows then application will delete 200  row from auditlogs

[2022-01-02 05:15] MohammadMobasher commented on #6342
thanks a lot...

[2022-01-02 05:15] #6342 closed

[2022-01-02 05:29] MohammadMobasher opened #6354 "odata in submodule not aggregate with project"
hi
I have a project with abp zero (accounting) and i add to this project another module with Finance name that have all module for it's self like Finance.EntityFrameworkCore, Whc.Finance.Core, Whc.Finance.Web.Host and ...

i had to reference this two project and i done it very well. it worked very well, but there is a problem here on odata. in accounting i have some odata and it show on /odata url

[2022-01-03 07:07] ismcagdas commented on #6354
@MohammadMobasher is it possible for you to provide a sample project for this ?

[2022-01-03 07:57] ismcagdas commented on #6353
@Omital this might be implemented by periodically checking the audit logs table with background jobs.

[2022-01-03 08:09] ismcagdas commented on #6343
@smhnlxndr most of the times, this happens when

- You use wrong namespace when overriding the localization source
- Or don't mark the new xml file as embedded resource

Could you check these ?

[2022-01-03 08:53] ismcagdas commented on #6349
@MohTaraby you can try using https://aspnetboilerplate.com/Pages/Documents/PerRequestRedisCache for improving redis performance

[2022-01-03 12:47] ismcagdas commented on #6294
@jonesrd could you check this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6294#issuecomment-996080544 ?

[2022-01-03 13:36] #6330 closed

[2022-01-03 18:05] Omital commented on #6353
@ismcagdas  for now I implement it by background jobs like this
[code]
and DeleteExtraAuditLog in repository
[code]

[2022-01-04 10:48] ismcagdas commented on #6337
@Omital I can't access your repo, is it private ? If so, is your project MVC 5 ?

[2022-01-04 11:27] #6316 closed

[2022-01-04 11:48] #6313 closed

[2022-01-04 13:28] #6288 closed

[2022-01-04 19:52] lineralpha commented on #6307
@ismcagdas  haven't had time on this. I guess the problem is due to discrepant abp module dependencies but haven't looked into it further.

[2022-01-05 04:32] ismcagdas commented on #6307
Thanks, I will try to reproduce this.

[2022-01-05 21:16] dust63 opened #6357 "[BUG] [EF Core] Postgres Error in .NET 6, Cannot write DateTime with Kind=Local to PostgreSQL type"
* Your Abp package version: 7.0.0
* Your base framework: .Net Framework or .Net Core: .NET 6.0.101
* Steps needed to reproduce the problem: using EF Core with postgres SQL, Npgsql.EntityFrameworkCore.PostgreSQL 6.0.2 (last version)
* Exception message and stack trace if available.

Stack Trace:

[code]

I can fix the problem for now by following this [stackoverflow](https://stackoverflow.com/quest

[2022-01-05 21:17] dust63 commented on #6357
Notice that I follow your [procedure](https://aspnetboilerplate.com/Pages/Documents/EF-Core-PostgreSql-Integration)

[2022-01-06 04:30] ismcagdas commented on #6357
@dust63 thanks, we will check it.

[2022-01-06 06:53] #6291 closed

[2022-01-07 12:54] ismcagdas commented on #6216
@Robert-Laverick I also couldn't reproduce this but, at least, I added the null check for `HttpContext.Current`. You can try it when ABP 7.1 is released. I think you will need to move from .NET 5 to .NET 6 to test this because ABP 6.x supports .NET 5.

[2022-01-07 15:37] saadii commented on #6023
Can anybody provide some sample implementation to achieve it?

[2022-01-07 20:09] johndcollins commented on #5927
Has this been addresses? I'm having the same question as I'm designing a plugin application which loads/unloads assemblies "like" a nuget package.

[2022-01-08 09:46] ismcagdas commented on #5927
@johndcollins not yet.

[2022-01-08 10:19] saadii commented on #4500
Can anybody provide the sample how can we implement it?

[2022-01-09 00:19] #6215 closed

[2022-01-09 00:19] #6242 closed

[2022-01-09 00:19] #6261 closed

[2022-01-09 00:19] #6273 closed

[2022-01-09 00:19] #6247 closed

[2022-01-09 00:19] #6243 closed

[2022-01-09 08:23] mahmoudsalah1 opened #6359 "cannot find appConsts"
cannot find appConsts

![Capture11](https://user-images.githubusercontent.com/84044214/148674810-c15446a0-a9aa-40c1-9ea8-2e33f3a80c6f.JPG)

[2022-01-09 10:01] Omital commented on #6337
@ismcagdas  I'm sorry . It was private. I make it Public.  mvc5, angularjs, SPA template

[2022-01-09 10:19] easyest commented on #6278
ping :)

[2022-01-10 01:51] Robert-Laverick commented on #6216
I'll give it a try and report back, what's the fall-back situation when HttpContext.Current isn't available, it looks to me (from what I can see of the code) that it's possibly going to step into the AntiForgery Fail path, which leads to CreateErrorResponse on the Filter which also assumes the HttpContext is present if I'm reading the code flow correctly this will probably move the failure to ther

[2022-01-10 05:55] ismcagdas commented on #6216
@Robert-Laverick when I check the ASP.NET Core's source code, it throws an exception;

[code]

Two string parameters are sent here;
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Api/Web/Security/AntiForgery/AbpAntiForgeryManagerWebApiExtensions.cs#L34

[2022-01-10 06:10] ismcagdas commented on #6278
@easyest I moved this issue to 7.2 to take a look again.

[2022-01-10 06:12] ismcagdas commented on #6359
@mahmoudsalah1 could you check if [this](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/shared/AppConsts.ts) exists in your solution ?

[2022-01-10 06:34] ismcagdas commented on #4500
@saadii have you tried implementing your own `IAuditingStore` as suggested here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4500#issuecomment-490305733 ? In that class, you can use a different connection string (or a different DbContext) and save the data to another database.

[2022-01-10 06:40] #6163 closed

[2022-01-10 08:38] ismcagdas commented on #6216
We can reopen this if you face the same error with 7.1 version.

[2022-01-10 08:38] #6216 closed

[2022-01-10 13:07] ismcagdas commented on #6175
@ontur00 we couldn't reproduce this on our side. I have some questions for you.

1. Did you solve this problem ?
2. If not, do you host any other AspNet Boilerplate based app on the same IP address ?
3. Can you reproduce this problem on development time ? If so, could you download a new template from https://aspnetboilerplate.com/ and try to reproduce same problem on that template ?

Thanks,

[2022-01-11 09:16] #6282 closed

[2022-01-11 11:56] behiunforgiven opened #6360 "Notification is not sent to subscribed users"
I subscribe current user to a specific message:

`await _notificationSubscriptionManager.SubscribeAsync(AbpSession.ToUserIdentifier(), HatchConsts.KafkaMessages);`

(The table `AbpNotificationSubscriptions` has proper value)

but when I publish notifications like this:

`wait _notificationPublisher.PublishAsync(HatchConsts.KafkaMessages, notificationData);`

(the table `AbpNotifications` has prope

[2022-01-11 12:55] Robert-Laverick commented on #6216
Thanks, it's weird that we're not hitting that exception, but I guess maybe I will now with the changes in 7.1? Who knows, I'll test more and report back if it's still miss behaving.

Ahh, an extension method, I should have thought of that. Thanks for pointing it out.

[2022-01-11 12:56] ghost opened #6361 "Redis backplane with SignalR not working"
I am using aspnetboilerplate with .net core 3.1

I have implemented SignalR and as my test server is on azure and have multiple instances I am trying to implement Redis backplane.

For that I have installed **Microsoft.AspNetCore.SignalR.StackExchangeRedis** package and in Startup.cs added following code in ConfigureServices() method to test in local:

`services.AddSignalR().AddStackExchangeRedis(

[2022-01-11 22:24] #6359 closed

[2022-01-11 22:24] mahmoudsalah1 commented on #6359
I 've solved it with misssing impot thanks.

[2022-01-12 12:33] ismcagdas commented on #6360
@behiunforgiven is it possible for you to share a reproduction project ?

[2022-01-12 12:34] ismcagdas commented on #6361
@dhwanishah-cygnet did you follow this document https://docs.microsoft.com/en-us/aspnet/core/signalr/redis-backplane?view=aspnetcore-6.0 ?

[2022-01-12 12:45] dhwanishah-cygnet commented on #6361
@ismcagdas yes I followed the same process. In MONITOR I get activities but in PSUBSCRIBE NO messages.
![image](https://user-images.githubusercontent.com/86953813/149142849-399e465a-302e-42eb-9a98-924e57ace0d4.png)

[2022-01-12 13:27] cfyazilimgithub opened #6362 "No component for supporting the service Abp.AspNetCore.Configuration.AbpAspNetCoreConfiguration was found"
The new api project, "The solution is designed so that it can be integrated into the project. Based on the errors that occurred, I also made the necessary initialization and adaptations. At the moment, I could not continue after the error. The error message is below.

Castle.MicroKernel.ComponentActivator.ComponentActivatorException: 'ComponentActivator: could not instantiate Microsoft.AspNetCore.

[2022-01-12 13:31] ontur00 commented on #6175
1. No we did not.
2.  I tested the solution by running the project locally in visual studio and on IIS. The result was the same logging off the user after 30 minutes.
3. I was currently testing the solution by running asp net core ver 7.x and 5.x on visual studio. Did not log off the session. However, I will still check the solution on the IIS server.
4.
![image](https://user-images.githubusercont

[2022-01-12 13:37] ismcagdas commented on #6175
Thanks. I downloaded a new version 2 days ago, runned it using visual studio, waited 30 mins without any action and couldn't reproduce the problem. If you can reproduce it and share the steps, I will really appreciate it.

[2022-01-12 14:13] ismcagdas commented on #6362
@cfyazilimgithub could you share your module class for your new web project ? Does it depend on AbpAspNetCoreModule ?

[2022-01-12 20:25] behiunforgiven commented on #6360
Sorry, it's a big project, but I use version 6.7 and .net 6
Temporarily I solved my problem to get the list of subscribers and send notifications to them in a foreach loop!

`await _notificationPublisher.PublishAsync(HatchConsts.KafkaMessages, notificationData,userIds:new []{ new UserIdentifier(tenantId , userId) });
`

[2022-01-13 06:01] ismcagdas commented on #6360
It is hard to reproduce this problem for us. Lastly could you share what is the values for `AbpSession.ToUserIdentifier()` (UserId & TenantId) when you subscribe and publish ? Also, did you disable multi tenancy in your app ?

[2022-01-13 07:02] behiunforgiven commented on #6360
Thank you, I call the PublishAsync method in a background job, and AbpSession.UserId is null.
but before that, I subscribed the current user to Messages.

I think when I call PublishAsync method without UserIdentifier, the message should send to all subscribers, is that right?

[2022-01-13 08:43] cfyazilimgithub commented on #6362
![WhatsApp Image 2022-01-12 at 17 38 32](https://user-images.githubusercontent.com/62659249/149295897-a7f507dc-dd94-426c-94a0-2e52e5ea0945.jpeg)
![WhatsApp Image 2022-01-12 at 17 36 07](https://user-images.githubusercontent.com/62659249/149295905-dbfcadae-f74b-4cb0-9485-ef87db6bb03c.jpeg)

[2022-01-13 08:44] cfyazilimgithub commented on #6362
@ismcagdas
transmit images related to the topic.

[2022-01-13 10:23] ismcagdas commented on #6362
Is the below class copied from running Web project ? I assume your original web projects doesn't have this problem, right ?

![image](https://user-images.githubusercontent.com/4133525/149312063-dd3481f0-e01c-4cc8-ae8e-255233d99e21.png)

[2022-01-13 10:33] ismcagdas commented on #6360
Yes, that's correct. I asked the values for subscription actually, for this line;

`await _notificationSubscriptionManager.SubscribeAsync(AbpSession.ToUserIdentifier(), HatchConsts.KafkaMessages);`

[2022-01-13 10:41] cfyazilimgithub commented on #6362
Yes, the module that works as in the other project. New from projects purchased from the same.

[2022-01-13 11:32] acjh commented on #6360
No, if `tenantIds` is also `null`, then the message is sent to subscribers of the current tenant — in a background job, the current tenant would also be `null`, so the message is sent to subscribers of the host.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4bfc29aaaab3846962902e0aba86f57a475898f6/src/Abp/Notifications/INotificationPublisher.cs#L29-L44

In a single database approach

[2022-01-13 12:02] ontur00 commented on #6175
I tested publish on IIS  template 7.x version, there was no problem, even after 10 hours it did not log out. Do you have any advice on migrating the old project to the version 7.x template

[2022-01-14 05:06] ismcagdas commented on #6175
@ontur00 thanks for taking your time and trying this. We normally suggest an approach similar to https://docs.aspnetzero.com/en/common/latest/Version-Updating for templates. You can implement same approach for your project. You can only try to upgrade authentication related parts of the project.

[2022-01-14 05:17] ismcagdas commented on #6362
@cfyazilimgithub is it possible to access your project to check this problem ? We couldn't figure out the problem by looking at the shared code.

[2022-01-17 08:24] demirmusa opened #6363 "abp-ng2-module update"
update for angular 13 and other related packages

[2022-01-17 09:53] #6363 closed

[2022-01-17 12:01] behiunforgiven commented on #6360
@ismcagdas , in  `AbpSession.ToUserIdentifier()` both UserId and SessionId have values,

@acjh , thank you but In Database TenantId has value and the method you suggest does not send any notification to the client.

I handle my problem like this:
[code]

[2022-01-17 15:48] acjh commented on #6360
Did you disable multi-tenancy?

[2022-01-18 09:40] behiunforgiven commented on #6360
@acjh Yes

[2022-01-18 15:14] ontur00 commented on #6175
@ismcagdas Which module to copy to update regarding authencation?
It will be easier to change this.
![image](https://user-images.githubusercontent.com/11216422/149964114-ad4a1de2-da52-4348-bb2a-25f1d480bb05.png)

[2022-01-19 11:58] ismcagdas commented on #6175
As far as I remember, you should update Web.Core and Web.Mvc but if you do that, it might create other problems. I think it is better to upgrade all projects if possible.

[2022-01-19 18:17] pagner opened #6365 "Where did AbpUserManager<TRole, TUser> CreateIdentityAsync Method Go?"
Version 7.0.0.0 with .net 6

I have an older project I am migrating to the newer codebase.

Just as the title states. CreateIdentityAsync is missing from AbpUserManager. Where did it go?

I need it for impersonation.

Task<ClaimsIdentity> CreateIdentityAsync(TUser user, string authenticationType);

Thanks

[2022-01-20 04:49] ismcagdas commented on #6365
@pagner CreateIdentityAsync doesn't exist in ASP.NET Core, this is not related to ABP. You can implement it as explained here https://stackoverflow.com/questions/39021638/what-is-the-substitute-of-createidentityasync-method-in-asp-net-core-1-0-rtm

[2022-01-20 07:39] #6310 closed

[2022-01-20 18:53] pagner commented on #6365
Thanks @ismcagdas

I will give that a try.

[2022-01-20 18:53] #6365 closed

[2022-01-21 12:54] bobingham commented on #4520
Hi guys, can we open this again?
First, in _abp.sweetalert.js_ we have the following at line 44:
`options.icon = 'warning';`
and, at line 48:
`options.showCancelButton = true;`

![image](https://user-images.githubusercontent.com/6200331/150527382-2e726d47-f5b0-4a3b-9cb6-11f0e45c0912.png)

Using a call statement as below:
[code]
The icon still displays a '_warning_' because of line 44 and the _show

[2022-01-22 20:59] pixelapocalypseuk opened #6367 "Role permissions not updating on user until server restart"
* Abp package version. - **7**
* Your base framework:  - **Core**
* Exception message and stack trace if available. - **Not erroring**
*
* Steps needed to reproduce the problem.
*
* Run host and MVC projects together
* Create an authorised api endpoint using AbpAuthorize
* Assign the permission to a role and user
* Authorise in swagger the user you assigned to the role and permission
* At this poi

[2022-01-23 04:02] acjh commented on #6367
Do you mean remove directly in the database?

[2022-01-23 09:57] MROALI commented on #6357
I have same problem,  you can reproduce  just by running the db migrator project.

[2022-01-23 11:25] pixelapocalypseuk commented on #6367
Hey @acjh

No in the ui.

It uses the role edit and the setrolepermissions method.

I also tried adding the role cache clear method but that doesnt help either.

But in short all of this is done via the ui.

[2022-01-23 11:28] ismcagdas commented on #6367
@pixelapocalypseuk do you change the values on MVC UI and then make a request to Host project ?

[2022-01-23 11:31] pixelapocalypseuk commented on #6367
@ismcagdas indeed thats correct, all while both apps are running, restarting them causes the values to update but when deployed its obviously not feasible to restart all the time

[2022-01-23 11:33] ismcagdas commented on #6367
This happens because, by default both apps are using in-memory cache to store permissions. If you want to use both apps, you can switch to Redis cache, https://aspnetboilerplate.com/Pages/Documents/Caching#redis-cache-integration

[2022-01-23 11:36] pixelapocalypseuk commented on #6367
@ismcagdas ah i see ok ill switch over to redis, tyvm for the help

[2022-01-23 13:05] #6367 closed

[2022-01-25 00:13] worthy7 opened #6368 "EF.DataFilters 3.2.1 causes problem for repository.GetAllListAsync (Oracle?)"
This problem started when THIS change was made to the DynamicFilters package:
https://github.com/zzzprojects/EntityFramework.DynamicFilters/commit/b3eda0e1632824dad57e80d4ed73d73a3c497b7c#diff-869e28a3333ee87fcff15f7c5e4b43c96e2df8c612af52e05c387183f0f6fd74

It's just to stop DF doing anything when the context is a history context.

However, this tiny change in this package, somehow broke a test w

[2022-01-25 00:32] worthy7 commented on #6368
I followed the trace a little and can see that the error is happening inside the applicationsettingscache,

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4bfc29aaaab3846962902e0aba86f57a475898f6/src/Abp/Configuration/SettingManager.cs#L805

Is there something about the cache that may cause this kind of issue?

[2022-01-25 01:01] worthy7 commented on #6368
Ok, it seems any `GetAllListAsync` call from repositories, causes this issue.
So I'm a bit lost at this point. I don't understand why the change in DF would be affected by this.

[code]

[2022-01-25 05:34] ismcagdas commented on #6368
@worthy7 I don't have a clue at the moment. We can try to test this and try to find the problem.

[2022-01-26 14:14] JonathanMagnan commented on #6368
A new version of DynamicFilters has been released: https://github.com/zzzprojects/EntityFramework.DynamicFilters/releases/tag/3.2.4

If the issue was indeed caused by the `HistoryContext`, it should now work correctly as we reverted this change and made it as an option.

Best Regards,

Jon

[2022-01-26 14:45] mardemza commented on #6166
I have the same problem, please can you help me

[2022-01-27 01:09] #6368 closed

[2022-01-27 12:20] ismcagdas commented on #6166
@mardemza could you create a new issue with your exception details ?

[2022-01-28 07:10] #6322 closed

[2022-01-28 08:11] ismcagdas commented on #5923
@liyojose if your app can be accessed publicly, can you share its URL ?

[2022-01-28 13:09] ismcagdas commented on #6337
@Omital thanks again for sharing your project. It seems like this is not possible using OnValidateIdentity with multi tenancy. OnValidateIdentity internall calls `await manager.FindByIdAsync(userId)` which is unaware of the current TenantId, see https://github.com/aspnet/AspNetIdentity/blob/main/src/Microsoft.AspNet.Identity.Owin/SecurityStampValidator.cs#L85.

So, maybe you can copy https://githu

[2022-01-28 14:25] crstnsz opened #6369 "Oracle database error on insert large message in "AbpAuditLogs"."ExceptionMessage""
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version?  A: 6.5.0
* Your base framework: .A: .Net Core.
* Excepti

[2022-01-28 16:34] Omital commented on #6337
@ismcagdas can you apply this solution to sample project please ?
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/url

[2022-01-30 12:25] ismcagdas commented on #6337
@Omital unfortunately I don't have time but you can follow such a path. Copy https://github.com/aspnet/AspNetIdentity/blob/main/src/Microsoft.AspNet.Identity.Owin/SecurityStampValidator.cs#L85 to your project. Resolve IUnitOfWorkManager in it using IocManager.Instance and set tenantId by _unitOfWorkManager.Current.SetTenantId by getting tenantId from current claims and call all other code block in

[2022-01-30 15:32] Omital commented on #6337
@ismcagdas I follow your instruction, like this

`IUnitOfWorkManager uowm = Abp.Dependency.IocManager.Instance.Resolve<IUnitOfWorkManager>();`

but `uowm.Current` return null.
repository [https://github.com/Omital/TAuth02.git](url) updated.

[2022-01-31 05:32] ismcagdas commented on #6337
You can try something like this;

[code]

[2022-01-31 05:50] ismcagdas commented on #6369
@crstnsz this is fixed with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6271/files but you need to upgrade to ABP v7 and .NET 6.

[2022-01-31 07:56] worthy7 opened #6370 "Empty or invalid anti forgery header token"
https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection#non-browser-clients

I upgraded from 5 -> 7 recently, and one of our endpoints (which is used by just an API client system, no browser) is broken and throwing this error in the log:

[code]

I added the  `[DisableAbpAntiForgeryTokenValidation]` to the interface method and it works now, but still, the system was working before and n

[2022-01-31 10:48] ismcagdas commented on #6307
@lineralpha as the exception message states, changing the constructor of AcmeDemoRepositoryBase to public solves the problem.

[2022-01-31 10:53] ismcagdas commented on #6312
Hi @egrassinode sorry for my late reply. I have investigated the problem and it seems like current DbContext creation logic doesn't support this usage, see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1903#issuecomment-283577173. Sorry that I forgot this and kept you waiting.

[2022-01-31 13:06] demirmusa opened #6371 "Entity History is not working if project uses multiple dbcontext"

[2022-01-31 13:47] demirmusa commented on #6371
It works when dbcontext inherits AbpZeroDbContext but not works if context inherits AbpDbContext

[2022-01-31 18:18] smhnlxndr opened #6372 "Integration with Azure Service Bus or Kafka"
I read documentation regarding Event Bus, and tried it. But I don`t see documentation regarding  integration with Azure Service Bus, or some other event handlers (like distributed event handlers).

Current EventBus works well, but it works synchronously in 1 request, and I can`t publish some event and end my request for example.

[2022-01-31 18:22] Omital commented on #6337
@ismcagdas  Thank you. It work with little change.

[2022-01-31 20:05] eoehen opened #6373 "ApplicationLanguageTextManager should support the deletion of a tenant specific localized string from database"
It would be nice if  `ApplicationLanguageTextManager ` supports the deletion of a tenant specific localization string.

`ApplicationLanguageTextManager ` should have a new Methode `DeleteStringAsync` with required parameters:
- tenantId
- sourceName
- culture
- key

If the entry is present, it should be removed.

[2022-02-01 05:40] #6337 closed

[2022-02-01 05:41] ismcagdas commented on #6372
@smhnlxndr currently we don't have such an integration but we can consider it for the following versions, thanks.

[2022-02-01 05:52] ismcagdas commented on #6370
@worthy7 could you share the request headers ?

[2022-02-01 07:34] #6371 closed

[2022-02-01 08:23] smhnlxndr commented on #6372
How much time you need for it? Because maybe our team will create self solution and maybe contribute.

[2022-02-01 08:25] ismcagdas commented on #6372
We will be very happy if you can make a contribution. I think it will take at least 1-2 month for us to start working on this.

[2022-02-01 09:52] smhnlxndr commented on #6372
Ok we will start do it in this or next week.

[2022-02-01 15:22] Saxroll commented on #6175
Hi,
We have managed to merge our project with blank template. At first we were testing it on our local web IIS server  locally through the ip address. It all seems to be working fine :) We were happy about this it finally worked.
But then when we tried to login to the same web server through the public domain address we encountered exactly the same problem. After 30 minutes the Application.Identit

[2022-02-02 08:16] demirmusa commented on #6254
I did reproduce the problem. We are trying to fix it but it needs more time to investigate. You can temporarily activate interceptors back to solve the issue.

[code]

[2022-02-02 08:17] demirmusa commented on #6254
I did reproduce the problem. We are trying to fix it, but we need more time to investigate. You can temporarily activate interceptors back to solve the issue.

[code]

[2022-02-02 23:35] pixelapocalypseuk opened #6376 "CreateFilteredQuery using multiple contexts"
* Abp package version - 7
* Base framework - .Net Core.
* Exception message - `The provider for the source 'IQueryable' doesn't implement 'IAsyncQueryProvider'. Only providers that implement 'IAsyncQueryProvider' can be used for Entity Framework asynchronous operations.`

Hey Guys,

I cant seem to figure out the solution to this issue. Im using a context per tenant and obviously one for the host.

[2022-02-03 10:28] #6272 closed

[2022-02-03 10:29] ismcagdas commented on #6272
@DamienLaw I couldn't make it all automatic because, it requires instantiating the DbContext to get registered entities. So, we have introduced a new approach for registering entities for using with IRepository<>, you can take a look at https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6377#issue-839141029

[2022-02-03 14:21] Alexia-AT-Digitecnology opened #6378 "Angular Unit Testing system is not working (Jasmine)"
The angular project unit testing system of an ABP project does not work or it's broken.

* **ABP Package version:** .7.0.1
* **Base framework:** .NET 6.0, Node v16.13.2
* **Exception message and stack trace if available:**

[code]

* **Steps needed to reproduce the problem:**

- Create a Project using the latest version of ABP
- In the angular project run "yarn"
- Run "npm test"

[2022-02-03 14:53] acjh commented on #6376
A `List` source doesn't implement `IAsyncQueryProvider`.

You can check [https://stackoverflow.com/questions/51023223/the-provider-for-the-source-iqueryable-doesnt-implement-iasyncqueryprovider](https://stackoverflow.com/q/51023223/8601760). However, the top answer pertains to unit tests, and I haven't gotten it to work with the other answers.

Since all `licenses` are already loaded into memory,

[2022-02-03 15:37] TunaCoL commented on #4682
I'm adding a comment on this old ticket in order to not open a new one.

The regex is configurable but it doesn't accept a number as the first character. We've tried
`^[a-zA-Z0-9][a-zA-Z0-9_-]{1,}$` as well as `^[a-zA-Z0-9_-]{1,}$` but it fails with incorrect tenancy name during creation in `CreateAsync(tenant)` in `AbpTenantManger`.

Is this expected / as-designed?

[2022-02-03 16:23] pixelapocalypseuk commented on #6376
Hey @acjh,
Thanks for the assistance, i have added the service to the EFCore project and its failing inside with the following

[code]

Im of no doubt im doing something wrong here but i would appreciate the save.

Regards

[2022-02-03 16:32] acjh commented on #6376
Are you filtering on related entities? If so, you need to `.Include()` those relations.

[2022-02-03 16:40] acjh commented on #4682
You should open a new ticket since your issue is distinctly different.

[2022-02-03 16:51] pixelapocalypseuk commented on #6376
@acjh Not to my knowledge, the Licences object is as follows,

[code]

[2022-02-03 17:04] acjh commented on #6376
Is `AssignedTo` `null`? Change `x.AssignedTo.Contains(input.Keyword)` to `x.AssignedTo?.Contains(input.Keyword) ?? false`

[2022-02-03 17:45] pixelapocalypseuk commented on #6376
I just removed the whereIf entirely and still getting the same error.

[2022-02-03 18:03] acjh commented on #6376
Can you create a repro project that is forked from [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template)?

[2022-02-03 18:13] pixelapocalypseuk commented on #6376
@acjh probably not easily, i can remote with you at some point if you like, this isn't hugely critical for what im doing at so if you have some spare moments at some point to look we could do it that way? The efcore project has been ported out to a shared nuget package between this project and another so replicating that would be quite a bit of work.

[2022-02-03 18:35] pixelapocalypseuk commented on #6376
@acjh my mistake, the tenant was null which was causing the issue and now it returns properly the amount of licences but the pagination doesnt work, its showing 12 on a page of 10

[2022-02-04 01:34] acjh commented on #6376
I'm not sure how to reproduce that.

[2022-02-04 05:54] demirmusa opened #6379 "Delete user logins when user deleted"
https://support.aspnetzero.com/QA/Questions/10706/Logging-in-with-soft-deleted-user-account-using-SSO-throws-an-internal-error-exception

[2022-02-04 07:10] ismcagdas commented on #6376
@pixelapocalypseuk Do you also use or plan to use separate database for some or all tenants ?

[2022-02-04 07:30] ismcagdas commented on #6378
@Alexia-AT-Digitecnology thanks, we will work on this in the next version.

[2022-02-04 07:51] demirmusa opened #6381 "Use abp-web-resources 5.5.0 in abp-ng2-module"
- [ ] waiting for `abp-web-resources` v5.5.0
required for https://github.com/aspnetboilerplate/abp-ng2-module/pull/93

[2022-02-04 09:43] ismcagdas commented on #6381
This is done and abp-ng2-module 7.1 is released with abp-web-resources 5.5.0 dependency.

[2022-02-04 09:43] #6381 closed

[2022-02-04 10:33] #6379 closed

[2022-02-04 12:03] pixelapocalypseuk commented on #6376
@ismcagdas yes its a possibility, im aware this call will cause some serious performance issues depending where the databases are but i need the licences in this list on the host from all tenants, each tenant has their own licence list also.

[2022-02-04 15:48] Fane276 opened #6382 "MVC Typescript sample"
Hello, I am looking for way of using typescript for ASP.NET MVC UI option as base project. Is there any possibility to get an sample of how to configure the project in order to also use typescript? I am asking because libman does not work properly for @types.

[2022-02-06 18:42] douglasg14b commented on #4444
@afonsoft Isn't using static fields for this asking for problems the moment you have more than 1 job running simultaneously?

[2022-02-06 18:48] afonsoft commented on #4444
Yes, i reewrite a class in backjobmanager of hangfire for include a New interface with performance context. Ser in my repository a create a EAF basead on abp. I haver many fix for hangfire.

[2022-02-06 23:44] worthy7 commented on #6370
[code]

[2022-02-07 05:41] ismcagdas commented on #6370
Thanks. I think this happens because your request headers contain User-Agent header. If it is a non-browser client, why do you need this header ? Is it possible to remove it from the headers ?

[2022-02-07 05:59] ismcagdas commented on #6382
Hi @Fane276

We don't have such a sample at the moment. We may work on this but I can't say a date about when we can work on this.

[2022-02-07 06:06] ismcagdas commented on #6376
If that's the case, you can use [Domain Events](https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events) and create a host side entity (a new entity which is copy of License entity) when a tenant side License entity is created. In that way, a host user can easily query License records.

We are using a similar approach for keeping a list of all users on Host database, see https://githu

[2022-02-07 06:48] ismcagdas commented on #6175
I couldn't come up with an solution idea since we can't reproduce the problem. Maybe you can write extra logs and try to figure out why security stamp is not valid.

[2022-02-07 06:58] ismcagdas commented on #4520
@bobingham sorry for my late reply, is it possible for you to create a new issue ? We can definitely work on this.

[2022-02-07 07:30] worthy7 commented on #6370
I don't actually know what request our service is making, but I do know that manually pressing "Try it now" on the swagger page no longer works, when it did before. What did you guys change between 5 and 7 to make the swagger calls stop working?
if it's the correct behaviour then that's fine I guess, but perhaps some js needs jamming into the swagger page to put headers on it?

[2022-02-07 07:54] ismcagdas commented on #6370
As far as I remember, we haven't changed anything but there might be changes on ASP.NET Core side.

[2022-02-07 08:27] Fane276 commented on #6382
That's very nice, thank you @ismcagdas ! I wish also to try creating a sample, but I need some advices from you. Do you recommend using node.js and npm combined with webpack or gulp or should I continue using libman? If I succeed I will be more than glad to give it to everyone.

[2022-02-07 08:51] worthy7 commented on #6370
Is it the correct behaviour? Should the swagger docs "Try it now" be blocked by ABP because of lack of XSRF token?

[2022-02-07 16:46] pixelapocalypseuk commented on #6376
@ismcagdas thats a good idea, ill impliment that, then it should solve my paging issue aswell! Tyvm!

[2022-02-07 17:09] acjh commented on #6370
I couldn't reproduce this. Are you sure you aren't passing `XSRF-TOKEN` and/or `.AspNet.ApplicationCookie` cookies?

[2022-02-08 04:36] ismcagdas commented on #6370
@worthy7 no, it should work by default. Could you check Aaron's comment ?

[2022-02-08 04:38] worthy7 commented on #6370
I'm sure, it is exactly as I wrote above.

Do your requests have an XSRF-TOKEN in the header? If so, how is that added? By the custom abp-swagger js?

[2022-02-08 04:48] ismcagdas commented on #6370
@worthy7 it is done here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/wwwroot/swagger/ui/index.html#L99. We have customized the index.html

[2022-02-08 05:03] worthy7 commented on #6370
I see, there is indeed an error in my console that it cannot get the injected script. perhaps the way it works have changed between 5-7 and I need to reinstall/config swagger.

[2022-02-08 05:19] worthy7 commented on #6370
I checked the docs and it is indeed installed the same way, and i haven't touched any of this code for years... why might it no longer be able to get the script? It's getting a 404....

[2022-02-08 05:20] acjh commented on #6370
Can you share the project?

[2022-02-08 05:22] ismcagdas commented on #6382
I think libman is not suitable for that. Using webpack or gulp would be better.

[2022-02-08 05:35] worthy7 commented on #6370
I am using non-core btw, Original .NET

No sorry...

[2022-02-08 05:40] acjh commented on #6370
Did you follow https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration#asp-net-5-x?

Can you reproduce the problem on a fork of [aspnetboilerplate/module-zero-template](https://github.com/aspnetboilerplate/module-zero-template)?

[2022-02-08 05:41] worthy7 commented on #6370
Yes

Trying to set that up now...

[2022-02-08 06:18] worthy7 commented on #6370
the sample works fine, so I must have messed up a name or a setting or we content filter or something somewhere

[2022-02-08 06:18] #6370 closed

[2022-02-08 18:32] DrAnaconda opened #6383 "Redis timeout exceptions"
* Your Abp package version:
[code]

* Your base framework: .Net Framework or .Net Core.
<TargetFramework>net6.0</TargetFramework>

* Exception message and stack trace if available.
Message:
[code]

Stack trace:
[code]

* Steps needed to reproduce the problem.

1. Deploy an application to azure B1 app service instance
2. Put application under high load (I put 500 simple GET requests at once)
3. Exc

[2022-02-09 00:05] worthy7 commented on #6370
This is the request from our service, should this be blocked or accepted by ABP?

[code]

[2022-02-09 04:15] ismcagdas commented on #6370
Yes, because it contains User-Agent header.

[2022-02-09 04:20] ismcagdas commented on #6383
Hi,

Could you use per request Redis cache package as explained here https://aspnetboilerplate.com/Pages/Documents/PerRequestRedisCache and see if it makes any difference ?

[2022-02-09 04:29] acjh commented on #6370
@ismcagdas Can you share where ABP blocks requests that contain User-Agent header? Non-browser clients send it too.

[2022-02-09 04:48] ismcagdas commented on #6370
@acjh ABP doesn't do that actually. As I remember, ASP.NET Core does that but I couldn't find the related part in ASP.NET Core at the moment. I will take a look and share it with you if I can find it.

[2022-02-09 05:00] acjh commented on #6370
I could not reproduce this issue on ASP.NET Core (nor ASP.NET MVC 5), so I doubt ASP.NET Core does that.

Also, **@<span></span>worthy7** is asking about ABP on ASP.NET MVC 5.

[2022-02-10 08:50] imgd commented on #6383
StackExchange.Redis 组件就是有这个问题，主要表现场景为存取大容量数据容易出现。
用csredis替换则正常。https://github.com/2881099/csredis

[2022-02-10 17:31] qmmoore commented on #5012
Only one complex type allowed as argument to services methods,
If you will use multiple complex types then it will generate error 500, i resolve my issue like this to shifted all parameters required into one class and then pass into it.

[2022-02-10 17:31] qmmoore commented on #1692
Only one complex type allowed as argument to services methods,
If you will use multiple complex types then it will generate error 500, i resolve my issue like this to shifted all parameters required into one class and then pass into it.

[2022-02-10 19:45] odesyatnyk opened #6384 "Why ValueObject had deleted equality operators?"
It's funny that issue template asks to refer to documentation and it's really outdated there about this topic :)
See [ValueObject](https://aspnetboilerplate.com/Pages/Documents/Value-Objects) documentation, it still states that `class overrides the equality operator`.

At this point i'm trying to understand why it was removed at the end? Because of inability to implement correct GetHashCode method

[2022-02-11 02:32] lineralpha commented on #6307
ah, good to know! Thanks for looking into it.

[2022-02-11 08:16] Fane276 commented on #6382
Me and my colleagues managed to find an work around for this case. We chouse to continue using libman and we installed types with npm. This is just a work around is not a suitable solutions, but it works.

[2022-02-11 08:45] ismcagdas opened #6385 "Upgrade templates to ABP 7.1 and release"
Upgrade 4 templates to ABP 7.1 and release new versions.

[2022-02-11 11:23] demirmusa commented on #6385
- [ ] module-zero-core-template
- [ ] aspnet-core-template
- [ ] module-zero-template
- [ ] aspnetboilerplate-template

[2022-02-11 16:52] odesyatnyk commented on #6384
@ismcagdas okay, obviously it does not work for Entity when your GetHashCode relies on Autogenerated Id. I'd still debate why in GetHashCode use Id, but for now my question is about Value Objects.

Value Object cannot have ID by specification, hense all the properties must be set prior to persisting items to db. In this way implementing GetHashCode *without ID* will work just fine, and IMO issues

[2022-02-13 13:34] sahilpma commented on #3342
Hi.
I am able to implement facebook social login, but stuck with google login.
Tried this code, but no luck.

![image](https://user-images.githubusercontent.com/38884892/153755502-0bd882f2-d542-4046-960f-34a49fc29fc9.png)

Always getting this error:

ERROR 2022-02-13 18:12:39,134 [20   ] Mvc.ExceptionHandling.AbpExceptionFilter - Error:"invalid_grant", Description:"Malformed auth code.", Uri:""
Go

[2022-02-13 14:19] sahilpma opened #6386 "External login - google"
From issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3342

Hi.
I am able to implement facebook social login, but stuck with google login.
Tried this code, but no luck.

![image](https://user-images.githubusercontent.com/38884892/153755502-0bd882f2-d542-4046-960f-34a49fc29fc9.png)

Always getting this error:

ERROR 2022-02-13 18:12:39,134 [20   ] Mvc.ExceptionHandling.AbpExcepti

[2022-02-14 05:25] ismcagdas commented on #6386
@sahilpma could you share the authCode as well ? Can you see it ?

[2022-02-16 04:37] jpierson-at-riis opened #6387 "Broken link on the documentation website for v6.4.0"
There is a broken link (https://aspnetboilerplate.com/Pages/Documents/6.4.0/) which can be found under the Versions dropdown on the [Documents page](https://aspnetboilerplate.com/Pages/Documents/).

![image](https://user-images.githubusercontent.com/77620925/154197119-0ada2729-6478-41eb-afbb-6763aa2fdda8.png)

![image](https://user-images.githubusercontent.com/77620925/154197145-29af2663-78ab-4493

[2022-02-16 04:39] ismcagdas commented on #6387
Thanks @jpierson-at-riis I will check this.

[2022-02-16 12:50] sahilpma commented on #6386
Sorry for late reply.
This is the google response that I received.

`{
    "accessToken": "ya29.A0ARrdaM-aBWZCwd7mGcjAPmZvJYubzOuBQ5irUaW-CIjdfiEV25DO2INQTw0RSkVhHod3A3kGrM8KUdDXe5CI5xHQJV1ml7fTbokt97hBm6YPnLNKx34N_XP1yXoLFckJPOKumoBsxWdgCE_ffJ7Mg-ZHWrZ7mw",
    "expires": 1645017970,
    "expires_in": 3593,
    "email": "xxxx@gmail.com",
    "idToken": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImY0YmIyMjBjZDA

[2022-02-19 16:30] amira133 opened #6389 "How to translate InternalServerError ?"
Hi,

I want to know how to translate `InternalServerError` in `aspnetboilerplate`?

[2022-02-20 14:07] ismcagdas commented on #6389
Hi @amira133, you can do it as explained here https://aspnetboilerplate.com/Pages/Documents/Localization#extending-localization-sources. Let me know if you face any problems while doing that.

[2022-02-21 17:53] DrAnaconda commented on #6383
Hi @ismcagdas . Sorry for the long delay. Tried to incorporate PerRequest but with my test case, the same problem still is being reproduced. Maybe result will be better under "usual"/"normal" load. I will reply after stats will be generated.

I am going to override/wrap AbpRedisCache and fallback on default value, if exception occurred. After this will try to injecting @imgd `s solution with an in

[2022-02-21 17:53] imgd commented on #6383
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-02-22 07:07] worthy7 opened #6390 "[Docs] Instructions not clear on Snapshot Manager"
### Documentation

Using ABP 7, I tried using this snapshot manager but the docs say
_IEntitySnapshotManager.GetSnapshotAsync(...) returns an EntityHistorySnapshot that contains the snapshot value of all changed properties on the given date and a stack tree of the changes._

But from code, it seems that actually it gets all changes FROM a specific date:

https://github.com/aspnetboilerplate/aspnet

[2022-02-22 10:36] ismcagdas commented on #6390
@worthy7 thanks, we will update the documentation.

[2022-02-22 12:15] worthy7 commented on #6390
Also I hate to be that guy, but these are not snapshots. I was expecting it to reproduce the entity itself at that point in time (by working backwards or whatever.

This is just more like a log of what happened. I feel the word snapshot is just wrong.

[2022-02-23 00:32] amendez1000 opened #6391 "Question: Handling Styles in Angular"
Hello Everyone,

I know this is not a direct question for ABP framework. However, there is something that I haven't figured out related to Styles in Angular and I would like any advice if possible.

Recently, I uplifted my application created on ABP 5.4.0 to ABP 6.5.0. I am using .net 5 and Angular 12. Everything in the backend is ok. However, in the frontend is where I have a problem.

When the s

[2022-02-23 04:29] ismcagdas commented on #6391
@amendez1000 are you able to load the styles when you refresh the page several times ?

[2022-02-23 05:36] amendez1000 commented on #6391
Hello @ismcagdas,

No. The styles are not injected until I am back to the main page. My web site has a main page and others. When user logs in to the application, it is the point where user access to the abp front-end. In that moment,  styles are still injected. But if I refresh the page, some styles are lost and the page is disorganized. I need to got back to the main page and styles are injected

[2022-02-24 01:09] lpb243310820 opened #6392 ".net5 abp6.5 WPF"
When I use abp6.5 and WPF integration (.Net5), the following error occurs, how to solve it?
error:
[code]

use:

[2022-02-24 04:11] amendez1000 commented on #6391
Hello @ismcagdas ,

No. The styles are not injected until I am back to the main page. My web site has a main page and others. When user logs in to the application, it is the point where user access to the abp front-end. In that moment, styles are still injected. But if I refresh the page, some styles are lost and the page is disorganized. I need to got back to the main page and styles are injected

[2022-02-24 06:06] ismcagdas commented on #6391
@amendez1000 this seem like an Angular problem but if you can share your project, we can try to check the problem.

[2022-02-24 06:08] ismcagdas commented on #6392
Is this the entire error message ? As I can see, the real error message is cut off. Could you share the entire message ?

[2022-02-24 10:58] ismcagdas commented on #6385
7.1 version is released for all templates

[2022-02-24 10:58] #6385 closed

[2022-02-24 14:38] m-aliozkaya opened #6393 "Supporting multiple domains in server side for DomainTenantResolveContributor"
Supporting multiple domains in server side.

Example;

domain1.com request reaches to api.domain1.com
domain2.in request reaches to api.domain2.in

[2022-02-25 00:43] amendez1000 commented on #6391
@ismcagdas , I will work on a small version of my site and try to reproduce this issue and share it. Thanks!

[2022-02-25 06:04] #6393 closed

[2022-02-25 07:49] demirmusa commented on #6390
Hi @worthy7
What about returning an entity (with the value it has at the time) in the EntityHistorySnapshot result. So you can use entity like:
[code]

[2022-02-25 11:37] ismcagdas commented on #6387
Documents for v6.4.0 is now accessible on https://aspnetboilerplate.com/Pages/Documents/v6.4.0/

[2022-02-25 11:37] #6387 closed

[2022-02-26 08:22] worthy7 commented on #6390
Yes if it was an actual entity, recreated at that point in time, that would be a snapshot.

Your code seems sort of related but not exactly, since its just the property.

[2022-02-28 04:21] takato1314 commented on #6382
Hi i would be glad as well if there's a sample project with ABP Net Core with Typescript being shown.

[2022-02-28 11:28] #6378 closed

[2022-02-28 11:28] ismcagdas opened #6395 "Switch to module per page approach for Angular template"
So, the app will have a better structure for testing

[2022-02-28 11:29] ismcagdas commented on #6378
@Alexia-AT-Digitecnology this issue is fixed but the current structure is not suitable for testing. I have created a new [issue](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6395) to change the Angular project's structure.

[2022-02-28 12:07] #6278 closed

[2022-02-28 12:48] easyest commented on #6278
Thanks.

[2022-02-28 12:50] easyest commented on #6278
BTW, You made this ticket closed, so I do no think anybody will take another look :)

[2022-03-02 00:35] amendez1000 commented on #6391
@ismcagdas I decided to start again my application using 6.5.0. Until now, I haven't found any problem refreshing the UI. I still believe that problem has a relation with all styles I was using on my website. I was using Angular Material, Bootstrap, and the ABP styles from 5.4.0 mixing all of them with the new ones from 6.5.0.
Thanks!

[2022-03-03 00:18] amendez1000 opened #6397 "Question: ABP Validation Summary Component"
Hi Everyone,

In my application, I am using ABP boilerplate 6.5.0 with Angular and .net.

I am using the Calendar component from PrimeNG as follow:

[code]

However, I am getting this error in the console:

ERROR TypeError: el.classList is undefined
    Angular 2
    getValidationErrorMessage abp-validation.summary.component.ts:82
    AbpValidationSummaryComponent_ng_container_0_ng_container_1_spa

[2022-03-03 06:51] ismcagdas commented on #6397
Hi @amendez1000, abp-validation-summary was a community contribution component. I'm not familiar with it but we can take a look at this problem. It might take several days to check this problem.

I assume, by addin "is-invalid" class to the original element will also mark the element as invalid with red border.

[2022-03-08 01:33] mkamranaslam opened #6399 "Question: How to Save Server Name in AbpAuditLogs Table"
Hi, I am running aspnetboilerplate on an IIS Clustered env. And I would like to save the Server's Name to the AbpAuditLog Table, that served the request.
Can someone guide me if there is any pre-built option for this or a workaround?

[2022-03-08 04:13] ismcagdas commented on #6399
@mkamranaslam normally it should be saved to ClientName field, is that empty for your records ?

[2022-03-08 04:31] mkamranaslam commented on #6399
It is being saved as null, for both my production Clustered env, and for a dev single server without clustering.
My TargetFramework is netcoreapp3.1.
Abp is 5.14.0

[2022-03-08 04:52] ismcagdas commented on #6399
It is retrieved by this code https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src%2FAbp.Web%2FAuditing%2FWebClientInfoProvider.cs#L87. You cam create your own implementation of WebClientInfoProvider and override the GetComputerName method and implement it yourself.

[2022-03-08 05:09] mkamranaslam commented on #6399
@ismcagdas I am using .net core, i would need to override,
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/src/Abp.AspNetCore/AspNetCore/Mvc/Auditing/HttpContextClientInfoProvider.cs
Or
This one https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/src/Abp.Web/Auditing/WebClientInfoProvider.cs

[2022-03-08 05:11] ismcagdas commented on #6399
You are right, if it is .NET Core, then you need to override HttpContextClientInfoProvider.

[2022-03-08 05:12] mkamranaslam commented on #6399
Thanks i see, HttpContextClientInfoProvider GetComputerName returns null and is not implemented.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/src/Abp.AspNetCore/AspNetCore/Mvc/Auditing/HttpContextClientInfoProvider.cs#L54

[2022-03-08 06:56] jpierson-at-riis commented on #6387
Looks good, thanks for putting this up!

[2022-03-09 04:48] ismcagdas commented on #6399
@mkamranaslam I couldn't remember why we haven't implemented this. We can work on this for the following versions but you can implement it yourself for now and send a PR if possible :)

[2022-03-09 04:51] mkamranaslam commented on #6399
@ismcagdas I would love to contribute. I will try to implement and send the PR as soon as I can. Thanks for your help

[2022-03-09 05:56] mkamranaslam commented on #6399
@ismcagdas PR created. Please check, if it serves the purpose.

[2022-03-10 00:11] shpsyte opened #6401 "How to run/create a docker for the aspnet-core using linux containter"
Hi there

Please delete if it is the wrong place, but honestly, I can't find another community to ask.

I am trying to create an image from the aspnet-core to deploy on Heroku
I can't find a way to achieve that.

Currently, I am using Linux, so I have other challenges as well.

I follow (to have insight):

https://aspnetboilerplate.com/Pages/Documents/Articles/Running-in-Docker-Containers-and-Buil

[2022-03-10 04:50] MohammadMobasher opened #6402 "Custom function in Odata"
Hi
I'm using Abp.Zero project and recently update it to 7 version. before this upgrade I have a controller in odata like this:

     `
    [DontWrapResult]
    public class VoucherHeaderController : AbpODataEntityController<Whc.Finance.Voucher.VoucherHeader, long>, ITransientDependency
    {
        private readonly IRepository<Voucher.VoucherHeader, long> _repository;
        private readonly IOb

[2022-03-10 07:41] ismcagdas commented on #6402
@MohammadMobasher what is the error you are getting ?

[2022-03-10 11:34] gterdem commented on #6401
Hello,
This is not related with aspnetboilerplate but creating and [hosting .Net core image with docker ver https](https://docs.microsoft.com/en-us/aspnet/core/security/docker-https?view=aspnetcore-6.0). But i'll try to help.

Error indicates your ssl certificate file couldn't be found or it is out of date.

`RUN cp /.aspnet/https/smartapp.web.host.pfx /usr/local/share/ca-certificates/aspnet` this

[2022-03-10 18:45] totpero opened #6403 "ComponentActivatorException: ComponentActivator: could not instantiate Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure.PageActionDescriptorProvider"
After I update all Microsoft nugets packages from 6.0.2 to 6.0.3, An exception throwed:
`ComponentActivatorException: ComponentActivator: could not instantiate Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure.PageActionDescriptorProvider
`
* Abp package version: 7.1.0.
* Your base framework: .Net Core.

Here is the call stack:
[code]

[2022-03-11 05:55] ismcagdas commented on #6403
@totpero did you try this in a not modified project ?

[2022-03-11 08:33] totpero commented on #6403
@ismcagdas Yes, I try with new empty template and I get the same error.

[2022-03-11 17:36] shpsyte commented on #6401
Thank you @gterdem for your answer.
I know it's not directly related to aspnetboilerplate, but all other forums, .net core and Linux aren't able to help me to understand the problem.

My hope was to have someone who works with Aspnetboilerplate + Linux + Docker here.

It still doesn't work and feels free to close it.

I might migrate my tech or to another forum.

[2022-03-11 17:36] #6401 closed

[2022-03-12 04:00] MohammadMobasher commented on #6402
this :

![image](https://user-images.githubusercontent.com/21193462/158002863-0042ac8c-d8b8-4907-8c95-2877897c566e.png)

[2022-03-13 10:13] ismcagdas commented on #6402
@MohammadMobasher is it possible to share your project ? If not, we will try to reproduce this but it might take some time.

[2022-03-14 04:24] MohammadMobasher commented on #6402
sorry but I can't, but it's so simple as I explain in above...
tanks for you responding

[2022-03-14 11:07] ismcagdas commented on #6402
@MohammadMobasher it seems like this is related to https://github.com/OData/AspNetCoreOData/issues/444.

Adding the HttpGet attribute as shown below fixes the problem.

`[HttpGet("odata/VoucherHeader/TestFunction")]`

[2022-03-14 11:07] #6402 closed

[2022-03-15 06:43] xiaohui-gsv opened #6406 "Question: Will the UOW open the DB connection even my controller or application service doesn't need to access DB?"
Hello Everyone,

I'm wondering will the UOW open the DB connection even my controller or application service doesn't need to access DB? or do I need to disable the UOW explicitly? thank you.

BTW, my ABP package version is 5.14.0, the ORM is EF core, the provider is Npgsql.EntityFrameworkCore.PostgreSQL.

[2022-03-15 06:44] xiaohui-gsv opened #6407 "Question: Will the UOW open the DB connection even my controller or application service doesn't need to access DB?"
Hello Everyone,

I'm wondering will the UOW open the DB connection even my controller or application service doesn't need to access DB? or do I need to disable the UOW explicitly? thank you.

BTW, my ABP package version is 5.14.0, the ORM is EF core, the provider is Npgsql.EntityFrameworkCore.PostgreSQL.

[2022-03-15 06:45] #6406 closed

[2022-03-15 06:47] xiaohui-gsv commented on #6406
Close this due to submitting the question duplicated since the network issue. The question is here #6407

[2022-03-15 10:18] ismcagdas commented on #6397
It seems like for such components, you should use;

`[controlEl]="startDateEl.el.nativeElement"`

[2022-03-16 04:47] ismcagdas commented on #6407
@xiaohui-gsv yes, if you don't disable the UoW manually, it will open a connection.

[2022-03-16 04:58] #6399 closed

[2022-03-16 07:10] ismcagdas commented on #5923
@liyojose did you figure out this problem ?

[2022-03-16 07:10] ismcagdas commented on #6175
@Saxroll did you find a solution to this problem ?

[2022-03-16 07:11] #6280 closed

[2022-03-16 07:11] #6289 closed

[2022-03-16 07:11] #6292 closed

[2022-03-16 07:12] #6294 closed

[2022-03-16 07:12] ismcagdas commented on #6296
@FirasKira did you find a way to do this ?

[2022-03-16 07:13] #6299 closed

[2022-03-16 07:13] #6300 closed

[2022-03-16 07:13] #6301 closed

[2022-03-16 07:14] #6302 closed

[2022-03-16 07:14] #6307 closed

[2022-03-16 07:14] #6311 closed

[2022-03-16 07:15] #6312 closed

[2022-03-16 07:15] #6317 closed

[2022-03-16 07:15] #6327 closed

[2022-03-16 07:16] ismcagdas commented on #6343
@smhnlxndr did you figure out a solution to this problem ?

[2022-03-16 07:16] #6348 closed

[2022-03-16 07:16] #6349 closed

[2022-03-16 07:17] #6352 closed

[2022-03-16 07:17] ismcagdas commented on #6354
@MohammadMobasher did you find a way to implement this ?

[2022-03-16 07:18] ismcagdas commented on #6360
@behiunforgiven did you solve this problem ?

[2022-03-16 07:19] ismcagdas commented on #6362
@cfyazilimgithub did you solve this problem ?

[2022-03-16 07:19] #6369 closed

[2022-03-16 07:20] ismcagdas commented on #6383
@DrAnaconda did you make any progress on this ?

[2022-03-16 07:20] imgd commented on #6383
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-03-16 07:20] ismcagdas commented on #6386
@sahilpma did you find a way to implement this ?

[2022-03-16 07:20] #6389 closed

[2022-03-16 07:20] #6391 closed

[2022-03-16 07:21] ismcagdas commented on #6392
@lpb243310820 did you solve this problem ?

[2022-03-16 07:26] lpb243310820 commented on #6392
yes，I have solved this problem。
`var services = new ServiceCollection();
WindsorRegistrationHelper.CreateServiceProvider(IocManager.IocContainer, services);
`

add these codes in Initialize()；

`public override void Initialize()
{
    IocManager.RegisterAssemblyByConvention(Assembly.GetExecutingAssembly());

    var services = new ServiceCollection();
    WindsorRegistrationHelper.CreateServicePro

[2022-03-16 07:29] DrAnaconda commented on #6383
Hi @ismcagdas , sorry drowned in daily routine

Yes. I incorporated following approach (same for TryGetValues & others):

[code]

It is working now, no issues anymore. Maybe we will use another redis client but for now this solution appreciable. It is handles common anomalies.
While testing I used a randomizer to throw exceptions inside this method. If exceptions will be continuous, not rare appli

[2022-03-16 07:32] tayfunuyar opened #6408 "Multi Lingual Entities translation not updated."
My Base Entity Dto :
  public class DialogDto: EntityDto<long>
    {
        public string GeneralName { get; set; }
        public List<DialogTranslationDto> Translations { get; set; }
    }
Translation Entity Dto :
 public class DialogTranslationDto : EntityDto<long>
    {
        public string Name { get; set; }
        public string Image { get; set; }
        public string Language { get; set

[2022-03-16 07:46] liyojose commented on #5923
Hi @ismcagdas  we have resolved this issue with some alternatives. @ashikvashraf  Do u remember how we fixed this issue?

[2022-03-16 07:50] FirasKira commented on #6296
@ismcagdas actually I got around it, I created another (secondary) Navigator.

[2022-03-16 08:01] armoghaddam opened #6409 "Error while executing 'npm run test' in aspnet boilerplate react template"
I have downloaded aspnet boilerplate react template, backend for Dotnet core works fine but react application didn't. Whenever I execute npm run test then app crashed.

[code]
this error occured when i ran test command!

App.test.tsx

[code]

[2022-03-16 08:26] sahilpma commented on #6386
Yes.
I created a script to implement google authentication and add user to database.
(Took help from stackoverflow and github issues)

![image](https://user-images.githubusercontent.com/38884892/158547860-72e18f07-d9b9-4009-9f55-efb6dbeb82e6.png)

[2022-03-16 08:56] x-brymo opened #6410 "Bro"
Nice 👍

[2022-03-16 09:02] #6410 closed

[2022-03-16 09:10] xiaohui-gsv commented on #6407
Cool, got it, thank you. :)

[2022-03-16 09:12] #6407 closed

[2022-03-16 11:11] ashikvashraf commented on #5923
We had to call an extra API to set the session parameters.

[2022-03-16 15:14] AntheusS commented on #6175
@ismcagdas I am experiencing the same problem while using Microsoft Identity (not IdentityServer) with default authentication (application cookie).

When I use:

    services.Configure<SecurityStampValidatorOptions>(options => options.ValidationInterval = TimeSpan.FromSeconds(30));

I will get logged out after 30 seconds.

[2022-03-16 15:14] AntheusS commented on #6175
@ismcagdas I am experiencing the same problem while using Microsoft Identity (not IdentityServer) with default authentication (application cookie).

When I use:

    services.Configure<SecurityStampValidatorOptions>(options => options.ValidationInterval = TimeSpan.FromSeconds(30));

I will get logged out after 30 seconds.

[2022-03-16 21:26] AntheusS commented on #6175
As stated by @Saxroll, this seems to be an issue with the security stamp validation. This is currently stopping us from going live, so I had to use the workaround that @Saxroll described by adding the following to the Startup class:

    services.Configure<SecurityStampValidatorOptions>(options =>
    {
        options.ValidationInterval = TimeSpan.FromDays(365); // Instead of the default 30 minut

[2022-03-17 00:48] shpsyte opened #6411 "Run it on Linux Docker container"
Does anyone have a script (DockerFile) to run it on a Linux Docker container?

[2022-03-17 06:36] mkamranaslam opened #6412 "SessionAppService_Tests TenantManager is null"
Hi, when trying to run Should_Get_Current_User_And_Tenant_When_Logged_In_As_Tenant in SessionAppService_Tests, TenantManager is not resolved, it is null.
My Abp version is 5.14

[2022-03-17 06:47] mkamranaslam commented on #6412
Got it working, i manually tried resolving TenantManager in the SessionAppService_Tests, and it gave me error of can't resolve
because of Hangfire.IBackgroundJobClient.
So I added RegisterFakeService<Hangfire.IBackgroundJobClient>(); in my TestModule

[2022-03-17 08:52] #6412 closed

[2022-03-17 08:54] ismcagdas commented on #6411
@shpsyte we will try to prepare a sample or update docker files in https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/aspnet-core/docker/mvc

[2022-03-17 09:46] behiunforgiven commented on #6360
@ismcagdas
As I mentioned above, I send notifications to users individually

[2022-03-17 09:56] ismcagdas commented on #6360
If you can share your project, we can try to take a look.

[2022-03-17 09:59] ismcagdas commented on #5923
Thanks for the update 👍

[2022-03-17 09:59] #5923 closed

[2022-03-17 13:20] sajasbana commented on #6408
@tayfunuyar
try like this
https://aspnetboilerplate.com/Pages/Documents/Multi-Lingual-Entities?searchKey=multilanguage#updating-a-multi-lingual-entity-with-translation-s-

[2022-03-17 19:24] tayfunuyar commented on #6408
@sajasbana  thank you I missing Entity Framework 6 content.

[2022-03-17 19:24] #6408 closed

[2022-03-18 07:01] ismcagdas commented on #6409
@armoghaddam are you able to run the app ?

[2022-03-18 07:01] #6386 closed

[2022-03-18 07:02] #6296 closed

[2022-03-18 07:02] #6383 closed

[2022-03-18 13:06] bennycoomans commented on #6403
FYI: I have the same problem, but I don't use Boilerplate. I fixed it by downgrading `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` from 6.0.3 to 6.0.2.

[2022-03-18 13:21] bennycoomans commented on #6403
Updating to the latest SDK (6.0.201) seems to fix this issue, see https://github.com/dotnet/aspnetcore/issues/40609.

[2022-03-18 23:07] shpsyte commented on #6411
Awesome! @ismcagdas

[2022-03-19 17:21] acjh commented on #6175
@AntheusS Are you using 2FA?

[2022-03-19 18:11] AntheusS commented on #6175
@acjh Yes. 2FA is enabled. It occurs for both users that have 2FA enabled and users that have 2FA disabled.

[2022-03-19 18:16] acjh commented on #6175
This should be fixed in PR #6414.

[2022-03-20 19:51] amendez1000 commented on #6397
Thanks so much! It worked.

[2022-03-20 20:14] amendez1000 opened #6415 "[QUESTION] How do you localize messages?"
Hello Everyone,

My site uses Spanish and English. Does someone know how I can localize these messages? is there special XML file?

This message should be in Spanish.

![imagen](https://user-images.githubusercontent.com/6466799/159184176-ffebde99-05e8-4eb1-8cdf-8ac29642fab2.png)

Thanks!

[2022-03-21 05:49] ismcagdas commented on #6415
@amendez1000 normally it should be displayed as defined here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource/AbpWeb-es.xml#L6.

You can change existing localitazions as explained here https://aspnetboilerplate.com/Pages/Documents/Localization#extending-localization-sources

[2022-03-21 06:31] #6175 closed

[2022-03-21 13:40] Saxroll commented on #6175
Hi. Unfortunately not yet. We stay on a workaround with disabled security stamp validataion and its cons. We will be investigating further  and trying to find solution later.

[2022-03-22 15:00] sajasbana opened #6416 "Override culture of thread for numbers"
Dears,

I'm having issue when change language to Arabic with number
when do like this number.tostring() it shows decimal separator as , (comma) not dot like in english
![image](https://user-images.githubusercontent.com/34976854/159512025-3c111a61-fa15-4c98-881b-7e20e219983f.png)

how can I override the culture thread in both arabic and english so numbers use dots?

Thanks

[2022-03-23 05:04] ismcagdas commented on #6416
You can try an approach similar to https://support.aspnetzero.com/QA/Questions/8277/Arabic-locale-Issue#answer-597ad856-2010-d0c9-7f12-39f27ee5298d. But, this is not related to AspNet Boilerplate, it is directly related to ASP.NET Core.

[2022-03-24 06:46] sajasbana commented on #6416
Hi @ismcagdas
I used your approach and it worked by add class MyRequestCultureProvider and put code in startup class.
but, I did not understand your comment
`But, this will work before all request culture providers, so when you change the language on the UI, it will not work.
So, you need to execute other request culture localizers in your custom class (like this one <a class="postlink" href="http

[2022-03-24 06:49] ismcagdas commented on #6416
Are you able to change the language on the UI ? I thought, it might cause a problem related to that.

[2022-03-24 06:54] sajasbana commented on #6416
@ismcagdas
you are right, I got this issue can not change screen language anymore

how can I solve this?

[2022-03-24 07:47] sajasbana commented on #6416
@ismcagdas
I changed my code to like below and it is working now, please if there can be improvement let me know

[code]

[2022-03-25 05:23] ismcagdas commented on #6416
@sajasbana yes, this one works well 👍

[2022-03-25 05:23] #6416 closed

[2022-03-25 07:40] AbhishekHumagain commented on #6411
FROM mcr.microsoft.com/dotnet/sdk:6.0-alpine AS builder
WORKDIR /app
# Copy everything and build
COPY . .
RUN dotnet restore Test/
RUN dotnet publish -c Release -o release

# Build runtime image
FROM mcr.microsoft.com/dotnet/aspnet:6.0-alpine
WORKDIR /app
COPY --from=builder /app/release .
COPY --from=builder /etc/ssl/certs/ca-certificates.crt /etc/ssl/certs/
RUN apk add --no-cache icu-libs krb5-l

[2022-03-26 09:03] ramade opened #6417 "Database exception not handling .Net Core"
Hello Team

I just started to migrate my .Net MVC application to .Net Core 6. I am facing an strange issue while inserting the data into the database using repository pattern.

1) **_repository.InsertOrUpdate()** : The database exceptions are not handling. If any error occurred while inserting the data in the database, it is not catching in the application. The code successfully executed but the r

[2022-03-26 11:12] acjh commented on #6417
From https://aspnetboilerplate.com/Pages/Documents/Repositories:

From https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#savechanges:

[2022-03-27 05:02] armoghaddam commented on #6409
@ismcagdas It's ok now
just install "@jest/environment": "^27.5.1" and problem solved

[2022-03-27 17:42] MohammadMobasher commented on #6354
Unfortunately not

[2022-03-27 22:25] pixelapocalypseuk opened #6418 "Cannot create user with username that has been soft deleted on tenant."
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version: 7
* Your base framework:  .Net Core: 6
* Exception messag

[2022-03-28 06:06] ismcagdas commented on #6409
@armoghaddam thanks, we will update the template as well.

[2022-03-28 08:10] ramade commented on #6417
Thanks for the reply.

I have used unit of work and it works fine.

Related to the exception handling, just curious to know Is ABP has a different error catching mechanism?

In the below code, I return the JSON if any error from the database operation, but in the client, I was getting the raw SQL error message.

` [ValidateAntiForgeryToken()]
        [DontWrapResult]
        [DisableValidation]

[2022-03-28 08:18] m-aliozkaya commented on #6418
Hi, I checked this but I couldn't get any error. You may have set the username unique, or something similar. Please check this.

[2022-03-28 10:15] pixelapocalypseuk commented on #6418
In the database table you mean? No its not unique, and my create service is no different from the original, i upgraded from abp 6.* if that makes a difference, its not a big issue for me anyway as ill just restore and update the users if duplicate found but i thought i better report it 😃

[2022-03-28 10:16] pixelapocalypseuk commented on #6418
I think i also have to handle the users in the user list thinking about it, i.e. filtering deleted, so maybe something is wrong elsewhere......

[2022-03-28 10:44] m-aliozkaya commented on #6409
`npm run test` error

![unknown](https://user-images.githubusercontent.com/56235083/160381717-0c97da7e-0705-4ae1-bccf-adc456a80af9.png)

[2022-03-28 11:07] acjh commented on #6417
You need to place the try/catch around the UOW scope.

[code]

[2022-03-28 11:16] m-aliozkaya commented on #6418
Thank you very much for reporting. If you can't solve your problem we are here to help.

[2022-03-28 11:47] pixelapocalypseuk commented on #6418
No worries, ill figure it out and if not ill post again. Cheers

[2022-03-28 11:47] #6418 closed

[2022-03-28 12:27] amira133 opened #6419 "How to Increase service input size"
Hi,
I defined some service like this

[code]

But when calling a service through a client with a string larger than 2044, it gives an error like this:

`ERROR Error: An unexpected server error occurred.`

Why this error is displayed and what should I do?

thank you.

[2022-03-28 13:19] ramade commented on #6417
This is great! The above solution works for me, now it is returning the proper json message to the client.

I am just wondering why this sql error is not handled in the default unit of work functionality? Is this an issue or working as per the design?

It is very difficult to add the Unit Of Work code in every save function. Is there any better way to handle this? Please let us know your suggestio

[2022-03-28 16:15] acjh commented on #6417
The UOW scope is working by design.

Instead of beginning a unit of work explicitly in your controller, you could add a `[UnitOfWork]` attribute on your application service method:

[code]

Or even the application service class:

[code]

---

You could disable the unit of work on all controllers in Startup.cs `ConfigureServices` method:

[code]

You could also enable the unit of work on all applic

[2022-03-29 05:18] ismcagdas commented on #6419
@amira133 where do you send this text, in request body, querystring or somewhere else ?

[2022-03-29 06:23] amira133 commented on #6419
thank you @ismcagdas
My problem was solved.
I was sending information through the header while I had to send it through body.

[2022-03-29 06:23] #6419 closed

[2022-03-30 05:14] ramade commented on #6417
Thanks for sharing the details.

[2022-03-30 05:16] #6417 closed

[2022-03-31 12:04] herbertmilhomme opened #6420 "Obsolete methods #9313 AbpZero Issue"
Can we get a solution that's open to the public? Dev branch updates framework to net core 6.0, but when migrating old project to newer framework, a lot of errors occur (because of the refactor), but since the edits are made in a private project, i dont quite understand what solution we're supposed to take. There really is clear documentation written on what each line is supposed to mean, and the s

[2022-03-31 12:28] ismcagdas commented on #6420
@herbertmilhomme for this specific issue, the code below;

[code]

is changed to

[code]

Does that solve your problem ? If not, could you share your code which causes this problem ?

[2022-03-31 13:29] ismcagdas opened #6421 "Use GetScriptsResponsePerUserConfiguration while loading AbpScripts/GetScripts"
This should be done for ASP.NET Core templates

[code]

[2022-04-01 05:05] ismcagdas commented on #6420
Thanks :). Sure, you can create a new issue here.

[2022-04-01 05:05] #6420 closed

[2022-04-02 23:33] saip12 opened #6422 "[Angular] How to detect change between initial page load and page refresh"
How to detect change between **initial page load** and **page refresh**

I have tried using router events (navigationEnd)

[code]
In my case user lands on a different page and when navigated to this particular component, it returns true for the above condition. Similarly when refreshed the condition is  true. Not sure how to handle. Appreciate any help here!

[2022-04-03 09:24] ismcagdas commented on #6422
@saip12 This seems like an Angular related question. Maybe you can find more accurate information on the web. I personally don't know how to detect that.

[2022-04-04 04:23] Krish007na opened #6423 "Azure AD B2C with boiler plate is not working"
Facing problem with integrating Azure AD B2C with boiler plate. Able to login using b2c but not able to access any of the menus like user, roles, tenants from menu bar. It fails in authconfigurer.cs while getting the token for signalr.
Integrating with v7.x asp.net core angular application.  Using MSAL v2. Has anyone worked on Azure AD B2C with boiler plate? If you have sample please help help me.

[2022-04-04 05:16] ismcagdas commented on #6423
@Krish007na could you share what exactly is not working ? We don't have a sample for this but we are using ABP in a private project which works with Azure AD.

[2022-04-04 05:58] Krish007na commented on #6423
Not getting token in querystring(enc_auth_token). As the AD B2C do not store it in querystring.

[2022-04-04 06:08] ismcagdas commented on #6423
From Azure ? If so, this is not related to ABP. You can check how to implement Azure AD login on the web and probably you will find good samples.

[2022-04-04 09:04] Krish007na commented on #6423
In the latest abp version, they set token in cookies to authorize SignalR javascript client. And in following code(refer image) they try to get it. There I get it as null.
![image](https://user-images.githubusercontent.com/13658948/161511000-847385cb-5763-4809-8050-e4c1e374755f.png)

[2022-04-05 07:21] ismcagdas commented on #6423
Does this happen when you login via Azure AD ?

[2022-04-05 08:17] Krish007na commented on #6423
Yes. In startup.cs we have AuthConfigurer.Configure(services, _appConfiguration); Which calls this one.

[2022-04-05 20:08] ntgentil opened #6425 "Use with Mysql - migrations"

[2022-04-05 20:23] #6425 closed

[2022-04-05 20:23] ntgentil commented on #6425
no

[2022-04-06 05:33] ismcagdas commented on #6425
You can check https://aspnetboilerplate.com/Pages/Documents/EF-Core-MySql-Integration

[2022-04-06 20:40] shpsyte commented on #6411
hi @AbhishekHumagain thank you for your answer (I have copied some lines from your DockerFile)

I hit the same problem, that I don't have idea how to solve....

here my DockerFile

[code]
Add to src folder

then I run those comands:
1. docker build --pull -t smartapp .
2. docker run --rm -it -p 8080:44311 --name test smartapp

the first command runs great. no prob,
when I ran the second one I got

[2022-04-06 21:15] shpsyte commented on #6411
also tried

docker run --rm -it -p 8080:44311 --name test2 -e ASPNETCORE_HTTPS_PORT=44311 -e ASPNETCORE_Kestrel__Certificates__Default__Password=123456 -e ASPNETCORE_Kestrel__Certificates__Default__Path=/https/smartapp.pfx -v ${HOME}/.aspnet/https:/https/ -e ASPNETCORE_ENVIRONMENT=Development smartapp

[2022-04-08 13:01] #6421 closed

[2022-04-12 13:53] ismcagdas commented on #6409
@armoghaddam It didn't work for me. Could you send a PR if you have time ?

[2022-04-12 15:00] ismcagdas commented on #6390
@worthy7 I checked the implementation and it seems like `GetSnapshotAsync` gets the current entity and revokes all changes until the given time here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/EntityHistory/EntitySnapshotManagerBase.cs#L70. So, it returns a copy of entity at given time. I think the explanation is correct. What do you think ?

[2022-04-13 06:26] worthy7 commented on #6390
I am not sure why I misunderstood this originally, but I do now. Thanks for clarifying.

[2022-04-13 06:26] #6390 closed

[2022-04-13 07:09] ismcagdas commented on #3221
Unfortunately, we couldn't make any progress on this. We are planning to work on this in the next milestone 7.3. Sorry for the delay.

[2022-04-13 07:27] #6357 closed

[2022-04-13 08:54] andrehaupt commented on #3221
@ismcagdas We found an issue on our side. We had a cascading effect when we imported certain domain services, which would send a massive load of redundant requests through to Redis.

[2022-04-13 14:48] khoa-nguyendang opened #6427 "How to get IRepository for specific Tenant?"
Hi ABP team,
I wonder how to regiter IRepositoy for Tenant DB Context DbSet without create new TenantDbContext from HostDbContext

For example:
we are expecting some efficient way to set Tenant for IRepository:
[code]

But actually we have to create new DbContextOptionsBuilder:
[code]

Could you please advice me how to use DI or how to inject Tenant to IRepository<TenantStaff> _tenantStaffReposito

[2022-04-13 15:03] #6427 closed, assigned to nobody

[2022-04-14 14:48] ismcagdas commented on #3221
@andrehaupt could you try using https://aspnetboilerplate.com/Pages/Documents/PerRequestRedisCache and see if it makes any difference ?

[2022-04-14 17:52] shpsyte opened #6428 "Remove EntityFrameworkCore from logging"
Hey folks! hope everyone is safe and well;

How to remove the EntityFramework log from logging?

It seems a dirty log of those commands.

dotnet run
info: Microsoft.Hosting.Lifetime[14]
      Now listening on: https://localhost:44311
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
info: Microsoft.Hosting.Lifetime[0]
      Hosting environment: Development
i

[2022-04-15 06:31] ismcagdas commented on #6428
Could you try this solution ? https://stackoverflow.com/questions/42079956/suppress-sql-queries-logging-in-entity-framework-core/49681447#49681447

[2022-04-15 08:34] l2999019 commented on #3355
@maliming
I use the same method, but after the "entry.GetDatabaseValues()" method is updated, databaseValues is still the old data

[2022-04-15 08:38] maliming commented on #3355
Maybe you check the values in the database.

[2022-04-17 16:06] huyqta opened #6429 "Need to change language from first visit"
Hi team,

_I'm using AbpZero ASP.NET Core MVC & jQuery, version 10.3.0_

I have an issue hope you can help. I have some different languages in the application **.Web.Mvc**. Now I have a field default language on a table and I want everytime when access to my application, it will query that table andget default language and show to user (user no need to login to see it).

I already tried to use URL

[2022-04-18 05:40] ismcagdas commented on #6429
@huyqta you can write a custom ASP.NET Core middleware and execute your logic. It will be executed for every request.

[2022-04-18 05:45] huyqta commented on #6429
I already implement logic, but it always show the languag of browser. If I want to show my default language from setting, I have to do select from list or use ChangeCultural. But I need is the default language must be load for all localization string on first visiting, user don't have to select language from list or click a link to change cultural

[2022-04-18 06:06] ismcagdas commented on #6429
In that case, you can create your own CultureProvider as shown here https://aspnetboilerplate.com/Pages/Documents/Localization#how-the-current-language-is-determined and insert it as the 1st item to the RequestCultureProviders.

[code]

[2022-04-18 10:37] huyqta commented on #6429
I added this script into Startup.cs
![image](https://user-images.githubusercontent.com/5053933/163796457-effe7387-08d1-46ee-8964-92ece5640353.png)

And try with some hard code on `CustomRequestCultureProvider` for testing
![image](https://user-images.githubusercontent.com/5053933/163796593-1fb20b1b-29fb-4c0f-b406-f5228fae59af.png)

But it is still getting language from browser (EN) instead of (FR)

[2022-04-18 17:02] #6372 closed

[2022-04-18 17:03] smhnlxndr commented on #6372
We used other way

[2022-04-18 17:03] smhnlxndr commented on #6343
No, we found other way

[2022-04-18 17:03] #6343 closed

[2022-04-19 00:36] shpsyte commented on #6428
works

[2022-04-19 00:36] #6428 closed

[2022-04-19 00:38] shpsyte commented on #6411
hi @AbhishekHumagain i am trying with no HTTPS
it seems the docker can't connect

my appsettings
[code]

my dockerfile

[code]

Any ideas?

[2022-04-19 07:18] sahilpma opened #6430 "Error while mapping custom objects"
Hi. I am not able to automap.

Inspiration:
`public override async Task<RoleDto> UpdateAsync(RoleDto input)
        {
            CheckUpdatePermission();

            var role = await _roleManager.GetRoleByIdAsync(input.Id);

            ObjectMapper.Map(input, role);

            CheckErrors(await _roleManager.UpdateAsync(role));

            var grantedPermissions = PermissionManager

[2022-04-19 10:05] huyqta commented on #6429
Hi, I can made it works fine already. Thank you for your time. We can close this issue

[2022-04-19 10:11] ismcagdas commented on #6429
Great news :)

[2022-04-19 10:11] #6429 closed

[2022-04-20 23:23] amendez1000 commented on #6415
Hello @ismcagdas ,

I tried this:

[code]

![imagen](https://user-images.githubusercontent.com/6466799/164340494-34638ee3-69eb-45ee-8f57-5b8281f0765b.png)

It didn't work. Do you know why?

Thanks!

[2022-04-21 04:57] mkamranaslam opened #6432 "Question: Selective RealTimeNotifier"
Hi, I have a question.
If my application implements let's say 3 RealTimeNotifier. And for a specific notification, I only want to use one or 2 of them using notificationPublisher.PublishAsync().
Does the framework already provide a way for this?

[2022-04-21 05:28] ismcagdas commented on #6432
@mkamranaslam no, you have to handle it yourself.

[2022-04-21 05:38] ismcagdas commented on #6415
Are those files marked as embedded resource ?

[2022-04-21 05:42] mkamranaslam commented on #6432
Thank you

[2022-04-21 05:42] #6432 closed

[2022-04-21 06:35] ismcagdas commented on #6430
Hi,

Your Experiement class contains

`public Room.Room Room { get; protected set; }`

But, your ExperimentDto contains

`public int Room { get; set; }`

[2022-04-21 07:45] sahilpma commented on #6430
Thanks @ismcagdas
Sometimes I get too busy with witting logic and miss trivial things.
Extremely thankful for your support.

[2022-04-21 07:45] sahilpma commented on #6430
Thanks @ismcagdas
Sometimes I get too busy with witting logic and miss trivial things.
Extremely thankful for your support.

[2022-04-21 08:42] nikschuiling opened #6433 "AspNetCoreGetScriptsResponsePerUserCacheInvalidator not handling setting change events"
1. It seems like AspNetCoreGetScriptsResponsePerUserCacheInvalidator is not handling setting change events and not clearing the GetScriptsResponsePerUser cache as a consequence. I think this class should handle the EntityChangedEventData events of Setting instead of SettingInfo,
2. Why doesn't AspNetCoreGetScriptsResponsePerUserCacheInvalidator handle all events that GetScriptsResponsePerUserCache

[2022-04-21 09:13] nikschuiling opened #6434 "CachedUniqueKeyPerUser.RemoveKey incorrect AbpSession.UserId check"
Why are CachedUniqueKeyPerUser.RemoveKey(string cacheName, int? tenantId, long? userId) and RemoveKeyAsync((string cacheName, int? tenantId, long? userId) checking if AbpSession.UserId has a value? This seems incorrect as an explicit user identifier is passed to these methods.

* Your Abp package version: 7.1
* Your base framework: .Net Core.

[2022-04-22 03:36] netty2019 opened #6435 "What is the difference between this project and abpframework/abp?"
I don't know how to choose between aspnetboilerplate and ABP.
Is there a big performance difference between them?

[2022-04-22 06:06] ismcagdas commented on #6435
Hi,

You can read the comparison table here https://docs.abp.io/en/commercial/latest/abp-framework-vs-abp-commercial. ABP is the new generation of AspNet Boilerplate but we still maintain and update AspNet Boilerplate.

[2022-04-22 06:25] ismcagdas commented on #6303
Since we are using Fody, it causes cehcksum validation fail of snupkg packages, see the issues below;

https://github.com/ltrzesniewski/InlineIL.Fody/issues/12
https://github.com/jbevain/cecil/issues/610

We will wait for those issues to be fixed. For now, I think it is better to use Rider to step into AspNet Boilerplate's code in your project.

[2022-04-23 16:34] amendez1000 commented on #6415
@ismcagdas ,

I already marked as embedded resource and it doesn't work yet. Any other idea?

I appreciate the help.

Thanks!

[2022-04-24 08:51] #6415 closed

[2022-04-25 05:50] ismcagdas commented on #6434
I assume because of, by mistake null can be passed to this method.

[2022-04-25 05:50] ismcagdas commented on #6433
@demirmusa do you have a comment about this ?

[2022-04-25 07:20] princefishthrower commented on #5515
Struggling to implement this for the URL query parameter way of versioning, i.e. `api/myendpoint?api-version=2.0`

Additionally, a word of caution - if you use `AddVersionedApiExplorer` at all, all endpoints in your app can't be discovered by Swagger anymore.

[2022-04-25 13:18] ontur00 opened #6436 "Add PathBase to services"
Hello, I need to add PathBase = 'testPW' to the services

### example
* '/testPW/api/services/ServiceName/MethodName'
### By default, the framework has a path
* '/api/services/app/ServiceName/MethodName'

Is the framework able to add paths to websites? I tried to add an entry from the article
https://aspnetboilerplate.com/Pages/Documents/AspNet-Core

### WebCoreModule-> PreInitialize ()
`Configura

[2022-04-26 07:49] ismcagdas commented on #6436
Hi @ontur00 you can simply set `abp.appPath` in your layout file.

[2022-04-26 07:52] ismcagdas commented on #5515
@princefishthrower I don't have much experience with api versioning but, if you can create a new issue, we can try to work on this.

[2022-04-26 10:04] uumarasif opened #6437 "Issue After Download and Rebuild"
### Issue After Download and Rebuild (sample-blog-module)

I am getting an issue after downloading the project and then cleaning and rebuilding the solution.

![image](https://user-images.githubusercontent.com/77614501/165275649-a8f68831-0310-4510-b890-13c58117a5d4.png)

I don't know what I do about this.

![image](https://user-images.githubusercontent.com/77614501/165276165-51200245-0d85-4b11-ab4

[2022-04-26 10:38] #6403 closed

[2022-04-26 10:39] demirmusa opened #6438 "Upgrade nuget packages to latest"

[2022-04-26 10:51] uumarasif commented on #6438
Hello

[2022-04-26 13:45] demirmusa opened #6439 "Implement Docfx"
https://dotnet.github.io/docfx/

[2022-04-27 12:41] #6373 closed

[2022-04-27 17:39] andrehaupt commented on #3221
@ismcagdas Will give it a whirl thanks!

(Apologies, I see I commented on the wrong thread here.)

[2022-04-28 07:34] maulikprajapati commented on #2516
@coommark any work around on this?

[2022-04-28 18:57] shpsyte opened #6441 "Missing AccessToken vs Expired Token"
Hi there,

I've implemented refreshToken strategy, but now I don't know how to get a dif error message when I have two different type of error

Scenario 1
**AccessToken is missing: I got**
[code]

**AccessToken is present but expired: I got the same result**

I want to change those errors, like:
[code]

What is the best approach to handle it?

[2022-04-29 08:15] ismcagdas opened #6442 "Upgrade NuGet packages to latest version"
We should upgrade packages in the Framework

[2022-04-29 08:44] ismcagdas opened #6443 "Upgrade to AutoMapper v11"

[2022-04-29 09:55] #6442 closed

[2022-05-01 14:17] #6439 closed

[2022-05-03 10:43] sergeevevgen commented on #4517
You should also disable your antivirus. This decision helped me.

[2022-05-05 06:39] ismcagdas commented on #6441
I'm not sure how to do it but you can create your own Filter similar to https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Authorization/AbpAuthorizationFilter.cs and try to handle it.

[2022-05-05 06:41] ismcagdas commented on #6437
@uumarasif thanks, we will check this.

[2022-05-06 03:02] rogerex commented on #2274
My 2 cents, I got this issue also, in my case it was dueto a long time processing (2 mins), job store `IBackgroundJobStore` ignores the db opertions (Delete/Async and Update/Async), that's causing to not delete the entry and running again and over again, You can add this attribute and you will get good results
`[UnitOfWork(IsDisabled = true)]`
for better code, you have to implement your stateless

[2022-05-06 07:04] totpero commented on #6403
Also have to update the ASP.NET Core Runtime to v6.0.3 on the servers.

[2022-05-06 20:32] asimp51 opened #6446 "How can i get Notification CreatorUserId"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2022-05-09 06:04] ismcagdas commented on #6446
You can get the record from AbpNotifications table and use its CreatorUserId field.

[2022-05-12 15:02] woeterman94 opened #6447 "How to translate dataannotations?"
How can we translate data annotations like required , minlength... Using the built in Abp Localization?

[2022-05-13 05:18] CAH-FlyChen commented on #6303
dos source link work now?

[2022-05-13 05:19] ismcagdas commented on #6303
No, it doesn't work because of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6303#issuecomment-1106055160. You can use Rider which allows you to debug ABP's source code.

[2022-05-13 05:40] ismcagdas commented on #6447
This is not supported out of the box but you can check https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5398

[2022-05-17 22:14] joelmdev commented on #6142
We also experienced this on AspNetZero 10.2.0 when implementing several `IAsyncEventHandlers` and `IEventHandler` on the same class. Specifically `IAsyncEventHandler<EntityCreatingEventData<SomeEntity>>` and `IEventHandler<SomeEventData>`

[2022-05-18 03:55] TingtingAn opened #6448 "the transaction of unitwork not rolle back after catching AbpException"
* Abp package version: 5.14.0
* Base framework: Net Core 3.1
[code]
_usersCommandAppService.Update code:
[code]

If the user's  email address is duplicated, a UserFriendlyException will be thrown by `_userManager.UpdateAsync`.

The user information is also updated by `ObjectMapper.Map(model, result)` if there is a catch, that is, the transaction is not rolled back.

We want to have a catch while t

[2022-05-18 06:13] ismcagdas commented on #6448
The transaction will be rolled back when the Update action is completed. You can disable unitOfWork on your Update action and manually start a unitOfWork using UnitOfWorkManager. In that case, you can control the transaction.

[2022-05-18 09:38] sajasbana opened #6449 "VS2022 show a lot of warnings when run solution"
Dears,

I download new project from website, it shows a lot of warning like below image, no errors
![image](https://user-images.githubusercontent.com/34976854/169009097-96d3c509-d377-49e8-af46-cf53115fa10c.png)

Thanks

[2022-05-18 10:06] ismcagdas commented on #6449
Depends on your choice. We don't want to add those comments. You can use this approach if you don't want to see those warnings.

[2022-05-18 11:02] karen-hikesupport opened #6450 "Redis call infinite"
Abp version : 4.6.0.0

After i enabled the redis , some or service call made infinite and create performance issue. and after i checked the found the issue like

Utility.GetCurrencySymbol(SettingManager.GetSettingValueForTenantAsync(AppSettings.General.Currency, tenantId).Result)
or
Utility.GetCurrencySymbol(await SettingManager.GetSettingValueForTenantAsync(AppSettings.General.Currency, tenantId)

[2022-05-18 12:34] samitechverx opened #6451 "_unitOfWorkManager.Current.SaveChanges() does not update the database"
I m new here. I have an app service that will create a user against a tenant. and after the creation, I want to send a welcome email to that user through a background job using quartz.

Once the user creation process is complete I use _unitOfWorkManager.Current.SaveChanges()  to update the database but this thing does not update the database. Can somebody explain why I m getting this issue?

I als

[2022-05-19 10:22] karen-hikesupport commented on #6450
I get today issue, this code sometime work and some time not with settingManager.  Have u trouble before this kind of issue ?

[2022-05-19 11:57] ismcagdas commented on #6450
The code block below seems fine.
`Utility.GetCurrencySymbol(await SettingManager.GetSettingValueForTenantAsync(AppSettings.General.Currency, tenantId))`

For Redis performance issue, you can check https://aspnetboilerplate.com/Pages/Documents/PerRequestRedisCache

[2022-05-19 12:30] karen-hikesupport commented on #6450
May i need to update the abp version, currently we are using 4.6 abp version with zero framework

[2022-05-19 12:38] karen-hikesupport commented on #6451
_unitOfWorkManager.Current.SaveChanges() will affect after commit the transaction, i mean transaction complet. UOW auto commit the whole database transaction and if any error while commit , UOW transaction will rollback and audit log service will log for u with full exception

if you are not getting any error after the complete transaction, check your database connection string is proper set.

[2022-05-19 12:40] ismcagdas commented on #6451
@samitechverx `_unitOfWorkManager.Current.SaveChanges()` commits the changes and you can get the Ids of the saved entities but you can't see those entities in database until the unitOfWork is completed. If you get an error in your code, those changes will be rolled back even if you call `SaveChanges`. So, this is the design of the unifOfWork. Does this work for you ?

[2022-05-19 14:24] samitechverx commented on #6451
thank you very much guys for your time. I achieved this by starting a new transaction and then completing it.

[2022-05-19 14:24] #6451 closed

[2022-05-19 22:10] actimx commented on #6425
Here in documentation need to add the server version when you call the MySql() function.

[2022-05-19 23:45] ahmedtolba1984 opened #6452 "Redis Cache Serializer Circular Reference Issue"
Dears,
I have an issue when trying to set data in cache, I got this error **Newtonsoft.Json.JsonSerializationException: Self referencing loop detected for property** and i know the root cause but I can't update this data as it isn't under my control
so, my question is how to set Newtonsoft Serializer Settings to ignore circular reference
I mean i need a simple way to change Serializer Settings whe

[2022-05-20 04:48] ismcagdas commented on #6452
You can write your own https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.RedisCache/Runtime/Caching/Redis/DefaultRedisCacheSerializer.cs and use it in your app. You can replace it in the DI.

[2022-05-20 04:49] ismcagdas commented on #6425
Could you share a smaple code ? I couldn't understand what you mean.

[2022-05-20 08:18] m-aliozkaya opened #6453 "Increase default password length"
Default min password length is 3 in settings page. We may update it to 6.

[2022-05-20 09:38] ontur00 commented on #6436
Hi i added to Web.Mvc->Views->Account->_Scripts.cshtml

`abp.appPath = 'test2/'+'@ApplicationPath';`

But after run project still path at GetAll is wrong
**Example:**

- 'api/services/app/User/Create'

And i need

- 'test2/api/services/app/User/Create'

![abpAddPath](https://user-images.githubusercontent.com/11216422/169500567-bd4d5cd7-3319-495b-a6d5-423f0b8083b8.jpg)
![abpAddPath1](https://user-i

[2022-05-20 14:05] actimx commented on #6425
Sure, I mean, when you choose a template with front end like reactjs for work, Pomelo class need to add the server version, maybe with this code just clear.

` public static class mazingerDbContextConfigurer
    {
        public static void Configure(DbContextOptionsBuilder<satabaseDbContext> builder, string connectionString)
        {
            var serverVersion = ServerVersion.AutoDetect(conne

[2022-05-20 15:43] ahmedtolba1984 commented on #6452
@ismcagdas
Thanks

[2022-05-22 09:05] ismcagdas opened #6455 "Add the server version when you call the MySql() function."
Please see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6425#issuecomment-1132940377

[2022-05-22 09:05] ismcagdas commented on #6425
Thanks, we will update the documentation, see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6455

[2022-05-22 18:29] DmitriyBobrovskiy commented on #2717
It's 2022 already, but the problem still persists

[2022-05-23 01:58] maliming commented on #2717
hi @DmitriyBobrovskiy Please create a new issue and share the full steps. Thanks.

[2022-05-23 10:37] ismcagdas commented on #6436
@ontur00 there are two layouts. Are you getting this problem on any of account pages or in a page after the login ?

[2022-05-23 10:38] #6453 closed

[2022-05-24 01:55] YangFan17 opened #6456 "How to prevent Replay Attack on AspNetBoilerplate"
Recently we did penetration testing and the security team told us that the POST API had a replay attacks problem

[2022-05-24 04:53] ismcagdas commented on #6456
Do you mean CSRF attack ?

[2022-05-24 05:59] YangFan17 commented on #6456
I think it's a different concept.
For example, I have an insert method. If someone intercepts my interface message and requests again using my token, a lot of duplicate data will be inserted

[2022-05-24 06:01] YangFan17 commented on #6456
I think it's a different concept.
For example, I have an insert method. If someone intercepts my message, uses my token and makes repeated requests, duplicate data will be inserted.

[2022-05-25 05:06] ismcagdas commented on #6456
Framework doesn't offer a solution out of the box for preventing such an attack.

1. In order to prevent users from using a stolen token, you can keep a token black list and ignore requests if teh token is on that list.
2. For duplicated data, depending on your usecase, you can use a unique index on your database.

[2022-05-25 11:56] ontur00 commented on #6436
According to found articles https://forum.aspnetboilerplate.com/viewtopic.php?p=17509
just change ` abp.appPath = '@ApplicationPath' + 'addNewPath/';`
But it is not working i added screen still services are not change to new path
![abpAddPath2](https://user-images.githubusercontent.com/11216422/170256220-37a48f69-50de-4148-9e5a-7c2715692833.jpg)

[2022-05-26 05:24] karen-hikesupport commented on #6450
Hi @ismcagdas

I updated the abp version 7.2.1 but i can not get an optional argument  usePerRequestRedisCache

Configuration.Caching.UseRedis(usePerRequestRedisCache: true);

How can add this argument method, is there any other package to update or ?

[2022-05-26 05:27] karen-hikesupport commented on #6450
ok got the document to install package as Abp.AspNetCore.PerRequestRedisCache and add module  AbpAspNetCorePerRequestRedisCacheModule

[2022-05-26 05:29] karen-hikesupport commented on #6450
But looke like this is for aspnetcore framework, is there any option to install the packages with .net framework 461

[2022-05-26 05:38] sajasbana commented on #6456
@ismcagdas
sorry for interrupting
please I'm interesting in your 1st suggestion, how can I achieve that?

[2022-05-26 05:47] ismcagdas commented on #6456
You can add a new TokenValidator here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Startup/AuthConfigurer.cs#L26 to the options.SecurityTokenValidators.

In your custom security token validator, you can check if the token is in black list or not.

[2022-05-26 05:48] ismcagdas commented on #6450
Yes, this i only for ASP.NET Core apps. However, you can copy this package's source code and change it according to .NET Framework.

[2022-05-26 05:53] karen-hikesupport commented on #6450
You mean to create new module and paste the existing github code with it and to add dependecy with web module and use it , right ?

if you have any reference, that will be help

[2022-05-26 05:57] ismcagdas commented on #6450
Yes, exactly. I don't have a reference but if you face a problem, we can try to help.

[2022-05-26 06:17] karen-hikesupport commented on #6450
Okay let me try

[2022-05-26 06:25] bxjg1987 opened #6457 "Entity history rumtime switch"
abp7.2.1
i want to decide whether to record entity history according to entity status or other conditions at runtime

[2022-05-26 06:53] ismcagdas commented on #6457
You can create your own EntityHistoryHelper and override https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore.EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs#L127

[2022-05-26 08:03] bxjg1987 commented on #6457
@ismcagdas Perfect! Thank you.

[2022-05-26 08:03] #6457 closed

[2022-05-26 08:06] karen-hikesupport commented on #6450
Hi @ismcagdas

created seperate module and all ok with compile but in code we got some issue on run time

Error : Component Abp.Runtime.Caching.Redis.AbpPerRequestRedisCache has a dependency on Microsoft.AspNetCore.Http.IHttpContextAccessor, which could not be resolved.
Make sure the dependency is correctly registered in the container as a service, or provided as inline argument.

From code :
 pro

[2022-05-26 09:02] karen-hikesupport commented on #6450
ok finally resolved we register  IHttpContextAccessor mannually

[2022-05-27 06:17] karen-hikesupport commented on #6450
Hi @ismcagdas

When redis enabled the httpcontext.current getting null for each request. this is look wrost behavious. i am using aspnetzero 11.2..0 with .net framework 4.6.1

Can u please let me know if somewhere we missing

[2022-05-27 08:47] karen-hikesupport commented on #6450
we found the reason, when permission attrubute on methond so httpcontext getting null. it will be ok if remove permisssion    with authorise attribute like below

Not working (Httpcontext getting null)
[AbpAuthorize(AppPermissions.Pages_Tenant_Products_Product)]

Working HttpContext
[AbpAuthorize}

[2022-05-27 11:18] karen-hikesupport commented on #6450
Finally i debug the abp code got the issue, HttpContext been null after call below methods
`await PermissionChecker.AuthorizeAsync(authorizeAttribute.RequireAllPermissions, authorizeAttribute.Permissions);`

Can u help to resolve this issue ?

[2022-05-28 05:48] MohammadMobasher opened #6458 "No language defined!"
hi guys...
can i disable SoftDeleted in DbContext or not? let me explain it:

i wrote this code:

[code]
so in every request i expect to receive all records that deleted. but i receive   **No language defined!**
and i have AbpLanguage table and it has some record too.
Thanks

[2022-05-30 06:36] ismcagdas commented on #6458
@MohammadMobasher

Is this your entire CreateFilterExpression method ?
Do you want to disable soft delete for all your entities or only for languages ?

[2022-05-30 06:51] ismcagdas commented on #6450
Could you share your AbpPerRequestRedisCache implementation ?

[2022-05-30 06:55] karen-hikesupport commented on #6450
Yes Sure

Implemented module
`typeof(AbpAspNetCorePerRequestRedisCacheModule)`

defined the configuration
` Configuration.Caching.UseRedis(usePerRequestRedisCache:true);`

and we customise the above module with and user default HttpContext

[2022-05-30 07:26] karen-hikesupport commented on #6450
await PermissionChecker.AuthorizeAsync(authorizeAttribute.RequireAllPermissions, authorizeAttribute.Permissions);

replace the above method with remove async and it will work and httpcontext coming with requested header information

PermissionChecker.Authorize(authorizeAttribute.RequireAllPermissions, authorizeAttribute.Permissions);

[2022-05-30 08:33] sajasbana opened #6459 "integrate linq2db"
Dears,

is it possible to add integration with linq2db (https://github.com/linq2db/linq2db) ?
if i want to do it, please what is the best way to do it in my project?

Thanks

[2022-05-30 08:34] #6449 closed

[2022-05-30 12:46] karen-hikesupport commented on #6450
Hi @ismcagdas @hikalkan

Getting the bug when i debug the abp code when get the cache value and loop going infinite

`public override async Task<ConditionalValue<object>> TryGetValueAsync(string key)
        {
            var httpContext = _httpContextAccessor.HttpContext;

            if (httpContext == null)
            {
                return await base.TryGetValueAsync(key);
            }

[2022-05-31 04:12] MohammadMobasher commented on #6458
for all entities just on this request, not for a specific table.

[2022-05-31 05:13] ismcagdas commented on #6459
@sajasbana we don't have any experience on this library. You can follow its documentation https://linq2db.github.io/index.html

[2022-05-31 05:35] ismcagdas commented on #6458
You can use disable filters for a specific request https://aspnetboilerplate.com/Pages/Documents/Data-Filters#disable-filters in your app service.

[2022-05-31 05:50] MohammadMobasher commented on #6458
I don't want to disable it in every endpoint like this.
my idea is to disable it with a parameter in header. I mean if there is a specific parameter in header, then just return all records which have **IsDelete == false**
I do it before for another scenario, but in this idea (up function) there is an error.
thanks

[2022-05-31 05:55] MohammadMobasher commented on #6458
And another thing, why I got this error?
Can you please guide me

[2022-05-31 05:58] ismcagdas commented on #6458
In that case you can carry header value to CreateFilterExpression and disable the filter statement. Did you implement it on your side ? If so, could you share your final CreateFilterExpression method ?

[2022-05-31 06:08] MohammadMobasher commented on #6458
I did same as I do before, but there is **No language defined!** error.

[code]

this is my final code in last scenario, but for IsDeleted == true not work

[code]

[2022-06-01 05:04] ismcagdas commented on #6458
If you use `IsDeleted == true`, this will only bring soft deleted records. I think instead of this, you should ignore IsDeleted filter at all;

var shouldDisableSoftDeleteFilter = // the value you get from _httpContextAccessor for disabling soft delete
`if (typeof(ISoftDelete).IsAssignableFrom(typeof(TEntity)) && !shouldDisableSoftDeleteFilter)`

[2022-06-01 05:32] karen-hikesupport commented on #6450
I tried above with different way and happening same issue when get the cache from setting manager and going infininte, so currently work around we changed the method as sync and remove async here and its working,. but i not find any root cause happening mis behave with async method

[2022-06-01 10:48] #6452 closed

[2022-06-01 10:52] ahmedtolba1984 opened #6461 "How to Tenant Selector with Identity Server ?"
Dears,
I already integrated with Identity Server as documented but I can't login to Host; Is there any ideas to keep the tenant selector and at the same time use Identity Server for Authentication and Identity Management

@ismcagdas

[2022-06-02 04:17] MohammadMobasher commented on #6458
could you please explain this, I do this but I have got error

[2022-06-02 05:59] ismcagdas commented on #6458
My code is just an example. Could you share your final code ?

[2022-06-02 06:06] ismcagdas commented on #6461
We don't have much experience on this. Maybe you can carry tenantId on the querystring and change to the target tenant (or host) when you return to your ABP app.

[2022-06-02 06:13] ismcagdas commented on #6450
It is hard to say something without inspecting the entire code but if it works like this, you can use it as sync.

[2022-06-02 10:05] #6455 closed

[2022-06-03 06:06] Ilkhom-S opened #6463 "IMultiLingualEntity translations not getting 'ru' locale"
Using aspboilprate 11.1.0

I made sample database with 3 languages to get translation for related entity. Everything works fine. But when I set lanugage to 'ru' its returning another language texts. All language texts are included in database.

Example.
When set en its returning english texts
When set ru its returning tg languages
When set tg then its returning tg languages.

UI languages returnin

[2022-06-03 06:10] Ilkhom-S commented on #6463
Also, when I set locale to ru-RU than text returns ru locale. I changed header .AspNetCore.Culture to ru-RU when locale ru. Its working fine. I know that ru is invariant neutral language. But same for other neutral languages its working fine. Only for ru locale making problem.

[2022-06-06 04:29] nicholasyin commented on #5316
How come this was never mentioned in the official document? Is this deployment scenario that rare?

[2022-06-06 04:36] MohammadMobasher commented on #6458
the problem here is not about header items, the final code is just these:

[code]
heere i always (for test) want to get items that deleted like this:
**((ISoftDelete)e).IsDeleted == true** but i got the error
how can i fix this?

[2022-06-06 06:14] ismcagdas commented on #6458
@MohammadMobasher could you share a reproduction project ? Because, as far as I can see, this code doesn't have any change from the original one. You can create a project from https://aspnetboilerplate.com/Templates and apply your changes and share it with us.

[2022-06-06 06:23] ismcagdas commented on #5316
Actually this is not specific to AspNet Boilerplate, it is valid for all to ASP.NET Core apps. Because of that, we don't add such stuff to our docs.

[2022-06-06 08:00] nicholasyin commented on #5316
To be clear, is Web Deploy and WebDAV the same thing? In another word, If I want to use the web deploy feature, i.e. publishing from local Visual Studio using .pubxml, do I have to keep WebDAV feature installed/enabled?

[2022-06-06 08:13] ismcagdas commented on #6463
Probably this is becuase of we are using the full name for the culture https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AutoMapper/AutoMapper/AutoMapExtensions.cs#L59

Could you check the values of `CultureInfo.CurrentUICulture.Name` and Language field of your translation entity ?

[2022-06-06 13:00] Saxroll opened #6464 "ABP Boilerplate MVC whole page reload when you brwose through menu options along with scripts."
Hi.

I have a question.
When using app created from boilerplate template MVC .Netcore we faced issue that when you are browsing through menu options and change module the whole page is reloaded, even despite you are using partial views.
W have added some our javascripts to _layout.cshtml as you can see in below code. Those scripts also realod whichs is a pain for us. Is there a way to do something

[2022-06-07 05:41] ismcagdas commented on #6464
@Saxroll you can cache those scripts but for MVC apps, when you realod the page, it is expected that the scripts will be loaded again. If you don't want that, you may consider a SPA like Angular.

[2022-06-07 09:15] demirmusa opened #6465 "Allow users to select target notifier when publishing notification"
Users should be able to select notifiers to send notification with using spesific notifiers. With this implementation we will be able to say something like that "Send that notification to the users with only sms and realtime notifier", "Send that notification to the users with email and xxx"

[2022-06-07 09:39] pixelapocalypseuk opened #6467 "Mapping table view function for use in app service and ultimately as datatable ajax request in aspnetboilerplate"
* Your Abp package version: 7.01
* Your base framework: .Net Core.
* Exception message and stack trace if available: System.ObjectDisposedException: Cannot access a disposed context instance
* Steps needed to reproduce the problem: The following code and description hopefully makes things clear

Im trying my hardest to use a table view function as a datasource for a service in my aspnetboilerplate

[2022-06-07 10:45] ismcagdas commented on #6464
@Saxroll unfortunately, we don't have a plan to implement something like that. That is exactly what Angular is doing. It would be very hard for us to implement this and it is agains the structure of an MVC application.

However, you can try to implement this on your project if this is a must for your project.

[2022-06-07 10:53] ismcagdas commented on #6467
Do you get this error on CreateFilteredQuery ? If so, you can't return IQueryable from an app service because the connection will be closed when the app service method exits.

[2022-06-07 13:31] pixelapocalypseuk commented on #6467
Hey @ismcagdas,
Firstly, thanks very much for having a look at this.

Yes that's right, i'm using the CreateFilteredQuery, how can i use this tvf as a filterable jquery ajax call if i cant use iQueryable is the question i guess. My skills in jquery fall pretty flat ill be honest so i was trying to form the code to work like i was using a repository in the other tables.

The Jquery ajax is here as

[2022-06-07 14:27] Ilkhom-S commented on #6463
Thanks for answer.

I check and make debug. When set language to ru all texts comes fine. But when setting language to ru on IMultiLingualEntity . Thread culture can't set ru and setting other (Example setting ru sets tg locale or en as fallback). Thread always sets other locale than ru.
Also ru set as default language.

[2022-06-08 05:20] ismcagdas commented on #6463
I think you should use ru-RU. Does that cause a problem for you ?

[2022-06-08 05:24] ismcagdas commented on #6467
You can disable UnitOfWork on the related method (see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#disabling-unit-of-work) but I think it will not work as well. It is not a good practice to return IQueryable to client.

You can just add ToList to your query and return a List instead of IQueryable.

[2022-06-08 05:25] Ilkhom-S commented on #6463
There is no problem with ru-RU locale only with ru. Also using ru-RU is not acceptable because all other packages understand ru locale (e.g. angular packages). For now I'm converting ru to ru-RU when setting header values. at angular side. In this week I will try to write small reproducible project so you can examine why its happening. I think problem relies on asp core side. But need calrificatio

[2022-06-08 05:25] #6463 closed

[2022-06-08 05:26] ismcagdas commented on #5316
Sorry for my late reply, I don't have knowledge about WebDAV, you can read more about it here https://docs.microsoft.com/en-us/iis/configuration/system.webserver/webdav/.

But, I think it is not same as Web Deploy.

[2022-06-08 05:27] ismcagdas commented on #6463
We split the culture code and use only the first part on Angular side. Maybe, you can follow a similar approach.

[2022-06-09 11:41] yopichy opened #6468 "Error run unit testing"
i'm trying to create unit testing, but error like this :

`   at Castle.MicroKernel.DefaultKernel.Castle.MicroKernel.IKernelInternal.Resolve(Type service, Arguments arguments, IReleasePolicy policy, Boolean ignoreParentContext)
   at Castle.MicroKernel.DefaultKernel.Resolve(Type service, Arguments arguments)
   at Castle.Windsor.WindsorContainer.Resolve[T]()
   at Abp.Dependency.IocManager.Resolve

[2022-06-09 17:10] pixelapocalypseuk commented on #6467
Hey,

Sorry been busy the last day or so. I try this and the jquery then returns an error of 'Unexpected end of input' i have tried returning it as async and sync ToList() or ToList().AsQueryable(). Me and JS are like oil and water unfortunately, this doesnt make sense to me!

![image](https://user-images.githubusercontent.com/39482282/172904999-8b3041a9-be28-4b49-9cf3-9bc9f062b692.png)

[2022-06-10 04:30] yopichy commented on #6468
I'm try to add a unit test from https://aspnetboilerplate.com/ template to my project, but issue still same

[2022-06-10 05:05] ismcagdas commented on #6468
The error message doesn't tell much. Is it possible to share a reproduction project with us ?

[2022-06-10 06:11] yopichy commented on #6468
What do you mean share private repo of my project?
Where should I invite?

[2022-06-10 06:45] yopichy commented on #6468
Invitation sent

[2022-06-11 00:45] pixelapocalypseuk commented on #6467
Yeah sure, ill spin up a new project and pop in an example, shouldn't take too long ill get it done tomorrow hopefully and link it here.

[2022-06-11 04:32] MohammadMobasher commented on #6458
ok i will

[2022-06-11 05:22] MohammadMobasher commented on #6458
https://github.com/MohammadMobasher/MyProject

[2022-06-13 08:49] ismcagdas commented on #6458
Is this a private repository ? I don't have access to it.

[2022-06-13 10:50] ismcagdas commented on #6468
I checked your solution and it seems like ActivoCoreModule depends on AbpAspNetCoreModule. Your core module shouldn't depend on a web module. If it is not a problem, you can remove this dependency and try again. I faced a few more exceptions when I remove this dependenc but it seems like those are related to your code.

[2022-06-13 12:00] yopichy commented on #6468
I 'll try to check it

[2022-06-13 20:12] MariooV opened #6470 "Pull access denied for abp/host"
When i try to run "docker-compose up" I get the following message:  _pull access denied for abp/host, repository does not exist or may require 'docker login': denied: requested access to the resource is denied_

I have downloaded the latest version of the template.

I am using Mac, and when following the tutorial, I can do everything except raise the docker file.

I would appreciate the help.

Tha

[2022-06-14 05:08] MohammadMobasher commented on #6458
sorry, i make it public...

[2022-06-14 11:08] yopichy commented on #6468
Issue solved. Thanks

[2022-06-14 16:26] dolphinsd opened #6471 "Provide ability to set cache size limits and mark entries as permanent"
Memory cache implementation should expose existing net core functions to control cache size.

Use case: to make sure host machine does not run out of memory.

See how at https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-6.0
and
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-6.0#use-setsize-size-and-sizelimit-to-limit-ca

[2022-06-15 05:55] ismcagdas commented on #6471
@dolphinsd thanks, we will check this.

[2022-06-16 07:31] ismcagdas commented on #6458
It only contains a Readme file.

[2022-06-16 09:15] #6360 closed

[2022-06-16 11:41] Ilkhom-S opened #6473 "Setting defined Entity<long> as multilingual entity blocks creating CreateMultiLingualMap context"
Hello,
 I think there little bug in mutilingual entity.

When I create class like this :

public class ProductTranslation: Entity\<long\>, IEntityTranslation\<Product\>

It is blocking for creating configuration.CreateMultiLingualMap<Product, ProductTranslation, ProductDto>(context);

Message:
Error	CS0311	The type 'ProductTranslation' cannot be used as type parameter 'TTranslation' in the generic

[2022-06-16 12:46] Ilkhom-S opened #6474 "Getting warning with Multilingual navigation."
When I set

Product and ProductTranslation. EF Core showing this warning.

Entity 'Product' has a global query filter defined and is the required end of a relationship with the entity 'ProductTranslation'. This may lead to unexpected results when the required entity is filtered out. Either configure the navigation as optional, or define matching query filters for both entities in the navigation. S

[2022-06-16 13:55] sajasbana commented on #6473
@Ilkhom-S try like this

public class ProductTranslation: Entity<long>, IEntityTranslation<Product, **long**>

also

configuration.CreateMultiLingualMap<Product, **long**, ProductTranslation, ProductDto>(context);

[2022-06-16 14:14] Ilkhom-S commented on #6473
It doenst help, because IEntityTranslation does not implement TPrimary interface . Error

Error	CS0738	'ProductTranslation' does not implement interface member 'IEntityTranslation<Product, long>.CoreId'. 'ProductTranslation.CoreId' cannot implement 'IEntityTranslation<Provider, long>.CoreId' because it does not have the matching return type of 'long'.

[2022-06-16 14:17] Ilkhom-S commented on #6473
What I want is to make available to set primary key type for translation Entity. For now ITranslateEntity supports only int hardcoded

[2022-06-17 08:00] ismcagdas commented on #6467
Your server side code seems fine 👍

Could you share your final JS code, I can take a look.

[2022-06-17 08:14] ismcagdas commented on #6473
We can allow this for the next version.

[2022-06-17 08:21] ismcagdas commented on #6474
Are Product and ProductTranslation both multi tenant ?

[2022-06-17 08:59] pixelapocalypseuk commented on #6467
Hey @ismcagdas,

Sure and thankyou very much for having a look, like i said me and javascript are acquaintances at best, and even then we are only interact when its unavoidable.

[code]

[2022-06-17 10:45] Ilkhom-S commented on #6474
Project is multitenant, but this entities not. I think it will give same warning for Multitenant Entity.
I think problems relies on Entity itself. I figured out when you declare class Entity\<TPrimaryKey\> EF Core adding indexes for navigation. But when I declare any class with Entity without specifying TPrimary key assuming that primary key int. EF core doesn't understand that binding.

[2022-06-17 10:53] Ilkhom-S commented on #6474
For example:
when I declare entity such way,
class Product:CreationAuditedEntity without specifying TPrimary key. EF doesn't add any indexes

But when I declare class Product:CreationAuditedEntity\<int, User\> . EF see all relationship with 1-1 and add indexes for CreatedUser  and DeletedUser .

I think entity with default int key should be avoided or documented. Because it can lead performance pr

[2022-06-17 10:55] Ilkhom-S commented on #6474
If problem with #6473 resolved, I think this warning should go away, because we can declare primary key explicitly

[2022-06-18 08:16] behiunforgiven commented on #5789
@mirusky Did you solve this problem?

[2022-06-19 03:38] MohammadMobasher commented on #6458
check it again please

[2022-06-20 06:11] ismcagdas commented on #6474
We can check it after implementation of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6473

[2022-06-20 06:15] ismcagdas commented on #6467
When I check our implementation, spinner should be hidden when the data is loaded. Is it possible for you to share a sample project which reproduces this problem ?

Also, are there any JS errors in the browser console ?

[2022-06-20 10:31] #6465 closed

[2022-06-20 11:33] demirmusa opened #6475 "Update document"
Update document according to https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6466

[2022-06-20 12:39] ImanBahrampour opened #6476 "Customize Abp Authorization"
I have a multi-tenant system with the following considerations:

1. Each tenant has its own users, roles, and permissions.
2. Each tenant may have several projects.
3. Each project may have several teams.
4. Each team may have default organization roles or custom roles.
5. Each user in the team must have a role.

I have implemented this system with organization units, roles, and users(add a child

[2022-06-20 21:58] Urtgard commented on #6476
You could use more permissions. Instead of permission "add" you'd have the permission "ProjectName.TeamName.Add"

The same with roles. Instead of just one role "admin" you'd have "ProjectName.TeamName.Admin" or a role for the complete project "ProjectName.Admin".

[2022-06-20 22:17] mirusky commented on #5789
@behiunforgiven I moved to another framework, but I understood what I was doing wrong a few months ago.

Actually when you are redirected back (from IdentityProvider to ABP) you need to check if the user exists on ABP and then insert or update the user information.

After you made the TokenRequest, you should deserialize the JWT and get the user's claims. With the claims you could now use the Subj

[2022-06-21 04:51] ismcagdas commented on #6476
You can customize https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L775 and determine user's roles according to current OU Id or TeamId depending on your business.

Just create a new UserStore class which implements AbpUserStore and override the metioned method. Then, you need to replace AbpUserStore with your implementation using

[2022-06-21 09:23] odesyatnyk opened #6478 "How to mock Clock.Provider"
Trying to cover with unit tests some functionality that is date-dependent we tried to mock `Clock.Provider` in the way you can find in snippet below. It works like a charm unless we have multiple unit tests that are running in parallel, and sometimes it might happen that `Clock` from one test picks mocked `Provider` from the other, because we are dealing with static resources here.

[code]

This i

[2022-06-21 10:39] ismcagdas commented on #5950
We will probably use OpenIdDict but it is not planned yet.

[2022-06-21 10:42] #6475 closed

[2022-06-21 10:43] ismcagdas commented on #6478
@odesyatnyk approach 1 seems better I guess. We also had plans to change this, maybe we can do it in v8.0 since it will be a breaking change.

[2022-06-22 05:03] ismcagdas opened #6479 "Update templates to ABP 7.3.0"
- [x] https://github.com/aspnetboilerplate/module-zero-core-template
- [x] https://github.com/aspnetboilerplate/module-zero-template
- [x] https://github.com/aspnetboilerplate/aspnet-core-template
- [x] https://github.com/aspnetboilerplate/aspnetboilerplate-templates

[2022-06-22 07:00] odesyatnyk commented on #6478
@ismcagdas got it, thanks for reply

[2022-06-24 06:29] #6479 closed

[2022-06-24 06:30] ismcagdas opened #6480 "Release"
Release free templates

- [x] https://github.com/aspnetboilerplate/module-zero-core-template
- [x] https://github.com/aspnetboilerplate/module-zero-template
- [x] https://github.com/aspnetboilerplate/aspnet-core-template
- [x] https://github.com/aspnetboilerplate/aspnetboilerplate-templates

[2022-06-24 07:16] #6480 closed

[2022-06-24 16:33] ImanBahrampour commented on #6476
Thank @Urtgard
I implemented these hierarchies in my organization units.
Suppose I add AbpAuthorize["ProjectName.TeamName.Admin"] to specific service then other teams can't call this service.

[2022-06-24 16:42] ImanBahrampour commented on #6476
Thank @ismcagdas.
I override the GetRolesAsync method but how can I give the requested OU Id in the method?
In the PreInitialize method I get the error:
`There is no implicit reference conversion from 'MyProject.Configuration.CustomUserStore' to 'MyProject.AbpUserStore'.`

[2022-06-25 12:57] lfilipek opened #6481 "ObjectDisposedException in EventHandler while SettingManager.ChangeSettingForApplicationAsync()"
Hello,
I use ABP 5.1.0
.Net Core
I have my class
[code]

Then i have class:

[code]

At first glance, this works, but if I run the handler on two different items in quick succession, I get an error:
(On some machines it is enough to run the event on two items, on others it is necessary to run the event on the other two items in order for the same error to occur.)

[code]

And the value in the appl

[2022-06-27 05:57] Abouzeid commented on #6441
Any update on this. I have the same request as well.

[2022-06-27 06:09] #6441 closed

[2022-06-27 23:28] dolphinsd opened #6482 "TargetNotifiers should not use unlimited string"
Sql Server and other database are not very efficient if you use  type: "nvarchar(max)",

Your just added a new column to AbpUserNotifications and AbpNotifications, TargetNotifiers

There is not reason to have it unlimited length! It slows down a potentially large table
Here you read about it at
https://www.sqlshack.com/varcharmax-data-type-walkthrough-and-its-comparison-with-varcharn-in-sql-server

[2022-06-27 23:30] Urtgard commented on #6481
Is this the complete code or just an example?

If I remeber correctly I've seen this error a few times when I forgot an _await_

[2022-06-28 05:01] yopichy opened #6483 "How to use currency by localization in angular template?"
I have a problem when using angular templates and using localization, when changing the currency by localization that previously used a comma (1,000,000) as separator to change to a dot (1.000.000) there was a problem when saving.
for example in the UI input using a comma it was considered as a dot by the API. Has anyone had a similar experience? Please help those who are experienced with this pro

[2022-06-28 05:39] ismcagdas commented on #6482
@dolphinsd thanks, we can limit the lenght of the field.

[2022-06-28 05:41] ismcagdas commented on #6476
@ImanBahrampour is it possible to share a reproduction project ?

[2022-06-28 05:49] ismcagdas commented on #6458
@MohammadMobasher sorry for my late reply but as I can see, your repo doesn't have a csproj file. How can I run the project and reproduce the problem ? Could you setup a proper repo and ping me ?

[2022-06-28 14:21] Ilkhom-S opened #6484 "Master detail with translations on update, delete childs from database"
Hello,

Problem with master detail on update. I have product and details . Both  are Multilingual entity.

When update like this.

[code]
Code is not from source, just give example.

All Dto's mapping configured as document. But when I update there is 2 problems.
1. Translations on details are not cleared and get duplicated.
2.  Product details are deleted and loose navigations. But translations o

[2022-06-28 14:47] Ilkhom-S commented on #6484
Problem solved,  Problem relies on Automapper side.
But one little question. Why we need Clear translations on each update. I mean on update Identity column keeps changing . I update 30 times one entity, and translations entity identity reach 10 000. Is there a way avoiding this ?

[2022-06-29 04:12] Ilkhom-S commented on #6484
I think, IMultilingual Entity should implement
[code]

So it wont be needed to clear translations. you already implement AutoMapper.Collection.

[2022-06-29 04:42] ismcagdas commented on #6484
@Ilkhom-S thanks, I will check this.

[2022-06-29 05:19] Ilkhom-S commented on #6484
For now, I find solution.
Create map with id comparison on Translationdto to Translation. Like this .

[code]

With such declaring. You dont need to clear translation on update. Also master detail will work as expected.
Identity column also wont change.

[2022-06-29 05:19] #6484 closed

[2022-06-29 11:14] pixelapocalypseuk commented on #6467
Hey @ismcagdas
Sorry i have been super busy elsewhere, i dont want to keep this open for the sake of this so ill shelve it for now and raise something more specific when i have the time again if i still need to. Im still having the js issue but as its not critical right now!

Thankyou with the help so far in any case its been much appreciated!

[2022-06-29 11:14] #6467 closed

[2022-06-29 11:17] sajasbana commented on #6483
@yopichy
for me i do something like this

public const int DecimalPlaces = 3;
        public const string DecimalFormat = "0.000";
        public const int MoneyDecimalPlaces = 3;
        public const string MoneyDecimalFormat = "0.000";
        public const string DateFormat = "yyyy-MM-dd";
        public const string TimeFormat = "HH:mm:ss";
        public const string DateTimeFormat = "yyyy-MM-

[2022-06-29 16:31] ImanBahrampour commented on #6476
Here you go: [CustomUserStore](https://github.com/ImanBahrampour/CustomUserStore)

[2022-07-02 16:59] ImanBahrampour commented on #6476
The Startup Template has a custom UserStore and I don't need to create a new one.
The GetRolesAsync method is called.
Thank

[2022-07-02 16:59] #6476 closed

[2022-07-03 05:24] MohammadMobasher commented on #6458
forgot it, I handle it ...
thanks a lot

[2022-07-03 05:24] #6458 closed

[2022-07-03 13:57] tuyndv opened #6485 "Please support Option withAssemblyName for AbpCacheData"
Dear team,

Current withAssemblyName (Abp.Runtime.Caching.AbpCacheData)  always is True, please support can set withAssemblyName

Thanks Team

[2022-07-04 08:25] ismcagdas commented on #6485
@tuyndv thanks, I will check this.

[2022-07-09 21:47] titobf opened #6486 "AbpMemoryCache slidingExpireTime not working"
* Abp package version: 7.3
* Your base framework: .Net Core.

Taking a look at the Set method inside AbpMemoryCache (line 41):

and then to the corresponding extension method inside MemoryCacheExtensions (line 61):

We can see that AbsoluteExpirationRelativeToNow is being set instead of SlidingExpiration, and those two properties behave differently.

The only workaround I found at the moment is to

[2022-07-11 17:23] KennyEng12 commented on #4321
Hi I think this will be useful for those who needs this in the future without creating a dummy tenant.

Just add any of the following methods to [SecondDbContextDbMigrator ](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/AbpZeroDbMigrator.cs) depending on your need.

Without SeedAction

[2022-07-12 07:19] ismcagdas commented on #6486
@titobf thanks, we will check this.

[2022-07-12 10:38] RyanGaudion opened #6487 "How to remove authorization completely from hangfire dashboard"
I currently have:

[code]

and

[code]

However, when trying to access the hangfire dashboard it still tries to authenticate. How do I setup the dashboard to not require authentication either?

Something like the AllowAnonymous attribute?

[2022-07-13 09:16] ismcagdas commented on #6487
Do you get any auth error ? If so, could you share it ?

[2022-07-13 12:13] Robert-Laverick commented on #6216
OK, well after some delays and other things I'm back again, and I'm still seeing this issue even with 7.3 on our production system. And I've still yet to catch it in a development setting to get much more detail.

[code]

This still seems to happen on long requests. Before I was assuming it was headers related, which it still could be because there's no null check for headers before we hit this li

[2022-07-13 12:21] Robert-Laverick commented on #6216
Looking at the log again, it seems that it's inside this method where it's failing, I'm guessing the HttpContext.Current is the null here?

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/src/Abp.Web.Mvc/Web/Mvc/Security/AntiForgery/AbpMvcAntiForgeryTokenManager.cs#L58

This trace is specifically from a webapi call, could it be that something so

[2022-07-14 07:43] RyanGaudion commented on #6487
Just getting 401 http responses.

I'm using JWT as the primary auth method but for Hangfire I don't want users to authenticate. I just want to basically [AllowAnonymous]

[2022-07-14 11:18] nikschuiling commented on #6433
@ismcagdas @demirmusa any update about this?

[2022-07-14 13:25] vlad0003 opened #6488 "where to register db dependency"
Hello, I encountered such a problem, when adding a database to the controller, an error pops up "HandlerException: Can't create component ‘IDT.EntityFrameworkCore.IDTDbContext' as it has dependencies to be
satisfied.

‘IDT.EntityFrameworkCore.IDTDbContext' is waiting for the following dependencies:
- Service ‘Microsoft.EntityFrameworkCore.DbContextOptions 1[[IDT.EntityFrameworkCore.IDTDbContext,
I

[2022-07-15 20:47] SebastianMajcher2005 commented on #6488
[https://docs.microsoft.com/en-us/ef/core/dbcontext-configuration/](url) Try read it maybe it solve your problem.

[2022-07-16 15:22] amendez1000 opened #6489 "Bug: Different users can be register with the same e-mail address"
Hello,

I am working with ABP 6.5.0 and Angular. In my application to register a new user, I only request the e-mail address, internally, I generate the user id using the first part of the e-mail address. For example, if I register the e-mail: arturo@hotmail.com. The user name will be "arturo".

`//Get user name from e-mail
            string email = input.EmailAddress;
            string userName

[2022-07-18 06:08] ismcagdas commented on #6489
@amendez1000 does this happen on a non-modified template ?

[2022-07-18 06:13] ismcagdas commented on #6488
@vlad0003 did you use one of ABP templates ?

[2022-07-18 10:26] xiaohui-gsv opened #6490 "Is there a way that Repository Pattern can update part of entity's properties, not all properties"
`Repository.Update` statement will update all entity's properties, even if you only changed one property, I have an entity that has almost 100 properties, for the performance, I want to only update the properties that I changed, current what I do is just change the properties, don't call  the `Repository.Update`, so in the end of the UOW, the EF core `SaveChange` will only update the properties th

[2022-07-19 11:39] odesyatnyk opened #6491 "SignalR logs are not working"
Hi all,

We encountered an issue that we cannot see internal logs from SignalR in our ABP application. We are interested especially in ones that are showing payload of signalr hub methods etc.

We even tried to change default severity in appsettings and in log4net configs, but that did not helped.

What i'm saying is that i expect to have these king of logs that are produced by signalr package.
It

[2022-07-20 05:27] ismcagdas commented on #6491
Could you try this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6195#issuecomment-877374544 and see if it works ?

[2022-07-20 05:28] ismcagdas commented on #6490
Maybe you can create a custom repository and follow such an approach https://stackoverflow.com/a/52520496

[2022-07-20 05:41] ismcagdas commented on #6433
@nikschuiling sorry, we will check this in the next version.

[2022-07-20 06:41] xiaohui-gsv commented on #6490
@ismcagdas got it, thank you.

[2022-07-20 09:55] odesyatnyk commented on #6491
that worked, thanks a lot!

[2022-07-20 09:55] #6491 closed

[2022-07-21 12:21] nimeshvaghasiya commented on #5230
@ismcagdas @demirmusa can somebody check that when userIds is null means all subscribed user will get entity specific notification.
I have subscribed users but not getting notification.

`await _notificationPublisher.PublishAsync(AppNotificationNames.NewOrderDetected, notificationData,
                    entityIdentifier: new Abp.Domain.Entities.EntityIdentifier(typeof(Order), orderId),

[2022-07-21 14:31] rafaelmaia-pelicancorp opened #6492 "Bug: The Cache DefaultAbsoluteExpireTime property work only once"
When upgrading to aspnet zero 11.2.1 (ABP 7.3.0) for .Net 6, the caching configuration in my module broke, because now cacheOptions.DefaultAbsoluteExpireTime is now a DateTimeOffset instead of a Timespan. ( #5422 )

I did the correction and tested it to verify if it was still working as expected, but I saw that after expiring, the cache wasn't being used anymore. The new object was being fetched a

[2022-07-22 05:17] ismcagdas commented on #6492
Thanks @rafaelmaia-pelicancorp we will test and fix this.

[2022-07-22 08:23] nimeshvaghasiya commented on #5230
@ismcagdas I'm using aspnetzero v11 so it's abp v7.1, attached screenshots only 'AbpNotificationSubscriptions' contains records of specific notifications

![Code](https://user-images.githubusercontent.com/6048622/180396803-c24be35e-8d0c-49b4-86d6-d0df3e9bb5b6.png)
![Result](https://user-images.githubusercontent.com/6048622/180396821-38781f04-0ef1-4847-94f6-a5416cb06b24.png)

[2022-07-22 10:45] #6488 closed

[2022-07-22 12:43] princefishthrower commented on #5761
@mirusky - I realize this is 2 years ago, but did this ever work for you? We are also having trouble connecting a new PostgreSQL database with the snake case naming convention

[2022-07-23 06:11] mirusky commented on #5761
@princefishthrower I don't remember what we did in this case, but I'm pretty sure we ended up changing table by table. Because we didn't have time to create a proper PR with tests and stuff...

My last comment was what we are intended to change in the followin method: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/671d25597251358d2218a80f198edac6f43624c4/src/Abp.ZeroCore.EntityFramewo

[2022-07-23 09:53] Omital opened #6493 "Does aspnetboilerplate track entity history in backgroundjobs and workers?"
It seems aspnetboilerplate does not track entity change history in BackgroundJobs and Workers. Is any option to enable or implement it?

[2022-07-23 10:12] Omital opened #6494 "ICacheManager.GetCache not work"
this code is using **CacheManager** to get cached data:

[code]

and **CachNames._related_legal_person_id_by_ta_real_person_id** config in **webModule.PostInitialize**:
[code]
and the application log is
[code]

Its clear that every time application call method **LegalPersonIdsByTechnicalAssistant** the **ICachManager** load data from DB and not from cache object

[2022-07-23 10:15] Omital commented on #6494
it seems related to issue #6492

[2022-07-23 12:43] amendez1000 commented on #4258
Hello,

Does someone have an example to share? At least I high level. I don't have clear the way to implement signalR yet. I have read the documentation and this conversation guys and I don't understand what I need to do. Any help is welcome.

I am using .net core 5 and angular. I used the abp aspnet template.

I have a angular component to show answers for a question and user can click in a like

[2022-07-23 14:28] amendez1000 commented on #6489
I will test it and let you know. This is weird because in my same app, other kind of business can be registered and I am using the same logic behind and the same e-mail cannot be used twice. Then, I am thinking there is a bug in .net core or in my app (probably my app is main problem). I already fixed my issue implementing a looking of the e.mail before registering a new user as you do in ABP fram

[2022-07-23 15:33] amendez1000 commented on #1703
Hello,

Does someone have an example to share? At least I high level. I don't have clear the way to implement signalR yet. I have read the documentation and this conversation guys and I don't understand what I need to do. Any help is welcome.

I am using .net core 5 and angular. I used the abp aspnet template.

I have a angular component to show answers for a question and user can click in a like

[2022-07-24 16:26] greenlgy opened #6495 "Recommendations for integrating Identityserver4 documentation"
The following documentation is not sufficiently explanatory, making it very difficult to integrate Identityserver4, and I find many people feel this way.

1. [https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server](url)
2. [https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server-vNext](url)

The documentation says "You should read its own documentation to better understand h

[2022-07-25 00:35] maliming commented on #6495
hi

We will continue to improve the documentation, and we have samples you can refer to.

https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServerDemo
https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServervNextDemo

[2022-07-25 04:00] Omital commented on #6494
@maliming  suggestion please

[2022-07-25 04:09] maliming commented on #6494
I agree, Let discuss this in #6492

[2022-07-25 04:09] #6494 closed

[2022-07-25 05:55] maliming commented on #6492
We can consider adding a factory method to get the `AbsoluteExpireTime` and its priority is greater than `DefaultAbsoluteExpireTime`.

[code]

[2022-07-25 08:00] ismcagdas commented on #1703
You can use SignalR just like you do in any other Angular app. maybe you can follow a similar tutorial https://www.c-sharpcorner.com/article/real-time-angular-11-application-with-signalr-and-net-5/ and see how it is done.

[2022-07-25 09:27] ismcagdas commented on #6493
Copuld you share a sample entity and a sample job to reproduce this ?

[2022-07-25 11:04] ismcagdas commented on #6487
@RyanGaudion did you figure it out ? I think it might be related to order of app.UseHangfireDashboard in Startup.cs.

[2022-07-25 12:03] RicardoLans opened #6496 "Bug: NotificationInfo.TargetNotifiers needs to be virtual in order for NHibernate to proxy it"
Introduced in Abp v7.3
[PR 6466](https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6466)

There is a new public property introduced on NotificationInfo class, but this property also needs to be virtual, cause NHibernate is now not able to proxy this class giving error:
[code]

[2022-07-25 18:10] ahmedtolba1984 opened #6497 "UserFriendlyException doesn't get handled correctly on frontend angular app in my Custom middleware"
Dears,
**UserFriendlyException** doesn't get handled correctly on frontend angular app in my Custom middleware
I have a custom middleware that is doing authentication related staff and fires after request has been authenticated
but the issue is, when i raise **UserFriendlyException** for the first request I got from Angular App which is **/AbpUserConfiguration/GetAll**,
The exception doesn't doesn

[2022-07-25 18:16] pepearreola opened #6498 "An internal error occurred during your request! returned instead of user friendly exception message"
When throwing a user friendly exception from a plain function in ` IApplicationService`, the error message returned is _An internal error occurred during your request!_ instead of the error message inside the user friendly exception.

The problem is that the framework is throwing a **DidNotCallCompleteMethodExceptionMessage** exception

* Net Core 6
* Framework version **Abp 7.2.1**.
* Database pr

[2022-07-26 01:58] SergeiGorlovetsky opened #6500 "Lock in OnlineClientManager was flagged by Microsoft support as contributing to deadlock in high volume traffic scenarious"
Hi,
One of our clients has been experiencing Thread Exhaustion issues and after analysing memory dumps and .net profiler traces the recommendation was:
" _As with most performance issues, the scene is complex. However, the most prominent issue is definitely the huge number of blocked threads that are all waiting on the synclock to either call Abp.RealTime.OnlineClientManager.Add or Abp.RealTime.On

[2022-07-26 04:16] rqx110 commented on #6492
`DefaultAbsoluteExpireTimeFactory` is great, but the problem of `DefaultAbsoluteExpireTime` is still exist, it must be fixed

[2022-07-26 04:51] ismcagdas commented on #6500
Hi @SergeiGorlovetsky I think at the time of writing OnlineClientManager, we couldn't be sure about InMemoryOnlineClientStore is thread safe or not but when I look at it, it seems fine. To try this, you can create your own version of OnlineClientManager and use it in your project and test it.

[2022-07-26 05:09] ismcagdas commented on #6498
@pepearreola thanks, I will check your PR.

[2022-07-26 05:10] ismcagdas commented on #6497
Could you share your entire startup.cs file ?

[2022-07-26 06:03] maliming commented on #6492
I'll try to find a solution that doesn't break too much.

[2022-07-26 07:25] ishamfazal opened #6502 "Json response from the backend sends chunk of the data"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

the problem is whenever I change the language from English to any other language the API response breaks from the backend. I get a half response from the backend. so the website is unable to desterilize the the object.

* Abp version 4.7.1
* .NET Cor

[2022-07-26 07:45] #6492 closed

[2022-07-26 07:53] ismcagdas opened #6503 "Implement IOnlineClientStore for Redis"
Currently, if we use Redis Cache, SignalR connection causes problems.
After creating RedisOnlineClientStore, update https://github.com/aspnetzero/documents/blob/master/docs/en/Clustered-Environment.md#scaling-signalr as well.

[2022-07-26 08:11] rqx110 commented on #6492
@ismcagdas, the bug of DefaultAbsoluteExpireTime property still exists. keep it open?

[2022-07-26 08:16] maliming commented on #6492
hi @rqx110

`DefaultAbsoluteExpireTimeFactory` does the trick. `DefaultAbsoluteExpireTime` is a fixed value, not inherently a bug.

[2022-07-26 09:40] ismcagdas commented on #6502
Could you share the request headers as well ?

[2022-07-26 11:21] ishamfazal commented on #6502
![image](https://user-images.githubusercontent.com/11960696/180994164-9aeb19f5-6e57-4a07-80bc-7ea0acd07766.png)
![image](https://user-images.githubusercontent.com/11960696/180994227-5b9a5416-738c-4cd4-8e1e-932ad2f25193.png)
![image](https://user-images.githubusercontent.com/11960696/180994268-454a72ce-e9de-4d38-b877-1168517e4e22.png)
please find the header details

[2022-07-26 11:25] ishamfazal commented on #6502
this is the error i get when the request is sending from the server to website
ERROR 2022-07-26 15:22:34,122 [42   ] Microsoft.AspNetCore.Server.Kestrel      - Connection id "0HMJEUVQ4JBHJ", Request id "0HMJEUVQ4JBHJ:00000002": An unhandled exception was thrown by the application.
System.ArgumentOutOfRangeException: Specified time is not supported in this calendar. It should be between 04/30/1900

[2022-07-26 11:30] ishamfazal commented on #6502
This is happening when the language is changed from English to Arabic and however, when parsing Json from the server side it takes the Arabic culture. hence, it throws an exception. is there a workaround for this?

[2022-07-26 11:55] ishamfazal commented on #6502
Thanks anyway I found a fix for this and it works now
https://support.aspnetzero.com/QA/Questions/4547#answer-d2e2889e-634e-4ba7-83dc-0dad96b3bff3
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.AspNetCore/AspNetCore/Localization/AbpUserRequestCultureProvider.cs

public override async Task<ProviderCultureResult> DetermineProviderCultureResult(HttpContext httpContext)

[2022-07-26 12:16] karen-hikesupport opened #6504 "Redis issue with AspnetZero Navigation"
* Your Abp package version.  -  7.2.1.0
* Your base framework: .Net Framework or .Net Core. - .net Framework

I Implemented Redis with aspnetzero, all well except the navigation menu language only english when i changed the language, it is changing other where but menu navigation side not changing, when i remove radis so it will work.

Can u provide me the solution if you had problem before with r

[2022-07-26 13:29] RicardoLans opened #6505 "AbpAutoMapperModule.CreateMappings throws MissingMethodException"
Abp v7.2.1 (cannot upgrade to 7.3.0 because of Issue 6496)
AutoMapper v11.0.0

On webhost startup:
[code]

Reverting back to AutoMapper 10.1.1 has no issues.
Based on [automapper v11 migration guide](https://docs.automapper.org/en/latest/11.0-Upgrade-Guide.html) it says nothing about this specific method.
Initially it was introduced as breaking change in [AutoMapper v8](https://docs.automapper.org

[2022-07-26 14:11] SergeiGorlovetsky commented on #6500
Thank you Ismail, Indeed InMemoryOnlineClientStore uses ConcurrentDictionary and it is thread safe. We are going to remove the lock and load test.

[2022-07-26 20:39] ahmedtolba1984 commented on #6497
just any Startup of downloaded sample with the new middlewere
`    public class Startup
    {
        private const string _defaultCorsPolicyName = "localhost";

        private const string _apiVersion = "v1";

        private readonly IConfigurationRoot _appConfiguration;
        private readonly IWebHostEnvironment _hostingEnvironment;

        public Startup(IWebHostEnvironment env)
        {

[2022-07-26 20:40] ahmedtolba1984 commented on #6497
@ismcagdas
The most important lines are these
`app.UseAuthentication();
        app.UseMiddleware<MyCustomClaimsMiddleware>();`

[2022-07-26 23:37] amendez1000 opened #6506 "Question: Include and ThenInclude are not returning rows."
Hello,

I have a web site. Users can be logged or they cannot be. When user clicks a button, it should return a list of companies and their branches. For this reason, when clicks the retrieve button, I call the company.GetAllAsync and in my service I also implemented/override the CreateFilteredQuery method. Inside the CreateFilteredQuery  method, there is the following query:

`result = Repository

[2022-07-27 09:13] ismcagdas commented on #6506
@amendez1000 is it possible to share your appservice and entity definitions ?

[2022-07-27 10:56] greenlgy commented on #2836
Authentication:JwtBearer:IsEnabled

[2022-07-27 11:03] greenlgy commented on #2836
The final conclusion is: can only choose one of JwtBearer and IdentityBearer?
Can I enable both JwtBearer and IdentityBearer, ie:
Authentication:JwtBearer:Issuer : true
IdentityServer:IsEnabled : true

[2022-07-27 11:04] greenlgy commented on #2836
The final conclusion is: can only choose one of JwtBearer and IdentityBearer?
Can I enable both JwtBearer and IdentityBearer, ie:
Authentication:JwtBearer:IsEnabled : true
IdentityServer:IsEnabled : true

[2022-07-27 11:21] greenlgy commented on #2836
The final conclusion is: can only choose one of JwtBearer and IdentityBearer?
Can I enable both JwtBearer and IdentityBearer, ie:
Authentication:JwtBearer:IsEnabled : true
IdentityServer:IsEnabled : true
@hikalkan hikalkan

[2022-07-27 11:47] ahmedtolba1984 commented on #6497
@ismcagdas
Any Updates?

[2022-07-27 13:16] ismcagdas commented on #6497
I will cehck it out, I couldn't see anything problematic on your code for now.

[2022-07-27 14:12] ahmedtolba1984 commented on #6497
@ismcagdas
Thanks, waiting your feedback :)

[2022-07-27 22:47] amendez1000 commented on #6506
@ismcagdas ,

Here they are.

**Tenant**

using Abp.MultiTenancy;
using App.Authorization.Users;
using App.Branches;
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;

namespace App.MultiTenancy
{
    public class Tenant : AbpTenant<User>
    {
        public virtual ICollection<Branch> Branches { get; set; }

        public Tenant()
        {
        }

[2022-07-27 22:53] amendez1000 commented on #6506
@ismcagdas , debugging, sometimes it works fine. However running again with the same filters, it doesn't work.

[2022-07-28 00:14] amendez1000 commented on #6506
@ismcagdas,

I don't understand why. But this code solves the problem:

[code]

Previously, I had done this and it didn't work:

[code]

The main difference is the result variable is now inside the Using to Disable the filter MustHaveTenant.

Thanks for your time.

Regards,
Arturo

[2022-07-28 06:23] ismcagdas commented on #6506
Could you share your main entity definition ? I think it is automatically filtered when a user logged in with user's TenantId.

[2022-07-28 07:28] karen-hikesupport commented on #6504
Hi @ismcagdas

Can u please help us, we are stuck now.

[2022-07-28 07:40] ismcagdas commented on #6505
We are still using AutoMapper v10, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AutoMapper/Abp.AutoMapper.csproj#L28. So, you should use AutoMapper 10.1.1 as well.

[2022-07-28 07:44] RicardoLans commented on #6505
Wow I completely missed that when I checked the source code, sorry :)
Thanks for the headsup, time to close this ;)

[2022-07-28 07:44] #6505 closed

[2022-07-28 07:45] ismcagdas commented on #6505
You are welcome 🙂

[2022-07-28 07:52] RyanGaudion commented on #6487
@ismcagdas - the order in startup resolved the issue - thank you

[2022-07-28 07:52] #6487 closed

[2022-07-28 07:52] #6502 closed

[2022-07-28 07:53] ismcagdas commented on #6487
Great 🙂

[2022-07-29 12:47] #6503 closed

[2022-07-30 04:04] bxjg1987 opened #6508 "Like vNext, add withdetail extension method to IQueryable<T>"

[2022-07-30 23:57] #6446 closed

[2022-07-30 23:57] #6434 closed

[2022-07-30 23:57] #6435 closed

[2022-07-30 23:57] #6362 closed

[2022-07-30 23:58] #6422 closed

[2022-07-30 23:58] #6423 closed

[2022-07-30 23:58] #6409 closed

[2022-07-31 01:58] amendez1000 commented on #6506
@ismcagdas,

What do you mean with the main entity? Do you mean the tenant class?

Thanks!

[2022-07-31 14:15] ahmedtolba1984 commented on #6497
@ismcagdas Any Updates?

[2022-08-01 05:19] karen-hikesupport commented on #6504
any update?

[2022-08-02 08:50] 1jedrzej1 commented on #4203
Hi,
like as @mwj033 mentioned, `OnModelCreating` not did any effect. @ryancyq sugestion is not enough to solve this problem.
Yes, in database `NewValue` column was changed to `character varying (1024 * 6)`, but when repository insert property change ORM entity have `NewValue` truncated to 512 chars.
I was tried to replace `DbSet` using `new` keyword and change `EntityHistory` objects
[code]
    [T

[2022-08-02 11:19] karen-hikesupport commented on #6504
Any update?

[2022-08-03 03:20] hardeep8036 opened #6509 "parameter Provider and access code"
I am using google authentication via API ExternalAuthenticate() It has two parameters Provider key and access code. What should be passed on to both of the parameters. If I pass the authentication OAuth token. it says unknown provider : google

[2022-08-07 10:38] ismcagdas commented on #6509
@hardeep8036 AspNet Boilerplate templates don't have such implementation. Did you implement it yourself ?

[2022-08-07 10:55] ismcagdas commented on #6504
@karen-hikesupport please follow https://github.com/aspnetzero/aspnet-zero-core/issues/4501, our team is working on this.

[2022-08-07 10:57] ismcagdas commented on #4203
@1jedrzej1 could you create a new issue ? I will check it out.

[2022-08-07 12:32] ismcagdas commented on #6506
I mean the entity used for Repository, is it the Tenant entity ?

[2022-08-08 06:20] 1jedrzej1 opened #6510 "Change MaxValueLenght for NewValue and OriginalValue properties in EntityPropertyChange"
Hi,
i have problem with `NewValue` and `OriginalValue` related with this closed issue:
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4203

like as @mwj033 mentioned in above issue, `OnModelCreating` did not any effect. @ryancyq sugestion is not enough to solve this problem.
Yes, in database `NewValue` column was changed to `character varying (1024 * 6)`, but when repository insert

[2022-08-08 06:22] 1jedrzej1 commented on #4203
@ismcagdas new issue was created

[2022-08-09 07:07] sajasbana commented on #6474
I notice there is another warning like below similar to this issue hope you can check it also, it show in fresh db migration
![image](https://user-images.githubusercontent.com/34976854/183586055-44631fa3-47b9-4431-baf2-3563f293bc82.png)

[2022-08-11 07:53] ismcagdas commented on #6474
See https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6255

[2022-08-12 13:06] ismcagdas commented on #6497
@ahmedtolba1984 I assume this is caused by https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs#L47. So, you can create your own exception filter simiar to AbpExceptionFilter and also use it if you want to handle UserFriendlyException throwed from any custom middleware.

[2022-08-12 13:14] #6496 closed

[2022-08-13 08:22] #6447 closed

[2022-08-13 08:22] #6436 closed

[2022-08-13 08:22] #6456 closed

[2022-08-13 08:22] #6459 closed

[2022-08-13 09:14] hzicong opened #6512 "The tenant ID is passed through the header, but the tenant ID is not received"
I have enabled the tenant and used JWT to pass tokens. However, on IIS, the server often receives tokens, but the tenant ID is null.

I recorded the token in the header, but the printed audit log tenant ID is null。

{
    "ExecutionTime": "2022-08-13 16:44:57",
    "ServiceName": "NewErp.Wms.Application.Stores.StoreAppService",
    "MethodName": "GetDefaultStore",
    "ExecutionDuration": 80,

[2022-08-13 10:47] hzicong commented on #6512
I have found that the problem is caused by the time difference between the JWT server and the client

[2022-08-13 10:47] #6512 closed

[2022-08-13 12:52] bxjg1987 opened #6513 "IActiveUnitOfWork add event AsyncDisposed"
There is only a synchronous version of the dispose event. I want to add an asynchronous version

[2022-08-13 14:39] bxjg1987 opened #6514 "[Question]Some things are executed when the current UOW is created"
abp 7.3
I want to execute some code when the current UOW of each request is created. What should I do?

[2022-08-14 09:21] ismcagdas commented on #6513
We don't have a plan to support this.

[2022-08-14 09:21] ismcagdas commented on #6514
Could you share your scenario ?

[2022-08-14 09:43] bxjg1987 commented on #6513
OK, I think I didn't think it over.

[2022-08-14 09:43] #6513 closed

[2022-08-14 09:44] bxjg1987 commented on #6514
OK, I think I didn't think it over.

[2022-08-14 09:44] #6514 closed

[2022-08-16 17:59] Omital opened #6515 "It seems abpUserLoginAttempts .clinetIpAddress, clientName and browserInfo is always null?"
Why clinetIpAddress, clientName and browserInfo  in abpUserLoginAttempts is always null?

[2022-08-17 05:22] ismcagdas commented on #6515
Might be related to many things, you can check https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web/Auditing/WebClientInfoProvider.cs#L41

[2022-08-17 06:01] Omital commented on #6515
@ismcagdas  how can I debug ?

[2022-08-17 09:24] woeterman94 opened #6516 "User is logged out when he doesn't have permissions."
* Your Abp package version: .7.0.1
* Your base framework: .Net Framework or .Net Core: .NET 6

When a user doesn't have the required permissions a AbpAuthorizationException is thrown and the user is being logged out. **Is there a way to change this behavior**? For example show an 'you don't have access to this page' screen rather than logging the user out?

My controller
[code]

User is logged out

[2022-08-17 11:29] onurcanyilmaz opened #6517 "How could we use RabbitMq in the project"
Hello,

I want to use RabbitMQ in the aspnetboilerplate so how could we use that
Could we use on the IEventBus if we can, how we will do this?

Thank you!

[2022-08-17 18:22] Omital commented on #6515
Data in abpAuditLog is OK but in three properties clinetIpAddress, clientName and browserInfo in abpUserLoginAttempts are always null

[2022-08-18 06:00] ismcagdas commented on #6515
you can override [this method](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L254) in your LoginManager and debug it. I couldn't reproduce the problem.

[2022-08-18 06:57] Omital commented on #6515
I compare ClientInfoProvider in AccountController.GetLoginResultAsync and LogInManager.SaveLoginAttempt the problem is that ClientInfoProvider in  LogInManager is always return null
![Screenshot 2022-08-18 112130](https://user-images.githubusercontent.com/12151866/185322874-ebad6cd4-9f6e-4cc7-8339-9b74868b9fee.jpg)
![Screenshot 2022-08-18 112019](https://user-images.githubusercontent.com/12151866/

[2022-08-18 07:03] ismcagdas commented on #6517
Unfortunately we don't support RabbitMq out of the box. You can check abp.io https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq

[2022-08-18 07:09] Omital commented on #6515
in this sample https://github.com/Omital/ClientInfoProvider
add break point in [https://github.com/Omital/ClientInfoProvider/blob/e0ab0d379e533a299df32579717234d09d0dd162/Radin.Web/Controllers/AccountController.cs#L128](url)  and [https://github.com/Omital/ClientInfoProvider/blob/3e40ae87698689d0596ebf9211d6fbfd6befcb9d/Radin.Core/Authorization/LoginManager.cs#L55](url)

[2022-08-18 07:15] Omital commented on #6515
in this sample repository [https://github.com/Omital/ClientInfoProvider](url)
to show problem more clearly add breakpoint in https://github.com/Omital/ClientInfoProvider/blob/3e40ae87698689d0596ebf9211d6fbfd6befcb9d/Radin.Core/Authorization/LoginManager.cs#L55 and https://github.com/Omital/ClientInfoProvider/blob/3e40ae87698689d0596ebf9211d6fbfd6befcb9d/Radin.Web/Controllers/AccountController.cs#L

[2022-08-18 07:54] onurcanyilmaz commented on #6517
Thank you for your feedback.

I'm closing the issue.

[2022-08-18 07:54] #6517 closed

[2022-08-18 08:00] Omital commented on #6493
In this project [https://github.com/Omital/ClientInfoProvider](url)
after **GenerateDataWorker** execution no history is recorded in entity history

[2022-08-18 16:00] onurcanyilmaz opened #6518 "No component for supporting the service"
Hello,

* Abp package version: 7.3.0
* base framework: .Net Core.

I am using Masstransit Rabbitmq library in the *.application project, I have a consumer.
When application is running, the consumer  got some errors

I use to with/without ITransientDependency nothing different happened.

There is a different thing because logger instance is successfully injecting but other things cannot resolved

!

[2022-08-19 05:14] ismcagdas commented on #6518
Is it possible to provide a reproduction project and steps to reproduce the problem ? There might be a problem on your module dependencies.

[2022-08-19 05:20] ismcagdas commented on #6493
Does that work if you wrap data save operation in the background job with this https://aspnetboilerplate.com/Pages/Documents/Abp-Session#user-identifier

[2022-08-19 05:21] ismcagdas commented on #6516
@m-aliozkaya could you test this scenario ?

[2022-08-19 06:03] Omital commented on #6493
What if Multitenancy is disabled?

[2022-08-19 06:43] onurcanyilmaz commented on #6518
It could be possible, I'll try to reproduction project then I'll share it.

The point is that, if there is no data in the queue, when I opening the aspnetboilerplate application works well
but  in the opposite situation, as you can see I got that errors.

I think consumer class is trying to consuming data quickly not waiting to service dependencies. But ILogger dependencies works perfect.

[2022-08-19 07:27] #6473 closed

[2022-08-19 08:05] onurcanyilmaz commented on #6518
Hello @ismcagdas

I shared it reproduction project.
You can access from https://github.com/onurcanyilmaz/Reproduction-MassTransit/tree/master

Thank you.

[2022-08-19 10:31] ismcagdas commented on #6493
In that case, you can try with default tenant's admin user. It should be TenantId=1, UserId=2

[2022-08-19 11:07] m-aliozkaya commented on #6516
I tested this scenario. When user don't have a permission to this page, it will be redirect to login page.  When I back the previous page my user still authenticated. If the user login to another account, the account will be change.

I couldn't produce this scenario.

[2022-08-19 11:28] woeterman94 commented on #6516
Sure, what more info do you need? I'm using 11.0 NetCore iQuery & MVC on a .NET 6 application.
In my case the user is logged out of the application, back button doesn't work.
How can you change the redirect to login behavior?

[2022-08-19 12:38] m-aliozkaya commented on #6516
Hello, I think this is related with ASP.Net Zero. I produce it on ASP.Net Zero. Could you follow this issue? https://github.com/aspnetzero/aspnet-zero-core/issues/4529

[2022-08-19 12:38] #6516 closed

[2022-08-20 18:53] ImanBahrampour opened #6520 "problem with roleManager.CreateAsync"
Why does this code fill 'LastModificationTime' and 'LastModifierUserId' in database ?!
`await _roleManager.CreateAsync(role);`

[2022-08-22 06:02] ismcagdas commented on #6520
@ImanBahrampour could you provide a full code to reproduce this problem ?

[2022-08-22 10:12] onurcanyilmaz commented on #6518
Hi @ismcagdas,

Is there any progress?

[2022-08-23 02:30] thiagoburgo opened #6521 "After Migrate from Abp 5.13.0 gets an error in initialization: "Method 'GetAllSubscriptionsOfTenantsAsync' in type 'Abp.Webhooks.WebhookSubscriptionsStore' does not have an implementation""
Abp Package Version: 5.14.0
Framework: .Net Core 3.1

Stacktrace:

[code]

[2022-08-23 02:42] thiagoburgo commented on #6521
Hi everybody,

I'm closing this issue because it was caused by a mix of Abp's versions between my projects (Abp 7.3.0 in one project and 5.14.0 in others).

Thanks,

[2022-08-23 02:42] #6521 closed

[2022-08-23 05:40] mkamranaslam opened #6522 "DataProtection Persist Keys To Db Context Issue"
I have .Net 6.0, Abp 7.1.0 Solution. I am trying to persist data protection keys to db, as mentioned in the doc: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-6.0#persistkeystodbcontext

But I am getting dependency issues, when methods that use DataProtection.

My Startup Class Looks like this.
I Also tried this using IocManager/Servic

[2022-08-23 07:53] ismcagdas commented on #6518
@onurcanyilmaz I think you are right, this happens because MassTransit consumer starts before dependencies are initialized. Maybe you can create a class similar https://stackoverflow.com/a/67003567 to and try to register MassTransit on module's PostInitialize

[code]

[2022-08-23 07:55] ismcagdas commented on #6522
Could you share your DbContext as well ?

[2022-08-23 08:51] mkamranaslam commented on #6522
@ismcagdas here is the DbContext

[code]

[2022-08-23 10:34] m-aliozkaya commented on #6515
Hi @Omital thank you for reporting this issue, I reproduced it.

[2022-08-24 08:05] micro0o opened #6523 "Exception "Abp.Runtime.Caching.Redis.AbpRedisCache - Microsoft.SharePoint.Client.CollectionNotInitializedException: The collection has not been initialized" When Use Redis Caching with SharepointManager"
We are trying to convert from using In-Memory caching to Redis and the project already dealing with Sharepoint through SharepointManager.

Inititate a client context for sharepoint:

[code]

Load role definition from sharepoint for example (Which through the exception)
[code]
The line `await _clientContext.ExecuteQueryAsync();` executes forever and the following exception being logged:
[code]

The

[2022-08-24 09:39] #6523 closed

[2022-08-24 09:41] micro0o commented on #6523
It's a problem with the sharepoint client dlls not related to red

[2022-08-24 09:45] onurcanyilmaz opened #6524 "Sql Server Identity Increment 10.000"
Abp version: 7.3.0
Project type: .Net Core

I have aspnetboilerplate with Sql Server.
When I examine the our table, I saw different things about auto Increment Id column.
It is increasing +10.000.

Why is this happening
I don't want to waste that many ids as the database is growing very rapidly.

You can see  here
![image](https://user-images.githubusercontent.com/33642676/186386732-166c7fb9-c621-

[2022-08-24 10:40] ismcagdas commented on #6524
@onurcanyilmaz we don't have a special code for this. This is probably related to your database setup.

[2022-08-24 11:55] totpero commented on #6524
https://blog.sqlauthority.com/2018/01/24/sql-server-identity-jumping-1000-identity_cache/?amp

[2022-08-24 12:12] onurcanyilmaz commented on #6524
Thank you @ismcagdas

I've thought because of someties I use to UnitOfWork with the Eventbus.

By the way, Thank you @totpero, I'll take a close look

[2022-08-24 12:25] ismcagdas commented on #6524
https://stackoverflow.com/a/58388033 this might be a reason. You can test it with a failed transaction maybe.

[2022-08-24 14:31] onurcanyilmaz commented on #6524
Yes, i have experienced this. But it wasn't that much. It was increment one by one

[2022-08-26 01:30] bigshika opened #6526 "Security issues found"
Hi. I've discovered some security issues in the ABP project. I have a write up and working PoC code available - do you have a contact email where I can send this information? If you prefer, I can detail the problem here, although this will publicly disclose the issues immediately. Thanks :slightly_smiling_face:

Edit: I tried `info@volosoft.com` last week but didn't receive a response.

[2022-08-26 04:23] ismcagdas commented on #6526
You can write it here

[2022-08-26 07:19] bigshika commented on #6526
Issues are detailed below. Since these are now public, I've released the advisory at https://pulsesecurity.co.nz/advisories/aspnetboilerplate-jwt The POC code can also be found at: https://gist.github.com/bigshika/c577d58593dab01b69d1e5bbcee72a8e

# Summary
The default JSON Web Token secret used to validate tokens is easily guessable and means that an attacker can gain unauthorized administrative

[2022-08-27 12:08] rjs123431 opened #6527 "Change Abp.AuthToken Cookie Name"
Abp version: 7.3.0
Project type: .Net Core + Angular

Is there a way to change the `Abp.AuthToken` and `Abp.TenantId` cookie name?

I have two (2) small projects build with Abp that are deployed internally. Users will access the application by IP address and port number.

The issue is when the user logged in to App B, it will be logged out from App A.

I have learned that cookies are shared with s

[2022-08-28 11:10] wujiale0324 opened #6528 "Abp Boilerplate Update Authorization with Apply Azure AD"
I downloaded Abp Boilerplate Template with Asp.Net Core + VUE.js 7.x. And I am trying to protect API with Azure AD.

Currently I am have the following changes applied:
1. Startup.cs
`            services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
                    .AddMicrosoftIdentityWebApi(configuration, "AzureAD:Scopes");`
2. Add Azure AD setting in appsetting.json
3. Add Attri

[2022-08-29 05:51] ismcagdas commented on #6528
@wujiale0324 unfortunately we don't have a sample for this. I have used https://www.npmjs.com/package/angular-oauth2-oidc for Angular but I'm not sure about VueJS. You can cehck it on the web. AspNet Boilerplate doesn't have any special implementation, so it will work just like a regular ASP.NET Core & VueJS app.

[2022-08-29 06:37] ismcagdas commented on #6527
You can change Abp.TenantId on https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/Startup/MultiTenancyConfig.cs#L30

For Abp.AuthToken, you can set it on client side `abp.auth.tokenCookieName = 'Your.AuthToken';`

[2022-08-29 07:02] rjs123431 commented on #6527
Cool. Thank you.

[2022-08-29 07:02] #6527 closed

[2022-08-29 08:38] wujiale0324 commented on #6528
Hi, thank you so much for your reply.

Actually, we are testing with postman. we are able to get the Token from AAD, but when we verify the token in the api. system always return 401.

However, I created a blank ASP.Net Core Web API project connected to the same AAD registered project. it verify the token successfully. I am keep trying and I will update the post if I get any update.

Thank you aga

[2022-08-29 08:52] ismcagdas commented on #6528
The flow should be like this. When you get a token from AAD, you need to pass it to an endpoint on your app and this endpoint should validate the token from AAD and creates a local user on AbpUsers table. And, this endpoint should return a token generated by your app to your VueJS client.

[2022-08-29 09:49] wujiale0324 commented on #6528
@ismcagdas Thanks a lot. I will try to work on this flow instead.

[2022-08-29 09:49] #6528 closed

[2022-08-29 18:28] mohdwaseem opened #6529 "Specified time is not supported in this calendar."
When changing to Arabic language, in localhost application works fine, but when I deploy the application to IIS, it throws the below exception.

*Version 7.1.0.0 [20222808]
* .Net Core + Angular.
RROR 2022-08-29 09:42:04,244 [orker] AspNetCore.Server.IIS.Core.IISHttpServer - Connection ID "18158513720643289129", Request ID "8000002d-0005-fc00-b63f-84710c7967bb": An unhandled exception was thrown b

[2022-08-30 05:22] Omital commented on #6486
This is a serious issue for my project. How can I solve this problem temporarily?

[2022-08-30 11:44] ismcagdas commented on #6529
Could you check if the server has arabic language installed ?

[2022-08-30 19:33] mohdwaseem commented on #6529
@ismcagdas I just installed arabic language on server, I restarted the server and IIS also but still same issue.

[2022-08-31 04:59] ismcagdas commented on #6529
@mohdwaseem would you like to use hijri calendar on your app ?

[2022-08-31 05:40] sajasbana opened #6530 "Repository Range operations like AddRange or AddRangeAsync"
Dears,

Why Repository does not contain Range operations like AddRangeAsync or update or delete?
https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbcontext.addrangeasync?view=efcore-6.0

if it will not make any issue please can you add these operations in next update?

Thanks

[2022-08-31 06:13] ismcagdas commented on #6530
@sajasbana this came with EF 6 and we didn't have time to implement it yet but you can create an extension method and easly implement it in your project.

[2022-08-31 06:17] sajasbana commented on #6530
@ismcagdas
I will do that in my project, and thanks for your consideration to add it in Abp it will be good feature

[2022-08-31 10:19] mohdwaseem commented on #6529
@ismcagdas  I am not using hijri calender, just using only arabic and english localization

[2022-08-31 11:24] ismcagdas commented on #6529
Maybe you can use an approach like this https://support.aspnetzero.com/QA/Questions/4547#answer-d2e2889e-634e-4ba7-83dc-0dad96b3bff3

[2022-08-31 15:40] mohdwaseem commented on #6529
@ismcagdas I try to use your solution [https://support.aspnetzero.com/QA/Questions/4547#answer-d2e2889e-634e-4ba7-83dc-0dad96b3bff3](url), but as you already mentioned UI have an issue now, it remains Arabic, not able to change to english, I am not able to figure out how to fix that.

[2022-09-01 06:06] ismcagdas commented on #6529
You can copy [this class ](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.AspNetCore/AspNetCore/Localization/AbpUserRequestCultureProvider.cs) as your new culture provider and set culture to en just before returning the value from it.

[2022-09-02 08:55] mohdwaseem commented on #6529
@ismcagdas sorry , I didn't get this "set culture to en just before returning the value from it." in the class itself and in which method or in startup.
`  app.UseAbpRequestLocalization(opts =>
            {
                opts.RequestCultureProviders.Insert(0, new MyRequestCultureProvider());
            });
            app.UseAbpRequestLocalization(opts =>
            {
                opts.Req

[2022-09-02 11:10] ismcagdas commented on #6529
You need to create a class similar to one below;

[code]

[2022-09-02 12:16] ImanBahrampour commented on #6520
Here you go:
[code]

[2022-09-02 13:13] Scythale opened #6532 "SoftDelete filter is not working properly with the NHibernate provider"
I've noticed that soft delete mechanics works diffirent with Entity Framework Core and NHibernate providers. I think, EF implemetation is corrent, and NH is wrong.

### My setup:
* Abp version: 7.3.0
* Framework: .NetCore 6
* Visual Studio 2022 17.3.2
* MS SQL 2019

### Db setup:
#### Table "Company":
![image](https://user-images.githubusercontent.com/716895/188129294-fd644c82-fa12-4f26-a9e4-b95de

[2022-09-02 22:01] mohdwaseem commented on #6529
Here are the steps I followed in the startup, but still it works in local but not in the server

[code]

[2022-09-03 05:01] Omital opened #6533 "Log backgroundWorker and jobs execution duration?"
Is that any way or suggestion to log BackgroundWorkers and jobs execution duration?

[2022-09-03 10:40] hzicong opened #6534 "when HttpContext.RequestAborted is true , EfCore throw System.OperationCanceledException"
In A service，I created a function

        [HttpPost]
        public async Task<AjaxResponse> TestWait(int second)
        {
            await Task.Delay(1000 * second);

            var token = _httpContextAccessor.HttpContext.RequestAborted;

            var rspss1 = await _repository.InsertAndGetIdAsync(new TradeLog()
            {
                TradeId = 1,
                TradeNo = "000001"

[2022-09-03 15:18] Omital commented on #6493
I wrap my code with  `using (AbpSession.Use(1, 2)) ` in both backgroundJob and backgroundWorker, but entityHistory mechanism not work. You can see it in f069b887e8aa84a5e716e2cd11c04b3dce7224ec

[2022-09-05 06:58] mkamranaslam commented on #6522
@ismcagdas Hi! Any help on this?

[2022-09-05 07:48] ismcagdas commented on #6493
Thanks, I will check it.

[2022-09-05 08:23] ismcagdas commented on #6533
There is no out-of-box way for this. You can log it in your job manually.

[2022-09-05 08:24] ismcagdas commented on #6529
could you share MyRequestCultureProvider ?

[2022-09-05 08:34] ismcagdas commented on #6532
@Scythale it would be great if you can send a PR

[2022-09-05 08:36] ismcagdas commented on #6520
Do you call CreateRoleAndPermission in an appservice, in a background job or somewhere else ?

[2022-09-06 06:21] ImanBahrampour commented on #6520
I call the CreateRoleAndPermission in a method of a custom manager:
[code]

[2022-09-07 05:35] mohdwaseem commented on #6529
`public class MyRequestCultureProvider : RequestCultureProvider
    {
        public override Task<ProviderCultureResult> DetermineProviderCultureResult(HttpContext httpContext)
        {
            var result = new ProviderCultureResult(culture: (StringSegment)"en", uiCulture: (StringSegment)"ar");
            return Task.FromResult(result);
        }
    }`
and below one  is for returning en on

[2022-09-07 05:52] Ascendinx opened #6535 ".HttpApi.Host Api Authorization issue on Blazor Web Assembly"
Hello,

I am testing Abp framework structure using ABP CLI Version 5.3.4.

Steps to create this issue:
1- On cmd create a new app using "abp new AbpBlazorWA -u blazor --separate-identity-server" command
2- Change connection strings of .DbMigrator, .HttpApi.Host and .IdentityServer
3- Run .DbMigrator once without debugging.
4- After confirming database is created on db, start .HttpApi.Host on debug

[2022-09-07 08:42] Ascendinx commented on #6535
Redis wasnt working properly. Its fixed when you make sure redis is working correctly.

[2022-09-07 08:42] #6535 closed

[2022-09-07 14:22] kzmyvr commented on #6522
@mkamranaslam Hi,

If you prefer to keep it on Redis this will do the trick.

You can add it under Startup.cs - ConfigureServices.

[code]

[2022-09-08 01:43] mkamranaslam commented on #6522
@kzmyvr for now redis is not an option for me.

[2022-09-08 08:02] Omital opened #6536 "AbpHandledExceptionData event not hit when exception occured in background worker"
according to [https://aspnetboilerplate.com/Pages/Documents/Handling-Exceptions#exception-event](url) , When ASP.NET Boilerplare handles an exception, it triggers an AbpHandledExceptionData event. but if exception occurred in background worker it will not happen.

[2022-09-08 08:28] Omital commented on #6533
What if I want to implement in aspnetboilerplate?
which approach is better?
1: add new entity `BackgroundJobExecutionLog` and store job execution duration, last occurred exception, successful execution date and other useful data on it
2: add job execution duration, last occurred exception, successful execution date and other useful data  to `AbpBackgroundJobInfo ` and also implement IsDeleted inte

[2022-09-10 05:39] Omital opened #6537 "Entity history mechanism not work for enum property type"
Suppose this entity:
`public class Person : IFullAudited
    {
        public string Name { get; set; }
        public PersonType PersonType { get; set; }
    }
    public enum PersonType
    {
        t1,
        t2
    }`

entity history mechanism not work for property PersonType

[2022-09-12 11:00] ismcagdas opened #6538 "Allow passing options to SignalR withUrl"
requested at https://support.aspnetzero.com/QA/Questions/11252/Automatically-refreshing-auth-tokens-with-a-SignalR-connection

[2022-09-13 06:49] ismcagdas commented on #6533
If you only need execution duration, you can basically use a StopWatch and log it.

[2022-09-13 06:53] ismcagdas commented on #6536
This is by design because even if an exception occurs, background workers are tried again several times.

[2022-09-13 06:58] ismcagdas commented on #6529
@mohdwaseem maybe the problem is related to someting else. Is it possible to access your production website to check this problem ?

[2022-09-13 06:59] ismcagdas commented on #6520
What I want to know is if this code is called from the web app or from a background manager ?

[2022-09-13 07:03] ismcagdas commented on #6534
I think it is because InsertAndGetIdAsync uses a cancellation token, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityAndTPrimaryKey.cs#L279. You can override this method and change its implementation.

[2022-09-13 12:44] ismcagdas commented on #5515
@jalilzade do you have a working sample for your sample https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5515#issuecomment-890873526 ? We will add it to the documentation.

[2022-09-14 08:53] netty2019 opened #6539 "Delete the primary entity and delete the sub entity in cascade. The deleting event of the sub entity cannot be triggered"
Delete the primary entity and delete the sub entity in cascade. The deleting event of the sub entity cannot be triggered？

[code]

[2022-09-14 11:46] sajasbana opened #6540 "Question about SettingEncryptionConfiguration"
Dear
hope you are fine

I'm reading about settings in abp

I want to ask about SettingEncryptionConfiguration section

my question is let say default phrase is 'abc'
then i encrypt the password
then i changed the default phrase to 'cba'

will i be able to decrypt setting again?
how i can achieve this from below which part need to change and which not to change to not loss data?

Configuration.Sett

[2022-09-14 12:15] m-aliozkaya opened #6541 "Add version number to abp.js"
https://www.wappalyzer.com/
https://github.com/wappalyzer/wappalyzer/blob/a1e310c2daa5ec7425febf13c69afb4706f4e55c/CONTRIBUTING.md

Wappalyzer helps us to detect which technologies a website was built using. If you add following script to your abp.js file, Wappalyzer can detect ASP.NET Boilerplate version of websites.

`abp.aspnetboilerplate.version = '7.4.0'`

[2022-09-14 14:10] ImanBahrampour commented on #6520
This call is from an application service

[2022-09-15 07:30] jalilzade commented on #5515
@ismcagdas hi, I will make an example project for you then inform you under this thread.

[2022-09-15 07:43] ismcagdas commented on #5515
Thanks a lot 🙂

[2022-09-15 07:44] ismcagdas commented on #6540
You need to manually update old values, this is not handled by the framework.

[2022-09-18 04:50] Omital commented on #6536
suppose that we want send notify (email, sms or...) to  admin user about worker problem

[2022-09-18 04:57] Omital commented on #6533
Is it right place to add this feature?
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4bfc29aaaab3846962902e0aba86f57a475898f6/src/Abp/BackgroundJobs/BackgroundJobManager.cs#L151
any suggestion?

[2022-09-18 09:51] ismcagdas commented on #6533
Yes, this is correct. You can even place your code right before this if statement https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4bfc29aaaab3846962902e0aba86f57a475898f6/src/Abp/BackgroundJobs/BackgroundJobManager.cs#L178 before the actual job method is executed

[2022-09-18 09:54] ismcagdas commented on #6536
In that case, it is better to handle it in your background worker

[2022-09-18 09:58] netty2019 commented on #6539
I think the reason may be that the value of the CascadeDeleteTiming attribute is set to OnSaveChanges by default, which makes the sub entity status in the ChangeTracker not delete

![image](https://user-images.githubusercontent.com/47128297/190896436-2a3411c3-51ed-4fc7-997a-5845abad7be8.png)

[2022-09-18 10:02] ismcagdas commented on #6539
@netty2019 the codes you shared seems a bit different, did you create AuditedMustHaveTenantEntity on your project for example ?

[2022-09-18 10:23] netty2019 commented on #6539
YES
![image](https://user-images.githubusercontent.com/47128297/190897411-5e8f4437-7796-49d3-afe6-3fbb08abf35c.png)

[2022-09-18 10:25] netty2019 commented on #6539
In this way, the EntityDeletingEvent can be triggered
![image](https://user-images.githubusercontent.com/47128297/190897462-4fb2e608-e464-46c0-840b-00ba9b6e3115.png)

[2022-09-19 12:38] #6532 closed

[2022-09-20 12:01] #6471 closed

[2022-09-20 12:40] #6482 closed

[2022-09-20 14:59] ismcagdas commented on #6486
@titobf could you check if this PR solves your problem https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6546 ?

[2022-09-20 15:08] titobf commented on #6486
Hi @ismcagdas. Sorry, but the project is from my work and we just ended up using MemoryCache. Nevertheless, the file changes on your PR seem correct.

[2022-09-20 15:09] ismcagdas commented on #6486
Thanks a lot. I will test it as well 👍

[2022-09-20 20:43] ruohki opened #6547 "Single port Deployment"
Hey i didnt find sufficent informations in the docs so please pardon the question.

Using the latest  stuff from the website v 7.3

Iam trying to serve backend and frontend via the same port

app.tld/
for the frontend and
app.tld/api
for the backend.

Iam using nginx to proxy_pass requests on /api/ to my backend but sadly the backend does behave strangely. Most of the time it just redirects me to

[2022-09-21 01:04] #6461 closed

[2022-09-21 01:04] #6450 closed

[2022-09-21 01:04] #6464 closed

[2022-09-21 02:02] ngnam commented on #6464
goodjob

[2022-09-21 04:48] ismcagdas commented on #6547
Hi @ruohki did you download your project as One solution ?

![image](https://user-images.githubusercontent.com/4133525/191416561-306084d5-97ef-4211-b8bf-51a8a16cedba.png)

Could you share your Host app's Startup.cs file with us ?

[2022-09-21 07:06] ruohki commented on #6547
Hey thanks for the answer, it is not one solution. I didnt setup the project iam just the poor guy who has to deploy it.

Startup.cs
[code]

[2022-09-21 07:06] ismcagdas commented on #6254
We decided not to support such cases, I have added a note about this to related documentation https://github.com/aspnetboilerplate/aspnetboilerplate/commit/2e2cd35dd4bc99740822647b8b857025480dd12f

[2022-09-21 07:06] #6254 closed

[2022-09-21 07:28] ismcagdas commented on #6324
@behiunforgiven  Have you figure it out ?

[2022-09-21 08:21] behiunforgiven commented on #6324
Yes, I will share as soon as possible.

[2022-09-21 08:30] ismcagdas commented on #6324
Thanks, I will close this issue but you can share it when you are ready.

[2022-09-21 08:30] #6324 closed

[2022-09-21 11:25] #6538 closed

[2022-09-22 10:10] Harshgupta71 commented on #6540
@ismcagdas : Is there another way to update the values? because we have used the default pass phrase at multiple places.

[2022-09-22 10:20] ismcagdas commented on #6540
By manually I mean, you can write a console app which uses old key to decrypt the value and then encrypts is with the new key and updates the database. In this way, it would be faster. Don't forget to backup your DB before this operation 🙂

[2022-09-22 12:39] ismcagdas commented on #6520
@ImanBahrampour I couldn't reproduce this problem. When I only use `_roleManager.CreateAsync`, it doesn't fill the LastModification values. I tried using `_roleManager.SetGrantedPermissionsAsync` after `_roleManager.CreateAsync` but it didn't make a difference.

[2022-09-22 16:22] mkamranaslam commented on #6522
@ismcagdas Thanks for the feedback, i will try the 2nd solution and let you know. thanks

[2022-09-26 07:48] netty2019 opened #6549 "Whether object extensions are supported, similar to ABP FRAMEWORK？"
Whether object extensions are supported, similar to ABP FRAMEWORK？
[https://docs.abp.io/en/abp/latest/Object-Extensions#mapextrapropertiesto](url)