[2017-11-12 04:46] ZhaoRd opened #2671 "AbpNHibernateInterceptor bug : System.NullReferenceException"
### Github Issues

* Abp  version : 1.5.2
* Your base framework: .Net Framework 4.5.2.
* Exception message and stack trace .
[code]
* Steps needed to reproduce the problem.

### Stack Overflow
*  Add ValueObject like code
[code]
*  Add Entity
[code]

My Code like up，when I save  BreakScheduleTime .TimeRange   all  Start and End null , it can be saved.
But  when  I  get  BreakScheduleTime  , it's

[2017-11-12 11:10] mediaaminian opened #2672 "Call a service in a module from different module"
we have two different modules. they are called: PortalModule and HrModule.

Now, I want to call a  **_service method_** ( this method is located in Portal.Application ) from another service method in Hr.Application.

How Can I Do That??

[2017-11-12 13:56] hikalkan commented on #2672
You can add a reference to Portal.Application from Hr.Application and use it's methods. Why can't you do that?

[2017-11-12 14:48] hikalkan commented on #2671
It can be a bug. We will work on that. Thank you for reporting.

[2017-11-12 14:51] hikalkan commented on #2670
Are you trying to update Microsoft.Extensions.DependencyInjection.Abstractions to 2.0?
As you can see, the reference to ``Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0 && < 2.0.0)`` comes from Microsoft.AspNet.OData. So, it seems nothing to do with ``Abp.Web.Api.OData``.

[2017-11-12 15:38] acjh commented on #2624
Okay, I went through your code again and see that you did:

[code]

In that case, you [should not](https://msdn.microsoft.com/en-us/data/dn456843.aspx) use:

[code]

Try [this](https://www.codeproject.com/Articles/1199648/Using-Stored-Procedure-User-Defined-Function-and-V#DocHelperMethods):

[code]

[2017-11-12 23:38] HP-dufeng commented on #2670
@hikalkan
 In the nuget site https://www.nuget.org, I found:
**Abp.Web.Api.OData** dependencies
`Microsoft.AspNet.OData (>= 6.1.0)`
`Microsoft.Extensions.DependencyInjection.Abstractions (>= 2.0.0)`

But **Microsoft.AspNet.OData** dependencies
`Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0 && < 2.0.0)`

Maybe it was the mistakes of the conflict with package dependencies

[2017-11-13 01:53] KennyEng12 commented on #2667
Ok thanks.

I've an input of 2 dto, so I was trying to combine the dtos in 1 dto but the error occured.
For example:
`public async Task Method(UserEditDto userInput, PartnerDto partnerInput)`

[2017-11-13 08:44] ismcagdas commented on #2671
@ZhaoRd can you also share your mapping for BreakScheduleTime entity ?

[2017-11-13 08:46] hikalkan commented on #2670
Oh, now understood. We should fix that. Thank you.

[2017-11-13 09:02] coommark opened #2674 "Correct Way to use a database View"
I have a view in my database, on the Core project, I created this class to map to the view:

[code]
And I user it as expected: `private readonly IRepository<VCustomerLedgerEntry, long> _ventryRepository;`

However, since I did this, I keel having intermittent Garbage collection error on the server viz:

[code]

I wonder if this issue is related to https://docs.microsoft.com/en-us/dotnet/csharp/lan

[2017-11-13 10:00] natiki commented on #2674
@coommark You may want to post your view SQL here for us to have a look. I have successfully accessed views using ABP 2.x, but based on your previous posts you are using ABP 1.5.x? (If you include your version we can better help you).

It may be worth your while to also read:

- https://stackoverflow.com/questions/13593845/how-to-create-a-view-using-ef-code-first-poco
- As well as the referenced E

[2017-11-13 10:54] jespersh commented on #1099
This issue was closed with this commit? https://github.com/aspnetboilerplate/aspnetboilerplate/commit/a6f55b72bff6ed4de1fa63209686356fc38b5e6a

[2017-11-13 11:22] #1099 closed

[2017-11-13 14:43] ismcagdas commented on #2531
@fretje thans a lot for your detailed work on this issue.
The main problem is, we need to change user's setting when user selects a language. I have created an issue here https://github.com/aspnetboilerplate/module-zero-core-template/issues/139.

When you place UseAbpRequestLocalization after UseJwtTokenMiddleware, if user is logged in, system always uses default language setting because we don't

[2017-11-13 14:43] #2531 closed

[2017-11-13 14:44] hikalkan opened #2675 "AbpObjectActionResultWrapper should add JsonOutputFormatter"
Because we are changing return type to Json object.

[2017-11-13 14:45] #2675 closed

[2017-11-13 16:01] coommark commented on #2674
Hello @natiki. The SQL used to create the View is this:

[code]

I am using Version 1.5.1.

Actually I used very similar steps to the links above. And actually it works. Just that intermittently it throws the garbage collection error.

[2017-11-13 17:15] coommark opened #2676 "How to use Try Catch Finally to dispose garbage"
I am having garbage collection issues on my application which is built using Abp 1.5.1. Please is there a way to dispose of garbage using the code below?

[code]

What exactly can I dispose of here in a `finally()` block? I want to dispose of as much possible without breaking the application.

Thank you

[2017-11-13 17:28] saeidmh83 commented on #2657
thanks for your reply but where is the answer?
I see your suggestion but not working for me! **Please Explain to me step by step to this change to help me find my problem if this feature is available.**

[2017-11-13 17:54] hikalkan commented on #2676
In general, you should not dispose an object.

What is your framework, AspNet Core? Can't you upgrade to latest ABP since your version is a bit old to provide support.

[2017-11-13 19:52] ismcagdas commented on #2588
moved to https://github.com/aspnetboilerplate/module-zero-template/issues/108

[2017-11-13 19:52] #2588 closed

[2017-11-13 20:21] brecons opened #2677 "IEmailSender don't send attachments"
The IEmailSender don't send any attachments in .NET Core:

[code]

The e-mail will sent correctly, but without attachments.

[2017-11-13 20:47] sebitsi opened #2678 "Using same DbContext with two connections"
Hi.

I need to create two AppServices.
Both services uses same DbContext definitions.
First service connects to Database1, second to databse2.

Is it possible ?
How can i do this ?

Thanks for any suggestion.

[2017-11-13 23:20] coommark commented on #2676
I probably should. Thank you @hikalkan . Been hoping I can find a solution. I heavily modified stuff on Abp. Like authentication, etc, and first attempt to upgrade to .NET Core 2 failed with very many errors. I will just take a new Abp template and do it fresh all over. Thank you always.

[2017-11-14 00:06] acjh commented on #2677
Duplicate of #2442

[2017-11-14 02:28] maliming opened #2679 "The message UserFriendlyException can not be logged on the remote server"
hi @hikalkan
Our abp version is v2.3. When we checked the log today we found a problem.

The application can not record a message of UserFriendlyException on the remote server, but the local web browser of the local server or remote server can record it.

Logs recorded on the remote server: `An unknown failure has occurred.`
[code]

Logs recorded on the local server: `Name maliming is already take

[2017-11-14 05:22] #2677 closed

[2017-11-14 05:38] andmattia opened #2680 "Notification Twice a time"
abp 3.1.2

I have a strange issue. A notifcation send to client multiple time but I check that via code is called only 1 time.

[2017-11-14 05:39] acjh commented on #2680
Show related code.

[2017-11-14 05:40] andmattia commented on #2680
[code]

[2017-11-14 05:45] andmattia commented on #2680
and show it on desktop notification in same mode

[2017-11-14 06:04] hikalkan commented on #2670
If I remove ``Microsoft.Extensions.DependencyInjection.Abstractions 2.0.0`` reference from Abp.Web.Api.OData, I can not compile the project:

[code]

Microsoft should upgrade the package dependency to 2.0.0.

Are you getting an ERROR or a WARNING?

[2017-11-14 06:08] #2671 closed

[2017-11-14 06:09] #2662 closed

[2017-11-14 06:09] hikalkan commented on #2662
done with https://github.com/aspnetboilerplate/aspnetboilerplate/commit/e15a3bd7315ae435743c5370dfa79f302ad7d075

[2017-11-14 06:13] hikalkan opened #2681 "Upgrade nuget package dependencies"
* EntityFramework from 6.1.3 to 6.2.0.
* EntityFramework.DynamicFilters from 2.10.0 to 3.0.0.
* MailKit from 1.18.1.1 to 1.20.0.
* IdentityServer4 from 2.0.1 to 2.0.2.
* JetBrains.Annotations from 11.0.0 to 11.1.0.
* System.Linq.Dynamic.Core from 1.0.7.9 to 1.0.7.11.

Only for test projects:

* xunit from 2.3.0 to 2.3.1
* NSubstitute from 3.0.1 to 3.1.0.
* System.Data.SQLite.Core from 1.0.105.2 to

[2017-11-14 06:13] hikalkan commented on #2681
done with https://github.com/aspnetboilerplate/aspnetboilerplate/commit/e15a3bd7315ae435743c5370dfa79f302ad7d075

[2017-11-14 06:13] #2681 closed

[2017-11-14 06:19] hikalkan opened #2682 "Rename Abp.Quartz.Quartz namespace to Abp.Quartz"

[2017-11-14 07:02] andmattia commented on #2680
Look into table I see that notification as 2 rows
![image](https://user-images.githubusercontent.com/8192217/32767048-048a492c-c912-11e7-9aea-35f8bf904d14.png)

![image](https://user-images.githubusercontent.com/8192217/32767059-142fdb30-c912-11e7-87a4-dbab0f2efe88.png)

[2017-11-14 07:17] andmattia commented on #2680
ok

I found the problem:
[code]

I add user and user subscriber, but if user has subscripted the notification he receive 2 norifications.

[2017-11-14 07:18] hikalkan opened #2683 "Implement ISupportsExplicitLoading for EF 6.x"

[2017-11-14 07:31] #2683 closed

[2017-11-14 07:48] Worthy7 commented on #2572
@hikalkan does this imply that there might be connections being made at the same time?

[2017-11-14 08:04] hikalkan opened #2684 "Add option to remove all default interceptors"

[2017-11-14 08:06] andmattia commented on #2680
at the moment the only issue remain is related to desktop notification that appear 2 time not one.

[2017-11-14 08:39] hikalkan opened #2685 "Introduce AbpBootstrapperOptions for better configure bootstrap options."

[2017-11-14 08:43] #2685 closed

[2017-11-14 08:43] #2684 closed

[2017-11-14 09:48] acjh commented on #1423
Resolved by 9e6a6bf

[2017-11-14 12:14] alirizaadiyahsi commented on #2678
Hi @sebitsi,

This is not directly related with abp it is realated with EF. You can search this topic in EF related resources.

For example check this: https://stackoverflow.com/questions/42616408/entity-framework-core-multiple-connection-strings-on-same-dbcontext

And this: https://github.com/aspnet/EntityFrameworkCore/issues/9616

[2017-11-14 12:35] sebitsi commented on #2678
@alirizaadiyahsi

My question is related to Abp implementation.
As i said i need 2 ABP appServices. Both runs in same environment.

How should i configure and parametrize it that i can select what connection shoul be used when injecting IRepository<Table> into abp appservice.

[2017-11-14 13:36] #2682 closed

[2017-11-14 13:44] hikalkan opened #2687 "Implement EmbeddedResourceFileProvider.GetDirectoryContents"

[2017-11-14 13:47] hikalkan commented on #2595
I created an issue for implementing ``EmbeddedResourceFileProvider.GetDirectoryContents`` https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2687

How did you solved "." issue. .net converts folder splitter "/" to "." so we can not understand if the "." is a folder or a char in the file name.

[2017-11-14 13:53] maliming commented on #2679
[code]

[2017-11-14 14:08] joedavis01 commented on #1476
How would I specify where the To Do Navigation Menu Item is placed. It appears that now it will be appended to the abp.zero navigation..

Example:
- Dashboard
-- **To Do Module**
- Admin
-- Users
-- Roles

[2017-11-14 14:09] #2595 closed

[2017-11-14 14:18] karen-hikesupport commented on #2670
Hi Hikalkan,

we are getting the same error while upgrading the project as below.

update-package : Unable to find a version of 'Microsoft.Extensions.DependencyInjection.Abstractions' that is compatible with 'Microsoft.Extensions.Caching.Memory 2.0.0 constraint:
Microsoft.Extensions.DependencyInjection.Abstractions (>= 2.0.0)', 'Microsoft.Extensions.Options 2.0.0 constraint: Microsoft.Extensions.D

[2017-11-14 14:24] hikalkan commented on #2451
@Znow this is expected because ABP wraps results by default and telerik expects the plain result. You can disable it globally for all actions if you want.

[2017-11-14 14:26] acjh commented on #2404
Try [overriding Equals](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3987574db73a985639242cb45492abe78b4f0128/src/Abp/Domain/Entities/Entity.cs#L56).

[2017-11-14 14:33] Znow opened #2688 "Cannot use domain identifier with LDAP authentication on login"
Hi

I have configured LDAP authentication as described in the documentation. I have a scenario, where I want a user to be able to login, from another domain.

If I try to login with a username which is exactly the same as my domain account, I get logged in fine.

If I try to login with a username, followed by "@Domain.local" (as an example), where Domain.local is the domain the domain account exis

[2017-11-14 15:03] hikalkan commented on #2464
It's not possible to add action filters to razor pages yet (Microsoft planned to add it on AspNet Core v2.1). So, I'm adding this to backlog.

[2017-11-14 15:04] ismcagdas commented on #2678
@sebitsi you can implement a custom IConnectionStringResolver.

[2017-11-14 15:14] chanjunweimy commented on #2595
Hello @hikalkan, thanks for your reply! The workaround I did at the end was to add an "if-else" statement in the ConvertToRelativePath() function. Alternatively, I was hoping for a solution like:

1. Add a folder as embedded resources, at the same time preserve the file structure in an embedded xml/json file.
2. Get the original file name and path from the embedded xml/json file.

Thank you.

Jun

[2017-11-14 15:16] hikalkan commented on #2312
I'm closing this issue since don't know the way of getting a better message. Probably, the problem is in json deserialization process where ABP is not involved.

If you wonder where we create list of validation errors, you can start from https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Validation/MvcActionInvocationValidator.cs

[2017-11-14 15:16] #2312 closed

[2017-11-14 15:21] hikalkan commented on #2585
Moving this to backlog until Microsoft releases a more stable beta and write some documentation.

[2017-11-14 15:32] hikalkan commented on #2595
The solution you provided may work but it's not so pratical. Alternative and easier solution:

* Add a __ char (or another special char) at the beginning of file name so we can understand the rest of the embedded resource name is file name.

But I don't like both solutions, because it's not so natural. Think that we wanted to add a folder with many files and subfolders into our solution as embedde

[2017-11-14 15:35] hikalkan commented on #2688
LDAP code is pretty simple: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs

If you can find a solution for the problem, we can implement it. Also, we would be happy if you can send a PR :)

[2017-11-14 15:39] hikalkan commented on #1476
Get a menu item and add your new menu item as child of the menu item. Example:

[code]

In addition (not related to your case) https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Application/Navigation/MenuItemDefinitionExtensions.cs defines good methods to re-locate menu items.

[2017-11-14 15:47] hikalkan commented on #2680
Do you have 2 windows open :D
I can't see a reason otherwise.

[2017-11-14 15:49] hikalkan commented on #2572
Maybe, I'm not experienced on Oracle to clearly understand the problem.

[2017-11-14 20:28] sebitsi commented on #2678
@ismcagdas  thanks for your response.

I know of IConnectionStringResolver.
@hikalkan put some god references in #1974

But my question is basicaly: how can i pass parameters to IConnectionStringResolver ?
I need somehow "tell" resolver what connection i want.

Using ConnectionStringResolveArgs is right way i think,
But i don't know/where define this arguments. In appService ? How to ?

[2017-11-15 00:29] Worthy7 commented on #2572
I dropped down to old old versions of my app which worked fine, and even they couldn't migrate automatically. So it is nothing to do with the .net project at all - it must be something external. I'll close this.

[2017-11-15 00:29] #2572 closed

[2017-11-15 01:58] jasonliaocn opened #2690 "how can I add a feature for a tenant?"
* Abp package version: 3.1.2.
*  framework: .Net Core.

I want to add some features for each tenant while creating, I have passed the name values and the tenant id to the tenantmanager, but seems the features not created in the backend. the sql profile shows no insert/update script.

my code is like below in the tenant Create method:

            List<NameValue> nv = new List<NameValue>();

[2017-11-15 04:50] HP-dufeng commented on #2670
@hikalkan
Hi Hikalkan,
I use the latest MVC5 template in this site https://aspnetboilerplate.com/Templates
**In Package Manager Console, error mssage:**
`
PM> Install-Package Abp.Web.Api.OData

Attempting to gather dependency information for package 'Abp.Web.Api.OData.3.1.2' with respect to project 'MyProject.Core', targeting '.NETFramework,Version=v4.6.1'
Gathering dependency information took 3.5

[2017-11-15 05:28] alirizaadiyahsi commented on #2690
Hi @jasonliaocn,

Did you debug your code and make sure `nv.ToArray()` is not null and make sure `input.Features` are added to `AppFeatureProvider`?

[2017-11-15 05:47] jasonliaocn commented on #2690
it was my mistake that did not notice that if I did not change the default behavior then the features will not be saved into the table.
Now to maintain the features data seems I need to make a default value for Boolean values to false and 0 for numbers.

Thanks.

[2017-11-15 05:47] #2690 closed

[2017-11-15 06:03] hikalkan commented on #2678
As @ismcagdas said implementing a custom ``IConnectionStringResolver`` will work. The problem here is that you don't have a direct communication to your custom conn resolver.

Actually, the problem from that point is generic, not related to ABP. What I would do:

I would create an ambient scope that is set by app service and read by the conn resolver. You can use a static AsyncLocal value for that

[2017-11-15 06:39] #2528 closed

[2017-11-15 07:15] maliming commented on #2679
If it throws a UserFriendlyException in XXXAppService, the log will always be logged.

[2017-11-15 07:22] #2563 closed

[2017-11-15 07:38] ismcagdas commented on #2679
Thanks @maliming , can I close the issue now ?

[2017-11-15 07:55] maliming commented on #2679
@ismcagdas
`Abp.IdentityFramework.IdentityResultExtensions.CheckErrors` Throws Exception Log Can not Log Message

[2017-11-15 08:20] #2514 closed

[2017-11-15 08:22] maliming commented on #2679
@ismcagdas
When we look at the log, we see some exceptions but can not understand the message of the exception.

[2017-11-15 08:42] hikalkan opened #2691 "Introcude IAsyncEventHandler to be able to use await inside event handler."
Something like

[code]

### Requirements

* ``IEventHandler`` will be used just like now without any change.
* ``IEventBus.TriggerAsync`` should properly call async event handler if the registered handler is async.
* EventBus should handle async/sync combinations. We can trigger an event async or sync independent from handler types. An async and a sync handler can be registered to same event and c

[2017-11-15 08:42] hikalkan commented on #1894
Moved to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2691

[2017-11-15 08:43] #1894 closed

[2017-11-15 09:29] maliming commented on #2679
I tried to debug source code to see.

[2017-11-15 09:29] #2679 closed

[2017-11-15 10:01] acjh commented on #2681
ASP.NET Core [2.0.3](https://github.com/aspnet/Home/releases/tag/2.0.3) was just released hours ago.

Consider upgrading:
- [EntityFrameworkCore](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/) from 2.0.0 to [2.0.1](https://github.com/aspnet/EntityFrameworkCore/releases/tag/2.0.1).

Resolves:
- https://github.com/aspnetzero/aspnet-zero-core/issues/449
- https://forum.aspnetboilerpla

[2017-11-15 10:16] hikalkan commented on #2681
Thank you @acjh I will upgrade it.

[2017-11-15 11:23] hikalkan commented on #2670
There is no way of doing that. Because Abp depends on Microsoft.Extensions.DependencyInjection.Abstractions 2.0.0 but  Microsoft.AspNet.OData has not updated the dependency yet.

We must wait Microsoft to upgrade 2.0.

I had created an issue about that: https://github.com/OData/WebApi/issues/1059
I suggest you to write them to make it faster.

[2017-11-15 11:45] #2145 closed

[2017-11-15 11:52] karen-hikesupport commented on #2670
Hi hilkalkan,

So should be not we update the latest version ? Is there any way to update right now or we must have to wait for it.

Regards
Karen

[2017-11-15 11:56] hikalkan commented on #2670
As I said no was as I know, nuget prevents it.

[2017-11-15 14:22] acjh commented on #2624
Try this:

[code]

[2017-11-15 16:42] VgSan commented on #1055
Its available now ?

[2017-11-15 16:43] VgSan commented on #1000
Any progress ?

[2017-11-15 17:03] dazsco opened #2695 "v3.2 Abp.Web.Common Swedish translation culture name is en."
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource/AbpWeb-sv.xml

`<localizationDictionary culture="en">`

[2017-11-15 18:06] Ivangrasp commented on #2665
Sorry, I don't know why I thought that accessing from the Chrome console error would lead me to an error page of the last request instead of doing a new GET request.

You're right, the error comes from me trying to access through the browser. I'm trying to stop my bad habits acquired while I was doing college projects, I tend to look for console outputs and errors in webpages instead of going dire

[2017-11-15 18:17] #2695 closed

[2017-11-15 20:09] dazsco opened #2696 "v3.2 Database operation expected to affect 1 row(s) but actually affected 0 row(s)."
ERROR 2017-11-16 03:31:03,752 [12   ] Mvc.ExceptionHandling.AbpExceptionFilter - Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concurrency exceptions.
Abp.Domain.Uow.AbpDbConcurrencyException:

[2017-11-15 22:24] dazsco opened #2697 "Abp.Zero.AspNetCore SignInOrTwoFactorAsync failed to create custom Claims."
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.AspNetCore/AbpSignInManager.cs#L89-L95

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.AspNetCore/AbpSignInManager.cs#L146-L158

I found that the CreateIdentityForTwoFactor method ignores Identity in AbpLoginResult and

[2017-11-16 00:15] acjh commented on #2696
Show code for the methods in `AccountController` that contain lines 161 and 235.

[2017-11-16 02:59] natiki opened #2698 "Checking my use of IoC in ABP with an ITransientDependency ...."
* Abp 2.3.0

I want to make sure I have understood the use of ITransientDependency with how I have things implemented below:

[code]

Ultimately from within an action method in an MVC application I make the following call to the factory method:

[code]

As **shortCodeProcessor** is marked with ITransientDependency am I correct in assuming that it will be destroyed at the conclusion of the Process(

[2017-11-16 03:20] acjh commented on #2698
No, `ITransientDependency` just means [whenever we resolve an object, a new instance will be created](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#DocDIFrameworks).

You should use [`ResolveAsDisposable`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/489500e7c566c1dcf955aa8f5e17c0f0b6562090/src/Abp/Dependency/IocResolverExtensions.cs#L39) and a `using` block:

[

[2017-11-16 05:36] hikalkan commented on #2697
Yes, because two factor uses a seperated cookie (claims) which only contains the user and tenant id. It's used to identify user in the next request (while validating 2-factor token). This is not the login cookie (claims).

[2017-11-16 05:46] dazsco commented on #2697
@hikalkan but in the Abp.Zero.Owin SignInOrTwoFactor use AuthenticationManager.SignIn to create loginResult.Identity, AspNetCore need to achieve their own?

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.Owin/Authorization/AbpSignInManager.cs#L129-L135

[2017-11-16 05:52] hikalkan commented on #2697
CreateIdentityForTwoFactor is not used to sign in user as you know.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.AspNetCore/AbpSignInManager.cs#L89-L95

This uses a different schema (TwoFactorAuthenticationScheme) for example.

If user need to perform a two-factor auth, we ignore identity on AbpLoginResult, because we don't sign

[2017-11-16 05:53] hikalkan commented on #2665
You're welcome.

[2017-11-16 05:53] #2665 closed

[2017-11-16 05:58] dazsco commented on #2697
I logged some customer info in AbpLoginResult while logged in using SignInOrTwoFactor in Abp.Zero.Owin, but migrated to AspNetCore and found that the information was not stored as expected. It seems that I need to store this info separately in AspNetCore.

[2017-11-16 08:20] hikalkan commented on #1000
No progress. This is probably will not be implemented.

[2017-11-16 08:20] hikalkan commented on #1055
Answered here: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1000#issuecomment-344848392

[2017-11-16 09:21] natiki commented on #2698
So I am guessing that an AbpController is keeping track of all the references say spun up in the constructor and then disposing of them when the request completes?

[2017-11-16 10:00] acjh commented on #2698
No, the dependency injection framework (Castle Windsor) is responsible for keeping track of all the **constructor-injected** and **property-injected** dependencies.

[2017-11-16 10:43] pinale opened #2699 "Error: Metadata version mismatch"
- aspnetboilerplate Core 3.3.2 template
- angular project

ng serve:

ERROR in Error: Metadata version mismatch for module C:/angular/AbpCore/3.3.2/angular/node_modules/abp-ng2-module/node_modules/@angular/http/http.d.ts, found version 4, expected 3, resolving symbol ABP_HTTP_PROVIDER in C:/angular/AbpCore/3.3.2/angular/node_modules/abp-ng2-module/src/abp.module.ts, resolving symbol RootModule in

[2017-11-16 10:46] ismcagdas commented on #2699
@pinale can you check that which version abp-ng2-module do you use ?

[2017-11-16 12:41] pinale commented on #2699
1.3.0    (npm view abp-ng2-module version)

[2017-11-16 13:17] ismcagdas commented on #2699
1.3.0 uses angular v5. We haven't upgraded our templates to angular 5 yet. If you want, you can update your angular package to v5.

We will work on upgrading to angular v5 probably in a few weeks.

[2017-11-16 13:56] viewtance commented on #2691
Great, look forward to this feature for a long time.

[2017-11-16 19:49] pinale commented on #2699
Ok updated to angular5.0.0
Pay attention that:

OpaqueToken has been removed as it was deprecated since v4.
Used InjectionToken instead

Thanks.

[2017-11-16 19:49] #2699 closed

[2017-11-16 20:01] ismcagdas commented on #2699
thanks for the information. New version of nswag has a setting for using OpaqueToken/InjectionToken in generated service proxy files. You can also use it.

[2017-11-17 02:11] natiki commented on #2698
Yes but ABP must be telling it when to dispose? As "by convention" ABP is taking care of spinning up instances in controller/service constructors for instance. So I am guessing ABP is plugged in somewhere to also call dispose on those instances otherwise they would need to be freed each time by user code.

[2017-11-17 04:35] dazsco commented on #2697
ASP.NET Core AbpUserClaimsPrincipalFactory, Rewrite CreateAsync method can directly add Claims information, great! thks!

`
public class UserClaimsPrincipalFactory : AbpUserClaimsPrincipalFactory<User, Role>
    {
        private readonly UserManager _userManager;
        public UserClaimsPrincipalFactory(
            UserManager userManager,
            RoleManager roleManager,
            IOptio

[2017-11-17 04:56] acjh commented on #2698
# ASP.NET MVC 5

This is handled by an `IControllerFactory`.

ABP sets `IControllerFactory` in [`AbpWebMvcModule`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/d30f1b5c5c97efb491ab7776706ba23dcc774547/src/Abp.Web.Mvc/Web/Mvc/AbpWebMvcModule.cs#L41).
- ABP implements `IControllerFactory` as [`WindsorControllerFactory`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/eb98c

[2017-11-17 05:10] acjh commented on #2698
So you are right that *ABP is taking care of spinning up instances (and) is plugged in somewhere to also call dispose on those instances*, but the MVC system tells ABP when to dispose.

[2017-11-17 05:14] hikalkan commented on #2698
Thank you @acjh for your great explanation.

[2017-11-17 05:48] Worthy7 opened #2700 "GetAllIncluding"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/95b19dbce4a9785fdac1d6f5ca74fa16dd690eeb/src/Abp/Domain/Repositories/AbpRepositoryBase.cs#L45

Isn't this line supposed to have something else in it?
It doesn't do anything more than GetAll

[2017-11-17 06:10] acjh commented on #2700
`GetAllIncluding` is overridden by [`EfCoreRepositoryBase`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f43776ec3336da1b4d8c36bcab2a9bb4d09ff0c4/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityAndTPrimaryKey.cs#L86) and [`EfRepositoryBase`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f43776ec3336da1b4d8c36bcab2a9bb4d09ff0c4/

[2017-11-17 06:12] #2700 closed

[2017-11-17 07:07] send2vinnie opened #2701 "Make IErrorInfoBuilder to be fully substitutable"
We want to implement the custom error info builder (IErrorInfoBuilder) to meet the business requirements. But the following code makes it hard to be realized. Is there any reason for using the singleton instance of ErrorInfoBuilder directly instead of thru IErrorInfoBuilder?

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/ecac3bc6afa402e14a5b68f55f3da89ecddb0fb6/src/Abp.Web.Api/WebApi

[2017-11-17 07:21] ShiWei-L opened #2702 "Aspnetboilerplate And Microservices"
Hi
Now microservices has become the best solution, I would like to know how abp and microservices combined, there is the direction of the development of abp, microservices will develop it?

[2017-11-17 08:25] flexem commented on #2629
Hi @alirizaadiyahsi , sorry for my late response.
I tested it in aspnet zero core(v4.6.1) & angular2.x - with net framework 4.6.1.
And there's still have  memory leaks.
1. Add a method "Test" in ChatHub class. like this:
![image](https://user-images.githubusercontent.com/6355005/32937267-ba2b9fa4-cbb2-11e7-8ec6-d6768eb013b6.png)

2.Remove the auth for signalr in AuthConfigurer class.
![image](http

[2017-11-17 08:46] hikalkan commented on #2702
There is no reason to not create microservices using ABP today. For instance, you can create an application that has it's own database and API and then deploy it seperately. Then you can communicate to other services over REST API or message queues.

BTW, in the future, we will work to provide a model and examples for microservice architecture.

[2017-11-17 08:50] hikalkan commented on #2701
``SingletonDependency<ErrorInfoBuilder>.Instance`` resolves ErrorInfoBuilder from dependency injection. So, you can replace it by your own service.

However, the problem with this code is that it resolves ``ErrorInfoBuilder`` instead of ``ErrorInfoBuilder`` which makes hard to replace it.

I will fix this and will check if there are other references to ``ErrorInfoBuilder``.

[2017-11-17 09:44] gpcaretti opened #2703 "abp.sweet-alert.js for sweetalert v2 does not support ES5"
* ABP v.3.2.1
* Syntax error in abp.sweet-alert.js at line 54: `sweetAlert(opts).then(() => {`

As arror functions are supported from ES6, please fix the code with

[code]
Same issue around line 95.

[2017-11-17 09:55] alirizaadiyahsi commented on #2629
Hi @flexem,

you are right, it seems there is something wrong. We will fix this. Thanks for your patience and great effort to find this problem.

[2017-11-17 10:49] flexem commented on #2629
@alirizaadiyahsi  You are welcome.
By the way you may check the Abp.Web.SignalR.Hubs.AbpCommonHub also.

[2017-11-17 12:19] hikalkan commented on #2703
You're right. We will fix immediately and release a bugfix.

[2017-11-17 12:20] #2697 closed

[2017-11-17 12:20] #2674 closed

[2017-11-17 12:30] #2701 closed

[2017-11-17 12:33] #2703 closed

[2017-11-17 12:58] hikalkan opened #2704 "Create AbpHubBase base class for SignalR hubs."

[2017-11-17 12:59] #2629 closed

[2017-11-17 12:59] #2704 closed

[2017-11-17 13:00] hikalkan commented on #2629
Fixed ``AbpCommonHub``. We will fix ``ChatHub`` in AspNet Zero too.
Also added AbpHubBase which automatically releases on dispose: https://github.com/aspnetboilerplate/aspnetboilerplate/commit/43ff189b8ca2e296a8848f287f718c279752e244#diff-e3e7a98053c03613bc56ed039fd4d6a2R102

Thank you @flexem for finding this problem and helping us.

[2017-11-17 14:34] ismcagdas opened #2705 "abp.sweet-alert.js does not fire callback function when confirmation is cancelled"

[2017-11-17 14:39] #2705 closed

[2017-11-17 14:58] ismcagdas commented on #2705
This is not released yet but below workaround can be used for handling sweetalert confirmation's cancelled case:

[code]

[2017-11-17 20:02] ismcagdas opened #2706 "Cannot reset tenant features"
TenantManager's ResetAllFeaturesAsync does not reset assigned fetures of a tenant.

[2017-11-18 00:23] gpcaretti opened #2708 "abp.sweet-alert.js issues with sweetalert.js v6.11.4+ and latest v.7.0.0"
* Abp v3.2.2
* sweetalert2 v7.0.0
* .Net Framework with and withou angularjs

1. icons are no more displayed in info, success, etc. modals
2. cancel button is not displayed in confirmation modal
3. callback does not receive the parameter 'isConfirmed'
4. callback not called when confirmation is cancelled (see #2705)

Attached js fix all these isses.
[abp.sweet-alert.zip](https://github.com/aspnetb

[2017-11-18 05:32] 596442958 opened #2709 "asp.net core angular has some error"
npm start has some error,

![image](https://user-images.githubusercontent.com/9588025/32977270-dd2d1656-cc64-11e7-903a-3279d947f4e3.png)

[2017-11-18 05:36] ismcagdas commented on #2709
We have upgraded abp-ng2-module to angular 5 but project is still using angular 4.x. This is probably because of that. You can upgrade to angular 5 or try to install npm dependencies using yarn. We will upgrade the template to angular 5 soon.

[2017-11-18 05:37] 596442958 commented on #2709
@ismcagdas
    thx

[2017-11-18 14:09] coommark opened #2710 "Use MySql instead of MS Sql Server"
This link here [Entity Framework - MySql Integration](https://aspnetboilerplate.com/Pages/Documents/EF-MySql-Integration?searchKey=mysql) shows how to connect with MySql. However, it appears the classes have since changed. In it, it says:

`SetSqlGenerator("MySql.Data.MySqlClient", new MySql.Data.Entity.MySqlMigrationSqlGenerator());`

Which file is this in the version 3.3.2? And is the document a

[2017-11-18 14:42] acjh commented on #2710
That document is for **EntityFramework**.

For **EntityFrameworkCore**, it's suggested to use **Pomelo.EntityFrameworkCore.MySql**.
You may refer to their [Getting Started documentation](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql#getting-started).

[2017-11-19 01:08] natiki commented on #2698
Thanks @acjh that clears it up for me. I now see why I had to use ResolveAsDisposable<> in my case.

[2017-11-19 01:08] #2698 closed

[2017-11-19 19:50] hikalkan commented on #2708
Notice that we are not using [sweetalert2 v7.0](https://limonte.github.io/sweetalert2/), we are using [sweetalert v2.x](https://github.com/t4t5/sweetalert). I suppose they have different APIs.

[2017-11-20 05:08] ShiWei-L commented on #2702
thanks

[2017-11-20 05:08] #2702 closed

[2017-11-20 05:33] Vohuman opened #2711 "The new language doesn't load"
Hi! I have a problem in loading **Persian (Farsi)** language based on the documentation:
[Localization](https://aspnetboilerplate.com/Pages/Documents/Localization) but the values defined in XML file doesn't load. My Abp version is 2.3.0.0 and .Net Framework version is 4.6.1
Other languages load but only this one which is **new** doesn't load. I also have defined languages in DB.

My XML:
[code]

M

[2017-11-20 05:43] ismcagdas commented on #2711
@Vohuman there might be two reasons for this problem:

1. if you are using ASP.NET Core and if you haven't restarted your app after adding a new language, it is not used. Related issue https://github.com/aspnet/Localization/issues/237.

2. You also need to mark your your localization xml file as embedded resource, can you check that ?

[2017-11-20 06:07] Vohuman commented on #2711
@ismcagdas I have restarted my app several times and also I have added my XML file as embedded resource.

[2017-11-20 06:12] ismcagdas commented on #2711
Are you having this problem on your computer or on a server ? Can you check that the computer/server contains Persian (Farsi) language ?

[2017-11-20 06:15] Vohuman commented on #2711
@ismcagdas  I don't have any problem with Persian language on my computer. I have been already easily using this language and I don't have any problem with it on the computer.

[2017-11-20 06:17] ismcagdas commented on #2711
@Vohuman ok, we will check it deeper than.

[2017-11-20 06:20] Vohuman commented on #2711
@ismcagdas Thank you so much! Even I added other languages like Swedish and Norwegian but again none of them loads.

[2017-11-20 07:35] jaszb opened #2712 "DbPerTenantConnectionStringResolver - register fails"
deleted

[2017-11-20 07:41] jaszb commented on #2712
looks like i do not need to register the

[2017-11-20 07:41] #2712 closed

[2017-11-20 07:42] jaszb commented on #2712
not an issue

[2017-11-20 07:46] #2706 closed

[2017-11-20 10:35] gpcaretti commented on #2708
You're right. I didn't catch it.
Anyhow I've seen you did yours my fix for pt. 4 above. I'm happy for this.

In the meantime I reviewed the integration to work correctly with [sweetalert v2.x](https://github.com/t4t5/sweetalert) and I found another bug related to localization. So

* Abp v3.2.2
* sweetalert2 v7.0.0
* .Net Framework with and withou angularjs

1. callback not called when confirmation

[2017-11-21 02:11] cocosip opened #2713 "Nuget can't find Abp.ZeroCore 3.2.3"
Abp.ZeroCore.IdentityServer4 3.2.3 depend on Abp.ZeroCore 3.2.3,  but can't find Abp.ZeroCore 3.2.3 in nuget server.

[2017-11-21 02:32] KennyEng12 commented on #1423
Hi guys, why I can't catch DbUpdateConcurrencyException?
I opened 2 edit tabs and edited them then update, and the data were updated successfully without any exception.

[2017-11-21 03:04] acjh commented on #1423
@KennyEng12 Likely same as: https://forum.aspnetboilerplate.com/viewtopic.php?p=24019 (resolved)

[2017-11-21 05:28] ismcagdas commented on #2713
@cocosip we had a problem on publishing Abp.ZeroCore 3.2.3 to nuget, we are trying to fix it.

[2017-11-21 05:50] hikalkan commented on #2713
Just published v3.2.4.

[2017-11-21 05:50] #2713 closed

[2017-11-21 14:29] dotnetninja opened #2714 "AjaxResponse Conversion Error"
### AjaxResponse Issue

After upgrading Apb.Web and Apb.Test to reference net47,  I was testing Apb.AspNetCore  NameConflict_Tests continue to fail. Returning Unable to cast object of type 'Apb.Web.Models.AjaxResponse' to type 'System.String' for all three tests.  What would be the leading cause for this?

My project must use net47. I cannot use earlier versions.

[2017-11-21 14:44] hikalkan commented on #2714
I have had this issue and resolved it with this commit: https://github.com/aspnetboilerplate/aspnetboilerplate/commit/90b00d01333361eb19953ea0caf2bc6a41acccde#diff-fbf255e912dc9519caa5693ff45990cd

[2017-11-21 15:15] dotnetninja commented on #2714
You are the man!  That did the trick, and makes sense. Thank you.

[2017-11-21 15:15] #2714 closed

[2017-11-21 22:41] robsiera commented on #2595
You might want to look at https://github.com/aspnet/FileSystem/issues/184

[2017-11-22 03:28] fshoushtari opened #2715 "Exception in Sending Email by Abp.MailKit"
Hi,
I use aspnetboilerplate.
In Abp.MailKit:
EmailExtensions.cs uses a wrong MimeKit:MimeMessage constructor:
	var message = new MimeMessage(ParserOptions.Default, headers, RfcComplianceMode.Strict);

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.MailKit/EmailExtensions.cs#L33

It seems MimeKit has changed the privacy of this ctor and a wrong ctor is called instead.

###

[2017-11-22 04:10] acjh commented on #2715
We are using an [internal constructor](https://github.com/jstedfast/MimeKit/blob/master/MimeKit/MimeMessage.cs#L90-L91):

[code]

We should use the [public constructor](https://github.com/jstedfast/MimeKit/blob/master/MimeKit/MimeMessage.cs#L156) mentioned in the stack trace:

[code]

The same `ParserOptions` and `RfcComplianceMode` are [set internally](https://github.com/jstedfast/MimeKit/blob/ma

[2017-11-22 06:16] maliming opened #2716 "Can not migrate the database."
hi @hikalkan

Download the latest template today (including Zero) and the template contains the latest Abp 3.2.4.
We did not make any changes
run `PM> Update-Database`

[code]

[2017-11-22 06:55] hikalkan commented on #2716
Hi,

I downloaded it and worked as expected. Please check that:

1. Ensure that you have selected correct startup project (Web.Host of angular UI, Web.Mvc for MVC UI based on your framework selection).

![image](https://user-images.githubusercontent.com/1210527/33113786-fd3bfe5e-cf6a-11e7-915a-15cc9119c170.png)

2. Ensure that you have selected .EntityFrameworkCore project as default project from

[2017-11-22 07:12] maliming commented on #2716
@hikalkan
I am using the Multi Page Web Application template. The previous operation is the same as what you said.
Then I changed to the Single Page Web Application Template (same as your screenshot)
I get the following output:

[code]

[2017-11-22 07:23] maliming commented on #2716
My colleague got the same error on his computer.

[2017-11-22 07:48] maliming commented on #2716
The problem has been solved, thank you very much @hikalkan .

I found some things.

**I created EasyFastDb database in advance, there will be Invalid object name 'AbpEditions' error.**

But if I do not create the database in advance, VS will prompt me [Can not open database "EasyFastDb" requested by the login. The login failed.], Even though I am using sa or a local windows account.

But even so,

[2017-11-22 07:48] #2716 closed

[2017-11-22 08:39] liangshiw opened #2717 "First Update Database Unable to log into the database error"
Hi
I downloaded a new project name is Test, with an error in the first update-database
Unable to open the database requested for login TestDb ,login failed, account User login failed
![image](https://user-images.githubusercontent.com/16813853/33117403-54d8db36-cfa3-11e7-9b9b-45d32988069c.png)

but Subsequent migration will not have this error

[2017-11-22 09:34] hikalkan commented on #2717
I think that your database is successfully created even if you see this error. Right?

[2017-11-22 09:39] maliming commented on #2717
If TestDb database exists, then the migration will be an error: "Invalid object name 'AbpEditions'"

If it does not exist, then the migration will be an error: "Can not open database" TestDb "requested by the login. The login failed. Login failed for user 'sa' etc."
But the database was created successfully.

Every time I want to re-create the database will have this problem.

[2017-11-22 09:39] maliming commented on #2717
#2716

[2017-11-22 09:50] hikalkan commented on #2717
Hi,

The error in this case is strange and it was not happening before.

As I can understand Microsoft did a change and now EF Core command line tool tries to run Program.cs if possible. That makes our whole application initialize/start.

The startup template has a seed code which create default editions, tenants and users and it runs on application startup. So,

* If database does not exists, see

[2017-11-22 09:51] hikalkan commented on #2717
Suggested workaround can be calling seedhelper inside a try catch block to ignore exceptions.

[2017-11-22 09:54] ShiWei-L commented on #2717
thank you

[2017-11-22 10:01] hikalkan commented on #2717
Adding try/catch also does not solve problem. EF Core tool should not run Program.cs. I think Microsoft should solve the issue (https://github.com/aspnet/EntityFrameworkCore/issues/9076). Because, it's very common to have a data-access code on application startup.

[2017-11-22 10:02] maliming commented on #2717
@ShiWei-L  We should open this issue and wait for the problem to be solved. This affects the initial database, very serious.

[2017-11-22 10:03] ShiWei-L commented on #2717
@maliming You are right

[2017-11-22 11:00] mediaaminian opened #2718 "UserFriendlyException does not work"
hi
we have got a problem with UserFriendlyExceptin . We received  message "[Internal ERror]", When we thrown an error by UserFriendlyExceptin("our message.....").

How can we fix this?

[2017-11-22 11:04] ismcagdas commented on #2718
@mediaaminian do you use MVC 5.x or ASP.NET Core ?

[2017-11-22 11:22] kexxxfeng opened #2719 "Will never get the key back because of ABP"
ABP package version: 3.1.1

Framewok: .net core 2.0

In my project, I'm using `Cookie Authentication` in below:
[code]

There, I shared the key to unprotect the ticket in redis. Because many projects in different machines need the key. However, I started a new project with ABP, and never got the key from the `DataProtection`. Then, I removed the code with ABP, it works fine. So, ABP must have conf

[2017-11-22 12:53] mediaaminian commented on #2718
We use ASP.NET Core.

[2017-11-22 20:11] sebitsi commented on #2678
Thanks @hikalkan  for the tip.

Can i use **DataContextAmbientScopeProvider<T>** ?

Something like this:

[code]
and then just inject IAmbientScopeProvider<T> into CustomConnectionStringResolver ?
Is this safe ?

[2017-11-23 02:59] wsw19882014 opened #2721 "TS6053"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

### Stack Overflow

Please use Stack Overflo

[2017-11-23 03:02] #2721 closed

[2017-11-23 05:44] hikalkan commented on #2678
It works. Why don't you inject IAmbientScopeProvider instead of creating new in WithAmbientUnitOfWork method?

[2017-11-23 07:03] sebitsi commented on #2678
@hikalkan thanks for confirmation.

I already using injection instead creating new.
What about discussion #2571 ? Can this be a problem using IAmbientScopeProvider ?

Is it possible to create some method atribute that wrap method code with AmbientScope ?

[2017-11-23 07:38] JaylanChen commented on #648
+1
I think we should add bulk actions (insert, update and delete).

(https://github.com/zzzprojects/EntityFramework-Extensions)

[2017-11-23 08:00] parallelbgls opened #2723 "Please Support Microsoft.AspNetCore.Mvc.WebApiCompatShim as AbpWebApiController"
Please Add Web API 2 shim support for asp.net core.

[2017-11-23 17:31] coommark opened #2725 "Sending Emails Error"
I am trying to send emails with the code below from localhost using the version 3.3.2 (.Net Core):

[code]

Everything else is pretty standard as per the docs. The Email settings in the Db are:
[code]
However, sending fails with this error:
[code]
Please does anyone know what I am doing wrong?

[2017-11-23 17:49] acjh commented on #2725
[Configuration](https://aspnetboilerplate.com/Pages/Documents/Email-Sending#configuration) for `Domain` looks wrong:

Try leaving it blank.

[2017-11-23 20:55] coommark commented on #2725
Hey @acjh thanks for the response. My settings now are:

[code]
Now the error is:
`System.Net.Mail.SmtpException: 'Syntax error, command unrecognized. The server response was: connection rejected'`

I have alternated True and False for `Abp.Net.Mail.Smtp.EnableSsl: False and Abp.Net.Mail.Smtp.UseDefaultCredentials: False`, I have also enables [Less secure apps](https://myaccount.google.com/lesssec

[2017-11-23 21:11] acjh commented on #2725
Remove the `Domain` entry from your database.

[2017-11-23 21:27] simedbn commented on #2485
Hello,

The problem is related to the use of Seed method (app.UseAbp() )inside the configure method of startup class :

(https://docs.microsoft.com/en-us/ef/core/miscellaneous/1x-2x-upgrade#new-way-of-getting-application-services
)
"In ASP.NET Core 2.0, Configuration is initialized outside of the Startup class. Applications using EF Core typically access their connection string from Configuration,

[2017-11-23 22:52] coommark commented on #2725
This is very strange. I have deleted the entry as you said, but it still won't send. The full error is:

[code]

Actually I am using **version 3.0.0 of Abp** not 3.3.2 (.Net Core) as I erroneously posted.

[2017-11-24 02:18] maliming commented on #2485
Leave a message to stay concerned.

[2017-11-24 02:50] acjh commented on #2725
Did you restart your site and app pool?

[2017-11-24 02:56] Sam7 opened #2726 "Feature request: Provide GraphQL Endpoint"
Please provide GraphQL endpoint
https://github.com/graphql-dotnet/graphql-dotnet

Then people could add modern FE frameworks like React or VueJS with Apollo

[2017-11-24 06:25] hikalkan commented on #2715
Fixed by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2722

[2017-11-24 06:26] #2715 closed

[2017-11-24 06:28] hikalkan commented on #2726
You can already use GraphQL now. Framework itself does not have REST endpoint, so there is nothing to serve as GraphQl endpoint.

[2017-11-24 06:29] hikalkan commented on #2723
I didn't know this package. What ABP framework should do for it? Can't you now add ``Microsoft.AspNetCore.Mvc.WebApiCompatShim`` package to your project and properly use?

[2017-11-24 07:14] hikalkan commented on #2678
@sebitsi IAmbientScopeProvider  directly uses AsyncLocal as you can see in the code, however, I haven't understand the actual reason of #2571 yet. Will work on it when I've time. But it's appreciated if anyone can solve it.

[2017-11-24 07:36] parallelbgls commented on #2723
Just like this page.
[](https://aspnetboilerplate.com/Pages/Documents/Web-API-Controllers)
It is a compact support for ApiController in asp.net core.

[2017-11-24 07:46] parallelbgls commented on #2723
[https://stackify.com/asp-net-core-web-api-guide/](https://stackify.com/asp-net-core-web-api-guide/)

[2017-11-24 07:54] sebitsi commented on #2678
@hikalkan  Ok. i understand.

What about atribute ?
Is there any that i can use on method/service ?

I mean: If i put that attribute on method, code in this method is wraped with ambient scope.
Is this possible ?

[2017-11-24 08:30] natiki commented on #648
see also the same request here #2668

[2017-11-24 08:37] parallelbgls commented on #2723
Sorry, I think I've already miss understanding this package, so I will close this issue.

[2017-11-24 08:37] #2723 closed

[2017-11-24 08:47] fshoushtari commented on #2715
Hi,
Awesome, you fixed the bug.
Just there is another issue. Some SMTP servers need Sender to be specified. Abp has no way to identify or pass the Sender for a mail message and I that case email server throws an exception(such as no permission for this Sender). It would be great if you add some methods doing that.

Reagards

Sent from Mail for Windows 10

From: Aaron Chong
Sent: Wednesday, Novembe

[2017-11-24 08:49] hikalkan commented on #2678
It would be possible if you write an interceptor, however, you generally want to set a dynamic value to the scoped variable which is not possible with attributes.

[2017-11-24 08:52] coommark commented on #2725
I am running on localhost from Visual Studio. I have severally.

[2017-11-24 09:03] sebitsi commented on #2678
@hikalkan  Thanks for all answeres.

[2017-11-24 09:03] #2678 closed

[2017-11-24 10:12] coommark commented on #2725
Hello. So I did this:

[code]

And this went. What do you suggest I do? Override `IEmailSender`?

[2017-11-24 10:22] KennyEng12 commented on #2676
Hi @hikalkan ,

@coommark your case is almost similar to mine.
[code]

But I keep getting even I return -1:
[code]

[2017-11-24 10:46] acjh commented on #2725
Do you know why that is a fix? Does it still work if you comment out the `ServicePointManager` line?

[2017-11-24 10:50] acjh commented on #2715
Can you explain that? It seems that `Sender` is handled here:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e97b2ef311dd082598d45efd1efe10899614ed8a/src/Abp.MailKit/EmailExtensions.cs#L41

[2017-11-24 10:56] acjh commented on #2676
@KennyEng12 Your case seems unrelated, other than being try-catch.
Can you open a new issue, state your version and show the error log?

[2017-11-24 10:58] coommark commented on #2725
Ha! Well, I guess the problem was with gmail. I tinkered with security settings on Gmail, whatever it was I did worked. Now it is sending okay using `_emailSender.Send(args.ToEmailAddress, args.Subject, args.Body);` Let me close this. Thanks @acjh for the patience man. Really digging Abp. Guess for .net development, I am going to always swear by it. Saves lots of work.

[2017-11-24 10:58] #2725 closed

[2017-11-24 15:16] fshoushtari commented on #2715
Yes,
Before calling ToMimeMessage there is no way in AbpEmailSender to set the
Sender of mail object

On 24 Nov 2017 9:20 pm, "Aaron Chong" <notifications@github.com> wrote:

[2017-11-24 15:20] fshoushtari commented on #2715
Actually its midnight and holiday here.
If needed I will send you on Mon the exact line of code for sending email
to show you nit filling Sender

On 24 Nov 2017 9:20 pm, "Aaron Chong" <notifications@github.com> wrote:

[2017-11-24 17:06] Wandrillety opened #2728 "aspnetboilerplate/src/Abp.ZeroCore/Zero/Localization/SourceExt/AbpZero-fr.xml is empty"
Everything is in the title

aspnetboilerplate/src/Abp.ZeroCore/Zero/Localization/SourceExt/AbpZero-fr.xml is empty.

Please copy the dictionary from aspnetboilerplate/src/Abp.Zero/Localization/SourceExt/AbpZero-fr.xml

[2017-11-24 21:48] coommark opened #2729 "Hangfire Integration .Net Core Abp"
First and foremost I **apologize** for having to ask a question here. I asked on [Stackoverflow here](https://stackoverflow.com/questions/47476345/asp-net-boilerplate-hangfire-integration-net-corel) but haven't received any guide. My questions are:

I have an Abp 3.3.4 project based on the SPA template. I don't use the Angular UI. Now I want to integrate Hangfire to handle emails sending and I nee

[2017-11-25 04:08] bbakermmc commented on #771
Please provide update code for .net core as the above code does not work.

[2017-11-25 09:43] rluisnpt1 commented on #2485
I have been the same error and solved using @simedbn's answer that told us the problem is "related to the use of Seed method (app.UseAbp() )inside the configure method of startup class:"

[2017-11-25 13:02] acjh commented on #1817
Fixed by #1949

[2017-11-25 13:02] acjh commented on #2412
Fixed by aspnetboilerplate/module-zero-core-template#98

[2017-11-25 13:03] acjh commented on #2442
Fixed by #2590

[2017-11-25 13:04] #2442 closed

[2017-11-25 14:44] #2412 closed

[2017-11-26 11:32] mediaaminian commented on #2718
we have got a problem with UserFriendlyExceptin . We received message "[Internal ERror]", When we thrown an error by UserFriendlyExceptin("our message.....").
We updated are service-proxie to httpclient version.

where is the problem?

[2017-11-26 11:33] mediaaminian commented on #2672
Ohhhhhh, Thanks you.

[2017-11-26 11:33] #2672 closed

[2017-11-26 11:36] mediaaminian commented on #2657
we made some changes on blobToText function in service-proxie.this code is shown in below code:

function blobToText(blob: any): Observable<string> {
    return new Observable<string>((observer: any) => {
        if (!blob) {
            observer.next("");
            observer.complete();
        } else {
            let reader = new FileReader();
            reader.onload = function() {

[2017-11-26 11:36] #2657 closed

[2017-11-26 19:08] hamidnabati opened #2730 "AbpValidationException - Validation"
Im wondering how i can localize AbpValidationException so my client get localized error message at web api layer.
![image](https://user-images.githubusercontent.com/17340161/33243376-57028a2e-d2fa-11e7-960c-93a16b8d8a59.png)
Im using .net core v2 and ABP version 3.
I have checked and tested almost everything, but i could find any reasonable solution.

[2017-11-26 19:54] acjh commented on #2730
Which language is that? Is it localized in [Abp.Web.Common/Web/Localization/AbpWebXmlSource](https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource)?

[2017-11-26 20:52] hamidnabati commented on #2730
@acjh Its written in Presian (Farsi), and its not in this [https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource](url)

[2017-11-26 21:00] acjh commented on #2730
There's no way to override easily. Would you like to contribute the translation of [AbpWeb.xml](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Localization/AbpWebXmlSource/AbpWeb.xml)?

[2017-11-26 21:40] hamidnabati commented on #2730
this is the translation for fa-IR culture ( persian-farsi )
[AbpWeb-fa-IR.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1504242/AbpWeb-fa-IR.zip)
please add it to next version :)
thanks for your great job

[2017-11-27 02:08] KennyEng12 opened #2732 "How to return -1 in catch block."
I'm trying to catch the DbUpdateConcurrencyException and return -1:
[code]
But I keep getting even I return -1:
[code]

I wonder to know how to return -1 instead of the error message.

[2017-11-27 02:10] KennyEng12 commented on #2676
Okay @acjh just did opened a new issue: #2732

[2017-11-27 02:20] acjh commented on #2730
I have created a PR.
I renamed the file to `AbpWeb-fa.xml` instead of `AbpWeb-fa-IR.xml` to follow the convention:
- [src/Abp/Localization/Sources/AbpXmlSource/Abp-fa.xml](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Localization/Sources/AbpXmlSource/Abp-fa.xml) (1 missing translation)
- [src/Abp.Zero/Zero/Localization/SourceExt/AbpZero-fa.xml](https://github.com/aspnetb

[2017-11-27 02:32] acjh commented on #2732
Can you show the error in Logs.txt?

[2017-11-27 02:32] acjh commented on #2667
Is this resolved?

[2017-11-27 02:45] KennyEng12 commented on #2732
[code]
Is this what you want?

[2017-11-27 03:05] KennyEng12 commented on #2667
Sorry for forgot to reply here.

I changed the properties in dto to be same like the properties in entity.
Then it's able to map now

[2017-11-27 03:14] acjh commented on #2732
If you put a breakpoint on `return -1;` is it hit?

[2017-11-27 03:34] KennyEng12 commented on #2732
Ya it is

[2017-11-27 03:40] acjh commented on #2732
Can you remove the try-catch and check if the error logged is different?

[2017-11-27 04:07] KennyEng12 commented on #2732
Here is the difference:
![image](https://user-images.githubusercontent.com/29649512/33250433-6de23098-d36b-11e7-8482-e4fb463aba14.png)

Left hand side is the one with try-catch block.

[2017-11-27 04:51] #2730 closed

[2017-11-27 07:41] cocosip commented on #2732
你之前发的日志,异常是在外层被过滤器AbpApiExceptionFilterAttribute所捕获的,但是你前面又说断点`catch (DbUpdateConcurrencyException ex)
    {
        return -1;
    }`
这段代码被命中了,难道catch之后异常还会被照常抛出？所以我觉得是不是日志看的不太对？

[2017-11-27 07:59] KennyEng12 commented on #2732
@cocosip
不好意思 在coding方面 华语比较不明白 可以用英文吗？

[2017-11-27 08:40] 77413036 opened #2733 "abp dapper in net core problem"
In 3.1.1
I Depend AbpDapperModule In ApplicationModule
like this：
[code]
and Initialize Dapper：
[code]

In ReportAppService

[code]

Then I get An Error:

[code]

I have no idear why did it happen.and i don‘t know how to fixed it.

[2017-11-27 08:44] Znow commented on #2688
Hi @hikalkan

Yeah it is. Thing is, now I deployed the website to a VM on another Domain. I have the exact same user, on that domain aswell. But I cannot login with my credentials. I just get "Login failed".

Possible to set some debug log up for this specific event?

Regards

[2017-11-27 09:12] Krystian-D opened #2734 "Angular project setup"
* Abp 3.1.1
* .Net 4.6

Hi,
I got question about current's template angular project setup. It uses angular CLI which is greate, when I use generate commands to create components and other elements those are added automatically to project which is even better. My question is how is this happening? How did you set this up? I couldn't find information how to achieve this kind of setup.
Massive thank

[2017-11-27 10:02] hemiaoio opened #2735 "EF Core Global Query Filter problem"
* Abp 3.1.2/3.2.4
* framework: .Net Core.
*  WARN  2017-11-27 16:39:54,973 [18   ] Abp.Auditing.SimpleLogAuditingStore      - AUDIT LOG: MyCode.Workflow.Application.InstanceAppService.GetPendingWorkItems is executed by user 1 in 395390 ms from ::1 IP address with exception: variable 'context' of type 'Abp.EntityFrameworkCore.AbpDbContext' referenced from scope '', but it is not defined.
ERROR 2017

[2017-11-27 10:15] acjh commented on #2735
Show code for the methods that contain:
- Service\WorkflowInstanceManager_WorkList.cs:line 105
- Service\WorkflowInstanceManager_WorkList.cs:line 129
- Application\InstanceAppService.cs:line 361

[2017-11-27 11:03] EtienneDG opened #2736 "[Localization] French default localization is incorrect"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Abp package version : 3.2.4
* base framework: .Net Core. 2.0

When getting authorization error, both messages (_**AllOfThesePermissionsMustBeGranted**_ and _**AtLeastOneOfThesePermissionsMustBeGranted**_) contain m

[2017-11-27 11:10] alirizaadiyahsi commented on #2736
Hi @EtienneDG, thanks for your reporting.

[2017-11-27 11:11] ismcagdas commented on #2735
Hi @hemiaoio can you reproduce this problem every time you run the same code ?
We are dealing with a similar issue and found a temporary workaround.

Can you try to add below line into PreInitialize method of your Core module ?
`AppContext.SetSwitch("Microsoft.EntityFrameworkCore.Issue9825", true);`

[2017-11-27 11:16] #2736 closed

[2017-11-27 11:36] alirizaadiyahsi commented on #2733
Did you read this article?
https://aspnetboilerplate.com/Pages/Documents/Dapper-Integration

To use Dapper you should reference an ORM to your project. Could you try it again according to the instructions in document that I mentioned above?

[2017-11-27 12:26] #2728 closed

[2017-11-27 12:26] alirizaadiyahsi commented on #2728
hi @Wandrillety,

Thanks for your reporting.

[2017-11-27 12:46] hikalkan commented on #2734
Hi,

You're welcome. I'm happy that you liked it. We used Angular-CLI to create the project. It already setups the project, we haven't done a special thing.

[2017-11-27 12:54] jfbaudracco commented on #2546
Hi,

Same problem since upgrade to 3.0.0. The crypted data before this version can not be decrypted !
I use ASPNet Zero project and our site in production have many crypted data. It is impossible to update crypted data.
Is there an another solution ?

Thanks,
Jean-François

[2017-11-27 12:59] Wandrillety commented on #2728
Thank you for acting so quickly ;)

[2017-11-27 13:16] jfbaudracco commented on #2546
Perhaps, since ABP V3.0.0, because .Net Framework v4.6.1 replace the 4.6, the test #if NET46 in SimpleStringCypher is not correctly interpreted ! So, it is the code for .NetStandard that is compiled.

[2017-11-27 14:28] 77413036 commented on #2733
my bad.
thanks for your response,
i have read that article lot's of times.but i just follow code example.

and i depend AbpEntityFrameworkCoreModule. it work :)

[2017-11-27 14:28] #2733 closed

[2017-11-27 14:30] alirizaadiyahsi commented on #2733
@77413036 , glad it works. And thanks for feedback.

[2017-11-27 14:41] Krystian-D commented on #2734
Hi,

I understand basic of Angular-CLI and its standard project setup.
My question is related to Visual studio project and how does Angular-CLI/Node are 'talking' to each other and generated files are being added automatically as references in .csproj

As it is clear now that it is not your @hikalkan sorcery we can close this question since its not Abp specifc.

Once again thank you :)

[2017-11-27 14:41] #2734 closed

[2017-11-27 14:43] hikalkan commented on #2734
This is a feature of new .csproj format of VS. You you add a file to the folder, it's automatically added to the project.

[2017-11-27 15:43] Loremerca commented on #2485
I have the same problem whit the last version abp core + modulezero full EF framework
An error occurred while calling method 'BuildWebHost' on class 'Program'. Continuing without the application service provider.
At begin: Application startup exception: System.Data.SqlClient.SqlException (0x80131904):the name of object 'AbpEditions' is not valid.
When I debug application I have problem with IDENTI

[2017-11-27 17:20] abhishekbdutta commented on #1476
Hi @brunobertechini, is there any update on your part regarding the Micro services project.
Any time line for it so as to run the micro service as a different application/host

[2017-11-27 17:52] jaycee26 opened #2737 "Castle.MicroKernal.ComponentNotFoundException: No component for supporting the service Abp.Resources.EmbeddedResourceManager was found"
I just downloaded the ASP Boilerplate Template ASP.NET MVC5 with EntityFramework and Zero Module.  Running with VS2017, first build / run I encounter an unhandled exception in project.  I have not yet modified the project in anyway other than following the set up instructions, creating the db using Package Manager Update-Database command etc.

Startup.cs Line 17 app.UseAbp(); the error is "Castle.

[2017-11-27 18:57] dazsco opened #2738 "In v3.2.4 version Bearer requests api strange error."
In version v3.2.4, the local debug Bearer request API appears '400 empty or invalid anti forgery header token', but the request to the server is correct.

[2017-11-28 01:07] hemiaoio commented on #2735
@acjh These code is a very common query, only when the concurrency will appear such a problem, and is a random number of multiple queries.

[code]

[code]

[code]

well，at line 106,some time happend too;

[2017-11-28 01:08] hemiaoio commented on #2735
@ismcagdas  Thank you, I will try it at moment.

[2017-11-28 01:14] Donistivanov commented on #2710
I just had to do this, so for the future...

Where xxx is the application name,

1. Put Pomelo.EntityFrameworkCore.MySql into the xxx.EntityFrameworkCore project's .csproj file (see step 2 in the Pomelo getting started guide)
2. In your xxxDbContextConfigurer class put `builder.UseMySql(...)` rather than `builder.UseSqlServer(...)`
3. Change the connection string found in the appsettings.json file

[2017-11-28 01:26] hemiaoio commented on #2735
@ismcagdas After I used the code you gave, the question was not reproduced anymore. Thanks for your help. For the time being, I will use this solution. I see @hikalkan raised [questions](https://github.com/aspnet/EntityFrameworkCore/issues/10407) on EfCore and look forward to the EFCore update.

[2017-11-28 05:46] parallelbgls commented on #2214
Alright, I finally solved this issue. The inspiration comes from here:
[https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=10082](https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=10082)
We have the same issue. The reason is that identityserver4 and microsoft identity use different identity claim type. But the default ClaimsAbpSession only identify microsoft identity as its id. So if ze

[2017-11-28 05:46] #2214 closed

[2017-11-28 05:46] ismcagdas commented on #2668
@natiki we will think on it for the next releases. Thanks for your suggestion.

[2017-11-28 05:46] #2668 closed

[2017-11-28 06:11] ismcagdas commented on #2711
@Vohuman can you share which template are you using ?
* ASP.NET Core & jQuery
* ASP.NET Core & Angular
* ASP.NET MVC 5.x & jQuery
* ASP.NET MVC 5.x & angularJs

[2017-11-28 06:17] hikalkan commented on #2735
We are waiting a solution for https://github.com/aspnet/EntityFrameworkCore/issues/10407

[2017-11-28 06:45] ismcagdas commented on #2729
@coommark it seems like your question is answered here https://stackoverflow.com/a/47506339/6681451.
If you are using angular 2 template, you need to show your hangfire dashboard on Sample.Web.Host project.

[2017-11-28 06:56] ismcagdas commented on #2718
@mediaaminian abp-web-module does not support httpclient yet. Your problem might be related to that.

[2017-11-28 07:08] #2667 closed

[2017-11-28 07:13] ismcagdas commented on #2546
@jfbaudracco you can write a simple console app using a version less than ABP v3.0 to decrypt your existing data. then you can encrypt these data using ABP version higher 3.0. What do you think ?

[2017-11-28 08:12] hikalkan commented on #2738
How do you request to the API?

[2017-11-28 08:31] jfbaudracco commented on #2546
@ismcagdas thank you for this respond, but i can't because some encrypted data have sent by email to recipients. In these emails an url encode encrypted data to access to the site. We already have more than 5000 recipients!
Can i program an decrypted data method with older version of code? So, i can first decrypt data with this older version, and if an exception is raised, i use the new method. Wi

[2017-11-28 08:39] ismcagdas commented on #2710
Thanks @Donistivanov

[2017-11-28 09:15] natiki commented on #2668
@ismcagdas does closure of this mean you have decided and it is not going to be included? :-)

[2017-11-28 10:13] hikalkan opened #2739 "Upgrade nuget package dependencies"
- AutoMapper from 6.2.0 to 6.2.1..
- Dapper from 1.50.2 to 1.50.4.
- MailKit from 1.20.0 to 1.22.0.
- IdentityServer4 from 2.0.3 to 2.0.4.

[2017-11-28 10:19] ismcagdas commented on #2668
@natiki no, not at all. I closed this issue because it is mainly related to a different problem. If you think #648 is not enough, you can crate another issue for bulk operations.

[2017-11-28 10:29] ismcagdas commented on #2546
@jfbaudracco I think it is the best solution for now in your case.
You can copy the latest version of https://github.com/aspnetboilerplate/aspnetboilerplate/commits/a6f55b72bff6ed4de1fa63209686356fc38b5e6a/src/Abp/Runtime/Security/SimpleStringCipher.cs (this is for net461) with a different name into your project and use it like you explained.

[2017-11-28 10:32] #2739 closed

[2017-11-28 11:10] abdo38013 opened #2740 "A project with .net core and angular 4 without identity"
Hello,
Is there any templates I can use without using identity and user module..etc
using angular >=2 and .net core

[2017-11-28 11:13] alirizaadiyahsi commented on #2740
Hi @abdo38013,

Check this:
https://github.com/aspnetboilerplate/aspnet-core-template

[2017-11-28 11:13] hikalkan commented on #2740
There is a template with asp.net core without identity. However, no angular ui option yet. Follow https://github.com/aspnetboilerplate/aspnet-core-template/issues/7

[2017-11-28 11:13] #2740 closed

[2017-11-28 11:14] acjh commented on #2730
v3.2.5 has been released with this fix.

[2017-11-28 11:15] abdo38013 commented on #2740
Thanks

[2017-11-28 11:57] dazsco commented on #2738
Use postman to add Authorization Bearer access_token headers, use VS2017 debugging error, deployed to the server correct.

[2017-11-28 12:15] jfbaudracco commented on #2546
@ismcagdas, thank you very much. I'm going to do this.

[2017-11-28 13:19] dazsco opened #2741 "It is recommended that the DisplayFullName and Level fields be added to OrganizationUnit."
https://github.com/maliming/Abp.GeneralTree

[2017-11-28 13:21] hikalkan commented on #2741
Thank you. We will think on that in the next version.

[2017-11-28 13:28] jfbaudracco commented on #2546
@ismcagdas, i did but the error is the same!
From the web project, although targets .NET Framework v4.6.1, but perhaps because the .NET Standard is referenced in the project, the result is the same. I can't dereference .NET Standard to test because ABP.Web.Resources depends on it. Do you have a proposal ?

[2017-11-28 13:55] gpcaretti commented on #2661
I review it by downloading the last version of ABP. All is ok. It was my fault.

[2017-11-28 13:55] #2661 closed

[2017-11-28 14:21] beriniwlew commented on #2634
I get this error trying to set up a new tenant in the angular project.

[2017-11-28 16:01] ryzam commented on #2485
Any concrete solution on this issue?I'm facing the same problem "Invalid object name 'AbpEditions'"

[2017-11-28 19:43] hikalkan opened #2742 "Implement specifying DateTime.Kind for EF Core when Microsoft implements "Support for custom type mapping""
see the issue: https://github.com/aspnet/EntityFrameworkCore/issues/242
It will probably be released in EF Core v2.1.

[2017-11-28 20:50] jaycee26 commented on #2737
After downloading a fresh copy of the template and building with NuGet package restore at build the problem no longer occurred.

[2017-11-28 20:50] #2737 closed

[2017-11-28 21:29] omarolivo opened #2743 "Best way to use the notification system with multiple delivery channels"
I am working on a student information where I would like to send notifications based on certain system events. For example, when a student is marked late or absent, the application will notify a list of users(parents, school admins, etc). This notification will be sent using all available methods(SMS,Email) to deliver the message. Each method is responsible for formatting the notification based on

[2017-11-28 22:56] JohnLozano commented on #2485
After upgrading to 2.0 i'm seeing a similar message when calling the dotnet ef cli. However, the error message reads "Error: Cannot resolve scoped service 'Some.Service' from root provider."
The commands execute successfully, even though this message is thrown on every command.

[2017-11-29 01:02] Es201n opened #2744 "Only one complex type allowed as argument to a web api controller action. But BillCheck contains more than one! Abp.AbpException: Only one complex type allowed as argument to a web api controller action. But BillCheck contains more than one!"
Only one complex type allowed as argument to a web api controller action. But BillCheck contains more than one! Abp.AbpException: Only one complex type allowed as argument to a web api controller action. But BillCheck contains more than one!

![image](https://user-images.githubusercontent.com/17695936/33352460-f687c88a-d4e3-11e7-91e8-0756c351d1a3.png)

[2017-11-29 01:06] acjh commented on #2744
Isn't that your own method?

[2017-11-29 01:10] Es201n commented on #2744
Yes, but the abp GetAll method is exception. And BillCheck method does not contain more complex parameters.

[2017-11-29 01:13] acjh commented on #2744
`BOSCheckInfo` and `K3AcceptanceOpinion` makes 2 complex parameters.

[2017-11-29 01:15] Es201n commented on #2744
I see, thank you.

[2017-11-29 01:15] #2744 closed

[2017-11-29 06:17] ismcagdas commented on #2546
@jfbaudracco do you have a sample value which we can use for testing this ?
You can send it to info@aspnetzer.com if it is private.

[2017-11-29 06:24] hikalkan commented on #2634
@beriniwlew have you done any change that may effect it. Can we reproduce the problem with a new startup template? If so, we will test it. Thanks.

[2017-11-29 06:46] hikalkan commented on #2485
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2717#issuecomment-346298661

[2017-11-29 06:47] hikalkan commented on #2485
@ryzam see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2717#issuecomment-346298661

[2017-11-29 06:55] yekalkan commented on #2634
There is not an exception while creating a new tenant in new startup template.

[2017-11-29 07:57] jfbaudracco commented on #2546
@ismcagdas,
the crypted data : B/axmS7S4PvC45EM+etvGw==
the pass phrase : 86OTf71Nd5erdJK9

thank you

[2017-11-29 08:28] maliming opened #2745 "GeneralTree feature"
hi @hikalkan

I wrote a project that manages common tree entities based on the module-zero Organizations feature.
Do you think it is possible to merge into the Abp.Zero.Common project after making the appropriate changes?

Project Repository: [GeneralTree](https://github.com/maliming/Abp.GeneralTree)

[2017-11-29 08:31] hikalkan commented on #2745
I will investigate it. Thanks.

[2017-11-29 09:56] ShiWei-L opened #2746 "Swagger need httpmethodattribute Generating documentation"
Hi
This is a problem that has nothing to do with abp，But confused me for a long time。
Swashbuckle.AspNetCore source code,
Will get the customattribute for the action,If there is no HttpMethodAttribute so it throws an exception。
![image](https://user-images.githubusercontent.com/16813853/33368557-fbc078bc-d52c-11e7-8fc4-74bd00608138.png)

I customize a ActionModelConvention Used to set the default

[2017-11-29 10:08] ismcagdas commented on #2546
@jfbaudracco can you try with below class ?

[code]

Then use it to decrpyt an existing text,
`SimpleStringCipher_Net461.Instance.Decrypt(".......")`

[2017-11-29 10:27] jfbaudracco commented on #2546
@ismcagdas thank you mery much, it works.
PasswordDeriveBytes and RijndaelManaged are the solution.
thanks again

[2017-11-29 10:37] acjh commented on #2746
Try `new HttpPostAttribute(method.Path)` instead.

[2017-11-29 10:48] beriniwlew commented on #2634
Okay... what type of things should I be watching out for, then?
How can I debug this?

[2017-11-29 11:03] ShiWei-L commented on #2746
@acjh  It also can not

[2017-11-29 12:12] acjh commented on #2746
Did you put a breakpoint to check if that method is actually hit?

[2017-11-29 13:08] beriniwlew commented on #2634
I would also like to point out that I'm getting a "User name 'admin' is already taken." error when attempting to edit the email address of the default tenant user (admin).

[2017-11-29 14:08] ismcagdas commented on #2546
@jfbaudracco nice to hear that 😄

[2017-11-29 14:08] #2546 closed

[2017-11-29 14:09] ShiWei-L commented on #2746
@acjh  I don't think you understand what I said

[2017-11-29 14:26] ismcagdas commented on #2634
@beriniwlew the two records for user and role are belong to host and tenant. So, you have one admin role and one admin user for host (TenantId=null) and same for default tenant (TenantId=1).

So, this is the expected behaviour.

This might be a bug, we will check it.
Are you still getting error for tenant creation ? If so, can you share your tenant creation code ?

[2017-11-29 14:35] beriniwlew commented on #2634
I'm still getting the error for tenant creation, even after rebuilding the database.

I have not changed anything in the tenant creation code, all I did was add a few parameters, which aren't being used yet.  I will remove them and try again, just to be sure.

[2017-11-29 14:38] beriniwlew commented on #2634
I remove the new properties in tenant, but it had no effect.

[2017-11-29 14:42] beriniwlew commented on #2634
Yes

[2017-11-29 15:07] acjh commented on #2746
Care to elaborate?

[2017-11-29 16:11] sachatrauwaen commented on #2595
I am ready to propose a pull request to adresse the issue of double dots in embeded resource file names.

The idea is to store the items in the EmbeddedResourceSet with filepath containing dots for all folders separators. (+/- like the way they are stored in the asembly) included for the basepath.

By doing this retrieving the resource with the same Normalize function will retrieve always the righ

[2017-11-30 02:33] #2746 closed

[2017-11-30 08:09] chanjunweimy opened #2748 "Create new tenant throws exception if we have feature with FeatureDependency"
### Issue related to FeatureDependency

* Your Abp package version: v3.2.5
* Your base framework: net461
* Exception message and stack trace if available:
[code]
* Steps needed to reproduce the problem.
1. Create features with feature dependency
2. Create new tenant

* Sample parameters:
[code]
------------------------------------------

I think it is related to [AspNetZero issue 389](https://gith

[2017-11-30 12:26] ebicoglu commented on #2748
hi,
If it's a new menu item you can set featureDependency

context.Manager.MainMenu.AddItem(new MenuItemDefinition(
       PageNames.App.Tenant.Individual,
       L("Tenants"),
       url: "tenant.individual",
       icon: "icon-users"),
       **featureDependency: new SimpleFeatureDependency(PageNames.App.Tenant.Individual)**
);

[2017-11-30 12:31] ebicoglu commented on #2743
better publish it on StackOverflow.
by the way how are you releasing INotificationStrategy instances?

[2017-11-30 13:00] omarolivo commented on #2743
What do you mean by releasing instances? Please excuse my ignorance.

[2017-11-30 13:03] acjh commented on #2743
[Dependency Injection](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#DocIocHelper):

[2017-11-30 13:55] brunobertechini commented on #1476
Hi @abhishekbdutta

Im working on the servicebus side as this is the main line feature for our needs at this moment.

Can you please elaborate? Would you like to run the separated module as a another process like in a docker container for example ?

If so, this is a bit tricky in current Abp implementation. In my point of view this will require:

1. Create a new "endpoint" project that will be the

[2017-11-30 14:44] hikalkan commented on #2595
@sachatrauwaen as I understand, this way breaks foldering (we will lose the folder structure because we can not distinguish / and .). However, embedding a file into an assembly just works like that.
But I didn't investigate your code fully. If you want, send a PR and explain what it does and what problems it solve, then we review your PR.
Thanks.

[2017-11-30 14:50] systemtrends opened #2749 "Module Zero UserManager CreateAsync - Id of created entity not set on user object"
The following code is provided by Module Zero and is found in **UserAppService.cs**

[code]
Should **_userManager.CreateAsync(user)** populate the user object Id after creation? If I check the value of user.Id after CreateAsync, the value is still zero 0.

[code]

My understanding was that CreateAsync would update the user object to include the Id value of the inserted entity. Is this a bug? Does

[2017-11-30 14:54] omarolivo commented on #2743
As you can tell, I am not disposing any of the classes that implementing the INotificationStrategy interface.

How would I release it inside the `SmsNotificationStrategyFactory`?

I am also using resolving inside the `NotificationSMSChannel` as follows:
[code]

[2017-11-30 15:03] maliming commented on #2749
Try:
Call UnitOfWorkManager.Current.Savechanges()
 After get userid.

[2017-11-30 15:22] acjh commented on #2743
You can do this:

[code]

[code]

[2017-11-30 15:32] jasonliaocn opened #2750 "can not use feature check in jobs"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version 3.1.2.
* Your base framework:  .Net Core.
* Exception message and stack trace if available.

in my email job, I cannot use the featureChecker to check if a feature is enabled for a tenant.

[2017-11-30 15:41] systemtrends commented on #2749
Thanks. That does populate the Id value and solves my original question.

Is this supposed to be happening automatically though (without any code additions/changes)? As far as I can tell, this means that using the built in Module Zero user service in JavaScript would actually return an incomplete result.

[code]
That means that out of the box (without your above suggested changes), the result retu

[2017-11-30 15:43] acjh commented on #2750
You can pass `args.TenantId` to [`IsEnabled`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Application/Features/FeatureCheckerExtensions.cs#L92) method:

[code]

[2017-11-30 15:49] omarolivo commented on #2743
This works for me! Thank You!

[2017-11-30 15:49] #2743 closed

[2017-11-30 15:54] acjh commented on #2749
Did you try that? ABP [automatically saves changes](https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#DocAutoSaveChanges) before the data is serialized and returned to client.

[2017-11-30 16:23] systemtrends commented on #2749
I tried adding the **[UnitOfWork]** attribute but that didn't seem to make any difference. The only way I've been able to retrieve the Id is to modify the base code to include **UnitOfWorkManager.Current.SaveChanges()**. You can see the addition in the code below.

[code]

[2017-11-30 16:26] acjh commented on #2749
Did you check on client side?

[code]

[2017-11-30 16:34] systemtrends commented on #2749
Thanks for the help.

Yes, I did check on the client side. Using the attribute, **[UnitOfWork]**, I still get an id value of zero 0 on the client side.

If I add the line **UnitOfWorkManager.Current.SaveChanges();** to the original Create method as detailed above, then an Id value is returned on the client side.

Thanks.

[2017-11-30 16:45] acjh commented on #2749
My bad. I see that `MapToEntityDto(user)` is called before ABP has a chance to save changes.

[2017-11-30 18:36] sachatrauwaen commented on #2595
It not breaks the foldering. I store the foldering with a "." in place of a "/" as folder separator. Like in the assemblies. And make the retrieve of a file in the resourceset folowing this same rule.

So the ResourceSet make no difference between a "/" and a "." in the filepath.

I think it is a solution that sound good, because it use the same convension used internally in the asembly.

Like in

[2017-12-01 01:34] maliming commented on #2749
@systemtrends

[UowSaveChanges](https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#DocUowSaveChanges)

[2017-12-01 01:41] jasonliaocn commented on #2750
@acjh thanks, this works.

[2017-12-01 01:41] #2750 closed

[2017-12-01 01:53] chanjunweimy commented on #2748
Hi @ebicoglu ,

Thanks for your reply! However, it is not a new menu item. It is when we are trying to add a new tenant using host, it throws the exception.

Thanks.

Cheers,
Jun Wei

[2017-12-01 05:33] ebicoglu commented on #2719
what's the error you get?

[2017-12-01 05:40] ebicoglu commented on #2749
put a breakpoint right after save changes and check if Id is set. If you see the Id there then it means you have problem with dto mapping.

[2017-12-01 06:23] hikalkan commented on #2748
Can you call SetGrantedPermissionsAsync method inside AbpSession.Use, like that:

[code]

[2017-12-01 07:31] acjh commented on #2748
@hikalkan Should [`GrantAllPermissionsAsync`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/ce5a9f0d7a3f1b0f38bb02e36cfed60ba920683e/src/Abp.Zero/Authorization/Roles/AbpRoleManager.cs#L333) be setting `FeatureDependencyContext.TenantId` based on the `role` that the permissions are being granted to instead? That makes the logic more obvious in:

[code]

That would also be consistent w

[2017-12-01 08:53] hikalkan commented on #2748
You're right @acjh
Let me work on that, or just send a PR :)

[2017-12-01 10:59] #2748 closed

[2017-12-01 14:55] hikalkan commented on #2595
I would not like to make files flat in same directory with "." for dir seperator. I also don't want to add a manifest/metadata file (as you said, MS should do it). But waiting for your PR to understand your implementation better.

[2017-12-02 05:14] Vohuman commented on #2711
@ismcagdas ASP.NET MVC 4.5 & angularJs

[2017-12-02 13:49] robertosistemas opened #2753 "Progressive Web App"
Implements Progressive Web App

[Progressive Web App](https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp/?hl=en)

[Progressive Web Apps made easy with ASP.NET Core](https://madskristensen.net/blog/progressive-web-apps-made-easy-with-aspnet-core/)

[2017-12-02 19:40] ismcagdas commented on #2753
@robertosistemas can you explain your request a bit more ?

[2017-12-02 20:01] hikalkan commented on #2753
@robertosistemas can't you just follow the steps described in the document you have shared: https://madskristensen.net/blog/progressive-web-apps-made-easy-with-aspnet-core/

[2017-12-03 14:31] hikalkan opened #2755 "Implement LDAP / AD auth extension for .net core 2.0"
System.DirectoryServices is supported by .net core 2.0 (https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices?view=netcore-2.0).

Abp.Zero.Ldap currently works with .net framework 4.6.1.

[2017-12-03 14:39] Xeevis commented on #2717
@hikalkan It probably just calls specifically `BuildWebHost()` if I rename it to `InitWebHost()` it appears to resolve the issue.

![image](https://user-images.githubusercontent.com/5835044/33526335-e1bebe9a-d83f-11e7-8812-639dd31e6cd1.png)

[2017-12-03 18:53] hikalkan commented on #2717
Yes, Microsoft's implementation hard-coded checks ``BuildWebHost`` method. I didn't want to change it to not change standard behavior. But the standard behavior has problem. Thanks for a solution.

[2017-12-04 07:56] KennyEng12 opened #2756 "Repository return type"
I've found one article that discussing about the repository: [4 Common Mistakes with Repository Pattern](https://programmingwithmosh.com/entity-framework/common-mistakes-with-the-repository-pattern/)

But I found that some of the IRepository methods in ABP are returning as list.
For example:
![image](https://user-images.githubusercontent.com/29649512/33541840-a1c3929e-d90b-11e7-872f-890da2340845.p

[2017-12-04 08:45] alirizaadiyahsi commented on #2756
Hi @KennyEng12,

There is nothing about returning list in article. Author talking about "returning view models/DTOs". He say that "Mapping is not the responsibility of the repository."

And ABP repository is returning domain objects, not "view models/DTOs"

[2017-12-04 09:02] kexxxfeng commented on #2719
@ebicoglu There wasn't any error, but  important information in Log.txt
[code]

[2017-12-04 09:22] Znow commented on #2755
Hi @hikalkan

Would be nice, if you could have a look at #2688 this also, which should be related. I haven't been able to find a good solution yet. I have several issues with the way it is implemented at the moment.

Regards

[2017-12-04 09:32] acjh opened #2757 "Outdated instructions on website after creating template"
After creating a template, it redirects to https://aspnetboilerplate.com/Templates/Create and shows:

<img width="1160" alt="screenshot 2017-12-04 17 11 01" src="https://user-images.githubusercontent.com/14091939/33544776-0ebafc38-d917-11e7-934b-38ae244abed0.png">

However, all free templates now come with ABP v3.x (.NET Standard 2.0) and require VS2017 15.3.3+.
This is misleading and has prompted

[2017-12-04 12:04] hikalkan commented on #2757
Thank you @acjh we will update it.

[2017-12-04 12:19] hikalkan commented on #2756
The article says "do not return IQueryable". Returning a ``List<TEntity>`` is pretty normal.

But, ABP's repository returns IQueryable too. This can be discussed. I agree that returning IQueryable leaks data queries out of repository.

However, if you will always use a database api (ORM) that supports IQueryable, it can be acceptable to return IQueryable from repository. This is a pratical approac

[2017-12-04 12:19] #2756 closed

[2017-12-04 14:19] robertosistemas commented on #2753
My suggestion is that just as you did a project to demonstrate the creation of an application uses Xamarin, it would be great to have the same application being implemented using the Ionic Framework, which allows you to create progressive web applications that deliver the same experience to the user. a native application, however using web standards like html5, css3 and javascript. Demonstrating a

[2017-12-04 14:38] hikalkan commented on #2753
That's a good side project. I don't know if we have time to work on it, but it's always in our minds :)

[2017-12-04 14:38] #2753 closed

[2017-12-04 20:30] thomas-parrish commented on #2616
Any updates on this? We are having this issue as well. What is the appropriate approach to solving this?

[2017-12-04 20:37] ebicoglu commented on #2616
did you try adding global:false solution. it looks easy and neat

[2017-12-04 20:44] thomas-parrish commented on #2616
We are testing this now, but I haven't had a chance to investigate what impact disabling all ajax events will have on the application for any external request.

[2017-12-05 00:45] natiki commented on #2756
Returning an IQueryable from a repository is a **"good thing"** as it allows access to the database to be

1. Composable - Without an IQueryable it is then impossible for application services and/or domain services to apply the specification pattern to selectively whittle down the result set.
2. Keeps some of the ORM access performant

As long as your domain services and/or application services do

[2017-12-05 04:24] KennyEng12 commented on #2756
@hikalkan @natiki
Ok thank you for the reply.

[2017-12-06 01:57] chanjunweimy commented on #2595
@sachatrauwaen but this method doesn't work yet if we want to download the embedded file?
@hikalkan  hmm, actually my previous workaround for the embedded files include embed a zip file instead of the original folder: this approach preserve the original file structure and we can unzip the embedded files if we need to use them directly. It still needs an extra step which is to zip the folder though

[2017-12-06 06:25] maliming opened #2759 "IMustHaveTenant entity may have problems with the notification in the unit of work."
If an uncommitted unit of work inherits an entity of IMustHaveTenant, the publish notifications may throw an exception: AbpException ("Can not set TenantId to 0 for IMustHaveTenant entities!") `

[https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/NotificationPublisher.cs#L99](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/N

[2017-12-06 07:22] acjh commented on #2759
This was one of the issues here: https://forum.aspnetboilerplate.com/viewtopic.php?p=24399#p24433

[2017-12-06 12:10] sachatrauwaen commented on #2595
@chanjunweimy actually there are problems with double dots in filenames and dashes in foldernames. Can you clarify your question.

[2017-12-06 15:30] thomas-parrish commented on #2616
I'm guessing that the ABP tea modeled this after the behavior of angularJS's $http module. But $http intentionally removes this token from all cross-origin requests.

I believe that this should in fact be the behavior for ABP as well, so this is a bug that needs to be addressed. I do not think global: false is an appropriate solution.

[2017-12-07 01:45] chanjunweimy commented on #2595
@sachatrauwaen yup~ what I mean was, after taking a look of your pull request, I think your pull request couldn't handle the case where we want to download the embedded files and the embedded files have double dots in filenames. This is common because many angular files have double dot, ie x.routing.ts, x.pipe.ts etc. Just want to clarify if my understanding is correct.

[2017-12-07 06:18] hikalkan commented on #2616
We should not add it to the header if the request is cross domain (automatically). Will work on that. However, if you have a solution you can share with us.

[2017-12-07 07:22] Worthy7 opened #2760 "Dynamic Api w/ Angular >=1.4"
In angular 1.4, $httpprovider uses .then instead of .promise.

Please add a note/update the docs
https://aspnetboilerplate.com/Pages/Documents/Dynamic-Web-API#DocAjaxParams

[2017-12-07 07:43] hikalkan commented on #2760
We will check that. Thanks.

[2017-12-07 07:48] Worthy7 opened #2761 "[FeatureRequest] Specs in front end"
You know what would be really really awesome?
If I could use specifications in the front end.

I can think of a few ways to do this
WAY 1:
1) I define my "people" endpoint which is some kind of queryable api endpoint (Odata/WebAPI[EnableQuery]).
2) Then I get a specification from the server, which is translated/returned to show a JS style syntax that will work straight with the endpoint defined (e

[2017-12-07 20:49] emisand opened #2762 "Abp.ZeroCore.EntityFramework errors with indexes and lazy loading"
There are some bugs to be fixed with the Abp.ZeroCore.EntityFramework package in order to get it working with an ASP.NET Boilerplate ASP.NET Core project targeting the full .NET Framework and Entity Framework 6.

I have set a repository with the vanilla aspnetboilerplate template using asp.net core and EF6 here:
[aspnetboilerplate-core-entityframework6](https://github.com/emisand/aspnetboilerplate

[2017-12-07 21:03] sachatrauwaen commented on #2595
Yes my pull request handle double dots in file names.

Look at the tests. I add some test for double dots in file names.

https://github.com/sachatrauwaen/aspnetboilerplate/blob/d777f04dfdbe3c9f4b4dd2d23c1129bf0b6b434c/test/Abp.Tests/Resources/Embedded/EmbeddedResourceTests.cs

[2017-12-07 21:55] daconglee opened #2763 "use oracle database show System.NotSupportedException"
EntityFramework use Oracle.ManagedDataAccess.EntityFramework

`A second operation started on this context before a previous asynchronous operation completed. Use 'await' to ensure that any asynchronous operations have completed before calling another method on this context. Any instance members are not guaranteed to be thread safe.

: System.NotSupportedException: A second operation started on thi

[2017-12-08 00:24] acjh commented on #2763
Show code where this occurs.

[2017-12-08 01:15] chanjunweimy commented on #2595
@sachatrauwaen yes, you handled double dots in file names, what I mean is if we want to preserve the folder structure, i.e. if I embed the whole angular ui src file, we should be able to download all files in the same structure, otherwise it is not that meaningful.

[2017-12-08 07:54] amin168 opened #2764 "AbpCore change JsonFormatter is not working"
For my code :

[code]

[2017-12-08 10:23] ryancyq commented on #2616
Hi @hikalkan

Can we do the following changes?

Taking reference from [stackoverflow](https://stackoverflow.com/questions/6238351/fastest-way-to-detect-external-urls), `http://abc.net`, `https://abc.net`, `//abc.net` will be captured.

[code]

[code]

[2017-12-08 11:08] ismcagdas commented on #2764
Thanks for your report @amin168 , we will check it.

[2017-12-08 11:38] sachatrauwaen commented on #2595
@chanjunweimy Yes thats covered.

But to be sure i covered your use case, can you tell me a real example of folder/file structure.
And i will add it to the the unit tests .

[2017-12-08 12:13] daconglee commented on #2763
ERROR 2017-12-07 22:29:10,695 [5    ] CAC.MES.Web.Controllers.HomeController   - An error occurred while preparing the command definition. See the inner exception for details.
System.Data.Entity.Core.EntityCommandCompilationException: An error occurred while preparing the command definition. See the inner exception for details. ---> System.NotSupportedException: A second operation started on this

[2017-12-08 12:31] ismcagdas commented on #2763
@daconglee can you share code of HomeController as well ?

[2017-12-08 16:45] xumix opened #2765 "Abp logs sensitive information in AuditLog eg. Login/password for LoginController"
* Your Abp package version: 3.2.5
* Your base framework: .Net Core.

So, here we are:
![2017-12-08 19 39 59 abp_audit_logs pp3db public local-pg - table - navicat premium](https://user-images.githubusercontent.com/250118/33775485-9cc27606-dc4f-11e7-829e-4da7cbd90262.png)

Login action must be excluded by default

[2017-12-09 01:05] maliming commented on #2765
Enable/Disable by attributes
While you can select auditing classes by configuration, you can use Audited and DisableAuditing attributes for a single class, a single method. An example:
[https://aspnetboilerplate.com/Pages/Documents/Audit-Logging#DocEnableDisableByAttrs](https://aspnetboilerplate.com/Pages/Documents/Audit-Logging#DocEnableDisableByAttrs)

[2017-12-09 11:04] ismcagdas commented on #2765
@xumix did you try this with one of ABP templates ? If so, please share the template type and we will fix it as well.

[2017-12-09 18:20] daconglee commented on #2763
i create by template，not modify。for web 、application、core。

namespace CAC.MES.Web.Controllers
{
    [AbpMvcAuthorize]
    public class HomeController : MESControllerBase
    {
        public ActionResult Index()
        {
            return View();
        }
	}
}

[2017-12-09 19:22] xumix commented on #2765
@ismcagdas That is in .net core mvc default template

[2017-12-10 15:08] rgiosa opened #2766 "IQueryable GroupBy problem"
Abp package version: v3.2.5
Base framework: .Net Core.

I am tracing an sql query for a "group by" statement and the generated SQL is weird. Apparently the framework is not sending the "GROUP BY" clause to the database, doing only in memory after doing a "SELECT ALL".

Here is my code:
[code]

Same results from:
[code]

ADO.NET Trace:
[code]

[2017-12-10 19:06] ismcagdas commented on #2766
Hi @rgiosa, have you tried to execute same query using your DbContext ?
It might be a problem of EF.

[2017-12-11 01:46] chanjunweimy commented on #2595
@sachatrauwaen from my understanding, you need to specify the exact file path after embedded the file to keep the structure right? i.e.
[code]

However, what I mean is to download the file without knowing the file path.

You can get example folders here: https://github.com/chanjunweimy/abp_plugin_with_ui/tree/master/aspnet-core/Todo.DemoPlugin/Todo.DemoPlugin.AngularUI/src

Thank you.

Regards,
Ju

[2017-12-11 05:35] ismcagdas commented on #2711
@Vohuman sorry for my late response. I have just tried with a new template and it seems like it works.
I only marked the localization file (Persian-fa-IR.xml) as embedded resource. Can you check that for your file ?

[2017-12-11 05:41] skseeker opened #2767 "OnlineClient.IpAddress behind reverse proxy"
Hi,

I'm using signalr behind a reverse proxy，and saving the OnlineClinet to the database.
Now,the IOnlineClient.IpAddress is always the ip address of the reverse proxy server.

I found [the code](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b1686ce813c53df9d00bec6f6b1b44cd53d2ce8f/src/Abp.Web.SignalR/Web/SignalR/Hubs/AbpCommonHub.cs#L91) in the source code.

Now, how to get the cli

[2017-12-11 07:01] ismcagdas commented on #2767
Hi @skseeker , you can override https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web/Auditing/WebClientInfoProvider.cs#L40 and use your own code to get IpAddress.

[2017-12-11 10:22] skseeker commented on #2767
I temporarily override the [AbpCommonHub.OnConnected ](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b1686ce813c53df9d00bec6f6b1b44cd53d2ce8f/src/Abp.Web.SignalR/Web/SignalR/Hubs/AbpCommonHub.cs#L33) and [AbpCommonHub.OnReconnected](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b1686ce813c53df9d00bec6f6b1b44cd53d2ce8f/src/Abp.Web.SignalR/Web/SignalR/Hubs/AbpCommonHub.cs

[2017-12-11 11:51] ismcagdas commented on #2767
@skseeker you are right, clientInfoProvider is not used here. We can make GetIpAddressOfClient overridable. Is there a reason you want to make CreateClientForCurrentConnection overridable ?

[2017-12-11 12:22] skseeker commented on #2767
Make GetIpAddressOfClient overridable already solved the problem.

I just think it’s more open to make CreateClientForCurrentConnection overridable.

[2017-12-11 13:10] ismcagdas commented on #2767
closed via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2768

[2017-12-11 13:10] #2767 closed

[2017-12-11 15:05] ismcagdas commented on #2764
@amin168 can you try to configure it like this just before services.AddAbp line:

[code]

[2017-12-11 17:47] rgiosa commented on #2766
Hi @ismcagdas, actually i am working without custom repositories in AppService. Is there any way i can use DbContext in AppService?

[2017-12-11 18:08] acjh commented on #2766
Inject `IDbContextProvider<MyDbContext>` and use it like this:

[code]

[2017-12-11 21:25] rgiosa commented on #2766
Thanks @acjh, but tracing results are the same using `_context`!

[2017-12-11 22:59] Toranjes commented on #2494
I'm also getting the same error.
But doesn't work for me any options of above
how can i fix it???

[2017-12-12 01:16] amin168 commented on #2764
@ismcagdas it's work，thanks. so i close this issue

[2017-12-12 01:16] #2764 closed

[2017-12-12 06:54] maliming opened #2769 "Identity Server Integration Migration error"
Abp 3.2.5

Follow the [Identity Server Integration](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server) docs to get the following error

An object with the name 'AbpPersistedGrants'  already exist in the database

[code]

[2017-12-12 08:49] evhen14 commented on #2649
Is it still fixed? What's the original issue?

[2017-12-12 09:16] tjackadams opened #2771 "Provide an updated OData package for AspNetCore"
Microsoft have recently released, albeit in Alpha stage, a Microsoft.AspNetCore.OData package which is now compatible with .NETStandard 2.0.

It can be installed via the following nuget source https://www.myget.org/F/webapinetcore/

Is it possible to provide an updated OData Abp package so we can start to integrate this into our applications?

Many Thanks!

[2017-12-12 10:24] #2769 closed

[2017-12-12 10:52] acjh commented on #2708
I couldn't reproduce this with:

- Abp v3.2.4
- sweetalert v2.0.8
- MVC 5.2.3 (.NET Framework 4.5.2) without AngularJS

Without changes | With proposed changes
-- | --
<img width=300 src="https://user-images.githubusercontent.com/14091939/33880310-3967788e-df6c-11e7-8e55-c7a3c7aeea08.png" /> | <img width=300 src="https://user-images.githubusercontent.com/14091939/33880347-51c0c6ba-df6c-11e7-9282-c

[2017-12-12 11:03] ismcagdas commented on #2769
@maliming have you solved this problem ?

[2017-12-12 11:28] Vohuman commented on #2711
@ismcagdas Thank you so much!!!!!!!!! 👍

[2017-12-12 11:44] #2711 closed

[2017-12-12 12:02] ismcagdas commented on #2649
@evhen14 the main issue was related to MySql.Data package. You can update it and see if it works.

[2017-12-12 12:19] 267028826 opened #2773 "Use Vs2015 Error"
The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

Please help

[2017-12-12 12:22] Krystian-D commented on #2773
Hi
You should use latest visual studio 2017

[2017-12-12 12:26] 267028826 commented on #2773
Do you have any other methods?
The official website requires more than vs2013.

[2017-12-12 12:28] acjh commented on #2649
In particular, it's related to the changes proposed in this PR: [mysql/mysql-connector-net/pull/12/files](https://github.com/mysql/mysql-connector-net/pull/12/files)
Actually, those exact lines were in [`6.9.10`](https://github.com/mysql/mysql-connector-net/blob/6.9.10/Source/MySql.Data.EntityFramework6/Properties/AssemblyInfo.cs) but were removed in `6.10` by these 2 commits: [`9abdd3c`](https://

[2017-12-12 12:30] ismcagdas commented on #2773
@267028826 information on the aspnetboilerplate website is old, we will upgrade it. You should use VS 2017 as @Krystian-D suggested.

[2017-12-12 12:34] Vohuman commented on #2711
@ismcagdas Thank you so much! 👍

[2017-12-12 12:34] Krystian-D commented on #2766
Hi, I think it may be just how EF core currently works e.i no support for group by clause. It's planned for EF core 2.1 https://github.com/aspnet/EntityFrameworkCore/issues/2341

[2017-12-12 12:51] 267028826 commented on #2773
thank you all.

[2017-12-12 12:51] #2773 closed

[2017-12-12 13:05] #2757 closed

[2017-12-12 13:27] maliming commented on #2769
@ismcagdas same question #2717

[2017-12-12 13:49] hikalkan commented on #2771
Hi,

Which Abp package depends on Microsoft.AspNetCore.OData?

[2017-12-12 13:51] hikalkan commented on #2494
Have you upgraded to latest VS 2017 update?

[2017-12-12 14:03] ismcagdas commented on #2763
@daconglee seems to be an https://github.com/zzzprojects/EntityFramework.DynamicFilters issue.
Can you try to disable all data filters and see if you can see the home page.

[code]

By the way, which ABP template you have downloaded ?

[2017-12-12 14:04] ismcagdas commented on #2765
closed via https://github.com/aspnetboilerplate/module-zero-core-template/issues/152

[2017-12-12 14:04] #2765 closed

[2017-12-12 14:16] tjackadams commented on #2771
Hi @hikalkan,

None of the Abp packages depends on it as it stands.
Abp.Web.Api.OData depends on Microsoft.AspNet.OData

So i'm assuming a new Abp OData package would need to be generated to support Microsoft.AspNetCore.OData to allow OData usage in dot net core applications.

[2017-12-12 14:17] hikalkan commented on #2771
OK. We should check how it can be.

[2017-12-12 14:51] jeffreyfloresca04 opened #2774 "StatsPollingInterval not working in DashboardOptions Hangfire"
var db = new DashboardOptions
                {
                    AppPath= "/hangfire",
                    Authorization = new[] { new HangFireAuthorizationFilter() },
                    StatsPollingInterval = 5000
                };

HangFireAuthorizationFilter this is a customized class that contains the ff: definitions

[code]

My question is it seems that StatsPollingInterval is not workin

[2017-12-12 16:16] rgiosa commented on #2766
Hi @Krystian-D! Thanks, you're right!

[2017-12-12 16:16] #2766 closed

[2017-12-12 18:27] daconglee commented on #2763
I created by ABP template,then up to 3.2.5 version。replace Oracle.ManagedDataAccess.EntityFramework。
Web application first run show then error，then "Refresh" on Google Chrome ,it is OK。use other function is OK.

[2017-12-12 21:43] dotnetninja opened #2775 "EntityFrameworkCore NET47"
### EfCore Testing Issues.

After upgrading to the .net47 all EntityFrameworkCore.Tests are failing with the following error:

It seems that the error is thrown upon GetDbContext function found within the UnitOfWorkExtensions on line 33.
`if (!(unitOfWork is EfCoreUnitOfWork))
            {
                throw new ArgumentException("unitOfWork is not type of " + typeof(EfCoreUnitOfWork).FullName

[2017-12-13 01:46] acjh commented on #2775
Show the full stack trace.

[2017-12-13 05:37] maliming opened #2776 "Identity Server Integration resource owner password credentials exception"
Abp 3.2.5

[Exception Reproduce Repository ](https://github.com/maliming/aspnet-core/commit/b79bd9600422e2fe86397a606da40e6f86fdae4b)

hi @hikalkan

I integrated Identity Server according to the document, and then add http request header Abp.TenantId token authorization success, if removed in the http request header Abp.TenantId  want to use the host account login throws an exception.

![tim 20171

[2017-12-13 05:39] maliming commented on #2776
Startup Templates is Single Page Web Application With AbpZero.

[2017-12-13 06:42] hikalkan commented on #2616
That can be possible. Thank you for the info. Will work on that in a short time.

[2017-12-13 07:35] hikalkan commented on #2774
That's expected. Authorization occurs in every web request.

[2017-12-13 07:36] hikalkan commented on #2776
Thank you for reporting. We will check this.

[2017-12-13 07:39] anton-beetroot-23071996 opened #2777 "DI and EF Core during module initialization"
I discovered some issue, related to the Dependency Injection and Entity Framework Core. I try to write my own implementation of "EntityMaterializerSource" (Abp has its own "AbpEntityMaterializerSource"). My implementation uses some constructor dependency.
The first trouble I discovered is the implementation of "DefaultDbContextResolver" which re-register AbpEntityMaterializerSource every time is i

[2017-12-13 07:40] jeffreyfloresca04 commented on #2774
So how can I adjust it to call  the authorize like 5 secs etc?

[2017-12-13 07:42] jeffreyfloresca04 commented on #2774
Isn't the StatsPollingInterval need to set to other values  to  achieve  what  I want?

[2017-12-13 07:43] hikalkan opened #2778 "Refactor: Extract ReplaceServices for DefaultDbContextResolver"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/2445893c5572693ce1f8581c8b63a857d1d4a472/src/Abp.EntityFrameworkCore/EntityFrameworkCore/DefaultDbContextResolver.cs#L87

Extract that line to a virtual method so we can override it by deriving from DefaultDbContextResolver

[2017-12-13 07:45] hikalkan commented on #2777
For the first issue, I created a refactor issue, so you can easier override it: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2778
Changing AbpEntityMaterializerSource without overriding DefaultDbContextResolver will not be possible in any way.

Can you write your own EntityMaterializerSource implementation here to understand it better.

[2017-12-13 07:46] hikalkan commented on #2774
I believe this question is related to hangfire rather than ABP. I never used StatsPollingInterval before.

[2017-12-13 07:49] jeffreyfloresca04 commented on #2774
Yeah it's about hangfire.

[2017-12-13 07:50] hikalkan commented on #2774
So, can you move this question to hangfire's repo: https://github.com/HangfireIO/Hangfire
Thanks.

[2017-12-13 07:50] #2774 closed

[2017-12-13 07:56] anton-beetroot-23071996 commented on #2777
Thank you for you responce !
What about the second issue ? I cannot create a substitution for EF services (EntityMaterializerSource for example), which have some dependency, because EF during initialization uses default ASP NET CORE DI mechanism (and i have an InvalidOperationException thrown by Microsoft.Extensions.DependencyInjection).

[2017-12-13 07:58] acjh commented on #2762
Where are you getting those errors? I am able to run `Update-Database` in the PM Console.

This change works and seems reasonable. In ABP, `user.Tokens` are always accessed after `.EnsureCollectionLoadedAsync` so it doesn't break any tests.

[2017-12-13 08:15] hikalkan commented on #2777
Please share your code, how you registered dependencies and the stacktrace of the exception.

[2017-12-13 09:12] anton-beetroot-23071996 commented on #2777
`public class MycompanyEntityMaterializerSource : AbpEntityMaterializerSource, ITransientDependency
    {
        private readonly MethodInfo _getDecryptedStringMethod;

        private readonly IStringCryptor Cryptor;

        public MycompanyEntityMaterializerSource(IStringCryptor _cryptor)
        {
            Cryptor = _cryptor;
            `
DbContextResolverPart (differs only in Materialize

[2017-12-13 13:05] emisand commented on #2762
Hello @acjh

In the repro project I have already added the HasMaxLength constraints so you won't get the error.

In order to reproduce the error, please delete the existing migration and remove the HasMaxLength lines I added to AbpProjectNameDbContext

[2017-12-13 13:21] fshoushtari opened #2779 "Corruption of FileContentResult in AppService methods"
I have two same methods on in an Application Service class and the other in the Web Hst controller
the method looks like this:

        [WrapResult(WrapOnError = true, WrapOnSuccess = false)]
        public FileResult GetListToExcel()
        {
            var pkg = new ExcelPackage();
            var sheet = pkg.Workbook.Worksheets.Add("Sheet1");
            sheet.OutLineApplyStyle = true;

[2017-12-13 14:31] maliming commented on #2776
@hikalkan

[Microsoft.Extensions.Identity.Core/UserManager.cs#L656](https://github.com/aspnet/Identity/blob/2.0.1/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L656)

[EntityFrameworkCore/Seed/Host/HostRoleAndUserCreator.cs#L80](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/Se

[2017-12-13 17:41] hikalkan commented on #2776
So, then we should update startup template too.

[2017-12-13 22:19] Toranjes commented on #2494
Yes My VS 2017 is version 15.2 (26430.6) Release....

[2017-12-14 00:12] acjh commented on #2494
@Toranjes The latest VS 2017 version is `15.5.1`.

[2017-12-14 02:00] acjh commented on #2762
Thanks, I was able to reproduce that.

[2017-12-14 02:52] wildest opened #2781 "Social Logins"
In the documentation the "Social Logins" section of the User Management page here:
https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management?searchKey=social#social-logins suggests we should see the "startup template" document for social login information. However, the linked document doesn't contain any info on that?

[2017-12-14 02:59] #2781 closed

[2017-12-14 03:00] acjh commented on #2781
Answered on Stack Overflow: [Aspnetboilerplate - No Social Login documentation available
](https://stackoverflow.com/questions/46921073/aspnetboilerplate-no-social-login-documentation-available)

We should update that information.

[2017-12-14 06:07] ismcagdas commented on #2769
@maliming thanks

[2017-12-14 06:09] ismcagdas commented on #2763
@daconglee, as I understand you have solved your problem, is that right ?

[2017-12-14 08:34] ismcagdas opened #2783 "Incorrect determination of multiTenancySide in AbpSession"
AbpUserManager uses it's TenantId and IMultiTenancyConfig to determine current multi tenancy side.
This approach has some problems when switching to a tenant context in background jobs for example. We can use CurrentUnitOfWork's TenantId to determine current multi tenancy side if there is an active unitOfWork.

[2017-12-14 08:38] maliming commented on #2783
#2759

[2017-12-14 08:48] ismcagdas commented on #2759
@maliming I couldn't be sure if my PR https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2784 fixes this. I need to create another unit test for this.

[2017-12-14 10:29] Toranjes commented on #2494
why is it related to version of VS??it's mean i can't open ABP ver3.* in VS 2013???

[2017-12-14 10:43] acjh commented on #2494
Yes. ABP v3.0.0 is based on .NET Standard 2.0, which is only supported in VS 2017 15.3.3+.
- This concerns you regardless if you are on MVC 5.x, .NET Framework 4.x or .NET Core 2.x.
- The [recommended version](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core#introduction) is VS 2017 15.3.5+.

[2017-12-14 10:52] Toranjes commented on #2494
Very Good Thank you so much....

[2017-12-14 12:04] ismcagdas opened #2785 "AbpDateTimeModelBinderProvider is not used for querystring parameters"
It seems like for ASP.NET Core, built-in model binders are used instead of AbpDateTimeModelBinder.

[2017-12-14 13:00] #2785 closed

[2017-12-14 13:43] chanjunweimy commented on #2595
@sachatrauwaen nope, I mean just downloading an embedded folder.

[2017-12-14 14:07] robsiera commented on #2595
@chanjunweimy can you be more precise? Where in the code sample that you pointed too can one find an example of what you mean?

[2017-12-14 14:49] #2783 closed

[2017-12-14 15:32] loning commented on #2691
nice feature, hoping adding it APSP

[2017-12-14 17:13] Ivangrasp commented on #2616
The workaround in the I put in the OP may be a good solution. I mean, I don't know if there's any issue with jQuery detecting if a request is crossdomain, but I guess you guys could test this to find if there's a problem in any case. I've been using it without issues since then.

[code]
This is what the [jQuery API](http://api.jquery.com/jquery.ajax/) says

Type: Boolean
If you wish to force a cro

[2017-12-14 20:03] daconglee commented on #2763
not

: System.NotSupportedException: A second operation started on this context before a previous asynchronous operation completed. Use 'await' to ensure that any asynchronous operations have completed before calling another method on this context. Any instance members are not guaranteed to be thread safe.

[2017-12-14 23:49] acjh commented on #2763
1. What's your ABP version?
2. You mean it throws on an empty `Index` method?

[2017-12-15 04:08] ryancyq commented on #2732
It seems that the `try/catch` you placed is not at the location where the exception is thrown
Based on the log you provided, the `Exception` is thrown by `CompleteUowAsync` in `Abp.WebApi.Uow.AbpApiUowFilter.cs`.

However the `(DbUpdateConcurrencyException ex) { return -1; }` is not catching the exception

[2017-12-15 04:48] ebicoglu commented on #2779
Hi,

You cannot return a file in a ApplicationService. Even you could, you shouldn't. Because application layer is not dependent on Http libraries. So if you want to return file you can use Controllers. If you still want to use application service to return a file, then you should return the filename of the generated file. And client must make another request to retrieve the file.
The sample metho

[2017-12-15 04:55] KennyEng12 commented on #2732
@ryancyq

We guessed that is the case, but don't know how to handle it. We were guessing it's because of ABP framework is doing some works behind that we don't know.

[2017-12-15 06:40] ryancyq commented on #2732
@KennyEng12
It is because when `catch( DbUpdateConcurrencyException ex) { return -1; }` did catch the exception, the changes to the entities still remain intact.
Therefore, when exiting the method, `Abp.WebApi.Uow.AbpApiUowFilter` will try to complete the UOW and save any changes made to the entities into the db

If you want to handle the `DbUpdateConcurrencyException` in your method, i would sugg

[2017-12-15 09:37] fshoushtari commented on #2779
Hi,
Thank you for your reply,
However I found my problem was with swagger, which wraps the file returned in response and when I directly
call the Api it would be ok.

Sent from Mail for Windows 10

From: Alper Ebicoglu
Sent: Friday, December 15, 2017 3:18 PM
To: aspnetboilerplate/aspnetboilerplate
Cc: fshoushtari; Author
Subject: Re: [aspnetboilerplate/aspnetboilerplate] Corruption ofFileContentRe

[2017-12-15 09:42] ismcagdas commented on #2616
@Ivangrasp @ryancyq what do you think about a hybrid solution ?

[code]

[2017-12-15 11:08] prateek14 commented on #2647
was there a resolution to this?
i am having similar problem

[2017-12-15 13:46] #2779 closed

[2017-12-15 14:23] hikalkan commented on #2777
Are you sure that you have registered ``IStringCryptor`` to DI?

[2017-12-16 00:50] acjh commented on #2624
@iarif20 Is this resolved?

[2017-12-17 00:51] anton-beetroot-23071996 commented on #2777
Yes, the implementation class is market asd ITransientDependency and is successfully resolved usingh IocContainer

[2017-12-17 02:54] acjh commented on #2777
Is the implementation class `public` and does it have `public` constructors?

[2017-12-17 04:18] anton-beetroot-23071996 commented on #2777
Yes

[2017-12-17 04:39] acjh commented on #2777
Did you resolve the interface or implementation using `IocContainer`?

[2017-12-18 01:09] iarif20 commented on #2624
Hi,

I have tried your suggestion but with no luck again. Couple of things in the code you provided I couldn't understand:

1-> Transaction = Transaction // This line
2-> Connection = Connection

With the above two, you mean to have a shared connection and transaction object.

Below is the modified code.

[code]

[2017-12-18 01:27] acjh commented on #2624
Correct.

The `SqlCode` method is different from the code I provided.

[2017-12-18 01:28] #1817 closed

[2017-12-18 01:30] #2353 closed

[2017-12-18 01:30] #2404 closed

[2017-12-18 01:32] #2473 closed

[2017-12-18 01:32] #2477 closed

[2017-12-18 01:34] #2494 closed

[2017-12-18 01:34] #2518 closed

[2017-12-18 01:38] #2644 closed

[2017-12-18 01:40] #2660 closed

[2017-12-18 01:42] acjh commented on #2664
Have you tried the answer in the linked issue?

[2017-12-18 01:42] #2676 closed

[2017-12-18 01:44] #2696 closed

[2017-12-18 02:03] KennyEng12 commented on #2732
@ryancyq
Thanks for the suggestion.

[2017-12-18 02:03] #2732 closed

[2017-12-18 02:08] ryancyq commented on #2616
@ismcagdas Looks great for me :)

[2017-12-18 06:42] #2616 closed

[2017-12-18 08:13] anton-beetroot-23071996 commented on #2777
Yes, when I tried to resolve this dependency using IocContainer in point just before the error, it was successfully resolved. The error occurres because the EF during aspnetboilerplate initialization uses NET Core DI system (i made such conslusion because of the exception type and stack trace) which in this moment (aspnetboilerplate modules initialization) is not replaced by the aspnetboilerplate

[2017-12-18 08:18] acjh commented on #2777
That wasn't a yes/no question. Did you resolve the **interface** or **implementation**?

The exception occurs at `SeedHelper` so the `IServiceProvider` should already be configured.
You can check this by setting breakpoints.

[2017-12-18 08:20] anton-beetroot-23071996 commented on #2777
Sorry, I did not understand the question correctly
I try to resolve interface

[2017-12-18 15:06] guilmori opened #2792 "Azure Webjob integration"
I'm looking for guidelines on how to integrate Azure WebJobs within an ABP solution.
Particularly about initializing the Windsor container and the ABP bootstraping, so that I'm able to inject logic from other solution's projects.
Also I'm wondering if it is best to have different .csproj for each webjobs, or a single global host that coordinate all webjobs (that may be defined in class libraries).

[2017-12-18 15:36] dotnetninja commented on #2775
at Abp.EntityFrameworkCore.Uow.UowExtensions.GetDbContext[TDbContext](IActiveUow unitOfWork, Nullable`1 multiTenancySide)
   at Abp.EntityFrameworkCore.Uow.UowDbContextProvider`1.GetDbContext(Nullable`1 multiTenancySide)
   at Abp.EntityFrameworkCore.Repositories.EfCoreRepositoryBase`3.get_Context()
   at Abp.EntityFrameworkCore.Repositories.EfCoreRepositoryBase`3.get_Table()
   at Abp.EntityFrame

[2017-12-18 15:46] acjh commented on #2775
You're running the tests in `Abp.sln`?

[2017-12-18 18:12] dotnetninja commented on #2775
Correct, after upgrading to target framework to NET4.7

[2017-12-18 20:13] guilmori opened #2793 "Downloading MVC template from ABP web page is broken"
Downloading MVC template from ABP web page is broken.

https://aspnetboilerplate.com/Templates

![image](https://user-images.githubusercontent.com/9451512/34125950-f85dec8a-e405-11e7-9398-e8e7b3ffe5e2.png)

[2017-12-18 20:31] ismcagdas commented on #2793
@guilmori can you check again ? It must be fixed now.

[2017-12-18 20:44] guilmori commented on #2793
Yes, working now, thanks!

[2017-12-18 20:44] #2793 closed

[2017-12-19 11:19] fabio-basedev opened #2794 "aspnetboilerplate ASP .Net Core MVC Current User did not login to application error when call api service"
Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Abp package version: 2.3
* .Net Core.
* Exception message: Current user did no login to application.
* Steps needed to reproduce the problem: It's very strange because sometimes happen, sometimes no... and happen just on hosted versi

[2017-12-19 11:29] fabio-basedev commented on #2794
Complement: I have a Tenant sample that always happen the error... every time when I call a specific method from services, the error happen... but in other tenants not happen....

[2017-12-19 12:11] #2512 closed

[2017-12-19 12:20] acjh commented on #2585
Duplicate of #2512

[2017-12-19 12:20] #2585 closed

[2017-12-19 12:54] ebicoglu opened #4589 "Identity Server Integration resource owner password credentials exception"
Moved [Issue #2776](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2776) !

In HostRoleAndUserCreator class, default password for admin user for host is deprecated. Needs to update regarding to the new algorithm.

[2017-12-19 12:55] ebicoglu commented on #2776
Moved to [Module-Zero-Template Issue #113](https://github.com/aspnetboilerplate/module-zero-template/issues/113)

[2017-12-19 12:55] #2776 closed

[2017-12-19 14:25] maliming opened #2796 "Templates Download to get the 2.5.1 version"
https://aspnetboilerplate.com/Templates Download to get the abp 2.5.1 version.

Where is the problem?

[2017-12-19 14:40] acjh commented on #2796
What is the problem?

[2017-12-19 14:42] maliming commented on #2796
@acjh the abp version should be the latest version, but now download 2.5.1.

[2017-12-19 15:10] acjh commented on #2796
Which template?

[2017-12-19 15:14] maliming commented on #2796
Net Core + MPA + Zero + Latest stable

[2017-12-19 19:59] beriniwlew commented on #2118
I highly recommend NodaTime, too.  It's a great way to determine timezones and work with them.

[2017-12-19 20:01] alirizaadiyahsi commented on #531
Do you mean something like this: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/README.md

[2017-12-19 20:10] #1032 closed

[2017-12-19 20:17] #1195 closed

[2017-12-19 20:18] #1192 closed

[2017-12-19 20:19] #1184 closed

[2017-12-19 20:21] #1086 closed

[2017-12-19 20:25] #1505 closed

[2017-12-19 20:32] alirizaadiyahsi commented on #1378
https://aspnetboilerplate.com/Pages/Documents/Email-Sending

[2017-12-19 20:32] #1378 closed

[2017-12-20 04:05] kexxxfeng commented on #2719
It's difficult to reproduce this issue.

[2017-12-20 04:05] #2719 closed

[2017-12-20 05:26] hikalkan commented on #531
Thank you. Yes, it was something like that.

[2017-12-20 05:26] #531 closed

[2017-12-20 05:36] hikalkan commented on #2796
Should be fixed now.

[2017-12-20 05:36] #2796 closed

[2017-12-20 06:15] tianxiaode opened #2798 "About “max key length is 767 bytes” error"
I use UTF8 as the MySQL character set, by default the maximum length of the index is 767 bytes, and if the length of the field is 256, the length of the index is 768, which is beyond the bounds of the index. If modified to 255, the whole is appropriate. However, if you use the POMELO.ENTITYFRAMEWORKCORE.MYSQL recommended UTF8MB4 as the character set, the maximum length of the field is only 191.
Th

[2017-12-20 06:37] boilerplateir opened #2799 "Login without password"
I can't login without password like this post: [ASP.NET MVC Identity login without password](https://stackoverflow.com/questions/28110934/asp-net-mvc-identity-login-without-password)
I do not have SignInManager.

I using ASP.NET MVC 5.x and abp 1.4.2.0

[2017-12-20 07:04] acjh commented on #2799
In ASP.NET MVC 5.x, you can use `IAuthenticationManager`.
In [`AccountController`](https://github.com/aspnetboilerplate/module-zero-template/blob/0b3d92424f35a675853fff0c09a79fe4a54966b6/src/AbpCompanyName.AbpProjectName.WebMpa/Controllers/AccountController.cs#L106), you can simply do:

[code]

[2017-12-20 07:10] #2799 closed

[2017-12-20 08:16] chanjunweimy commented on #2595
@robsiera , sorry for the late reply, I have been a little bit busy.
Downloading the whole embedded folder is already the use case, I can't find any more precise sentence for that. :D

Currently in the pull request, embedded resources is added to csproj like this:
[code]

But imagine if you just want to embed the whole "Resources" folder, what you want to do is probably something like this:

[code

[2017-12-20 11:04] fabio-basedev commented on #2794
Please... I checked that seems the UserId can't obtained from AbpSession... but just in one specific Tenant.....
In this Tenant, the entity returned of this service have a image property, with large information... Could be because this large information? Anyone can help me please... I don't have more idea about this problem... I can make the application available for anyone who wants to check..

[2017-12-20 13:17] alirizaadiyahsi commented on #2708
Hi @gpcaretti, did you try with latest version?

[2017-12-20 14:54] gpcaretti commented on #2708
I'll try to check it today
Gp

--
Gianpiero Caretti
GP software engineering s.r.l.
Email: gpcaretti@gpsoftware.it
Mobile +39 347.1314799
http://www.gpsoftware.it/
P.IVA: IT03583981208
*Chi è disposto a sacrificare la propria libertà per briciole di momentanea
sicurezza, non merita né la libertà né la sicurezza. E le perderà entrambe *-
B. Franklin

2017-12-20 14:18 GMT+01:00 alirizaadiyahsi <notif

[2017-12-20 15:52] robsiera commented on #2595
@chanjunweimy thank you for the extensive explanation.

I'm following this thread because I have a similar issue as your initial issue description, only not with hyphens as you experienced, but with dots.  I was hopeful that this issue would be fixed soon with the PR of @sachatrauwaen.  But I see that @hikalkan has now labeled it as an enhancement.

You initial issue description was a bug. It work

[2017-12-20 16:08] chanjunweimy commented on #2595
@robsiera no problem. ^^ Actually @hikalkan  has already solved the initial issue at this [commit](https://github.com/aspnetboilerplate/aspnetboilerplate/commit/ac1fad0f557de3ca554c0e116f51ee5851e6af63) , but it is not yet released if I am not wrong. This is why this issue is marked as closed.

However, we continue the discussion in order to come out with a good method to implement GetDirectoryCon

[2017-12-20 16:12] acjh commented on #2595
It was released in ABP v3.2.0. Current version is ABP v3.2.5.

[2017-12-20 18:06] sachatrauwaen commented on #2595
It solves the issue with dashes "-" in filenames but introduce a new issue for dashes in foldernames.
Because they are transformed by dotnet to underscores "_".
And double dots "." in filenames is still a issue.

Can this issue reopened or is it better to create a new one for it ?

[2017-12-20 18:16] acjh commented on #2595
No need for either. @hikalkan will review your PR in time to come.

[2017-12-20 19:53] #2170 closed

[2017-12-20 19:55] alirizaadiyahsi commented on #2166
Hi @Jesn, is this problem still happening?

[2017-12-20 19:55] #2166 closed

[2017-12-20 19:56] #2336 closed

[2017-12-20 20:08] #2316 closed

[2017-12-20 20:14] acjh commented on #2709
Fixed by https://github.com/aspnetboilerplate/module-zero-core-template/commit/829b17912c77aba74091edb654dbcd388b470b14

[2017-12-20 20:14] #2709 closed

[2017-12-20 23:24] HusseinMosaad opened #2801 "Using HttpContext inside my DbContext class"
I'm trying to get the database name from the request url because i have more than one database

so, i have x1.com, x2.com and x3.com i want the DbContext to generate the connection string from the url at the runtime

what i did is that

    public SaaSZeroDbContext()
       : base(GetConnectionStringFromUrl())
    {

    }

    //function to get the connection string
    private static string GetC

[2017-12-21 01:16] chanjunweimy commented on #2595
@acjh Great to know! Thanks! ^^
@robsiera If you are still facing issue, as a workaround, you can implement the IFileProvider yourself, see: https://github.com/chanjunweimy/abp_plugin_with_ui/blob/master/aspnet-core/src/Todo.MainProject.Web.Host/Services/PluginEmbeddedResourceFileProvider.cs

Good luck!

Cheers,
Jun Wei

[2017-12-21 03:06] wsw19882014 opened #2802 "Why Abp.RedisCache can't install from Nuget?"
Why Abp.RedisCache can't install from Nuget?

[2017-12-21 03:13] acjh commented on #2802
Are you getting an error?

[2017-12-21 03:57] alirizaadiyahsi commented on #2801
Hi @HusseinMosaad

could you check this: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1023

[2017-12-21 04:30] donnytian commented on #2368
@ismcagdas : so when I work on MVC template rather than Angular, can I just remove web.host project?
If yes, I suggest to remove this project from your downloaded template directly.

[2017-12-21 05:32] acjh commented on #2368
Why remove it for everyone and complicate it? You only need single-digit clicks to remove it yourself.

[2017-12-21 05:38] acjh commented on #2368
It can also be used for interactive documentation with [Swagger UI Integration](https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration).

[2017-12-21 05:52] hikalkan commented on #2801
Hi,

Your approach is not true by design. I will explain why.

This is the DbContext comes with the template:

[code]

ABP uses the 2nd constructor (`AbpProjectNameDbContext(string nameOrConnectionString)`) here, as stated in the comment. Default constructor is only used while you are working with PMC, like executing update-database.

So, you should add a constructor like

[code]

This ctor will b

[2017-12-21 05:56] hikalkan commented on #2368
We don't want to remove it since it's very valuable for some developers. It exposes your application as API without UI. You can just delete it easily.

[2017-12-21 05:56] #2368 closed

[2017-12-21 07:26] #2778 closed

[2017-12-21 10:52] AlexSenchenko opened #2804 "Question: using React"
Hi just wondering, is anyone tried to use reactjs instead of angular, and how it's going?

As for me I found that Angular is kind of overhead for quick development. For simple parts it's better to use server side rendering, and for complex one smth like React. As anyone have same experience or opinion here? :)

[2017-12-21 11:37] ismcagdas commented on #2759
@maliming I couldn't reproduce this problem. Can you provide a sample scenario ? It would be great if you can write a simple test code to reproduce it.

[2017-12-21 11:50] HusseinMosaad commented on #2801
@hikalkan i tried your suggesstion and created a class that implements  IConnectionStringResolver

and in my web module in PreInitialize method i'm doing that

`Configuration.ReplaceService<IConnectionStringResolver, ConnectionStringResolver>(DependencyLifeStyle.Transient);`

but i'm getting error saying

**The non-generic method 'IAbpStartupConfiguration.ReplaceService(Type, Action)' cannot be us

[2017-12-21 11:59] acjh commented on #2801
Add `using Abp.Configuration.Startup;`

[2017-12-21 12:00] HusseinMosaad commented on #2801
@acjh  thanks a lot, it works

[2017-12-21 12:35] carldai0106 commented on #2735
I got the same error, when I run all unit-test!

[2017-12-21 12:37] hikalkan commented on #2801
So, should close this issue if it's worked?

[2017-12-21 12:38] HusseinMosaad commented on #2801
yes, sure

i'm trying now and will close it if it works

[2017-12-21 13:02] HusseinMosaad commented on #2801
@hikalkan  I did your suggestion but there is a problem, i've added this class

`public class ConnectionStringResolver : IConnectionStringResolver
    {
        public string GetNameOrConnectionString(ConnectionStringResolveArgs args)
        {
            if (HttpContext.Current == null)
            {
                return "Default";
            }
            var url = HttpContext.Current.Reques

[2017-12-21 13:07] hikalkan commented on #2775
@dotnetninja did you upgraded to .net4.7 in your operating system? Or did you change target framework to net461 for Abp projects?

[2017-12-21 13:16] hikalkan commented on #2118
Thanks @beriniwlew we haven't worked on that yet, but will.

[2017-12-21 13:20] hikalkan commented on #2798
Hi @tianxiaode

Why don't you just override OnModelCreating of your dbcontext and change sizes of the fields using fluent API of EF?
Another option is to override these properties in User entity and add StringLength property.

[2017-12-21 13:28] dotnetninja commented on #2775
I changed the target framework for Abp.EntityFramework to 4.7.  I have successfully achieved this migration with Abp.AspNetCore, Abp.Owin, Abp.Quartz, Abp.Web, Abp.WebApi, Abp.Web.Api.OData, and Abp.Web.SignalR

[2017-12-21 13:30] hikalkan commented on #2794
Checking your source code is not easy for us. Also, the information you share is not enough. Maybe you can share some related code that may help us to understand it.

[2017-12-21 13:39] hikalkan commented on #2801
HttpContext.Current should not be null in a web request. This is an independent from ABP.

However, you should handle HttpContext.Current case. For example, there is no HttpContext.Current on background jobs (maybe background job worked in your case). You should check stacktrace when it's null.

[2017-12-21 14:13] maliming commented on #2759
I will create a demo.

[2017-12-21 14:17] hikalkan commented on #2775
Interesting. 4.7 should be compatible with .netstandard2.0.
We will check this when we have time (but it has less priority since we will never move it to .net47).

[2017-12-21 14:50] dotnetninja commented on #2775
Might I enquirer as to why?

[2017-12-21 14:58] hikalkan commented on #2775
Because we want support .netstandard. If we move to net47 for EF Core package, it can not be used for .net core.

[2017-12-21 15:06] dotnetninja commented on #2775
I understand that you wouldn't want to core packages to move to anything other than netstandard2.0+, but why not the upgrade from .net461 to .net47?

[2017-12-21 15:41] iyhammad opened #2805 "Visual Studio Workflow Designer Exception after adding Abp Nuget Package"
* Abp package version: 3.2.5
* Base framework: .Net Framework (any version. I tried net461, net471)

* Steps needed to reproduce the problem:

1. Create new project in VS 2017 Workflow ----> WCF Workflow Service Application
2. Right Click on the Project and click Add New Item Workflow ---> Activity You will see this exception

`
System.OutOfMemoryException: Insufficient memory to continue the exec

[2017-12-21 16:04] tianxiaode commented on #2798
Your plan is very good, thank you! I complicated the problem!

[2017-12-22 00:19] chanjunweimy commented on #2595
An update from the Microsoft team based on [aspnet/FileSystem/#184](https://github.com/aspnet/FileSystem/issues/184), the embedded file issue is now solved! We can wait for their release and this issue will be solved.

[2017-12-22 01:15] maliming commented on #2759
@ismcagdas

Demo:
[UserAppService.cs#L112](https://github.com/maliming/AbpIssue/blob/master/src/QA.Application/Users/UserAppService.cs#L112)
[code]
[UserAppService_Tests.cs#L53](https://github.com/maliming/AbpIssue/blob/master/test/QA.Tests/Users/UserAppService_Tests.cs#L53)
[code]

![_20171222091335](https://user-images.githubusercontent.com/6908465/34281261-6e7ff94a-e6f8-11e7-84e1-790e66eab240.p

[2017-12-22 03:38] diegoortizmatajira commented on #2490
Hello, I'm initializing ABP as you described, but still having the same message: 'No service for type 'Abp.Dependency.IIocResolver' has been registered.'

My code is below:

[code]

[2017-12-22 04:00] #2798 closed

[2017-12-22 05:29] hikalkan commented on #2595
That's very good and seems solving all problems: https://github.com/aspnet/FileSystem/issues/184#issuecomment-352907578

We will try it when MS releases.

[2017-12-22 06:36] ismcagdas commented on #2759
@maliming thanks for the example. We thought it is better to call `await _unitOfWorkManager.Current.SaveChangesAsync();` before publishing a notification in this scenario.

[2017-12-22 06:36] #2759 closed

[2017-12-22 06:39] maliming commented on #2759
Okay, we know, it is recommended to explain in the document.

[2017-12-22 06:58] hikalkan commented on #2490
as in this example:

1. ConfigureServices method should return IServiceProvider. Example: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Startup/Startup.cs#L37

2. Return the value of AddAbp: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.M

[2017-12-22 08:58] ismcagdas commented on #2805
@iyhammad which version of VS you are using ? It might be a VS problem.
Have you tried adding any other nuget package ?

[2017-12-22 10:04] iyhammad commented on #2805
Hi @ismcagdas,
I'm using Latest Visual Studio (15.5.2).
To eliminate the causes, I tried to add different Nuget Packages to the project including netstandard2.0 packages like Microsoft.EntityFrameworkCore. Only ABP is having this issue.

[2017-12-22 11:17] ebicoglu commented on #2805
hi,

this is a visual studio bug.
in the below link, you can see somebody is adding another nuget package that causes the same error.
track the issue from Visual Studio Developer Community.

https://developercommunity.visualstudio.com/content/problem/61637/vs-2017-outofmemoryexception-in-xaml-activity-desi.html

[2017-12-22 11:17] #2805 closed

[2017-12-22 11:41] beriniwlew opened #2812 "Fluent Validation"
Have you guys considered integrating fluent validation in to ABP?

There are some business rules that i check using Fluent Validation and it makes it easy.
I really like it, and I think it would be useful in ABP.

More info here:
https://github.com/JeremySkinner/FluentValidation

[2017-12-22 14:44] ismcagdas commented on #2812
@beriniwlew I didn't know this library before, let us check it and decide.

[2017-12-22 14:48] hikalkan commented on #2812
I know that and investigated before. However, I decided to use data annotation validation instead of fluent validation to validate DTOs and Entities. Because this was easier and natural for .net developers.

I know that fluentvalidation is much powerfull. But there is no rectriction about using it currently. Do you have an idea how ABP framework can integrate it (I don't mean AspNet Zero, but the

[2017-12-22 15:41] fabio-basedev commented on #2794
Hi! Thanks for replying! Actually I discovered that isn't ABP or my application bug. I was hosting in a slow server and in this view, because the image stream, was breaking the connection... I didn't investigate why because now I'm hosting in Azure and the problem not happen. Also with the Azure my application is very fast now. Again, thanks for attention! I have another doubt, but I'll create ano

[2017-12-22 15:41] #2794 closed

[2017-12-22 23:40] beriniwlew commented on #2812
Just off the top off my head, it would be nice if after we have written out our validators, ABP could automatically use them to validate app services similar to the way the current data annotations are handled.

I'd want access to localization for the error messages, and a way to access either the domain services or repositories.  I'd also like for abp to automatically convert the FluentValidation

[2017-12-23 06:27] ebicoglu commented on #2802
I've tested installing without errors. What's the issue?

![image](https://user-images.githubusercontent.com/9526587/34317601-69c81542-e7c3-11e7-9d31-dc555fc7ffaa.png)

[2017-12-23 16:28] alirizaadiyahsi commented on #2319
Hi @harryhopkins,

Any news about this issue?

[2017-12-23 16:28] #2319 closed

[2017-12-23 16:28] alirizaadiyahsi commented on #2310
Hi @brzuck,

did you solve your issue?

[2017-12-23 16:28] #2310 closed

[2017-12-23 16:29] #2305 closed

[2017-12-23 16:30] #2301 closed

[2017-12-23 16:42] alirizaadiyahsi commented on #2300
Hi @NuelNikhil ,

did you solve this issue?

[2017-12-23 16:43] alirizaadiyahsi commented on #2299
This issue seems solved

[2017-12-23 16:43] #2299 closed

[2017-12-23 16:45] diegoortizmatajira commented on #2490
Thank you, it solved the issue.

The default template for dotnet new webapi creates
`public void ConfigureServices(IServiceCollection services)`
instead of
`public IServiceProvider ConfigureServices(IServiceCollection services)`

It works like a charm.

[2017-12-23 16:46] #2286 closed

[2017-12-23 16:46] #2277 closed

[2017-12-23 16:47] hikalkan commented on #2812
Thank you @beriniwlew

An ``Abp.FluentValidation`` package can be developed for the features you wrote. We can work on that in the future. However, a pull request would be good if anyone wants to make such a contribution.

[2017-12-23 16:48] #2272 closed

[2017-12-23 16:48] #2490 closed

[2017-12-23 16:48] hikalkan commented on #2490
You're welcome.

[2017-12-23 16:49] #2266 closed

[2017-12-23 16:50] #2726 closed

[2017-12-23 16:50] #2263 closed

[2017-12-23 16:50] #2261 closed

[2017-12-23 16:50] #2254 closed

[2017-12-23 16:52] #2250 closed

[2017-12-23 16:52] #2246 closed

[2017-12-23 16:52] #2245 closed

[2017-12-23 16:53] #2244 closed

[2017-12-23 16:54] alirizaadiyahsi commented on #2239
Hi @watoo ,

Any news about this issue? If you solved all about this issue, you can close it.

[2017-12-23 16:55] alirizaadiyahsi commented on #2235
Hi @watoo

did you solve this issue?

[2017-12-23 16:56] #2230 closed

[2017-12-24 06:32] papyr commented on #1505
Hi, When will an architectural picture be put up?

[2017-12-24 06:37] papyr opened #2818 "FeatureL DBLite with C# native Graph"
Hell, this is a feature request for C# [native graph/objects as the DB](https://github.com/mbdavid/LiteDB), its great with strong following and free. LiteDB

I am sure users will flow this way too :)

[2017-12-24 06:48] papyr commented on #1285
This is now natively supported in new EF 7 code.

        modelBuilder.Entity<Blog>()
            .HasOne(p => p.BlogImage)
            .WithOne(i => i.Blog)
            .HasForeignKey<BlogImage>(b => b.BlogForeignKey);

[2017-12-24 07:55] wimvandenbroeck commented on #2792
Hi , i'm trying to do the same thing, not yet started .. But I think this is what we can use
https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/SimpleTaskSystem/SimpleTaskSystem.ConsoleApp

[2017-12-24 14:09] ebicoglu commented on #2818
hi, maybe you try to send the first pull request for this one.

[2017-12-24 15:01] alirizaadiyahsi commented on #1505
Hi @papyr,

There is the pic in readme file. https://github.com/aspnetboilerplate/aspnetboilerplate

[2017-12-24 17:52] alirizaadiyahsi opened #2821 "Images are not shown in Startup Templates Document"

[2017-12-25 06:13] ismcagdas commented on #2821
Moved to internal repository.

[2017-12-25 06:13] #2821 closed

[2017-12-25 08:58] hikalkan opened #2822 "Upgrade Castle.Windsor.MsDependencyInjection to v3.3"

[2017-12-25 15:47] #2589 closed

[2017-12-25 18:07] alirizaadiyahsi commented on #2802
Hi @wsw19882014,

Are still facing this issue?

[2017-12-25 18:07] #2802 closed

[2017-12-25 18:09] alirizaadiyahsi commented on #2801
Hi @HusseinMosaad , any news for this issue?

[2017-12-26 00:49] wsw19882014 commented on #2802
After Update version to v3.4,it's no problem.Thanks.

[2017-12-26 00:50] wsw19882014 commented on #2802
After Update version to v3.4,it's no problem.Thanks.

[2017-12-26 03:24] donnytian commented on #2531
Sorry to bother such a long conversation, here is just another observation for other readers who might still have this issue in the updated version.

I just found this issue in v3.2.5 with Angular and AspNet Core, which is supposed to already fixed this. It works sometime, but not always, very few. So I came here by searching certain key word. Seems my code in downloaded template is updated but wh

[2017-12-26 06:15] ismcagdas commented on #2531
@donnytian thank you for informing us. When using google chrome, I works for me but it is better to remove href attribute. I just removed it via https://github.com/aspnetboilerplate/module-zero-core-template/commit/a23ac8aca236a9b8da5e8520806343722c877db2.

[2017-12-26 08:20] behiunforgiven opened #2825 "Client side localization not work when user logged in"
*  Abp package version: 3.3.0
* base framework: .Net Framework

I create a new project with Asp.net 5.x and Angularjs 1.x.
In an Unauthorized page (when user not logged in) client side localization works well but when I log in with admin account, server side localization works (L("...")) but client side localization (App.localize("...")) not works and this error is shown in console:
Could not find

[2017-12-26 08:37] ismcagdas commented on #2825
@behiunforgiven have you tried clearing your browser cache ? If it does not solve your problem, we will also try with same project name.

[2017-12-26 09:21] #2095 closed

[2017-12-26 10:19] behiunforgiven commented on #2825
I solve this by adding a language by TenantId = 1 in DefaultLanguagesCreator file.
`new ApplicationLanguage(1, "fa", "Persian", "famfamfam-flag-ir")`
I disabled multi tenancy and all users are logged in by default tenant and its id is 1;

But I finally didn't realize why localization didn't work only in client side....

[2017-12-26 10:20] #2825 closed

[2017-12-26 10:29] Vohuman commented on #2711
@ismcagdas How can I access to your template?

[2017-12-26 11:06] ismcagdas commented on #2711
@Vohuman do you mean ABP templates ?

[2017-12-26 11:34] Vohuman commented on #2711
yes

[2017-12-26 11:39] ebicoglu opened #2826 "Html encode responses against XSS attacks"
Prevent client-side scripts to run in web pages. Automatically Encode HTML or escape chars in Ajax responses so that codes in <script> tags cannot be evaluated. There maybe multiple targetted devices that's why encoding should be done only in web layer. Bear in mind Razor pages. Test the infected (XSS) response with a form that has textboxes.

https://docs.microsoft.com/en-us/aspnet/core/security/

[2017-12-26 11:49] ismcagdas commented on #2711
On github https://github.com/aspnetboilerplate?utf8=%E2%9C%93&q=template&type=&language=
On our website https://aspnetboilerplate.com/Templates

[2017-12-26 17:38] welsonplay opened #2831 "Error Restore package Abp.AspNetCore.SignalR"
I created an ASP.NET Core project using the template module zero, but when restoring the package it is displaying the following error:

[code]

I went in the nuget and checked that the Install-Package package **Abp.AspNetCore.SignalR** references the **Microsoft.AspNetCore.SignalR (> = 1.0.0-preview1-27891)** version, which does not exist. The latest version available for this SignalR package is v

[2017-12-26 17:52] acjh commented on #2831
Add this file to the same folder as your **.sln** file: [NuGet.Config](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/NuGet.Config)

[2017-12-26 18:05] #2831 closed

[2017-12-26 18:35] welsonplay commented on #2831
Thank you very much. It worked.

[2017-12-27 05:31] NuelNikhil commented on #2300
I was asking all these questions under the Tag ABP for one of our colleague... right now I am not working with that project(changed to another project).. So I hope everything must have solved as the project will go live in another week ... :)

[2017-12-27 05:31] #2300 closed

[2017-12-27 06:49] weitzhandler commented on #1239
When calling certain actions in my WebAPI, the console prints out:

    Executing action method Api.Controllers.FilesController.Post (Api) with arguments ((null))
      - ModelState is Valid

My question is, is any validation actually happening? Because in my scenario I'm just uploading files, so there are no models to validate, so in case validation is going one, do I get the chance to cut out th

[2017-12-27 06:55] natiki commented on #1239
https://aspnetboilerplate.com/Pages/Documents/Validating-Data-Transfer-Objects?searchKey=disable%20validation#disabling-validation

[2017-12-27 07:03] natiki opened #2832 "Suggestion: Add "Read The Documentation" and a link....."
Hi,

One of the outstanding features of ABP is the documentation which is:

- Updated regularly
- Has a search engine

Could we add this to the introductory template? Because there are some answers that are clearly already documented and are a waste of time and resources here.

Something else to add is to search the issues as often the same questions are asked repeatedly.

[2017-12-27 08:00] weitzhandler commented on #1239
In my scenario,I don't want to touch the DTOs, I completely want to disable the validation middleware for certain controllers/actions, it's this feasible?

[2017-12-27 08:05] natiki commented on #1239
When you read the introduction it tells you, you can disable validation for classes and methods. So if you want to disable for a controller / application service you can apply it.

[2017-12-27 08:07] manojsalvi opened #2833 "Unable to build Project due to failed Nuget Package restore (SignalR package)"
### Unable to build (SignalR package Issue)

Issue while restoring the nuget packages with the startup template downloaded with following details-

* Selected Template - Asp.Net Core 2.x (Angular 4)
* Target Framework - .Net Core(Cross Platform).
* Included module Zero

### VS Error

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1102	Unable to find package Microsoft.AspNetC

[2017-12-27 08:10] acjh commented on #2833
Duplicate of #2831

[2017-12-27 08:10] #2833 closed

[2017-12-27 09:24] weitzhandler commented on #1239
I checked that part, but it shows how to block the validation for the data, i.e. the DTO, whereas I want to block it in the controller/action level.

[2017-12-27 10:11] hikalkan commented on #2832
Thank you for your suggestion.

[2017-12-27 10:12] hikalkan commented on #2832
We can add a README.md file into startup templates which contains link to the documentation and other resources.

[2017-12-27 10:54] ebicoglu opened #2834 "Set .AspNetCore.Culture cookie as HttpOnly."
According to web penetration test report **.AspNetCore.Culture** header should be HttpOnly.

[2017-12-27 12:41] manojsalvi commented on #2833
Seems, the issue was answered yesterday only, I will try to apply and see if that works..
Thanks @acjh for the quick response!!

[2017-12-27 13:03] daconglee commented on #2763
3.2.5 version

[2017-12-28 03:48] natiki commented on #2832
I mean when you add a new issue.

[2017-12-28 04:47] hikalkan commented on #2832
OK, done: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/.github/ISSUE_TEMPLATE

[2017-12-28 04:47] #2832 closed

[2017-12-28 05:36] #2834 closed

[2017-12-28 06:30] natiki commented on #1239
Did you try adding the attribute to your controller and or action method?

[2017-12-28 11:48] acjh commented on #2745
Duplicate of #2741

[2017-12-28 18:37] #1122 closed

[2017-12-28 18:38] #1196 closed

[2017-12-29 05:43] hemiaoio opened #2836 "Support both openId and bearer token of the identity server？"
* Abp 3.2.5
* Asp.Net Core 2.0
* Not included zero

I would like one of my sites to support IdentityServer's OpenId and Bearer Token authentication in both ways. Accessing the information, IdentityServer does not recommend this, but I think Abp default auth is handy when I deploy it to customers When only need to deploy a website can, but now with IdentityServer, it can not be used, how can I deal

[2017-12-29 05:45] hemiaoio commented on #2836
Sorry, I forgot to say my IdentityServer version.
Server is Identity Server 4.
Client (the abp application site) used IdentityServer4.AccessTokenValidation version 2.2.0

[2017-12-29 06:51] amin168 opened #2838 "I want to override AbpUserConfigurationBuilder or AbpUserConfigurationController"
Hello,
I add setting in my system. Now, I want to get this setting in `AbpUserConfigurationBuilder` for `GetAll`,
so, how can i do?
I want to override `AbpUserConfigurationBuilder` or `AbpUserConfigurationController`, but i can't do that.

[2017-12-29 07:25] ismcagdas commented on #2838
@amin168 in order to access your new setting from client side, you don't have to override anything.
Just add `isVisibleToClients: true` to your setting definition.

`new SettingDefinition("SettingName", "defaultBalue", scopes: SettingScopes.Tenant, isVisibleToClients: true)`

[2017-12-29 19:09] ddo88 commented on #2831
thx

[2017-12-30 00:54] emisand commented on #2762
Any milestone on this?
I can make a PR with my proposed fixes if you like.

[2017-12-30 16:03] amin168 commented on #2838
oh no, I forget this feature, thanks

[2017-12-30 16:03] #2838 closed

[2017-12-30 19:02] ismcagdas commented on #2838
You are welcome 😄

[2017-12-31 14:36] hikalkan commented on #2762
You can send PR, thanks a lot :)

[2017-12-31 21:58] badre429 commented on #2755
i tried to build Abp.Zero.Ldap on top of dotnet core 2.0 using
System.DirectoryServices.AccountManagement Versin 4.5.0-preview1-25914-04 and
System.DirectoryServices.AccountManagement" Version=4.5.0-preview1-25914-04

is there any problem to take a long time

[2018-01-01 07:13] Mostafasaffari opened #2842 "Get all value from cache"
I have cache for group product that name is "GroupOfProduct"
how can i get all value from "GroupOfProduct"? because i want to show list of group

i set value as this code

[code]

[2018-01-01 07:16] hikalkan commented on #2842
duplicate: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2060
Please continue from #2060 if you want to write additional comments.

[2018-01-01 07:16] #2842 closed

[2018-01-01 07:17] hikalkan commented on #2755
We haven't worked on that yet.  A PR is appreciated :)

[2018-01-01 08:06] badre429 commented on #2755
#2843

[2018-01-01 08:20] badre429 commented on #2755
this is the PR  #2843

[2018-01-01 08:26] hikalkan commented on #2755
Thanks a lot.

[2018-01-02 06:13] acjh commented on #2762
Fixed by #2841

[2018-01-02 06:13] #2762 closed

[2018-01-02 11:42] #447 closed

[2018-01-02 12:03] hikalkan opened #2844 "Entity History Improvements"
Related to https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2835 and https://github.com/aspnetboilerplate/aspnetboilerplate/issues/447:

### Improvements

- [x] Remove ``HistoryTrackedAttribute`` and  ``DisableHistoryTrackingAttribute`` classes. Instead, use ``AuditedAttribute`` and ``DisableAuditingAttribute`` classes.
- [x] Implement `IExtendableObject` for `EntityChangeSet`. Thus, an

[2018-01-02 15:20] xiaochong44 opened #2846 "AbpMemoryCache dispose problem"
I user aspnetboilerplate 3.3.0

[code]

When deleting users and roles，throw exception;

[code]

[2018-01-02 19:46] clbowens opened #2847 "SignalR nuget dependency not found (1.0.0-preview1-27891)"
I get this error 3 times when I try to compile:

Error	NU1102	Unable to find package Microsoft.AspNetCore.SignalR with version (>= 1.0.0-preview1-27891)
  - Found 3 version(s) in nuget.org [ Nearest version: 1.0.0-alpha2-final ]
  - Found 3 version(s) in Sitecore [ Nearest version: 1.0.0-alpha2-final ]

ABP v3.3.0

[2018-01-02 19:56] acjh commented on #2844
`Reason` seems fine. `IEntityChangeSetReasonProvider` may be on the right track!
We can implement `EntityChangeSetReasonProviderBase` in the style of `AbpSessionBase` for similar usage:

[code]

This supports nesting and potentially a wide range of scenarios.

[2018-01-02 20:01] acjh commented on #2847
Duplicate of #2831

[2018-01-02 20:01] #2847 closed

[2018-01-03 02:08] acjh commented on #2844
Should `ExtensionData` have a maximum length? `AuditLog` has [`MaxCustomDataLength = 2000`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.Zero.Common/Auditing/AuditLog.cs#L52).

[2018-01-03 04:50] ebicoglu commented on #2846
can you try the below method to delete user.
if you are not using in application service then use injected __userManager_ instead of _UserManager_.

[code]

[2018-01-03 06:22] hikalkan commented on #2844
@acjh such a code makes the job:

[code]

However, I never want to write such a code for every change (even only for important changes) in my application. This should be "somehow" automatic and work as silent as possible.

For example, think such a code as an application service method:

[code]

Then we can create an interceptor that automatically calls EntityChangeSetReasonProvider.Use(reason) ta

[2018-01-03 06:45] skirkole commented on #2771
Hi

Please provide update on ABP  support for Microsoft.AspNetCore.OData , any approx date by when it will be release?

Thanks a lot !

[2018-01-03 08:08] acjh commented on #2844
- An interceptor looks clean, but is it able to handle runtime values (e.g. `customer.Id`, `customData`)?
- What if the attribute is used on a non-AppService method, or a background job? Do we need another parameter (e.g. `ShouldSaveChanges`) to allow/disallow inner methods to override the `Description`?

Or we can provide the interceptor and users can choose to call the `Use` method, just like fo

[2018-01-03 08:40] hikalkan commented on #2771
We don't say dates in general, sorry.
But this is in our current milestone.

[2018-01-03 08:42] hikalkan commented on #2844
I think, relating to most outer audit log will be sufficient for now. Because, an audit log already indicates the reason (controller / action).
If you can think a way of relating them, it would be very good.

[2018-01-03 08:47] hikalkan commented on #2846
Same code just works for startup template: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Users/UserAppService.cs#L83

How it has broken? Please share if you made any change (especially to get user permission cache in constructor of a class).

[2018-01-03 09:13] natiki commented on #2844
Hi,

I realise this feature is predicated on the fact that all changes are going via repository methods and ultimately SaveChanges(). However at some level it would still be great to at least be able to place information into the log (both physical and meta) if say a collection of records was updated by a stored procedure or similair. Happy if this is a backlog issue for this use case.

Its just t

[2018-01-03 10:35] mainxx commented on #2454
@acjh  Thank you,Your answer is too important to me. love you.

[2018-01-03 13:43] Mostafasaffari opened #2849 "Only one complex type allowed as argument to a web api controller action. But Save contains more than one!"
ERROR 2018-01-03 16:51:59,442 [24   ] nHandling.AbpApiExceptionFilterAttribute - Only one complex type allowed as argument to a web api controller action. But Save contains more than one!
Abp.AbpException: Only one complex type allowed as argument to a web api controller action. But Save contains more than one!
   at Abp.WebApi.Controllers.Dynamic.Scripting.ActionScriptingHelper.GenerateBody(Dynam

[2018-01-03 13:52] hikalkan commented on #2849
So?

[2018-01-03 13:55] Mostafasaffari commented on #2849
http://localhost:61759/api/AbpServiceProxies/GetAll?v=636505967415084094 500 (Internal Server Error)

then dont work some pages
for example modals add roles dont show

[2018-01-03 13:55] hikalkan commented on #2849
Exception message says the problem about your code.

[2018-01-03 14:48] Mostafasaffari commented on #2849
:) I used Save methode in my appservice, this reason :)) :|

[code]

[2018-01-03 14:50] #2849 closed

[2018-01-03 16:48] HusseinMosaad commented on #2801
@alirizaadiyahsi  till now i didn't find a proper way to it, because with async calls HttpContext.Current is always null

Also HttpContext.Current is null with background jobs

[2018-01-04 01:32] #1014 closed

[2018-01-04 06:09] hikalkan commented on #2801
@HusseinMosaad it's expected that HttpContext.Current is null with background jobs.
For async calls, it should not be null (unless you manually create threads). However, both issues are not related to ABP. HttpContext.Current is ASP.NET's property.

[2018-01-04 06:14] hikalkan commented on #2844
Hi @natiki

Changes made by a stored procedure is not easy to detect and find changed fields for all entities.

Even for such a simple query:

[code]

It may effect thousands of entities. So, how will you find which entities are updated and add thousands of entity change record to history?

[2018-01-04 06:21] kibria06cse opened #2851 "Dynamic proxy service inside of a filter attribute."
I am using a filter attribute  inside where I need to force user to fill his information. There I used to abp's
'Change Profile Picture' functionalites. But there I did not get abp.services. I am not getting
 var _profileService = abp.services.app.profile; inside of _ChangePictureModal.js What should I do?

[2018-01-04 06:23] ShiWei-L commented on #2851
So?

[2018-01-04 06:25] kibria06cse commented on #2851
@ShiWei-L - I have updated description. Please check.

[2018-01-04 06:45] acjh commented on #2851
Please open an issue in the relevant ASP.NET Zero repository: https://github.com/aspnetzero

[2018-01-04 06:45] ShiWei-L commented on #2851
@kibria06cse  You should provide a screenshot of the error message
But I think you should check your code first
`<script `src="~/api/AbpServiceProxies/GetAll"></script>`

[2018-01-04 06:56] kibria06cse commented on #2851
@ShiWei-L - Here is my image.
![untitled1](https://user-images.githubusercontent.com/7090820/34552920-a3feb056-f14e-11e7-8203-affc15b3e7df.png)

[2018-01-04 06:59] kibria06cse commented on #2851
@ShiWei-L - I have also added your given script on my page. Still error exists. Remember, this function is working if I disable the filter attribute.

[2018-01-04 08:17] ryoldash commented on #1972
@hikalkan Thanks for your great AbpBoilerplate framework. @nandaccio It would be nice if we have step by step tutorial related with creating module for MongoRepository and consuming it from UI layer for Abp.

[2018-01-04 09:34] natiki commented on #2844
Hi @hikalkan,

I saw a couple of ways for this:

1. At least offer the ability for entries to be added to the entity history feature so that at a push I could at least record that say: "A stored proc name Foo was called as Foo('Param1', 12, True)."
2. I as the caller provide the change set structure in some way. I realise we are dealing with something simple here but from the above for instance:

[2018-01-04 16:32] HusseinMosaad commented on #2801
@hikalkan yes you are right, i'm going to close this issue

Thanks

[2018-01-04 16:32] #2801 closed

[2018-01-04 19:23] hikalkan commented on #2836
We do it for asp.net zero.
We don't change default auth schema at all.
I'm sharing some code parts, it may be helpful:

[code]

I'm adding AddIdentityServerAuthentication with IdentityBearer schema.

Then in the middlewares:

[code]

``UseJwtTokenMiddleware`` is my own middleware like that:

[code]

[2018-01-05 03:51] Belala opened #2853 "Dapper CustomRepository"
[code]
[code]

[code]

Please help

[2018-01-05 04:38] ebicoglu commented on #2853
try adding isTransactional:false to the application service where you execute _GetAllWithMessage_

or you can simply inject **IUnitOfWorkManager**  and create your own UnitOfWork scope  with _unitOfWorkManager.Begin() {....}. Method gets _TransactionScope_ and you can set it to Suppress.

[2018-01-05 07:08] Belala commented on #2853
Thank you .
Yes,I try it before.  this way can be right. but i read abp.dapper source code, It has none uow, but only set ActiveTransaction same.   I want use both ef and dapper in same transaction.

what's code i miss?

[2018-01-05 07:09] ismcagdas opened #2854 "Timezone problem on non-windows operating systems"
AbpUserConfigurationBuilder uses TimeZoneInfo.FindSystemTimeZoneById but this doesn't work on linux.

[2018-01-05 08:22] acjh commented on #1983
Duplicate of https://github.com/aspnetboilerplate/module-zero-forsaken/issues/336

[2018-01-05 08:22] #1983 closed

[2018-01-06 16:29] gwhzh21 opened #2857 "cant use sql ce"
### Github Issues
abp 2.3.0
Abp.Zero 2.3,0
.net framework 4.6.1

ERROR 2018-01-07 00:20:34,880 [13   ] Web.Mvc.Controllers.AbpScriptsController - 执行命令定义时出错。有关详细信息，请参阅内部异常。
System.Data.Entity.Core.EntityCommandExecutionException: 执行命令定义时出错。有关详细信息，请参阅内部异常。 ---> System.InvalidOperationException: ExecuteReader 需要已打开的可用连接，而连接的当前状态为 Closed。
   在 System.Data.SqlServerCe.SqlCeCommand.ValidateCommand(Strin

[2018-01-06 17:03] acjh commented on #2857
Duplicate of #584

[2018-01-07 17:39] GunjanSh opened #2858 "How to set TEnantID globally"
Hi,

When we create a Tenant, an admin user is created for that tenant, with TenantId as Null(would be a host user).
When we create another user using the host user login, TenantId is saved as Null again for the new user created. Where and how can i map this new user(ex, abc) created to the Tenant i created in the previous step.

Another issue I am facing is,
Say, I have created a table that saves

[2018-01-07 20:08] #2854 closed

[2018-01-08 04:28] bbakermmc commented on #2603
@natiki @hikalkan

This is what we use:

[code]

Here some examples of how we use it:

[code]

[2018-01-08 06:00] #2844 closed

[2018-01-08 06:44] tianxiaode opened #2859 "Questions about the Asynccrudappservice class"
Within the Asynccrudappservice class, the Get method and the GetAll method use the same DTO class, which is not appropriate for some scenarios, such as an entity that contains many fields, especially a field that contains a large amount of text data, and when you use the grid to display a list of data, You do not want to return the same fields as the Get method in the GetAll method, so you need to

[2018-01-08 07:48] acjh commented on #2859
This works:

[code]

[2018-01-08 08:22] tianxiaode commented on #2859
[code]

Error:
[code]

[2018-01-08 08:40] acjh commented on #2859
Change `[RemoteService(IsEnabled = false)]` to `[NonAction]`:

[code]

[2018-01-08 08:49] tianxiaode commented on #2859
Thanks a lot!

[2018-01-08 14:18] rmsohaila opened #2860 "Build Error"
I've downloaded the source through abp.com/template (Asp.Net MVC 5, Multi Page Web App, Entity Framework) with including module-zero checked and stable checked. After download when I tried to build SMOKE.Web (startup project) receiving following errors without changing any stuff:

`1>------ Build started: Project: SMOKE.Core, Configuration: Debug Any CPU ------
1>  Restoring NuGet packages...
1>

[2018-01-08 14:24] acjh commented on #2860
Duplicate of #2613

[2018-01-08 14:24] #2860 closed

[2018-01-08 14:39] GunjanSh commented on #2858
I want to have One user to have access to multiple tenants.
When the user would login,He would have a dropdown with the list of tenants he would have access to. He would be defaulted to a tenant.
But will always have an option to switch to a different tenant from the above mentioned dropdown.

What would be the best way to achieve this.

[2018-01-08 15:02] acjh commented on #2649
Another PR has been assigned to an internal queue: https://bugs.mysql.com/bug.php?id=89134

[2018-01-08 15:11] acjh commented on #2858
You should create a `User` in each tenant and handle login without password (#2799).

ASP.NET Zero has this [Linked Accounts](https://www.aspnetzero.com/Documents/Development-Guide-Core#linked-accounts) feature [and more](https://aspnetzero.com/Documents/Abp-Template-vs-AspNet-Zero).

[2018-01-08 15:19] GunjanSh commented on #2858
We can always create a user in Tenant. Which will be 1 to 1 mapping of user and tenant.
But i need the one user to be mapped to multiple tenants.
I am using boilerplate and not ASP.NET Zero.

Is there a way to change the tenantID globally whenever i switch the tenant?

[2018-01-08 15:23] acjh commented on #2858
Check my previous comment:

[2018-01-08 15:24] GunjanSh commented on #2858
using (_session.Use(42, null))
{
    var tenantId = _session.TenantId; // 42
    var userId = _session.UserId; // null
}

This does not set the TenantID globally. It is limited to the using block and reset after it exits using block.

[2018-01-08 15:28] rmsohaila commented on #2860
I've upgrade ASP.NET Core 2.1.3 but the error list is same.

[2018-01-08 15:31] acjh commented on #2860
What's your VS 2017 version?

[2018-01-09 04:33] rmsohaila commented on #2860
Its Visual Studio Community Edition 2017. Version 15.1 (26403.7)
![image](https://user-images.githubusercontent.com/7343429/34705158-689a9d4e-f50f-11e7-9d3e-e7762b35770f.png)

[2018-01-09 05:01] #2859 closed

[2018-01-09 05:22] ebicoglu commented on #2858
@GunjanSh  this is not as easy as setting one property! You have to waist a serious of time for implementing impersonation feature. This feature is already implemented in [Asp.Net Zero ](https://aspnetzero.com/). Roughly you need to authenticate the user with the target tenant/user. And store the original tenant/user to revert back.

[2018-01-09 05:25] ismcagdas commented on #2860
@rmsohaila do you have .NET Core 2.0 SDK installed ?

[2018-01-09 05:31] mokey1 opened #2861 "get bad request when upload multiple files"
hi
i use angular 4 and .net core, in angular i have this:
files: FormData = new FormData();
.
.
for (let file of event.files) {
this.files.append("files", file, file.FileName);
}
.
.
postImages:void{
this.http.post(this.baseUrl + "/api/services/app/MyService/PostFiles", this.files).subscribe(result => {
});
}

and in .net core boilerplate service:
public async Task PostFiles(IFormFile[] files)
{
.

[2018-01-09 05:58] ismcagdas commented on #2861
@mokey1 can you check error details on App_Data/Logs/Logs.txt file ?

[2018-01-09 06:06] acjh commented on #2860
@rmsohaila As mentioned in the linked duplicate:

The [recommended version](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core#introduction) is VS 2017 15.3.5+.

[2018-01-09 06:19] rmsohaila commented on #2860
Yes, its installed. I tried on other machine as well with Visual Studio 2017 Enterprise V 15.2 (26430.16), Core 2.0 SDK installed and Framework Upgraded to 4.7 but error are same. Unable to compile the code.

[2018-01-09 07:18] mokey1 commented on #2861
@ismcagdas in log.txt after postImageRequest send to service i see this:
INFO  2018-01-09 10:24:47,604 [5    ] ore.Mvc.Internal.ControllerActionInvoker - Executed action hr.Application.MyService.MyServiceAppService.PostFiles (hr.Application) in 131.6924ms
INFO  2018-01-09 10:24:47,637 [5    ] soft.AspNetCore.Hosting.Internal.WebHost - Request finished in 219.7868ms 400 application/json; charset=ut

[2018-01-09 07:39] BHARAT703 opened #2862 "Divide service-proxies.ts file in small pieces"
Hi @hikalkan,

In one of my project, I am using aspnetboilerplate with angular.

currently my project is at initial stage, still my service-proxies.ts file become heavy with around 30000 line of code, because previous developer of this application never divided this file.

Now, I thought before implementing more business logic's in application, first make it perfect.
so, **Is it a good idea to div

[2018-01-09 09:02] mokey1 commented on #2861
This problem was solved by use XMLHttpRequest to send upload request in angular , and use [FromForm] in backend Service:
public async Task<int> PostFiles([FromForm]List<IFormFile> files)

[2018-01-09 09:03] #2861 closed

[2018-01-09 13:57] rmsohaila commented on #2860
That worked but right after executing (Ctrl+F5) recieved following error:

SqlException: Invalid object name 'AbpEditions'.
System.Data.SqlClient.SqlConnection.OnError(SqlException exception, bool breakConnection, Action<Action> wrapCloseInAction)

Exception details:
`System.Data.SqlClient.SqlException (0x80131904): Invalid object name 'AbpEditions'.
   at System.Data.SqlClient.SqlConnection.OnErr

[2018-01-09 14:07] Stormcloak commented on #2511
I reproduced the error different project with CastleWindsor. I really couldn't realize that but the `virtual` keyword causes the error somehow in the controller proxy.

I hope it helps.

[2018-01-09 14:31] acjh commented on #2860
Please read the documentation for [ASP.NET MVC 5.x Startup Template](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template):

[2018-01-09 16:34] MalconMikami opened #2867 "Use AbpCommonHub"
Is it possible to use AbpCommonHub, and the hub already in the solution (("/ signalr")) to send msg to clients? If so, how?

I have doubts in the implementation, following the example https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration
I get 2 hubs?

[code]

Could you put a simple example of implementation?

[2018-01-09 16:42] acjh commented on #2867
Please format code like this:
<pre>
[code]
</pre>

[2018-01-09 16:47] acjh commented on #2867
Example of implementation is here:
https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration#your-signalr-code

[code]

[2018-01-09 21:49] guilmori opened #2868 "Within IActiveUnitOfWork could we have an Saved event ?"
I'm looking for an event when the active UOW is saved but the transaction is still active.
The use case is within my handler, I want the created entity id to be set, but still be able to undo the transaction.
I was thinking of adding a Saved event to the IActiveUnitOfWork, which would trigger after SaveChanges but before commit transaction.
I don't mind having to cast to an EF specific implementat

[2018-01-09 23:52] acjh commented on #2868
You can subclass `EfCoreUnitOfWork` to add a `Saved` event handler, override [`CompleteUow()`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/cfc8ae7dea866f65f3c8b30984de9e8e64f4d073/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Uow/EfCoreUnitOfWork.cs#L74-L84) to invoke that event handler, and replace `IUnitOfWork` with your implementation.

[2018-01-10 00:31] acjh commented on #2624
@iarif20 Is this resolved?

[2018-01-10 00:36] acjh commented on #1484
Fixed by #1695

[2018-01-10 04:13] ebicoglu commented on #2868
normally transactions will not be saved to database before SaveChanges() but inserted entities are being set. so you can retrieve the Ids. Did you know that?

[2018-01-10 04:38] Juslwk commented on #1476
Hi @brunobertechini , I am trying to get a better understanding of your project and architecture, and I have learnt a lot just by reading the code. I am still very new to SOA and microservices, may I know how are migrations executed automatically for each service?

[2018-01-10 05:09] rmsohaila commented on #2860
Dear Thanks for your kind response. I tried by reading all the details, still having issues for "Update-Database". Any suggestion?

[code]
![image](https://user-images.githubusercontent.com/7343429/34756660-79b332c0-f5dd-11e7-8c35-6c114797aa3a.png)

![image](https://user-images.githubusercontent.com/7343429/34756600-187af84e-f5dd-11e7-8c51-1dc869cbba1d.png)

[2018-01-10 05:20] acjh commented on #2860
In the Package Manager Console, run the `Install-Package EntityFramework` command.

[2018-01-10 05:23] Juslwk commented on #2702
@hikalkan Hi, I'm looking into microservices too, may I know conceptually how do we create multiple applications with abp and link them together? like sharing of the user and tenant information? also all the cross cutting concerns. I assume for the most part of microservices is to get the authentication and authorization part working so many services can link together? Is it still advisable or pos

[2018-01-10 05:37] #1484 closed

[2018-01-10 05:58] ismcagdas commented on #2702
@Juslwk in your case I think it is better to use one of the ABP apps as authentication center with identity server 4. Other ABP apps can use this center as an external auth source. I'm not sure about authorization part 😄

[2018-01-10 05:58] hikalkan commented on #2860
Did you try to install Microsoft.EntityFrameworkCore.Design package to your Smoke.Web project as indicated in the error message?

[2018-01-10 06:08] ebicoglu commented on #2624
hi,
for the custom sql execution you need to pass the active transaction with IActiveTransactionProvider
please read the related article https://www.codeproject.com/Articles/1199648/Using-Stored-Procedure-User-Defined-Function-and-V

[2018-01-10 06:52] ismcagdas commented on #2861
@mokey1 thanks for your feedback.

[2018-01-10 07:02] ismcagdas commented on #2862
@BHARAT703 since this is an auto generated file, I think there is no need to divide it into smaller parts most of the time because you are not supposed to modify it.
But it would be good to seperate this file into multiple parts because it is even hard to open this single file when we need to add some breakpoints or when we want to view some code in it.

We use https://github.com/RSuter/NSwag tool

[2018-01-10 07:08] BHARAT703 commented on #2862
ok, I got it.

but you said service-proxy is auto generated, so you mean we don't have to create any Dto class or service for newly added table?

right now, I am creating all classes and calls manually in service proxy..

please update if I am doing it wrong..

[2018-01-10 07:11] ismcagdas commented on #2862
@BHARAT703 yes, yo don't have to write any code into service-proxy.ts. When you add your server side code (app services, interfaces and dtos), you need to run your host application and then you need to run "refresh.bat" under this folder https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/angular/nswag. It will automatically update service-proxies.ts file.

Also, when you ad

[2018-01-10 07:13] BHARAT703 commented on #2862
ohhh..
I never thought about it,..

thanks İsmail, I will follow this..

[2018-01-10 07:13] #2862 closed

[2018-01-10 07:34] Juslwk opened #2869 "Microsoft.AspNetCore.SignalR.Hub causing build errors"
Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version. 3.4.1 (included prereleases) + module zero
* Your base framework: .Net Core
* Exception message and stack trace if available.
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0012	The ty

[2018-01-10 07:34] hikalkan commented on #2844
Hi @natiki for your analyse.

I believe such a feature can only be completely done by the RDBMS vendor (Sql Server for instance). Because, only database can know it's changes from all ways.

For directly executed SQL statements, stored procedures, triggers and other changes those are not known by EF Core, we offer to fill Entity history tables manually (by custom SQL statements) for now.

To handl

[2018-01-10 07:35] KennyEng12 opened #2870 "AngularJs handle error message in console"
![image](https://user-images.githubusercontent.com/29649512/34760554-42d61ad6-f61b-11e7-935a-0c77d3f9c1e6.png)
Hi, I'm wondering how to handle those errors in console? Like using try-catch in C# to catch exception, especially when UserFriendlyException is being thrown by back end.

[2018-01-10 07:40] acjh commented on #2869
Duplicate of #2831

[2018-01-10 07:40] #2869 closed

[2018-01-10 07:44] hikalkan commented on #2870
I suppose this is something related to signalr. Do you have any exception in server side logs?

[2018-01-10 07:45] KennyEng12 commented on #2870
Hi, @hikalkan

Those errors in that picture is just an example, the one I wanted is how to handle UserFriendlyException that being thrown by back end.

[2018-01-10 08:15] hikalkan commented on #2870
This example was not related to UserFriendlyException.

However, if you want to handle UserFriendlyException in server side;

Most of times ABP's client side layer will handle it. For instance, if you are using abp.ajax (instead of $.ajax), it will handle errors and shows it to the user. It's similar for angular2+ http wrappers.

If you want to handle it manually, for example using $.ajax, it's pr

[2018-01-10 13:13] cristipufu commented on #2684
Hi @hikalkan,

What's the purpose of this option? How can you use the application without the `UnitOfWorkInterceptor`? I actually want to disable all interceptors and explicitly call/use the `UnitOfWork`.

Thanks

[2018-01-10 13:55] hikalkan commented on #2684
We use it for Xamarin mobile application, because Xamarin does not support dynamic proxying and throws exception if it's enabled.

You can do it, no problem.

[2018-01-10 13:56] #2822 closed

[2018-01-10 13:57] ismcagdas commented on #2708
@gpcaretti did you have time to check this ? If not, I will move it to next milestone.

[2018-01-10 14:05] #2760 closed

[2018-01-10 14:45] acjh commented on #2451
I managed to reproduce this.

It happens when the Controller subclass is not the [`memberInfo.DeclaringType`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a396051e74b7da646be8133ca0b40b0c2b0b0f90/src/Abp/Reflection/ReflectionHelper.cs#L137) class.

# Workaround

You can `override` and call the `base` class methods, e.g. [`c4c0de2`](https://github.com/acjh/sample-odata/commit/c4c0de2

[2018-01-10 17:30] acjh commented on #1913
Workaround: https://forum.aspnetboilerplate.com/viewtopic.php?p=6202#p6193

[2018-01-10 17:34] acjh commented on #1397
Duplicate of #1816

[2018-01-10 17:34] #1397 closed

[2018-01-10 17:42] acjh commented on #1159
Resolved by 1374c7d

[2018-01-10 17:42] #1159 closed

[2018-01-10 17:53] acjh commented on #496
Updated link: https://forum.aspnetboilerplate.com/viewtopic.php?f=2&t=189

[2018-01-10 18:14] guilmori opened #2876 "EntityUpdating event - what has changed ?"
Within an handler listening to EntityUpdating event, is it possible to check what fields has been updated ?

[2018-01-10 18:27] acjh commented on #2876
No. `SaveChanges` has been called.

[2018-01-10 18:32] #1475 closed

[2018-01-10 18:42] #2019 closed

[2018-01-10 18:53] acjh commented on #1963
Duplicate of #2608

[2018-01-10 18:53] #1963 closed

[2018-01-10 19:15] acjh commented on #2366
Quartz.NET 3.0 Released: https://www.quartz-scheduler.net/2017/12/30/quartznet-3.0-released.html

[2018-01-10 19:19] guilmori commented on #2876
Prior to SaveChanges, Abp could get this info from the DbEntityEntry's  CurrentValues and OriginalValues , then provide this within the event data, so the handler can check what has changed ?

[2018-01-10 19:20] ismcagdas commented on #2366
Thanks @acjh , then we can work on this for the next release.

[2018-01-10 19:44] acjh commented on #2876
Duplicate of #1434

[2018-01-11 02:34] acjh commented on #2235
Resolved in https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2239#issuecomment-310629282:

[2018-01-11 02:34] #2235 closed

[2018-01-11 02:45] KennyEng12 commented on #2870
This is not I wanted to know but thanks for the information given.
Sorry for my question is not so clear.

I'm using MVC5AJ1, and I've implemented an AppService call that throw UserFriendlyException:
![image](https://user-images.githubusercontent.com/29649512/34805988-a026ac0a-f6bb-11e7-94fc-e79462f4e1eb.png)

This is what being shown in Console:
![image](https://user-images.githubusercontent.com/

[2018-01-11 02:55] acjh commented on #2870
It is [normal behaviour](https://stackoverflow.com/questions/22113286/prevent-http-errors-from-being-logged-in-browser-console) and can only be [disabled in the browser](https://stackoverflow.com/questions/4500741/suppress-chrome-failed-to-load-resource-messages-in-console).

[2018-01-11 03:08] acjh commented on #2171
Should this issue be closed?

[2018-01-11 03:11] acjh commented on #2159
@Worthy7 Any update?

[2018-01-11 03:12] KennyEng12 commented on #2870
@acjh
Ok noted, thank you.

[2018-01-11 03:13] #2156 closed

[2018-01-11 03:17] #2155 closed

[2018-01-11 03:26] #2851 closed

[2018-01-11 03:26] #2397 closed

[2018-01-11 03:32] acjh commented on #2453
If you still have this problem, please open an issue in https://github.com/aspnetzero/aspnet-zero-core

[2018-01-11 03:32] #2453 closed

[2018-01-11 03:35] #2438 closed

[2018-01-11 03:36] #2423 closed

[2018-01-11 03:41] acjh commented on #2386
@NuelNikhil Do you still have this problem?

[2018-01-11 03:51] acjh commented on #2365
[code]

[2018-01-11 03:52] #2604 closed

[2018-01-11 03:53] #2581 closed

[2018-01-11 04:10] acjh commented on #2520
@ChiakiYu Any update?

[2018-01-11 04:17] #2729 closed

[2018-01-11 04:18] #2664 closed

[2018-01-11 04:34] acjh commented on #2763
@daconglee Any update?

[2018-01-11 05:20] #2171 closed

[2018-01-11 07:13] #2870 closed

[2018-01-11 07:27] #2771 closed

[2018-01-11 07:37] KennyEng12 opened #2879 "Design of Policy and Manager"
Hi, I'm using MVC5AJ1. I'm trying to do try-catch block in Manager class and throw some sentences from Localization class but I can't use localization method in Manager class.

Then I found out that is because Manager class doesn't inherit from ServiceBase class.

So I'm wondering is it designed intentionally or it can just inherit from ServiceBase class?

Thanks.

[2018-01-11 07:56] acjh commented on #2879
You mean ABP's `*Manager` implementations?

The core managers don't inherit [`AbpServiceBase`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/550ae3a3e44e7a144b7eee4e22744001f431ddc7/src/Abp/AbpServiceBase.cs#L21-L49) because it injects a few of those managers itself.
`AbpUserManager` inherits `Microsoft.AspNetCore.Identity.UserManager` so it can't inherit that either.

You can easily

[2018-01-11 08:01] KennyEng12 commented on #2879
Hi, @acjh . Thank you for the fast reply.
Sorry I think I'm not clear enough.

I'm talking about the custom manager. Not the core managers.
Example:
![image](https://user-images.githubusercontent.com/29649512/34814401-6aded270-f6e8-11e7-90b3-d870addf5c2e.png)
![image](https://user-images.githubusercontent.com/29649512/34814406-728d69e6-f6e8-11e7-93db-19f250c71cfe.png)

 Thanks.

[2018-01-11 08:06] acjh commented on #2879
Isn't that your own implementation?

[2018-01-11 08:08] KennyEng12 commented on #2879
Yup it is, I followed the sample project.

I'm wondering can I inherit from ServiceBase class? Because I don't see ServiceBase class in the sample

[2018-01-11 08:15] acjh commented on #2879
You can inherit [`DomainService`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/82518dc6a0ea509b40a87493960ecc2804ffb86b/src/Abp/Domain/Services/DomainService.cs) to be clearer. In the template, [`UserRegistrationManager`](https://github.com/aspnetboilerplate/module-zero-template/blob/49c830a3d8fb54e630cddee1a267944abd0c5c44/src/AbpCompanyName.AbpProjectName.Core/Authorization/Users/

[2018-01-11 08:47] natiki commented on #2844
Hi @hikalkan,

Fair enough. Looking forward to the .NET Full version as .NET Core is not an option for me.

[2018-01-11 08:55] KennyEng12 commented on #2879
Thank you, I'm able to use the method now.

But I got this error:

Or should I implement this?
![image](https://user-images.githubusercontent.com/29649512/34816538-33d15b1a-f6f0-11e7-9d25-dfd9aea2893e.png)

[2018-01-11 13:04] Znow commented on #2658
Having the same issue. Tried the solution from #1441 without luck. And Logs.txt does not show anything related.

[2018-01-11 13:10] xiaochong44 commented on #2846
@hikalkan
I didn't change any code，
I just added some methods
It doesn't make a mistake every time, but it's very frequent
using System.Collections.Generic;
using System.Threading.Tasks;
using System.Linq;
using Microsoft.AspNetCore.Identity;
using Microsoft.EntityFrameworkCore;
using Abp.Application.Services;
using Abp.Application.Services.Dto;
using Abp.Authorization;
using Abp.Domain.Repositori

[2018-01-12 03:08] natiki opened #2880 "Console Application Starter Template...."
Hi,

1) I know the framework can be integrated into a .NET Full [console application](https://github.com/aspnetboilerplate/aspnetboilerplate-samples). And while I could reverse engineer it from downloading one of the web templates, I was hoping there was one floating around that someone could point me to that is current with 3.3.x of the library?

2) @hikalkan I supposed there is no chance of addi

[2018-01-12 03:22] acjh commented on #2880
The samples will be updated after ABP v3.4 release: https://github.com/aspnetboilerplate/aspnetboilerplate-samples/issues/37

[2018-01-12 05:37] ismcagdas opened #2882 "Disable All_Windows_Timezones_Should_Be_Convertable_To_Iana for CI builds"
CI build failes when a new timezone is added. So it is better to disable this unit test.

[2018-01-12 05:39] #2882 closed

[2018-01-12 06:55] ismcagdas commented on #2846
@xiaochong44 it seems like a cache issue, can you share the full error message ?

[2018-01-12 06:58] ismcagdas commented on #2658
@Znow does it work when you allow all sites for CORS like this ?

[code]

[2018-01-12 08:27] wuball opened #2883 "How to override “Abp.Authorization.Users.CreateAsync”?"
I want to disable Email(use phone number), but don't want to change the source code, so override.

### The source code

[code]

### The override code

[code]

### The problem

#### return await base.CreateAsync(user);
Because the same name, the base.CreateAsync(user) will Re-call the method before override.

Similar issues
#2423

[2018-01-12 10:52] SanchoWalden opened #2884 "'Response.Redirect' is unable about 'cross-domain'"
![_8 wx bh 4hc j1z rxl](https://user-images.githubusercontent.com/8520348/34871761-c7013cf0-f7c9-11e7-87cc-f62312881798.jpg)

![rt l e 2 h 0 4rn3 w j9t](https://user-images.githubusercontent.com/8520348/34871757-c427ce22-f7c9-11e7-8052-3a54fa2f3dd8.png)

[2018-01-12 14:11] ismcagdas commented on #2884
@SanchoWalden does this work in a pure ASP.NET app ?

[2018-01-12 18:22] smockgithub commented on #66
same ! @brunobertechini
There is no configuration method to configure this  in Nswag
How can I succeed for generated for AjaxResponse<T>

[2018-01-13 02:28] cuibty opened #2887 "Upgrade Quartz to v3.0"
https://github.com/quartznet/quartznet/releases/tag/v3.0.0

[2018-01-13 02:34] acjh commented on #2887
Planned in #2366

[2018-01-13 02:36] #2887 closed

[2018-01-13 05:47] xiaochong44 commented on #2846
@ismcagdas
This is the content of the log file。This error often occurs with update or delete。
use redis no exception.
ERROR 2018-01-13 13:24:38,760 [25   ] bp.Runtime.Caching.Memory.AbpMemoryCache - System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Microsoft.Extensions.Caching.Memory.MemoryCache'.
   at Microsoft.Extensions.Caching.Memory.MemoryCache.CheckDisposed()

[2018-01-13 11:03] ismcagdas commented on #2883
@wuball would you like to disable sending email for user creation or system wide ?

[2018-01-13 11:50] andmattia commented on #2026
in my case I use a simple work around to use LINQ and GetAll(). I set a variable with repo.GetAll() and join it with linq syntax in another step.

@KennyEng12 I've same problem and I try to solve with DLL share the code off entity (es. customer) and I've a module where all logic (insert,update, delete, etc ) are used in different module with second DB context I add to EF the same entity (with diff

[2018-01-13 18:56] hyzx86 commented on #2755
My template codes created from the web site .  but it don't have Abp.Zero.Ladp reference .
Because that has not been included in the code of the generator?
How can I use the Windows Authentication in my abp template？
Thanks a lot !

[2018-01-13 22:10] natiki commented on #2880
I will do a simple console project and also ConsoleRemoteWebApiCall.

[2018-01-13 22:10] #2880 closed

[2018-01-14 07:06] unreal0 opened #2889 "Questions:MissingMethodException: Method not found: 'Int64 IdentityModel.EpochTimeExtensions.ToEpochTime(System.DateTime)'."
### vs 2017 for mac, mysql

MissingMethodException: Method not found: 'Int64 IdentityModel.EpochTimeExtensions.ToEpochTime(System.DateTime)'.
IdentityServer4.Hosting.IdentityServerAuthenticationService.AugmentMissingClaims(ClaimsPrincipal principal, DateTime authTime)
### ResetPassword()

MissingMethodException: Method not found: 'Int64 IdentityModel.EpochTimeExtensions.ToEpochTime(System.DateTime

[2018-01-14 07:16] unreal0 commented on #2889
https://github.com/IdentityServer/IdentityServer4/issues/1962

[2018-01-14 09:26] #2858 closed

[2018-01-14 09:39] ebicoglu commented on #2846
is deleting user running in a parallel thread? (like batch deleting...)

it was reported in the past but issuer didn't respond :(
https://github.com/aspnetboilerplate/module-zero-forsaken/issues/390

also see this
https://forums.asp.net/t/2123571.aspx?Core+MemoryCache+Get+method+is+null

[2018-01-14 10:54] ismcagdas commented on #2889
Thanks @unreal0 , I'm closing since this is related to IdentityServer.