[2018-11-07 06:16] sajasbana commented on #3997
@liangshiw @ismcagdas
please check below images:
![e1](https://user-images.githubusercontent.com/34976854/48113775-7d854a00-e26d-11e8-9505-011370c263c3.JPG)
![e2](https://user-images.githubusercontent.com/34976854/48113776-7e1de080-e26d-11e8-8326-a142f2082757.JPG)
![e3](https://user-images.githubusercontent.com/34976854/48113778-7e1de080-e26d-11e8-8009-2b97d40c187f.JPG)
![e4](https://user-images.g

[2018-11-07 06:37] sajasbana commented on #3997
@maliming
where i can see "the response body of the request" ?

[2018-11-07 06:44] maliming commented on #3997
@sajasbana
Yes, please refer: https://aspnetboilerplate.com/Pages/Documents/Handling-Exceptions

[2018-11-07 07:19] sajasbana commented on #3997
Dear @maliming

in doc. section "AJAX Requests" it says

as you can see in below image the action is return jsonResult
![e8](https://user-images.githubusercontent.com/34976854/48115488-20d95d80-e274-11e8-8887-41a3945c1ed4.JPG)

when i test in swagger it returns the message prop. with correct text.

I'm confused why message not come

[2018-11-07 07:30] maliming commented on #3997
Your request is not the same as swagger.
Try to modify the requested `dataType`  and `Accept`

[2018-11-07 07:57] sajasbana commented on #3997
this is calling method in ajax client sid:
`
abp.ui.setBusy(
                $($loginForm),

                abp.ajax({
                    url: abp.appPath + 'Account/Login',
                    type: 'POST',
                    accept: 'application/json',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: $loginForm.serialize(),

[2018-11-07 08:05] maliming commented on #3997
`$loginForm.serialize()` is the format of json?

![image](https://user-images.githubusercontent.com/6908465/48118352-fd7bd600-e2a6-11e8-94ba-91463ddd834b.png)

[2018-11-07 08:21] sajasbana commented on #3997
no, it is not same check image:
![e10](https://user-images.githubusercontent.com/34976854/48118987-05278480-e27f-11e8-9bf1-a94673fdeef1.JPG)

note: this code is from template, i'm just try to understand why message is not come

[2018-11-07 09:20] natiki commented on #3917
@andrestalavera Seems you can CLOSE this as you solved the issue? https://stackoverflow.com/a/52750253/223742

[2018-11-07 09:52] maliming commented on #3997
I will check it again.

[2018-11-07 09:57] maliming commented on #3997
**customErrors mode must be enabled for ASP.NET MVC applications.**
`<customErrors mode="On" />`
Are you enabled?

[2018-11-07 10:10] Znow opened #3999 "Cannot login with host user"
Hi guys :-)

I have tried disabling the multitenancy functioanlity for a newly downloaded application template, so only "host" users can login.

But the application keeps logging in the "admin" user, with "tenantId": "1", and not the host "admin" user.

The tenant admin user has the email: "admin@defaulttenant.com", the host admin user has the email: "admin@aspnetboilerplate.com"

![image](https:/

[2018-11-07 10:19] maliming commented on #3999
hi @Znow

When you disable multi-tenancy, the framework also uses multi-tenancy (id is 1, name is default).
In a sense your application is still multi-tenant. And in this case you can't log in to the Host user (because the tenant is always default).

[2018-11-07 10:21] Znow commented on #3999
@maliming Hi, okay thanks - that clarifies alot.

But it's maybe some missinformation about it. I read it as, when you disable "multitenancy", you are using it as a solo host application - so why can't I then use the host user? :D

Regards

[2018-11-07 10:28] maliming commented on #3999
**This is the frame design.**

After you disable multi-tenancy, everything will be under the default `default` tenant, without the concept of a host (even if you have a host admin user)

[2018-11-07 10:35] Znow commented on #3999
@maliming Okay - thanks alot :-) Very helpful!

[2018-11-07 10:35] #3999 closed

[2018-11-07 10:41] sajasbana commented on #3997
@maliming
Thank you very much for your time

you are right I changed <customErrors mode="On" /> and it worked

i turned of of to see exceptions in my machine

Thanks again

[2018-11-07 11:09] #3997 closed

[2018-11-07 12:04] gpcaretti commented on #3996
no problem, I will do ;-)

[2018-11-07 15:49] vdurante opened #4001 "Do you use ReSharper?"
If so, do you mind sharing Abp's default settings, at least Code Editing settings? It may help future contributors to use the same coding style across the whole project.

Thanks in advance.

[2018-11-07 16:52] hikalkan commented on #4001
Yes, we are using. We generally use its default settings but there are some minor configurations too.

This is my personal resharper settings:

[hikalkan-resharper.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/2558353/hikalkan-resharper.zip)

[2018-11-07 17:11] jfbaudracco commented on #3930
@ismcagdas thank you. Yes i did that.

[2018-11-07 17:11] #3930 closed

[2018-11-08 07:15] liangshiw commented on #3998
Hi. This problem occurs when using **LongPolling**. The signalr caches the first request context. For later requests, if you are lucky enough to run in the HTTP request context, it may work.
Abp uses IHttpContextAccessor to get information from the current request context. In signalr it depends on luck. 😂

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16a

[2018-11-08 10:13] dkisic2 opened #4002 "Problem with injecting app service in MapProfile"
I am having problems with injecting app service in MapProfile class.

Can anyone screenshot the steps that I need to reproduce to achieve this?

[2018-11-08 10:30] dkisic2 commented on #4002
A class that inherits AutoMapper's Profile class and where we specify our custom mappings.

[2018-11-08 10:32] dkisic2 commented on #4002
![image](https://user-images.githubusercontent.com/11475099/48193072-e5a95e00-e349-11e8-898d-0e11b2b5bb0f.png)

[2018-11-08 10:39] hikalkan commented on #4002
Injecting an app service into this class (strongly probably) is not a good idea.

You are probably creating this class manually. In that case, resolve it from IocManager and pass to the constructor.

[2018-11-08 11:13] natiki commented on #4001
@hikalkan might be an idea to keep this published somewhere for contributors. Will make merging code a little easier for you. ;-)

[2018-11-08 11:16] acjh commented on #4002
Related: #3744

[2018-11-08 11:30] hikalkan commented on #1064
See also https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4001

[2018-11-08 11:30] hikalkan commented on #4001
OK, added to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1064

[2018-11-08 13:35] #4002 closed

[2018-11-08 13:56] mahmoudkandeel opened #4003 "IObjectMapper add method take map options"
some times we need to send params for automapper config to do mapping conditionally, is there any way to send such params to objectmapper?

[code]

[2018-11-08 14:04] acjh commented on #4003
What params is that? Can you link AutoMapper docs?

[2018-11-08 14:21] mahmoudkandeel commented on #4003
http://codebuckets.com/2016/09/24/passing-parameters-with-automapper/

[2018-11-08 18:00] AlexSenchenko commented on #2953
@ryoldash any update here?

[2018-11-09 07:17] ryoldash commented on #2953
@AlexSenchenko we are about to finish integration. Pull request will be made in this weekend.

[2018-11-09 09:35] thomkle commented on #3914
@ryancyq Sorry for the late response and thanks for being patient. So there is no way of adding an embedded json file to a localization source without it having the same name as the localization source name? Is that maybe a functionality that could be added? I'm happy to do the change myself and create a pull request for it.

[2018-11-09 22:11] evenlee opened #4004 "Failed to load API definition(Mac)."
I download a new template(DotNetCore), run the migrator as usual, when I start the Web.Host project, got the error, the details is :
Failed to load API definition
Fetch error
Not Found http://localhost:21021//swagger/v1/swagger.json

I also changed the port to 5000, but it does not work.
I find there is another issue have the same topic, but I checked the port, all the same(and vs for Mac does not

[2018-11-10 00:45] evenlee opened #4005 "aspnet-core"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-11-10 01:17] #4005 closed

[2018-11-10 02:06] evenlee commented on #4005
thanks, @acjh . my baby is beside me when I am submit an issue, not notice this one is created, sorry for the inconvenience,.

[2018-11-10 02:15] liangshiw commented on #4004
Hi Thank you for your feedback.
But this issues should be more appropriate at https://github.com/aspnetboilerplate/module-zero-core-template

[2018-11-10 02:37] liangshiw commented on #4004
The template code has been fixed, but a new version has not yet been released. The module project that is now downloaded has this problem.

[2018-11-10 02:49] evenlee commented on #4004
The magic works, thanks $)

[2018-11-10 02:49] #4004 closed

[2018-11-10 17:41] satishsomani opened #4006 "Unauthorized Request"
I login with host user but when I try to call any authorized api then its returning 401 but permission is already given to the user.

How this 2nd level and third level permission are working. I added a permission on service then on function also but when i try to access function its now allowing me to access but permission is granted to the user.

how to fix this.

[2018-11-10 18:29] akdurmus commented on #3948
@ryancyq sorry for late reply. Thank you for pointing out another hidden feature that I didn't know :) But this still doesn't solve my issue anyway.  Imagine that I have a service class contains 20 methods that are admin should only performs. Instead of creating 20 permissions for each method I prefer to create a single permission and put that permission at the top of the service class. In this wa

[2018-11-10 20:00] acjh commented on #3948
@akdurmus Please open a separate issue for that discussion, as it's a very different issue.

[2018-11-11 04:18] xyfy commented on #2710
I am sorry but I think [this document](https://aspnetboilerplate.com/Pages/Documents/EF-Core-MySql-Integration) is out of date, the official provider has already support EF Core 2.0

but no one updated the document.

[the offical nuget](https://www.nuget.org/packages/MySql.Data.EntityFrameworkCore)

[2018-11-11 15:31] hikalkan opened #4007 "Update EF Core MySql Integration document"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2710#issuecomment-437642610

[2018-11-11 15:32] hikalkan commented on #2710
Thanks @xyfy for informing, created an issue to work on that: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4007
Any PR is appreciated.

[2018-11-11 16:06] hikalkan commented on #4006
You mean permission system is not working completely? Are you sure? Is it working for a new create [template ](https://aspnetboilerplate.com/)(for the built-in permissions)?

[2018-11-12 03:46] satishsomani commented on #4006
It's working for a new template but I just add some more permission to the use in levels after that it was not working maybe I'm missing something.
Can you please explain me with an example that How this permission for multi-level is working

[2018-11-12 06:14] hikalkan commented on #4006
What do you mean by "multi-level". Have you read the documentation: https://aspnetboilerplate.com/Pages/Documents/Authorization

[2018-11-12 15:50] bbakermmc commented on #2094
@hikalkan is there a way for us to override AbpAppServiceControllerFeatureProvider?

[2018-11-12 18:56] ryoldash commented on #2953
As usual plan has failed :) Need some days :) We are working on React integration. Code review and code refactoring is in progress. Abp React Integration will be available soon.

[2018-11-13 08:48] thinksjay opened #4008 "Identity Server"
https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

* Abp package version:4.0.1
* base framework:  .Net Core.

**-  result:**

{
    "result": null,
    "targetUrl": null,
    "success": false,
    "error": {
        "code": 0,
        "message": "Current user did not login to the application!",
        "details": null,
        "validationErrors": null
    },
    "unAuthorizedReque

[2018-11-13 09:15] maliming commented on #4008
You need to be familiar with Identity Server before integrating Abp.
http://docs.identityserver.io/
https://www.cnblogs.com/stulzq/tag/IdentityServer4/

[2018-11-13 13:15] mahmoudkandeel opened #4009 "Enable Entity History"
I downloaded ABP template from website - ABP v 4.0.1 - MVC5 with angularJS Tempalte

I read how to enable entity history and did the steps:

1- in AppNameCoreModule.cs in PreInitialize() method I add

`
            //Entity History
            Configuration.EntityHistory.IsEnabled = true;
            Configuration.EntityHistory.IsEnabledForAnonymousUsers = true;
            Configuration.ReplaceSe

[2018-11-13 13:30] acjh commented on #4009
See #3022

[2018-11-13 13:30] #4009 closed

[2018-11-14 04:11] #4008 closed

[2018-11-14 08:46] tiansfather opened #4010 "Error using roslyn in plugin"
I am using Abp3.9.0 .net core.
I built a plugin project,and when using rolsyn in the project,there is an error.
The problem is,when I use class defined in the plugin,it throws error,when use class defined in main project,it works.

[code]

An unhandled exception occurred while processing the request.

[code]

Can anyone helps,thx

[2018-11-14 09:08] satyanarayan18 opened #4011 "DBQuery Support in IRepository"
We are currently using ABP 3.8.2 with EF core 2.1.

We have a requirement to have a read-only repository or DBQuery instead of DbSet using IRepository.

Does ABP have a read-only repository or DBQuery support?

[2018-11-14 09:14] maliming commented on #4011
Abp does not have the features you mentioned.
I think you can encapsulate an interface (internal use repository of ABP) only provides the Read method.

[2018-11-14 09:19] satyanarayan18 commented on #4011
Thanks for the reply.

Does ABP consider this as an enhancement because it looks like a common use case?

[2018-11-14 12:08] hikalkan commented on #4011
Hi,

That's an acceptable feature request. But it's not a feature frequently asked. I'm adding it to backlog with a low priority. If anyone wants to contribute, it's appreciated.

BTW, abp.io (ABP vNext) has this feature implemented: https://abp.io/documents/abp/latest/Repositories#read-only-repositories

[2018-11-14 12:37] death47 commented on #4011
+1 nice to have

[2018-11-14 12:53] iyilm4z commented on #2963
I created an application service and i wanted to have it's javascript proxy. I've read [this  doc](https://aspnetboilerplate.com/Pages/Documents/v1.5.2/AspNet-Core) and created a method in AppPreBootstrap.ts to extend abp object but i couldn't succeed. The method which i'm calling exists [here](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Proxyi

[2018-11-14 13:56] NickKellett commented on #4011
+1, very useful from a security and developer UX perspective

[2018-11-14 15:43] sajasbana opened #4013 "AbpValidationException on registration action"
I'm using template mvc5 mpa,
I'm getting exception AbpValidationException in register action in account controller

steps leads to issue:
1- in file register.js I disabled "customUsername" validation to test validation of it in server side(custom validation)
as in below img:
![e2](https://user-images.githubusercontent.com/34976854/48493233-8614ec00-e83c-11e8-9e4f-541e601ba4b1.PNG)
![e1](https://us

[2018-11-14 19:55] natiki commented on #4011
@hikalkan

Does this make use of [NoTracking](https://docs.microsoft.com/en-us/ef/core/querying/tracking) so that we get the performance improvement that offers as well?

[2018-11-15 01:45] maliming commented on #4013
please refer: https://aspnetboilerplate.com/Pages/Documents/Handling-Exceptions

[2018-11-15 04:50] Hrishi1990 commented on #4011
+1, I am also looking for the same feature.
It is very useful when one module is owning one entity and other modules want read-only access to it.

[2018-11-15 07:47] sajasbana commented on #4013
@maliming
I read the documentation
in template there is error page ... do I need error page? I want to show error in same page

in webconfig custom error is true
![e6](https://user-images.githubusercontent.com/34976854/48537717-6e347b00-e8c3-11e8-8180-55fbd6ed9172.PNG)
and in cntroller there is try...catch(but debug not come to this break point)
![e5](https://user-images.githubusercontent.com/3497

[2018-11-15 08:38] dustdragonpzc opened #4014 "AbpWeb-zh-Hans.xml is missing translations"
AbpWeb-zh-Hans.xml
[code]

AbpWeb.xml
[code]

[2018-11-15 08:39] ismcagdas commented on #4014
@dustdragonpzc you can send a PR 😄

[2018-11-15 08:45] liangshiw commented on #4014
I will send PR later.

[2018-11-15 08:55] maliming commented on #4013
I will check it out.

[2018-11-15 09:39] #4014 closed

[2018-11-15 10:01] thinksjay commented on #4008
Thank You!

[2018-11-15 10:34] maliming commented on #4013
This is abp start template problem, I reopen an Issue: https://github.com/aspnetboilerplate/module-zero-core-template/issues/353

[2018-11-15 10:34] #4013 closed

[2018-11-15 11:11] hikalkan commented on #4011
No, because actually all interfaces goes to a single implementation. But this is a nice idea and we can implement this. I created an issue: https://github.com/abpframework/abp/issues/597

[2018-11-15 11:18] ismcagdas commented on #3883
This feature is causing a similar problem like https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2097. We should re-implement it when the problem on https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2097 is fixed.

I will remove this feature for now and wait until fix.

[2018-11-15 11:29] ismcagdas commented on #3981
The feature https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3883 is removed for now. So, this problem is not valid anymore.

[2018-11-15 11:29] #3981 closed

[2018-11-15 11:31] ismcagdas commented on #3800
Fixed by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/3993

[2018-11-15 11:31] #3800 closed

[2018-11-15 11:35] #3990 closed

[2018-11-15 11:39] maliming commented on #4013
@sajasbana
please see https://github.com/maliming/module-zero-core-template/commit/9b196b0348dfdd296a3c4ca0797f165abb8b633e and add `[DisableValidation] `to your `Register(RegisterViewModel model)` method  to solve your problem,

[2018-11-15 11:41] #3913 closed

[2018-11-15 11:54] ismcagdas commented on #3369
Added a note about this problem to PostgreSQL document https://github.com/aspnetboilerplate/aspnetboilerplate/commit/fa708d385d5c023aa95b618e2a6fd10b70647178.

[2018-11-15 11:54] #3369 closed

[2018-11-15 13:02] sajasbana commented on #4013
@maliming
after adding [DisableValidation] is shows error in same page as I want like image below:
![e7](https://user-images.githubusercontent.com/34976854/48554175-b917b800-e8ee-11e8-8c10-32afac56e3c7.PNG)

the problem is: I need to show the validation errors in viewmodek so he can understand

Thank you

[2018-11-15 13:49] EslamElmadny commented on #3913
@ismcagdas @acjh  **Please, When this will be available?**

[2018-11-15 13:50] ismcagdas commented on #3913
Probably tomorrow

[2018-11-15 16:27] sajasbana commented on #4013
Dear @maliming
I found another issue cause exception:
when code throws AbpValidationException and return in layout.cshtml the line in red, the value of 'ViewBag.IsMultiTenancyEnabled' become null and throw exception. i don't know how to catch the exception to set the value

please fix it in template

[2018-11-15 23:11] maliming commented on #4013
Thanks @sajasbana  I'll fix together.

[2018-11-16 08:54] jiyangcd opened #4018 "how can i set customer action for dynamic web api in abp core"
in abp old,i can use ForMethods like this:
[code]
but i have no idear with abp core wen i looked the source code...

[2018-11-16 09:07] maliming commented on #4018
https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#application-services-as-controllers

[2018-11-16 09:07] #4018 closed

[2018-11-16 09:14] jiyangcd commented on #4018
my application service for one more web application,so i want one web app only create its own apis,RemoteService will disable all web app create ..

[2018-11-16 11:02] AlexSenchenko commented on #2953
Hi @ryoldash

Any update on this?

[2018-11-16 13:38] ianselmi opened #4019 "Localization label and partial download"
Is there a method in aspnetboilerplate framework or aspnetzero to download localize label for each view instead all at startup?
I have a big project with more and more labels and download all at startup is more expensive that download when I enter for the fist time on view.

Thanks for helps

[2018-11-16 14:29] hikalkan commented on #2963
@iyilm4z can you move your question to a new issue since this is not directly related to this issue. Than @ismcagdas will check it. Thanks.

[2018-11-16 14:30] ismcagdas commented on #4019
Hi @ianselmi, this is not possible actually. You can try to do it by yourself but I'm not sure if it is possible or not with the current design.

[2018-11-16 21:17] ianselmi commented on #4019
Thanks @ismcagda forse reply, I try to implement

[2018-11-16 21:18] #4019 closed

[2018-11-16 21:56] ryoldash commented on #2953
Hi @AlexSenchenko

React Integration almost done. You can watch updates from https://github.com/ryoldash/module-zero-core-template

[2018-11-17 17:56] iyilm4z opened #4020 "JS Proxy Generation in Angular client"
I created an application service and i wanted to have it's javascript proxy. I've read [this doc](https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#client-proxies) and created a method in AppPreBootstrap.ts to extend abp object but i couldn't succeed. The method which i'm calling exists [here](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/0f69f860f4407474d732a1e609501b9c8ad97

[2018-11-17 18:37] ismcagdas commented on #4020
@iyilm4z could you also share your app service interface and it's definition ?

[2018-11-18 01:09] timmackey opened #4021 "Security flaw: Password is recorded in the clear in AbpAuditLogs table."
The password input parameter recorded in the clear in the AbpAuditLogs table defeats the encrypted password in AbpUsers table.

Abp package version: 4.0.1.0
Base framework: .Net Core.
Exception message: none
Steps needed to reproduce the problem: Register a new Tenant using the 'RegisterTenant' method in TenantRegistrationAppService.cs.

[2018-11-18 01:11] maliming commented on #4021
https://aspnetboilerplate.com/Pages/Documents/Audit-Logging#enable-disable-by-attributes

[2018-11-18 01:11] #4021 closed

[2018-11-18 13:42] iyilm4z opened #4022 "[NotAnIssue] Why Setting Management works in this way?"
I have the following senario.

[code]

My question is simple. Why we firstly look up this dictionary to retrive settings?
 Why i still need to write **hard code** for each of them, When i already have setting definitions in db?

[2018-11-18 15:00] acjh commented on #4022
[code]

Where did you get such an idea? This is the cause of your problem.

[2018-11-18 15:06] acjh commented on #4022
Why i still need to write hard code for each of them, When i already have setting definitions in db?

For the default value, `scopes` and `isVisibleToClients` — just read what you commented out.

[2018-11-18 16:03] iyilm4z commented on #4022
// Because it's overriding**S** are in db now.

Dear @acjh, sure i know step # 4 is the cause of my problem.
After calling methods in step # 3, i saw 3 setting definition overriding records for Application, Tenant and User. Maybe the word overriding is not correct here in this context. Maybe we can use another term.

About scopes, according to records in db, if a setting definition has TenantId th

[2018-11-18 16:30] acjh commented on #4022
If you don't have a definition, then what's the default value for a setting that is not overridden in DB?

[2018-11-18 16:40] #3955 closed

[2018-11-18 16:55] iyilm4z commented on #4022
I know how abp wants us to use it’s setting api. I just try to understand the logic and internals of it.

Well.. setting api methods throw exeptions for settings which are not in setting definition dictionary if we try to retrive them. If it’s for something like preventing to throw exception at runtime, we can also do the same for settings which are actually don’t exist in db without looking up se

[2018-11-19 01:04] acjh commented on #4022
It's not just default values, but the definitions, that are important.
Definitions are for correctness, well-defined behavior and to catch developer errors.

The use case you have described is purely static and Step 4 is a developer error.
But you can implement your own `ISettingManager` to allow unchecked retrieval.

Similar question: #1564

[2018-11-19 03:09] themicster commented on #3989
I also have run into this problem one two different machines. I cannot delete all my cookies and cache data, so someone please figure out another work around for this and why this happens in the first place. I'm using google chrome Version 70.0.3538.102 (Official Build) (64-bit)

[2018-11-19 04:08] themicster commented on #3989
I'm using Abp 4.2.1 (net core mvc)
I've really tried to dig into this but this authentication stuff is really confusing. I'm not seeing any cookies in my requests but I do see an anti forgery token.

[2018-11-19 05:16] iyilm4z commented on #4022
Now it's clear. Thanks for your concern.

[2018-11-19 05:18] #4022 closed

[2018-11-19 07:18] timmackey commented on #4021
Please consider adding [DisableAuditing] to the AdminPassword property of the CreateTenantInput class in CreateTenantInput.cs in the next release.
You might also want to consider the following as candidates for [DisableAuditing]:
SmtpPassword in class EmailSettingsEditDto
AdminPassword in class RegisterTenantInput

IMHO it's not good practice to expect users to review every dto and fix these glari

[2018-11-19 07:33] maliming commented on #4021
I found this problem in the ANZ project and I will fix it.

[2018-11-19 07:36] timmackey commented on #4021
The project is Application.Shared
Also, 'Agent Ransack' is a tool I've been using for years to find things in files.
I'm an ANZ user.  Thanks for fixing.   :)

[2018-11-19 07:55] maliming opened #4023 "The DisableAuditingAttribute should be allowed to apply to Parameter"
The `DisableAuditingAttribute `should be allowed to apply to `Parameter`
such as:
`public async Task SetPassword([DisableAuditing]string password)`

[2018-11-19 08:34] maliming commented on #4023
@acjh

I think there are still some methods like this.
`public async Task SetPassword(long userId, [DisableAuditing]string password)`

Just modify the `AttributeUsage`, the framework has been implemented.

[2018-11-19 09:01] acjh commented on #4023
Better to use a model.

[2018-11-19 10:08] acjh commented on #4020
Perhaps you need the first slash in `'/AbpServiceProxies/GetAll?type=jquery'`.

[2018-11-19 10:54] iyilm4z commented on #4020
@acjh The same result. Also there is no log about this in _App_Data/Logs/Log.txt._ Ajax call just gives '_Error detail not sent by server._' error message.

[2018-11-19 11:57] acjh commented on #4020
What's the error in console and Network tab?

[2018-11-19 12:52] iyilm4z commented on #4020
Response status is 200 and i see that my AppService proxy is actually generated but ajax's **on-error** event is fired not on-success event.

In [abp.jquery](https://github.com/aspnetboilerplate/module-zero-template/blob/master/src/AbpCompanyName.AbpProjectName.WebMpa/Abp/Framework/scripts/libs/abp.jquery.js) i see that ajax's default opts like below. And as you can see contentType is 'application

[2018-11-19 14:08] iyilm4z commented on #4020
Unfortunately, now i got the an message which says '_ERROR TypeError: Cannot read property **'__abp'** of undefined_'

[2018-11-19 14:09] mahmoudkandeel opened #4024 "ArgumentNullException Multi Lingual Entities"
Iam createing Multi Lingual Entity

i always get exception "Value cannot be null. Parameter name: source" when try to get an entity
here is the stack trace
![image](https://user-images.githubusercontent.com/3681500/48712517-98b16b80-ec16-11e8-9668-e863c5d6a14e.png)

here is an Governorate Entity

`  [Table("Governorates")]
    public class Governorate : Entity, IMultiLingualEntity<GovernorateTrans

[2018-11-19 15:13] acjh commented on #4020
Use `$.ajax` instead of `abp.ajax` for script.

[2018-11-19 17:31] danielmeza commented on #1971
A more flexible soulition
[code]

and:
[code]

[2018-11-19 17:32] ryancyq commented on #4018
You can use the `RemoteService` attribute at either class/method levels

**Class Usage**
[code]

**Method Usage**
[code]

[2018-11-19 19:06] ismcagdas commented on #4024
@mahmoudkandeel You should get the governorate record including the translations.

`await _governorateRepository.GetAllIncluding(p => p.Translations)`

[2018-11-19 22:03] totpero opened #4025 "Method not found: 'Void AutoMapper.IMappingExpression"
After last update i get this error:

* Abp package version:4.0.2
* Base framework: .Net Framework.

Stack:
[code]

[2018-11-19 23:43] lommez commented on #3956
Just need to create a simple test and try to query data from a table just like the code below:

[code]

[2018-11-20 00:45] maliming commented on #4025
I did not find this problem using the Abp startup template. Have you upgraded all ABP packages?

[2018-11-20 05:42] natiki commented on #3956
@lommez What DB are you connecting to and what does your connection string look like?

[2018-11-20 07:18] totpero commented on #4025
Yes, I have updated all abp nugets.

[2018-11-20 08:21] maliming commented on #4025
Reproduce the problem and are checking.

[2018-11-20 08:45] maliming commented on #4025
https://github.com/AutoMapper/AutoMapper/issues/2795
https://github.com/AutoMapper/AutoMapper/blob/master/docs/8.0-Upgrade-Guide.md
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AutoMapper/AutoMapper/AbpAutoMapperModule.cs#L105

[2018-11-20 10:37] zetic-be opened #4026 "Permissions Checks from Session.Use"
Hello,

I am currently using .Net Core on Abp 3.9.0

I am trying to make permissions work in a **domain service** that is called by a **Background Job**.

To be able to use the correct user, I am using :
[code]
This is working fine.

After that I need to check permissions but **_session.Use** does not seem to make that happen automatically and **AbpAuthorize("SomePermission")** attributes will alw

[2018-11-20 10:52] iyilm4z commented on #4020
![err_pic_4](https://user-images.githubusercontent.com/9105939/48768815-2e0e3780-eccb-11e8-9b7d-941751832f0d.JPG)

[2018-11-20 11:17] maliming commented on #4026
I think the **AbpAuthorize** check should work, Let me check it out.

[2018-11-20 12:05] maliming commented on #4026
I tested **AbpAuthorize**  to work properly.

[code]

[code]

[code]

[2018-11-20 12:41] ismcagdas commented on #4020
@iyilm4z what is the value of `AppConsts.remoteServiceBaseUrl` ?

[2018-11-20 12:57] iyilm4z commented on #4020
_localhost:**21021**_ and api runs on _localhost:**21021**/swagger/index.html_

[2018-11-20 12:59] lommez commented on #3956
In test project is used InMemory database, so it doesn´t have a connection string for it in the project.

[2018-11-20 13:08] zetic-be commented on #4026
Thank you @maliming for taking the time to reproduce.

I have added your code in my project and I get also an **AbpAuthorizationException**.
I just changed **QAAppServiceBase** to **ApplicationService**.

![image](https://user-images.githubusercontent.com/40064735/48775342-1041d200-eccd-11e8-8302-44de6a9ad1e4.png)

Also, I tested it from the browser client with this javascript call:
`abp.services.

[2018-11-20 13:12] iyilm4z commented on #4026
What is written in log which is located on App_Data/Logs/Log.tx path?
When you work with background jobs be careful if your job depends on AbpSession, because session needs [Thread.CurrentPrincipal](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f0e1a0c8095ff97677a4d5752e70ea4f8ef357c2/src/Abp/Runtime/Session/DefaultPrincipalAccessor.cs#L9) or [_httpContextAccessor.HttpContext?.User](

[2018-11-20 13:19] zetic-be commented on #4026
Hello @iyilm4z,

Here is the related log:
[code]

[2018-11-20 13:30] iyilm4z commented on #4026
Here is your error message in english "Required permissions are not granted. At least one of the following permissions must be granted: **Users**". Are you sure current user is **granted** for the perimission **PermissionNames.Pages_Users**?

[2018-11-20 13:36] maliming commented on #4026
@zetic-be
Can you use the startup template to reproduce the problem? (Because I use the startup template everything works fine)
https://aspnetboilerplate.com/Templates

[2018-11-20 13:40] zetic-be commented on #4026
@iyilm4z

Here is the User with Id 2 in AbpUserRoles:
![image](https://user-images.githubusercontent.com/40064735/48776972-9829db00-ecd1-11e8-9b83-dbbd103df934.png)

The corresponding role:
![image](https://user-images.githubusercontent.com/40064735/48777007-b263b900-ecd1-11e8-9a41-9d9a13a988e0.png)

And permission:
![image](https://user-images.githubusercontent.com/40064735/48777040-cad3d380-ecd1

[2018-11-20 13:45] chrsas opened #4595 "How to register a generic auditing"
Since **Abp** does not support `User<Guid>`, I implemented a `User<T>` by `aspnet-core-template`, and everything was fine until the integration of `Auditing<T>`. I had no way to register my auditing interceptor in AbpBootstrapper. How to achieve it please?

[2018-11-20 19:48] totpero commented on #4025
Yes, this was my problem, Downgrading to 7.0.1 solve my problem.
Thanks

[2018-11-21 01:51] Worthy7 opened #4027 "Angular service moment mapping isn't respecting UTC"
* Your Abp package version.
3.8.2
* Your base framework: .Net Framework or .Net Core.
Core

* Steps needed to reproduce the problem.
In a service create a function with returns a DateTime with Kind set to Utc.
nSwag it and get a typscript service proxy.
Call the function through angular, and inspect the retrived moment.
The isUtc is set to False and the time is a moment time as if created in local

[2018-11-21 01:58] Worthy7 commented on #4027
Nevermind, I think i was misled by the meaning of isUTC on moments. It's working correctly.

[2018-11-21 01:58] #4027 closed

[2018-11-21 06:18] iyilm4z commented on #4026
As I said, UserId and TenantId are null in AbpSession and you are trying to check if current user is granted for given permissions. At that time(**at background**) PermisionChecker doesn't know who is the current user that's why AbpAuthorize doesn't let you run those methods and throws authorization exception.

![err](https://user-images.githubusercontent.com/9105939/48822325-b34a2880-ed6d-11e8-98

[2018-11-21 06:28] chrsas opened #4028 "How to user IStringLocalizer?"
My project is based on abp.core, and I want to use `IStringLocalizer`, but when   I used it, an exception was throw
[code]

[2018-11-21 07:36] mahmoudkandeel commented on #4024
it is working, thanks for your support

[2018-11-21 07:38] #4024 closed

[2018-11-21 07:54] hidayetsoltanzade opened #4029 "Disable user lockout"
I want to disable user lockout by default for all users.
I already checked some ways but no success.
Firstly, i set `IsLockoutEnabled = false` in `User` class, but when i create user, this column value is 1 in DB.
[code]
Here, UserAppService Create method, before CheckErrors method call IsLockoutEnabled is set to false, but after that line it is true.
Then, i checked to set `UserLockoutEnabledByDe

[2018-11-21 07:55] maliming commented on #4028
What is your startup.cs code?

[2018-11-21 07:57] mahmoudkandeel opened #4030 "SignalR is not loaded"
Iam using ABP MVC 5 with angular JS when i run it i got SignalR is not loaded exception in console although its reference is added to layout

![image](https://user-images.githubusercontent.com/3681500/48826715-ca8c1480-ed73-11e8-9ecb-5de5110e21a4.png)

![image](https://user-images.githubusercontent.com/3681500/48826731-d7a90380-ed73-11e8-9d6f-1f6b30e280fc.png)

[2018-11-21 08:04] chrsas commented on #4028
@maliming My `starup.cs` is below, and it's based on `aspnet-core-template`
[code]

[2018-11-21 08:09] mahmoudkandeel commented on #4030
i fixed it, in bundle config section `//~/Bundles/App/vendor/js`
the `~/Scripts/jquery.signalR-2.2.3.min.js` was wrong the correct version is `"~/Scripts/jquery.signalR-2.3.0.min.js"`

[2018-11-21 08:16] zetic-be commented on #4026
Hello,

I reproduced the issue with a fresh startup template and the issue still occurs:

![image](https://user-images.githubusercontent.com/40064735/48827059-57cb6b00-ed6c-11e8-94f7-f4ae7141aae7.png)

@iyilm4z, thank you for taking the time to look at this.
You are right, session properties are null when the objects are initialized and that is why I used **_session.Use(null, 2)** and other manual

[2018-11-21 08:16] ismcagdas commented on #4030
@mahmoudkandeel have you upgraded SignalR nuget package or was it like that when you download it ?

[2018-11-21 08:20] maliming commented on #4026
I will check it later. thanks @zetic-be

[2018-11-21 08:31] #4028 closed

[2018-11-21 08:35] liangshiw commented on #4029
See [AspNetCore Identity document](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-2.1), `AllowedForNewUsers` defaults to `true`. You need to change to `false` in the `IdentityRegistrar` class

[2018-11-21 08:38] maliming commented on #4029
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.lockoutoptions.allowedfornewusers?view=aspnetcore-2.1

[2018-11-21 08:38] #4029 closed

[2018-11-21 08:45] liangshiw commented on #4029
@hidayetsoltanzade As maliming say, you need to modify the settings of the abp user lock.

[2018-11-21 08:45] mahmoudkandeel commented on #4030
i didn't upgrade SignalR nuget package, i reviewed it again, and download new template, check bundle config file it has version `~/Scripts/jquery.signalR-2.2.3.min.js` but the file in scripts folder is `jquery.signalR-2.3.0.min.js`

[2018-11-21 08:49] chrsas commented on #4028
@maliming I changed it, but it did not usable, the exception was still there.

[2018-11-21 11:14] hidayetsoltanzade commented on #4029
Your solutions is for Core project. I am using Asp.net MVC.

[2018-11-21 11:22] futurify-ydang opened #4031 "Error when run SWAG"
I am using Zero template and face this issuse today.
![image](https://user-images.githubusercontent.com/44663784/48838230-5a54b180-edba-11e8-8038-a3f2ca3b3c57.png)

Can you show me any way to reproduce it or where i can catch this exception

[2018-11-21 11:27] hidayetsoltanzade opened #4032 "Disable user lockout"
Issue #4029. @maliming, your solution is for Core project, i'm using Asp.net MVC project.

[2018-11-21 11:58] hidayetsoltanzade commented on #4032
Finally solved. Need to set both `IsLockoutEnabled` to false in User constructor and `UserLockoutEnabledByDefault` to false in UserManager constructor.
There is `InitializeLockoutSettings` method in AbpUserManager but it is not called anywhere. How i need to use that method to get this values from settings table.

[2018-11-21 11:59] ismcagdas commented on #4031
@futurify-ydang have you runned *.Host project before running refresh.bat ?

[2018-11-21 12:02] ismcagdas commented on #4032
It is called here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.Zero/Authorization/AbpLoginManager.cs#L174

[2018-11-21 12:11] iyilm4z commented on #4026
@zetic-be i did a very long debug, and i saw the reason why you have this exception was really so simple. Because user who has id **2** is not **host tenant's** user. User 2's tenant is **Default** tenant. That's why you should set tenantId to 1, not null like below.

[code]

[2018-11-21 13:41] howe1010 opened #4033 "error on add abp.dapper"
Hi，
I  create a mulitPage + EF project , and  enabled hangfire  , added abp.dapper dependens,  then run the 'Register' function , the following problems arise

Abp.Domain.Entities.EntityNotFoundException
There is no such an entity. Entity type: TEK_REPORT.Authorization.Users.User, id: 3...

When I  disabled hangfire or abp.dapper, or disabled UnitOfWork for the function , the error disappeared

my

[2018-11-21 13:57] danghuynhdaty commented on #4031
Yes i have runned *.Host project. i have tried remove node_modules folder and reinstalled but i still got errors

[2018-11-21 14:05] ismcagdas commented on #4031
Can you reproduce it with a fresh download from https://aspnetboilerplate.com/Templates ?

[2018-11-21 18:52] rahulbpatel opened #4035 "Custom Validation with MVC"
I am trying to implement custom validation via the `ICustomValidation` interface on my DTO but when the controller action is invoked we get this exception:

[code]

I realize now this is expected behavior.  However, what I want is  to be able to display custom validation errors my view.  I am using traditional ASP.NET MVC 5 view, not Angular/API setup.

What is the pattern to do this?

[2018-11-21 18:56] ismcagdas commented on #4035
Hi @rahulbpatel could you also share your input class ?

[2018-11-21 19:04] rahulbpatel commented on #4035
The issue isn't really with the DTO class.  All of this seems to be working as expected.  What I don't understand is really how is it intended to have model validation and display that in the view.

[2018-11-21 19:18] mahmoudkandeel opened #4036 "Multi Lingual Entities"
I am using ABP MVC5 with AngularJS template
if i have **Product** entity

[code]

**ProductTranslation**

[code]

for Dtos,
[code]

questions are
1. how can i create maping between ProductCreateDto and Product i.e i want to enter name, price, it automatically add new product with ProductCreateDto.name, language is currently selected language

2. for update how can i map ProductUpdateDto to add new

[2018-11-22 03:11] maliming commented on #4026
@iyhammad
@zetic-be
Yes, In order to use` _session.Use(null, 2)` you need to disable multi-tenancy.

[2018-11-22 03:11] #4026 closed

[2018-11-22 03:42] futurify-ydang commented on #4031
i found problem.
![image](https://user-images.githubusercontent.com/44663784/48880460-2e314300-ee43-11e8-8da9-54ad5969a83f.png)
The app url must like this otherwise nswag will be corrupted

[2018-11-22 03:42] #4031 closed

[2018-11-22 03:48] chrsas commented on #4028
@ismcagdas It's useful. Thank you.

[2018-11-22 04:05] futurify-ydang opened #4037 "Multi tenancy when deploy to production"
Hi, i got a problem when deploy to server with custom url for every tenant.

I use custom url like: tenant.aspzero.com
but when i try to login in to app, it can not resolve tenant name in url and switch to tenant's database.

Any suggest for this scenario? Thanks

[2018-11-22 04:19] maliming commented on #4037
please refer to document: https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#determining-current-tenant

[2018-11-22 04:40] futurify-ydang commented on #4037
i face this error after add tenant format url in core module
![image](https://user-images.githubusercontent.com/44663784/48882155-748aa000-ee4b-11e8-9edd-b6432836282b.png)

[2018-11-22 04:50] maliming commented on #4037
Try setting up(`Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "{0}.mydomain.com";`) in your web module instead of the core module

[2018-11-22 05:45] futurify-ydang commented on #4037
Its still cant get tenant id from server when i try tenant's url. :(

[2018-11-22 06:16] ismcagdas commented on #4037
@futurify-ydang could you share thee values for Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat and the url you are visiting ?

[2018-11-22 08:04] zetic-be commented on #4026
Thank you for having looked at this issue.

The thing is that in my exact situation, I was not passing null but the correct tenant, I just tried to reproduce with the code you provided.

So I investigated issue further.  I checked everything related to your comments and all of that was ok.

I finally found the difference.  It is related to the fact that I am using **UOW** in the **BackgroundJob**.

[2018-11-22 08:34] ismcagdas commented on #4026
Not at all. But, you should switch to target tenant using CurrentUnitOfWork.SetTenantId if you want to use unitOfWork.

[2018-11-22 08:44] zetic-be commented on #4026
Ok great, you guys have solutions for every situation :-)

Wouldn't be a good idea to include that to be done automatically by **_session.Use()** when it would detect being in a UOW context?

[2018-11-22 09:58] futurify-ydang commented on #4037
yah. My format is ``{0}.lukedemo.com`` and url is ``daty.lukedemo.com``

[2018-11-22 10:07] ismcagdas commented on #4037
It seems like you are using AspNet Zero.
Yes, it is configured in AspNet Zero by default.

You can report it on http://support.aspnetzero.com or https://github.com/aspnetzero/aspnet-zero-core

[2018-11-22 10:07] #4037 closed

[2018-11-22 10:55] acjh commented on #4026
No, that is generally not correct.

[2018-11-22 19:37] thomkle commented on #3914
@ryancyq Help on adding an embedded json file to a localization source without it having the same name as the localization source name would be greatly appreciated.

[2018-11-23 08:06] stuyun opened #4038 "There is no plan to introduce MYCAT"
[ Pomelo.EntityFrameworkCore.MyCat.Proxy](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MyCat)

[2018-11-23 10:10] maliming commented on #4038
So far, no.

[2018-11-23 12:38] mos-ie opened #4039 "Multiple duplicate records inserted into AbpUsers table on account registration"
* Your Abp package version.
3.8.1
* Your base framework: .Net Framework or .Net Core.
.Net Core

In one instance multiple duplicate records were inserted into the AbpUsers table on calling /account/register from a remote client.

![image](https://user-images.githubusercontent.com/2778940/48943204-6b1c3900-ef1a-11e8-95d6-49489e5e027c.png)

In this application we set AbpUsers.UserName to the email a

[2018-11-23 12:56] ismcagdas commented on #4039
You also need to change https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/Seed/Host/HostRoleAndUserCreator.cs#L70

[2018-11-23 13:16] mos-ie commented on #4039
Update the admin AbpUsers?

Any more info on this issue?

[2018-11-23 13:18] ismcagdas commented on #4039
@mos-ie when you run the app HostRoleAndUserCreator.cs checks AbpUsers table with the "TenantId == null  AND UserName = 'admin'" query and creates the record if result of this query is null.

So, if you are using email as the username, this query will always return null.

Have you modified this class at all ?

[2018-11-23 18:06] CrazyBaran opened #4040 "Set Tenant, permission problem"
Hello.
I have problem with set tenant usage. I would like to edit roles and users from host user. In this case I write using with unitofwork and set tenant but when I try execute this I get authorization not granted error. Is this a normal behaviour? When I edditing roles of host tenant there is no problem.

[2018-11-23 23:04] acjh commented on #4040
Show stack trace.

[2018-11-24 12:43] maliming commented on #4040
check your log file: `App_Data/Logs`

[2018-11-24 12:48] CrazyBaran commented on #4040
`Abp.Authorization.AbpAuthorizationException: Required permissions are not granted. At least one of these permissions must be granted: Roles
   at Abp.Authorization.PermissionCheckerExtensions.AuthorizeAsync(IPermissionChecker permissionChecker, Boolean requireAll, String[] permissionNames) in D:\Github\aspnetboilerplate\src\Abp\Authorization\PermissionCheckerExtensions.cs:line 195
   at Abp.Autho

[2018-11-24 12:59] maliming commented on #4040
Can your shared some code?

[2018-11-24 13:02] CrazyBaran commented on #4040
I made only little customization to what you have in orginally generate project:
`        public override async Task<RoleDto> Update(RoleDto input)
        {
            CheckUpdatePermission();
            Role role;

            using (UnitOfWorkManager.Current.GetTenantId() == null
                ? UnitOfWorkManager.Current.DisableFilter(AbpDataFilters.MayHaveTenant)
                : null)

[2018-11-24 14:58] acjh commented on #4040
Remove `virtual` in:

[code]

[2018-11-25 09:20] sayassyk opened #4041 "Can't use UI-Select with the new aspnetboilerplate startup template"
Hi @ismcagdas @hikalkan @alirizaadiyahsi @yekalkan ,
I am trying to use ui-select in aspnetboilerplate startup template of MVC5 & AngularJs.
The problem is, when I click to select any item, it will fall down and show the list.
After selection, it will be back. Like the following screenshot.
![image](https://user-images.githubusercontent.com/44685811/48977418-c7ae5e00-f0aa-11e8-8dc2-abb135e2c978.pn

[2018-11-25 12:27] mahmoudkandeel opened #4042 "MultiLingualMap for related entities"
[code]
Dto

[code]

for mapping

[code]

nationalityDto.NationalityStatusDto always null
![image](https://user-images.githubusercontent.com/3681500/48979175-807e9800-f0bf-11e8-9a9e-3049218a2ef8.png)

![image](https://user-images.githubusercontent.com/3681500/48979242-698c7580-f0c0-11e8-85fe-61d3c6cda624.png)

[2018-11-25 12:30] #3958 closed

[2018-11-25 12:30] #3934 closed

[2018-11-25 12:39] acjh commented on #4042
ASP.NET MVC 5?

[2018-11-25 12:41] mahmoudkandeel commented on #4042
Yes, ASP.NET MVC 5 with Angular JS Template

[2018-11-25 12:53] acjh commented on #4029
The same setting is used for ASP.NET MVC 5 in `InitializeLockoutSettings` method:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3245e0ed4a1ebe5c978210b76020259a8017e498/src/Abp.Zero/Authorization/Users/AbpUserManager.cs#L616-L618

And called in `LoginAsyncInternal` method:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/93980be86d036176289690f97f1cac207fe7e381/src/Abp.Z

[2018-11-25 15:30] acjh commented on #4032
There is `InitializeLockoutSettings` method in AbpUserManager but it is not called anywhere. How i need to use that method to get this values from settings table?

`InitializeLockoutSettings` should be called before `base.CreateAsync` in `UserManager` — see PR #4043.

It is not necessary to set `UserLockoutEnabledByDefault` to `false` in `UserManager` constructor if you override `CreateAsync` for

[2018-11-25 15:39] robsiera commented on #3808
This url doesn't exist anymore. Is it still available somewhere else?

[2018-11-25 15:56] acjh commented on #3808
https://web.archive.org/web/20180412124653/http://volosoft.com/migrating-from-asp-net-mvc-5x-to-asp-net-core/

@ismcagdas @hikalkan The obsolete link is used in **AspNet-Core.md**:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/26e48b5b07f5abfd39e0fe3f83309962589cde51/doc/WebSite/AspNet-Core.md#L12

Can the content be reposted on https://medium.com/volosoft?

[2018-11-25 21:38] guilmori opened #4044 "Plugin Modules - Independant deploy"
We are designing a modular/plugin based application.

One of the main prerequisite is to be able to deploy and update each module independently, without  having to bring down and restart the whole web app.

I have used ABP plugins in the past, but only with a startup registration.

Does ABP support this kind of dynamic unload and reload of plugins on deploy, while the web app remains online ?

[2018-11-26 05:32] alirizaadiyahsi commented on #4041
It seems there is some css problem. You should find incorrect line in style.css and remove it. It is very difficult to find css problems without see UI on browser. You should trace it with using [browser dev tools](https://developers.google.com/web/tools/chrome-devtools/inspect-styles/).

[2018-11-26 05:40] #4038 closed

[2018-11-26 05:54] ismcagdas commented on #3808
Thanks a lot @acjh, we will publish it  on https://medium.com/volosoft and when it is published I will share the new link here.

[2018-11-26 06:00] ismcagdas commented on #4042
@mahmoudkandeel have you also defined a mapping between NationalityStatus and NationalityStatusDto ?

[2018-11-26 06:09] mahmoudkandeel commented on #4042
yes, here is the mapping config
[code]

[2018-11-26 06:49] ismcagdas commented on #4039
@mos-ie so, does your app continue creating same duplicate record when you restart your app each time ?

[2018-11-26 07:36] sayassyk commented on #4041
Yeah.. I have already tried it with chrome devtools and firefox developer edition devtools.
But I couldn't figure it out.
Can you please try to add a ui-select control in your current aspnetboilerplate startup template of MVC5 & AngularJs??
Then you can see the same issue in your end.
I cannot do further development without solving this... :(

[2018-11-26 10:48] mos-ie commented on #4039
@ismcagdas no that doesn't occur. It's not the admin user that got duplicated, it was a real user account.

This could be a long shot explanation, but by default Azure App Services have 'always on' disabled by default, so when you deploy an update (or if the service goes to sleep) the initial subsequent request to the service is always a little slower. So, I'm thinking that this particular user in

[2018-11-26 12:17] xyfy commented on #4007
@hikalkan I am sorry ,but the new document cannot worked.
some error occurred when I update the database

Column length too big for column 'JobArgs' (max = 16383); use BLOB or TEXT instead

[2018-11-26 14:01] mdissel commented on #3369
Or disable Transactional only when necessary, when a new user is created and postresql is used..

[2018-11-26 15:43] timmackey opened #4045 "Where are API documents?"
Where can I find the API documentation for Abp?
I'm not talking about discussions, templates, examples or samples.
What I am unable to find are the Application Programming Interface documents.
For example, the 'SetRoles' method of 'UserManager' class;  the description of each of the method's parameters, what tables and columns this method modifies in the database, and any dependencies.
For example

[2018-11-26 16:01] mahmoudkandeel opened #4046 "Swagger with OAuth2"
iam using ABP MVC with AngualrJS Template
i follow this instructions to integrate Swagger UI
[Swagger UI Integration](https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration#asp-net-5-x)

how can i enable OAuth2 with Swagger UI

here is ConfigureSwaggerUi

[code]

[2018-11-26 16:25] dontboyle opened #4047 "Identity Password Options"
If you're creating a bug/problem report, please include followings:

* Your Abp package version. **3.8.2**
* Your base framework: **.Net Core.**
* Exception message and stack trace if available. **n/a**
* Steps needed to reproduce the problem.

**1. try to add a customer password validation. example, password can't be "password".**

Details:

I found a TON of documentation on how to change default

[2018-11-26 16:49] rahulbpatel commented on #4035
If anyone else runs into this issue this is the approach I have taken to get server-side validation to return model state errors to the view in a MPA web app:

1. Create new `DoNotThrowValdationExceptionAttribute`
[code]

2.  Create new custom validation filter `CustomMvcValidationFilter` that will not throw `AbpValidationException` if action is marked with `[DoNotThrowValdationException]` attribu

[2018-11-26 17:13] meision opened #4048 "low performance for ABP.Dapper"
`
       private readonly IDapperRepository<CDictionary> _dapperRepositoryCDictionary;
        private readonly IRepository<CDictionary> _repositoryCDictionary;

        public HomeController(
            IDapperRepository<CDictionary> dapperRepositoryCDictionary,
            IRepository<CDictionary> repositoryCDictionary)
        {
            this._dapperRepositoryCDictionary = dapperRepositoryC

[2018-11-26 17:57] acjh commented on #4045
https://aspnetboilerplate.com/api-docs/html/R_Project_Documentation.htm

[2018-11-26 21:14] jogoertzen-stantec commented on #2552
This worked for me, but I used

`[ProducesResponseType(typeof(MyResponse<...>), 200)]`

instead of

`[SwaggerResponse(200, typeof(MyResponse<...>)]`

as per [this](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/130#issuecomment-257777363)

[2018-11-26 23:48] natiki commented on #4035
Hi @rahulbpatel,

The framework also allows you to turn off its approach to validation by adding the following. I had a quick look on https://aspnetboilerplate.com/Pages/Documents/MVC-Controllers#validation and it is not
(@hikalkan) expressly mentioned. So it may be worth getting the documentation updated.

[code]

[2018-11-26 23:56] rahulbpatel commented on #4035
I saw this configuration option but I didn't want to turn it off everywhere.  I didn't want to have to replace all my action methods with manual calls for validation.

[2018-11-27 00:51] liangshiw commented on #4047
Related Discussions https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4029

[2018-11-27 01:35] maliming commented on #4046
Abp just simple integration. For more infomaitaion you can check it at [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle)

[2018-11-27 02:59] liangshiw commented on #4047
Hi. The conclusion is that using `InitializeOptionsAsync` is fine.
I have defined the following classes based on your description :
[code]
Custom validation class :
[code]
Override `InitializeOptionsAsync`
[code]
Run the program, you can see that it is the result we expect
![image](https://user-images.githubusercontent.com/16813853/49055677-6a91e400-f233-11e8-8762-68e82476b94e.png)

[2018-11-27 03:47] natiki commented on #4035
You can disable on a per method basis: https://aspnetboilerplate.com/Pages/Documents/Validating-Data-Transfer-Objects#disabling-validation

[2018-11-27 05:46] ismcagdas commented on #4039
@mos-ie if the problem occurs like you explain, then **"disable the sign up form's submit button upon being clicked"** is a better solution I guess.

But, if you haven't changed this part of the app, abp.ajax should block the button when it is clicked.

[2018-11-27 09:49] gentledepp opened #4049 "ICacheManager - Second level caching [feature request]"
This feature is somewhat related to #1104

Problem description:

ABP supports two types of caches
1. the in-memory cache
2. some distributed cache like Redis

Now as soon as you want to scale out using multiple web servers, you will need a distributed cache where the values are shared across web servers.
However, even in such a scenario, an in-memory cache has its advantages.
For example:

1. you

[2018-11-27 09:49] gentledepp commented on #1104
Created an issue which is somewhat related to this one. #4049

[2018-11-27 10:29] mos-ie commented on #4039
@ismcagdas I'm calling an ABP API from an Ionic app so I'm not using abp.ajax. Thanks for the tip though. I'll close the issue.

[2018-11-27 10:29] #4039 closed

[2018-11-27 11:58] meision commented on #4048
It is difficult to share my code which is a big project, and I made some samples, could you figure out am I correct or not?

sql server table:
[code]

code:
[code]

[2018-11-27 12:05] meision commented on #4048
as mentioned above, the test result from local database is:
[code]

the root cause may be abp.dapper appends extra condition "WHERE (1=1)" to the end which made worse performance than ef core.

[2018-11-27 12:07] xyfy commented on #4007
yes I do it

[2018-11-27 14:42] ismcagdas commented on #4007
@xyfy it seems like you need to set maxLenght for those fields like below;

[code]

as far as I remember we didn't have such a problem with Pomelo. Do you have the same problem if you use Pomelo.EntityFrameworkCore.MySql ?

[2018-11-27 17:06] dontboyle commented on #4047
@liangshiw Thanks, but it seems the IOC is not loading my validators in the manager:

Could you provide an example on how you got your override to fire? The "usage"?

When i try to use the OverrideSameCharacterPasswordValidator class instead of IPasswordValidator in the UserManager, they are empty. > [0] validators.

![image](https://user-images.githubusercontent.com/8333350/49097617-babc7680-f232

[2018-11-27 17:51] ahmedtolba1984 opened #4050 "Redis serlization/deserlization doesn't work properly for a class that contains a json string"
Dears,
I am using Abp Cache Provider with Redis Provider enabled but my issue is that i have a class that contains a json string property and it get serialized but when i get data from cache, my class didn't get deserialized properly :)
@ismcagdas  @hikalkan @acjh
![jsondata](https://user-images.githubusercontent.com/6592222/49101152-355eb380-f27e-11e8-9727-5664998bad3b.png)
![jsondata2](https://u

[2018-11-27 17:51] dontboyle commented on #4047
For Others I've implemented a quick hack with the above solution, until I can get more help in this way:

UserManager.cs

![image](https://user-images.githubusercontent.com/8333350/49100937-a8463b00-f23a-11e8-9d6b-46c0b37c738f.png)

and from the UserAppService:

![image](https://user-images.githubusercontent.com/8333350/49100952-b09e7600-f23a-11e8-92cb-d11e6d952d32.png)

[2018-11-27 19:31] rahulbpatel commented on #3946
@iamseanduffy where did you add your `[UnitOfWork]` attribute to get this to work?

[2018-11-27 22:37] acjh commented on #3946
Add it to the caller of `SingleOrDefault`.

[2018-11-28 00:44] marcrib opened #4051 "[Feature] Implicit flow authentication"
Asp.net Boilerplate uses `ropc` for authentication

According to the `oauth2` documentation,` ropc `should be used for legacy applications, as there are some flaws in this flow

[2018-11-28 01:56] liangshiw commented on #4047
Hi. Not so complicated, All you need to do is a few simple steps

First, Add custom verification to the service
[code]
The UserManager class **only overrides** the InitializeOptionsAsync method.
[code]

Convert the Options type in the validator and get the parameters you need.
[code]

[2018-11-28 03:08] maliming commented on #4050
If using memory cache does not have this problem?

Can you share some code? such as the class definition of the cache entity

[2018-11-28 08:01] hikalkan commented on #4051
Hi @marcrib you can use IdentityServer4 for that. They have a great documentation that shows how to implement the implicit flow. See https://identityserver4.readthedocs.io/en/latest/

[2018-11-28 08:01] #4051 closed

[2018-11-28 09:10] natiki commented on #4049
You may want to also consider: https://github.com/MichaCo/CacheManager#documentation. Check out the  cache syncronization.  https://github.com/aspnetboilerplate/aspnetboilerplate/issues/921 is also probably relevant in terms of whether adding cache features will get a look in.

[2018-11-28 09:20] gentledepp commented on #4049
@natiki - thank you so much for your reply.
I wasn't aware of CacheManager. Nice!

So as the "Cache Layer" feature you describe in #921 covers all the above, I will close this issue in favor of #921

Thanks again!

[2018-11-28 09:20] #4049 closed

[2018-11-28 09:37] gentledepp commented on #921
@natiki - how fare are you with your PR?

Can the cache layers be configured in such a way, that the first layer in-memory cache disposes items if they become obsolete or are deleted and the second layer (distributed) cache?

[2018-11-28 11:50] xyfy commented on #4007
not yet

[2018-11-28 12:37] sayassyk commented on #4041
Hi,
@alirizaadiyahsi  @ismcagdas @hikalkan
Any news on this??

[2018-11-28 12:57] ahmedtolba1984 commented on #4050
@maliming
Yes, it works properly with memory cache
Here is my class
[code]

[2018-11-28 12:58] ahmedtolba1984 commented on #4050
@maliming
and this is a sample of data that need to be cached
[code]

[2018-11-28 13:38] ahmedtolba1984 commented on #4050
@acjh @ismcagdas @hikalkan
any help for this issue as i stuck with it :)

[2018-11-28 16:18] akari1910 opened #4052 "Dynamic setting name in SettingManager"
Dear hikalkan,
As far as I know, in SettingDefinitionManager class, you use a dictionary to store settings, and call Initialize method to init settings from all module. It works perfectly on almost cases. But when I need to save and load settings for another entity except User, I cannot find any solution to get or change the settings dictionary dynamically though I know what exactly setting I want

[2018-11-28 16:19] dontboyle commented on #4047
First off huge thanks @liangshiw !!!

I had to update a few things, just wanted to note them here.

1. Add custom verification to the service had to be done in Core/Identity/IdentityRegistrar.cs

![image](https://user-images.githubusercontent.com/8333350/49164556-f6b81000-f2f4-11e8-805d-c1a9ba271615.png)

2. Adding a helper method in the manager really cleaned things up

     public async Task<Ide

[2018-11-28 16:20] #4047 closed

[2018-11-28 16:21] ryancyq commented on #4048
Hi @meision,

The `1 = 1` isn't an extra condition, it is used to filter entity tenant id and session tenant id (generated by data filter `IMayHaveTenant`).

Since multi-tenancy mode is enabled by default, i am more concern that ef core does not seem to generate the `1=1` in your test.

[2018-11-28 16:54] ryancyq commented on #4033
Can you provide more detailed error stack trace?

Did you setup Dapper with the steps in https://aspnetboilerplate.com/Pages/Documents/Dapper-Integration ?

Also, Hangfire setup at https://aspnetboilerplate.com/Pages/Documents/Hangfire-Integration#asp-net-mvc-5-x-integration ?

[2018-11-28 20:06] dontboyle opened #4053 "SettingManager broken in 3.8.2?"
If you're creating a bug/problem report, please include followings:

* Your Abp package version. 3.82
* Your base framework: .Net Core.

2 things that come to mind that could be related.

1. Adding custom settings. (they save, and update fine)
![image](https://user-images.githubusercontent.com/8333350/49179489-0432c180-f318-11e8-9dd1-e834cffe22f3.png)

2. Turning off MultiTenancy
![image](https://

[2018-11-29 01:15] maliming commented on #4050
@ahmedtolba1984 I will check it out.

[2018-11-29 05:48] ismcagdas commented on #4050
@ahmedtolba1984 could you also share the code for setting and getting cache item ?

[2018-11-29 10:31] ismcagdas commented on #4052
Hi @akari1910 current design doesn't allow different setting scopes. In your case, setting system is not convenient to use.

[2018-11-29 10:39] ismcagdas commented on #4041
@sayassyk is it possible for you to share a project which reproduces this problem ?

[2018-11-29 11:11] ismcagdas commented on #4036
@mahmoudkandeel

1. You can directly map ProductCreateDto to ProductDto and then insert a new translation record using ProductCreateDto's Name field and current language.

2. Using a mapping is not a good idea here I guess. You can check Product.Translations array for the updated language and insert/update appropriate record in your app service method.

[2018-11-29 11:15] ismcagdas commented on #4042
@mahmoudkandeel do you have a valid record for NationalityStatusDto in the retrieved collection from database ?

It is retrieved like below in multi lingual mapping;

`var translation = source.Translations.FirstOrDefault(pt => pt.Language == CultureInfo.CurrentUICulture.Name);`

[2018-11-29 11:37] meision commented on #4048
I changed it, however the generated sql still contains 1=1 condition.
[code]

[2018-11-29 11:44] ismcagdas commented on #4007
@xyfy I just tried Pomelo and it works without a problem. In my case ffficial package also didn't create **__efmigrationshistory** table which must be handled manually and it is not good.

So, I have reverted changes in https://github.com/aspnetboilerplate/aspnetboilerplate/commit/cc726202d60d0bf5a5f0e8ad1677a57185a2027c

[2018-11-29 13:06] ismcagdas commented on #3971
@mainoldis we decided not to create such a package but a PR will be very appreciated.

[2018-11-29 13:19] ismcagdas commented on #4048
@meision are you using EF Core or EF 6.x ?
In both cases I think there is no way to remove 1=1 filter from the query I guess because it is added in the dynamic filters.

[2018-11-29 13:20] iyilm4z commented on #4020
I use typescript proxies for sure. I was just working on an experimental work for a presentation and i realized this issue and i wanted to make you guys aware of it. Also i may give a try to solve it if you would approve it. Anyway thanks for taking time.

[2018-11-29 13:21] ismcagdas commented on #3939
@satishsomani you can't use a project in another project as a plugin, you need to create a PlugIn module as explained here https://aspnetboilerplate.com/Pages/Documents/Plugin

[2018-11-29 13:41] ismcagdas commented on #3967
@CrazyBaran making User entity generic forces us to make many classes generic in the Framework as well and at some point it was not possible to maintain/implement those generic classes.

[2018-11-29 13:41] #3967 closed

[2018-11-29 13:48] dontboyle commented on #4053
Yeah, sure!

![image](https://user-images.githubusercontent.com/8333350/49225972-fc702d00-f3aa-11e8-86ce-30395e5ec141.png)

And other other records that have userid and tenant, and have tenant and not userid and those all seem to be loading correctly.

[2018-11-29 14:09] jifeilong9 commented on #3373
@ismcagdas I used this code swagger login time error （Uncaught TypeError: Cannot read property 'expireInSeconds' of undefined
    at XMLHttpRequest.xhr.onreadystatechange (abp.swagger.js:49)）

using System;
using System.Linq;
using System.Reflection;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Mvc.Cors.Internal;
using Microsoft.Extensions.Conf

[2018-11-29 14:14] jifeilong9 opened #4054 "How to add JsonDateTimeFormat"
Can you provide an example of the latest version? Thank you

[2018-11-29 14:20] akari1910 commented on #4052
Thank you cagdas.
I hope you will implement this soon.

[2018-11-29 15:00] dontboyle commented on #4053
Okay, so today I found this:

In the AppSettingsProvider, i was providing new Settings like this in GetHostSettings() exactly like ABP is with theirs, like this:

![image](https://user-images.githubusercontent.com/8333350/49230208-be780680-f3b4-11e8-818d-ee2097e6ff8d.png)

As soon as I moved it down to GetTenantSettings() like such:

![image](https://user-images.githubusercontent.com/8333350/49230

[2018-11-29 15:14] acjh commented on #4053
Which version of ASP.NET Zero is that?

[2018-11-29 19:07] timmackey commented on #4045
Unfortunately the documents at the link do not tell me anything that Intellisense doesn't tell me.
What I want to know, using the above example, is "what tables and columns this method modifies in the database", and any requirements prior to calling the method (like requiring the user to be logged in).

[2018-11-29 19:09] ismcagdas commented on #4054
@jifeilong9 could you explain your need a bit more detailed ?

[2018-11-29 20:57] jasenf opened #4055 "Documentation incorrect"
I believe the current documenation on https://aspnetboilerplate.com/Pages/Documents/Setting-Management is a bit out of date.

It references:

[code]

as a way to retrieve settings as a specific type, but that doesn't seem to be valid.   I see code in the app like this though:

[code]

[2018-11-29 22:55] acjh commented on #4045
That's not an API document. If you want to know the implementation, then read the source code.

[2018-11-29 23:06] osalas891123 commented on #4040
Any explanation on this?

[2018-11-29 23:13] acjh commented on #4040
`protected virtual` methods are intercepted for authorization since `RoleAppService` has `[AbpAuthorize(PermissionNames.Pages_Roles)]` attribute.

[2018-11-30 00:31] liangshiw commented on #4055
You need to reference the namespace `Abp.Configuration`.
This is an extension method, and its internal implementation  still uses `.To<T>()`.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp/Configuration/SettingManagerExtensions.cs#L20

[2018-11-30 01:16] #4054 closed

[2018-11-30 04:18] #4052 closed

[2018-11-30 05:52] #4055 closed

[2018-11-30 07:16] Worthy7 commented on #2052
@hikalkan So how are we supposed to avoid

![image](https://user-images.githubusercontent.com/4762399/49274288-33cdff00-f4bb-11e8-864b-965985eb6c7e.png)

Are we just supposed to set:

            Configuration.Modules.AbpAutoMapper().UseStaticMapper = false;

To `true`?

If so, why isn't it the default...

[2018-11-30 08:20] wuyi23 opened #4056 "Abp.AspNetCore.SignalR reconnection doesn't work"
Hi,I used "Abp.AspNetCore.SignalR 3.4.0-preview2"  in program.I want  reconnects to the server  when the client disconnects,but it doesn‘ work.Was it my code error?My client code as follow:

    <script src="/js/lib/signalr-client/signalr.min.js" ></script>
    <script src="/js/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js"></script>
    <script>
        var chatHub = null

[2018-11-30 08:50] maliming commented on #4056
Does the browser and the backend server have relevant logs when the problem occurs?

[2018-11-30 09:05] liangshiw commented on #4056
Hi.
see https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-2.1#automatic-reconnects
Automatic reconnects aren't supported in ASP.NET Core SignalR. If the client is disconnected, the user must explicitly start a new connection if they want to reconnect

[2018-11-30 10:21] sayassyk commented on #4041
ofcourse.. I will upload it in google drive and give you the link..

[2018-11-30 10:36] #4056 closed

[2018-11-30 10:38] ismcagdas commented on #4020
See https://github.com/aspnetboilerplate/module-zero-core-template/pull/358 for the working example.

[2018-11-30 10:38] #4020 closed

[2018-11-30 11:54] sayassyk commented on #4041
Hurraaayy..! 💃 💃
I got it in the final try!!!
It was just needed to change the _**appendToBody**_ option to false in my ui-select configuration like this:

`
app.config(['uiSelectConfig', function (uiSelectConfig) {
    uiSelectConfig.theme = 'bootstrap';
    uiSelectConfig.resetSearchInput = true;
    uiSelectConfig.appendToBody = false;
}]);`

But still don't know how it was getting solved when

[2018-11-30 12:03] #4041 closed, assigned to nobody

[2018-11-30 13:01] acjh commented on #2052
From the documentation on [Object To Object Mapping](https://aspnetboilerplate.com/Pages/Documents/Object-To-Object-Mapping):

[2018-11-30 17:47] mach37 opened #4057 "Support grouping in grid"
Hi can you support dragging cols like  kendo grid to do grouping https://demos.telerik.com/kendo-ui/grid/aggregates
mainly here  https://demos.telerik.com/kendo-ui/grid/multicolumnheaders

[2018-11-30 18:04] mach37 opened #4058 "Open Source RAD tool"
Hi, my goal is to help the ASP community of developers. I think there is a need for an open sourced version and I found @FrancisGroleau @frchico and a few others. If anyone else is interested please commit over there. ASP does not seem interested in making that open source

The original Visual Studio Market place tool seems very similar to [this CodeProject](https://www.codeproject.com/Articles/10

[2018-11-30 18:19] dontboyle commented on #4053
@acjh

![image](https://user-images.githubusercontent.com/8333350/49307247-2eac8800-f49a-11e8-8550-316c160a1b73.png)

[2018-11-30 23:11] acjh commented on #4053
ASP.NET Zero refers to the solution that you downloaded from the website, not that package.

[2018-12-02 22:48] ryoldash commented on #2953
Hi @AlexSenchenko

Sorry for late reply. Abp React integration has been completed and Initial pull request has been made to Abp.While Abp team reviews the code, we will  be making Code refactoring.
@hikalkan @ismcagdas @smtkby @mhmtyasr

[2018-12-03 05:49] lockcd opened #4059 "add EFCore-FluentStoredProcedure"
How to Execute SQL Server Stored Procedure with multiple parameters and  with multiple result sets in ABP Entity framework core

samples:

https://github.com/snickler/EFCore-FluentStoredProcedure

[2018-12-03 06:01] bxjg1987 opened #4060 "Will.net 4.x continue to be updated?"
Will.net 4.x continue to be updated?

[2018-12-03 06:02] hikalkan commented on #4060
Yes. Why not? Next version is v4.1. See the milestone: https://github.com/aspnetboilerplate/aspnetboilerplate/milestone/107

[2018-12-03 06:02] #4060 closed

[2018-12-03 06:08] maliming commented on #4059
You seem to want to get `DbContext`.
You can use _`xxxRepository.GetDbContext()`

[2018-12-03 06:15] lockcd commented on #4059
not exist fun _xxxRepository.GetDbContext()

[2018-12-03 06:19] ismcagdas commented on #4059
@lockcd you can either create a custom repository https://aspnetboilerplate.com/Pages/Documents/Repositories#custom-repositories or use IDbContextProvider<> to get a DbContext. Then, you can use DbContext to execute stored procedure.

[2018-12-03 06:20] acjh commented on #4059
[code]

[2018-12-03 13:09] dharmenbavaria commented on #1637
@hikalkan do you have something like NoLock with asp.net core as well?

[2018-12-03 19:47] hotwer opened #4061 "EF Core deleting ISoftDeletable Entity"
Well, my problem is kind of hard to explain. I'm kind of showing it here just to be sure if no one passed by this problem as well, or might have any idea of what could it be...

Simply put, basically I have an ISoftDeletable entity, that is saving normally.

But somehow, EF core is dispatching a Hard Delete command when I try to UPDATE it (yes, it's not even a delete command). Just to make you use

[2018-12-03 20:34] vdurante opened #4062 "Feature Request: make AbpUserBase.FullName mapped"
As ABP relies on EntityFramework, making a `FullName` search on the database becomes really hard. Would be nice to have FullName on the database to perform such searching.

[2018-12-03 23:22] acjh commented on #4061
Show code.

[2018-12-04 02:02] ryancyq commented on #4062
I don't see how the issue is related to EntityFramework.

You can easily achieve `FullName` by migrating the `FullName` column to an actual column in database table.

1. Remove `[NotMapped]`
2. Fix automapper/dto for `FullName`
3. Do a database migration to copy `FirstName` and `LastName` into `FullName` column

[2018-12-04 02:02] maliming commented on #4062
how about this(also can use linq)?
`SELECT * FROM AbpUsers WHERE (Surname + Name) = 'adminadmin'`

[2018-12-04 05:42] #4062 closed

[2018-12-04 06:15] ismcagdas commented on #4048
@meision what happens when you remove IHasCreationTime from your entity definition ? Do you get the same result ?

[2018-12-04 08:30] maliming commented on #4050
@ahmedtolba1984
You can use the Startup Templates to reproduce, which is more intuitive.
https://aspnetboilerplate.com/Templates

[2018-12-04 10:53] #4006 closed

[2018-12-04 11:58] hotwer commented on #4061
Well, I'm not sure what do you need to see, there's hardly any code I could show you that might help but I can show you some samples.

This is the class entity that is having the error
[code]

This is where it inherits from
[code]

This is one of the inherits of the Entity class (that should contain the definition of ISoftDelete)
[code]

These are the configuration classes

`DataConsts.Entidade.In

[2018-12-05 01:17] deepakkumarbarik commented on #2407
The above examples are not working for the latest asp.net zero framework. I am not using boilerplate framework using zero frameworks. please guide on this.

[2018-12-05 01:37] acjh commented on #2407
What examples? This is ASP.NET Boilerplate repository.

### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

For ASP.NET Zero:
https://docs.aspnetzero.com/documents/zero/latest/

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

For ASP.NET Zero on ASP.NET

[2018-12-05 01:59] deepakkumarbarik commented on #2382
This is not working for zero frameworks.
![renamedatabase](https://user-images.githubusercontent.com/3807461/49485082-7bf47500-f85f-11e8-9e07-50dc1b81ac40.png)

[2018-12-05 02:21] maliming commented on #2382
Call `Add-Migration` to try it?

[2018-12-05 02:40] deepakkumarbarik commented on #2382
Yes, It is working now. thanks

[2018-12-05 06:53] ismcagdas commented on #4030
Closed via https://github.com/aspnetboilerplate/module-zero-template/issues/148

[2018-12-05 06:53] #4030 closed

[2018-12-05 06:59] ismcagdas commented on #4025
Fixed via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4034

[2018-12-05 06:59] #4025 closed

[2018-12-05 07:22] candeveci13 opened #4063 "Memory leak while checking background jobs periodically."
There was an issue solved in abp.io; but, I noticed that a similar situation is true for ABP Boilerplate.

On a startup template created with ASP.NET Core 2.x, Target Framework: .Net Core, SPA(Angular), multiple solutions.

[Issue in Abp.io](https://github.com/abpframework/abp/issues/590#issue-380081920)

[2018-12-05 08:52] mengzy2018 commented on #961
I've been looking for a solution to implement SSO

[2018-12-05 09:37] maliming commented on #961
@mengzy2018
please check the related document.
https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server
https://identityserver4.readthedocs.io/en/release/

[2018-12-05 13:48] meision commented on #4048
yes, it is same result.

[2018-12-05 16:00] vdurante commented on #4062
@ryancyq removing the `[NotMapped]` attribute from base class is not easy. Overriding `FullName` doesn't work. I will attempt a workaround. Either way, I think it would be nice to remove the `[NotMapped]` attribute to improve searching capabilities.

[2018-12-06 01:38] bbakermmc commented on #4045
@timmackey Yes ABP/Zero documentation is very much lacking.  And depending on who you get like @acjh your responses dont always work out in your favor, and ends up taking multiple responses to get something workable.  Plus there are like 15 different ways to find support, so who knows.  The ABP dev tend to think all we do is read/write their framework, which must be great for them.  But I know you

[2018-12-06 07:33] wuyi23 commented on #4056
@maliming @liangshiw Thanks, but I read about it in the abp documents:"ASP.NET Boilerplate also automatically reconnects to the server (from the client) when the client disconnects, if abp.signalr.autoConnect is true......".Is my abp version too low?

[2018-12-06 09:57] wuyi23 commented on #4056
@liangshiw I used "Abp.AspNetCore.SignalR 3.4.0-preview2" ,but it doesn‘ work.The abp.signalr-cllient.js also has reconnect code.Maybe it only works for asp.net.

[2018-12-06 10:01] liangshiw commented on #4056
Please show your code

[2018-12-06 10:07] wuyi23 commented on #4056
The client code is shown above
` public class OptManagementCockpitHub : Hub, ITransientDependency
    {
        public ILogger Logger { get; set; }

        public OptManagementCockpitHub()
        {
            Logger = NullLogger.Instance;
        }

        public async Task SendMessage(string message)
        {
            //  await Clients.All.getMessage();
            await Clients.All.SendA

[2018-12-06 10:16] wuyi23 commented on #4056
@liangshiw After the network is disconnected, clicking the send button is invalid

[2018-12-06 10:34] ismcagdas commented on #4063
@candeveci13 we have tested it. As you said, memory increases for a while but created objects are disposed by GC. So, this is the expected behavior I guess.

[2018-12-06 10:34] #4063 closed

[2018-12-06 12:30] ismcagdas commented on #3896
This happens because AbpUserBase (so the AbpUser) has Roles property (`ICollection<UserRole> Roles`) but AbpRole doesn't have a reference to UserRole entity. Becasue of that, it is not possible to add a FK without adding a navigation property.

[2018-12-06 12:30] #3896 closed

[2018-12-06 12:54] acjh commented on #4056
Update server and client packages to non-preview versions — 3.7.0+ (latest 4.0.2).

[2018-12-06 14:47] dontboyle commented on #4053
Sorry about the late response: v5.5.0.0 [20181205]

[2018-12-06 15:40] ryoldash commented on #2953
Congrats community! Our pull request has been merged to master. We now have ReactJS integration for ABP.
https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/reactjs

[2018-12-06 16:30] ahmedtolba1984 commented on #4050
@maliming  @ismcagdas  @acjh @hikalkan
Dears,
I do my best to create a new sample :)
Please, check it and give me your feedback as soon as possible
You can find the sample on
[https://github.com/ahmedtolba1984/RedisIssue](url)
Please, run migrations first for project BoundedContext.Infrastructure and run redis server
and create a new customer, then get customers from database
When I get data from

[2018-12-07 00:37] deepakkumarbarik commented on #2382
change table names #2382. With this fix, only one table name is not renaming. The table name is "AbpPersistedGrants" Let me know how to fix this issue.

[2018-12-07 00:53] acjh commented on #2382
`Abp.ZeroCore.EntityFrameworkCore` project has no dependency on the `Abp.ZeroCore.IdentityServer` project, so `PersistedGrantEntity` isn't handled in [`ChangeAbpTablePrefix`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc266e3503fcb2825684ec829cc356815f94f397/src/Abp.ZeroCore.EntityFrameworkCore/Zero/EntityFrameworkCore/AbpZeroDbModelBuilderExtensions.cs#L31-L66).

You can do this:

[2018-12-07 02:16] maliming commented on #4050
@ahmedtolba1984 I will check it out.

[2018-12-07 03:51] maliming commented on #4050
@ahmedtolba1984

Solve your problem by adding the `[JsonProperty]` property to the `StringValue ` of the `LocalizedText `class.

![image](https://user-images.githubusercontent.com/6908465/49626815-768d5b00-fa16-11e8-9535-bee8288dd636.png)

![image](https://user-images.githubusercontent.com/6908465/49626753-31692900-fa16-11e8-8943-43fdd2596767.png)

[2018-12-07 03:51] #4050 closed

[2018-12-07 06:04] ismcagdas commented on #2953
Thanks a lot @ryoldash @mhmtyasr and @smtkby for your great contribution 😄

[2018-12-07 09:01] wuyi23 commented on #4056
@acjh Hi,I I download the latest .net core template and Used the Abp.AspNetCore.SignalR V4.0.1.When the network was disconnected, the client reported a number of error,and then I clicked the button and it was invalid.

![c474697a-5417-4a1e-af4e-1740087a33ff](https://user-images.githubusercontent.com/11494510/49637476-730ec980-fa40-11e8-8640-fb56243b620f.jpg)

[2018-12-07 09:36] mohanssbs opened #4065 "Asp.net core boilerplate angular project cannot debug Typescript with VS 2017"
I've installed Visual Studio 2017(v15.9.3).

I downloaded Asp.net core Boilerplate template project with Angular (from https://aspnetboilerplate.com/Templates). It's server side project working with Asp.net Core 2.1 and client side with Angular, under Asp.net core framework. Server side project working properly and it's run with IIS Express with Chrome.

The issue is, in Angular project I need to

[2018-12-07 10:21] acjh commented on #4056
Clicked what button?

[2018-12-07 13:03] ismcagdas commented on #4065
@mohanssbs Angular application is served by angular-cli, so you need to run it using "npm start" command. Please check https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular#angular-application to run Angular project properly.

[2018-12-07 13:03] #4065 closed

[2018-12-07 13:56] acjh commented on #4056
Can you create a repro project?

[2018-12-07 14:42] #4045 closed

[2018-12-07 14:54] hikalkan commented on #4061
I didn't know details, but EF core or SQL server may delete an entity while updating another entity if it has cascade delete on update. But really hard for us to understand your specific case. But I don't think this is related to ABP framework.

[2018-12-08 06:07] ryancyq commented on #4053
The behavior might be caused by `AbpSession` always default that `TenantId` to `1` when `MultiTenancy.IsEnabled` is `false`

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp/Runtime/Session/ClaimsAbpSession.cs#L42-L70

However, the `Scopes.Application` fallback does not consider `MultiTenancy.IsEnabled`
https://github.com/aspnetboilerplat

[2018-12-08 07:12] deepakkumarbarik commented on #2382
Above solution is not working.

[2018-12-08 07:35] heavysunnyz commented on #3248
Awesome projects

[2018-12-08 08:36] deepakkumarbarik commented on #2382
Yes it works.  Thanks.

[2018-12-08 08:39] deepakkumarbarik commented on #2382
I have one more doubt. Suppose I want to add some extra filed to the User table. How I can add those fields to the user table?

[2018-12-08 08:40] ismcagdas commented on #2382
You can check http://docs.aspnetzero.com/documents/zero/latest/Extending-Existing-Entities

[2018-12-08 08:43] deepakkumarbarik commented on #2382
ok Great. Thanks

[2018-12-09 03:14] natiki commented on #3673
@ismcagdas I would like to request that this gets an additional reconsideration from the ABP team. The issue here is not the fact that it is fast to generate on the server, it is the fact that it is transferred for every request. I would further argue that of

 the only thing that has a high probability of changing every minute would be session based stuff.

Once the app is localized, authorized,

[2018-12-09 08:50] ahmedtolba1984 commented on #4050
@maliming
Thanks for solving the issue :)
Could you plz, clarify what is the purpose of JsonProperty because i can't find enough information about it ?

[2018-12-09 19:01] ismcagdas commented on #4036
Please reopen if that doesn't work for you.

[2018-12-09 19:01] #4036 closed

[2018-12-10 02:20] wuyi23 commented on #4056
@acjh  Hi,My demo url:https://github.com/wuyi23/AbpSignalrDemoTest. The client code in "aspnet-core\src\AbpSignalrTest.Web.Mvc\Views\About\index.html"

[2018-12-10 05:18] ismcagdas commented on #4056
@wuyi23 could you change your code like below;

[code]

[2018-12-10 05:43] ismcagdas commented on #3673
@natiki I think using a custom controller like you do is a better choice. You will be still using the entire framework code for generating the scripts. If we implement caching on the Framework level, I'm sure we will have many problem reports because of this. So, I think, this must be done on purpose by the developers who need it.

[2018-12-10 06:55] kgbuddhima opened #4067 "HttpResponse.GetJsonAsync crashes when call to API"
* Abp 4.0.2.
* Xamarin Forms, .net Standard library.
* App crashes.

In the startup of my application with aspnetboilerplate  template, it calls AbpUserConfiguration/GetAll method and mobile android app crashes . I tried to catch error using a try catch. But app crashes inside of the try catch.

![image](https://user-images.githubusercontent.com/14989528/49715140-75a63480-fc75-11e8-8644-8c1ffa6446

[2018-12-10 10:58] hikalkan commented on #4045
Hi all,

We have read this issue, however could not decide how to answer it. I will try...

Documenting this is impossible. No one makes it. We will not make it. I think this is a terrible idea. Sorry.

Adding summaries for public classes & methods is a good practice.
We do that especially for methods those are not straightforward to understand (example: [INotificationPublisher](https://github.com

[2018-12-10 11:38] kgbuddhima commented on #4067
@ebicoglu is it a memory issue ? Because I have another repository and it successfully consume the response from the same API. But sometimes app crashes when mapping <AjaxResponse>' <Result> to type <T>.

[2018-12-10 13:12] raphaeldiasrj commented on #3938
Hi @tamys did you do this? I'm with a very similar issue and need to reload the authorizations too. But I can't find a way to, because all the way through the permissionManager is internal.

[2018-12-10 13:42] tamys commented on #3938
Hi @raphaeldiasrj unfortunately not. Since adding new language is fairly rare, i just unload app pool. However this  involves a downtime of about 1 minute depending on the system. I havent't had time to try @maliming suggestion.

[2018-12-10 15:05] bbakermmc commented on #3673
@ismcagdas You guys already cache it at the server level, so how is it any different if you were to cache the requests lol.  Just invalidate it when someone changes a permission or localization in the UI.  You already do it now for the local cache.  The other option is to  break out things that can be cached and what can not.  I assume the app service js stuff can be.

https://stackoverflow.com/qu

[2018-12-10 17:15] acjh commented on #4056
@wuyi23 Your project works fine without any modification.

![console](https://user-images.githubusercontent.com/14091939/49749021-2ea25880-fce2-11e8-84d9-5c8d62532158.png)
![alert](https://user-images.githubusercontent.com/14091939/49749023-2ea25880-fce2-11e8-95c4-321d3499c684.png)

[2018-12-10 21:04] ahmedtolba1984 opened #4068 "EntityChangedEventData doesn't trigger when updating entities"
Dears,
**EntityChangedEventData** doesn't fire when updating entities, it fires only when creating new entities :)
I don't know the reason but i created a working sample that produce this issue.
You can see **CustomerChangedEventHandler** can handle created customers but not updated customers
The sample on
https://github.com/ahmedtolba1984/RedisIssue
Please, run migrations first for project Bounde

[2018-12-10 22:00] bbakermmc opened #4069 "[Feature ]Alert System also with Toastr option"
Sometimes it would be nice to issue the alerts as toastr instead of a div.

[2018-12-11 00:52] wuyi23 commented on #4056
@ismcagdas Hi,I tried it, but it doesn't work.When the network was disconnected, An error occurred.I    want to test if  the program automatically reconnects to the server (from the client) when the client disconnects.

![2222](https://user-images.githubusercontent.com/11494510/49720272-57066480-fc9a-11e8-963c-c9cdd1dcc887.jpg)

[2018-12-11 00:56] wuyi23 commented on #4056
@acjh Thanks, but I read about it in the abp documents:"ASP.NET Boilerplate also automatically reconnects to the server (from the client) when the client disconnects, if abp.signalr.autoConnect is true......".But my project doesn't automatically reconnect.

[2018-12-11 01:04] maliming commented on #4068
@ahmedtolba1984
I will check it out.

[2018-12-11 01:21] acjh commented on #4056
Oh, ABP automatically reconnects the hub at `abp.signalr.hubs.common` that it started, not yours.

Add this to reconnect:
[code]

[2018-12-11 01:37] #4068 closed

[2018-12-11 01:58] staviloglu opened #4070 "MultiTenantLocalizationDictionary fallback problem"
My application starts with xml based localization files as default, if any tenant changes a localized text than it is written to the database with the tenantId. So my database has same keys with differenet tenantIds.

Most of the time, thanks to ABP, this works like a charm but sometime I see the eror message below in my logfile.

IMO that is because, somehow user is inactive, while session still

[2018-12-11 02:15] wuyi23 commented on #4056
@acjh Thanks a lot.

[2018-12-11 05:34] ismcagdas commented on #4070
@staviloglu when getting records from database, ABP sets the TenantId like below in GetAllValuesFromDatabase method.

[code]

So, maybe you xml file contains duplicate items ?

[2018-12-11 07:36] #3739 closed

[2018-12-11 08:23] ahmedtolba1984 commented on #4068
@maliming
No, it doesn't work
Please, put a breakpoint on Customer ChangedEventHandler, then Creating or updating and see what happens
In case of Adding, The breakpoint git hit but it doesn't in case of updating :)

[2018-12-11 08:27] ahmedtolba1984 opened #4071 "EntityChangedEventData doesn't trigger when updating entities with value objects"
@maliming
Sorry for creating a new one but this issue is critical for me
No, it doesn't work
Please, put a breakpoint on Customer ChangedEventHandler, then Creating or updating and see what happens
In case of Adding, The breakpoint git hit but it doesn't in case of updating :)
![entitycreatedevent](https://user-images.githubusercontent.com/6592222/49787408-47852b00-fd2f-11e8-811f-9c100a248e1e.PNG)

[2018-12-11 08:37] maliming commented on #4071
![image](https://user-images.githubusercontent.com/6908465/49787866-c0ea4100-fd62-11e8-8f55-7c2e04d18ca1.png)

![image](https://user-images.githubusercontent.com/6908465/49787881-cb0c3f80-fd62-11e8-8a8e-57b06482173f.png)

![image](https://user-images.githubusercontent.com/6908465/49787919-e0816980-fd62-11e8-819c-d191cc2dac8c.png)

**It is working normally here.**

![image](https://user-images.gith

[2018-12-11 08:46] ahmedtolba1984 commented on #4071
@maliming
Try to update from front-end
It works fine when updating from swagger; It is a strange issue :)

[2018-12-11 08:58] ahmedtolba1984 commented on #4071
@maliming
got it?

[2018-12-11 09:03] maliming commented on #4071
There is no difference between the front end and the swagger.

[2018-12-11 09:04] ahmedtolba1984 commented on #4071
@maliming
Could you please, sync from master and try?

[2018-12-11 09:06] ahmedtolba1984 commented on #4071
@maliming
sorry for bothering you but i am stuck with this issue :)
Note:- Don't modify anything, Just sync from master and try

[2018-12-11 09:09] maliming commented on #4071
I will try it from angular

[2018-12-11 09:10] ahmedtolba1984 commented on #4071
@maliming
The breakpoint of the app service get hitted but the handler doesn't
![updatecustomer](https://user-images.githubusercontent.com/6592222/49789696-4a831a00-fd35-11e8-8cc2-a289a568794d.PNG)

[2018-12-11 09:23] ahmedtolba1984 commented on #4071
@maliming
got it?

[2018-12-11 09:33] staviloglu commented on #4070
@ismcagdas I don't believe my xml has duplicate keys because if it had, in the beginning taking them into dictionary would generate duplicate keys error.

And yes I'm aware that GetAllValuesFromDatabase uses uow.SetTenantId(tenantId) I've shared the responsible code block of MultiTenantLocalizationDictionary above. If you check GetOrNull(tenantId,name) method you will see that it sends null as ten

[2018-12-11 09:49] maliming commented on #4071
It is working normally here.

![image](https://user-images.githubusercontent.com/6908465/49792200-1592b980-fd6d-11e8-8c21-6a6084f20d09.png)

[2018-12-11 09:55] ahmedtolba1984 commented on #4071
@maliming
Did you solve it ?

[2018-12-11 09:55] ahmedtolba1984 commented on #4071
@maliming I can share my code with you using AnyDesk if you want

[2018-12-11 09:57] ahmedtolba1984 commented on #4071
@maliming This issue stopped our release

[2018-12-11 09:59] maliming commented on #4071
I am using your code, I have not encountered the problem you said.

[2018-12-11 10:00] ahmedtolba1984 commented on #4071
@maliming
Do you have any desk ?

[2018-12-11 10:01] ahmedtolba1984 commented on #4071
@maliming
https://anydesk.com/download?os=win

[2018-12-11 10:01] maliming commented on #4071
@ahmedtolba1984  Send you Desk to me email: malimings@gmail.com

[2018-12-11 14:33] dontboyle commented on #4053
So the solution is to move all GetHostSettings() into GetTenantSettings() within AppSettingProvider if you turn off the MultiTenancy.IsEnabled flag?

[2018-12-11 18:56] buaziz commented on #2559
any updates on this

[2018-12-12 02:58] maliming commented on #4071
hi @ahmedtolba1984
Solution(https://stackoverflow.com/questions/51416721/ef-core-owned-property-state-propagation-to-parent-entity):
Rewrite the `ApplyAbpConcepts ` method in your `DbContext ` and add extra judgment.

[code]

[2018-12-12 03:44] maliming opened #4072 "EF Core owned type update entity does not trigger event"
[code]

[code]

If we only update the User's Address and do not explicitly call `Repository.UpdateAsync`, the Entity related update event will not be triggered.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3347eacf2187efcd9e4c8080ef9075c57ddd2bff/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L225-L255

Because User's state is Unchanged in `ChangeTracker.Entries(),

[2018-12-12 05:34] #4071 closed

[2018-12-12 05:39] ismcagdas commented on #2559
@buaziz sorry, we couldn't have time to work on this until now.

[2018-12-12 05:43] ismcagdas commented on #4053
@dontboyle thank you for sharing the reproduction steps. We will test and fix this. Since this is related to AspNet Zero, moving to its own repository https://github.com/aspnetzero/aspnet-zero-core/issues/2006

[2018-12-12 06:03] ludydoo opened #4073 "SettingManager broken?"
* Your Abp package version: 4.0.2
* Your base framework: .Net Framework or .Net Core. .Net Core
* Exception message and stack trace if available.

## Steps needed to reproduce the problem.

- Followed the documentation to create a new `Setting`
- Created a class extending `SettingProvider`
- Registered the new MySettingProvider with `Configuration.Settings.Providers.Add<MySettingProvider>();`
- Us

[2018-12-12 06:08] ismcagdas commented on #4073
@ludydoo
 * Have you created your app on https://aspnetboilerplate.com ?
 * does your module depend on AbpZeroCommonModule ?

[2018-12-12 12:24] ahmedtolba1984 commented on #4071
@maliming
Thank you :)

[2018-12-12 12:51] maliming commented on #4071
@ahmedtolba1984  If you find a problem, please continue to feedback.

[2018-12-12 14:56] thinkershare opened #4076 "Background job doesn't work"
## Depend

* Abp package version: 4.0.2
* .NET Core version: 2.2.101

## Problem case

When I  updated ABP to version 4.0.2 from 3.8.2 today, I found that Background Job didn't work.
And framework didn't throw an exception.(It's  executed normally on version 3.8.2 and 3.9.0)

##  Code of  question

[code]

[2018-12-12 15:36] hikalkan commented on #4069
I thought it's not a good UX to show toastr after a full page refresh (for MVC applications).

What do you suggest? Is the code creating the alert decides the UI type?

[2018-12-12 15:38] hikalkan commented on #4067
Is that AspNet Zero Xamarin app?

[2018-12-12 15:41] hikalkan commented on #4073
ChangeSettingForTenantAsync may not create a database record if given value is default value. Can you try another value?

You are using the setting manager in a most straightforward way. I believe setting manager should be working, otherwise we get so many error reports.

However, we can test it again if you are sure about the problem.

[2018-12-12 15:43] bbakermmc commented on #4069
Add a bool to show as toast?  Then just use the standard abp.notify code for when its true (The types match) is what I was thinking.  Its quick and easy

[2018-12-12 15:58] hikalkan commented on #4076
Can you provide more details. Check logs to see if there any exception. Share AlarmConditionJob class.

[2018-12-12 16:01] hikalkan commented on #4069
Yes, it seems simple to add a boolean. But instead we can create an enum (has PageAlert, Toastr members and PageAlert is default) to make it extensible in the future. We can add an extra optional parameter like dismiss.
Any PR welcome (including UI implementation) :)

[2018-12-12 22:06] willseward commented on #3221
Hello. Just popping in here. This would be a great feature since the `EnableRetryOnFailure` option is basically required for Azure SQL PaaS.

What all would be involved in creating another `IEfTransactionStrategy` implementation to mimic the retry functionality?

[2018-12-13 01:46] thinkershare commented on #4076
## Code of AlarmConditionJob class

[code]

[2018-12-13 02:01] maliming commented on #4076
await _backgroundJobManager.EnqueueAsync<AlarmConditionJob, **long**>
public class AlarmConditionJob : BackgroundJob<**int**>

Try to modify to the same parameter type.

[2018-12-13 02:11] thinkershare commented on #4076
It doesn't work if  version of ABP is bigger than 3.9.0. I used default Job Manager. was the working principle of Job modified in bigger than 4.x.x version? (I've already tested version 4.0.0, 4.0.1 and 4.0.2, but didn't work all, and no exception thrown and no error log recorded)

[2018-12-13 02:15] thinkershare commented on #4076
In fact, generic type is object, but doesn't work.

[2018-12-13 02:17] maliming commented on #4076
@thinkershare
https://aspnetboilerplate.com/Templates
Please use the latest ABP template to simply reproduce the problem you encountered.

[2018-12-13 02:36] thinkershare commented on #4076
OK, I will test after work today.

[2018-12-13 03:13] ludydoo commented on #4073
Hi. Thanks for your response.

I'm sure that it's not a default value since I'm storing a `Guid.NewGuid() `and the default value is `Null`.

I've tried to `Resolve<ISettingManager>`, and everytime, it's `ISettingStore `implementation is the `DefaultSettingStore`, which does basically nothing.

Also, I looked closely at the codebase, and I **haven't found a single place** where:
- The `ISettingStor

[2018-12-13 03:17] acjh commented on #4073
Yes, that's how [Property Injection pattern](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#property-injection-pattern) works.

[2018-12-13 03:22] ludydoo commented on #4073
Just realized that.. thanks.

So my problem probably is that I replace the ServiceStore implentation too late, or too soon.

If too late, the SettingManager is already injected with it's dependencies.
If too soon, I get this

![capture](https://user-images.githubusercontent.com/38968/49913631-456cba80-fe5c-11e8-9c87-b745cf3421a4.JPG)

[2018-12-13 03:34] cfsean opened #4079 "[Bug] Cannot change JSON serializer naming strategy"
* Your Abp package version. - 4.0.2
* Your base framework: .Net Framework or .Net Core. - .NET Core
* Exception message and stack trace if available. - N/A
* Steps needed to reproduce the problem. N/A

It appears to be impossible to change the naming strategy for JSON serialization in an ABP application. It was possible a few versions ago but you have now created AbpMvcContractResolver and have de

[2018-12-13 03:37] BRM013 commented on #976
I'd like to reopen this issue as I believe this is actually a bug.

We have been creating permissions where we have a Parent permission with a Feature Dependency, then we create child permissions on the parent. The Feature is "turned off" by default.

When we view the GetAll request from the client, the "grantedPermissions" array contains the Children but not the Parent, and the children have all

[2018-12-13 03:43] maliming commented on #4079
try `PostConfigure`
[code]

[2018-12-13 03:45] kgbuddhima commented on #4067
Yes.

[2018-12-13 03:49] kgbuddhima commented on #4067
Now it works after I free up some space in C drive. previously it has 6 GB free and now it has 12 GB on SSD.
But sometimes the response crashes when debugging using F10 while reading GetJsonAsync<AjaxResponse<T>>().
I want to know is there memory or configuration requirements when we are going to use aspnetboilerplate template for Xamarin app ?

[2018-12-13 03:49] cfsean commented on #4079
I didn't know about that method.

I just tested and it works great.

Thank you for your help @maliming

[2018-12-13 03:49] #4079 closed

[2018-12-13 03:52] kgbuddhima commented on #4067
Another one thing. ModernHttpClinet shows a warnning symbol in the references that it does not support .netstandard library. So I used HttpClientHandler instead of NativeMessageHandler and applications works.

[2018-12-13 05:02] acjh commented on #4073
What are you trying to do?

[2018-12-13 05:42] ismcagdas commented on #976
@BRM013 I know this is a bit confusing situation but it is a documented behaviour actually, see https://aspnetboilerplate.com/Pages/Documents/Authorization

So, you should use child permission with the parent permission in your code. For example, on an app service, if you put parent permission on top of App Service class and child permisison to one of its methods, this won't be a problem.

Same is

[2018-12-13 05:49] ebicoglu commented on #4067
Hi,

Xamarin application is not open-source and being supported on https://support.aspnetzero.com

[2018-12-13 05:49] #4067 closed

[2018-12-13 10:31] ionutboanta-walkerscott opened #4081 "Static Roles GrantedPermissions list assignment"
Hello, I have an issue with Static Roles GrantedPermissions list assignment.
The GrantedPermissions list can be popuplated like this:

[code]

But when I try to assign the values from an existing list

[code]

I get a compiler error stating that GrantedPermissions is read only.

Is there any way to achive the latter or is it only possible to populate the list using the first method?

Thank you.

[2018-12-13 12:06] acjh commented on #4081
Show complete code.

[2018-12-13 12:15] xyfy opened #4082 "the dynamic api cannot receive an IFormFile object."
in backend
`Task Import(Microsoft.AspNetCore.Http.IFormFile file)`

in  js file:

`_tenantService.import(new FormData(_$importForm[0]))`
[code]
all above not worked, I received a value with null

[2018-12-13 12:38] ionutboanta-walkerscott commented on #4081
I updated the code to include the complete snippet

[2018-12-13 15:15] mwj033 opened #4083 "about the aspNetCore dynamic api"
[code]

Can you modify the above code for the following custom implementation？

[code]

[2018-12-13 18:17] highboi51 opened #4084 "Prevent modal close on escape"
How can i overwrite the default functionality of hitting escape when a modal is presented?
I did a search for `which === 27` but came up empty handed.

I DOT NOT want the modal to close when escape is pressed.

[2018-12-13 21:32] BRM013 commented on #976
The documentation is not clear on this.
https://aspnetboilerplate.com/api-docs/html/M_Abp_Authorization_Permission_CreateChildPermission.htm

Given most developers read code, the description on this method should really be updated.

Also, I think a more expanded example in your Documentation, that includes Parent/Child and Feature Dependencies would help to make this point clear.

[2018-12-13 21:35] cfsean commented on #976
As per @BRM013 comments
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/ef86d718d6c0cd344d57b0290c10023c955d5a4b/src/Abp/Authorization/Permission.cs#L18

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/ef86d718d6c0cd344d57b0290c10023c955d5a4b/src/Abp/Authorization/Permission.cs#L86

[2018-12-13 22:47] ludydoo commented on #4073
I’m trying to use the SettingStore instead of the DefaultSettingStore .

[2018-12-13 23:33] acjh commented on #4073
Show code.

[2018-12-14 01:38] maliming commented on #4082
please refer: #3613

[2018-12-14 01:38] #4082 closed

[2018-12-14 01:40] bbakermmc opened #4085 "Override Claim Types"
How do I override these values to remove the reference to aspnetboilerplate?  We want to just have "TenantId" instead of your URL.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp/Runtime/Security/AbpClaimTypes.cs#L32

[2018-12-14 01:42] maliming commented on #4084
Do you mean Modal?

https://getbootstrap.com/docs/4.0/components/modal/#via-javascript

Name | Type | Default | Description
-- | -- | -- | --
keyboard | boolean | true | Closes the modal when escape key is pressed

[2018-12-14 01:45] maliming commented on #4085
If you do this, you need to modify too many components. This is not worth it.

Such as: https://github.com/aspnetboilerplate/aspnetboilerplate/search?q=AbpClaimTypes

[2018-12-14 02:46] xyfy commented on #3613
I am sorry that I read the inssue,but I have a different problem .I can't receive a IFormFIle objet in service,
I always received a null value.

How do you send the request??? @ClementeGao

[2018-12-14 03:08] maliming commented on #4085
Do you mean to modify this string?
` "http://www.aspnetboilerplate.com/identity/claims/tenantId"`

[2018-12-14 03:12] highboi51 commented on #4084
Ah, it’s a bootstrap thing. Thanks.

[2018-12-14 03:12] #4084 closed

[2018-12-14 03:13] ludydoo commented on #4073
I've shown it already.

`        public override void PostInitialize()
        {
            IocManager.Resolve<AppTimes>().StartupTime = Clock.Now;
            Configuration.ReplaceService<ISettingStore, TecSettingStore>();
            var manager = IocManager.Resolve<SettingManager>();
            var store = IocManager.Resolve<ISettingStore>();
            manager.SettingStore = store;

[2018-12-14 03:18] bbakermmc commented on #4085
Yes.

Sent from my iPhone

On Dec 13, 2018, at 10:08 PM, maliming <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you mean to modify this string?
"http://www.aspnetboilerplate.com/identity/claims/tenantId"

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/aspnetboilerplate/aspnetboilerplate/issues/40

[2018-12-14 03:37] ludydoo commented on #4073
The SettingStore property is not injected

[2018-12-14 03:45] maliming commented on #4085
try:  `AbpClaimTypes.TenantId = "MyTenantId";`

[2018-12-14 03:46] ludydoo commented on #4073
[code]

[2018-12-14 04:11] ludydoo commented on #4073
I've found the issue. My problem was that I was using multilingual entities. The documentation doesn't say anything about where you have to register the MultiLingual mapping for multilingual entities.

I registered mine in the Core.Initialize method. But to register them, you have to get an instance of the ISettingStore from the Ioc container. That forces the creation of the SettingStore. But at t

[2018-12-14 05:02] singhkamall commented on #1152
Looks like you were trying to use OData with Authentication from Excel data connection which is exactly what I am struggling to achieve.
Were you able to successfully implement this? If yes, can you please summarize it?
Thanks

[2018-12-14 05:43] ismcagdas commented on #4073
@ludydoo you should also use ReplaceService in the PreInitialize of your modules.

[2018-12-14 05:43] #4073 closed

[2018-12-14 05:45] xyfy opened #4086 "the dynamic api in net core cannot receive an IFormFile object"
I had try to  receive an IFormFile object in dynamic api ,but it not worked.

`Task Import(Microsoft.AspNetCore.Http.IFormFile file)`
`_tenantService.import(importTenantDto)`

I am sorry that I read the inssue #3613
but I have a different problem .I can't receive a IFormFIle objet in service,
I always received a null value.

[2018-12-14 05:48] maliming commented on #4086
I will give you an example later.

[2018-12-14 06:01] ismcagdas commented on #4082
@xyfy you should use a controller for that instead of app service.

[2018-12-14 06:09] xyfy commented on #4082
you mean it does not support by app service?
or the best way is using  app service

[2018-12-14 06:32] ismcagdas commented on #4082
I haven't tried it with app services before but there were problems which I don't remember.
If you don't have any restriction, using a controller is better.

[2018-12-14 06:35] xyfy commented on #4082
thanks , I will try to use controller instand,

I thought it was because I did something wrong and the value received was null.

I want to know the right  way to do it .

[2018-12-14 06:52] maliming commented on #4086
![image](https://user-images.githubusercontent.com/6908465/49987862-d6a07600-ffaf-11e8-99b9-0f286d322530.png)

![image](https://user-images.githubusercontent.com/6908465/49987884-e0c27480-ffaf-11e8-9683-b6698811528a.png)

[2018-12-14 06:52] #4086 closed

[2018-12-14 07:05] xyfy commented on #4086
Thank you very much!

in your case,it do not use ajax to upload ,but just sumbit form.

do you mean it does not support submit using ajax,

like  _fileappservice.upload(XXXX)?

[2018-12-14 07:40] maliming commented on #4086
I didn't test ajax, but I think they are all post requests, it should be fine.

[2018-12-14 07:52] xyfy commented on #4086
I test it , using the auto generate abp service method.  the service receive a null value

that's why I come here to find help~

[2018-12-14 08:13] PrivateClare opened #4087 "Abp.BackgroundJobs.BackgroundJobManager - Database operation expected to affect 1 row(s) but actually affected 0 row(s)."
Abp.BackgroundJobs.BackgroundJobManager  - Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concurrency exceptions.
Abp.Domain.Uow.AbpDbConcurrencyException: Database operation expected to affect

[2018-12-14 08:20] maliming commented on #4086
Automatically generated ajax cannot upload files.
You need to handle it yourself. These are not within the scope of abp (belonging to NET CORE MVC)

[2018-12-14 08:21] maliming commented on #4087
please share you related code.

[2018-12-14 13:00] ludydoo commented on #4073
That was not the issue.

ReplaceService was done in PreInitialize

The documentation for Multilingual entities does not specify that we must register the multi lingual maps **after** the EntityFrameworkCore module has been Initialized, otherwise the SettingManager will **not** be injected with the SettingStore, and will use the DefaultConfigSettingStore without any warning.

[2018-12-14 13:02] ismcagdas commented on #4073
@ludydoo I know but I just realized you have used it in PostInitialize here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4073#issuecomment-446476991 and wanted to warn you.

[2018-12-14 15:29] peeranon opened #4088 "Bug in Identity Errors Messages"
As I was going through IdentityResult localizations extensions, I realized some errors are being mapped mistakenly.
For example "Passwords must have at least one digit ('0'-'9')" error is being mapped to "Identity.PasswordRequiresDigit" and there is no related record in localizations resources.
The correct mapping would be "PasswordRequireDigit".

FYI, I'm currently using ABP version 4.0.2.

[2018-12-14 15:53] #3858 closed

[2018-12-14 15:53] #3909 closed

[2018-12-14 15:53] #3933 closed

[2018-12-14 15:56] #3939 closed

[2018-12-14 16:01] #3970 closed

[2018-12-14 16:01] hikalkan commented on #3943
It would be a good feature to mark a resource as "server only".

[2018-12-14 16:11] hikalkan commented on #4088
Thanks for reporting. Will check all.

[2018-12-14 18:45] fabio-basedev commented on #2735
Hi @ismcagdas  and @chrsas

I have this issue too.... Do you solved it?

[2018-12-14 22:10] lommez commented on #4035
@rahulbpatel, your action method return what kind of object, IActionResult?
If so, try to change to ObjectResult

[2018-12-14 23:04] pagner opened #4089 "Test EF6.x with .NET 5 templates"
Hey guys,
With the release of .Net Core 3.0 just around the corner, Can you please bring back support for Entity Framework 6.0? The new .Net Core 3.0 supports EF6!!

The current version of ABP Does Not support EF6. It does not work, I've tried.

See the preview available here:
https://dotnet.microsoft.com/download/dotnet-core/3.0

[2018-12-15 00:54] maliming commented on #4089
Is there any introductory article about supporting EF 6?

[2018-12-15 06:04] osalas891123 opened #4091 "What should i use better on my situation Multitenancy or Single Tenant approach."
I'm modeling a kind of billing app that involve 3 main roles on the system, Insurer, Medical Provider and Analyst, i choose aspnetboilerplate application framework to build my solution. I'm trying to choose Single vs Multitenancy from my constraints.

1. Medical Provider, need to enroll Patients, that can't be seen by other Providers
2. Medical Provider, have a manager account, created by the mana

[2018-12-15 06:09] maliming commented on #4091
It doesn't sound like the scope of multi-tenancy.

https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy

"Software Multitenancy refers to a software architecture in which a single instance of a software runs on a server and serves *multiple tenants*. A tenant is a group of users who share a common access with specific privileges to the software instance. With a multitenant architecture, a s

[2018-12-15 06:17] osalas891123 commented on #4091
I already know what multitenancy is, the problem is the approach that the framework bring to us, to get ready with the solution.
1. Automatic Data Isolation (If use multitenancy, IMayHaveTenant)
2. Edition and Subscription features ( Is not free from provider to use our application)
3. Provider admin (tenant admin) can create his own users.

Do you mean multi-instance architectures fit better in m

[2018-12-15 08:07] ryancyq commented on #4089
There is a planned road map for it.

https://github.com/aspnet/EntityFramework6/issues/271#issuecomment-437087836

[2018-12-15 11:08] ismcagdas commented on #4091
@osalas891123 it is hard for us to make a suggestion for a custom domain. If you decide not to use Multi Tenancy, you can create filters similar to IMayHaveTenant but I'm not sure about subscription features.

[2018-12-15 11:17] #4088 closed

[2018-12-15 17:12] osalas891123 commented on #4091
@ismcagdas  This is exactly the focus of my concern, maybe I can’t take the multi tenant approach due to “the concept of multitenacy”, but at the end if don’t use multitenancy I lost a lot of features that need for my solution.

I can create filter like ICreatorUserId (EF Core), but lost well tested solutions already implemented

[2018-12-15 18:41] pagner commented on #4089
@ryancyq You are looking from the EF6 direction. From the .Net direction it is now supported!

https://blogs.msdn.microsoft.com/dotnet/2018/10/04/update-on-net-core-3-0-and-net-framework-4-8/

[2018-12-15 18:59] osalas891123 opened #4092 "Custom filter on ABP using EF Core"
Can i use custom filter if using ef core with ABP, there is already a feature on ef core that allow use custom filter but, Fit this on abp Data Filter environment, the docs say this feature is only for EF 6.x

[2018-12-16 00:15] deepakkumarbarik commented on #192
Could not find localization source: AbpWeb . Getting this error in the first screen itself. Pleas guide ASAP

[2018-12-16 14:36] ly303550688 opened #4094 "PermissionChecker doesn't check is the userId is belong to the tenant from the url"
Login at a.domain ,then change url to b.domain, then can get the data of tenant b

[2018-12-16 14:45] jasenf commented on #3221
If I'm reading this correctly, are we basically saying that Abp is not compatible with Azure if we rely on transactions?  If so, IMO, this should be considered a high priority and not one for the community to solve.  Not providing native Sql Azure and Azure hosting support is a huge huge hole.

[2018-12-16 19:02] ismcagdas commented on #4094
@ly303550688 you shouldn't be able to login to b.domain.com if you already logged in to a.domain.com.

Also, it is not PermissionChecker's job to filter data based on current tenant, it should be done automatically.

[2018-12-16 19:15] ismcagdas commented on #192
@deepakkumarbarik if you see this error on browser console, first try to open the website on Google Chrome's incognito mode. If not, please share the full stack trace.

[2018-12-16 20:44] zainuvk opened #4095 "Connect to Azure Cosmosdb (documentdb) and SQL Server in aspnet boilerplate"
aspnet boilerplate version 3.9
.Net core 2.0

I am a newbie and started using aspnet boilerplate 2 months back.Thanks a lot for sharing this framework.Apologies if this query has been answered before in this forum.

I am working on an application in ASP.NET Core Web API to connect to Documentdb along with a SQL database which is in Azure. I am extending the template webapi,angular,asp.net core ava

[2018-12-17 02:40] ly303550688 commented on #4094
I use the DomainFormat config, and logged in to a.domain.I change url to b.domain it's also logged in,but the current tenant is b

[2018-12-17 03:18] PrivateClare commented on #4087
private readonly IBackgroundJobManager _backgroundJobManager;
 public string HandleCreateAuth(string authCode, WxAppType appType)
        {
            var createParam = new CreateAuthParam { AppType = appType, AuthCode = authCode };
            _backgroundJobManager.Enqueue<CreateAuthJob, CreateAuthParam>(createParam);
            return "success";
        }

[2018-12-17 05:26] osalas891123 opened #4097 "Abp.GraphDiff on Entity FrameworkCore"
Can i use Abp.GraphDiff with EntityFramework Core to solve disconnected scenario for Update and Delete with Child Collection Entities?

[2018-12-17 05:37] ismcagdas commented on #4097
@osalas891123 no, this pacakge https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.EntityFramework.GraphDiff is for EF 6.x

[2018-12-17 06:00] ismcagdas commented on #4087
@PrivateClare could you also share the Execute method of CreateAuthJob ?

[2018-12-17 06:05] ismcagdas commented on #4094
@ly303550688 I'm not sure how it happened but users of Tenant A shouldn't be able to login when switchin the url to Tenant B's.

So, I think you should check it first. If you have any overrides for ABP's core classes, you can check them first.

[2018-12-17 06:08] alirizaadiyahsi commented on #3808
https://medium.com/volosoft/migrating-from-asp-net-mvc-5-x-to-asp-net-core-520c9aa65e2c

[2018-12-17 07:05] ismcagdas commented on #2735
@fabio-basedev does this happen al the time or just sometimes ?

[2018-12-17 07:12] ismcagdas commented on #4068
@ahmedtolba1984 are you still having this problem ?

[2018-12-17 07:16] maliming commented on #4068
I think it should be solved. #4071

[2018-12-17 08:08] TotoWece commented on #622
Just Wanna Ask, Could You Get "Ship_DeckPlan" Object (Which Is a Class) Using AutoMapFrom ??

[2018-12-17 08:30] ismcagdas commented on #3221
@jasenf ABP works with Azure but it doesn't support retry mechanism. We will try to work on this for the v4.1 milestone.

[2018-12-17 08:59] laball opened #4098 "When I try to define a quartz job in a plugin module,while I start the we project ,I got: "Could not schedule jobs and triggers from file"
When I try to define a quartz job in a plugin module,while I start the web project ,I got:
"Could not schedule jobs and triggers from file ~/quartz_dps_jobs.xml: Could not load type 'Snw.Cloud.DPS.Application.TestJob,Snw.Cloud.DPS.Application' Could not load type 'Snw.Cloud.DPS.Application.TestJob,Snw.Cloud.DPS.Application'"

quartz_dps_jobs.xml like this:

[code]

And when I create a job out of a

[2018-12-17 09:20] fabio-basedev commented on #2735
Hi @ismcagdas!

This happen always when run all test classes....

[2018-12-17 14:18] jasenf commented on #3221
Ok thanks, but what happens?  Does a transaction fail/rollback if we get one of their famous Transient Failures?  It seems like the logical thing that would happen, just need to know..

[2018-12-17 14:52] ismcagdas commented on #4098
@laball I think you should move your job to a common module rather than using your AppModule.

[2018-12-17 16:53] vdurante opened #4099 "CreatorUserId and TenantId not being set automatically on Insert"
I have created a table using the code bellow:

[code]

I am inserting using the code bellow, o my AppService:

[code]

I have checked that inside `AuditUsage`, the `AbpSession` is set properly. Any suggestion on why I get the following when using the code above?

![image](https://user-images.githubusercontent.com/5401232/50102046-3e063200-020b-11e9-9d38-4954e3e756d4.png)

Abp version: 3.8.1

Thank

[2018-12-17 18:38] willseward commented on #3221
@jasenf The logical thing would be to replicate the behavior of the old EF6 `SqlAzureExecutionStrategy` and retry transactions based on the known transient error codes. Obviously that is a bit harder when we are working at higher levels.

Also, per the question in your comment, currently if a transient failure error occurs, the transaction is currently rolled back by the current DB transaction beh

[2018-12-17 18:47] osalas891123 opened #4100 "How can i log SQL querie translation on App_Data logs"
I Need to log queries on development but only access related logs are shown on Logs.

[2018-12-17 21:07] willseward commented on #3221
@jmhinnen You're lucky! We've had similar traffic but we've had around 500. It could be a regional issue, or it could depend our specific setup.

[2018-12-18 01:05] liangshiw commented on #4100
This has nothing to do with the abp framework. You can record the generated sql in the log when the ef executes the query.

[2018-12-18 01:32] maliming commented on #4099
EF 6 or EF Core?

[2018-12-18 05:51] #4100 closed

[2018-12-18 06:35] ismcagdas commented on #622
@TotoWece did you have a similar problem ? Yes, if you use `AutoMapFrom[typeof(Ship_DeckPlanModel)]` on a Ship_DeckPlan class, then you can create a Ship_DeckPlan from a Ship_DeckPlanModel class.

[2018-12-18 06:59] ismcagdas commented on #4098
@laball does your Plugin module project references Snw.Cloud.DPS.Application.TestJob,Snw.Cloud.DPS.Application project ?

[2018-12-18 07:59] XelaNimed commented on #3657
@maliming Could you please clarify in which file you need to add the code you specified? I am using the Zero Core MVC template version 4.2.0 and have encountered the same problem. I tried to add the code you suggested to Program.cs in projects * .Web.Mvc and * .Web.Host, but this had no effect.

[2018-12-18 08:37] laball commented on #4098
Snw.Cloud.DPS.Application is the plugin module
and Snw.Cloud.DPS.Application.TestJob is the job full name.

[2018-12-18 18:05] jasenf commented on #3221
Yes, we also run a very heavily trafficked SaaS product getting hundreds of requests a second. all day long.. so we see the Transient error at least a few times a day.   I assumed the entire transaction would roll back, as that's what happens in our current production app.  But as we migrate to Abp/Az I just need the to know what's ahead.  Thanks!

[2018-12-18 21:03] rc201612 opened #4101 "Notify other users of changes on a particular page"
Hi,

I'm trying to work out if it is possible to detect which users are in a certain screen and notify them.

For example: I have a screen that is a bit like a calendar view that shows appointments. Let's assume there are ten users viewing this screen on ten different devices. How best to detect which users are on the screen and sending a notification or similar which triggers the other users to r

[2018-12-18 23:40] acjh commented on #4101
See [Working with Groups in SignalR](
https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/working-with-groups). Use 1 group per page.

[2018-12-18 23:42] #3977 closed

[2018-12-19 01:54] maliming commented on #4099
try: **TenantId = AbpSession.TenantId**
[code]

[2018-12-19 05:24] cuibty opened #4102 "upgrade to aspnet core 2.2.0"
upgrade to aspnet core 2.2.0

[2018-12-19 09:16] tnlthanzeel opened #4103 "Can't create component 'Inx.Membership.Authorization.LogInManager' as it has dependencies to be satisfied. throws the above error when i run my webjob"
Can't create component 'Inx.Membership.Authorization.LogInManager' as it has dependencies to be satisfied.

'Inx.Membership.Authorization.LogInManager' is waiting for the following dependencies:
- Service 'Inx.Membership.Authorization.Users.UserManager' which was registered but is also waiting for dependencies.
'Inx.Membership.Authorization.Users.UserManager' is waiting for the following dependenc

[2018-12-19 09:17] tnlthanzeel commented on #4103
throws the above error when i run my webjob

[2018-12-19 12:15] acjh commented on #4103
Show code.

[2018-12-19 12:31] tnlthanzeel commented on #4103
[code]

[2018-12-19 12:32] tnlthanzeel commented on #4103
[code]

[2018-12-19 12:34] acjh commented on #4103
Where are you injecting `MeberLevelService` and calling `Execute()`?

[2018-12-19 12:37] tnlthanzeel commented on #4103
[code]

[2018-12-19 12:42] rc201612 commented on #4101
Hi,

Thanks for your reply.

Is this something that is possible using the AbpCommonHub? Does it support groups?

Thanks.

[2018-12-19 13:47] vdurante commented on #4099
@maliming worked like a charm! Thank you <3!

[2018-12-19 13:47] #4099 closed

[2018-12-19 13:49] gpcaretti commented on #3915
This is a very interesting feature, but I don't fine the way for activating it. My application continue to receive the not-minified version of the dynamically created script.
Is there a documentation?

[2018-12-19 14:05] guilmori opened #4105 "Upgrade ABP from 1.5.1 - Huge performance hit"
We upgraded ABP from v1.5.1 to latest v4.0.1.

Once we deployed to production environment (Azure App Service), we noticed a huge increase of CPU usage, about 2-3 times more. Database usage was unaffected by the upgrade.

We tried downgrading ABP a couple versions, and the issue remains even with v2.1.0.
So we reverted back to v1.5.1 and CPU usage was back to normal.

I know this is very old versio

[2018-12-19 15:06] gpcaretti commented on #4076
@thinkershare
I use background worker and it works both in aBP 3.x and 4.0.x.

Here are snipped of my code. Maybe it helps:

The interface:

[code]

[2018-12-19 16:44] jonassix commented on #2164
Hi ,(sorry to reopen this issue again, but it seems the right place)

Just to make it clear, am i correct to assume that the current nHibernate implementation only works for one database(aka the host database)  and that all tenants(and their data) must exist in the main database?

I implemented nhibernatecore with abpcore and only just ran in to this issue.

Thank you in adance for taking a look a

[2018-12-19 23:54] natiki commented on #4105
@guilmori perhaps you can give is side by side Stackify output? When you run it locally do you see the same behaviour? Are there different CPU usage scenarios seen in various areas of the app? So for instance area A is still behaving the same after the upgrade CPU wise but area B is not?

[2018-12-20 01:15] #4085 closed

[2018-12-20 05:45] ismcagdas commented on #4105
@guilmori is it possible to reproduce this problem using a fresh ABP template ?

[2018-12-20 07:20] #4072 closed

[2018-12-20 07:48] saliksaly commented on #3367
Hi, would someone know answer this question?
https://stackoverflow.com/questions/53852701/abpexceptionfilter-does-not-work-for-web-not-dynamic-app-controllers

[2018-12-20 11:00] #4102 closed

[2018-12-20 16:03] acjh commented on #4061
@hotwer Does it work if you don't override `IsTransient`? Also, show update code.

[2018-12-20 16:09] acjh commented on #4103
Create a repro project on GitHub, preferably by forking [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

[2018-12-21 03:05] zipiii commented on #954
Workflow Engine
https://github.com/optimajet/WorkflowEngine.NET

[2018-12-21 03:29] Keither opened #4106 "Login without tenant Abp Core"
I use one database with multiple tenant, can I for user login without tenant, when user login success, i will find tenant with email? (my user table have tenantId)

[code]

Thank so much!
Sorry my English not good!

[2018-12-21 03:44] maliming commented on #4106
You can log in to the Host user without passing the tenant information.
Like **Abp.TenantId**
https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#determining-current-tenant

[2018-12-21 11:21] zsanhong opened #4107 "[Need help] how to use IDapperRepository<T> GetAllPagedAsync() method?"
I Integrated Dapper in my application,but I don't know how to use IDapperRepository GetAllPaged() method, the method tips is :

[code]

see [here](https://aspnetboilerplate.com/api-docs/html/M_Abp_Dapper_Repositories_AbpDapperRepositoryBase_2_GetAllPagedAsync.htm) any example ? Thanks a lot

[2018-12-21 12:56] miuosh opened #4108 "Change language"
Hello,

I have problem with language settings. I can pick language in client side, changes are saved to DB in abpsettings.NAME as Abp.Localization.DefaultLanguageName. The problem is that when I select french language the client side is translated but when I pick any other language I get my page translated to english (which is default). In boilerplate there is many more languages to pick and I'd l

[2018-12-21 13:12] ismcagdas commented on #4108
@miuosh is this happening for a new language you have added ? If so, restarting the app might help.

[2018-12-21 13:23] miuosh commented on #4108
@ismcagdas I restart app and rebuild solution. It is happening for new language I add and for languages already shipped with boilerplate so that's little bit confusing.

[2018-12-21 18:06] inernoro opened #4109 "post and submit send data Error occurred"
* Your Abp package version.
v3.8.0
exclusive Tenant and zero
* Your base framework: .Net Framework or .Net Core.
.net core
* Exception message and stack trace if available.
System.ArgumentNullException: Value cannot be null.
Parameter name: key
   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at Microsoft.AspNetCore.Http.Internal.RequestCookieCollection.ContainsKey(String key)

[2018-12-21 18:08] inernoro commented on #4109
var xmlhttp = new XMLHttpRequest();
xmlhttp.open("POST","http://localhost:5000/api/services/app/store/getallname",true);
xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
xmlhttp.send("fname=Bill&lname=Gates");
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    }
  }

[2018-12-21 19:41] acjh commented on #4109
Fixed in v4.0.1 by #3986.

[2018-12-21 19:41] #4109 closed

[2018-12-21 19:51] acjh commented on #4109
It has. Your issue says v3.8.0.

[2018-12-21 19:56] inernoro commented on #4109
yes，i download not include zero and tenant ，is 3.8.0，I just downloaded it again. It's still 3.8.0.

[2018-12-22 08:52] ryoldash commented on #2953
You can find instructions regarding running the app in ReadMe file. You don't need to combine reactjs folder into aspnet-core folder. aspnet-core folder is Backend of your app and reactjs folder is Frontend of your app.

Detailed instructions about how to build react app with Asp.net Boilerplate will be available soon. We are planning to write a step by step "Howto" tutorial.

[2018-12-22 10:18] mehdihadeli opened #4110 "How can i authenticate application service before call?"
there is an attribute for doing that?

[2018-12-22 10:34] ryancyq commented on #4110
See https://aspnetboilerplate.com/Pages/Documents/Authorization#checking-permissions

[2018-12-22 11:02] #4110 closed

[2018-12-22 12:33] yocabanes commented on #2953
Thanks a lot @ryoldash for your comment, its really appreciated. I was able to run the react app successfully, my problem was related to integrate it into the asp.net solution since they are in separated folders. My question came up because I first downloaded the angularjs template (Asp.Net MVC), and everything is in the same solution (front-end and back-end) just separated by projects, and that's

[2018-12-22 13:30] mehdihadeli opened #4111 "why I can't download file in my AppService layer in abp?"
[code]

Result is a json data:

[code]

[2018-12-22 21:32] inernoro commented on #4111
I have the same question.

[2018-12-23 03:42] BootsShu commented on #2419
Hello,
    ABP.Dapper still seems to not support QueryMultiple queries？

[2018-12-23 03:53] BootsShu opened #4112 "ABP.Dapper One-to-many, many-to-many problem!"
Hello !
    In abp.dapper, I have not found methods such as one-to-many, many-to-many, etc. ? If it is convenient, give some tips, can you see it?

[2018-12-23 04:41] osalas891123 commented on #4097
@ismcagdas There is any recommendation for ef core based on what this package resolve?

[2018-12-23 04:59] acjh commented on #4109
v3.8.0 is the version of the [aspnet-core-template](https://github.com/aspnetboilerplate/aspnet-core-template/releases), not the version of ABP.
That template is not updated as regularly as [module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

Indeed, that version is on ABP v3.9.0, so you should update to ABP v4.0.1.

[2018-12-23 05:46] acjh commented on #4101
No, `OnlineClientManager` does not support groups.

You should create a dedicated Hub.

[2018-12-23 07:38] maliming commented on #4112
Can you elaborate?

[2018-12-23 08:04] BootsShu commented on #4112
of course！
  I need to use abp.dapper to implement the following entity mapping function.
  eg:
   public class Employees4List
{
    public int Id { get; set; }
    public string Name { get; set; }
    public string Mobile { get; set; }
    public List<Role4Employees> Role { get; set; }
    public Department4Employees Department { get; set; }
}
public class Role4Employees
{
    public int Id { get

[2018-12-23 08:07] BootsShu commented on #4112
of course！
I need to use abp.dapper to implement the following entity mapping function.
eg:
role:
class Group
{
    public string ID{get;set;}
    public string Name{get;set;}
    public List<Rights> RightsList{get;set;}
}

Rights:
class Rights
{
    public string ID{get;set;}
    public string Name{get;set;}
}

table:
CREATE TABLE `t_group_right` (
  `rightId` varchar(50) NOT NULL,
  `groupId` va

[2018-12-23 08:19] mehdihadeli commented on #4111
I call this service from angular, I have the same problem with calling this service with swagger

[2018-12-23 09:59] rc201612 commented on #4101
Great. Thanks for the reply!

[2018-12-23 09:59] #4101 closed

[2018-12-23 18:04] hikalkan commented on #3915
Dynamically create script is not being minified. You can create a new issue to request it, so we may implement it in next versions. Thanks.

[2018-12-23 18:16] hikalkan commented on #2164
It seems like that. If you create an issue for it, we may check for a possible implementation.

[2018-12-23 19:32] hikalkan commented on #4111
Return ``Task<FileResult>`` or ``Task<ActionResult>`` from your method.

[2018-12-23 22:05] osalas891123 opened #4114 "Recommended approach to udpate entire aggregate through repository."
What is the best approach to dynamic add, update, delete an entire Aggregate using repositories in ABP?

[2018-12-23 22:43] osalas891123 opened #4115 "How to avoid unnecessary database roundtrip when udpate."
if i go through repository i have not chance to mark Modified or UnModified for a entity when call an Update in AppService, there is any recommended approach for this?

[2018-12-24 00:49] acjh commented on #4115
Provide a code example of what you are trying to achieve.

[2018-12-24 01:02] #4111 closed

[2018-12-24 07:39] ismcagdas commented on #4114
@osalas891123 could you explain it a bit more detailed ?

[2018-12-24 07:51] osalas891123 commented on #4114
@ismcagdas let say i have a classic Order, OrderLine relationship and through my Create, Update View i'm able to add, update, delete OrderLines from Order, if i use IRepository<Order> with Automapper i can't update existing OrderLines without ignoring OrderLines and manually update and delete based on what come in DTOs, also can't cascade delete OrderLine from Order if OrderLine is FullAuditedEnti

[2018-12-24 08:03] jonassix opened #4116 "abp.nhibernate does not use IConnectionstringResolver"
Hi,

It seems that the nhibernate package does not use the IConnectionStringResolver.
I have discoverd this by using depency injection to try and implement my own connectionstringresolver.

I think the solution for this would be to implement the interface "DriverConnectionProvider" from nhibernate.

[2018-12-24 08:15] hikalkan commented on #4116
Thank you for creating the issue. Any PR would be awesome. We will work on this if no one sends PR :)

[2018-12-24 08:41] ismcagdas commented on #2953
@yocabanes we have changed the approach we used for AngularJS.
If you download Angular or VueJs version, you will see that they are also in separated folders.

We don't want to merge API project with the client app in the same solution.
If you work with this approach, you will like it as well I guess 😄

[2018-12-24 14:18] jonassix commented on #4116
Today i tried to create a good solution for this but failed. Will try again in the beginning of january.
Happy holidays!

[2018-12-24 17:01] gpcaretti opened #4118 "Merry Christimas"
Merry Christmas to all the ABP team.
Thank you very much for your precious work.

Gianpiero

[2018-12-25 01:14] #4106 closed

[2018-12-25 06:33] ismcagdas commented on #4114
@osalas891123 could you share a sample code for this ?

[2018-12-25 07:24] wulaiwei opened #4119 "how to use custom EfCoreUnitOfWork replace abp EfCoreUnitOfWork"
Hello, I want to use custom EfCoreUnitOfWork  to replace abp EfCoreUnitOfWork , I want  to   know ,Is it supported?  If support？  How should I deal with it?
example:
public class RiskEfCoreUnitOfWork : UnitOfWorkBase, ITransientDependency
{
              //TODO ....
}

[2018-12-25 07:38] maliming commented on #4119
try
[code]
https://aspnetboilerplate.com/Pages/Documents/Startup-Configuration#replacing-built-in-services

[2018-12-25 07:38] #4119 closed

[2018-12-25 08:55] osalas891123 opened #4120 "(Question) Is my design well mapped with ABP concepts"
I have the following environment and use ABP concepts on each one
Medical Providers (Tenants) -> there is an admin, that can create other users (on the role User), **Medical Providers can create bills to Insurers.**
Manager (Super Admin) -> Belong to HOST has all permissions
Insurer (Belong to HOST) -> Review medical claims that has been billed from Medical Providers to him
Analyst (Belong to HOST

[2018-12-25 08:58] maliming commented on #4120
#4091

[2018-12-25 09:16] moguzalp opened #4121 "Loaded permissions gone null when call comes from webapi"
* Your Abp package version.

My base frame work is .Net framework

Here is my permission manager :

[code]

And here we it is resolved:

[code]

When I make calls from my mvc project it works fine with permission manager having MySession property: Permission has relevant permissions from db and it is registered as singleton.

However once I do call from Web Api,  all permissions gone and set to nu

[2018-12-25 09:35] zfmy opened #4122 "[Question] nullable object in query with Abp.Dapper"
The following code generated sql is not the same, note the Id. Is this intentional?

    int? id = 1;

    //1 dapper, sql: SELECT COUNT(*) AS `Total` FROM `Goods` WHERE ((`Goods`.`Id` = 1) AND (`Goods`.`Name` = 'dapper'))
    var count1 = await _dapperRepository.CountAsync(a => a.Id != id && a.Name == "dapper");

    //2 ef, sql: SELECT COUNT(*) FROM `Goods` AS `a` WHERE (`a`.`Id` <> 1) AND (`a`.

[2018-12-26 06:35] moguzalp commented on #4121
@ismcagdas Thanks for the quick response. I use it for backend service for mobile client as rest api. I don't authorize them. Again the same application is used for hosting mvc and webapi from the same IIS app. I would expect keep permission  manager for mvc and host the webapi. A part of scenario is related this [Stackoverflow Q&A](https://stackoverflow.com/q/53883653/492258) as well.

[2018-12-26 11:38] mehdihadeli opened #4123 "How can i change default formatter to json.net in .Net Core abp ?"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-12-26 11:40] maliming commented on #4123
https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#application-services-as-controllers

[2018-12-26 11:40] #4123 closed

[2018-12-26 23:53] ikhanal commented on #2982
@ismcagdas can we add one more file named `appconfig.production.json` to `assets/` directory and deploy to production server? The reason I am doing is when I test locally it takes url from `appconfig.json` and when deployed to production it uses setting from `appconfig.production.json.`

[2018-12-27 00:30] acjh commented on #2982
Create a separate issue in https://github.com/aspnetboilerplate/module-zero-core-template.

[2018-12-27 03:07] dpcrman opened #4124 "May I ask why IRepository<User, long> cannot be used in IAbpSession"
[code]
the repository doesn't seem to be initialized properly

![image](https://user-images.githubusercontent.com/7519765/50463581-94bbfa80-09c7-11e9-898c-f3a7f1a3745b.png)

[2018-12-27 03:12] maliming commented on #4124
Is there any error log or stack information?

[2018-12-27 03:13] dpcrman commented on #4124
My JWT sub attribute is of guid type, and I want to override abpsession.userid to convert guid to long through IRepository<User, long>

[2018-12-27 03:16] maliming commented on #4124
Please share the error log or stack information.

[2018-12-27 03:34] dpcrman commented on #4124
![image](https://user-images.githubusercontent.com/7519765/50464334-355fe980-09cb-11e9-8d61-d65db66f4cea.png)
Log.txt USES debug level, but there is no error log, only stack information

[2018-12-27 03:35] dpcrman commented on #4124
I wonder if this is an exception or a result of design

[2018-12-27 04:37] tnlthanzeel opened #4125 "how to inject Microsoft.Extensions.Configurations.IConfiguration to unit test, im using ABP version 3.8.3"
Castle.MicroKernel.Handlers.HandlerException
  HResult=0x80131500
  Message=Can't create component 'Inx.Module.Assocify.Services.Providers.AssocifySettingProvider' as it has dependencies to be satisfied.

'Inx.Module.Assocify.Services.Providers.AssocifySettingProvider' is waiting for the following dependencies:
- Service 'Microsoft.Extensions.Configuration.IConfiguration' which was not registered.

[2018-12-27 04:39] maliming commented on #4124
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4964d83ee5eeabfc59ad475f8552dad95c26b050/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L487-L498

The IRepository DbContext will also get the UserId, which will cause the loop.

You can write AbpClaimTypes.UserId claim in JWT.

[2018-12-27 04:42] maliming commented on #4125
Can refer to #3772 to see.

[2018-12-27 04:43] dpcrman commented on #4124
thank you very much for your help.

[2018-12-27 04:43] #4124 closed

[2018-12-27 05:09] tnlthanzeel commented on #4125
thanks @maliming , i just added
            Configuration.ReplaceService<Microsoft.Extensions.Configuration.IConfiguration, Microsoft.Extensions.Configuration.ConfigurationRoot>() ; to my testModule and it worked

[2018-12-27 05:20] #4125 closed

[2018-12-27 05:33] ismcagdas commented on #2982
@ikhanal created an issue https://github.com/aspnetboilerplate/module-zero-core-template/issues/377. It will be in the next release of https://github.com/aspnetboilerplate/module-zero-core-template

[2018-12-27 05:57] ismcagdas commented on #4121
@moguzalp I think I couldn't understand your problem exactly.
Is it possible for you to share an empty project including this problem ?

[2018-12-27 09:00] SuperCatss commented on #3948
Hi，Is there a solution to this problem? I have encountered the same problem and are querying the solution.

[2018-12-27 09:05] acjh commented on #3948
@SuperCatss Please open a separate issue for that discussion, as it's a very different issue.

[2018-12-27 09:33] SuperCatss opened #4126 "(Question) _roleManager.SetGrantedPermissionsAsync Unable to delete permission"
### 1. I created a new permission
### 2.Successfully assigned to the admin role in the role page
### 3.Unable to remove permission for admin role
### 4._roleManager.SetGrantedPermissionsAsync   is not abnormal

`public override void SetPermissions(IPermissionDefinitionContext context)
        {
            context.CreatePermission(PermissionNames.Pages_Users, L("Users"));
            context.Creat

[2018-12-27 09:34] SuperCatss commented on #4126
@acjh

[2018-12-27 11:18] moguzalp commented on #4121
@ismcagdas I'll be preparing and try to repro issue soon.

Before it let me rephrase. My mvc app works fine until webapi makes calls over the same application. Onces webapi makes any call PermissionManager does not hold data any more. Does this make sense?
If yes no need to empty proj else I'll be doing it

[2018-12-27 11:38] ismcagdas commented on #4121
@moguzalp Permissions are loaded for the current user. So, when you are calling your WebAPI endpoint from an external client, you need to use token based auth.

Are you using MVC 5.x or ASP.NET Core ?

[2018-12-27 11:46] moguzalp commented on #4121
@ismcagdas It is MVC 5.x, Let me give more details:

this is KsSession class:

[code]
Where it is initialized:

[code]

As you seen

`var permissions = HttpContext.Current.Session["Permissions"] as List<string>;`

permission is stored in HttpContext.Current.Session but never visited after again. As far as I debug, instead it is got from PermissionManager.

This is possible also, abp framework code

[2018-12-27 13:16] moguzalp commented on #4121
@acjh Here it is:

**1- at first time**
Mvc call
Debug point hit to KsSession it is init to NullKsSession.Instance

    public abstract class KsPermissionChecker<TRole, TUser> : IPermissionChecker, ITransientDependency
        where TRole : Common.Entity.Role, new()
        where TUser : Common.Entity.User
    {
        private readonly KsUserManager<TRole, TUser> _userManager;

        public ILo

[2018-12-27 19:36] osalas891123 commented on #4120
@maliming what i'm asking is a sort of guide on well choice of Entities, there is a lot of [QUESTION] issue related with what to use due to design of tenant, how it works and why not use it in some situation like mine. Tenant bring to us a lot of functionalities already on the framework that can be extended even if Single Tenant is used but we need to re-implement a lot of features already well te

[2018-12-27 19:38] osalas891123 commented on #4120
How could i choose if under one organization the manager can create own users and other entities, can impersonate others but can share to other entities in host?

[2018-12-27 20:02] osalas891123 opened #4127 "(Question) How to access Organization Units defined in Host in Tenants"
Let say i have "host" like a **Company** that review books for **Writers** (tenants), tenants can create its own users, but roles are only admin and single users. writers send revisions to **The Company's** departments(Organization Units, can have subdivisions, maybe per topics) so they can review and accept its notes.

Sample.
**Writer A** send a review request to the "National subdivision of New

[2018-12-28 05:51] SuperCatss commented on #4126
@ismcagdas  Please forgive me, I just need some help.

[2018-12-28 06:17] maliming commented on #4126
@SuperCatss
Prohibits permissions for a role, try `RoleManager`
[code]

[2018-12-28 06:36] SuperCatss commented on #4126
Thank you for your reply, please check my screenshot, _roleManager.SetGrantedPermissionsAsync now works fine, the database value has changed since the method was called, but when I call the Get method, it returns an error.

[2018-12-28 07:58] ismcagdas commented on #4126
@SuperCatss use something like GetRoleForEdit in the RoleAppService, see https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Roles/RoleAppService.cs#L132.

GetEntityById here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Roles/RoleA

[2018-12-28 08:39] SuperCatss commented on #4126
I think I figured out that .
I use asp net mvc without the GetRoleForEdit method, but I can implement it myself.
I made this question because the roleService.getAllPermissions() and  roleService.get()  was called on the role edit page,
This makes me think that the get method is to get the permissions that the role has been set and enabled.

[2018-12-28 08:50] SuperCatss commented on #4126
Is it normal for the role editing page to get all the permissions for the role?

[2018-12-28 11:18] ismcagdas commented on #4126
Yes, because we need to show not granted permissions to user as well, so the user can grand those permissions.

[2018-12-28 13:53] sajasbana opened #4129 "when post form dto input values is null"
Dears,
I'm using mvc and mpa version,
my issue is:
1- when test my service with postman to create role, dto object is set properly and works
2- when using the form to create role, dto value is not set and set to null... then give error

below images show:
this case when use postman
![role1](https://user-images.githubusercontent.com/34976854/50517321-fa3fe200-0ac0-11e9-8f34-1793b98a80e5.PNG)
![role

[2018-12-28 14:36] yocabanes commented on #2953
@ismcagdas Thanks for your comments, I already had noticed those three client apps are separated from the API project. As I said, I'm new on these front end frameworks, could you guys point me out on how to open/work any client app in VS (ex: react), since they don't have any project/solution file associated. Thanks

[2018-12-28 15:45] jawadSharif opened #4130 "This Line Causes Issue while using PostgreSQL"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bc2205f849d942179a5cf0a64e999e86808e6e3f/src/Abp.Zero/Authorization/Users/AbpUserStore.cs#L121

the above line of code fails to match a valid user due to case sensitive nature of PostgreSQL, userNameOrEmailAddress should be normalized and be compared with NormalizedUsername and NormalizedEmail of the user infact that's actually one of the

[2018-12-29 00:49] maliming commented on #4130
thanks @jawadSharif
I will fix it today.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.Zero/Authorization/Users/AbpUserStore.cs#L118-L123

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/d6765239d0003af4e2cce78fbaa33fe1c9c8377a/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L1160-L1165

[2018-12-29 00:56] maliming commented on #4129
![image](https://user-images.githubusercontent.com/6908465/50531596-8399f780-0b47-11e9-9a40-975d868e0d91.png)

What is the complete code in this screenshot?

[2018-12-29 01:10] SuperCatss commented on #4126
I think that users can't confirm which permissions they have enabled from the CheckBox on the page.
When I edit the role permissions, and remove the user permissions CheckBox  and save.Edit again, the user permission at this time is still selected, I personally think this is unfriendly.

[2018-12-29 06:41] xyfy commented on #4122
I think it is a bug~hahaha

[2018-12-29 07:02] mehdihadeli opened #4132 "how to get data from wrap Result from my AppService with use HttpClinet library Angular?"
I read your documentation for getting the result from ajax call, but it uses abp.ajax directly whereas angular HTTP library for ajax call. there is any solution for getting wrap result in angular?

Your sample is :

[code]

[2018-12-29 07:07] maliming commented on #4132
What is the version of angular you are using?

[2018-12-29 07:10] mehdihadeli commented on #4132
version 7.

[2018-12-29 07:16] maliming commented on #4132
You can refer to this project https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/angular

[2018-12-29 10:06] sajasbana commented on #4129
@maliming
I can see now where issue come from:
in below image you can that after call create service in my js file ... it put it as object inside object and name it role, I should be like second image ... i don't know where this is come from

![role5](https://user-images.githubusercontent.com/34976854/50536895-86f2aa80-0b6a-11e9-8a9c-5dcee028641d.PNG)

this is what it should be
![role6](https://us

[2018-12-29 11:20] #4042 closed

[2018-12-30 07:28] mehdihadeli opened #4133 "why using null object pattern for some predefined apb object in property injection?"
In your document for some Property injection like IEventBus, you are using null object pattern in the class constructor whereas property injection injects its implementation.

[code]

[2018-12-31 05:04] tnlthanzeel commented on #4103
cannot o this due to security reasons, any other solutions please?

[2018-12-31 05:57] tnlthanzeel opened #4134 "error in identity core in webjob"
i get the following error when i run the webjob.

 Service 'Microsoft.Extensions.Options.IOptions`1[[Microsoft.AspNetCore.Identity.IdentityOptions, Microsoft.Extensions.Identity.Core, Version=2.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60]]' which was not registered.

[2018-12-31 07:20] faridprogrammer opened #4135 "Issue withe injecting application service in navigation provider"
Hi guys
I have injected an application service in my project's navigation provider in order to generate dynamic data based menus.
I have got the following error in application startup when calling `app.UseAbp();`.
Is this a bug or I am doing something wrong?

[code]

[2018-12-31 08:07] tnlthanzeel opened #4136 "issue in web job when using abp"
Can't create component 'Inx.Membership.Authorization.LogInManager' as it has dependencies to be satisfied.

'Inx.Membership.Authorization.LogInManager' is waiting for the following dependencies:
- Service 'Inx.Membership.Authorization.Users.UserManager' which was registered but is also waiting for dependencies.
'Inx.Membership.Authorization.Users.UserManager' is waiting for the following dependenc

[2018-12-31 09:45] acjh commented on #4135
Show relevant code.

[2018-12-31 09:47] acjh commented on #4134
Duplicate of #4103

[2018-12-31 09:47] #4134 closed

[2018-12-31 09:47] acjh commented on #4136
Duplicate of #4103

[2018-12-31 09:47] #4136 closed

[2018-12-31 09:48] acjh commented on #4103
What security reasons? If it's not reproducible, then how do we offer a solution?

[2018-12-31 11:40] tnlthanzeel commented on #4103
var services = new ServiceCollection();
            IdentityRegistrar.Register(services);
            WindsorRegistrationHelper.CreateServiceProvider(IocManager.IocContainer, services);

adding this line in the preinitialize fixed the problem

[2018-12-31 12:20] #4103 closed

[2018-12-31 16:46] willseward opened #4137 "MailKit not setting Subject header properly"
Abp.MailKit: 4.0.2
MailKit: 2.1.2 (tested with 2.0.6 as well)
ASP.Net Core: 2.2

This issues confuses me. I'm attempting to send an email with `IMailSender.SendEmail` which eventaully calls `MailKitEmailSender.SendEmail(MailMessage)`. When sending the email, everything is normal, but the email has no subject when it arrives. I've narrowed down the issue to something inside `EmailExtensions.ToMimeM

[2019-01-01 07:02] ismcagdas commented on #4137
@willseward could you also share your email sending code ?

[2019-01-01 07:19] ismcagdas commented on #4126
@SuperCatss this is a buggy behavior but I couldn't reproduce it on the latest version. Could you try with the latest version and see if you can reproduce this problem ?

If you can, please specify steps and the template you are using (Angular, React, Vue or Jquery).

[2019-01-01 07:51] mehdihadeli commented on #4133
I read your document, I have a question,
why for some of the types like IEventBuse, IPermissionChecker you defined a null object like NullEventBus, NullPermissionChecker but for some of the predefined types, for example, ISettingManager doesn't exist NullSettingManager?

[2019-01-01 08:55] ismcagdas commented on #4130
@jawadSharif this code section is for EF 6.x. Are you using EF Core or EF 6.x ?

[2019-01-01 11:34] jawadSharif commented on #4130
@ismcagdas i am using EF Core, actually my project is based on Asp.net Zero

[2019-01-01 11:35] jawadSharif commented on #4130
@maliming Thanks

[2019-01-01 11:44] ismcagdas commented on #4130
@jawadSharif thanks. Now I see, EF Core has the same problem and we should fix it, thanks.

[2019-01-01 12:12] EslamElmadny opened #4138 "Sorting and Filtering using fields in Multi-Lingual Translations of entity"
Hello,

I'm using Multi-Lingual feature in entity called **LeaveType** and as mentioned in docs it implements  **IMultiLingualEntity<LeaveTypeTranslation>** and has **ICollection** of Translations ...

I have 2 questions here supposing am using **English** Language:
1. I want to get all leaveTypes with **English Translations** only..
2 .I want to sort by **Name** field located **English Translatio

[2019-01-01 12:19] ismcagdas commented on #4138
@EslamElmadny does all of your records contains English translation ? If so, you can write a query similar to;

[code]

If not all records have English translation, you can do a left join but in that case, Name field will be empty for some records.

Then you can apply an order by on the query object.

[2019-01-01 12:35] EslamElmadny commented on #4138
I will try it , Many thanks for you quick response ....

[2019-01-01 14:57] EslamElmadny commented on #4138
@ismcagdas  it works .. thank you very much :)

[2019-01-01 18:56] #4138 closed

[2019-01-01 18:58] willseward commented on #4137
Sure! It's in a background job, but here's the main part. I can confirm that the subject is not null or whitespace.

[code]

[2019-01-01 18:59] ismcagdas commented on #4133
@mehdihadeli null patter is used for two purposes.

1. For optional dependencies. For example Logger is one of them. If there is no logger implementation, we don't want our app to throw an exception.
2. For the cases we are not interested in the implementation of a class. Unit Tests (or integration tests) are example of this use-case. We Create Null implementation of some interfaces, so we can tes

[2019-01-01 19:42] #4133 closed

[2019-01-02 00:57] SuperCatss commented on #4126
My template is downloaded from the official website on December 18, 2018. Using angular , asp.net mvc , you only need to check roles\editmodal.js.  Here we use getAllPermissions and get method which is used to render the permissions that the user has and the permissions that are enabled.

[2019-01-02 06:48] SuperCatss commented on #4126
Yes,
I found that in BundleConfig.cs,"~/Scripts/jquery.signalR-2.3.3.min.js",
The actual directory should be "jquery.signalR-2.3.0.min.js",

[2019-01-02 09:39] sajasbana opened #4139 "Authorize issue when user logout"
Good evening
i'm using abp latest version template mvc
I noticed small issue, and this is the steps i did:
- download new template from site
- run application
- open screen like roles in 2 tabs in the browser
- in one tab press log out
- in other tab try press create or edit button

-results: create/edit modal is not shown
-expected result: it should logout after press any button of them

Thanks

[2019-01-02 11:32] sajasbana opened #4140 "enhancment: showing validation errors"
Dears
when show errors in abp, is it possible to make this change in abp.jquery file to show validation error in lines

the current it shows the validation error in same string

this is current code:
![from](https://user-images.githubusercontent.com/34976854/50590194-f0d8c000-0e9a-11e9-8a8f-25858376c2ae.JPG)

if possible, new code:
![to](https://user-images.githubusercontent.com/34976854/50590208-

[2019-01-02 11:57] wswind opened #4141 "Deadlink on the website"
on this page:
https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

<https://aspnetboilerplate.com/Pages/Documents/Startup-Template-Core> link is dead.

[2019-01-02 12:11] yekalkan commented on #4108
Hi

I've downloaded a new project from aspnetboilerplate.com and run it. Changing language is working smoothly. So i'm closing the issue. If you can provide more steps to reproduce, i'll check it again.

[2019-01-02 12:11] #4108 closed

[2019-01-02 12:20] #4141 closed

[2019-01-02 14:52] EslamElmadny opened #4142 "Entity History for Aggregate Root"
Hello,
As Documented
Entity History only works for **entities** and **owned entities**.
Is it means it can't work with **AggregateRoots** ?! as i tried this case and it isn't working for me ...

[2019-01-02 15:00] acjh commented on #4142
`AggregateRoot` is a subclass of `Entity`.

[2019-01-03 01:06] maliming commented on #4140
#358 You can customize as needed

[2019-01-03 01:06] #4140 closed

[2019-01-03 09:17] EslamElmadny commented on #4142
okay , I tried this feature in the main bounded context (downloaded from abp template) and works
but the problem in all another bounded contexts however they're the same arch.  and configured the entity history in preinitialize method as documented ...
Is there specific package should i install to enable entity history in my bounder context and in which layer, plz ?

[2019-01-03 10:19] EslamElmadny commented on #4142
Regarding issue #3892 ..

I did simulate this solution it after installing package Abp.ZeroCore.EntityFrameworkCore in my custom dbContext as following
![image](https://user-images.githubusercontent.com/38657564/50632793-b8e08400-0f51-11e9-9edf-36f59bcbe456.png)

Exception raises in SaveAsync method as following
![image](https://user-images.githubusercontent.com/38657564/50632836-d31a6200-0f51-11e

[2019-01-04 00:21] srburton commented on #2103
As well change the default name of the cookie?

[2019-01-04 00:58] maliming commented on #2103
@srburton
try

[code]

[2019-01-04 01:02] srburton commented on #2103
Thank you, could you pass me the link of this documentation?

[2019-01-04 01:08] srburton commented on #2103
.net core **2.2** success :-)

[code]

[2019-01-04 01:54] SuperCatss opened #4143 "(Problem) In the authorized class, authorization is prohibited for a specific method, and the use fails."
I am editing the RoleAppService, which is an authorized class.
He has the [AbpAuthorize(PermissionNames.Pages_Roles)] flag,
but when I add a method with [AbpAllowAnonymous] in this class, and it is called,
it still checks.Permissions.
Is there any solution?

asp.net mvc  and angular js

![qq 20190104130105](https://user-images.githubusercontent.com/24800663/50674397-dcbecb00-1020-11e9-8367-bcae4ac

[2019-01-04 04:10] lin520YX opened #4144 "About webpack in framework，saving style sheets refreshes the browser"
Recently, I have encountered some problems on the front end when using this framework. I have done some MV* framework projects before. During the development process, the style file will not refresh the browser, but is a real-time update. But now I have the opposite problem.This takes a lot of unnecessary time in UI debugging；

[2019-01-04 04:14] maliming commented on #4143
please share you code.

[2019-01-04 04:14] maliming commented on #4144
I think this has nothing to do with Abp.

[2019-01-04 04:20] lin520YX commented on #4144
Sorry, I seem to have missed the corresponding module, but my company uses ABP + angular.

[2019-01-04 05:02] SuperCatss commented on #4143
Please help me check my code usage, thank you

[2019-01-04 05:12] ismcagdas commented on #4143
@SuperCatss does GetRoleNameByIdAsync calls any public/protected method of RoleAppService ?
Please also share the stack-trace.

[2019-01-04 05:18] acjh commented on #4143
Should be similar to #4040, but for [aspnetboilerplate/module-zero-template](https://github.com/aspnetboilerplate/module-zero-template).

[2019-01-04 05:38] maliming commented on #4143
@SuperCatss
Please share the full `RoleAppService `code.

[2019-01-04 05:42] SuperCatss commented on #4143
Already updated, looking forward to your reply

[2019-01-04 05:49] maliming commented on #4143
[code]

Although `GetRoleNameByIdAsync `allows anonymous calls, the `Get `method does not.
You can consider using a `Repository `query in the `GetRoleNameByIdAsync `method.

[2019-01-04 05:49] #4143 closed

[2019-01-04 13:02] moguzalp commented on #4121
@ismcagdas @acjh I have more precise inputs that can clarify issue:

First case:
For webapi call: in `ApiAuthorizeFilter` when I call `M.Dependency.IocManager.Instance.Resolve<IMobileUserService>();` it effects mvc calls and "permissions gone" though it resolves `(IController)_kernel.Resolve(controllerType);` in the second block for mvc call.

Second case: after many attempts what I have changed I

[2019-01-04 13:06] jasoncable opened #4146 "ASP.NET Core 3.0 Support"
With your recent announcement of [abp.io](https://abp.io/blog/abp/Abp-vNext-Announcement), will .NET Core 3.0, ASP.NET Core 3.0, and EntityFramework Core 3.0 be supported in this version of ABP?

It sounds like there will be no upgrade path to abp.io?

[2019-01-04 16:19] 4nonym0us commented on #4097
I've added Abp.EntityFramework.GraphDiff integration package a long time ago and I'll do sort of explanation post for those who are looking to migrate from EF6 to EF Core and wonders how to replace GraphDiff.

Abp.EntityFramework.GraphDiff is targeting **EF6** which wasn't designed to handle detached graphs. On the other hand, **EF Core handles that well out of the box**! Every of the following me

[2019-01-05 14:27] mehdihadeli opened #4147 "why UnitOfWorkManagger.Current is null sometimes in using DisableFilter method?"
I use this scenario in RoleManager class:

[code]

[2019-01-05 15:16] acjh commented on #4147
Because there is no unit of work.

You can make your method `protected virtual` and mark it as `[UnitOfWork]`:

[code]

[2019-01-05 16:19] nosavvy33 commented on #2447
Hello!
We're migrating from a single-app single-database SaaS to a multitenant-app database-per-tenant Saas, and among all the alternatives, we've chosen ABP. The system is built on Razor Pages and can't find a way to integrate it to ABP Mvc.
Thanks beforehand for the help.

btw: we're using the Multipage Web Application option under ASP.NET Core 2.1

[2019-01-05 16:38] mehdihadeli commented on #4147
I use this manager in a UserAppService method,and all methods in service layer run in a unit of work context, this method should must be run with caller unit of work (userAppService here) but don't work!!

[2019-01-05 17:23] jotamorais opened #4148 "Out of the box OIDC generic provider in ASP.NET Boilerplate and its templates"
First of all, I'd like to compliment the community for the great work on [ASP.NET Boilerplate][1].

With the intent to make it even better and to go along with its driver to be "A STRONG INFRASTRUCTURE FOR MODERN WEB APPLICATIONS", I'd like to suggest a built-in OIDC (OpenID Connect) client (in the framework itself, in the UI and also in the templates).

Today, if you download and start with the t

[2019-01-05 17:57] acjh commented on #4147
Create a repro project on GitHub.

[2019-01-05 18:01] ebicoglu commented on #4146
probably there will be update for these major versions... and as the architecture is completely different currently there's no plan to auto migrate from Aspnetboilerplate to ABP.

[2019-01-06 07:12] mehdihadeli commented on #4147
I find Problem, [abpAuthorize('some permission')] on one of my AppService called out of scope unitofwork, so I must be included [UnitOfWork] attribute on my GetRolePermissionCacheItemAsync method on RoleManager class for this method always execute in unitofwork context.

[2019-01-06 07:36] EslamElmadny commented on #4142
@acjh This is a kind reminder as it's a severe for me :)

[2019-01-06 08:19] EslamElmadny opened #4149 "Entity History for List of Navigation Properties inside Entity Not Working"
Hello,
I am using entity history feature and I was trying to use it against entity that has list of navigation properties as following

[code]
It works only for owned types , but it didn't work for list :(

[2019-01-06 09:04] acjh commented on #4147
So this issue can be closed?

[2019-01-06 09:05] acjh commented on #4142
Please format code like this:
<pre>
[code]
</pre>

[2019-01-06 09:09] acjh commented on #4149
This is by design. `_branchUsers` is not an EF field.

[2019-01-06 09:31] acjh commented on #4149
How is it stored in the database?

[2019-01-06 09:35] EslamElmadny commented on #4149
This is the value object
[code]
And this is mapping to db

[code]

[2019-01-06 09:37] EslamElmadny commented on #4142
i formatted the piece of code that raised the exception , any code else want to format plz ?

[2019-01-06 14:40] ebicoglu commented on #4114
there's not a straightforward way of achieving this.
deleting the aggregate root and inserting the updated aggregate is the easiest way.
but it's not a good practise.
you need to navigate through your child properties and handle them manually

[2019-01-06 14:43] ebicoglu commented on #4105
try a memory profiling tool to address the issue
https://memprofiler.com/

[2019-01-06 18:51] #4147 closed

[2019-01-07 01:21] osalas891123 commented on #4097
THanks a lot for the info @4nonym0us, Does this means i need to create custom Repositories for my entities in order to work with these (DbContext and DbSet) methods and features?

[2019-01-07 06:17] ismcagdas commented on #4142
@EslamElmadny could you share the related entities as well ?

[2019-01-07 06:19] ismcagdas commented on #4142
@EslamElmadny sorry it seems like https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4149 has entity definitions.

[2019-01-07 07:01] ismcagdas commented on #4121
@moguzalp a repro project will be better 😄 . If you can share it, we will try to help you.

[2019-01-07 07:04] moguzalp commented on #4121
@ismcagdas İsmail thanks for your attention. Issue is defined in a concise way and replied by a SO fellow [here](https://stackoverflow.com/q/54055175/492258).

[2019-01-07 07:06] ismcagdas commented on #4121
Great 👍 , so I'm closing the issue then.

[2019-01-07 07:06] #4121 closed

[2019-01-07 07:47] EslamElmadny commented on #4142
Sorry but this entity raises exception in ShouldSaveEntityHistory()  when doing any operation related to it ...

[code]
And this is mapping
[code]

[2019-01-07 07:49] EslamElmadny commented on #4142
Regarding, this mentioned issue , entity history is working fine with owned types but not working with navigation properties list

[2019-01-07 10:23] jotamorais commented on #4148
@ismcagdas That would be of great help as well.

[2019-01-07 11:42] alirizaadiyahsi commented on #4076
Hi @thinkershare, do you still have this issue?  I can't reproduce the problem. I added a custom background job and it works. Did you test with refresh download of template that @maliming mentioned?

[2019-01-07 21:34] mach1000 opened #4150 "api get get users with tenant"
Hi,
I have an issue with calling http://localhost:21021/api/TokenAuth/Authenticate with the following credentials:
{
"userNameOrEmailAddress":"admin",
"password":"123qwe",
"tenancyName":"Default"
}

I would assume this would give me only users attached to default tenant - by default admin@defaulttenant.com but when I use the recieved token and calls api/user/getall it only returns admin@aspnetboil

[2019-01-07 23:21] acjh commented on #4150
You logged in as host user.

Duplicate of #3550

[2019-01-07 23:21] #4150 closed

[2019-01-08 00:34] bbakermmc commented on #3897
@hikalkan Where does this stand in priority and how do we get it up voted?  It becomes rather cumbersome to add a new user and then map the roles, especially when you have to do it possibly on 30+ tenants.

No idea what @bryanllewis multi profile is, isnt that just a linked account, you would create two users just like in AD.  Are your OUs like tenants?  In which case you then should be doing mult

[2019-01-08 05:51] hikalkan opened #4151 "Add IgnoreFeatureCheckForHostUsers option for multitenancy"
If `IgnoreFeatureCheckForHostUsers` is enabled then feature check will not be applied for host users (even if user has not logged in). It will be developer's responsibility to not call methods that requires current TenantId.

See this discussion for more: https://support.aspnetzero.com/QA/Questions/6200

[2019-01-08 13:36] mehdihadeli opened #4152 "problem with create method of AsyncCrudAppService"
I have a problem in create method AsyncCrudAppService, in SaveChangeAsync currentUserId set to 0 and in detail exception:
The INSERT statement conflicted with the FOREIGN KEY constraint CreatorUserId". The conflict occurred in database "", table ", column 'Id'.

while my userId before calling SaveChange is 1. it is weird when I call Create method inner another service method here 'CreateSuggestion

[2019-01-08 13:42] OverwindSlash commented on #3882
Sorry for my late replay.
That is exactly what I did in the  XXX.EntityFrameworkCore project.
But in Test project, the configuration process is totally different:

[code]
How to use   Configure(DbContextOptionsBuilder<AbpProjectNameDbContext> builder, ...) in Test project?

[2019-01-08 13:47] maliming commented on #4152
Please share
The code for your MyEntity class.
The content of MyEntityDto input.

[2019-01-08 13:57] mehdihadeli commented on #4152
this is my real entity.

[code]

[2019-01-08 14:17] acjh commented on #4152
Is the value of `input.CreatorUserId` `0`?

[2019-01-08 14:19] mehdihadeli commented on #4152
no, I comment that it is '1' before executing this line await CurrentUnitOfWork.SaveChangesAsync();
inner SaveChangesAsync I guess it set to 0.

[2019-01-08 14:36] mehdihadeli commented on #4152
yes, it is 0.

[2019-01-08 14:54] acjh commented on #4152
Then set it to `null`.

[2019-01-08 16:58] ryancyq commented on #4137
@willseward could you also print out the following values (instead of only comparison)?
assume `var msg = new MimeMessage();`
- `HeaderId.Subject` inside `msg.Headers`
- `msg.Subject`

[2019-01-08 17:44] mehdihadeli commented on #4152
thanks, it worked.

[2019-01-08 23:52] #4152 closed

[2019-01-09 01:56] osalas891123 opened #4154 "Entity Sharing doubt"
I need to share an instances of some entities between Host users and Tenants, let say on this way.

Instances of entity book are created by tenants but audited and accepted by Host users (audited by an analysts and accepted by an admin, both host users).

How should i create this kind of entities, IMustHaveTenant or with CreatorTenantId as a host Entity (not a TenantId to avoid automatic filtering

[2019-01-09 02:13] maliming commented on #4154
I think your entities should be IMustHaveTenant, they are tenants separated from each other. Host users disable the tenant filter and operate.
For reference only

[2019-01-09 06:37] NepPure opened #4155 "ISoftDelete with EF Core for Oracle, ORA-00972: identifier is too long Error"
* Your Abp package version.
3.7

* Your base framework: .Net Framework or .Net Core.
Net Core 2.1

* Exception message and stack trace if available.
**Oracle has a 30 character restriction for all object names.**

ISoftDelete translate to "**ef_filter__IsSoftDeleteFilterEnabled_0**"(length > 30) in DbCommand.

[code]

Override CreateFilterExpression(AbpDbContext)
[code]
modified to
[code]
can avoi

[2019-01-09 06:53] maliming commented on #4155
related: https://github.com/aspnet/EntityFrameworkCore/issues/10212

[2019-01-09 06:54] #4032 closed

[2019-01-09 06:59] ismcagdas commented on #4155
@NepPure what is your Microsoft.EntityFrameworkCore version ?

[2019-01-09 07:00] leonkosak opened #4156 "Additional parameters for authentication type for attributes AbpAuthorize and AbpMvcAuthorize"
**AbpAuthorize** and **AbpMvcAuthorize** (with permissions and RequireAllPermissions attributes for more granular authorization logic) are a great solution.
However, if additional attribute such as additionalAllowedAuthentications (array of for instance enum of HTTP Authentication types) (at least "Basic" for first case).
So authorization logic on request will check if any additional authenticatio

[2019-01-09 07:01] NepPure commented on #4155
2.2.0
https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/2.2.0

[2019-01-09 07:04] ismcagdas commented on #4155
@maliming as far as I understand, EF Core team is not going to fix this, right ?
Issue https://github.com/aspnet/EntityFrameworkCore/issues/10212 is closed more than a year ago.

[2019-01-09 07:08] maliming commented on #4155
Yes, the EF Core team seems to recommend manual processing.

[2019-01-09 07:34] alaawahbah opened #4157 "Default foreign keys for TenantIds User Ids (Data Integrity)"
Why Abp doesn't create foreign keys for TenantIds , User Ids (CreatorUserId, DeletedUserId) etc...?

Thanks in advance....

[2019-01-09 07:37] gentledepp opened #4158 "Database per tenant -> where is Hangfire databsae stored?"
It is not documented (at least I did not find it there) so please clarify:

When using a database-per-tenant approach, and using Hangfire as background job scheudler, where is the Hangfire database stored?

Is it stored

1. in a separate database
2. in the host (default) database
3. or in the tenant's database

Only version 3 would be good in my opinion, as in 1 and 2 you'd need distributed transa

[2019-01-09 07:43] alaawahbah opened #4159 "Translation (Lingual Entity)"
in translation entity thed must be both coreid and language for indexing or create index on both column??

language column must be  by default 6-5 char not nvarchar(max) for quick responce for big data??

why language column not related to language table by id it faster than existing solution ??

if my question has solution in Abp by configuration please tell me !!!

thanks in advance ......

[2019-01-09 08:08] ismcagdas commented on #1689
Resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4075

[2019-01-09 08:08] #1689 closed

[2019-01-09 08:09] ismcagdas commented on #4076
Please reopen if you are still having this problem.

[2019-01-09 08:09] #4076 closed

[2019-01-09 08:19] ismcagdas commented on #4159
@alaawahbah you can configure all of them in the OnModelCreting of your DbContext or you can do it when defining your entities using data attributes.

[2019-01-09 08:20] #4159 closed

[2019-01-09 08:30] alaawahbah commented on #4159
Thanks for your answer i have updated my question to better clarity, please review.

[2019-01-09 08:34] bsfx opened #4160 "Angular - huge number of chunks"
Hello,

**Abp package version:** 4.0.2
**Base Framework**:  .Net Core

I just download latest version of template .NET Core (cross platform) + Angular (ver. 7) and I see problem in angular project.
1. I have installed angular packages `npm install`
2. Start angular project with: `npm start`
3. After project compiled successfully I got a huge number of chunks (over 1000). Same situation is when I b

[2019-01-09 08:42] ismcagdas commented on #4160
@bsfx that is the all Angular locales. In ABP templates, you can add a language on the server side but for Angular you need to include the language you want to use from the beginning, you can't add a language after you build your Angular app.

If you are using only specific languages, you can filter them here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/ro

[2019-01-09 09:35] bsfx commented on #4160
@ismcagdas thanks for answer, but it seems that when Angular locales are dynamically loaded, then all locales are loaded,  although I filter only languages which I needed.  But I found solution using webpack magic comments in import statements, where you can define for which languages you want load locales, example:

More on: https://blog.angularindepth.com/dynamic-import-of-locales-in-angular-b99

[2019-01-09 10:19] ismcagdas commented on #4160
Great. We don't want to include into the default template but for anyone who needs such a filter, your suggestion will be very helpful.

[2019-01-09 10:19] #4160 closed

[2019-01-09 12:53] acjh commented on #4156
`AbpAuthorize` authorizes an authenticated user.

Authentication should be handled by a middleware, independent of an attribute on a method.

[2019-01-09 12:56] leonkosak commented on #4156
Yes, it's true. My mistake.

[2019-01-09 13:05] acjh commented on #4157
Which entries?

[2019-01-09 13:28] Yunksi opened #4161 "Cannot inject IOptions<T> into app service in unit tests"
**Abp Version:** 4.0.2
**Base Framework:** .NET Core

We have 2 services (AccountService and MailingService) and a class MailConfig which is populated from appsettings.json in the Startup.cs as services.Configure<MailConfig>(Configuration.GetSection("MailConfig").

**AccountService.cs**
[code]

**MailingService.cs**
[code]

This works perfectly when running API calls from Postman, because all the

[2019-01-09 14:28] thomas-parrish opened #4162 "AbpDbContext does not support EfCore QueryTypes that have Autofiltered Interfaces"
* Your Abp package version. All
* Your base framework:  .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

Currently, the DbContext applies all filters to the Model builder as Entities, which causes EF to break and throw an InvalidOperationExcpetion like so:

[code]

To reproduce, simply add a DbQuery<TView> Query set to the db context, and add I

[2019-01-09 14:39] acjh commented on #4162
Can you show the relevant code?

[2019-01-09 14:55] thomas-parrish commented on #4162
I'm actually working on a pull request for your, just writing up the tests now, that's why I didn't post the code.

[2019-01-09 15:47] neuhausf opened #4164 "Setting changes should trigger an event (ChangeSettingFor* in SettingManager)"
Sometimes I would like to know if an application/tenant setting has been changed and reinitialize some domain-services. Right now I cannot observe SettingManager for setting changes without inheriting it.
It should be easy to generate an event on [EventBus](https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events) on setting-value changes. The event should contain at least the key of t

[2019-01-09 16:05] alaawahbah commented on #4157
AbpTenant , AbpUser

[2019-01-09 16:07] alaawahbah opened #4165 "Translation (Lingual Entity)"
In translation entity, should we convert both (CoreId and Language) columns to a primary key?
I am asking because eventually those two columns should be:

- Unique (because we should have double records tor the same language), isn't it?
-  Indexed (for performance issues, because we will always have a "where" clause for each and every query)

does that make sense? if yes, My question is:

Why Abp

[2019-01-10 01:09] maliming commented on #4157
@alaawahbah
please refer:
https://github.com/aspnetboilerplate/module-zero-forsaken/issues/409#issuecomment-320175298
https://github.com/aspnetboilerplate/module-zero-forsaken/issues/328#issuecomment-287838316

[2019-01-10 01:13] maliming commented on #4164
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e19c03b9db/src/Abp.Zero.Common/Configuration/Setting.cs#L12
https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#entity-changes

Currently you can use the entity event of the Setting entity.

[2019-01-10 01:14] #4156 closed

[2019-01-10 05:35] #4164 closed

[2019-01-10 05:36] #4157 closed

[2019-01-10 05:44] ismcagdas commented on #4165
@alaawahbah yes, you can do both, it is a good practice.
We may do it in ABP but I'm not sure how to do it now.

[2019-01-10 06:04] maliming opened #4166 "Allow an assembly to create multiple dynamic API modules based on type"
related #4083

[code]

In this case, `GetSettingOrNull `does not filter the Type.
Is it necessary to allow this?
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.AspNetCore/AspNetCore/Configuration/ControllerAssemblySettingList.cs#L9-L16

[2019-01-10 06:28] #4162 closed, assigned to nobody

[2019-01-10 23:33] rc201612 opened #4168 "Property 'services' does not exist on type 'typeof abp' in typescript"
Hi,

I am trying to follow the documentation here: https://aspnetboilerplate.com/Pages/Documents/Dynamic-Web-API#dynamic-javascript-proxies to call my service dynamically in JavaScript.

I have successfully called the ```AbpServiceProxies``` controller and the JaveScript is outputted that I inject into ```<head />```. However, I am getting an error when compiling the Angular project with the follo

[2019-01-10 23:54] #4154 closed

[2019-01-10 23:58] acjh commented on #4168
Duplicate of #4020

[2019-01-10 23:58] #4168 closed

[2019-01-11 00:10] rc201612 commented on #4168
Hi,

I did see that issue and have tried the ```$.extend(true, abp, result)``` however I am still getting the error inside my component where I want to call my services dynamically :/

[2019-01-11 00:31] acjh commented on #4168
It's the same issue. #4020 calls the `GetAll` method, says that `$.extend(true, abp, result)` doesn't work, and links to a PR that shows what works.

[2019-01-11 00:37] rc201612 commented on #4168
Tried that also. That's what I started with.

I need to somehow let typescript know that abp.services exists.

Nevermind. I will keep digging.

Thank for your help :)

[2019-01-11 04:07] tnlthanzeel opened #4169 "ABP not creating InmemoryDatabase for unit test"
Im having an issue with Xunit. im using ABP version 3.8.3

i have 2 modules in my project as MemberModule and SalesModule.

I started writing unit test for membermodule which call the services in the sales module to create invoices when a member registers to the application.

i started unit test for the member module. i can register the member successfully, but when it call the salesservice in the

[2019-01-11 05:16] tnlthanzeel commented on #4169
i fixed it by addeding
[code]
to
[code]
but, is it the right way?

[2019-01-11 05:49] tnlthanzeel commented on #4169
@acjh , please let me know what i did was correct or wrong

[2019-01-11 07:50] SuperCatss opened #4170 "[Feedback]a suggestion for use"
请考虑将图中的
Please consider the
![image](https://user-images.githubusercontent.com/24800663/51019797-4c036480-15b7-11e9-8e6e-effeb9265911.png)

` public IMISDbContext()
            : base("Default1")
        {}`
变更为
Changed to
` public IMISDbContext()
            : base("name=Default1")
        {}`
当为default1 时，我使用 Update-Database –Verbose 时
总是提示如下
When using default1, when I use Update-Database –Verb

[2019-01-11 08:01] maliming commented on #4170
Setting "Default" to base class helps us when working migration commands on Package Manager Console.
But it may cause problems when working Migrate.exe of EF.
If you will apply migrations on command line, do not  pass connection string name to base classes. ABP works either way.

[2019-01-11 08:14] SuperCatss commented on #4170
I support your approach, but when set to "Default", after using the EF command, Add-Migration, it will also prompt the error on the graph.I don't know how this happened, and why.

[2019-01-11 11:50] anaya-upadhyay opened #4171 "Login Failed"
### Could not login using the default admin account or any of the other created accounts.

_Excerpts from IIS Stack Trace_:
[code]

![login failed](https://user-images.githubusercontent.com/16795691/51031899-2c276d00-15c6-11e9-8753-587b36bff22d.png)

I do not know how this happened. It was nicely working till now. But start failing even to log on so I tried a few things on my own.
_The things I tr

[2019-01-11 11:53] maliming commented on #4171
Are you using the abp startup template?

[2019-01-11 14:50] hikalkan commented on #4158
Hangfire accepts a single connection string. You can set whatever you want (host db, a separated db or db of a particular tenant). But I don't suppose it supports to distribute jobs into multiple db and manage them.

In the integration document (https://aspnetboilerplate.com/Pages/Documents/Hangfire-Integration#asp-net-core-integration), it shows a sample usage like

[code]

So, you can pass any c

[2019-01-11 14:50] #4158 closed

[2019-01-11 14:52] gentledepp commented on #4158
hmmm... what a pity.
but thank you for the answer!

[2019-01-11 20:49] rc201612 commented on #4168
Still having a bit of trouble with this. Before I give up, can I just check:

Is it intended that the ```abp.services...``` is invoked from JavaScript and not TypeScript, as per [this example](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/wwwroot/view-resources/Views/Roles/Index.js)?

I pulled the PR and repository

[2019-01-11 23:18] osalas891123 opened #4172 "How to use setBusy with Angular"
I use **abp.ui.setBusy(null,'Loading...');** with the Angular version, but this set the overlay on the whole body how to set this on a localized component.

[2019-01-12 02:34] acjh commented on #4172
Pass in a jQuery selector (or selection) instead of `null`.

From the documentation on [UI Busy API](https://aspnetboilerplate.com/Pages/Documents/Javascript-API/UI-Block-Busy#ui-busy-api):

[2019-01-12 02:37] acjh commented on #4081
Yes.

[2019-01-12 02:37] #4081 closed

[2019-01-12 06:58] amithole0206 opened #4173 "Need to find source code of Abp.AspNetZeroCore.Web"
Is this DLL source code not present under aspnetboilerplate ?

[2019-01-12 09:52] Poepon opened #4174 "UseCase not support Task"
[code]
The reason for the above code is: http://localhost:62116/api/services/app/Tenant/Delete?Id=1

[code]
The reason for the above code is:DeleteTenant

[2019-01-12 09:57] acjh commented on #4174
You have to call `SaveChanges`, which you did in the second example but not the first.

[2019-01-12 10:39] amithole0206 opened #4175 "Need to find caller of the function ChangeSettingForUserAsync"
We want to stop the caller DLL of function which are inserting user level setting of Abp.Localization.DefaultLanguageName, we have set settingdefinition for application or tenent. please find below screen shot

![image](https://user-images.githubusercontent.com/19162048/51072301-4d4e9300-1684-11e9-80e4-eb89cb0b74e5.png)

[2019-01-13 02:39] acjh commented on #4175
You can search for `LocalizationSettingNames.DefaultLanguage` used with `ChangeSettingForUser` in ASP.NET Boilerplate source code.

ASP.NET Core:
- `Abp.AspNetCore.Localization.AbpUserRequestCultureProvider`'s [`DetermineProviderCultureResult`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a94a7fd955ec58d6684729d4fe57cf4121af64d5/src/Abp.AspNetCore/AspNetCore/Localization/AbpUserRequ

[2019-01-13 12:54] hikalkan commented on #3897
Hi @bbakermmc I think we can take this to the next release to analyse in details and implement if possible.

[2019-01-13 13:13] hikalkan commented on #4161
``IOptions<T>`` and similar services are registered by asp.net core via `IServiceCollection` which is not available in unit tests.

You should manually call services.AddOptions() to register ``IOptions<T>``, but how? We did a similar think here: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/test/AbpCompanyName.AbpProjectName.Tests/DependencyInjection/Servic

[2019-01-13 13:17] hikalkan commented on #4166
Thanks @maliming we should handle it. The solution will probably get all (instead of FirstOrDefault) and if there are multiple, to use the Where condition to find the proper one.

[2019-01-13 17:01] bryanllewis commented on #3897
Just to follow up....We operate heavily in the American education space, and quite often users in that space have different roles and permissions within the context of different OUs.  A user may have a "Teacher" role at a specific school and that gives them specific permissions at that school.  But they may also have a "proctor" role at another facility (e.g. regional education center) and they ha

[2019-01-13 17:44] bbakermmc commented on #3897
@bryanllewis Everything you talk about can be handled via ADFS or some type of single sign on that authenticates most likely against AD.  Behind the scene each facility is a tenant and they have multiple user accounts, you could auto link the accounts for them, we do it when we add new users (We have some SQL scripts that do this for us and loop thru tenants and such).  Also not sure why you would

[2019-01-13 18:47] hikalkan commented on #4168
Yes. We use nswag to generate typescript client proxies.

[2019-01-13 19:06] bryanllewis commented on #3897
@bbakermmc, thanks for taking the time to reply.  We typically don't have the luxury of using ADFS for our projects because we have to rely on our clients' own SSO solutions (usually OIDC or SAML) and then we sync their token info into our local ABP DB.

We have using ASPNetZero in the past for other projects that didn't have these requirements and it works well.  My point was that going forward,

[2019-01-14 02:00] Poepon commented on #4174
@acjh
[code]
I tried to use **SaveChangesAsync**, but it didn't work.

[2019-01-14 05:17] anaya-upadhyay commented on #4171
@maliming yes