[2019-05-21 11:07] rkapka commented on #4529
It turns out there was no issue after all. .NET Core 2.2 introduced a new API validation error format and I mistakenly took it for an ABP error message. I am still puzzled why the breakpoint was not hit, but this is not directly relevant here.

[2019-05-21 11:07] #4529 closed

[2019-05-21 19:00] enkodellc commented on #3323
Is it possible to get an official response from Volosoft or the Boilerplate team on Blazor? I really want to do my next app in it and it would be great to know to know where they stand and if possible when. If not does anyone else want to start a fork with Blazor?

[2019-05-21 20:56] FirasKira commented on #3561
Hello Mr.Ahmed @ahmedtolba1984
How did you solve this problem?
I'm facing the same problem, when I switch to Arabic culture in Boilerplate the date switches to Hijri. How can I keep the normal date?
Thanks

[2019-05-22 05:14] ismcagdas commented on #3561
@FirasKira you can check

https://support.aspnetzero.com/QA/Questions/6103 and
https://support.aspnetzero.com/QA/Questions/4547

[2019-05-22 05:37] ismcagdas commented on #3323
@enkodellc probably we will not work on this in a short time.

[2019-05-22 07:07] #4530 closed

[2019-05-22 07:07] #4524 closed

[2019-05-22 10:23] FirasKira commented on #3561
Thanks for your reply.
Unfortunately that didn't work!

I'm using MVC .Net Core. My project name is **DynamicData**
I have a problem in the Back end, all dates become Hijiri when switching to "Ar" culture.
As @samara081 said (in https://support.aspnetzero.com/QA/Questions/6103) I added the current line in many places:
`Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en-

[2019-05-22 10:51] ismcagdas commented on #3561
Have you tried https://support.aspnetzero.com/QA/Questions/4547#answer-d2e2889e-634e-4ba7-83dc-0dad96b3bff3 ?

[2019-05-22 10:53] FirasKira commented on #3561
That case was for *.Web.Host.
I'm using *.Web.MVC

[2019-05-22 10:54] ismcagdas commented on #3561
They both have UseAbpRequestLocalization, so create the file in *.Web.MVC and use it in your Startup.cs as explained in the post.

[2019-05-22 10:55] FirasKira commented on #3561
Ok I'll try that and back to you with the results.

[2019-05-22 11:14] natiki commented on #3323
@ismcagdas I am guessing you will add support though? Seeing as though MS is now recommending it for .NET 5.

[2019-05-22 11:20] ismcagdas commented on #3323
@natiki we definitely want to do that 😄

[2019-05-22 14:19] tomlewandowski opened #4531 "500 error with try/catch"
Hey,
I have AppService and Controller. I use try/catch and I want  return 422 status when I have exception. I step into catch but always get status 500 on swagger when something on db goes wrong.
This is my code:
**AppService**

public async Task<int> Create(EmailDocumentDto input)
{
	try
	{
		var entity = new Email(input);
		var id = await _repository.InsertAndGetIdAsync(entity);
		CurrentUnitOfW

[2019-05-22 14:59] acjh commented on #4531
Duplicate of #2732

[2019-05-22 14:59] #4531 closed

[2019-05-22 17:37] tomlewandowski commented on #4531
I tried many combination like this, but still the same 500 status response:

        public async Task<int> Create(EmailDocumentDto input)
        {
            try
            {
                using (var uow = UnitOfWorkManager.Begin())
                {
                    var entity = new Email(input);
                    var result = await _repository.InsertAsync(entity);

[2019-05-22 18:01] krugerm commented on #4303
FYI, I'm also trying to resolve this issue - I've started by refactoring our the sync-over-async calls where possible to keep sync / async call stacks clean.
PR #4532 uploaded in case you might find it a useful point of reference.

[2019-05-23 02:18] enkodellc opened #4533 "With 4.6.0 Templates still show dependencies of 4.3.0"
I want to create a template project with the latest version, 4.6.0 so I went to the Free Startup Templates page [https://aspnetboilerplate.com/Templates](https://aspnetboilerplate.com/Templates) to create the project and I unchecked **Latest stable (uncheck to get latest version including pre-releases)** it downloaded and the zip file had a folder 4.6.0  but all the aspnet core projects still had

[2019-05-23 03:22] maliming commented on #4533
Although the versions are all 4.6, the content is different. This is two separate Repository.

https://github.com/aspnetboilerplate/module-zero-core-template/releases/tag/v4.6.0

I will update the latest abp in version 4.7.
https://github.com/aspnetboilerplate/module-zero-core-template/issues/454

[2019-05-23 03:22] #4533 closed

[2019-05-23 04:25] osalas891123 opened #4534 "(QUESTION) AbpUserConfiguration is taking too long on first page load"
* Abp package version = 4.2.
* Your base framework: .Net Core and Angular 6 on IIS, Postgres 10.6

Hi this is more a question to looking for ideas to optimize initial page load, UX is not good when you need to wait about 15 seconds even on good connections, i already see the behaviour on ANZ. Initial request to AbpUserConfiguration/GetAll take too long for PREFLIGHT and GET, with PREFLIGHT winning

[2019-05-23 04:45] devilbats opened #4535 "how to upload file use appservice asp.net mvc?"
### Documentation
How do i use dto from application layer to controller(web layer) for uploading file?

[2019-05-23 04:54] maliming commented on #4535
see:
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3613
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4082
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4086

[2019-05-23 05:00] devilbats commented on #4535
im not using the asp.net core version...mostly guide on the asp.net core...
can we use the IFormFile on asp.net mvc

[2019-05-23 05:06] osalas891123 commented on #4534
@maliming thanks for your quick answer, but the one that take too long is the OPTIONS request.

[2019-05-23 05:16] maliming commented on #4534
I think this is related to the specifics of your application.

Can you use Abp startup template to reproduce this problem?

[2019-05-23 05:22] maliming commented on #4535
@devilbats

I am not sure, you can try `HttpPostedFile` at the application service layer.

[2019-05-23 07:08] maliming opened #4536 "The AbpFeatureValueStore class SetEditionFeatureValueAsync method should validate the feature value."
Abp v4.6.0

The `AbpFeatureValueStore `class `SetEditionFeatureValueAsync `method should validate the feature value.

[2019-05-23 07:10] maliming commented on #4536
related https://github.com/aspnetzero/aspnet-zero-core/issues/2401

[2019-05-23 08:05] FirasKira commented on #3561
Hello Ismail,
I tried the recommended in (https://support.aspnetzero.com/QA/Questions/4547#answer-d2e2889e-634e-4ba7-83dc-0dad96b3bff3):

I created a class inherits from RequestCultureProvider, as follow:

[code]
Then I called it in Configure function of Startup as follow:

[code]
Unfortunately the same problem, still Hijri date appears every where !
Any other recommendation?
@ismcagdas

[2019-05-23 10:13] FirasKira commented on #3561
Thank you very much Ismail.
It works fine.

I just want to mention an important point!
If you want to give the user the ability to switch between two languages (in my case English and Arabic) then as you said you need to execute other request culture localizers in your custom class (like this one https://github.com/aspnetboilerplate/as ... rovider.cs).
Using this class as it is won't work and you

[2019-05-23 13:33] ahmedtolba1984 commented on #3375
@brunobertechini I am facing the same issue with Hangfire,
Did you solved it?

[2019-05-24 01:20] #4120 closed

[2019-05-24 05:50] #4536 closed

[2019-05-24 06:27] natiki commented on #4445
@maliming is a fix coming or are we pinned to Castle.Core 4.3.1?

[2019-05-24 06:30] maliming commented on #4445
@natiki I will confirm it later.

[2019-05-24 07:52] doufeng007 opened #4538 "use CAP in abp"
CAP is a library based on .Net standard, which is a solution to deal with distributed transactions, also has the function of EventBus, it is lightweight, easy to use, and efficiently.

https://github.com/dotnetcore/CAP

i want to use CAP in my ABP solution，  but I can not get  DbContext of ef before  services.AddAbp();

[2019-05-24 07:56] maliming commented on #4538
How do you want to operate DbContext ?

[2019-05-24 08:01] doufeng007 commented on #4538
![image](https://user-images.githubusercontent.com/50130501/58311954-d2b92f80-7e3c-11e9-8a2f-c055623513cd.png)

I need DbContext to init the CAP;  but  in this way, i can not injection ths CAP;

[2019-05-24 08:04] doufeng007 commented on #4538
in my Module, can i get IServiceCollection to injection some classes ?

[2019-05-24 08:08] maliming commented on #4538
Is there any problem with the way you wrote in the picture above?

[2019-05-24 08:13] doufeng007 commented on #4538
there is no DI with CAP in Castle。

[2019-05-24 08:17] maliming commented on #4538
Try to put AddAbp at the end of the method.

[code]

[2019-05-24 08:19] doufeng007 commented on #4538
.....
   in this way,  DbContext is error .  DbContext is right after  AddAbp().

[2019-05-24 08:30] maliming commented on #4538
Can you provide a project?
I can give it a try later.

[2019-05-24 09:48] doufeng007 commented on #4538
you add
![image](https://user-images.githubusercontent.com/50130501/58319201-00f23b80-7e4c-11e9-9421-34da7c6ef94e.png)  with nuget in Host;

Then  use the code  in the picture above.

[2019-05-24 09:55] maliming commented on #4538
Or are you uploading a project?

[2019-05-24 09:59] doufeng007 commented on #4538
[4.6.0.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/3216271/4.6.0.zip)

ok  here is it;

[2019-05-24 12:41] maliming commented on #4538
These configurations of CAP cannot be replaced/rewritten. They are not compatible with ABP's AbpDbContext.

https://github.com/dotnetcore/CAP/blob/7cebd84f531ddcc95e17f3b44a649f68ac3686d6/src/DotNetCore.CAP.SqlServer/CAP.SqlServerCapOptionsExtension.cs#L52

[2019-05-24 12:41] #4538 closed

[2019-05-24 13:50] maliming commented on #4445
`ILogger.cs ` interface added trace log level in version 4.4

https://github.com/castleproject/Core/commit/32e788c6a1d15dad22b83970ca1baf6552dac2f6#diff-d39fdd8cc7683334a1296f614c93a17cR33

https://github.com/castleproject/Core/pull/404

[2019-05-25 09:03] ebicoglu commented on #4535
Hi,

you cannot use web references in the application layer (`HttpPostedFileBase` cannot be used)
you should upload your files with a MVC Controller.
Here's a sample UploadController

USAGE: make an ajax call to `/upload/excel `to upload your file

[code]

[2019-05-26 19:47] amendez1000 commented on #3870
@maliming

I don't really now what I was doing wrong. I took the last version of abp 4.6.0 and it is working as I was expecting. Thanks so much.

[2019-05-27 07:16] doufeng007 opened #4540 "in my Module, can i get IServiceCollection to injection some classes ?"
in my Module, can i get IServiceCollection to injection some classes ?

_Originally posted by @doufeng007 in https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4538#issuecomment-495513910_

[2019-05-27 07:26] maliming commented on #4540
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3851#issuecomment-421882748

But I think it still can't solve your problem.

[2019-05-27 07:29] doufeng007 commented on #4540
abp use Castle to DI， but  CAP use  IServiceCollection  to ID ， so  i   change the code in CAP to use Castle。 then  i can  init CAP in  my abp Module。  Does it work?

[2019-05-27 08:26] maliming commented on #4540
I don't think so.

[2019-05-27 16:33] vitorlacerda opened #4541 "Is it possible to set Domain Event Handler Order or Dependency?"
Is there a way to set dependence or order between DomainEvents Handler?

Example:

[code]
I want to Handler execute in specific order, Class2=>Class1=>Class3

If not, what about use PRIORITY like AngularJS Directive?

[2019-05-28 01:08] maliming commented on #4541
Currently EventBus does not implement similar priority or Order features.

However, I feel that it can be achieved by using Attribute, etc.

[2019-05-28 02:00] natiki commented on #4395
Managed to get upgraded after tracking down a number of missing references in the project in question. This was not an ABP issue but rather the project. Thanks @ismcagdas.

However I would still like an answer to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4395#issuecomment-476949034 before this case is closed.

[2019-05-28 05:16] acjh commented on #4395
Because there is no `NullSettingManager`. `ISettingManager` is implemented in the same package that introduces the interface.

[2019-05-28 05:27] tienuit commented on #4540
I got the same issue. Dependent classes is registered after services.AddCap is called, so CAP is not work with Service's class

[2019-05-28 05:30] maliming commented on #4540
I think CAP's `AddSqlServerOptions` and other methods should support rewriting.

[2019-05-28 06:17] #4535 closed

[2019-05-28 06:20] ebicoglu commented on #4503
use SignalR and register to a HUB for every browser window. When the last window disconnects, force log out.

[2019-05-28 07:10] doufeng007 commented on #4540
in AddSqlServerOptions  ， CAP just give 'ConnectionString' to SqlServerOptions and inject it with   singleton。  i can change CAP code. just inject  SqlServerOptions .   then give 'ConnectionString'  to
  SqlServerOptions  after   abpDbcontext has been  instantiation；  but  when abpDbcontext has been  instantiation?

[2019-05-28 07:23] maliming commented on #4540
@doufeng007 You can try it in the `PostInitialize `method of the module.

[2019-05-28 07:27] doufeng007 commented on #4540
@maliming    I've already tried； abpDbcontext  is null   in the PostInitialize  method   with  my Module  or  HostModule .

[2019-05-28 08:00] doufeng007 commented on #4540
abpDbcontext  is null when  project init .    it  instantiation  in  scoped.
   so  CAP get type of  abpDbcontext   in init  is enough.
then give CAP connectionString in request;      just like this:
![image](https://user-images.githubusercontent.com/50130501/58461103-79fdd580-8161-11e9-805d-e6a0be3d91be.png)

[2019-05-28 08:00] dolphinsd opened #4542 "musthavetenant and mayhavetenant conflict with each other"
Latest release, here is simple scenario which is run a background job.

When unitofwork disable mayhavetenant, but then use settenantid, it should enable mayhavetenant, otherwise tenantid is ignored in query.

using (UnitOfWorkManager.Current.DisableFilter(AbpDataFilters.MayHaveTenant))
{
using (UnitOfWorkManager.Current.SetTenantId(tenantId, true))
{
   var list = _repoistory.GetAll();
}
}

Resul

[2019-05-28 08:01] tiansfather opened #4543 "IMustHaveTenant filter problem in EF core generates script"
I'm using Abp 4.5,.net core and mysql.I Have an entity inherited from IMustHaveTenant and ISoftDelete.Now I want to query the count of the entity, the generated sql is like this:

SELECT COUNT(*)
FROM `ProcessTask` AS `p`
WHERE ((`p`.`IsDeleted` = FALSE) OR (`p`.`IsDeleted` <> true)) AND ((`p`.`TenantId` = 1) OR (CASE
    WHEN `p`.`TenantId` = 1
    THEN TRUE ELSE FALSE
END = true))

It cost about

[2019-05-28 08:26] maliming commented on #4542
I think this is no problem.
The unitofwork SetTenantId method is to ensure that the specified TenantId is obtained in the unitofwork.
The DisableFilter has nothing to do with SetTenantId.

If you need it, you should use it in the smallest scope.

[2019-05-28 08:33] maliming commented on #4543
What is your EF Core version?

You can try to override the CreateFilterExpression method of AbpDbContext.

Modify the filter expression in it to the expression in the comment.

[code]

[2019-05-28 08:34] dolphinsd commented on #4542
@maliming, it is a problem, as your documentation on settenantid clearly states, regardless of the parent scope, tenant id will be enforced on the query. And it is not enforced!

It also creates application bugs, as now settenantid is meanless, unless you know entire scope of all calls in UOW.

[2019-05-28 08:38] ismcagdas commented on #4542
@dolphinsd, @maliming is right, you should use SetTenantId and DisableFilter carefully. We can update the docs about this but it is how DisableFilter works.

That is why we don't recommend using DisableFilter expect for very rare cases.

[2019-05-28 08:41] dolphinsd commented on #4542
@ismcagdas , understood, you might want to very clear in your docs.  DisableFilter is useful in system wide jobs. But one needs to be informed, it should not create a scope for entire job:)

[2019-05-28 08:44] dolphinsd commented on #4542
@ismcagdas , we also disable SoftDelete filter like this:
Configuration.UnitOfWork.OverrideFilter(AbpDataFilters.SoftDelete, false);

Why does it show up in the query at all!

[2019-05-28 08:50] maliming commented on #4542
@dolphinsd

Are you saying that there are relevant conditions in the sql statement?

[2019-05-28 08:53] dolphinsd commented on #4542
@maliming , yes, I have posted the statement in the report. This appears, which is a waste of sql lookups if one does not use softdelete feature.
WHERE (([o].[IsDeleted] = 0) OR ([o].[IsDeleted] <> @__ef_filter__IsSoftDeleteFilterEnabled_0))

[2019-05-28 08:55] dolphinsd commented on #4542
See the code in AbpDBcontext.cs line 167, it should check if softdelete is enabled before applying the filter.

[2019-05-28 08:56] tiansfather commented on #4543
Thank you.
My Ef core version is 2.2.2

[2019-05-28 08:57] maliming commented on #4542
This is done so that the filter can be dynamically enabled/disabled whenever needed.

If you are sure that you no longer need a soft delete filter, you can override the CreateFilterExpression method of AbpDbContext.

[2019-05-28 09:29] tiansfather commented on #4543
That worked!

[2019-05-28 14:08] ismcagdas commented on #4543
@maliming does using normal expressions work ? Last time I checked it was not working but it seems like https://github.com/aspnet/EntityFrameworkCore/issues/9825 is released, it might work now.

[2019-05-28 14:53] maliming commented on #4543
The new version of EF Core has been fixed.

Abp.EntityFrameworkCore  depend on Microsoft.EntityFrameworkCore (>= 2.2.1)

[2019-05-28 18:55] JDSBCC commented on #2763
I'm with a similar problem (same error) when I call `var loginResult = await _logInManager.LoginAsync(usernameOrEmailAddress, password, tenancyName);` in GetLoginResultAsync. I'm also using an oracle connection. [Here](https://stackoverflow.com/questions/56279539/multi-tenant-with-multiple-database) is a better description of my problem.

[2019-05-28 20:26] dolphinsd commented on #4542
@maliming , will do. it also seems that if tenantid is present then another or operator generated by you is not needed, as it yet again makes sql to do another compare. Am I right?
OR (CASE
WHEN [o].[TenantId] = @__ef_filter__CurrentTenantId_1
THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT)
END = @__ef_filter__IsMayHaveTenantFilterEnabled_2))'

[2019-05-28 22:47] maliming commented on #4542
I think the filter expression can be modified to a normal expression.

see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4543

[2019-05-29 02:06] #4540 closed

[2019-05-29 02:20] doufeng007 opened #4545 "can i change abp's transaction IsolationLevel?"
can i  change  abp's transaction  IsolationLevel?

[2019-05-29 02:22] maliming commented on #4545
Please check the documentation: https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#options

[2019-05-29 02:22] #4545 closed

[2019-05-29 05:09] #4542 closed

[2019-05-29 05:10] #4543 closed

[2019-05-29 05:16] ismcagdas commented on #2763
@JDSBCC

* Are you using MVC 5.x template as well ?
* Could you also share the error message you are getting ? Is it the same as the one above ?

[2019-05-29 07:08] natiki commented on #4395
Thanks @acjh. However I still have an issue here and it is still related to SettingManager. Seems it all went away briefly when I posted https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4395#issuecomment-477042069 but it is now back ;-(

I have a "Platform"  assembly that is used across all our applications. All of them are MVC .NET and only one of them is Webforms. All the MVC applic

[2019-05-29 08:58] JDSBCC commented on #2763
Yes, I'm using the MVC 5.x template. And yes, the error is the same: "A second operation started on this context before a previous asynchronous operation completed. Use 'await' to ensure that any asynchronous operations have completed before calling another method on this context. Any instance members are not guaranteed to be thread safe"

[2019-05-29 09:43] shenyuxinhao opened #4547 "TenantId and CreatorUserId Do not set values automatically"
I created an entity and Insert as follows,but  TenantId and CreatorUserId Do not set values automatically. I've already set  SuppressAutoSetTenantId = false.
It should be automatically assigned according to the document description. Where did I set up the error or was it a bug?
Set values manually to TenantId and CreatorUserId  Yes.
 public class DemoTable: FullAuditedEntity<int,User>,IMayHaveTena

[2019-05-29 12:54] viktor-mezhenskyi opened #4548 "Method for checking existing Localization string"
I think it will be useful to have functionality for checking existing Localization string.
Something like this
 `_localizationManager.TryGetLocalizationstring("name",out string localizationString)`

[2019-05-29 14:49] acjh commented on #4395
It is registered by convention in `AbpKernelModule`'s`Initialize` method.

Where are you trying to instantiate `OzCpPlatformChangeLogService`?

[2019-05-29 15:03] acjh commented on #4547
Duplicate of #3276

[2019-05-29 15:03] #4547 closed

[2019-05-29 15:14] shalinjirawla opened #4549 "Telerik Report viewer not working when combined with Asp.net core in Asp .net Boilerplate"
Reports in Telerik report viewer don't display with Asp.net core framework in Asp.net boilerplate.

I have searched about it a lot. Check this.

(https://www.telerik.com/forums/asp-net-core-2-issue-with-reporting-r1-2019-and-antiforgery-token)

* Your Abp package version : 4.6.0
* Your base framework: Asp.net core 2.0 with Multipage web application (.net core 2.2 , .net framework 4.6.1)
* Exceptio

[2019-05-29 15:15] acjh commented on #4548
`localizationString = _localizationManager.GetSource(sourceName).GetStringOrNull("name")`

[2019-05-29 15:37] ryancyq commented on #4549
Please provide the error stacktrace in browser console/server log.

[2019-05-30 04:23] Worthy7 opened #4550 "IAsyncCrudAppService.GetAll() unable to disable SoftDelete filter"
* Your Abp package version. 4.3
* Your base framework: Core 2

Please refer to this branch:
https://github.com/Worthy7/AspAbpSpa/tree/admin-getall

It has a simple test written which creates then deletes a user, then tries to get them through `Getall()`.
I made an implementation overriding `GetAll` which lets this test pass.

But, when running it for real on a server, it does not return the IsDele

[2019-05-30 04:27] maliming commented on #4550
try **await**
[code]

[2019-05-30 05:00] Worthy7 commented on #4550
Of course. Schoolboy error right there.
If only override shorthands would insert the `async` keyword properly on the function names ;-)

[2019-05-30 05:00] #4550 closed

[2019-05-30 05:51] #4548 closed

[2019-05-30 07:23] Worthy7 commented on #4534
@osalas891123  this is surely just the server starting up.
If you load it up, wait, then after the first page is loaded press F5, does it still take that long the second time round?

[2019-05-30 07:28] Worthy7 commented on #4461
@deepakkumarbarik Literally didn't make any effort at all to write a proper explanation, this isn't even an issue with this framework, if anything, it's a very poor stackoverflow question

@maliming shouldn't even waste your time on these issues, just close issues where people don't follow the issue template format (there are bots that can do it)

[2019-05-30 07:31] Worthy7 opened #4551 "Feature: Add navigation properties to AuditLog"
* Your Abp package version. 4.7
* Your base framework:  .Net Core.

Please add in navigation properties for `User` and `Tenant` , and perhaps the `Impersonator` versions too so that they can be cleanly/quickly joined in the database and mapped into a DTO.

[2019-05-30 07:32] #4461 closed

[2019-05-30 07:38] doufeng007 commented on #4538
it works！https://www.cnblogs.com/luckstar007/p/10949811.html

[2019-05-30 08:32] hzicong opened #4552 "ABP4.3 Redis Error: UnableToConnect"
[code]

But at other app ,it is success connect

[2019-05-30 08:37] maliming commented on #4552
@hzicong
Please share your code about redis

[2019-05-30 08:42] hzicong commented on #4552
`    public class CacheHelper : ITransientDependency
    {

        private const string CacheName = "UploadProcess";

        private readonly ICacheManager _cacheManager;

        public CacheHelper(ICacheManager cacheManager)
        {
            _cacheManager = cacheManager;
        }
        public virtual async Task<ProductUploadProcessDto> GetUploadProcess(string guid)
        {

[2019-05-30 09:12] JDSBCC commented on #2763
Should I create a knew issue with this?

[2019-05-30 09:18] maliming commented on #4552
Refer to this class and try to manually call the code to connect redis.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.RedisCache/Runtime/Caching/Redis/AbpRedisCacheDatabaseProvider.cs

[2019-05-30 12:06] wudi3121113 opened #4553 "(question)EntityFrameWorkCore Can Not Running Seed Method"
I downloaded an ABP project, with .net Core and Vue
When i execute the "Update-Database" command, the seed method not running
And no seed data in the table, why?

[2019-05-30 12:09] maliming commented on #4553
Abp with net core, when you start the application will be Seed data.

[2019-05-30 12:11] #4553 closed

[2019-05-30 12:14] ryancyq commented on #4552
The error is obvious

[2019-05-30 12:24] ryancyq commented on #4551
@Worthy7 adding navigation property might be useful but it doesn't seems to fit well with the natural of `AuditLog`.

Adding navigation property means bounding existing user/tenant records with audit log. however, in some cases, user/tenant record could have been hard deleted and audit log shouldn't be affected by the relationship.

[2019-05-30 12:58] wudi3121113 commented on #4553
Thanks very much!

[2019-05-30 13:36] Worthy7 commented on #4551
Hmm yea I understand. So what is the normal way to solve this kind of issue then?

If you want to show a "view" on the front end (Ie, mapping to a DTO with UserName in it) then you don't want to be looking up the username in a loop for each row of the auditlog right?

[2019-05-30 13:52] maliming commented on #4551
@Worthy7
You can consider using the audit log and the user to make a join query.

[2019-05-30 16:28] Worthy7 commented on #4551
It is possible to do it without navigation props? OK, I'll give that a go

[2019-05-30 16:28] #4551 closed

[2019-05-31 00:42] #4552 closed

[2019-05-31 00:42] maliming commented on #4445
closed by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4539

[2019-05-31 00:42] #4445 closed

[2019-05-31 02:20] jerry2000 opened #4554 "vue版本升级报错"
从官网下载vue版本并将iview从3.0.0升级到3.4.2时报错，为什么在src/types/ 下还有有个iview的版本呢？

[2019-05-31 02:21] maliming commented on #4554
Please open the issue here(in English)
https://github.com/aspnetboilerplate/module-zero-core-template/issues

[2019-05-31 02:21] #4554 closed

[2019-06-01 04:03] osalas891123 commented on #4523
@ismcagdas , does my complete project be based on .net framework, to include WCF on abp worflow. As i understand i can't use ef core on WCF yet.

[2019-06-02 03:14] natiki commented on #4395
@acjh `OzCpPlatformChangeLogService` is instantiated via a static class using IocManager.Instance.ResolveAsDisposable<IOzCpPlatformChangeLogService>().

What is weird here is that the exact same code approach is used in numerous other apps without issue.

[2019-06-02 08:00] acjh commented on #4395
1. **Where** (not how) are you trying to instantiate `OzCpPlatformChangeLogService`?

2. > However the Redis server is there and running so it appears to be an order of executing thing.

   To check whether it is "an order of executing thing", do this in your Controller or AppService method:

[code]

3. To check whether it is even related to ABP in the first place, try connecting to Redis directly

[2019-06-02 15:16] hikalkan commented on #4541
I believe event handlers should be designed so that the execution order should not matter. If one handler depends on another, why don't you have a single handler (merge of two)?

[2019-06-02 15:36] hikalkan opened #4555 "Support for DbQuery<>"
@wildest wrote:

ASP.NET CORE MVC & jQuery v6.5.0

In dotnetcore it's possible to use a DbQuery<T> instead of DbSet<T>. This tells EF not to generate migrations for the entity and allows us to pass through an already existing tableset or view.

I've reviewed this an an approach for using views; https://aspnetboilerplate.com/Pages/Documents/Articles/Using-Stored-Procedures,-User-Defined-Functions-a

[2019-06-03 01:52] maliming opened #4556 "The SetRoles method of the AbpUserManager class has a problem with the soft deleted Role."
Abp 4.6.0

Recurring steps:
1. Create a role
2. Grant the role to a user.
3. Call the command to delete the role.
4. Update the user will be wrong.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/443c16eafbbffe0576180734dbd4d251eda5ad54/src/Abp.ZeroCore/Authorization/Users/AbpUserManager.cs#L418-L451

`await AbpUserStore.UserRepository.EnsureCollectionLoadedAsync(user, u => u.Roles);`

[2019-06-03 05:20] #4556 closed

[2019-06-03 05:56] maliming commented on #4555
@wildest

I tested `DbQuery `and found no problems.
Can you elaborate on it?
see: https://github.com/aspnetboilerplate/aspnetboilerplate/commit/eaf899785753a0deb597b2f1c930de74e8ca0f55

[2019-06-03 07:25] hikalkan commented on #4555
I think he want to use `IRepository<T>` for `DbQuery<T>`.

[2019-06-03 07:27] maliming commented on #4555
Ok, I will continue to give it a try.

[2019-06-03 09:40] shalinjirawla commented on #4549
@ryancyq This is the only console error we get
"Uncaught (in promise) Invalid ClientId"
We don't get any stack trace in VS.
I can upload the solution to GitHub if you would like to check.

[2019-06-03 10:47] Phiph commented on #4148
I'd like to see this too!

@jotamorais do you have any example source code?

[2019-06-03 14:51] VentsislavDinev opened #4559 "HandlerException: Can't create component as it has dependencies to be satisfied."
Hello,
I Have a problem with creating the component.
My architecture has:
1. Application - All Application service
2. Application.Contracts - All interface for Applications module
3. Domain - Domain logic
4. Domain.Contract - All interface for Domain module
5. Domain.Shared module - the share between Application and Domain logic.
6. Application - web server.

When I try to use dependencies from Ap

[2019-06-03 15:00] acjh commented on #4559
Create a repro that is forked from [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

[2019-06-04 00:56] ryancyq commented on #4549
There is an caret beside this error which you can expand and see the error stacktrace.

Have you checked `App_Data/Log.txt` in your project?

[2019-06-04 10:18] anton-beetroot-23071996 opened #4560 "Impossible to configure Scope and IsolationLevel for UnitOfWork attribute at the same time"
UnitOfWorkAttribute has different constructors, which could propose different configuration options, but If I want, for example, combine TransactionScopeOption.RequiresNew and IsolationLevel.ReadCommitted, it is impossible to do using attribute.

[2019-06-04 10:56] maliming commented on #4560
I will try to complete the constructor.

[2019-06-04 11:22] #4560 closed

[2019-06-04 19:00] osalas891123 commented on #4523
@acjh , how can i include my WCF module on ABP workflow, i know ABP use Castle but can get it ready, do i need to specify something on SVC file?

[2019-06-04 19:06] hikalkan commented on #4559
Your final application (probably the Web project) should depend on the application layer, otherwise, your application will not reference the implementations.

If that doesn't work, check naming conventions. ISampleAppService should be implemented as SampleAppService (sometimes developers make typo errors).

[2019-06-04 21:58] VentsislavDinev opened #4561 "Can't create component 'T' as it has dependencies to be satisfied. Service 'Abp.Domain.Repositories.IRepository`2[] was not registered."
Hello.
I have Problem with i try to use my Application service class.
I have all DbSet in my DbContext but Abp can't create component for my Application service.

[2019-06-05 00:02] acjh commented on #4561
Where are you trying to create the component?

[2019-06-05 01:34] hzicong commented on #4552
@maliming
 I found how this error happened.
when i disabled BackgroundJobs，it was happened in my 2 app。

**Configuration.BackgroundJobs.IsJobExecutionEnabled = false;**

`        public override void PreInitialize()
        {
            Configuration.DefaultNameOrConnectionString = _appConfiguration.GetConnectionString(AppConsts.ConnectionStringName);

            Configuration.BackgroundJobs.IsJ

[2019-06-05 01:36] maliming commented on #4552
ok, I will give it a try.

[2019-06-05 05:28] maliming commented on #4552
@hzicong
Can't reproduce, you can provide a project to reproduce this problem.
I have redis locally.

[2019-06-05 07:08] hzicong commented on #4552
1、i found if BackgroundJobs.IsJobExecutionEnabled = ture， the app starts very slowly（about 30s）, and i I don't have any BackgroundJobs. it work in centos 7.6 ,Docker version 1.13.1

DEBUG 2019-06-05 14:58:21,871 [1    ] Abp.Localization.LocalizationManager     - Initializing 2 localization sources.
DEBUG 2019-06-05 14:58:22,074 [1    ] Abp.Localization.LocalizationManager     - Initialized localiz

[2019-06-05 07:13] hzicong commented on #4552
IIS log( just 400 ms):

`DEBUG 2019-06-05 15:10:37,188 [1    ] Abp.Localization.LocalizationManager     - Initializing 2 localization sources.
DEBUG 2019-06-05 15:10:37,284 [1    ] Abp.Localization.LocalizationManager     - Initialized localization source: Abp
DEBUG 2019-06-05 15:10:37,313 [1    ] Abp.Localization.LocalizationManager     - Initialized localization source: AbpWeb
DEBUG 2019-06-05 1

[2019-06-05 16:06] AllyMurray commented on #4519
For anyone intentionally trying to update packages I have found the issue. I was using npm but intentionally updated Ant Design and Typescript, this meant I also had to update Moment and React.

Form.create in Ant Design is now generic, stating the props type will stop this error.

`export default Form.create<ICreateOrUpdateUserProps>()(CreateOrUpdateUser);`

@ismcagdas I see the React template ha

[2019-06-05 19:14] ismcagdas commented on #4519
@AllyMurray react template was created by community contribution. If you have time to update the packages, it would be great 😄 . If not, we will try to do that, thanks.

[2019-06-06 00:44] apchenjun opened #4562 "abp repository update many to many throw error"
[code]

this is my dto and update but throw error,how to modify my code update many to many

[2019-06-06 00:48] maliming commented on #4562
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2019-06-06 01:12] acjh commented on #4562
Duplicate of #3470

[2019-06-06 01:53] apchenjun commented on #4562
@acjh Thank you for your answer，You provide a link, I have no clear answer after viewing it，I saw that it may be needed AutoMapper.Collection,But I don't know how to deal with it in ABP,Can you tell me how to modify my code?

[2019-06-06 02:14] acjh commented on #4562
Please refer to the Stack Overflow question linked in that issue and `AutoMapper.Collection` docs.
This is not specific to ABP.

[2019-06-06 07:30] Worthy7 opened #4563 "SoftDelete should be enabled when trying to create a new user"
Create user does not ignore soft deleted usernames/emails.
It should allow a new user to be created even if the same email was used and soft deleted in the past.

This works by default, but not if we disable SoftDelete filter globally. So I think that CreateUser should manually enable the SoftDelete filter in any case because I think it's absolutely required here.

[2019-06-06 07:35] maliming commented on #4563
This should be the responsibility of the developer, and the developer can enable/disable the filter according to the actual situation.

[2019-06-06 07:40] Worthy7 commented on #4563
Hmm ok.

[2019-06-06 07:40] #4563 closed

[2019-06-06 08:37] AllyMurray commented on #4519
@ismcagdas I can look at updating all the packages over the weekend, I will also open some issues to discuss suggested improvements I would like to implement.

[2019-06-06 10:47] gpcaretti commented on #4523
@osalas891123 I did it and it works. write me in private for details

[2019-06-06 14:33] lamemmv commented on #3356
@ismcagdas Not sure if I missed any reference but I tried your approach like this and my customer object does not contains Transactions property.

`var customer = await _customerRepository
                        .GetAllIncluding(x => x.Addresses, y => y.Contacts, z => z.InvoiceAgreement)
                        .FirstOrDefaultAsync(c => c.Id == input.Id);
 customer.**Translations**.Clear();`

Ple

[2019-06-06 14:47] Shelmanarti commented on #799
hi hikalkan,

Did you prepared such a report system, me too I am looking to create a widget that inform user about the progress of background job, in this case it is an import and export process.
I was curious if you already have develop such a functionality.

[2019-06-06 19:25] hikalkan commented on #4561
Can you share some code and explain more?

[2019-06-06 19:42] VentsislavDinev commented on #4561
I use the answer from #4559.

[2019-06-06 19:42] #4561 closed

[2019-06-06 19:49] jotamorais commented on #4148
I do have examples/samples, but unfortunately not with ABP. Shouldn't be hard to create one though.

[2019-06-07 02:09] osalas891123 commented on #4523
@gpcaretti, how can i reach you out in private for your guidance, thanksss in advance

[2019-06-07 02:18] vdurante opened #4576 "Support IFormFile using Swashbuckle"
`Swashbuckle.AspNetCore` version 4.0.0 implemented file upload when using `IFormFile` (you can read more about it [here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/193)). I am unsure if this a template or aspnetboilerplate issue, but I already spent 6 hours trying to make it work with no success.

Has anyone been able to make it work or could point me in a direction?

Besides

[2019-06-07 06:02] ismcagdas commented on #4523
@osalas891123 yes, a WCF project can't be .NET Core.

[2019-06-07 06:44] ismcagdas commented on #799
@Shelmanarti ABP framework has a notification system, see https://aspnetboilerplate.com/Pages/Documents/Notification-System but if you are planning to use it on your mobile app, there is no built-in support for that out of the box.

[2019-06-07 06:50] ismcagdas commented on #3356
@lamemmv

* Could you share your code ?
* If you are following the same approach, does your dto class has a list for Translations and is it filled when you debug your code ?

[2019-06-07 07:49] ismcagdas commented on #4559
@VentsislavDinev is this duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4561 ?

[2019-06-07 10:55] hikalkan commented on #4526
We will not add this to the standard CRUD interface because it is not a standard CRUD operation and depends on your use case. Please implement it for your services when you need.

[2019-06-07 10:55] #4526 closed

[2019-06-07 10:59] hikalkan opened #4564 "Cleanup other repository issues and move them here"
We will use a single repository to track issue for AspNet Boilerplate.

- [x] Check all issues on other repos, close outdated issues, move active issues here.
- [x] Add notes to their README to point here.
- [x] Disable issue creation for those repos.

[2019-06-07 12:27] hikalkan commented on #4555
Resolved by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4558

[2019-06-07 12:27] #4555 closed

[2019-06-07 13:25] Phiph commented on #4148
@jotamorais yeah I've seen out there a lot that aren't specific to ABP.
I've gone down the route of using the DefaultAuthenticationProvider class in abp - but my gut feeling is telling me that's the wrong implementation.

[2019-06-07 18:33] lhmiranda commented on #3571
Almost a year has passed and this problem still remains. The solution on the comments also still solves the problem, tho: use the web.config file @ebicoglu removing the rewrite rules and it will work.

[2019-06-08 01:39] amendez1000 opened #4565 "(QUESTION) Change tenant from the service side (from Application module)"
I am creating a multi tenant application. When a new user is registered from some type of user, a new tenant is created automatically and the admin user is created too. The new user is registered with his/her business name, e-mail and password. The user doesn't know and no need to know that a tenent was created. All this is done correctly.

When the user tries to login in the application, user wil

[2019-06-08 01:59] acjh commented on #4565
Pass the `tenantId` to `GetLoginResultAsync` in the `Authenticate` method that you mentioned.

[2019-06-08 03:18] amendez1000 commented on #4565
I was trying to get the tenant Id, to look up in the next step the tenanat and finally the tenant name.

I was doing something like this:

        public async Task<int?> GetTenantIdAsync(string email)
        {
            User user = await _userRepository.
                            FirstOrDefaultAsync(u => u.EmailAddress.Equals(email, StringComparison.InvariantCultureIgnoreCase));

[2019-06-08 04:06] neil-119 commented on #3341
I just wanted to post here since it's one of the first Google results to come up for this error. I spent the better part of a day trying to figure out the solution, so hope this helps someone. First, I was running ASP.NET Core 3.0. I had to upgrade to the latest preview version on [NPM](https://www.npmjs.com/package/@aspnet/signalr), and of course ensure that I was running the latest [.NET Core 3.

[2019-06-08 08:03] acjh commented on #4565
Yes, it does.

You can disable tenant data filter.
https://aspnetboilerplate.com/Pages/Documents/Data-Filters

[2019-06-08 13:57] AlbertAY commented on #4433
how to fix it,i hava same error when publish iis

[2019-06-08 23:32] amendez1000 commented on #4565
This works perfectly. Thanks so much for the advices.

           using (_unitOfWorkManager.Current.DisableFilter(AbpDataFilters.MayHaveTenant))
            {
                User user = await _userRepository.
                            FirstOrDefaultAsync(u => u.EmailAddress.Equals(email, StringComparison.InvariantCultureIgnoreCase));

                tenantId = user?.TenantId;
            }

Th

[2019-06-08 23:48] #4565 closed

[2019-06-09 01:54] hzicong commented on #4552
@maliming

[2019-06-09 05:48] maliming commented on #4552
You can provide a project to reproduce this problem.

[2019-06-09 05:54] maliming commented on #4433
@AlbertAY https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4433#issuecomment-480125421

[2019-06-09 07:13] hzicong commented on #4552
@maliming
This may be my problem. I'll check it again.

[2019-06-09 18:33] AllyMurray opened #4566 "React Dependency Updates"
@ismcagdas just wanted to make you aware I am working on this. I had hoped to finish it today but some packages were deprecated and had to be replaced. I am close to having it done. I will update this issue tomorrow with all the details.

[2019-06-09 19:51] #4566 closed

[2019-06-09 19:52] AllyMurray commented on #4566
Apologies, I opened this in the wrong repo. It should have been in the module-zero-core-template
 repo.

[2019-06-09 20:27] AllyMurray opened #4575 "React package updates"
# Package changes

## The following packages had to be removed

- [React Scripts TS](https://github.com/wmonk/create-react-app-typescript)
- [React App Rewired](https://github.com/timarney/react-app-rewired)
- [React App Rewire Less](https://www.npmjs.com/package/react-app-rewire-less)

React Scripts TS is now deprecated because Create React App natively supports TypeScript.

React App Rewired is

[2019-06-10 06:19] ismcagdas commented on #3341
Thanks @neil-119 for sharing this. I'm sure it will help.

[2019-06-10 07:08] yekalkan commented on #4464
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4567

[2019-06-10 07:10] ismcagdas opened #4568 "Don't allow tenant change on tenant registration page"

[2019-06-10 07:19] ismcagdas opened #4569 "Missing email validation"
Moved from https://github.com/aspnetboilerplate/eventcloud/issues/7

[2019-06-10 07:21] ismcagdas opened #4570 "Add two edition which have different features"
Moved from https://github.com/aspnetboilerplate/eventcloud/issues/2

[2019-06-10 07:44] ismcagdas opened #4571 "Export services in the index.ts"
Moved from https://github.com/aspnetboilerplate/abp-ng2-module/issues/53

[2019-06-10 07:46] ismcagdas opened #4572 "pass on options param into messages"
Moved from https://github.com/aspnetboilerplate/abp-ng2-module/issues/50

[2019-06-10 07:47] ismcagdas opened #4573 "abpHttpInterceptor converts "null" to {}"
Moved from https://github.com/aspnetboilerplate/abp-ng2-module/issues/40

[2019-06-10 07:48] ismcagdas opened #4574 "Intercept Exception-Handling - Allow disabling of default exception message per request"
Moved from https://github.com/aspnetboilerplate/abp-ng2-module/issues/3

[2019-06-10 08:39] Mehranh commented on #3468
Dear Ismail
I followed this link but It doesn't work for me.
I use IdentityServer4.

`    var terminalClaim =
                    PrincipalAccessor.Principal?.Claims.FirstOrDefault(c =>
                        c.Type == BookingSystemConsts.TerminalClaim);
                if (!string.IsNullOrEmpty(terminalClaim?.Value))
                {
                    return Convert.ToInt32(terminalClaim.Valu

[2019-06-10 08:44] ismcagdas commented on #4464
resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4567

[2019-06-10 08:44] #4464 closed

[2019-06-10 08:51] jerry2000 opened #4577 "upgrade vue template issues"
After downloading the VUE version, the upgraded iView version was reported wrong to 3.4.2, why there is also an iView component under src/types

[2019-06-10 08:53] KevinFarrow opened #4580 "German xml language file missing from Core project"
In the **DefaultLanguagesCreator.cs** file (module-zero-core-template/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/DefaultLanguagesCreator.cs) there is the line:

new ApplicationLanguage(null, "de", "German", "famfamfam-flags de"),

but there is no corresponding language file in the **module-zero-core-template/aspnet-core/src/AbpCompanyName.AbpProjectName.C

[2019-06-10 08:55] siva26051990 opened #4582 "ReferenceError: abp is not defined in reactjs while testing"
Please find the error attached which occurs when I create a new React Component named 'tableIcon.tsx' and run a test suite for the same.

![githubsivaerror](https://user-images.githubusercontent.com/16757430/52851567-624c9500-310e-11e9-97b3-27df514e2b4e.png)

[2019-06-10 08:57] ryoldash opened #4584 "React Native Integration"
Hi Community! Do we need React-Native template for Asp.Net Boilerplate? If yes my team is ready to integrate Abp React-Native.

[2019-06-10 08:57] gsoftdev opened #4585 "Implement ADFS Authentication on Angular version"
As I mentioned on the title, I want to set up AD FS Authentication on my project with Net Core 2.1 in Server & Angular in Client Side, I search a lot of keywords but seems like nothing help me well. So could you show me a tutorial for this?

[2019-06-10 08:57] maliming commented on #4572
already fixed https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4525

[2019-06-10 09:01] ismcagdas commented on #4572
@maliming we need to publish a new version for abp-web-resources and update it on abp-ng2-module.

[2019-06-10 09:07] maliming commented on #3468
@Mehranh
Have you used the AspNetIdentity component of IdentityServer4?
https://github.com/IdentityServer/IdentityServer4/blob/master/src/AspNetIdentity/README.md

[2019-06-10 09:30] Mehranh commented on #3468
No, I use /bp.ZeroCore.IdentityServer4,
Should I install IdentityServer4.AspNetIdentity?

[2019-06-10 09:48] AllyMurray commented on #4575
@ismcagdas @maliming
This may be a stupid question but against which branch should I issue the PR?

[2019-06-10 09:53] maliming commented on #3468
hi @Mehranh
It seems that IUserClaimsPrincipalFactory has been replaced. I will confirm it again.

[2019-06-10 10:12] maliming commented on #4575
You can request a merge to the `dev` branch. :)

[2019-06-10 10:18] AllyMurray commented on #4575
I should have said the reason I asked was I couldn't see a dev branch in the [module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template) repo. That would have been what I had picked if I could see it.

[2019-06-10 10:19] Mehranh commented on #3468
Hi @maliming
Thanks  a lot, I'm looking for getting an answer

[2019-06-10 10:20] ismcagdas commented on #4575
yes, on that repo there is only master branch, so you can send it to master.

[2019-06-10 10:28] ismcagdas opened #4588 "Removing unused CSS"
Bootstrap 4 and AdminBSB theme are large libraries and mot CSS rules are not used in finished applications in production.
Consider using **PurifyCSS** (https://github.com/purifycss/purifycss), **UnCSS** (https://github.com/uncss/uncss) or **Purgecss** (https://github.com/FullHuman/purgecss) as pipe at build time (WebPack).

https://stackoverflow.com/questions/37007814/difference-between-uncss-and-

[2019-06-10 10:29] ismcagdas commented on #4589
@BHARAT703 have you solved this problem ?

[2019-06-10 10:49] 4nonym0us commented on #4590
Hi @ismcagdas
From my point of view it's not a feature request, but a suggestion to increase the quality of code in Migrator project. Creating custom class which serves no purpose except being a facade for `Console.Log` statements is wrong. What makes it even more wrong is how easily the task is solved by configuring already existing log4net package.
So if you feel like it's actually a "feature" (

[2019-06-10 10:50] ismcagdas commented on #4595
Hi @chrsas have you solved this problem ?

[2019-06-10 11:00] ismcagdas opened #4600 "Upgrade to latest ABP"

[2019-06-10 11:17] ismcagdas opened #4601 "Update to latest ABP"

[2019-06-10 11:31] Mehranh commented on #3468
Finally, I solved my issue by add "clamistypes" to ApiResource by this code:
`  new ApiResource("default-api", "Default (all) API",new[] {BookingSystemConsts.TerminalClaim})`

[2019-06-10 11:38] ismcagdas commented on #4564
@yekalkan could you add the explanation on https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/README.md to all other repositories under https://github.com/aspnetboilerplate organization except https://github.com/aspnetboilerplate/aspnetboilerplate itself.

![image](https://user-images.githubusercontent.com/4133525/59193101-4ec9ac00-8b8d-11e9-9a9b-2baf858107d9.png)

[2019-06-10 13:53] AllyMurray commented on #4575
PR is issued, I do however have a question. In the source folder, there is a lib folder which contains abp.js and abp.d.ts. Do you know the reason for this? Should I have overwritten these with the files pulled from npm since the abp-web-resources package was updated?

If it needs to be manually overwritten using the files directly from the node_modules folder would surely be better?

[2019-06-10 15:10] apchenjun opened #4602 "abp PagedResult list throw error"
[code]

this is my code ,but exec throw error
error pointing
`var entityList = await query .OrderBy("CreationTime").AsNoTracking() .PageBy(input).ToListAsync();`

I clicked the query button a few times and the problem didn't exist.

[code]

[2019-06-10 19:19] ismcagdas commented on #4602
@apchenjun could you also share your main entity ?

[2019-06-10 19:28] ismcagdas commented on #4575
@AllyMurray I don't know React but in Angular version we were using this file from node_modules folder. When you publish Angular app, angular-cli copies such assets to output folder. If that is possible with React (I'm sure it is 😄 ), we can use it from node_modules folder.

[2019-06-10 19:46] #4564 closed

[2019-06-11 01:00] apchenjun commented on #4602
@ismcagdas this is main entity

`public partial class TpmProject : FullAuditedEntity<long, User>
    {

        public long? tpi_Projid { get; set; }

        public string AuditRemark { get; set; }

        public DateTime? AuditDateTime { get; set; }

        public ProjectState Status { get; set; }

        public virtual long ScreeningTaskId { get; set; }
        [ForeignKey("ScreeningTaskId")

[2019-06-11 01:16] maliming commented on #4602
@apchenjun
Is the problem happening randomly?
Can you provide a project to reproduce this problem?

[2019-06-11 05:52] 274188A opened #4603 "Castle.Core (4.4.0) and Swashbuckle.AspNetCore (4.01) not compatible"
Users should be wary that if they upgrade either of these nuget packages to the their latest respective stable releases - it will lead o a broken build, or worse runtime error.

![Capture](https://user-images.githubusercontent.com/40014477/59246796-00311600-8c50-11e9-8c69-6febdfb0a45d.PNG)

We may need to pin the versions of these in the short term.

[2019-06-11 05:55] maliming commented on #4603
Castler elated packages have been upgraded
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4539

[2019-06-11 06:22] 274188A commented on #4603
That may be so but I have upgraded and get a RUN-TIME error:

System.TypeLoadException
  HResult=0x80131522
  Message=Method 'get_IsTraceEnabled' in type 'Abp.Castle.Logging.Log4Net.Log4NetLogger' from assembly 'Abp.Castle.Log4Net, Version=4.6.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.
  Source=Abp.Castle.Log4Net
  StackTrace:
   at Abp.Castle.Logging.Log4Net.Log4N

[2019-06-11 06:25] maliming commented on #4603
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4445

[2019-06-11 06:29] 274188A commented on #4603
Yes I saw.  But all my packages are on latest stable.  #4445 just says update all related Castle packages.  I have and still get this run-time exception.

[2019-06-11 06:53] ismcagdas commented on #4603
@274188A ABP v4.7 is not released yet, so closing this a duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4445. You need to wait a little bit for ABP v4.7.

[2019-06-11 06:53] #4603 closed

[2019-06-11 08:06] AllyMurray commented on #4575
@ismcagdas Thanks for getting back to me, that's how I would have expected it to work however I have now diffed the version in node_modules against the version in the lib folder. The version in the lib folder has all references to jQuery removed.

The only other difference I can see is the addition of:
abp.multiTenancy.ignoreFeatureCheckForHostUsers = false;

I am assuming that was added in the la

[2019-06-11 14:07] maliming commented on #3956
hi @lommez

`DbContext.Database.GetDbConnection` and In Memory Database seem to have problems, you can try sqlite memory database.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.Dapper/Dapper/Repositories/DapperRepositoryBaseOfTEntityAndTPrimaryKey.cs#L44
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f59

[2019-06-11 16:01] ryancyq commented on #4598
They are still in use.

#### WebMpa
https://github.com/aspnetboilerplate/aspnetboilerplate-templates/blob/7b53984cefc61b67537c2175b8096c05a94d6729/src/AbpCompanyName.AbpProjectName.WebMpa/Scripts/jquery.blockUI.js#L118

#### WebSpaAngular
https://github.com/aspnetboilerplate/aspnetboilerplate-templates/blob/7b53984cefc61b67537c2175b8096c05a94d6729/src/AbpCompanyName.AbpProjectName.WebSpaAngular/Sc

[2019-06-12 03:28] chrsas commented on #4595
@ismcagdas No, the correct way hasn't been found, and [Sentry](https://sentry.io/) is temporarily used to track information, I plan to use a middleware to try when I have time.

[2019-06-12 04:54] Worthy7 commented on #4176
@osalas891123 I think I understand you, but in general this is still going to be use normal users with completely different sets of roles and permissions applied.

You are probably talking about the front end right, when you are talking about actions. You simply make one dashboard, then depending on what roles/permissions they have, you show/hide certain things to make it compose into the interfac

[2019-06-12 04:55] ChiakiYu opened #4604 "AcceptLanguageHeaderRequestCultureProvider returned the following unsupported cultures 'zh-CN, zh'"
* Abp package version：4.6.0
* ase framework: .Net Core.
* Exception message and stack trace if available.
[code]
* Steps needed to reproduce the problem.

1. In Startup > Configure: `app.UseAbp(options => { options.UseAbpRequestLocalization = false; });`
2. In EntityFrameworkCore > Seed > Host > DefaultLanguagesCreator:
[code]
3. In EntityFrameworkCore > Seed > Host > DefaultSettingsCreator:
[code

[2019-06-12 04:59] Worthy7 commented on #4091
@osalas891123 In the end you will make an admin that can ignore all ABP filters anyway, and I bet you will also probably create different groups of endpoints for different users (PatientRecordsForDoctorsAppService, PatientRecordsForPatientsAppService)
And inside these services you can just apply all the filters in the correct places manually, you will probably find that you end up making one endpo

[2019-06-12 05:01] Worthy7 commented on #4091
@osalas891123  FYI multiple MedicalProviders sounds like MultiTenancy to me. Then an admin to manage the extra bits which have host access/no filters.

[2019-06-12 05:08] maliming commented on #4604
Please share the code for your Startup.cs class

[2019-06-12 05:33] ChiakiYu commented on #4604
I found the reason.

In Startup > Configure
[code]
I don't know why the DefaultRequestCulture is ‘zh-cn’.
How should I set the DefaultRequestCulture  to ‘zh-Hans’

[2019-06-12 05:36] #4091 closed

[2019-06-12 05:37] #4176 closed

[2019-06-12 05:37] maliming commented on #4604
Can you use the startup project to reproduce this problem? https://aspnetboilerplate.com/Templates

This is related to the `accept-language` of your browser.

[2019-06-12 05:40] tnlthanzeel opened #4605 "does SingleAsync() has AsNoTracking()"
im writing a new project. when i query a single record using SingleAsync(), i want to know how to apply AsnoTracking() to the query.

[2019-06-12 05:42] maliming commented on #4605
Try `Repository.GetAll().AsNoTracking().SingleAsync()`

[2019-06-12 05:46] tnlthanzeel commented on #4605
thanks @maliming

[2019-06-12 05:46] #4605 closed

[2019-06-12 06:06] ChiakiYu commented on #4604
In the template project(https://aspnetboilerplate.com/Templates) ,there is no such problem.

But this problem will also occur if the Startup.cs of the template project is completely copied to my project.

Where else can I set it up?

[2019-06-12 06:09] ChiakiYu commented on #4604
Oh, sorry.
The template project I downloaded is 4.3.0
I upgraded to 4.6.0 and tried it.

[2019-06-12 06:15] #4578 closed

[2019-06-12 06:21] ChiakiYu commented on #4604
upgraded to 4.6.0
Same startup.cs
Why is my project having this problem.
Are there other places to configure?

[2019-06-12 06:23] ismcagdas commented on #4604
@ChiakiYu could you check your AbpSettings table to see if there are any settings with the value 'zh-cn' ?

[2019-06-12 06:28] ChiakiYu commented on #4604
![image](https://user-images.githubusercontent.com/9720473/59328151-3dfc7000-8d1e-11e9-8a59-8b99cd04d91d.png)

All  “zh-Hans”

[2019-06-12 06:30] maliming commented on #4604
Since there is no problem with the template, you can see the difference between your code and the startup template code.

[2019-06-12 06:31] ismcagdas commented on #4598
Thanks @ryancyq 👍

[2019-06-12 06:31] #4598 closed

[2019-06-12 06:39] ismcagdas commented on #4575
Here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Resources/Abp/Framework/scripts/abp.js

For this PR, you can override the existing file under lib folder. We can solve the using this file from node_modules problem later.

You can add a section to https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/reactjs/README.md

[2019-06-12 07:22] ismcagdas commented on #3571
This problem should be fixed when a new version of module-zero-core-template is released.

[2019-06-12 07:43] AllyMurray commented on #4575
@ismcagdas that's great, I appreciate the help.

PR updated. I will open an issue to discuss the best solution for this.

Perfect I will take a look, want to try and make it as easy as possible for others to get started.

[2019-06-12 08:44] zfmy commented on #4300
@ismcagdas hi, how to set filter parameter in ef core?
 `CurrentUnitOfWork.SetFilterParameter` is  useless in ef core.

[2019-06-12 09:04] LeoZhw commented on #3569
It works well.  Thanks.
[https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3569#issuecomment-402738621](url)

![image](https://user-images.githubusercontent.com/42063096/59337715-b588ca00-8d33-11e9-8d5e-d13541589e44.png)

[2019-06-12 09:25] maliming commented on #4300
Can you elaborate?

[2019-06-12 10:21] cybergoliath opened #4606 "how to properly implement push-notification in Abp"
Hello. I apologize for writing here, nobody has answered my question on SO at the moment.
I am new to Abp and SignalR, there is a question about the notification system and signalR. From the documentation a little is not clear:
1. Is it supposed to automate push notifications or do I need to write my own implementation?
2. in the notification system:

await _notificationPublisher.PublishAsync (
  

[2019-06-12 11:01] ChiakiYu commented on #4604
I found the difference between my project and the template project.

The multi-tenant mode of the template project is enabled by default. If multi-tenancy is not enabled, it has this problem.
[code]

So this should be a multi-tenant bug, not a browser issue.

[2019-06-12 12:42] maliming commented on #4604
This issue is related to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4446.

[2019-06-12 12:42] #4604 closed

[2019-06-12 15:07] sajasbana opened #4607 "enhancment: be able to change default schema of tables and __EFMigrationsHistory"
Dears,
i'm using lastest abp template with mpa core version

i added code to change default schema in the db condext but when run migration the table __EFMigrationsHistory is still in dbo schema

can you add some way to change schema ... like in appConst class a property with name defaultSchema = "dbo", and we can change it it needed,
 and use it in db context, so when use migration it change defa

[2019-06-12 22:21] amendez1000 opened #4608 "(QUESTION) Hide some methods in the App Service when derive from AsyncCrudAppService"
Hi,

When I create a new app service in the application project and it derives from AsyncCrudAppService, it automatically creates some methods as Create, Get, Delete, GetAll, Update and so on. I understand this is the propose of AsyncCrudAppService.

Do you know if there is a way to just select the methods that I want to expose? I would like to "hide" the create, delete and update. Or view in othe

[2019-06-13 01:02] maliming commented on #4608
Since you are using the CRUD base class, you should not hide it.
You can write the Get and GetAll methods separately instead of inheriting the CRUD base class.

[2019-06-13 01:11] maliming commented on #4607
Currently you can use `ChangeAbpTablePrefix`, see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2382

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/0ee3e0b46fdfc21ea338e1dd88bed35e1d54a90e/src/Abp.Zero.EntityFrameworkCore/Zero/EntityFrameworkCore/AbpZeroDbModelBuilderExtensions.cs#L33

[2019-06-13 01:36] liangshiw commented on #4606
First of all, the problem you raised in stackoverflow looks like there is no signalr javascript file introduced. See [SignalR JavaScript client](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2)
Second, ABP is a basic framework, without the advanced implementation you mentioned. [abp zero](https://aspnetzero.com/) implements chat and notifications using si

[2019-06-13 02:20] zfmy commented on #4300
@maliming In order to reproduce this, I download the last .net core template,then follow [this](https://aspnetboilerplate.com/Pages/Documents/Articles%5CHow-To%5Cadd-custom-data-filter-ef-core) to try to add custom data filter. Everything works well,but when I try to switch organizationUnitId with the follow code,nothing changed.
 `
using (CurrentUnitOfWork.SetFilterParameter("MayHaveOrganizationU

[2019-06-13 02:35] maliming commented on #4300
There is no MaybeHaveOrganizationUnit filter by default
https://aspnetboilerplate.com/Pages/Documents/Data-Filters#pre-defined-filters

[2019-06-13 02:45] ChiakiYu commented on #4446
So is this a normal setting or a bug waiting to be fixed?

[2019-06-13 02:47] maliming commented on #4446
Waiting to be fixed.

[2019-06-13 02:49] ChiakiYu commented on #4446
ok. Thanks for your help.Thanks to abp.

[2019-06-13 04:28] sajasbana commented on #4607
@maliming
Your suggestion is good and change tables schema but it not changes __EFMigrationsHistory table schema
![abp1](https://user-images.githubusercontent.com/34976854/59403496-7eee9600-8dab-11e9-8644-219811443da2.PNG)
![abp2](https://user-images.githubusercontent.com/34976854/59403541-ab0a1700-8dab-11e9-809d-b669b9f3049d.PNG)

to solve this I suggest to like below
![abp3](https://user-images.

[2019-06-13 05:53] ismcagdas commented on #4607
@sajasbana does this work https://stackoverflow.com/a/38834278/6681451 ?

[2019-06-13 06:14] sajasbana opened #4609 "Questuin: Insert locslization texts in DB by default"
Dears,
Is there wy to insrt loclization texts by default to the db when seed or when run application in [LanguageTexts] table?

I'm want to edit from the edit or insert texts from UI then Later I make query to get the new texts and copy them to thex localization source file

[2019-06-13 06:36] zfmy commented on #4300
Thank you for your attention.
I may figured it out.the `GetCurrentUsersOuIdOrNull` only takes the value from claims. It should check  `CurrentUnitOfWorkProvider.Current.Filters` firstly.

[2019-06-13 07:12] guazilalala opened #4610 "IRespository GetAll() Method Return IQuerybale Takes a long time"
[code]

[2019-06-13 07:16] maliming commented on #4610
You need to provide the environment and context for this test speed.

Otherwise we will not be able to judge the problem.

[2019-06-13 07:42] msfataei opened #4611 "just Async method work in my project !"
hi
i use aspboilerplate framework.
in recently i have a problem.
in my project just async method work and not async method dose not work.

any idea ?

[2019-06-13 07:46] msfataei commented on #4611
for example this method dose not work
public OpdReceptionSearchPntDto_Grid ListPnt(OpdReceptionInputSearchPnt input)

but this is worked
public  async Task<OpdReceptionSearchPntDto_Grid> ListPnt(OpdReceptionInputSearchPnt input)

in my method i dose not call any async method

help !

[2019-06-13 10:26] sajasbana commented on #4607
@ismcagdas
this is same as I did as you can see from my 2nd response

If you can add this as enhancement in abp and give option of change schema in the code like i showed i think it will be advantage

[2019-06-13 10:38] liangshiw commented on #4611
Show Error Stack

[2019-06-13 12:07] ryancyq commented on #4611
@msfataei please explain what is `not working` and what is `working`

[2019-06-13 12:13] ryancyq commented on #4609
@sajasbana you can follow how default languages are being seeded at the moment when running the application.

See https://github.com/aspnetboilerplate/module-zero-core-template/blob/f042d7b483fe49d624ea04b7255ddfea289ac2ee/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/Seed/Host/DefaultLanguagesCreator.cs

[2019-06-13 12:22] ryancyq commented on #4608
@amendez1000 assuming that you are using AspNetCore, you can overrides the CRUB method in your extended class and add `RemoteService(false)` attributes to it.

see https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#application-services-as-controllers

[2019-06-14 03:10] amendez1000 commented on #4608
@ryancyq

Hi,

I followed you advice and it worked perfectly. I did something like this:

       [RemoteService(false)]
        public override Task<TenantDto> Create(TenantDto input)
        {
            return base.Create(input);
        }

Thanks so much for you help @ryancyq and @maliming!!!

[2019-06-14 03:10] #4608 closed

[2019-06-14 03:48] bxjg1987 opened #4612 "entity history Reason doesn't work"
my project version is abp 4.6 .net 4.6.1

After I add [Audited] to the entity as instructed in the official document, the entity history can work normally
But when I write the following code, the Reason field is empty in the data table

        [UseCase(Description = "Assign an issue to a user")]
        public virtual async Task UpdateAsync(EmployeeEditDto input)
        {
                var ent

[2019-06-14 04:52] worthy7 opened #4613 "AbpTenantNotifications Guid EntityId has "" around it"
I just changed one of my Entities to use `Guid` as the Id instead of int, and when it's data is put into a notification it ends up with quotes around it, this seems like a bug

![image](https://user-images.githubusercontent.com/4762399/59484128-7bdacf00-8eab-11e9-9b81-7828ccaf21aa.png)

The publish code is this:

[code]

[2019-06-14 05:52] VentsislavDinev opened #4614 "SqlException: Invalid column name 'TenantId'."
Hello,
I have problems (for now start with Tenant, but I have a problem and with forever loop in Abp configuration), but first.
I want to use Tenant management in my app. When I add: IMustHaveTenant generate TenantId in my table. When I want to run my app and try to use this service the response is: SqlException: Invalid column name 'TenantId'. I have the configuration for the tenant in my core mo

[2019-06-14 05:56] ismcagdas commented on #4614
@VentsislavDinev have you created a migration and updated your database ?

[2019-06-14 06:22] ismcagdas commented on #4612
@bxjg1987 is UpdateAsync in an application service ?

[2019-06-14 06:25] bxjg1987 commented on #4612
@ismcagdas  yes, like this `    public class EmployeeAppService : ABPAppServiceBase, IEmployeeAppService`

[2019-06-14 06:26] ismcagdas commented on #4612
Do you inject it via IEmployeeAppService or EmployeeAppService  ?

[2019-06-14 06:29] bxjg1987 commented on #4612
EmployeeAppService   ，It works because the entity history is already inserted into the database, except that the "reason" field has an empty value

[2019-06-14 06:30] ismcagdas commented on #4612
Could you try injecting via IEmployeeAppService and see if it works ?

[2019-06-14 06:33] bxjg1987 commented on #4612
Do you mean to add "[Audited]" to the IEmployeeAppService. UpdateAsync？

[2019-06-14 06:38] ismcagdas commented on #4612
No, inject IEmployeeAppService when you are using it. If that is not clear, could you share how do you call UpdateAsync of EmployeeAppService ? Is it in a Controller ?

[2019-06-14 06:41] bxjg1987 commented on #4612
@ismcagdas dynamic web api，

[2019-06-14 06:43] ismcagdas commented on #4612
ASP.NET Core or ASP.NET MVC 5.x ?

[2019-06-14 06:44] bxjg1987 commented on #4612
@ismcagdas ASP.NET MVC 5.x ?    abp4.6

[2019-06-14 07:12] ismcagdas commented on #4613
@Worthy7 it is because of https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore.EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs#L197

See the explanation https://support.aspnetzero.com/QA/Questions/5364#answer-d8ad160b-e221-42ce-8e9e-252cca3b3506

[2019-06-14 07:22] #4609 closed

[2019-06-14 07:33] Worthy7 commented on #4613
I see, yea I Deserialized it to make it work.
Hmm I see.
Perhaps if anything then, an improvement could be made to the default `NotificationStore` which takes a type argument to allow correct casting of this value.

`GetUserNotificationWithNotificationOrNullAsync<Guid>(...)`

Just an idea.

[2019-06-14 08:20] imgd opened #4615 "EntityNotFoundException:There is no such an entity"
`_user = await _consumerUser.GetAsync(_curUserId);`
ERROR:There is no such an entity！！

![image](https://user-images.githubusercontent.com/5319255/59493951-ad10ca80-8ebe-11e9-8394-9011f892de1f.png)

Endity definition：
![image](https://user-images.githubusercontent.com/5319255/59494713-50161400-8ec0-11e9-9e42-f63dbed71a0c.png)

but `_user = await _consumerUser.FirstOrDefaultAsync(k => k.Id == _curU

[2019-06-14 08:52] #4591 closed

[2019-06-14 08:52] ismcagdas commented on #4591
Upgraded ABP to v4.6.0 for InterceptionDemo project

[2019-06-14 09:10] #4592 closed

[2019-06-14 09:12] ismcagdas commented on #4592
Added `"registry": "https://registry.bower.io"` to .bowerrc and added https://github.com/KingYSoft/bootstrap-theme-paper to the project.

[2019-06-14 09:33] bxjg1987 commented on #4612
I found the problem, in the.net core version can use the default HttpRequestEntityChangeSetReasonProvider class, but in mvc5. X NullEntityChangeSetReasonProvider class will be used, and the Reason this class won't get UseCaseAttribute defined values, but always returns null, feel it like a trap，read https://github.com/aspnetboilerplate/aspnetboilerplate/blob/0b7fd00669a227fe46d9d448b3c4d828bb87370

[2019-06-14 09:35] #4614 closed

[2019-06-14 11:02] VentsislavDinev opened #4616 "Debug in Abp"
Hello,
I try to use my App service and when I run my application I have forever loop and entity framework module don't stop to call.

![EFModule](https://user-images.githubusercontent.com/10218246/59504937-f9c1ba80-8e58-11e9-8143-d2b2f0987a31.png)
![ServiceModule](https://user-images.githubusercontent.com/10218246/59504938-f9c1ba80-8e58-11e9-8cb4-474104f680fc.png)
![Service](https://user-images.gi

[2019-06-14 11:14] ismcagdas commented on #4582
Might be related to https://github.com/sharegate/craco/issues/89

[2019-06-14 11:15] ismcagdas commented on #4575
Resolved via https://github.com/aspnetboilerplate/module-zero-core-template/pull/461

[2019-06-14 11:15] #4575 closed

[2019-06-14 11:15] ismcagdas commented on #4519
Resolved via https://github.com/aspnetboilerplate/module-zero-core-template/pull/461

[2019-06-14 11:15] #4519 closed

[2019-06-14 13:43] yangy9593 opened #4617 "Why attributes can be injected in Controller? However, the injection failed in other classes?"
Hello,
Why attributes can be injected in Controller? However, the injection failed in other classes?How to achieve the same effect？

[code]

[2019-06-14 13:44] yangy9593 commented on #4615
在 EntityFramework > Context 中定义了吗

[2019-06-14 14:07] ismcagdas commented on #4425
Opened according to report on https://support.aspnetzero.com/QA/Questions/6847#answer-c2c4c8f1-d532-4ced-1b96-39ee5cb927b6

[2019-06-14 14:16] ryancyq commented on #4617
`ISysLogsAppService` should be injected. The framework has similar code pattern.

See https://github.com/aspnetboilerplate/aspnetboilerplate/blob/28300b2e391792bdacaf629959ff5b808fdf5f08/src/Abp/BackgroundJobs/BackgroundJobManager.cs#L20-L23

[2019-06-14 14:18] ryancyq commented on #4616
Do you have error stack trace for this?

[2019-06-14 14:29] ryancyq commented on #4612
The PR for the enhancement is not merged yet.

https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4456

[2019-06-14 14:32] VentsislavDinev commented on #4616
Nope.. Just load.. and load.. and load.. 1 hour can just a load and can't note a return exception.  @ryancyq

[2019-06-14 14:42] ryancyq commented on #4616
Are you able to reproduce with abp template?

https://aspnetboilerplate.com/templates

[2019-06-14 14:47] ismcagdas commented on #4606
@cybergoliath you can implement sending notifications to clients and handling them on the client side using SignalR as @liangshiw mentioned.

[2019-06-14 14:47] #4606 closed

[2019-06-14 14:49] ismcagdas commented on #4616
@VentsislavDinev what is the latest log you can see in the log file ?
It would be great if you can reproduce it as @ryancyq says.

[2019-06-14 14:51] ismcagdas commented on #4612
Its merged, thanks a lot @ryancyq 👍

[2019-06-14 14:51] #4612 closed

[2019-06-14 15:20] easyest opened #4618 "EntityHistory not working with entity inheritance"
Abp 4.6
.Net Framework

Steps to recreate:
1. Download fresh project and update packages or get latest template from github.
2. Create entities:
[code]
3. Add to context:
[code]

4. Enable entity history for student or both student and person:
[code]

5. In application service try to create student:
[code]

6. Get exception like this:
[code]

[2019-06-14 16:06] #4610 closed

[2019-06-15 12:38] gnsilence commented on #4538
I read this article.My program still doesn't work properly.
It doesn't seem very clear,I don't quite understand that eventually it's rewriting CAP.SqlServerCapOptionsExtension Or Just  Set SqlServerOptions in DbContext.Configurer.
I  Just Set SqlServerOptions in DbContext.Configurer.

[2019-06-16 12:40] dsonjohn opened #4619 "publish abp web.host"
how to publish Abp web.host on kestrel and change localhost:21021 to 0.0.0.0:80 ?

[2019-06-16 17:32] HADDADENICAR opened #4620 "AutoMap in ASPNetBoilerplate (question)"
In your lasts commercial version of AspNetBoilerplate (AspNetZero) , Dto are recommanded to be placed in **Application.shared** project, Entites in **Core** project.
The project is using **AutoMapper**, as an object to object mapper.

To create a mapping between a dto and an entity we have to :

* use **AutoMapTo** attribute for the defined dto :

        [AutoMapTo(typeof(entity))]
           cla

[2019-06-17 00:56] imgd commented on #4615
定义了！

[2019-06-17 00:59] imgd commented on #4615
`_user`  is not null  ,  that is not the reason.

[2019-06-17 01:06] maliming commented on #4619
Abp is the asp net core application, please refer to Microsoft related documentation.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/?view=aspnetcore-2.2

[2019-06-17 01:06] #4619 closed

[2019-06-17 01:11] maliming commented on #4620
For questions about Zero, please ask in the Zero repository.
https://github.com/aspnetzero/aspnet-zero-core/issues/new

[2019-06-17 01:27] maliming commented on #4615
@imgd Can you provide complete code or a project to reproduce the problem?

[2019-06-17 02:06] rexyluther opened #4621 "I can't access with http-server"
I am building with Angular and dotnet core.
I compiled with ng build --prod and go to dist folder.
And I tried http-server -p 8081 (I installed http-server globally)
but browser show "No webpage was found for the web address: http://localhost:8081/home"
Do I miss anything ?

[2019-06-17 02:09] maliming commented on #4621
Maybe you should google search: http-server and angular how to work together.

[2019-06-17 02:19] imgd commented on #4615
找到问题了，
abp 默认仓储 Get 或 GetAsync 如对应的表数据为空 调用直接报错
不清楚是否故意这样设计。
替代方案就是：FirstOrDefaultAsync

[2019-06-17 02:20] imgd commented on #4615
Find the problem.

Abp defaults to store Get or GetAsync if the corresponding table data is direct error reporting for air conditioning

It is not clear whether the design was intentional.

The alternative is FirstOrDefault Async

[2019-06-17 02:22] #4615 closed

[2019-06-17 03:27] rexyluther commented on #4621
I found http-server has a problem and I needed down graded

[2019-06-17 03:27] #4621 closed

[2019-06-17 05:35] ismcagdas commented on #4620
@HADDADENICAR that is why we have introduced CustomDtoMapper class in AspNet Zero. As you have the source code, you can check it. Best practices changes according to project structure.

[2019-06-17 05:35] #4620 closed

[2019-06-17 06:10] ismcagdas commented on #4613
@Worthy7 I couldn't understand your last suggestion. GetUserNotificationWithNotificationOrNullAsync gets the notification from database, so what will adding `<Guid>` will do there ?

[2019-06-17 06:18] Worthy7 commented on #4613
Typecast the result of EntityId.
so the dto returned would have a typed EntityId

So basically the same as the current `GetUserNotificationWithNotificationOrNullAsync()` but then Deserialize `EntityId` into the `EntityId` field instead of storing it as a jsoned string

[2019-06-17 18:00] kopczynski1991 opened #4622 "Templates asp.net boilerplate - bug in method GetCurrentUserAsync"
Hi,
I finded two bugs in templates asp.net boilerplate:

-  module-zero-template/src/AbpCompanyName.AbpProjectName.Application/AbpProjectNameAppServiceBase.cs

Current version:

[code]
I'm propose change code for this:

[code]

-  module-zero-core-template/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/AbpProjectNameAppServiceBase.cs

Current version:

[code]
I'm propose change code for

[2019-06-17 18:05] ryancyq commented on #4622
Hi @kopczynski1991 you can fork the repository and create a pull request from your forked repository.

For pull request, see https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-06-17 20:06] kopczynski1991 commented on #4622
Thanks ;)

I created two pull request:

https://github.com/aspnetboilerplate/module-zero-template/pull/162
https://github.com/aspnetboilerplate/module-zero-core-template/pull/465

[2019-06-18 00:57] #4622 closed

[2019-06-18 02:24] doufeng007 commented on #4538
var dbContext = (DbContext) provider.GetService(sqlServerOptions.DbContextType);

the dbContext   is null in SqlServerCapOptionsExtension  , so   you must rewriting it;
beacause the  default  ioc container doesn't have  the instance  of dbContext ;
so  in AddSqlServerOptions  just give the type of dbContext ;  it can not give value to  ConnectionString;

[2019-06-18 08:33] AllyMurray commented on #4582
The above error is not related to that issue, Croco has only been used since the package update. There was however a new issue introduced [DocSpring/craco-antd#10](https://github.com/DocSpring/craco-antd/issues/10)

The maintainer is looking for help on that issue, I am going to take a look but I don't have a great deal of experience with webpack and configs.

In the meantime, I have changed the t

[2019-06-18 09:57] HADDADENICAR opened #4623 "How To know which dependancy my module dependes on ?"
I want to extend aspnetboilerplate with  wpf (core3) :

i see that your solution is built with modules, some modules should be loaded before the other .

I added a module for wpf , but i don't know which modules it should depends on ?

can you give me some calarifications ?

[2019-06-18 15:32] hikalkan commented on #4623
Your module should depends on all modules in the projects where your project has package/library reference.

I mean if your project has a reference to [Abp.EntityFrameworkCore](https://www.nuget.org/packages/Abp.EntityFrameworkCore) package then you need to add DependsOn for AbpEntityFrameworkCoreModule class.

You can also check https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/

[2019-06-18 15:47] #4623 closed

[2019-06-18 17:28] osalas891123 opened #4624 "(QUESTION) Getting error when using parallel repository method calls inside a query."
I'm trying to get my queries server side executed (Maybe not the more efficient ones, due to restrictions of ef core (restricted group by, union, etc)) and i'm getting the exception a **second operation started on this context before a previous asynchronous operation completed**, I tried to disable UnitOfWork on my AppService but then UserManager.IsInRoleAsync throw exception unitOfWork can't be n

[2019-06-19 00:51] #3956 closed

[2019-06-19 01:32] maliming commented on #4624
Please share the stack information and the code that calls this method.

[2019-06-19 05:48] ismcagdas commented on #4582
In Angular version, we were loading abp.js as a vendor script. I'm not sure how to do it in React. The better approach is to write abp.js as a typescript module I guess.

[2019-06-19 07:50] HADDADENICAR commented on #4623
have you a version with .net core 2 ? AbpWpfDemo(core3)

[2019-06-19 08:01] maliming commented on #4623
@HADDADENICAR  As far as I know, there is currently no.

[2019-06-19 08:19] AllyMurray commented on #4582
I just had a look at the Vue project and realised that the React one must be based on that. It also has a lib folder with the abp.js file in it. I haven't run the tests for it but it has the same problem of having to manually update that file.

How do you see this progressing? An independent TS module or a re-write of the current JS file?  I would be happy to do it either way.

[2019-06-19 13:03] HADDADENICAR opened #4625 "How To find the code(method ) behind a Rest API resource in aspnetboilerplate ?"
Failed to extend aspnetboilerplate with WPF Core 3, i planned to use the Rest Service of my application.

The problem is like below:
i have an old WPF(.Net FrameWork) project, that i want to serve with a new  similaire aspnetboilerplate Core project.

I launch the swagger of my application,i can see the services , but to be sure about which service i need to call i want to know which method in the

[2019-06-19 14:30] ismcagdas commented on #4625
Hi @HADDADENICAR

You can check related AppService or Controller in your project. AspNet Boilerplate automatically converts your app services into ASP.NET Controllers and serves them as API endpoints.

If you look at the image below, there are two services named Account and AuditLog.

![image](https://user-images.githubusercontent.com/4133525/59774253-d44d0a80-92b7-11e9-9a86-fcf2bcacc336.png)

For

[2019-06-19 14:47] #4625 closed

[2019-06-19 14:58] #4616 closed

[2019-06-19 15:00] VentsislavDinev opened #4626 "HandlerException: Can't create component 'UserManager' as it has dependencies to be satisfied."
[code]

[2019-06-19 18:44] will056 commented on #3834
I used your solution but error repeat. Link not work.

Please, how fix error?

[2019-06-19 23:34] amendez1000 opened #4627 "(QUESTION) One of the identified items was in an invalid format."
Hi everyone,

I hope someone may help me to understand what I am doing wrong, I have a complete week trying this and I don't find the solution.

I have my App Service:

     public class BusinessAppService : AsyncCrudAppService<Tenant, BusinessDto, int, PagedBusinessResultRequestDto>, IBusinessAppService
    {
        IUnitOfWorkManager _unitOfWorkManager;
        private readonly BranchManager _b

[2019-06-20 01:06] maliming commented on #4625
@HADDADENICAR
When you are not familiar with abp, the documentation will be the first thing you should look at.
https://aspnetboilerplate.com/Pages/Documents

[2019-06-20 01:16] maliming commented on #4626
Is it a standard web project? Please share some code.

[2019-06-20 01:18] maliming commented on #3834
@will056
Are you using the latest downloaded MVC5 template?

[2019-06-20 01:31] maliming commented on #4627
This is more like a database component problem, Can you try directly with EF Core instead of abp?

The other problem is that the way the filter is disabled in the CreateFilteredQuery method is problematic.
see:https://aspnetboilerplate.com/Pages/Documents/Data-Filters#about-the-using-statement

[2019-06-20 02:37] amendez1000 commented on #4627
I removed the filter disable and I got the same results.

My project is using Abp.ZeroCore.EntityFrameworkCore version 4.3.0. The last estable version is 4.6.0. Should I upgrade it?

The template used in my project is ABP 4.6.0.

Thanks!

[2019-06-20 02:47] maliming commented on #4627
This is more like a database component problem, Can you try directly with EF Core instead of abp?

[2019-06-20 04:12] will056 commented on #3834
Sorry, problem only my computer. I try other project which earlier work. Now he return error

[2019-06-20 04:39] 2501272126 opened #4628 "I want run background work for once, but RunOnStart=true is not work."
Abp 4.6.0

I want run background work for once, but when I set RunOnStart=true, It's Invalid.
Where am I wrong?
this is my code and test result:

<pre>
public class CacheInitializationWork : PeriodicBackgroundWorkerBase, ISingletonDependency {
        public CacheInitializationWork() : base(new AbpTimer(5000, true)) {
            //timer.RunOnStart = true;
            //timer.Period = 5000;

[2019-06-20 05:01] ismcagdas commented on #4628
BackgroundWorkers run periodically. When you set RunOnStart it executes DoWork method without waiting for first tick of timer.Period. In your case, you need to use a BackgroundJob if you want it to run only once.

[2019-06-20 05:03] ismcagdas commented on #3834
If you have the same problem, you need to delete existing migrations and create a new migration.

[2019-06-20 05:29] ismcagdas commented on #4626
Might be similar to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4103#issuecomment-450636270

[2019-06-20 06:30] 2501272126 commented on #4628
I got it!
Thank you!

[2019-06-20 06:30] #4628 closed

[2019-06-20 07:30] HADDADENICAR opened #4629 "How to Override Current Session Values With an Api Call ?"
My old Wpf code have  a call to the session with an instance of **AbpSession**, it overrides
current session values  for a limited scope:

    using (Session.Use(null, App.AbpLoginResult.User.Id))
             {
                  .......
                             }
know i get the session with an Api call  like this :

    var GetCurrentSession = ApiHelper.ApiClient.GetAsync("api/services/app/Se

[2019-06-20 08:06] ismcagdas commented on #4582
@AllyMurray I'm not sure, what do you think ?

[2019-06-20 10:50] maliming commented on #4629
Is this `session `your own class? You need to share more code.

[2019-06-20 13:00] AllyMurray commented on #4582
@ismcagdas ideally there wouldn't be two copies of the same code, I don't know how the Angular project is set up but assuming you can easily import the module re-writing the current js file would be the way to go.

This does mean we will have to consider what happens with jQuery, neither the Vue or React projects use jQuery and it's not worth having it as a dependency for such a small amount of co

[2019-06-20 16:08] #4624 closed

[2019-06-21 06:05] g1293722517 opened #4630 "abp.dapper uses mysql,Why is the generated SQL statement SQL Server？"
![image](https://user-images.githubusercontent.com/18181270/59901300-5f9bdc80-942d-11e9-881b-8926b2734faa.png)
![image](https://user-images.githubusercontent.com/18181270/59901326-78a48d80-942d-11e9-843a-8c3b4216ec5f.png)
![image](https://user-images.githubusercontent.com/18181270/59901359-8e19b780-942d-11e9-9624-8d45966d3233.png)

![image](https://user-images.githubusercontent.com/18181270/599012

[2019-06-21 06:10] maliming commented on #4630
Try modifying `DapperExtensions.DapperExtensions.SqlDialect` to mysql.

see: https://github.com/tmsmith/Dapper-Extensions/issues/167#issuecomment-335966335

[2019-06-21 06:18] g1293722517 commented on #4630
@maliming That's settled. Thank you very much.

[2019-06-21 06:18] #4630 closed

[2019-06-21 06:51] ismcagdas commented on #4582
I think it is better to remove JQuery dependency.

[2019-06-21 08:08] g1293722517 opened #4631 "Custom Repositories，Tips for unregistered？"
![image](https://user-images.githubusercontent.com/18181270/59907784-726add00-943e-11e9-837b-f0d7d6632100.png)
![image](https://user-images.githubusercontent.com/18181270/59907808-86aeda00-943e-11e9-8cc6-2aa921528ab1.png)
![image](https://user-images.githubusercontent.com/18181270/59907864-a3e3a880-943e-11e9-9619-7eb64553605e.png)
error is
![image](https://user-images.githubusercontent.com/1818127

[2019-06-21 08:13] maliming commented on #4631
Register your component based on the stack information.

see: https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection

[2019-06-21 08:54] g1293722517 commented on #4631
@maliming
![image](https://user-images.githubusercontent.com/18181270/59910418-6b46cd80-9444-11e9-8b93-997013ac4288.png)
![image](https://user-images.githubusercontent.com/18181270/59910441-77328f80-9444-11e9-8043-e9ed8eaeb38e.png)
![image](https://user-images.githubusercontent.com/18181270/59910457-831e5180-9444-11e9-9538-85712ff472aa.png)
Why not auto injection?

[2019-06-21 09:22] g1293722517 commented on #4631
@maliming
the stack information mean that IDapperCustomRepository needs to be registered at the application project?
![image](https://user-images.githubusercontent.com/18181270/59912260-42283c00-9448-11e9-8e5a-0fe8f41ed4ac.png)
Error updated
![image](https://user-images.githubusercontent.com/18181270/59912346-769bf800-9448-11e9-99f2-edd6145386c5.png)

But I still don't know why.
Not too understand

[2019-06-21 10:52] maliming commented on #4631
The interface needs to implement class.

such as: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/da8a75b7021de758be2493ed589d400b9d66cdcd/src/Abp/AbpKernelModule.cs#L48

If you still can't solve the problem, you can create a project using the abp startup template, write your dapper code, and share it.

[2019-06-21 19:47] kfrancis commented on #4549
For me, it looks related to the antiforgery feature:

[code]

[2019-06-21 19:50] kfrancis commented on #4549
Adding `[IgnoreAntiforgeryToken]` worked for me. I don't know if `[DontWrapResult]` is needed, but at least I'm generating and viewing the report now.

![BillingSystem Web - Microsoft Visual Studio (Administrator) 2019-06-21 15 49 19](https://user-images.githubusercontent.com/67574/59947824-3e8eb800-943c-11e9-8d9b-42676c96faec.png)

[2019-06-21 20:02] yurekliisa commented on #4549
It should be [DontWrapResult] because telerik use custom response

[2019-06-22 00:25] WilsonHung opened #4632 "Bug or Rule in "With ASP.NET Core & Entity Framework Core Part-1" Demo"
I try to add Chinese Localization Json File in my solution. But there is a very strange behavior. From Localization document, when using embedded json mode, i needn't concern the filename of json file. And there is no documents reminding me to notice how to set the filename of json file.

However, for Chinese language, the localization json file must named with mysourcename-zh-cn.json, otherwise i

[2019-06-22 01:25] g1293722517 commented on #4631
@maliming
The problem has already been solved，Thank you very much.

[2019-06-22 01:25] #4631 closed

[2019-06-22 01:30] ryancyq commented on #4632
Both embedded files and json files need to have the same filename as the locationzal source name.

Related https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3914, https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3870

[2019-06-22 08:33] AllyMurray opened #4633 "Convert abp.js to TypeScript"
**Current situation:**
The abp.js file is currently manually copied into the React and Vue projects and then the jQuery dependency is removed. This is inefficient and potentially error-prone. With the setup of the React project, abp cannot be easily consumed when testing React components; causing [this related issue](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4582).

Throughout

[2019-06-22 10:20] maliming commented on #4465
hi @emisand

I implemented a Dapper base class that only requires DbContent.
https://github.com/aspnetboilerplate/aspnetboilerplate/commit/2e4fcd1299ea20ba79d3fc47fa87d15eefcd1900#diff-c6bf62f378a817efe38370f9c0f8c9bcR12
It provides DbConnection and DbTransaction so you can use everything from dapper.

Regarding DateTimeHandler, dapper currently seems to have a problem to be solved.
https://github

[2019-06-22 15:01] WilsonHung opened #4634 "How to use actual database provider in test project?"
In "With ASP.NET Core & Entity Framework Core Part-1" demo, the unit test project uses in-memory database provide to isolate the testing data.

Sometimes, i want to use  actual database provider to run some specific tests. As a fresher man, is there anybody tell me how to swap from in-memory database provider to actual database provider?
Thanks very much!

[2019-06-22 23:13] maliming commented on #4634
The unit test methods are independent of each other. It is possible that each method requires the same database and may need to initialize some seed data. So using the actual database is very difficult.  If the ef memory database has some limitations, you can consider using the sqlite in-memory database.

[2019-06-23 02:35] emisand commented on #4465
@maliming Thanks for the update.
It's weird to see that error in Dapper's repo, the code example I provided works perfectly for me in my ASP.NET Zero solution.
Maybe you could try it anyways and create some unit tests to check if it works for nullable datetimes.

[2019-06-23 02:59] emisand commented on #4465
@maliming

According to [StackExchange/Dapper#471](https://github.com/StackExchange/Dapper/pull/471)
The part of `TypeHandler` that is currently broken is `SetValue()`, so `Parse()` works as expected.

As you can see in the `DateTimeHandler` I implemented, it's not doing any custom code for the `SetValue` method, because we only want to translate DateTimes from UTC when they are read, and we don't

[2019-06-23 05:51] WilsonHung commented on #4634
@maliming Thanks a lot. It is not because of ef memory database's limitation. What I want to do is that I want to apply some data to actual database, however, i am a new learner, and abp framework help us do enough work, then I don't know how to resolve a actual database provider. In other words, I don't know how to call interface by myself.

For example, I create the service as below:
  public Ta

[2019-06-23 11:42] Mehranh opened #4635 "ISettingManager does'nt filter tenantId in a Console App"
Hello Dears
I have an issue that confuses me.
In a Console Application I want to use ISettingManager with multi tenancy but I it doesn't filter tenantId.

This is my code:

[code]

BookingSystemAppModule:
[code]
[code]

And The SQL query:
[code]

Thanks a lot
Mehran Hafizi

[2019-06-23 11:53] maliming commented on #4635
Does the current AbpSession TenantId have a value?

[2019-06-23 12:52] Mehranh commented on #4635
Hi @maliming
Yes. Cause I check it by IRepository<User> for test.
And in this case It filtered the tenantId.

Thanks a lot

[2019-06-23 14:56] g1293722517 opened #4636 "abp，How to Keep User Session in Load Balancing?"
abp，How to Keep User Session in Load Balancing?

[2019-06-23 14:58] hikalkan commented on #4636
AbpSession properties are read from the current claims of the authentication ticket. It is obtained by HTTP cookie or header based on your auth preference. So, it works as expected in a clustered environment.

BTW, switch to redis caching on such a case: https://aspnetboilerplate.com/Pages/Documents/Caching#redis-cache-integration

[2019-06-23 14:58] #4636 closed

[2019-06-23 18:47] #4118 closed

[2019-06-23 19:02] HADDADENICAR commented on #4629
the session is Abpsession , it has no relation with rest api ?

[2019-06-23 20:46] amendez1000 commented on #4627
Hi @maliming,

Sorry for my lack of knowledge, what do you mean trying with EF Core? What project should I change?

Thanks!

Regards,
Arturo

[2019-06-24 00:52] maliming commented on #4627
I mean this problem seems to have nothing to do with abp, more like the problem with the database provider you are using.

You can try CRUD directly using EF Core.

Such as:
Create a new project, reference EF Core related components, define DbContext. and so on.

[2019-06-24 01:04] maliming commented on #4629
You need to share more code. So that we can understand your code or can reproduce your problem.

[2019-06-24 01:06] maliming commented on #4636
There is also a load balancing document here.

https://aspnetboilerplate.com/Pages/Documents/Articles/Running-in-Docker-Containers-and-Building-a-Web-Farm-Load-Balancer-Scenario/index.html

![image](https://user-images.githubusercontent.com/6908465/59984729-4a0df900-965f-11e9-97e8-1ce627578645.png)

[2019-06-24 02:09] maliming commented on #4465
Thank you for your supplement, I will confirm again today,

[2019-06-24 04:15] Mehranh commented on #4635
Doesn't have any idea?

[2019-06-24 04:50] maliming commented on #4635
Can you provide a recurring project?
https://aspnetboilerplate.com/Templates

[2019-06-24 05:02] Mehranh commented on #4635
@maliming
I checked again, AbpSession TenantId doesn't have value

Thanks

[2019-06-24 05:08] maliming commented on #4635
So, AbpSession.TenantId has no value, which is the cause of the problem.

[2019-06-24 05:15] Mehranh commented on #4635
@maliming

No, It's not the problem
Please assume that it's a Windows service application.

See the below code:

[code]

For user repository it filters the tenantId but for settingManger no.
You can see the query for userRepository:
[code]

[2019-06-24 05:33] Mehranh commented on #4635
I reviewed Abp.Configuration.SettingManager, You just read tenantId from AbpSession.TenantId . Actually,
You don't assume that maybe it needs read tenantId from unitofwork
Now, What do you think we can do to solve this problem?

[2019-06-24 05:40] ismcagdas commented on #4635
@Mehranh could you try using https://aspnetboilerplate.com/Pages/Documents/Abp-Session#user-identifier instead of _unitOfWorkManager.Current.SetTenantId ?

[2019-06-24 05:44] Mehranh commented on #4635
@ismcagdas
It works.
Where are you until now :)
Thanks a  bounce.

[2019-06-24 05:46] #4635 closed

[2019-06-24 05:52] maliming commented on #4465
Another problem is that we can't implement the `ShouldDisableDateTimeNormalization` function.

[2019-06-24 06:04] Worthy7 opened #4637 "Cannot get all roles in Single Tenant mode"
I added a "Mod" role on the host side.
Yet I cannot get this role from an IRepository if multi-tenancy is disabled, it seems that the MayHaveTenantId filter is stopping me from getting it even as the host admin.
![image](https://user-images.githubusercontent.com/4762399/59995003-e00e4780-9690-11e9-85cb-fbbada728002.png)

Please check out my commit here:
https://github.com/Worthy7/AspAbpSpa/commit/

[2019-06-24 06:06] Worthy7 commented on #4637
Just to give some extra context of my use case.
I am trying to create a "premium" user role, (which users can pay to upgrade into, or I can set it as the host admin) but in my simple test to set it as the host admin, I cannot even see the role unless I use the dbcontext directly. It is being filtered because of the MayHaveTenant filter - which is strange since Multitenancy is off in my app.

[2019-06-24 06:15] ismcagdas commented on #4637
@Worthy7 it is the expected behavior. Have you converted your app from multi tenant to single tenant ?

[2019-06-24 06:25] Worthy7 commented on #4637
@ismcagdas Like doing what for example?
Why is the "admin" role visible but not this "mod" role - I'm very confused.

[2019-06-24 06:27] ismcagdas commented on #4637
Because default tenant also has a role named "admin". Probably that is the one you are seeing in single tenant mode.

[2019-06-24 06:29] Worthy7 commented on #4637
I see. So Host/Tenant doesn't exist in single tenant mode.
In single mode, it's just that everything, all users are on TenantId = 1... right?

[2019-06-24 06:30] ismcagdas commented on #4637
In single tenant mode, default tenant exists (TenantId=1).

Yes.

[2019-06-24 06:33] Worthy7 commented on #4637
I understand. Thanks.

[2019-06-24 06:33] #4637 closed

[2019-06-24 06:49] ismcagdas commented on #4549
@kfrancis according to error message `[IgnoreAntiforgeryToken]` must be used. If you find a way to add custom headers to Teleriks requet for getting report data, you can use `abp.security.antiForgery.getToken()` on JavaScript side to get value of AntiForgery token and add it to request headers.

This might work for you https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection#intercept-xm

[2019-06-24 06:51] ismcagdas commented on #4632
It is also explained here https://aspnetboilerplate.com/Pages/Documents/Localization#json-files

[2019-06-24 20:04] kfrancis commented on #4549
@shalinjirawla Are you using ReportTypeResolver as well? If so, how are you solving the authentication issue and report viewer tasks?

[2019-06-25 01:49] g1293722517 commented on #4636
@hikalkan @maliming Thank you very much.

[2019-06-25 02:03] amendez1000 commented on #4627
Hi everyone, sorry, the problem was my data in the record.

[2019-06-25 02:03] #4627 closed

[2019-06-25 04:09] a157147899 commented on #4433
@maliming   Hi maliming, After I published my application to the docker, I also got this error. Could you please show us how to replace the "CalculateContentRootFolder" function in the production environment? Thanks!

[2019-06-25 04:46] maliming commented on #4433
@a157147899

Your code should not use the `WebContentDirectoryFinder `class.

**This class is used to find root path of the web project in, unit tests (to find views) and entity framework core command line commands (to find conn string).**

[2019-06-25 04:54] a157147899 commented on #4433
Hi maliming,

Thanks for your reply, so can I just replace the "CalculateContentRootFolder()" with the virtual path of appsetting.json file.

[2019-06-25 04:57] maliming commented on #4433
Why do you want to use the CalculateContentRootFolder class?

[2019-06-25 05:03] a157147899 commented on #4433
Because my application has two DBContexts, the ”MyConnectionStringResolver.cs” used the "CalculateContentRootFolder", which I got from the official samples of "MultipleDbContextEfCoreDemo".

Below is the code:

`public class MyConnectionStringResolver : DefaultConnectionStringResolver
    {
        public MyConnectionStringResolver(IAbpStartupConfiguration configuration)
            : base(configu

[2019-06-25 05:20] maliming commented on #4433
I will check it out.

[2019-06-25 07:15] feigaogit opened #4638 "If later modules need to be deployed separately？How to Layer？"
There will be many modules in the future. like: basic platform, student platform, teaching platform。

How to build our project to facilitate future expansion？
Can you only create new folders?
![image](https://user-images.githubusercontent.com/18181270/60076513-52972a00-975a-11e9-8132-9c6c6b5e1498.png)

Previously, when we used a 3-tier architecture, we built multiple User Interface layer, Shared B

[2019-06-25 07:39] ismcagdas opened #4639 "Add startDate and endDate to NotificationStore and NotificationManager methods"
We will add startDate and endDate to Get and Delete methods of NotificationStore and NotificationManager

[2019-06-25 08:44] #4367 closed

[2019-06-25 11:07] #4639 closed

[2019-06-25 11:26] demirmusa commented on #4594
couldn't reproduce

[2019-06-25 12:42] hikalkan commented on #4638
I believe this is not related to ABP framework, but it is a general code organization question. I don't want to lead you a design with such a limited info.

You can probably implement your previous design with your ABP based solution too. Is there any restriction because of ABP?

[2019-06-25 14:03] ismcagdas commented on #4593
Resolved via https://github.com/aspnetboilerplate/aspnetboilerplate-samples/commit/da633563bbdb3f9889c27ea057562f6774f932e1

[2019-06-25 14:03] #4593 closed

[2019-06-25 15:19] HADDADENICAR commented on #4629
this is the code where it is used  :

            using (_AbpSession.Use(null, App.AbpLoginResult.User.Id))
            {
                App.TotalAmount = await AmountTotal();

                App.CurrentCreateOrUpdateCrateSessionInput.CrateSession = new CrateSessionEditDto
                {
                    Fund = App.TotalAmount,
                    TicketOfficeId = App.ticketOfficeId,

[2019-06-25 15:32] pagner opened #4641 "Entity Framework 6.3 Support"
Do you guys plan on supporting EF 6.3? This seems like a no brainer to me! It could be an ORM option on the .net full framework version since it is a requirement.

https://www.nuget.org/packages/EntityFramework/6.3.0-preview5-19254-05

Ef 6.3 with .Net Core Support
https://devblogs.microsoft.com/dotnet/announcing-entity-framework-6-3-preview-with-net-core-support/

[2019-06-25 16:02] dontboyle opened #4642 "Sync over Async Issue [FeatureChecker]"
* Current Version
* .Net Core.
* Remove Feature and Check Tenant for the removed feature in separate async method not returning expected results.

In this file
[src/Abp/Application/Features/FeatureChecker.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f76475d83dff7103f6379af64c4c957b610c541b/src/Abp/Application/Features/FeatureChecker.cs)

`public Task<string> GetValueAsync(string

[2019-06-25 16:07] HADDADENICAR opened #4643 "How to Get Login Info with Rest Api ?"
In your [docs](https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management), to get informations about the state of the login  a method of Module Zero (Application) ;**LoginAsync**  is used .

i found that in my old code :

      var loginResult = _logInManager.LoginAsync(userName, password, null);

                if (loginResult.Result.ToString() == "LockedOut")
                {

[2019-06-26 01:10] maliming commented on #4643
If I don't understand the mistake, you can directly inject the relevant services, and then implement the api to return the information you need.

[2019-06-26 01:10] feigaogit commented on #4638
@hikalkan  Okay, I'll try.  thank you a lot

[2019-06-26 01:12] #4638 closed

[2019-06-26 01:20] maliming commented on #4642
Can you share your test code?

[2019-06-26 01:23] maliming commented on #4629
Your code is part of the code, it's hard to understand your problem.

Can you share a relatively complete code?  You can use a startup template.

[2019-06-26 05:38] ismcagdas commented on #4641
@pagner it is still preview, we are planning to support it.

[2019-06-26 05:46] prodenx opened #4644 "Different db providers (connectors) for different environments"
Hi,

I need to support both MySql and MSSql DBs in one solution. DB provider should be selected on runtime via env file. For now I use const value defining DB type. With help of that `UseSqlServer` or `UseMySql` method called on action passed to `AddDbContext` method. Is there any way to do this via framework? Asking because also I need pass db type parameter into my module (as blog-sample for exa

[2019-06-26 05:54] hikalkan commented on #4644
No way of this in the framework. This configuration is done in the application level.

[2019-06-26 05:54] #4644 closed

[2019-06-26 06:01] prodenx commented on #4644
Could you give any recommendation how implement thatm pls? Just confused with dboptions are built by framework and framework get connection string via DefaultNameOrConnectionString property of AbpModule Configuration.

[2019-06-26 06:13] ismcagdas commented on #4401
This is work in progress on https://github.com/aspnetboilerplate/aspnetboilerplate/tree/pr/4401 branch. Currently there are some deadlocks and we will work on that in a few weeks.

[2019-06-26 06:27] prodenx commented on #4644
No need, have found solution. Thanks

[2019-06-26 07:13] HADDADENICAR commented on #4643
You mean i should leave dependency injection , as it is and just change the call in implementation from repositories to Api calls ?

But i can't reference any other project  , cause i use Wpf(.net framework)  and the other projects target (.net core) .

[2019-06-26 07:30] HADDADENICAR commented on #4629
I mean how to get abpsession, tenants ..... the concepts described  [here](https://aspnetboilerplate.com/Pages/Documents/Zero/Overall) with Rest Api calls ?

[2019-06-26 10:49] ismcagdas commented on #4629
@HADDADENICAR could you explain the whole scenario ? Are you sending any authorization header to your resp api ?

[2019-06-26 10:58] HADDADENICAR commented on #4629
This is the scenario :

We have an  old wpf code that was working on an old solution that targets .NetFramework.
now we have a new version that target .net core and as a result  we can"t add a reference to other bouned context or modules project as you name it .

A co-worker in my company suggested to use api calls as a solution , so instead of calling data with repositories we trigger calls to th

[2019-06-26 10:58] #4425 closed

[2019-06-26 10:58] ismcagdas commented on #4425
This is released with ABP v4.6

[2019-06-26 11:27] #4504 closed

[2019-06-26 11:38] #4481 closed

[2019-06-26 11:56] #4416 closed

[2019-06-26 12:06] ismcagdas commented on #4453
@JSluijs this works out of the box but you should configure it correctly. If you followed the sample in ABP Framework, it was configured wrong and I have fixed it. Basically you should do it like below:

[code]

[2019-06-26 12:48] #4446 closed

[2019-06-26 13:34] #4576 closed

[2019-06-26 13:41] ismcagdas commented on #4629
If I understand you correctly, this is possible of course. So, basically your WPF app should authenticate via remote api and send the token for each request, see https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core#token-based-authentication.

I assume, users login on your WPF app.

[2019-06-26 13:42] ismcagdas commented on #4643
If you use https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core#token-based-authentication, it will throw exception during authenticate process.

[2019-06-26 13:48] HADDADENICAR commented on #4629
yes users login in my WPF app , so no need for abpsession ,LoginManager etc ..
I will try that...

[2019-06-26 13:50] ismcagdas commented on #4629
Yes, no need for that. Just get a token as explained in the document, store it in your app and send it on every request to rest api.

[2019-06-26 14:13] vdurante commented on #4576
@ismcagdas how did you find out this was the issue? So simple.

[2019-06-26 14:52] ismcagdas commented on #4576
I compared this template with AspNet Zero and this seems like it might create a difference and trying it solved the problem 😄

[2019-06-26 14:58] dontboyle commented on #4642
@maliming Working on Test Project now.

[2019-06-26 16:14] pagner commented on #4641
This is good news. Can this be easily implemented right now at the project level? or are there necessary changes in the ABP dll's ? Specifically ABP Entity Framework core in the core project.

I've been waiting on this for a couple years now, so very anxious to get started on it, even though it's in preview.

Thanks!!

[2019-06-27 04:50] feigaogit opened #4645 "Use the project of ABP ID4 as a separate authentication service"
Use the project of ABP ID4 as a separate authentication service，Can it only protect its own API？
for example：
http://localhost:62114 is the ID4
http://localhost:21021 is the API
javascript is the Client

Client request API needs ID4 authorization

What configuration does the API end need to do?
I've seen [IdentityServerDemo](https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/maste

[2019-06-27 04:56] maliming commented on #4645
You must first understand the contents of Identity Server.
https://identityserver4.readthedocs.io/

[2019-06-27 05:16] ismcagdas commented on #4645
@feigaogit you can also check https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServerDemo which is updated recently.

[2019-06-27 05:46] ismcagdas commented on #4607
@sajasbana since this table is related to EF, it would be better if you use the approach you explained here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4607#issuecomment-501543976

[2019-06-27 05:46] #4607 closed

[2019-06-27 06:10] osalas891123 opened #4646 "Question- Can I use ABP without any tenant at all"
Is posible to use abp with only host users, no tenant at all, all the clients will be classified in organization units.

[2019-06-27 07:22] feigaogit commented on #4645
@ismcagdas
Multiple launch project
![image](https://user-images.githubusercontent.com/18181270/60245487-47c1ce00-98ef-11e9-9481-9f855a5fb7eb.png)
![image](https://user-images.githubusercontent.com/18181270/60245544-632cd900-98ef-11e9-9fc6-c1fa8c0c91fa.png)

[2019-06-27 08:22] demirmusa commented on #4618
It is not an aspnetboilerplate error.
You get that error because of your inheritance strategy.

Check this out.
https://www.entityframeworktutorial.net/code-first/inheritance-strategy-in-code-first.aspx

[2019-06-27 08:35] JSluijs commented on #4453
Thanks for looking into it. Does this also apply when using the ASP.NET MVC 5.x architecture we don't use .NET core?

[2019-06-27 09:08] maliming commented on #4646
Yes, just disable multi-tenancy.

But abp is designed to use the default Default tenant when you disable multi-tenancy.

You can think that there is no longer a concept of Host and Tenant after disabling multi-tenancy.

[2019-06-27 10:04] feigaogit commented on #4645
@maliming
hi,
Again, the question above.

I used the official tutorial to control the licensing results are correct.But there are problems with abp.identityServer.

According to the [abp documentation](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server)，I well be authorize clients against the same application，The results are correct.
![image](https://user-images.githubusercontent.c

[2019-06-27 12:36] demirmusa commented on #4142
@EslamElmadny I download and review your pr [https://github.com/aspnetboilerplate/module-zero-core-template/pull/453](https://github.com/aspnetboilerplate/module-zero-core-template/pull/453)

`EntityHistoryHelper` checks whether history enabled or not with this piece of code.

[code]

In your test project, your IsEnabledForAnonymousUsers is false and your AbpSession is null that's why it returns f

[2019-06-27 12:52] ismcagdas commented on #4618
Making Person class abstract should solve the problem I guess.

[2019-06-27 12:52] easyest commented on #4618
@demirmusa, I think You are completely wrong.
This inheritance strategy is completely normal and nothing in EF documentation indicates otherwise. Entity history functionality is completely implemented by ABP code and it can not handle this inheritance situation.

[2019-06-27 12:54] easyest commented on #4618
Making Person class abstract would solve the problem, but will not solve a business case. There are multiple different people - students, teachers, cab drivers and so on and business case asks to have a complete list of people, that is sortable, filterable, pageable and so on. Yes, this can be achieved by making Person abstract and having only separate tables for each exact Person implementation.

[2019-06-27 12:56] ismcagdas commented on #4618
You can still have a single table even if you make Person class abstract I guess.

[2019-06-27 12:57] easyest commented on #4618
It is not possible to add an abstract class to DbContext.

[2019-06-27 12:57] easyest commented on #4618
Interesting thing is that entity history actually sees all Student fields, but there is no Student type in the type list where it searches for it - only type Person is there. But it has all Student properties somehow :)

[2019-06-27 13:21] demirmusa commented on #4618
I published the main link which contains all strategy. As i understand what you need is table per hierarchy approach.
Make your person abstract and then inherit it from all other classes. ef will combine them and create only Person table which includes all properties.

Check this out for more information about usage.

https://weblogs.asp.net/manavi/inheritance-mapping-strategies-with-entity-framew

[2019-06-27 13:24] demirmusa commented on #4618
Its because ef creates one single table for all of them. If you don't want this chose another strategy.

[2019-06-27 13:39] ismcagdas commented on #4645
probably you are missing UseJwtTokenMiddleware, see:

https://github.com/aspnetboilerplate/aspnetboilerplate-samples/blob/master/IdentityServerDemo/src/IdentityServerDemo.Web.Host/Startup/Startup.cs#L94-L100

[2019-06-27 15:19] feigaogit commented on #4645
@ismcagdas
I tried to do that.There has indeed been an improvement.
![image](https://user-images.githubusercontent.com/18181270/60277824-e7538080-9930-11e9-8d52-350492d948cb.png)
Code changed from 401 to 403
![image](https://user-images.githubusercontent.com/18181270/60277947-208bf080-9931-11e9-9a60-b9dafe2f5e41.png)
I checked Scope.There seems to be no problem.
![image](https://user-images.github

[2019-06-27 15:31] feigaogit commented on #4645
@ismcagdas
This is the log.
It seems that the signature verification failed.
![image](https://user-images.githubusercontent.com/18181270/60279450-a610a000-9933-11e9-8a26-0cd2aa18eddc.png)

[2019-06-28 00:00] #4646 closed

[2019-06-28 00:05] osalas891123 opened #4647 "Using Services that inherit ProjectServiceBase .net core on WCF"
* Your Abp package version. 4.2
* Your base framework: .Net Core and Angular

Can i use Services implemented on my base framework Services, AppServices on WCF?.

I have a lot of AbpServiceBase helpers and I want to reuse it on a WCF service to export it as SOAP. Is that possible on ABP (Inject those services an use it).

[2019-06-28 00:11] alaawahbah opened #4648 "Hi, I need to login user without password as magic link"
in all example i found **usermanager.CreateIdentityAsync(user, authenticationType)**
but function CreateIdentityAsync not found
i see another type to login as this
            **var asd = new AbpLoginResult<Tenant, User>(AbpLoginResultType.Success, user.TenantId.HasValue? _tenantManager.FindById( user.TenantId.Value):null, user);**
 asd.Identity equal to null and throw exception

please help me to

[2019-06-28 01:18] osalas891123 opened #4649 "How to keep my app only in English culture"
I’m using abp on a multitenant environment, set my default language as English, but some time my app start in Spanish. My browser is in English and my current culture is en-US. What is the approach I can follow.

[2019-06-28 01:33] maliming commented on #4649
If you need a language, you can delete other unwanted languages.

https://aspnetboilerplate.com/Pages/Documents/Localization#application-languages

[2019-06-28 01:58] feigaogit commented on #4645
@ismcagdas @maliming
![image](https://user-images.githubusercontent.com/18181270/60311713-0c74dd00-998b-11e9-9a92-854a83efd1dd.png)
Does this code have to be added on the API side as well?

[2019-06-28 02:05] maliming commented on #4645
The above code is required to be called by the Identity Server Authorization Server.

You haven't figured out what an api is and what an authorization server is.

I suggest that you first understand the documentation and examples of Identity Server 4. Otherwise you will encounter other problems.

You can check out this article: https://www.cnblogs.com/stulzq/p/8119928.html

[2019-06-28 03:19] HugoChanD opened #4650 "net core 3.0 supported"
System.NotSupportedException:“ConfigureServices returning an System.IServiceProvider isn't supported.”

[2019-06-28 03:25] maliming commented on #4650
Abp has not been upgraded to support net core 3.0, maybe abp will support it after the official release of 3.0.

[2019-06-28 05:36] ismcagdas commented on #4650
We will track this on a separate issue, I'm closing this one for now.

[2019-06-28 05:36] #4650 closed

[2019-06-28 07:33] #4142 closed

[2019-06-28 08:24] hikalkan commented on #4647
We haven't experience with combined with application services. You should try it yourself.

[2019-06-28 08:34] demirmusa commented on #4462
@NepPure can you upload a demo?

[2019-06-28 08:40] NepPure commented on #4462
Ok, I will be as soon as possible.

[2019-06-28 10:00] #4649 closed

[2019-06-28 10:30] NepPure commented on #4462
Demo https://github.com/NepPure/Neppure.Plant
Step
1. Run `release/Neppure.Plant.Web.exe`
2. Call `http://localhost:5000/api/services/DemoCache/Test/GetCacheTest`
You will see the error.

Redis use connection string `127.0.0.1`, you can change it here https://github.com/NepPure/Neppure.Plant/blob/37ab3d78168953e886ce9c2991fa5bfd4e1d967c/src/Neppure.Plant.Web/Startup/PlantWebModule.cs#L40

[2019-06-28 11:50] ismcagdas commented on #4648
@alaawahbah just find the user from database using username and tenantId and do something like this https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L222-L228 after that.

[2019-06-28 11:53] ismcagdas commented on #4641
@pagner .NET Core is still in preview. I have tried to update ABP to use it on branch https://github.com/aspnetboilerplate/aspnetboilerplate/tree/netcore3.0 but there are still problems. We hope to update ABP to .NET Core 3.0 and ASP.NET Core 3.0 when its RC is released.

[2019-06-28 11:58] #4534 closed

[2019-06-28 12:55] alaawahbah commented on #4648
Thank you very much i solve it by
 var claims = await _signInManager.CreateUserPrincipalAsync(user);
                var identity = new ClaimsIdentity(claims.Claims);

[2019-06-28 12:56] ismcagdas commented on #4453
@JSluijs how did you enable $select in your project. I couldn't enable it in my test project to only select a single datetime field.

[2019-06-28 12:57] #4648 closed

[2019-06-28 16:59] osalas891123 commented on #4647
@hikalkan what you suggest to reuse my .net core features on abp on a WCF app?

[2019-06-28 18:40] tanghaojie opened #4651 "How do i use personal SettingStore?"
hi, i write my personal Setting store inherit ISettingStore, like this

`public class MySettingStore : ISettingStore, ITransientDependency {}`

then i register it in core at preinitialize last line, how do i inject to setting manager?

![image](https://user-images.githubusercontent.com/14171892/60363621-9b7b0700-9a16-11e9-92a1-d6428517d6c1.png)

i tried dow this in every modules, but all cause err

[2019-06-28 18:48] arora-kushal opened #4652 "ASP.NET with Angular ModuleZero, not working properly"
* Abp package version: 4.3.0
* base framework: .Net Core 2.2.203
* Steps needed to reproduce the problem:
Followed all the steps here : https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular

When trying to login using the credentials (admin, 123qwe), angular is redirected and come backs to login page again.

![image](https://user-images.githubusercontent.com/8510977/60364225-

[2019-06-28 19:37] ismcagdas commented on #4647
@osalas891123 WCF doesn't supported on .NET Core but if you can convert your AppService project to netstandard, you might use it in WCF.

[2019-06-28 19:52] ismcagdas commented on #4652
Could you try this on Google Chromes incognito mode or by clearing cookies ? If you have runned another ABP based app, existing cookies on your browser might cause this problem.

[2019-06-28 19:58] ismcagdas commented on #4651
Don't manually set `manager.SettingStore`. Instead, replace implementation of ISettingStore like below:

`Configuration.ReplaceService<ISettingStore, MySettingStore>();`

Also don't forget to add below using statement:

`using Abp.Configuration.Startup;`

[2019-06-28 20:04] osalas891123 commented on #4647
@hikalkan is not a better option to compile using both TargetFramework .net core and .net framework and use .net framework output dlls?

<TargetFrameworks>net461;netcoreapp2.1</TargetFrameworks>

[2019-06-28 20:07] ismcagdas commented on #4647
@osalas891123 yes, you can do that as well 😄

[2019-06-28 22:14] mwaqar-macpk commented on #2525
Hi Everyone,

I have just tried to download the Project Template from **https://aspnetboilerplate.com.**
Project .zip file failed to download.
i Have tries again but its showing me **API calls quota exceeded! maximum admitted 6 per 2h.**
I have just made only one call, but i am getting this message from the API again and again.

What to do ?

Any help will be appreciated
Thanking in Advance.

[2019-06-28 22:51] mwaqar-macpk opened #4653 "Not be able to Create Free Startup Project Template Using ASP.NET Boilerplate."
Hi,

I have just tried to download the Startup Project Template from https://aspnetboilerplate.com.
MyProject.zip file failed to download.
I have tried again but its showing me **API calls quota exceeded! maximum admitted 6 per 2h**.
I have just made only one API call, but I am getting this message from the API continuously.

What should I do ?

Any help will be appreciated
Thanking in Advance.

[2019-06-29 01:19] maliming commented on #4653
I just tried it and can download it. Can you share some screenshots?

[2019-06-29 02:36] tanghaojie commented on #4651
it works, thank you~

[2019-06-29 02:36] #4651 closed

[2019-06-29 04:53] arora-kushal commented on #4652
Same Issues... You can download and try the latest version...

[2019-06-29 06:22] maliming commented on #4652
@arora-kushal
I just tried it. I didn't encounter the problem you said. Can you check to see if the chrome console has output?

[2019-06-29 06:43] arora-kushal commented on #4652
No errors...

I just deleted the the code and re-downloaded it... It is working now... Thanks for your help

[2019-06-29 06:43] #4652 closed

[2019-06-29 13:00] #4171 closed

[2019-06-29 13:00] #4485 closed

[2019-06-29 13:00] #4493 closed

[2019-06-29 13:00] #4521 closed

[2019-06-30 12:09] mugambiwarwema commented on #2953
We understand the effort into creating this template and simply sharing the step-by-step, something that can generate revenue.

If available, kindly share the tutorial, or advise how one can get.

[2019-07-01 00:02] a157147899 opened #4654 "Why the query works fine but cannot insert?"
* Abp package version: 4.3.0
* .Net Core.
* Exception message: "An internal error occurred during your request!"

Hi there, @ismcagdas  @maliming

I have a simple application service with the dynamic api called "TestFunc" and use the injected repository to access database, the query works well but the insert operation failed and no exception.

I have checked the declaration of the entity, which is

[2019-07-01 00:06] maliming commented on #4654
@a157147899 Please check the log, there are detailed error messages in the log.

[2019-07-01 00:15] a157147899 commented on #4654
Hi maliming,

Thanks for your reply.

The error log shows "The property 'Id' on entity type 'DownloadRecordsEntity' could not be found. Ensure that the property exists and has been included in the model.".

But the name of the primary key is "TaskID", So I just override the Id property with "NotMapped" annotation, should I use the "Column" annotation to mapping?

What I want is that just redeclare

[2019-07-01 00:49] maliming commented on #4654
Try this:
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/586#issuecomment-135599562

[2019-07-01 02:42] a157147899 commented on #4654
It works. Thanks!

[2019-07-01 02:42] #4654 closed

[2019-07-01 04:06] a157147899 opened #4655 "How to reuse the repository in a System.Threading.Tasks.Task"
Abp package version: 4.3.0
.Net Core.
Exception message: "System.ObjectDisposedException: Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. "

Hi there, @ismcagdas @maliming

I found that cannot reuse the injected repository in an asyn

[2019-07-01 04:21] maliming commented on #4655
Please check the official documentation before asking questions:
https://aspnetboilerplate.com/Pages/Documents/Repositories#about-iqueryable-t-

[2019-07-01 04:21] #4655 closed

[2019-07-01 05:16] a157147899 commented on #4655
Hi maliming, @maliming

I have checked the reference, I know the reason is that the database connection has been closed since the request has completed.

I'm wondering how to open a new database connection as I cannot create an instance of DBContext. I have tried to use UnitOfWorkManager.Begin() and complete() manually but didn't work.

Should I resolve a new instance of IRepository manually in th

[2019-07-01 05:19] ismcagdas commented on #4655
@a157147899 ABP Framework doesn't support such a usage well. You can do it in a background job instead.

[2019-07-01 05:24] #4632 closed

[2019-07-01 05:39] ismcagdas commented on #2953
@mugambiwarwema do you mean something like this https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular we have for Angular version ?

[2019-07-01 06:56] #4462 closed

[2019-07-01 07:01] #4618 closed

[2019-07-01 07:02] ismcagdas commented on #4618
@easyest please reopen if that doesn't work for you. We tried it and it worked for us.

[2019-07-01 07:07] #4653 closed

[2019-07-01 08:33] ismcagdas opened #4657 "Update all possible NuGet packages"

[2019-07-01 09:44] JSluijs commented on #4453
To configure OData, we use the following:

`using Microsoft.AspNet.OData.Extensions;
Configuration.Modules.AbpWebApi().HttpConfiguration.Count().Filter().OrderBy().Expand().Select().MaxTop(null);`

[2019-07-01 10:22] pdmwu opened #4658 "SCSS vs LESS"
Is it possible that you can change ASP.NET BOILERPLATE by default from LESS to SCSS? I am increasingly using Bootstrap in conjunction with the framework, and Bootstrap switched from LESS to SCSS. I also think SCSS is more flexible than LESS. Thank you for your consideration.

[2019-07-01 11:30] Imbasaur commented on #1943
I ran into same problem. You can only add Authorization Provider if it inherits from AuthorizationProvider, and then override IPermissionDefinitionContext to custom one. Are we missing something?

[2019-07-01 11:42] ChiakiYu opened #4660 "[Bug] UserManager.SetOrganizationUnitsAsync With UnitOfWork"
* Abp package version:4.60..
* base framework: .Net Core.
* Exception message and stack trace if available.
[code]
* Steps needed to reproduce the problem.
in GetSettingDefinitions
[code]

SetOrganizationUnitsAsync is the first to remove the collection (RemoveFromOrganizationUnitAsync) and then add the new one (AddToOrganizationUnitAsync).
However, due to UnitOfWork, RemoveFromOrganizationUnitAsyn

[2019-07-01 11:43] ismcagdas opened #4661 "Complete RequireJS module conversion"
Will complete https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4269

[2019-07-01 11:49] a157147899 commented on #4655
Hi ismcagdas, @ismcagdas

Thank you for your advice.

I have tried to do it in a background job, but I got the same error. I guess probably because of the injected repository from the constructor, which cannot use in the "Execute" method.

I try to keep my code as simple as possible but it still doesn't work.

Below is the code:
`
[RemoteService(IsEnabled = true, IsMetadataEnabled = true)]
    pub

[2019-07-01 11:57] ismcagdas commented on #4655
Could you try making Execute method virtual ?

[2019-07-01 12:02] ismcagdas commented on #4658
Thanks @pdmwu for your suggestion. For us, this might mean changing our other apps to use scss. So, we will consider it for the next milestones.

[2019-07-01 12:12] #4657 closed

[2019-07-01 12:16] #3571 closed

[2019-07-01 12:32] ismcagdas commented on #4660
Thanks @ChiakiYu we will fix this.

[2019-07-01 12:38] ismcagdas commented on #1943
@Imbasaur you are right, this needs extra work to do.

[2019-07-01 13:22] demirmusa commented on #4660
@ChiakiYu  it works for me.I could not reproduce the problem.
Can you please share a demo or your piece of code which calls SetOrganizationUnitsAsync?

[2019-07-01 14:18] #4660 closed

[2019-07-01 15:38] dontboyle commented on #4642
@maliming Sorry about the slow response.

Here's the code that would run:

`public async Task<List<string>> ChangeFeatures(int tenantId, List<NameValueDto> featureValues)
        {
            await _tenantManager.SetFeatureValuesAsync(tenantId,
                featureValues.Select(fv => new NameValue(fv.Name, fv.Value)).ToArray());

            return await CheckingTheFeatures(tenantId);

[2019-07-01 15:42] dontboyle commented on #4642
@acjh  Please re-open ticket, sorry for the late response

[2019-07-01 22:11] a157147899 commented on #4655
@ismcagdas
Hi ismcagdas,

Since this job class inherits from the BackgroundJob<T>, I can only override the Execute method. And I just follow the official document. (https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#add-a-new-job-to-the-queue)

[2019-07-01 22:56] maliming commented on #4655
Inject IUnitOfWorkManager and try to create unit of work manually.

[2019-07-02 01:18] maliming commented on #4642
Thanks, I will download your code and try to solve it.

[2019-07-02 02:26] natiki opened #4663 "Multiple DbContexts and Unit Of Work..."
Hi,

I just want to check my knowledge here. I have had a look at https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/MultipleDbContextEfCoreDemo and it is easy to add multilple DBContexts.

1) Am I correct in assuming that each one has their own UoW?
2) I would have to implement something if I wanted a "Global" UoW if I wanted changes made to both contexts (in the same data

[2019-07-02 05:01] maliming commented on #4663
If I remember correctly, they are in a uow.
Uow's transaction will work on both dbcontext.

[2019-07-02 05:11] ismcagdas commented on #4663
@maliming is right.

[2019-07-02 05:11] #4663 closed

[2019-07-02 06:12] #4642 closed

[2019-07-02 12:43] mugambiwarwema commented on #2953
Thank you very much. The link was very helpful with the angular part.

I want to wish you are able to assist here.

When I access localhost:4200/ I get redirected to /account/login then /app/home

How can I override this behavior (current routing) approach.

I with to have a landinpage component accessed when I hit the parent url

A boy dreams what a man does. 🙂

On 1 Jul 2019, at 08:40, İsmail ÇA

[2019-07-02 22:50] natiki commented on #4663
Thanks. And .....

A. This is true even if each connection is to its own database?
B. One connection is via EF and the other is via Dapper?
C. One connection is EF PostgresSQL and the other is EF SQL Server

D. And all the above behaviour carries forward to abp.io?

[2019-07-03 00:59] maliming commented on #4663
These are the transactional functions of EF.
https://docs.microsoft.com/en-us/ef/core/saving/transactions

[2019-07-03 03:21] maliming opened #4667 "Automapper will remove static API."
see: https://github.com/AutoMapper/AutoMapper/issues/3135

[2019-07-03 06:24] ismcagdas commented on #2953
Do you mean the React template or Angular ?

[2019-07-03 07:27] Mehranh opened #4668 "Redis connection string in appsetting.json"
Hi Dears

I need to set Redis connectionstring in appsetting.json but in your document you say it must set in app.config.
Is there a way to do this?

I am glad to use your framework
Mehran Hafizi

[2019-07-03 07:29] maliming commented on #4668
For the net core you can put the configuration information into appsetting.json.

[2019-07-03 07:38] #4668 closed

[2019-07-03 10:07] natiki commented on #4663
@maliming awesome link - thanks

[2019-07-03 11:01] maliming commented on #4663
Yes, there may be some differences but the overall idea is similar.

[2019-07-03 15:57] hikalkan commented on #4667
I am happy for it, but this is a big breaking change for us since .MapTo extension methods are using it.
However, we can emulate it (by defining a static mapper instance) and mark these methods as obsolete.

[2019-07-04 06:06] gnsilence opened #4669 "How to use Razor Page Library"
When I add a Razor Page Library and Add references.
When I visit the page . I got 404.
In traditional Asp.Net Core WebAPI projects, Normal access.
I don't know if I'm using it in the wrong way.
Can it used  in ABP?

[2019-07-04 06:35] maliming commented on #4669
Can you share a simple project to reproduce this problem?

[2019-07-04 06:52] gnsilence commented on #4669
You can see this example.（https://github.com/gnsilence/RWeb）
Run And Vist http://localhost:63382/Logs/Page1
This is used in traditional web APIs
LogView is a Razor Page Library.
To use it, you just need to add a reference to the startup item
Can this be used in ABP?
How to configure it

[2019-07-04 06:58] maliming commented on #4669
You can use the ABP project to reference it and try it, I don't think there will be a problem.

[2019-07-04 07:26] gnsilence commented on #4669
I've tried, but I can't use it.
This is a sample project  with ABP
RazorPage is a  Razor Page Library .
Can you help me see it?

[2019-07-04 07:59] maliming commented on #4669
try `services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_2)`

[2019-07-04 08:55] gnsilence commented on #4669
In this  ABP example Its Good.
My project  Is a  WebApiHost with ABP.
I Got Error:

ERROR 2019-07-04 16:51:52,841 [98   ] Microsoft.AspNetCore.Server.Kestrel      - Connection id "0HLO0BIHS9M17", Request id "0HLO0BIHS9M17:00000001": An unhandled exception was thrown by the application.
Castle.MicroKernel.ComponentNotFoundException: No component for supporting the service PageView.MyFeature.Pages.P

[2019-07-04 08:58] maliming commented on #4669
May need to inherit `AbpPageModel`

[2019-07-04 09:13] sebitsi commented on #4667
@hikalkan What about ProjectTo ?

Should we start using/replacing static extensions

`srcInstance.ProjectTo<DestType>()`

with

`IMapper.ProjectTo<DestType>(srcInstance)`

or

`srcInstance.ProjectTo<DestType>(config)
`
?

[2019-07-04 09:18] maliming commented on #4667
@sebitsi I will evaluate it, thank you for your reminder.

[2019-07-04 09:28] gnsilence commented on #4669
It will still be the exception information.. I've given up using this component in my .project.

[2019-07-04 09:57] maliming commented on #4667
IQueryable's extension method Project does not need to be changed, the required changes are the object's MapTo extension method. Please use ObjectMapper instead.

[2019-07-04 09:58] #4669 closed

[2019-07-04 12:11] softwareguy74 opened #4670 "Vue quick start?"
Can we get s Vue js quick start since Vue is becoming very popular these days?

[2019-07-04 14:27] ismcagdas commented on #4670
We might create a document for that, thank you for your suggestion.

[2019-07-04 14:58] ismcagdas commented on #4669
@gnsilence have you followed https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.2&tabs=visual-studio ? I added an area to main app and it worked for me.

[2019-07-04 22:09] softwareguy74 opened #4671 "How to create entities and modules in specific tenant db?"
I'm using the single host multiple tenant database approach.  But from the examples I see it seems like entities and modules are at the host level.  How can I create them specific to a tenant?

[2019-07-04 22:17] softwareguy74 commented on #4671
To be more clear a "Product" entity for Tenant 1 may have a completely different schema than for Tenant 2 or Tenant 1 may not even gave a product entity and I there for don't want that in either the Host or Tenant 1 database.   This should be possible, right?

[2019-07-05 00:39] maliming commented on #4671
You can control it through tenant isolation, but the tenant's database architecture is still uniform.

[2019-07-05 01:36] gnsilence commented on #4669
What I use is Razor class library.Have you ever used it?I use it in webapi project .
I Got Castle.MicroKernel.ComponentNotFoundException: No component for supporting the service
If I add an Area to main app then I got 404.

[2019-07-05 01:52] maliming commented on #4669
Can you share a simple project to reproduce this problem(**No component for supporting the service**)?

[2019-07-05 02:07] softwareguy74 commented on #4671
Can you give me an example of "tenant isolation"?  Is this just describing the multiple database (db per tenant) approach I already mentioned?  If so, that won't work.  The problem is that "Product" for Tenant1 may have the fields:  Name, Description, Yada (int) and "Product" for Tenant2 may have fields: Name, Yada (string).  So how can we support different entity definitions with same names for d

[2019-07-05 02:11] maliming commented on #4671
I am curious, if each tenant's entity is not the same, then your backend handler also has independent logic for each tenant?
You also won't use a separate DbContext for each tenant?

So, abp is hard to support your thoughts.

[2019-07-05 02:40] gnsilence commented on #4669
I added two projects.
first is (https://github.com/gnsilence/ABP.SampleDemo) its OK.This is what I downloaded on the official website.
second is (https://github.com/gnsilence/MyProject) This is the project I used.
I don't know the difference between them.
In my project, I deleted a lot of things I didn't need.

[2019-07-05 02:54] maliming commented on #4669
I can't run your project locally.
Since the first project works well, you can compare the source code of the two projects and remove some extraneous code.

[2019-07-05 03:05] gnsilence commented on #4669
Ok. thanks

[2019-07-05 09:36] feigaogit opened #4672 "identityserver4 implicit grant type,Use abp exceptions."
Testuser is fine with identityserver4.
id4:
![image](https://user-images.githubusercontent.com/18181270/60712399-82f47a80-9f49-11e9-8eaf-e30638547474.png)
client:
![image](https://user-images.githubusercontent.com/18181270/60712579-e8486b80-9f49-11e9-860b-d234d1a61abb.png)

id4,AccountController:
`        /// <summary>
        /// Handle postback from username/password login
        /// </summary>

[2019-07-05 09:41] maliming commented on #4672
You can first view the documentation and examples.
https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server
https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServerDemo

[2019-07-05 09:45] feigaogit commented on #4672
@maliming
I've seen the documentation and examples，It can be used normally according to the document, and the example is also ok, but I got a problem when I modified it into implicit grant type

[2019-07-05 09:50] maliming commented on #4672
Abp does not make too many changes to Identity Server. In most cases you need to check the contents of IdentityServer.

The following is the relevant code, in fact, there are not many changes.
https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.ZeroCore.IdentityServer4/IdentityServer4
https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.ZeroCore.IdentityServe

[2019-07-05 09:54] feigaogit commented on #4672
@maliming
Ok, let me check,Thank you

[2019-07-05 09:57] #4672 closed

[2019-07-06 19:47] softwareguy74 opened #4673 "Is the EventBus pluggable?"
Could we for example use RabbitMQ for the underlying queing system?  My concern is I'm not sure how robust the built in EventBus mechanism is with ABP and we have had very good success with RMQ so we'd like to use that instead, if possible.

[2019-07-07 01:13] liangshiw commented on #4673
ABP defines the abstraction of EventBus, and you can customize any implementation. In vnext there is a implementation of rabbitmq, see https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq

[2019-07-07 01:50] softwareguy74 commented on #4673
Interesting.   Excuse my ignorance but what is "vnext"?

[2019-07-07 04:19] liangshiw commented on #4673
Abp next generation version https://blog.abp.io/abp/Abp-vNext-Announcement

[2019-07-07 21:03] bbakermmc commented on #771
@ccccccmd Following your steps I get this error.

[code]

![image](https://user-images.githubusercontent.com/30090055/60773803-eeb91d80-a0d8-11e9-96e4-d0ec2afc8f0c.png)

[code]

![image](https://user-images.githubusercontent.com/30090055/60773812-1c05cb80-a0d9-11e9-988e-d46c0ec58810.png)

[2019-07-07 21:12] bbakermmc commented on #771
I ended up doing this since it was registering services 2x.

![image](https://user-images.githubusercontent.com/30090055/60773885-41470980-a0da-11e9-90e2-f627922ccbc9.png)

And the config file for very basic console logging is:
[code]

[2019-07-08 04:06] softwareguy74 opened #4674 "How to add CreatedAtAction in POST methods?"
It is routine practice to add the following after a POST method in Web API:

CreatedAtAction(nameof(Get), new { id = product.Id }, product)

This will return a "location" header, but it seems like ABP is not doing this.  How can this be done without writing custom code for every single dynamically generated Controller?

[2019-07-08 04:12] maliming commented on #4674
The abp dynamic api is the wrapper for the application service layer code.

This feature is currently only available in your own controller.

[2019-07-08 04:23] softwareguy74 commented on #4674
That's unfortunate because I think it's pretty well documented best practice to return the location header for Post methods in a Web API.

[2019-07-08 17:10] alexandru-manea opened #4675 "No FKs in UserOrganizationUnits"
Why are there no Foreign Keys to User and OrganizationUnit in UserOrganizationUnits?

We want to extend this table and have User and OrganizationUnit as navigation properties.

[2019-07-09 04:28] KennyEng12 opened #4676 "[Question] Page title via Navigation"
Hi, I'm using ASP.NET MVC 5.x & Angularjs 1.x version 5.6.0.

I'm wondering how to changed the page title based on Page Navigation.
Answer is provided here: [PAGE TITLE VIA MENU/NAVIGATION](https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=9447).

But is different version from mine, so I'm wondering how to do that in my version?

Thanks,
Kenny.

[2019-07-09 05:19] maliming commented on #4676
Are you talking about Zero(https://aspnetzero.com)?

[2019-07-09 05:26] KennyEng12 commented on #4676
Hi @maliming

Yes.

Thanks,
Kenny.

[2019-07-09 05:28] maliming commented on #4676
hi @KennyEng12
You should ask questions about Zero here.
https://github.com/aspnetzero/aspnet-zero

[2019-07-09 05:28] #4676 closed

[2019-07-09 05:48] #4674 closed

[2019-07-09 06:16] maliming opened #4677 "GetUserNotificationCountAsync needs to add filter parameters (startDate, endDate)."
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4640#issuecomment-509498330

[2019-07-09 10:01] sajasbana opened #4680 "get localization texts without case sensative"
Dears Good morning,

in abp localization is it possible to get localized text without case sensitive of the key

for example if i defined key in xml file
<text name="ApplicationName">Application Name</text>

if i use client side to get the text like this
abp.localization.localize('ApplicationName') it works

but if i use
abp.localization.localize('applicationname') it not works

I think key should

[2019-07-09 15:05] viktor-mezhenskyi opened #4682 "TenancyNameRegex doesn't look correct"
I'm working with DataAnnotationsfor TenancyName that could be used as subdomain and I found that correct regex for subdomain should be `[A-Za-z0-9](?:[A-Za-z0-9\-]{0,61}[A-Za-z0-9])?`
And const MaxTenancyNameLength = 64 is incorrect as well.

Because there are next requirements for subdomain:
- Each subdomain part must have a length no greater than 63.
- Each subdomain part must begin and end with

[2019-07-09 22:43] osalas891123 opened #4683 "(QUESTION) How to prevent multiples users login with the same account."
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version. 4.2
* Your base framework: .Net Core with Angular

I have

[2019-07-10 00:12] osalas891123 commented on #4675
@alexandru-manea you can't extend it as usually, but first check if you can resolve with UserManager methods to deal with Organization Units.

[2019-07-10 00:34] maliming commented on #4683
Abp uses identity or jwt for authentication. Your situation is not related to abp.

[2019-07-10 01:53] maliming commented on #4680
If so, we also need to consider JavaScript changes at the same time.

[2019-07-10 02:03] maliming commented on #4682
TenancyNameRegex is customizable, you can control it according to your actual situation. : )

[2019-07-10 02:50] feigaogit commented on #3768
@homam1
How did you solve this problem?I have the same problem.
When id4 is a separate project, other projects cannot get the current user

[2019-07-10 05:51] sajasbana commented on #4680
@maliming
yes of course in client and server side

the person who modify the xml when adding localization key should be sure that he add only one key no matter the case sensitive

can you consider it as enhancment? ... it will be nice feature and remove headache of case sensitve consideratoin when get localization

[2019-07-10 07:34] viktor-mezhenskyi commented on #4682
@maliming Thank you for your answer, I know, but I think that will be good to have default rules that relates to standart)

[2019-07-10 12:20] seblucas commented on #4528
I don't know if this issue is what I'm seeing ....

I have 1 host database and one database per tenant (so in my case 1 + 18 = 19 databases)
When we add new permission, the permission are automatically added to the static roles in the host database but never to the tenant databases.
We added a specific api path to update the default static role (Admin).

Is that what this issue is about or should

[2019-07-10 12:37] bbakermmc commented on #4528
You need to write code to reapply all the static role permissions across your tenants. There is another issue someplace for that.  We just wrote another endpoint and put it in the seed/startup processs

Sent from my iPhone

On Jul 10, 2019, at 8:21 AM, Sébastien Lucas <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't know if this issue is what I'm seeing ....

I have 1 ho

[2019-07-10 14:55] seblucas commented on #4528
Thanks for the clarification

[2019-07-10 14:57] jaoude opened #4685 "auditlogs"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2019-07-10 15:08] bbakermmc commented on #4528
@seblucas
I'm at work now so here is the code for you.

We made it an app service.  We have a endpoint to call it as part of our "warm up" process, and also its a link in the host on the tenants ui page to call the endpoint for a specific tenant.  Every new client automatically gets the roles/permissions, but changes and additions have to be done this way for existing tenants.

[code]

[2019-07-10 17:49] viewtance commented on #4677
Is there a schedule to release this fix?

[2019-07-10 19:47] willseward opened #4686 "AutoMapper 8.1.1 is not compatible with IS4, yet"
It appears that IS4 has an issue with the latest release of AutoMapper

* Your Abp package version: 4.7.0
* Your base framework: .Net Core - 2.2.6/2.2.301

https://github.com/aspnetboilerplate/aspnetboilerplate/commit/284a1cb2b6ddf35d0a82c3e424e832579e91a8f0

https://github.com/IdentityServer/IdentityServer4/issues/2812

[code]

[2019-07-11 00:40] maliming commented on #4686
I will downgrade it.

[2019-07-11 00:41] maliming commented on #4677
@viewtance You can use this commit content to temporarily resolve.

[2019-07-11 01:26] feigaogit opened #4687 "There is another abp project to use the existing abp.identityserver4 project,How do they share an AbpSession?"
An abp project has been fully integrated with identityserver4 based on the [documentation](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server)，The project is now running correctly.
We now have an internal project that needs to integrate this identityserver4 project，But it seems that abp has its own authorization logic,The two projects cannot use the same AbpSession directly by iden

[2019-07-11 02:15] ryancyq commented on #4683
Related https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4438

[2019-07-11 05:14] maliming commented on #4687
Maybe you can use the OpenID Connect of the Identity server.
See the documentation for the Identity server for more details.

Abp almost all use the built-in authentication function of asp.net. And Abp authentication and authorization are separate.

[2019-07-11 07:14] homam1 commented on #3768
I did not solve it. It is simply not supported at that time. Not sure now.

[2019-07-11 16:42] hikalkan commented on #4686
Thanks @willseward for informing and @maliming for fixing. @maliming can you close this if you have commited.

[2019-07-11 17:00] #1943 closed

[2019-07-11 17:27] #3699 closed

[2019-07-12 12:09] alexandru-manea commented on #4675
@osalas891123 Thank you for your reply. I know we can extend it, my question was why was the decision made to not add the FKs to Users and OrganizationUnits from the beginning. Because right now we would add these constraints and if, somehow, there would be entries in this table corresponding to non-existent users and/or units, the migration would fail.

[2019-07-12 15:34] hikalkan commented on #4682
@maliming it will be good if you can check this and apply if ok.

[2019-07-13 01:13] maliming commented on #4686
**IdentityServer4 v2.5.0 released!**

https://github.com/IdentityServer/IdentityServer4/releases/tag/2.5.0

[2019-07-13 03:17] mahmoudkandeel opened #4691 "OnModelCreating Unable to determine the relationship represented by navigation property 'User.DeleterUser'"
Iam downloading fresh template of aspnetboilerplate core with angular template without doing any thing when trying override OnModelCreating method in MyProjectDbContext and try to add migration or update database i got an error

![image](https://user-images.githubusercontent.com/3681500/61166426-6c43ba00-a52d-11e9-89c6-d71a8ac8557a.png)

[2019-07-13 19:37] ismcagdas commented on #4691
@mahmoudkandeel have you called `base.OnModelCreating()` as the first line of your OnModelCreating method ?

[2019-07-13 19:44] ismcagdas commented on #4686
We can update both IdentityServer4 and AutoMapper than.

[2019-07-13 20:04] ismcagdas commented on #4682
Just a note, tenancy name is not used as a subdomain always. So, it would be good not to restrict the ones not using tenancy name as subdomain.

[2019-07-13 21:04] mahmoudkandeel commented on #4691
thanks it works

[2019-07-13 21:04] #4691 closed

[2019-07-14 07:42] #4677 closed

[2019-07-14 07:46] ismcagdas commented on #4683
@osalas891123 ABP doesn't provide a solution to this by default. You need to handle it in your app. You can store a field on your User entity and use it to prevent multiple logins during login process.

[2019-07-14 07:46] #4683 closed

[2019-07-15 02:38] maliming opened #4693 "The UpdateChangeSet method of EntityHistoryHelper needs to process the audit field."
Abp 4.7.0

The audit field may be set after SaveChange.

[2019-07-15 05:59] ismcagdas commented on #4686
Both packages are updated via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4692

[2019-07-15 05:59] #4686 closed

[2019-07-15 07:04] Mehranh opened #4695 "Use GeraphQL"
Hello Dears,

I want to use QraphQl but it has an error related to UnitOfWork :
" Cannot access a disposed object. ..."

I want to know GraphQl is  integrated to your framework?

Kindest Regards
Mehran Hafizi

[2019-07-15 07:10] maliming commented on #4695
GraphQL has been integrated into Abp Zero and has not been integrated in abp.

[2019-07-15 07:14] maliming commented on #4695
Can you share some of your code?

[2019-07-15 07:24] Mehranh commented on #4695
Of Course
[code]

[2019-07-15 07:26] maliming commented on #4695
@Mehranh  see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#irepository-getall-method

[2019-07-15 07:27] ismcagdas commented on #4680
We considered this and decided not to implement it.

[2019-07-15 07:27] #4680 closed

[2019-07-15 07:31] Mehranh commented on #4695
I didn't catch the problem.
Just I should mention that I don't use controller in this case.  I send the query from GraphQlUi

[2019-07-15 07:40] oguzhankahyaoglu commented on #4680
Really helpful, thanks

[2019-07-15 08:05] Mehranh commented on #4695
Doesn't exist any solution?

[2019-07-15 08:12] maliming commented on #4695
Try
[code]

[2019-07-15 08:13] Mehranh commented on #4695
I can't. It is a constructor

[2019-07-15 08:19] maliming commented on #4695
Please share the full code.
You need to start the unit of work on the caller.

[2019-07-15 08:24] Mehranh commented on #4695
[code]
[code]

[code]

[code]

[2019-07-15 09:04] maliming commented on #4695
Can you simply implement your GraphQL using a startup template and share the project code?

[2019-07-15 09:07] Mehranh commented on #4695
I will Try :(

[2019-07-15 09:36] Mehranh commented on #4695
It's Yours :
https://github.com/Mehranh/Abp.GraphQl

you can test by calling /api/GraphQL

[2019-07-15 10:03] Mehranh commented on #4695
Also you test by this link:
http://localhost:21021/ui/playground
in this query :
[code]

[2019-07-15 10:40] maliming commented on #4695
hi @Mehranh I will check it later. You can check out this article before.

https://medium.com/volosoft/building-graphql-apis-with-asp-net-core-419b32a5305b

[2019-07-15 10:52] Mehranh commented on #4695
Well this problem is really hurting us and all of our business is stopped  because of this
we really need this problem to be solved faster

[2019-07-16 00:24] maliming opened #4696 "Add GraphQL sample to aspnetboilerplate-samples"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4695

[2019-07-16 06:39] ismcagdas commented on #4696
Implemented via https://github.com/aspnetboilerplate/aspnetboilerplate-samples/pull/72

[2019-07-16 06:39] #4696 closed

[2019-07-16 06:39] ismcagdas commented on #4695
Check the example https://github.com/aspnetboilerplate/aspnetboilerplate-samples/pull/72

[2019-07-16 06:39] #4695 closed

[2019-07-16 06:47] #4673 closed

[2019-07-16 07:05] ismcagdas commented on #4453
@JSluijs could you provide a sample project which reproduces this problem ? You can download a project from https://aspnetboilerplate.com/Templates.

I tried but couldn't reproduce the problem.

[2019-07-16 07:07] ismcagdas commented on #4682
Since TenancyNameRegex is configurable, we will not implement this in ABP since TenancyNameRegex is not always used as a subdomain.

[2019-07-16 07:07] #4682 closed

[2019-07-16 07:20] mehdihadeli opened #4697 "Why UnitOfWorkManager.Current in Domin Event Handlers is null?"
Hi,
I get `UnitOfWorkManager.Current` in my domain event handler and always it is null !!
I need doing some transactional action in my event handler. I set also `UnitOfWork` attribute on my handler.
what is the solution for my problem?

[code]

[2019-07-16 07:21] maliming commented on #4697
Please show your event handler code.

[2019-07-16 07:37] mehdihadeli commented on #4697
I add my code.

[2019-07-16 07:40] ismcagdas commented on #4697
@mehdihadeli make HandleEvent virtual.

[2019-07-16 08:16] HADDADENICAR opened #4699 "Last and LastOrDeafult dosen't exist"
this is my scenario :
I need to merge the new created session with the last session if they have the same username and the time that separe them is lower than one hour.

for that i need to use linq method LastOrDefault , i can't find it in IRepository ??

[2019-07-16 08:19] maliming commented on #4699
Try use:

`repository.GetAll().LastOrDefault()`
`GetAll `method return `IQueryable`.

[2019-07-16 08:21] #4699 closed

[2019-07-16 08:37] mehdihadeli commented on #4697
thanks.

[2019-07-16 08:38] #4697 closed

[2019-07-16 10:00] HADDADENICAR commented on #4699
Actually doing the previous , return me a bug :

     LINQ to Entities does not recognize the method 'Guichet.Management.CrateSessions.CrateSession LastOrDefault[CrateSession](System.Linq.IQueryable`1[Guichet.Management.CrateSessions.CrateSession], System.Linq.Expressions.Expression`1[System.Func`2[Guichet.Management.CrateSessions.CrateSession,System.Boolean]])' method, and this method cannot be t

[2019-07-16 18:19] seanalford commented on #4146
I'm looking to start a new project in Core 3.  Any updates on Core 3 support?

[2019-07-16 19:05] ismcagdas commented on #4146
@seanalford ASP.NET Core is still in preview, you can follow our progress on https://github.com/aspnetboilerplate/aspnetboilerplate/tree/netcore3.0. We are expecting to upgrade ABP to ASP.NET Core 3.0 when its RC version is released on NuGet.

[2019-07-16 20:10] seanalford commented on #4146
That's great!  So ABP will be ready with the September RC?

[2019-07-16 23:39] luylucas10 commented on #4670
I'm very interested in the vue.js docs.

[2019-07-17 00:16] maliming commented on #4699
see: https://github.com/aspnet/EntityFrameworkCore/issues/10493

[2019-07-17 05:36] ismcagdas commented on #4146
We hope so

[2019-07-17 06:39] 9kx4hpum opened #4703 "Add Modin to data analysis"
Modin - Scale your pandas workflow by changing a single line of code. [加拿大文凭购买，速办加拿大哥伦比亚大学本科毕业证，办加拿大使馆认证，办加拿大学历学位认证，国外学历学位认证办理](www.diplomaclub.net) Modin uses Ray to provide an effortless way to speed up your pandas notebooks, scripts, and libraries.

[2019-07-17 06:40] #4703 closed

[2019-07-17 07:00] mahyarmot opened #4704 "Execute SQL Server Stored Procedure in Abp.Dapper"
Dear contributes,
I am facing an issue which making me unable to call a stored procedure using Abp.Dapper.
According to dapper documentation in order to perform such we have to specify commandType in **Execute** or **Query**, otherwise the exception of "Procedure or function 'YYYY' expects parameter 'ZZZZ', which was not supplied" is thrown.
[code]
After reviewing the repository, I discovered that

[2019-07-17 07:15] maliming commented on #4704
You can inject the `IActiveTransactionProvider `interface (like the `DapperRepositoryBase `class).
Call the relevant method of dapper after getting the DbConnection,

[2019-07-17 07:31] mahyarmot commented on #4704
Thanks for your response. My issue will solve with your solution but I assume it has be included in future releases as **ABP.Dapper** library has to cover all features of **Dapper**.

[2019-07-17 07:33] maliming commented on #4704
Please follow this issue: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4465

[2019-07-17 07:33] #4704 closed

[2019-07-17 08:00] JSluijs commented on #4453
I think I should have added that there's a difference between the default tenant and a tenant which is added, and uses a different database. I left it out because I was not sure it would make a difference.
Did you also test with such a build? Please let me know.

I'll make a sample project, if you still can't reproduce the problem.

[2019-07-17 09:37] dsonjohn opened #4705 "NEST don't apply attribute mapping"
I use nest 7.0.0 and asp.net core 2.2. i want to create indxe from poco class. in elasticsearch index create but without any mapping. create index method is :

[code]

and MyModel is like this:

[code]

[2019-07-17 12:14] satyanarayan18 opened #4706 "How to add AbpAuthorize which will apply to all AppService like MVC filter"
How to add AbpAuthorize which will apply to all AppService like MVC filter.

Instead of applying on every individual AppService with AbpAuthorize attribute, How could I achieve the same using StartUp class with filter options

[2019-07-17 12:36] kamenac commented on #1549
This doesn't work for me.

I try to resolve an IRepository<T> dependency, which returns an instance, but IT's dependencies have not been resolved. Connection, Context, Table and Transaction are null.

[2019-07-17 14:12] maliming commented on #1549
@kamenac These properties are set when they are used.

[2019-07-17 14:15] maliming commented on #4706
But if so, What should the `AbpAuthorize`  `permissions `parameter be set to?

[2019-07-17 14:38] demirmusa commented on #4316
I could not reproduce the problem. As Xeevis said, it looks similar to #4488. 4488 was closed by aa807d2. That might be the reason why i could not reproduce it. Has anyone recently reproduce this error?

[2019-07-17 14:57] kamenac commented on #1549
OK,
but it still gives me an exception:

[code]
System.ObjectDisposedException: 'Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This may occur if you are calling Dispose() on the context, or wrapping the context in a using statement

[2019-07-17 15:18] maliming commented on #1549
@kamenac see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#irepository-getall-method

[2019-07-17 15:52] feigaogit commented on #4687
@maliming
I know what caused the mistake.
If I turn off multi-tenant functionality，This problem will arise。

![image](https://user-images.githubusercontent.com/18181270/61390451-6400cb80-a8ed-11e9-9404-f8b7fc7f9159.png)
![image](https://user-images.githubusercontent.com/18181270/61390465-6b27d980-a8ed-11e9-9ef6-8f3de560bac5.png)
When multi-tenant is enabled, token can be obtained with normal autho

[2019-07-17 15:55] kamenac commented on #1549
@maliming thanks, that helped.
I forgot that I need to make the method `public` or `protected virtual`.

[2019-07-17 17:02] hikalkan commented on #4705
I don't think this is related to asp.net boilerplate. abp has no integration with elasticsearch at all. I am closing the issue.

[2019-07-17 17:02] #4705 closed

[2019-07-18 01:05] maliming commented on #4687
I can't see the cause of the problem through the screenshot, you should check the application's log.

[2019-07-18 01:21] feigaogit commented on #4687
@maliming
[multi-tenant log](https://github.com/feigaogit/test/blob/master/multi-tenancy.txt)
[single-tenant log](https://github.com/feigaogit/test/blob/master/single-tenant.txt)

I just shut down multi-tenancy without doing anything else.

[2019-07-18 03:34] feigaogit opened #4707 "When abp integrates identityserver4, identityserver4 will be unavailable if multi-tenant abp is turned off"
Have you ever tried to integrate identityserver4 with abp multi-tenant down, and perform authorization using implicit or Hybrid Flow modes?

We created an ASP.NET Core MVC startup project for this demonstration.And we integrated identityserver4 by [document](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server).We use the implicit and Hybrid Flow models for authorization.
So far so g

[2019-07-18 03:36] maliming commented on #4707
Duplicate of #https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4687#issuecomment-512340769

[2019-07-18 03:36] #4707 closed

[2019-07-18 05:50] feigaogit commented on #4687
@maliming
Is there any special configuration required for abp integration identityserver4 without multi-tenant?I didn't make any changes other than not enabling multi-tenancy， really can't find any reason

[2019-07-18 05:53] maliming commented on #4687
I remember that multi-tenancy does not affect the Identity server. Later I will check the logs.

[2019-07-18 06:23] #4316 closed

[2019-07-18 06:30] feigaogit commented on #4687
@maliming Ok, thank you
[This is the source code](https://github.com/feigaogit/test)

[2019-07-18 06:32] maliming commented on #4687
What are the specific steps to use your source code to reproduce the problem?

[2019-07-18 07:09] satyanarayan18 commented on #4706
It will make sure that all API endpoints should be accessed only through authenticate users only unless and until override with AbpAllowAnonymous.

Please let me know if you need more details

[2019-07-18 07:34] maliming commented on #4687
`src\MyCompany.IdentityServer.Web.Host\Quickstart\Account\AccountController.cs` Line 143

Modify the code in AccountController as follows.

`await HttpContext.SignInAsync(user.Id.ToString(), user.UserName, props, new Claim(AbpClaimTypes.TenantId, user.TenantId?.ToString()));`

[2019-07-18 07:36] maliming commented on #4687
`INFO  2019-07-18 09:16:35,226 [13   ] ng.AuthorizeInteractionResponseGenerator - Showing login: User is not active`

There is already a clear message in your log, you should see it.

You should continue to look at the identity server documentation and the abp identity server integration code.

[2019-07-18 07:36] #4687 closed

[2019-07-18 07:45] feigaogit commented on #4687
@maliming
Thank you very much

[2019-07-18 08:00] Anduin2017 commented on #2310
![image](https://user-images.githubusercontent.com/19531547/61440026-319ab100-a975-11e9-8813-ba585e948d46.png)

It seems that you can sign in directly now.

[2019-07-18 08:08] feigaogit commented on #4687
@maliming
Sorry to bother you again.
I would like to ask if TenantId should not be logged in by the host when it is not added?Why is User is not active

[2019-07-18 08:14] maliming commented on #4687
When disabling multi-tenancy, the default is to use `Default` tenant, which means that the admin you are logged in is the user under `Default` tenant.

See: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore.IdentityServer4/IdentityServer4/AbpProfileService.cs#L41

[2019-07-18 08:35] feigaogit commented on #4687
@maliming ok,Thank you,I'll check again

[2019-07-18 08:36] feigaogit commented on #4645
@maliming Thank you very much

[2019-07-18 08:36] #4645 closed

[2019-07-18 10:53] tanghaojie opened #4708 "How to upload files use Dynamic Web API in IApplicationService"
i use asp.net mvc dynamic web api to upload files, like this:
[code]
but it do not work , i search issues and know asp.netcore can use
[code]
how can i upload files in asp.net?
Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryxbt4VRJWll2eoQH0

[2019-07-18 11:37] ismcagdas commented on #4303
@jmhinnen before accepeting the PR by @krugerm (https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4532) I would like to ask you if you have any `async void` methods in your project or not ?

[2019-07-18 11:58] maliming commented on #4708
Please see related issue: https://github.com/aspnetboilerplate/aspnetboilerplate/issues?utf8=%E2%9C%93&q=IFormFile

[2019-07-18 13:09] liangshiw opened #4709 "Deserialization problem caused by Type in AbpCache data"
In the design of ABP, each cached data will have type `Type` information, and use `type` to deserialize data when getting cache.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3cf5e84cfea0e9357ef5afb84e64f14de1be0871/src/Abp/Runtime/Caching/AbpCacheData.cs#L37

But in different projects or solutions, the type of assembly is inconsistent with the namespace, which will cause deserializa

[2019-07-18 14:01] tanghaojie commented on #4708
I really see and tried related issues,but all do not work

[2019-07-18 14:06] maliming commented on #4708
you should upload your files with a MVC Controller.
Here's a sample UploadController....

see: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4535#issuecomment-495890923

[2019-07-18 15:39] ryancyq commented on #4709
Hi @lingshiw, can you give an example of this?

[2019-07-18 16:37] alaawahbah opened #4711 "Angular Universal (abp angular startup template)"
**Hi:**
I try to implement server side rendering on my abp angular template via this article

https://medium.com/volosoft/building-a-simple-angular-universal-application-with-asp-net-boilerplate-hero-shop-c63f9a5249ae

My problem is ia am using abp net core (api) and article apply for MVC, is there any help to apply server side rendering on abp angular startup template?
**thanks in advance...**

[2019-07-18 16:49] nhatran03 commented on #3883
Hi,
Do we have any topic to regarding to save the old value of an entity to the field CustomData in AudiitLog table. Ex: Once I updated Users info, I would like to track the new User value to Parameters field and the old User value will be save in CustomData field.
Thank you

[2019-07-18 16:53] alaawahbah commented on #4711
@MhdFeras

[2019-07-18 19:39] jmhinnen commented on #4303
@ismcagdas I don't believe so.  This is one of the items we were looking for when trying to diagnose why we were having threading issues.  I did another cursory search through our code base and didn't see anything.

Let me know if you need anything else.

[2019-07-19 00:07] a157147899 opened #4712 "What is the best way to update entity after query operations?"
* Abp package version: 4.3
* Your base framework: .Net Core. and EF core

Hi, @ismcagdas @maliming
Kindly read my comments in the code below.

[code]

[2019-07-19 00:22] maliming commented on #4712
try
[code]

[2019-07-19 00:47] maliming commented on #3883
hi nhatran03
Maybe you need [Entity-History](https://aspnetboilerplate.com/Pages/Documents/Entity-History).

[2019-07-19 01:45] tanghaojie commented on #4708
i see this ,but it let code logical confusion

[2019-07-19 01:48] maliming commented on #4708
You don't have to refer to his specific code. Just use the controller to upload the file.

[2019-07-19 02:04] ryancyq commented on #4711
Hi @alaawahbah the article is about using angular and asp net core. It is the same as using asp net core (API).

If you face any issues, please share the details.

[2019-07-19 02:07] tanghaojie commented on #4708
thank you , now i use:
[code]
in application layer for dynamic web api , it works.

[2019-07-19 02:09] maliming commented on #4708
This will cause your application service to depend on the HttpContext. You should know.

[2019-07-19 02:15] tanghaojie commented on #4708
we use swagger for show and test api, is there any way add controller api to swagger?

[2019-07-19 02:27] maliming commented on #4708
Please refer to the swagger documentation.

[2019-07-19 02:45] tanghaojie commented on #4708
thank you soo much

[2019-07-19 02:45] #4708 closed

[2019-07-19 04:12] liangshiw commented on #4709
[Cache.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/3409404/Cache.zip)

Write the cache in the `Account` project, read the cache in `Order`. You will see the error message.
This can be avoided by putting the `User` class in the `shared` project, but not all projects are suitable for the same solution. I think this is a design problem with ABP cache.

[2019-07-19 05:17] maliming commented on #4709
Related: https://github.com/aspnetboilerplate/aspnetboilerplate/pull/3219

We should consider enhancing it.

[2019-07-19 05:32] #4712 closed

[2019-07-19 05:40] ismcagdas commented on #4303
@jmhinnen thank you for the update.

[2019-07-19 06:02] ismcagdas commented on #4706
@satyanarayan18 you can write an Interceptor for that, it would be easier.

[2019-07-19 06:02] #4706 closed

[2019-07-19 07:45] demirmusa opened #4713 "Duplicate enum AbpLoginResultType"
duplicate enum `AbpLoginResultType` in Abp.Authorization.Users and Abp.Authorization.

[2019-07-19 07:55] #4713 closed

[2019-07-19 08:00] demirmusa commented on #4713
The error was caused by using different versions in the same project.

[2019-07-19 08:13] ismcagdas commented on #4453
@JSluijs it would be great if you can create a repro project, I couldn't reproduce it.

Thanks.

[2019-07-19 09:54] jonassix opened #4714 "Localization issue : Browser preference support : How the Current Language is Determined"
Hi,

See [localization documentation](https://aspnetboilerplate.com/Pages/Documents/Localization)
according to documentation and code the following providers exist in sequence.

- QueryStringRequestCultureProvider
- AbpUserRequestCultureProvider
- AbpLocalizationHeaderRequestCultureProvider
- CookieRequestCultureProvider
- AbpDefaultRequestCultureProvider
- AcceptLanguageHeaderRequestCultureProvid

[2019-07-19 10:07] jonassix commented on #4714
This issue really persists on pages where a user login is not required. A logged in user has it's own default setting and then the issue is not that big.

[2019-07-19 11:04] ismcagdas commented on #4714
@jonassix thank you for your suggestion, let us think about this again. If we put AcceptLanguageHeaderRequestCultureProvider before AbpDefaultRequestCultureProvider, in that case, we can't force not logged in users to see a default language but we will consider your suggestion.

[2019-07-19 11:20] #4541 closed

[2019-07-19 11:24] ismcagdas commented on #4238
@yinchang0626 are you still working on this ?

[2019-07-19 11:24] ismcagdas commented on #3882
@OverwindSlash did you find a solution to this ?

[2019-07-19 12:27] jonassix commented on #4714
Sure, let us think about this again.. 2 main issues

What is a default setting? => A setting to use when no other setting is available.

1)
Take the following situation. The system supports these locales "en-Us","nl-NL","fr-FR","fr-BE"
The default language is set on "en-US"

My browser language for example is "fr-FR"

What is the "added" value of a default language setting that takes priority over

[2019-07-20 04:04] maliming commented on #4667
https://github.com/AutoMapper/AutoMapper.Extensions.Microsoft.DependencyInjection#projectto-usage

[2019-07-20 09:18] mehdihadeli opened #4715 "How to add/update child entities when updating a parent entity in EF"
Hi,
I want to update the parent entity with all child entities where children could be newly added or update existing child entities or remove existing child entities.

I want something like this link:
https://entityframework.net/knowledge-base/27176014/how-to-add-update-child-entities-when-updating-a-parent-entity-in-ef

[2019-07-20 10:49] maliming commented on #4715
Query out the child entities and then delete/add/update according to the conditions. You can also use a separate method to perform these operations.

Eg:
![image](https://user-images.githubusercontent.com/6908465/61577814-123f8780-ab1f-11e9-9560-abceac49dd84.png)

https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/updating-related-data-with-the-e

[2019-07-20 10:52] mehdihadeli commented on #4715
why abp EfCoreRepository base class doesn't support this feature?

[2019-07-20 10:55] maliming commented on #4715
You need to handle it yourself.

[2019-07-20 10:55] #4715 closed

[2019-07-20 10:56] mehdihadeli commented on #4715
ok thanks.

[2019-07-20 14:00] #4395 closed

[2019-07-20 14:00] #4562 closed

[2019-07-20 14:00] #4523 closed

[2019-07-20 14:00] #4559 closed

[2019-07-22 03:44] jozzlee opened #4717 "Settings_Tests run failed"
* Abp package version: 4.3.0 or 4.8.0
* base framework: .Net Core 2.2
* Exception message and stack trace:
`
TestName:Abp.Zero.SampleApp.Tests.Configuration.Settings_Tests.Should_Change_Setting2
Shouldly.ShouldAssertException : setting2
    should not be
null
    but was
`
* Steps needed to reproduce the problem.
1. Download https://github.com/aspnetboilerplate/aspnetboilerplate.git tags 4.3.0 or

[2019-07-22 05:43] ismcagdas commented on #4717
@jozzlee have you tried upgrading ABP nuget packages ?

[2019-07-22 05:50] maliming commented on #4717
Can you upload the project code?

[2019-07-22 06:26] jozzlee commented on #4717
@ismcagdas Yes. It also has the same issues on the ABP 4.8.0. I test same steps.

[2019-07-22 06:35] maliming commented on #4717
@jozzlee
It seems that you have successfully reproduce the problem locally, can you share the project code?

[2019-07-22 06:35] ismcagdas commented on #4717
Thanks, let us check it.

[2019-07-22 06:44] jozzlee commented on #4717
@maliming This is the codes I tested.
[Settings_Tests_4.8.0.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/3415980/Settings_Tests_4.8.0.zip)

[2019-07-22 06:48] maliming commented on #4717
Thanks @jozzlee
I will check it out.

[2019-07-22 07:16] maliming commented on #4717
hi @jozzlee
The context of the two test methods is different, one to enable multi-tenancy and the other to disable multi-tenancy.

See: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/44a4e4e54a12e2582e6c60716bdeaaff7890bc73/src/Abp/Configuration/SettingManager.cs#L214-L227

[2019-07-22 08:02] jozzlee commented on #4717
Thanks @maliming
I try this, still failed.

[aspnetboilerplate/blob/v4.8.0/test/Abp.ZeroCore.SampleApp/AbpZeroCoreSampleAppModule.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/v4.8.0/test/Abp.ZeroCore.SampleApp/AbpZeroCoreSampleAppModule.cs)
[code]

[2019-07-22 08:08] maliming commented on #4717
Thanks I will confirm it again.

[2019-07-22 08:39] jozzlee commented on #4717
I seem to have found the reason.
In my case, neither save nor read the database, cause DefaultConfigSettingStore not implemented.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/52c5b65f8c992ee49a0fa14972b8c3c380440259/src/Abp/Configuration/SettingManager.cs#L318-L386

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/52c5b65f8c992ee49a0fa14972b8c3c380440259/src/Abp/Configur

[2019-07-22 08:53] maliming commented on #4717
So, Can we close this issue?

[2019-07-22 08:56] jozzlee commented on #4717
I made mistakes, now can run to SettingStore, but still not save settings.

[2019-07-22 09:13] jozzlee commented on #4717
My Test cases:

1. Abp.Zero.SampleApp.Tests
- Configuration.MultiTenancy.IsEnabled = true; //default code, Pass
- Configuration.MultiTenancy.IsEnabled = false; //Fail

2. Abp.ZeroCore.SampleApp.Tests
- Configuration.MultiTenancy.IsEnabled = false; //default code, Fail
- Configuration.MultiTenancy.IsEnabled = true; //Fail

[2019-07-22 09:19] maliming commented on #4717
The context AbpSession of the two test methods is also different, causing the Setting's MayHaveTenant filter to be applied.

[code]

[2019-07-22 09:30] jozzlee commented on #4717
use the code, Abp.ZeroCore.SampleApp.Tests with "Configuration.MultiTenancy.IsEnabled = true" test pass, disable MultiTenancy still fail, both.

[2019-07-22 09:33] maliming commented on #4717
As I said above, **If MultiTenancy is disabled, then we should change default tenant's setting.**

This is designed. No problem.

[2019-07-22 09:33] #4717 closed

[2019-07-22 09:49] jozzlee commented on #4717
Thanks! you are right, this code is work.
[code]

[2019-07-22 13:36] ismcagdas opened #4719 "NotificationStore GetUserNotificationCountAsync exception for EF 6.x"
This method throws the exception below in EF 6.x projects:

The LINQ expression node type 'Invoke' is not supported in LINQ to Entities.

[2019-07-22 13:37] #4719 closed

[2019-07-22 16:56] astralmaster opened #4720 "ASP.NET Boilerplate vs Module Zero Authentication types clarification"
Does standard ASP.NET Boilerplate MVC 5 template support Open Id Connect and/or AD Federation Services authentication? Every single answer I have encountered both on SO and the old ASP.NET Boilerplate forum seem to target Module Zero specifically. For example, there are no methods app.UseOpenIdConnectAuthentication()  and  app.UseWsFederationAuthentication() in the standard template.

[2019-07-23 01:10] maliming commented on #4720
The default template only provides some basic functionality.
Please see the version difference:
https://docs.aspnetzero.com/documents/common/latest/Version-Differences

[2019-07-23 02:57] maliming commented on #4709
This will be **breaking change**.
once updated, the previous cache will be invalid. The previous redis cache must be emptied.

Should we make compatible code for this?

[2019-07-23 05:42] ismcagdas commented on #4720
@astralmaster so basically you have to implement it yourself.

[2019-07-23 05:42] #4720 closed

[2019-07-23 10:38] jozzlee commented on #4717
#4276
@maliming i can't found way to change default tenant's setting. can you help me again?

[2019-07-23 13:23] kfrancis opened #4721 "User ID Type"
I know that you've traditionally just closed this type of item as it's a large amount of work, however, I think it's important that the ability is there to be able to use non-long ID types for AbpUser. We have the resources to work on this so please keep this issue open so that we can relate our work to it.

From what I can see, yes - it's a large code change but it should be possible easily by ke

[2019-07-23 13:47] hikalkan commented on #4709
The cache should be cleared on deployment. I don't know how we can do this automatically.

[2019-07-24 01:04] maliming commented on #4721
We had some discussions about that: #979

[2019-07-24 02:37] dangminhbk opened #4723 "IEmailSenderConfiguration and ISmtpEmailSenderConfiguration properties"
### IEmailSenderConfiguration and ISmtpEmailSenderConfiguration properties

I look into the code, and see properties are only gettable, there is no way to set properties ( for testing purposes ). And in their implementation ( EmailSenderConfiguration and SmtpEmailSenderConfiguration ), they use SettingManager.GetSettingValue() to get. Why there is no other option to get by Tennant or by User ?

[2019-07-24 02:43] maliming commented on #4723
`SettingManager.GetSettingValue()` Will automatically get the user or tenant settings.
You can simulate them in unit tests using tools such as nsubstitute(https://nsubstitute.github.io/).

[2019-07-24 02:56] dangminhbk commented on #4723
@maliming if there is an Application setting, User setting coexist, which setting will be get ?

[2019-07-24 03:00] maliming commented on #4723
If not, we get the tenant-specific value if it's defined (overrided) for the tenant.
If not, we get the application value if it's defined.
If not, we get the default value.
The default value can be null or an empty string. It's recommended that you provide default values for settings where it's possible.

See: https://aspnetboilerplate.com/Pages/Documents/Setting-Management

[2019-07-24 05:20] #4723 closed

[2019-07-24 06:53] ImanBahrampour opened #4724 "Missing type map configuration or unsupported mapping in Abp version 4.8.0"
In the .Net core project, the Abp version was 4.6.0, the Automapper didn't have any mapping problem with mentioned classes but after updated to Abp version 4.8.0
the following error had occurred:

**Error**:
[code]

**Classes:**
[code]

In the CustomDtoMapper file:

`configuration.CreateMap<HotelbedsAvailabilityByGeolocationRequest, HotelbedsAvailabilityByGeolocationInputDto>();`

[2019-07-24 06:55] maliming commented on #4724
The direction seems to be reversed.
It should be `HotelbedsAvailabilityByGeolocationInputDto -> HotelbedsAvailabilityByGeolocationRequest`

[2019-07-24 06:59] maliming commented on #4717
Can you talk in detail?

In general, you only need to use the `SettingManager`.

[2019-07-24 07:51] ImanBahrampour commented on #4724
we don't have any problem with mapping in the previous version and HotelbedsAvailabilityByGeolocationInputDto mapped to  HotelbedsAvailabilityByGeolocationRequest.

[2019-07-24 07:57] maliming commented on #4724
But the error message is obvious. Are you sure that you have not modified any code just to upgrade the abp package?

[2019-07-24 08:14] mkgn opened #4726 "Apply custom style sheet to each tenant"
Version : 4.6 asp.net core with Angular.

How can I apply different stylesheets for each tenant? Is there a way to serve different style sheets in bsb-theme\css\ based on {TENANCY_NAME} coming from the client?

Have anyone tried to achieve this before?

[2019-07-24 08:33] maliming commented on #4726
I haven't actually done it, but I think you can define a setting for each tenant, saving the custom css.

[2019-07-24 08:38] ImanBahrampour commented on #4724
If I change the mapping direction then must define all following configurations:
[code]
But in this configuraion I don't need define upper configuraions :
`configuration.CreateMap<HotelbedsAvailabilityByGeolocationRequest, HotelbedsAvailabilityByGeolocationInputDto>();`

[2019-07-24 08:40] ImanBahrampour commented on #4724
I just upgrade the Abp version

[2019-07-24 08:54] jozzlee commented on #4717
![templates](https://user-images.githubusercontent.com/14900788/61778708-d6b00080-ae31-11e9-813c-37aa5fb052d1.png)
@maliming How to change the template to sigle tenant?
I try to set like this,but AbpSession.TenantId still 1.
[code]

After that, i try to disable Default tenant seed, an error occurred while starting the application.
[code]
[code]

[2019-07-24 09:02] maliming commented on #4724
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4692/files

Abp 4.8 just upgraded AutoMapper 8.0.0 to 8.1.1

I think this problem is related to AutoMapper.

[2019-07-24 09:06] maliming commented on #4717
hi @jozzlee

You only need to set` Configuration.MultiTenancy.IsEnabled = false;` to disable multi-tenancy.

But the design of abp is that when you disable multi-tenancy, the framework will use the default tenant (named **Default**, Id is **1**)

So you should not disable Default tenant seed. Also do not need to call `Configuration.UnitOfWork.OverrideFilter(AbpDataFilters.MustHaveTenant, false);`

[2019-07-24 09:38] jozzlee commented on #4717
Does it mean that there is no simple way to use  SettingManager.ChangeSettingForApplication?
I did that.
[code]

[2019-07-24 10:55] ismcagdas commented on #4717
Don't use `using (AbpSession.Use(null, AbpSession.UserId))` if you have disabled multi tenancy. You can follow @maliming's suggestion.

[2019-07-24 10:57] ismcagdas commented on #4724
@ImanBahrampour could you share your CustomDtoMapper class ?

[2019-07-24 11:13] #4726 closed

[2019-07-24 12:02] evenlee opened #4727 "runtime error after changing default table prefix"
I follow the guide to change default prefix, all works fine before I run the web host project.
when I start the project, got an error: Invalid object name 'Editions."
I found someone has the same issue too:
https://gist.github.com/hikalkan/4f8f793c7929a81d300f
int the last comment

* Your Abp package version: 4.3.0
* Your base framework: .Net Core.
* Exception message and stack trace if available:

[2019-07-24 12:20] ismcagdas commented on #4727
@evenlee you also updated the database right ?

[2019-07-24 14:52] seblucas commented on #4528
@bbakermmc
Sorry for the delay and thanks a lot for the code

[2019-07-24 15:28] evenlee commented on #4727
Yes, the database looks good.

[2019-07-24 16:28] kfrancis commented on #4721
I agree with those points, mostly, and I understand the architectural reasoning. My argument is that we need to interop with an identity system that uses Guid as the PK. Why can't we introduce generics here, leave the system as it is but make it optional in the same way that default Identity can use Guid as PK if you so need?

We have it mostly working after just a day, so I imagine we'll have som

[2019-07-25 01:06] maliming commented on #4721
This has been achieved in the next generation of abp.

https://github.com/abpframework/abp

[2019-07-25 01:09] maliming commented on #4727
protected override void OnModelCreating(ModelBuilder modelBuilder)
{
//use Noc as default prefix for default tables
base.OnModelCreating(modelBuilder);
modelBuilder.ChangeAbpTablePrefix<Tenant, Role, User>("Noc");
}
dotnet ef migrations add chagne_table_names
run the web host project

Did you execute: `dotnet ef database update` to updates the database to the last migration?

[2019-07-25 02:19] evenlee commented on #4727
I tried to comment CreateEditions() in DefaultEditionCreator, then I got: Invalid object name 'Languages."
Looks all the seeds can rise error when the default prefix is changed.

[2019-07-25 02:21] evenlee commented on #4727
to ensure no errors, I dropped the database and used the migrator created a whole new database

[2019-07-25 02:35] jasonliaocn opened #4728 "how can I use both memory and redis cache"
* updated from 4.2 to 4.8.
* .Net Core.

Hi there,
I have some scene that may need to use both memory cache for some service and redis for some data, it seems the current implementation only support one of them, can you give some suggestion to use both of them? for example, I can specify the cache in the Configuration.Caching.Configure options?

[2019-07-25 02:50] emisand opened #4729 "Bug: ApplicationLanguageTextManager UpdateStringAsync should be case-sensitive"
ABP Version: v4.8.1 (.NET Core)

### The problem
In our solution we have localized strings in our XMLs that have the same key but with different case.
For example:
[code]

Everything works correctly, with the exception when I try to save into the database a customization for both localized strings.

Currently `ApplicationLanguageTextManager` loads the first customization from the database for the

[2019-07-25 02:51] dangminhbk commented on #4723
I try `SettingManager.GetSettingValueAsync('App.UiTheme')` , it overrided correctly. But when i tried SettingManager.GetSettingValueAsync('Abp.Net.Mail.Smtp.Username') , It alway get default value no matter what. Any Idea ? @maliming

[2019-07-25 02:53] maliming commented on #4729
see: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4680

[2019-07-25 02:57] maliming commented on #4728
When you use Redis you may be able to directly inject it into the `AbpMemoryCache `class. And vice versa.

[2019-07-25 02:58] emisand commented on #4729
@maliming
It's related to that issue, but not really.
I know that localized strings are case-sensitive and I like it that way.
The bug I am reporting is causing undesired behavior when the database locale is case-insensitive but expecting to use localized strings in a case-sensitive manner.

[2019-07-25 03:06] maliming commented on #4723
Is there a data row of `Abp.Net.Mail.Smtp.Username` in the database?
If have any, please share it.

If it is not there will return the default value.

By the way, you should use static constants instead of strings.
`EmailSettingNames.Smtp.UserName`

[2019-07-25 03:12] dangminhbk commented on #4723
![image](https://user-images.githubusercontent.com/31243225/61843078-9f3e6400-aec4-11e9-9290-64c02f87fd7a.png)

[2019-07-25 03:17] maliming commented on #4723
hi

The scope of the EmailSettingNames related setting does not support user.

![image](https://user-images.githubusercontent.com/6908465/61843263-a28a1d80-aecd-11e9-8620-3491e271246e.png)

[2019-07-25 03:17] feigaogit opened #4730 "When abp integrates identityserver4, the Resposnse Header for the /connect/checksession address automatically adds some properties？"
When abp integrates identityserver4, the Resposnse Header for the /connect/checksession address automatically adds some properties.

I'm using the [abp demo](https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/IdentityServerDemo)
![image](https://user-images.githubusercontent.com/18181270/61843090-0b24ca80-aecd-11e9-973a-eb8c20048850.png)

However, I used the [demo](https://

[2019-07-25 03:23] maliming commented on #4730
Try
[code]

[2019-07-25 03:27] dangminhbk commented on #4723
@maliming thank for your clarification.

[2019-07-25 03:29] maliming commented on #4729
hi @emisand

If you have a lot of `Application Text` content in the database,  All data is queried into memory for filtering. this may have performance issues..

Since you need to be case sensitive, is it necessary to modify the database settings?

[2019-07-25 03:29] feigaogit commented on #4730
@maliming
Yes, thank you very much.
Excuse me,Where can I find the options property help in UseAbp?

[2019-07-25 03:29] #4730 closed

[2019-07-25 03:35] feigaogit commented on #4730
@maliming
Yes, thank you very much.

[2019-07-25 03:36] emisand commented on #4729
@maliming
It wont query all data as implemented in the pull request.
It will only query all `ApplicationText` entities with the same Source, Locale and Key as provided to `UpdateStringAsync` method.
So in most cases it will only retrieve a single entity, unless you have a case-insensitive database and you have multiple localized strings with the same key but different text case.

Current workaroun