[2017-09-15 14:51] careLearning commented on #2441
We have a need to also control the suffix a bit.  We have C# functions which are async.  Our policy is to add "Async" to all such functions.  However, we do not want the "Async" suffix in the javascript.  I tried do do something like this:

`    public class AbpZeroTemplateWebApiModule : AbpModule
    {
        public override void Initialize()
        {
            IocManager.RegisterAssemblyByCo

[2017-09-15 17:04] hikalkan opened #2514 "Remove Async suffix for dynamic async controller actions (both for web api and asp.net core mvc)"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2441#issuecomment-329805344

It's enabled by default. If you define an async method, like GetPersonAsync() in app service, jquery proxies will access it without Async postfix.

This can be a breaking change if have already actions with Async postfix and using them from javascript side. To disable (and return to the previous case), i

[2017-09-15 17:04] hikalkan commented on #2441
@careLearning Created an issue for that: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2514

[2017-09-15 17:04] #2441 closed

[2017-09-16 00:21] tuvshuu commented on #2406
When OData to Core 2.0 ?

[2017-09-16 01:45] acjh commented on #2291
Disable ABP [audit logging](https://aspnetboilerplate.com/Pages/Documents/Audit-Logging#DocConfig):

[code]

[2017-09-16 01:55] ChiakiYu commented on #2511
@acjh  Thank you.
If I do not use optional parameters, then it is requeired, that does not match my needs.
I need optional parameters, before abp 2.3, everything is good, after upgrading to 3.0, there have been a lot of this problem.
I do not know what happened.

@ismcagdas  Excuse me, did not you reproduce the problem? Why did my project have this problem?

[2017-09-16 02:02] acjh commented on #2511
Did you try?

[2017-09-16 03:20] ChiakiYu commented on #2511
@acjh
**Yes,I tried it**
###  ① do this, ok:
[code]

### ② do this,error:
[code]

### Call the way：
[code]

**and  I need the second way, I need optional parameters which is c # allow the syntax, upgrade the error after 3.0.**

[2017-09-16 03:40] acjh commented on #2511
This should serve your purpose:

[code]

[code]

[2017-09-16 06:14] ChiakiYu commented on #2511
@acjh
Thank you for your answer.
The above code is just an example of the problem, the core issue: When I use the optional parameters, the program was wrong.
Your reply has modified my method signature, and in my project, this solution is not possible.
I know that if I do not use the optional parameters, then there is no such problem, but my project requires optional parameters.

[2017-09-16 06:15] hikalkan commented on #2406
@tuvshuu ask to Microsoft :)

[2017-09-16 07:10] tuvshuu commented on #2406
@hikalkan  They said several weeks and already passed 3 weeks.  I really need odata on my project  :)

[2017-09-16 10:51] acjh commented on #2511
I can't reproduce the problem.

[2017-09-16 11:41] abhishekbdutta commented on #1476
Hi Bruno,
I am also building an application on a very similar concepts where there will be a main application which has all the User management, configuration etc and other small applications using the same infra layer. In this case even the my need is to move identity server as a separate hosting. Each of these application will be hosted in containers

It would be very nice if you could share som

[2017-09-16 15:04] vitorlacerda opened #2515 "Define route to CSHTML with querystring does not load"
Abp intercept route with CSHTML but doesn't intercep if URL has QueryString.

URL = '....\...\CustomUserGrid.cshtml' OK

URL = '....\...\CustomUserGrid.cshtml?ID={23423-23423-234234-234-234234}' ERROR

File ['scripts\libs\angularjs\abp.ng.js'](https://github.com/aspnetboilerplate/aspnetboilerplate-templates/blob/master/src/AbpCompanyName.AbpProjectName.WebSpaAngular/Abp/Framework/scripts/libs/angu

[2017-09-16 19:44] ismcagdas commented on #2515
Thanks @vitorlacerda for your finding.

[2017-09-16 22:01] coommark opened #2516 "LastModifierUserId Not Updating aspnetboilerplate 3.0.0"
Created a new project with aspnetboilerplate 3.0.0, however LastModifierUserId does not update. LastModificationTime works alright. I even tried this:

[code]

Even if I remove `toUpdate.LastModifierUserId = _session.UserId;` it still does not update. How am I supposed to make this update?

[2017-09-17 04:22] acjh commented on #2516
Does `BoxType` implement `IModificationAudited`?

[2017-09-17 08:48] sebitsi opened #2517 "System.ComponentModel.TypeConverter Issue"
Hi.

After upgrading to .NET Core 2.0 (zero 4.5.1) everything works fine. 👍

Except one wird message when restoring packages:

It is interesting because the warning only appears on the test project. but not on the Web.Host project.
Same warning i got in "self created" web api project. Why is that ?

Have I missed something or maybe add to much ?

Thanks for advance.

[2017-09-17 08:50] #2403 closed

[2017-09-17 10:03] andmattia opened #2518 "AbpSession not loggedin using WinForm"
* Abp 2.3.0 + AbpZero
* .Net Framework
* User did not login

I have an issue using abp with winform.
I create a form to login and I'm able to login
[code]
The problem is that my AbpSession is still not logged in. Looking on web mobule I see that I need to set the IPrincipalAccessor and I try to set it with admin data but not working
[code]
So how can I fill my Principal data like HttpContext for W

[2017-09-17 10:24] acjh commented on #2518
Did you call `await SignInAsync(loginResult.User, loginResult.Identity)`?

[code]

[2017-09-17 11:41] andmattia commented on #2518
@acjh  thank for your suggestion. So in my module Initialize() I don't have register an IAuthenticationManager.

So now I need to find a solution to find a IAuthenticationManager in winform. If i try to use
[code]
I catch the exception beacuse HttpContext is not init on win form, to solve it I add a custom IAuthenticationManager but I'm not sure that if the best solution. Any suggestion?

[2017-09-17 11:56] coommark commented on #2516
Yes `BoxType `inherits `FullAuditedEntity`.

[2017-09-17 13:23] andmattia commented on #2518
After some test I see that Claim and Principal are correct loaded, similar in web project, but AbpSession still not initialized...

[2017-09-17 15:29] hikalkan commented on #2516
Are you using EF Core or EF 6? Has ``_session.UserId`` a value?

[2017-09-17 15:46] hikalkan commented on #2517
If you search on Google for "System.ComponentModel.TypeConverter 4.0.1 was not found" you will see some results. We got the same warning but this issue is not specific to ABP projects.

``Abp`` depends on ``Castle.LoggingFacility (>= 4.0.0)`` depends on ``Castle.Windsor (>= 4.0.0)`` depends on ``Castle.Core (>= 4.0.0)`` depends on ``System.ComponentModel.TypeConverter (>= 4.0.1)`` whichs is the pr

[2017-09-17 15:51] hikalkan commented on #2518
This is not true:

[code]
"nameidentifier" and "name" are not the right keys. Use ClaimTypes.NameIdentifier and ClaimTypes.Name constants. Their values are ``http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier`` and ``http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name``

[2017-09-17 15:57] andmattia commented on #2518
@hikalkan thks for the clarification. Right now my Win App after
[code]
loginResult is configureted well (like in web app) but AbpSession still remain initialized with default value, I try to call
[code]
But AbpSession not update... If I store the loginResult in global class the data is correct.

[2017-09-17 16:00] acjh commented on #2518
How are you using AbpSession?

[2017-09-17 16:00] hikalkan commented on #2511
As I remember there was an issue on Castle related to that (see https://github.com/castleproject/Core/issues/45 and https://github.com/castleproject/Core/issues/291) but they have fixed.

We will try to repeat this. As I understand it is MVC 5.x project.

[2017-09-17 16:02] hikalkan commented on #2518
Is your WinFormPrincipalAccessor code called when you add breakpoint?

[2017-09-17 16:07] andmattia commented on #2518
I inject in "AbpForm" is base class for all my form. Is quite similar to AbpController see the code below
@hikalkan is it called. I inject the AuthenticationManger -> WinFormAuthenticationManager (this is the
Microsoft.Owin.Security.AuthenticationManager : IAuthenticationManager create for test via Resahper :))
[code]

[2017-09-17 16:10] hikalkan commented on #2518
If it's called then AbpSession should work, because it just reads UserId from ``ClaimTypes.NameIdentifier`` claim.

[2017-09-17 16:11] andmattia commented on #2518
Ok, but probably something is missconfigured beacuse the AbpSession never update with user data after login.

[2017-09-17 16:20] andmattia commented on #2518
I give you the init code from Mdi form, I do add this code to intercept async event. My mdi in inject with Ioc
[code]
And All form are be init from IocManger to inject all the necessary option

[2017-09-17 16:54] coommark commented on #2516
Thanks @hikalkan. I'm using EF Core. _session.UserId has the correct value of 1, i.e the default admin.

[2017-09-17 17:33] acjh commented on #2516
Does the entity belong to host or tenant?

[2017-09-17 17:36] sebitsi commented on #2517
@hikalkan

Thanks for your response.
I searched and founded results you mentioned.

But it was wird beasuse main template (asp.net zero) is without warning. Only test projects has it.

This is why i posted this question.

[2017-09-17 17:38] coommark commented on #2516
It belongs to the host I guess. The default admin is not assigned to any tenant.

[2017-09-17 17:41] acjh commented on #2516
I mean the updated `BoxType` entity.

[2017-09-17 17:43] coommark commented on #2516
Oh okay. It belongs to a tenant. Tenant 1.

[2017-09-17 17:52] acjh commented on #2516
Creation and Modification audit values should not be set for cross database users: #2131

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/2f79821b3c09132394ec01f1673b7fad8e6893af/src/Abp/Domain/Entities/Auditing/EntityAuditingHelper.cs#L96-L102

[2017-09-17 17:57] coommark commented on #2516
I see... Thanks lots. I get it now. Very helpful.

[2017-09-17 17:57] #2516 closed

[2017-09-17 19:32] ismcagdas commented on #2291
Hi @natiki have you solved your connection string problem ?
Sorry for the late reply, we somehow missed your issue I guess.

[2017-09-17 19:35] ismcagdas commented on #2493
@Korigoth have you tried it with VS 2017 v15.3.4 ?

[2017-09-17 19:48] andmattia commented on #2518
at the moment the only way that I have to use permission and other options relate tu user is
[code]

[2017-09-17 20:53] ismcagdas commented on #2485
@linqtosql do you use latest version of Pomelo ?

[2017-09-18 00:25] Es201n opened #2519 "NSWAG ERROR"
**download the template project, do not execute nswag / refresh.bat is normal, after executing nswag / refresh.bat ng serve error:**

![error](https://user-images.githubusercontent.com/17695936/30526460-4bc07dda-9c4d-11e7-8f9c-343d17091858.png)

![cmd](https://user-images.githubusercontent.com/17695936/30526303-433fbefc-9c4b-11e7-817a-8824091cdc21.png)

webpack: Failed to compile.` @

[2017-09-18 02:20] linqtosql commented on #2485
@ismcagdas yes , I'm use version 2.0.0-rtm-10062

[2017-09-18 03:38] Korigoth commented on #2493
@ismcagdas Yes, it is my current version.

[2017-09-18 04:57] hikalkan commented on #2517
I also don't know the reason :) I'm closing this since there is nothing to do in our side for now.

[2017-09-18 04:57] #2517 closed

[2017-09-18 05:22] ismcagdas commented on #2519
@Es201n
 * can you also share your NSWAG version ?
 * How did you install npm dependencies ? (npm install or yarn install)

[2017-09-18 07:18] andmattia commented on #2518
Looking into the log file I found this Debug message
DEBUG 2017-09-17 19:09:37,025 [1    ] Abp.Owin.OwinUserTokenProviderAccessor   - DataProtectionProvider has not been set yet.

[2017-09-18 07:20] yekalkan commented on #2511
I checked it in an empty project but didn't get any error. Default parameter works as intended.

[2017-09-18 07:20] #2511 closed

[2017-09-18 09:58] natiki commented on #2291
Hi @ismcagdas,

No not yet. I still would like a solution.

[2017-09-18 10:05] ismcagdas commented on #2291
@natiki , were you able to detect used connection string in your application ?
Maybe for some reason, wrong connection string is used, is that possible ?

You can also try to use connection string value hard coded instead of using connection string name ?

[2017-09-18 11:34] ismcagdas commented on #2485
@linqtosql We haven't tried the template with new version.
Have you asked this to Pomelo ? It might be a know issue.

[2017-09-18 20:42] linachu commented on #2493
hi all, i get the same error , a lot of references with a warning, and i cant run my proyect, i can compile but get reference errors of my libraries.

Proyect : Asp.Net mvc fw 4.6.1 v3.0.0 ABP
Vs version : v15.3.4

tried to update my proyect ( from 1.5.1 to  3.0.0 ) and create a new proyect ( download from the abp page , a mvc startup template ) and get the same error in two cases.

hope everyone

[2017-09-19 01:04] ChiakiYu opened #2520 "About import {**} from @shared/* in angular template"
Hi,Thanks for this great project and you。

I encountered a strange phenomenon in the angular project.
In the angular project,`app-component-base.ts`:
[code]
and `tsconfig.json`:
[code]
it is ok.

but in my project(my project is automatically generated from the command line`ng new myproject` )

I also follow the above code to do，But vscode shows an error(This does not affect normal operation, but c

[2017-09-19 08:10] personball commented on #2487
in my pr, ci show error:
[Specify which project or solution file to use because the folder contains more than one project or solution file.](https://ci.appveyor.com/project/hikalkan/aspnetboilerplate/build/3.0.0-beta1521-fjopgveh#L545)

[2017-09-19 08:17] viewtance commented on #2512
If use this alpha release, is it compatible with Abp.SignalR? It seems no nugget package for this  update based on ZERO, because SingalR 2.0 is an all new library

[2017-09-19 15:01] hikalkan commented on #2512
We will create a new nuget package for AspNet Core SignalR 2.0 integration

[2017-09-19 15:09] hikalkan commented on #2487
I see the message but could not understand why

[2017-09-19 16:20] brunobertechini commented on #2395
I didnt tried yet, but is this issue fixed now with DotnetCore 2.0 version ?

[2017-09-19 18:23] brunobertechini opened #2521 "Create new DataFilter for DotnetCore (EFCore) version"
Hello there.

I need to implement a new filter (IMustHAveCompany and IMayHaveCompany) for the dotnetcore version.

By researching the search code I found out that this is implemented in the Repository (DbContext) version instead of filters (DynamicFilters) from NETFramework Full version.

Can you please shed some light on how I can achieve this ?

I was thinking of duplicate the TenantId filter an

[2017-09-19 18:26] hikalkan commented on #2395
Yes, it should be fixed.

[2017-09-19 18:50] hikalkan commented on #2521
Abp.EntityFrameworkCore package v3.0 uses EF Core's global filtering feature. See code: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L153

To add your own filters:

1. Override this method and return true if you need to apply filter: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrame

[2017-09-19 20:50] ChrisB92 commented on #1891
I've been having this issue too. I think I may have narrowed it down to abp.signalr.js connecting to the server before the client side events have been established. It seems you need to call `$.connection.hub.start()` after you have set up your events. I'm guessing it is so that it can do some bindings.

If I set `abp.signalr.autoConnect = false` and then manually call `$.connection.start()` at th

[2017-09-19 23:44] Es201n commented on #2519
@ismcagdas

- nswag version:"nswag": "^11.6.1".
- use npm install.

[2017-09-20 05:17] ismcagdas commented on #2519
@Es201n can you remove node_modules folder and try to install packages with "yarn install" ?

[2017-09-20 05:47] Es201n commented on #2519
@ismcagdas I just tried to use yarn install, is the same problem.

[2017-09-20 06:57] andmattia commented on #2518
Any idea or work around about this issue?

[2017-09-20 07:08] ismcagdas commented on #2519
@Es201n I have created an issue in it's own repository https://github.com/aspnetboilerplate/module-zero-core-template/issues/115.

We will work on that issue, thank you for reporting this.

[2017-09-20 07:08] #2519 closed

[2017-09-20 11:11] brunobertechini commented on #2521
Thanks for the clarification. This is what I've got so far :)
Are there by any chance a way to create this using a separated nuget package on my side ?

I mean, are there any extension point that an externalmodule like

`Configuration.Modules.MultiCompany().EnableMultiCompany = true;`

will be able to apply these changes without overriding the dbcontext ?

Regards

[2017-09-20 11:12] brunobertechini commented on #2521
Maybe an improvement will be a Configuration for AdbContext where we provider the metadata and the dbcontext will call it pretty much like an extension point

Bruno

[2017-09-20 13:23] brunobertechini commented on #2521
I was trying with Castle Interceptor but I dont think we can modify the return value. For example use ShouldFilterEntity to modify return true/false in my interceptor.

Do you know if it is possible ?

Bruno

[2017-09-20 16:46] Korigoth commented on #2493
@ismcagdas We started a DotNetCore2 + Angular4 template from VS2017 yesterday at job. I've discovered that all the reference with warning in ABP (MVC 5 template) were from Microsoft.NETCore.App.

I dont know if it can help you guys to fix thoses warnings in the template?

The real problem is we all need to remove thoses references by hand each time we create a template or we are getting a big list

[2017-09-20 17:07] hikalkan commented on #2521
EF Core's global filtering is pretty limited and requires workarounds that you can see in AbpDbContext. To be honest, I don't want to build a new abstraction/configuration on top of it :)

[2017-09-20 17:07] #2521 closed

[2017-09-20 20:50] linachu commented on #2493
@Korigoth you can run the app removing the bad references??

the iss throw an error " netfx.conflicts.(something)" can resolve and blabla...

i've tried remove all the bad references from all the projects but nothing at the moment.

thanks

[2017-09-20 23:31] linachu commented on #2493
hi guys !! i have good news !!

at least searching for a solution, i have found this, and it works!

this is the link to the solution https://github.com/dotnet/corefx/issues/23229#issuecomment-322968208

in my case, this do the trick

`<Target Name="UpdateOriginalItemSpecs" AfterTargets="ResolveAssemblyReferences">
    <ItemGroup>
        <ReferencePath>
            <OriginalItemSpec>%(ReferencePa

[2017-09-21 02:25] Korigoth commented on #2493
@linachu we dont use IIS yet, but may be we are going to use it, we dont know yet if we are going on Azure or on promise server...

i will definitly check this csproj modification if we are going on promise

[2017-09-21 06:01] enestIt opened #2522 "How can I capture the Session timeout in ABP framework"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

### Stack Overflow

Please use Stack Overflo

[2017-09-21 06:02] enestIt opened #2523 "How can I capture the Session timeout in ABP framework? Is there any event which I hook into? I am using AspNet Zero premium template."
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

### Stack Overflow

Please use Stack Overflo

[2017-09-21 06:33] hikalkan commented on #2523
duplicate: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2522

[2017-09-21 06:33] #2523 closed

[2017-09-21 06:34] hikalkan commented on #2522
Please ask asp.net zero questions to the support forum: https://forum.aspnetboilerplate.com/viewforum.php?f=5

[2017-09-21 06:34] #2522 closed

[2017-09-21 06:42] enestIt commented on #2522
@hikalkan But I can't post question there

[2017-09-21 07:00] enestIt commented on #2522
@hikalkan Can you please add me to the forum?

[2017-09-21 07:30] hikalkan commented on #2522
Please contact to info@aspnetzero.com. Send your forum username and your email (that is used while purchasing AspNet Zero) too.

[2017-09-21 11:44] gentledepp opened #2524 "separate tables with prefixes for each tenant"
It would be great it it was possible to create all tables separately for every tenant within the same database.
those tables would need to be prefixed (or in sql server: belong to a separate schema)

That way, we could allow reporting rights to our tenants without them being able to see the data of other tenants.

While we know that this could be achieved by a multi-database approach, we would lik

[2017-09-21 12:22] hikalkan commented on #2524
Why not using same tables? Doesn't the reporting tool have ability to filter data by TenantId (you also may want to check RLS feature of SQL Server).

I don't have experince if EF support dynamically mapping an entity to a table based on current tenant. Even if it's possible, what about code first schema migrations? I suppose it will not be possible easily.

[2017-09-21 13:42] brunobertechini commented on #2521
No problem.

Just need your help to address the steps to create a new filter aside the dbcontext mentioned

Like AbpSession ; UOWManager etc

Bruno

[2017-09-21 14:15] ChiakiYu commented on #2485
I have the same error.
template: ASP.NET Core 2.x  (Full .NET Framework) + Angular + module-zero
1.New Template
2.Restore nuget
3.update-database

[code]

### But the program can run well

[2017-09-21 14:34] hikalkan commented on #2521
ShouldFilterEntity only works once by EF on model creation. So, probably interceptors will not work properly in this stage. It's not so dynamic.

[2017-09-21 15:11] gentledepp commented on #2524
Hmmm... you may be right with that assumption.

[2017-09-21 21:00] vdurante opened #2525 "API calls quota exceeded! maximum admitted 3 per 1h."
Hey, @hikalkan. How are you?

I understand the reason behind limiting number of downloads per hour, but I've been an advocate of ABP por more than a year now and teaching it for developers in the startup ecosystem for **free**. Today, during one of my workshops, I noticed we could not download more than 3 templates per hour.

Again, I understand the reason behind this, but I would appreciate if yo

[2017-09-22 01:18] flexem commented on #2453
I have the same problem at v3.0.

[2017-09-22 01:19] flexem commented on #2453
Here is the log:

ERROR 2017-09-22 09:11:47,204 [83   ] Mvc.ExceptionHandling.AbpExceptionFilter - Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concurrency exceptions.
Abp.Domain.Uow.AbpDbConc

[2017-09-22 05:45] hikalkan commented on #2525
Someone abused it and our web site has down for a complete day and we had to put a limit.
OK, we will increase it as 6 templates per 2 hours (you can download 6 templates in 5 minutes and wait 115 minutes then). How is that?

[2017-09-22 06:12] ismcagdas opened #2526 "implement IUserAuthenticatorKeyStore"
When TwoFactor is enabled, application throws "Store does not implement IUserAuthenticatorKeyStore<User" error.

[2017-09-22 06:15] SteveArr opened #2527 "Documentation: Application Services should mention how to get by Id"
A common task is getting an entity DTO from application services by Id.  The documentation for Application Services (https://aspnetboilerplate.com/Pages/Documents/Application-Services) does not mention that to get an item by Id, easily, you create an EntityDto object and not a specific DTO to your application.  It is not very intuitive and so it should be documented.

[code]

Would you mind if I d

[2017-09-22 06:31] acjh commented on #2527
That is hinted [here](https://aspnetboilerplate.com/Pages/Documents/Application-Services#other-method-arguments). Application services should use input (and output) [DTOs](https://aspnetboilerplate.com/Pages/Documents/Data-Transfer-Objects#DocNeedForDTOs), which are extensible.

[2017-09-22 06:32] hikalkan commented on #2527
Getting an entity by id is not a specific thing. You can even create a method like ``public PersonDto Get(int id)``.

[2017-09-22 06:34] #2526 closed

[2017-09-22 06:40] acjh commented on #2525
@vdurante For a workshop, you can get everyone to use a standard `MyCompany.MyProject` (or write your own script to replace/rename files). In that case, you can download a copy and host it on a fork.

[2017-09-22 06:50] ebicoglu commented on #2525
Template creation count increased up to 6 in 2 hours.  have fun ;)

[2017-09-22 06:50] #2525 closed

[2017-09-22 07:26] flexem commented on #2453
I'm using aspnet.zero core v4.5.1.It was throwed in TokenAuthController.Authenticate method.

[2017-09-22 08:15] hikalkan opened #2528 "UOW enhancements"
Consider to set CurrentUnitOfWorkProvider.Current to null on Disposed rather than Completed/Failed. Disposing in Completed/Failed may lead to ambient scope problems in async methods.

[2017-09-22 09:43] #2382 closed

[2017-09-22 10:17] flexem opened #2529 "Ef core query Filter for TenantFeatureSetting not applied."
My abp vesion is v3.0.0 and use ef core.
When i invoke AbpTenantManager.GetFeatureValuesAsync(int tenantId) method.The IMustHaveTenant filter not worked on TenantFeatureSetting entity.It return the results which are other tenant's.
I checked the code in AbpDbContext.ConfigureGlobalFilters method.Then I found because the TenantFeatureSetting entity hava a base class FeatureSetting,So it will not ap

[2017-09-22 14:43] hikalkan commented on #2529
We should check this. Thank you for reporting.

[2017-09-25 13:48] #2515 closed

[2017-09-25 20:04] pagner opened #2531 "Language is not changing"
running v2.3.3 core. Updated from 1.5.1 few weeks back. I don't want to upgrade to .net standard until Entity core is more complete. Angular4 frontend, Updated abp npm modules to latest. Everything else is working fine.

The issue is: After selecting a different language (i.e. Italian), the cookie is set with a value of "It" but the language does not change in the application.

thanks

Update: Lan

[2017-09-26 03:24] AlexGeller opened #2533 "Does ABP support plugin mechanism"
Hi,

We want to develop a cms system by use ABP, now we need to develop some functions as plugin of the system and install them from page, because the user maybe don't want to use those functions but some others want. The example is that there is many payment method which not all user needed.

So, I want to konwn that whether  the ABP support plugin mechanism?

Alex.

[2017-09-26 03:54] zacchung opened #2534 "ABP Unit Tests Exception System.InvalidCastException Effort.Provider.EffortConnection not convert MySql.Data.MySqlClient.MySqlConnection"
![Markdown](http://i2.bvimg.com/613089/7ec6e160504c5866.png)
![Markdown](http://i2.bvimg.com/613089/1ce2ea87c1398c42.png)
![Markdown](http://i2.bvimg.com/613089/bb89624f0aa3ada2.png)

`   在 MySql.Data.Entity.EFMySqlCommand.set_DbConnection(DbConnection value)
   在 System.Data.Entity.Core.Common.Utils.CommandHelper.SetStoreProviderCommandState(EntityCommand entityCommand, EntityTransaction entityTr

[2017-09-26 05:40] Worthy7 opened #2535 "AbpServiceProxies uncachable"
`    @Scripts.Render("~/api/AbpServiceProxies/GetAll")
    @Scripts.Render("~/AbpScripts/GetScripts")
`

Always returns with the header : `no-cache`

How can we force it to cache?

[2017-09-26 05:47] ismcagdas commented on #2531
@pagner can you check the value of "abp.localization.currentLanguage.name" in chrome's javascript console ? Is it same with selected language or not ?

[2017-09-26 06:03] hikalkan commented on #2535
You may try to override Application_EndRequest in global.asax, check url and remove no-cache header conditionally.

[2017-09-26 06:30] rqx110 commented on #2518
after `var loginResult = await GetLoginResultAsync(userTxt.Text, passTxt.Text, "Default");`
just set `Thread.CurrentPrincipal = new ClaimsPrincipal(loginResult.Identity);`
and then you can use AbpSession as normal .
ps: no need to define "WinFormPrincipalAccessor", just use buildin "DefaultPrincipalAccessor"

[2017-09-26 07:14] Worthy7 commented on #2535
I think this might be being caused by a bug in Optimizations 1.1.2
https://stackoverflow.com/questions/23052818/mvc4-script-bundles-caching-issue
http://aspnetoptimization.codeplex.com/workitem/127

[2017-09-26 10:19] Codeshark-NET commented on #2339
Thanks for your assistance @acjh .

I ended up completely rewriting the authentication filter, from scratch, in order to understand it fully. After that, I've had no issues.

Thanks again 👍

[2017-09-26 10:19] #2339 closed

[2017-09-26 11:53] natiki commented on #2533
@AlexGeller Did you have a read of:

- https://aspnetboilerplate.com/Pages/Documents/Module-System?searchKey=plugin#plugin-modules

and then if you want to lock things down based on permissions etc then see Module Zero info on https://aspnetboilerplate.com/Pages/Documents

![image](https://user-images.githubusercontent.com/4738140/30858941-0bfa2296-a305-11e7-9795-5d090b3a6bf8.png)

What else do yo

[2017-09-26 14:48] hikalkan commented on #2535
api/AbpServiceProxies/GetAll does not use bundling system.

[2017-09-26 14:50] #2486 closed

[2017-09-26 15:47] pagner commented on #2531
It stays "en" no matter what I select.

When I try to change the language, the page redirects (refreshes) but returns to the default english.

console.log(abp.localization.currentLanguage.name) always returns "en"

[2017-09-26 15:52] acjh commented on #2531
Anything in error log?

[2017-09-26 16:09] pagner commented on #2531
No errors.

[2017-09-26 18:25] iyhammad commented on #2529
Abp: 3.0.0
EFCore 2.0
I believe It's not related to Inherited entities. I'm facing similar issue while using IRepository<Entity> to get an Entity and the user is logged in to specific tenant. I traced the query to the database and I discovered that the TenantId Dynamic Filter is not part of the query at all while IsDeleted is part of the query.
Note: My query has several Include

[2017-09-27 00:17] Worthy7 commented on #2535
I know, but even a <script> tag gets a no-cache header from the server. So i figured the bug came from optimizations somehow. The bug, specifically, adds `no-cache` to any elements that have had their DefaultTagFormat modified. I guess I could downgrade to test 1.1.1 and see if it affects basic <script> tags too.

[2017-09-27 03:29] ngnam commented on #2513
Thanks you, i did worked it, I think it should close this.

[2017-09-27 05:02] #2513 closed

[2017-09-27 05:44] ismcagdas commented on #2529
@iyhammad can you also share your query ? It might help us to reproduce this problem.

[2017-09-27 06:55] Worthy7 commented on #2535
I tried 1.1.1, no change. It is only happening with ABP's script.
In fact, GetAll has: `Cache-Control:no-store, must-revalidate, no-cache, max-age=0`
Yet, GetScripts has only ` Cache-Control:private`
This looks like something ABP specific, and I cannot imagine production sites not wanting to cache these....

[2017-09-27 07:42] Worthy7 commented on #2535
Tried your suggestion, for some reason even with `Cache-Control:public`, it still doesn't cache it (in chrome at least).

[2017-09-27 07:53] Worthy7 commented on #2535
Got it working. This should be the default for these two scripts I think.
[code]

[2017-09-27 08:07] ricavir11 commented on #2442
+1
I would like this feature too :)

[2017-09-27 08:51] Rgl88 opened #2536 "Add RightToLeft property to Language Entity"
Hello
Please add RightToLeft or IsRtl property to language entity.

[2017-09-27 09:51] hikalkan commented on #2536
You can check it by using CultureInfo class:

[code]

If you want, you can create a helper/extension method for it. So, no need to store a calculateable property.

[2017-09-27 09:51] #2536 closed

[2017-09-27 10:35] alirizaadiyahsi opened #2537 "[Bug] New tenant admin user gets permissions for all features"
A new tenant the admin account gets every permission in the DB even for features that may not be enabled.

[2017-09-27 12:37] Stirda opened #2539 "WatchGuard HTTP Proxy avoids anonymous redirection"
Hi,

I am facing a problem since my ABP application is deployed on Azure: any HTTP request, other than to Account/Login or Account/Logout, and sent by an anonymous user, returns a WatchGuard error webpage displaying this :

This is not blocking, since my users can go by themselves to Account/Login manually. Then, after that, they are able to navigate anywhere on the site (i mean: anywhere where Ab

[2017-09-27 13:21] Rgl88 commented on #2536
But it must sent to client side, i can not find it in ILanguageInfo

[2017-09-27 14:21] ahmedhassieb commented on #2451
hi @hikalkan well, I saw the test code you wrote but we need only the attribute to work on the Telerik report base controller, however, I tried to add the below lines in the  web module instead of the controller attribute

Configuration.Modules.AbpAspNetCore().DefaultWrapResultAttribute.WrapOnSuccess = false;
Configuration.Modules.AbpAspNetCore().DefaultWrapResultAttribute.WrapOnError = false;

an

[2017-09-28 02:03] rubby1228 opened #2540 "the component for a dependency to use"
when I use the following example:

[code]

class:
[code]

run exception:

[code]

In addition when I  only use castle windsor without abp, it's runing good!
version:
abp 3.0
netcore2.0

[2017-09-28 02:54] AlexGeller commented on #2533
@natiki

Thank you to your reply.

Is there have example about how to implement a plugin with controller, view?

[2017-09-28 03:48] acjh commented on #2540
Try this:
[code]

[2017-09-28 04:51] hikalkan commented on #2533
Have you seen https://github.com/aspnetboilerplate/modular-todo-app

[2017-09-28 06:02] ismcagdas commented on #2539
Hi @Stirda,

It is probably related to Azure or your/your company firewall. Do you have access to your firewall configuration UI ? There must be some UI to configure WatchGuard HTTP Proxy.

[2017-09-28 06:17] rubby1228 commented on #2540
Hi @acjh ,I  have tried,it still this issue.

[2017-09-28 08:06] alirizaadiyahsi commented on #2529
Hi @iyhammad,

If you can explain a bit detailed that provided by code (query and entity), we can help better.

[2017-09-28 09:22] sheldonyss opened #2541 "Can't get localized string from db"
Hi:

I am using abp zero 2.1.2 project template. DB localization is already enabled.
Strangely I can't get localized string from the database. Need some help. Thank you.
Default language in the setting table is en.

I have set a breakpoint in my application service method and tried to evaluate different string localization method in the VS immediate window. None of these method returns the actual

[2017-09-28 09:26] gentledepp opened #2542 "Feature: Configure Auto Providers per Tenant"
Hi!

Supposing we have several tenants on our system.
Many of them nowerdays would like to use their own authentication providers to allow their users to sign in to any service.

The problem is: basic OWIN middleware does not support registering e.g. WS Federation middleware twice.

However, we have one customer 'contoso' which wants to use his own WS Federation endpoint, same as some customer 'fa

[2017-09-28 09:36] gentledepp opened #2543 "Suggestion: Use/Copy module system (and more?) of Orchard 2"
Aspnetboilerplate is great, but it lacks UI composability.

We would love to have some "user management module", some "task module" and some other modules containing UI components that do not (necessarily) know about each other.

**Problem 1:**
One big problem here is already that it is quite cumbersome to create an MVC website with the views being spread across projects.

**Possible Solution:**
O

[2017-09-28 09:43] acjh commented on #2541
Can you add `en-US` in [DefaultLanguagesCreator.cs](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFrameworkCore/EntityFrameworkCore/Seed/Host/DefaultLanguagesCreator.cs#L18-L28)?

[2017-09-28 16:43] viewtance opened #2545 "PagedResultDto in Abp.Application.Services.Dto should provide LongTotalCount property"
As ABP is good start kit for multi-tenancy application, so most of the cases we set long Type as the primary key of the Entity, consider the actually data increment, we also should paged the result with long Type instead of int Type.

So, PagedResultDto base class which in Abp.Application.Services.Dto should provide a long Type LongTotalCount side by side int Type TotalCount.

[2017-09-28 17:52] mayorquin opened #2546 "Issues while upgrading to V3.0.0"
I'm getting the following error after upgrade to v3.0.0

System.Security.Cryptography.CryptographicException: Padding is invalid and cannot be removed.
   at System.Security.Cryptography.CapiSymmetricAlgorithm.DepadBlock(Byte[] block, Int32 offset, Int32 count)
   at System.Security.Cryptography.CapiSymmetricAlgorithm.TransformFinalBlock(Byte[] inputBuffer, Int32 inputOffset, Int32 inputCount)

[2017-09-29 02:01] sheldonyss commented on #2541
Problem solved by changing the `LanguageName` column `AbpLanguageTexts` to general culture name such as `en` or `zh`. It looks like that the `Name` column of `AbpLanguages` must be same as `AbpLanguageTexts`.

[2017-09-29 02:01] #2541 closed

[2017-09-29 02:11] Worthy7 opened #2547 "GetAll?type=angular doesn't allow another parameter"
We often need an extra &v=1.2.3.4 parameter to avoid cache problems. Please allow it.

[2017-09-29 02:16] acjh commented on #2541
See https://aspnetboilerplate.com/Pages/Documents/Zero/Language-Management#localizing-a-text.

Essentially what happened was `en-US` is not defined in `AbpLanguage`, so the fallback culture is `en`, then it checks if the given text is defined for `en` in `AbpLanguageTexts` which it isn't.

[2017-09-29 02:30] Worthy7 commented on #1010
@hikalkan  I just wanted to bump this issue again, as it means:
1) we don't get TS autocomplete (since the files are not there)
2) we have to separate our bundles (angular bundle, call abp getall, our custom angular) so that's three js calls at least :-(

[2017-09-29 03:04] 596442958 opened #2548 "Can't create component 'FutureApp.Doctors.DoctorAppService' as it has dependencies to be satisfied."
following code:
[code]

[2017-09-29 03:08] RonFrick commented on #1010
I agree, t4 would be an awesome approach for those of us using TS and Angular.

[2017-09-29 03:10] acjh commented on #2548
Show code for `DoctorAppService`?

[2017-09-29 03:15] 596442958 commented on #2548
interface
[code]
AppService
[code]

[2017-09-29 03:28] acjh commented on #2548
Which dependencies are not satisfied?

[2017-09-29 03:37] 596442958 commented on #2548
Can't create component 'FutureApp.Doctors.DoctorAppService' as it has dependencies to be satisfied.

'FutureApp.Doctors.DoctorAppService' is waiting for the following dependencies:
- Service 'Abp.Domain.Repositories.IRepository`2[[FutureApp.Hospitals.Hospital, FutureApp.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyT

[2017-09-29 03:37] flexem commented on #2529
Hi @alirizaadiyahsi ,I invoked your unit test in abp project.It passed.Then I Invoke the unit test in aspnet-zero-core project it failed.I placed the code in TenantAppService_Tests class.I also simplified your code as following:

[Fact]
        public void Get_Tenant_Features_Tests()
        {
            //Create tenants
            var firstTenantId = UsingDbContext(context =>
            {

[2017-09-29 03:40] acjh commented on #2548
Did you add `DbSet` for those entities in your `DbContext`?

[2017-09-29 04:05] 596442958 commented on #2548
thx

[2017-09-29 05:36] #2548 closed

[2017-09-29 05:49] hikalkan commented on #2547
Could not understand. You can still send &v=1234 and it prevents client side caching.

[2017-09-29 05:51] ismcagdas commented on #2546
Hi @mayorquin,

Probably some of your existing encrpyted data is causing ths problem. Because SimpleStringCipher is changed. This data can be email password in email settings or one of your tenant's connection string if you are storing any of tenant's data in a seperate database.

If this is your case, you need to update your encrypted data using new SimpleStringCipher.

[2017-09-29 05:53] hikalkan commented on #2545
Adding a LongTotalCount to same class would make confusion and requires to check both property. Do you have more than 2,147,483,647 entities :) If not, you can cast your total count to integer.

[2017-09-29 06:56] Worthy7 commented on #2547
You're right it does. I guess my bundle template for adding the v= is broken

[2017-09-29 06:56] #2547 closed

[2017-09-29 08:24] Stirda commented on #2539
You're right. It seems that my company has a WatchGuard HTTP proxy.

The WatchGuard HTTP proxy seems to intercept the 302 HTTP return code and changes it to a 403. That's why my browser doesn't send the second request to redirected URL, as it would do if it received the classic 302 response (sorry if it is abvious for you guys, I just learned the redirection basics by asking my browser to show me

[2017-09-29 09:31] ronaksbhavsar commented on #1962
Hello ,
Can Anyone please help me for this exception? sometimes it throws on staging server too.

An unhandled exception occurred while processing the request.

NotSupportedException: The invoked member is not supported in a dynamic assembly.
System.Reflection.Emit.InternalAssemblyBuilder.get_Location()

Stack Query Cookies Headers
NotSupportedException: The invoked member is not supported in a dy

[2017-09-29 12:44] xuxiao415 opened #2549 "How to use the bootstrap 4 in angular of aspnetboilerplate-zero-core-template?"
### How to use the bootstrap 4 in angular of aspnetboilerplate-zero-core-template?

I want to use [angular2-wizard](https://github.com/maiyaporn/angular2-wizard), written by maiyaporn and other contributors. It requires bootstrap 4, but abp use the bootstrap 3. When I upgrade to bootstrap 4, I get the error:
[code]
how to solve the problem? Appreciate!
my .angular-cli.json is as below:
[code]

[2017-09-29 14:03] ismcagdas commented on #2539
@Stirda probably it is because of WWW-Authenticate: Bearer header value.

Yes, I think your network admin can solve this problem.

[2017-09-29 14:03] #2539 closed

[2017-09-29 14:21] ismcagdas commented on #2549
@xuxiao415 we haven't update our templates to BS4. So, It might not be possible to use this library.

[2017-09-29 14:28] ismcagdas commented on #1962
Hi @ronaksbhavsar , you might need to add below code into ConfigureOwinServices method of your web project's Startup.cs

`GlobalHost.DependencyResolver.Register(typeof(IAssemblyLocator), () => new SignalRAssemblyLocator());`

And define SignalRAssemblyLocator like this:
[code]

Can you try that ?

[2017-09-29 15:13] wajahatch888 opened #2550 "Dependency injection of IOnlineClientManager in Signal R hub asp core"
I need to add chat functionality to my existing asp core project. I implemented SignalR and created a hub. Everything is working fine. After that, I need to track online users.  I am trying to inject IOnlineClientManager in my hub but it is not maintaining users. When the user is connected to hub, I add it in online manager client, but if the second user connected to hub it is not showing first us

[2017-09-29 15:20] yangpengfei opened #2551 "BadImageFormatException"
Hello, I follow the official tutorial to generate the database. But when I run the web when an error.
[code]

[2017-09-29 15:22] acjh commented on #2551
Delete the `bin` folder in the Web project and rebuild the solution.

[2017-09-29 17:30] gentledepp commented on #2543
I just saw this video.
It explains the module system and how to use it in  normal asp.net core projects (so without orchard cms)
https://channel9.msdn.com/Shows/On-NET/Sbastien-Ros-Modular-ASPNET-apps

[2017-09-29 18:01] gentledepp commented on #2524
actually, ef core might already support different schemas when running code first migrations:
https://stackoverflow.com/questions/39499470/dynamically-changing-schema-in-entity-framework-core

So based on that information, what are your thoughts?

[2017-09-29 21:38] #2550 closed

[2017-09-30 01:19] xuxiao415 commented on #2549
@ismcagdasStill thank you, I would like to think about other ways to solve it.

[2017-09-30 01:33] yangpengfei commented on #2551
OK,let me try that

[2017-09-30 03:03] yangpengfei commented on #2551
think you very much for running

[2017-09-30 03:03] #2551 closed

[2017-09-30 09:26] Rgl88 opened #2552 "NsWag generated code for c# dose not match with response dto object"
I use blow code for get token in winform:
[code]

The service class generated via Nswag.
but problem where blow method want deserialize json response to AuthenticateResultModel and it not work.

[code]
deserializer not work because response template do not match with AuthenticateResultModel
Response:

[code]

But AuthenticateResultModel:
[code]
I test with new model class and it work how configure

[2017-09-30 14:58] brunobertechini commented on #1476
@abhishekbdutta I am finishing the first sample with this intent.

I am also thinking of separate identity server but this will make life hard when AspNetZero/Abp ships new version that needs to be updated.

I am working on that.

Steps I am working

- Create separated module without referencing Main projects = OK
- Main projects dont reference Module projects = OK
- Implement ServiceBus Layer to

[2017-09-30 15:42] Korigoth opened #2553 "abp.services cant serialize Array of object to application services"
I've create a stackoverflow post about it with a lot of details

https://stackoverflow.com/questions/46504002/how-to-serialize-a-form-with-an-array-of-input

Is it possible to achieve this with ABP ?

ABP Version 3.0.0
if needed i can send my project.

In a Pure MVC project with the same inputs, this is working but not in abp?

    $.post(this.action, $(this).serialize(), function (response) {

[2017-10-01 00:28] asimon79 commented on #2485
I am having the same issue with a fresh template with Zero and Fresh DB

[2017-10-01 03:24] fjm0804 opened #2555 "How do I download the 2.3.0 version?"
How do I download the 2.3.0 version?

[2017-10-01 04:44] acjh commented on #2555
ABP 2.3.0 is available via nuget. If you mean the templates:
- You can only choose the project version for [premium startup templates](https://aspnetboilerplate.com/Templates#PaidStartupTemplatesArea).
- You can build your own from [module-zero-core-template/releases/tag/v2.5.1](https://github.com/aspnetboilerplate/module-zero-core-template/releases/tag/v2.5.1).

[2017-10-01 10:05] abhishekbdutta commented on #1476
@brunobertechini
That's a great news. waiting for the result, any time frame you can comment on.

[2017-10-01 12:24] osoykan commented on #2487
What do you think about migrating to [cakebuild](https://cakebuild.net/) ? I can do a pr for that.

[2017-10-01 13:08] andmattia commented on #2518
Thnks @rqx110  i test it and give u me feedback,

[2017-10-01 13:10] andmattia opened #2556 "Call plugin from other"
Version 2.3.0

I've a plugin to create document and I need to reuse in another solution. Is it possibile to call via DI first plugin to second plugin?

Or I need to meke a DependOn second plugin from first?

[2017-10-01 15:12] brunobertechini commented on #1476
I believe I already have a solution for this issue only (not the microservices one yet).

As this issue is : Create Abp Module without dependencies on main app, I believe I have a working solution. Still needs improvament. But I will create a sample project in github.

I only need to adapt this solution to aspnetboiplerplate because I am currently using AspNetZero and I believe I cant provide the

[2017-10-01 15:25] hikalkan commented on #2487
@osoykan it would be very good, thanks.

[2017-10-01 16:01] hikalkan commented on #2555
For nuget packages:

[code]

[2017-10-01 16:01] #2555 closed

[2017-10-01 16:18] #2508 closed

[2017-10-01 16:19] #2527 closed

[2017-10-02 01:14] Korigoth commented on #2553
Ok i got it working by creating a Json Object then calling the abp services.

But is there a way to get my array of object serialized by one of those    form.serialize(),  form.serialzeToArray(), or your abp function form.serializeFormToObject() ?

[2017-10-02 05:51] ismcagdas commented on #1476
@brunobertechini yes that is right since AspNet Zero is a paid product. We can also help you if you need help while adapting your solution to ABP.

[2017-10-02 06:11] ismcagdas commented on #2485
@asimon79 can you run the application ? It might be related to https://github.com/aspnet/EntityFrameworkCore/issues/9033.

[2017-10-02 06:15] chanjunweimy commented on #2467
Hi all,

I think one of the available approach to modularize the Angular UI architecture is to use the multiple-application support provided by angular cli.

I have created a repository to demo the idea: https://github.com/chanjunweimy/angular-multiple-app

Pros:
1. Able to develop each module independently
2. Able to combine each application into a website

Cons:
1. It would be more difficult to

[2017-10-02 06:56] ismcagdas commented on #2552
@Rgl88, ABP wraps result with AjaxResponse. I think NSwag cannot understand this. Maybe you can use a class for NSwag to get only Result field of returned response. Have you checked on NSwag's repo if this is possible ?

[2017-10-02 08:23] #2506 closed

[2017-10-02 09:45] Krystian-D opened #2558 "DbContext instance lifetime in EF Repository"
* Abp 1.5.1
* .Net 4.5.2

Hi I noticed that when I use injected EF repository it probably isn't using same instance of DbContext.
My scenario is that I'm implementing long running task to import data and I'm using `IRepository.GetDbContext().Configuration` to change `AutoDetectChangesEnabled` setting so I can call `DetectChanges()` manually to improve performance. Anyway I've noticed during debugg

[2017-10-02 10:38] #2469 closed

[2017-10-02 13:04] hikalkan opened #2559 "Work on DbContext pooling comes with EF 2.0"

[2017-10-02 13:04] Jerome2606 opened #2560 "How to get log inside of Xunit test project"
Hello,

How can I use Castle Facility logging to get my log inside of my Unit test ?

I tried this:

[code]

Without success.

[2017-10-02 15:37] Krystian-D commented on #2560
Hi,

I think your ILogger registration looks OK event though ILogger is usually property injected and by default in test base NullLogger is used as far as I remember so your registration should work as well as should override any ILogger component if there was one.

I'm not sure about overriding LoggingFacility. try to override it in the same way as ILogger using IsDefault() method.
Also try built

[2017-10-02 18:11] Ivangrasp commented on #2406
I downloaded the MVC 5.x startup template and decompressed it in `C:\Template` (Only the contents in "src" folder).

After setting up the database and building the project (with a lot of "reference not found" warnings, conflicts between dependent assemblies, and a bunch of "Consider app.config remapping of assembly" messages in the Web project) I get the same `Could not load file or assembly 'netf

[2017-10-02 21:25] kershnerd opened #2561 "Webpack Compilation Failed"
Downloading a brand new project using Angular 2 and including the zero module doesn't work.

The asp.net API core side works and Update-Database correctly creates the database tables.

But the angular side will not compile.

Doing an 'npm start' causes the errors in the attached screen shot.

What am I doing wrong?

![ss](https://user-images.githubusercontent.com/5776369/31100252-8e2c6bf8-a77d-11e

[2017-10-02 21:36] MohammedAl-Qaisi opened #2562 "assembly 'netstandard Version=2.0.0.0"
* Abp package version :3.0.0.
* Net Framework :4.6.0.

Dears,

What happens is after download and reinstall the package(s) I got this error

`Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0012	The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd5

[2017-10-02 23:54] acjh commented on #2562
ABP v3.0.0 is based on .NET Standard 2.0.

 - This concerns you regardless if you are on MVC 5.x, .NET Framework 4.x or .NET Core 2.x.
 - You should use VS2017 15.3.3+.
   - For VS2015, you may try installing [NuGet client 3.6 or higher](https://github.com/dotnet/announcements/issues/24) but that [may no longer work](https://stackoverflow.com/questions/46355233/asp-net-boilerplate-error-building-n

[2017-10-03 00:07] acjh commented on #2561
See [module-zero-core-template/pull/122](https://github.com/aspnetboilerplate/module-zero-core-template/pull/122)

[2017-10-03 00:57] Korigoth commented on #2553
Still didn't find anything.... the question on stackoverflow have a good answer i think but ABP is failing somewhere in the pipeline... without any error log that can point me out the problem!

here is my JS that is send to the abp.ajax

Console.log =>

$.extend({
            url: abp.appPath + 'api/services/app/brewer/Create',
            type: 'POST',
            data: JSON.stringify(brewerDto)

[2017-10-03 00:59] Korigoth commented on #2553
WARN  2017-10-02 20:50:26,093 [5    ] nHandling.AbpApiExceptionFilterAttribute - Method arguments are not valid! See ValidationErrors for details.
Abp.Runtime.Validation.AbpValidationException: Method arguments are not valid! See ValidationErrors for details.

ValidationErrors is empty... it doesn't help much! I can send the project if u need to see

[2017-10-03 01:05] Korigoth commented on #2553
jquery.js:9172 POST http://localhost:61759/api/services/app/brewer/Create 400 (Bad Request)
abp.js:350 ERROR:  abp.js:350
{code: 0, message: "Your request is not valid!", details: "The following errors were detected during validation.↵ - ↵", validationErrors: Array(1)} code: 0 details : "The following errors were detected during validation. ↵ - ↵" message : "Your request is not valid!" validationE

[2017-10-03 01:25] acjh commented on #2553
Hi, I answered your question on Stack Overflow. Is that error before or after using my suggestion?

[2017-10-03 02:54] Korigoth commented on #2553
before and after i get the same error

[2017-10-03 03:04] acjh commented on #2553
Can you format the error as it appears in the console? Or show a screenshot.

[2017-10-03 03:14] Korigoth commented on #2553
Here is the code:

![code](https://user-images.githubusercontent.com/10915055/31108466-750c2ed4-a7c7-11e7-849e-96258bac6cd7.png)

Here is the frond-end error with the console.log
![frontend](https://user-images.githubusercontent.com/10915055/31108478-81f9b63e-a7c7-11e7-8371-02e80e73454a.png)

[2017-10-03 03:19] Korigoth commented on #2553
god thx!

i found why your function was not working!

i've put it in the second parameter of the service.... while i was trying many other stuff.... putting it in the first parameter where the JSON.stringify will be called work as expected

THX, making screenshot and checking them after made it to work !! thx for the function too

[2017-10-03 03:23] acjh commented on #2553
Great :)

[2017-10-03 06:09] hikalkan opened #2563 "Create UOW middleware for AspNet Core"
This will make possible to be able to use dbconnection after action execution (for returning IQueryable from controller for 3rd party UI libraries or for making lazy loading available in razor views too).

### How to use

Add ``UseUnitOfWork`` in the Configure method of your Startup file

[code]

#### Side effects

If you use UOW middleware;

* All your requests will create a UOW even it's not nee

[2017-10-03 06:32] #2497 closed

[2017-10-03 07:20] #2507 closed

[2017-10-03 07:56] CoolM1234 opened #2565 "Adding global custom filter"
To add a custom global filter attribute for jsreport

Reference: https://jsreport.net/learn/dotnet-mvc

1) How to add FilterConfig.cs?
2) How to use the [EnableJsReport()] attribute in MVC controller?

Anyone can help me??
Thanks

[2017-10-03 08:14] iyhammad commented on #2529
Hi @ismcagdas  and @alirizaadiyahsi
I'm trying to reproduce the issue in a separate repository to know the root cause but I failed till moment. I will keep trying to isolate it and I'll get back to you.
Thanks,

[2017-10-03 09:00] ronaksbhavsar commented on #1962
@ismcagdas is it for development environment or staging and production environment only ? I have tested this on development environment but still raises on it.

[2017-10-03 09:34] ronaksbhavsar commented on #1962
@ismcagdas your solution worked. It's now working on Development Environment. I will let you know if i will face an issue on Staging Environment.
Thank you very much

[2017-10-03 10:19] ismcagdas commented on #1962
Thanks @ronaksbhavsar, you can reopen this issue if you face another problem.

[2017-10-03 18:31] #2535 closed

[2017-10-03 18:37] hikalkan commented on #2536
You can do it somehow, but OK we can add this property for making it easier.

[2017-10-03 18:39] hikalkan commented on #2451
@ahmedhassieb in the unit test I added it to a controller (https://github.com/aspnetboilerplate/aspnetboilerplate/commit/0f16eaf7156faaf2f95004b8338bed9667f458f7#diff-96c4cab299a5ea4d86bfd15663a6e86cR32) and worked. Isn't that what you want?

[2017-10-03 18:52] Rgl88 commented on #2552
@ismcagdas  as for response from Nswag owner, i can add attribute to controller methods, but in abp controllers generated dynamicly (Application Services as Controllers).
How i can add this attribute to controller methods? Of course, there is another solution (implement a custom OperationProcessor ...)

Attribute for controller methods
`[SwaggerResponse(200, typeof(MyResponse)]`

[code]

[2017-10-03 18:53] hikalkan commented on #2542
We thought on that before, but as I see it's not possible unless we customize authentication middlewares (maybe copy code and re-write some parts).

This feature is not frequently asked, so it may not be a selling point for Zero too.

We may work on this but it's actually unrelated to ABP framework so I will close this for this repository.

[2017-10-03 18:53] #2542 closed

[2017-10-03 18:55] hikalkan commented on #2552
You can add that attribute to application service classes (not interfaces) and it should work. Surely, you need to add a reference to swagger in that case, but there is no other way.

[2017-10-03 19:06] hikalkan commented on #2558
ABP's unit of system dynamically determine dbcontext for repositories. That means different calls to same repository instance may use different dbcontextes based on current unit of work. Surely, it will use same instance in a regular web request. But, after the request finish, dbcontext is disposed and if you still use the repository (don't do that normally) it will create a new UOW and new dbcont

[2017-10-03 19:37] Rgl88 commented on #2552
It is very hard to add this attribute to all methods and for AsyncCrudAppService must all methods overrided,
I go implement custom OperationProcessor for NSwag.
I tested it but Nswag do not understand it:
[code]
[code]

[2017-10-03 19:37] #2552 closed

[2017-10-03 23:08] kershnerd commented on #2561
Awesome, thanks!

[2017-10-03 23:08] #2561 closed

[2017-10-03 23:38] kershnerd opened #2566 "Can't npm start"
I had an issue last night with webpack failing to build but after implementing the pull request, I was able to get it to work.

But after getting a new project from aspnetboilerplate.com, it is breaking again when I do an npm start.

Here is my log:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\

[2017-10-04 00:56] kexxxfeng opened #2567 "Need share tests context"
Hey:)

In my project, I have a number of tests, and throw an exception "The configured user limit (128) on the number of inotify instances has been reached." in CI.  Because every test set up an TestServer which listen on a config file. So, the inotify listeners were great than the limit of the system.

I found the best way to fix the issue was to share the tests context. Reference: https://xunit.

[2017-10-04 01:57] chanjunweimy commented on #1476
Refer to issue #2467, I have a suggestion on making UI modular: modularize the Angular UI architecture is to use the multiple-application support provided by angular cli, shown in https://github.com/chanjunweimy/angular-multiple-app

[2017-10-04 03:07] andmattia commented on #2556
Any solution available?

[2017-10-04 04:48] hikalkan commented on #2556
If you want that second plugin should start before the first one that means they knows each other. In that case, you can add DependsOn attribute. As I remember ABP takes care of order of plugins too. If not, we can improve it.

[2017-10-04 04:56] hikalkan commented on #1476
I had investigated "multiple-application support provided by angular cli" before but it does not work properly. In the sample you provided it says:

So, they are actually seperated applications.

[2017-10-04 05:06] #2567 closed

[2017-10-04 05:11] ismcagdas commented on #2566
@kershnerd do you have angular-cli installed globally ? If so, you can try to start your project with "ng serve --host 0.0.0.0 --port 4200" and it might show you a more meaningful error message.

[2017-10-04 05:36] kershnerd commented on #2566
I don't understand.. it is working now... weird... sorry.. closing the ticket.

[2017-10-04 05:36] #2566 closed

[2017-10-04 07:53] Worthy7 opened #2569 "abp.auth.allPermissions"
When I call this `abp.auth.allPermissions` it always returns an empty object `{}`.

How is this supposed to work?
It does not make any Ajax call, and it doesn't seem to be connected to anything in code.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/73caa4f02ca514071f050a44d978d6a18c1bf7cb/test/aspnet-core-demo/AbpAspNetCoreDemo/wwwroot/Abp/Framework/scripts/abp.js#L64

[2017-10-04 08:06] andmattia commented on #2556
@hikalkan thks I try

[2017-10-04 08:09] acjh commented on #2569
It's populated here:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/74bb2541f425dda96286b396fd6f3d37c06f2ecc/src/Abp.Web.Common/Web/Authorization/AuthorizationScriptManager.cs#L55-L59

[2017-10-04 08:14] Worthy7 commented on #2569
Thanks. I'll work it out from there.

[2017-10-04 08:14] #2569 closed

[2017-10-04 08:40] Krystian-D commented on #2558
Thank you for reply.
Reported behaviour has been noticed during tests. My scenario is
I created class that syncs large set of data, it uses `IUnitOfWorkManager.Begin()` to start transaction, and `IUnitOfWorkCompleteHandle.Complete()` to commit, also inserts/updates are batched ~500 entries then I make call to `uowManager.Current.SaveChanges();`
In application this operation is triggered from Perio

[2017-10-04 20:09] osoykan opened #2571 "Possible AsyncLocal Uow issue"
@hikalkan,

[code]

This unit test blowing up when its executed. Normally we are expecting AsyncLocal should handle this right ?

[2017-10-05 01:21] chanjunweimy commented on #1476
@hikalkan Thanks for your reply! However, may I know why it does not work properly? What is the ideal UI plugin solution in your opinion?

As far as I understand, plugins should be compiled separately from main application, and that is the reason why we need separated applications. For example, the ToDo module that you develop is also developed in another csproj file, which can be also viewed as "

[2017-10-05 01:51] Worthy7 opened #2572 "Migrations don't work anymore (2.3.0, Oracle)"
Apologies that I am not (can not) use the latest version of Abp, and that I am using Oracle which you don't usually support, but I could use some direction as to where the problem might be.

I have made a simple migration, which works completely fine through the Package-Manager-Console, but when trying to migration on Application startup, it fails, citing that it already has made a connection and

[2017-10-05 02:51] natiki commented on #2565
@CoolM1234 Ultimately this not an ABP question. You are better served to ask for support at jsreport.net or on Stack Overflow.

[2017-10-05 03:13] acjh commented on #2572
Can you show what's on this line: `ProjectAbpContext.cs:176`
Also, this issue should be filed in the [module-zero-template](https://github.com/aspnetboilerplate/module-zero-template/issues) repo.

[2017-10-05 04:05] Worthy7 commented on #2572
`public ProjectDbContext(string nameOrConnectionString)
            : base("name= ProjectContext")
        {
        }`

[2017-10-05 05:21] ismcagdas commented on #2572
@Worthy7 which version of oracle drivers do you use ? Your problem is similar to this one I think https://github.com/aspnetboilerplate/aspnetboilerplate/issues/572

[2017-10-05 05:40] Worthy7 commented on #2572
Thanks for replying, it seems a clean was needed. However, I now have a bigger problem.

`Invalid IsolationLevel parameter: must be ReadCommitted or Serializable`

This problem only happens with the latest Oracle.ManagedDataAccess 12.2.1100, and it feels like a bug in those drivers, but I doubt that would be the case.

I cannot see the source of this error yet
`
[ArgumentException: IsolationLevelは

[2017-10-05 06:11] #2565 closed

[2017-10-05 06:48] Worthy7 commented on #2572
It seems to pass tests, the connection and getting data is fine, the problem seems to be in the seed data functions:
the line is here:
[code]

I cannot understand why this code would fail compared to a test of the same code.

[2017-10-05 11:09] ismcagdas commented on #2529
Currently EF Core's query filters can only be applied to root entities, see "Model-level query filters" > "Limitations" here https://docs.microsoft.com/en-us/ef/core/what-is-new/. So, we decided to move TenantId (IMayHaveTenant) to FeatureSetting entity.

[2017-10-05 11:15] ismcagdas commented on #2572
@Worthy7 it seems like oracle does not support ReadUnCommitted isolation level. You can change IsolationLevel in your EF module's preinitialize like this:

`Configuration.UnitOfWork.IsolationLevel = IsolationLevel.ReadCommitted;`

[2017-10-05 15:12] loyldg opened #2575 "AbpZero-zh-CN.xml Missing Resource Key"
the resource file AbpZero-zh-CN.xml missing resource keys:
AbpZero.xml has resource keys:'Email','EmailSecurityCodeSubject',EmailSecurityCodeBody','Sms','SmsSecurityCodeMessage'.
but AbpZero-zh-CN.xml missing.
1.when set zh-CN to default language,L('Sms') can not find the resource key.
2.add the resource key and values to table 'abplanguagetexts' ,L('Sms') still can't find it.

missing resource ke

[2017-10-05 15:20] acjh commented on #2575
Thanks! Do you want to help with the 7 remaining translations?

[code]

[2017-10-05 15:32] loyldg commented on #2575
[code]

[2017-10-05 19:54] #2575 closed

[2017-10-06 00:11] Worthy7 commented on #2572
Thanks so much that did in fact fix the problem with the connect of Oracle.ManagedDataAccess 12.2.1100, but I don't understand why this problem happened, since 12.1 worked completely fine.

I looked at Abp's code, but I cannot see where a default isolation level is actually getting set, so I assumed it was null, and then the underlying driver would use their default Isolation level upon transactio

[2017-10-06 00:19] Worthy7 commented on #2572
FYI, this hasn't fixed the problem with migrations. I do not know why.

So just to clarify, my original problem is about migrations not working anymore. So first I tried to update the oracle package, which caused the IsolationLevel problem, which we've fixed, but now my app cannot migrate the latest changes (so, the same problem as if I hadn't updated the oracle driver)

[2017-10-06 01:46] Worthy7 commented on #2572
Migrations are entirely fine from the command line.... It is only on app startup that they fail to apply, with the above error about connections.
I am trying to work out what changed to narrow this down. I have a feeling it is 2.3.0

[2017-10-06 04:24] andmattia commented on #2518
@rqx110  I try to use your solution but I need to configure
[code]
in web module I use this
[code]
in win form I need to init the IAuthenticationManager

[2017-10-06 04:59] Worthy7 commented on #2572
Not limited to 2.3.0, I tried 2.2.1, which also fails.

[2017-10-06 06:15] Worthy7 commented on #2572
The only success I have had so far, is that it applies the migrations correctly on app startup if I set in config `
            Configuration.UnitOfWork.IsTransactional = false;`

But I am sure this is going to break other things in my app.

[2017-10-06 07:18] acjh commented on #2572
An alternative:

[code]

[2017-10-06 07:26] Worthy7 commented on #2572
I see, just to get through the initial migrations, and then continue as normal.  Thanks for the suggestion - but I actually found a solution.
I reset the database server.
Even after looking at the pending transactions view table, which didn't show anything (but perhaps I was using the wrong user or looking in the wrong place), either way, after a reboot everything is working fine. Nothing wrong wi

[2017-10-06 10:48] alirizaadiyahsi commented on #2487
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2557

[2017-10-06 10:48] #2487 closed

[2017-10-07 03:22] JUGGF opened #2578 "Can't Update-DataBase in the ManagerConsole in ABP 3.0 .Netframework"
### Can't Update-DataBase
Hello,I download abp v3.0 template, the ASP.NET MVC 5.x,AngularJS,EntityFramework,like that:

![9k 2fdry 5ubx69fns 0 l](https://user-images.githubusercontent.com/16290809/31304128-9a58e6d0-ab4d-11e7-8f27-d38149a3df95.png)
Then,I  select the startup project as the document says,like that:
![image](https://user-images.githubusercontent.com/16290809/31304155-81a80b74-ab4e-11

[2017-10-07 04:00] acjh commented on #2578
ABP v3.0.0 is based on .NET Standard 2.0.

 - This concerns you regardless if you are on MVC 5.x, .NET Framework 4.x or .NET Core 2.x.
 - You should use VS2017 15.3.3+.
   - For VS2015, you may try installing [NuGet client 3.6 or higher](https://github.com/dotnet/announcements/issues/24) but that [may no longer work](https://stackoverflow.com/questions/46355233/asp-net-boilerplate-error-building-n

[2017-10-07 12:46] JUGGF commented on #2578
I update my VS2017 to version 15.3.3+,it work.I can Update-Database now,thank you.

[2017-10-07 12:46] #2578 closed

[2017-10-07 18:02] MohammedAl-Qaisi commented on #2562
Just update VS2017 15.3.3+.

[2017-10-08 11:48] hikalkan commented on #2562
I suppose it's working now.

[2017-10-08 11:50] #2562 closed

[2017-10-08 11:52] fretje commented on #2531
I have a similar issue with abp 3.0.0 on aspnetcore 2.0.

I think the problem is with the AbpUserRequestCultureProvider (which is inserted in the pipeline right after the QueryStringCultureProvider). There the language gets saved to the user (ChangeSettingForUserAsync) at the end of the method. But at the start of that method that setting is checked, and if it exists, that one is immediately retur

[2017-10-08 12:00] hikalkan commented on #2531
@fretje thank you for additional information, will check this.

[2017-10-08 12:57] hikalkan commented on #2571
Yes, it should, but not works. I suppose AsyncLocal is not working in the way we expect.

[2017-10-08 13:04] #1955 closed

[2017-10-08 13:10] hikalkan commented on #2558
You can directly inject ``IDbContextResolver`` and use Resolve method to create a DbContext and use it in your background job.

[2017-10-08 13:11] mohammad-hth opened #2579 "ERROR in ./src/polyfills.ts when I run `npm start`"
Today I download an Abp template based on .net core and angular and I follow directives in [this page ](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular)step by step but when I run `npm start` I get the following error message:

[code]

[code]

What should I do to resolve this problem?

[2017-10-08 13:29] hikalkan commented on #2543
Hi @gentledepp

I'm following Orchard project for 3+ years and they are doing good job. Their goal is different. Their goal is to provide a flexible, UI focused CMS system while ABP focus on layered DDD architecture. But we have something to be learned from Orchard, yes.

##### UI mdoularity

We provided similar virtual file system for asp.net core. See Embedded Resource Files document: https://as

[2017-10-08 13:32] hikalkan commented on #2545
Repository provides CountAsync  and LongCountAsync.
I suggest you to define your own DTO class, it's easy.

[2017-10-08 13:32] #2545 closed

[2017-10-08 17:21] pagner commented on #2531
Thanks hikalkan. Can you please post the fix. I don't want to upgrade to 3.0. I am running 2.3.3

[2017-10-08 20:03] Rgl88 commented on #2552
Very simple solution:
[code]

[2017-10-09 08:05] #2549 closed

[2017-10-09 08:07] Krystian-D commented on #2558
Thank you for reply !
I'll give it a try. I believe questions is answered and we can close this issue :)

[2017-10-09 08:07] #2558 closed

[2017-10-09 09:01] gentledepp commented on #2543
Thanks for the response!
== UI modularity ==
The problem with that "embedded resource files" approach is that is is a horror during development time.
Every time you change some tiny winy asset (css, or whatever) you need to recompile that module and, thus, restart the application.
Orchard even supports hot module replacement using the Asp.Net WebPack middleware, but we would already be happy if a

[2017-10-09 09:40] gentledepp commented on #2543
well... as for my suggestion to use my "form creation stuff", there is already a way better implementation for angular 2 out there:
http://jsonforms.io
Did you already know this? It is awesome!
The only missing thing is an ABP script provider, that converts the DTOs into a JSON schema, based on their System.ComponentModel attributes (required, displayname, whatever)
That is huge win!

[2017-10-09 09:59] andmattia commented on #2493
@linachu thks save me a lot of time!

[2017-10-09 10:02] flexem commented on #2529
@ismcagdas Thanks,I will check it  tomorrow.

[2017-10-09 10:13] sebitsi commented on #2543
Hi @gentledepp.

This is AngularJS so ver 1.x not 2+. Isn't it ?

Is there Angular 4+ version too ?

[2017-10-09 11:17] gentledepp commented on #2543
jeees.. I think you're right. Bit it is an awesome approach, isn't it?
I think I saw something similar for angular 4 - will have to look. sry

[2017-10-09 11:31] sebitsi commented on #2543
@gentledepp

It will be nice if you share for angular 4 too.

[2017-10-09 11:32] gentledepp commented on #2543
well... but it seems they already made it angular-4 ready:

https://github.com/eclipsesource/jsonforms/issues/207

sample application here:
https://github.com/eclipsesource/jsonforms-angular-seed

But to be honest, I haven't had time to invesitage this any further for now.

Anyways my implementation is based on angular formly, which is also kind'a awesome and definitely has a ng2 version out there

[2017-10-09 11:50] sebitsi commented on #2543
@gentledepp
As i can see you have little experience with jsonforms. Right ?
I just take a peek into git and noticed there is no much activity lately.
Is it save to use it ?

What about formly ?

[2017-10-09 11:53] rubby1228 opened #2580 ""Assembly.LoadFile" cause AbpModule repeated."
*  Abp 3.0.0
* .Net Framework 4.6.1 or .Net Core 2.0

**exception:**

`Castle.MicroKernel.ComponentRegistrationException:“Component AbpAspNetCoreDemo.PlugIn.AbpAspNetCoreDemoPlugInModule could not be registered. There is already a component with that name. Did you want to modify the existing component instead? If not, make sure you specify a unique name.`

**Assembly.LoadFile in abp code**

When "

[2017-10-09 12:15] fretje commented on #2531
The strange thing is: I can't repeat this issue on a new application created from the template (downloaded from the aspnetboilerplate website).

I have it on a project that I manually upgraded though, and I compared every individual file and I copied all the changes.

When I am logged in, and I change the language for the first time, it works, and I see that a new settingsrecord is created in the

[2017-10-09 13:09] hikalkan commented on #2580
Seems reasonable. Let us try this. Thanks.

[2017-10-09 13:43] acjh commented on #2579
PR merged: aspnetboilerplate/module-zero-core-template#122

[2017-10-09 14:29] gentledepp commented on #2543
well, with angular formly, there hasn't been any development the last 11 months either.
However, as a hardcore user of angular formly v1, I can assure you that it is indeed a mature framework. There simply aren't any features that I could think of, except for example json schema support.

[2017-10-09 15:33] pagner commented on #2531
Fretje,
Thanks for taking the time to look in to this. Is it possible the Entity DB schema has changed in such a way that language is now broken? One of the first things I noticed after upgrading was the added migrations. Since you have already diffed all the files, the db / entity schema seems suspect.

[2017-10-09 16:40] fretje commented on #2531
I have actually added a migration after the upgrade to support the updated entity db schema. I don't think anything in the db schema changed with regards to the language system. It is using the general settings system that abp provides.

[2017-10-09 17:55] rubby1228 commented on #2580
I try to use `fp => Assembly.Load(AssemblyName.GetAssemblyName(fp))` instead of `Assembly.LoadFile`. Seems well.

[2017-10-10 05:22] zhujiancc opened #2581 "Some Quetions Of UnitOfWork"
### Use Cache In UnitOfWork

When I call service or repository function ,  the UnitOfWork is injected , so the transaction will be open ,. But if I use cache in service , if the cache is exist , the function needn't   transaction .

So , how to gracefully solve it

[2017-10-10 05:58] hikalkan commented on #2581
Please write if you are using EF Core or EF 6.x.

If you actually do not use DbContext then no database connection (dbcontext) created. So, it should not be a problem.

[2017-10-10 06:36] mediaaminian opened #2582 "my AbpDataFilters are enable but it doesn't apply on the repositories"
Actually, I set my filters in my pre-initialize method of the module:

`  Configuration.UnitOfWork.OverrideFilter(AbpDataFilters.SoftDelete, true);
   Configuration.UnitOfWork.OverrideFilter(AbpDataFilters.MayHaveTenant, false);
   Configuration.UnitOfWork.OverrideFilter(AbpDataFilters.MustHaveTenant, false);`

but, when I want to use the repositories methods, all the entities will be fetch from d

[2017-10-10 06:47] zhujiancc commented on #2581
Thanks for your answer

I use  ' ef core '

But ,I am sorry that  I don't know why it  should not be a problem  , can you tell more~~

[2017-10-10 07:17] pagner opened #2583 "Swagger proxy client breaks moment time format"
Backend has a regular DateTime

`DateTime StartTime { get; set; }`

service proxy client generates a moment.Moment Type. i.e. startTime: moment.Moment;

I am trying to post a start and end time to the backend.

The problem is when the service-proxies runs JSON.stringify on the moment object the output is messed up. It ends up looking like this "2017-10-14T17:07:00.000Z"

The hour is totally wrong.

[2017-10-10 08:12] hikalkan commented on #2581
UOW works lazy. That means if you don't use database UOW does nothing (does not create transaction or dbcontext at all).

[2017-10-10 08:15] hikalkan commented on #2582
SoftDelete is already enabled by default and it should work out of the box. Can you try to remove overridefilter lines from pre-initialize and try again (I want to see if overriding breaks it).

[2017-10-10 08:16] acjh commented on #2583
Why is the hour wrong? Note that the time is in UTC.

[2017-10-10 11:01] mediaaminian commented on #2582
I removed the overridefilter lines from pre-initialize, but i did not work . the repository still gets all the entities in a table.

[2017-10-10 11:04] hikalkan commented on #2582
It should be because of some changes you made (for instance maybe you overrided OnModelCreating method of your DbContext and missed to call base.OnModelCreating). Can you remember?

[2017-10-10 11:10] fretje commented on #2531
Finally, I found what the difference was that caused this.

Apparently, I had to add a reference to System.Net.Http version 4.3.2 in the ProjectName.Web.Core.csproj file.

Not sure why exactly, but after I added that reference (and rebuild, and clear caches, ...) the language setting for the user doesn't get added in the database anymore, and the language switching works again.

Not sure if this i

[2017-10-10 11:54] gentledepp commented on #2543
As for jsonforms - I recently had contact with the maintainer himself.

They are currently porting jsonforms to angular 2 (or whatever) on the [JsonForms 2 branch](https://github.com/eclipsesource/jsonforms/tree/jsonforms2) which has just recently been updated.

What I like about JSONForms is that they separate the UI schema from the (data) schema. They also provide a MIT licensed editor for the v

[2017-10-10 12:26] andmattia opened #2584 "Custom repository not registerd after upgrade to 3.0.0"
ABP 3.0.0
MVC+Angular

I create a custom module to use mongoDb. After update to 3.0.0 the module start but when I try to access to ImongoReposository I get an excpetion releted to IoCManger. in this module I only update the ABP module.
[code]

[2017-10-10 13:00] acjh commented on #2584
Check that you did everything here: https://stackoverflow.com/a/46485257/8601760

[2017-10-10 13:16] ismcagdas commented on #2531
@pagner can you try the same solution ?

[2017-10-10 14:45] bezveza opened #2585 "Abp ASP.NET Core SignalR support"
When Abp will add support for ASP.NET Core SignalR?

[2017-10-10 15:07] bezveza commented on #2585
I tried to integrate SignalR 2.2.2 with Abp ASP.NET Core 2.0 but no luck, it blows up on configuration.

![useabp_signalr](https://user-images.githubusercontent.com/2798444/31393978-66bddf32-addd-11e7-920d-1a73159bb51d.png)

[2017-10-10 15:16] dennisahlin opened #2586 "EmailSenderBase should use Configuration.DefaultFromDisplayName properly"
In .Net Core version when using EmailSenderBase [SendAsync](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/95b19dbce4a9785fdac1d6f5ca74fa16dd690eeb/src/Abp/Net/Mail/EmailSenderBase.cs#L24) and [Send](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/95b19dbce4a9785fdac1d6f5ca74fa16dd690eeb/src/Abp/Net/Mail/EmailSenderBase.cs#L29), the from is automatically set to Configurati

[2017-10-10 15:17] acjh commented on #2585
That's not the correct package. It's [Microsoft.AspNetCore.SignalR](https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR/) - currently `1.0.0-alpha2-final`.
Follow issue #2512.

[2017-10-10 16:01] bezveza commented on #2585
No luck, multiple issues.
Also, checked the code and seems like  ABP doesn't support ASP.NET Core SignalR yet.

Issue #2512 is announcement not a solution, documentation is for ASP.NET not ASP.NET Core

It's good if someone post an example.

[2017-10-10 16:02] pagner commented on #2583
Yes, and still the same question. How to modify the offset or format?
The moment time is correct (PST) until it hits the service-proxies JSON.stringify() which serializes it into UTC.

Stepping through the code you can see the value change in one line of code.

I think what I am going to do is send the dates up as strings and then use Automapper.ForMember(...) to resolve this. At least I think thi

[2017-10-10 20:07] pagner commented on #2583
Update:

I was able to easily resolve this by making the start time a string in my input DTO. The backend WebApi handled the string to date conversion by itself...

sent up the date as follows:
`this.start = moment($('#start-datetime-picker').val()).format("YYYY-MM-DD HH:mm:ss");`

[2017-10-10 20:07] #2583 closed

[2017-10-10 20:17] pagner commented on #2531
fretje, So is there a fix here or are we back at square 1 essentially?

One thing I noticed is that there is only three settings in my DB for the host. No other settings have been created for tenants. Is this expected behavior?

Sorry, I have been working on other areas and haven't had time to investigate this further

[2017-10-10 20:18] pagner commented on #2531
@ismcagdas Waiting for @fretje to reply

[2017-10-10 22:04] fretje commented on #2531
Well, the fix in my case is to add a "DefaultLanguage" setting for the user with a value of "null".
Which, I admit, isn't really a fix., as it would need to be done for every user.

The bug, in my opinion, is that the language setting which is saved for the user takes precedence over the value supplied in the header or the cookie. (See https://github.com/aspnetboilerplate/aspnetboilerplate/blob/de

[2017-10-10 23:10] pagner commented on #2531
@fretje What version did you upgrade *from* ?

[2017-10-11 04:11] jamesatgithub commented on #692
@hikalkan it seems only general language like "en", "zh" can be saved, but country specific language like "zh-CN" will be ignored, is this by design? (I'm using abp 2.2 now)

[2017-10-11 05:55] hikalkan commented on #692
No, you can set zh-CN. We haven't make such a restriction. After saving, please check the database.

[2017-10-11 05:59] hikalkan commented on #2586
Let us check this. Thanks.

[2017-10-11 06:01] hikalkan commented on #2585
Yes, because it's in alpha stage. We were waiting for the release, but we can consider to integrate with alpha/beta in next versions.

[2017-10-11 06:13] jamesatgithub commented on #692
@hikalkan it's weird I tired SettingsManager.ChangeUserSettingsAsync or put the abp specific language header in http request (when no default language in abpsettings for the user), both doesn't work with "zh-CN" but it works with "en" or "en-US" or "zh-cn" etc

[2017-10-11 09:51] fretje commented on #2531
The previous one... 2.5 I think...

On Oct 11, 2017 01:10, "pagner" <notifications@github.com> wrote:

[2017-10-11 12:15] bhaidar commented on #2145
@hikalkan
Hello,
Does the template now support sweetalert2 or PNotify?
If not, can I integrate one of these libs in my application (using ASPNET ZERO 4.3).

Thanks

[2017-10-11 12:35] hikalkan commented on #2145
Not changed yet. You can integrate any library by overriding js functions (like abp.message.info = ...). See https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Resources/Abp/Framework/scripts/libs/abp.sweet-alert.js for the implementation.

[2017-10-11 14:46] andmattia commented on #2584
@acjh thks for your suggestion now it works.

I register my custom repository on PreInitialize core module

[2017-10-11 14:46] #2584 closed

[2017-10-11 16:07] steve-rca opened #2588 "Missing Release.js file"
In the 3.0.0 version, missing file, Abp.Web/lib/jquery-validation/build/release.js.

[2017-10-11 16:21] Zonciu opened #2589 "Custom Interceptor doesn't work"
Abp version 3.0.0
.NET Core

I'm using MediatR to execute my request, but the custom interceptor can not be registered correctly.
Even though I implemented IApplicationService interface to TestRequestHandler and the TestInterceptor does registered, but it doesn't work.

This is my test project
[InterceptorTest.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1376378/InterceptorTes

[2017-10-11 20:22] bhaidar commented on #2145
Thanks @hikalkan
I will try to implement the SweetAlert2 this weekend. One question if possible, why the showMessage should return a $.Deferred? Do I need to stick to that or I can return a Promise for instance? (SweetAlert2 supports promises "confirm" and "dismiss" for instance).

[2017-10-12 05:37] Nokecy opened #2591 "Menu display"
If all submenus do not have permission, then the parent menu is not displayed?

[2017-10-12 05:55] acjh commented on #2591
[Yes](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/16a5eee3bf20b5f00decf9569c182026e4caa982/src/Abp/Application/Navigation/UserNavigationManager.cs#L101-L105). If you have custom requirements, you can implement and replace `IUserNavigationManager`.

[2017-10-12 05:55] flexem commented on #2571
I Have this problem too. I want to known when it will be fixed?

[2017-10-12 06:08] Nokecy commented on #2591
@acjh OK, But Why do that?

[2017-10-12 06:18] ismcagdas commented on #2591
@Nokecy can you explain your case ?

[2017-10-12 06:33] #2529 closed

[2017-10-12 07:14] ismcagdas commented on #2531
@pagner sorry for my late response. In angular 4 template, client side language is stored on the client side in a cookie, see https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/app/layout/topbar-languageswitch.component.ts#L27. So, there is no interaction with server side. Can you compare this code with your version to see if there are any difference ?

@fretje

[2017-10-12 07:33] #2586 closed

[2017-10-12 07:52] #2580 closed

[2017-10-12 08:32] flexem commented on #2529
Hi @ismcagdas ,Sorry for the late response.

I added your changed code to aspnet zero project.and then invoke the unit test for EditionAppService_Tests.Should_Update_Edition,It throws 'Abp.AbpException : Did not call Complete method of a unit of work.'

And I also find If I Change the tenant's same feature two times.it will insert two datas in the database.instead of replace the data wich already

[2017-10-12 08:37] flexem commented on #2529
By the way,The same test in abp did not throw ex.and I don't known why....

[2017-10-12 08:46] wskicfuu opened #2593 "AbpZero Oracle NoticeInfo"
Abp package version 3.0.0
.net framework 4.6.1
when update-database the exception handled:
Oracle.ManagedDataAccess.Client.OracleException
Because the column name of the table(AbpNotifications,AbpNotificationSubscriptions) is too long

[2017-10-12 08:50] hikalkan opened #2594 "Move to NHibernate 5.0"
* NHibernate seems implemented Async methods, so we will use them for Async repository methods.
* See breaking changes: https://github.com/nhibernate/nhibernate-core/releases/tag/5.0.0

[2017-10-12 09:01] chanjunweimy opened #2595 "Facing Problem when embedding file"
* Your Abp package version: 3.0.0.0
* Your base framework: .Net Core.

[EmbeddedResourceSet](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c50d75ae67b0ff7b9f62d7d86ebe5e42f3f545a6/src/Abp/Resources/Embedded/EmbeddedResourceSet.cs) has bug if the embedded file has "-"

This is because of this segment of code:
[code]

*When pathParts.Length <= 2, the code did not normalize the string,*

[2017-10-12 09:01] fretje commented on #2531
@ismcagdas  Yep, ASP.NET Core with angular 4.
The language is indeed stored on the client side, but it is also sent to the server (in the ".AspNetCore.Culture" header => this used to be the "Accept-Language" header)...
This is necessary to be able to get the translated strings, from the server right?

[2017-10-12 09:16] acjh commented on #2593
Workaround for Oracle: https://forum.aspnetboilerplate.com/viewtopic.php?p=13360#p13569

[2017-10-12 09:20] acjh commented on #2529
@flexem Check that you included `await uow.CompleteAsync();`

[2017-10-12 09:28] chanjunweimy commented on #2595
I did a workaround at [here](https://github.com/chanjunweimy/abp_plugin_with_ui/blob/master/aspnet-core/src/Todo.MainProject.Web.Host/Services/PluginEmbeddedResourceFileProvider.cs) if anyone who needs help, can take a look at there I think. Hopefully, it helps ^^

[2017-10-12 10:04] #2593 closed

[2017-10-12 10:57] ismcagdas commented on #2529
@flexem I have checked and it seems like it's working. Can you share how did you use ABP's code in your project ?

[2017-10-12 16:18] pagner commented on #2531
@ismcagdas Yes my code is the same as that. The changed language is stored correctly locally in the cookie and is even sent in the GetAll() request. Server side is not sending back the correct language/strings

This is necessary to be able to get the translated strings from the server, right?

@fretje This is what I am seeing as well.

One thing I noticed is that the pre-flight request (options re

[2017-10-12 17:45] ismcagdas commented on #2531
@pagner can you send your project to info@aspnetzero.com ? I couldn't
reproduce the problem.

12 Eki 2017 19:19 tarihinde "pagner" <notifications@github.com> yazdı:

[2017-10-12 17:55] mikemey01 commented on #899
Since ExecuteSqlCommand returns an int, is there anyway to typify the rawsql (such as Set<T>.FromSql) in a custom repository?

What I'm trying to accomplish is make a custom generic repository that executes stored procs that return back data that is mapped to entities in the DBContext. Any thoughts?

[2017-10-12 19:31] hikalkan opened #2596 "Upgrade to IdentityServer 2.0 release"

[2017-10-13 00:35] #2591 closed

[2017-10-13 04:06] natiki commented on #899
See [my post](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/899#issuecomment-218370087) as the method SqlQuery() which allows you to pass the return type. Make sure you read @hikalkan explanation of implementing ISqlExecuter as that is a nice elegant solution.

[2017-10-13 04:09] mikemey01 commented on #899
I should have specified that I'm using Entity Framework Core, which does not have the Context.Database.SqlQuery method built into it yet. I assume you're using EF6?

[2017-10-13 04:12] natiki commented on #899
@mikemey01 Yep I am still using EF6, so cannot help you sorry ;-)

[2017-10-13 04:52] ChiakiYu opened #2597 "how to use hangfire in 3.0 with core 2.x and full .net framework?"
abp version ：3.0
template：.net core 2.x and full .net framework

how to use hangfire ?

thanks!

[2017-10-13 05:11] ismcagdas commented on #2597
@ChiakiYu have you seen https://aspnetboilerplate.com/Pages/Documents/Hangfire-Integration ?

[2017-10-13 05:13] ChiakiYu commented on #2597
I know.thanks. @ismcagdas

if only use `Abp.HangFire.AspNetCore` and `Hangfire.SqlServer`
nuget will prompt the error: newtonsoft.json ... 5.0.0

This time only need to add newtonsoft.json package on it

[2017-10-13 05:13] #2597 closed

[2017-10-13 05:33] rubby1228 commented on #2580
May be `AssemblyLoadContext.Default.LoadFromAssemblyPath` is not supported  in targetframework `net461`.

[2017-10-13 05:41] ismcagdas commented on #2580
@rubby1228 you are right, it seems like it does not work. we will revert this change.

[2017-10-13 06:32] hikalkan commented on #899
@mikemey01 you can create your own repository interface (inheriting from ``IRepository<..>``) to add new methods. If you can't, plese share a sample method that you want to make available for all repositories.

[2017-10-13 07:17] hikalkan commented on #2596
Resolved with https://github.com/aspnetboilerplate/aspnetboilerplate/commit/537f03de9ac4b6a0f08c484aeb9b6c578499da97

[2017-10-13 07:17] #2596 closed

[2017-10-13 07:42] hikalkan commented on #2145
returning $.Deferred also returns a promise. Yes, you can return compatible promise.

[2017-10-13 07:55] hikalkan commented on #2588
Which template?

[2017-10-13 08:11] flexem commented on #2529
Hi @ismcagdas  ,The first problem was fixed  due to this commit #2574 (ReAdded the UnitOfWork attribute).

But the secode one is still there.

I'am using https://aspnetzero.com, and I change a feature of tenant more than one times in app/admin/tenants.
eg. three times. then I got three data in database.
![image](https://user-images.githubusercontent.com/6355005/31536404-0cdb7780-b031-11e7-82bd-db0

[2017-10-13 08:25] ismcagdas commented on #2529
@flexem we are releasing ABP now, can you update to ABP v3.1 and see if it solves second problem ?

[2017-10-13 09:38] #2579 closed

[2017-10-13 10:11] flexem commented on #2529
Hi @ismcagdas ,I checked it in v3.1,It was still there.

Here's the step:
1:Changed the "Maximum user count" three times.eg:Input the value for 102 and save, then input 1022 and save、then 10223。
![image](https://user-images.githubusercontent.com/6355005/31541466-4e59276a-b041-11e7-8af9-371f2506db32.png)
2:Queryed the data in AbpFeatures table.Here's the result:
![image](https://user-images.githubu

[2017-10-13 10:27] chanjunweimy commented on #1476
@hikalkan I have implemented the concept at [here](https://github.com/chanjunweimy/abp_plugin_with_ui). What do you think about the implementation? Is it fine? Thanks.

[2017-10-13 10:35] hikalkan commented on #1476
I will check it when I have time. Thanks.

[2017-10-13 11:30] neilgibert1234 commented on #1476
I've created a new project based on Abp and added some classes to the core project (settings).
Now depending on the user and field in the settings table i need to return a set of results either from my db (easy using the current setup) or from a rest service.
I'm guessing that i can use this module approach to do that? I'm not 100% sure where to put the logic to say get the data from the db or get

[2017-10-13 12:02] steve-rca commented on #2588
The latest, 3.0.0. Using the .Net MVC 5 selection.

• • • • • • • •

Steve Allen  Sr. Applications Developer

R E D   C I R C L E

763 300 3310 {mobile}

RedCircleAgency.com<http://redcircleagency.com/>

From: Halil İbrahim Kalkan [mailto:notifications@github.com]
Sent: Friday, October 13, 2017 2:56 AM
To: aspnetboilerplate/aspnetboilerplate <aspnetboilerplate@noreply.github.com>
Cc: Steve Allen <

[2017-10-13 12:08] bhaidar commented on #2145
Thanks. So returning a promise ensures that we can run callbacks after the alert closes or so. Correct? I'll prepare something this weekend and shared it here.

[2017-10-13 12:36] mikemey01 commented on #899
@hikalkan what I'm trying to do looks like what you have above, but making the repository generic and getting return data that matches an entity back from a stored proc:

[code]

The problem is the DBContext does not seem to have value so the UOW is throwing an error. See the full thing on stackoverflow here: https://stackoverflow.com/questions/46701718/create-generic-repository-for-returning-data

[2017-10-13 13:32] gpcaretti commented on #2375
You're right.
What about this .d.ts I use as definition file of your abp.jquery.js?
[abp.jquery.d.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1382740/abp.jquery.d.zip)

It is not the final step, but it works

[2017-10-13 13:57] ismcagdas opened #2599 "Duplicate tenant feature insert"
Following from https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2529#issuecomment-336411200

[2017-10-13 13:59] ismcagdas commented on #2529
@flexem I have created another issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2599 and fixed it. Will be released in ABP v3.1.1.

[2017-10-13 13:59] #2599 closed

[2017-10-13 14:15] hikalkan commented on #899
Extend your generic IPMStoredProcedureRepository interface from IRepository, so all methods of your repositories become UOW by default.

[2017-10-13 14:21] mikemey01 commented on #899
@hikalkan I do, unfortuantely it does not seem to accept a generic type:

[code]
Even when I provide an explicit type I end up getting an error, for instance this:

[code]
produces the error "There is already an open DataReader associated with this Command which must be closed first."

[2017-10-13 14:23] acjh commented on #899
@mikemey01 Did you see my suggestion on Stack Overflow?

[2017-10-13 14:26] hikalkan commented on #899
@mikemey01 it accepts generic types but with a constraint. See example: https://github.com/aspnetboilerplate/sample-blog-module/blob/master/src/Abp.Samples.Blog.Core/Domain/Repositories/ISampleBlogRepository.cs

[code]

[2017-10-13 14:38] mikemey01 commented on #899
@acjh - I don't think that's the right solution for this issue, something is wrong with the way I'm creating the custom repository. I'd like to keep MARS as a last resort if needed.

@hikalkan I didn't create the interface overload to accept <TEntity, TPrimaryKey>, just <TEntity> I'll give that a try and report back, thanks.

[2017-10-13 15:38] pagner commented on #2531
@ismcagdas Unfortunately I cannot. Client project.

[2017-10-13 16:06] pagner opened #2600 "Core / .Net Full / Entity 6 - Feature Request"
I downloaded the latest Core / .Net Full template (v3.2) and was sort of expecting/hoping to find Entity 6 instead of Entity Core.

Is it possible for you guys to create such a version?

Entity core; simply put, is not production ready. After playing around with it for just a couple hours, it's shortcomings quickly became apparent. Lazy-Loading, Many-to-Many (without explicit join), SQLQuery, all

[2017-10-13 18:15] fretje commented on #2531
I finally found for sure what exactly (in the code) is causing the different behaviour.

It is due to the "UiTheme" application setting that is defined in the AppSettingProvider class which is added to the Setting Providers in the AppNameCoreModule (PreInitialize).

I didn't bother to copy that code, as I'm working with another frontend theming library.

But once I created a dummy SettingDefinitio

[2017-10-13 20:04] mikemey01 commented on #899
@acjh @hikalkan thank you both for the help, I was able to get typed stored proc calls working. Here's the code:

Interface (in domain project):
[code]

Implementation (in EntityFramework project):
[code]

Then you can inject the repository like any other in the application service layer, providing the type that the Stored Proc will return:

[code]

Then to call the stored proc from the app servic

[2017-10-13 22:27] pagner commented on #2531
@fretje You found it!! Good work. To build on your finding here is what I did to fix the issue for V2.3.3.

`                new SettingDefinition(
                "Abp.Localization.DefaultLanguageName",
                "",
                scopes: SettingScopes.User,
                isVisibleToClients: true
                )`

Notice the scope is user only and the DefaultValue is empty. Any other

[2017-10-13 23:34] natiki opened #2602 "[QUESTION] Soft delete and cascade deletes...."
Hi,

* Your Abp package version: 3.0
* Your base framework: .Net Framework

I am setting up a database from scratch using EF 6.x code first and data annotations. So pretty basic:

[code]

which generates a migration of:

[code]
So all standard. Now my question is that as configured when I delete a Supplier record I will also delete the associated Person record.

What I want to know will that physi

[2017-10-13 23:56] natiki opened #2603 "Providing better first class support for Stored Procedures, Views, UDF's etc."
Hi @hikalkan ,

I would like to "re-raise" the idea of providing better first class support for other SQL constructs in the framework. And primarily what I am saying is that for any existing or moderately complex system repositories need to support something more than LINQ access the database.

They need to be able to:

- Access Views
- Execute Stored Procedures
- Execute User Defined Functions
-

[2017-10-14 00:30] acjh commented on #2602
No, that will not even delete the associated Person record. You [need](https://forum.aspnetboilerplate.com/viewtopic.php?p=23473#p23473) to cascade soft deletes yourself.

Define an [event handler](https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#DocHandleEvents):

[code]

[2017-10-14 00:38] acjh commented on #899
That was what I suggested earlier:

[2017-10-14 01:39] natiki commented on #2602
Thanks for that @acjh

[2017-10-14 01:39] #2602 closed

[2017-10-14 01:48] natiki opened #2604 "[Q] FullAuditEntity and times in UTC..."
Hi,

I realise I can get the UTC time back as I need them via the [clock abstraction](https://aspnetboilerplate.com/Pages/Documents/Timing?searchKey=utc#DocBindersAndConverters).

I am using FullAuditEntity with SQL Server and Entity Framework (data annotations and code first) and want to guarantee that all times are stored as UTC all the time? Is this the default behaviour or how do I make it the

[2017-10-14 01:57] flexem commented on #2529
Hi @ismcagdas ,I have checked it with v3.1.1, it works now.Thank you very much,

[2017-10-14 02:04] acjh commented on #2604
Why is it still not clear?

[2017-10-14 03:50] natiki commented on #2604
Yes but I want to STORE them as UTC **all the time** and RETRIEVE them as LocalTime. And toggling Clock.Provider seems to indicate that it changes **both** storage and retrieval.

[2017-10-14 03:58] acjh commented on #2604
You can't store as UTC and retrieve as local time, as the provider doesn't know what it was stored as.
You should not toggle `Clock.Provider` - use a consistent provider.

Use `TimeZoneInfo.ConvertTime(DateTime, TimeZoneInfo, TimeZoneInfo)` or convert it on client side.

[2017-10-14 05:41] hjkl950217 commented on #2411
Later found also need to modify the JS file,in old ABP,only change CS code`s configured。thanks Reply

[2017-10-14 06:14] natiki commented on #2604
Sorry I don't understand what you mean here?

[2017-10-14 09:59] fretje commented on #2531
@pagner Both persistence and ocd played a role I guess :)

Still not sure what the actual issue is here... I think in your version it's not exactly the same as what's happening in the last version, but there's definitely something similarly fishy going on...

The SettingDefinition is there already in your version (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/v2.3.0/src/Abp/Localizat

[2017-10-14 17:09] andmattia opened #2605 "Init Feauture from Plugin/Module"
Abp MVC 3.0.0

I have some Module/Plugin with specific feauture. So now when create a new tenanat I need to call the class to create the new role, o custom feauture but when (and how) can call this method.

Abp.Core create a tenant but it don't know that a feauture need some operation (es. add new roles). Now I found a work around using seed on EF but if user register a new tenant seed not be call

[2017-10-14 17:54] acjh commented on #2604
Retrieve `DateTime` as UTC and convert from one `TimeZoneInfo` to another `TimeZoneInfo`.

[2017-10-14 19:10] hikalkan commented on #2605
2 alternatives:

1. Override CreateAsync method in TenantManager.
2. Use domain events. ABP triggers entity creation events so you can register them and apply your additional logic. See doc: https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#entity-changes

[2017-10-14 19:14] #2411 closed

[2017-10-14 19:19] hikalkan commented on #2603
For "Extend the base repository", I think it would be good to provide a more detailed official document.

For SP, User-Defined Functions and Views, we don't want to add it to the framework since these are very DBMS specific stuff. I haven't thought much on to generalize them.

[2017-10-14 21:29] pagner commented on #2531
@fretje Thanks again for all your help and work looking into the problem! It wasn't an easy one that's for sure. Without actually taking the time to include the abp project in the solution rather than importing the dll, it's sort of a black box. I was going to do just that since I am sticking with EF 6 for now, but you saved me the time. Without question, others will benefit.

[2017-10-15 01:32] natiki commented on #2603
Are you going to provide the official document or is that something you are looking at me to do?

As the framework supplies a repository, uow and specification I would have thought they were pretty core to what the framework does?

[2017-10-15 07:01] natiki commented on #2604
I can do that... @hikalkan any input?

[2017-10-15 10:42] brunobertechini commented on #1476
Hello guys, I have created a initiative project using Abp (aspnetboilerplate) only with one custom module for now.

The backend is separate from main app. I didn't work on frontend modularization yet.

This is a start project and several things still need to be done.

I believe you guys can dive in and popup issues if needed and new tasks will arrive so we can better approach this.

The concept I

[2017-10-15 10:45] brunobertechini commented on #2467
Please keep in mind that modularization does not mean deployed to different endpoints.

IF you separate your "Services"( as in Soa Done Right or Microservices) you often end up with several services being deployed side by side to a single endpoint (like a Web application or windows service for example).

On the frontend (angular) you need some sort of Branding and ITOps Service to achieve this lev

[2017-10-15 10:53] ismcagdas commented on #2604
@natiki as @acjh pointed out, ABP only supports one type of clock provider at a time.
When you use UtcClockProvider, all dates will be retrieved as UTC. Actually, since all dates are stored as UTC, we only set Kind property of date fields while retrieving data from database.

Some complex linq queries and raw sql queries (SP, View etc) might not be handled.

So, in your case, if you want to conver

[2017-10-15 11:01] ismcagdas commented on #2531
@fretje thanks a lot for the detailed explanation, I will take a look at it in a short time.

[2017-10-15 11:04] ismcagdas commented on #2529
@flexem great 😄

[2017-10-15 11:04] brunobertechini commented on #1476
@chanjunweimy  i would add to your comment that my initial goal is not create plugins. But rather independent services that communicate to each other using async patterns. This apply to backend and frontend. The service must be vertical (own its data from top html down to database).

Thats the definition of "autonomous service". My focus is on large applications using SOA Principles.

[2017-10-15 11:11] brunobertechini commented on #1476
@neilgibert1234

Now depending on the user and field in the settings table i need to return a set of results either from my db (easy using the current setup) or from a rest service.
I'm guessing that i can use this module approach to do that? I'm not 100% sure where to put the logic to say get the data from the db or get the data from the restful service (wrapped up in another module).

Please kee

[2017-10-15 14:12] andmattia commented on #2605
@hikalkan thks for suggestion. So TenantManager is on abp 1st module and feauture that I need to implement is in the plugin/module that depend on 1st module. If I understood your idea I need to add an Event Tenant Created on the module and create / add data on it?

I try to add an Changed Event handler but it never rise. My plugin has own DbContext.

I try to implemet a common class from main core

[2017-10-15 15:25] acjh commented on #2605
Define an event handler like this:

[code]

[2017-10-15 19:11] hikalkan commented on #2603
@natiki we haven't done a plan for that yet. I have just written my first thoughts. For the "Extend the base repository", it's already built-in and we just should write some documentation. But for the second one we should investigate, analyse, develop and document something and we haven't planned that or thought on that. If you are asking "when", then I don't know :) If you or someone do something

[2017-10-15 19:16] hikalkan commented on #2600
We don't have a plan to support EF 6 in .net core templates. EF Core has missings, but it's no that bad. We delayed to move EF Core at the beginning but folks said "it's enough, you should go EF Core". So, it's hard to make everyone happy :).

For us, it's hard to maintain different versions of different startup templates (there are many templates even now).

If anyone want to create a ``Abp.ZeroC

[2017-10-15 21:40] gnomishgizmo commented on #2562
Hi Team,
I'm getting the same error, but mainly when I deploy to GitHub and get Azure to build. Builds perfectly in VS2107, but errors on pretty much every core object.

Any thoughts?

[2017-10-15 21:56] bhaidar opened #2606 "TimeZoneConverter Inaccurate on boundary values"
Hello,

I am facing an inaccuracy when it comes to using TimeZoneConverter when exporting to Excel.

The dates are stored in Db as UTC (2017-10-16 21:00:00 which corresponds to 2017-10-17 00:00:00). The application is configured with my local TimeZone (Beirut + 3 GMT). All dates I send to the server are in the form of 17/10/2017T00:00:00 local time zone, hence you notice the 21:00:00 stored in the

[2017-10-16 03:40] ryancyq commented on #2606
Hi @bhaidar, did you check if you application has `TimingSettingNames.TimeZone` set in the db? `Abp.TimeZoneConverter` uses that particular setting to perform conversion

[2017-10-16 08:48] bhaidar commented on #2606
@ryancyq cc: @ismcagdas

I am using Primeng Calendar control with utc="false" (default)
The Timezone set to GTB (European/Bucharest) which is GMT + 3.
This is the Timezone set in the Db also.

The basis of this issue was based on a special case. I will get back to it down.

For now, when I select a date from the client, I send it to the server, save it. Then load it again in the Calendar on the cl

[2017-10-16 11:33] ryancyq commented on #2606
Hi @bhaidar,

Base on your snapshot, the moment object seems to be constructed using Utc method, see [momentjs#utc](https://momentjs.com/docs/#/parsing/utc/).
Can you provide the datetime value in the ajax response? It could just coincidentally that the date is formatted as GTB if you browser and server are in the same timezone.

Can you try using `TimeZoneInfo.ConvertTime(DateTime, TimeZoneInfo,

[2017-10-16 12:26] bhaidar commented on #2606
Can you provide the datetime value in the ajax response? It could just coincidentally that the date is formatted as GTB if you browser and server are in the same timezone.

The date returned I can grab it from the browser Dev tools is: "1980-10-20T21:00:00Z"

Same result. As if both are converting to local timezone instead of the one configured for the app.

How can i get this value amUtcOffset:'+

[2017-10-16 13:09] andmattia commented on #2605
@acjh thanks for suggestion I solve my problem in this way
in TenantAppService
[code]
I define my event
[code]
in Plugin/Custom module

[code]

In this way when user change feauture on tenant I can set necessary role o other static function

[2017-10-16 13:36] bhaidar commented on #2606
Additional info.
I've printed out the abp.timing.timezoneInfo object:

![image](https://user-images.githubusercontent.com/1163421/31614729-1458f08a-b290-11e7-9f22-eab19ac2a72e.png)

Is that correct? Seems there are two time zones. The server side is using Windows and client side is using Iana.

Thanks

[2017-10-16 14:29] bhaidar commented on #2606
Now, I made use of the below method to set the value for a property of type Moment on one of the objects I am sending to the server.

This means I am using IANA to convert the DateTime to a user's timezone DateTime.

In the browser, I noticed the value sent to the server is:
"1980-10-22T21:00:00.000Z"

Meaning that the server will not touch the date since it is already UTC ('Z'), it will only set

[2017-10-16 16:02] bhaidar commented on #2606
Things are getting broken again!
Whatever time zone I choose, the dates are always sent to the server based on the local machine time zone.

I select a date like "22/10/2000 00:00:00" it gets converted to "21/10/2000T21:00:00:00Z".

That's how I grab and set the data:
[code]

Also, when I retrieve a date from server it comes as Utc. How would I convert the Utc to a Date property on the form taking

[2017-10-16 16:07] kukubadze commented on #2321
Got same problem. The problem with controllers with AbpMvcAuthorize attribute, application services have no same problem.. Any idea how to fix?

[2017-10-16 19:45] ismcagdas commented on #2606
Hi @bhaidar ,

`Whatever time zone I choose, the dates are always sent to the server based on the local machine time zone.`

I read your post on AspNet Zero repository but with this sentence I think I understand it better.
If you want to save correct Utc dates to database, you need to send date values from client to server in the correct format. For example "1980-10-22T21:00:00.000Z".

Can you sha

[2017-10-16 19:56] bhaidar commented on #2606
Things are getting confused in here.

I set the time zone for the app to be for example "Abu Dhabi" which is UTC
+ 4.

Now, on the client-side, I use a Primeng Calendar. I grab the Date from the
Calendar and set it on a property of an object (all date properties are of
type Moment btw). Using Chrome dev tools, I can see that the date is sent
to the server with the Z at the end i.e. converted to UT

[2017-10-16 20:01] ismcagdas commented on #2606
You should handle client side formatting of date to UTC. I assume prime ng datepicker does not use moment. A correct date value for a ajax request would be "2017-10-16T23:00:00.000Z" which is in UTC timezone.

[2017-10-16 21:44] bhaidar commented on #2606
Hi @ismcagdas
How to convert a date selected from a Calendar, convert it into a moment with timezone and the to Utc. Is it something like?

[code]

Or is it something else?

Thanks

[2017-10-17 05:32] ismcagdas commented on #2606
@bhaidar you can do it like this:
`abp.timing.convertToUserTimezone('2017-10-17T00:00:00Z').format()`

But the problem here is, primeng calendar does not give you the date value you want.

You should ask this to primeng team. We haven't used their calendar with timezone support.

[2017-10-17 06:08] bhaidar commented on #2606
Hello Ismail

Using the. Format() converts to correct timezone but in string format. I
need to set this value on an object level to send to server. All date
properties on dtos are of type Moment. You see the point!?

On 17 Oct 2017 8:32 am, "İsmail ÇAĞDAŞ" <notifications@github.com> wrote:

[2017-10-17 06:31] Barclay-Xu opened #2607 "Json DateFormat about ABP Core"
How to format date field about ABP Core Web Api Json response？Now the date json fromat is “2017-10-17T11:23:32.123Z”, but I need the format is "2017-10-17 11:23:32".

[2017-10-17 07:28] zhujiancc opened #2608 "Abp Feature Quetions"
### Environment :  .net core 2.0   ,  angular

### Problem :
* Use feature attribute in service
![image](https://user-images.githubusercontent.com/19665595/31651543-ba014db6-b34e-11e7-8ea9-5d3f4d31ac4a.png)

* Check the feature of  Standard Edition
![image](https://user-images.githubusercontent.com/19665595/31651680-2f625118-b34f-11e7-91b0-91d9c5db9b5a.png)

* Login with Host Admin  And Tenant Adm

[2017-10-17 07:54] hikalkan commented on #2607
ABP does nothing about that format. So, this is a common AspNet Core issue, you can search on the web for "how to change format of asp.net core json datetime result" or something like that.

[2017-10-17 07:54] #2607 closed

[2017-10-17 08:06] ismcagdas opened #2609 "Data filters are not correctly applied in Entity Framework Core"
When generating lambda expressions for data filters, currently, all data is retrieved for first data filter and then result set is filtered according to other data filters.

[2017-10-17 08:08] hikalkan commented on #2609
This is a very critical performance issue for multi-tenant applications since it filter tenants in-memory. So, everybody should upgrade ABP version once we release bugfix for this issue.

[2017-10-17 08:11] hikalkan commented on #2608
Feature system is not for host side. You should not use it for host side controllers/actions.
Feature system is to authorize tenants for application features.

[2017-10-17 08:13] #2605 closed

[2017-10-17 08:16] hikalkan commented on #2562
Does Azure support .netcore 2.0?

[2017-10-17 08:38] #2609 closed

[2017-10-17 09:00] bhaidar commented on #2562
According to this link, it does:

https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/

[code]

[2017-10-18 04:35] kibria06cse commented on #1101
I have enabled multi tenancy in my project and also able to login via sub domain. But after enabling sub domain, I am not able to login without subdomain, no tenant selection option if I try to login with only localhost without subdomain. My appsettings.json file in Web.MVC is like:

[2017-10-18 04:54] acjh commented on #1101
@kibria06cse That's unrelated to this issue. Please open a new issue in [module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template/issues) or [module-zero-template](https://github.com/aspnetboilerplate/module-zero-template/issues) (MVC 5.x) after checking that your [`Account/_Layout.cshtml`](https://github.com/aspnetboilerplate/module-zero-core-template/blob/0380faf

[2017-10-18 05:45] pedoc commented on #2494
thanks for hikalkan,option 2 fixed this problem.use option 2 replace assemblyBinding section in web.config,it's work

[2017-10-18 05:57] pedoc opened #2611 "Could not find the file "c:\windows\system32\inetsrv\log4net.config"."
@hikalkan hi,
abp:3.1.2
framework:.net framework 4.6.1
os:windows 10 1709

when I upgraded abp from v2.3 to v3.1.2,this code not work in v3.1.2:
[code]
but in the v2.3 of the work fine.

exception detail:
[code]

[2017-10-18 06:03] hikalkan commented on #2611
Try to use ``Server.Mappath("log4net.config")``

[2017-10-18 06:20] pedoc commented on #2611
@hikalkan thank you for your suggestion,I am currently using a similar method to fix it temporarily,just think this is not as simple as before.
[code]

[2017-10-18 06:39] hikalkan commented on #2611
I suppose this is a change related to .net framework. Because we haven't made any change, just updated to netstandard 2.0 and that happened.

[2017-10-18 06:39] #2611 closed

[2017-10-18 07:29] zhujiancc opened #2612 "Feature Problem Of Angular"
### Environment : .net core 2.0 , angular

### Problem:

[2017-10-18 07:38] #2612 closed

[2017-10-18 13:59] Arthur-Z opened #2613 "Download ABP Template,use VS2015 can not compile through"
https://aspnetboilerplate.com/Templates  download ASP.NET MVC 5.x ,checked Zero module and Latest stable
1.Use VS2015 to open
2.NuGet Restore
3.Regenerate XXX.Web
`Error CS0012 The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.`
I try to upgrade nuget and  install

[2017-10-18 16:25] andmattia opened #2614 "Support for Windows IoT / UAP"
Hi

try to install ABP on IOT project but is not possible to do that beacuse a lot of reference (IocManger for example) not work on IoT.

Any one have same needs?

[2017-10-18 19:46] bhaidar opened #2615 "Documentation: Enrich the documentation with a sample custom module"
Hello,
It would be great if you guys have time to enrich the documentation with a sample custom module just to show an example how would a new custom module look like, what code it can contain, to which DDD layer it belongs, etc.

Something that is different from AppService, Code, Web.Core, etc.

Thank you
Bilal H.

[2017-10-19 05:58] Ivangrasp opened #2616 "X-XSRF-TOKEN header causing issues with cross domain requests"
* **Abp package version**: 2.3.0
* **Your base framework: .Net Framework** 4.6.1
* **Exception message and stack trace:**
`Request header field X-XSRF-TOKEN is not allowed by Access-Control-Allow-Headers in preflight response.
`
* **Steps needed to reproduce the problem.**
Do any ajax request to a cdn. Sadly I was only able to test cdn urls as I couldn't think or access any cross domain api.
[code

[2017-10-19 12:32] fengyeju commented on #2613
.NET Core 2.x  need Visual Studio 2017 15.3 (26730.01)  or higher

[2017-10-20 03:01] chanjunweimy commented on #2595
Other than that, I also realized that since

[code]

Embedded file would have problem with getting the correct name if the embedded file has more than one "." in the name, for example: app.component.ts.

Currently, my workaround is to create another file info and a EmbeddedResourceItem "Wrapper" to allow myself to define correct file name in the file info, see: https://github.com/chanjunweimy/abp_

[2017-10-20 03:05] ryancyq commented on #2616
Hi @Ivangrasp, I would suggest using [$.get()](https://api.jquery.com/jquery.get/) instead.

[2017-10-20 05:25] natiki opened #2617 "Documentation: More examples with IRepository.GetAllIncluding()"
Hi,

This does not appear to be documented at all as far as I can see on https://aspnetboilerplate.com/Pages/Documents/Repositories?

Having had a few goes at using it I have yet to get it to work :-(. So clearly I am missing something.

[2017-10-20 06:01] acjh commented on #2617
It's simple enough:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/530e90600a3ff6489103286648340ce08f65b9a0/test/Abp.EntityFrameworkCore.Tests/Tests/Repository_Tests.cs#L84

[`GetAllIncluding`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/530e90600a3ff6489103286648340ce08f65b9a0/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityA

[2017-10-20 06:49] Worthy7 commented on #2572
I'm reopening this, because I have hit a situation where rebooting the database isn't helping. It is simply stuck, and it is only happening when a migration is needed.

[2017-10-20 06:56] acjh commented on #2572
Did you try my suggestion? https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2572#issuecomment-334678129

[2017-10-20 07:35] Worthy7 commented on #2572
It doesn't matter, because i can't even reach a breakpoint in there.
Seeding only happens after migration, and I cannot migrate. Sorry to be confusing, I think that code was related to my issue with IsolationScope.

Current breaking point looks like this, and i can barely debug any of the files.

[code]

[2017-10-20 08:47] Worthy7 commented on #2572
Since manual migrations through the PMC ALWAYS work, I can only really point the finger at whatever is the startup of App. Migrations work, which implies that EF and the oracle driver are not at fault here.
More tests next Monday - stay tuned.

[2017-10-20 09:06] acjh commented on #2572
Is this intended?

[code]

[2017-10-20 10:19] Worthy7 commented on #2572
What do you mean? It is where in code the error is thrown (at least in local code), but everything above that is deeper code that I don't have the source to.

[2017-10-20 11:19] acjh commented on #2572
Is `name=MyProjectContext` a valid connection string?

[2017-10-20 16:21] bhaidar opened #2618 "HangFire Tables were not created using Migrator"
Hi,
I pushed today my application's DB to Windows Azure using Migrator App.
The HangFire tables were not created and I got some exceptions.

It that the normal behavior? If yes, I went to HangFire on GitHub and downloaded their script and ran it on the DB on Azure. Is that ok, or I am missing something in here?

https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.SqlServer/Install.sql

[2017-10-20 23:17] marcrib opened #2619 "Azure Blob Storage"
Currently it is saved to a table in the table called BinaryObject
Storing many files on a database is expensive

[2017-10-21 05:20] Worthy7 commented on #2572
Well, yea, it's referencing a string in my config

[2017-10-21 05:56] acjh commented on #2572
Can you show your config?

[2017-10-21 15:47] guilmori opened #2620 "Execute logic right after user logged in"
We need to integrate with a third party web application. They provide an endpoint to generate tokens that are then used to access their APIs and pages.
We want to call their generate tokens endpoint right after a Login in our app.

I thought of raising an event in the AccountController, right after the SignInAsync() has completed.
The event is raised and received by my handler ok. However, if I in

[2017-10-21 18:19] sebitsi opened #2621 "Non transaction step inside unit of work"
Hi.

Is it possible to implement non transaction step inside uow ?

Let say we have ApplicationService's method like that:

- load some data from DB
- create XML request for calling SOAP service
- log that XML request to DB
- execute call to SOAP service with in 2nd step generated XML
- log response from SOAP service to DB
- Set some status to DB
Steps 1, 4 and 6 should be transactional. Steps 3 a

[2017-10-22 00:34] acjh commented on #2621
Yes, set `IsTransactional = false`.

No, require a new `Scope = TransactionScopeOption.RequiresNew`.
You need `IsolationLevel = IsolationLevel.ReadUncommitted` to access the data from previous steps.

Like [this](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c7cc393844b95b8dab3f73b48229c7c6583c7f87/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L1225-L1240):

[code]

[2017-10-22 01:56] acjh commented on #2620
Pass `loginResult.User.Id` in your event data.

[2017-10-22 12:30] dreling8 opened #2622 "vs2017 open project issue"
use vs2017 open project,many alarm like
Consider using app.config to map the assembly xxx from version XXX to version XXX to resolve conflicts and eliminate warnings.
How to solve it?

[http://images.cnblogs.com/cnblogs_com/dreling/487414/o_TIM%E5%9B%BE%E7%89%8720171022202315.png](url)

[2017-10-22 12:31] hikalkan commented on #2622
Use latest VS 2017 upgrade, install .net core 2.0. This is a common problem of VS2017, not related to ABP templates.

[2017-10-22 12:35] hikalkan commented on #2620
Just after user login, you can not reach to AbpSession.UserId in the same request, because AspNet MVC does not set user to HttpContext.User yet. You obtain UserId on login and pass it to your event as @acjh said.

For client side, return UserId from login ajax call, so you will have UserId that can be directly used.

[2017-10-22 13:36] guilmori commented on #2620
On server side, I could pass the UserId as parameter, but then my handler could make use of other components that depends on AbpSession, so this is not reliable enough.

On the client side, I want to execute code only after a login, where should I hook my code ?
My Login form dates of old ABP version, it is a simple razor view that submits the form to the Account Controller, then the Account contr

[2017-10-22 15:21] hikalkan commented on #2620
AbpSession has ``Use`` method where you can override AbpSession.UserId and AbpSession.TenantId for a limited scope. Example:

[code]

[2017-10-22 15:22] hikalkan commented on #2620
For client side, I suggest you to seperate login from other actions. That means you refresh page after login so after refreshing you will see that user has logged in (abp.session.userId has a value) in the client side.

[2017-10-22 15:31] hikalkan commented on #2619
You can always replace ``IBinaryObjectManager`` with your own implementation. Example implementation that stores to file system: https://gist.github.com/hikalkan/9ef8bb64acdfae42f486857013cca333

[2017-10-22 15:31] #2619 closed

[2017-10-22 15:37] hikalkan commented on #2618
@bhaidar this is a hangfire question actually. We don't provide support for hangfire. If it works, then it's OK.

[2017-10-22 15:37] #2618 closed

[2017-10-22 16:43] bhaidar commented on #2618
I asked about that because I'm using Abp. HamgFire so I thought it could be
related to this integration.

On 22 Oct 2017 6:38 pm, "Halil İbrahim Kalkan" <notifications@github.com>
wrote:

[2017-10-22 19:13] guilmori commented on #2620
I had tried the `Use` method, but it ended in a not implemented exception. I will try again with more recent ABP version.

For client side, i may not understand you correctly. I want to execute my code only right after a login. So I don't want my code to execute when for example the user refresh the browser page, and is already logged in.

[2017-10-22 20:25] hamidnabati opened #2623 "Abp SignalR JWT Authentication"
Hi,
Im using ABP version 3.1.2 under .net core version 2, I've integrated my project with SignalR and its working smoothly.
My authentication method is based on JWT,  I`m trying to develop JWT authorization layer for accessing SignalR Hubs too.  According to [this](http://infozone.se/en/authenticate-against-signalr-2/) article I've done everything but its not working though.
I'm wondering how is i

[2017-10-23 00:07] Worthy7 commented on #2572
You mean my entire web.config?

[2017-10-23 00:12] Worthy7 commented on #2572
`<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.

[2017-10-23 00:34] acjh commented on #2572
Can you try `"MyProjectContext"` without `name=` in:

[code]

[2017-10-23 02:53] iarif20 opened #2624 "Transaction is not rolled back when using SqlConnection and ExecuteSqlCommand"
Hi Kalkan,

Abp 3.1.2
Entity Framework 6.1.3
.NetFramwork 4.6.1

I am having an issue with the Abp unit of work mechanism. It seems the transactions are not automatically rolled back when there is a failure in the the application service method. This happens when I have a function that does 3 database inserts and all in a different way.

a) Uses _taskRepository.Insert() to insert a task A.

b) Use

[2017-10-23 03:22] acjh commented on #2624
So does the error occur in Task B or Step 3? Also, please use consistent terminology.

The transaction is not rolled back because you `catch (Exception ex)` without `throw`ing it back up the chain.

[2017-10-23 04:03] Worthy7 commented on #2572
Same.

[2017-10-23 05:23] iarif20 commented on #2624
The error occurs in Step2() and Step3() and I can't explicitly call transaction rollback since it is Abp boilerplate initiating and controlling the transaction.

[2017-10-23 05:42] acjh commented on #2624
Try to inject `IUnitOfWorkManager` and call `_unitOfWorkManager.Current.Dispose()` to rollback.

[2017-10-23 08:43] hikalkan commented on #2623
Hi,

There is nothing unique to ABP here. We are using standard auth infrastructure of Microsoft.

We made it working for AspNet Zero (aspnetzero.com). I'm sharing related code parts here:

Adding signalr middleware

[code]

Configure auth middleware to resolve token from query string

[code]

Helper in Typescript to send authentication token from query string:

[code]

In brief, we sent token in

[2017-10-23 08:56] ryancyq opened #2626 "Duplicated code in AbpZeroHostDbContext"
Abp 3.1.2 .Net Core

Hi @hikalkan

It seems that there is code duplication at [AbpZeroHostDbContext](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore.EntityFrameworkCore/Zero/EntityFrameworkCore/AbpZeroHostDbContext.cs#L73).

Is it meant for `TUser` or `TRole` or completely redundant?

[2017-10-23 09:11] sebitsi commented on #2621
Hi @acjh

Your suggestion Works perfect. Thanks.

You suggested using RequiresNew.
What about Supress option ?

As i can see in profiler it wors same. What is difference ?

Regards.

[2017-10-23 10:39] hikalkan commented on #2621
see https://msdn.microsoft.com/en-us/library/system.transactions.transactionscopeoption(v=vs.110).aspx

[2017-10-23 10:40] #2621 closed

[2017-10-23 10:45] sebitsi commented on #2621
@hikalkan thanks for your response.

I know that documentation.
In context of @acjh answere using Suppres is basicaly same.
Right ?

[2017-10-23 10:56] sebitsi opened #2627 "DBContext options not registered"
Hi,

I try to manualy resolve MyDbContext inside aplication service.

`IocManager.Instance.Resolve<MyDbContext>();`

In resolving process i got "DbContextOptions was not registered" error.

I follow all steps in [documentation](https://aspnetboilerplate.com/Pages/Documents/Entity-Framework-Core). DbContext is registered in module (preInitialize method):

`Configuration.Modules.AbpEfCore().AddDBCon

[2017-10-23 11:02] hamidnabati commented on #2623
Thank you @hikalkan for helping me so fast, i guess my problem is at my middleware which it doesn't inlcude any method for resolving auth tokens from query strings.

[2017-10-23 11:03] #2623 closed

[2017-10-23 11:06] acjh commented on #2621
@sebitsi Here's how I interpret it:

If you only perform one action in the scope, then both are the same.
There is a difference if you perform two actions inside and the second throws.
If `RequiresNew`, the first one rolls back. If `Suppress`, the first one is persistent.

---
@hikalkan I see that `IsTransactional` belongs to `UnitOfWork` and its options.

These seem consistent:
`IsTransactional =

[2017-10-23 11:12] sebitsi commented on #2621
@acjh
That's exactly i try to find out, but i didn't ask :(
Thanks you write it down.

[2017-10-23 11:27] jandic opened #2628 "Nuget package Abp.Web.Resources has dependency on .NET Standard 1.1"
Your Abp package version: 3.1.2
Your base framework: .Net Framework 4.6.1

Abp.Web.Resources has a dependency on .NET Standard 1.1 rather than 2.0 forcing me to install NETStandard.Library package and other dependencies. That should not be required, I presume dependency is just specified incorrectly. Can that be fixed?

Thanks,
Pavel

[2017-10-23 12:19] hikalkan commented on #2628
Abp.Web.Resources is actually is not used by .net core applications. We may make it .net 4x instead of netstandard.

[2017-10-23 12:26] acjh commented on #2627
In application service, you can get it like this:

[code]

[2017-10-23 17:20] bsfx opened #2629 "High memory usage"
Hello,

we are using Abp ver. 1.5.1 with module zero (.NET core) and we are having problems with high memory usage of application deployed on IIS. For each new request RAM memory gets higher and higher, it seems that GC doesn't release memory. We have analyzed with memory profiler and here is the list of objects with most memory:
https://ibb.co/fGw7D6

As you can see all of the biggest objects kee

[2017-10-23 17:31] fretje commented on #2531
I'm terribly sorry, but the difference in behavior wasn't due to the application setting after all... at least not for me, as it seems to work for pagner.

It was because I was postponing the UseAbpRequestLocalization in my startup class until after authentication middleware as suggested in the [documentation](https://aspnetboilerplate.com/Pages/Documents/Localization):

        public void Config

[2017-10-23 18:00] acjh commented on #2629
ABP [v1.5.1](https://www.nuget.org/packages/Abp/1.5.1) doesn't support .NET Core though? Anyway, this was reported in #1702 and [fixed in v2.0.0](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1702#issuecomment-292776063).

[2017-10-23 19:51] sebitsi commented on #2627
Hi @acjh .

Thanks. Your suggestion work. Partly.
If i use it in AppService construction method i got error that uowManager is not configured.

But sorry. I still don't understand why simple `IocManager.Instance.Resolve<MyDbContext>();`
not working.

I want to understand how dbcontext instantiation works.

[2017-10-23 22:51] iarif20 commented on #2624
Hi Aaron,

Tried the injection but the _unitOfWorkManager.Current.Dispose() call is not available.

As per the documentation on the Abp I was thinking the rollback to happen automatically in case of exception. Below is what the document says.

"ASP.NET Boilerplate opens a database connection (it may not be opened immediately, but opened in first database usage, based on ORM provider implementation

[2017-10-24 01:10] acjh commented on #2624
Please read:

You are still within the unit of work. You can begin a `UnitOfWork` with `RequiresNew` in `try` block.

[2017-10-24 05:43] #2628 closed

[2017-10-24 08:12] alirizaadiyahsi commented on #2451
@ahmedhassieb, is there any news on this?

Did you see the latest comment of @hikalkan?

[2017-10-24 09:40] maliming opened #2631 "SoftDelete strange situation"
Abp 2.3.0.0
EF 6.1.3

Two entities are inherited from `ISoftDelete` interfaces, one-to-many relationship.

[code]

We want to add an attachment and then soft delete the entity.

But the result is: the entity is soft deleted while the attachment is not successfully added, if the entity has previously attached the attachment will be soft deleted.

@hikalkan why is it like this?

[2017-10-24 10:38] ryancyq commented on #2631
Hi @maliming , it seems to be correct base on EF Code-First convention, see [Cascade Delete](https://msdn.microsoft.com/en-us/library/jj591620(v=vs.113).aspx#Anchor_5)

[2017-10-24 12:47] maliming commented on #2631
@ryancyq You are right! Now i do like that:

[code]

[2017-10-24 12:57] alirizaadiyahsi commented on #2589
Hi @Zonciu,

MediatR should create with dependency injection to work interceptor.

[2017-10-24 13:02] alirizaadiyahsi commented on #2588
Hi @steve-rca,

Are you getting error? If yes, when are you getting?

[2017-10-24 13:14] NuelNikhil opened #2633 "Low Performance while using ABP template"
Hi There,

I am using ABP template to create my Multi Tenant Multi DB application with MVC (not using angular/web api). It's performance is very bad, for loading a simple page it takes 6 to 9 seconds. What will be the reason for that? and how can I improve the performance?. I am directly using repositories in application service classes (which inherits from MyProjectAppServiceBase : ApplicationSer

[2017-10-24 14:22] alirizaadiyahsi commented on #2633
Hi @NuelNikhil,

First, 6-9 seconds is not normal. But It may not related with ABP template (We have not encountered such an error before). There are a lot of reason of low performance (Database, DNS, Firewall, Network Connectivity, Servers, etc...).

To understand why your application is slow, we need to know some concrete data.

No, it is not.

This is not related with only ABP, this is a genara

[2017-10-24 16:56] hikalkan commented on #2631
When you delete an entity, ABP reloads it from database (this is the safest way to reset an entity's state), sets IsDeleted = true (and audit properties) and saves again.

It's not expected to change a property of an entity before delete it. Soft delete should be thought as a real delete.

In brief, it's by design.

[2017-10-24 16:56] #2631 closed

[2017-10-24 16:58] #2626 closed

[2017-10-24 17:10] kyurthich opened #2634 "Abp.UI.UserFriendlyException: 'Role name Admin is already taken.'"
I seem to have an issue when creating a new Tenant.

It is like it isn't using tenant ID to create a role.

![image](https://user-images.githubusercontent.com/3331097/31957345-7a8babae-b8bc-11e7-9902-ed7fddec8c5e.png)

![image](https://user-images.githubusercontent.com/3331097/31957367-8b35d952-b8bc-11e7-9c91-c1db3ac0e0b9.png)

[2017-10-24 17:22] #2594 closed

[2017-10-25 03:08] KennyEng12 commented on #2026
Hi @hikalkan @wakuflair

I'm using a custom repository now and I have a few questions to it.
Which is, as @wakuflair mentioned about

so should I implement the joining LINQ in application layer, domain manager or custom repo? Which is the best practice to do it and why?

Is it the good practice to inherit a repo to a custom repo?

[2017-10-25 03:56] KennyEng12 commented on #2026
Hi @hikalkan @wakuflair

I'm using a custom repository now and I have a few questions to it.
Which is, as @wakuflair mentioned about

1. So should I implement the join LINQ in application layer, domain manager or custom repo? Which is the best practice to do it and why? Since there is no business logic in join LINQ so I'm not sure if it's a good practice to implement in domain manager.
2. Why do w

[2017-10-25 05:30] alirizaadiyahsi commented on #2634
Hi @kyurthich,

To better understand the problem, Could you explain what did you do step by step before occuring this error?

[2017-10-25 06:06] hikalkan commented on #2634
You should switch to the related tenant to be able to work with tenant manager.

[code]

[2017-10-25 06:37] hikalkan opened #2635 "Test and update IdentityServer4 integration document"
https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

[2017-10-25 06:47] hikalkan commented on #2615
This is in our road map.
BTW, the issue here is that everybody has different requirements. Someone want a custom module depends on main application, other one wants main app depends on a custom module, another one wants custom module should be a plugin. This is just dependency perspective.
Lets go to dbcontext level.. You may want that new module shares Abp.Zero tables (user, roles) or you may wan

[2017-10-25 06:52] bhaidar commented on #2615
I agree with you @hikalkan
But maybe we can start with things step by step.

Typically, when we download the template, there are always those layers AppService, Core, etc. corresponding to DDD structure somehow. When it is time to add new features and extend the template, more code has to be added, now I try to encapsulate my code in a folder in each of the layers to isolate my code from the templ

[2017-10-25 06:55] #2613 closed

[2017-10-25 06:59] sebitsi commented on #2627
Hi @hikalkan
Can you please put some light on this.

I have same problem with test project.
If i just reference module with `Configuration.Modules.AbpEfCore().AddDBContext<MyDbContext>(options => .....` implementation in PreInitialize method i got DbContextOptions not registered error when try to resolve dbcontext in test method.

If i skip `Configuration.Modules.AbpEfCore().AddDBContext<MyDbConte

[2017-10-25 07:05] hikalkan commented on #2626
TUser and TRole is required since AbpZeroHostDbContext is inherited from AbpZeroCommonDbContext which requires and uses these parameters.

[2017-10-25 07:10] hikalkan commented on #2621
@acjh if IsTransactional  = false, then UOW does not use transactions at all. TransactionScopeOption is only valid if IsTransactional = true.

[2017-10-25 07:36] hikalkan commented on #2627
You can also inject ``IDbContextProvider<TDbContext>`` and use it as like in repositories (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityAndTPrimaryKey.cs#L76).

You can not use it in ctor.

not working.

DbContext can only be resolved inside a Unit Of Work (see https://aspnetboilerplate.com

[2017-10-25 07:57] hikalkan commented on #2026
For an application, if you think you will always use a relational db and an ORM that supports LINQ, you can write join or other linq code in your service layers (either domain or application). A few reasons to move it to repository:

* If  a JOIN/LINQ code is complex and/or you want to make it reusable, you can move to repository.
* If you may later think to use another db that does not support LI

[2017-10-25 08:57] water1st opened #2636 "why the ng client not use the i18n or ngx-translate to localiztion"
the abp localiztion is very easy to use, but it will reload the page after change the language
why the abp client not use the i18n or ngx-translate to localiztion

* Your Abp package version.
3.1.2
* Your base framework: .Net Framework or .Net Core.
.net core 2.0

[2017-10-25 08:57] #2491 closed

[2017-10-25 09:43] KennyEng12 commented on #2026
Hi @hikalkan, thanks for the quick reply.

I asked a wrong question of the 3rd question. What I wanted to ask is:

And I saw this:

The question is how to use GetDbContext extension method after added the package reference to project? Just to double confirm, custom repository is not needed if using this extension method right?

[2017-10-25 10:45] hikalkan commented on #2636
We wanted to use same localization system across different UIs (mvc+jquery and angular), so didn't use angular's specific localization system.
This was the reason. However, we can evaluate it again.

[2017-10-25 10:48] hikalkan commented on #2026
First of all, do not inject a repository into another repository. You already have access to your DbContext inside the repository. So, you can directly use DbSet for Payment (like YourDbContext.Payments).

Do it in service layer? I answered as my first response.

[2017-10-25 10:49] natiki commented on #2633
@NuelNikhil Make use of something like https://github.com/MiniProfiler/dotnet (https://miniprofiler.com/dotnet/) or https://www.jetbrains.com/profiler/ to see what is happening under the skin. That way you can isolate where the bottlenecks are.

[2017-10-25 10:51] natiki commented on #2615
+1 @bhaidar ..... Extending things especially in zero and keeping isolated from the templates is not easy.

[2017-10-25 10:57] natiki commented on #2026
Hi,

As an interested observer as I look at refactoring our data access.....

@hikalkan "So, you can directly use DbSet for Payment (like YourDbContext.Payments).". But ultimately this means you lose all the benefits of IRepository?

So on balance it wouldn't it ultimately be best to do it as a domain service and inject all the repositories you need. Keeps it all isolated. Yes perhaps many injecti

[2017-10-25 11:02] hikalkan commented on #2026
No, repository encapsulates DbContext. But you can access to DbContext inside repository (you will do it somewhere, right? So, repository is for that.). All other repository methods already uses DbContext.

[2017-10-25 11:33] acjh commented on #2621
But `IsTransactional = false` + `RequiresNew` works and is used in `AbpUserStore` here:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c7cc393844b95b8dab3f73b48229c7c6583c7f87/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L1227-L1228

[2017-10-25 11:42] hikalkan commented on #2621
You're right. I thought for the initial UOW.

If you are inside a transactional UOW, then creating a new UOW with ``IsTransactional = false`` not creates a new UOW, but still uses the ambient UOW. In that case, Suppress is the only option to create a non transactional UOW scope.

This is how it works. It can be improved to be more consistent.

[2017-10-25 12:00] acjh commented on #2621
But @sebitsi observed that it creates a (transactional) scope that isn't rolled back with the ambient scope.

[2017-10-25 12:04] hikalkan commented on #2621
Let me check the code, it's very old code so I may not remember well :)

[2017-10-25 12:47] steve-rca commented on #2588
Hi,

Yes, I get the following error;

Severity

Code

Description

Project

File

Line

Suppression State

Error

TS6053

File 'C:\ASPNetBoilerplate\3.0.0\src\EventCloud.Web\lib\jquery-validation\build\release.js' not found.

EventCloud.Web

1

Active

Thanks,
Steve

From: alirizaadiyahsi [mailto:notifications@github.com]
Sent: Tuesday, October 24, 2017 8:03 AM
To: aspnetboilerplate/aspnetboilerpl

[2017-10-25 12:48] Zonciu commented on #2589
@alirizaadiyahsi But AbpAuthorizeAttribute intercept that method correctly, that makes me confuse.

[2017-10-25 12:52] acjh commented on #2621
Thanks. I'll just state what I believe is expected behavior.

1. If not in UOW:
   - `IsTransactional = true` + `Required` creates a transactional scope (default).
   - `IsTransactional = true` + `RequiresNew` creates a transactional scope.
   - `IsTransactional = true` + `Suppress` throws.
   - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&

[2017-10-25 12:54] alirizaadiyahsi commented on #2520
Hi @ChiakiYu,

Are you getting error at compile time (when you run `ng serve` command)?

I am testing and VS code is showing the same error, but project is running with no error.

This is the test project (it is created by running `ng new <project_name>`)
![image](https://user-images.githubusercontent.com/4375000/31999254-515fbfce-b99b-11e7-8779-ceaf329c878f.png)

[2017-10-25 13:07] hikalkan commented on #2621
Thank you @acjh for detailed explanation :)

[2017-10-25 18:46] guilmori commented on #2620
Finally the `AbpSession.Use()` method worked. So I'm gonna initiate my logic server side for now.

If anyone has an idea where to hook javascript code right after login, I'm still interested.

Thanks !

[2017-10-25 18:46] #2620 closed

[2017-10-25 20:26] sebitsi commented on #2621
@hikalkan
I suggest that you add this @acjh explanation to documentation after you check it.

I think this will be very usefull reference for everybody.

[2017-10-25 20:33] sebitsi commented on #2627
@hikalkan

Thanks for this. I didn't see "tree in the forest" and missed what is obvious.

Thanks for help.

[2017-10-25 20:33] #2627 closed

[2017-10-25 21:59] pagner opened #2637 "Nswag not working correctly with MVC application"
I want to use abp framework as a standalone service. no tenants, no users etc.

I downloaded the .net core multipage MVC .net full 4.61 template, No module Zero.

Tore out all the mvc views, installed swashbuckle aspnetcore, nswag and now I have exactly what I want. Works great,

But here is the issue.

The response from the Application layer is always wrapped with the outer JSON object "result"
`

[2017-10-26 00:33] pagner commented on #2633
Is this for the initial load/request? This is typical of MVC for several reasons. There are some performance tweaks you can implement.
https://www.google.com/search?q=mvc+initial+load+slow

[2017-10-26 01:55] KennyEng12 commented on #2026
@hikalkan thanks for the quick reply again.

This is just to double confirm.
I'm much more clearer now. Thanks again

[2017-10-26 02:06] zhujiancc opened #2638 "Deploy Angular With IIS"
### Environment : net core  + angular

### Problem :

#### When deploy angular  ,  I add web.config to angular  directory  as the document says
[code]
![image](https://user-images.githubusercontent.com/19665595/32031605-c7a868f4-ba34-11e7-9959-66f5cbe6971e.png)

### So  , I  add  ComputerName/IIS-IUSERS and  USERS  permission to dist , but useless

[2017-10-26 02:39] iarif20 commented on #2624
Tried it again but not great success.

The UnitOfWork seems to rollback changes done on the entity framework context, but doesn't roll back changes made through the use of ADO.NET.

In my instance, I have to share a transaction across ADO.NET SqlClient operation and Entity Framework operation. When I call the dispose for the unit of work, it cleans the records added via Entity Framework but does n

[2017-10-26 02:55] ChiakiYu commented on #2520
@alirizaadiyahsi
It is well at compile time.
Only in the development process shows red underline, and vscode no smart tips.

[2017-10-26 03:12] acjh commented on #2638
Looks like the same error resolved [here](https://forum.aspnetboilerplate.com/viewtopic.php?p=23396#p23438):

[2017-10-26 03:17] acjh commented on #2624
Please format code like this:
<pre>
[code]
</pre>

[2017-10-26 04:40] Zonciu opened #2639 "IConfigureOptions<T>.Configure doesn't trigger"
Abp Version: 3.1.2
.Net Core

Using Abp and call UseKestrel(...) to enable HTTPS, an exception will be thrown from [KestrelHttpServer](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel/WebHostBuilderKestrelExtensions.cs#L35)

`KestrelServerOptions.ApplicationServices` is null.

Using the following class to replace [KestrelServerOptionsSetup](https://github.com/aspnet/KestrelHttpServ

[2017-10-26 04:57] KennyEng12 commented on #2026
Hi @hikalkan

This is only for when you're using the same DbContext right?

How to do it if I'm using different DbContext?

Because I got this error:
`System.NotSupportedException: The specified LINQ expression contains references to queries that are associated with different contexts.`

[2017-10-26 05:35] Es201n opened #2640 "dynamically generate DbSet xx which was not registered."
How to use the AddEntityType to dynamically generate DbSet？
I use the reflection in the OnModelCreating dynamic add DbSet, but after the AppService request error.

'K3.MA.Systems.FansAppService' is waiting for the following dependencies:
- Service 'Abp.Domain.Repositories.IRepository`2[[K3.MA.Wechat.Fans, K3.MA.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Guid, System.Priva

[2017-10-26 05:52] acjh commented on #2640
Please format code like this:
<pre>
[code]
</pre>

[2017-10-26 07:28] #2537 closed

[2017-10-26 08:33] hikalkan commented on #2026
You can only join single on dbcontext.
If you have multiple dbcontext, then you probably want to build a modular architecture. So, in that case, you should not need this. You should design it better :)

Also, if you need a repository inside another repository or another module then it's also seems a wrong design. If your modules are such-related then maybe they should be a single module.

[2017-10-26 09:09] KennyEng12 commented on #2026
@hikalkan appreciate of your reply so far :+1:

[2017-10-26 13:54] satishkumar-t commented on #1989
Hi, Does anybody have resolution for this issue ? Thanks in advance.

[2017-10-26 14:11] kyurthich commented on #2634
Yeah I will see if I can get that information today.

On Wed, Oct 25, 2017 at 1:30 AM, alirizaadiyahsi <notifications@github.com>
wrote:

--

--Alan

[2017-10-27 00:36] RJTingay commented on #2588
Replicated here too.

Template Configuration:
MVC 5.x
SPA (Angular)
EF
Include Module Zero

Error given:
File 'Project.Web\lib\jquery-validation\build\release.js' not found.

It's referenced in the Project.Web csproj, the build folder exists, the release.js does not.

I'm not 100% clear as to whether it's an issue with the jzaefferer/jquery-validation upstream or not. As far as the APB Template is

[2017-10-27 00:42] zhujiancc commented on #2638
thx for your answer.
I find 2 ways to fix this problem :

* change ng's root-routing.module.ts
![image](https://user-images.githubusercontent.com/19665595/32083048-699b35e8-baf2-11e7-9dec-13d85a651e82.png)
* install iis rewrite module ,  the error caused by it

[2017-10-27 05:19] flexem commented on #2629
I have this issuse too.I am using the newest v3.1.2 abp.
Here is the memory usage:
![image](https://user-images.githubusercontent.com/6355005/32088886-472487fe-bb19-11e7-9399-cbc388439f07.png)
and one of the callstack:
![image](https://user-images.githubusercontent.com/6355005/32088911-6e448ac8-bb19-11e7-8b24-4b1003dd22b4.png)

[2017-10-27 05:34] flexem commented on #2571
I have the same issue like this.
e.g
I have a method defined as "async Task\<int\> FindDeviceByBoxSerialNumberAsync()", it simple use select query to get a result from db.
when the method invokes parallel for  many times(like above.).
it will throw like this:
`System.ObjectDisposedException: Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from

[2017-10-27 05:48] hikalkan commented on #2629
@flexem do you have any code part that begins UOW manually (like unitOfWorkManager.Begin()). If so, does it dispose UOW in the same method?

[2017-10-27 08:58] flexem commented on #2629
Hi @hikalkan
Yes,I have. Here is the sample code.
![image](https://user-images.githubusercontent.com/6355005/32096085-e40f6692-bb37-11e7-80f1-a7280e1b774a.png)
above method is definded in a class inherited from Hub class.

[2017-10-27 09:22] #2633 closed

[2017-10-27 09:37] hikalkan commented on #2629
This code is OK, no problem. You can have problem if you Begin UOW in a method and disposed in another method. Some developers return IQueryable from MVC Controller, so they override ExecuteAsync and Dispose to begin/dispose UOW manually and this may cause a problem.

Do you repeat the memory leak with a fresh new template (https://aspnetboilerplate.com/Templates)?

[2017-10-27 10:01] flexem commented on #2629
I am using http://aspnetzero.com/.I will check it from a fresh aspnetzero.

[2017-10-27 10:40] hikalkan commented on #2629
If it's AspNet Zero, please create an issue from https://github.com/aspnetzero/aspnet-zero-core/
Thanks.

[2017-10-27 11:16] yekalkan commented on #2635
I have just updated the document.

[2017-10-27 11:16] #2635 closed

[2017-10-27 14:26] hikalkan commented on #2640
ABP finds entity types from DbSet properties. So, there is no way of that out of the box. However, ABP is extensible. You can IDbContextEntityFinder by your own implementation. See default implementation: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFramework/EntityFramework/EfDbContextEntityFinder.cs I think you can easily understand how to implement it. You can t

[2017-10-27 14:26] #2640 closed

[2017-10-27 14:35] hikalkan commented on #2637
You can disable wrapping:

[code]

Write this to PreInitialize method of your web module. This will remove all wrapping.

[2017-10-27 17:01] pagner commented on #2637
That fixed it! Thank You!
Did something change? I have another abp project that is wrapped and nswag doesn't seem to struggle with it.

[2017-10-28 18:52] hikalkan commented on #2637
[abp-ng2-module](https://github.com/aspnetboilerplate/abp-ng2-module) actually unwraps ABP's wrapped result (see https://github.com/aspnetboilerplate/abp-ng2-module/blob/master/src/abpHttp.ts#L143). So, no need to disable wrapping normally if you are using ``abp-ng2-module`` in your angular application. But if you only using swagger, then it can be a problem.

[2017-10-30 04:09] ltvan commented on #1762
Why don't just use only Bearer authentication and disable cookie authentication on WebApi? Like the default asp.net mvc SPA template.

[2017-10-30 05:41] ylka commented on #2613
the same problem ,how to resolve?
use ASP.NET MVC 5.x not core2.x

[2017-10-30 05:46] acjh commented on #2613
ABP v3.0.0 is based on .NET Standard 2.0.

 - This concerns you regardless if you are on MVC 5.x, .NET Framework 4.x or .NET Core 2.x.
 - You should use VS2017 15.3.3+.
   - For VS2015, you may try installing [NuGet client 3.6 or higher](https://github.com/dotnet/announcements/issues/24) but that [may no longer work](https://stackoverflow.com/questions/46355233/asp-net-boilerplate-error-building-n

[2017-10-30 07:13] ismcagdas commented on #2491
@water1st  have you solved your problem ?

[2017-10-30 07:16] ismcagdas commented on #2520
@ChiakiYu as far as I remember this is related to angular-cli and they have fixed it. Can you try to upgrade your project's angular-cli version ?

[2017-10-30 07:18] ismcagdas commented on #1989
@satishkumar-t do you use ASP.NET Core ?

[2017-10-30 07:23] ismcagdas commented on #2588
Thanks @RJTingay we should remove the line from csproj file.

[2017-10-30 07:24] ismcagdas commented on #2638
Thanks @zhujiancc and @acjh  :)

[2017-10-30 07:24] #2638 closed

[2017-10-30 09:21] katsenkatorz opened #2642 "Audit loggin in background worker"
Hello,

I'work on latest version 3.1.2 of boilerplate, and I have a problem.
I look for [audit logging](https://aspnetboilerplate.com/Pages/Documents/Audit-Logging) on my [background worker](https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers)  but does not work. I don't no if my procedure is good because I'have not found same issu.
In AbpAuditLoggin table, my method is never

[2017-10-30 09:30] acjh commented on #2642
Your method must be `virtual` since ASP.NET Boilerplate uses dynamic proxying and interception.
See: https://aspnetboilerplate.com/Pages/Documents/Audit-Logging#DocNotes

[2017-10-30 10:23] katsenkatorz commented on #2642
Thanks for this reply, it's working. I did not see the note ><.

[2017-10-30 10:23] #2642 closed

[2017-10-30 11:08] satishkumar-t commented on #1989
Yes, I am using ASP.Net core 2.0

[2017-10-30 14:51] hikalkan commented on #1762
What if we have an MVC application (that uses cookie auth as expected) and have API in the same application and we wanted to implement Bearer auth for remote clients to use our API. In that case, we can not remove cookie auth.

[2017-10-30 21:10] amrbadawy commented on #1989
is there any solution for this issue ?

[2017-10-30 21:37] vitorlacerda opened #2644 "same Application Service Name in 2 differents modules"
I want to use plugin system in my project.

If i have 2 modules (A e B) and everyone has an AddressAppService Class  but with different namespaces.
ModuleA.AddressAppService
ModuleB.AddressAppService

The automatic generation WebApi, Services (Angularjs) and typescript will conflict with duplicate names?
abp.services.app.xxxx

if yes, it is possible to change "app" with module name or something li

[2017-10-31 00:44] martingagne opened #2645 "Get the Id of a Scheduled Job (IBackgroundJobManager/IBackgroundJobStore)"
I am currently scheduling jobs from the AppService layer using IBackgroundJobManager and IBackgroundJobStore. I integrated my app with Hangfire and the integration works. When scheduling a job I see it in the Hangfire Dashboard and DB. However, when calling EnqueueAsync, I would like to get the JobId which was scheduled. This is something I could do if I was using Hangfire directly. I would use th

[2017-10-31 01:42] acjh commented on #2644
You can set the `servicePrefix` per module in [`WebApiModule`](https://github.com/aspnetboilerplate/module-zero-template/blob/c0d7f0433d573a8207b27f817e1d188c215f1e50/src/AbpCompanyName.AbpProjectName.WebApi/Api/AbpProjectNameWebApiModule.cs) when calling WebApi controller builder:

[code]

[2017-10-31 08:12] andmattia opened #2646 "AddToBuildManager Exception"
Abp 3.1.2 + AbpZero

I've a plugin with a controller and if i add a dependecy to my plugin the controller works but if I use it in plugins folder the controller not work. I try to debug and I see that in AddToBuildManager I catch the expection (not logged...) about plugin

[2017-10-31 08:22] acjh commented on #2646
1. What is the exception message?
1. How did you use it in plugins folder?

[2017-10-31 08:31] andmattia commented on #2646
the exception message I'm not able to catch bacuse I see the exception via reashaper not via symbol load(abp symbol still available??)

Yes I use Puligns folder

[2017-10-31 08:41] acjh commented on #2646
Can you show a screenshot?

I asked *how*.

[2017-10-31 09:30] ltvan commented on #1762
We can add Bearer auth to header of each ajax call to API, just like you set the XSRF token to the request header. Cookie Auth is only used when calling other than API.

[2017-10-31 11:08] mediaaminian commented on #2582
yeah, you were right.thanks

[2017-10-31 11:08] #2582 closed

[2017-10-31 11:27] mediaaminian opened #2647 "LocalizableString can not find the the value from the xml file in a new module"
I have several modules in my application. So, I added a Localization Configuration to it:

    namespace hr.Localization
    {
    public static class HRLocalizationConfigurer
    {
        public static void Configure(ILocalizationConfiguration localizationConfiguration)
        {
            localizationConfiguration.Sources.Add(
                new DictionaryBasedLocalizationSource(HrConsts.Loc

[2017-10-31 11:50] ismcagdas commented on #1989
@coommark, @amrbadawy I have tried a similar scenarion as @coommark provided.
Here is my contoller:

[code]

I also added code provided in this comment into my Startup.cs https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1989#issuecomment-290666851.

Then, when I send below requet from Postman, it worked for me.

[code]

The main think I did is adding "DontWrapResult" attribute to cont

[2017-10-31 12:37] amrur commented on #1989
We need this option From ApplicationService

[2017-10-31 14:16] hikalkan commented on #2647
``new LocalizableString(name, "Hr")`` does not make localization. How do you use it?

[2017-10-31 14:23] hikalkan commented on #1762
Cookie always automatically sent and authenticated. So, why we force us to add token to the header in every request. That will send same information twice and completely unnecessary.

However, this issue (#1762) is not related to that. See https://github.com/aspnet/Antiforgery/issues/115 for my explanation.

[2017-10-31 14:40] hikalkan commented on #2645
Currently, the only option is to directly use Hangfire API.
We can change EnqueueAsync method to return job id in future versions.

[2017-11-01 01:05] Worthy7 commented on #2485
My case:
Open VS 2017
Create new SQLExpress database. overwrite the connection string into my web.config.
startup
SqlException: Object name 'AbpEditions' is invalid.
Try to run "Update-Database" from PMC:
[code]
It succeeded, even though it had that error at the beginning.

Now it works.

So I guess this means automatic migrations are disabled?

[2017-11-01 01:52] ltvan commented on #1762
Add this and WebAPI will stop authenticated via cookie, only allow Bearer authentication:
[code]

[2017-11-01 05:03] mediaaminian commented on #2647
I use it like this:
var administration = context.CreatePermission(OrganizationUnitRequestPermissionsKey.HR_UnitReq, L("hr.unitreq"));

[2017-11-01 05:14] hikalkan commented on #2647
Did you make your xml file embedded resource?

[2017-11-01 05:40] ismcagdas commented on #2485
@Worthy7 yes automatic migrations are disabled.

[2017-11-01 05:52] mediaaminian commented on #2647
I forgot it. It is an embedded resourcce now.
but it's still not correct;
![resource](https://user-images.githubusercontent.com/26972938/32261782-1f75b9b4-bee6-11e7-8028-85ab62655101.png)

[2017-11-01 06:12] Worthy7 commented on #2485
Well can they not be? They didn't used to be :-)
Also, I have no idea how to enable migrations in this new version but whatever

[2017-11-01 06:53] hikalkan commented on #2485
Even Microsoft does not suggest it (see https://msdn.microsoft.com/en-us/library/dn481501(v=vs.113).aspx)

[2017-11-01 06:59] Worthy7 commented on #2485
OK fair enough.

[2017-11-01 07:33] Znow commented on #2451
I want to add a comment to this issue. I was first searching for anything related to the use of Telerik's .NET Core controls.

Then I got lead to this issue.

My problem is regarding the using of [Grid](http://demos.telerik.com/aspnet-core/grid/index) control on a page, totally basic setup, with 2 columns, no fancy stuff.

The grid would not show the data that it received (it rendered rest of the

[2017-11-01 09:36] flexem commented on #2629
I finally found my problem due to the windsor resolved the hub, but do not release it.
It is described in https://stackoverflow.com/questions/34395834/signalr-server-memory-consumption-windsor-ihubactivator-to-blame
and in https://github.com/SignalR/SignalR/issues/2908
It seam the signlr team will not fix the problem in the v2.
So,I override the dispose method of Hub class like this.
![image](http

[2017-11-01 13:39] hikalkan commented on #2629
Thank you @flexem for sharing your solution. We should also check our solutions if there is such a problem.

[2017-11-01 14:01] Znow opened #2648 "System.Reflection.AmbiguousMatchException: 'Ambiguous match found.' when retrieving entity by ID"
Hi!

Abp package version: latest
Base framework: .NET Core

**Description**
I'm getting the "System.Reflection.AmbiguousMatchException: 'Ambiguous match found.'" exception, when I try to retrieve an Task entity from my repository, by a Guid ID, in my application service.

The project has a need of stating the primary key as a Guid, and with the table name in front, so TableID for example.

_Task e

[2017-11-01 14:23] acjh commented on #2648
That is because you re-declare `Id` which `Entity<Guid>` already has — there should be a warning.

You can try to `override` that property:

[code]

Or set the column name in `OnModelCreating` like this:

[code]

[2017-11-01 15:19] wjkhappy14 commented on #2637
http://333.caoliukanpian.com/?a=AngkorW

[2017-11-01 19:22] kzmyvr opened #2649 "Inheritance security rules violated by type: 'MySql.Data.Entity.MySqlMigrationSqlGenerator'."
Hello there,
https://aspnetboilerplate.com/Pages/Documents/EF-MySql-Integration

When I try to integrate with this method.

Add-Migration

**Inheritance security rules violated by type: 'MySql.Data.Entity.MySqlMigrationSqlGenerator'. Derived types must either match the security accessibility of the base type or be less accessible.**

I'm getting an error.
My english is not very good. :)
Thank you.

[2017-11-02 02:50] sheldonyss opened #2651 "Cannot insert the value NULL into column 'NormalizedEmailAddress'"
I enabled LDAP authentication in my application.
When abp try to create a user in the user table after authentication, I hit server internal error due to below problem:
`Cannot insert the value NULL into column 'NormalizedEmailAddress'`

There is a `SetNormalizedNames` method in `AbpUser` source code, but I searched all source code and it seems that this method is not called anywhere.

https://git

[2017-11-02 03:01] ryancyq commented on #2647
[DisplayName](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/Permission.cs#L32) property looks fine. It is formatted correctly in [toString()](
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Localization/LocalizableString.cs#L58)

If you want to examine the actual localized output, you can either use
[code]
or
[code]

[2017-11-02 05:42] ismcagdas commented on #2651
Thanks @sheldonyss , we should add it as well.

[2017-11-02 05:56] #2651 closed

[2017-11-02 06:42] hikalkan commented on #2645
Closed by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2650

[2017-11-02 06:43] #2645 closed

[2017-11-02 08:47] dyhaz opened #2652 "Insert exception not caught"
The following code is not caught by the try block:
[code]

But in my log file I see this line:
[code]

Why?
Abp version 2.3.0
.Net Framework

[2017-11-02 09:02] Krystian-D commented on #2652
Hi,
If you are executing this code in ApplicationService it will be transactional by default.
Abp uses interceptors to start transaction before calling your method and commits transaction at the end. So actual save happens outside of your try/catch block.
You can use CurrentUnitOfWork property to SaveChanges() whenever you want, or you can inject IUnitOfWork manager to start new transaction explic

[2017-11-02 10:19] dyhaz commented on #2652
Thanks for your response, @Krystian-D . I tried to create a validation check for unique column in a table, how could I do it without try/catch? I don't think I should use it inside a dto.

[2017-11-02 10:30] ismcagdas opened #2653 "Send mail with MailKit fails if using default credentials"
When username for smtp settings are not assigned to a value, sending emails with MailKit fails.

[2017-11-02 12:13] Krystian-D commented on #2652
@dyhaz I think you can just use your repository to do check before trying to insert like `_msOfficerRepo.GetAll().Any(x=> x.ColumnToCheck == input.CorrespondingValue)` and based on that you can show appropriate message. Also I think its more explicit what you trying to capture because you can not be sure that DbEntityValidationException wont return sensitive information.

[2017-11-02 14:41] ismcagdas commented on #2649
Hi @kzmyvr,

Do you use one of ABP templates ? If so, can you write which one ?
What did you choose while downloading your project on this page https://aspnetboilerplate.com/Templates ?

Can you also write nuget package versions for  MySql.Data.Entity you are using.

[2017-11-02 14:43] bhaidar opened #2654 "Question: How to access AppService with aspnetboilerplate without Zero module"
Hello,
This is a question.
I downloaded the aspnetboilerplate template without ASPNET ZERO.

I assume, that the AppServices are already registered with ASPNET CORE to be treated as Controllers.

How to access them in this case? I tried something like /api/{appservice-class-name-without-AppService- at-the-end}/{action-name} This didn't work.

Thanks

[2017-11-02 14:55] acjh commented on #2654
See https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#application-services-as-controllers:

[2017-11-03 01:26] sheldonyss opened #2655 "Question: How to create permission at run-time?"
Is this possible?

[2017-11-03 03:50] qloudau opened #2656 "Inherit standard MVC Controller and not ABPController"
Hello,

We are using V3.1.2 of ABP
I want to create an controller which is not inheriting ABP Base controller which is **ABPController**
When i am trying to run the application it is throwing Internal server error when i try to access this controller action.
Please, let me know solution for creating a controller without inheriting ABPController.
Actually i am trying to integrate third party soluti

[2017-11-03 04:02] qloudau commented on #1651
Hello,

What if i dont inherit ABPController as i need to integrate third party module so i need to inherit some BaseController from third party.

Thank you.

[2017-11-03 04:05] acjh commented on #2656
What's the error?

[2017-11-03 05:15] ismcagdas commented on #1651
@qloudau can you share the error message for this issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2656 ? I think it is the same problem, right ?

[2017-11-03 05:27] ismcagdas commented on #2655
@sheldonyss this is not possible at the moment.

[2017-11-03 05:31] #2655 closed

[2017-11-03 05:35] #2654 closed

[2017-11-03 05:38] hikalkan commented on #2656
You don't have to inherit from AbpController. However, in this case the controller will not be registered to dependency injection by default. You can implement ``ITransientDependency`` for your controller.

It would be good to register all controllers by default, however current design is like that.

[2017-11-03 06:52] acjh commented on #2211
Example: https://stackoverflow.com/questions/46674298/aspnetboilerplate-dbcontext-disposed-when-when-run-parallel-request-to-reposito

[2017-11-03 07:39] Znow commented on #2648
@acjh
Yes this seems to fix the problem, thanks for helping out!

Regards

[2017-11-03 07:53] #2648 closed

[2017-11-03 07:53] andmattia commented on #2646
Ok I can give more details.
This is the code in the global_asax
[code]

[code]

so in this way I raise the exception ("you cannot instance controller at this time..."). So I read another issue and I make some small changes to get dynamic  path of plugin folder and move the init call of plugin folder

[code]
And now it works fine. I have only a small issue [Issue 1346](https://github.com/aspnetboil

[2017-11-04 05:09] mediaaminian commented on #2647
when I used this one:
 "LocalizationManager.GetString("Hr", "hr.unitreq");" but it returns "[hr.unitreq]"...... it can not  examine the actual localized output.
I have to mention that my HR.xml is located in another module and this one  "LocalizationManager.GetString("Hr", "hr.unitreq");" is located in another module

[2017-11-04 12:56] mediaaminian opened #2657 "Error while updating service.config.nswag to httpClient"
I want to update my updating service.config.nswag to httpClient.
When I add this line  "HttpClass":"HttpClient" to "service.config.nswag" File , I will receive the below Error:

`You provided 'undefined' where a stream was expected. You can provide an Observable, Promise, Array, or Iterable.     at Object.subscribeToResult (subscribeToResult.js:73)
`
![untitled](https://user-images.githubuserconte

[2017-11-04 16:17] zerocoll04 opened #2658 "Access-Control-Allow-Origin - ASP.NET CORE New Project from ASP BOILERPLATE"
I've use asp boilerplate zero and I want to develop in the new version but I want to see how it work, and I cant see yet for the follow error:

* Your Abp package version - v3.1.2.
* Your base framework:  .Net Core
* Console Exception message: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Tenant app s

[2017-11-04 17:14] alirizaadiyahsi commented on #2658
Hi @zerocoll04,

Could you check these conversations? https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1441#issuecomment-252474080

[2017-11-04 17:32] alirizaadiyahsi commented on #2657
Hi @mediaaminian,

More likely it is not related with `service.config.nswag`. There might be some faulty code lines. Try to find which line are you getting this error.

Also I would suggest you take a look at the following questions to have an idea.

[so question](https://stackoverflow.com/questions/43549223/typeerror-you-provided-an-invalid-object-where-a-stream-was-expected-you-can-p)

[github i

[2017-11-04 20:01] ismcagdas commented on #2658
@zerocoll04 also please check Logs.txt file under your project to see if there is an error message.

[2017-11-05 10:56] #2647 closed

[2017-11-05 10:56] #2467 closed

[2017-11-05 11:46] mediaaminian opened #2659 "how can I examine all the permissions from two 'AuthorizationProvider' in different modules"
I have two modules with two different AuthorizationProvider (are named: PortalAuthorizationProvider and HrAuthorizationProvider).
Now, I want to **_seed_** all these permissions together to a Role in my EntityFrameWork Layer.

I used this below line, but it returns only the permissions in one of them:

[code]

How can I have all the permissions in my Seed Method?

There is my whole  code:

[code]

[2017-11-05 12:39] acjh commented on #2659
Well, you specifically wrote `.GetAllPermissions(new PortalAuthorizationProvider())` so of course you only get the permissions from `PortalAuthorizationProvider`. Did you try to get from the other?

[2017-11-05 13:55] mediaaminian commented on #2659
@acjh
Actually, the other providers are located in the other modules and I can NOT access to them from here.
So, I'm looking for another ways to get them from Configuratiuon.Provider. Because, the Configuratiuon.Provider.Count is 2.

[2017-11-06 00:25] zhujiancc opened #2660 "How to enter a breakpoint when exception throw"
### Environment ：
.net core , angular ,vs 2017

### Detail:
When I program wrong ,  the exception just show in the frontend , and  the description is not friendly
to help me find where the error in my program , I need to see the audit info  and log .
So ,can you tell me  how to deal with it

[2017-11-06 01:17] acjh commented on #2660
Check your error log in `*.Web.Host\App_Data\Logs`

[2017-11-06 10:19] gpcaretti opened #2661 "Abp 3.1.x depends on Castle.Core >= 4.2.1"
* Abp 3.1.2.
* .NET 4.6 or .NET 4.7.
* Castle.Core 4.2.1
* Exception message and stack trace:
  _note: this is the stack trace of the test project, but the issue is the same on web project too_
Consider app.config remapping of assembly "System.ComponentModel.Annotations, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" from Version "4.0.10.0" [C:\Program Files (x86)\Reference Assemblies\Microsoft

[2017-11-06 15:21] kzmyvr commented on #2649
Hi @ismcagdas,

ASP.NET MVC 5.x
Entity Framework and Multi Page Web Application
( **Not** Include module-zero (implements user, role, tenant, edition, permission management and more) )

MySql.Data.Entity version ;
  <package id="MySql.Data" version="**6.10.4**" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="**6.10.4**" targetFramework="net461" />

Thank you for your interes

[2017-11-06 15:48] acjh commented on #2649
Can you try version 6.9?

[2017-11-06 17:26] kzmyvr commented on #2649
Hi @acjh

I tried version 6.9 now. Successful.

Thank you so much.

[2017-11-06 17:26] #2649 closed

[2017-11-07 03:04] #2652 closed

[2017-11-07 05:58] ismcagdas commented on #2661
@gpcaretti have you tried to upgrade System.ComponentModel.Annotations to v4.4.0 ?
Can you also share full error message ?

[2017-11-07 07:07] andyliyuze commented on #1219
I found AggregateRoot<int> in ABP ?but  why the default interface type is integer  ???? I can't use Guid for my  primary key type？？

[2017-11-07 07:13] ismcagdas commented on #1219
ABP's entities have integer as default primary key. Becase of that AggregateRoot is defined like this but you can use guid as your PK.

Just use AggregateRoot<Guid> for your entities you want to use guid.

[2017-11-07 08:03] andyliyuze commented on #1219
I found  AggregateRoot<TPrimaryKey> interface in ABP,so I have solved my issue.Thanks

[2017-11-07 08:03] andyliyuze commented on #1219
I found AggregateRoot<T> interface in ABP,so I have solved my issue.Thanks

[2017-11-07 08:05] andyliyuze commented on #1219
I found AggregateRoot  interface which have a  Generic Type  in ABP,so I have solved my issue.Thanks

[2017-11-07 08:15] andyliyuze commented on #1219
but I also found that `AggregateRoot<T>` inherit `Entity<TPrimaryKey>`  that define as follows

`  public virtual TPrimaryKey Id { get; set; }`

so it make  Id  property as public and I think it will destroy aggregate if I set another value for Id in Application Layer

[2017-11-07 20:23] zerocoll04 commented on #2658
Hi @alirizaadiyahsi I've seen this comment, but don't work. I need help, I'm looking for any solution.

[2017-11-08 05:48] alirizaadiyahsi commented on #2658
@zerocoll04, dşd you check Logs.txt if there are any errors?

[2017-11-08 06:04] hikalkan opened #2662 "Upgrade Castle.Windsor.MsDependencyInjection dependency to 3.2.0"

[2017-11-08 07:54] Belala opened #2663 "How to disable http verbs"
I try to set：
[code]
but got error:

Microsoft.AspNetCore.Server.Kestrel      - Connection id "0HL96FN6J8KHJ", Request id "0HL96FN6J8KHJ:00000007": An unhandled exception was thrown by the application.
System.InvalidOperationException: Conflicting schemaIds: Identical schemaIds detected for types N8.Tenants.Dashboard.Dto.GetDashboardDataInput and N8.MultiTenancy.HostDashboard.Dto.GetDashboardDataI

[2017-11-08 12:43] acjh commented on #2663
Is this for Swagger? Why do you need to disable http verbs?

[2017-11-08 12:53] Belala commented on #2663
Yes, i want disable http verbs.

[2017-11-08 12:56] hikalkan commented on #1219
You are definitely right. This is one of the points we will consider on re-designing of ABP, but for now it's a big breaking change and we can not make the Id setter private.

[2017-11-08 13:00] hikalkan commented on #2663
I suppose you want to use POST for all requests instead of conventional HTTP verbs. However, I first time see an error like you shared.

[2017-11-08 13:06] acjh commented on #2663
Use full type name in schema ids:

[code]

[2017-11-08 13:13] Belala commented on #2663
Thank you,I will try it later.

[2017-11-08 14:03] hikalkan commented on #2639
Is that related https://github.com/volosoft/castle-windsor-ms-adapter/pull/21?

[2017-11-08 14:05] #2637 closed

[2017-11-08 14:11] acjh commented on #2659
Are the 2 providers instances of `PortalAuthorizationProvider` and `HrAuthorizationProvider`?
If so, can you use them directly in `.GetAllPermissions(provider)`?

[2017-11-08 14:23] andyliyuze commented on #1219
Thanks for your reply.I find a solution just like that
`  public  new Guid Id { get; protected set; }`    and I think it's better make Id setter as protected.
What do you think？？

[2017-11-08 15:17] saeidmh83 opened #2664 "How to upgrade Service-Proxy.ts to use HttpClient in Angular"
Hi
Thanks for this Job. I have a problem with enable HttpClient in Dynamic Service Proxy with NSwag Project. (NSwag has an update in last version to use HttpClinet with[ simple Change](https://github.com/RSuter/NSwag/blob/master/src/NSwag.Sample.NetCoreAngular/nswag.json) in nswag.json file **"httpClass": "HttpClient",**)
i use this change in my project by adding   **"HttpClass": "HttpClient",**

[2017-11-08 15:22] acjh commented on #2664
Duplicate of #2657

[2017-11-08 20:27] grahamehorner commented on #1945
SQLITE expection

DEBUG 2017-11-08 20:24:10,941 [2    ] Abp.Modules.AbpModuleManager             - Loading Abp modules...
DEBUG 2017-11-08 20:24:11,121 [2    ] Abp.Modules.AbpModuleManager             - Found 14 ABP modules in total.
DEBUG 2017-11-08 20:24:11,142 [2    ] Abp.Modules.AbpModuleManager             - Loaded module: UtiliteamGB.UniversalSupplierSolution.Web.Host.Startup.UniversalSuppli

[2017-11-08 20:35] ismcagdas commented on #1945
@grahamehorner have you applied migrations to your database ?

[2017-11-08 20:41] badre429 commented on #1945
@ismcagdas  sqlite has limtation on migrations you have to  delete old migration and do it all at once
for the aspnet boilerplate zero  for asp.net core i had to disable  .Concurrency check in order to work
by add DbContext OnModelCreating
[code]

[2017-11-08 20:43] ismcagdas commented on #1945
Thanks @badre429, I haven't tried it with Sqlite. Your feedback is very valuable.

[2017-11-08 22:58] Ivangrasp opened #2665 "Ajax response giving the wrong exception message"
* **Abp package version**: 2.3.0
* **Your base framework: .Net Framework** 4.6.1
* **Exception message and stack trace:**
`There is an action Delete defined for api controller app/document but with a different HTTP Verb. Request verb is GET. It should be Post
`
[code]
* **Steps needed to reproduce the problem.**
Implement any CRUD app service inheriting from AsyncCrudAppService, override the Delet

[2017-11-09 02:25] Belala commented on #2663
@acjh  Thank you. Add CustomSchemaIds not throw exception.
@hikalkan Would you update document to new version? There are many new codes, Can not find totally solution in document(https://aspnetboilerplate.com/Pages/Documents). And maybe give some examples or some document for package like (Abp.EntityFramework.GraphDiff). Thank you.

[2017-11-09 02:43] #2663 closed

[2017-11-09 07:05] qloudau commented on #2656
[code]

Above is my controller. I am using Telerik Reporting with ABP.  For using Telerik Reporting i need to create one Reports controller which inherits ReportsControllerBase Controller. When i implemented your solution of using ITransientDependency Interfacel i am getting below error in swagger page.

Even when i tried to access blow url it says page not found.

My only requirement is to inheri

[2017-11-09 07:34] ismcagdas commented on #2656
@qloudau can you check the actual error message in Logs.txt under your Host project ?
By the way, do you use AspNet Zero ?

[2017-11-09 07:45] GerryGe opened #2666 "demo link not work"
Hi,
Demo address in document "EXTENDING EXISTING ENTITIES" cannot work.
Appreciate you can update it.

https://aspnetzero.com/Documents/Extending-Existing-Entities

![qq 20171109154113](https://user-images.githubusercontent.com/6952917/32593864-add62cf0-c564-11e7-9e2b-82b8d9be4a99.png)

[2017-11-09 07:47] qloudau commented on #2656
Hello @ismcagdas ,

Yes we are using AspNet Zero.

Please find attached Logs.txt file.

[Logs.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1456740/Logs.txt)

Let me know if any other information required.

Thank you.

[2017-11-09 07:52] ismcagdas commented on #2656
@qloudau can you also share your ReportsController ? You can remove codes inside your actions if you like.

[2017-11-09 07:54] qloudau commented on #2656
Hello @ismcagdas ,

Below is the code for ReportsController which inherits ReportsControllerBase from Telerik.

[code]

Thank you.

[2017-11-09 08:06] ismcagdas commented on #2656
Can you add [HttpGet] to your Index action ?

[2017-11-09 08:10] acjh commented on #2666
Links work fine. To access paid repo, invite yourself here: https://aspnetzero.com/LicenseManagement

[2017-11-09 08:14] qloudau commented on #2656
Hello @ismcagdas ,

I tried implementing the given solution.
Now it is throwing below error.

`HTTP method "GET" & path "api/Reports" overloaded by actions - MyCompanyName.AbpZeroTemplate.Web.Controllers.ReportsController.Index (MyCompanyName.AbpZeroTemplate.Web.Host),MyCompanyName.AbpZeroTemplate.Web.Controllers.ReportsController.GetResource (MyCompanyName.AbpZeroTemplate.Web.Host). Actions requi

[2017-11-09 08:19] ismcagdas commented on #2656
Do you have access to code of ReportsControllerBase ? Probably it has Index action too I guess.
Does it work when you remove Index action ?

[2017-11-09 08:26] qloudau commented on #2656
Hi @ismcagdas ,

No i dont have access to ReportsControllerBase.
I changed index action to TestMethod. I am getting below exception.

`HTTP method "GET" & path "api/Reports" overloaded by actions - MyCompanyName.AbpZeroTemplate.Web.Controllers.ReportsController.TestMethod (MyCompanyName.AbpZeroTemplate.Web.Host),MyCompanyName.AbpZeroTemplate.Web.Controllers.ReportsController.GetResource (MyCompany

[2017-11-09 08:29] ismcagdas commented on #2656
Can you also try the solution offered here https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/390 ?

[2017-11-09 08:41] qloudau commented on #2656
Hi @ismcagdas ,

I did not understand the solution you referred. Can you please provide a sample code for at least one action, please?

Thank you.

[2017-11-09 08:45] ismcagdas commented on #2656
Just try to add a custom route attribute to your controller like this:
 [Route("api/v{version:apiVersion}/test/[controller]")]

Please send your project to us via email if it does not work.

[2017-11-09 08:58] qloudau commented on #2656
Hi @ismcagdas ,

1) You can take fresh AspNet Zero project.
2) Import two packages Telerik.Reporting and Telerik.Reporting.Services.AspNetCore in web.host project.
3) Add Controller in web.host project which is as below and try to run the application.

[code]

You can refer below url of Telerik.

Let me know if you get stuck any point.

Thank you.

[2017-11-09 10:54] #2653 closed

[2017-11-09 11:50] qloudau commented on #2656
Hi @ismcagdas ,

Can you provide update on above issue, please?

Thank you.

[2017-11-09 12:41] alirizaadiyahsi commented on #2629
Hi @flexem,

We tested your scenerio. I added some custom code in hub class (in sendMessage method). But GC is working as expected.

Here is the screenshot of test:

![image](https://user-images.githubusercontent.com/4375000/32605906-5d71a3e8-c564-11e7-94c1-d75543e731f1.png)

If there is any test scenerio suggestion that you advice, we can test it as well.

[2017-11-09 13:05] Zonciu commented on #2639
Yes, update Castle.Windsor.MsDependencyInjection to 3.2.0 and this bug fixed.

[2017-11-09 13:05] #2639 closed

[2017-11-09 17:30] acjh commented on #1274
Not at the moment. Because `Required` attribute is inherited, `override` and even `new` don't work.

Related: [Is it possible to override the required attribute on a property in a model? - Stack Overflow](https://stackoverflow.com/questions/8903838/is-it-possible-to-override-the-required-attribute-on-a-property-in-a-model)
To remove `Required` validation completely, a custom validation attribute h

[2017-11-09 17:30] acjh commented on #1274
A workaround might be `override` to allow empty strings instead.
You need to make sure that it's set to empty string after mapping.

[code]

[2017-11-10 06:04] #2666 closed

[2017-11-10 06:20] ismcagdas commented on #2656
@qloudau we will check this problem in a short time.

[2017-11-10 06:38] hikalkan commented on #2665
Hi,

This exception message is actually very clear. You should call the method via POST instead of GET. Can you check that? If you pasted URL to browser's address bar then it will be a GET request and will be invalid.

[2017-11-10 09:13] KennyEng12 opened #2667 "AutoMapper.AutoMapperMappingException: Missing type map configuration or unsupported mapping."
Hi, I'm trying to map 2 entities with one dto, which has another 2 objects inside the dto.

And I'm getting:

May I know why is this happening? So far I know is because it can only map the top-level object, is this right?

![image](https://user-images.githubusercontent.com/29649512/32650778-fddf0674-c639-11e7-9827-5f7deab3a684.png)

[2017-11-10 09:20] acjh commented on #2667
Do that on the classes, instead of the properties.

[2017-11-10 09:24] KennyEng12 commented on #2667
Like this?

![image](https://user-images.githubusercontent.com/29649512/32651438-05a8d6a8-c63c-11e7-9071-b00845057970.png)

[2017-11-10 09:32] acjh commented on #2667
No, on `UserEditDto` and `PartnerDto`.

It can map nested objects only if it's the same nesting level.

Unless you're mapping from `PartnerInput`, you have to do:

[code]

[2017-11-10 09:36] flexem commented on #2629
Hi @alirizaadiyahsi ,
You can define a hub named TestHub which extend the signalr hub base class.
Then define a class named LargeOne which has a field with large bytes.
The LargeOne class implement ITransientDependency.(It is important!)
Finally Inject the LargeOne from the TestHub's constructor.
e.g.
`
public class TestHub : Hub
{
    TestHub(LargeOne largeOne){}

    public SendMessage(){}
}

pu

[2017-11-10 09:58] KennyEng12 commented on #2667
Where to implement this?
[code]

Is it a good practice that I use 2 dto as input parameters for the app service?

[2017-11-10 11:07] alirizaadiyahsi commented on #2629
@flexem, I repeated the steps but result is the same. (latest aspnet zero core & jquery template - with net framework 4.6.1)

Are you trying latest version of aspnet zero template?

[2017-11-10 12:36] coommark opened #2668 "Server Crashes after 1000 entries to Database"
I am using Abp 1.5.1 and using the code below to make database inserts:

[code]
When I insert 10 items, there is usually no problem. But when I insert say 2,000 items, IIS crashes, and I get this error in the Event Viewer:

[code]

Please what can I do about this? We are in production and this is killing me!

[2017-11-10 13:34] acjh commented on #2667
Use that wherever you are _trying to map 2 entities with one dto_.

It depends. What is your use case?

[2017-11-10 13:51] ismcagdas commented on #2668
@coommark maybe you should use raw sql for this specific case. Your code is very short and there is no point to optimize.

[2017-11-10 22:14] fretje commented on #2145
[SweetAlert](https://github.com/t4t5/sweetalert) doesn't look abandoned to me. Actually, the latest version (2.0.8) seems to be returning promises, so they can be chained the same like SweetAlert2.

The current abp.sweet-alert.js (from abp-web-resources) doesn't work with this latest version though.

So I have made an updated abp.sweet-alert.js which does support this latest version:

https://gist

[2017-11-11 02:31] natiki commented on #2668
@ismcagdas Seeing as though ABP is already using  https://github.com/zzzprojects/EntityFramework.DynamicFilters   any chance of integrating http://entityframework-extensions.net/ which includes bulk insert etc? And making them part of IRepository?

[2017-11-11 06:57] csharpweb opened #2669 "run test error,could not instantiate myproject.EntityFramework.myprojectDbContext"
abp package version v2.0.2
.net framrwork  4.6.1
exception message:
Castle.MicroKernel.ComponentActivator.ComponentActivatorException : ComponentActivator: could not instantiate myproject.EntityFramework.myprojectDbContext
---- System.Reflection.TargetInvocationException : 调用的目标发生了异常。
-------- System.InvalidOperationException : 序列不包含任何匹配元素

this exception trigger by dbcontext ctor function

public

[2017-11-11 07:03] acjh commented on #2669
Looks like the same issue solved in https://stackoverflow.com/questions/47095904/adding-unit-testing-in-abp-could-not-instantiate#comment81143996_47095904

[2017-11-11 07:32] csharpweb commented on #2669
I try to reinstall effort package,but it still exsit.

[2017-11-11 07:35] csharpweb commented on #2669
I can't open this link,because i am in china.

[2017-11-11 07:42] acjh commented on #2669
Try `Effort.EF6` package.

[2017-11-11 07:50] csharpweb commented on #2669
Exactly, that's Effort.EF6.

[2017-11-11 08:08] acjh commented on #2669
Are you using custom column types?

[2017-11-11 08:34] csharpweb commented on #2669
Property(x => x.Operator).HasColumnType("char").HasMaxLength(1);
just only this.

[2017-11-11 09:07] acjh commented on #2669
That's not supported: https://github.com/tamasflamich/effort/issues/10

Do this:

[code]

[2017-11-11 09:56] csharpweb commented on #2669
thanks
i use your code,it works.
like this:
`Property(x => x.Operator).IsFixedLength().IsUnicode(false).HasMaxLength(1);`
do not use if else.

[2017-11-11 09:56] #2669 closed

[2017-11-11 12:34] saeidmh83 commented on #2664
thanks for your reply but where is the answer?
I see your suggestion but not working for me! **Please Explain to me step by step to this change to help me find my problem if this feature is available.**

[2017-11-12 03:51] HP-dufeng opened #2670 "Unable install package Abp.Web.Api.OData.3.1.2 with dependencies problem"
### Github Issues

Attempting to resolve dependencies for package 'Abp.Web.Api.OData.3.1.2' with DependencyBehavior 'Lowest'
Install-Package : Unable to resolve dependencies. 'Microsoft.Extensions.DependencyInjection.Abstractions 2.0.0' is not compatible with 'Microsoft.AspNet.OData 6.1.0 constraint: Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0 && < 2.0.0)'.