[2019-10-15 11:03] #4146 closed

[2019-10-15 11:03] ismcagdas commented on #4641
Resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4924

[2019-10-15 11:03] #4641 closed

[2019-10-15 11:17] tanghaojie commented on #4925
![image](https://user-images.githubusercontent.com/14171892/66826848-fe6dbb00-ef7f-11e9-8356-4438c1beb49d.png)
![image](https://user-images.githubusercontent.com/14171892/66826909-2b21d280-ef80-11e9-9685-f9c9bf0235d1.png)
![image](https://user-images.githubusercontent.com/14171892/66826939-3aa11b80-ef80-11e9-9054-0785ef1cc8c5.png)

this is my swagger config, I have never modified anything today.

[2019-10-15 12:36] maliming commented on #4925
Could you check these issues?

https://github.com/aspnetboilerplate/aspnetboilerplate/search?q=Empty+or+invalid+anti+forgery+header+token.&type=Issues

View the documentation and your git history. Or compare the abp startup template code.
https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection

[2019-10-15 12:37] #4905 closed

[2019-10-15 12:37] hidayetsoltanzade commented on #4905
Already solved.. thank you for your reply @ryancyq..

[2019-10-15 19:32] ismcagdas commented on #4800
We decided to keep Static API for a while in order not to break existing apps for a while. We may remove it for the next major version.

[2019-10-15 19:32] #4800 closed

[2019-10-15 19:34] ismcagdas commented on #4711
Related to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4917

[2019-10-15 19:59] alaawahbah commented on #4711
the solution is ready and tested, i need to share it with your company

[2019-10-15 20:00] alaawahbah commented on #4711
ready for node and working on .net core ssr

[2019-10-15 20:16] gpcaretti opened #4926 "System.Web.HttpException when calling setting manager synchronously during AbpModule start up"
### Versions
* Abp 4.10.0
* .Net Framework 4.6.2

### Exception
System.Web.HttpException: Request is not available in this context

### Description and Source Error
The issue occur when trying to get an application setting value in the `postInitialize` method of the MVC module. **The issue does not occur with Abp v.4.9.0**.

[code]

### Stack trace
[code]

[2019-10-16 02:03] tanghaojie commented on #4925
i think is swagger.js not work in swagger, but i dont know how fix it

[2019-10-16 03:15] ryancyq commented on #4919
This looks more like signal r sticky connection issue rather than Abp.

You can try asking the question in Signal r Repository or Stackoverflow instead

[2019-10-16 03:17] ryancyq commented on #4917
Duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4711

[2019-10-16 03:17] #4917 closed

[2019-10-16 03:18] #4671 closed

[2019-10-16 03:22] maliming commented on #4926
Found to be related to this https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4532, I am checking it.

[2019-10-16 03:38] russellTgilbert commented on #4711
I'm in need of a solution for this as well. Have been searching for a way to implement for about a month now.

[2019-10-16 04:06] maliming commented on #4926
Maybe we should catch the exception, in some cases `HttpContext.Current?.Request` can't be used, like `PostInitialize` in this case.

This is Microsoft's design, I think we should not change it. We should modify our code to be compatible with it. (http://mvolo.com/iis7-integrated-mode-request-is-not-available-in-this-context-exception-in-applicationstart/)

@ryancyq  what do you think?

![image](h

[2019-10-16 05:39] sebitsi commented on #4800
@ismcagdas
What this decision exactly mean ?
Your will not upgrade to Automapper version 9 or something else ?

[2019-10-16 05:40] ismcagdas commented on #4800
We upgraded to AutoMapper9. But, we didn't remove MapTo extension method but marked it as obsolete.

[2019-10-16 05:41] sebitsi commented on #4800
Ok. Thanks.

[2019-10-16 05:42] ismcagdas commented on #4711
@alaawahbah could you share it in this issue ? Just the parts you have changed ?

[2019-10-16 05:44] #4919 closed

[2019-10-16 05:51] ismcagdas commented on #4925
Does this files (Swagger.js and S.js) load on swagger UI in debug mode ?

[2019-10-16 05:54] tnlthanzeel opened #4927 "Insert or update database on exception"
Hi, i have requirement that on exception inside the catch block i have some code that inserts or updates a status on a database table. but with asp abp the insert or update does not persist data inside the catch block on exception. please help. im using ABP.entityframework version 4.3

[2019-10-16 06:00] tanghaojie commented on #4925
S.js and swagger.js are same, both of them is loaded.
![image](https://user-images.githubusercontent.com/14171892/66892079-4858ae80-f01d-11e9-84a8-0fba7383b581.png)

[2019-10-16 06:05] ismcagdas commented on #4925
I couldn't understand. If a JS file is loaded in your html, it must be executed. What happens when you put a "debugger;" into the script file and open the swagger page again ? Can you reach to that point when viewing the page in the browser ?

[2019-10-16 06:07] ismcagdas commented on #4927
@tnlthanzeel you can create another UnitOfWork with the TransactionScopeOption.RequiresNew and save your record.

[2019-10-16 06:08] tnlthanzeel commented on #4927
@ismcagdas , please can you provide a sample code

[2019-10-16 06:10] ismcagdas commented on #4869
@hitaspdotnet I will check your suggestion, thank you for sharing it.

[2019-10-16 06:12] ryancyq commented on #4926
Looks like `HttpContext.Current` behaves differently for synchronous vs asynchronous context.

[2019-10-16 06:19] tanshanli commented on #4871
@ismcagdas @maliming
I upgraded the project to Abp4.10.0. I retested it and came to the following conclusion.
1. Use (dbContextProvider.GetDbContext()
                  .Database.SqlQuery) way query, query speed is very fast, The problem was fixed.
2. Use Abp linq to query,The query speed has been greatly improved, but it's still very slow.

The following image shows a comparison of the execution

[2019-10-16 06:25] tnlthanzeel commented on #4927
i tried the following but didnt work. The following method is called inside the catch block.

[UnitOfWork(TransactionScopeOption.RequiresNew)]
        private async Task UserAccessFailedIncrementer(string username)
        {

            var user = await _userRepository.FirstOrDefaultAsync(f => f.UserName == username);
            user.IncrementFailedAccessCount();
            _userRepository.Upda

[2019-10-16 06:25] maliming commented on #4871
I will continue to check it out, thanks for feedback.

[2019-10-16 06:40] maliming commented on #4927
@tnlthanzeel see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/8270b3e9197a69be71ea2b8d1de1ed7a073dc69c/src/Abp/Auditing/AuditingHelper.cs#L132

[2019-10-16 06:43] tanghaojie opened #4928 "Entity Id column not auto increase, when other column has DatabaseGenerated attribute"
[code]
I use code first, ef npgsql (postgresql) .
This is my test entity, when i add `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` attribute to Order and Order2 column , Id column not auto increase .
Migration code is :
[code]
You can see Id column not set `identity: true`. To solve this problem , the only way i know is :
[code]
is it right to do like this? or why designed like this?

[2019-10-16 06:50] tnlthanzeel commented on #4927
this worked, thanks a lot

[2019-10-16 06:50] #4927 closed

[2019-10-16 07:01] maliming commented on #4871
@tanshanli
Please use the `AsNoTracking` feature
![image](https://user-images.githubusercontent.com/6908465/66895556-b1442480-f025-11e9-9927-0bf767c788b8.png)

[2019-10-16 07:01] #4871 closed

[2019-10-16 07:10] maliming commented on #4928
[code]

[2019-10-16 07:10] #4928 closed

[2019-10-16 08:22] gpcaretti commented on #4926
Thank you very much. Just a fix to your code as you forgot an `Async`:

[code]

[2019-10-16 09:33] alaawahbah commented on #4711
For Node

1. Update angular to version 8 `ng update` after update you will test app and run it `ng serve --o` and make sure it work well thwn you can continue in next steps
2. Installing Angular Universal
`npm install --save @angular/platform-server @nguniversal/module-map-ngfactory-loader ts-loader @nguniversal/express-engine`
3. Editing the client root `src/root.module.ts`
`BrowserModule.withSer

[2019-10-16 18:59] MarianoGomezBidondo commented on #3606
I had the same problem, and it was because I changed the name of the XXX.Web.Host project. It was solved by changing where it says GetManifestResourceStream ("XXX.Web.Host.wwwroot.swagger.ui.index.html") by GetManifestResourceStream ("YYY.Web.Host.wwwroot.swagger.ui.index.html") where YYY is the new name of the project (YYY.Web.Host)

[2019-10-17 05:44] #4926 closed

[2019-10-17 05:47] #4856 closed

[2019-10-17 09:03] sumayn opened #4931 "unitofwork commit Issues,double Insert."
I know that the transaction will be submitted when the appservice method is closed, but I created a requiresnew transaction in this method. Why will the database be updated twice after the end of the method?
In a self built transaction, it's OK to just execute insert, but my operation is that I have an entity that will be associated with the data inserted into a table when updating the entity. At

[2019-10-17 09:34] maliming commented on #4931
The InsertJob method may already be in a uow. Do not operate on the same entity in multiple uows.

[2019-10-17 09:42] sumayn commented on #4931
I know it's wrong, but I need to know the principle，please

[2019-10-17 09:52] maliming commented on #4931
The principle is related to EF & Transaction. You can view related documents and search related articles.

[2019-10-17 09:52] #4931 closed

[2019-10-17 12:41] mkamranaslam opened #4932 "Permissions and OrganizationUnitRoles"
Recently I implemented the OU structure, and I am facing an issue, I don't know whether its implementation is in this way or what. The scenario is as follows:

1. Created two roles => X and Y. With Different Permissions Assigned to them
2. A User, let's say, ABC, with Role X.
3. An OU with OURoles => X and Y.
4. User ABC is associated with OU in the OUUsers table.
5. When I check Permissions, for

[2019-10-17 15:51] ryancyq commented on #4932
Hi @mkamranaslam this is by design.

When a user assigned to an OU, the permission of the role that is assigned to the OU will be given to the users of the OU.

[2019-10-17 15:52] ryancyq commented on #4932
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/8ce65ab656513ccbd9b5a85bc0c87fa9a9b7a2f1/src/Abp.ZeroCore/Authorization/Users/AbpUserStore.cs#L720-L726

Abp gets roles of a user via `UserRole`, `UserOrganizationUnit`-> OrganizationUnitRole`

[2019-10-18 02:46] #4261 closed

[2019-10-18 04:10] mkamranaslam commented on #4932
Thanks. Yeah, I figured that out, going through the repo code.

From logical/business point of view, shouldn't it be the other way around?
User's Permissions should be determined from the role he is assigned to not the whole organization. If an OU has both X and Y roles, and there are two users assigned to this OU, Manager and Cashier, Manager has X and Y both role. But Cashier has only Y role, li

[2019-10-18 06:00] ismcagdas commented on #4932
@mkamranaslam If you don't assign any roles to OUs you can use it like that.

[2019-10-18 07:34] gpcaretti opened #4934 "ERROR in Abp.EntityHistory.EntityHistoryHelper: Unexpected State - Unchanged"
### Versions
* Abp 4.10.0
* .Net Framework 4.6.2

### Description and Source Error
Log is full of the following lines not present with Abp v.4.9.0;

[code]

### Severity level
Non blocking issue

### Remarks
Browsing the source code of `EntityHistoryHelper`, I have seen some refactoring and the introduction of a base class.
Logs lines are due to a
[code]

I don't know if it hides some major proble

[2019-10-18 07:37] maliming commented on #4934
What is the complete stack information?
Can you provide the steps to reproduce the problem?

[2019-10-18 07:43] gpcaretti commented on #4934
I don't have it as I didn't recompile it. If you need it I will try do compile your libs

[2019-10-18 07:47] maliming commented on #4934
cc @ryancyq

[2019-10-18 09:04] gpcaretti opened #4935 "Javascript generation error?"
### Versions
* Abp 4.10.0
* .Net Framework 4.6.2

### Description of the possible error
After the rename of `Get, GetAll, Create, Update and Delete` with the postfix `Async`, automatic generation of javascript continue reporting ajax call with the old names, and **they works**.
Eg.

[code]

I don't know if it was wanted or if it is an oversight, but I would have expected to see calls with the 'Asy

[2019-10-18 09:45] #4935 closed

[2019-10-18 11:11] ryancyq commented on #4934
We can change the logging level to `DEBUG` instead

[2019-10-18 11:23] mkamranaslam commented on #4932
Then what's the purpose of OURoles left.

[2019-10-18 13:05] gpcaretti commented on #4934
Or `INFO`, instead

[2019-10-18 15:25] ryancyq commented on #4934
`INFO` probably won’t be suitable. Having State in  Detached/Unchanged is normal. Therefore, such additional inform should be debug level

[2019-10-19 01:34] ryancyq commented on #4932
Hi @mkamranaslam, OURole is design for OU specify permission.

if a user from OU1 transfer to OU2, the user permission will remain the same but the OU leave permission will be changed.

[2019-10-19 01:44] ryancyq commented on #4906
https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Dockerfile

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Dockerfile

[2019-10-19 08:31] armandpostma opened #4937 "Feature Management System"
I have been running into some problems while working with the Feature Management system.

The first issue is that with multi-tenancy turned on, the Edition and Tenant Features seem to work as expected. However when I turn off multi-tenancy, the Edition features appear to be totally ignored by the feature checker. Additionally, setting them using this configuration through the IAbpZeroFeatureValueS

[2019-10-19 09:18] GerryGe opened #4938 "asp.net core mvc template v4.8.0 edit(tenants/user/role) don't work."
Detail:
* Abp v4.9.0/v4.10.0
* .Net Core

I down the latest asp.net core mvc (with zero module) template. then start to debug, I found the edit of tenants, user and role both didn't work.

It prompt an error has occurred! Error detail not sent by server.

Then I click the OK button, the page will block after.
I cannot find any error logs in App_Data\Logs

![image](https://user-images.githubusercon

[2019-10-19 13:28] hidayetsoltanzade opened #4939 "Session timeout occurs in less than 5 minutes"
I'm using Asp.Net Boilerplate free startup template (ASP.NET MVC 5.x).
-Abp version 3.4.0.0
When user not checked remember me, expiresUtc is 30 minutes till now.

[code]
But sometimes, session expires in less than 5 minutes. Could you please help me to figure out the problem.

[2019-10-19 18:39] ismcagdas commented on #4939
@hidayetsoltanzade does that happen on your PC or production server ?

[2019-10-19 18:57] ismcagdas commented on #4938
@GerryGe thanks, we will check it.

[2019-10-19 19:01] ismcagdas commented on #4937
@armandpostma Edition and Feature are designed to be used when multi tenancy is enabled. So, your first problem is something expected. Are you trying to use it for Users instead of Tenants ?

Where do you call `Configuration.ReplaceService` ? Is it in PreInitialize method of one of your modules ?

[2019-10-19 19:08] ismcagdas commented on #4932
@mkamranaslam the purpose is to assign roles of an OU to all of its members. ABP already provides assigning different roles to different users by default.

[2019-10-19 19:08] #4932 closed

[2019-10-20 04:39] cunzhu opened #4940 "Why is the AbpUserTokens table always empty"
- Your Abp package version.
  4.60
- Your base framework: .Net Framework or .Net Core.
 .Net Core 2.2
- Exception message and stack trace if available.
 Empty
- Steps needed to reproduce the problem.
User tokens are created when users login or API provider, but there is no data in the abpusertokens table of the database. Some article introduces that setting the following code in the module can cle

[2019-10-20 05:40] maliming commented on #4938
Related: https://github.com/aspnetboilerplate/module-zero-template/pull/169

[2019-10-20 07:58] EslamElmadny commented on #4520
@maliming  @ismcagdas any updates please ?

[2019-10-20 08:58] armandpostma commented on #4937
@ismcagdas No, for user specific things we’ll be using Roles and Permissions.

In our setup every customer (as in a company) gets their own database and instance of the application and sometimes even their own server. So it’s basically a textbook single-tenant application.
We do however offer several tiers (editions) of that application. Depending on the tier of the application that the customer s

[2019-10-20 09:13] ryancyq commented on #4940
Hi @cunzhu , user token removal was implemented in https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4441

By default, the worker run at an interval of 1 hours, you can configure it yourself. See https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#user-token-removal-period

The user token should be generated by Microsoft.AspNetCore.Identity via [IUserAuthenticatorKe

[2019-10-20 09:24] maliming commented on #4520
@EslamElmadny Maybe next week, I will be as soon as possible.

[2019-10-20 10:00] bxjg1987 opened #4941 "Independent, modular development with user interface and storage"
I am using abp mvc5.x 4.9

I wanted to develop a separate plug-in with a user interface and storage, and then load the module (and its contained submodules) through the Plugins directory.

[PluginDemo](https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/PlugInDemo) I have ever seen, but it is just a simple plug-in, there is no storage and user interface.

Also see [MultipleD

[2019-10-20 10:58] maliming commented on #4941
This has an example of an asp net core version.

see:
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1476
https://github.com/aspnetboilerplate/modular-todo-app

The ABP framework will automatically register the entity and the corresponding DbContext to the DI container:

[2019-10-20 11:21] bxjg1987 commented on #4941
Thank you very much.

[2019-10-20 11:21] #4941 closed

[2019-10-21 02:52] imgd opened #4942 "Can ABP modify database connection at runtime?"
There is a database divided into years, such as db2018 and db2019. The data structure of each year's database is the same. Now I need to modify the connection according to the parameters at runtime to switch to different annual libraries. Can I do this?

[2019-10-21 02:57] maliming commented on #4942
Please refer to `DbPerTenantConnectionStringResolver`, if the tenant has its own connection string, it will use the tenant's connection string.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.ZeroCore.EntityFrameworkCore/Zero/EntityFrameworkCore/DbPerTenantConnectionStringResolver.cs#L13

[2019-10-21 02:57] #4942 closed

[2019-10-21 03:47] imgd commented on #4942
thanks

[2019-10-21 06:03] #4906 closed

[2019-10-21 06:25] #4940 closed

[2019-10-21 06:28] cunzhu commented on #4940
I'm still working on it. How did it close so soon, haha

[2019-10-21 06:35] ismcagdas commented on #4940
@cunzhu please reopen if you can't solve it.

[2019-10-21 06:39] cunzhu commented on #4940
I'm still trying. If it doesn't work out, I'll open it later. Thank you

[2019-10-21 07:10] #4934 closed

[2019-10-21 09:28] neuhausf commented on #4497
It is relatively easy to achieve using DataFilters:
Override the following method in your DbContext.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3347eacf2187efcd9e4c8080ef9075c57ddd2bff/src/Abp.EntityFramework/EntityFramework/AbpDbContext.cs#L492
[code]
It would be nice if this filter is built-in. Consider also integrating a `CreationAuditPropertiesDisabled` filter.

[2019-10-21 11:38] iyilm4z commented on #4939
@hidayetsoltanzade please take a look at [this](https://stackoverflow.com/questions/32191685/asp-net-identity-session-expires-too-fast-on-prod-server) and [this](https://stackoverflow.com/questions/37086645/how-to-set-asp-net-identity-cookies-expires-time) may help you. if not, could you please share your source code which reproduce the issue?

[2019-10-21 12:20] iyilm4z commented on #4838
@hikalkan as i see the latest commit done on Oct 30, 2018 by it's prime contributor. it means this repo is not so active. what do you think about using a better supported template? [AdminLTE](https://adminlte.io/themes/AdminLTE/index2.html) is like open source community standard for most. few months ago i gave a try for changing angular ui with [this](https://github.com/mledour/angular-admin-lte)

[2019-10-21 14:19] #4877 closed

[2019-10-21 14:20] #4867 closed

[2019-10-21 14:21] #4768 closed

[2019-10-22 03:15] ryancyq commented on #4937
@armandpostma can you reproduce the issue with the abp template?

https://aspnetboilerplate.com/Templates

[2019-10-22 06:43] hikalkan opened #4943 "Consider to change the BSB Admin theme"
[AdminLTE](https://adminlte.io/themes/AdminLTE/index2.html) can be a good alternative.

[2019-10-22 06:44] hikalkan commented on #4838
I agree. Created an issue to follow it: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4943

Any PR would be appreciated as always :)

[2019-10-22 06:48] iyilm4z commented on #4943
i'm starting to work on it:)

[2019-10-22 07:42] hikalkan commented on #4943
Great!

[2019-10-22 08:04] maliming commented on #4520
@EslamElmadny aspnetboilerplate/abp-ng2-module#55

[2019-10-22 08:04] #4938 closed

[2019-10-22 08:31] EslamElmadny commented on #4520
Thanks for your support , now I can update abp-ng2-module and user options params in message service ?

[2019-10-22 09:31] kwstasarva commented on #4899
@cokceken Glad I've helped :)

[2019-10-22 09:35] maliming commented on #4899
@kwstasarva 💯  I will update the template.

[2019-10-22 09:36] cunzhu commented on #4940
The problem has been solved. Thank you very much!

[2019-10-22 09:39] kwstasarva commented on #4899
@maliming Thank you for the awesome work! Glad I've helped!

[2019-10-22 11:14] armandpostma commented on #4937
@ryancyq Sure. I’ve created a new template using the generator (https://aspnetboilerplate.com/Templates) on the website called “FeatureIssues”.

It can be downloaded here: https://drive.google.com/open?id=1XDwVqEB7BqA789iVJQPzoCAIqJ6vjFSV

In the **FeatureIssues.Core** project:
- I’ve changed the `FeatureIssuesConsts.MultiTenancyEnabled` to FALSE.
- Added a `MyCustomFeatureValueStoreImplementation

[2019-10-22 11:38] ismcagdas opened #4944 "Add Circuit-Breaker for SignalR reconnect loop"

[2019-10-22 15:08] ChiakiYu opened #4945 "JwtBearerHandler And AuthConfigurer Error"
* Abp package version.
* base framework: .Net Core 2.2.
* Exception message and stack trace if available.
[code]

Excuse me.

What could be the reason for this error?

Thanks.

[2019-10-22 15:13] hitaspdotnet opened #4946 "Migrate from 4.10.0 to 5.0.0"
I have try to migrate my net core 2.2 to 3.0 using version 5. All services throw LINQ can not translate exception

    source: Where<UserRole>(
        source: DbSet<UserRole>,
        predicate: (u) => (Unhandled parameter: __ef_filter__p_0) || ((IMayHaveTenant)u).TenantId == (Unhandled parameter: __ef_filter__CurrentTenantId_1)),
    predicate: (u) => Any<UserListDto>(
        source: (Unhandled

[2019-10-23 02:23] ChiakiYu commented on #4945
There is no problem with local testing.
The production environment is all this problem.

[2019-10-23 02:29] maliming commented on #4945
You can output the `qsAuthToken `to the log and check it in the production environment.

[2019-10-23 02:29] #4945 closed

[2019-10-23 02:37] maliming commented on #4946
Can you provide a project that can reproduce the problem?

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e659ffcaece6576b8f09a852c2f5af2905d11f16/src/Abp.AspNetCore/AspNetCore/EntityHistory/HttpRequestEntityChangeSetReasonProvider.cs#L27

I will update it.

[2019-10-23 02:58] hitaspdotnet commented on #4946
@maliming I'm a customer (sadly expired one) of ABZ v 7.1.0.
All tests where that contains `GetAll().Where()` or `WhereIf()` throws exception.
Users, Rules, Tenants, OrganizationUnit, ... and all my owned services produced by RADTool.

[2019-10-23 03:12] hitaspdotnet commented on #4946
[code]

[2019-10-23 03:16] ryancyq commented on #4946
@maliming can we check in what scenario the entity history reason log being generated?

The message is logged at debug level, so it should not affect the application.

[2019-10-23 03:27] ryancyq opened #4948 "Entity history selectors were ignored."
Abp 4.10

Auditing attributes became the main determining factor of whether entity history will save the entity history log.

In https://aspnetboilerplate.com/Pages/Documents/Entity-History, both configuration Selectors and Auditing attributes should be used in entity history system.

Since the changes in #4870 #4843, the selectors configuration was not used correctly to determine entity to be aud

[2019-10-23 05:14] maliming commented on #4946
@ryancyq Yes, we should investigate it.

[2019-10-23 05:48] ismcagdas commented on #4946
For your query `.ToLower()` and `.Trim()` might be causing the problem. Could you try to remove them and try again ?

[2019-10-23 05:50] #4899 closed

[2019-10-23 07:07] demirmusa commented on #4946
It looks like, its happen because of the efcore3.0 strategy. They stop running client-side queries without warning. Check [this](https://devblogs.microsoft.com/dotnet/announcing-ef-core-3-0-and-ef-6-3-general-availability/#restricted-client-evaluation). That's why, you better run as much as possible code on SQL and get as less as possible data to client, then do queries which should be located in

[2019-10-23 07:44] hitaspdotnet commented on #4946
@demirmusa Thanks for helpful link. This solved many service's queries but ABP internal services thrown. I think framework's services needs code review.
Organization Units, Edition Subscribes, Users grouping with Rules, ...
Please try ANZ predefined tests to reproduce the problem.

[2019-10-23 07:55] demirmusa commented on #4946
We checked them before releasing v5.0. I will check them again.
Also, if you share any error you've encountered, I can check them out, too.

[2019-10-23 08:03] bxjg1987 opened #4949 "Ef6.3 migration issues prevent upgrade to abp5.0"
My ABP mvc5. X

Abp5.0 relies on ef6.3, but there are many problems in the migration of ef6.3

Specifically,

After upgrading the abp.5.0 ABP package, the compilation succeeded after fixing the upgrade problem.

After upgrading the abp.5.0 ABP package, the compilation succeeded after fixing the upgrade problem.

Execute the migration command： add migration update5.0
to report an error, and then re

[2019-10-23 09:09] sajasbana opened #4950 "use code analysis code tool"
Dears,
when I download template from site and open solution then build
i tried Microsoft analyzer code or re-sharper, it give to many warning and suggestions and most of them are right one of examples
e.g i have this service method
Task<User> GetUserOrNullAsync(UserIdentifier userIdentifier)
then suggestion says that input can be null so i have to put if statement to check

You did great work in t

[2019-10-23 09:18] demirmusa commented on #4946
I have checked them. They all passed.
I'd appreciate it if you share problem that you've encountered.

[2019-10-23 10:58] isystem20 opened #4951 "Custom Theme for Netcore+Angular"
Is there a documentation I can follow to change the Netcore+Angular template's theme into other theme for example this theme [OneUI Bootstrap](https://themeforest.net/item/oneui-bootstrap-admin-dashboard-template-ui-framework-angularjs/11820082?gclid=CjwKCAjw9L_tBRBXEiwAOWVVCT96Vaz0VRC_nrkLgK95XC18CyEcdpKzZqQ3Ah4BqMRwF-QouCXBaRoCxCUQAvD_BwE) ?

Thank you

[2019-10-23 11:11] KhaledSMQ commented on #4946
I have the same problem using fresh template test
[code]

[2019-10-23 11:15] demirmusa commented on #4946
Hi @KhaledSMQ.
Can you please also share your linq query.

[2019-10-23 11:19] KhaledSMQ commented on #4946
Hi @demirmusa
[code]
I upgraded ASP-Core + angular template and only run the test

[2019-10-23 12:18] demirmusa commented on #4946
I already upgrade that project to .net core 3.0. It is not released but it works without any error.
You can check commits to upgrade to core3.0.
 [module-zero-core-template/commits/aspnetcore3.0](https://github.com/aspnetboilerplate/module-zero-core-template/commits/aspnetcore3.0)

[2019-10-23 13:09] demirmusa commented on #4950
What is your ABP version?
What is your base framework?

I analyzed a couple of projects with ReSharper Solution-Wide Analysis and Microsoft Code Analysis. I did not see a critical error as you mentioned. If you share analyzes with us, we can fix overlooked places.

Thanks.

(By the way, there may be no need to perform a null check in some places because errors are automatically detected.)

[2019-10-23 13:20] maliming commented on #4946
@ryancyq
Currently only found background tasks will cause this kind of log(`HttpRequestEntityChangeSetReasonProvider - Unable to get URL from HttpRequest, fallback to null`).

In other words: Any non-web thread that uses a unit of work.

[2019-10-23 16:40] mkamranaslam opened #4952 "Circular Dependency Exception When using Custom Repository Base"
Hey Everyone, I am facing a circular dependency issue while trying to implement a custom repository base class.
Here is my code for the base repository.
[code]
*ISigmaSession in inherited from IAbpSession
[code]
Everything works fine if I only Inject the DBContext in Repo, but if I inject my ISigmaSession or IUnitofWork it gives circular dependency exception for that.

`DEBUG 2019-10-23 18:24:41,8

[2019-10-23 16:57] #4911 closed

[2019-10-23 16:57] #4914 closed

[2019-10-24 00:59] maliming commented on #4952
It seems that your `SigmaSession ` caused a circular dependency.
Please share the `SigmaSession` class code.

[2019-10-24 01:07] maliming commented on #4951
There is currently no document to introduce it.

I believe that updating the theme of the abp angualr template should not be too complicated, you can try it.
https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/angular/

[2019-10-24 01:07] #4951 closed

[2019-10-24 01:20] maliming commented on #4949
It seems that we need to wait for a new version of EF 6. The milestones of EFd 6.3.1 and 6.4.0 have some bugs.

https://github.com/aspnet/EntityFramework6/milestone/14
https://github.com/aspnet/EntityFramework6/milestone/15

[2019-10-24 02:09] yangy9593 opened #4954 "SPA and MPA in the same project"
Want to add support for single page and multi page at the same time, rather than single page or multi page only

[2019-10-24 02:21] maliming commented on #4954
Do you mean abp startup template?

[2019-10-24 02:21] mkamranaslam commented on #4952
SigmaSession for now is an empty class derived from IAbpSession.
It is not just because of injecting SigmaSession.
I tried injecting IUnitofWork Also, that again have me this error

[2019-10-24 02:22] bxjg1987 commented on #4949
@maliming Ok, thank you!

[2019-10-24 02:22] #4949 closed

[2019-10-24 02:24] maliming commented on #4952
Can you use the abp startup template to provide a project to reproduce the problem?

[2019-10-24 02:43] yangy9593 commented on #4954
yes

[2019-10-24 04:24] mkamranaslam commented on #4952
Here is a link to the sample project, which depicts the problem with injecting IUnitOfWork into Repo base.
[Project Sample](https://drive.google.com/open?id=12sKg5OJYFMLed33w5pi249okpwOAlx6V)

[2019-10-24 04:45] sajasbana commented on #4950
@demirmusa
I didn't found critical issues, most of them are warnings for the tool and info messages

just say these because these messages help to coding rules and best practice

but since errors are automatically detected no need to worry and these messages

[2019-10-24 05:35] maliming opened #4957 "UserTokenExpirationWorker should disable the tenant filter when deleting data."

[2019-10-24 05:48] ismcagdas commented on #4950
@sajasbana if the input is null, this method will not be executed at all. Framework handles that automatically. So, some suggestions might be misleading. Also, we are already using Resharper.

[2019-10-24 05:48] #4950 closed

[2019-10-24 05:55] #4946 closed

[2019-10-24 08:49] maliming commented on #4952
hi @mkamranaslam
You can't depend on or indirectly depend on any component that might use the repository in the `RepositoryBase`. Otherwise it will cause a cycle dependency.

[2019-10-24 08:49] #4952 closed

[2019-10-24 09:44] mkamranaslam commented on #4952
Then how is it possible to inject/ use IAbpSession in repository base so I can override some functionality or implement some logic on base of IAbpSession.

[2019-10-24 15:33] daniel-luberda opened #4959 "postgresql - EF core 3.0 migration compatibility"
There are many issues when using postgresql. Some of them are:

### Only base entity types can be mapped to a table.

Example:
[code]

This can be easily solved with:

[code]

### A filter may only be applied to the root entity type in a hierarchy.

Example:
[code]

_Thanks for a great framework_

[2019-10-24 21:02] vdurante opened #4960 "Unable to define custom repository"
I am trying to create a custom repository, but I am unable to do so. Could someone help me out?

Error
[code]

EF Core Layer -> CadastroRepositoryBase.cs
[code]

EF Core Layer -> CadastroRepository.cs
[code]

Domain Layer -> ICadastroRepository.cs
[code]

[2019-10-25 00:29] maliming commented on #4960
Please check the documentation
https://aspnetboilerplate.com/Pages/Documents/EntityFramework-Integration#custom-repositories

[2019-10-25 00:31] maliming commented on #4959
Thanks for the feedback, I will check it out.

[2019-10-25 03:21] maliming commented on #4959
I guess you used the `ChangeAbpTablePrefix `method.

Temporary solution:
Customize your own `MyChangeAbpTablePrefix`.

[code]

[2019-10-25 03:21] heyixiaoran opened #4961 "Upgrade to .net core 3.0 error"
* .Net Core: 3.0
* Abp: 5.0.0

I have a web api project base on .net core 2.2. Now I try to upgrade to .net core 3.0 and abp 5.0.
Then run .
"System.NotSupportedException:“ConfigureServices returning an System.IServiceProvider isn't supported.”"

`
public class Startup
    {
        public IConfiguration Configuration { get; }

        public Startup(IConfiguration configuration)
        {

[2019-10-25 03:36] isystem20 opened #4963 "Auto migrate database"
I am trying to publish the aspboilerplate in Azure to test it. How to make it run the migrate function to generate database in Azure?

Something like this code:
services.BuildServiceProvider().GetService<MyDatabaseContext>().Database.Migrate();

Thank you

[2019-10-25 03:39] maliming commented on #4963
see https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/#apply-migrations-at-runtime

[2019-10-25 03:39] #4963 closed

[2019-10-25 03:49] maliming commented on #4961
You can refer to the template code (branch: `aspnetcore3.0`)
https://github.com/aspnetboilerplate/module-zero-core-template/tree/aspnetcore3.0

[2019-10-25 05:55] #4959 closed

[2019-10-25 06:41] heyixiaoran commented on #4961
I found in the template code is .net core 2.2 style in the Program.cs file.

[code]
Not .net core 3.0 style.

[code]

So it must be .net core 2.2 style in version 5.0.0.
Does it change to .net core 3.0 style in next version ?

[2019-10-25 13:17] ismcagdas commented on #4963
@isystem20 probably PostInitialize method of the EntityFrameworkModule is better.

[2019-10-25 13:43] ismcagdas commented on #4943
@iyilm4z thank you for your effort 👍 .

We will be releasing ASP.NET Core 3.0 version of module-zero-core-template. Just wanted to inform you so you can align your work with that.

DataTables would be great. Dashboard and Home pages are not necessary at the moment.

[2019-10-25 13:54] iyilm4z commented on #4943
@ismcagdas your wellcome:)

Yes i know about it.

Okay i'll implement DataTables as well and for dashboard i'm gonna do something fancy:)

[2019-10-25 13:58] daniel-luberda commented on #4959
Thanks for a fast fix. As to the second issue, I'm not sure if it's caused by my code. I don't use any customisations related to filters. If you see the stack trace, the expression is a generic one (from aspnetboilerplate). Wouldn't https://github.com/aspnetboilerplate/aspnetboilerplate/commit/77e7efdec4243c3ef3ca2e1487eeb98eaada5265 also fix the second issue?

[2019-10-25 14:17] ismcagdas commented on #4952
@mkamranaslam I don't know your case very well but RepositoryBase shouldn't contain much logic. You can instead use Domain Services for that.

[2019-10-25 14:24] ismcagdas commented on #4520
@EslamElmadny yes, it is on npm.

[2019-10-25 17:55] arpitce27 opened #4964 "Module Base Policy - for all AppPermissions"
For application services, I have tenant based policies and for that I wants to create a Policy Provider based on AppPermissions (based on that I figure the which app service they are referring to), when any app service class called I will check for all policies (some default business logic and additional tenant based policy) that applies for that module.

What I think: I can create a CustomConfigu

[2019-10-26 00:56] isystem20 commented on #4963
@ismcagdas Thank you for your response.
I tried adding it postInitialize of EFModule uing IApplicationBuilder but I am having errors for it was not registered.

Internal Server Error
An error occurred while starting the application.
HandlerException: Can't create component 'NEXARC.EntityFrameworkCore.NEXARCEntityFrameworkModule' as it has dependencies to be satisfied.

'NEXARC.EntityFrameworkCore.

[2019-10-26 04:11] maliming commented on #4959
@daniel-luberda Can you provide a simple project to reproduce the problem?

[2019-10-26 04:15] maliming commented on #4963
@isystem20
Try using `IocManager` to resolve the service in the `PostInitialize` method.

[2019-10-26 18:05] AllyMurray opened #4965 "Update to React 16.11.0"
As we already know the React tests do not work, I would like to get this fixed, I had planned to do this before now but have been too busy. Before fixing the tests I thought it would be worthwhile updating the packages again.

Before doing so I thought it was worth mentioning that updating React from 16.8.6 to 16.11.0 introduces console warnings due to some [lifecycle events being deprecated](http

[2019-10-27 07:17] ismcagdas commented on #4965
I think you can upgrade all dependencies.

[2019-10-27 07:56] EslamElmadny commented on #4520
Many Thanks :)

[2019-10-27 13:22] EslamElmadny commented on #4520
Sorrry but I'm getting this error
![image](https://user-images.githubusercontent.com/38657564/67635221-94390c80-f8d5-11e9-897b-771960c6b436.png)

Here specifically
![image](https://user-images.githubusercontent.com/38657564/67635253-de21f280-f8d5-11e9-99e1-b465951baf0a.png)

Tried :   "sweetalert2": "^8.18.6" and "sweetalert2": "^8.8.0"
"abp-ng2-module": "^5.0.0",
"abp-web-resources": "^4.1.0",

[2019-10-27 19:16] totpero commented on #4943
@iyilm4z
when do you plan to do this?
do you have a repo for this?
I want to contribute on this ...

[2019-10-27 19:35] iyilm4z commented on #4943
@totpero hi my friend.

It will be ready for mpa until end of this week if my personal plans let me go.

Sure. But i have nothing like to-do list. Check the repo and you tell me what you can do for us.

First of all, i didn't know there was a repo like that, thanks for mentioning. Secondly, yeah probably we will have something similar to that, you know it's the same theme.

[2019-10-28 00:25] maliming commented on #4520
hi @EslamElmadny Can you provide a project to reproduce the problem?

[2019-10-28 00:35] maliming opened #4966 "Remove non-sweetalert parameter(isHtml)."
![image](https://user-images.githubusercontent.com/6908465/67644610-ce4df100-f95d-11e9-9f44-92311bf06dfb.png)

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3d59423d93f88210f5f53fe2a80da6e08a408721/src/Abp.Web.Resources/Abp/Framework/scripts/libs/abp.sweet-alert.js#L44

https://github.com/sweetalert2/sweetalert2/pull/1515

[2019-10-28 01:14] maliming commented on #4961
@heyixiaoran We will use the asp net core generic host.

[2019-10-28 06:10] yinchang0626 commented on #4238
@ismcagdas keep going in abp.Vnext
i fork a [repository](https://github.com/yinchang0626/abp/tree/feature/nhibernate.core) to do it
and create Volo.Abp.NHibernate and Volo.Abp.NHibernate.Tests .
but doesn't match all featrue of abp until now.
may abp team help to integration nhibernate module to aspnetboilerplate or abp?

[2019-10-28 08:38] #4966 closed

[2019-10-28 09:08] #4961 closed

[2019-10-28 09:16] AllyMurray commented on #4965
Ok will do, I have all updated except for @types/react-router-dom & abp-web-resources, those two are major version changes so I will have to read the release notes for breaking changes.

Should get round to this later today.

I am going to open a separate issue for the upgrade to Ant Design v4, I plan to create a branch now for this upgrade and start migrating using their latest alpha release. The

[2019-10-28 16:04] yrk1436 commented on #3114
hey @ismcagdas, @hikalkan
Sorry to open the old thread. I'm trying to have API layer in separate server. if I buy the product, will you guys able to help with a working sample to achieve this? I tried to write my own SignInManager and remove the dependency b/w MVC & Core layers, but couldn't achieve so far. My email is yrk1436@gmail.com, please shoot an email ASAP.

[2019-10-30 03:24] heyixiaoran opened #4970 "linq error"
After upgrade .net core 3.0 and ABP 5.0.0.  linq error .
System.InvalidOperationException: Client side GroupBy is not supported.

`var groups = _mainInstrumentRepository.Query(c => c.Where(o => o.TradingDay <= tradingDay).OrderByDescending(x => x.TradingDay).GroupBy(x => x.ProductCode));`

[2019-10-30 04:06] isystem20 opened #4971 "Dependency not registered"
Hi.I am using the netcore+MVC template then I tried adding new appservice in application project but  then I am receiving this error:

An unhandled exception occurred while processing the request.
HandlerException: Can't create component 'ConsoleManager.NexNotice.NoticeAppService' as it has dependencies to be satisfied.

'ConsoleManager.NexNotice.NoticeAppService' is waiting for the following depe

[2019-10-30 04:07] isystem20 commented on #4971
public class NoticeAppService : AsyncCrudAppService<Notice, NoticeDto, int, PagedNoticeResultRequestDto, CreateNoticeDto, UpdateNoticeDto>, INoticeAppService
	{

		private readonly IRepository<Notice> _rNotice;

		public NoticeAppService(IRepository<Notice> rNotice) : base(rNotice)
		{
			_rNotice = rNotice;
		}

		[AbpAuthorize("Admin.Notice.Read")]
		protected override IQueryable<Notice> CreateF

[2019-10-30 05:14] maliming commented on #4971
Is the `ConsoleManager.Domain.Entities.General.Notice` entity defined in `DbContext`?

[2019-10-30 05:32] isystem20 commented on #4971
Oh shoot! I forgot about that. Thank you

[2019-10-30 05:33] #4971 closed

[2019-10-30 07:26] ismcagdas commented on #4964
@arpitce27 you can create a interceptor similar to https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/AuthorizationInterceptor.cs and execute the policy there

[2019-10-30 07:54] volethanh opened #4972 "Memory is high"
Hello,

I am using Abp ver. 4.8.1 with .NET core and we are having problems with high memory usage. For each new request RAM memory gets higher and higher, it seems that GC doesn't release memory.
So I used profiler to catch and got the below picture

![image](https://user-images.githubusercontent.com/46510130/67838732-904ef980-fb24-11e9-943e-e50ab0ef5287.png)

How I can handle this and release th

[2019-10-30 07:58] maliming commented on #4972
Most of the situation may be a memory leak caused by your code. First check your code.
If you have a project that can reproduce the problem, you can share it.

[2019-10-30 08:01] hidayetsoltanzade commented on #4939
I think, problem was CookieAuthenticationOptions.SlidingExpiration. It was "false", so no matter user interacts with the app, it expires after 30 minutes. set it "true", and now problem is gone so far.

[2019-10-30 08:01] #4939 closed

[2019-10-30 08:16] hidayetsoltanzade opened #4973 "Advice about MemoryCache"
I'm using Asp.Net Boilerplate free startup template (ASP.NET MVC 5.x, Abp v3.4.0.0)
I want to get advice about storing current user data in cache.
Use current UserId as the cached key, save some user data to the cache and update the cache if necessary (user changes his/her profile info, admin changes user data) and remove cache item when user logout.
Currently, in every page, it gets user data in

[2019-10-30 09:05] hidayetsoltanzade commented on #4973
I want to store this class object as cache value to store user data.
[code]
Made some calculations to calculate apprx memory size of this object.
max 32 Char x 2 Bytes (Name) + max 32 Char x 2 Bytes (Surname) + 8 Bytes (Id) +
14 bytes (Roles, that store role name, user can only have 1 Role, average role name size is 7 chars) + 100 Char x 2 Bytes (ProfilePictureGenFileName which is "{fileName}_{GUI

[2019-10-30 09:11] maliming commented on #4973
hi @hidayetsoltanzade
What is your question ?

Below is the url of the relevant document
https://aspnetboilerplate.com/Pages/Documents/Caching
https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#entity-changes

[2019-10-30 09:18] hidayetsoltanzade commented on #4973
hi @maliming
This is not a question, but i want to get an advice about this way.

[2019-10-30 10:08] SinoMiles opened #4974 "use ng alain and install abp module"
I hava install abp module and web resource module to my ng algin project.
and reg this module
[code]
my question ,how can i set the base url?
default url is 4200
![image](https://user-images.githubusercontent.com/9588025/67848682-19275e80-fb40-11e9-9bc9-a9959e370f5e.png)
my api url is http://localhost:21021.
pls help me .thanks.

[2019-10-30 10:10] maliming commented on #4974
This seems to have nothing to do with abp.

[2019-10-30 12:26] ebicoglu commented on #3114
@yrk1436 responded your email.

[2019-10-31 01:05] SinoMiles commented on #4974
@maliming because the app start will auto request api to get token,I need change the request base url for my new api address.

[2019-10-31 01:27] maliming commented on #4974
Can you explain what this is related to abp?

[2019-10-31 02:30] hexianggui opened #4976 "Need to support asp net core generic host."
**code**
[code]
**Error Message:**
[code]

[2019-10-31 02:33] #4974 closed

[2019-10-31 07:30] SinoMiles opened #4977 "Nswag generate code."
this is my api ,that return a List<plan>
![image](https://user-images.githubusercontent.com/9588025/67926804-f5245580-fbf1-11e9-86d4-31bd21ccdafa.png)
but ABP will Warp Result look like follow:
[code]
if i use Nswag to generate TypeScript code,that will generate follow code:
![image](https://user-images.githubusercontent.com/9588025/67927030-84ca0400-fbf2-11e9-9791-8f47b65f73c7.png)
here has a if

[2019-10-31 08:01] maliming commented on #4977
Please refer to the abp angular project. Use `abpHttpInterceptor `to convert.

https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/angular
https://github.com/aspnetboilerplate/abp-ng2-module/blob/master/src/abpHttpInterceptor.ts
https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/root.module.ts#L109

[2019-10-31 08:01] #4977 closed

[2019-10-31 10:43] tamys opened #4978 "Migration steps for abp 4.x to 5.0 since asp net core 3 was introduced"
Hi, is there any guide for migrating from 4.x version to 5.0?

After fixing some compile errors, i still get runtime errors. Is there a guide or is better to download a new template and bring the source files from 4.x version?

[2019-10-31 10:49] ismcagdas commented on #4978
It is better to follow https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio

[2019-10-31 10:56] tamys commented on #4978
Thank you

[2019-10-31 11:18] #4978 closed

[2019-10-31 12:23] ismcagdas commented on #4973
@hidayetsoltanzade if your app is multi tenant, you can use TenantId@UserId as the cache key instead of just userId. Your cache keys will be like `1@2` etc...

[2019-10-31 12:57] #4973 closed

[2019-10-31 12:59] hidayetsoltanzade opened #4979 "BackgroundJobs Db Call Period increase"
How can i increase interval abp checks AbpBackgroundJobs table.
Currently it is in every 5 seconds, i want set it to 30 seconds.
I'm using Asp.Net Boilerplate free startup template (ASP.NET MVC 5.x, Abp v3.4.0.0)

[2019-10-31 13:21] maliming commented on #4979
If you look at the source code you will find that `JobPollPeriod` is a static public property.

[2019-10-31 13:55] hidayetsoltanzade commented on #4979
@maliming, should i set `BackgroundJobManager.JobPollPeriod` in PreInitialize of my module?

[2019-11-01 00:37] maliming commented on #4979
Yes, you can try.

[2019-11-01 00:37] #4979 closed

[2019-11-01 02:46] leaughing opened #4980 "api result to json"
### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

*   v3.7.2.
*  .Net Core.

api  JsonFormatter  AbpCamelCasePropertyNamesContractResolver why not working for dict key,
I want  Serialize Object like this

  var datastring = JsonConvert.SerializeObject(Model.DataItem

[2019-11-01 03:13] maliming commented on #4980
I think this has nothing to do with abp, you can try the native **CamelCasePropertyNamesContractResolver**

https://www.newtonsoft.com/json/help/html/ContractResolver.htm
[code]

[2019-11-01 03:13] #4980 closed

[2019-11-01 06:59] isystem20 commented on #4963
Hi @maliming

I am still having error regarding dependency.
Here is my code:

        public override void PostInitialize()
        {
            IocManager.Register<IApplicationBuilder, ApplicationBuilder>(DependencyLifeStyle.Transient);

            using (var scope = _app.ApplicationServices
                    .GetRequiredService<IServiceScopeFactory>()
                    .CreateScope())

[2019-11-01 07:10] maliming commented on #4963
Try
[code]

[2019-11-01 07:11] maliming commented on #4963
Try
[code]

[2019-11-01 08:48] ismcagdas commented on #4884
@murphy744 are you still having this problem ? If so, is it possible for you to share a reproduction project ?

[2019-11-01 09:51] jasonliaocn opened #4981 "any upgrade steps from old packages"
Hi there,
one of my project was created when the middle of 2017, and I have upgrade it some times and stopped upgrade till 4.0.2 because it in live version and haven't got much time to test it. Now we want to keep forward to .NET core 3.0 and I see the 5.x release but I cannot check all the breaking changes that might impact my old system, is there a easy check list for me to upgrade from my 4.0.2

[2019-11-01 12:07] beriniwlew opened #4982 "Update Angular UI to ngx-admin"
I think I may spend some time porting over the AngularUI project over to ngx-admin.

https://github.com/akveo/ngx-admin

Demo:
http://akveo.com/ngx-admin/pages/dashboard

Just want to know how the community here feels about that.

[2019-11-01 12:10] beriniwlew commented on #4943
ngx-admin

[2019-11-01 12:12] beriniwlew commented on #4943
Hey, just wanted you to be aware that I've just started another issue regarding this.

I'd like to use ngx-admin.

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4982

[2019-11-01 18:01] scorpion86 opened #4983 "Aspnetboilerplate.com template download .net core 3 update"
Will you update template on aspnetboilerplate.com to download with .net core 3?

[2019-11-01 23:08] dalton5 opened #4984 "Issues with updates in many to many with Abp"
Hi,

I am really struggling on an issue. I think it's related to the UpdateAsync or Unit of work.

It's not clear to me.

Could you please help on it?

I posted on the stackoverflow for the details

https://stackoverflow.com/questions/58652464/ef-core-update-with-tracked-objects

I had a tip provided by a user: This usually indicates that the DbContext instance is being re-used for more than one u

[2019-11-02 10:55] raminassar opened #4985 "Integration with identity server"
I came across aspnet boilerplate integration with Identity Server 4 sample, it's working fine as a new project.
My issue is am not clear how to implement it with an existing identity server which already running, specially that I have persistence configuration setup into database.

my identity server configuration is like below

[code]
any help is highly appreciated.

[2019-11-02 12:05] ismcagdas commented on #4983
It is already upgraded to .net core 3.0 and we are making final tests. We will release it probably on monday.

[2019-11-02 12:05] #4983 closed

[2019-11-03 09:50] totpero commented on #4943
@hikalkan the [AdminLTE](https://github.com/ColorlibHQ/AdminLTE/releases/tag/v3.0.0) just released v3 with boostrap 4

[2019-11-03 10:10] iyilm4z commented on #4943
@totpero perfect news! i was working with v2, because v3 was in development and i was also waiting for the release but i didn’t know it would be in too short time. the bad thing is that i was about to finish the migration with v2:) but no problem i can reimplement everything with v3 because i really want abp has better supported theme. v3 of lte also supports bs4 as you mentioned and it means, v3

[2019-11-03 11:00] AmirRaptoR opened #4986 "Signalr custom hub, userid in session is null"
I'm using version 4.10.1 when creating a new hub like documents says, userId in session is null.

[code]
my hub code

[code]
my startup looks like this

[code]
and I use this code in angular client to connect.
If I change my hub route to signalr everything works fine but custom route causes userId to be null.

-------
btw thanks for awesome framework

[2019-11-04 00:09] maliming commented on #4986
![image](https://user-images.githubusercontent.com/6908465/68094334-52fabb00-feda-11e9-876d-4c199ac40f17.png)

see https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Startup/AuthConfigurer.cs#L60

[2019-11-04 00:09] #4986 closed

[2019-11-04 01:06] maliming commented on #4985
You have a standalone project that uses asp net core identity and identity server4.
I don't quite understand, what do you mean by integrating it?

[2019-11-04 02:46] maliming opened #4987 "The net core version of GetClientIpAddress should be consistent with net fx."
First get the `HTTP_X_FORWARDED_FOR `request header.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.Web/Auditing/WebClientInfoProvider.cs#L48-L50

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.AspNetCore/AspNetCore/Mvc/Auditing/HttpContextClientInfoProvider.cs#L42-L44

[2019-11-04 03:03] ryancyq commented on #4984
Can you reproduce the issue with abp template ?

https://aspnetboilerplate.com/Templates

[2019-11-04 03:08] ryancyq commented on #4981
Rule of thumb is always consider to upgrade one major version at a time.

You can refer to the releases on abp for the breaking changes details.

https://github.com/aspnetboilerplate/aspnetboilerplate/releases

[2019-11-04 03:20] liangshiw commented on #4987
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1220
Fix together

[2019-11-04 04:02] 274188A opened #4989 "Request - Startup Templates target .NETCORE 3.0"
I would like to request the Start-up Templates for MVC Pages have an option to use .NET Core v 3.0.

Currently they are up to .NET Core 2.2

Thank you

[2019-11-04 05:02] maliming commented on #4989
Duplicate of #4983

[2019-11-04 05:02] #4989 closed

[2019-11-04 05:38] #4987 closed

[2019-11-04 05:39] maliming commented on #1220
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4987

[2019-11-04 05:39] #1220 closed

[2019-11-04 05:40] ismcagdas commented on #4981
@jasonliaocn if you face any specific problems, we will be happy to help.

[2019-11-04 05:40] #4981 closed

[2019-11-04 06:49] ismcagdas commented on #4982
@beriniwlew we were thinking to use same theme for all different startup template versions of AspNet Boilerplate with Admin LTE. But, lets see the demand for ngx-admin.

[2019-11-04 08:30] ismcagdas commented on #4925
@tanghaojie did you solve this problem ? If not, you can add anti forgery token to request headers similar to https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/wwwroot/swagger/ui/abp.swagger.js#L19

[2019-11-04 09:59] tnlthanzeel opened #4990 "camelCase to PascalCase when return result from controller"
Hi, i need to return json result in PascalCase in asp core 2.2.im using ASP.ABPCore version 4.3.0.

Currently im trying

            services.AddMvc().AddJsonOptions(options => options.SerializerSettings.ContractResolver = new Newtonsoft.Json.Serialization.DefaultContractResolver());

but this is not working. please help

[2019-11-04 11:27] maliming commented on #4990
Try this in `ConfigureServices` method.
[code]

[2019-11-04 11:36] #4990 closed

[2019-11-04 14:58] iyilm4z commented on #4943
Guys something fancy will be ready soon!:)

![Tenants](https://user-images.githubusercontent.com/9105939/68130580-a138aa00-ff2c-11e9-9592-6ace64afcf1c.JPG)

![AddNewTenant](https://user-images.githubusercontent.com/9105939/68130605-ae559900-ff2c-11e9-96a8-2e20429dd4b1.JPG)

![Login](https://user-images.githubusercontent.com/9105939/68130612-b1e92000-ff2c-11e9-837d-22a7c96ddeea.JPG)

![Register](ht

[2019-11-05 01:27] 274188A commented on #4983
Is this released yet?

I'm still just seeing the usual
![Capture](https://user-images.githubusercontent.com/40014477/68171370-6bd4a080-ffae-11e9-8671-98a60f6220f5.PNG)

[2019-11-05 03:00] #4894 closed

[2019-11-05 03:00] #4892 closed

[2019-11-05 03:01] #4881 closed

[2019-11-05 03:06] ryancyq commented on #4878
Do you mean `every page load` instead of `every request`.

Anyway, checking all permission names before checking granted permissions is just more defensive.

The check here ensure granted permission check only done on valid permission name (by checking all permissions)

[2019-11-05 05:56] ismcagdas commented on #4983
Yes, it is released. If you download 2.x project, it will download 3.x. We will update the website in a short time.

[2019-11-05 08:39] bxjg1987 opened #4991 "Will the. Net Framework version continue to be supported"
My current version of. Net framework, abp-mvc5. X-4.10.1

. net core 3.0 seems to be very difficult to be compatible with the. Net framework,

Will the. Net Framework version continue to be supported?

[2019-11-05 08:42] maliming commented on #4991
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4146

[2019-11-05 08:42] #4991 closed

[2019-11-05 10:11] zfmy commented on #4983
@ismcagdas In last template, “/api/TokenAuth/Authenticate”  is missing ?

![捕获](https://user-images.githubusercontent.com/7541239/68198689-8121ed00-fff7-11e9-9390-80ef0dbe38ce.PNG)

[2019-11-05 10:17] maliming commented on #4983
@zfmy

![image](https://user-images.githubusercontent.com/6908465/68199211-8cc1e380-fff8-11e9-8c21-df5ee86ce592.png)

[2019-11-05 16:11] qservicesinc opened #4992 "Get issues while adding new tenant using Aps.net MVC 5 with jquery template"
Sequence contains no matching element at System.Linq.Enumerable.Single[TSource]. This issue comes in TenantAppServices and while running below POC.

[code]

[2019-11-05 17:53] bxjg1987 commented on #4618
Can this problem be fixed in ABP? I have the same problem

[2019-11-05 19:19] ismcagdas commented on #4618
@bxjg1987 could you create a new issue ? We will check it.

[2019-11-05 19:42] ismcagdas commented on #4992
@qservicesinc thank you for creating this issue. I was dealing with this internally but it is good to have an issue here.

[2019-11-06 01:14] maliming commented on #4992
@qservicesinc
Abp 4.9 can't reproduce the problem you're experiencing.
What is the version of abp you use? Steps to reproduce the problem?

[2019-11-06 01:57] bxjg1987 commented on #4618
@ismcagdas My parent class inherits OrganizationUnit, and I'll try to get rid of it first

[2019-11-06 02:09] bxjg1987 opened #4993 "Entity inheritance (TPT) with EF6 EntityHistoryHelper"
.net framework 4.6.2
abp mvc5.x 4.10.1
**This problem does not exist in version 4.9**

I want to implement a generic tree structure of data on an OrganizationUnit basis
Therefore,using EF's TPT

 the following entities are defined:
[code]
Data table generation OK
![image](https://user-images.githubusercontent.com/39435771/68261890-70678a80-007c-11ea-865a-c74246387385.png)
![image](https://user-ima

[2019-11-06 02:10] bxjg1987 commented on #4618
@ismcagdas Sorry, I still submitted this question. Can you help me to have a look, [here](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4993)

[2019-11-06 02:44] zfmy commented on #3453
@ismcagdas ,that works well before abp 5.0, but how to configure DateTime format with abp 5.0?

I try to replace AbpMvcContractResolver with MyContractResolver in Startup. It doesn't work.

    public class MyContractResolver : DefaultContractResolver
    {
        protected override JsonProperty CreateProperty(MemberInfo member, MemberSerialization
        memberSerialization)
            {

[2019-11-06 02:50] maliming commented on #4993
Are you sure 4.9 does not have this problem?

[2019-11-06 02:52] maliming commented on #3453
@zfmy

Net core 3.0 please try `MvcNewtonsoftJsonOptions`

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/AbpServiceCollectionExtensions.cs#L67

[2019-11-06 03:03] zfmy commented on #3453
@maliming

 It doesn't work, too.

      services.Configure<MvcNewtonsoftJsonOptions>(options => { options.SerializerSettings.ContractResolver = new MyContractResolver(); });

[2019-11-06 03:04] bxjg1987 commented on #4993
@maliming Not exactly sure, but 4.8.1 is definitely working

[2019-11-06 03:07] maliming commented on #3453
👀

![image](https://user-images.githubusercontent.com/6908465/68264945-9180a900-0085-11ea-96bb-1658359a4896.png)

[2019-11-06 03:11] maliming commented on #4993
Please provide a project to reproduce the problem.

[2019-11-06 03:23] zfmy commented on #3453
@maliming thanks for your help

[2019-11-06 03:32] bxjg1987 commented on #4993
@maliming
I just set up a repository. [myAbp](https://github.com/bxjg1987/myabp)

[2019-11-06 03:40] maliming commented on #4993
Can you use abp startup template(https://aspnetboilerplate.com/Templates) or module-zero-template(https://github.com/aspnetboilerplate/module-zero-template)?

[2019-11-06 04:54] bxjg1987 commented on #4993
I don't have a 5.0 environment at present, which is not convenient for testing.
However, I just downgraded ABP to 4.9 test without any problem.
When I have time, I will try to use the ABP startup template to create a test, but according to experience, I don't think my code has a problem

[2019-11-06 05:14] bxjg1987 commented on #4993
I just tested it again. The problem is in version 4.10

[2019-11-06 07:19] bxjg1987 commented on #4993
I tested it with the startup template, [here repsitory](https://github.com/bxjg1987/myabp4_10_1)
but the problem is still the same, so prepare to wait for v4.11,
thank you!

[2019-11-06 07:20] maliming commented on #4993
I will check it out. Thanks for providing the project.

[2019-11-06 07:43] demirmusa commented on #4993
I was already working on it, sory for late response .

[2019-11-06 11:20] GerryGe opened #4996 "ChangeAbpTablePrefix failed after update to template 5.0"
I update my asp.net core mvc to template v5.0.0.
When I add migration, I got an error of
System.InvalidOperationException: The entity type 'EditionFeatureSetting' cannot be mapped to a table because it is derived from 'FeatureSetting'. Only base entity types can be mapped to a table.

I found this is caused by changed the table of prefix.
protected override void OnModelCreating(ModelBuilder modelB

[2019-11-06 12:36] demirmusa commented on #4992
Can you please share stack trace?
It can be solved by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4995

[2019-11-06 12:51] maliming commented on #4996
Duplicate of #4959

[2019-11-06 12:51] #4996 closed

[2019-11-06 13:34] demirmusa commented on #4993
What are the steps to reproduce error?

[2019-11-06 14:18] LordLaser opened #5000 "Incorrect UserNameOrEmailAddress max length in UserLoginAttempts"
The max length of UserNameOrEmailAddress is currently set to 255, but should be changed to 256. All other fields have been updated to support 256 characters, but login will fail because of the data being truncated when saving the login attempt.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/05e47b0420650dd9d2efeb4ae1d59d2b67e4b32e/src/Abp.Zero.Common/Authorization/Users/UserLoginAtte

[2019-11-06 18:03] ali-shishani commented on #2953
Hi, thanks for everyone's contribution to implement React client.
I am working in a project and I used React client. It is following PWA design pattern and I need that to support offline capability at some point in my project.

My question:
I am currently planning to get the paid version of the Zero template and I would prefer to get full implementation of React. Is this an available option with t

[2019-11-06 18:04] gpl-ajackson commented on #4992
I also have this issue with 5.0.0, MVC5 template. Steps were:

1. Generate template
2. Set Configuration.MultiTenancy.IsEnabled = true;
3. Run
4. Navigate to Tenants > Add new tenant.
5. Save

[2019-11-06 18:59] vdurante opened #5001 "Changing tentant setting doesn't refresh user's cache"
I have a Tenant setting `App.Logo` that changes the logo URL of my website. I read on the source code, that once I change the tenant setting using the method `ChangeSettingForTenantAsync`. the tenant's cache is refreshed.

Since none of my users have an `App.Logo` setting defined, the setting value always comes from Tenant's setting. But since only the Tenant's cache was refreshed, none of my user

[2019-11-07 00:42] maliming commented on #2953
@ali-shishani

[2019-11-07 01:30] maliming commented on #4992
hi @gpl-ajackson @qservicesinc
I have confirmed that this problem is caused by #4993

This problem may exist if the abp version is greater than or equal to v4.5.0.

[2019-11-07 01:43] maliming commented on #5001
Can you provide code to reproduce this problem?
It should not have the problem you mentioned.

[2019-11-07 02:12] ryancyq commented on #4993
TPT was not supported when EF6 for Entity HIstory was introduced https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4358

We should consider this enhancement.

[2019-11-07 02:47] bxjg1987 commented on #4993
@ryancyq Will this enhancement be addressed in v4.11?

[2019-11-07 04:08] isystem20 opened #5002 "Error in deployed Web Host in IIS"
I published the Web.Host project into IIS but I am getting this error: (which is not occurring when running the program in debug mode)

An error occurred while starting the application.
PlatformNotSupportedException: System.Data.SqlClient is not supported on this platform.
System.Data.SqlClient.SqlConnection..ctor(string connectionString)

TargetInvocationException: Exception has been thrown by th

[2019-11-07 04:48] ryancyq commented on #5002
Please provide your Abp version and ORM framework version

[2019-11-07 04:51] isystem20 opened #5003 "Cannot create new tenant in Net Core template"
I tried creating new tenant with this connection string:
Server=(localdb)\\MSSQLLocalDB; Database=myDB; Trusted_Connection=True;

**But I am receiving error**
An internal error occurred during your request!

**The error occurs here:**
_abpZeroDbMigrator.CreateOrMigrateForTenant(tenant);

**Here is the error message when I used try catch:**
A network-related or instance-specific error occurred whil

[2019-11-07 04:54] isystem20 commented on #5002
I am using ABP 4.9 and EF 2.2.4

[2019-11-07 05:18] ryancyq commented on #5003
You will need to create the database yourself.

See https://aspnetboilerplate.com/Pages/Documents/Articles/Introduction-With-AspNet-Core-And-Entity-Framework-Core-Part-1/index.html

[2019-11-07 05:18] #5003 closed

[2019-11-07 05:35] ryancyq commented on #5003
Aslo, the local db does not seem to be setup correctly. hence, the sql network error

[2019-11-07 06:04] ismcagdas commented on #5002
Are you hosting on Azure ? If so, your problem might be related to https://github.com/dotnet/corefx/issues/37528

[2019-11-07 06:25] isystem20 commented on #5003
I created new database for the host already. What I am asking is for the new tenant. Its just confusing because the function is CreateOrMigrateForTenant but does not make database for tenants.

By the way, the localdb connection is working. If you are talking about the single backslash, it was double backslashes when I pasted it :)

[2019-11-07 06:25] isystem20 commented on #5003
I tried to make a database manually for this tenant but I am getting the same error.

[2019-11-07 06:26] isystem20 commented on #5002
@ismcagdas No. I only deployed it locally (IIS)

[2019-11-07 06:43] isystem20 commented on #4963
This code does not work and seems like database cannot be located.

An error occurred while starting the application.
SqlException: Cannot open database "NEXARCDb" requested by the login. The login failed.
Login failed for user 'DESKTOP2BAAA2H\ADK'.

System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, SqlCredential credenti

[2019-11-07 06:48] #4925 closed

[2019-11-07 07:04] tanghaojie opened #5004 "Swagger 400 Undocumented. Error: Bad Request"
I have configured swagger same as [https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration](https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration)
Then, i visit `/swagger` page , see my dynamic web api. i execute it will response 400 Undocumented. Error: Bad Request.
![image](https://user-images.githubusercontent.com/14171892/68366952-78542700-016f-11ea-8d73-2bd0ae5fb34

[2019-11-07 07:09] maliming commented on #4963
@isystem20
[code]

[2019-11-07 07:14] maliming commented on #5004
Abp v4.9 does not yet support net core 3.

[2019-11-07 07:25] tanghaojie commented on #5004
sorry, i just download with this option. i confirmed from my project that the vesion is .net core 2.1.
![image](https://user-images.githubusercontent.com/14171892/68367989-f0235100-0171-11ea-9096-a44eb8745e5d.png)

[2019-11-07 07:27] ali-shishani commented on #2953
Thanks @maliming, I appreciate the response. This will be great.

For the time being, I guess I will have to get the paid version and do some evaluation and see how it work with both options (react and angular). It will be great if I can generate paid project template so I can do my evaluation before I ask the client to pay for the subscription.

Cheers.

[2019-11-07 07:34] ismcagdas commented on #5004
@tanghaojie create an Index (cshtml) page for your Host app and add code below into this first;

[code]

And that page can redirect users to swagger ui.

Than, add anti-forgery token to swagger request headers in index.html;
[code]

We can also make this enhancement in the template.

[2019-11-07 07:49] tanghaojie commented on #5004
thank you. but I still don't understand, can you tell more details?

[2019-11-07 07:57] maliming commented on #5004
@tanghaojie If you use the browser's privacy mode, will the API still return a 400 error?

[2019-11-07 07:59] maliming commented on #5003
@isystem20

The error you encountered was because you could not connect to the database.

**A network-related or instance-specific error occurred while establishing a connection to SQL Server.**

[2019-11-07 08:04] tanghaojie commented on #5004
will success

[2019-11-07 08:05] maliming commented on #5004
May be localhost's cookie conflict, @ismcagdas What do you think?

[2019-11-07 08:20] qservicesinc commented on #4992
@maliming i am using version 5.0.0, how i can downgrade my version

[2019-11-07 08:39] demirmusa commented on #4992
We will have release soon which contains this enhancement.
Until that, you can close entity history with
[code]
or add all inherited entities to ignored types.

[code]
For more information see: https://aspnetboilerplate.com/Pages/Documents/Entity-History

If you share stack trace I can help you about which tables can cause that errors.

[2019-11-07 08:56] tanghaojie commented on #5004
I think it is `XSRF-TOKEN` cookie error, but why without `XSRF-TOKEN` will success?

[2019-11-07 09:00] demirmusa commented on #5004
Does the error recur after I delete the cookie?

[2019-11-07 09:00] demirmusa commented on #5004
Does the error recur after you delete the cookie?

[2019-11-07 09:03] tanghaojie commented on #5004
It will success after delete cookies

[2019-11-07 09:04] ismcagdas commented on #5004
@tanghaojie before ASP.NET Core 3.0, we were ignoring anti forgery token validation for some cases but ASP.NET Core maked some AntiForgery related classes internal and we can't do that anymore. Because of that, now you must send anti-forgery header in your requests.

When you directly visit swagger page, anti forgery cookie will not be created. I couldn't understand why it works without `XSRF-TOKE

[2019-11-07 09:20] tanghaojie commented on #5004
Means i should delete cookies, before i test api in swagger? this is the only way? :anguished:

[2019-11-07 18:28] gpcaretti opened #5006 "BackgroundJobStore executes intensive sort"
src/Abp.Zero.Common/BackgroundJobs/BackgroundJobStore.cs

* ABP 4.10.1
* .NET 4.6.2

By analyzing the execution plan of the most expensive queries I have seen Background jobs run an intensive sort.

![image](https://user-images.githubusercontent.com/5499871/68416417-c0d20b80-0194-11ea-8791-c65d9c796aab.png)

IMHO this is due to a missed index of the table as the query executed by the framework is

[2019-11-08 00:45] maliming commented on #5006
I agree with you. 👍

[2019-11-08 02:11] maliming commented on #5004
Of course we can enhance it to avoid this problem. As mentioned by ismail.

[2019-11-08 03:43] dolphinsd commented on #5006
@gpcaretti what tool did you use to run analysis?

[2019-11-08 03:49] ryancyq commented on #5006
@gpcaretti can you share more details in the performance comparison? e.g the tool you use, the performance before index and after index

[2019-11-08 04:55] taigiiz opened #5008 "Abp free template new tenant creation error"
Hi guys.
First thanks for abp free template developers.

Yesterday i download free template from https://aspnetboilerplate.com version number 5.0.0

But i have few errors to my generated project.
1.New tenant create error message "An internal error occured during your request"

When i while debug TenantAppService.cs code error throws line 85.

See attached image.
How too solve this any solution?

[2019-11-08 05:01] maliming commented on #5008
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4992

[2019-11-08 05:01] #5008 closed

[2019-11-08 05:38] cxs-mahendra opened #5009 "Modular ToDo is not working in the fashion of Plugin"
Hi,

I am referring to the following link : aspnetboilerplate/aspnetboilerplate#1476 (comment)

I downloaded the project from GitHub, Compile and rum, it runs successfully..

Now I am trying to run this as a plugin.
So in the main application I did something like below: I removed the dependency of TodoModuleWebModule

[DependsOn(typeof(ModularTodoAppWebCoreModule))]
public class ModularTodoAppWebM

[2019-11-08 05:43] ismcagdas commented on #5009
@cxs-mahendra could you also share the error message ?

[2019-11-08 05:58] #4957 closed

[2019-11-08 06:02] #5004 closed

[2019-11-08 06:16] ismcagdas opened #5010 "Write a unit test for EntityHistoryHelper TPH relationship changes"
See https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5005#issuecomment-551209025

[2019-11-08 06:58] maliming opened #5011 "Update the FluentMigrator code in Abp.Zero.NHibernate."
see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5007#issuecomment-551369907

[2019-11-08 07:00] isystem20 opened #5012 "AbpServiceProxies/GetAll Error 500 after Deployment of MVC template to IIS"
I am having error 500 accessing the

http://localhost:5903/AbpServiceProxies/GetAll?v=637088084654833840

Please help.

[2019-11-08 07:01] maliming commented on #5012
Please check the error details in the application's log.

[2019-11-08 07:15] isystem20 commented on #5012
This is the error from the log file:

ERROR 2019-11-08 15:14:18,613 [217  ] Mvc.ExceptionHandling.AbpExceptionFilter - Only one complex type allowed as argument to a controller action that's binding source is 'Body'. But CacheTryGetValueSet (api/services/app/Execute/CacheTryGetValueSet) contains more than one!
Abp.AbpException: Only one complex type allowed as argument to a controller action that'

[2019-11-08 07:17] taigiiz commented on #5008
ABP free template is any LTS version?

[2019-11-08 07:28] maliming commented on #5008
It has been very stable, only recently introduced some changes, such as support for net core 3.0, you can wait for it, there will be a patch soon.

[2019-11-08 07:30] maliming commented on #5012
The problem is already very obvious.

 **Only one complex type allowed as argument to a controller action that's binding source is 'Body'. But CacheTryGetValueSet (api/services/app/Execute/CacheTryGetValueSet) contains more than one!**

Please modify your method.

[2019-11-08 08:46] xxvolvo opened #5013 "Where is ValueObject<T> in 5.0?"
I used it in 4.9.0 before. Now I find  ValueObject only

[2019-11-08 08:57] maliming commented on #5013
It has been refactored, see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4929

[2019-11-08 09:11] xxvolvo commented on #5013
thx

[2019-11-08 09:11] #5013 closed

[2019-11-08 15:46] gpcaretti commented on #5006
@dolphinsd I just used the Query Store of SqlExpress. It is easily accessible via Sql Server Management Studio (SSMS) by right clicking on the properties of a database.

@ryancyq, performance comparison is something I am going to do.
When I activated the Query Store it was for analyze a couple of my heavy queries, and it was a coincidence to notice the (possible) problem on the "Abp query".

I'll

[2019-11-08 17:06] murphy744 commented on #4884
@ismcagdas I cannot send you the project as it a sizable project plus lots of configuration. We are still having the problem but have decided to deal with it later as we are in the process of moving to .net core and possibly abp.io

I will close this for now.

Thanks for your help and suggestions!

[2019-11-08 17:06] #4884 closed

[2019-11-08 20:13] vdurante commented on #2549
@xuxiao415 I know I am late 2 years, but if anyone else is having this issue, apparently abp has some issues with popper.js

Whenever I import both in my project, it fails with error `abp is not defined`

[2019-11-09 02:11] ryancyq commented on #2549
@vdurante please open a new issue if you have any questions.

[2019-11-09 08:06] alirezawills opened #5014 "login by another project but claim is null"
Hi
I call login action in xamarin but the claim is null in application layer
(aspboilerplate 2.3)

[2019-11-09 13:34] beriniwlew commented on #4982
I think we should use the best open-source admin template for each type of front-end implementation.

[2019-11-09 16:26] dkisic10 opened #5015 "AbpServiceProxies/GetAll - problem after migrating Core 2.2 to 3.0"
I am trying to migrate my project from Core 2.2 to 3.0. I've setup everything as written in specifications and application starts normally, loads everything fine, but for some reason it can't load AbpServiceProxies/GetAll. It is loading and loading, but doesn't throw any exception. Any similar cases?

[2019-11-09 19:25] FirasKira opened #5016 "SQL and PostgreSQL databases with same application"
We know that BP is able to run with SQL server or PostgreSQL.
BP application with Multi-Tenant mode can manage tenants working on different databases, and this can be done by setting the connection string of a domain.

Actually we need to have our BP application doing the same, but with different DB types, I mean the same application to manage a tenant working with SQL server DB and another tenant

[2019-11-10 16:42] osalas891123 opened #5018 "(QUESTION) How to check for roles on frontend Angular"
* Your Abp package version: 4.3
* Your base framework: .Net Core + Angular
* Exception message and stack trace if available.

I know we can check for permission directly on angular templates to decide if show or not some section, but there is available something like check for roles?. Some times we want to check a lot of permissions that are under a given role to decide something.

[2019-11-10 18:57] hikalkan commented on #5014
AspNet Boilerplate has not a Xamarin application. Are you using AspNet Zero or built your own Xamarin application? If you have built your own app, it is impossible to understand the problem from such a small info. If you are using AspNet Zero, please write to its own support web site: https://support.aspnetzero.com

[2019-11-10 18:57] #5014 closed

[2019-11-10 19:04] hikalkan commented on #5016
It may not work out of the box, but can be possible with some customization.

1. Yes a specific tenant may have a different connection string which can be PostgreSQL while others are SQL Server.

This is the main class that selects the DBMS in the startup template: https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.EntityFramewo

[2019-11-10 20:11] ismcagdas commented on #5018
@osalas891123 Roles of a user is not sent to client but you can include it here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Sessions/SessionAppService.cs#L11

[2019-11-10 21:13] vitorlacerda opened #5019 "Create Custom Exception and send data to client on Ajax Request like UserFrendlyException"
I create an NotificationException and want to put on abp json response of ajax request a property with a custom data.

Is there a way to do this?

[code]

[2019-11-11 00:41] maliming commented on #5015
You can refer to the code of module-zero-core-template.

https://github.com/aspnetboilerplate/module-zero-core-template

[2019-11-11 02:36] ryancyq commented on #5019
Hi, can you share your Abp version?

Also, show the difference between current Abp behavior and your desired outcome with `NotificationException`

[2019-11-11 04:22] taigiiz commented on #5008
Which version absolutly works all perfect? Where i download with startup template?

[2019-11-11 06:21] ismcagdas commented on #5008
@taigiiz download page downloads the latest version. We will release a stable version this week, probably tomorrow.

[2019-11-11 06:36] SinoMiles opened #5021 "how can i update my entity?"
follow is my code
[code]
I use UpdateAsync to update my entity BusinessType .
but this is not update old entity.is just create a new line.look like  it.

![image](https://user-images.githubusercontent.com/9588025/68565778-764fd800-048f-11ea-8b2c-c5514d4db176.png)
old data IsDelete is false and that id will set be null.then create a new line.I wanna update old line,don't need create new.how can i d

[2019-11-11 07:15] maliming commented on #5021
Please share the code for the entity and dto

[2019-11-11 07:22] SinoMiles commented on #5021
[code]
[code]
[code]
[code]
@maliming

[2019-11-11 08:24] maliming commented on #5021
About updating a one-to-many entity. There are a lot of related discussions here.
#4817
#4715
#3470
#2920
#2170

[2019-11-11 08:24] #5021 closed

[2019-11-11 08:29] isystem20 opened #5022 "[Question] How to make the signalr not dependent to user login?"
How to activate the Signalr websocket connection even if the user is not logged in?

Thank you

[2019-11-11 09:49] armandpostma commented on #4937
I played around with this issue a bit more and discovered that a part of it is caused by how the UnitOfWork class is used inside the AbpFeatureValueStore implementation.

In the `AbpFeatureValueStore` implementation of aspboilerplate, edition feature values are saved using the `SetEditionFeatureValueAsync` (or its non-async counterpart).

[code]

Within the using block, the TenantId is indeed null

[2019-11-11 10:07] maliming commented on #5022
Is it not automatically connected?
[code]

[2019-11-11 10:34] ismcagdas commented on #4982
The difference is not problem. The problem is maintenance. Our team at least should have some basic knowledge of the used theme/toolset. Otherwise, creator of the templates sometimes can't have time to support the themes they created for AspNet Boilerplate and in that case we must provide support.

https://github.com/akveo/ngx-admin is fine in that context 😄.

[2019-11-11 12:31] beriniwlew commented on #4982
Well that's good to hear that we're fine in this context.

[2019-11-11 13:39] dkisic10 commented on #5015
I've managed to track down the problem. So the problem is passing System.Type as argument in any AppService method. So if I have method like this GetNotificationNameForType(Type entityType) then AbpServiceProxies/GetAll can't load. Or method like this Task<List<long>> GetNotificationSubscribers(EntityIdentifier entityIdentifier) causes the same issue because class EntityIdentifier has property of

[2019-11-11 15:23] dkisic10 commented on #5015
And for some reason if I change method name prefix Get to any other it works, e.g. change GetNotificationSubscribers to FetchNotificationSubscribers and the script is normally created.

[2019-11-11 19:05] lockcd commented on #5015
INFO  2019-11-11 22:32:30,601 [7    ] Microsoft.AspNetCore.Hosting.Diagnostics - Request starting HTTP/1.1 GET http://localhost:62114/AbpServiceProxies/GetAll?v=637091083258374653
INFO  2019-11-11 22:32:30,627 [7    ] Microsoft.AspNetCore.Hosting.Diagnostics - Request finished in 27.5045ms 404
INFO  2019-11-11 22:32:30,721 [30   ] Microsoft.AspNetCore.Hosting.Diagnostics - Request starting HTTP/1.

[2019-11-11 19:09] ismcagdas commented on #5015
@dkisic10 is FetchNotificationSubscribers a POST method ?

[2019-11-11 19:25] dkisic10 commented on #5015
Yeah, for some reason it is. I didn't decorate it with [HttpPost] attribute.

[2019-11-12 03:18] maliming commented on #5015
I found this to be a problem with asp net core, I will confirm it.

[2019-11-12 05:00] maliming commented on #5015
@dkisic10
You should not use Type as a parameter type. By default it cannot be passed from the front end.

At present, I found that the asp net core dynamic api method with the Type parameter of the get verb may cause problems. I will continue to study it, no matter what, you should not use Type as a parameter or a property in Dto.

[2019-11-12 07:17] ismcagdas commented on #4693
All those information CreatorUserId, CreationTime (those are on entity and never changes), LastModifierUserId (which is the UserId of AbpEntityChangeSets record) and LsatModificationTime (CreationTime of AbpEntityChangeSets) all accessible without creating a AbpEntityPropertyChanges record.

So, no need to introduce a breaking change for this.

[2019-11-12 07:17] #4693 closed

[2019-11-12 07:25] alirezawills commented on #5014
I use login method from  aspnet boilerplate in another project(Xamarin Application) by HttpClient.

[2019-11-12 07:56] ryancyq commented on #5015
System Type isn’t supported by the default model binding

See https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.0#simple-types

File upload inputs are special data types that model binding supports additionally
See https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.0#special-data-types

If you really need System.Type as the

[2019-11-12 08:22] isystem20 commented on #5022
Yes. it is set to autoconnect. But it is not working when the user is not logged in.
What I need is to activate the signalr in something like check if the record exists in the database, not the user session when the user is logged in.

[2019-11-12 09:16] isystem20 opened #5025 "Closing websocket connection when adding custom service"
Hi.

The websocket connection is closing whenever I include DataBuilder class.

Here is my code:

    public class DataServiceProvider : AbpCommonHub, ITransientDependency
    {
        private DataBuilder _databuilder;

        public DataServiceProvider(DataBuilder databuilder)
        {
            _databuilder = databuilder;
        }
  ...

and this:

    public class DataBuilder : IDataBuild

[2019-11-12 09:23] isystem20 commented on #5002
I will be closing this issue.
I found out that my database was not accessible from the web server (IIS) because of permission issue.
Thanks guys

[2019-11-12 09:23] #5002 closed

[2019-11-12 11:01] ryancyq commented on #5014
Do you mean AbpSession in Xamarin or in MVC controller?

[2019-11-12 17:31] luksfk commented on #2997
Could you share how you correct it? We are also practicing DDD and until now we didn't find a solution.

[2019-11-12 19:41] douglasg14b commented on #2997
@luksfk This was caused by a faulty `GetHashCode` override on my part. I was using a FK Id in the hash, which caused the hash code of the object to change, which broke the HashSets tracking of it. I don't know any further details past:

Note that the entities where NOT being duplicated in the DB, just in memory. Hopefully this addresses the problem you where having.

[2019-11-12 19:47] gdunit opened #5026 "Issues with AbpServiceProxies after upgrading to 5.0"
After upgrading to ABP5.0 and .net core 3.0, I am having issues with the service proxies not resolving as per some of the other posts.

However, I am not using any instances of System.Type in the app service parameters or DTOs unlike #5015 .

The issue manifests as the service proxies get call not returning when the page is loaded; it does not return a 400 or 500 code, it simply does not return a

[2019-11-12 20:47] luksfk commented on #2997
@douglasg14b, the same is hapenning with us, entities are not duplicated in the DB, just in memory. Probably because our base entity overrides GetHashCode with FK too. In your case you just changed to use default implementation of GetHashCode?

[2019-11-13 00:30] maliming commented on #5022
I think you can use signalr directly in your project, abp does not limit you.

[2019-11-13 01:58] maliming commented on #2997
The code for the abp `Entity `has changed.
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4929
https://github.com/aspnetboilerplate/aspnetboilerplate/commit/369e714837733b878364b62ee6f98c7a5a42260e#diff-3ca01a75cd3def817d1f5ac91dfcf1de

[2019-11-13 02:02] maliming commented on #5026
Can you use the startup template to reproduce your problem?
If you can please provide the steps.

https://aspnetboilerplate.com/Templates
https://github.com/aspnetboilerplate/module-zero-core-template

[2019-11-13 02:59] maliming commented on #5025
Any information in the log?

[2019-11-13 03:01] #5015 closed

[2019-11-13 03:07] isystem20 commented on #5025
System.InvalidOperationException: Unable to resolve service for type 'ConsoleManager.DataServiceApplication.DataBuilder' while attempting to activate 'ConsoleManager.DataServiceApplication.DataServiceProviderAppService'.
   at Microsoft.Extensions.DependencyInjection.ActivatorUtilities.GetService(IServiceProvider sp, Type type, Type requiredBy, Boolean isDefaultParameterRequired)
   at lambda_meth

[2019-11-13 03:12] maliming commented on #5025
Please share the full code of DataBuilder .

[2019-11-13 03:15] isystem20 commented on #5025
using Abp.Domain.Services;

namespace ConsoleManager.DataServiceApplication
{
    public class DataBuilder : DomainService, IDataBuilder
    {
        public string CompileData(dynamic parameters)
        {
            return null;
        }

    }
}

[2019-11-13 03:29] maliming commented on #5025
This is a dependency injection problem.
Can you share the complete code? So I can reproduce the problem you encountered.

[2019-11-13 03:48] isystem20 commented on #5025
**DataServiceProviderAppService.cs**

using Abp.AspNetCore.SignalR.Hubs;
using Abp.Auditing;
using Abp.Dependency;
using Abp.Domain.Repositories;
using Abp.Notifications;
using Abp.RealTime;
using Abp.Runtime.Session;
using Castle.Core.Logging;
using ConsoleManager.Domain.DataService;
using ConsoleManager.MongoDB;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.SignalR;
using System

[2019-11-13 03:55] douglasg14b commented on #2997
@luksfk  I changed my GetHashCode to not use FK's *that may mutate* and just compare by value, which works well for the aggregates I have.

[2019-11-13 04:43] alirezawills commented on #5014
In MVC controller;

[2019-11-13 05:29] maliming commented on #5025
Are you sure that the exception is: `Unable to resolve service for type 'ConsoleManager.DataServiceApplication.DataBuilder' while attempting to activate 'ConsoleManager.DataServiceApplication.DataServiceProviderAppService'` ?

[2019-11-13 05:32] isystem20 commented on #5025
Yes. Its based on the logs.

[2019-11-13 05:36] ismcagdas commented on #5014
@alirezawills I assume you are using token based auth. Do you send token in your request headers to server ?

[2019-11-13 05:59] maliming commented on #5025
This is very strange, please use the startup template to share a project that reproduces the problem.

[2019-11-13 13:55] maliming opened #5028 "Normalize simple types of DateTime(abp 4.x & asp net core 2.x)"
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5023

[2019-11-13 14:13] raminassar commented on #4985
I want to use my existing standalone project and add into it the features of aspnet boilerplate like permission based authorization and LDAP connectivity

[2019-11-13 17:12] seblucas opened #5029 "Error with views when upgrading from 4.9.0 to 4.10.1. The entity type cannot be added to the model"
Hi,

The context :

* Your Abp package version : the error appear with 4.10.1 (no problem with 4.9.0)
* Your base framework: .Net Framework or .Net Core : .net Core / I use PostgreSQL
* Exception message and stack trace if available : `The entity type 'EcheancierLigneAFacturerView' cannot be added to the model because a query type with the same name already exists.`
* Steps needed to reproduce the

[2019-11-13 17:30] ATXPistolPete opened #5030 "Issues with upgrading to 5.0 - LINQ expressions restricted client evaluation"
Downloaded the startup template abp 5.0, .NET Core 3, ran into exception: invalid LINQ parameter in class UserAppService method MapToEntityDto.

Reproduce:  log into React app and click on the left nav User link & you get the error pop up.
Suggested Fix: added AsEnumerable to the LINQ query below
Suggestion:  maybe regex check for other many to many queries.
Root Cause:  .NET Core 3 breaking chang

[2019-11-13 22:15] gdunit commented on #5026
I'm trying to isolate the problem to an individual service, so I can figure out which to move into the startup template to replicate. Would I be right to say that decorating each service interface with:
`[RemoteService(IsEnabled = false)]`
should prevent it from being included within the web proxies?

If so, then I've isolated every service via this means and the problem is still occurring, theref

[2019-11-14 00:53] maliming commented on #5029
You can temporarily use the `DisableDateTimeNormalization` attribute in your DbQuery entity.

[code]
see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5017

[2019-11-14 00:56] maliming commented on #5030
see https://github.com/aspnetboilerplate/module-zero-core-template/commit/f66ab73aa9393ed2d01c27d773157e3246f7f1dd#diff-f46d17db5d14153ba9182c7539c2436dR130-R140

[2019-11-14 00:56] #5030 closed

[2019-11-14 02:44] ryancyq commented on #5026
Hi @gdunit , is it possible for you the share the template you had used to reproduce the issue ?

[2019-11-14 06:33] tiansfather opened #5033 "Can not consume embedded views in 5.0.0"
Got exception when trying to consume embedded view:

InvalidOperationException: The view 'Index' was not found. The following locations were searched:
/Views/My/Index.cshtml
/Views/Shared/Index.cshtml

Here's my steps:
1.download .net core 3.x startup template with projectname 'Master'
2.add 'app.UseEmbeddedFiles();' after 'app.UseStaticFiles();' in Startup.cs
3.add following code in project 'Mast

[2019-11-14 06:43] ismcagdas commented on #5022
@isystem20 I think you are using ASP.NET Core & Angular template. SignalR connection is authenticated here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Startup/AuthConfigurer.cs#L59. You can modify this code to allow not authenticated users to use SignalR.

[2019-11-14 07:39] maliming commented on #5033
Please share your project.

[2019-11-14 08:13] tiansfather commented on #5033
https://github.com/tiansfather/Template

[2019-11-14 08:58] maliming commented on #5033
It seems that the related mechanism of asp net core 3.0 has changed, I will continue to investigate it.

[2019-11-14 09:05] #5033 closed

[2019-11-14 11:44] ismcagdas commented on #5010
Resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5020

[2019-11-14 11:44] #5010 closed

[2019-11-14 11:46] ismcagdas commented on #5028
Resolved via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5031

[2019-11-14 11:46] #5028 closed

[2019-11-14 13:35] seblucas commented on #5029
Thanks a lot

[2019-11-14 13:35] #5029 closed

[2019-11-14 15:19] dkisic10 opened #5034 "Automapper ProjectTo issue in ABP v5.0.0"
After migrating to new ABP version I am having issue with **ProjectTo** method of Abp.AutoMapper. This worked normally in previous versions and now it doesn't. I couldn't find the explanation in documentation of ABP or Automapper and it interests why the same code used to work in previous versions?

I have **Partner** class with three properties where one is calculated (FullName):

        public

[2019-11-14 19:12] sebitsi commented on #5034
@dkisic10 did you see this  ?

https://docs.automapper.org/en/stable/9.0-Upgrade-Guide.html

[2019-11-14 23:27] dkisic10 commented on #5034
Yeah, I did. But if I had property PartnerCode or PartnerName in ActivityGridDto they would be projected normally without extra configuration, while there is problem with PartnerFullName.

[2019-11-14 23:54] gdunit commented on #5026
OK.. I finally managed to figure it out by process of elimination!

The issue was that one of the application services had a helper method that was _meant_ to be private to return an aggregate entity as an IQueryable:

`public IQueryable<MyEntity> GetAggregateEntity(Expression<Func<MyEntity, bool>> predicate)`

Problem was that this had accidentally been marked as public. As soon as it was switche

[2019-11-15 00:49] maliming commented on #5026
The problem I found was that the `IApiDescriptionGroupCollectionProvider `would be blocked when there were complex types in the parameters or return types of the dynamic api.

The problem exists in asp net core 3.0. Maybe `AbpAppServiceConvention `needs to be enhanced. I will take the time to debug it in detail.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b9326bc79d08998a6148032a9

[2019-11-15 00:55] maliming commented on #5034
Abp's ProjectTo function directly uses Automapper's ProjectTo. Perhaps this problem has nothing to do with abp, you can refer to the Automapper documentation.

Of course, if you share a project to reproduce the problem, maybe someone will be willing to check it for you.

[2019-11-15 01:10] osalas891123 opened #5035 "(QUESTION) How can i subscribe for UserDisconnected event on ABP"
I check for UserDisconnected event on OnlineClientManager, but how can i subscribe for handling  client disconnection.

[2019-11-15 01:21] maliming commented on #5035
There is `OnDisconnectedAsync `method in Hub. Is this what you need?

[2019-11-15 01:24] osalas891123 commented on #5035
@maliming thanks for your quick answer. What i need is to handle client disconnect for some role. Do i need to create my own Hub?

[2019-11-15 01:31] maliming commented on #5035
Try the event subscription code below.

[code]

[2019-11-15 01:54] osalas891123 commented on #5035
@maliming where is the proper place for this on ABP, as i saw event handling on its classic way is not good on WEB, i was looking something like Domain Events.

[2019-11-15 03:13] ryancyq commented on #5035
You can try triggering the domain event yourself in the event handler. However, you would need to serialIze the sender and arguments property properly for domain event handler.

see https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events

[2019-11-15 03:24] #5012 closed

[2019-11-15 03:27] #4920 closed

[2019-11-15 03:28] #4806 closed

[2019-11-15 03:45] osalas891123 commented on #5035
@ryancyq , thanks for your comments, what i need is a place to detect client disconnection on browser close, if i subscribe to a common Hub and manage websocket disconnect server side is good for me, I need a place that persist between request (application service and controllers are transients)

[2019-11-15 06:39] sebitsi commented on #5034
@dkisic10

You have put` [NotMapped]` annotation on FullName property. Could this be a reason ?

[2019-11-15 06:41] laozhuorun commented on #4959
I have the same problem，i think is caused by abp framework，i haven't not change my code  but upgrade abp framework to 5.0

![image](https://user-images.githubusercontent.com/5772553/68922130-ce4f4d00-07b5-11ea-9bb0-c95aba8ce4e2.png)

remove the code

`modelBuilder.ChangeAbpTablePrefix<Tenant, Role, User>("");`

the error is disappear

[2019-11-15 06:48] maliming commented on #4959
@laozhuorun  see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4962

[2019-11-15 06:52] laozhuorun commented on #4959
thx for answer

[2019-11-15 08:16] brainsmiths opened #5036 "on tenant creation new entry insert into abpRoles table"
when i create a new tenant then, new entry goes in AbpRoles table. How to fix it.

[2019-11-15 08:37] maliming commented on #5036
Can you elaborate on this?

[2019-11-15 09:23] maliming commented on #5036
Do you mean ASP.NET Zero(https://aspnetzero.com/)?
If so, please discuss it in Zero.

For net fx: https://github.com/aspnetzero/aspnet-zero/issues/new
For net core: https://github.com/aspnetzero/aspnet-zero-core/issues/new

[2019-11-15 09:55] brainsmiths commented on #5036
its same in boiler template and same in asp.net zero and this question is on boiler template

[2019-11-15 10:10] dkisic10 commented on #5034
Yeah, if I would remove ` [NotMapped]` annotation and add FullName column to Partners table it would definitely work. It would also work if code stayed the same but with every Activity having PartnerId specified. If there was only one activity without PartnerId specified, exception would be thrown when trying to map from null Partners calculated property.

It bothers me why the same code used to w

[2019-11-15 10:46] dkisic commented on #5034
I made a test project that recreates this scenario.

https://github.com/dkisic/automapper-issue

The difference is I placed Partner FK to Users table. Open http://localhost:62114/Users to see the issue. If you remove PartnerFullName from UserDto it will work. It will also work if you add new partner and update PartnerId column in Users table with newly created partners Id. I didn't add Partners CR

[2019-11-15 16:24] hikalkan commented on #5026
@ismcagdas I moved this to 5.1 milestone to make it more visible and work on in a short time to understand it better. Ok?

[2019-11-16 05:04] afresh opened #5037 "How to use AntiForgeryController?"
### Documentation

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/2026ae9d92127e70f0d9fb31e027e313f503a2ec/doc/WebSite/XSRF-CSRF-Protection.md

### GitHub Issues

My clients are different kinds of applications, then I provide a way of setting the anti- forgery token cookie. But how can I user the AntiForgeryController in Javascript by ajax?

[2019-11-16 19:23] ismcagdas commented on #5037
@afresh if you use abp.ajax, it is automatically added to the request. If not, you can check https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection to see how to use it on client side.

[2019-11-18 02:36] ryancyq commented on #5035
You can try storing user disconnected event and params in redid cache.

[2019-11-18 02:41] ryancyq commented on #5036
@brainsmiths abp template and aspnetzero template are different.

Abp template does not support wizard UI component by default.

If you are referring to `IsDefault` property in Role Management, see https://aspnetboilerplate.com/Pages/Documents/Zero/Role-Management#role-entity

[2019-11-18 02:59] dafeifei0218 opened #5039 "How to modify the default localization content?"
EX: aspnetboilerplate\src\Abp.ZeroCore\Zero\Localization\SourceExt\AbpZero-zh-Hans.xml
`<text name="Identity.DuplicateUserName" value="名字{0}已被占用." />`
How to modify the default localization content?

[2019-11-18 03:10] maliming commented on #5039
see https://aspnetboilerplate.com/Pages/Documents/Localization#extending-localization-sources

[2019-11-18 05:53] #5039 closed

[2019-11-18 05:53] dafeifei0218 commented on #5039
Think You，The original SourceName and XML File are the same as the localization to be modified。

[2019-11-18 06:16] ishamfazal opened #5040 "There is no such an entity. Entity type: Test.Maintenance.Lookups.Sector, id: 2"
I have an entity class which i have overridden the primary key to a different id eg: testId however. when i use the get method as repository.get(id) to obtain the values for the specific id. i get the following error.

There is no such an entity. Entity type: Test.Maintenance.Lookups.Sector, id: 2

Is there a workaround to let the get method to use my testId as the primary key instead the Id key?

[2019-11-18 06:34] demirmusa commented on #5040
That's the method you need to override.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/6dd98bb9c29b24b32f342a1cc13d65d861457363/src/Abp/Domain/Repositories/AbpRepositoryBase.cs#L269-L283

[2019-11-18 06:35] dafeifei0218 opened #5041 "Abp.ZeroCore CheckDuplicateRoleNameAsync Localization problem"
This class /src/Abp.ZeroCore/Authorization/Users/AbpUserManager.cs, CheckDuplicateUsernameOrEmailAddressAsync Method，Use these two localizations "Identity.DuplicateUserName" and "Identity.DuplicateEmail".
This class /src/Abp.ZeroCore/Authorization/Roles/AbpRoleManager.cs, CheckDuplicateRoleNameAsync Method，Use these two localizations "RoleNameIsAlreadyTaken" and "RoleDisplayNameIsAlreadyTaken",
1、

[2019-11-18 07:00] ishamfazal commented on #5040
@demirmusa hi im trying to override the above method on my testRepositoryBase class but its not triggering any idea?

[2019-11-18 07:08] demirmusa commented on #5040
Hi @ishamfazal. Actually I just learn that it might be bad idea to override it because you will also need to replace it alot of place. So ignore my previous comment.

First of all how did you override entityid? its class parameter.

[2019-11-18 07:09] demirmusa commented on #5040
Hi @ishamfazal. Actually, I just learn that it might be a bad idea to override it. Because you will also need to replace it in a lot of places. So ignore my previous comment.

First of all, how did you override entity id? its class parameter.

[2019-11-18 07:11] ishamfazal commented on #5040
@demirmusa  this is how i did it on my entity class
![image](https://user-images.githubusercontent.com/11960696/69031683-1bb8fd80-09f4-11ea-90c5-9e18020213e8.png)

[2019-11-18 07:11] tnlthanzeel commented on #4990
hi, is it possible to configure to return PascalCase result only from one action in a controller?

[2019-11-18 07:12] demirmusa commented on #5040
If what you need is change its coloumn name on sql table you can do it on model builder.

_YourDbContext.cs_
[code]

[2019-11-18 07:16] ishamfazal commented on #5040
@demirmusa  that did not work i get the following exception
'Sector.SectorId' and 'Sector.Id' are both mapped to column 'SectorId' in 'Sectors' but are configured to use different data types ('bigint' and 'int').

[2019-11-18 07:18] demirmusa commented on #5040
You need to clear your overriding. Delete SectorId property and overridden Id property use them as default. Then you can use the Id on your code and it will be mapped to SectorId on your db.

[2019-11-18 07:22] ismcagdas commented on #4990
@tnlthanzeel you can use `[JsonProperty("NameYouWant")]` for a specific case.

[2019-11-18 07:23] ishamfazal commented on #5040
well i did but i get the following error on startup.
![image](https://user-images.githubusercontent.com/11960696/69032400-cb429f80-09f5-11ea-9bf6-34bde8203832.png)

[2019-11-18 07:23] tnlthanzeel commented on #4990
[JsonProperty("PascalCase")], like this?

[2019-11-18 07:24] ismcagdas commented on #5040
@ishamfazal if you want your Id to be long, then derive from `Entity<long>`. You are currently using Entity.

[2019-11-18 07:26] ismcagdas commented on #4990
Yes.

[2019-11-18 07:28] ismcagdas commented on #5041
@dafeifei0218 it is our own implementation I guess. What is the problem you are facing, I couldn't understand.

[2019-11-18 07:28] ishamfazal commented on #5040
@ismcagdas well that doesn't solve the issue
Error	CS0311	The type 'Test.Maintenance.Lookups.Sector' cannot be used as type parameter 'TEntity' in the generic type or method 'IRepository<TEntity>'. There is no implicit reference conversion from 'Test.Maintenance.Lookups.Sector' to 'Abp.Domain.Entities.IEntity<int>'.	Tatweer.Municipalities.Application

[2019-11-18 07:29] demirmusa commented on #5040
You can please check documentations and check your implementation:
https://aspnetboilerplate.com/Pages/Documents/Entity-Framework-Core
https://aspnetboilerplate.com/Pages/Documents/Entities

[2019-11-18 07:30] tnlthanzeel commented on #4990
it works!!! thanks a lot

[2019-11-18 08:09] dafeifei0218 commented on #5041
It is only inconsistent when modifying localization.
![QQ截图20191118160830](https://user-images.githubusercontent.com/10148878/69035114-cd205900-0a1d-11ea-9549-624230e749e3.png)

[2019-11-18 08:44] ismcagdas commented on #5041
Identity.DuplicateUserName is from ASP.NET Identity but other ones are our own definitions. That's why we haven't used same pattern.

[2019-11-18 09:01] dafeifei0218 commented on #5041
OK，Thanks

[2019-11-18 09:17] #5041 closed

[2019-11-18 12:45] ChiakiYu opened #5042 "How dynamic api does not automatically remove the Async suffix"
* Abp package version：5.0.0.
* Your base framework: .Net Core 3.0.
* Exception message and stack trace if available.

![image](https://user-images.githubusercontent.com/9720473/69053365-3a46e500-0a44-11ea-9061-88e334fa1f31.png)

* Steps needed to reproduce the problem.
In `MyProjectWebCoreModule.cs`
[code]

[2019-11-18 21:43] dkisic commented on #5034
For anyone struggling with this. I've found the [project](https://github.com/hazzik/DelegateDecompiler) which helped me solve my problem. With this tool you can easily decompile your computed properties. I would also recommend everyone dealing with this to read [article](https://daveaglick.com/posts/computed-properties-and-entity-framework) about computed properties in EF.

[2019-11-19 01:19] maliming commented on #5042
**RemoveAsyncPostfixOnProxyGeneration** is for **AbpServiceProxies(ApiProxyScripting)**.

[2019-11-19 01:19] #5042 closed

[2019-11-19 01:29] ChiakiYu commented on #5042
How to keep the Async suffix of the api in swagger？

[2019-11-19 02:22] ChiakiYu opened #5043 "How to keep the Async suffix of the api in swagger？"
* Abp package version：5.0.0.
* Your base framework: .Net Core 3.0.

When used as Api Url,
I need the full method name in the Application

for example

`/api/services/app/AAA/GetAAAListAsync`
not `/api/services/app/AAA/GetAAAList`

[2019-11-19 02:40] maliming commented on #5043
This is the convention of asp net core 3.0, and has nothing to do with abp.

https://github.com/aspnet/AspNetCore/issues/4849

[2019-11-19 02:40] #5043 closed

[2019-11-19 02:43] ChiakiYu commented on #5043
thanks!

[2019-11-19 04:35] ryancyq commented on #5043
For future reference, see https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.mvcoptions.suppressasyncsuffixinactionnames

[2019-11-19 06:05] ismcagdas commented on #5034
@dkisic should we close this issue ?

[2019-11-19 06:09] dkisic10 commented on #5034
Yes, this can be closed.

[2019-11-19 06:09] #5034 closed

[2019-11-19 06:18] mujthabagroad commented on #5026
@ismcagdas Is this also related to? https://support.aspnetzero.com/QA/Questions/8016

Thanks.

[2019-11-19 06:21] ismcagdas commented on #5026
@mujthabagroad probably not. Coul you write on https://support.aspnetzero.com/QA/Questions/8016 how did you generate your Entity ? If you can specify steps to reproduce this problem, we will fix it in a short time.

[2019-11-19 06:29] mujthabagroad commented on #5026
Okay, I will comment on it.

[2019-11-19 06:47] ismcagdas commented on #5040
@ishamfazal did you solve it ? If not, please share your entity definition and how do you use a generic repository for it ?

[2019-11-19 09:45] ispwd opened #5044 "Abp.EntityFrameworkCore.EFPlus need to be updated"
dependency Z.EntityFramework.Plus.EFCore upgrade to 3.0.22

Fix the following errors:

ystem.InvalidCastException: Unable to cast object of type 'Microsoft.EntityFrameworkCore.Query.SqlExpressions.SqlParameterExpression' to type 'Microsoft.EntityFrameworkCore.Query.SqlExpressions.SqlConstantExpression'.
   at Microsoft.EntityFrameworkCore.Query.QuerySqlGenerator.VisitIn(InExpression inExpression)

[2019-11-19 09:47] maliming commented on #5044
thanks, I will check it out.

[2019-11-19 09:53] ispwd commented on #5044
Environment:DotNet3.0 and EFCore 3.0
Call the method BatchDeleteAsync
example:
Repository.BatchDeleteAsync(a=>ids.Contains(o.Id));

The above error will occur

[2019-11-19 13:36] xqsapper commented on #5004
I also have this problem, use single page web, front end using the vue - admin - element, before .net core 2.2 is success, upgrade to the. Net core 3.0, also appears httppost "404 bad request", found that a cookie item ".AspNetCore. Antiforgery..."，After deleting this cookie， httppost succeeded

[2019-11-19 17:29] dailyawkward opened #5047 "Custom PasswordHasher"
Hi,

Does Abp support custom PasswordHasher implementation out of the box and if so is there an example anywhere?

Thanks,

[2019-11-20 00:40] maliming commented on #5047
I think you only need to implement `IPasswordHasher<TUser>` and then register to DI.

[2019-11-20 01:09] maliming commented on #5004
The problem is in cookies. As mentioned above.

[2019-11-20 03:31] niceguy3-31 opened #5048 "can i send JsonResult when user not login?"
my project is downloaded from abp site.
mvc, mpa and abp version is 5.0
[code]
when i call this action without login,i get a 302 to /account/login.
how can i get a JsonResult contains msg "currnet user not login"?
like `unAuthorizedRequest: false`
"customErrors" in web.config is "On"

[2019-11-20 03:36] ryancyq commented on #5048
That is by design.

If you want to return jsonresult for unauthenticated action, the action itself cannot have `AbpMvcAuthorize`.

Similar to https://github.com/aspnetboilerplate/module-zero-core-template/blob/f3151bde34b59adfc4fee3656ceb03ba76c49c40/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Controllers/AccountController.cs#L96

[2019-11-20 04:03] niceguy3-31 commented on #5048
@ryancyq   you are right.thank you !

[2019-11-20 04:03] #5048 closed

[2019-11-20 06:45] #5044 closed

[2019-11-20 10:15] ryanfalzon opened #5049 "ICacheManager not registered."
Hi,

I downloaded Abp.Web.Api package and tried to load the application but it is giving the following error:
The constructor of type AbpCacheController contains the parameter with name 'cacheManager' and type ICacheManager that is not registered. Please ensure ICacheManager is registered, or change the constructor of AbpCacheController.

[2019-11-20 11:04] maliming commented on #5049
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2019-11-20 11:26] ryanfalzon commented on #5049
- Your Abp package version - v5.0.0
- Your base framework: .Net Framework or .Net Core - .Net Framework
- Exception message and stack trace if available - `[ArgumentException: The given type CacheManagerBase<CacheBase> is not a concrete type. Please use one of the other overloads to register this type.
Parameter name: TImplementation]
   SimpleInjector.Container.ThrowArgumentExceptionWhenTypeIsNot

[2019-11-20 11:51] ryancyq commented on #5049
@ryanfalzon are you using memory chance or redis cache?

[2019-11-20 11:55] ryanfalzon commented on #5049
@ryancyq no I am not using them. I just want to do what is described in this tutorial: https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection.

Therefor I download the Abp.Web.Api package but it also downloaded the following dependencies: Abp.Web, Abp.Web.Common, Abp.

[2019-11-20 12:36] ryanfalzon commented on #5049
I have discovered that if I delete the package Abp.Web.Api but leave the other packages: Abp.Web, Abp.Web.Common, Abp, the error is resolved. However I need the Abp.Web.Api package to create the Antiforgery stuff

[2019-11-20 13:33] ismcagdas commented on #5049
@ryanfalzon are you using ASP.NET Core or ASP.NET MVC 5.x ?

[2019-11-20 13:43] ryanfalzon commented on #5049
Using ASP.Net Web API 4.x

[2019-11-20 17:14] rfartaria opened #5050 "UserAppService.ChangePassword and LoginAsync"
Version: Abp 4.81
Issue: fails to change password when using module-zero-core-template application

Steps to reproduce:
1. create user ABC
2. delete user ABC
3. login as user ABC
4. change password

I think the UserAppService.ChangePassword method in "module-zero-core-template" the calls LoginAsync with tenancyName:null. This fails if we have two users with the same name because the code in LoginA

[2019-11-21 05:48] dashenxian opened #5051 "System.ObjectDisposedException is reported when dto Implementing ICustomValidate use context.IocResolver.Resolve IRepository"
Abp package version.
4.8.0
base framework: .Net Framework or .Net Core.
 .net core 2.2
Exception message and stack trace if available.

System.ObjectDisposedException:“Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This may occur if

[2019-11-21 06:31] ismcagdas commented on #5051
@dashenxian you have to start a unit of work in the AddValidationErrors as well manually, see https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work

[2019-11-21 07:08] dashenxian commented on #5051
UnitOfWorkAttribute is useless,when I add to the method like this:
[code]

[2019-11-21 07:17] ismcagdas commented on #5051
Did you try starting Uow manually, https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#iunitofworkmanager ?

[2019-11-21 07:22] ismcagdas commented on #5050
@rfartaria could you also share the exception details ? By the way, how do you login with a deleted user ? Do you create a new user with the same username ?

[2019-11-21 07:24] dashenxian commented on #5051
it works
[code]

[2019-11-21 07:24] #5051 closed

[2019-11-21 08:21] XbCore opened #5052 "How to dynamic modify the DbContext's ConnectionString in AppService?"
* Abp package version:4.10.1.
* base framework:  .Net Core.

I need to connect to multiple external databases of ERP in Abp Modular.
My method is dynamic modify the DbContext's ConnectionString in AbpController of Web Project.
The code is as follows:
[code]
But I think the best way should be in the Application Project's AppService.
My question is:
How to realize the above code functions in the App

[2019-11-21 10:08] rfartaria commented on #5050
I'm so sorry for the incorrect information!

There should be a step 2.1 create user ABC.
So, delete the user and then create another exactly with the same characteristics. Then, login as the new one and try to change password.

The result for:
var loginAsync = await _logInManager.LoginAsync(user.UserName, input.CurrentPassword, tenancyName: tenant.TenancyName, shouldLockout: false);
is then AbpLog

[2019-11-21 13:51] oshabani opened #5053 "This localhost page can’t be found Issue"
after i install the framework , i made the Host project is the default project ,and i change the connection string after that i  ran it using VS 2019 , i got the following error : "This localhost page can’t be found" ?
  how to resolve this issue ?

[2019-11-21 14:08] demirmusa commented on #5053
Did you create database?
run `update-database` command on Packages Manager Console

[2019-11-21 14:11] oshabani commented on #5053
Yes i created the database , using the Migrator  , as you can see here :

![image](https://user-images.githubusercontent.com/5842279/69345249-df9acc80-0c81-11ea-8ff2-9c3211142903.png)

[2019-11-21 14:23] demirmusa commented on #5053
Can you please share log file content

[2019-11-21 14:41] oshabani commented on #5053
sure

[Logs - Copy.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/3875161/Logs.-.Copy.txt)

[2019-11-21 16:00] oshabani commented on #5053
@demirmusa any updates brother?

[2019-11-21 18:52] demirmusa commented on #5053
I could not get enough clue from your log file.
I downloaded, checked it and could not reproduce it.

Can you please download new project and try to reproduce it?

[2019-11-22 01:25] oakuraape commented on #4943
Is this change still going to progress?
Just wondering.

[2019-11-22 02:48] dolphinsd opened #5054 "FullName causes select on all columns for user"
Since FullName is not mapped in the table, if its included in the query, it will cause all columns selected.

See this linq:
                var query = UserManager.Users.Select(e => new { e.Name, e.Surname, e.FullName, e.PhoneNumber, e.EmailAddress, e.UserName, e.Id }).ToListAsync();

See this sql

exec sp_executesql N'SELECT [e].[Id], [e].[AccessFailedCount], [e].[AnonymousUser], [e].[Authentica

[2019-11-22 03:18] ryancyq commented on #5054
This is an expected behavior from entity framework.

When ef encounters a property that is not map, it will materialize the whole object.

For more information on this, you can check ef’s documentation or stackoveflow (like https://stackoverflow.com/questions/1987836/creating-a-non-mapped-property-in-an-entity-entity-framework)

[2019-11-22 03:18] #5054 closed

[2019-11-22 03:21] ryancyq commented on #5053
[code]

Looks the your connection string or database configuration was wrong

[2019-11-22 03:26] ryancyq commented on #5052
The recommended approach will be multiple db context with different connection strings.

You can learn about the concept of multiple db context at https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/MultipleDbContextEfCoreDemo

[2019-11-22 07:48] jeyarulraj opened #5055 "Can I use aspnetboilerplate in MVVM architecture in WPF Application?"
I want to use your aspnetboilerplate open source template in my WPF Application in MVVM architecture. Is there any possible way to use in MVVM architecture? Could anyone help me on that?

[2019-11-22 08:48] #4095 closed

[2019-11-22 08:48] #4114 closed

[2019-11-22 08:49] #4105 closed

[2019-11-22 08:50] #4097 closed

[2019-11-22 08:50] #4035 closed

[2019-11-22 08:51] #4302 closed

[2019-11-22 08:51] #4435 closed

[2019-11-22 08:52] #4595 closed

[2019-11-22 08:53] #4329 closed

[2019-11-22 08:53] #4310 closed

[2019-11-22 08:53] iyilm4z commented on #4943
@oakuraape yes. last two weeks i was extremely busy that’s why i couldn’t finish it. in following few days it will be ready.

[2019-11-22 09:21] laozhuorun opened #5056 "AbpMvcAuthorize not working - 401 unauthorized error"
abp version：5.0.0

this problem is appear on AbpController which use [AbpMvcAuthorize]，the webapi is normal

[2019-11-22 10:53] demirmusa commented on #5053
You log file contains alot of logs. As @ryancyq mentioned it contains sql errors but you said you created db. So your log file contains old logs.
Can you please delete your log files. Then start project and get error and send that newly created log file.

[2019-11-22 10:56] demirmusa commented on #5053
By the way, I try with with v5.0 project and I could not reproduce it.
Please also download the project again and try to reproduce it.

[2019-11-22 11:02] demirmusa commented on #5050
Thanks @rfartaria we will check it

[2019-11-22 12:19] demirmusa commented on #5050
I checked it and could not reproduce it. Can you share example project?

[2019-11-22 12:34] ismcagdas commented on #5056
@laozhuorun could you use ABP templates and reproduce it ? Thanks.

[2019-11-22 13:13] ismcagdas commented on #5055
Yes, we have a sample app, see https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/AbpWpfDemo. It might not be up to date but it can give you an idea.

[2019-11-22 13:24] hikalkan opened #5057 "Should add AbpAspNetCoreModule assembly to the application parts"
Otherwise, it might fail to find the controllers defined in this assembly

[2019-11-22 13:34] #5057 closed

[2019-11-22 17:51] rfartaria commented on #5050
Hi @demirmusa.

This can not be done on the default tenant. That works.
That's the tenant LoginAsyncInternal falls back to (in my opinion it should not, as I stated above).

Anyways I just did this:

1. Downloaded a new app Angular+NetCore2 called TestUserChangedPassword and took all the standard steps. Then, using the angular app (can be done just with just the host one but it's easier for me thi

[2019-11-22 19:06] #4503 closed

[2019-11-22 19:07] #4853 closed

[2019-11-23 05:57] jeyarulraj commented on #5055
Yes, I already had gone through that WPF samples you mentioned. I got the idea from that. But I want to implement my Application in MVVM archicture with PRISM and ABP framework.

[2019-11-23 09:09] laozhuorun commented on #5056
![image](https://user-images.githubusercontent.com/5772553/69476262-de4cd980-0e12-11ea-8a3a-a2ab6a0d0fb2.png)
![image](https://user-images.githubusercontent.com/5772553/69476270-fd4b6b80-0e12-11ea-81fc-fcf3c77e69de.png)
![image](https://user-images.githubusercontent.com/5772553/69476334-b6aa4100-0e13-11ea-97de-49bef9ac36f9.png)

i use AbpMvcAuthorizeAttribute in ‘ShipmentController’ by extends ‘Ab

[2019-11-23 09:39] ismcagdas commented on #5055
ABP doesn't provide anything out of the box for MVVM. What is your concern ?

[2019-11-23 10:07] oshabani commented on #5053
this is a cleared log file

[Logs.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/3882325/Logs.txt)

[2019-11-23 11:53] isystem20 commented on #4963
It worked! Thank you @maliming

[2019-11-23 11:57] jeyarulraj commented on #5055
OK. Thank you so much for your response Mr.Ismail.

[2019-11-23 11:57] #5055 closed

[2019-11-24 03:21] maliming commented on #5056
**Could you use ABP templates and reproduce it ?**

[2019-11-25 01:42] #5047 closed

[2019-11-25 06:50] ismcagdas commented on #5053
@oshabani did you select this option when you were downloading the template ?

![image](https://user-images.githubusercontent.com/4133525/69518549-eb7bdc80-0f68-11ea-9231-809e8f10c90e.png)

If so, add "/swagger" to your url. It should be something like "http://localhost:PORT/swagger/index.html".

[2019-11-25 07:56] amin168 commented on #4465
hi @ismcagdas
Could you merge this enhancement as soon as possible?

[2019-11-25 08:02] ismcagdas commented on #4465
@amin168 I have added it to 5.1. Will work on it soon.

[2019-11-25 08:09] amin168 commented on #4465
@ismcagdas
But my project's version is 4.x.
Could you merge it into 4.x version?
Thanks.

[2019-11-25 08:10] ismcagdas commented on #4465
Sure, we will apply same changes for 4.12 version.

[2019-11-25 08:11] amin168 commented on #4465
Thanks a lot

[2019-11-25 08:34] oshabani commented on #5053
@ismcagdas thanks a lot ,it is working now !

[2019-11-25 08:40] Belala opened #5059 "Use both AutoRepositoryTypes and Abp.Dapper get some error"
Abp: 4.1.0
EF Core:  2.2.1

code like :
` [AutoRepositoryTypes(
    typeof(IExtendXXRepository<>),
    typeof(IExtendXXRepository<,>),
    typeof(ExtendXXRepository<>),
    typeof(ExtendXXRepository<,>),
    WithDefaultRepositoryInterfaces = true
    )]`

Dapper follow document. DependsOn and create mapper.

Here is my error log:
 Service 'Abp.Dapper.Repositories.IDapperRepository`2[[xxx, xxx, Ver

[2019-11-25 08:47] maliming commented on #5059
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2019-11-25 08:54] maliming commented on #5053
Please execute in the .Web.Host directory:
`yarn`
`npm start`
Launch the angular app.

[2019-11-25 09:16] demirmusa commented on #5053
You may start follow documentation
https://aspnetboilerplate.com/Pages/Documents/Introduction
https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular

[2019-11-25 09:17] demirmusa commented on #5053
You may follow those documentations
https://aspnetboilerplate.com/Pages/Documents/Introduction
https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular

[2019-11-25 09:38] demirmusa commented on #5050
Hi @rfartaria .
Thanks for detailed description. You can upgrade to abp 4.11 it fixs that problem (it is  on v4.9 now, I will upgrade and release it asap).

[2019-11-25 09:39] demirmusa commented on #5050
Hi @rfartaria .
Thanks for the detailed description. You can upgrade to ABP v4.11 it fixes that problem (it is on v4.9 now, I will upgrade and release it asap).

[2019-11-25 11:47] demirmusa commented on #5050
@rfartaria Let me know if it is not solved.
It is solved for me after I upgrade abp v4.11.

[2019-11-25 15:30] iyilm4z commented on #4943
Hi guys!

Finally i've done with the PR. [Here](https://github.com/aspnetboilerplate/module-zero-core-template/pull/489) it is. As a developer classic i would like to mention "everything works like a charm  with my local env":) I hope it also works for you as well.

I'm waiting for your feedbacks. Thanks in advance.

[2019-11-25 15:55] marcelluswalace opened #5060 "abp framework visual studio 2017 project in not compiling after adding nuget package"
My aspnetboilerplate project was working until I added nuget package Abp.Quartz.
When I add it compiling failed. here the example errors:

'AsyncCrudAppService<Scheduler, SchedulerDto>' does not contain a definition for 'Create'
'AsyncCrudAppService<Scheduler, SchedulerDto>' does not contain a definition for 'Delete'	'RoleAppService.Create(CreateRoleDto)': no suitable method found to override	'Rol

[2019-11-25 19:40] kfrancis commented on #5026
What is the timeline for getting this fixed?

[2019-11-26 00:50] maliming commented on #5060
`AsyncCrudAppService<Scheduler, SchedulerDto>' does not contain a definition for 'Create`

What is the version of your abp package?

AsyncCrudAppService has been refactored. see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4532

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c0604b9b1347a3b9581bf97b4cae22db5b6bab1b/src/Abp/Application/Services/AsyncCrudAppService.cs#L10

[2019-11-26 00:51] maliming commented on #4943
@iyilm4z awosome! 👍

[2019-11-26 01:08] maliming commented on #5026
@kfrancis

we are work on it, I believe it won't be long.

You can temporarily modify the parameters or return value of the application service method to solve it.

[2019-11-26 02:12] maliming commented on #4465
@amin168
You should know that Dapper enhancements have some features that are not yet implemented.

[2019-11-26 05:02] isystem20 opened #5061 "Dependency Injection"
Hi.

I would like to ask for help regarding dependency injection.

FilterBuilder.cs

[code]

DataServiceProviderAppService.cs

[code]

ConsoleManagerDataServiceApplicationModule.cs

[code]

**Error log:**
[code]

Did I register it wrong? Please help.

[2019-11-26 05:27] maliming commented on #5061
Looks similar to this issue.
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5025#issuecomment-553252837

[2019-11-26 06:10] isystem20 commented on #5061
I remade the project with startup project:

https://github.com/isystem20/abp_dependency

[2019-11-26 06:16] maliming commented on #5061
* Steps needed to reproduce the problem.

[2019-11-26 06:21] isystem20 commented on #5061
I am just calling the functions in DataServiceProviderAppService like SendMessage or SendRequestTest using signalr

[2019-11-26 06:23] maliming commented on #5061
What steps do I need to reproduce your problem?

[2019-11-26 06:29] shenqingwen opened #5062 "AutoMap::Is it correct to change an outdated sentence to the one above"
[code]

[2019-11-26 06:30] iyilm4z commented on #4943
After my pr accepted, i will inform AdminLTE community about ABP's usage of it. @hikalkan also did it with AdminBSB [here](https://github.com/gurayyarar/AdminBSBMaterialDesign/issues/62). This will probably get new developers to our project and make both of communities bigger and closer to each other.

[2019-11-26 06:35] isystem20 commented on #5061
Just invoke SendMessage in websocket like abp.signalr.hubs.common.invoke('sendMessage ', 'hi');

[2019-11-26 06:58] maliming commented on #5062
This is no problem.

[2019-11-26 07:08] shenqingwen commented on #5062
ok，谢了

[2019-11-26 07:09] #5062 closed

[2019-11-26 07:24] maliming commented on #5061
No module is depends on `TESTDataServiceApplicationModule`.
`FilterBuilder `has inherited `IApplicationService`.

No need to register again `IocManager.Register <FilterBuilder> (DependencyLifeStyle.Transient);`

[2019-11-26 07:26] NicolasPerego opened #5063 "Massive Debug log file after upgrading to 5.0"
After upgrading to Abp5.0 and .NET Core 3.0, I have a lot of logging of skipped audited entities... I mean A LOT.

In production, log files rarely exceeded 15Mb for a day, but on staging env with the lastest Abp, 2 hours of light testing generated a debug log file greater than 25Mb.

For each Audited entity, it seems to scan all the entities of a table if one is added (in my case):

    DEBUG 2019

[2019-11-26 08:40] demirmusa commented on #4992
New version released. To fix this, you can upgrade your abp version.

[2019-11-26 08:40] #4992 closed

[2019-11-26 08:53] tanghaojie opened #5064 "How to handle exception in core?"
i'm new to use core, i there any way handle exception like `IEventHandler` in asp.net?

[2019-11-26 09:15] maliming commented on #5064
https://aspnetboilerplate.com/Pages/Documents/AspNet-Core#exception-filter
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.0

[2019-11-26 09:15] #5064 closed

[2019-11-26 09:48] demirmusa commented on #5006
I just checked it with 10.000 row on **AbpBackgroundJobs** table and call
`await _backgroundJobStore.GetWaitingJobsAsync(1);`
10.000 times.
(Its is not big test but enogh to see difference)

Here is the results:

_Current version: (without changing anything)_
![currentversion](https://user-images.githubusercontent.com/48536631/69613340-78df2f80-1042-11ea-9d88-05287abe7d94.png)
It took 170sec
___
_

[2019-11-26 09:55] isystem20 commented on #5061
I am sorry, I don't understand. what should I do then?

[2019-11-26 14:10] #4661 closed

[2019-11-26 14:28] demirmusa commented on #4862
For issue 2, I can leave that comment which agree with https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4714#issuecomment-513210222

[2019-11-26 15:02] hidayetsoltanzade opened #5065 "web.api receiving multipart encoded form data"
I'm using Asp.Net Boilerplate free startup template (ASP.NET MVC 5.x, Abp version 3.4.0.0)
I want to post multipart/form-data to `AbpApiController`, want to use this https://github.com/iLexDev/ASP.NET-WebApi-MultipartDataMediaFormatter
for automatic binding action parameters of custom types (including files) encoded as multipart/form-data. But i get unsupported media type. Could you please help me

[2019-11-26 15:32] kfrancis commented on #5026
Here's what I did to identify the issue:

1. Add a compiler flag DISABLEREMOTESERVICES
2. Add the following attribute to every one of our custom services (not services that come factory):
[code]
3. Build, run, verify it's working (it should).
4. Find all DISABLEREMOTESERVICES in *.cs
5. For each one, change `IsEnabled = false` to `IsEnabled = true`, build and run. If it still continues to run fine

[2019-11-26 15:45] hidayetsoltanzade commented on #5065
[code]
put this line to `ImpostaWebApiModule` `Initialize()`

[2019-11-27 00:48] maliming commented on #5065
You can take a look at this issue.
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2907

[2019-11-27 02:07] isystem20 commented on #5061
I got it now. I included the TESTDataServiceApplicationModule in  WebCoreModule dependencies.
Thank you @maliming

[2019-11-27 02:07] #5061 closed

[2019-11-27 06:43] ismcagdas opened #5066 "Upgrade to ASP.NET Core 3.1"

[2019-11-27 08:00] isystem20 opened #5067 "How to make the tenant default in frontend? (Question)"
I am trying to make multiple SPA.
How to make each front end intended to specific Tenant?

Thank you

[2019-11-27 08:07] maliming commented on #5067
Can you elaborate on it?

[2019-11-27 08:07] #5025 closed

[2019-11-27 08:10] isystem20 commented on #5067
Like for example:
I have this Site A = Tenant A
Site B = Tenant B

Site A should not be able to login in Tenant B.
Site A users should automatically log into Tenant A.

Is there built-in feature to do it?

[2019-11-27 08:13] maliming commented on #5067
You can use multiple domain names to determining the current tenant.
If DomainTenantResolveContributor cannot meet your domain rules, you can customize TenantResolveContributor.

see https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#determining-current-tenant

[2019-11-27 10:41] iyilm4z commented on #4982
@ismcagdas ngx-admin is one of the most supported theme for angular.

I'm all agree with @beriniwlew's comments below.

If you core team guys let @beriniwlew to work on this issue, i would like to give a hand to him.
Sure if he also wants it as well:)

[2019-11-27 11:19] beriniwlew commented on #4982
@iyilm4z The biggest issue with ngx-admin/Nebula that I see so far is that it's missing a lot of components compared to others out there.    It's the most beautiful design I've seen for any dashboard out there, but IS it the best?

[2019-11-27 11:23] RobertHajbok opened #5068 "Quartz.NET reschedule/unschedule job"
QuartzScheduleJobManager is missing some basic Quartz.NET functionality, like rescheduling or unscheduling a job. The way it is now, it is not possible, for example, to change the trigger for a job once you set it. ScheduleAsync will always add another trigger to the existing job. I think at least these 2 methods would be really useful to be implemented. I would be happy to implement this and subm

[2019-11-27 13:15] iyilm4z commented on #4982
@beriniwlew imho we shoud use mix of best parts of 3rd party libs as much as possible. It means we should use ngx-admin just as an admin layout not more.  Mixing ngx-admin with better supported UI component libraries like [primeng](https://github.com/primefaces/primeng) or [material](https://github.com/angular/components) makes more sense for me. At this point my choice is primeng because it fits

[2019-11-27 13:21] beriniwlew commented on #4982
@iyilm4z I think that's an excellent idea.   I'm used to primeng, so that would be right up my alley.

[2019-11-27 13:46] sebitsi commented on #4982
Hi. Why mixing libraries ?

Why not using for example only primeng or ng-zorro ?
Both have prepared templates an lot of components.

[2019-11-27 15:34] beriniwlew commented on #4982
@sebitsi While I agree that mixing libraries wouldn't be ideal, I'd prefer to use an open source template.

[2019-11-27 15:55] saYRam opened #5071 "How to create a new instance of a WinForm using Abp framework in Windows Forms App?"
I installed ABP to my Windows Form Application. After a few code changes i could migrate to ABP. But there is a simple point that i have stucked.

How to create a form instance? I've 2 Forms. Both they drive from ITransientDependency.

 In Program.cs file

[code]
dependency injection works well. But how to do this in Form1 to show Form2? Should i inject something? Maybe AbpBootstrapper?

[2019-11-27 20:56] saYRam commented on #5071
Ah so. Found the way sorry for distrubing.

[code]

[2019-11-27 20:56] #5071 closed

[2019-11-27 21:26] sebitsi commented on #4982
@beriniwlew what do you mean by

ng-zorro has free [ng-alain](https://github.com/ng-alain/ng-alain/) template.
For primeng i didn't find free template only free themes.

[2019-11-27 21:36] beriniwlew commented on #4982
@sebitsi did you mean premium (paid-for) themes?  Yeah, we can't use them, that's why we're looking for open-source.

I have personal reasons why I don't want to use ng-zorro, which I'd rather not discuss here.

[2019-11-27 21:43] sebitsi commented on #4982
@beriniwlew No, i mean free themes. There are some.

Why not ng-zorro ?

i'm not using any of it. I am just curious.

[2019-11-27 21:43] beriniwlew commented on #4982
As I said, I'd prefer not to discuss it here.  Reach me on Twitter if you're curious.

[2019-11-27 21:49] sebitsi commented on #4982
Ok. I'm not interested in personal reasons, just technical if they exists.

[2019-11-28 00:51] maliming commented on #5068
The Abp.Quartz package simply integrates Quartz to ASP.NET Boilerplate.
For more features, I think you can directly use Quartz's API.

Of course abp welcomes any contribution.

[2019-11-28 00:52] iyhammad opened #5072 "Exception while starting the system after upgrading to Abp 5.0"
Your Abp package version: 5.0.0
Your base framework: .Net Framework or .Net Core.: .NET Core
I've just upgraded the solution to ABP 5.0.0 and If I try to add migration or start the solution, I get the below exception. I'm aware of issue #4959 and I tried its temp solution but it didn't work.
I've 2 DbContexts one inherits AbpZeroTenantDbContext and the other one inherits AbpZeroHostDbContext
[code

[2019-11-28 01:00] maliming commented on #5072
Can you share a project that reproduces the problem?
You can use https://aspnetboilerplate.com/Templates

[2019-11-28 02:09] isystem20 commented on #5022
Hi. I tried to comment out the codes in AuthConfigurer but signalr does not start if the client is not logged in.

[2019-11-28 03:23] ryancyq commented on #5072
Can you share the from/to of abp versions for this upgrade?

Also, it looks like you were trying to change application settings during `PostInitialize`?

[code]

[2019-11-28 03:35] 516018579 opened #5073 "Resolve IApplicationService Method , Very slow when list is included in the parameter"
version
Abp version : 5.0.0
.net core 3.0

class
![image](https://user-images.githubusercontent.com/8523006/69774762-d35ac600-11d1-11ea-8b2d-5600b2e0d7ac.png)

code
![image](https://user-images.githubusercontent.com/8523006/69775120-c12d5780-11d2-11ea-8f87-753018f63d63.png)

result
![image](https://user-images.githubusercontent.com/8523006/69775171-ecb04200-11d2-11ea-9334-56ed051c5a49.png)

[2019-11-28 03:47] maliming commented on #5073
It may be caused by the interceptor of the application service interface.

[2019-11-28 04:45] 516018579 commented on #5073
update
disable Auditing  and   list= Enumerable.Range(0, 10000).ToList();

result
Resolve class: 0ms, Resolve interface: 1557ms, Resolve class to interface: 1515ms, new interface: 0ms,

How to disable all interceptors for this method?

[2019-11-28 05:09] maliming commented on #5073
[code]
View the source code for the interceptor

![image](https://user-images.githubusercontent.com/6908465/69778671-29366a80-11e0-11ea-93b7-b2050ff2f044.png)

[2019-11-28 05:55] 516018579 commented on #5073
Add DisableValidation is ok

Thanks

[2019-11-28 05:55] #5073 closed

[2019-11-28 06:04] isystem20 commented on #5067
@maliming  Do you know where I should put this in Angular template?

abp.multiTenancy.tenantIdCookieName = 'Abp-TenantId';

[2019-11-28 06:14] maliming commented on #5067
You can consider putting it in appInitializerFactory.

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/root.module.ts#L31

[2019-11-28 06:28] demirmusa commented on #5067
You can do _(2)_ with the way maliming said. Bu users can still go and change tenant id (because it client side code) and login to Site A with Tenant B. _(1)_

If you want to split your users and dont let them use each others logics you should also protect your background logics with using something like permissions.

[2019-11-28 06:43] ismcagdas commented on #5022
could you share your final AuthConfigurer ?

[2019-11-28 06:46] maliming commented on #4857
https://github.com/aspnetboilerplate/module-zero-core-template/commit/13d7e6c2dba5eac1111e4f1c78caa65e53ac72df

[2019-11-28 06:46] #4857 closed

[2019-11-28 06:56] ismcagdas commented on #4982
https://github.com/akveo/ngx-admin seems fine. It would be nice if you guys work on it and send a PR 😄

[2019-11-28 07:43] isystem20 commented on #5022
using System;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Authentication.JwtBearer;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.IdentityModel.Tokens;
using Abp.Runtime.Security;

namespace ConsoleManager.Web.Host.Startup
{
    public static class AuthConfigurer
    {
        public stat

[2019-11-28 09:04] HajbokRobert commented on #5068
To reschedule a job for example, I have to inject IAbpQuartzConfiguration as a dependency. IQuartzScheduleJobManager interface, which is the recommended way of accessing Quartz.NET in your documentation also has a dependency on IAbpQuartzConfiguration, but only exposes ScheduleAsync method. I think at least Reschedule/Unschedule methods would be really useful.

[2019-11-28 12:40] demirmusa commented on #5022
It may require a little more effort.
I am not sure about implementation but as I saw `QueryStringTokenResolver` fill context token with using encrypted auth token. So if you commend out it, it will not solve your problem.

[2019-11-28 12:55] iyhammad commented on #5072
Hi @maliming, I will try to do that.

[2019-11-28 12:57] iyhammad commented on #5072
Hi @ryancyq, I'm moving from version 4.8.1 to 5.0.0. You are right, I was changing the application settings.

[2019-11-28 19:02] aalzehla commented on #5056
I have the same issue. but it happens only with http not https

[2019-11-28 20:25] osalas891123 opened #5074 "(QUESTION) Does abp support featuring modules like complete plugins, not the one that mandate dependencies"
I'm creating a medical billing system with a pluggable architecture where other developers of our company can create functional modules let says (pharmacy module, prescription module, etc), my doubt is about how to integrate this idea on abp workflow, we should create a base app and complete plugins (core, app service, own module permissions, etc) or we should create all the functionalities on the

[2019-11-29 01:08] maliming commented on #5056
If you can provide a project that reproduces the problem, this is the best.

[2019-11-29 01:36] liangshiw commented on #5074
See https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/PlugInDemo

[2019-11-29 01:50] osalas891123 commented on #5074
@liangshiw thankss for your quick answer. I already test the demo, but does this allow activate and deactivate plugins dynamically. What i'm looking for is something like list the active plugins and activate and deactivate as you wish, also modules should provide models, migrations, application services. The question is just to know if it is possible on the current Abp design.

[2019-11-29 02:39] osalas891123 opened #5075 "(QUESTION) How to deal with the Party-Individual-Company pattern on Abp"
The party-individual-company pattern treat with the fact that normally in a system you want to create relationship  between parties not matter if individual or company the relationship is delegated to the role they play with each other. It's explained here https://www.vertabelo.com/blog/how-to-model-relationships. My issue with abp is i have distinct static roles, let say physician, insurer, medic

[2019-11-29 03:05] JosePolanco18 opened #5076 "CreateFilteredQuery not working where filtering on Abp 5.0"
After the update when I try to filter I get an error.

Here is exception log

[2019-11-29 03:09] maliming commented on #5076
I think you are using linq expressions that cannot be translated. (`StartsWith(String, StringComparison)`)

see https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#linq-queries-are-no-longer-evaluated-on-the-client

[2019-11-29 03:21] isystem20 commented on #5067
Automatic Login is enough already. I will remove the selection of tenant in the frontend for now.
By the way,
I tried to add this in CoreModule:

            // Enable this line to create a multi-tenant application.
            Configuration.MultiTenancy.IsEnabled = ConsoleManagerConsts.MultiTenancyEnabled;
            Configuration.MultiTenancy.TenantIdResolveKey = "Abp-TenantId"; //Added

and fo

[2019-11-29 03:30] maliming commented on #5067
@isystem20
Please use the **TenantIdResolveKey** (`Abp-TenantId`) you specified.

![image](https://user-images.githubusercontent.com/6908465/69841786-965b0600-129b-11ea-8417-e36873d14a78.png)

[2019-11-29 03:35] isystem20 commented on #5067
You mean "Abp.TenantId" : "Abp-TenantId" ?

[2019-11-29 05:27] maliming commented on #5067
[code]

[2019-11-29 06:46] #4273 closed

[2019-11-29 06:46] #4613 closed

[2019-11-29 06:46] #4647 closed

[2019-11-29 06:46] #4634 closed

[2019-11-29 08:02] ismcagdas commented on #5074
@osalas891123 you must restart the app. I suggest you to include modules into app instead of developing plugins. You can also check https://github.com/abpframework/abp/ for a better modular architecture.

[2019-11-29 09:49] abuthalhathpp opened #5077 "Sequence contains no matching element while creating new role with permission in aspnetboilerplate"
Abp package version: 5.0.0
base framework: ASP.NET MVC 5.x Angular JS
I've just created my solution from the latest free startup templates with ASP.NET MVC 5.x Angular JS. While creating new role with permission error message coming 'An internal error occurred during your request!'

`DEBUG 2019-11-29 15:16:56,872 [11   ] Abp.EntityHistory.EntityHistoryHelper    - Skipping Entity Change Creation fo

[2019-11-29 09:52] maliming commented on #5077
see
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4992#issuecomment-550979369
 https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5005
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4995

[2019-11-29 09:52] #5077 closed

[2019-11-29 10:35] isystem20 commented on #5067
Ohh,, it works! Thanks @maliming

[2019-11-29 10:35] #5067 closed

[2019-11-29 12:29] JosePolanco18 commented on #5076
@maliming  Yes i'm using it like this in CreatedFilteredQuery method

Here it is.
`        protected override IQueryable<Pais> CreateFilteredQuery(PagedAndSortedRequest input)
        {
            return Repository.GetAll().
                            WhereIf(!input.Filter.IsNullOrWhiteSpace(), x => x.Identificador.StartsWith(input.Filter,
                            StringComparison.CurrentCult

[2019-11-29 12:32] maliming commented on #5076
Try
[code]

[2019-11-29 12:34] JosePolanco18 commented on #5076
@maliming I'll try it and I let you know!

[2019-11-29 21:54] osalas891123 commented on #5074
@ismcagdas thanks your answer. abpnext arquitecture applicable to the current boilerplate?

[2019-11-29 22:03] osalas891123 opened #5078 "(Question) How to deal with the fact that User entity must inherit primary key from Individual entity"
I have the following need. A parent table Party from which inherit Individual and Organization and want my User entity have primary key and foreign key the same from Individual. Is this possible on ABP.

[2019-11-30 01:37] liangshiw commented on #5078
You should investigate the relevant content in ef core https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance

[2019-11-30 20:06] JosePolanco18 commented on #5076
@maliming That worked!, thanks!

[2019-11-30 20:06] #5076 closed

[2019-11-30 21:45] Anshukmr opened #5079 "ABP Zero V8 template No Authorize button to swagger UI"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2019-12-01 07:59] abolfazlmohammadiseif opened #5080 "Handling Multi Aggregate Communications"
I have 2 Aggregates within the same Core project.  They need to interact with each other. Do I need something like Domain Events similar to Microservice Architecture (example [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers)) or I just need to fetch both objects (belonging to each Aggregate) using repositories and implement communication within an App Service? Thanks

[2019-12-01 09:14] ryancyq commented on #5079
For AspNetZero related issues, please submit it at https://github.com/aspnetzero/aspnet-zero-core/issues/new

[2019-12-01 09:14] #5079 closed

[2019-12-02 06:24] iyilm4z commented on #5080
@abolfazlmohammadiseif  It depends on your coding style. Both are look okay. There is also one another choice [ Domain Services](https://aspnetboilerplate.com/Pages/Documents/Domain-Services).

[2019-12-02 06:35] iyilm4z commented on #5075
@osalas891123  I'm not familiar with this domain(imho  most of us too) but i would like to help you if i can. Could you provide source code of  a sample project that contains comments which explains what you want to do but you can't do. Use [this](https://aspnetboilerplate.com/Templates) link to create new project.

[2019-12-02 11:06] abolfazlmohammadiseif commented on #5080
@iyilm4z  thank you very much

[2019-12-02 11:06] #5080 closed

[2019-12-02 14:19] Robert-Laverick opened #5081 "Formatting issue with JSON in abp.swagger.js"
When using the new JSON parser from .net core 3.0 the authorize function on the swagger ui instance doesn't work, it throws a 400 error. Looking at it it's related to this issue from .net core where they say they probably won't be changing this behavior which rejects things that aren't strict JSON formatted. https://github.com/dotnet/corefx/issues/41421

The issue is that [abp.swagger.js#L69](http

[2019-12-02 20:34] ismcagdas commented on #5081
Did you try using Newtonsoft.Json ? System.Text.Json still has some missing features I guess and currently we don't use it.

[2019-12-03 01:49] #4984 closed

[2019-12-03 03:05] Belala opened #5082 "Use both AutoRepositoryTypes and Abp.Dapper get some error"
Abp Version: 4.1.0
EF Core Version: 2.2.1

code like :
[AutoRepositoryTypes( typeof(IExtendXXRepository<>), typeof(IExtendXXRepository<,>), typeof(ExtendXXRepository<>), typeof(ExtendXXRepository<,>), WithDefaultRepositoryInterfaces = true )]

Dapper follow document. DependsOn and create mapper.

Here is my error log:
Service 'Abp.Dapper.Repositories.IDapperRepository`2[[xxx, xxx, Version=1.0.0.0,

[2019-12-03 03:05] #5059 closed

[2019-12-03 03:27] maliming commented on #5082
Duplicate of #5059

[2019-12-03 03:27] #5082 closed

[2019-12-03 05:24] XbCore commented on #5052
@ryancyq You may be misunderstood, I need the same DbContext which dynamic change the ConnctionString. And this example is the same ConnctionString with different DbContext, and the DbContext is added in EntityFrameworkCoreModule, but i need change the DbContext's ConnctionString on runtime. Before user login, i don't know which databases he have  access to.
What I need now is to dynamically acces

[2019-12-03 05:37] ismcagdas commented on #5052
You can implement your own connection string resolver similar to https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.EntityFramework/Zero/EntityFramework/DbPerTenantConnectionStringResolver.cs

[2019-12-03 06:24] abolfazlmohammadiseif commented on #4561
I didn't find the answer! neither here nor at #4559 .  I have the same question.

[2019-12-03 06:26] ismcagdas commented on #4561
@abolfazlmohammadiseif is the error message exactly same ?

[2019-12-03 06:28] abolfazlmohammadiseif commented on #4561
this is the Error:

Castle.MicroKernel.Handlers.HandlerException: Can't create component 'InvoiceSystem.Application.CustomerServices.CustomerService' as it has dependencies to be satisfied.

'InvoiceSystem.Application.CustomerServices.CustomerService' is waiting for the following dependencies:
- Service 'Abp.Domain.Repositories.IRepository`1[[InvoiceSystem.Core.AggregatesModel.CustomerAggregate.Cu

[2019-12-03 06:37] maliming commented on #4561
@abolfazlmohammadiseif Can you provide a project that reproduces the problem?

[2019-12-03 06:42] abolfazlmohammadiseif commented on #4561
**This is the context:**
 [AutoRepositoryTypes(
    typeof(IRepository<>),
    typeof(IRepository<,>),
    typeof(InvoiceSystemRepositoryBase<>),
    typeof(InvoiceSystemRepositoryBase<,>)
)]

    public class InvoiceSystemDbContext : AbpDbContext
    {
        //Add DbSet properties for your entities...
        public virtual DbSet<Customer>  Customers { get; set; }
        public virtual DbSet<I

[2019-12-03 06:51] abolfazlmohammadiseif commented on #4561
**this is the interface of the service:**

[code]

**and this is the implementation of the service:**

[code]

[2019-12-03 06:53] maliming commented on #4561
Can you share a simple project instead of a code snippet?

[2019-12-03 07:03] ismcagdas commented on #5074
No, it is a different framework.

[2019-12-03 07:04] #5078 closed

[2019-12-03 07:05] abolfazlmohammadiseif commented on #4561
I cannot share the whole project. since this is part of a bigger project.
my question is that why we need to register IRepository?

[2019-12-03 07:12] XbCore commented on #5052
I found the solution, same as the control.
In the AppService inject IDbContextResolver, by IDbContextResolver resolver the DbContext and change it's ConnectionString.

[2019-12-03 07:15] #5052 closed

[2019-12-03 07:33] maliming commented on #4561
Your code looks fine, so I need to reproduce the problematic project.
You can use the abp startup template to reproduce the problem.
see https://aspnetboilerplate.com/Templates

Normally you don't need to register IRepository, the framework will do it automatically.

[2019-12-03 10:42] Robert-Laverick commented on #5081
Yes, it works with Newtonsoft.Json, but the point is that the JSON being sent isn't standards compliant, and Newtonsoft.Json accepts things that are close but don't match the spec and it seems that System.Text.Json won't be doing that. While changing to Newtonsoft.Json isn't an issue, I believe the intention is for System.Text.Json to be the default for MVC and SignalR going forward.

I'm not sugg

[2019-12-03 11:04] Robert-Laverick commented on #5081
As a side point, from what I see here the code also doesn't escape ' so a ' in a tenant name or a password will cause a failure. Perhaps another reason it should be using a JSON.stringify rather than manual string concatenation.

So I'd say something more like this would be better:

`        xhr.send(
            JSON.stringify(
                { usernameOrEmailAddress: usernameOrEmailAddress, pas

[2019-12-03 12:12] demirmusa commented on #5081
Thanks @Robert-Laverick

[2019-12-03 12:56] demirmusa commented on #4993
hi @bxjg1987, Yes v4.11 released and it contains that enhancement too.

[2019-12-03 16:14] ryancyq commented on #5065
@hidayetsoltanzade you would need to add your formatter during `PostInitialize()` of your module as mentioned in #2907

Abp clears off existing formatters other than JSON related formatters.

See https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.Web.Api/WebApi/AbpWebApiModule.cs#L106-L119

[2019-12-03 19:17] oldthund3r opened #5086 "Many forum pages are broken"
https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=11561&p=30919&hilit=unique+catch#p30919

^ this is an example of one.

[2019-12-03 21:58] viewtance commented on #5066
.NET Core 3.1 has been just [released](https://github.com/dotnet/announcements/issues/142)

[ASP.NET Core Bugs](https://github.com/aspnet/AspNetCore/issues?utf8=%E2%9C%93&q=is%3Aclosed+3.1+in%3Amilestone+is%3Amerged+-label%3Aarea-infrastructure+-involves%3Adotnet-maestro-bot+-involves%3Aapp%2Fdotnet-maestro+)
[ASP.NET Core Features](https://github.com/aspnet/AspNetCore/issues?utf8=%E2%9C%93&q=is%3

[2019-12-04 01:07] maliming commented on #5086
Thanks for the feedback, we will check it.

[2019-12-04 06:19] ZouZou opened #5087 "AddVersionedApiExplorer is unable to detect the ApiVersion in the aspnetboilerplate AppServices"
I am using the latest version of aspnetboilerplate (Abp) which targets .net core 3.0
I am trying to add versioning to my appservices, I have followed the aspnet-api-versioning steps given by Microsoft.
However, whenever I add the following code in the ConfigureServices in the Startup.cs

[code]

The swagger json file which is generated does not show any endpoint.
I was wondering how exactly are th

[2019-12-04 07:30] #5063 closed

[2019-12-04 08:24] guaicaiboshi opened #5088 "A second operation starte d on this context before a previous operation completed"
* Abp package version 4.5.0.
*  .Net Core2.2.
I use a timer at the reference layer to collect some serial port data and then use the event bus to process the data.Now I find that the program runs for a while and occasionally has a problem:

Unhandled Exception: System.InvalidOperationException: A second operation starte
d on this context before a previous operation completed. This is usually cause

[2019-12-04 08:33] maliming commented on #5088
Please share the relevant code.

[2019-12-04 08:42] isystem20 opened #5089 "List of items in ICache"
Hi, is there a way to get the list of items inside a particular cache instance?
Like:
_cacheManager.GetCache("SomeName").GetItems.ToList()

Thank you

[2019-12-04 08:50] maliming commented on #5089
Please see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2060

[2019-12-04 09:30] abolfazlmohammadiseif commented on #4561
I fixed it. thank u all.
My previous project was based on "Multi Page Web Application". I changed it to Angular template and it fixed,
I think there are some differences between these two templates.
Thanks anyway

[2019-12-04 10:05] abolfazlmohammadiseif opened #5090 "Change project template"
Hi
Iv'e downloaded project with Angular template which works pretty fine. However it has some classes like Tenant, Role, User ,... which are useless to me. I don't need them all. I just want to have my own entities but in Angular template. How can I easily get rid of all those classes? With less configurations.
Thanks In Advance

[2019-12-04 10:16] #5066 closed

[2019-12-04 10:18] maliming commented on #5090
These entities are useful for most developers, if you don't need them you can remove them manually,

[2019-12-04 10:19] abolfazlmohammadiseif commented on #5090
You are right. but when I deleted them, I get the following Error.

Can't create component 'Abp.Localization.ApplicationLanguageManager' as it has dependencies to be satisfied.

'Abp.Localization.ApplicationLanguageManager' is waiting for the following dependencies:
- Service 'Abp.Domain.Repositories.IRepository`1[[Abp.Localization.ApplicationLanguage, Abp.Zero.Common, Version=4.9.0.0, Culture=neu

[2019-12-04 10:28] maliming commented on #5090
Yes, there are still many dependencies in the project that need to be removed.

I suggest that you refer to the template code to manually create the project structure. This way you can decide which entities to use in your project from scratch. Do not use Abp.Zero related libraries in your project.

You can refer to this repository(although it is not the net core version) https://github.com/aspnetb

[2019-12-04 11:11] abolfazlmohammadiseif commented on #5090
Since we use Microservice Architecture, we have moved this (Tenant, Role, User ,...) into a separate project. So we don't need it within other project.
When I unchecked this:
__ Include login, register, user, role and tenant management pages.
the Angular Template disappeared. Is it possible to make it available when I uncheck the option above?!

[2019-12-04 13:35] isystem20 opened #5091 "Apply migration to all tenant database"
Is there a function to apply the new migration file to all tenant databases?

Thank you

[2019-12-04 13:47] #5089 closed

[2019-12-04 13:48] ismcagdas commented on #5091
Hi,

Free templates contains a Migrator tool (see https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Migrator) which applies migrations to all tenant databases as well.

[2019-12-04 13:50] barbaros34 opened #5092 ".NET Core 3.0 - Custom Session Issue"
I have used custom session that extends ClaimAbpSession in my project. I want to upgrade the project to .net core 3.0. But i have an issue when moving custom session class.

There are some custom variables in my session class. In set and get methods of the variables, i have used (ClaimsIdentity)Thread.CurrentPrincipal?.Identity. I have learned .net core 3.0 doesn't support this code block, so this

[2019-12-04 17:39] oldthund3r commented on #5086
@maliming thanks - by the way, what i meant was that some of the post content is not being rendered, not that php debug mode is enabled. screenshot:

![Screen Shot 2019-12-04 at 11 36 51 AM](https://user-images.githubusercontent.com/45724806/70166548-9a679900-168a-11ea-8837-b1a055e69eb1.png)

[2019-12-05 00:44] maliming commented on #5086
hi @erolarkat can you help check it out?

[2019-12-05 00:50] maliming commented on #5092
Is your project of type net framework? You should not be using `Thread.CurrentPrincipal`.

[2019-12-05 00:50] #5091 closed

[2019-12-05 00:57] maliming commented on #5090
It doesn't seem to be available at the moment.

[2019-12-05 03:22] ryancyq commented on #5087
you can take a look at https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Proxying/AspNetCoreApiDescriptionModelProvider.cs

[2019-12-05 04:30] guaicaiboshi commented on #5088
` public void OnParseData(ReceiveFullDataBase receiveFullDataBuffer)
        {
            this.Logger.Info($"OnParseData:{receiveFullDataBuffer.ToJsonString()}");
            PressureSensorData result = ParseData(receiveFullDataBuffer);
            if (result != null)
            {

                _pressureSensorDataManager.AddOrUpdateSensorData(result).Wait();

                    var editDto =

[2019-12-05 04:56] ryancyq commented on #5088
You can try using AsyncHelper.RunSync() instead of Wait()

[code]

[2019-12-05 05:01] barbaros34 commented on #5092
Yes, it is .net core 3.0. Which code block should i use ? Do you have a suggestion?

[2019-12-05 05:23] maliming commented on #5092
You should add custom claims to the CreateAsync method of UserClaimsPrincipalFactory.
You can inject the services you need in UserClaimsPrincipalFactory.

[2019-12-05 05:48] ismcagdas commented on #5090
@abolfazlmohammadiseif unfortunately we don't have a plan to create such an option. You need to manually delete the classes you don't need and fix problems. After that, you can use it as your own template.

[2019-12-05 05:48] #5090 closed

[2019-12-05 05:59] barbaros34 commented on #5092
I know this, but this method can add claim when user logged in. I want add claim when user took another action after logged in.

[2019-12-05 06:06] maliming commented on #5092
Can you give an example?

[2019-12-05 06:37] barbaros34 commented on #5092
The scenario:
1. Step: User log in with credentials.
2. Step: A pop-up that is includes  dropdown of organizations is opened in login page.
3. Step: User selects an organization.
4. Step: Selected organization id is added to claim list via custom session.
5. Step: User can change organization if he/she wants while session is active.

[2019-12-05 07:24] maliming commented on #5092
Refreshing claims after a user logs in is not an easy task.
 
Simple way:
You can use the cache in MyAppSession to save other properties of the user.
Refresh the cache when these properties change. The cache key uses the current tenant id + user ID.

[2019-12-05 07:40] barbaros34 commented on #5092
Thanks, code below is right ?
I have tried this, it seems working.
` var cache = _cacheManager.GetCache(typeName).GetOrDefault(userId.Value.ToString());
                    if (cache != null)
                        _cacheManager.GetCache(typeName).Remove(userId.Value.ToString());

                    _cacheManager.GetCache(typeName).Set(userId.Value.ToString(), value);`

[2019-12-05 07:45] maliming commented on #5092
Check the documentation for how to use the cache.
https://aspnetboilerplate.com/Pages/Documents/Caching

[2019-12-05 08:37] ZouZou commented on #5087
It seems I have to add the attribute `[ApiController]` to my appservice and that makes it visible to the swagger

[2019-12-05 09:03] erolarkat commented on #5086
Hi,

Thank you for feedback.

I intervened to correct the problem. There's no problem right now.

[2019-12-05 09:03] #5086 closed

[2019-12-05 09:06] #5092 closed

[2019-12-05 09:07] liangshiw commented on #5087
Here is a discussion about multiple versions https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3200

Show multiple versions of documentation on swagger, see https://github.com/domaindrivendev/Swashbuckle.AspNetCore#customize-the-action-selection-process

Application Services does not yet support multiple versions, But you can do a simple implementation.

[2019-12-05 09:59] 4nonym0us opened #5093 "[Feature Request] Add an API to disable Entity History for specific controller\AppService method or to ommit EntityChanges without PropertyChanges"
Here is a simple use-case: let's assume that we have following entity:
[code]
Every time ChangeTracker detects a change, we add a new EntityChangeSet (as well as corresponding EntityChange(s)), but an issue occurs when `MyProperty2` (the one which is not audited) is the only property which is changing: `EntityPropertyChanges` of related EntityChange will contain no elements and is both counter int

[2019-12-05 10:08] ryancyq commented on #5093
That is the expected behavior (EntityChange with no Property Changes) for Entity with `AuditedAttribute`.

In your case, you can try adding `MyEntity` into `Configuration.EntityHistory.Selectors` and remove `AuditedAttribute` from the entity class

[2019-12-05 10:52] 4nonym0us commented on #5093
Ok, we shall stick with the second option then.

I've removed `AuditedAttribute` and added `Configuration.EntityHistory.Selectors.Add("Foo.Bar.MyEntity", typeof(MyEntity));` but the issue still persists (EntityChange is still created even if there are no related PropertyChanges). Am I doing anything wrong?

[2019-12-05 13:00] beriniwlew commented on #4982
There's a [starter-kit](https://github.com/akveo/ngx-admin/tree/starter-kit) branch for ngx-admin.

Perhaps we should start from there?

[2019-12-05 14:38] ryancyq commented on #5093
Can you also provide the followings?

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.

[2019-12-05 14:45] 4nonym0us commented on #5093
Abp: 4.9.0
Framework: .NET Core 2.2

Has been behavior of EntityHistory module changed since 4.9.0?

[2019-12-05 14:48] ryancyq commented on #5093
There were some issues with entity history configuration around audited attribute and selectors.

https://github.com/aspnetboilerplate/aspnetboilerplate/releases/tag/v4.10.0

To be specific, for EFCore changes see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4870, for EF6 changes see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4843

[2019-12-05 14:53] ryancyq commented on #5093
If you can upgrade to Abp 4.11 then you will be able to use the approach I suggested at https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5093#issuecomment-562060755 (a fix for entity history selectors, https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4998)

Otherwise, Abp 5.x is still pending on a fix at https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4953 to us

[2019-12-05 14:58] 4nonym0us commented on #5093
I got it. Let me update to 4.11 and try to reproduce the issue (indeed, looks like #4998 is what I'm missing to make the selectors work as intended).

[2019-12-05 15:40] 4nonym0us commented on #5093
Everything is working as expected after updating to 4.11 packages.
Thanks for contributing into the development of entity history module and responding so fast.

IMHO, it's worth mentioning the difference between using `AuditedAttribute` and `Configuration.EntityHistory.Selectors` in documentation.

[2019-12-05 15:40] #5093 closed

[2019-12-05 20:42] micro4dev opened #5094 "Configuration.Auditing.SaveReturnValues = true; no save in column ReturnValue in the table AbpAuditLogs."
**Greetings to all.**

A query I hope you can guide, I will be very grateful. I am starting a project with this excellent Framework. I am decorating with **AuditedEntity** an entity called **AccessPoint** that has a single primary field in the table as an auto incremental identity. he enabled the **Configuration.Auditing.SaveReturnValues ​​= true;** in **WispCoreModule**. But checking the table
**

[2019-12-06 00:46] maliming commented on #5094
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.

[2019-12-06 02:41] micro4dev commented on #5094
Thanks for the time I attached the screenshots

**> * Your Abp package version.**
![5](https://user-images.githubusercontent.com/6539455/70291026-e9efb700-17a7-11ea-8f8e-ea6b5faa5386.png)

**> * Your base framework: .Net Framework or .Net Core.**
![6](https://user-images.githubusercontent.com/6539455/70291035-ef4d0180-17a7-11ea-8c58-2285b3f3c308.png)

[2019-12-06 02:47] maliming commented on #5094
Try to upgrade ABP version greater than or equal to v4.10.0

see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4845

[2019-12-06 03:04] guaicaiboshi commented on #5088
Ok, thank you. Let me allow a moment to see the results .I'll take a look at the source code for AsyncHelper by the way

[2019-12-06 07:21] ismcagdas commented on #4982
@beriniwlew which one works well for you 😄, you are the expert.

[2019-12-06 09:25] isystem20 opened #5095 "(Question) Do Background workers only get data from host database?"
Hi,

I am just wondering if the background workers only gets data from the host database, or it creates instances per tenant?

Thanks

[2019-12-06 09:30] maliming commented on #5095
The repository dynamically obtains data from the host or a separate tenant database based on the context's tenant information.

[2019-12-06 09:53] mmpeakplains commented on #4724
Has anyone solved this problem?

[2019-12-06 10:16] isystem20 commented on #5095
It only gets data from single database? not from all active tenant databases?

[2019-12-06 15:16] acjh commented on #5095
Yes. You should explicitly loop through all tenants that have connection string.

From [MultiTenantMigrateExecuter.cs#L76-L78](https://github.com/aspnetboilerplate/module-zero-core-template/blob/9d2dc6f8e9db7a00496c7d112d59563085cffd09/aspnet-core/src/AbpCompanyName.AbpProjectName.Migrator/MultiTenantMigrateExecuter.cs#L76-L78):

[code]

[2019-12-06 16:50] guazilalala opened #5096 "Template starts calling the API with many exception errors"
![error](https://user-images.githubusercontent.com/17164835/70340529-e9c8e780-188b-11ea-9129-56c5849da852.png)
![error2](https://user-images.githubusercontent.com/17164835/70340553-ef263200-188b-11ea-9765-e26f26e0c770.png)
![error3](https://user-images.githubusercontent.com/17164835/70340759-6065e500-188c-11ea-979b-87af63e7bac9.png)

[2019-12-06 17:45] micro4dev commented on #5094
He downloaded a new project from: **https://aspnetboilerplate.com/Templates** with the version with v3.x version of .Net Core, implements the same classes and now if you return the generator id of the table and the assignments in the table [AbpAuditLogs]

![1](https://user-images.githubusercontent.com/6539455/70343730-08949300-1826-11ea-8890-bf6c1c6cc447.png)

![2](https://user-images.githubuserco

[2019-12-07 03:19] duyanming opened #5097 "Abp multithreading cannot fetch abpsession"
Abp multithreading cannot fetch abpsession
Thread.CurrentPrincipal

[2019-12-07 03:20] duyanming commented on #5097
task.run()

[2019-12-07 03:21] #5094 closed

[2019-12-07 03:23] maliming commented on #5096
* Your Abp package version.
* Steps needed to reproduce the problem.

[2019-12-07 05:19] guazilalala commented on #5096
version: 4.11.0

Start debugging and then open http://localhost:21022/swagger/index.html

These problems do not affect the running of the program, but I would like to know what caused these problems, the previous version did not have these problems

[2019-12-08 03:11] maliming commented on #5097
You can try passing userid or tenantid as parameters to the new task.

[2019-12-08 06:21] #4888 closed

[2019-12-08 06:43] upsoft commented on #4189
Thank you @ismcagdas

[2019-12-08 07:08] #4189 closed

[2019-12-08 10:24] abolfazlmohammadiseif commented on #5090
Thanks for helping @ismcagdas and @maliming .
I did it and created a project template manually which does not contain Tenant, user, role, ... .
The question is, I want my AppServices to check authentication of each request (I'm testing it using Postman). I added  [AbpAuthorize] at the top of my service class. Then I send a post request containing Bearer token. but I get "Error: Unauthorized". Is t

[2019-12-08 12:37] duyanming commented on #5097
As a parameter is not a good solution and can be troublesome if the call is deep

[2019-12-08 13:33] ismcagdas commented on #5090
Could you share the full error message ?

[2019-12-08 13:35] abolfazlmohammadiseif commented on #5090
{
    "result": null,
    "targetUrl": null,
    "success": false,
    "error": {
        "code": 0,
        "message": "Current user did not login to the application!",
        "details": null,
        "validationErrors": null
    },
    "unAuthorizedRequest": true,
    "__abp": true
}

[2019-12-08 18:20] viewtance opened #5098 "Both EventBus.TriggerAsync and IAsyncEventHandler will throw IFeatureCollection has been disposed exception"
* Your Abp package version.
Version 5.0
* Your base framework: .Net Framework or .Net Core.
.Net Core 3.0 and Asp.Net Core 3.0
* Exception message and stack trace if available.
Event triggered with asynchronous (EventBus.TriggerAsync) and the Event Handler with asynchronous handler method, once the event handler completed the implementation it will throw the  "IFeatureCollection has been disposed"

[2019-12-08 19:05] MohammedAl-Qaisi opened #5099 "Roles menu item definition"
After download **ASP.NET MVC 5.x** project  the role menu in the navigation provider set to the users.

[2019-12-08 20:21] #4675 closed

[2019-12-08 20:45] acjh commented on #5098
Please share the stack trace.

[2019-12-08 20:45] acjh commented on #5099
What do you mean?

[2019-12-08 21:38] MohammedAl-Qaisi commented on #5099
![image](https://user-images.githubusercontent.com/2794024/70396687-d052a780-1a13-11ea-929f-5b7c948bc8a5.png)

[2019-12-09 01:44] guaicaiboshi commented on #5088
I tried to make some changes but the problem still hasn't improved

[2019-12-09 02:01] maliming commented on #5088
@guaicaiboshi
Can you provide complete code to reproduce the problem?

[2019-12-09 02:51] viewtance commented on #5098
@acjh no more stack trace information, once the subsequent implementation completed, when debug the application, it will throw the exception to the main threading, application crashed and restart again.
`An unhandled exception was thrown by the application. IFeatureCollection has been disposed`

[2019-12-09 03:03] Evan925 opened #5100 "How can i modify entity type to guid"
How can i modify entity type to guid,

I try to  modify  the entity of Student to `Student:Entity<Guid>,`

but it  does not work where I use  `IRepository<Student> _repository`;

beacuse the IRepository's Entity type is int, how can I do? Please?!

[2019-12-09 03:06] ryancyq commented on #5100
Use `IEntity<Guid>` instead of the default `IEntity` (which is `IEntity<int>`

[2019-12-09 03:10] Evan925 commented on #5100
I show you the code

this is my entity:
![image](https://user-images.githubusercontent.com/49033970/70404239-556da900-1a74-11ea-9701-d6be91e08c04.png)

this is my AppService
![image](https://user-images.githubusercontent.com/49033970/70404295-8948ce80-1a74-11ea-9149-15c5695f0380.png)

[2019-12-09 03:12] ryancyq commented on #5100
Please refer to this. In your case, `IRepository<Student, Guid>`

[2019-12-09 03:13] Evan925 commented on #5100
it work!  thanks!!!

[2019-12-09 03:15] #5100 closed

[2019-12-09 03:37] ryancyq commented on #5090
Could you also share the error stack trace from server log?

[2019-12-09 03:39] ryancyq commented on #5097
Have you considered running it as a background job instead of a separate thread (if the call is too deep)?

[2019-12-09 03:44] maliming commented on #5098
Please provide a simple project and steps to reproduce the problem, you can use the abp startup template.

https://aspnetboilerplate.com/Templates

[2019-12-09 03:45] ryancyq commented on #4724
Have you read about https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4724#issuecomment-515679300

[2019-12-09 04:03] duyanming commented on #5097
Business methods that interact with users and cannot work in the background.And complex business I'm going to multithreaded parallel processing tasks.
zbpsession Is obviously too unfriendly to multithreading

[2019-12-09 06:08] abolfazlmohammadiseif commented on #5090
This is a response from App within Swagger and Postman. This is not an error.

Code | Details
-- | --
401  Undocumented |     Error: Unauthorized

Response body
[code]

Response headers

[code]

[2019-12-09 06:15] ismcagdas commented on #5090
There must be error logs on server side log file. It is App_Data/Logs/Logs.txt file by default.

[2019-12-09 06:34] abolfazlmohammadiseif commented on #5090
[code]

[2019-12-09 06:55] maliming commented on #5099
Resolved by https://github.com/aspnetboilerplate/module-zero-template/pull/176

[2019-12-09 06:55] #5099 closed

[2019-12-09 08:56] #5098 closed

[2019-12-09 11:49] demirmusa commented on #4897
Hi @orionjensen
Did you solve it ?

[2019-12-09 12:30] ismcagdas commented on #5090
Could you also share your request headers ? You can check it on Chrome's network tab.

[2019-12-09 12:39] abolfazlmohammadiseif commented on #5090
[code]

[2019-12-09 12:46] ismcagdas commented on #5090
It seems fine. Is your app multi tenant ? If so, is this a tenant user or host user ?

[2019-12-09 12:50] abolfazlmohammadiseif commented on #5090
It is not multi tenant. It does not have Role, User, Tenant, ... . It is a simple (based on Angular Template) project which works fine Anonymously but has problem while using [AbpAuthorize] attribute at the top of service class.

[2019-12-09 13:03] #5068 closed

[2019-12-09 13:22] bxjg1987 opened #5102 "Whether to consider adding cancelationtokensource parameter to all asynchronous methods"
my project is mvc5.x  abp 4.11

Reference resources：
[Abandon asynchronous tasks when a user terminates a web request to improve performance](https://andrewlock.net/using-cancellationtokens-in-asp-net-core-mvc-controllers/)

[2019-12-09 13:58] #5081 closed

[2019-12-09 14:27] ismcagdas commented on #5049
@ryanfalzon have you solved this problem ? If not, is it possible for you to regenerate it using ABP's default template ?

[2019-12-09 15:18] hikalkan commented on #5102
We may port the [ICancellationTokenProvider](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Threading/Volo/Abp/Threading/ICancellationTokenProvider.cs) feature here and let the framework handle it automatically (get the cancellation token from the httpcontext and use in the repositories and other possible locations).

[2019-12-09 23:24] amendez1000 opened #5103 "(QUESTION) Best Practices on Client Side Validation - Using Angular"
Hi Everyone,

Does ABP have best practices (or suggested approach) to validate the field values in the client side using Angular (No AngularJS)?

I really appreciate your help.

Thanks!

[2019-12-10 01:02] liangshiw commented on #5103
Not related to ABP. See https://angular.io/guide/form-validation

[2019-12-10 01:33] guaicaiboshi commented on #5088
I'll do a demo sometime

[2019-12-10 05:36] #5103 closed

[2019-12-10 06:12] ismcagdas commented on #5090
If there are no users etc... how do you make authentication and authorization ? Did you also modified some other parts ?

[2019-12-10 06:29] abolfazlmohammadiseif commented on #5090
I already have a specific authentication service that takes care of login process an gives a separate token to each request. So there is no need to have User, Role, ... classes in all microservices.
For better understanding, I can send you the whole solution.
So just give me your Email address.

[2019-12-10 07:59] bxjg1987 commented on #5102
That's great. Is it possible to update this feature to mvc5.x

[2019-12-10 08:36] #4886 closed

[2019-12-10 10:05] #4948 closed

[2019-12-10 10:11] #5000 closed

[2019-12-10 10:15] ismcagdas commented on #4764
@gep13 did you solve this problem ?

[2019-12-10 10:17] ismcagdas commented on #4862
And I think this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4862#issuecomment-530679764 is a good solution to case 2.

[2019-12-10 10:17] #4862 closed

[2019-12-10 11:15] #5006 closed

[2019-12-10 11:59] ismcagdas commented on #4937
Hi @armandpostma

I tested the second case and it seems like FeatureValueStore is used correctly when you inject IFeatureValueStore. You can override any method in FeatureValueStore and inhect IFeatureValueStore to debug that method.

I also don't suggest using Edition and Feature related stuff when multi tenancy is disabled.

[2019-12-10 12:01] demirmusa commented on #4600
https://github.com/aspnetboilerplate/sample-blog-module/pull/12

[2019-12-10 12:09] iyilm4z commented on #4982
@beriniwlew @ismcagdas i took a look at starter-kit branch, it's a good starting point. Even it's a starter kit there are many things unneeded for us but we can easily customize it. How about mixing primeng components with nabular? Btw this migration will be really good!

[2019-12-10 12:17] #4944 closed

[2019-12-10 12:21] demirmusa commented on #4897
Just check that it continues on production too, I will try to find a solution

[2019-12-10 12:22] beriniwlew commented on #4982
@iyilm4z Thanks for taking a closer look at it.  I totally appreciate it.

Yes, let's use primeng for any components that are currently missing in nebular.

[2019-12-10 12:27] ismcagdas opened #5104 "Document SignalR circuit breaker"
We must update SignalR documentation for the changes made on https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4944

[2019-12-10 13:01] iyilm4z commented on #4982
@beriniwlew We don't need auth and security module of nebular. Abp already has it's of auth and security mechanisms and it already looks hard to integrate nabular's way with abp's way. You will understand what i mean by saying _hard_ if you read docs of nabular. @nebular/theme is enough for us.

[2019-12-10 13:20] beriniwlew commented on #4982
@iyilm4z I figured we'd have to change at least that.

[2019-12-10 13:35] iyilm4z commented on #4982
@beriniwlew We will be using nabular's auth ui for sure but implementation should be the current abp implementation. We should do minimum changes, for example we shouldn't touch components like login and register etc as much as possible, we just should touch their html templates. Because it makes easy to merge this pull request for abp core team. This is what i'm thinking and sure i'm open any oth

[2019-12-10 13:36] #5104 closed

[2019-12-10 13:51] beriniwlew commented on #4982
@iyilm4z Good plan.

[2019-12-10 15:20] gferreira-keeps commented on #3882
I'm having this same problem, has someone found a solution for this one?

[2019-12-10 17:48] hikalkan commented on #5102
We will check if it is possible for mvc5.x too.

[2019-12-11 00:45] maliming commented on #3882
hi @gferreira-keeps
* Your Abp package version.
* Your net core package version.
* Your ef core package version.

If possible please provide a project that reproduces the problem.

[2019-12-11 04:36] Korris opened #5105 "Send notification at Background job is not work"
at the Excute Job i try to user AppNotifier to send the notify user but its notice  in Log

Here is my code
[code]

the BuyTicketSuccess Method

[code]

[2019-12-11 05:04] maliming commented on #5105
Try `AsyncHelper.RunSync(() => appNotifier.BuyTicketSuccess(args.User));`

[2019-12-11 05:48] demirmusa commented on #4897
I checked that with create-react-app. It is also not working on ie11. It also gives `Syntax error`.

Additionally I checked it with core.js too, but it also gives `Syntax error`.

Any idea?

[2019-12-11 06:37] PMExtra opened #5106 "Contract Annotations of IsNullOrEmpty"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/da0880a93d11e9f144d0f9f56b1492578ab9c3a3/src/Abp/Extensions/StringExtensions.cs#L103-L117

I think it would be better if there is `[ContractAnnotation("str:null => true")]` for code analysis.

Reference:
https://stackoverflow.com/questions/46602209/can-i-teach-resharper-a-custom-null-check
https://www.jetbrains.com/help/resharper/Contract

[2019-12-11 06:38] #4993 closed

[2019-12-11 06:49] maliming commented on #5106
If you wish you can contribute code for this.

[2019-12-11 07:13] bxjg1987 commented on #5102
thanks

[2019-12-11 08:32] #5106 closed

[2019-12-11 08:37] yaoyuansheng opened #5109 "Facility of type 'Castle.Facilities.Logging.LoggingFacility' has already been registered with the container. Only one facility of a given type can exist in the container."
It works well in IIS,When I deployed it to jexus (https://www.jexus.org/  Powered by Mono )  I had this problem.
*abp.1.5.1.
*.Net Framework 4.6.1.

System.ArgumentException
Facility of type 'Castle.Facilities.Logging.LoggingFacility' has already been registered with the container. Only one facility of a given type can exist in the container.
Description: HTTP 500.Error processing request.

Detail

[2019-12-11 09:21] gferreira-keeps commented on #3882
My problem its just the same as OverwindSlash.
My Abp version is 4.3.0, dotnet 2.2, ef core 2.2.3 .

[2019-12-11 09:55] #5109 closed

[2019-12-11 10:33] Ice-tai opened #5110 "Syntax error near 'offset'. Invalid use of option next in fetch statement"
Click users report"Syntax error near 'offset'. Invalid use of option next in fetch statement"

[2019-12-11 11:45] maliming commented on #5110
What is your EF version?

[2019-12-11 20:41] ZouZou opened #5112 "Configuration.ReplaceService giving an error"
I am trying to extend the audit system by adding data in the CustomData field, however when I try to register my class I am getting an error

The non-generic method 'IAbpStartupConfiguration.ReplaceService(Type, Action)' cannot be used with type arguments

I am adding the following line of code in the PreInitialize method
`Configuration.ReplaceService<IAuditingStore, MyAuditingStore>();`

[2019-12-12 00:45] maliming commented on #5112
[code]

[2019-12-12 02:26] Ice-tai commented on #5110
My EF version is 3.0
Thanks

[2019-12-12 02:29] maliming commented on #5110
EF Core 3.0 no longer supports UseRowNumberForPaging. That is to say it does not support sql server 2008.

[2019-12-12 02:44] Ice-tai commented on #5110
Thank you. I know. I plan to use a higher version of SQL

[2019-12-12 02:50] #5110 closed

[2019-12-12 04:33] isystem20 opened #5113 "Multitenancy for 2nd database (mongodb)"
Hi!,

May I ask how to include the second database (mongodb) in multi tenancy features?

Thank you

[2019-12-12 04:49] isystem20 opened #5114 "Tenant additional properties"
Hi,

If I extend the Tenant table like:

    public class Tenant : AbpTenant<User>
    {
        public string AnotherTenantData { get; set; }
    }

How can I access this data from current tenant?

Thank you

[2019-12-12 04:56] isystem20 commented on #5095
I understand now. Thank you @maliming  @acjh

[2019-12-12 04:56] #5095 closed

[2019-12-12 05:13] maliming commented on #5114
see https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Extending-Existing-Entities-Core-Angular

[2019-12-12 05:14] maliming commented on #5113
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4189#issuecomment-539359435

[2019-12-12 05:15] maliming commented on #3882
@gferreira-keeps  Thanks, I will try to fix it.

[2019-12-12 05:17] isystem20 commented on #5022
Is it possible to have two tokens active?
Like I want to open the websocket even the user is not logged in.
Example:
Public chat.
Even the user is not logged in, he/she can still see the chats being broadcast, he or she just cannot send message.
Jwt will apply when the user is logged in.
But how to open the websocket even if the user is not logged in? can I do that using tenant resolver for exampl

[2019-12-12 05:27] isystem20 commented on #5114
Hi @maliming , Yes I did that.

I am using the AppServiceBase as a guide since it is sending the tenant information in GetCurrentLoginInformations method in Session Class.

    public abstract class ConsoleManagerAppServiceBase : ApplicationService
    {
        public TenantManager TenantManager { get; set; }
...
        protected virtual Task<Tenant> GetCurrentTenantAsync()
        {

[2019-12-12 05:38] isystem20 commented on #5113
Hi, I am already using mongodb. But I want to implement multi tenancy for mongodb.

[2019-12-12 05:52] maliming commented on #3882
@OverwindSlash @gferreira-keeps Try the following code:

[code]

or

[code]

[2019-12-12 05:53] ismcagdas commented on #5113
@isystem20 EF Core provides a way to filter entities automatically as we do here https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L181

I'm not sure about MongoDB, you might do it in base repository class.

[2019-12-12 05:56] ismcagdas commented on #5114
What is the value of `_abpSession.TenantId` ?

[2019-12-12 05:57] ismcagdas commented on #5022
@isystem20 yes, you can. If the user is not logged in, you can't have a token. What was the error message when you tried https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5022#issuecomment-559378495 ?

[2019-12-12 06:00] ismcagdas commented on #5110
@Ice-tai EF Core 3.1 might work. You can try ABP 5.1 when we release it.

[2019-12-12 06:06] isystem20 commented on #5114
I checked it, it is the Id of the active tenant.
tenant = 2

[2019-12-12 06:09] maliming commented on #5110
@ismcagdas Will ef core 3.1 support sql server 2008? I don't see related information.

[2019-12-12 06:11] isystem20 commented on #5022
Actually no error.
But the signalr doesnt initiate when the user is not logged in. How to call it when the load pages and initiate the opening of websocket?

[2019-12-12 06:54] ismcagdas commented on #5022
If I remember correctly, SignalR scripts are not included in Login (all Account pages) page. Did you added those script files to Account Layout ?

[2019-12-12 07:00] ismcagdas commented on #5110
@maliming you are right, I got it wrong (Here is the issue https://github.com/aspnet/EntityFrameworkCore/issues/16400). It seems like EF Core team forgot to mark UseRowNumberPaging method as obsolote. In 3.1 they just did it https://github.com/aspnet/EntityFrameworkCore/issues/18667. I thought UseRowNumberPaging  support added back in EF Core 3.1 but it seems like it is not.

[2019-12-12 07:05] ismcagdas commented on #5114
@isystem20 so you are trying to get tenant in tenant context. Tenants can be accessed in host context. So, you need to do something like;

[code]

[2019-12-12 07:09] #5112 closed

[2019-12-12 07:15] isystem20 commented on #5114
I tried it but same error {"Object reference not set to an instance of an object."}

[2019-12-12 07:17] Ice-tai commented on #5110
https://github.com/ismcagdas Thank you for your advice. UseRowNumberPaging is invalid in EF core 3.0, so I used SQL Server 2017 to solve this problem

[2019-12-12 07:24] ismcagdas commented on #5114
Could you first share the full exception message ? And a repro project if possible ?

[2019-12-12 07:26] ismcagdas commented on #5109
@yaoyuansheng did you fix this problem ?

[2019-12-12 08:50] isystem20 commented on #5022
Oh my.. I never thought its in the frontend. haha it works now.
The next step would be checking if the request should be granted based on the tenant.

The problem is, I cannot access the IRepository<Tenant> in AuthConfigurer because it is static.

[2019-12-12 09:05] yaoyuansheng opened #5115 "Component Abp.Domain.Uow.UnitOfWorkDefaultOptions could not be registered. There is already a component with that name. Did you want to modify the existing component instead? If not, make sure you specify a unique name."
It works well in IIS，When I move it to the mono 6.4.0 +jexus 6.1

* abp 1.5.1
* .Net Framework 4.6..
*Castle.MicroKernel.ComponentRegistrationException
Component Abp.Domain.Uow.UnitOfWorkDefaultOptions could not be registered. There is already a component with that name. Did you want to modify the existing component instead? If not, make sure you specify a unique name.
Description: HTTP 500.Error

[2019-12-12 09:06] yaoyuansheng commented on #5109
no ,I removed the code I wrote
AbpBootstrapper.IocManager.IocContainer.AddFacility<LoggingFacility>(f =>f.UseNLog()……

but a new error occurred
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5115

[2019-12-12 09:28] gferreira-keeps commented on #3882
Thanks @maliming, you nailed it. Nevertheless i'm using a postgres database with Npgsql instead of an InMemoryDatabase. But in my case it worked!!!

[2019-12-12 09:36] #3882 closed

[2019-12-12 09:53] OverwindSlash commented on #3882
I also changed test cases to use lazy loading, they are all passed. Thank you for your work! @maliming

[2019-12-12 13:21] fabio-basedev opened #5116 "ABP not throwing validation"
Hi,

I have a method in my application service that receives a parameter with ICustomValidate interface:

Parameter:

[code]

Method:

[code]
But when I call this method without fill the "CustomerCpf" and "CustomerPhone" fileds, apb not throw my custom validation....

Here is my test method:

[code]
BUT when I call any other method that is default from IAsyncCrudAppService interface, like "CreateA