[2018-05-04 06:12] abhishekhbd opened #3331 "Which exception need to throw to set status 401?"
I want to send response and status code 401. Which exception need to throw?

[2018-05-04 06:26] acjh commented on #3331
`AbpAuthorizationException`

[2018-05-04 06:50] ismcagdas commented on #3331
@abhishekhbd have you seen what @acjh wrote ?

[2018-05-04 07:30] ismcagdas commented on #3328
@lommez actually it is not tested very well. If you use and test it in your project, you can use it.

[2018-05-04 09:31] Poepon opened #3332 "IOnlineClientManager Design"
* package version: 3.5.
* framework: . .Net Core.
* main points : asp.net core signalR
IOnlineClientManager‘s design can't distinguish multiple Hub. Getting Client based on UserId will get Client that does not need to send messages.
for example:
I have two hubs , ChatHub and ChatGroupHub.
When connecting, they add their respective IOnlineClient to the Clients attribute of the singleton IOnlineClie

[2018-05-04 09:51] XelaNimed commented on #3325
@ismcagdas I use jQuery version.
@ebicoglu is used MS SQL (localdb) Database.

[2018-05-04 09:59] acjh commented on #3332
1. That's not true. `IHubContext` is unique to the `Hub`.
   Can you show relevant code and screenshots of the user receiving the messages?

2. Only `AbpCommonHub` adds `IOnlineClient` to `IOnlineClientManager`.
   Are you inheriting `AbpCommonHub`?

3. `IOnlineClient` has a [`Properties`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/1fd502cbbd76b08e53353e08b20f3dfc62c50067/src/Abp/

[2018-05-04 12:25] Ni3rk commented on #3331
HI
Used AbpAuthorizationException , getting 403 in reponse

[2018-05-04 12:29] acjh commented on #3331
401 when not logged in, 403 when logged in.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4a13b75288ecb45973cb39df479daf625cfc1664/src/Abp.AspNetCore/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs#L85-L90

[2018-05-04 18:31] hikalkan commented on #3324
If `CreateTempTable` is async, you must await it. You can either use `IAsyncEventHandler` as @acjh stated or use ``AsyncHelper.RunSync(() => _seMailAppService.CreateTempTable(eventData.CampaignId));``

For doing something in background, you can use background jobs. Starting a thread without watching it and handling problems is not a good practice. Even if you do that, you should start a new unit o

[2018-05-04 20:11] lommez commented on #3328
thanks @ismcagdas...

I'll try to use in my project

[2018-05-05 11:08] ismcagdas commented on #3328
@lommez if you have any problems, we will be happy to help.

[2018-05-05 11:08] #3328 closed

[2018-05-05 17:01] hikalkan commented on #3330
Duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/818

[2018-05-05 17:01] #3330 closed

[2018-05-05 17:38] Omital commented on #3058
Hi @hikalkan
I finally found good (and probably best) solution.
First Add property to user entity named ActAsIP (for login method to deny username with ActAsIp) and then implement Intercept method
`public void Intercept(IInvocation invocation)
        {
            var access = false;
            var methodInfo = invocation.MethodInvocationTarget;

            var clientIpAuthorizeAttribute = meth

[2018-05-05 18:26] hikalkan commented on #3058
That's a good solution. Thank you for sharing.

[2018-05-05 18:26] #3058 closed

[2018-05-07 05:45] mrvithan commented on #2982
Until now, i still can't see any deploy manual.

[2018-05-07 07:05] alirizaadiyahsi commented on #3316
@mkgn I am closing this issue, because of not reproducing.

Feel free to ask question on this issue and you can reopen if you can't fix your problem.

[2018-05-07 07:05] #3316 closed

[2018-05-07 08:02] abhishekhbd commented on #2982
Yes, even I don't found the document for IIS service. But there is a document for azure.

[2018-05-07 08:06] hikalkan opened #3334 "Static Roles Can Have Pre-Granted Permissions"
When we define a static role, we may want one of the following additional features:

* Grant all permissions (including new permissions will be added in the future) to the static role by default (unless it's explicitly prohibited for that role).
* Grant a list of permissions to the static role by default (unless it's explicitly prohibited for that role).

These configuration should work with the R

[2018-05-07 08:06] ismcagdas commented on #2982
@mrvithan have you tried https://aspnetzero.com/Documents/Step-by-step-publish-to-azure-angular ?
Steps are almost the same for IIS deployment.

[2018-05-07 08:10] #3334 closed

[2018-05-07 09:09] MyoKoKoZaw commented on #3063
@kgamalseif  , Use same name for Interface and Service name. (E.g. Interface's name is IPersonAppService,
Service name must be PersonAppService.

[2018-05-07 11:32] kgamalseif commented on #3063
Thanks for Reply I had resolved it by implementing custom TestBase.

[2018-05-07 11:32] #3063 closed

[2018-05-08 03:01] natiki commented on #3317
I am in a MVC project not Angular. I will get back with more detail but project versions are:

- Visual Studio 15.6.7
- .NET Framework 4.6.1
- TypeScript 2.6

[2018-05-08 06:43] ismcagdas commented on #3317
@natiki if you are using MVC project, then you can add `<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>` in your csproj file since you don't need to compile typescript files I guess.

[2018-05-08 13:03] Omital commented on #1555
Hello. does anybody find solution for this problem?

[2018-05-08 13:13] skycelik opened #3336 "Can not post forms that has nullable datetime fields in model after upgrading to 3.6.0"
As title says, i can not post forms that has nullable datetime fields after upgrade. It was working before the upgrade.

The request ends with the following exception message:
**Abp.Runtime.Validation.AbpValidationException: Method arguments are not valid! See ValidationErrors for details.**

After digging into for more details, i reached the following validation error message:
**Object of type 'S

[2018-05-08 13:26] #3336 closed

[2018-05-08 13:26] ismcagdas commented on #3336
@skycelik thank your for finding the bug and related code. We will release it tomorrow as v3.6.1.

[2018-05-08 14:15] improwise opened #3337 "One solution (include the client side project into the server side solution instead of seperate solutions) cause web.config errors"
When trying to extract a project downloaded with the "One solution (include the client side project into the server side solution instead of separate solutions)  cause web.config errors" enabled there seems to be conflicting web.config files in the .Web.Host directory. In the ZIP files there are 2 files with the same name but different contents. This is for the .NET Core and Angular 4.

[2018-05-08 14:17] improwise commented on #3337
Same problem occurs when selecting Vue project.

[2018-05-08 18:36] mrvithan commented on #2982
I am trying but now i got a problem. I host my server in a sub folder. i try to access from  http://www.xxx.com/app which it should redirect to http://www.xxx.com/app/swagger but it redirect to http://www.xxx.com/swagger instead. Any suggest ?

[2018-05-08 19:41] ismcagdas commented on #2982
@mrvithan it is because of https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Controllers/HomeController.cs#L22. Does it work for you when you change it to ;

`return Redirect("/app/swagger");`

[2018-05-08 20:01] mrvithan commented on #2982
Ok, now the service redirect to the correct page. But the swagger still get the swagger.json from /swagger path. I have changed all path in all appsetting.xxxx.json but still no luck.

[2018-05-08 22:29] ina-cali opened #3338 "Handling canceled requests in ABP"
In EF Core, operations can be canceled by passing a CancellationToken to the method.
Something like:
`_context.Customers.ToListAsync(HttpContext.RequestAborted);`

Is there a way to cancel operations in ABP when the request gets canceled?

[2018-05-09 05:15] eureky commented on #1476
Hi, @hikalkan. I studied your  modular todo example at https://github.com/aspnetboilerplate/modular-todo-app. I'm thinking about the same way to do a modular application. However, I did not understand how you deal with db migration. I found that in your module's migration.cs file(https://github.com/aspnetboilerplate/modular-todo-app/blob/master/src/todo-module/TodoModule.EntityFramework/Migrations

[2018-05-09 05:53] skycelik commented on #3336
@ismcagdas thanks for the super speedy reaction.

[2018-05-09 06:48] #3148 closed

[2018-05-09 07:00] #2897 closed

[2018-05-09 07:00] #2925 closed

[2018-05-09 07:00] #2972 closed

[2018-05-09 07:00] #2984 closed

[2018-05-09 07:04] #3017 closed

[2018-05-09 07:04] #3020 closed

[2018-05-09 07:04] #3106 closed

[2018-05-09 07:04] #3109 closed

[2018-05-09 07:04] #3135 closed

[2018-05-09 07:10] #3186 closed

[2018-05-09 07:10] #3195 closed

[2018-05-09 07:10] #3220 closed

[2018-05-09 07:10] #3248 closed

[2018-05-09 07:48] ismcagdas opened #3339 "Update possible nuget packages"

[2018-05-09 07:49] ismcagdas opened #3340 "Add timezone mapping for Sao Tome Standard Time"

[2018-05-09 07:49] #3339 closed

[2018-05-09 07:49] #3340 closed

[2018-05-09 08:25] fengyeju opened #3341 "Websocket closed with status code: 1011"
Abp version: 3.6.0
framework: .Net Core.
I using Abp.AspNetCore.SignalR in .Net Framework and .Net Core. and it's normal in 3.5.0.
When I upgraded to 3.6.0, .Net Framework is ok, but there was an error under.Net Core.
![20180509162135](https://user-images.githubusercontent.com/3335682/39803920-374478ba-53a5-11e8-90b2-34f3b54a8291.jpg)

Here is the log:
[code]

[2018-05-09 08:32] Worthy7 opened #3342 "Documentation on Social/External integration"
For the later versions of ABP, devs are being advised to use Microsofts way for using social integrations.
But this method ties in with DotNet Identity  which ABP doesn't use. So it's very difficult to use the tutorial to get ABP working with these integrations.

Please write up a more detailed example of how to do this using at least one of the providers (Google etc).
An idea for the structure:
1

[2018-05-09 08:38] ismcagdas commented on #3341
@fengyeju seems like it is related to https://github.com/dotnet/corefx/issues/27451. Have you tried to install latest .NET SDK preview ?

[2018-05-09 09:38] PhilipWynn commented on #2792
Any progress on this? Assistance would be gratefully received, as I have totally failed to get anything working.

[2018-05-09 09:39] fengyeju commented on #3341
Thanks, I will try it later

[2018-05-09 11:34] Worthy7 commented on #3342
Specifically this code, how are we supposed to use this in ABP:

[code]

[2018-05-09 12:50] alirizaadiyahsi opened #3343 "Add a property to use for additional configurations"
This is necessary to check EntityHistory is enabled for entity.

[2018-05-09 13:18] valleen opened #3344 "EntityHistory feature: tenant id not set"
Hi,

I'm using the EntityHistory feature which I activated this way:

'

            // Entity History
            Configuration.EntityHistory.IsEnabled = true;
            Configuration.EntityHistory.IsEnabledForAnonymousUsers = false;
            Configuration.EntityHistory.Selectors.Add(
                new NamedTypeSelector(
                    "Abp.FullAuditedEntities",
                    ty

[2018-05-09 15:12] acjh commented on #3344
Fixed in ABP v3.6

[2018-05-09 15:12] #3344 closed

[2018-05-09 15:54] wimvandenbroeck commented on #2792
This is how I nailed it , and it's working smoothly ..

[Techno_Fly.HospitalCloud.ConsoleApp.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1988538/Techno_Fly.HospitalCloud.ConsoleApp.zip)

[2018-05-09 16:03] lucky51 opened #3345 "MVC5 template warning"
### Documentation

vs 2017  version 15.7.1+  ,download mvc 5 + angularjs template

 lot of warning information ，How to solve this problem ？ thanks

Severity	Code	Description	Project	File	Line	Suppression State
Warning		Found conflicts between different versions of the same dependent assembly. In Visual Studio, double-click this warning (or select it and press Enter) to fix the conflicts; otherwise

[2018-05-09 16:05] lucky51 commented on #3345
`Severity	Code	Description	Project	File	Line	Suppression State
Warning		Found conflicts between different versions of the same dependent assembly. In Visual Studio, double-click this warning (or select it and press Enter) to fix the conflicts; otherwise, add the following binding redirects to the "runtime" node in the application configuration file: <assemblyBinding xmlns="urn:schemas-microsoft-co

[2018-05-09 17:20] FrancisGroleau opened #3346 "TestServer"
Hi, i'm trying to use a TestServer from [https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing?view=aspnetcore-2.1 ](url) in order to test a fileupload. I'm using some applicaiton service so usually the request is something like /api/xxxxxx/xxxx.

i've try to create the server this way :
[code]

but the response always give me a 404.
I'm using the Startup class from the Web.Host

[2018-05-10 00:11] Worthy7 commented on #3342
Just a little collection of resources I found:
[Google integration from MS](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?view=aspnetcore-2.1&tabs=aspnetcore2x) The issue here is it is designed to work with a new web project, and just magically works, but this magic is removed from ABP, so it's useless
This code can't work in ABP
[code]
And neither will

[2018-05-10 04:40] ebicoglu commented on #3345
does it stop the development?

[2018-05-10 06:40] #3338 closed

[2018-05-10 06:45] ina-cali commented on #3338
Thanks for the replay.

Just the fact that this `GetAll` method returns an `IQueryable<T>`, we can use `ToListAsync`. But, what about `GetAsync(id)`? Nope, this doesn't support `CancellationToken`s.
`CancellationToken` is really useful, why not built it into the framework?

[2018-05-10 07:47] lucky51 commented on #3345
@ebicoglu  only some warning message ， but ... what's the reason?

[2018-05-10 07:58] PhilipWynn commented on #2792
Many thanks for this Wim. Your solution is not immediately understandable to me, but I will persevere....

Kind Regards

From: Wim Van den Broeck <notifications@github.com>
Sent: 09 May 2018 16:55
To: aspnetboilerplate/aspnetboilerplate <aspnetboilerplate@noreply.github.com>
Cc: Phil Wynn <phil.wynn@ippexglobal.com>; Comment <comment@noreply.github.com>
Subject: Re: [aspnetboilerplate/aspnetboiler

[2018-05-10 08:35] fengyeju commented on #3341
The problem has been solved. I upgraded Microsoft.AspNetCore.SignalR to 1.0.0-rc1-final, and use latest signalr.js.
Abp.AspNetCore.SignalR and abp.signalr-client.js maybe need update.

[2018-05-10 09:20] wimvandenbroeck commented on #2792
The basic idea is that you create a specific AbpModule (inheriting from the AbpModule of Abp), mine is the HospitalCloudApplicationModule.

In the initialize method you can build up the container and start the module.

[DependsOn(typeof(HospitalCloudApplicationModule), typeof(HospitalCloudEntityFrameworkModule))]
    public class HospitalCloudConsoleAppModule : AbpModule
    {
        public overr

[2018-05-10 09:27] sajasbana opened #3348 "AsyncCrudAppService issue with multi tenent"
Dear

I'm using abp v3.6 with mvc jquery multi pages,
my issue is :
- when use AsyncCrudAppService to create application service and try to use create method item is create but if multitent is active the item is not not shown and get message the item is not exists if try use find method. if i disable multi tenant it works fine

[2018-05-10 09:42] acjh commented on #3348
I suppose it is an `IMayHaveTenant` entity?

[2018-05-10 09:54] PhilipWynn commented on #2792
Thanks again Wim, I will investigate further…

From: Wim Van den Broeck <notifications@github.com>
Sent: 10 May 2018 10:21
To: aspnetboilerplate/aspnetboilerplate <aspnetboilerplate@noreply.github.com>
Cc: Phil Wynn <phil.wynn@ippexglobal.com>; Comment <comment@noreply.github.com>
Subject: Re: [aspnetboilerplate/aspnetboilerplate] Azure Webjob integration (#2792)

The basic idea is that you create

[2018-05-10 10:02] sajasbana commented on #3348
Yes it is IMayHaveTenant

why this not check current tenent?
do i have to do it manualy? like this

[https://github.com/aspnetboilerplate/module-zero-template/blob/master/src/AbpCompanyName.AbpProjectName.Application/MultiTenancy/TenantAppService.cs](url)

[2018-05-10 10:03] acjh commented on #3348
From the documentation on [Multi-Tenancy](https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#additional-notes):

[2018-05-10 11:20] GameBelial opened #3349 "The exception that the entity type does not match."
My code in the entity looks like this:
[code]
[code]
I once carried out the Get operation, ABP will tip InvalidOperationException: There is already an open DataReader associated with this Command which must be closed first.

But I changed the code:
[code]
The code works perfectly.
I know the solution, but why not prompt type does not match, but InvalidOperationException?

[2018-05-10 11:41] ismcagdas commented on #3349
@GameBelial could you also share your method's code which you are using `_repository.Get(5);` ?

[2018-05-10 11:48] MianMAmir opened #3350 "update ASP.NET boilerplate framework"
hi there,
         I am using ASP.NET boilerplate framework for my website. I want to update my framework. Framework version is 2.2.2.0 and i want to update it with latest version that is 3.6.1. if there is any method to update framework then please let me know as soon as possible.

[2018-05-10 11:58] ismcagdas commented on #3350
@MianMAmir have you tried to update ABP nuget packages via nuget package manager ?

[2018-05-10 12:04] ismcagdas commented on #3341
@fengyeju thanks a lot. I'm closing this issue since you have already sent the PR here https://github.com/aspnetboilerplate/aspnetboilerplate/pull/3347.

[2018-05-10 12:04] #3341 closed

[2018-05-10 12:08] ismcagdas commented on #3345
@lucky51 I have moved issue to https://github.com/aspnetboilerplate/module-zero-template/issues/126. We will update all possible nuget packages in a short time. This is probably some of the other libraries are using different version of Castle.Core.

[2018-05-10 12:08] #3345 closed

[2018-05-10 12:13] ismcagdas commented on #3342
@Worthy7 have you tried this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3243#issuecomment-377868426 ?

We definitely need to remove social login buttons from the screenshots.

[2018-05-10 12:32] ismcagdas commented on #2982
@mrvithan are you hosting your app as a sub-website or website ?

[2018-05-10 12:33] FrancisGroleau commented on #3346
@alirizaadiyahsi yes they are
![image](https://user-images.githubusercontent.com/3739785/39869654-6c7127cc-542c-11e8-99d9-b1594876f4cd.png)

But what's weird is that when i do a GetAsync i get some results (200 OK) but when i try to do a PostAsJsonAsync it gives me a 404

![image](https://user-images.githubusercontent.com/3739785/39869788-d7776446-542c-11e8-8cca-4344f043b30d.png)

[2018-05-10 12:56] alirizaadiyahsi commented on #3346
Could you debug what PostAsJsonAsync return in detail? Can you see postResponse details? What is the request details? I mean url, request body, request header...

[2018-05-10 13:05] MianMAmir commented on #3350
@ismcagdas yes i tried and error is
![untitled](https://user-images.githubusercontent.com/27952360/39870989-bf3b3b5a-547c-11e8-80af-cdcc88cddcab.png)

[2018-05-10 13:06] FrancisGroleau commented on #3346
@alirizaadiyahsi like this :
![image](https://user-images.githubusercontent.com/3739785/39871023-74622ee0-5431-11e8-9078-7b8e0ab621fb.png)

[2018-05-10 13:11] ismcagdas commented on #3350
@MianMAmir you are trying to add a package. Please use nuget package manager to update the ABP packages. See below screenshots;

![image](https://user-images.githubusercontent.com/4133525/39871188-bae25ce2-546c-11e8-95f4-e9f89647cad5.png)

Then, go to updates tab and filter ABP packages, select all and click update.
![image](https://user-images.githubusercontent.com/4133525/39871230-d891c476-546c-

[2018-05-10 13:35] MianMAmir commented on #3350
i tried. but dear @ismcagdas
![image](https://user-images.githubusercontent.com/27952360/39872250-d4280e22-5480-11e8-8279-7971971b7623.png)

[2018-05-10 13:48] alirizaadiyahsi commented on #3346
I don't know what is the problem but I can't understand some points.

- Latest version of HttpClient does not contain a definition for `PostAsJsonAsync`.
- You say "I'm using the Startup class from the Web.Host", and this startup class is using an `appsettings.json`, but I can't see any WebHostBuilder configuration about this?
- I can't understand why you don't get en error when you create a test

[2018-05-10 14:57] acjh commented on #3346
Did you create controllers for `TenantApiRestModule` in `TenantApiWebCoreModule`?

[code]

[2018-05-10 14:59] acjh commented on #3350
- Which version of Visual Studio are you on?
- Which framework are your projects targeting?

[2018-05-10 15:13] FrancisGroleau commented on #3346
@acjh Hi, yes this is the Preinitialize method for the `TenantApiWebCoreModule`
[code]

[2018-05-10 15:41] ozibrahim opened #3351 "Weird Token Authentication - Same Credentials Different Users"
Hi,
I downloaded .NET Core 2 with multipage.
Update project for PostgreSQL with help of documentation.

When i try to /api/TokenAuth/Authenticate with default user's credentials (admin, 123qwe), it returns accessToken for userId 1. Then i try it again and this time result is userId 2, and it continues like that.

Also, try to add Header Abp.TenantId 0(for non-existed tenant) or 1(for Default tenan

[2018-05-10 15:46] Edward-Zhou opened #3352 "How to achieve Property Injection like IAbpSession"
I am trying to implementing my own custom IAbpSession, but I do not know how to implement the same property injection like `IAbpSession`.
My `AppServiceBase` like below:
`    public abstract class EdwardAppServiceBase : ApplicationService
    {
        public TenantManager TenantManager { get; set; }

        public UserManager UserManager { get; set; }

        protected EdwardActiveUnitOfWork Ed

[2018-05-10 16:05] ozibrahim opened #3353 "Net Core Multipage - What is three web modules logic?"
Hi,
I downloaded .NET Core with multipage.

There are three Web Modules; Web.Core, Web.Host, Web.Mvc. What is the exact logic of all three layered web modules? Searched in your documentation but couldn't find.

I think that;
1. Web.Core for some core module settings both Web.Host and Web.Mvc. But only for core configuration is it really necessary to create core module?
2. Web.Host for web services

[2018-05-10 16:20] acjh commented on #3352
Make it `public`.

[2018-05-10 16:32] acjh commented on #3353
Duplicate of #2368

[2018-05-10 19:47] ismcagdas commented on #3351
@ozibrahim have you tried same scenario with SQL Server or any other DB ? It might help us to find the problem.

[2018-05-11 00:18] guilmori opened #3354 "Expose multiple Swagger endpoints"
Let’s say i have 1 abp web application and i want to expose 3 different set of APIs to 3 partners apps.
Each API would have its own authentication mechanism. Probably a shared api key, but each one would have a different key.
I would like to expose a different swagger endpoint to each partners, so they only see what is pertaining to them.
How can this be done ?

[2018-05-11 01:40] Worthy7 commented on #3342
@ismcagdas  No I didn't spot that issue, thanks. I'll try to work something out - at the moment I'm actually looking to abandon Abp's authentication, It has been done over and over and over by everyone so I was thinking to just use Firebase.auth for the auth, and then pass tokens into Abp somehow instead - it seems like a more stable approach (since firebase will get updated by google over time).

[2018-05-11 02:51] eureky commented on #1476
@ismcagdas thanks. I'm aware of the table mapping. I've tried to create a User entity in the first project and  created Users table in db, then a MyUser entity in the second project which is mapped to the same Users table in the same db,  but  add-migration tool  generated xxxxxxx_migration.cs file still contains code for creating Users table. Is there a way to prevent add-migration from creating

[2018-05-11 05:41] #3352 closed

[2018-05-11 06:29] alirizaadiyahsi commented on #3353
1. Check this article for more information: http://aspnetboilerplate.com/Pages/Documents/NLayer-Architecture

2. Host project: You can think of it as an API project. You can serve your application as an API. It is explaining at issue that @acjh mentioned.

3. I don't understand this: "why can i create new tenant from tenant application?". Actually in a multi-tenancy application why can't I create

[2018-05-11 06:29] #3353 closed

[2018-05-11 06:41] ismcagdas commented on #1476
Have you created the table by migration at the first place ?

[2018-05-11 06:49] ismcagdas commented on #3342
😄 Yes it is a bit like that. We actually faced some problems about social logins when we were updating some Identity packages.

I agree with you, we must at least create a document for social logins.

[2018-05-11 07:08] ozibrahim commented on #3351
@ismcagdas no, i didn't try with SQL Server. I haven't got any other db setup, I am working on mac visual studio, so it hasn't embeded sql server.
When i debug it, the problem is below method;

`var loginResult = await _logInManager.LoginAsync(usernameOrEmailAddress, password, tenancyName);`

The same credientals, it returns different user each time, no matter of tenancyName.

When i control db ta

[2018-05-11 07:29] alirizaadiyahsi commented on #3351
@ismcagdas, it seems this problem is occured only work with postgreSQL. But there is another problem with SQL Server. It always returns 1 both tenant and host.

[2018-05-11 07:44] ismcagdas commented on #3351
I have just tried with SQL Server and it was like below;

For host login(no request header);

![image](https://user-images.githubusercontent.com/4133525/39912585-e5730402-5507-11e8-8b0d-892a8abdb631.png)

For tenant login (Abp.TenantId=1 as a request header)
![image](https://user-images.githubusercontent.com/4133525/39912603-f2ae4ec4-5507-11e8-92f5-c83d2ac24144.png)

If I try with a TenantId which

[2018-05-11 07:48] eureky commented on #1476
Yes, I have run update-database in project 1 first. and Users table is already exist in database. If try to run update-database in project 2, it will fail with error like "There is already an object named 'Users' in the database." @ismcagdas

[2018-05-11 07:49] hitaspdotnet commented on #1476
@ismcagdas When we have multiple contexts with depending on AbpDbContext at migration time Abp creating basic tables (AbpUser, Settings, AuditedLog,...). I need to remove all duplicate model builder from myNewMigration.cs
My module not have any users navigation else one entity with FullAudited interface. So ABP generated their related tables. I don't know why its happen when their uses some DB & s

[2018-05-11 07:55] hitaspdotnet commented on #1476
@eureky You can remove duplicate tables from yourMigration.cs to running your Db-Update without this error. Then waiting for fix issue.

[2018-05-11 08:12] ismcagdas commented on #1476
@eureky I think I understand your problem now but this is related to EF rather than ABP.
If you have two different db context and want to use same table for different entities in those different dbContexts, you need to implement a custom solution because EF cannot now if there is a table or not for other dbContexts.

So, you can create a 3. DbContext just for managing migrations. Then you can crea

[2018-05-11 08:31] maliming opened #3355 "Handling EF Core concurrency conflicts."
Abp 3.6
net core

[https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L122](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L122)

`_logInManager.LoginAsync(context.UserName, context.Password, tenant);`

This code occasionally throws a DbUpdateConcurrencyException

[2018-05-11 08:32] maliming commented on #3355
[https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L226](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L226)

[2018-05-11 09:01] ozibrahim commented on #3353
2. Host project: So this project is for Api, i think it should named as Web.Api. In multi-tenant app there are host and tenants, Web.Host seems refers to multi tenant's host project module rather than api module.

3. I thought that Web.Host refers to multi-tenant's host project, i think you should create new tenant in Web.Host. But i misunderstand concepts, Web.Host for Api, Web.MVC for both tenan

[2018-05-11 09:15] eureky commented on #1476
@ismcagdas Yes, I understand it's EF.  So can I infer that in the Todo example, the code for creating AbpUser table in  todo module was removed **manually** ? (https://github.com/aspnetboilerplate/modular-todo-app/blob/master/src/todo-module/TodoModule.EntityFramework/Migrations/201702031754143_Initial_Todo_Migration.cs)

I will look into and try your solution later. I think it's OK for a module t

[2018-05-11 10:32] etshei opened #3356 "[CreateMultiLingualMap] Id of the entity is replaced by the id of the translation in the mapping"
### Problem (using the documentation example)

While using the new (awesome and much anticipated btw) Multi Lingual Entities feature, i needed to get the id of the product with the translated name in the `ProductListDto` class.
[code]
I'm getting the correct translation for name but the Id (from `EntityDto`) is getting the `ProductTranslation` Id not the `Product` one (using `CoreId ` as a propert

[2018-05-11 10:58] ismcagdas commented on #3356
@etshei, thanks we will test and fix this.

[2018-05-11 11:36] ismcagdas commented on #1476
@eureky migrations are disabled for Todo Module's DbContext https://github.com/aspnetboilerplate/modular-todo-app/blob/master/src/todo-module/TodoModule.EntityFramework/Migrations/Configuration.cs and TodoUser doesn't add a new field to existing User entity (AbpUsers table).

[2018-05-11 11:37] ismcagdas commented on #3353
You are right, we have never thought like that. We will consider renaming the project. Thanks 😄 .

[2018-05-11 12:14] ismcagdas commented on #3354
@guilmori ABP doesn't provide a way for this.
You can use what Swashbuckle.AspNetCore offers, https://github.com/domaindrivendev/Swashbuckle.AspNetCore#generate-multiple-swagger-documents.

[2018-05-11 12:19] valleen opened #3357 "MultiLingualMap maps translation id to core objet id"
Hi,

I implemented the IMultiLingualEntity: thank you for that brillant feature!
Knowing the fact that all my entities involved are primary key Guid, below is the mapping I use:

'

internal static class CustomDtoMapper
    {
        public static void CreateMappings(IMapperConfigurationExpression configuration, MultiLingualMapContext context)
        {
            configuration.CreateMultiLingual

[2018-05-11 13:07] #3356 closed

[2018-05-11 13:08] ozibrahim opened #3358 "Mac Visual Studio Debugging Sourcelink"
Hi,
I try to debug Abp code to solve this #3351 problem.
I found in docs that https://aspnetboilerplate.com/Pages/Documents/Debugging
But in mac visual studio, there is no options screen like that. Can we use Abp SourceLink on Mac Visual Studio? If we can, what are proper steps?

Thanks,

[2018-05-11 13:28] maliming commented on #3355
hi @ismcagdas is there a temporary solution? :smile:

[2018-05-11 13:31] #3346 closed

[2018-05-11 14:35] acjh commented on #3355
@maliming Can you post the full stack trace?

[2018-05-11 15:51] ozibrahim commented on #3351
@alirizaadiyahsi  It changed behaviour, for now it always return 1 on my project too :)

In Abp.Authorization.Users.AbpUserStore class, FindByNameOrEmailAsync(int? tenantId, string userNameOrEmailAddress) function should set Tenant and create filtered query by tenant. But generated query is:
`SELECT "user"."Id", "user"."AccessFailedCount", "user"."AuthenticationSource", "user"."ConcurrencyStamp",

[2018-05-11 18:56] hitaspdotnet commented on #1476
I referred directly to AbpDbContext. Where did you see AbpZeroDbContext in my comment?

In fact, you cannot use AbpZeroDbContext without referring to the user, roles and tenant entity.

[2018-05-11 19:01] thiagoburgo opened #3359 "[FEATURE REQUEST] Allow automatic validation of primitive type parameters in AppServices"
Hi,

What do you think about allow decorate primitive AppServices's methods parameter with ValidationAttribute, instead an DTO.  We have some cases were create a DTO as parameter (specially in GET methods) is a bit tricky to API's callers, as example:

[code]

[code]

Http request must be:

GET /api/services/app/Endereco/ObterEnderecoPorCep?**cep.Cep**=52000123

My Suggestion is something like thi

[2018-05-11 19:19] brunobertechini commented on #1476
@hitaspdotnet AbpDbContext does not contain USers and Roles. So there is no way migrations creating instructions for these tables:

My module not have any users navigation else one entity with FullAudited interface. So ABP generated their related tables. I don't know why its happen when their uses some DB & same connectionString.

AbpDbContext does not generate that.

Bruno

[2018-05-11 19:39] hitaspdotnet commented on #1476
[code]

And **DbContext**

[code]

[2018-05-11 19:41] hitaspdotnet commented on #1476
BlogPost and BlogComment entities depended on FullAuditedEntity

[2018-05-11 20:06] hitaspdotnet commented on #1476
This is a big controversial issue.

I have ready to run multi-language blog service with all available Abp wonderful feature.
But I have big problem with adding BlogService localize source to source manager for editing values from UI. https://github.com/aspnetzero/aspnet-zero-core/issues/1074#issuecomment-385975138

[2018-05-12 02:14] acjh commented on #297
Resolved by #3228

[2018-05-12 02:14] #297 closed

[2018-05-12 02:32] icyjiang opened #3360 "why can not register new account while IsMultiTenancyEnabled=false"
I try to register new account from client page, before this, I've set MultiTenancyEnabled = false.
But there is an exception threw out after submiting.

EntityNotFoundException: There is no such an entity. Entity type: Com.ShippingFilter.Core.Authorization.Users.User, id: 8
Abp.Domain.Repositories.AbpRepositoryBase+<GetAsync>d__21.MoveNext() in AbpRepositoryBase.cs, line 86

More detail:
1. I use

[2018-05-12 02:46] maliming commented on #3355
@acjh
[code]

MyResourceOwnerPasswordValidator.cs
[code]

[2018-05-12 03:30] maliming opened #3361 "HttpContext.RequestServices.GetService DbContext exception"
ABP 3.6
NET CORE

ABP Official Template 3.6.0

`app.UseDatabaseErrorPage();` exception.

[code]

[https://github.com/aspnet/Diagnostics/blob/release/2.1/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore/DatabaseErrorPageMiddleware.cs#L117](https://github.com/aspnet/Diagnostics/blob/release/2.1/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore/DatabaseErrorPageMiddleware.cs#L117)

[co

[2018-05-12 06:51] acjh commented on #3361
Duplicate of #2627

[2018-05-12 06:55] icyjiang commented on #3360
After updating abp‘s version from 3.5.0 to 3.6.1. This issue is fixed. thx.

[2018-05-12 06:55] #3360 closed

[2018-05-12 11:26] maliming commented on #3355
[code]

[2018-05-12 13:11] ccccccmd opened #3362 "No component for supporting the service Microsoft.AspNetCore.Http.ISession was found at Castle.MicroKernel.DefaultKernel.Castle.MicroKernel.IKernelInternal.Resolve(Type service, IDictionary arguments, IReleasePolicy policy) at Castle.Windsor.WindsorContainer.Resolve[T]()"
when i do this:
`ISession session = IocManager.Instance.Resolve<ISession>();`

` public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            services.AddSession(config =>
            {
                config.IdleTimeout = TimeSpan.FromMinutes(30);
                config.Cookie.HttpOnly = true;
            });}
`

{Castle.MicroKernel.ComponentNotFoundException: No c

[2018-05-12 13:29] acjh commented on #3362
You're not supposed to inject `ISession`.

From the documentation on [Session and application state in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.1&tabs=aspnetcore2x#set-and-get-session-values):

[2018-05-13 02:43] ktngoykalolo opened #3363 "Built with ABP"
As a way to promote the framework,
would it be a good idea to have a page dedicated to real world apps built with ABP ?

[2018-05-13 02:46] ktngoykalolo commented on #3350
@MianMAmir
perhaps you should start with packages that ABP is relying on.
look at all the nuget updates availables, and start with the most basic ones.
for e.g: with some nuget MS packages, they often block because you have to also update the french resource packages for translation. and they block some other packages.

[2018-05-13 02:47] ktngoykalolo commented on #3323
too early for that I would say!!

[2018-05-13 04:29] MianMAmir commented on #3350
@acjh we are using 2013 VS. and working with entity framework

[2018-05-13 04:31] MianMAmir commented on #3350
@ktngoykalolo thanks. i will try this and let you know about this situation.

[2018-05-13 04:40] acjh commented on #3350
ABP v3.x is based on .NET Standard 2.0, which is only supported in VS 2017 15.3.3+.
- This concerns you regardless if you are on MVC 5.x, .NET Framework 4.x or .NET Core 2.x.
- The [recommended version](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core#introduction) is VS 2017 15.3.5+.

[2018-05-13 05:11] MianMAmir commented on #3350
@acjh thanks dear.. its really solved my problem its supported in VS 2017. 👍

[2018-05-13 10:46] #3350 closed

[2018-05-13 10:50] ismcagdas commented on #3363
@ktngoykalolo Thanks for your suggestion, it is a good idea.
If people could write the apps they have developed with ABP, we will be very happy.

[2018-05-13 10:54] sajasbana commented on #3350
Dear @acjh
I have same issue:
- I updated my project and done but after that if i tried to insert new role it not work also same to users
- to make sure I downloaded new template from website (mvc multipage with entity framwork) and made upgrade to new version 3.6.1 and same issue can not insert new roles and shows error message

is there issue in updating?

[2018-05-13 11:47] acjh commented on #3350
That's not the same. Open a new issue with the full stack trace.

[2018-05-14 03:11] ccccccmd commented on #3362
o , i got it ,thanks!!
i'll try this:
[code]

[2018-05-14 03:11] #3362 closed

[2018-05-14 05:35] maliming commented on #3355
@hikalkan Any idea?

[2018-05-14 07:55] ismcagdas commented on #3359
@thiagoburgo change your input parameter's name to something else like below;

`public EnderecoCompletoDto ObterEnderecoPorCep(PesquisaCepDto input)`
Then, `/api/services/app/Endereco/ObterEnderecoPorCep?Cep=52000123` should work.

[2018-05-14 08:40] ismcagdas commented on #1555
@Omital you could try setting SecurityStamp of the user to null.

[2018-05-14 10:29] ismcagdas commented on #3358
@ozibrahim, probably you cannot use it for MAC. It will be better if you can download ABP's source code and include it into your project instead of nuget packages.

[2018-05-14 11:09] ismcagdas commented on #3351
@ozibrahim I reproduced the problem just like you explained. It works on SQL because as I checked, AbpSession.TenantId is retrieved correctly and used as a global query filter.

I think the problem is related to https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL but I'm not %100 sure. I have tried it's latest preview release but the result is same.

It is paid but you could give Devar

[2018-05-14 11:18] valleen opened #3364 "Custom Repository"
Hi,

I cannot make custom repository work, please help:

I try to make OneRepositoryBase the reference repository but it always fails at startup, see attached project.
[MyProject.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/2000410/MyProject.zip)

here is the error:

ArgumentException: Target does not implement interface Abp.Domain.Repositories.IRepository`1[[Abp.Localization.

[2018-05-14 11:57] yogichandras opened #3365 "Update Role Status 405 Method Not Allowed"
Hello, I got a problem with Update Role always show 405 status in My Hosting. But if i run in my localhost everything work fine. This is my stacktrace

![photo6328055989470865489](https://user-images.githubusercontent.com/32407979/39995980-3b0a4e96-57a8-11e8-9ad8-945acc116871.jpg)

Aspboilerplate Jquery ASP.NET CORE 2.0

Please help me ,
Thank you.

[2018-05-14 11:57] ozibrahim commented on #3351
@ismcagdas As i understand, because of tenant id is not used for global filter on Npsql, it doesn't work correctly.
It means that if we are building with PostgreSQL, we shouldn't use Abp Framework. Because in Abp, all multi tenancy, soft-delete concepts using global filters, so they don't work on PostgreSQL.

Can you provide a solution or workaround?

[2018-05-14 12:03] ismcagdas commented on #3351
@ozibrahim according to my findings it is not ABP but Entity Framework Core, I might be wrong.
You could try Entity Framework's global query filter with PostgreSQL in an empty project without ABP.

It is paid but you could give Devart.Data.PostgreSql.EFCore a try.

[2018-05-14 12:04] ismcagdas commented on #3351
Yes, if global query filters doesn't work on PostgreSQL, this is correct but I couldn't have time to check this deeply.

[2018-05-14 12:05] engilas opened #3366 "NullReferenceException when DateTime in controller parameters"
After upgrading to v3.6.1 all my methods with DateTime or DateTime? parameters thow NullReferenceException. Tested with empty project from module zero, same result.

In class AbpDateTimeModelBinderProvider code calls IsDefined method of object context.Metadata.ContainerType, which is null.

Abp package version: 3.6.1.
Base framework:.Net Core.

[code]

[2018-05-14 12:15] ismcagdas commented on #3366
@engilas could you share a sample method ?

[2018-05-14 12:16] ismcagdas commented on #3365
@yogichandras probably it will happen with all updates.
If you are using IIS, try to disable or remove WebDav module. This is not related to ABP by the way.

[2018-05-14 12:16] #3365 closed

[2018-05-14 12:36] thiagoburgo commented on #3359
@ismcagdas your suggestion works well, thanks!

But I think feature request still valid, to avoid create dto to simple parameters when we need validate them, like entity's identifier parameters.

What do you think about?

[2018-05-14 14:18] ozibrahim commented on #3351
I tried with Devart.Data.PostgreSQK.EFCore, but project sends exception; "Devart.Data.PostgreSql.PgSqlException: invalid byte sequence for encoding "UTF8": 0xe7 0x61 0x69".
I try with new created clean database, adding the initial migration and update database commands. Result is same, it throws exception.

[2018-05-14 14:21] ismcagdas commented on #3351
@ozibrahim could you share the full stacktrace ?

[2018-05-14 15:06] ozibrahim commented on #3351
@ismcagdas thanks for your help. I am just starting a new project, so i have to sure about continue with Abp without trouble.

`at Microsoft.EntityFrameworkCore.Update.ReaderModificationCommandBatch.Execute(IRelationalConnection connection)
   at Microsoft.EntityFrameworkCore.Update.Internal.BatchExecutor.Execute(Tuple`2 parameters)
   at Microsoft.EntityFrameworkCore.ExecutionStrategyExtensions.E

[2018-05-14 15:44] Imbasaur opened #3367 "Customizing API error message"
Hi,
Everytime (except few exceptions like UserFriendlyException or AbpValidationException) i am getting Internal Server Error when dynamic api is throwing exception. Is there any way to override AbpExceptionFilter.OnException() or replacing DefaultErrorInfoConverter with custom implementation?

Setting SendAllExceptionsToClients to true is too much, because it adds StackTrace

This doesn't really

[2018-05-14 15:49] Imbasaur commented on #3211
Thank you, it works :)
I saw this answer earlier, i don't know why i did not respond.

[2018-05-14 15:54] acjh commented on #3211
That's great 🙂

[2018-05-14 16:14] acjh commented on #3367
You can subclass `AbpExceptionFilter` and then add it:

[code]

Related: #3280

[2018-05-14 16:26] #3269 closed

[2018-05-14 16:52] Imbasaur commented on #3367
For overriding GetStatusCode this method works, but since i cannot override `HandleAndWrapException` and `OnException`, in the end i am getting
`"message": "An internal error occurred during your request!",`
with my response code.

I want to add exception message to response (without stack trace). Overriding this would do the job
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/047bdcf2

[2018-05-14 16:56] acjh commented on #3367
You can implement your own `IExceptionFilter`.

[2018-05-14 20:02] ozibrahim commented on #3351
@ismcagdas i found the problem of Devart.Data.PostgreSQK.EFCore, it throws exception because of language data seeding. Somehow it doesn't accept non-latin characters, i delete language seeding and tried again. But no luck, it still working like Npsql, there is no difference.

[2018-05-14 20:04] #3358 closed

[2018-05-14 20:15] ozibrahim opened #3368 "Abp Debug Problem DynamicProxy"
Hi,
I downloaded .NET Core 2 with multipage. In Web.Core module, there is TokenAuthController.
In that controller, i want to debug;
`var loginResult = await _logInManager.LoginAsync(usernameOrEmailAddress, password, tenancyName);`
All debug settings ok, and all Abp modules symbols loaded, but  can't step into LoginAsync function.
It looks like related to Castle's DynamicProxy, but i am not sure.

[2018-05-14 21:14] hikalkan commented on #3363
You mean a showcase page. That's good idea. The only problem is that most of the applications built with ABP are deployed to a private server or logged in via username/pass (in case of we want to see it in action). But we will consider this. Thanks.

[2018-05-14 21:26] hikalkan commented on #3355
This code is taken from standard EF core implementation:
https://github.com/aspnet/Identity/blob/dev/src/EF/UserStore.cs#L176-L197
However I will check it in detail.

[2018-05-15 02:20] mohammad-shadmehr opened #3369 "External Authentication does not work sometime when user does not exist"
I using ABP framework for my project. It is AspCore + Angular target Full .Net framework. I am using External Authentication for login. I have followed the steps mentioned in the document. I have configured it to use Windows Authentication which works fine when the user already exists in the DB. I noticed that when it is the first time that user is visiting the website it gently registers the user

[2018-05-15 03:26] LGinC opened #3370 "How to add section in appsettings.json"
I want to add some configurations to appsettings.json, and I need to read it in project xxx.ApplicationService and project xxx.Core.
`var configuration = AppConfigurations.Get(Web.WebContentDirectoryFinder.CalculateContentRootFolder());
Logger.Info(configuration.GetConnectionString("Default"));
 Logger.Info(configuration.GetSection("SmsSettingNames:AliyunSms:ServiceUrl").Value);`
I can get the con

[2018-05-15 03:51] rqx110 commented on #3370
try `configuration["SmsSettingNames:AliyunSms:ServiceUrl"]`

[2018-05-15 03:55] LGinC commented on #3370
@rqx110 没用，还是空，读取不出来。ConnectionString和Abp节点的就可以，自定义的好像就不行，目测应该是需要在某个地方把配置的类型注入进去

[2018-05-15 05:33] ismcagdas commented on #3369
@mohammad-shadmehr;

1. What is your ABP version ?
2. If it is the latest one, could you log the value of AbpSession.TenantId to see if it is the correct tenant (or host) that you want ?

[2018-05-15 06:35] ismcagdas commented on #3351
@ozibrahim thank you for your feedback. We will try to offer at least a workaround for this case.

[2018-05-15 06:37] mohammad-shadmehr commented on #3369
my version is 3.5.0
I noticed that by adding [UnitOfWork(isTransactional: false)] to the Authenticate method it works fine though! Not sure if its relavant! Yes the AbpSession.TenantId has got a value

[2018-05-15 06:38] ismcagdas commented on #3369
@mohammad-shadmehr could you try with ABP 3.6.1 to see if it fixes the problem ?

[2018-05-15 08:25] ismcagdas opened #3371 "Host permissions applying to tenant"
With the new  #3334 (Static Roles Can Have Pre-Granted Permissions) feature, it seems like if we create two roles with the same name one for Tenant side and one for Host side, static tenant role has the host permissions for the host role with the same name.

In unit test class RoleManager_StaticRole_Tests,

1. Create a static role below;

[code]

2. Define the permssion in AppAuthorizationProvider

[2018-05-15 08:27] happlyfox opened #3372 "Abp Vue Project GET /api/services/app/Role/GetAll Action Error"
Abp Vue  Project
when i download the project,run the project .i login in ,but if i use swagger ,
GET /api/services/app/Role/GetAll  errors
GET /api/services/app/Tenant/GetAll errors

[2018-05-15 08:28] ismcagdas commented on #3370
@LGinC does the config file in your bin folder has the value you have entered ? It might not be overriden after your change.

[2018-05-15 08:29] ismcagdas commented on #3372
@happlyfox could you share the error message ? You can find it under ".../*.Web.Host/App_Data/Logs.xt" file.

[2018-05-15 08:37] LGinC commented on #3370
@ismcagdas no, the config file is in WebHost project's  folder, but I want to read it from ApplicationService project, I have saved the changes, and restart application, but... not work

[2018-05-15 08:45] ozibrahim commented on #3351
@ismcagdas thanks for your interest.
I am trying to solve this issue, we will develop multi-tenant application, so i have to decide i can use Abp's multi-tenancy or not.
So i try MySQL for this time (with Pomelo.EntityFrameworkCore.Mysql), but i get same results. It always return user id 1 both host and Default tenant.
I am also surprised, nobody noticed this issue before, there are so many develo

[2018-05-15 09:00] rqx110 commented on #3370
ismcagdas 的意思是让你检查WebHost下的bin目录中的appsettings.json文件。

[2018-05-15 09:02] LGinC commented on #3370
@rqx110 检查了，保存了，重启了，没用啊

[2018-05-15 09:42] devsharper opened #3373 "DateTime format configuration doesn't work for CreateControllersForAppServices controllers"
ABP 3.6.1, .net core 2.0

This code runs correctly for common controllers. json is formatted.
[code]
But it doesn't take effect on CreateControllersForAppServices controllers, json result is still like:

`2018-05-15T17:26:43.2706968+08:00`

and this also doesn't work:
[code]
Is there a bug? or what can I do to config the CreateControllersForAppServices controllers' json format?

thanks.

#3001

[2018-05-15 10:14] ismcagdas commented on #3373
@devsharper could you try it like below;

[code]

[2018-05-15 10:56] devsharper commented on #3373
@ismcagdas Yes, it works, thank you.

I think it's better that auto generate controllers have same behaviors as common ones.

Would you consider changing it?

[2018-05-15 10:58] ismcagdas commented on #3373
@devsharper you are right. This is an ugly configuration. We will try to change it, thanks.

[2018-05-15 11:10] ismcagdas commented on #3351
@ozibrahim it seems like this is related to a mistake in our documentation I think.
Coulkd you change OnModelCreating of your DbContext like this;

[code]

The important part is calling base.OnModelCreating(modelBuilder);

[2018-05-15 11:12] ismcagdas commented on #3351
I think you were using same OnModelCreating with the MySql and that was why it also failed.

[2018-05-15 11:29] Imbasaur commented on #3367
I tried it before and it didn't work, but after removing AbpExceptionFilter (from #3280) everything works fine. Then i implemented my own `IErrorInfoBuilder` and `IExceptionToErrorInfoConverter`. Thank you very much for your help

[2018-05-15 12:06] lanpin opened #3374 "'Abp.TenantId' is missing in the CDN's request header"
'Abp.TenantId' is missing in the CDN's request header.
This may be due to the fact that non-IIS does not support "." For example: nginx does not support "_" and "."
I suggest using "Abp-TenantId" instead of "Abp.TenantId"

[2018-05-15 12:09] ozibrahim commented on #3351
@ismcagdas thank you very much.
`base.OnModelCreating(modelBuilder);`
solve my problem, it is working great both PostgreSQL and MySQL now.

Great project and great team, keep on like that! 👍

[2018-05-15 12:09] #3351 closed

[2018-05-15 12:13] ozibrahim commented on #3374
When i control generic header values, they also contains "-" rather than "." (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers)

So, i agree with @lanpin , it should be "Abp-TenantId"

[2018-05-15 12:14] acjh commented on #3374
Duplicate of #3275

[2018-05-15 12:27] lanpin commented on #3374
Temporary solution:
part 1:
Edit FIle:
\angular\node_modules\abp-ng2-module\src\abpHttpInterceptor.ts
line 294:
    // protected addTenantIdHeader(headers:HttpHeaders):HttpHeaders {
    //     let cookieTenantIdValue = this._utilsService.getCookieValue('Abp.TenantId');
    //     if (cookieTenantIdValue && headers && !headers.has('Abp.TenantId')) {
    //         headers = headers.set('Abp.TenantI

[2018-05-15 12:43] ismcagdas commented on #3374
@lanpin @ozibrahim you are right. Let us see if there are any problems about changing it for the next milestone.

[2018-05-15 12:47] #3367 closed

[2018-05-15 12:52] lanpin commented on #3374
@ismcagdas Don't forget about ".AspNetCore.Culture". This may be a real problem.

[2018-05-15 12:56] ismcagdas commented on #3374
@lanpin I think that is why we have named the header Abp.TenantId with the dot.

[2018-05-15 13:12] ismcagdas commented on #3359
@thiagoburgo you are right but I couldn't be sure. @hikalkan what do you think ?

[2018-05-15 13:15] hikalkan commented on #3359
We can consider to validate primitive parameters (like a string with [Required] attribute). I added to the backlog to think on later.

[2018-05-15 13:16] lanpin commented on #3374
@ismcagdas
ABP uses AbpLocalizationHeaderRequestCultureProvider for localization, but aspnetcore uses CookieRequestCultureProvider for implementation. ".AspNetCore.Culture" is a cookie name. You can override AbpLocalizationHeaderRequestCultureProvider to use a request header named "Abp-Culture".

[2018-05-15 13:45] wombelite commented on #2440
AutoGen marked IMyAppService as internal
:( pretty obvious really luckily didnt spend too long on this one :)

[2018-05-15 14:36] PhilipWynn commented on #2792
Hi Wim,

Still struggling with this…

Have you managed to decrypt your authentication cookie from within the webjob? I would really like to be able to call application services, but am unable to do so without forcing a login each time…

Many thanks
Phil

From: Wim Van den Broeck <notifications@github.com>
Sent: 10 May 2018 10:24
To: aspnetboilerplate/aspnetboilerplate <aspnetboilerplate@noreply.gi

[2018-05-15 18:34] brunobertechini commented on #1689
Hi there, I have this exactly approach implemented and I will update my project (see #1476 ) as sonn as I have time.

I have a very simple implementation of a ServiceBus using AbpEventBus. I am extending it to support other service buses as pluggablemodules (masstransit, nservicebus and rebus)

But the problem I have is that Hangfire dispatcher is not participating in UnitOfWorkManager AND unitofw

[2018-05-15 18:39] brunobertechini commented on #1689
@hikalkan , regarding your comment:

We should think this carefully.
For example, an implementation option would be making it explicit. Say that we can create an interface named IBackgroundEvent (or IQueueEvent) to mark such events. It's also similar for handlers. Some handlers may need to immediately executed (say that it depends on current http context) and some handlers may need to be executed

[2018-05-15 18:52] brunobertechini opened #3375 "IBackgroundJobManager does not participate in Unit of Work when using Hangfire"
Abp 3.5.0 / .NetCore

Hello there,

I am using Hangfire and have found a weird issue regarding enqueue jobs inside domain event handlers (IAsyncEventHandler)

I have the following scenario:

1. AppService with IEventBus injected
2. AppService method do some database work (no uow code explicitly, using CurrentUnitOfWork from Abp) and publish an event, lets say SomethingEvent.
3. Handler1 with IAsyn

[2018-05-15 18:57] brunobertechini commented on #1476
@hitaspdotnet Regarding your BlogServiceDbContext , is this the only dbcontext in your whole solution ?

Is this a separated service? This code should not generate more than 3 tables specified as your DbSets.

Please check if this dbcontext is not being added twice alltogether with default main app dbcontext.

Are you able to share a repository so I can help you out ?

[2018-05-15 23:44] acjh commented on #3375
Which event? Show code.

[2018-05-15 23:45] lanpin commented on #3375
在后台工作中使用值类型，而不是引用类型。
Use value types in background work instead of reference types.
你应该在后台工作中传递你的诉求，而不是指定一个结果。
Instead of specifying a result, you should pass your appeal in the background work.
hangfire是对的，但默认的后台工作也是对的。
Hangfire is right, but the default background work is also right.
我猜，你接下来会遇到缓存问题，它们很相似。
I guess that you will come up with cache problems, they are similar.

[2018-05-16 00:43] mohammad-shadmehr commented on #3369
@ismcagdas That's my work project and I am on leave for a while. I will check and keep you posted but as I mentioned the problem was resolved once I set the [UnitOfWork(isTransactional: false)] attribute on the Authenticate method. Seems registration and login cannot be done in one transaction and registration needs to be committed prior the login

[2018-05-16 00:57] Worthy7 commented on #3342
Hi everyone, a little update and some questions.

I have studied the flow of the WebApplication template and I think this is how it works:

1) You set up the magic microsoft config in Startup.cs
[code]

2) What this does, among other things,  is creates some special endpoint at `.../signin-google` which takes the auth-code which will come from google after signing in on the front end, like this `.

[2018-05-16 01:39] xiexingen commented on #3300
Requirement

[2018-05-16 04:16] Worthy7 commented on #3342
I have studied ABP and can produce a similar corresponding flow, and uncovered some SECRET SAUCE too.

First let me point out the general flow:
1) Set up
2) Auth on the front end, pass back the `AuthorizationCode`
3) Get data from external providers about the user
4) Try to login, or register then login.

Now in Abp is looks like this (I think!)
1) [Set up adding the Google provider to ExternalAut

[2018-05-16 05:17] ismcagdas opened #3377 "TimezoneHelper.GetWindowsTimeZoneInfos must return windows timezone Ids"
It is not possible to return a list of List<TimeZoneInfo> because it is operating system dependent and returns different items in different operating systems.

Instead, we must return a list of windows timezone Ids.

[2018-05-16 05:50] mkgn opened #3378 "Migration exception and Seeds duplicates to AbpUserAccounts table"
* Your Abp package version.

Latest version with ASP.net core & Angular

* Your base framework: .Net Framework or .Net Core.
.Net Core

* Sql server
Is localdb.
connection string in both webhost\appsettings.json & Migrator\appsettings.json is set to;

"Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=FORMSDB;Integrated Security=True;"

* Exception message and stack trace if available.
Please se

[2018-05-16 05:53] ismcagdas commented on #3378
@mkgn I'm not sure about the first problem but the second problem is resolved in this issue https://github.com/aspnetboilerplate/module-zero-core-template/issues/218

[2018-05-16 06:03] #3377 closed

[2018-05-16 06:40] Bijayakumar1990 commented on #2451
[DontWrapResult] is also not working for me. I don't want the orchestration of the response, ABP doing for the response. Its fine for API controller but for OData controller, I need the raw response from Odata. How can I achieve this ?
@hikalkan @acjh

[2018-05-16 06:46] acjh commented on #2451
Which version of ABP are you on?

[2018-05-16 07:17] Bijayakumar1990 commented on #2451
Abp.AspnetCore.Odata 3.4.0

[2018-05-16 07:23] andmattia opened #3379 "Add Custom Injection"
Abp 3.0 + AbpZero

Hi

I try to need to create a resolvable class like IRepository or IApplicationService and I want to create the method to use it dynamic. I'm able to do that via postInitialize command but in this way I can register only one interface with their concrete class. My need is use it like the repository.

Where is a good place to get a similar use un ABP code?

[2018-05-16 07:42] LGinC opened #3380 "Web.Host install Abp.AspNetCore.SignalR, error occurred while starting the application"
An error occurred while starting the application.
MissingMethodException: Method not found: 'Void Abp.Configuration.SettingDefinition..ctor(System.String, System.String, Abp.Localization.ILocalizableString, Abp.Configuration.SettingDefinitionGroup, Abp.Localization.ILocalizableString, Abp.Configuration.SettingScopes, Boolean, Boolean, System.Object)'.
Abp.Zero.Configuration.AbpZeroSettingProvider.

[2018-05-16 07:43] acjh commented on #2451
This issue was fixed in ABP v3.5.0.

[2018-05-16 07:46] Bijayakumar1990 commented on #2451
Okay

[2018-05-16 07:48] ozibrahim commented on #3368
@ismcagdas yes i tried source link, i can debug some of Abp codes, but "await _logInManager.LoginAsync" line, can't debug. When i click step into, it goes next line, not going to inside LoginAsync function.

[2018-05-16 08:04] alirizaadiyahsi commented on #3380
It is about `Abp.Zero.Ldap`. Could you check it's version? It must be v3.6.1

[2018-05-16 08:08] LGinC commented on #3380
@alirizaadiyahsi My project's version is 3.3, there is some error when I update all package to 3.6.1 and restart application.

[2018-05-16 08:11] ismcagdas commented on #3380
@LGinC obviously it seems like there are some packages which are not updated. Please be sure that all ABP packages are updated correctly.

[2018-05-16 09:07] LGinC commented on #3380
@ismcagdas  good,thanks.
but how can I use websocket client connect to SignalR url

[2018-05-16 09:51] valleen opened #3381 "How can I enhance PermissionSetting"
Hi there,

I would like to create an additionnal type of Permission, meaning adding an additionnal column 'Criteria' in AbpPermissions table:
For this I created a new class CriteriaPermissionSetting inheriting from PermissionSetting: it works ok.

Now, I would like to integrate this into the PermissionManager and by extension UserManager & RoleManager:
- First, I injected my CriteriaPermissionSett

[2018-05-16 10:16] #3380 closed

[2018-05-16 13:51] andmattia commented on #3379
@acjh thks for your quick replay.

I try the code has you suggest but not intercept the generic type
[code]

[2018-05-16 14:05] acjh commented on #3379
Did `ComponentRegistered` run? How are you injecting the Job?

[2018-05-16 14:07] andmattia commented on #3379
I add
[code]
at the end of PreInitialize of my module

[2018-05-16 14:58] andmattia commented on #3379
I change
[code]

And it works but I'm not sure/understend why... I check in debug that my interface in not GenricTypeDefinition

[2018-05-16 15:14] Imbasaur opened #3382 "UserAppService.GetAll() include soft deleted users."
Abp 3.5.0, .Net Core, NpgSql

Hello, `GetAll` from `UserAppService` returns list of Users including marked as soft deleted.
https://aspnetboilerplate.com/Pages/Documents/Data-Filters#isoftdelete says that it shouldn't. Is it bug or i am doing something wrong?

[2018-05-16 17:44] FrancisGroleau opened #3383 "ABP Quartz Trigger are deleted"
Hi i'm using the IQuartzScheduleJobManager to start new jobs to be executed.
I have a class that inject the IQuartzScheduleJobManager and use it like this:
[code]

The triggers and job are :
[code]

With the trigger helper creating the action like this :
[code]

Now the job is executed, I have a job that inherit of JobBase and if i put a breakpoint inside the Execute method it actually hits it....

[2018-05-16 19:59] brunobertechini commented on #3375
@acjh it doesnt matter which event.

lets say

[code]

[2018-05-16 20:00] brunobertechini commented on #3375
@lanpin thank you for time,

What do you mean?

Can you please explain what do you mean by "pass your appeal" in the background work ?

Bruno

[2018-05-16 20:00] brunobertechini commented on #3375
@hikalkan / @ismcagdas  can you shed some light on this ?

[2018-05-17 01:58] ismcagdas commented on #3375
@brunobertechini could you share a sample code or the code which throws exception ?

[2018-05-17 02:18] alirizaadiyahsi commented on #3382
Hi @Imbasaur, add `base.OnModelCreating(modelBuilder);` to your context. And also we updated the documents, too.

[code]

[2018-05-17 02:18] #3382 closed

[2018-05-17 02:58] ismcagdas commented on #3380
@LGinC have you checked http://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration ?

[2018-05-17 03:15] Worthy7 commented on #3342
OK boys and girls, this took absolutely forever to work out, but i finally have it working, this is the code to create a `GoogleAuthProviderApi` in .net:

[code]

[2018-05-17 03:18] LGinC commented on #3380
@ismcagdas yes, I do that, I visit the url by browser, and return "Connection ID required",I think my signalr server is running.But I cannot use websocket client to connect it.

[2018-05-17 03:42] acjh commented on #3380
Which websocket client?

[2018-05-17 03:45] LGinC commented on #3380
`wx.connectSocket({
      url: "wss://ch.gaobukeji.com/Travels/chatNoAnnoy",
    });
    wx.onSocketOpen(function () {
      console.log('连接成功');
      wx.sendSocketMessage({
        data: 'stock',
      })
    });
    wx.onSocketError(function () {
      console.log('websocket连接失败！');
    });
    wx.onSocketMessage(function (data) {});`

and wx.sendSocketMessage  will disconnect the connection

[2018-05-17 04:12] acjh commented on #3380
That's unrelated to ABP. Since it's an [API from weixin.qq.com](https://developers.weixin.qq.com/miniprogram/dev/api/), you should ask on [their forum](https://developers.weixin.qq.com).
If you use ABP (or SignalR) client, then we (or the [aspnet/SignalR](https://github.com/aspnet/SignalR) team) may be able to help.

[2018-05-17 04:59] Bijayakumar1990 commented on #2451
Thanks

[2018-05-17 06:02] ismcagdas commented on #3381
@valleen you can take a look at https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1943.

[2018-05-17 06:07] Omital commented on #1555
@ismcagdas I call method await UserManager.UpdateSecurityStampAsync(userId); but nothing happen and userId can call appService methods.

[2018-05-17 06:13] ismcagdas commented on #3383
@FrancisGroleau I don't know quartz very well but this might be a quartz configuration problem.
Could you try creating the trigger like this;

[code]

[2018-05-17 06:47] worthy7 opened #3384 "Angular Session auto reload/use Subject"
Hi, I used firebases auth and it was very sweet in that it updated the session in the background and was subscribable.
Please make Abp's session do the same. (look at [AngularFireAuth](https://github.com/angular/angularfire2/blob/master/src/auth/auth.ts))

[2018-05-17 07:16] ismcagdas commented on #3384
@Worthy7 thanks, we will take a look at AngularFireAuth.

[2018-05-17 07:25] Worthy7 commented on #3384
Just a quick code dump for you to perhaps make this an easy PR
[code]

Then change `login.service.ts` remove:
[code]

Replace with `this._authSession.init();`

Then in places where username etc is used, you need to subscribe to the changes if you want the page to change dynamically.

Hope that helps a bit.

[2018-05-17 09:08] tamys opened #3385 "[Question] How to run migrations for plugin modules"
Master App
Abp v3.6.1
Asp MVC 5.x multipage jquery with zero

Plugin
Abp v3.6.1
Asp MVC 5.x multipage jquery with zero

Hi,

I had some time to play with plugin modules based on example #1476

I have successfully added the created module into main project as a folder of dlls. everything works in terms of navigation, services etc but i was unable to run migrations of the module to main app db.

Wha

[2018-05-17 10:41] alexeynikitin opened #3386 "LINQ exception in UserAppService.Get"
Seems to be a bug.
Have you ever tried to call User application service's Get method with passing an unexisting user ID?
I got an LINQ exception insted of "Entity not found"
Reproducing in Boilerplate 3.6, .Net Core;

Stack trace:
`UserAppService.Get with arguments (Abp.Application.Services.Dto.EntityDto``1[System.Int64]) - ModelState is Valid
ERROR Mvc.ExceptionHandling.AbpExceptionFilter - An ex

[2018-05-17 11:28] baiyunchen commented on #3033
@dongfo  There is really no tenant related field in my code. because I don't need it, and if you need, you
can add tenant field.

[2018-05-17 13:54] XelaNimed opened #3387 "Incorrect screenshot of XML localization files in the documentation"
Hello.
The [documentation](https://aspnetboilerplate.com/Pages/Documents/Localization#xml-files) contains a [screenshot](https://raw.githubusercontent.com/aspnetboilerplate/aspnetboilerplate/master/doc/WebSite/images/localization_files2.png) of the XML localization files. A little lower, note indicates the inadmissibility of using a dot in file names, but the screenshot show file name with a dot.

[2018-05-17 19:46] Jayman1305 opened #3388 "Login a user without knowing the password."
We have a situation where existing clients should be able to log in by passing a token that we validate BUT we don't have a password. Do you know of a way that I can customise GetLoginResultAsync to allow an empty password or something and log in the user if the token is valid? Ie something like this

var loginResult = await GetLoginResultAsync(
                model.UserNameOrEmailAddress,

[2018-05-18 01:55] ismcagdas commented on #3388
@Jayman1305 yes it is possible. Since you know the username and tenancyName, you can query the user from database, then use it in `_signInManager.SignInAsync` method.

[2018-05-18 01:55] andyliyuze opened #3389 "update() method Bug"
firstly, if  I get a enetity used AsNoTracking() .
 just like that: ` return await this.Context.BailunOrders.AsNoTracking().Where(a => a.OriginOrderNo == originNo.Trim()).FirstOrDefaultAsync();`
and if I use Update(entity) to update the entity defined in IRepository but it doesnt work ~ that didn't change value in database .
finally I have to define a new Update method to resovle the issue

[2018-05-18 01:57] acjh commented on #3389
Show code.

[2018-05-18 01:59] ismcagdas commented on #3389
from https://docs.microsoft.com/en-us/ef/core/querying/tracking#no-tracking-queries;

So, why do you need to use AsNoTracking if you want to update the record ?

[2018-05-18 02:05] andyliyuze commented on #3389
firstly I get a eneity used AsNoTracking()  :
 public async Task<BailunOrder> GetBailunOrder(string originNo, string sellerOrderId)
        {
            return await this.Context.BailunOrders.AsNoTracking().Where(a => a.OriginOrderNo == originNo.Trim()).FirstOrDefaultAsync();
        }

and then  I update the entity :
 var order = await _bailunOrderRepository.GetBailunOrder(input.OriginOrderNo, i

[2018-05-18 02:14] acjh commented on #3389
Please format code like this:
<pre>
[code]
</pre>

[2018-05-18 02:14] acjh commented on #3389
That's by design: https://docs.microsoft.com/en-us/ef/core/saving/related-data

Don't use `.AsNoTracking()` if you want it (and its navigation properties) to be tracked.

[2018-05-18 02:18] #3387 closed

[2018-05-18 02:19] andyliyuze commented on #3389
e.. beacause  if I  use Owned Entity Types  defined in EFCore just like
[code]
 and if I get a entity use `FirstOrDefaultAsync` method and then use `Update `method to update `PayMentInfo `object
and result in throwing a Exception~~~
`System.InvalidOperationException:“The instance of entity type 'BailunOrder.PayMentInfo#PayMentInfo' cannot be tracked because another instance with the same key value

[2018-05-18 02:27] acjh commented on #3389
As suggested in the exception:

[2018-05-18 02:37] andyliyuze commented on #3389
can you show me how to change my code ,thanks~~~

[2018-05-18 02:45] andyliyuze commented on #3389
Is it like this? but  I think it is not the best practices as  Buyer defined as value object
[code]

[2018-05-18 02:48] acjh commented on #3389
Add a check:

[code]

[2018-05-18 02:53] andyliyuze commented on #3389
however that notes in ABP Documents for value object . so I  think  if  I want to update Buyer ,   I must replace it  with new ones
[code]

[2018-05-18 03:12] acjh commented on #3389
The alternative: "*detach the previous owned entity entry first*"

[code]

[2018-05-18 04:27] andyliyuze commented on #3389
thanks~

[2018-05-18 04:31] pidanwl opened #3390 "MyDbContext uses an extended AbpSession for data filtering and an exception occurs"
Hi,

Reproducing in Boilerplate 3.6.1, .Net Core;

First, I used the IMyAbpSession interface to extend the IAbpSession. The IMyAbpSession contains attributes: UserType, CompanyId, and TownId.
Then, I refer to the Tenant filter method and filter the data of the entity that inherits the IMayHaveTown and IMayHaveCompany interfaces. This exception occurs.

code show as below:
[code]

The exception mes

[2018-05-18 06:40] Bijayakumar1990 commented on #2451
@hikalkan @acjh I have an other issue, not getting the count of records if I am using the default wrapresult provided by the ABP. How can I get the count of records in Odata ?

[2018-05-18 07:35] acjh commented on #2451
Show code.

[2018-05-18 08:32] syx670326 opened #3391 "RoleManager.SetGRantedPermissionsAsync returns wrong Permissions"
When I change the role's permissions, the returned permissions include the old permissions.

I found that the result returned by IRolePermissionStore.RemovePermissionAsync did not remove the specified permission.

![image](https://user-images.githubusercontent.com/33240867/40224533-0dcca2e4-5ab9-11e8-89f7-f78795d04d83.png)

[2018-05-18 08:54] ismcagdas commented on #3391
@syx670326 could you share the code how you change the role permissions ?

[2018-05-18 09:01] syx670326 commented on #3391
[code]

[2018-05-18 12:52] Ni3rk opened #3392 "How to throw 401 , Unauthorized Exception through code , I am expiring current login user session and i want user to redirect to login page once error came (like Current user did not login to application)"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-05-18 12:54] acjh commented on #3392
Show code.

[2018-05-18 12:56] Ni3rk commented on #3392
throw new AbpAuthorizationException("Your session expired.please login again.");

i want to though exception which is coming like
current user did not login to application , default one in abp

[2018-05-18 13:15] acjh commented on #3392
What's not working?

[2018-05-18 13:28] Ni3rk commented on #3392
I want to throw exception by which on UI a popup will come and once i click on ok button of that popup , user should redirect to login page.
How to send such kind of excpetion
In ABP There is one exception , User did not login to application , where same functionality is there

[2018-05-18 16:25] FrancisGroleau opened #3393 "Automapper Different behavior from mapping an item or List of items"
I have an AppService method that receive a DTO which contains a property that is a list
[code]
I'm trying to update the Entity linked to this DTO like so :
[code]
The problem is that inside my Entity I have a property ParentId that is not inside the DTO and when I map the DTO list to the entity list it overrides the ParentId and set it null like so :

![2018-05-18_11-40-06](https://user-images.git

[2018-05-18 16:36] FrancisGroleau commented on #3383
Hi @ismcagdas you were rigth it was a problem with my configuration. thanks!

[2018-05-18 16:36] #3383 closed

[2018-05-19 11:30] #3280 closed

[2018-05-19 11:39] acjh commented on #3364
Try inheriting `IRepository<TEntity>`:

[code]

[2018-05-19 13:15] acjh commented on #3393
That's a limitation of [AutoMapper](https://github.com/AutoMapper/AutoMapper) and [AutoMapper.Collection](https://github.com/AutoMapper/AutoMapper.Collection).

If you're using EF6, there's this from their README:

If you're using EF Core, it's not supported: https://github.com/AutoMapper/AutoMapper.Collection/issues/65#issuecomment-346394407
But you can try implementing this: [GenerateEntityFrame

[2018-05-19 14:00] #2239 closed

[2018-05-19 14:00] #2208 closed

[2018-05-19 14:00] #2449 closed

[2018-05-19 14:00] #2415 closed

[2018-05-19 14:00] #2560 closed

[2018-05-19 14:00] #2461 closed

[2018-05-19 14:10] #2142 closed

[2018-05-19 14:10] #2164 closed

[2018-05-19 14:10] #2475 closed

[2018-05-19 14:10] #2556 closed

[2018-05-19 14:10] #2600 closed

[2018-05-19 14:10] #2608 closed

[2018-05-19 14:30] #2378 closed

[2018-05-19 14:30] #2622 closed

[2018-05-19 14:30] #2718 closed

[2018-05-19 14:30] #2738 closed

[2018-05-19 16:14] pidanwl commented on #3390
I try to inject a separate attribute, but i think the final expression is executed in AbpDbContext. will not find a custom IMyAbpSession
[code]

Exception:
[code]

[2018-05-19 23:20] acjh commented on #3390
How about casting or `as`?

[2018-05-20 06:01] ccccccmd opened #3394 "in aspnet core ,How to set Configuration.Modules.AbpWeb().AntiForgery.IsEnabled = false;"
in aspnet core ,How to set
`Configuration.Modules.AbpWeb().AntiForgery.IsEnabled = false;`

i cant find `.AbpWeb()`

by the way,
after set this,postman can alse get post request successfully without any header,token etc.
`    services.AddMvc(
                options => options.Filters.Add(new AutoValidateAntiforgeryTokenAttribute())
            );`

[2018-05-20 07:35] acjh opened #3395 "Broken links in documentation"
There are two problems in the conversion of Markdown to HTML.

1. Absolute URLs (one known case: [XSRF-CSRF-Protection.md](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/9d653ab922ef831833ddce0a7de27bf7bfbfa4c8/doc/WebSite/XSRF-CSRF-Protection.md#features-2) to [its HTML page](https://www.aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection#features-2))

   `[Anti Forgery](https

[2018-05-20 07:46] acjh commented on #3394
In ASP.NET Core, the equivalent is commenting out [this line](https://github.com/aspnetboilerplate/module-zero-core-template/blob/a8134370dc22a64dc99a7f6f758044c7189c135b/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Startup/Startup.cs#L39):

[code]

after set this,postman can alse get post request successfully without any header,token etc.

Well, Postman isn't a browser so it's irrelevant

[2018-05-20 08:30] acjh commented on #3394
That's how it works.

[2018-05-20 09:03] ccccccmd commented on #3394
so,in my abp asp.net core template，it did not work  😢

[2018-05-20 09:06] acjh commented on #3394
What did not work?

[2018-05-20 09:50] acjh commented on #3392
This is how ABP does it:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/33e8b3ce9a7359a389ab406f9270e6cd01dce681/src/Abp/Authorization/AuthorizationHelper.cs#L43-L45

[2018-05-20 10:08] ezustnyilgenyo opened #3396 "webshost get an error: Empty or invalid anti forgery header token."
Hi,

When I deploy the ASP.NET MVC + AngularJS project to webhost and I want to use and logon I get an error:
Empty or invalid anti forgery header token.

Everything working well in VPS and local computer.

Any Idea or suggestion?

Thx
Marcell

[2018-05-20 14:01] jasonliaocn opened #3397 "how can I download a file from the api"
Hi,
for some reason I have to download some file from the API server, most of them are xml files.
the API is as below:
public HttpResponseMessage GetConfigFile(string Nodecode, string FileName)
        {
            using (_unitOfWorkManager.Current.SetTenantId(AbpSession.TenantId))
            {
                string FilePath = _env.ContentRootPath + $"\\App_Data\\Nodes\\" + Nodecode + "\\" + Fi

[2018-05-20 14:12] hikalkan commented on #3385
Hi,
ABP has not a built in solution for that. You can do it in your own way.
Yes, you can read dlls in a folder, find migrations and apply on the application startup. A disadvantage of this approach may be a long-waiting on app startup in case of a long running migration script.

[2018-05-20 15:32] drift commented on #3397
. M.tt

On Sun, 20 May 2018, 15:01 Jason Liao, <notifications@github.com> wrote:

seMessage bbhvcj

J.
Ithe
Y.

[2018-05-21 01:26] alirizaadiyahsi commented on #3396
Hi @ezustnyilgenyo, could you check these issues?

https://github.com/aspnetboilerplate/aspnetboilerplate/search?q=Empty+or+invalid+anti+forgery+header+token.&type=Issues

[2018-05-21 01:45] ismcagdas commented on #3397
@jasonliaocn could you format your code ?

You can use [DontWrapResult] attribute if you don't want ABP to wrap your result.

[2018-05-21 01:47] #3392 closed

[2018-05-21 03:31] pidanwl commented on #3390
@acjh
Thank you for your suggestion. The problem has been solved.
By adding the IAbpSession extension method, internally convert IAbpSession to IMyAbpSession, and then obtain the value.

**AbpSessionExtensions.cs**
[code]
**IRSDbContext**
[code]

thanks.

[2018-05-21 03:31] #3390 closed

[2018-05-21 04:30] ismcagdas commented on #466
@razakhan78 this is a very old topic. Your problem might be different. Could you ask your question on https://forum.aspnetboilerplate.com/ ?

[2018-05-21 07:00] #3343 closed

[2018-05-21 09:35] ismcagdas commented on #3396
@ezustnyilgenyo could you share the full stack trace of the error message ?

[2018-05-21 09:53] yxzyxz opened #3398 "LocalizationManager"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-05-21 11:05] brunobertechini commented on #3375
AppService Method:

- AppService uses UnitOfwork and insert a given Entity, later enqueue a job (using configured hangfire).
[code]

This simple method will throws an exception when the UnitOfWork completes due to the fact the entity has a non-nullable database property set to null.

Even if the UnitOfWork does not complete, the job get queued in hangfire.

Bruno

[2018-05-21 11:08] acjh commented on #3375
You need to await `EnqueueAsync`.

[2018-05-21 11:17] brunobertechini commented on #3375
@acjh sorry copy paste...method is being awaited

Bruno

[2018-05-21 11:25] brunobertechini commented on #3375
@acjh At the end of unitofwork. It does not complete, thus returning an exception to user UI (default abp behavior). Internal Server Occurred.

And the job gets queued.

[2018-05-21 11:27] brunobertechini commented on #3375
I mean, the job get queued in the line the enqueueasync is called. At this time, the UOW is notcomplete yet. The job is queued and when the UoW completes (and tries to save entity to db using EFcore) it trhows  a (expected) exception.

[2018-05-21 14:02] acjh commented on #3375
Repro-ed.

This is a limitation of Hangfire, with a workaround: HangfireIO/Hangfire#1008

[2018-05-21 14:12] brunobertechini commented on #3375
@acjh Actually there is no workaround specifically for transactions. The workaround you mentioned is to handle all jobs as they were enqueued without success and deal with this complexity.

This is not a feasible solution.

I really believe this is a Abp problem due to the fact jobs are not dispatched upon UoW completion.

I think maybe Abp should use the UnitOfWork.Completed Event (C# Event) to d

[2018-05-21 14:16] acjh commented on #3375
Please read https://github.com/HangfireIO/Hangfire/issues/1008#issuecomment-332791234:

[2018-05-21 14:32] acjh commented on #3375
What if enqueuing a background job fails and others expect the Unit of Work to not be completed?
Again, this is a limitation of a third party library (with a workaround) — should ABP change for that?
Also, a new Unit of Work may have to be begun.

You can easily do something like:

[code]

[2018-05-21 14:54] brunobertechini commented on #3375
I kindly disagree. Please keep in mind that im just trying to have a better framework. I consistent help to work towards a better solution because I use Abp and AspNetZero in several projects.

I believe the *behavior* from Abp  should not change based on third-party library.

And the behavior should be jobs being dispatched in a consistent way. (which is not the case currently).

Abp has enough f

[2018-05-21 14:55] brunobertechini commented on #3375
Even though, if this is a limitation, it should be at least in documentation.

[2018-05-21 15:12] reuwarwema opened #3399 "Abp.AbpException : Can not register ISubjectDetailAppService. It should be a non-abstract class. If not, it should be registered before."
I get the above error when I run my unit tests

Please find attached additional file projects from thoss highlighted below
[ToShare.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/2023073/ToShare.zip)

`
 public abstract  class SubjectDetail : FullAuditedEntity<int>
    {
//some members
}
`

`public class Individual : SubjectDetail, IEntity<int>
    {
//some members not in base c

[2018-05-21 15:20] acjh commented on #3399
Rename `SubjectDetailApplicationService` to `SubjectDetailAppService`.

See docs on [Conventional Registrations](https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#DocConventionalRegister):

[2018-05-21 16:00] hikalkan commented on #3375
Hi @brunobertechini

I would want like that. However, as I understand, Hangfire does not participate the current transaction. It does not use the ambient transaction (TransactionScope).

It works with default background job manager since it simply performs a db command and it belongs to the current transaction as expected.

Hangfire may find a way of it, currently there is nothing for ABP side. We

[2018-05-21 16:04] hikalkan opened #3400 "Add note about transactions for hangfire job integration"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3375#issuecomment-390678964

[2018-05-21 16:05] hikalkan commented on #3375
Created an issue to document it: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3400
Thanks for the discussion.

BTW, if hangfire somehow allows to pass a transaction on job enqueue then we can implement it. Inform me if you find a way of it.

[2018-05-21 16:05] #3375 closed

[2018-05-21 17:34] reuwarwema commented on #3399
Thanks. Must have been tired to spot such a mistake

[2018-05-21 17:34] #3399 closed

[2018-05-21 18:04] brunobertechini commented on #3375
@hikalkan Thank you very much. I may be thinking too much towards ESB implementations like "at least once" or "fire-and-forget" approachs like NServiceBus or MassTransit. But this involves other concepts as well.

Thanks again

[2018-05-21 19:14] Xeevis commented on #2464
Can this be implemented now?

https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/filter?view=aspnetcore-2.1

[2018-05-22 02:03] ismcagdas commented on #2464
@Xeevis ASP.NET Core is RC1. We will work on this when it is released but I think they are close to release 2.1.

[2018-05-22 02:52] hikalkan commented on #2464
Thank you @Xeevis for reminding it.
Added to it v3.8. If Microsoft releases it sooner, we may implement it in v3.7.

[2018-05-22 03:53] ismcagdas commented on #3391
@syx670326 are you using https://github.com/aspnetboilerplate/module-zero-core-template ?
I think this is the code https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Roles/RoleAppService.cs#L51.

So, where do you see this debug output ? Can you mark that line as well ?
If you are seeing this output after the line `aw

[2018-05-22 04:43] cocosip commented on #2972
The problem has  reappeared today.
`WebApp ProductController:`
[code]

`Admin ProductController:`
[code]
`Only generate WebApp ProductController javascript`
[code]

[2018-05-22 06:33] #3391 closed

[2018-05-22 07:35] LGinC commented on #3380
the wechatminiprogram's websocket has a subprotocol called "protocol1". and server need return result with the subprotocol.

[2018-05-22 07:52] #3371 closed

[2018-05-22 14:27] valleen commented on #3356
Hi all,

Thank you for fixing this.
Is it possible to have this fix in 3.6.2?

[2018-05-22 15:11] danijel-peric opened #3403 "ABP Notification System"
Hi,

question,

What can i use from abp to notify 3 party system with (example http json post or email message) that record is added or updated in database, or some other specific case like record status is updated,
if the insert, update of the record is done not through the abp backend host but through another service which has access to the db

i was thinking of using INotificationSubscriptionMa

[2018-05-23 02:08] ismcagdas commented on #3403
You can use http://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events. When an entity changes, a domain event will be fired and you can make a post to a remote service or you can send an email.

[2018-05-23 02:13] ismcagdas commented on #3356
@valleen sure.

[2018-05-23 02:35] ismcagdas commented on #3380
@LGinC could this help https://github.com/aspnet/SignalR/issues/1477 ?

[2018-05-23 02:40] ismcagdas commented on #1555
@Omital is the SecurityStamp updated on the database ? Could you check that ?

[2018-05-23 03:33] hikalkan commented on #3343
@alirizaadiyahsi can you please briefly write how to use it?

[2018-05-23 04:04] alirizaadiyahsi commented on #3343
Updated!

[2018-05-23 05:48] debin168 opened #3404 "how about batch update?"
i can't found any method can implment  batch update by entityframeworker, in the feature ,abp will implment it?  very thank u for your project

[2018-05-23 06:26] acjh commented on #3404
See #648, #1021.

[2018-05-23 06:26] #3404 closed

[2018-05-23 06:36] Bijayakumar1990 commented on #2451
Here I'm not getting the total count in the response, if I am wrapping the result according to ABP response.
`public class TaskConfigsController : AbpODataEntityController<TaskConfig>, ITransientDependency
    {
        public TaskConfigsController(IRepository<TaskConfig> repository)
        : base(repository)
        {
        }
    }`
Response: `{"result":[{"tenantId":2,"tenantWorkflowTransition

[2018-05-23 08:55] ismcagdas commented on #3368
@ozibrahim sorry for our late response. I'm not sure what is the cause of this problem actually.

[2018-05-23 10:19] hikalkan commented on #3343
Thanks @alirizaadiyahsi. However, we should also mention where we used it. The provided configuration is returned to the client as JSON from the user configuration endpoint. You can write a simple json example too. Thanks again.

[2018-05-23 10:36] Bijayakumar1990 opened #3405 "How can I achieve the microservice architecture using this your framework, especially the user management and authentication part ??"
I want to achieve the microservice architecture and trying to separate the user management and authentication as one microservice . And other domain related microservices will talk to the usermanagement microservice for authentication. How can I achive that ??

[2018-05-23 10:41] Bijayakumar1990 opened #3406 "After upgrading to 3.6.1, _userAppService.Create(userDto) giiving exception, creatoruserId can't have null value."
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-05-23 11:02] sajasbana commented on #3406
Thats happend to me... I download from website
- mvc version multipage with entity framework

after download I upgrade using nuget package

and it stop create role/users

when I debuge the issue is after saving the Id of the create object not set to new ID, it still has value of zero

[2018-05-23 11:13] acjh commented on #3406
@Bijayakumar1990 Show the stack trace. Which version of ABP were you on before this?

@sajasbana That's a different issue: #2749

[2018-05-23 11:52] Bijayakumar1990 commented on #3406
@acjh I was using 3.3.0 before that.

[2018-05-23 11:54] acjh commented on #3406
Show the stack trace.

[2018-05-23 15:26] zhoujs712 opened #3407 "After Abp 3.6, AbpSession.TenantId can't have right value, using DomainFormat"
After Abp 3.6, AbpSession.TenantId always null, using DomainFormat

* Abp 3.6 / 3.6.1 / 3.6.2
* .Net Core 2.X

* Steps needed to reproduce the problem.

Download Templates ASP.NET Core 2.x  with Vue.js

modify "**WebHostModule.cs", configure the domain format in the PreInitialize(like
Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "http://{TENANCY_NAME}:21021";)

Change TenantNam

[2018-05-23 16:35] Greatsamps commented on #3407
I can confirm i am also having this issue, it is related to:

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3254

this too is a blocking issue for us, and as a result, we are also on 3.5

[2018-05-23 19:11] hitaspdotnet opened #3408 "Multi Lingual Entities docs isn't available in site filter"

[2018-05-24 02:12] ismcagdas commented on #3408
@hitaspdotnet we didn't want to include it into main document menu for now. We might change it for the future but it will stay like that for now.

[2018-05-24 02:12] #3408 closed

[2018-05-24 02:35] acjh commented on #3408
You can access it by filtering "[Entities](https://aspnetboilerplate.com/Pages/Documents/Entities)" and then selecting "[Multi-Lingual Entities](https://aspnetboilerplate.com/Pages/Documents/Entities#multi-lingual-entities)" on the right sidebar.

[2018-05-24 04:47] Bijayakumar1990 commented on #3406
INFO  2018-05-19 15:05:17,262 [13   ] ore.Mvc.Internal.ControllerActionInvoker - Executing action method kare4u.HMIS.DoctorSetup.DoctorAppService.RegisterDoctor (kare4u.Application) with arguments (kare4u.HMIS.DoctorSetup.Dtos.CreateDoctorDto) - ModelState is Valid
ERROR 2018-05-19 15:05:43,795 [23   ] Mvc.ExceptionHandling.AbpExceptionFilter - An error occurred while updating the entries. See the

[2018-05-24 04:51] ismcagdas opened #3409 "IsLockoutEnabled always true for new users"
When creating a new user using AbpUserManager, IsLockoutEnabled is always true even if it is set to false on user.

[2018-05-24 04:58] acjh commented on #3406
Show code for `RegisterDoctor`.

[2018-05-24 05:02] Bijayakumar1990 commented on #3406
`public class DoctorAppService : ApplicationService //, IDoctorAppService
	{
		private readonly IUserAppService _userAppService;
		private readonly IRepository<Provider, int> _providerRepository;
		private readonly IRepository<ProviderSchedule, int> _providerScheduleRepository;
		private readonly IRepository<ProviderTimeSlots, int> _providerTimeSlotsRepository;
		private readonly IRepository<Provi

[2018-05-24 05:03] acjh commented on #3406
Please format code like this:
<pre>
[code]
</pre>

[2018-05-24 05:03] Bijayakumar1990 commented on #3406
Please ignore the parameter tenantId

[2018-05-24 05:06] Bijayakumar1990 commented on #3406
[code]

[2018-05-24 05:15] acjh commented on #3406
Related: #3056

[2018-05-24 05:57] ismcagdas commented on #3407
@Greatsamps Thanks. We will try to fix this for the next release.
I haven't thought of such a usage before.

[2018-05-24 06:47] acjh commented on #3380
Did you send `encryptedAuthToken` in the query string?

[2018-05-24 06:58] LGinC commented on #3380
No, I just put the accessToken in header
`wx.connectSocket({
                    url: "ws://localhost:22742/chatNoAnnoy",
                    protocols: ['protocol1'],
                    header: {
                      'Abp.TenantId': util.TenantId,
                      'Authorization': 'Bearer ' + wx.getStorageSync('token')
                    },
                    method: "Get"

[2018-05-24 07:05] sajasbana commented on #2749
Dear,
After Iam using abp v3.6.1 mvc multipage with EF
I noticed that when try to create new role the new id is not set like upper issue... when i add the line
`// Adding this line ensures that the user Id is set on the returned object
	UnitOfWorkManager.Current.SaveChanges();`
it works fine

I noticed that issue come from the role manager in core module where the
IUnitOfWorkManager unitOfWorkMana

[2018-05-24 07:06] acjh commented on #3380
Please read:

[2018-05-24 07:08] ozibrahim opened #3411 "Razor Page Tag Helper TModel"
Hi,
In Abp razor pages, we can't use tag helpers. It's model seems generic TModel.
@Html.TextBoxFor(model => model.Name)

How can we use tag helpers? Is there any workaround?

Thanks,

[2018-05-24 07:08] LGinC commented on #3380
@acjh OK, I use ClientWebSocket and how to add token in query string

[2018-05-24 07:16] acjh commented on #2749
IUnitOfWorkManager unitOfWorkManager is not get the 'Current' value and it is always null

It's expected to be `null` in the constructor.
Anyway, that's irrelevant. If you want `Id` in DTO, then call `SaveChanges`.

[2018-05-24 07:18] acjh commented on #3380
Just add it to the end of the url:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/048f15cd3549ccae0409d72c3c78ba03c326d796/src/Abp.Web.Resources/Abp/Framework/scripts/libs/abp.signalr-client.js#L72

[2018-05-24 07:32] alirizaadiyahsi commented on #3411
Could you give more details(e.g. code sample with its file location)?
Did you trying this in one of the templates or demo in this repository?
Also I think, you mean `HtmlHelper` not `TagHelper`?

[2018-05-24 07:35] #2749 closed

[2018-05-24 07:37] ozibrahim commented on #3411
Sorry, you're right, i mean HtmlHelper.
I'm using .Net Core Multi Page template. In MVC module, for example you can try it in Views/Roles/_EditRoleModal.cshtml

[2018-05-24 07:41] Adeel-Malik opened #3412 "Allow User Email Address duplication"
Hello i want to allow email address duplication . multiple user can have save email address how to achieve that boilerplate by default dont allow duplication??

Thanks

[2018-05-24 07:47] acjh commented on #3412
You can override [`CheckDuplicateUsernameOrEmailAddressAsync`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/4fb57aac6338707a0037b3a08b4f6c0ded369a7c/src/Abp.ZeroCore/Authorization/Users/AbpUserManager.cs#L395) in `UserManager`:

[code]

[2018-05-24 07:59] alirizaadiyahsi commented on #3411
May be your VS doesn't work (intellisense) properly. Could you try to run your project and test whether it is working or not?

This is my test:
![image](https://user-images.githubusercontent.com/4375000/40472211-7635da1c-5f41-11e8-9da6-9ebdf9636447.png)

[2018-05-24 08:01] zclmoon commented on #2634
@kyurthich  do you resolve this issue? I have got the same issue with the latest ASP.NET Core & Angular 2 template.

[2018-05-24 08:40] sajasbana opened #3413 "SetGrantedPermissionsAsync gives error"
Dear,
After Iam using abp v3.6.1 mvc multipage with EF

in RoleManager this methode 'SetGrantedPermissionsAsync ' give me exception and not set the seleced permissions, the issue come from the method called 'GetRolePermissionCacheItemAsync':
![1- abp error with await before](https://user-images.githubusercontent.com/34976854/40474019-8c30b350-5f46-11e8-869a-f254d5871ec4.JPG)
![2- abp error with aw

[2018-05-24 08:42] LGinC commented on #3380
I use this "?Abp.TenantId=2&Authorization=Bearer " + myAccessToken".
but AbpSession.GetUserId() not work.
and I add Header
![image](https://user-images.githubusercontent.com/15363011/40474330-4e068124-5f71-11e8-8e88-8adc7e0d53e8.png)

and Server log
![image](https://user-images.githubusercontent.com/15363011/40474352-626ca86e-5f71-11e8-820e-f1f5be079159.png)
it get TenantId, but can not get UserId

[2018-05-24 08:46] ismcagdas commented on #3413
@sajasbana you need to comment out the line `UnitOfWorkManager.Current.SaveChanges();`

[2018-05-24 08:48] acjh commented on #3380
Are you sure that is the **encrypted**AuthToken?

[2018-05-24 08:49] LGinC commented on #3380
I am sure

[2018-05-24 08:53] acjh commented on #3380
Try the non-encrypted one.

[2018-05-24 09:16] LGinC commented on #3380
oh....I'm sorry, I don't know how to the non-encrypted one.

[2018-05-24 09:17] sajasbana commented on #3413
@ismcagdas this line was not exists in the template I just add it and it is work
I have other abp solution v3.5 and it is work without UnitOfWorkManager.Current.SaveChanges();

but in this solution  with v3.6.1 it gives exception ...

[2018-05-24 09:34] zclmoon commented on #2634
It will create static roles when create a new tenant in Abp.
`[UnitOfWork]
        public virtual async Task<IdentityResult> CreateStaticRoles(int tenantId)
        {
            var staticRoleDefinitions = RoleManagementConfig.StaticRoles.Where(sr => sr.Side == MultiTenancySides.Tenant);

            using (_unitOfWorkManager.Current.SetTenantId(tenantId))
            {
                foreach (v

[2018-05-24 09:39] ismcagdas commented on #3413
@sajasbana you are right, the commented line doesn't exist in the template but I couldn't reproduce the problem on latest version. It just creates the Role.

Do you always get the same exception message when creating a role ?

[2018-05-24 09:48] sajasbana commented on #3413
steps I did is:
1- download template from website (i think v3.3)
2- update solution in VS using nuget package update command
3- after run solution with new version ...

yes I always get the same exception message when creating a role

[2018-05-24 09:52] ismcagdas commented on #3413
@sajasbana if you haven't made any development, could you try the latest version ?
If you did, could you share your project via email to info@aspnetzero.com ?

[2018-05-24 10:51] sajasbana commented on #3413
Dear @ismcagdas  I sent you email with solution ...
email title: SetGrantedPermissionsAsync gives error #3413

[2018-05-24 11:28] valleen commented on #3356
Not sure about my test but it seems there is still an issue...

When I update my entity with new translations, I have the following error:

`Message: System.InvalidOperationException : The instance of entity type 'CategoryTranslation' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. When attaching existing entities, ensure that only one entity

[2018-05-24 13:04] Bijayakumar1990 commented on #2451
@acjh Can you pls look into this ?

[2018-05-24 13:51] lytvynR opened #3414 "Constantly happening angular change detection"
Version: 3.8.0
Steps to reproduce:
- Get latest  ASP.Net Core 2 & Angular ABP template.
- Configure it to start.
- In app.component.html add:
[code]
- In app.component.ts add:
[code]
- Launch the application, login  and open console in developer tools.
- See that “someFunction” is constantly logged into console.

![boilerplate_issue](https://user-images.githubusercontent.com/26853987/40489729-6d41

[2018-05-24 14:53] brunobertechini opened #3415 "Interface (Async)CrudAppService may include TDeleteInput"
Currently CrudAppService and AsyncCrudAppService are very good ways to simplify CRUD operations.

However, we can onlycustomize inputs for Create and Update (TCreateInput and TUpdateInput).

I believe if we have TDeleteInput as well and a default for Entity<TPrimaryKey> will allow more flexibility when we need to pass in more data for delete.

Let me give you at least one business case:

1) Entity

[2018-05-24 14:55] brunobertechini commented on #3415
Never mind, my bad on research.

After dig deeper in source code I could find this snipped:

[code]

I got confused because there are several interfaces declared and I missed that

Sorry

[2018-05-24 14:55] #3415 closed

[2018-05-24 15:04] acjh commented on #2451
`[DontWrapResult]` seems to be working as expected.
That's a different issue, so open a new issue if you believe there is a problem and explain why clearly.

[2018-05-24 15:34] danijel-peric commented on #3403
Thanks, will check in details event bus, event bus is just fire and forget? So retry logic in case of error needs to be implement

[2018-05-24 15:40] acjh commented on #3403
You can use https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers.

[2018-05-24 16:35] LGinC commented on #3380
oh...What the abp.signalr-client send make AbpSession.UserId is not null? Not AccessToken "Bearer xxxxxxxx"?

[2018-05-24 16:39] acjh commented on #3380
It sends `encryptedAuthToken` in the query string.

[2018-05-24 20:18] homam1 commented on #3377
This caused a breaking change in ASP.Net Zero app I have. Should the method `        public List<NameValueDto> GetWindowsTimezones()
` return an array of string now?  and the other methods `        private async Task<List<NameValueDto>> GetTimezoneInfos(SettingScopes defaultTimezoneScope)
` as well?

[2018-05-24 20:21] corredorcatino opened #3416 "EntityNotFoundException is not returning translation of a new language."
* Your Abp package version: 3.5.0
* Your base framework: .Net Core.

- I added a new Language es-CO
- In the localization file (xml file), I added the following line

[code]

- Every time I throw an EntityNotFoundException I'm getting [Entity Not Found], instead of the translation.

[2018-05-24 20:37] hitaspdotnet commented on #1476
@brunobertechini I cant share repo because it's ASPNET Zero based solution.

Yes, Just a reference to [Web.MVC] for depending nothing else.
I just tested this with empty ABP template with sample class inherited [FullAuditedEntity].
1. Download the template from AspNet Boilerplate download page + Module Zero
2. Update connectionString and run Update-Database using PMC
3. Change AbpZeroDbContext to

[2018-05-25 01:11] LGinC commented on #3380
it's url is "host/signalr?TenantId=1&Authorization=Bear xxxxxx"
？

[2018-05-25 01:16] acjh commented on #3380
"/signalr?enc_auth_token=..."

[2018-05-25 01:26] LGinC commented on #3380
enc_auth_token is not accessToken in func '/api/TokenAuth/Authenticate ' return?

how to get it

[2018-05-25 01:29] LGinC commented on #3380
so not encrypted query string is "/signalr?auth_token=..."   ?

[2018-05-25 01:42] acjh commented on #3380
Please read:

[2018-05-25 02:09] ismcagdas commented on #3416
@corredorcatino

* Is your xml file marked as embedded resource ?
* If so, could you share the xml file you have created ?

[2018-05-25 02:15] ismcagdas commented on #3377
@homam1 they return `List<NameValueDto>`.
Something like this;

[code]

[2018-05-25 02:20] LGinC commented on #3380
I try it.but not work.
I use WebSocket Client not signalR Client.

[2018-05-25 02:26] ismcagdas commented on #3414
@lytvynR thank you for your report. I have moved the issue to it's own repository https://github.com/aspnetboilerplate/module-zero-core-template/issues/249. We will work on that.

[2018-05-25 02:26] #3414 closed

[2018-05-25 02:41] LGinC commented on #3380
oh....wx.socket == ClientWebSocket.
I give up it. I use this way：
client send client's userId,
and _onlineClientManager.add(client)

and I can get userId by connectionId

[2018-05-25 02:50] #3304 closed

[2018-05-25 03:51] ismcagdas commented on #3413
@sajasbana thank you for sending the project. As far as I can see, you must use `UnitOfWorkManager.Current.SaveChanges();`. In ASP.NET MVC 5.x version which uses ASP.NET Identity, changes are not saved automatically for AbpRoleStore. It means that you need to save changes after calling `_roleManager.CreateAsync` method.

I think this is the defualt implementation of ASP.NET Identity, so we did it

[2018-05-25 03:51] #3413 closed

[2018-05-25 03:53] 344089386 opened #3417 "The property 'NotificationInfo.Id' could not be mapped, because it is of type 'Guid' which is not a supported primitive type or a valid entity type. Either explicitly map this property, or ignore it using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'."
EF Core  Update-DataBase

The property 'NotificationInfo.Id' could not be mapped, because it is of type 'Guid' which is not a supported primitive type or a valid entity type. Either explicitly map this property, or ignore it using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.

How can I solve?

[2018-05-25 03:55] ismcagdas commented on #3356
@valleen could you share the CategoryAppService as well ? This seems like a different problem than Mapping problem.

[2018-05-25 04:34] Bijayakumar1990 opened #3418 "Odata query with $count&$top options not giving the total result count"
Below I have given two scenario:
First one where I am using ABP Odata controller and wrapping the result as default the ABP provides, but here I am not able to get the total count of the odata result.

In the second case, where I am not wrapping the response using [DontWrapResult] to get the raw odata response and here I am getting the total count of the response. (@odata.count": 6)

My Query: htt

[2018-05-25 04:51] ismcagdas commented on #3417
@344089386 what is your DB type ?

[2018-05-25 05:57] 344089386 commented on #3417
MySql

[2018-05-25 06:00] ismcagdas commented on #3417
ABP's templates comes with Migration generated for Ms SQL.
Have you followed the document for modifying your project for MySql ?

For Entity Framework 6.x:
http://aspnetboilerplate.com/Pages/Documents/EF-MySql-Integration

For Entity Framework Core:
http://aspnetboilerplate.com/Pages/Documents/EF-Core-MySql-Integration

[2018-05-25 06:11] 344089386 commented on #3417
![qq 20180525140522](https://user-images.githubusercontent.com/22017199/40528997-84f51b50-6025-11e8-87df-918c94026797.png)
![qq 20180525140551](https://user-images.githubusercontent.com/22017199/40528999-8535e9c8-6025-11e8-996e-50b5b196aabe.png)
![qq 20180525140605](https://user-images.githubusercontent.com/22017199/40529000-8574bf68-6025-11e8-8ad5-092e2afd72aa.png)
I feel like I am required to do

[2018-05-25 06:17] acjh commented on #3417
Did you remove all files in ***.EntityFrameworkCore/Migrations** folder?

[2018-05-25 06:18] 344089386 commented on #3417
Yes, all deleted

[2018-05-25 06:26] 344089386 commented on #3417
Good.I give it a try.Thank you.

[2018-05-25 07:14] valleen commented on #3356
Ah ok... I updated the previous post.
Is this the way I update parent and children entities?

[2018-05-25 07:15] 344089386 commented on #3417
@ismcagdas  Use the Oracle What should I do?

[2018-05-25 07:18] 344089386 commented on #3417
MySql using Pomelo is indeed possible.

[2018-05-25 07:54] Edward-Zhou opened #3419 "How to specify specific feature for Organization Unit"
For current Feature and Permission system, ABP implements specifying Feature for Tenant, and then we could add the permission for User based on the available feature for tenant.
If I want to specify sub-feature for Organization unit, how to achieve this?
For example, I set "Product" and "Book" feature for one tenant, and this tenant only want to assign "Product" to one Organization Unit, how to ch

[2018-05-25 09:26] ismcagdas commented on #3356
@valleen does it work when you modif Update method of CategoryAppService like below;

[code]

[2018-05-25 10:09] sajasbana commented on #3413
@ismcagdas thanks for your considration i will use save changes for now
I want to share some notes  I saw:
- in v3.5 and before its working ... from v3.6 i saw this issue
- i made test in the test module v3.6 and it works ... thats weird i share it maybe you find it helpful (see attachment you can add to the project and see results)

[Roles.zip](https://github.com/aspnetboilerplate/aspnetboilerpla

[2018-05-25 10:42] aluRamb0 commented on #3373
I ended up here because I wanted to set  `NamingStrategy = new CamelCaseNamingStrategy(true, true);` This is usually customized using `IMvcBuilder.AddJsonOptions(options =>
{});` which is overwritten. I'm happy with the resolution though 👍

[2018-05-25 11:18] homam1 commented on #3377
In the last update it becomes returning list of string

`        public static List<string> GetWindowsTimeZoneIds(bool ignoreTimeZoneNotFoundException = true);
`

[2018-05-25 12:53] sebfischer83 opened #3420 "Try to implement a GlobalFilter for User"
.Net Core 2
Abp 3.5

I try to implement an IMustHaveUser Global Filter.

I've got this in my DbContext

        protected override Expression<Func<TEntity, bool>> CreateFilterExpression<TEntity>()
        {
            var expression = base.CreateFilterExpression<TEntity>();

            if (typeof(IMayHaveUser).IsAssignableFrom(typeof(TEntity)))
            {
                Expression<Func<TEnti

[2018-05-25 13:02] acjh commented on #3420
Use `WithUnitOfWorkAsync` for async tasks.

[2018-05-25 13:21] ismcagdas commented on #3377
Sorry, updated my comment.

[2018-05-25 17:15] jtasko opened #3421 "AbpDateTimeModelBinderProvider NULL Reference Exception with DateTime parameter"
We have recently upgraded ASP.NET Zero from 5.3.0 to 5.4.0 and this resulted in an update of the Abp to 3.6.1.

A web API that previously worked in now resulting in a NULL reference exception. It appears to relate to the use of a DateTime input parameter and model binding (see stack trace). The parameters are defined as (int id, DateTime? ActualEndDate).

I had to create a Dto to wrap the paramete

[2018-05-25 17:56] acjh commented on #3421
Duplicate of #3366. Fixed in ABP v3.6.2.

[2018-05-25 17:56] #3421 closed

[2018-05-25 18:20] sebfischer83 commented on #3420
I changed it to

           await
                this.WithUnitOfWorkAsync(
                    async () =>
                        {
                            this.LoginAsHost(this._userForTest.UserName);
                            var coins = await this._coinAppService.GetAllCoinPreviews().ConfigureAwait(false);
                            coins.Items.ShouldNotBeEmpty();

[2018-05-25 18:27] acjh commented on #3420
Try `AsyncHelper.RunSync`:

[code]

[2018-05-25 20:04] sebfischer83 commented on #3420
Well... still the same, maybe the problem is on another part

[2018-05-26 06:47] cdpidan commented on #3420
Hi,

 Did you register the Filter in the PreInitialize method of CoreModule?
[code]

[2018-05-26 10:56] ismcagdas commented on #3413
@sajasbana thank you for your comments. We will evaluate them while working on https://github.com/aspnetboilerplate/module-zero-template/issues/129.

[2018-05-27 05:33] sebfischer83 commented on #3420
@cdpidan What do you mean?

[2018-05-27 07:16] sajasbana opened #3422 "enhancment suggestion in abploginmanager.cs"
Dear
I'm using LDAP authintication to check if user is from our company...
in LDAP it will call method "TryAuthenticateAsync" first if it returned true if will
- create user if not exists or
- update user

why we need to create the user if method returned true ... maybe we want like this:
- authinticate user ... if true ... then check if exists in our database if true login else show message you c

[2018-05-27 08:04] sajasbana commented on #3422
Dears
I did modify attachched files i don't know how to make pull

1- AbpLoginResultType.cs
I added new type "DoNotHaveAccessToTheSystem"

2- IExternalAuthenticationSource.cs

added new property "bool UseAuthinticateOnly { get; }"

3- AbpLoginManager.cs
modified in

- method LoginAsyncInternal
//modified here
'''c#
                //if user is not exists and he is authinticated means that he do no

[2018-05-27 10:11] hitaspdotnet commented on #1476
I reviewed your project completely. I researched about micro-services for two months. I tell you directly that Angular based micro-service is very complicated, to the extent that the team that produced the [eShopOnContiners](https://github.com/dotnet-architecture/eShopOnContainers) sample code Microsoft has dropped out of its training and provided a brief explanation for the UI based on Angolar us

[2018-05-27 11:53] #3409 closed

[2018-05-27 11:57] hikalkan commented on #3418
Hi,

What about this solution: We make DontWrapResult for OData controllers by default. I suggest it because most OData client will not understand ABP's wrapping.

[2018-05-27 12:04] hikalkan commented on #3419
Feature system is not designed for that. It's for multi-tenancy.

You have a few points to extend the feature system. For instance you can replace/override  [FeatureChecker](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Application/Features/FeatureChecker.cs) - You can return true/false by implementing your own logic.

[2018-05-27 13:54] cdpidan commented on #3420
@sebfischer83
`this.CurrentUnitOfWorkProvider?.Current?.IsFilterEnabled("MustHaveUser")`
Add the virtual keyword to the method of this code?

[2018-05-27 16:26] sebfischer83 commented on #3420
@cdpidan
These are the defined properties, all virtual but all return null

        public virtual long? UserId => this.AbpSession.UserId;

        protected virtual bool IsMayHaveUserFilterEnabled =>
            this.CurrentUnitOfWorkProvider?.Current?.IsFilterEnabled("MayHaveUser") == true;

        protected virtual bool IsMustHaveUserFilterEnabled =>
            this.CurrentUnitOfWorkProvider?

[2018-05-27 22:44] eniocarvalhofaria opened #3424 "Your template could not be created"
Good evening. I'm trying to create a template .net Core 2x Angular with Include Login and One solution both checked. I have received the message above until exceed limit of 6 request.

Can anybody help me?

Best Regards,

[2018-05-27 23:37] ebicoglu commented on #3424
there's a rate limit to prevent abuse. so pls wait and try again later.

[2018-05-27 23:37] #3424 closed

[2018-05-27 23:42] ebicoglu commented on #3412
this will lead problems in the future. the first thing came to my mind is "forgot password". it gets an email address. so this will not work as aimed.  how can a user share another's email address?

[2018-05-28 00:56] eniocarvalhofaria commented on #3424
The problem is not the limit. The problem is the message: Ooops!
An error occured during your request...
Sorry :(
Your template could not be created..

As the template is not generated I have tried again, until the limit.

[2018-05-28 02:17] cdpidan commented on #3420
CurrentUnitOfWorkProvider?.Current
**AsyncLocalCurrentUnitOfWorkProvider**
[code]

**When executing a query**
![image](https://user-images.githubusercontent.com/8141453/40593542-bc1209da-625b-11e8-8ffb-4804bcd68193.png)

**Solution:**
[code]

**Result:**
![image](https://user-images.githubusercontent.com/8141453/40594209-5c846d96-6260-11e8-9494-67d4713d3195.png)

[2018-05-28 02:30] sacapierres opened #3425 "Startup Template could not be created"
Hello,

There seems to be an error at the Startup Template creation. It first writes a message describing that the template will be created shortly and it quickly ends up displaying this error (see picture)

![image](https://user-images.githubusercontent.com/34606331/40594358-c2002c32-61fc-11e8-894d-e7f67cb696ba.png)

Here are the info I selected priorly :

![image](https://user-images.githubuserc

[2018-05-28 02:36] eniocarvalhofaria commented on #3424
The problem persists...

[2018-05-28 03:42] acjh commented on #3424
Duplicate of #3425

[2018-05-28 06:13] ismcagdas commented on #3422
@sajasbana

Because some other entities (Tables) reference AbpUser table. For example, when ABP is writing an audit log, it will need the UserId from AbpSession which is the Id of the user in AbpUsers table.

There are similar scenarios for Permission, Roles etc...

[2018-05-28 06:28] sajasbana commented on #3422
@ismcagdas I agree with your comment
but in the suggestion attachment I showed that in login case you can give the people choice for
- create user if external auth or not ... based of the added property UseAuthinticateOnly
it will only check if user is in DB continue login else do not login and show message

[2018-05-28 06:38] ismcagdas commented on #3422
@sajasbana sorry, I got it now.

So, are you suggesting to add user to the database manually ? Something like batch import from LDAP ?
Otherwise, users will not be able to login to the system, right ?

[2018-05-28 07:30] ismcagdas commented on #2982
@mrvithan we will test this and fix if there is a problem. I have created an issue in the template's own repostory, please follow it https://github.com/aspnetboilerplate/module-zero-core-template/issues/250.

[2018-05-28 07:36] sajasbana commented on #3422
Dear @ismcagdas
what I suggest is in abp or LDAP implementaion, I use method "TryAuthenticateAsync" if this method return true and user is not in DB it will create the user.

I suggest to add new boolean property called "UseAuthinticateOnly" if it is true (means I just want to use ldap authintication only) do not create user if not exists in db ... becasause in abp implementation in creates user i

[2018-05-28 07:44] ismcagdas commented on #3422
@sajasbana thanks, this answers my question.

[2018-05-28 07:44] ismcagdas commented on #3422
@hikalkan what do you think about this ? I couldn't be sure.

[2018-05-28 07:45] sebfischer83 commented on #3420
Thank you very much, such U don't caught it myself...

[2018-05-28 07:45] #3420 closed

[2018-05-28 08:05] sajasbana commented on #3422
@ismcagdas
in my second comment I suggested 3 small changes that will give this option the abp system with any effect of login module ...

if the user want to use abp LDAP you will give him this option using the boolean property if he set it to false (default) it will create new user when user is authonticated by ldpa
otherwise if he set to true ... it will to his resposibility to give access to t

[2018-05-28 09:25] hzicong opened #3427 "After upgrading to 3.6, the default language becomes English, before it is Chinese, and how to set it up"
After upgrading to 3.6, the default language becomes English, before it is Chinese, and how to set it up

[2018-05-28 09:30] ismcagdas commented on #3427
@hzicong be sure that you are using zh-Hans language code instead of zh-CN. It is changed here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3289.

[2018-05-28 09:36] ozibrahim commented on #3368
@ismcagdas thanks for your help.
I'm not sure too, but i moved to Rider IDE, i can put debug points in decompiled code, so i solved this issue.

[2018-05-28 09:36] #3368 closed

[2018-05-28 10:02] hzicong commented on #3427
my default Culture is zh-CN
how can i change to zh-Hans

[2018-05-28 10:12] ismcagdas commented on #3427
@hzicong

1. Change it in AbpLanguages table
2. Change it in AbpSettings table if it exists there
3. Change the name of your xml localization file for Chinese and the "zh-CN" in it's content.

[2018-05-28 10:13] hzicong commented on #3427
I've already solved it,tks

[2018-05-28 10:13] #3427 closed

[2018-05-28 10:42] sajasbana commented on #3344
@valleen
Can You share with me ho you implement it?
I tried as in website but it is not saving in tables
Thanks

[2018-05-28 11:01] ismcagdas commented on #3344
@sajasbana have you enabled and configured Entity History http://aspnetboilerplate.com/Pages/Documents/Entity-History#configuration ?

[2018-05-28 11:10] hikalkan opened #3428 "Create an Alert system to show alerts on UI for MVC applications"
### Background

Sometimes we need to show a message to the user and shortcut the code flow, but don't want to throw a `UserFriendlyException` (because it rollbacks the transaction). For such cases, we can develop an alert system so we can add alert messages to a collection which is then rendered on the UI.

This is for full page gets/posts, not for API calls (since alerts are UI specific stuff).

[2018-05-28 11:10] sajasbana commented on #3344
@ismcagdas
Thank you for your replay

this is steps i did if there is wrong please help:

1. in AppNameCoreModule.cs in PreInitialize() method I add
[code]

2. in my AppNameDbContext.cs I add the following
[code]
3. I run application and updated roles and created new role but it did not save in the those tables

[2018-05-28 11:45] ismcagdas commented on #3344
@sajasbana,

Does it work when you use `typeof(Role)` instead of `typeof(IFullAudited)` ?

[2018-05-28 11:58] sajasbana commented on #3344
@ismcagdas
No it is not work

[2018-05-28 11:59] valleen commented on #3356
No it doesn't work, same error.
(FYI: the categoryManager.Update code is in above response)

[2018-05-28 13:35] thiagoburgo opened #3431 "Login Failed when share Abp's database with projects in .netcore and .net framework"
Abp Version: 3.6.2
Base framework: .Net Framework and .Net Core (Two differents projects sharing same Abp's database)

Hi,

We have two projects using Abp, one using .NetFramework with ASP.NET MVC and other using .NetCore with angular.

The problem happens when we do a authentication with .NetFramework and after a new authentication with .NetCore project. The .NetCore project can authenticate with

[2018-05-28 13:52] ismcagdas commented on #3431
@thiagoburgo yes, I think they use different versions of https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Security/SimpleStringCipher_NetStandard.cs

Are they using the same ABP version ?

[2018-05-28 14:10] thiagoburgo commented on #3431
@ismcagdas I'm using 3.6.2 in .NetCore Project and 3.5.0 in .NetFramework project.

The interesting part is .NetCore project can login with old hashed password, but .NetFramework project can understand hashed password by .NetCore project.

Has a way to solve this problem without update Abp's version in .NetFramework project?

If theren't a way I will try update .NetFramework project to same versio

[2018-05-28 18:04] #3297 closed

[2018-05-28 18:10] #3291 closed

[2018-05-28 18:10] #3292 closed

[2018-05-28 18:10] #3300 closed

[2018-05-28 18:43] hitaspdotnet commented on #88
@hikalkan Any update on this?

[2018-05-28 20:53] ebicoglu commented on #3388
How about using [External Authentication](https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management?searchKey=EXTERNAL#external-authentication) feature?

[2018-05-28 22:40] thiagoburgo commented on #3431
@ismcagdas I updated Abp's version, but I hadn't luck. This is a big problem for me. Have you an suggestion/workaround ?

[2018-05-29 01:56] Worthy7 commented on #3342
@ismcagdas  Do you know how `AbpUserToken` is supposed to be used?

[2018-05-29 03:10] sacapierres commented on #3425
It works perfectly now! Thank you very much!

[2018-05-29 05:47] Worthy7 commented on #3342
I also want to add [this huge guide ](http://bitoftech.net/2014/08/11/asp-net-web-api-2-external-logins-social-logins-facebook-google-angularjs-app/)as a reference - it is regarding social logins using Angular - which is where I am stuck.

[2018-05-29 08:06] may6288 opened #3434 "In abp3.6.1, custom repository can't auto register!"
In ABP3.6.1,.net frame work , Custom repository can't auto register!

**interface:**
[code]

**class:**
[code]
it work in old version（v1.5.1）.
now,  i use `IocManager.Register` register it, but i want to use auto register.

[2018-05-29 08:10] acjh commented on #3434
- What's the error?
- What's old version?

[2018-05-29 08:29] may6288 commented on #3434
No error, just the custom repository `SqlExtentionRepository` can't auto injection to `ISqlExtentionRepository `，it work in old version(v1.5.1). Although using` iocmanager.Register` can make it work, but I want to use automatic injection

[2018-05-29 08:50] acjh commented on #3434
Check that you did everything here: https://stackoverflow.com/a/46485257/8601760

[2018-05-29 09:13] ismcagdas commented on #3344
@sajasbana normally you shouldn't add EntityHistory related entities into your DbContext because they already exist in base dbContext.

By the way, are you using MVC 5.x or ASP.NET Core ?

[2018-05-29 09:16] ismcagdas commented on #3342
@Worthy7 I don't know much about AbpUserToken, it is actually used by ASP.NET Core Identity I think.
You can read this article to get more information about it https://www.stevejgordon.co.uk/asp-net-core-identity-token-providers.

[2018-05-29 09:45] Worthy7 commented on #3342
Oh really...  So they are not supposed to be used to store external login tokens? (Google etc)
Hmm. Guess I have to make a custom `ExternalToken`

Still having lots of trouble with Social Login, I have gone back and fourth 3 times between MS's login, and rolling my own through ABP.

[2018-05-29 09:52] hikalkan opened #3435 "Create IPerWebRequestDependency interface"
A class implements this interface will be instantiated per web request.
It internally implements;

- `Scoped` lifestyle for ASP.NET Core.
- `LifestylePerWebRequest` for MVC 5.x: https://github.com/castleproject/Windsor/blob/master/docs/systemweb-facility.md

[2018-05-29 09:53] ismcagdas commented on #3342
No, you should use AbpUserLogins for that.

[2018-05-29 10:08] ismcagdas commented on #3356
@valleen I think I have found the issue but this is an EF Core problem. When you clear the Translations while you aer updating your entity, it is not removed from database and probably still exist in the change tracking. So, if you change your update method like this, it will work.

[code]

[2018-05-29 10:08] Worthy7 commented on #3342
I see... Is ProviderKey supposed to be the Google-User-Id?
And, my system is going to want to use the `RefreshToken` from the login (to do offline stuff), where would be an appropriate place to put this? Is there any infrastructure in Abp already for this?
Extend `AbpUserLogins`?

[2018-05-29 10:42] valleen commented on #3356
Thanks a lot @ismcagdas

[2018-05-29 11:51] ismcagdas commented on #3395
@acjh it should be fixed now, we have updated the aspnetboilerplate.com. But, when I search on the top bar for "/Pages/Documents/" there are still results but I think those are cached by google.

[2018-05-29 12:15] sajasbana commented on #3344
@ismcagdas
I'm using MVC 5.x

I read that in mvc it is not support this feature

is that true?

[2018-05-29 12:21] ismcagdas commented on #3344
@sajasbana yes it is not supported for MVC 5.x, EntityFramework 6.x actually.

[2018-05-29 12:21] acjh commented on #3344
Yes, tracked in #3022

[2018-05-29 12:30] jamesatgithub opened #3437 "sharing database between NET461 and Core abp projects"
trying to add a new NETCore v3.6.2 project which will share the same database with a NET461 project v3.4 but confused/blocked on the EF migration as AbpUser NETCore of v3.6.2 added some new fields below while the NET461 abp of same version 3.6.2 doesn't have these fields.

e.g. https://github.com/aspnetboilerplate/aspnetboilerplate/blob/bbcceb85193aa2f6466d7ee5262e856fd4cc24ec/src/Abp.ZeroCore/Aut

[2018-05-29 13:17] ismcagdas commented on #3342
@Worthy7 ProviderKey should contain the name of the provider like "Facebook", "Twitter" etc..
I'm not sure about RefreshToken. How are you planning to use RefreshToken ?

[2018-05-29 13:28] Worthy7 commented on #3342
To call to the users calendar once in a while

[2018-05-29 14:19] cuibty commented on #3022
do you have a plan?

[2018-05-29 15:48] acjh commented on #3395
Found one more:

- [Background-Jobs-And-Workers.md](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/26f0fb37d4d6434c07012af1f18834022f5d964b/doc/WebSite/Background-Jobs-And-Workers.md) to [its HTML page](https://www.aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#create-a-background-job)

[code]
  became
[code]

The rest seem to be cached.

[2018-05-30 00:09] Worthy7 commented on #3342
[Another reference](http://jbavari.github.io/blog/2014/06/04/handling-angularjs-popups-for-oauth/), this one is talking about using the return from MS's social login, put it in a blankish page, then send it back through `window` events/callsback to get it back to the default angular.
Could probably build an `Abp.SocialLogins` wrapper lol

@ismcagdas  You said that you faced some problems with the

[2018-05-30 02:20] ystemni opened #3442 "Does sidebar-nav.component has BUG"
My Project : ASP.NET Core 2.X (.NET Core Cross Platform) With Angular

I modify the menu items like this
`       new MenuItem(this.l("SystemManager"), "", "menu", "", [
            new MenuItem(this.l("TenantManager"), "Pages.Tenants", "business", "/app/tenants"),
            new MenuItem(this.l("RoleManager"), "Pages.Roles", "local_offer", "/app/roles"),
            new MenuItem(this.l("UserManag

[2018-05-30 02:30] acjh commented on #3442
This issue should be filed in the [module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template) repo.

[2018-05-30 02:30] rqx110 commented on #3442
it has been fixed! see https://github.com/aspnetboilerplate/module-zero-core-template/pull/238

[2018-05-30 02:34] acjh commented on #3442
@rqx110 Actually, it seems you introduced the bug.

[`*ngIf="menuItem.items.length"`](https://github.com/aspnetboilerplate/module-zero-core-template/pull/238/files#diff-e7e2aba59ec1ee2cdf879bd08bc773d9R34) should be `*ngIf="subMenuItem.items.length"`.

[2018-05-30 03:26] #3437 closed

[2018-05-30 03:30] ryancyq commented on #3428
Would it be possible to add in `Alert Message.RawHtml` property?

e.g to include url links in the message?

[2018-05-30 04:37] mkgn opened #3443 "Developing APIs with RESTful urls"
I have posted a question in this regard on [StackOverflow](https://stackoverflow.com/questions/50524079/aspnetboilerpate-rest-urls/50561698#50561698) since it's the correct place to ask such questions.

However the answer provided seems promising but have one issue.

It's refering to a class **SwagResterAppServiceBase** which I cannot find even If i search in Object Browser. I am using the latest

[2018-05-30 05:00] acjh commented on #3443
**SwagRester** is the project name. You should have [**YourProjectName**AppServiceBase](https://github.com/aspnetboilerplate/module-zero-core-template/blob/b5c18c989fa236d768d3ec6662edb5d66b4612c3/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/AbpProjectNameAppServiceBase.cs).

[2018-05-30 05:32] ismcagdas commented on #3442
@ystemni @acjh thanks. I have moved the issue to https://github.com/aspnetboilerplate/module-zero-core-template/issues/251.

[2018-05-30 05:32] #3442 closed

[2018-05-30 07:00] ismcagdas commented on #3395
@acjh thanks 👍 , fixed that as well.

[2018-05-30 07:13] #3395 closed

[2018-05-30 08:14] Worthy7 commented on #3342
FYI:
"providerKey:
        //     The unique identifier for this user provided by the login provider.
"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.externallogininfo?view=aspnetcore-2.0

[2018-05-30 08:33] alirizaadiyahsi commented on #3428
I think, it is related to UI side. For example,

`@Html.Raw(Message.Text)`

[2018-05-30 09:36] hikalkan commented on #3428
I think we can render as Raw by default since the alert message is controlled by the application code. We may add an `AllowHtml` option to AlertMessage (which is true by default).

[2018-05-30 10:57] ismcagdas commented on #1555
@Omital it seems like there is an extra config, check https://stackoverflow.com/a/42389162.

[2018-05-30 12:16] PetritAzizi97 commented on #2261
dfdfdf##

- saaasa`ssadas

sd

`

[2018-05-30 12:44] ismcagdas opened #3444 "Upgrade to AspNetCore 2.1"

[2018-05-30 16:25] ryancyq commented on #3406
It could be `doctorDto.MapToCreateUserDto()` is setting invalid id for `CreatorUserId`
[code]

[2018-05-31 12:27] ismcagdas commented on #3422
@sajasbana thank you for your suggestion, I understand your point.
We have talked with the team and decided not to include this change into ABP. You can use it like this in your project by overriding TryLoginFromExternalAuthenticationSources.

[2018-05-31 12:27] #3422 closed

[2018-05-31 13:37] #3444 closed

[2018-05-31 14:01] hikalkan commented on #88
No update.

[2018-05-31 14:03] #3407 closed

[2018-05-31 16:58] jasenf opened #3446 "Need abp.js in dotnetcore"
Hi,

I am trying to use the dynamically generated
/AbpScripts/GetScripts and
/AbpServiceProxies/GetAll

from the dotnetcore webapi solution.   However, on loading GetScripts I get an undefined error regarding abp.timing

I notice that abp.js is where this is defined, and is a pretty important file in the MVC version (used extensively), however I do not see that file anywhere in the dotnetcore weba

[2018-05-31 21:13] acjh commented on #3446
Do you mean Web.Host project? Why do you need the dynamically generated scripts there?

[2018-05-31 21:27] jasenf commented on #3446
I'm building a client from scratch

It will access the REST api provided by the dotnetcore web.host project.

The fastest way to access that API is with the dynamically generated JS.

But it looks like that dynamically generated code relies on abp.js

What alternative approach to injesting my API would you recommend?

[2018-05-31 21:36] acjh commented on #3446
How is the client used?

[2018-05-31 21:40] jasenf commented on #3446
Its a Vue client.  SPA.  I'm actually attempting to merge aspnetboilerplate (which is amazing btw) with the Quasar Framework.    Unfortunately, the latest version of Quasar broke Typescript support so I can't merge the Vue template that comes with Abp directly.  But even if I did, the same issue kind of applies -- the Vue template that comes with Abp uses a local hardcode Api (not the dynamically

[2018-05-31 22:06] jasenf commented on #3446
Are there npm packages?  I’ve been going over docs for days and didn’t run across them.   When I found abp.js included included in the templates I stopped looking?

Thanks!

[2018-05-31 22:14] acjh commented on #3446
[abp-web-resources](https://www.npmjs.com/package/abp-web-resources), as used in [vue/package.json](https://github.com/aspnetboilerplate/module-zero-core-template/blob/49357828d311e0fa85a5d37f3c4d120bbcb1737a/vue/package.json#L11).

[2018-05-31 22:32] ebicoglu commented on #3443
See dnyamic web api http attributes  https://aspnetboilerplate.com/Pages/Documents/Dynamic-Web-API#http-attributes

[2018-06-01 01:09] Worthy7 opened #3447 "Feature: Git hash in version output"
I just wanted to post this project:
https://github.com/ygoe/NetRevisionTask

I think this would be a nice standard way to add versions into the assembly in ABP. I feel that this info would be valuable to every developer - so that can always see which commit a web app was built from.

[2018-06-01 01:36] Worthy7 opened #3448 "[AutoMapTo] wrong way?"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/1466ee2d404d719caaa2fb575d8711f1b8098d50/src/Abp.AutoMapper/AutoMapper/AutoMapToAttribute.cs#L9

Sorry if I am being stupid here, but shouldn't `AutoMapTo` mean that it uses `MemberList.Destination`?

[code]

@acjh

[2018-06-01 01:51] jasonliaocn commented on #3318
@ismcagdas Thanks for your update and the issue was fixed after I load my dynamic staff in the appSession  then init the menuitem in the ngOnInit function.

[2018-06-01 05:52] ismcagdas opened #3449 "Replace Microsoft.AspNetCore.All with Microsoft.AspNetCore.App"
ASP.NET Team recommends using Microsoft.AspNetCore.App package, see https://github.com/aspnet/Announcements/issues/287.

[2018-06-01 05:53] #3443 closed

[2018-06-01 06:29] ismcagdas commented on #3448
@Worthy7 it is about automapper validation http://docs.automapper.org/en/stable/Configuration-validation.html#selecting-members-to-validate. AutoMap[To/From] attributes both validates the class they are used on.

[2018-06-01 06:42] sebitsi commented on #3449
Hi,

when are you planning a new version (ABP  and ABP.Zero) will be released?

We are waiting for some features included in EF.Core 2.1.

Thanks

[2018-06-01 06:48] ismcagdas commented on #3449
@sebitsi no date yet but I think it will not take long time. ABP will be released first of course.

[2018-06-01 06:50] Worthy7 commented on #3448
The default is "Destination" according to that documentation.
So in the case of AutoMapTo(typeof(ClassB)) we would want to validate the destination, ClassB, the `targetType`. Which means this code is wrong, because it validates the `Source`.
Right?

[2018-06-01 06:57] ismcagdas commented on #3448
@Worthy7 yes, the default is Destination but it doesn't mean that validating the source is wrong. Otherwise, there wouldn't be a Source option 😄 . I think @hikalkan can enlighten us.

My comment https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3448#issuecomment-393775150 was my understanding when I read the code.

[2018-06-01 07:00] ismcagdas commented on #3405
@Bijayakumar1990 there were several questions regarding to micro-services. I suggest you to read them.

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1476
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3448#issuecomment-393775150

You can search for others if you haven't done already.

[2018-06-01 07:03] ismcagdas commented on #2735
closing the issue since ABP is upgraded to EF Core 2.1 in https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3444. If this problem will not be fixed after ABP 3.7, we can reopen this issue.

[2018-06-01 07:03] #2735 closed

[2018-06-01 07:13] mkgn opened #3450 "ng build --prod fails"
* Your Abp package version. - ABP with .net core and Angular
Downloaded the combined project version

Trying to publish it to Azure by following the documentation at [Azure publish](https://aspnetzero.com/Documents/Step-by-step-publish-to-azure-angular)

Initially it was giving an error saying it can't find ng. Since we i didn't had ng installed I did install it via
npm install -g ng-cli.

After t

[2018-06-01 07:19] 344089386 opened #3451 "I want to change the primary key is to GUID."
I want to change the primary key is to GUID, because I am using the Oracle database.How to do the most simple.

[2018-06-01 07:20] ismcagdas commented on #3450
@mkgn you should install it globaly as explained here https://github.com/angular/angular-cli#installation

`npm install -g @angular/cli`

[2018-06-01 07:38] ismcagdas commented on #3354
@guilmori sorry it was my mistake. It seems like you can do it according to  Swashbuckle.AspNetCore documentation;

[code]

So, there is nothing to do in ABP.

[2018-06-01 07:38] #3354 closed

[2018-06-01 07:42] #3451 closed

[2018-06-01 07:42] ismcagdas commented on #3451
Discussed here https://github.com/aspnetboilerplate/aspnetboilerplate/pull/979

[2018-06-01 07:42] acjh commented on #3448
@Worthy7 Validating destination means that the source must have all the properties of the destination.

[2018-06-01 08:00] reberinformatik opened #3452 "Text localization fallback culture"
* Abp package version: **v3.6**
* Base framework: **.Net Framework**
* Exception message and stack trace: **none**
* Related Issue: [#2993](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2993)
* Steps needed to reproduce the problem:

We use the three languages **de-CH**, **fr-CH** and **it-CH**. Our localization sources are defined in these three languages.

But for AbpZero, for ex

[2018-06-01 08:29] Worthy7 commented on #3448
Lol yea... but....can we agree that all these things should be equal:

1)
[code]

2)
[code]

3)
`cfg.CreateMap<SourceClass, DestinationClass>()`

4)
`cfg.CreateMap<SourceClass, DestinationClass>(MemberList.Destination)`;

[2018-06-01 08:38] acjh commented on #3448
No. 2, 3, 4 are equal. As @ismcagdas mentioned:

That is by-design and correct for most use cases.

You can do this:

[code]

[2018-06-01 08:40] amin168 opened #3453 "How can I configure JSON serializer"
I need to configure JSON serializer
below this code doesn't work

[code]

I checked the sourcecode in `AbpServiceCollectionExtensions` , I see the code like below

[code]
so, I can't override `Configure JSON serializer`

in abp 3.3, this issue [https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2764](url) is work, but it doesn't work now, my version is AbpCore 3.6.1

please help me, tha

[2018-06-01 08:46] ismcagdas commented on #3453
@amin168 you can do it as explained in here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3373#issuecomment-389116434.

[2018-06-01 08:49] Worthy7 commented on #3448
Well, ok then, thanks.

[2018-06-01 08:49] #3448 closed

[2018-06-01 08:55] amin168 commented on #3453
@ismcagdas thank very much，it's work. :grin:

[2018-06-01 08:55] #3453 closed

[2018-06-01 09:47] SergeyIlyin opened #3455 "CompositeKey. Override AbpRepositoryBase<TEntity, TPrimaryKey>.CreateEqualityExpressionForId"
I propose to make the method **CreateEqualityExpressionForId** of **AbpRepositoryBase**  redefined.

This will make it easier to implement an entity store with a composite identifier,

[code]
To
[code]

[2018-06-01 10:21] hardtostudy opened #3456 "GetAllIncluding contains deleted contents"
For example, there are entities,

[code]
Remove a permission from a user like this,

[code]
Now,I get the user and his permissions,but the permissions contains deleted contents
[code]

[2018-06-01 10:33] hardtostudy commented on #3456
@acjh what can i do for this,Do you have any good solutions

[2018-06-01 10:47] hikalkan commented on #3456
Is that EF Core or EF 6.x?

[2018-06-01 14:46] acjh commented on #3456
No repro for both: https://github.com/acjh/aspnetboilerplate/commit/cc50216d084b7f6c09f72a036976dd01053f2df4

[2018-06-01 17:34] ltvan opened #3458 "AbpNHibernateInterceptor failed to update audited properties when turning on dynamic-update"
* Version: Abp 3.3.0
* Framework: .Net Framework.
* ORM: NHibernate

Audited properties such as LastModificationTime and LastModifierUserId aren't updated properly if dynamic-update is turned on. OnFlushDirty must return true if there is any changes in currentState. Otherwise, the list of dirty fields won't be refreshed and the sql generated won't have the audited fields.

[2018-06-01 17:38] SergeyIlyin commented on #3455
#3457

[2018-06-01 17:52] #3455 closed

[2018-06-01 18:28] hikalkan commented on #3456
Thank you @acjh for the repro.

[2018-06-02 06:46] natiki commented on #3405
@Bijayakumar1990 There is also good information and help here: https://github.com/gigya/microdot

[2018-06-02 10:29] hitaspdotnet commented on #2702
@ismcagdas Any estimate time for this?
I want to use "RabbitMQ" and "Abp.Events" together. I found two .net core library of RabbitMQ that supporting Castle Windsor as IoC. [EasyNetQ](https://github.com/EasyNetQ/EasyNetQ) & [RawRabbit](https://github.com/pardahlman/RawRabbit) (version 2.0.0-rc5 Pre-release)
I just want to estimate the theory training by practical example. Could I introduce a ABP-co

[2018-06-02 17:00] #3388 closed

[2018-06-03 03:17] natiki commented on #3405
@Bijayakumar1990 I also suggest you have a look at https://github.com/dotnet-architecture/eShopOnContainers and have a read of https://aka.ms/microservicesebook. The book will provide the overall guidance and you will then be able to see how to adapt ABP to what you need as ABP provides all the DDD, EventBus etc. referenced in the guide.

[2018-06-03 05:29] ghd258 opened #3459 "Upgrade to NET Core 2.1"
Upgrade to NET Core 2.1

[2018-06-03 09:50] acjh commented on #3459
Duplicate of #3444

[2018-06-03 09:50] #3459 closed

[2018-06-03 10:45] acjh commented on #2493
Fixed by https://github.com/dotnet/sdk/issues/1499 in .NET Core 2.1 SDK

[2018-06-03 10:45] #2493 closed

[2018-06-03 10:45] #2122 closed

[2018-06-03 20:36] biggyspender commented on #1762
See my comment [here](https://github.com/aspnet/Antiforgery/issues/115#issuecomment-394189218) to understand why this is a broken way of dealing with this.

[2018-06-03 23:12] hikalkan commented on #3447
Thanks for sharing this. Will have a look.

[2018-06-04 06:28] dotnetshadow opened #3460 "Username length validation error"
Hi there

Firstly a great job with this framework. I am trying to change the UserName length to 256. I've read many posts where it's suggested to override the UserName  StringLength. But for some reason it doesn't appear to work for me

**Your Abp package version.**
3.8.0
**Your base framework: .Net Framework or .Net Core.**
.Net Core
**Exception message and stack trace if available.**
Your reques

[2018-06-04 07:33] tamys commented on #3460
Hi, after changing the [StringLength(256)] did you performed migration update on db?

[2018-06-04 08:10] ryancyq commented on #3460
Did you change the value here [CreateUserDto](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Application/Users/Dto/CreateUserDto.cs#L14)?

[2018-06-04 08:28] ryancyq commented on #3452
Without language definition, how would the framework recognize the localization file for a particular language?

[2018-06-04 08:42] ryancyq commented on #3262
Seems like it is implemented in #3263

[2018-06-04 09:05] ismcagdas commented on #3262
@ryancyq thanks 😄

[2018-06-04 09:05] #3262 closed

[2018-06-04 09:40] ismcagdas commented on #2702
@hikalkan we haven't worked on this yet.

[2018-06-04 11:13] Xeevis commented on #3449
According to [migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#update-the-project-file-to-use-21-versions) and new templates this package should be versionless?

<PackageReference Include="Microsoft.AspNetCore.App" ~~Version="2.1.0"~~ />

[2018-06-04 11:20] baiyunchen opened #3461 "Navigation property 'Claims' on entity of type 'User' cannot be loaded because the entity is not being tracked."
Abp Version:3.6.2
.Net Core Version:2.1.0
Ef Core Version:2.1

When I upgrade to .net core 2.1, after the user login in, idle for a period of time (without any operation and not close browser), it will throw the following error:
[code]
![image](https://user-images.githubusercontent.com/10071911/40914799-30a61950-682c-11e8-9c33-b740938c0787.png)

![image](https://user-images.githubusercontent.com/1

[2018-06-04 11:49] reberinformatik commented on #3452
Note that the [documentation](https://aspnetboilerplate.com/Pages/Documents/Zero/Language-Management#localizing-a-text) says:
Name: Name of the language. This must be a culture code from [this list.](https://msdn.microsoft.com/en-us/library/ee825488(v=cs.20).aspx)
If specifying "de-CH" as a language, "de" should be the fallback culture even if not explicitely defined as `ApplicationLanguage`. Ther

[2018-06-04 14:10] ismcagdas commented on #3449
@alirizaadiyahsi could you check this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3449#issuecomment-394318881 ?

[2018-06-04 14:28] ismcagdas commented on #3458
@ltvan could you share a dynamic update sample code ?

[2018-06-04 15:39] #3449 closed

[2018-06-04 16:53] ismcagdas commented on #3349
@GameBelial sorry for my late response. I think this is not related to ABP but it is related to EF Core.

[2018-06-04 16:53] #3349 closed

[2018-06-04 16:54] ismcagdas commented on #3325
@XelaNimed have you figured out the problem ?

[2018-06-04 20:17] #3428 closed

[2018-06-04 20:17] #3435 closed

[2018-06-04 22:23] hikalkan commented on #1762
@biggyspender I read it and you're right. There is an edge case we should consider.

[2018-06-04 22:23] hikalkan opened #3463 "Redesign: Skip anti forgery validation for non browser clients"
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1762#issuecomment-394189466 and https://github.com/aspnet/Antiforgery/issues/115#issuecomment-394189218

[2018-06-04 22:24] hikalkan commented on #1762
Created an issue to follow it: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3463

[2018-06-04 22:34] hikalkan commented on #3461
Thank you for reporting this one. I could understand why it happens. I suppose there is a change in MS Identity 2.1 leads this case. Whatever, we will work on this and will fix it with the next version.

[2018-06-04 22:34] dotnetshadow commented on #3460
@tamys Yes I did do the migration
@ryancyq I tried your suggestion of updating CreateUserDto but got an internal server error

![image](https://user-images.githubusercontent.com/296247/40945250-4ceb54c6-689b-11e8-8f62-2a937ab9cb0f.png)

[2018-06-04 22:36] acjh commented on #3460
Check your Logs.txt.

[2018-06-04 22:41] dotnetshadow commented on #3460
When everything is set to length 32 everything works correctly

[2018-06-04 22:45] dotnetshadow commented on #3460
This the log file after trying to create a username with more than 32 character length
[Logs.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/2070207/Logs.txt)

[2018-06-04 22:51] dotnetshadow commented on #3460
I've just updated the log files to show that I have logged in, but fails when trying to create the user
[Logs.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/2070219/Logs.txt)

[2018-06-04 22:57] acjh commented on #3460
Try `new`-ing the property:

[code]

Related: #1274

[2018-06-04 23:02] dotnetshadow commented on #3460
@acjh Thanks, I tried that and still doesn't work. I noticed this issue in asp.net mvc full framework as well, something I think has changed recently where this is no longer working correctly.

I guess the easiest way to test this would be just download a new blank project and just try to change the username length and nothing else. Perhaps if someone is successful they could attach their solution

[2018-06-04 23:42] benrivero opened #3464 "Can't create new role, fresh installation"
I have been struggling with this on a project so finally try it with a fresh install...

With a fresh installation of Aspnetboilerplate using: ASP .NET MVC 5.X, Multi Page Web Application, Entity Framework and management pages (latest stable version)

I Download the project, unzip, install and update packages, configure database connection to local sql, run migrations. Everything ok. Run the appli

[2018-06-04 23:46] acjh commented on #3464
Check your Logs.txt.

[2018-06-05 00:03] benrivero commented on #3413
I was dealing with the "same" problem... I just can't figure what is... #3464

Can confirm that with a fresh installation the problem persist and is fixed with the code that @ismcagdas  suggest:
UnitOfWorkManager.Current.SaveChanges();
just after _
roleManager.CreateAsync(role)

Thanks!

[2018-06-05 00:05] benrivero commented on #3464
Thanks @acjh is fixed with this #3413

[2018-06-05 00:05] #3464 closed

[2018-06-05 07:38] ismcagdas commented on #3460
@dotnetshadow You also need to increase the length of 'NormalizedUserName' field of User entity and UserName field of UserAccount entity. Something like this;

[code]

[2018-06-05 07:38] #3460 closed

[2018-06-05 08:09] XunWind opened #3465 "[Question]How To Unit Test When Project has Multiple databases"
Hi,hikalkan:
    I have used Abp 3.5,EFCore,.netCore2.0. I have a problem with unit tests, I have Multiple databases in my project,How Can I add Unit Test for This project,I read the official TestDemo,but it's Single Database, i also read some similar questions such as #1763  #1437,but these are already a long time ago version,Effort is Move to SQLite or EFMemoryDatabase,I tried but it does not so

[2018-06-05 08:14] fengyeju commented on #2826
In my project, I use the following method to protect against XSS attacks.
See [https://stackoverflow.com/questions/44115979/automatically-htmlencode-strings-when-the-model-is-serialized-with-json-net](https://stackoverflow.com/questions/44115979/automatically-htmlencode-strings-when-the-model-is-serialized-with-json-net)
I Add these code in my project
[code]
And then in Startup.cs
[code]
Whether t

[2018-06-05 09:23] ltvan commented on #3458
The dynamic-insert is configured in Startup:
https://github.com/ltvan/NHibernate-PreUpdateSample

[2018-06-05 09:26] ltvan commented on #3458
You can also see the documentation:

https://github.com/nhibernate/nhibernate-core/blob/ad4c2ef101cbf8ba798220973f4f78dd795e0896/src/NHibernate/IInterceptor.cs

[code]

[2018-06-05 14:16] ismcagdas commented on #3458
@ltvan thanks, we will check it.

[2018-06-05 14:30] mkgn commented on #3450
Thanks!

VS managed to publish the app on Azure without any issues. Now the console shows below warning.

Loading failed for the <script> with source “https://formslk.azurewebsites.net/inline.0bb87e084468a59efa15.bundle.js”.
this occurs for
polyfills.398b6444425f98bb81e6.bundle.js, scripts.7034fd126f7e0d40a216.bundle.js and main.5b2346a740a43313f6d9.bundle.js.

checked on Chrome hoping to get a be

[2018-06-05 14:37] ismcagdas commented on #3450
@mkgn can you check if "inline.0bb87e084468a59efa15.bundle.js” file exists in your published website or not ?

[2018-06-05 16:28] brunobertechini commented on #1689
@natiki I am trying to do the same thing for Abp.

Maybe soon I can create a PR...

The first thing I am working on is to decouple IEventData from Domain Events. Creating an abstraction layer so we can have other systems publishing POCO messages in a queue delivery system (like rabbitmq or msmq) and then convert them to Abp DomainEvents for interoperation.

My first try is to use AbpEvent<POCOEven

[2018-06-05 16:32] brunobertechini commented on #3405
@Bijayakumar1990 Please keep in mind that one microservice should never *TALK* to another microservice in a synchronous way. This creates runtime coupling.

Authentication is a per-se miroservice (for example using IdentityServer).

There is a lot of buzz in internet around microservices, but I believe you need to look into SOA Done Right and posts by Udi Dahan (www.udidahan.com) instead of think

[2018-06-05 16:36] brunobertechini opened #3466 "Difference beteween EventBus.Default.Trigger and TriggerAsync"
Hello there,

I would like to know if the internals of Trigger / TriggerAsync (EventBus) are only meant for async/await operations or they really behave like asynchronous operations.

I can see #2691 is about having an async event handler with async/await operations without using GetAwaiter().GetResult, which is good.

My question is more like: why this test fails ? Since trigger async should be,

[2018-06-05 17:11] jkubisiowski commented on #3369
I had the same problem, external authentication would end up with

`Mvc.ExceptionHandling.AbpExceptionFilter - There is no such an entity. Entity type: Bilbo.Authorization.Users.User, id:
Abp.Domain.Entities.EntityNotFoundException: There is no such an entity. Entity type: Bilbo.Authorization.Users.User, id: `

Then funny thing is that this fails only on my production environment, while on local m

[2018-06-05 18:38] ryancyq commented on #3466
From my understanding, seems like you are expecting `TriggerAsync()` to work like **fire-and-forget** but the actual implementation does not work that way.

For example,
[code]
We are excepting when the execution hit `line 3` all event handlers must have been triggered and completed synchonorously during the `Trigger()` call.

This goes the same for `TriggerAsync()`.
[code]
When the execution hit

[2018-06-05 22:53] dotnetshadow commented on #3460
@ismcagdas Thanks for your feedback, I tried what you suggested but this does not work, could you please leave the issue opened until it's verified that it is working

Please use the following workflow to ensure that it is working correctly

**Steps to Reproduce**

1. Download .NET Core version of ABP
![image](https://user-images.githubusercontent.com/296247/41006841-83a16372-6966-11e8-8a53-18e519

[2018-06-06 02:41] mkgn commented on #3450
Oh! I missed to give that piece of information.

Ok, so few related to these files.

1) Monitoring the network in console gives a 200 but returns below HTML

<!doctype html><html lang="en" dir="ltr"><head><meta charset="utf-8"><title>Forms</title><base href="/"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" n

[2018-06-06 07:29] ismcagdas commented on #3450
@mkgn probably this is related to an Azure configuration. Because it seems like script files exist on the server and added to index.html propertly using `type="text/javascript"`.

I suggest you to search this on the web why Azure doesn't send the script files to client.

[2018-06-06 07:32] ismcagdas commented on #3460
@dotnetshadow I thought you already changed the CreateUserDto accordingly, sorry.

I think `NormalizedUserName `doesn't exist in MVC 5 version.  Other than that, it should be similar.

[2018-06-06 07:36] alirizaadiyahsi commented on #3461
@baiyunchen Does error repeat? Did you get exception again or just once? How long are you waitig?

I can't reproduce this exception.

[2018-06-06 08:02] baiyunchen commented on #3461
@alirizaadiyahsi  The waiting time I did not calculate, probably after the automatic recovery process. This problem can be stably reproduced.

[2018-06-06 08:08] alirizaadiyahsi commented on #3461
Did you updated all packages? and project's target framework like following:

    <Project Sdk="Microsoft.NET.Sdk.Web">
        <PropertyGroup>
            <TargetFramework>netcoreapp2.1</TargetFramework>
    ...

[2018-06-06 08:11] baiyunchen commented on #3461
my ef.core project csproj file content:
[code]

[2018-06-06 09:50] mkgn commented on #2135
Thought to re-open this because I experience a similar problem. This is what I did.
1) First, went through [this](http://www.aspnetboilerplate.com/Pages/Documents/Notification-System#notification-data), [this](http://www.aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration) and [this](http://www.aspnetboilerplate.com/Pages/Documents/Javascript-API/Event-Bus) articles to make sure i

[2018-06-06 10:15] ahmedtolba1984 opened #3468 "How to extend IAbpSession by Adding more claims?"
Dear Guys,
I need to extend IAbpSession by adding more claims like UserName, CompanyId
@ismcagdas  @hikalkan @acjh

[2018-06-06 10:24] pantonis commented on #3355
Why can't this go to 3.7? I think it is a major defect

[2018-06-06 11:29] hikalkan commented on #3461
Hi,

As I can see in the stacktrace, `CookieAuthenticationHandler` is using `...Identity.SecurityStampValidator` (this is standard security stamp validator class of the Identity library).

However, ABP replaces this class by [AbpSecurityStampValidator](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/AbpSecurityStampValidator.cs).
So, normally your sta

[2018-06-06 11:34] hikalkan commented on #3355
We could not reproduce this yet. We will take this as a high priority issue to check after v3.7 release. We can release a hot patch if needed, so no need to wait the 3.7 release for this issue.

[2018-06-06 11:56] alirizaadiyahsi opened #3469 "Document Alert Manager and IPerWebRequestDependency interface"
- [x] UI Alerts
- [x] IPerWebRequestDependency

[2018-06-06 12:46] XelaNimed opened #3470 "How to mapping related collections?"
Hello. I'm use:
* Abp version 3.6.2.
* Base framework: .Net Core 2.0.
* ORM framework: EF Core 2.0.
* and [free startup template](http://aspnetboilerplate.com/Templates) for multi-page application with included management pages.

I had a problem with automatic DTO mapping of an object with collections. The point is that I want to use several interrelated entities as a single entity (something simi

[2018-06-06 12:57] XelaNimed commented on #3325
@ismcagdas Unfortunately I'm not understand how and when it happened. I can only assume that this happened during the installation or migration (possible wrong) to the database.

[2018-06-06 13:03] acjh commented on #2135
As per the [documentation](https://aspnetboilerplate.com/Pages/Documents/Notification-System), you need to subscribe to the notification name or publish to specific users.
The notification name on the server (your choice) is unrelated to the event name on the client (fixed).

[2018-06-06 13:14] acjh commented on #3470
It is possible. See #3393.

[2018-06-06 13:25] majidbigdeli opened #3473 "Change SecurityRequirementsOperationFilter"
context.ApiDescription.ActionAttributes Deprecated

please Change Class SecurityRequirementsOperationFilter to

[code]

[2018-06-06 13:51] XelaNimed commented on #3470
@acjh But you [say](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3393#issuecomment-390404219):  _"If you're using EF Core, it's not supported"_.
It may be better to implement this like [so](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/Users/AbpUserManager.cs#L412)? Will there be problems due to using `Guid` as the primary key?

[2018-06-06 13:57] acjh commented on #3470
You can try.

[2018-06-06 14:36] stromsky opened #3474 "Potential security issue in NotificationStore.UpdateUserNotificationStateAsync"
Current implementation of `NotificationStore` does not check whether the `userNotificationId` passed to `UpdateUserNotificationStateAsync` method actually belongs to the user that is trying to update the notification's state. This could be a security issue for most scenarios.

It would be good to at least add another overload for this method with extra `UserIdentifier` parameter to avoid breaking

[2018-06-06 15:15] ismcagdas commented on #3473
Moved to https://github.com/aspnetboilerplate/eventcloud/issues/23

[2018-06-06 15:15] ismcagdas commented on #3473
@majidbigdeli Thanks for your report.

[2018-06-06 15:30] mkgn commented on #2135
After you pointed out about subscribing to my event (raised at the server) I changed the code as below.

1) In one of my methods in server, I raise a general notification as in [this](http://www.aspnetboilerplate.com/Pages/Documents/Notification-System#publish-notifications) article (under publish notifications)

await _notificationPublisher.PublishAsync("mail.sent", new MessageNotificationData($"

[2018-06-06 15:40] acjh commented on #2135
By **subscribe**, I mean [subscribe to notifications](http://www.aspnetboilerplate.com/Pages/Documents/Notification-System#subscribe-to-notifications):

[code]

The notification name on the server (your choice — `mail.sent`) that you **subscribe** is unrelated to the event name on the client (fixed — `abp.notifications.receive`) that you **listen**. You didn't **subscribe**.

[2018-06-06 16:42] hikalkan commented on #3465
Hi,

You can use multiple dbcontextes in your unit tests. I suggest to use SQLite in memory database.

Such a code creates an inmemory database and creates tables for multiple dbcontextes:

[code]

Then you can get the returning connection and configure your dbcontextes. It's hard for me to create a complete working code for you, but you can take this as a starting point.

[2018-06-06 16:44] hikalkan commented on #2826
Thank you for sharing your solution. It seems reasonable but we should think on that.

[2018-06-06 16:49] hikalkan commented on #3466
You should `await` the TriggerAsync method. async/await is not for multi-threading, it's for using thread pool in an efficient way.

If you think that `await TriggerAsync` seems running synchronously, it's true for everything with await.

TriggerAsync does exists to allow to write async compatible event handlers and perform async/await inside the handler.

Am I missing something?

[2018-06-06 16:59] hikalkan commented on #3474
We are talking about this code:

[code]

I think nothing wrong with this code. Let me explain:

A store (data layer) should not access to the current user (IAbpSession) in ideal.
Upper layer (probably an application service) should check it. Because this is a "use case" depended authorization control.

For example, we may have another "use case" where an admin user is allowed to change state of an

[2018-06-06 18:19] viewtance commented on #3461
After upgraded to Abp v3.7, I also encountered this error, how to fix it? It blocked upgrade to Abp v3.7

[2018-06-06 19:33] chadsmith12 opened #3475 "Version 3.5.0 - Failing to Wrap Error Messages in Json."
**Version:** 3.5.0
**Base Framework:** .NET Framework, jQuery MVC
**Steps needed to reproduce:** Using the base template code provided for login, enter an invalid password for login. An HTML page is returned by the boilerplate and not a JSON with the error.

I can not get the boilerplate to return any UserFriendlyMessages, or really any errors for that matter, as a JSON. No matter how the request

[2018-06-06 19:37] hikalkan commented on #3461
@alirizaadiyahsi can you test this after upgrading to ABP v3.7? Thanks.

[2018-06-06 21:08] #3469 closed

[2018-06-06 21:51] ebicoglu commented on #3325
can you reproduce the problem? can we close the issue?

[2018-06-06 21:58] ebicoglu commented on #3393
you can ignore unmapped fields. see the handy extension method https://github.com/AutoMapper/AutoMapper/issues/1395.
and try to use [ObjectMapper](https://aspnetboilerplate.com/Pages/Documents/Object-To-Object-Mapping#iobjectmapper-interface) for friendly unit testing

[2018-06-06 22:55] ebicoglu commented on #2826
Is it just modifying Json outputs? what about the rest results? Like returning Content from an ActionResult?

[2018-06-07 00:34] dotnetshadow commented on #3460
@ismcagdas I just tried it on MVC5 but for some reason I can't get it working on that version, I think it has to do with the UserAccount Username, I will try a little later to investigate why the core one now works and the mvc5 version doesn't

[2018-06-07 01:13] baiyunchen commented on #3461
@ismcagdas Sorry, my English is very poor.

I mean is that for a long time no operations on the website. The server will recycle the process. When it is recycled, refreshing the page will throw an error.

But I'm not sure that the problem is due to the server recycling process,it just looks like it will be a problem after recycling.

[2018-06-07 01:37] ryancyq commented on #3475
Any stack trace for the exception?

[2018-06-07 01:44] baiyunchen commented on #3461
@hikalkan  my Startup.cs file code:
[code]
IdentityRegistrar Class Defined:
[code]
Where am I doing wrong?

[2018-06-07 05:26] ismcagdas commented on #3460
@dotnetshadow is there any error message on MVC 5.x in the Log file ?

[2018-06-07 06:03] stromsky commented on #3474
I am not suggesting to use IAbpSession in store, but extend the interface to be able pass the UserIdentifier.

Yes, this is possible use case, but still, 99% of real usage is that user which the notification belongs to says whether he read the notification or not. In this case there is no secure way to use IUserNotificationManager and ensure that current user is actually owner of the notification.

[2018-06-07 06:17] ismcagdas commented on #3461
@viewtance does it happen in development time or on the published website ?

@baiyunchen thank you for your explanation. I have published project to local IIS, then recycled the application pool but couldn't reproduce the problem. What happens when you manually recycle the application pool on IIS ?

[2018-06-07 06:50] viewtance commented on #3461
@ismcagdas It is an odd behavior, it happened in development environment, I tried many times it still throw the exception, but it didn't reproduce after clear the cache of the browser.

[2018-06-07 07:27] Greatsamps commented on #3461
Hi,

This is happening for us also after upgrade from 3.5.x to 3.7. We are using Kesteral hosting, so anything to do with IIS recycling can be discounted. (we are still in development only)

What i have found solves the problem is to delete all cookies and restart the browser, at this point you are asked to log in again, and all is well-- clearly not a production solution.

Will update if i learn

[2018-06-07 09:16] chauey commented on #1040
Is this still the recommended way? Or should we create a filter that merge/OR the current Tenant ID together with null? for the database per tenant approach, won't there be database reference integrity problems if the host/shared data is not in each database?

[2018-06-07 09:29] gentledepp opened #3476 "EntityFramework.Plus Integration"
As I recently stumbled across the fact, that EntityFramework.Plus is now MIT licensed and open source (https://github.com/zzzprojects/EntityFramework-Plus)
... I am wondering if there was any plan to integrate this framework into aspnet boilerplate?

Basically, the only conflict I see so far is the fact, that ABP uses a different library for dynamic filters.

Any thoughts on this?

Using EF Plus c

[2018-06-07 09:35] XunWind commented on #3465
@hikalkan Thanks,  I used SQLite in memory database,Now it's working.You can close this question.

[2018-06-07 09:43] #3465 closed

[2018-06-07 09:48] SkyvenXiong opened #3477 "mutlidatabase support different form multi tenant"
We want to use abp to upgrade our appliction to .net core .
in the old version ,we develop the framework ,As a replacement abp support the most features.
but in our framewok we have a dynamic sharding database in repository .
it is different from multi Tenant design.

in our business case ,
we have billion data .  we sharding data as province .
we want use different database in one request.

as yo

[2018-06-07 09:50] SkyvenXiong commented on #3477
this article about the desgin but it is chinese .... https://www.cnblogs.com/Skyven/p/7784397.html

[2018-06-07 10:38] mkgn commented on #2135
Ok, I think i am not getting the documentation right to my brain. What I am trying to do is to push a message to browser from the server ApplicationService when an email is sent successfully from the server.

So, to get myself clarified, if I can raise the event from the server (from inside a method in an ApplicationService like;
await _notificationPublisher.PublishAsync("event-name", new MessageN

[2018-06-07 11:20] maliming commented on #3461
It is very likely that for some reason there is no unit of work.

[2018-06-07 11:33] fengyeju commented on #2826
Oh, I'm sorry. I tried it just now, and found it didn't work for ActionResult. Maybe that's need found another way to solve it

[2018-06-07 11:42] Greatsamps commented on #3461
It has just happened.

Kesteral app running, logged in clicking stuff, then out of the blue it happened. The process had been working fine and returning data from the DB previously. Cleared cookies, logged back in, all good.

[2018-06-07 12:05] ismcagdas opened #3478 "IsLockoutEnabled always true for new users (ASP.NET Core)"
When creating a new user using AbpUserManager, IsLockoutEnabled is always true even if it is set to false on user.

[2018-06-07 12:13] acjh commented on #2135
If you don't specify userIds, ABP publishes to subscribers. If you don't subscribe, you don't receive.

I've already made clear the difference between **subscribe** and **listen**.
In fact, you don't even to **listen** on the client side because ABP does.
Can you _listen_ to what I've been saying and **subscribe** on the server?

[2018-06-07 12:23] Greatsamps commented on #3461
So it's happening quite regularly for me, no specific pattern yet. If there is something you would like me to check/debug into when it happens, please let me know... happy to help...

[2018-06-07 12:45] ismcagdas commented on #3461
@Greatsamps we are also tryting to find a pattern but couldn't manage until now.

@maliming error seems to be related to no unit-of-work but there is no such code when we look at the stack trace.

[2018-06-07 12:49] gentledepp opened #3479 "Question: Settings for tenants and users"
Hi!

Regarding the setting system, I have the following question:

I understand there are multiple levels at which settings can be defined.
And when using AspnetZero (the product), you get a settings UI that allows you to modify these.

Now we have scenarios, where there are settings for a specific tenant:
1) that the tenant should be able to change himself
2) that the tenant should not see at all

[2018-06-07 12:59] XelaNimed commented on #3470
Did not work out. Same error. I'm thinking more and more about the non-use of AutoMapper in such cases, but unfortunately there are many objects in the data model that have a similar structure.

[2018-06-07 14:10] chadsmith12 commented on #3475
This is using MVC5.

[2018-06-07 14:22] reberinformatik commented on #3476
I'm not a fan of it. We were using the [Audit-Part ](http://entityframework-plus.net/audit) of it. We ended up rewriting the library, as the extension points were not usable. Also some parts of the Audit trail are already implemented in AspNetBoilerplate. I everyone should decide on their own if using such a library (which is possible). Adding a dependency to the framework should not be necessary.

[2018-06-07 14:31] chadsmith12 commented on #3475
Here is the stack trace that does get printed out on the HTML page for the error:
The error is correct. I tried following the stack trace to see if I could figure out why it thinks it needs to return a HTML instead of a JSON in this request though I haven't been able to succeed.
[code]

[2018-06-07 14:31] jasonliaocn opened #3480 "swagger show can't parse JSON. Raw result:"
I just created a new project from the site the version is 3.8.0

If I run the API host project in the swagger page, I post a request for the IsTenantAvailable, the response tell me
"can't parse JSON.  Raw result:

[object Blob]".

I have not done anything to the code and it just a test.

the response header is
 Transfer-Encoding: chunked
 Content-Type: application/json; charset=utf-8
 Server: Kest

[2018-06-07 14:34] jasonliaocn commented on #3480
btw, previously in the version 3.6.0 the swagger json always have a BOM in the response thus cause a CORS issue in Azure. I have compared my version 3.2.0 and the 3.6.0 the only difference I found is the UTF-8 BOM in the response json.

[2018-06-07 15:40] hikalkan commented on #3477
In your case, you should replace [IConnectionStringResolver](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Uow/IConnectionStringResolver.cs) with your own implementation.

* Default implementation: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Uow/DefaultConnectionStringResolver.cs
* DbPerTenantConnectionStringResolver: https://gith

[2018-06-07 15:47] hikalkan commented on #3479
Hi,

`ISettingManager` is in the infrastructure layer. You will control it in application services. In this service, you can easily achieve what you want. Surely, I'm talking about a custom UI and application service method.

In AspNet Zero, we created a completely custom setting page to carefully control each setting.

So, for example, create a UI and app service method to allows to change a spec

[2018-06-07 16:40] ryancyq commented on #3475
Does a successful ajax call to `Login()` return the response in JSON?

Can you show attributes  added to this function?

[2018-06-07 19:46] chadsmith12 commented on #3475
Now that I am looking into it more I actually do not even see the success JSON for this ajax.

When the `Login()` is successful it will: `return Json(new AjaxResponse { TargetUrl = returnUrl });`
I went into Abp's ajax function and found the `handleResponse` and `handleTargetUrl` functions. I added `console.log` to each of these and even added a `debugger` though I'm not even seeing it hit that.
L

[2018-06-07 22:44] acjh commented on #3475
Check the error in Logs.txt.

[2018-06-08 00:42] maliming commented on #3461
@rigocl

The problem you encountered was the use of Microsoft's SecurityStampValidator.
Then call AbpUserClaimsPrincipalFactory replaced by ABP,
So lost the unit of work.

[2018-06-08 01:10] maliming commented on #3461
Identity 2.1 made some changes.
It re-registered with ISecurityStampValidator

[AddSignInManagerDeps](https://github.com/aspnet/Identity/commit/efe0c6be7b1847b2fa3f774ef85de5c8aa4493d4#diff-5ca2f3c7af7e58f9d50c0ca1ef30987dR34)

It covers AddAbpSecurityStampValidator<UserSecurityStampValidator>()

So only need to change the registration order can be solved.

[code]

[2018-06-08 02:49] 201606071111 opened #3481 "multi-language is not work in docker env."
I just created a new project from the site the version is 3.8.0

I run build-with-ng.ps and run abp/ng and abp/host in windows docker

when i change ui language from front angualr UI, only english is work, other language can't show correctly .

i work on win10, vs 2017

[2018-06-08 05:12] ismcagdas commented on #3481
@201606071111 which language have you tried ? Are there any other language working for you other than English ?

[2018-06-08 05:19] ismcagdas commented on #3475
@chadsmith12 what is the value of customErrors in the web.config ?

[2018-06-08 05:30] #3479 closed

[2018-06-08 05:34] 201606071111 commented on #3481
sorry, i test again , only zh-CN is not work .

[2018-06-08 05:46] 201606071111 commented on #3481
:), I found same question in this issue #3289

[2018-06-08 05:46] ismcagdas commented on #3481
@201606071111 it is fixed in https://github.com/aspnetboilerplate/module-zero-core-template/issues/254. You can apply same changes to your project.

[2018-06-08 05:46] #3481 closed

[2018-06-08 05:51] ismcagdas commented on #3480
@jasonliaocn does this happen locally or only on azure ? I couldn't reproduce it locally.

[2018-06-08 07:46] send2vinnie opened #3482 "Swap Dictionary with ConcurrentDictionary in InMemoryBackgroundJobStore"
Abp Version: 2.3
.Net Version: 4.6.1

Since InMemoryBackgroundJobStore is used as a shared service concurrently in the ASP.NET environment, so it should be using thread-safe ConcurrentDictionary to prevent InvalidOperationException while it's been accessed excessively.

[2018-06-08 08:13] PhilipWynn commented on #3460
I am also trying to resolve this issue on MVC 5.x. I have made the changes suggested, and am getting the following errors in the log file:

ERROR 2018-06-08 09:06:43,846 [9    ] loud.EntityFramework.IppexCloudDbContext - There are some validation errors while saving changes in EntityFramework:
ERROR 2018-06-08 09:06:43,847 [9    ] loud.EntityFramework.IppexCloudDbContext -  - UserName: The field U

[2018-06-08 08:38] mkgn commented on #2135
I am very sorry If my question(s) annoy you. It's just that my head was used to map with how I got a similar thing done with node + socksjs. In that I simply publish an event at server and any client code subscribe to that event and things simply works.

Anyway let me show my code sample in brief (what I did after your above comment).

I have a service done as AppService. In this I have the publis

[2018-06-08 09:18] hikalkan commented on #3461
Thank you very much @maliming for solving the problem. We will fix it in startup templates.

[2018-06-08 09:18] #3461 closed

[2018-06-08 09:19] dotnetshadow commented on #3460
@ismcagdas @PhilipWynn  Yes that's the exact error I'm getting too

[2018-06-08 09:28] XelaNimed commented on #3470
No ideas? Why does the call "CurrentUnitOfWork.SaveChangesAsync ()" and the use of a separate transaction have no effect?

[2018-06-08 09:49] ryancyq commented on #3460
@dotnetshadow you can try the approach in [EntityFrameworkCore/#4434](https://github.com/aspnet/EntityFrameworkCore/issues/4434#issuecomment-177172423) to debug the exact db error with details

[2018-06-08 09:58] dotnetshadow commented on #3460
@ryancyq yes I'm using this as a way to suppress the error by checking the message, ideally this shouldn't happen. Ironically the entry does go into the database, it's just a popup is shown indicating an error

**ERROR 2018-06-08 09:06:43,847 [9 ] loud.EntityFramework.IppexCloudDbContext - - UserName: The field UserName must be a string with a maximum length of 32.**

[2018-06-08 11:23] SergeyIlyin opened #3483 "ValueObject. Add an attribute check to ignore the property when comparing"
To ignore the service properties of a class ValueObject

[2018-06-08 12:15] jasonliaocn commented on #3480
for 3.8.0 the json parse issue happens in my local and azure.
for the 3.6.0 issue it actually happens on both but seems if I open the swagger api for local it will ignore the BOM. in azure it will not open but I can see the response start with the BOM.

[2018-06-08 12:19] jasonliaocn commented on #3480
@ismcagdas create a project from the template and try it 3.8.0
it works in Chrome but failed in Edge.

[2018-06-08 12:53] SergeyIlyin commented on #3483
1. Add same attribute. Example **_DiffIgnoreAttribute_**
[code]
2. Replace next code in **ValueObject.cs**
[code]
Is it ok?

[2018-06-08 14:01] ismcagdas commented on #3483
@SergeyIlyin what is the scenario you will be using such an attribute ? Could you share a code sample ?

[2018-06-08 14:04] ismcagdas commented on #3480
@jasonliaocn seems related to https://www.nuget.org/packages/Swashbuckle.AspNetCore but v3.8 already uses Swashbuckle.AspNetCore v2.4.

Could you upgrade to Swashbuckle.AspNetCore v2.5 and try again ?

[2018-06-08 14:16] acjh commented on #2135
Did you subscribe before publishing? Is subscription savee in DB?

[2018-06-08 17:36] SergeyIlyin commented on #3483
In Entity, the collection of the ValueObject. In my case, a collection of references to another aggregate.
The database uses a separate record for the for every references  (Many-to-many).

What would be easier to update the service fields (row_created_date, row_guid (alternative kei), etc.), they are can be declared explicitly, but do not participate in comparison.

This proposed possibility is n

[2018-06-08 18:13] hitaspdotnet opened #3485 "Multi-Lingual Entities EF Core 2.x bug"
entity.Translations.Clear() response
System.NullReferenceException: Object reference not set to an instance of an object.

https://github.com/aspnet/EntityFrameworkCore/issues/8026

[code]

[2018-06-08 18:44] hitaspdotnet commented on #3477
take a look at my project ef layer (Multi connection and multi DbContext) available for using as multi tenancy
my repo is on alpha version but i haven't unfix-able issue on myEF project
https://github.com/HitaspSolutions/Hitasp.CMS/tree/master/src/Hitasp.CMS.EntityFrameworkCore

[2018-06-08 21:21] hitaspdotnet commented on #3485
I removed `virtual` and it's fixed!

[2018-06-08 21:21] #3485 closed

[2018-06-08 23:40] natiki commented on #3476
So a general question here. Has anyone successfully used EF-Plus with ABP? If so, are there any integration steps that had to be followed to use it? Perhaps we should extend the documentation to record any of the extension steps needed?

[2018-06-09 03:04] ahmedtolba1984 commented on #3468
Thanks, it works fine

[2018-06-09 03:04] #3468 closed

[2018-06-09 03:08] mkgn commented on #2135
Ah! Great blunder. No it's not saved in the db. Because I haven't used INotificatioinStore! I was under the impression that there is a default in-memory pub/sub setup!!!!

Ok, so let me see whether I get this right.

1) I need to implement INotification store first? (since it's not implemented in free version?)
2) Register the entity in DbContext and then also register for DI?
3) Then only I can p

[2018-06-09 03:26] ahmedtolba1984 opened #3486 "Issue with multiple EF DbContexts:- Found More than one concrete type of a given DbContext"
Dear Guys @ismcagdas @hikalkan @acjh ,
My project contains a lot of bounded contexts and each one has its own **EFDbContext**, i have a base DbContext for all of them, the base has **DbSet of Auditor** which is shared on all bounded contexts but each context define it in  a separate table in its schema. My issue when i try to inject IRepository<Auditor> in any of my bounded context, i got an error

[2018-06-09 04:02] acjh commented on #3486
Show your DbContexts.

[2018-06-09 05:06] SergeyIlyin commented on #3483
#3487

[2018-06-09 12:00] ahmedtolba1984 commented on #3486
@acjh
This is my base DbContext
[code]
any my derived contexts inherits from, ex:-
[code]

[2018-06-09 13:18] ahmedtolba1984 commented on #3486
@acjh  any help for this issue

[2018-06-09 13:28] acjh commented on #3486
Put `[MultiTenancySide(MultiTenancySides.Tenant)]` or [`[DefaultDbContext]`](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1119) attribute on one.

[2018-06-09 14:35] ahmedtolba1984 commented on #3486
@acjh  Could you clarify more?
My Target is when any app service or handler in any domain injected IRepository<Auditor>, The Ioc should resolve the correct repository with the correct DbContext resolved, got it?

[2018-06-09 15:30] #3332 closed

[2018-06-09 15:30] #3331 closed

[2018-06-09 15:30] #3324 closed

[2018-06-09 15:30] #3348 closed

[2018-06-09 15:50] acjh commented on #2553
Related: https://github.com/aspnetboilerplate/module-zero-template/commit/3cf519ce89fa7db7fffdcb8ca01219487641ea36

[2018-06-09 16:00] acjh commented on #3159
@ktngoykalolo Is this resolved?

[2018-06-10 00:35] ahmedtolba1984 commented on #3486
@acjh also, your solution didn't work

[2018-06-10 05:30] natiki opened #3488 "Any plans for integrated GraphQL support?"
Hi,

Was wondering if anything to do with integrating GraphQL (https://graphql.github.io/) to application service stub generation was being considered?

[2018-06-10 13:35] dejancg opened #3490 "SignalR issue after updating to 3.7.0"
Hi,

after updating ABP to 3.7.0, I receive this message in Chrome console when loading the application:
`Connected to SignalR server!
signalr.min.js:13 Warning: Invalid message type: {"error":"An unexpected error occurred during connection handshake."}
ConsoleLogger.log @ signalr.min.js:13
HubConnection.processIncomingData @ signalr.min.js:13
HubConnection.connection.onreceive @ signalr.min.js:1

[2018-06-10 13:54] hikalkan commented on #3488
No yet. But this is one of the topic we want to work on in the future.

[2018-06-10 13:54] #3488 closed

[2018-06-10 13:56] maliming commented on #3355
It's easy to reproduce this exception.

`HomeController`
[code]
[code]

![chrome console](https://user-images.githubusercontent.com/6908465/41202241-b33e3b6a-6cf8-11e8-852a-86b21187eb9e.png)

[2018-06-10 14:06] acjh commented on #3490
Check [aspnetboilerplate/module-zero-core-template#248 (files)](https://github.com/aspnetboilerplate/module-zero-core-template/pull/248/files).

[2018-06-10 15:08] acjh commented on #3490
And [aspnetboilerplate/module-zero-core-template#264 (files)](https://github.com/aspnetboilerplate/module-zero-core-template/pull/264/files).

[2018-06-10 16:35] brunobertechini opened #3491 "Retrieve SQLConnection from CurrentUnitOfWork"
Hello there,

Is there anyway to retrieve the underlying SqlConnection from CurrentUnitOfWork so I can plugin external code in the same transaction ?

Im integrating Abp with Rebus using SqlServer Transport and I need a way to make both enlist in the same transactions.

The only way Rebus can do that is by providing a SqlConnection factory , but I need to have access to the underlyting SqlConnecti

[2018-06-10 18:37] hitaspdotnet commented on #3486
@ahmedtolba1984 when you have dbContext with same table you need to assign one of them as default dbcontext as mr @acjh  said put `[DefaultDbContext]` attribute on your default context. I can see your dbContexts but I hope you knowing you cant have similar table per dbContext, so if you fetch your subDbContext from BaseDbContext then your BaseDbContext must inherit from AbpDbContext. If you want t

[2018-06-10 19:09] dejancg commented on #3490
So basically, update these in package.json:
`"@aspnet/signalr": "^1.0.0",
...
"abp-web-resources": "^3.7.0",
`

Thanks buddy!

[2018-06-10 19:09] #3490 closed

[2018-06-10 22:19] brunobertechini commented on #3491
Another option will be create a Rebus Action filter (in my words) to wrap every appservice calls.

How can I have my own UnitOfWork implementation attached to default  UoW from Abp ?

Bruno

[2018-06-10 22:35] acjh commented on #3491
Inject `IActiveTransactionProvider` and call `GetActiveConnection`.

[2018-06-11 04:24] YaghoubJalali opened #3492 "boilerplate middleware api between application service and remote system"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2018-06-11 04:32] YaghoubJalali commented on #3492
I'm evaluating the ASP.NET Boilerplate framework to implement my project in .Net Core.
I have a requirement that consists of avoiding direct calls from web project to Application because I want to host API on server aaa that answers the remote request and my web project will be host on server bbb. Also API server should answer request that come from server ccc.

For this scenario, how can I do it

[2018-06-11 04:34] #3492 closed

[2018-06-11 04:37] YaghoubJalali opened #3493 "ASP.NET Boilerplate middleware api between application service and remote system"
Hello there,
I'm evaluating the ASP.NET Boilerplate framework to implement my project in .Net Core.
I have a requirement that consists of avoiding direct calls from web project to Application because I want to host API on server aaa that answers the remote request and my web project will be host on server bbb. Also API server should answer request that come from server ccc.

For this scenario, how

[2018-06-11 05:28] ismcagdas commented on #3493
@YaghoubJalali If you want something like this;

Web App -> A Proxy Service -> API Service

Then, you need to implement a proxy service which contains all methods of API Service and redirects requests between API Service and Web App. I just wanted to write this becaue I couldn't be sure which one you are asking for.

[2018-06-11 05:29] ismcagdas commented on #3492
duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3493

[2018-06-11 05:49] #2553 closed

[2018-06-11 06:09] YaghoubJalali commented on #3493
Thanks a lot for your guidance.

Point that I Created own project with Free Startup Template.
Depending on your advice:
1)First I have to implement Proxy Service via .NetCore Api
2)Add Reference to Application Layer on it.
3)declare all method of application layer in my Proxy Service.
5)host Proxy Service on a specific address.

6)Create another web application like MyApp.Web.Mvc.
7)host MyApp.Web

[2018-06-11 06:13] ismcagdas commented on #3493
@YaghoubJalali if you are using MVC yes. You can also create a new project named *.Application.Contracts and move interfaces in the *.Application project to this project and use it in both *.Application and your new Proxy Service.

The biggest problem in MVC project will be AccountController I guess. Instead of using cookie authentication you can use token authentication. You can check TokenAuthCo

[2018-06-11 06:28] ismcagdas commented on #3460
@dotnetshadow probably this is the UserName field of another entity. Which entities have you configured to have a length for Username greater than 32 ?

[2018-06-11 06:33] ismcagdas commented on #3470
@XelaNimed try like this; This is related to Entity Framework, not ABP actually.

[code]

[2018-06-11 06:50] ismcagdas commented on #1040
@chauey actually ABP doesn't provide a way for sharing data between Tenants. IMayHaveTenant and IMustHaveTenant have different purposes. So, you can make a custom implementation using Guids if you want to share data between Tenants but we don't suggest to share data between Tenants because it is not a good practice in a multi tenant application.

[2018-06-11 06:59] ismcagdas commented on #2135
@mkgn INotificationStore is implemented https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Common/Notifications/NotificationStore.cs

[2018-06-11 07:11] SkyvenXiong commented on #3477
I want use different connectionstring in each repository's action call. not mvc action.

In some call ,this is not have httprequest, so i can not set httprequest value . like background working.
so it may not in http enviroment .

I can imitate,in the action call ,I can get the coden(use repository's action  parameter 's property to calc an value to mapping to a connectionstring).then set it in a

[2018-06-11 08:13] #3478 closed

[2018-06-11 09:36] PhilipWynn commented on #3460
@dotnetshadow I am using AsnetZero MVC. I have applied the following UserName length changes to the context:

modelBuilder.Entity<User>().Property(u => u.UserName).HasMaxLength(256);
modelBuilder.Entity<UserAccount>().Property(u => u.UserName).HasMaxLength(256);

I can confirm that both fields are now set to nvarchar(256) in the database.
However, still getting the following error when trying to a

[2018-06-11 09:57] natiki commented on #3488
@hikalkan do you have any form of roadmap / features to come? I know this has been asked in the past. It might also be worthwhile in terms of what people would like to see next. I realise that this is the free side of the equation so it would be more a guide than anything else.

[2018-06-11 09:59] natiki commented on #3493
You may also want to check out https://github.com/ThreeMammals/Ocelot which you could place as an API proxy in front of your ABP service layer.

[2018-06-11 10:38] hikalkan commented on #3488
Hi,

We are currently redesigning the framework (by also considering all current features one by one) to be **more**:

* Microservice focused/compatible
* Modular
* Extensible

And also designing new features like

* Advanced Modularity (including UI)
* Theming (and free & paid themes)
* Bootstrap based tag helpers for MVC (including dynamic forms where you just provide your view model class and i

[2018-06-11 10:55] jamesatgithub opened #3494 "custom TenantStore issue"
I had a Abp Core 3.6 project without ModuleZero, but the DomainTenantResolveContributer is needed, so I tried to implement a custom TenantStore as per this  https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy

In PreInitialize() I added:

`Configuration.ReplaceService<Abp.MultiTenancy.ITenantStore, MyTenantStore>();`

MyTenantStore looks like this:

[code]
but the error is like below which

[2018-06-11 11:41] brunobertechini opened #3495 "Extension point to Create AbpSession without using default httpcontext accessor"
Hello there,

How can I intercept/extend AbpSession Creation when I am not in a WebRequest ?

I am receiving a message from a ServiceBus (Rebus for example) and I need to build the AbpSession using TenantId, UserId etc from message headers.

I believe I can use one custom acessor to create the session but I would like to know where is the right extension point to hook into

Thanks a lot

Bruno

[2018-06-11 11:43] ismcagdas commented on #3495
@brunobertechini what about https://aspnetboilerplate.com/Pages/Documents/Abp-Session#user-identifier ?

[2018-06-11 12:50] XelaNimed commented on #3470
@ismcagdas Many thanks for your reply, but still there is an error:

At the moment I solved this problem as follows (below is an example of implementation for a `Company` with similar entities relations).

AutoMapper profile:
[code]

Update method in application service:
[code]

Repository extension:
[code]
It is possible that such code is not optimal or violates any principles. In this case, I wi

[2018-06-11 12:54] brunobertechini commented on #3495
@ismcagdas Thank you for your time, but Im looking how to create a scoped Session inside a custom pipeline not started by Abp.

Where is the AbpSession created? Is it inside the UnitOfWork.Begin ?

How can I use IAmbientScopeProvider and make sure my custom session (only for this pipeline) gets the same instance when resolved ?

The goal is:

A pipeline of message processing is started by a servic

[2018-06-11 12:55] brunobertechini commented on #3491
@acjh Thank you I will give it a try