[2020-12-12 04:22] bxjg1987 commented on #5921
I have made a project (DLL), which is independent and does not depend on abp, because I hope it can be used in non-abp projects. It uses HttpClient and Options mode in asp.net core. Their dependency injection is implemented by extension method on IServiceCollection, similar to: service.addhttpclient (..) service.Configuration(...) ;

And this DLL has some services that I customize, so I also provi

[2020-12-12 05:28] #5868 closed

[2020-12-12 05:30] #5921 closed

[2020-12-12 05:35] maliming commented on #5929
Please don't share the screenshot. It won't help！

Please share the formatted code and detailed explanation and steps.

[2020-12-12 06:13] #5797 closed

[2020-12-12 07:52] RobersonLuo commented on #5632
I think you all thought too much!
The point is is how to get the files from the method of the class XXXAppService which derived from ApplicationService, not from the XXXController which derived from AbpController or Microsoft.AspNetCore.Mvc.Controller.
So just remember the HttpContext/HtttpRequest/HttpResponse!!!

solution:  So just inject httpContextAccessor in the class XXXAppService will achive

[2020-12-12 08:02] lockcd commented on #5634
pls Move to System.Text.Json

[https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0)

[2020-12-12 08:12] RobersonLuo commented on #3613
solution: inject httpContextAccessor in the class XXXAppService.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-5.0

Here is my codes, wish will help you!

------Server side (ABP)--------------
[Route("api/")]
public class XXXAppService : ApplicationService
{
private readonly IHttpContextAccessor _httpContextAccessor;
public XXXAppService(IHttpContextAccesso

[2020-12-12 10:56] ibalmaci commented on #5925
.Net Core MVC pack, 5.8.1 and higher versions...

[2020-12-12 12:26] ismcagdas commented on #5925
@ibalmaci thanks, we will fix this.

[2020-12-12 12:28] ibalmaci commented on #5925
@ismcagdas thanks. I tried and I saw that it is working...

[2020-12-12 13:15] #5826 closed

[2020-12-12 13:17] #5667 closed

[2020-12-12 19:10] isbullaml commented on #5925
Hi, @ibalmaci
Is this fixed? I would love to work on this if not.

[2020-12-12 21:41] ibalmaci commented on #5925
Hi @isbullaml , yes, it's fixed with following commit.
#5932
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5932

[2020-12-13 02:46] maliming commented on #5634
`System.Text.Json` still has some features to be implemented.

Wait for dotnet/runtime#36785

[2020-12-13 09:00] acjh commented on #798
The base constructor accepts an argument of type `IRepository<OrganizationUnit, long> repository`.

[code]

See also: https://docs.aspnetzero.com/en/aspnet-core-mvc/latest/Extending-Existing-Entities#extending-non-abstract-entities

[2020-12-13 12:20] ismcagdas commented on #5934
@dumbelovic for exceptions Complete will not be called.

[2020-12-13 12:22] ismcagdas commented on #5933
@dolphinsd we mostly consider this when designing the entities but we will check it again, thanks.

[2020-12-13 12:56] ismcagdas commented on #5923
Thanks, we will check this problem.

[2020-12-13 13:00] ismcagdas commented on #5930
@munirhussain110 you can't make MyExternalAuthSource **abstract**. Could you remove abstract keyword and try again ?

[2020-12-13 13:04] ismcagdas commented on #5925
duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5877

[2020-12-13 13:04] #5925 closed

[2020-12-13 20:36] FirasKira opened #5935 "Arabic Date issue"
# Problem:
This is not a new problem, I faced this problem with Arabic dates before, and I asked you about it, and we solved it together!
Related issue #3561 .

Recently I upgraded from BP 4.11 to BP 5.14 (with .net core 3.1).
This problem appeared again! and I'm getting hijri dates in my application (After upgrade)!

* Abp package version: 5.14.
* Base framework: .Net Core 3.1.

# My implementati

[2020-12-14 08:31] maliming commented on #5403
Wait for https://github.com/abpframework/abp/pull/6624

[2020-12-14 09:35] #5821 closed

[2020-12-14 09:55] ismcagdas commented on #5883
done https://www.npmjs.com/package/abp-web-resources/v/5.4.0

[2020-12-14 09:55] #5883 closed

[2020-12-14 11:04] #5934 closed

[2020-12-14 11:05] dumbelovic commented on #5934
Yes. You are totally right.

[2020-12-14 11:46] ismcagdas commented on #5882
Done https://www.npmjs.com/package/abp-ng2-module/v/6.3.0

[2020-12-14 11:46] #5882 closed

[2020-12-14 11:46] #5884 closed

[2020-12-14 11:49] ismcagdas commented on #5913
Resolved via https://github.com/aspnetboilerplate/abp-ng2-module/commit/71b24dd81aa119b61ab73a1830f9d0808a3ce150

[2020-12-14 11:49] #5913 closed

[2020-12-14 11:56] ismcagdas commented on #5403
This should be fixed by https://github.com/aspnetboilerplate/aspnetboilerplate/commit/3f3305940310abaaf38fcab0cb2874ae6b47a8d2. We will test it for the next version and open a new issue if it is not fixed.

[2020-12-14 11:56] #5403 closed

[2020-12-14 12:37] #5866 closed

[2020-12-14 13:03] liyojose commented on #5923
Is there any quick fix for this issue, as we are unable to release my product.

[2020-12-14 14:20] dennisahlin commented on #5866
Hi @ismcagdas !
Cool that you are working on this, but the commit would only solve half the problem. It's still not possible (as far as I can tell) to extend the StaticRoleDefinition, right?

[2020-12-14 19:17] do-it-ger commented on #5930
@mariuscosareanu If you need a custom ldap implentation create your own ldap module based on the DefaultExternalAuthenticationSource:
https://github.com/do-it-ger/DoAspnetboilerplateLdap/blob/master/aspnet-core/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs

I implement Novel Ldap in this way:
https://github.com/do-it-ger/DoAspnetboilerplateLdap

[2020-12-15 09:55] Dresel opened #5938 "DefaultDbContextResolver does not invoke UseApplicationServiceProvider on DBContextOptions"
If a `DbContext` is registered via EF Cores `AddDbContext` extension method, `IServiceProvider` will be [passed](https://github.com/dotnet/efcore/blob/b970bf29a46521f40862a01db9e276e6448d3cb0/src/EFCore/Extensions/EntityFrameworkServiceCollectionExtensions.cs#L952) to the DBContextOptions object via `UseApplicationServiceProvider`.

This is at least required for logging, might be used for other th

[2020-12-15 10:49] flkeller opened #5939 "HangfireBackgroundJobManager change methods to virtual"
Currently it is not possible to override methods of HangfireBackgroundJobManager.

Default implementation BackgroundJobManager already has virtual method.

Please change methods to virtual. As a workaround just copy paste HangfireCode to own class and change as needed.

Thanks and best regards

[2020-12-15 11:59] Redyoung49 opened #5940 "ReplaceService not work in my project"
**abp version:** 5.2.0
**environment:** .net core 3.1 in cenos7

when i rewrite IClientInfoProvider with ReplaceService in mycoremodule  use this:

[code]

I want to get  ClientInfo.WebClientInfoProviderFix in MyAppService constructor with inject.

but I get HttpContextClientInfoProvider instance.
what's wrong?

[2020-12-15 17:42] acjh commented on #5866
You can. Are you facing any issues?

[2020-12-15 19:49] #5822 closed

[2020-12-15 20:01] #5935 closed

[2020-12-16 06:03] #5939 closed

[2020-12-16 08:06] dennisahlin commented on #5866
How? The `RoleManager` implements `AbpRoleManager<TRole, TUser>`, which makes it possible to replace the `Role` with a custom implementation, but I don't find anywhere where `StaticRoleDefinition` can be replaced in such a way?

I would imagine a solution would be to add a type argument on the `IRoleManagementConfig`, so it would be possible to replace the default one by CI configuration?

[2020-12-16 08:17] ismcagdas commented on #5940
Could you try this;

`Configuration.ReplaceService<IClientInfoProvider, WebClientInfoProviderFix>(DependencyLifeStyle.Transient);`

[2020-12-16 09:16] ismcagdas opened #5942 "Upgrade templates to ABP 6.1"
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnetboilerplate-templates
- [x] aspnet-core-template

[2020-12-16 09:28] #5646 closed

[2020-12-16 09:28] #5676 closed

[2020-12-16 09:28] #5825 closed

[2020-12-16 09:29] #5827 closed

[2020-12-16 09:29] #5829 closed

[2020-12-16 09:33] #5832 closed

[2020-12-16 09:34] #5841 closed

[2020-12-16 09:34] #5850 closed

[2020-12-16 09:35] #5867 closed

[2020-12-16 10:43] #5888 closed

[2020-12-16 10:43] #5899 closed

[2020-12-16 10:46] ismcagdas commented on #5908
@Beybit94 is your app accessible on the web ? If so, could you share your app's url ?

[2020-12-16 10:47] #5915 closed

[2020-12-16 10:50] ismcagdas commented on #5917
Closing as duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1434

[2020-12-16 10:50] #5917 closed

[2020-12-16 13:39] ismcagdas commented on #5929
@feigaogit could you also share modifications you have made on the template ?

[2020-12-16 13:40] ismcagdas commented on #5938
@Dresel thanks, we will check this.

[2020-12-16 13:44] ismcagdas opened #5943 "Review module-zero-core-template"
We will review the UI and information on the default page of the templates.

[2020-12-16 20:13] infowell10 commented on #1192
Oi Pessoal,
Estou encontrando esse problema e não entendi o que deve ser feito.
Já coloquei um database do zero, para depois criar minha estrutura de dados, porém recebi outra mensagem de erro "System.Data.SqlClient.SqlException: 'Instrução CREATE DATABASE não permitida em transação com várias instruções.'"

Quando referencio a um database já criado no SQL Server recebo este erro de "abp.abpexcept

[2020-12-17 04:16] Redyoung49 commented on #5940
I fixed use this
[code]
ReplaceService not work in coremodule but work in webhost module.
why ?

[2020-12-17 06:01] #5895 closed

[2020-12-17 07:23] ismcagdas commented on #5940
It works but your original approach doesn't make a replacement.

[2020-12-17 07:32] totpero opened #5944 "Exception: Timeout expired. The timeout period elapsed prior to obtaining a connection from the pool. This may have occurred because all pooled connections were in use and max pool size was reached."
Hi, I have aspboilerplate application with many users that have activities on this application.
If in the same time are many users authenticated I get exception.
The Boilerplate application is last version (.net5)
I found [this on stackoverflow.com](https://stackoverflow.com/a/670842/2327332) (In most cases connection pooling problems are related to connection leaks)
If i restart my IIS applicatio

[2020-12-17 07:44] ismcagdas commented on #5923
@liyojose we don't know what the problem is but we will work on it in a short time.

[2020-12-17 07:54] ismcagdas commented on #5944
@totpero could you try 6.1 ? It is just released today.

[2020-12-17 10:30] totpero commented on #5944
I will try, but to test if i will get this error i need to wait to connect many users at the same time.

[2020-12-17 10:32] ismcagdas commented on #5944
@totpero please wait for 6.1.1. There is a bug in 6.1.0. We will release 6.1.1 in a short time.

[2020-12-17 13:54] totpero commented on #5944
Ok 👍

[2020-12-18 07:20] bxjg1987 opened #5947 "Upgrade to asp.net5.0.1 what needs to be done?"
abp.6.1.1

[2020-12-18 07:47] demirmusa commented on #5942
@ismcagdas All done

[2020-12-18 08:21] scorpion86 opened #5948 "Using Stored Procedures, User Defined Functions and Views Sample Error"
With the version 6.1.1 we cant be able to access Context which is in EfCoreRepositoryBase. Example file link is below.
https://github.com/aspnetboilerplate/aspnetboilerplate-samples/blob/b4a1d185f613fab9e0d912382063d3fa965fff51/StoredProcedureDemo/src/Acme.PhoneBook.EntityFrameworkCore/Authorization/Users/UserRepository.cs#L100

[2020-12-18 08:28] maliming commented on #5948
hi

You can use `GetContext/GetContextAsync`.
[code]

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Repositories/EfCoreRepositoryBaseOfTEntityAndTPrimaryKey.cs#L35

[2020-12-18 08:30] hikalkan opened #5949 "The symbol package failed"
We got emails for all NuGet packages for the latest deployment:

The symbol package Abp.Web.Mvc 6.1.1 failed validation because of the following reason(s):

The checksum does not match for the dll(s) and corresponding pdb(s).
Your symbol package was not published on NuGet Gallery and is not available for consumption.

You can reupload your symbol package once you've fixed the issue with it.

[2020-12-18 08:32] scorpion86 commented on #5948
Thank you.

[2020-12-18 08:42] maliming commented on #5949
Same with https://github.com/abpframework/abp/issues/6702

[2020-12-18 08:47] Beybit94 commented on #5908
@ismcagdas https://test.portal.ioa.kz/

[2020-12-18 10:21] #5948 closed

[2020-12-18 13:55] marcrib opened #5950 "Alternative IdentityServer"
IdentityServer will be [paid](https://leastprivilege.com/2020/10/01/the-future-of-identityserver/), we need to find some alternative to openId

How about an OpenIdDict module?

[2020-12-18 14:17] maliming commented on #5950
See https://blog.duendesoftware.com/posts/20201210_community_edition/

[2020-12-18 14:23] marcrib commented on #5950
Limited for 4 clients

[2020-12-20 14:51] ismcagdas commented on #5950
@marcrib we haven't made a final decision but we will think about it. Thank you.

[2020-12-21 01:30] maliming commented on #5949
@ismcagdas
Maybe you can use dotnet cli to regenerate the symbol file and publish it again.

If the problem is still not solved, I will create a new package and try to troubleshoot the problem, but I currently have no ideas.

[2020-12-21 07:51] ismcagdas opened #5951 "Notifications being sent to deleted user accounts"
We should test this case.

[2020-12-21 08:42] ismcagdas commented on #1192
@infowell10 could you manually create your database and then run Migrator project in the solution to apply migrations ?

[2020-12-21 09:30] demirmusa opened #5952 "Nuke commands not working"
It looks like it closes itself
![image](https://user-images.githubusercontent.com/48536631/102761513-101ecf80-4388-11eb-8e34-02b48ab7a51c.png)

[2020-12-21 09:36] ismcagdas commented on #5866
@dennisahlin right, we should also consider this.

[2020-12-21 09:37] ismcagdas opened #5953 "Allow replacing StaticRoleDefinition"
Moved from https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5866#issuecomment-745878680

[2020-12-21 10:56] ismcagdas commented on #5947
@bxjg1987 could you be more specific ?

[2020-12-21 10:56] demirmusa opened #5954 "Use seperated config files for log4net"
* Add `log4net.Production.config`.
* Use `log4net.config` on non-production.
* Use `log4net.Production.config` on production.

![image](https://user-images.githubusercontent.com/48536631/102769771-2e8ac800-4394-11eb-8264-744264144ef8.png)

- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnetboilerplate-templates
- [x] aspnet-core-template

[2020-12-21 11:19] #5942 closed

[2020-12-21 14:03] demirmusa commented on #5944
@totpero Can you please confirm that the problem has been resolved?

[2020-12-21 15:25] acjh commented on #5866
Why do you need to replace it? Can you share a code example?

You can extend it:

[code]

[code]

[code]

[2020-12-21 19:21] totpero commented on #5944
For the moment I don't get this error, if the error is repeated i will report here.
Thanks.

[2020-12-22 07:19] acjh commented on #5952
I could not reproduce this, even on version 0.23.6.

Maybe update to 5.0.2 and try again.

[2020-12-22 07:35] ismcagdas commented on #5944
@totpero please reopen if you face this problem again.

[2020-12-22 07:35] #5944 closed

[2020-12-22 07:41] dennisahlin commented on #5866
Ah, yeah, you could do it like so. But it doesn't "feel" as good as if it was possible to replace the type used like roles are, then you don't have to do the awkward `as` thingy. Also, making StaticRoleDefinition replaceable should only require a few lines of code changes whilst making it easier for users to understand how to do it.

[2020-12-22 10:19] #5922 closed

[2020-12-22 19:59] demirmusa commented on #5952
![image](https://user-images.githubusercontent.com/48536631/102928184-591a7500-44a9-11eb-84fc-fa2bd254d756.png)
Am I doing something wrong?

[2020-12-23 07:58] sajasbana commented on #5793
@ismcagdas
is it possible to add this feature to next milestone?

[2020-12-24 05:07] SherdilPro commented on #5678
Server side is running and when I run nswag.bat it will open window and pointer starts blinking but do nothing..

D:\SoftBeats\MasterBranches\GCloud_Sales_Client\angular\nswag>"..\node_modules\.bin\nswag" run
NSwag NPM CLI
NSwag command line tool for .NET Core NetCore21, toolchain v13.3.0.0 (NJsonSchema v10.1.11.0 (Newtonsoft.Json v11.0.0.0))
Visit http://NSwag.org for more information.
NSwag bin

[2020-12-24 05:13] SherdilPro opened #5957 "nswag.cmd opens and stuck but do nothing"
### Server side is running but still refresh.bat do nothing.

D:\SoftBeats\MasterBranches\GCloud_Sales_Client\angular\nswag>"..\node_modules\.bin\nswag" run
NSwag NPM CLI
NSwag command line tool for .NET Core NetCore21, toolchain v13.3.0.0 (NJsonSchema v10.1.11.0 (Newtonsoft.Json v11.0.0.0))
Visit http://NSwag.org for more information.
NSwag bin directory: D:\SoftBeats\MasterBranches\GCloud_Sales_

[2020-12-24 05:13] SherdilPro opened #5958 "refresh.bat opens and stuck but do nothing"
### Server side is running but still refresh.bat do nothing.

D:\SoftBeats\MasterBranches\GCloud_Sales_Client\angular\nswag>"..\node_modules\.bin\nswag" run
NSwag NPM CLI
NSwag command line tool for .NET Core NetCore21, toolchain v13.3.0.0 (NJsonSchema v10.1.11.0 (Newtonsoft.Json v11.0.0.0))
Visit http://NSwag.org for more information.
NSwag bin directory: D:\SoftBeats\MasterBranches\GCloud_Sales_

[2020-12-24 05:23] maliming commented on #5958
Duplicate of #5957

[2020-12-24 05:23] #5958 closed

[2020-12-24 05:26] maliming commented on #5957
Are you running the backend (api) application?

* Steps needed to reproduce the problem.

[2020-12-24 05:28] SherdilPro commented on #5957
![image](https://user-images.githubusercontent.com/28043405/103063290-a5ad9f80-45d2-11eb-9464-80a30f994a0f.png)

check it server side response is 200

[2020-12-24 05:32] SherdilPro commented on #5957
I have Merged pull requests and added migration and updated database too. But I'm unable to figure out why this issue occurred.

[2020-12-24 05:41] maliming commented on #5957
Can you share a project that can reproduce the problem?

[2020-12-24 05:50] SherdilPro commented on #5957
I have to get approval to share project with you. but I'm trying to regenerate this otherwise I'll share my project.

[2020-12-24 09:36] DamienLaw commented on #2218
I'm using en-GB as the default language and in the Abp source, there isn't a language file for en-GB.
https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp/Localization/Sources/AbpXmlSource

When I tried to extend it using the Localization Source Name "Abp", I got the error
`There are more than one source with name: Abp! Source name must be unique!`

In my log file
`Message: Can

[2020-12-24 09:54] tanghaojie opened #5959 "Setting Store Not as expected"
* Your Abp package version 5.9.0
* Your base framework: .Net Core 3.1.

I need to customize setting store.
first: i implement setting entity and setting store, all code is copy from [Setting.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Common/Configuration/Setting.cs) and [SettingStore.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Z

[2020-12-24 11:42] RyanMennell commented on #3673
Any news on this topic?

[2020-12-24 16:44] DamienLaw commented on #5829
No I have not. It's not implemented. I'm thinking of switching to Serilog.

[2020-12-24 16:59] acjh commented on #5959
Do `t` (`ForApplication`) and `y` (`ForTenant`) contain the value that you expect?

If neither, then it could be a caching issue.
If `t` but not `y`, then it is likely overridden for `Tenant`.
If `t` and `y`, then it is likely overridden for `User`.

[2020-12-25 01:31] tanghaojie commented on #5959
neither correct, all return default.
i add breakpoint in each method of SettingStroe, find `ChangeUiTheme`  call methods, but `GetUITheme` not

[2020-12-25 02:16] acjh commented on #5959
Since you are using your own implementation of `SettingStore`, please create a repro project.

[2020-12-25 02:46] tanghaojie commented on #5959
Find out the problem.
Because of disable multi tenancy, call stack in [SettingManager](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/d6bdbba593392d874d52af749c2a91f6ca88773e/src/Abp/Configuration/SettingManager.cs) is:
[GetAllSettingValuesForApplication](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/d6bdbba593392d874d52af749c2a91f6ca88773e/src/Abp/Configuration/SettingM

[2020-12-25 03:10] acjh commented on #5959
Are you not using Module Zero?
https://aspnetboilerplate.com/Pages/Documents/Zero/Overall

[2020-12-25 04:08] tanghaojie commented on #5959
Not use all zero

[2020-12-25 06:34] demirmusa commented on #5957
You dont have to share your own project.  You may download a new project and make necessary changes to reproduce the problem.

[2020-12-25 11:08] SherdilPro commented on #5957
I already mentioned I don't know how this issue occurred and I'm still
trying to figure out.

On Fri, 25 Dec 2020, 11:34 am Musa Demir, <notifications@github.com> wrote:

[2020-12-26 08:12] SherdilPro commented on #5957
The bug is found.
There was a method that has a parameter of the whole entity which had a lot of object references like Customer, User, Employee, etc.
Main Bug was the Method Access Specifier. When its type was Public then swagger gets this Method and stuck in a Loop of parameters and its references.
By setting Access specifier to Private issue is resolved.
![Method Issue](https://user-images.gith

[2020-12-26 08:12] #5957 closed

[2020-12-26 08:53] #5947 closed

[2020-12-27 09:07] ismcagdas commented on #5793
@sajasbana thank you for the reminder, we will consider this issue for the next version.

[2020-12-27 12:42] ismcagdas commented on #3673
@RyanMennell added to 6.3 milestone.

[2020-12-28 04:04] hzicong opened #5960 "why Property Injection does not work"
[code]

use in my service:
public IQccConfiguration QccConfiguration { protected get; set; }

but QccConfiguration  is null

[2020-12-28 04:42] maliming commented on #5960
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-12-28 06:12] hzicong commented on #5960
It will work in web controller

1  abp 4.8.1
2  net core 2.2

`ERROR 2020-12-28 14:11:21,233 - ComponentActivator: could not proxy Qcc.Live.Application.User.LiveIMJoinUserAppService
Castle.MicroKernel.ComponentActivator.ComponentActivatorException: ComponentActivator: could not proxy Qcc.Live.Application.User.LiveIMJoinUserAppService ---> System.Reflection.TargetInvocationException: Exception has

[2020-12-28 06:14] hzicong commented on #5960
Is it related to IConfiguration?

[2020-12-28 06:41] maliming commented on #5960
**System.NullReferenceException: Object reference not set to an instance of an object.
   at Qcc.Live.Application.User.LiveIMJoinUserAppService..ctor(IRepository`2 respository, IRepository`2 totalRespository, IIocManager iocManager) in E:\Work\17QCC1.0\Live\Qcc.Live.Application\User\LiveIMJoinUserAppService.cs:line 48**

[2020-12-28 06:42] hzicong commented on #5960
line 48: var _systemSettings = QccConfiguration.GetJsonConfig<LiveSystemSettings>();

QccConfiguration is null

[2020-12-28 06:48] maliming commented on #5960
You can't use the service injected by property in the constructor, it has not been injected yet.

[2020-12-28 06:48] #5960 closed

[2020-12-28 08:48] acjh commented on #5959
Then implement `ITenantStore`.

[2020-12-28 08:54] acjh commented on #5952
I'm not sure how to reproduce this.

@matkoch Any suggestions?

[2020-12-28 10:58] matkoch commented on #5952
@acjh works for me on `dev` branch.

@demirmusa does it still happen today? Usually this is caused by internet connection issues, when the `dotnet-install` script is called. You can test this by adding some debug output to the `build` script. Theoretically we could add that by default, and print something like "Attempting download ...", but I would much more like the dotnet team to do that in the

[2020-12-28 12:26] cwsheng opened #5961 "API calls are sometimes time consuming"
Abp package version：v5.5
framework：.Net Core

Using Zipkin to monitor ABP interface is time-consuming and has a large extra consumption
Occasionally it takes a lot of time
What is the reason?

![image](https://user-images.githubusercontent.com/12130433/103214121-95871e80-494a-11eb-865c-967a7aa284f5.png)

[2020-12-28 13:29] maliming commented on #5961
We can’t evaluate based on that information.

[2020-12-29 00:39] worthy7 opened #5962 "[ngx] Implement getUserConfiguration() as a service instead of in app bootstrap"
I am currently trying to optimizing the landing page for our app. Since we have to do a few things (like for example, reset passwords, register etc) we can't just make a "dumb" landing page.

I tried to simply comment out the `getUserConfiguration` call, and my landing page still works fine, which means the settings it adjusted were not used.

I am wondering if it would be possible for us to try a

[2020-12-29 10:44] demirmusa commented on #5952
Hi @matkoch
Yes I am still having the same problem. I asked some of my teammates to check it out. They could not repeat this problem either. It seems like it happens only on my pc :).

I reinstall Nuke.GlobalTool but I still have the problem when I try to use it with command prompt.
I installed rider plugin. It works as expected when I use the plugin.

Does Nuke create any log file during the proc

[2020-12-29 10:50] demirmusa commented on #5952
Hi @matkoch
Yes I am still having the same problem. I asked some of my teammates to check it out. They could not reproduce this problem either. It seems like it happens only on my pc :).

I reinstall `Nuke.GlobalTool` but I still have the problem when I try to use it with command prompt.
I installed rider plugin. It works as expected when I use the plugin.

Does Nuke create any log file during the

[2020-12-29 13:00] #5954 closed

[2020-12-29 13:23] matkoch commented on #5952
The only thing it does is to execute the build.sh/ps1 file, so you could just add some debug output there and see from which command it exits. Then please let me know :)

[2020-12-29 13:57] demirmusa commented on #5952
Here is where the problem happends
![image](https://user-images.githubusercontent.com/48536631/103288799-c886ec00-49f6-11eb-97e2-3cb2a04a4392.png)

![image](https://user-images.githubusercontent.com/48536631/103288865-e9e7d800-49f6-11eb-8f64-933935a8df55.png)

[2020-12-29 13:59] acjh commented on #5952
Try removing `| Out-Null` to see the error output.

[2020-12-29 14:07] demirmusa commented on #5952
Still no output

[2020-12-29 14:30] matkoch commented on #5952
That part has been updated in https://github.com/nuke-build/nuke/commit/70d8855fc1f774829249c2461a1ce25b3fb14ee5

So what's missing is a `-Force` ... I recommend updating the bootstrapping scripts. Afaik, just make sure to keep the `Configuration` part.

[2020-12-29 14:49] demirmusa commented on #5952
Thanks @matkoch and @acjh , thanks solves the problems.
I created a pr about it

[2020-12-29 19:29] dolphinsd opened #5964 "There is no way to pass a proper cultureinfo to LocalizableString"
We came across the use case when LocalizableString used in background task with LocalizableMessageNotificationData

An issue is that background task might have a wrong cultureinfo, so it needs to be passed when message is created.
In example below, there is not way to pass a proper cultreinfo for LocalizableString
LocalizableString should have constructor that accepts CultureInfo object and uses i

[2020-12-29 19:38] #5952 closed

[2020-12-30 01:25] cwsheng commented on #5961
What can I offer you?

[2020-12-30 02:11] ryancyq commented on #5964
Duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5595

[2020-12-30 05:50] ismcagdas commented on #5961
@cwsheng did you investigate it on your side ? Maybe you can check your log file to see which part is taking longer than other parts.

[2020-12-30 06:47] tanghaojie commented on #5959
[code]

[2020-12-30 06:47] #5959 closed

[2020-12-30 14:23] greenlgy opened #5965 "[Question] Integrated Identityserver4 to achieve SSO （Unprotect ticket failed and AbpAuthorizationException）"
### Environment
* Basic framework: .NetCore 2.2
* Abp package version: AspNet Boilerplate 4.6
* Other: Identityserver4

### What i want to do
I have two ABP projects, called **_ABP-client-1_** and **_ABP-client-2_**.

Now I want to create a certification center project to allow _**ABP-client-1**_ and _**ABP-client-2**_ to achieve single sign-on.

So, I used AspNet Boilerplate to create a certifica

[2020-12-30 16:53] pavanupb opened #5966 "Authorize Attribute not working with AzureAD Authentication"
I am using the AspNet Boilerplate startup template for my application and trying to authenticate users using Azure AD. I am able to successfully authenticate the user from Azure AD. I also verified the JWT token received in [https://jwt.io/] and seems to be valid. For testing purpose, I decorated the UserAppService class with the `[Authorize]` attribute. Now when I call the GetRoles(), I am see an

[2020-12-31 01:20] maliming commented on #5965
hi

I suggest you try plain ASP NET CORE without abp first.

https://identityserver4.readthedocs.io/en/latest/quickstarts/2_interactive_aspnetcore.html

[2020-12-31 01:51] maliming commented on #5966
Can you check your token claims at https://jwt.io/ ?

Maybe it doesn't same with the https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Security/AbpClaimTypes.cs

[2020-12-31 03:19] greenlgy commented on #5965
Thank you very much for your answer.
I tried it, no problem, it can run correctly
* Server : abp + identityserver4
* Client : ASP NET CORE without abp

Is there any problem with the Asp boilerplate project as a client of IdentityServer4?
But I don’t understand why this happens. Could you please give me some guidance and suggestions?

[2020-12-31 04:27] maliming commented on #5965
You can check the claims of current identity.

Maybe it is not the same with https://github.com/aspnetboilerplate/aspnetboilerplate/blob/552c0240c44d9899c1209fb20eb48d35b17d5e54/src/Abp.ZeroCore.IdentityServer4/IdentityServer4/AbpZeroIdentityServerBuilderExtensions.cs#L28

[2020-12-31 08:46] greenlgy commented on #5965
I logged into the [ABP-Server] and [ABP-Client] systems separately, and monitored the [loginResult.Identity] parameter of the SignInAsync() method in VS.
[code]
The following is the monitoring result of the [Claim] object in [loginResult.Identity].

I found that the [Type] value of the [Claim] object is different in the [ABP-Server] and [ABP-Client] systems.
Such as [name] of [claim]
* ABP-Server

[2020-12-31 09:21] maliming commented on #5965
Can you check what is the default **AuthenticateScheme**  in your client project? which is should be `Cookies`.

[code]
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.iauthenticationschemeprovider.getdefaultauthenticateschemeasync?view=aspnetcore-5.0

[2020-12-31 10:05] pavanupb commented on #5966
This is what I see when I paste my token in [](https://jwt.io/)
![image](https://user-images.githubusercontent.com/38906373/103405545-cc7e4f80-4b57-11eb-86e5-fbcdfd458f4c.png)

[2020-12-31 13:35] Jeyaprakash-Github opened #5967 "Bearer and Google Authentication is not working"
Hi there,

I am using Bearer and Google Authentication in my asp.net boilerplate application. I'm trying to include one more authentication Msal Authentication. But, when I include this one, the other two is not working. We're hosting our application in GKE (Google Kubernetes Engine) in GCP (Google Cloud Platform). But, when we host this in IIS Server, all authentications are working fine.

Issue,

[2021-01-01 07:24] ismcagdas commented on #5967
@Jeyaprakash-Github if your app is working on IIS but not on Kubernetes, there is probably an environmental problem. You should check your log file carefully and try to find a clue about this problem. If you can find that, we can try to help you.

[2021-01-01 07:27] ismcagdas commented on #5966
@pavanupb how is your Azure AD login flow ? Do you create a local user after authenticating user via Azure AD and then login the local user automatically ?

[2021-01-01 07:44] pavanupb commented on #5966
No, currently I am not creating a local user after successfully authenticating from Azure AD. Does it work only if I create a local user in the sql database?. Can I not directly decorate my services with [Authorize] attribute?
Could you please let me know how to create a local user after successfully authenticating from Azure AD I was not able to find a proper documentation.

[2021-01-03 13:17] jack-polkie opened #5968 "ABPQuartz + UnitOfWork?"
Hello,
I am in the process of implementing some complex scheduled jobs into my API. I'm not sure if i'm setting this up correctly, but it seems that Quartz.net has to have some separate database setup scripts in order to work with the ADOJobStoreTX job store.

Since this goes around the object-relational mapping framework, would I be correct to assume that scheduling jobs does not follow the trans

[2021-01-04 06:58] ismcagdas commented on #5968
Yes, it should work like that. You can manually handle exceptions and delete the job.

I don't have much experience with Quartz, maybe its better for you to try a sample scenario and see how it acts.

[2021-01-04 07:40] greenlgy commented on #5965
I monitored the [options] object of the client project in vs. The DefaultAuthenticateScheme is not "Cookies" but "Identity.Application", as follows:

[code]

After I changed the code to the following, the [Unprotect ticket failed] error disappeared, but the [AbpAuthorizationException: Current user did not login to the application!] error still exists.
[code]
### log Exception
[code]
According to t

[2021-01-04 07:47] maliming commented on #5965
Can you share a sample project to reproduce the problem?

[2021-01-04 10:00] greenlgy commented on #5965
I shared a sample project to reproduce this problem, thank you very much for your help.

https://github.com/greenlgy/abp_ids/tree/master

[2021-01-04 11:51] jack-polkie commented on #5968
I understand. Thank you for your help

[2021-01-04 11:51] #5968 closed

[2021-01-04 12:41] worthy7 commented on #5805
Just want to revisit this, I just witnessed the same bug in a different project, the worrying thing is that in a unittest the delete was already visible, but on a live database (SQL Server) I had to put a `SaveChanges()` in to make it reflect the changes.

So the test environent for some reason reflected the updated and the delete straight away in the next repo call,
but a live server only reflect

[2021-01-04 12:42] worthy7 commented on #5805
(Above is on Abp 6.0.0)

[2021-01-04 13:30] worthy7 commented on #5805
Use the Repository to delete the user instead of the UserManager

[2021-01-05 07:40] ismcagdas commented on #5805
but a live server only reflected the update and not the delete, unless SaveChanges() was called.

@worthy7 could you share your test code ?

[2021-01-05 07:45] worthy7 commented on #5805
https://github.com/worthy7/module-zero-core-template/tree/bug-delete-doesnt-happen

[2021-01-05 07:46] worthy7 commented on #5805
Sorry, I couldn't actually isolate this case in the sample project, I will report again once I work out exactly how the test/live different bug happened.

instead the sample above is showing how the Repository.delete does not update instantly (doing a 'get' after a 'delete')

[2021-01-05 08:52] ismcagdas commented on #5966
A local user will be required. So, basically, you need to create a local user after verifying the token retrieved from Azure AD.

[2021-01-05 08:56] ismcagdas commented on #5908
@Beybit94 sorry for the delay. It seems like your website has some problems;

![image](https://user-images.githubusercontent.com/4133525/103626299-08952400-4f4d-11eb-949e-82196588d5a5.png)

[2021-01-05 11:42] Kasper888 opened #5969 "JWT & Authentication"
I'm wondering, why there is an encryptedAccessToken in the api/TokenAuth/Authenticate method? there is no documentation on this.
Also, the JWT is 1 day valid so:
- is it secure to have this long time JWT?
- what happen after JWT expiry? the client will have to re-login? also there is no refresh token.

[2021-01-05 12:39] maliming commented on #5969
`accessToken`: sent in header.
`encryptedAccessToken`: sent in URL for SignalR due to limitation of websockets. (https://github.com/aspnetboilerplate/module-zero-core-template/blob/565f1cdd98/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/Startup/AuthConfigurer.cs#L57)

The free startup template does not implement the refresh token feature.

[2021-01-05 15:58] tanghaojie opened #5970 "custom zero config"
* Your base framework: .Net5
hi,
I config zero in startup.cs
[code]
when use ` .AddAbpUserStore<AbpUserStore<Role, User>>()` ,cause circular dependecy exception.

![image](https://user-images.githubusercontent.com/14171892/103667478-f51ba480-4fb0-11eb-8627-d112200ee5fd.png)

if use `.AddAbpUserStore<UserStore>()` , work fine.

There must have an empty `UserStore` inherit `AbpUserStore` or more con

[2021-01-05 16:14] pavanupb commented on #5966
@ismcagdas Steps I have done so far
1. After authenticating from Azure AD, I have defined a end point in the TokenAuthController as a call back.
2. Using the received token, I am fetching the user details.
3. I am populating the AuthenticateModel with the user details and a randomly generated password. Next I am calling the Authenticate(AuthenticateModel) in TokenAuthController.
4. I have override

[2021-01-06 01:09] greenlgy commented on #5965
hi maliming, did you run my sample project and did it reproduce the problem?
I have been investigating this issue for the past two days, but it still has not been resolved.
There seems to be very little information on such issues on the Internet, especially for SSO.
Can you run the sample project and give me some suggestions? thank you very much

[2021-01-06 01:16] maliming commented on #5970
Yes. you can also custom the `AddAbpUserStore` method.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/552c0240c44d9899c1209fb20eb48d35b17d5e54/src/Abp.ZeroCore/IdentityFramework/AbpZeroIdentityBuilderExtensions.cs#L110-L115

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Core/Authorization/Users/UserStore.cs#L1

[2021-01-06 01:16] #5970 closed

[2021-01-06 01:21] maliming commented on #5965
What are the steps to reproduce the problem using your project?

[2021-01-06 03:47] greenlgy commented on #5965
hi maliming,The following steps will reproduce this problem

### DB Settings
1. Create SQLServer database, database name: MyAbpADb (can be modified)
2. Use MyAbpAdb.sql to import the initialization data
3. Modify the "ConnectionStrings" property in the following file, change the database configuration (database Server IP, user, password, name), Server and Client use the same database.
    * Server

[2021-01-06 04:08] worthy7 opened #5971 "[Docs] No info about meaning of "change type""
https://aspnetboilerplate.com/Pages/Documents/Entity-History#complex-type-properties

What is a Change Type? In the database I see a number, but no explaination about how it works.

[2021-01-06 05:54] ismcagdas commented on #5971
@worthy7 it can have Created, Updated or Deleted values but it is better to mention about it in the docs.

[2021-01-06 06:14] maliming commented on #5965
Try to add below code to your client application.
[code]

[2021-01-06 06:21] #5969 closed

[2021-01-06 07:09] #5965 closed

[2021-01-06 11:53] sdjaberi commented on #4724
@ImanBahrampour
I am realized that in new version of Automapper you must declare a attribue above your EntityDto class like this:

[AutoMap(typeof(Geolocation))]
public class GeolocationDto
{
    public float latitude { get; set; }
    public float longitude { get; set; }
    public int radius { get; set; }
    public string unit { get; set; }
}

[2021-01-06 13:31] iamseanduffy opened #5973 "Navigation Property missing from UserOrganizationUnit entity"
.net core
ABP v5.14

The linking entity UserOrganizationUnit has no navigation property for OrganizationUnit.

In order to establish membership within an hierarchical OU it is necessary to have access to the OU 'Code' not the 'Id' property.

The absence of such a property means that (for example) when creating a user claim it is necessary to run a second query to obtain the codes linked to the OUs

[2021-01-06 13:38] deepakkumarbarik opened #5974 "Both 'TenantFeatureSetting' and 'EditionFeatureSetting' are mapped to the table 'AbpFeatures'. All the entity types in a"
* Your Abp package version. 6.0
* Your base framework: .Net Framework or .Net Core. .net core
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.
*
Added the below code in testDbContext.cs file.
protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            base.OnModelCreating(modelBuilder);

            modelBuilder.ChangeAbpTableP

[2021-01-06 13:44] acjh commented on #5974
Duplicate of #5877

[2021-01-06 14:30] tanghaojie opened #5975 "Security stamp take no effect on JWT?"
After call `_userManager.ChangePasswordAsync(user, input.NewPassword);`
AbpUser.SecurityStamp has changed, but old jwt token still authentication success.

[2021-01-06 14:32] DK30 opened #5976 "To show the dropdown as selected item , from the database Dotnet MC entity framework"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-01-06 14:39] maliming commented on #5975
This has nothing to do with abp.

[2021-01-06 14:39] #5975 closed

[2021-01-07 01:16] worthy7 commented on #5961
Does this happen on the 2nd and 3rd time too? It's its only occasaionally, it is likely some kind of startup of the server on first request. Dot net server's don't do much until the first request comes in.

[2021-01-07 06:47] #5949 closed

[2021-01-07 14:51] #5976 closed

[2021-01-07 14:51] ismcagdas commented on #5976
@DK30 please properly explain your problem and how it is related to AspNet Boilerplate.

[2021-01-07 15:56] maxbaki commented on #4711
Hi @alaawahbah i've tried to implement Angular Universal with abp.js following yours suggestions but without success.

To support abp.js with our source code for SSR, we need to insert "jsdom" package and import it to server.ts as per below.
/ server.ts /
const jsdom = require('jsdom');
const { JSDOM} = jsdom;
global['window'] = (new JSDOM(``, {
    pretendToBeVisual: true
})).window;

require('ab

[2021-01-07 17:08] uppercuut opened #5978 "AbpValidationException returns 500 instead of 400"
async public Task<int> Insert(CreateAdvertisementDto createAdvertisementDto)
        {
            int userDetailId = int.Parse(Helpers.TryGetClaimValue(_httpContextAccessor, Consts.UserDetailsClaim));
            using (var connection = new SqlConnection(_configuration.GetConnectionString(Consts.ConnectionStringName)))
            {
                    var advertisemenId = await connection.QueryF

[2021-01-07 17:12] ryancyq commented on #5978
EntryPointNotFoundException is a system error https://docs.microsoft.com/en-us/dotnet/api/system.entrypointnotfoundexception

it shouldn’t be 404.

It would be better if you could share your stacktrace as well

[2021-01-07 17:19] uppercuut commented on #5978
@ryancyq
i updated the question

[2021-01-08 01:24] greenlgy commented on #5965
Thank you very much, this can solve my problem.

[2021-01-09 01:12] osalas891123 commented on #5677
@ismcagdas @maliming  Has this a release date?

[2021-01-09 09:19] #5978 closed

[2021-01-10 14:18] easyest opened #5979 "DynamicEntityProperty EntityFullName field"
Please add `StringLength` attribute. ATM it is added in the template db context `OnModelCreating`. The migration made after ABP upgrade does not update, because `System.Data.SqlClient.SqlException (0x80131904): Column 'EntityFullName' in table 'dbo.AbpDynamicEntityProperties' is of a type that is invalid for use as a key column in an index.`

[2021-01-10 21:31] maxbaki commented on #4711
Hi i'm be able to fix issues.

In angular.json to fix canvas error is possible to declare as external dependencies.

"server": {
"builder": "@angular-devkit/build-angular:server",
"options": {
"progress": false,
"externalDependencies": [
"canvas"
],
"outputPath": "dist/instrument-catalog/server",
"main": "server.ts",
"tsConfig": "src/tsconfig.server.json",
"stylePreprocessorOptions": {
"includePat

[2021-01-10 22:27] Eddyhanderson commented on #3341
I have added the logging configuration as @neil-119  said.
[code]

And then, when i ran the app, i received the following message:

This happen when you have two or more lib referencing the same lib with different version. When this happen, just one of the version will be choosen by runtime locates assembly. For better explaination search: [](https://medium.com/@RupaniChirag/how-to-resolve-could-n

[2021-01-11 12:48] ismcagdas commented on #4711
Thanks @maxbaki, this will help others as well 👍

[2021-01-11 12:58] ismcagdas commented on #5979
@easyest thanks.

[2021-01-11 13:09] ismcagdas commented on #5677
@osalas891123 no, not yet. It is still in backlog.

[2021-01-11 15:06] alaawahbah commented on #4711
Hi and i am sorry for late
our solution is for angular version 8
thanks for Interact for every one

[2021-01-12 15:56] phija opened #5980 "Audit Log configuration to use custom Json serializer settings?"
Hi all,

We like the audit log of the abp framework and would like to use it, but: we pass complex objects in and out of our application services. More concrete: we have UnitsNet types inside which are not simply serializable by the default Json serializer settings.
This currently leads to exceptions being logged like
"System.InvalidCastException: Converting UnitsNet.ElectricCharge to System.Strin

[2021-01-13 01:15] maliming commented on #5980
hi

You can custom the **IAuditSerializer**.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Auditing/IAuditSerializer.cs#L3
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Auditing/JsonNetAuditSerializer.cs#L6

[2021-01-13 06:06] ismcagdas commented on #5943
There are some problems with the PR, so I'm moving the issue to next milestone.

[2021-01-13 07:18] phija commented on #5980
Thanks a lot, that works great! I guess I was mislead somehow by that other issue's comments...

[2021-01-13 07:18] #5980 closed

[2021-01-14 10:10] demirmusa commented on #5230
It is reported again https://support.aspnetzero.com/QA/Questions/9979/Real-time-notifications-not-working-when-an-EntityIdentifier-is-set

[2021-01-14 10:11] demirmusa commented on #5230
It is reported in https://support.aspnetzero.com/QA/Questions/9979/Real-time-notifications-not-working-when-an-EntityIdentifier-is-set. And their abp version is 5.2

[2021-01-14 11:14] alexandis commented on #3159
Where to import abp object from?

[2021-01-14 13:09] demirmusa opened #5983 "React template contains mvc's docker and build files."
`aspnet-core\build\build-mvc.ps1` file
`aspnet-core\docker\mvc` folder

[2021-01-14 14:38] aescg1220 opened #5984 "Entity history is broken when using composite foreign keys"
Our solution is utilizing composite keys for entities.  Most everything is overridable to support this, but there is a problem with a line in EntityHistoryHelper, which causes us to need to duplicate a large portion of the class (and some internal extension methods).

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/8d4841f9987708a2e77aea2f5867233da0010605/src/Abp.ZeroCore.EntityFramewo

[2021-01-14 15:02] ZoBoRf commented on #5050
The problem still exists for https://github.com/aspnetboilerplate/module-zero-core-template up to version 6.0.0 of the templates.

In `UserAppService.cs` I had to make the following changes to fix it:

[code]

and changed ChangePassword()` like this:

[code]

and `ResetPassword()`like this:

[code]

[2021-01-14 17:07] Jcook894 opened #5985 "UserListDto still references LastLoginTime"
-  Abp v4.6.0
 -  .Net Core

UserListDto still references LastLoginTime property, which was removed in [Abp version 4.2.0](https://github.com/aspnetboilerplate/aspnetboilerplate/releases/tag/v4.2.0).

This property is being referenced in the UserListExcelExporter service, causing it to insert empty data for that 'LastLoginTime' column.

I am using UserLoginAttempts to return the latest successful

[2021-01-15 06:20] greenlgy opened #5986 "[Question] Extending AbpSession in IdentityServer4, unable to obtain the data in the session."
### Environment
* Basic framework: .NetCore 2.2
* Abp package version: AspNet Boilerplate 4.6
* Other: Identityserver4

### Background notes
Two projects, Implemented SSO using IdentityServer4.
* abp-server project: responsible for identity authentication (as the server of IdentityServer4)
* abp-client project: mvc client (as a client of iIdentityServer4)

### Issues
I added additional information

[2021-01-15 06:57] ismcagdas commented on #5986
I think your server doesn't return this claim to client. You need to request it using;

`options.Scope.Add("RangeList");`

Then, you can check the retrieved token on https://jwt.io/ to see if it contains this claim or not.

[2021-01-15 07:34] ismcagdas commented on #5985
@Jcook894 is this related to AspNet Zero ?

[2021-01-15 07:49] #5983 closed

[2021-01-15 07:50] ismcagdas opened #5987 "ChangePassword problem on module zero template"
reported https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5050#issuecomment-760253052

[2021-01-15 07:51] ismcagdas commented on #5050
@ZoBoRf thanks, I have created a new issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5987.

[2021-01-15 07:55] ismcagdas commented on #5984
@aescg1220 current design requires an Id, see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5646#issuecomment-737307206

[2021-01-15 07:57] ismcagdas commented on #3159
@alexandis if you are working on an ABP template, it should already have it. Otherwise, you can install abp-web-resources npm package and use the abp.js in it.

[2021-01-15 08:24] xyfy commented on #3085
@hikalkan

does it can use with **AbpAuthorizeAttribute**?

[2021-01-15 08:27] ismcagdas commented on #3085
@xyfy if you want to authorize clients, it is still not possible.

[2021-01-15 09:21] xyfy commented on #3085
can I and how to override **AbpAuthorizeAttribute**?

[2021-01-15 14:00] pavanupb commented on #5966
@ismcagdas Could you please help me on this. I am stuck in this issue for quite a while.

[2021-01-16 15:25] liyojose commented on #5923
Is there any way to debug AbpUserConfigurationController\GetAll() from template code.

[2021-01-17 01:48] infowell10 commented on #1192
Hi ismcagdas,
Thanks a lot for the help.
My problem was solved by manually populating the [AbpLanguages] table and managed to reach the login screen.

I used the example of maksof-shahab, my ABP tables were not populated alone, I don't know if they should, but I will now popularize [AbpUserLogins] and [AbpUsers] I believe I need them to complete the login.

that's right?

[2021-01-17 13:31] ismcagdas commented on #1192
@infowell10 when you use default templates, yes those tables should be populated. Maybe your migrator project and website are using different connection strings, is that possible ?

[2021-01-17 13:39] ismcagdas commented on #5923
@liyojose no but you can copy related controller from ABP repository and change AbpUserConfigurationController's path on the client side to call your new controller.

[2021-01-17 20:16] infowell10 commented on #1192
Hello ismcagdas,

Perfect, I hadn't noticed that there is a connection string in the Migrator project.
Running the Migrator project populated the tables as expected.

The question of the previous error was occurring exactly because it did not insert the data in the tables including ABPLanguages.

Thank you very much, resolved.

Go through what I did below so that if someone new has doubts you can

[2021-01-18 06:07] demirmusa opened #5988 "Upgrade templates to ABP 6.2"
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnetboilerplate-templates
- [x] aspnet-core-template

[2021-01-18 07:01] #5974 closed

[2021-01-18 07:14] ismcagdas commented on #5973
@iamseanduffy we prefer not to add FKs to join tables. I think you can achive this using a single query with a custom repository.

[2021-01-18 13:41] greenlgy commented on #5986
Thank you very much for your reply.
Your suggestion is correct. After I modified it according to your suggestion, the program ran correctly.

[2021-01-18 13:41] #5986 closed

[2021-01-19 14:19] greenlgy opened #5989 "[Question] JWT Authentication Middleware error（401 Current user did not login to the application）"
### Environment
* Basic framework: .NetCore 2.2
* Abp package version: AspNet Boilerplate 4.6
* Other: Identityserver4
### Project structure
* abp-server : Identity authentication server
* abp-client : javascript client
* abp-api : protected api resources
### Issues
After abp-client logs in successfully, access abp-api from abp-client, Use jwtbearer verification in abp-api.
I have successfully obt

[2021-01-20 01:08] maliming commented on #5989
Please check the claim types of your token and identity server app **AbpClaimTypes**. Related https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5965#issuecomment-755105411

[2021-01-20 02:51] greenlgy commented on #5989
thank you for your reply
Can you tell me more in detail. The access_token is generated by ids4 on the abp-server side. I did not find the relevant code for ids4 to generate access_token. I don’t know where to check the consistency of the claim types of the token and the AbpClaimTypes on the server app side.

[2021-01-20 02:58] maliming commented on #5989
You can check the claim types of your jwt on https://jwt.io/

[2021-01-20 06:27] greenlgy commented on #5989
The access_token generated by ids4 is parsed using jwt.io as follows:
I don't know what to compare with it to check the consistency of AbpClaimTypes.
please tell me.

[code]

[2021-01-20 06:32] maliming commented on #5989
Check `AbpClaimTypes` of your `abp-server`.

[2021-01-20 08:35] #5988 closed

[2021-01-20 09:59] nandaccio opened #5990 "IOnlineClientManager.GetAllClients always returns zero"
* Your Abp package version: 6.0.0
* Your base framework: .NET Framework

[code]

Startup.cs -->  app.MapSignalR(); is invoked
Web module --> Dependency on typeof(AbpWebSignalRModule) is specified
SignalR packages are installed and referenced + JS scripts are properly bundled

OnConnected / OnDisconnected are never invoked.
GetOnlineUsers() always returns an empty list.

Do I have to register my Cl

[2021-01-20 10:37] ismcagdas commented on #5990
Yes, you need to integrate SignalR for OnlineClientManager to work. You can follow https://aspnetboilerplate.com/Pages/Documents/SignalR-AspNetCore-Integration

[2021-01-20 11:06] nandaccio commented on #5990
Thank you,

does it work also with .NET Framework (full)?

I followed the steps available in the documentation ([https://aspnetboilerplate.com/Pages/Documents/SignalR-Integration](https://aspnetboilerplate.com/Pages/Documents/SignalR-Integration)):

- [DependsOn(typeof(AbpWebSignalRModule))] --> ApbModule
- [assembly: OwinStartup(typeof(Startup))] +  app.MapSignalR(); --> Startup.cs
- The followin

[2021-01-20 15:36] nandaccio commented on #5990
I found the issue, it was not on the back-end side.

I was referencing an old version of jquery.signalR in the script bundle. Fixing that reference solved all the problems.
Closing this issue.

Thanks!

[2021-01-20 15:36] #5990 closed

[2021-01-21 05:38] Jcook894 commented on #5985
@ismcagdas Yes!

[2021-01-21 12:55] redbinkieresearchlabs commented on #5979
Hi,

While waiting, could you share what I need to modify to get my DB updated please?

Regards,
Asrar

[2021-01-21 13:33] easyest commented on #5979
You need to add the following to Your DbContext's `OnModelCreating`:
[code]

[2021-01-21 13:36] easyest commented on #5979
This is taken from ABP template. It seems that one person, that has created `DynamicProperty` and `DynamicEntityProperty` has forgotten to add `[StringLength]` attribute, and another person, that was responsible for the templates just added their length to the `DbContext`. I am no sure if the length of 250 is sufficient. Maybe there are situations where it should be longer. But this value is encod

[2021-01-21 13:37] easyest commented on #5979
@redbinkieresearchlabs , please do not forget to recreate Your migration with `-Force`.

[2021-01-22 01:12] worthy7 commented on #5788
@ismcagdas Just wanted to ask a quick question about this.

We have a completely separate system that will want to send some requests to our server. In my experience with using other API's on the internet (Stripe, Google etc).

I can think of at least 2 ways to implement this:
1. Make the other system user a username and password first, then save the bearer token in the request from then on. But d

[2021-01-22 03:09] redbinkieresearchlabs commented on #5979
Hello,

I followed that and recompiled. I now migration runs successfully but fails at the seed method with the following error:

Just for info, this is a clean DB install.

Thanks so much for assisting.

[2021-01-22 03:11] redbinkieresearchlabs commented on #5979
Just for reference, this is how my OnModelCreating looks like:

[2021-01-22 05:55] easyest commented on #5979
Something is wrong with the user seed. I did not do a clean install, so let's wait until ABP guys will take a look at that. But till then You could try to debug Your `HostRoleAndUserCreator`. Add the following lines to Your `public sealed class Configuration : DbMigrationsConfiguration`:
[code]
And You will be able to catch Your exception at `EntityFramework\Migrations\SeedData\HostRoleAndUserCrea

[2021-01-22 06:40] ismcagdas commented on #5788
@worthy7 we are also using approach 1, currently approach 2 is not supported. But, it is totally fine to use bearer token in the way you explained.

[2021-01-22 06:42] worthy7 commented on #5788
In what situations would the token become invalid though? This system is key to operations and won't be touched for years after setup.

[2021-01-22 06:45] ismcagdas commented on #5788
By default, it will only become invalid when it expires. However, you can make the token invalid if specific user properties changes like password. For a better experience, you can also implement refresh token system.

[2021-01-22 06:49] worthy7 commented on #5788
I thought that expiration was only handled by the cookies in a browser,
does the server also keep checking the expiration of tokens then?

On Fri, 22 Jan 2021 at 15:45, İsmail ÇAĞDAŞ <notifications@github.com>
wrote:

[2021-01-22 06:54] ismcagdas commented on #5788
Yes, when you generate a token, it must have a expire time. You can use a very long expire time though.

[2021-01-22 06:56] worthy7 commented on #5788
Ok, thanks for replying. I will probably go the API key route instead, I
cannot risk someone resetting the password or something randomly expiring
the token.

On Fri, 22 Jan 2021 at 15:55, İsmail ÇAĞDAŞ <notifications@github.com>
wrote:

[2021-01-22 08:20] ismcagdas commented on #5985
@Jcook894 thanks, I have moved this to AspNet Zero repository.

[2021-01-22 08:20] #5985 closed

[2021-01-22 11:29] zeekay18 opened #5992 "Abp.Dapper Support for passing parameters to stored procedures."
Hi, Please is there any plan to fully support passing parameters to stored procedures using Dapper.

According to the documentation from the main Dapper repository, one is expected to pass *commandType: CommandType.Procedure* in order to use the procedure when executing.

But there does'nt seem to be any support for it currently. Only plain parametized queries work in the execute statements.

For

[2021-01-22 13:49] maliming commented on #5992
hi
You can get the **IDbConnection** and **IDbTransaction** from `DapperRepositoryBase`， then you can call Dapper's API to implement more features.

[2021-01-24 06:16] ztwz opened #5993 "Notification Publisher not working in aspboilerplate"
*  Abp 6.0 version.
* .Net Core 3.0.
* abp.event.on (' abp.notifications.received ') does not trigger.

1 Startup.cs
 public void Configure(IApplicationBuilder app,  ILoggerFactory loggerFactory)
{
              //endpoints.MapHub<AbpCommonHub>("/signalr");  // Use this to receive, custom can not
                endpoints.MapHub<MessageHub>("/signalr-messageHub");
}

2.NotificationAppService.cs

[2021-01-24 07:15] acjh commented on #5993
`SignalRRealTimeNotifier` uses `AbpCommonHub`.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/689a834fbe177a539c759ef5bfb4bd496dfa7e89/src/Abp.AspNetCore.SignalR/AspNetCore/SignalR/Notifications/SignalRRealTimeNotifier.cs#L24

So either:

- restore `endpoints.MapHub<AbpCommonHub>("/signalr");`, or
- replace `SignalRRealTimeNotifier` in `Configuration.Notifications.Notifiers`.

The `'

[2021-01-25 03:50] osalas891123 opened #5994 "(QUESTION) OnlineClientManager ( UserDisconnected vs ClientDisconnected )"
base framework: .Net Core - Angular
aspnetboilerplate: v4.22

I'm trying to deal with the fact of a really logout when users close the browser without logout the app (browser must destroy the cookies when User-Agent disconnect, but it's not working like this on Chrome, Mozilla, Etc). I'm using OnlineClientManager to deal with this when user disconnect, what should i use UserDisconnected vs ClientD

[2021-01-25 06:19] ismcagdas commented on #5994
@osalas891123 I don't have experience about this. Did you check SignalR documentation ?

[2021-01-25 15:05] easyest opened #5995 "EmbeddedResourceVirtualPathProvider GetCacheDependency error"
The method `GetCacheDependency` of `EmbeddedResourceVirtualPathProvider` is incorrect.
[code]

The problem is, that `GetCacheDependency` should not check `virtualPath`, but rather all items of `virtualPathDependencies`. For the Bundles, that contain javascript from embedded resources current method we get an exception, as `MapPathBasedVirtualPathProvider.cs` cannot find those files, so `base.GetCa

[2021-01-25 16:28] easyest commented on #5995
Nevermind my last paragraph - it seems there are more requirements to use `IncludeDirectory`.

[2021-01-25 17:30] uzijsalem opened #5996 "Entity History && EF Lazy loading not detecting update (properly)"
Angular & ASP.Net Core 3.1

ABP version 9.3

ABP framework 5.1.0

When I activate Entity History with entity framework core and lazy loading, It detects when I create.

When I update an entity that is an ABP, It doesn't detected.

When I update an entity that we created, It detect but the EntityTypeFullName is incorrect.

![image](https://user-images.githubusercontent.com/40210066/105750132-5250a9

[2021-01-26 09:57] ismcagdas commented on #5995
Thanks @easyest we will check this.

[2021-01-27 11:03] mahyarmot opened #5999 "Extending AuditLog class"
Hi,
I am trying to extend the `AuditLog `class in order to add some properties to it. While the class is not partial, is there a possible way to add or alter some properties and add a new migration to get the database updated?

The main question can be found [Here](https://stackoverflow.com/q/65905255/7855321)

[2021-01-27 12:10] ismcagdas commented on #5999
@mahyarmot you can take a look at https://docs.aspnetzero.com/en/aspnet-core-mvc/latest/Extending-Existing-Entities

[2021-01-27 14:08] sayassyk opened #6000 "Disable automatic UserId update feature of FullAuditedEntity temporarily"
This is actually a feature request of AspNetBoilerPlate.

When we are using 'FullAuditedEntity' base class in our entities, the current user id will be updated automatically in every insert/update. That's a fantastic feature but, sometimes we need to update the table without changing the _**LastModifierUserId**_ and **_LastModificationTime_**.

You may say I could remove the inheritance from **Ful

[2021-01-27 14:13] mahyarmot commented on #5999
Thanks for your comment. If you take a look at the StackOverflow link, you can see that, I have already used the inheritance method to extend the property.  But this will cause an issue at the process of `AuditingStore ` extension.

[2021-01-27 14:46] mahyarmot commented on #5999
Thanks, it worked. However, I needed the answer as a part of my issue at the moment. If you take a look at my [question](https://stackoverflow.com/questions/65916788/api-skype-support-c-sharp-mvc5-in-2021-not-skype-for-business?noredirect=1#comment116553990_65916788) at StackOverflow, you can see I am not able to use the extended entity at the extended version of  `AuditingSore `

[2021-01-27 21:26] MohammedDarweesh opened #6001 "How can stop camelcase in Apb Mvc ?"
I am using Apb web api

return json with camelcase like {"id" : 1 , "message":"hi"}

but I want return json like {"id":1 , "Message":"hi"}

how can I do it ?

[2021-01-28 01:17] maliming commented on #6000
You can override this method of `AbpDbContext` to implement your custom logic.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/552c0240c44d9899c1209fb20eb48d35b17d5e54/src/Abp.EntityFramework/EntityFramework/AbpDbContext.cs#L527

[2021-01-28 01:17] #6000 closed

[2021-01-28 01:19] maliming commented on #6001
See 3453

[2021-01-28 01:19] #6001 closed

[2021-01-28 01:30] tevosouza commented on #5950
Hi
Maybe the KeyCloak (https://www.keycloak.org/) can be an option to consider, right?

[2021-01-28 01:34] maliming commented on #5950
Also, see https://github.com/abpframework/abp/issues/7221

[2021-01-28 06:06] ismcagdas commented on #5999
Instead of inheriting from `AuditingStore`, you can create a new implementation for `IAuditingStore`. In that way, you can inject any class you want.

If you want to inherit from `AuditingStore`, you can also inject `IRepository<ExtendedAuditInfo, long> auditLogRepository` as the second parameter for your constructor but this will not be a good approach.

[2021-01-28 09:01] worthy7 commented on #5788
I'm struggling to understand exactly what piece of ABP I need to replace. I simple want it to do what it does now, but also check for an "apikey" token on the http header and that will check if it's connected to a user in the database, and then load the principles etc exactly the same way as it already works, could you point me in the right direction please? @ismcagdas

[2021-01-28 09:32] feigaogit commented on #5604
@Ismcagdas Is there any plan to solve this problem？

[2021-01-28 09:35] ismcagdas commented on #5604
@feigaogit according to my research, this comes from Castle itself. Couldn't find a way to solve it yet.

[2021-01-28 14:59] mahyarmot commented on #5999
Thank you @ismcagdas. My issue solved.

[2021-01-28 14:59] #5999 closed

[2021-01-29 01:08] worthy7 opened #6002 "Swagger/Swashbuckler not showing any ///summary info"
Problem:
No descriptions on the swashbuckler UI

Expectation:
Something like this: https://petstore.swagger.io/?_ga=2.92944157.1619466008.1611880644-1751927298.1610928734#/

Steps to reproduce:
1. Download latest MVC project
2. Install swagger as per https://aspnetboilerplate.com/Pages/Documents/Swagger-UI-Integration#asp-net-5-x
3. Add /// summary to an AppService class or interface, or methods i

[2021-01-29 02:24] feigaogit commented on #5604
@ismcagdas
#https://github.com/castleproject/Windsor/issues/590#issuecomment-768994548
![image](https://user-images.githubusercontent.com/18181270/106223180-e6c15100-621b-11eb-9987-6fff569bc4de.png)

[2021-01-29 02:51] emisand commented on #5604
@ismcagdas It might be possible to replace as many interceptors as possible with ASP.NET Core middleware filters?
You know, ASP.NET Core provides Authorization, Action, Resource and Response and Exception filters to intercept a request at all possible stages, and these filters are blazing fast. It might be possible to extend this ASP.NET Core filters to be used on ABP Auth and Auditing and drop Ca

[2021-01-29 13:10] G3Kappa commented on #4534
Everyone dismissing this as "an IIS thing" is plainly wrong.

This is an issue that persists _after_ the first request to GetAll. In fact, it happens on _all_ requests to GetAll.

Just wanted to point this out in case anyone else is stuck on this and was disappointed by this issue.

![immagine](https://user-images.githubusercontent.com/6323641/106278824-aa9de880-623b-11eb-963a-e7abcc65233f.png)

C

[2021-01-29 13:14] worthy7 commented on #4534
@G3Kappa Err sounds like something is broken. The first call to an azure server (that was sleeping, like free test server) really do take ages to wake up and give us the first data, and then they go back to sleep maybe after 10 minutes of inactivity.

I have also been trying to narrow down a different issue with GETALL(), here is the server side azure log of the timings
![image](https://user-image

[2021-01-29 13:17] G3Kappa commented on #4534
Yes, that is true. I've worked on several ASP.NET websites, so I know it's not an ABP thing.

Which is why I'm saying with certainty that the GetAll() is _not_ due to that. If it helps, I have no such issue on my other computer: same configuration, same repositories. Same client and same server.

[2021-01-29 13:29] dainer88 commented on #4534
I solved my problem after long days with the azure technical team and what they told me was we did an update and there it was solved. I did not make any changes to the project code so it is clearly a hosting problem

[2021-01-29 13:40] bxjg1987 opened #6004 "How to use repository correctly in ABP"
Now, in the application layer, inject IRepository<TEnity, TKey> to realize database manipulation. Considering the replacement of orm in the future, I have not introduced EF package in the application layer, nor the query features of EF, such as ThenInclude. Asynchronous operation is completed by using IAsyncQueryableExecutor.

I refer to the document of inheriting dapper, which requires injecting

[2021-01-29 13:45] worthy7 commented on #4534
And what was your problem exactly? I am tempted to contact the team too

[2021-01-29 13:51] dainer88 commented on #4534
My problem was exactly what is described here, every so often after working correctly the system began to fail and the request took a long time until it gave an error. I solved it by restarting the api web service and the process was repeated.

[2021-01-29 13:52] worthy7 commented on #4534
Well, either way, this guy said its happening on his local machine, nothing
to do with azure. I haven't seen that error yet, but sometimes google does
say it saw an error when trying to load the page - driving me mental.

On Fri, 29 Jan 2021 at 22:51, Dainer Mesa <notifications@github.com> wrote:

[2021-01-29 14:09] G3Kappa commented on #4534
![immagine](https://user-images.githubusercontent.com/6323641/106284650-c4dbc480-6243-11eb-8fc4-d2c716086dc1.png)
The API backend has been running for a while, and judging by the memory and CPU usage I'd say it's hot right now. I had a case earlier where the request completed after 40s, but I'm having trouble reproducing it now because it just seems to get stuck indefinitely.

I can try spinning u

[2021-01-29 14:29] RamprakashUmapathy commented on #5316
Removing WebDAV is invasive.

I did the following in IIS 10.0.14393 and it works..

Select your web site and the right page Handler Mappings - aspNetCore, right click edit, then Request Restrictions...

In Tab Verbs, I selected the radio option "All Verbs". (Eventhough I tried adding PUT Verb on the second option but never worked)

Then in tab Access, I selected None option.

Hope it helps to some

[2021-01-29 14:37] maliming commented on #5316
Thanks @RamprakashUmapathy

[2021-01-30 07:32] feigaogit opened #6005 "How to create a dbcontext for each call of a method in ABP？"
ABP 5.1
EF CORE3.1
.NET CORE3.1

![image](https://user-images.githubusercontent.com/18181270/106351042-8c57eb80-6314-11eb-84ac-4f1a2014b6df.png)

An exception will occur because a dbcontext is operated at the same time.

Log:
DEBUG 2021-01-30 15:26:28,005 [4    ] Abp.Localization.LocalizationManager     - Initializing 3 localization sources.
DEBUG 2021-01-30 15:26:28,136 [4    ] Abp.Localization.L

[2021-01-30 10:11] worthy7 commented on #5239
Happy Birthday to this issue which I'm having again lol

[2021-01-30 13:48] ismcagdas commented on #5239
@worthy7 we decided not to change Swashbuckle and we will keep enum generation as it is now. However, you can generate a Swashbuckle schema filter to change this behaviour.

[2021-01-30 13:52] ismcagdas commented on #6005
You can try to create your own version of https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/Uow/UnitOfWorkDbContextProvider.cs

[2021-01-31 05:01] worthy7 commented on #5239
Ok thanks, I am not sure how to translate the solution (making a schema filter) exactly because the package has updated a lot since then but you can close this issue if you don't want to track it anymore.

[2021-01-31 11:18] #5239 closed

[2021-01-31 12:05] ismcagdas commented on #6004
Hi,

If you are going to use EF Core in the future, you can depend of its features. But, it is hard to make estimations for the future, so this is a decision you have to make :)

[2021-01-31 13:50] 3151036158 opened #6006 "About the Redis cache"
2021-01-31 20:46:11.9708 Abp.Runtime.Caching.Redis.AbpRedisCache Newtonsoft.Json.JsonSerializationException: Self referencing loop detected for property 'Task' with type 'System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1+AsyncStateMachineBox`1[vuedemo.MultiTenancy.Tenant,Abp.Domain.Uow.UnitOfWorkInterceptor+<InternalInterceptAsynchronous>d__5`1[vuedemo.MultiTenancy.Tenant]]'. Path 'StateMac

[2021-02-01 00:52] worthy7 commented on #6002
My bad, I totally thought this was automatic - turns out it's not:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-5.0&tabs=visual-studio#xml-comments

Perhaps this should be implemented in ABP by default? Seems straightforward.

[2021-02-01 02:48] matzheng opened #6007 "When will the user lock out function ready?"
The latest APB v6.x doesn't have supported the user lock out function, either the last login time display 1970/01/01 for every success login users.
Don't find related posts on this issue on Stackoverflow.
![image](https://user-images.githubusercontent.com/7867955/106409161-e1ae0d00-647a-11eb-8bfe-b70cfc7bc399.png)

[2021-02-01 03:53] bxjg1987 commented on #6004
thanks，I decided to introduce the efcore package in the application layer to get rich extension methods of IQueryable<T>

[2021-02-01 03:53] #6004 closed

[2021-02-01 05:54] ismcagdas commented on #6002
@worthy7 yes, you can easily enable it. We can also add it to default templates.

[2021-02-01 06:01] ismcagdas commented on #6007
@matzheng LockoutEndDateUtc of the user will be set when user is locked. So, you can use this field to unlock a user login.

[2021-02-01 06:26] matzheng commented on #6007
so there is no auto lockout module, right?

[2021-02-01 06:30] ismcagdas commented on #6007
There is no separate module, but ASP.NET Core Identity already implements this and sets LockoutEndDateUtc when AccessFailedCount reaches to a specific number.

[2021-02-01 06:37] ryancyq commented on #6006
I think we could log a warning if an async generator is given.  I can take a look at this.

[2021-02-01 09:14] fncap opened #6008 "Abp.Hangfire.AspNetCore missing Configuration and JobActivator from it's corresponding Abp.Hangfire module"
Hi,
as per subject, Abp.Hangfire.AspNetCore module is missing configurations and set of HangfireIocJobActivator like Abp.Hangfire module.

It is a choice or simply a mistake?

[2021-02-01 10:03] #6007 closed

[2021-02-01 10:10] matzheng opened #6009 "IdentityOptions in AbpIdentity not working as expected"
IdentityOptions.Lockout is always falling back to using { DefaultLockoutTimeSpan: 5 mins,  MaxFailedAccessAttempts: 5 }  even if I setup as below to 30 minutes timespan and 10 max failed attempts.
The account locks when reaching 5 failed attempt.

`
public static class IdentityRegistrar
{
        public static IdentityBuilder Register(IServiceCollection services)
        {
            services.Add

[2021-02-01 10:52] 3151036158 commented on #6006
Once a lot of people do this, they may not be able to use redis normally, and they will not be aware of it

[2021-02-01 13:32] bxjg1987 opened #6010 "Entity, initialization is performed after the constructor"
If an iinit like interface can be added to an entity, the default repository will automatically determine whether the interface is implemented after obtaining the entity. If so, init method will be executed automatically.

Because some initialization work is performed after the entity property is assigned.

[2021-02-01 16:15] ryancyq commented on #6010
Have you seen https://aspnetboilerplate.com/Pages/Documents/Dependency-Injection#ishouldinitialize-interface

[2021-02-02 02:00] bxjg1987 commented on #6010
@ryancyq
Yes, I understand this feature, but it is available for parsing objects from the IOC container.
Entity classes often don't use IOC containers. I'm implementing DDD. I hope to automatically call initialization methods after getting entities from the database.

[2021-02-02 07:40] ismcagdas commented on #6009
Hi,

You can set settings below;

* AbpZeroSettingNames.UserManagement.UserLockOut.IsEnabled
* AbpZeroSettingNames.UserManagement.UserLockOut.IsEnabled
* AbpZeroSettingNames.UserManagement.UserLockOut.MaxFailedAccessAttemptsBeforeLockout

[2021-02-02 07:43] ismcagdas commented on #6008
@fncap sorry, couldn't understand the problem here. Could you provide more details ?

[2021-02-02 07:52] ismcagdas commented on #5604
@emisand yes, this is possible but will require a lot of work to do. Maybe it is better to take a look at the second option you suggested. I will try to work on this in the following days. If you guys have any findings, it will be welcome.

[2021-02-02 08:31] bxjg1987 opened #6011 "Lazy<T> for Service"
reference resources：https://github.com/castleproject/Windsor/blob/master/docs/whats-new-3.0.md#added-support-for-lazyt-components

in abp Module
[code]
usage
[code]

[2021-02-02 08:35] ismcagdas commented on #6011
@bxjg1987 thank you, we will try this.

[2021-02-02 08:37] ismcagdas commented on #5788
I think you don't have to replace any ABP specific code. You can achieve this by creating a new middleware and use it before authentication middleware.

[2021-02-02 09:21] ismcagdas commented on #5966
@pavanupb sorry for the late reply. Could you share the full stack trace if you haven't solved this problem yet ? By the way, Framework doesn't create the user if it doesn't exist, you need to create it.

[2021-02-02 09:23] ismcagdas commented on #3085
@xyfy you can implement your own version of IAuthorizationHelper

[2021-02-02 09:31] ismcagdas commented on #5962
@worthy7 as far as I remember, return value of `getUserConfiguration` is used before login (in account module) as well. If you modified those sections, you can move this to a different place.

[2021-02-03 08:37] #5818 closed

[2021-02-03 11:52] #5951 closed

[2021-02-03 13:11] #5938 closed

[2021-02-03 14:25] fncap commented on #6008
Hi @ismcagdas sorry for the late ...
I'm currently working on Hangfire integration with ABP (and ANZ too).
I need to run recurring job with using of some services from IoC.
I faced that default configuration of Hangfire using AspNetCoreJobActivator to resolve Job instances from a DI.
Looking at Abp.Hangfire module source code, I found that you had a custom implementation of an Hangfire JobActivato

[2021-02-03 15:04] tayfunuyar opened #6012 "GetActiveTenantsByEmail how to do this in seprated database ?"

[2021-02-04 06:00] ismcagdas commented on #6012
@tayfunuyar you can switch to Host context and query tenants, see https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#switching-between-host-and-tenants

[2021-02-04 10:12] hsharma89 commented on #4528
Hi @bbakermmc,

I have implemented your code and it is adding missing StaticRoles into existing Tenants. But it is not applying or removing permissions to existing roles or new roles. Do you have any idea?

[2021-02-04 11:43] Azhar0007 commented on #2836
hello there i tried adding azureAD in my abp project but i am facing 'AuthenticationBuilder' does not contain a definition for 'AddIdentityServerAuthentication' and no accessible extension method

[2021-02-04 13:10] demirmusa opened #6013 "Allow to send webhook to multiple tenant"

[2021-02-04 15:33] xiaochuankk123 commented on #4519
@AllyMurray Thank you very much. It solved my probleme.It took me a lot of time

[2021-02-05 06:55] ismcagdas commented on #2836
Have you added necessary referencese ? It should work like below;

`services.AddAuthentication().AddIdentityServerAuthentication(...)`

This is not related to AspNet Boilerplate by the way.

[2021-02-06 10:12] ismcagdas commented on #6008
@fncap thanks, we will check it.

[2021-02-08 01:24] worthy7 commented on #6002
Since I've done this already, I am looking to PR for it but I am not 100% sure how to make this work on the template, because there are 2 possible "start up" projects (mpa and spaAngular).

1) The comments file needs to be set to copy on build to ensure it is published/deployed too, which it seems means that the XML files must be inside the startup/deployable project. Or does some custom copy acti

[2021-02-08 07:43] ismcagdas commented on #6002
@worthy7 you can add it to https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host

[2021-02-08 12:02] demirmusa opened #6015 "Review https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6003"
Review https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6003

[2021-02-09 12:24] worthy7 opened #6017 "[Improvement] Add default max-age for Options requests in template"
https://stackoverflow.com/a/40373949/1079267

I think we should try to work with the standards and identify why ABP (angular) is causing Options requests to be sent from clients.

[2021-02-09 12:24] worthy7 commented on #6017
I am guessing it is because of the json request, can we work around this?

[2021-02-09 12:55] worthy7 commented on #6017
I have also tried to set "Access-Control-Max-Age" via https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-5.0#set-the-preflight-expiration-time but it actually doesn't seem to be doing anyway. The response in the options does not contain date/expiration info.

[2021-02-09 13:50] AtefeGhorbani opened #6018 "Has Error when using integration test like ABP sample"
I used .net core in my project and implemented integration test like reference in this page :
"https://aspnetboilerplate.com/Pages/Documents/Articles/Unit-Testing-with-Entity-Framework,-xUnit-Effort/index.html"
but when i awnt to test it ,it shows this error in Unit test console  :
"
System.MissingMethodException: Method not found: 'Abp.AbpBootstrapper Abp.AbpBootstrapper.Create(Abp.Dependency.IIo

[2021-02-09 15:39] RohitEmorphis commented on #5200
How to set asp boilerplate default table primary key to guid

[2021-02-10 05:30] yogichandras opened #6020 "Azure SQL : Timeout expired. The timeout period elapsed prior to obtaining a connection from the pool. This may have occurred because all pooled connections were in use and max pool size was reached."
Hi, I have an application built with aspboilerplate with many users having activity on this application.
If at the same time many users request to my API (Application Service), sometimes I get an exception.
I found this on stackoverflow.com (In most cases connection pooling issues are related to connection leaks).

ABP Version: 6.1.1 (Upgraded from 5.0.0)
.Net Version : 5
Database : Azure SQL Serv

[2021-02-10 05:41] ismcagdas commented on #6020
@yogichandras could you upgrade your ABP version to 6.2 ?

[2021-02-10 05:55] yogichandras commented on #6020
@ismcagdas alright I'll try

[2021-02-10 06:25] ismcagdas commented on #6018
@AtefeGhorbani is your project downloaded from https://aspnetboilerplate.com/ ?

[2021-02-10 06:26] ismcagdas commented on #6017
@worthy7 we don't do this, it is Angular doing the Options request. Maybe you can check Angular GitHub repo for this.

[2021-02-10 08:06] pavanupb commented on #5966
@ismcagdas I am finding it difficult to implement the AzureAD authentication. As of now I created a HttpPost method in TokenAuthController. I am able to get the token back from the Microsoft to the defined method. From this point I am confused how to proceed further(i.e, which method do I need to call for creating a local user). I am also finding it difficult to integrate with the swagger UI in or

[2021-02-10 08:09] worthy7 commented on #6017
Yea fair enough. I think I have to move my frontend onto my backend server instead of firebase to get rid of this.
https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-5.0#set-the-preflight-expiration-time

This did work by the way, maybe make this a default for the template?

[2021-02-10 15:54] Zshazz opened #6021 "The global abp.localization.values has the wrong type"
ABP Version: 6.0

While making some customizations for localization functionality, I noticed that the `abp.localization.values` is typed assuming that the `AbpUserConfiguration/GetAll` from the server will return a key-value pair of localizations. However, in actuality, it's a dictionary of sources, and from those sources, you have key-value pairs of localizable string to localization.

So `abp.lo

[2021-02-10 17:52] AtefeGhorbani commented on #6018
Yes , i have implemented it based on abp

[2021-02-10 19:29] ismcagdas commented on #6018
If you can share your project, we can take a look. But, it will be easier to use one of the templates on https://aspnetboilerplate.com/Templates

[2021-02-11 06:56] ismcagdas commented on #6017
@worthy7 I didn't know about this. I will check it. Thank you.

[2021-02-11 06:59] ismcagdas commented on #5966
I actually don't know how to test it with swagger. Probably it is not possible. I think you are using Angular version, so your Angular app should receive the token from Azure AD. After that, you need to send this token to your server app. When the server app receives the token, you need to make a request from your server side app to Azure AD to get user information with the token you have. After t

[2021-02-13 09:54] #5987 closed

[2021-02-13 11:57] ismcagdas commented on #5971
This can be found on https://aspnetboilerplate.com/api-docs/html/T_Abp_Events_Bus_Entities_EntityChangeType.htm. We will try to keep api docs up to date with latest version.

[2021-02-13 11:57] #5971 closed

[2021-02-13 17:12] acjh commented on #5805
`IsDeleted` is indeed marked when `SaveChanges` is called:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/f1ff570f791df26c448f6c17ebe8f4fb6b067a1a/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L473

By *test environment*, do you mean in development (with DB server, e.g. MSSQL) or unit test (with in-memory DB, SQLite)?

[2021-02-13 17:13] worthy7 commented on #5805
Unit test

On Sun, 14 Feb 2021 at 02:12, Aaron Chong <notifications@github.com> wrote:

[2021-02-13 20:16] ahmedtolba1984 opened #6023 "Is there any possibility to move audit trail and entity history tables to separate database?"
Dears,
Is there any possibility to move **audit trail** and **entity history** to separate database as it caused our business database to increase dramatically in its size and if yes, How can we achieve this functionality?

[2021-02-14 06:03] maliming commented on #6023
See #4272

[2021-02-14 06:03] #6023 closed

[2021-02-14 21:40] Zshazz opened #6025 "Make remaining AbpServiceBase.L overloads virtual"
Some of the overloads of `AbpServiceBase.L` are non-virtual (only the ones with `params object[] args`), but some of them are, so it seems like it was intended that they be virtual to allow customization.

See:

- https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c053c12edb4ea10099a5e3684cce1b2ce3ba5b3e/src/Abp/AbpServiceBase.cs#L116
- https://github.com/aspnetboilerplate/aspnetboilerpla

[2021-02-15 04:37] weedkiller opened #6026 "Startup template are outdated with several Build Errors"
Hello, if you goto the https://aspnetboilerplate.com/ page and download a new project its very very outdated.

The target is .NET core 2.2 to run in a new laptop I updated to .Net core 5 several errors and updating nugets has several errors. Same issue with Visual Studio template also.

![image](https://user-images.githubusercontent.com/21086190/107905807-920d1e00-6f1d-11eb-9b64-407cd241466b.png)

[2021-02-15 04:44] deepakkumarbarik opened #6027 "appsettings.json"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-02-15 04:44] #6027 closed

[2021-02-15 04:56] ismcagdas commented on #6026
@weedkiller could you also share which options you have selected while downloading the project ? I couldn't reproduce this problem.

[2021-02-15 05:05] weedkiller commented on #6026
I selected all the latest options, ABP 5.x with Angular on ASP core 5

[2021-02-15 06:01] ismcagdas commented on #6026
@weedkiller I exactly tried that option, see

![image](https://user-images.githubusercontent.com/4133525/107910868-5a799280-6f6c-11eb-8f9e-ef4009add25c.png)

[2021-02-15 10:58] deepakkumarbarik opened #6029 "How to read the app.setting.jon file properties inside the application project"
* Your Abp package version. 6.00
* Your base framework: .Net Framework or .Net Core..net core
* Exception message and stack trace if available. No
* Steps needed to reproduce the problem.
* Need to get the app.setting.json properties to read inside the role service file
*
![image](https://user-images.githubusercontent.com/3807461/107938008-bb27c000-6faa-11eb-9109-08c52fc4d203.png)

Advance thanks.

[2021-02-15 11:04] ryancyq commented on #6029
@deepakkumarbarik you can refer to how it was being done in the startup template , see  https://github.com/aspnetboilerplate/module-zero-core-template/blob/3419aa07da0ccfffd4b4712d677a56417f44d616/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/AbpProjectNameWebCoreModule.cs#L53-L63

[2021-02-15 11:06] ryancyq commented on #6029
However, it's recommended for you to read from appSettings during application initialization phase instead of service level to avoid IO blocking that slow down your endpoints.

[2021-02-15 11:21] deepakkumarbarik commented on #6029
Can you provide one sample example if you don't mind sorry for asking this .  Suppose what I need to inject in RoleAppService class?
Best Regards
Deepak

[2021-02-15 18:17] weedkiller commented on #6026
Yes that's exactly what I did!

[2021-02-15 18:28] #6026 closed

[2021-02-16 01:09] #5940 closed

[2021-02-16 07:45] #5979 closed

[2021-02-16 08:05] pavanupb commented on #5966
@ismcagdas Thank you so much. Does the Azure AD authentication implementation comes with Aspnet Zero?. If yes, is it just I need to configure or should I implement the code explained above in Aspnet Zero as well?

[2021-02-17 04:38] shrekshadow opened #6030 "Audit log original value and New values are the same"
### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version: 5.14.0
* Your base framework: .netcore 3.1
* Exception message and stack trace if available. Na
* Steps needed to reproduce the problem.
      * Enabled Audit logs
      * Created a new fu

[2021-02-17 05:51] ismcagdas commented on #6030
@shrekshadow could you share your update code ?

[2021-02-17 06:05] ismcagdas commented on #5966
Yes, it comes with AspNet Zero and you need to just configure it. But, I already explained the steps. Could you tell me what is the latest situation in your implementation ?

[2021-02-17 08:17] #4497 closed

[2021-02-17 09:07] seckinyavuz95 opened #6031 "No component for supporting the service DNTCaptcha.Core.DNTCaptchaImageController was found"
I used .net 5 in my project. I added DNTCaptcha.Core plugin.it request https://localhost:44317/DNTCaptchaImage address.I get the following error.

 **No component for supporting the service DNTCaptcha.Core.DNTCaptchaImageController was found**

I added startup this code
[code]

[2021-02-17 09:27] maliming commented on #6031
Abp is compatible with net 5 dependency injection, you should check how **DNTCaptcha** adds its service to the dependency injection container.

[2021-02-17 10:08] seckinyavuz95 commented on #6031
I do not understand what you mean. how do I add DNTCaptcha service to the dependency injection container.

[2021-02-17 13:03] shrekshadow commented on #6030
I can try reproduce the same in my personal system and send you the code.

[2021-02-17 13:22] maliming commented on #6031
You can try this.

[code]

[2021-02-17 20:32] arpitce27 opened #6032 "Source Control for Stored Procedures/Functions/Views when deploying application"
Hello,

Because of perfomance issues, we are migrating certain APIs from LINQ to Stored Procedure and Functions. But before we setup all stored procedure wanted to know how we can best achieve Source Control for Database Entities(SP, Functions, Views) along with Entity Framework Code first. And whenever we deploye application it should also consider update stored procedure from source control.

Cu

[2021-02-18 06:31] ismcagdas commented on #6032
Hi @arpitce27

This is not something specific to AspNet Boilerplate. But, you can create and update Stored Procedure and Functions with Migrations.

[2021-02-18 06:45] ismcagdas commented on #6030
It would be great.

[2021-02-18 08:55] Jerome2606 opened #6033 "X-XSRF-TOKEN header value is not present"
* Your Abp package version 5.9.0
* Your base framework: .Net Core MVC
* Exception message and stack trace if available.
[code]
* Steps needed to reproduce the problem.

I have an existing project that working fine and today I need to make maintenance on it and trying my survey is not working anymore locally.
Issue is on the anti forgery token.

my request header:
[code]

What I tried:
- Restart
-

[2021-02-18 10:09] seckinyavuz95 commented on #6031
thanks its worked

[2021-02-18 10:09] #6031 closed

[2021-02-18 10:44] morfeoo opened #6034 "My session. timeout always I am setting Applicationcookie 1 year but its not working.How do I set it to read from cookie"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-02-18 11:15] alirezawills opened #6035 "how to expire “ApplicationCookie” in aspboilerplate"
I am using version 2.3(angularjs). I can call methods when logout the program. Like the photo below:
![Capture](https://user-images.githubusercontent.com/23164760/108348866-8bb9c300-71f7-11eb-8ab9-e718f61489de.JPG)
I use the following code to logout

` AuthenticationManager.SignOut(DefaultAuthenticationTypes.ApplicationCookie);`
when logout the program but claim and cookie not expire

[2021-02-18 11:18] morfeoo commented on #6034
@hikalkan @ismcagdas yardım lütfen

[2021-02-18 13:15] #6013 closed

[2021-02-18 13:52] arpitce27 commented on #6032
Hello @ismcagdas

Thank for reply!
So I have add migration every time when I have updates in any stored procedure ?

[2021-02-18 15:00] ismcagdas commented on #6032
Yes, otherwise it would be hard to keep the live procedure up to date.

[2021-02-18 16:22] Jerome2606 commented on #6033
I have tried by adding explicitly the token like :
[code]

But in the request headers, the getToken() is returning null:
[code]

[2021-02-18 17:20] acjh commented on #5805
In unit test, there is no outer unit of work, so `SaveChanges` is called when `UnitOfWorkInterceptor` completes the unit of work.

https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#conventional-unit-of-work-methods

[2021-02-18 18:06] rmartinspuc commented on #4433
@maliming thanks a lot for the solution. Its worked!

[2021-02-18 20:30] Jerome2606 commented on #6033
Mmmh finally I removed one of the two statement in Startup.cs:

[code]

I have removed the one described in the documentation:

https://aspnetboilerplate.com/Pages/Documents/XSRF-CSRF-Protection#startup-class

I see that in the template actually generated there are both AbpAutoValidateAntiforgeryTokenAttribute and AutoValidateAntiforgeryTokenAttribute.
Maybe I got a conflict between these two filt

[2021-02-19 02:18] #6032 closed

[2021-02-19 05:56] ismcagdas commented on #6033
Could you check if your _layout razor is used in the page you have this problem ? The name of the cookie must be `_RequestVerificationToken`, otherwise abp.ajax will not be able to find it.

[2021-02-19 06:33] ismcagdas commented on #6034
@morfeoo is there a sample project for us to test this ?

[2021-02-19 07:42] demirmusa commented on #6035
Hi @alirezawills, can you plase share a project that contains the problem.

[2021-02-19 07:45] morfeoo commented on #6034
https://srbeauty.site
Tenantname:test1
username:admin
password:123qwe

[2021-02-19 07:48] morfeoo commented on #6034
I can see cookie.I added 10000 days.But within a few minutes it redirects to the home page.

[2021-02-19 08:44] morfeoo commented on #6034
By the way its not problem on localhost.

[2021-02-19 15:17] vitorlacerda opened #6036 "OnlineClientHubBase can't get AbpSession(Current TenantId and UserId) when using Azure SignalR"
I am using Azure SignalR on my project changing startup.cs

`services.AddSignalR().AddAzureSignalR(....`

and

[code]

But notification is not working. The JQuery client connects to signalr hub, but when the AbpCommonHub -> OnlineClientHubBase class executes "OnConnectedAsync()", the AbpSession property has TenentId and UserId equal to NULL and makes OnlineClients with 0 users.

When i publish a n

[2021-02-19 15:55] vitorlacerda commented on #6036
I am using version 4.9.0 of Abp and I saw that it has already been corrected in higher versions obtaining UserId and TenantId through Context

[2021-02-19 15:55] #6036 closed

[2021-02-19 22:25] vitorlacerda opened #6037 "Replace register of IOnlineClientStore don't work"
I created an implementation for the IOnlineClientStore interface called AzureOnlineClientStore. The goal is to store OnlineClients list in the Azure Storage Table and allow the use of SignalR or Azure SignalR with kubernetes with replicas (web farm).

However, I can't replace the registration of the IOnlineClientStore interface. Castle Widsor always resolves OnlineClientStore

I tried some solutio

[2021-02-20 03:58] feigaogit commented on #5604
@ismcagdas Have you found a solution for this issue?

[2021-02-20 04:22] bluprints-todd opened #6038 "Should I use multi-tenancy?"
Hi,

This is more a question than an issue, but was not sure where else to post:

I am considering using AspNetBoilerplate for an upcoming project, but the requirements are nuanced, and not sure if the multi-tenancy makes sense. Here is the scenario -

- My upcoming project has 3 main tiers: **Host -> Tenant -> Project**
- I am considering using ABP because I like the features, settings, localizat

[2021-02-20 05:04] shengyuli opened #6039 "abp EF groupby count(predicate)"
public async Task<List<KpiPerformance>> GetQueryMachineAsync(NullableIdDto input)
        {
            var queryTotal = await _machineDatarepository.GetAll()
                .WhereIf(input.Id.HasValue, t => t.Machine.Id == input.Id)
                .GroupBy(t => t.Machine.Id)
                .Select(q => new
                {
                    Id = q.Key,
                    Total = q.Count(),

[2021-02-20 11:20] ismcagdas commented on #6039
@shengyuli do you get an error while executing this query ? If so, does that work using raw EF Core ?

[2021-02-20 11:38] ismcagdas commented on #6038
Hi,

I think this shows that your app is not suitable for using multi tenancy. It is hard to show users records from different tenants. But, if you make Project not multi tenant, then this can be possible.

If you also plan to use Blazor, I suggest using ABP.IO because we don't plan to add blazor support for AspNet Boilerplate at the moment. For other features like multi tenancy, settings, localiz

[2021-02-20 11:41] ismcagdas commented on #5604
@feigaogit currently this issue is in Backlog and we didn't work on it. We will plan it for 6.4 or 6.5 version. But, I'm not sure if we can find a solution or not.

[2021-02-20 11:48] ismcagdas commented on #6037
Hi,

Could you try this in your module's initialize method;

`IocManager.IocContainer.Register(Component.For(typeof(IOnlineClientStore<>)).ImplementedBy(typeof(AzureStorageOnlineClientStore<>)).LifestyleSingleton().IsDefault());`

[2021-02-20 13:56] vitorlacerda commented on #6037
I found the problem, it was necessary to use IsDefault (). Named ("..") on both interfaces IOnlineClientStore and IOnlineClientStore<>
thanks
[code]

[2021-02-20 13:56] #6037 closed

[2021-02-20 21:50] jktan opened #6040 "v6.00 npm run create-bundles cannot find package.json"
Hi, have just downloaded v6.0.0 of the boiler from https://aspnetboilerplate.com/Templates for ASP.Net Core.
Have followed the instructions to run yarn first which completed successfully in the Web.Mvc folder.
Next I tried to run "npm run create-bundles" and there is error as that it cannot find the package.json file in the folder.
Is there a file missing or I have to init npm? If so what are the

[2021-02-20 23:40] bluprints-todd commented on #6038
Thanks for the quick reply on this, and appreciate the feedback. IMHO I agree that ABP.IO makes sense considering Blazor.

If I disable multi-tenancy, can I still use the tenant structure for things like settings, features, etc.? Does the system function mostly the same with the exception of the users?

Also, would you use the Tenant structure for the projects, or would you add a project level and

[2021-02-21 11:36] sajasbana opened #6042 "LDAP issue"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.: 6.0.0
* Your base framework: .Net Framework or .Net Core

[2021-02-21 12:40] sajasbana commented on #6042
issue solved
domain should be: abconline.com
container should be: ""

[2021-02-21 12:40] #6042 closed

[2021-02-21 12:43] sajasbana opened #6043 "Multi auth ldap or normal auth"
Dears,

I success to connect to LDAP and user is login

my question: I need to know how can I make 2 auth methods, so if user not auth throw ldap it check db to see if he have user ?

I'm using latest template .net core mpa

[2021-02-21 12:47] #6043 closed

[2021-02-21 22:58] #5929 closed

[2021-02-21 22:58] #5930 closed

[2021-02-22 06:38] ismcagdas commented on #6038
Hi,

If you disable multi tenancy, system will work like there is only one tenant, so you can't use multi tenancy for settings, permissions etc... Features will not be available at all if you disable multi tenancy.

Maybe it will be better to keep multi tenancy on and define projects as non multi tenant and create a custom filter as explained [here](https://aspnetboilerplate.com/Pages/Documents/Ar

[2021-02-22 06:41] ismcagdas commented on #6040
@jktan it uses libman, see https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-vs?view=aspnetcore-5.0.
You can install libman and run `libman restore` command.

[2021-02-22 06:46] osalas891123 commented on #5677
@maliming any advance on this, or comments on where to touch

[2021-02-22 19:22] #5996 closed

[2021-02-22 21:50] sebastienricher commented on #5996
Excellent!

[2021-02-23 06:29] ismcagdas commented on #6034
@morfeoo I think this problem is not related to cookie configuration. If you are hosting your app on IIS, could you configure your website as always on ?

[2021-02-23 06:32] matthew-qin1 opened #6044 "Navigation property 'Tokens' on entity of type 'User' cannot be loaded because the entity is not being tracked."
Hi,
I am receiving the following error when logging in to my application when using multiple tenant (multiple databases) :

System.InvalidOperationException: Navigation property 'Tokens' on entity of type 'User' cannot be loaded because the entity is not being tracked. Navigation properties can only be loaded for tracked entities.
   at Aon.ChinaDigitalBenefits.Authorization.Users.UserManager.AddT

[2021-02-23 06:34] maliming commented on #6044
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2021-02-23 06:34] maliming commented on #6044
* Your Abp package version.
* Steps needed to reproduce the problem.

[2021-02-23 06:37] matthew-qin1 commented on #6044
- Abp package version: 5.9.0
- Steps to reproduce:
- 1. Create a new tenancy (not using host), the new database will be created - confirmed.
- 2. Sign in with admin (API: Web.Controllers.TokenAuthController.Authenticate(AuthenticateModel model))

[2021-02-23 07:16] maliming commented on #6044
Hi

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/6044#issuecomment-783947745
This doesn't look like full steps.

[2021-02-23 07:33] #6015 closed

[2021-02-23 07:46] matthew-qin1 commented on #6044
Update:
- Create a new tenancy named "MT" (not using host database), the new database will be created - success.
- Sign in "Swagger" without tenancy information via admin account - success.
- API "/api/TokenAuth/Authenticate"

  "userNameOrEmailAddress": "admin",
  "password": "123qwe",
  "tenancyName": "MT_4"
}
- Result: 500 Internal Server Error: "Navigation property 'Tokens' on entity of type '

[2021-02-23 07:48] matthew-qin1 commented on #6044
Update2:
- Create a new tenancy named "MT" (not using host database), the new database will be created - success.
- Sign in "Swagger" **with tenancy** via admin account - success.
- API "/api/TokenAuth/Authenticate"

  "userNameOrEmailAddress": "admin",
  "password": "123qwe",
  "tenancyName": "MT_4"
}
- Result: Success get token

[2021-02-23 08:24] matthew-qin1 commented on #6044
Issue Closed. Not an ABP bug.
When I use "multiple databases" for different tenancy, I use incorrect tenancy database connection strings.

[2021-02-23 08:24] #6044 closed

[2021-02-23 08:57] bxjg1987 opened #6045 "Automatic event registration increase switch"
The event handler should be defined in the domain layer, and the event registration should be registered when the application layer module starts, because event subscription also belongs to business process definition.

The default rule of ABP is to register the event handler automatically. I want the event handler to use dependency injection, but I want to subscribe to the event manually.

[2021-02-23 09:22] ismcagdas opened #6046 "Upgrade NuGet packages"
Upgrade all NuGet packages to latest version

[2021-02-23 09:23] #6046 closed

[2021-02-23 21:08] bilal7469 opened #6047 "System.NotImplementedException"
Merhaba, siteden indirdiğim zaman Error 500 ile karsilasiyorum.

System.NotImplementedException
The method or operation is not implemented.
Description: HTTP 500.Error processing request.

Details: Non-web exception. Exception origin (name of application or object): System.Transactions.

Exception stack trace:

[2021-02-24 00:18] worthy7 opened #6048 "DefaultPassPhrase same for every project"
Is this a security issue?

If someone finds a website and understands that it is built on ABP, then they look at the source code here and see that the DefaultPassPhrase if fixed, doesn't that meant they could intercept the encrypted token using for things like signalr? Is this an issue?

[2021-02-24 03:58] demirmusa commented on #6048
Hi @worthy7
It is not same for every project. You can change it with following code
[code]
For more information you can check https://aspnetboilerplate.com/Pages/Documents/Setting-Management

[2021-02-24 04:00] worthy7 commented on #6048
Yes but by default it is fixed and there is no documentation or
instructions that people should change this when they download the
template. That is what I am talking about.

On Wed, 24 Feb 2021 at 12:58, Musa Demir <notifications@github.com> wrote:

[2021-02-24 04:00] demirmusa commented on #6045
Hi @bxjg1987
Can you describe it in more detail with the class names?

[2021-02-24 05:51] ismcagdas commented on #6048
@worthy7 you are right. Adding this info to startup template documents will be better.

[2021-02-24 05:52] worthy7 commented on #6048
Could your template maker perhaps randomize this for each download? Maybe
too advanced?

On Wed, 24 Feb 2021 at 14:51, İsmail ÇAĞDAŞ <notifications@github.com>
wrote:

[2021-02-24 05:54] ismcagdas commented on #6048
Maybe. We can also try that, thank you.

[2021-02-24 05:57] ismcagdas commented on #6047
@bilal7469 does this happen when you are downloading a project ? If so, could you share what options did you select during the download ?

[2021-02-24 08:03] alirezawills commented on #6035
please help me. I'm really tired

[2021-02-24 08:31] mehdiali22 commented on #6035
I have same problem. I downloaded the default asp.net mvc from the abp website
and have exactly this issue.

[2021-02-24 08:32] mehdiali22 commented on #6035
this is not about the project I think because I download the default asp.net mvc from abp website, and have this issue.

[2021-02-24 08:51] proahmedmansour commented on #2901
Any update on this?

[2021-02-24 09:58] worthy7 commented on #6038
Is it possible your "projects" should actually be "features"?
Also, is this perhaps a case for https://aspnetboilerplate.com/Pages/Documents/Zero/Organization-Units ?

Can you give us an example of what you are calling Hosts, Tenants and Projects - a practical example from your use case

[2021-02-24 11:59] bilal7469 commented on #6047
I am on macos, I tried angular, vue.js multi page but I cannot restore the packages

[2021-02-24 14:44] frohlichcortezh opened #6049 "Abp.Zero.Ldap support for LDAP with System.DirectoryServices.Protocols"
Not actually an issue but have not found a better place to ask the question and get an accurate answer.

We're analysing solutions for a new project and ASP.NET Zero is on the table.
But we would need to authenticate with Red Hat Directory Server.

Most of the information I have found indicates that Abp.Zero.Ldap uses [System.DirectoryServices](https://docs.microsoft.com/dotnet/api/system.director

[2021-02-24 15:46] bxjg1987 commented on #6045
@demirmusa
There are event handlers in my module. They all implement the ITransientDependency interface. ABP will register event  handlers automatically（[abp event documentation](https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#manually)）, but I want to register them manually.

[2021-02-25 00:58] Kasper888 commented on #582
@hikalkan @ismcagdas @Klainer  I cannot use this code in .net core. how can I use it?

[2021-02-25 05:53] ismcagdas commented on #582
Yes, it was for MVC 5.x. I'm not sure how to implement it for ASP.NET Core but you can take a look at https://stackoverflow.com/a/40621690/6681451

[2021-02-25 05:58] ismcagdas commented on #6045
So, can't you do that as explained here https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#manually

[2021-02-25 06:02] ismcagdas commented on #6049
@frohlichcortezh I'm not sure about how the default implementation will work with Red Hat Directory Server but you can create your own implementation of https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs and use it in your project.

[2021-02-25 06:26] demirmusa commented on #6047
Can you please share the console output or log file of the error?

[2021-02-25 06:52] demirmusa commented on #6035
Hi @alirezawills
Can you please try SignInManager.SignOutAsync() method

[code]

[2021-02-25 06:58] demirmusa commented on #6035
Hi @alirezawills, @mehdiali22
Can you please try SignInManager.SignOutAsync() method

[code]

It is what we use to logout. I could not reproduce your problem in the project using that.

[2021-02-25 08:01] frohlichcortezh commented on #6049
All right, thank you!

[2021-02-25 08:01] #6049 closed

[2021-02-25 09:30] ismcagdas commented on #6035
On localhost, maybe the app is using cookies of other apps (possibly other AspNet Boilerplate apps), is that possible. This shouldn't be happening on production when you use a real domain.

[2021-02-25 13:45] bxjg1987 commented on #6045
I want my event handlers to use dependency injection, but I don't want ABP to register them automatically. Instead, I'll register the event handlers manually myself.

At present, ABP can not achieve such a demand.

The reason for this is that binding events to handlers should be the responsibility of the application layer.

[2021-02-25 14:38] bxjg1987 opened #6050 "UserManager.CreateAsync(TUser,string password) Password policy not verified"
abp 6.1.3

When I call userManager.CreateAsync (user, "123qwe") is executed successfully. which is incorrect.

However, when calling ChangePasswordAsync, the password "123qwe" will fail because asp.net Identity password policy validation failed

[look this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-5.0#password)

[2021-02-25 14:38] demirmusa commented on #4089
Implemented a sample project that replaces efcore with ef6. You can see the steps you need to perform this implementation from the commits in pull request.

[2021-02-26 01:22] bluprints-todd commented on #6038
Hi,

Sure. The best example I can give is a platform like Asana (or maybe Slack). The "Project" is where all the activities happen such as adding users, setting up roles, enabling features, etc. Every project should be isolated from the other. Additionally, I will have some way to group "projects" so users can log in and see all the projects they have access to.

Organizational units might work as

[2021-02-26 02:12] worthy7 commented on #6038
Nah, Tenants are more geared for "enterprise" style apps for example a
cloud service like salesforce where there are multiple companies with their
own stuff instead. they are very top level.
The host in salesforces case would be like Salesforce employees themselves,
who can see all the other companies using it.
At least this is what I think it's for.

Tenancy only allows 1 level of segregation, of

[2021-02-26 06:44] ismcagdas commented on #6050
@bxjg1987 could you execute `UserManager.InitializeOptionsAsync(user.TenantId)` before executing `userManager.CreateAsync (user, "123qwe")` ?

[2021-02-26 07:21] bxjg1987 commented on #6050
@ismcagdas  yes, it is work,  thanks!

[2021-02-26 07:21] #6050 closed

[2021-02-26 07:43] ismcagdas commented on #2901
@proahmedmansour we will not implement this but you can do it as explained above by creating your custom tenant resolver.

[2021-02-26 09:49] alirezawills commented on #6035
@demirmusa
I tested with real domain and with two computers, but it still has problems

[2021-02-26 11:57] #4089 closed

[2021-02-27 05:20] alirezawills commented on #6035
Hi

Hi demirmusa , @ismcagdas
This issue is really important for us and it has caused us problems in terms of security

[2021-02-27 14:51] mehdiali22 commented on #6035
Doesn't work. As I mentioned, I tried with the asp.net mvc version.
Despit of your are logged out, you can easily send request.

[2021-02-28 05:30] alirezawills commented on #6035
@mehdiali22 @demirmusa @gterdem
I solved the problem using the following code in startup.cs:
`  app.CreatePerOwinContext(() => IocManager.Instance.Resolve<UserManager>());`

and

`app.UseCookieAuthentication(new CookieAuthenticationOptions
{
AuthenticationType = DefaultAuthenticationTypes.ApplicationCookie,
LoginPath = new PathString("/Account/Login"),
SlidingExpiration = true,
ExpireTimeSpan = Ti

[2021-02-28 09:36] cihataydin opened #6051 "aspnetboilerplate template could not be builded successfully in visual studio 2019."
* My Abp package version: 6.0.0
* My base framework: .Net 5.
* Error	NU1108	Cycle detected. C:\Codes\AbpFramework\6.0.0\aspnet-core\src\Abp.EntityFrameworkCore\Abp.EntityFrameworkCore.csproj	1
* I searched the error and found this link
* https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1108

* Steps
* I created aspnet boilerplate template and downloaded. the building solution

[2021-02-28 17:59] #6035 closed

[2021-03-01 06:25] ismcagdas commented on #6051
@cihataydin

* Did you have a chance to try this on Windows ?
* Could you also run `dotnet build` command in aspnet-core folder and share its output ?

Thanks

[2021-03-01 07:20] Abdulhamid-Tork opened #6052 "Deploy to production"
I have Asp Core with angular Project and when I'm trying to publish it to IIS it's showing the following error

**This site can’t be reached**

but when  run it from visual studio it's working

What are parameters and variables need to be changed before publishing the project to Producation?

[2021-03-01 08:09] cihataydin commented on #6051
PS C:\Codes\AbpFramework\6.0.0\aspnet-core> dotnet build
Microsoft (R) Build Engine version 16.8.3+39993bd9d for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
C:\Codes\AbpFramework\6.0.0\aspnet-core\src\Abp.EntityFrameworkCore\Abp.EntityFrameworkCore.csproj : error NU1108: Cycle detected.  [C:\Codes\AbpFramework\6.0.0\aspnet-core\Abp.sln]
C:\C

[2021-03-01 09:10] sajasbana opened #6053 "Deploy to iis as webapplication not as website"
Dears,

I'm using latest template .net core mpa

I deployed to iis we new web application, site is opening as www.mysite.com/mywebapp
but the abp.appPath variable is  "/" so that some images not showwing properly

how can I set abp.appPath to /mywebapp by default when publish to iis so css and images can works?

is there article or documentation to publish abp to iis?

Thanks

[2021-03-01 10:50] sajasbana commented on #6053
I fixed it as below image, the script was in the begin and something was over the value of abp.appPath, but when i put it in the last the value shows correctly

do you think there is bug?

![image](https://user-images.githubusercontent.com/34976854/109487146-e32c1e80-7a94-11eb-9351-97133214d353.png)

[2021-03-01 13:56] Sunzhuokai opened #6054 "Consume embedded views in plugin not works"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* V6.2
* .Net Core.
* InvalidOperationException: The view 'Index' was not found. The

[2021-03-01 15:14] mehdiali22 commented on #6035
Thanks Alireza so much. It works.
I hope ABP team solve this problem in their project ASAP.

[2021-03-02 10:44] Sunzhuokai commented on #6054
#5481
#5033

[2021-03-02 10:45] #6054 closed

[2021-03-03 06:27] ismcagdas commented on #6053
@sajasbana this is the correct place. If you put it before the account-layout.min.js, it will be overwritten by this script.

[2021-03-03 06:44] ismcagdas commented on #6051
@cihataydin it seems like the problem is related to project name you selected. It conflicts with ABP's namespaces. Could you try with another project name ?

[2021-03-03 06:50] ismcagdas commented on #6052
Hi @Abdulhamid-Tork

When you publish an Angular app, it should create a static output with an index.html.
Did you deploy this to your server ? If it is not private, could you share your website url ?

[2021-03-03 06:55] ismcagdas commented on #6045
@bxjg1987 yes, your scenario is not supported at the moment. Probably we will not implement it as well. You can modify automatic event registration code but it can also break unexpected parts of your app.

[2021-03-03 07:50] sajasbana commented on #6053
Dear @ismcagdas
In template when you download new template as image below it is not before  account-layout.min.js

please check _Scripts.cshtml file in account and shared folder, and you can move it after the js files

![image](https://user-images.githubusercontent.com/34976854/109771734-3aa1ca00-7c0e-11eb-971f-ca0dd52100d6.png)

[2021-03-03 08:01] cihataydin commented on #6051
@ismcagdas  I applied your suggestion. There is no problem anymore. I am thankful for your supports.
I wish you healthy days.

[2021-03-03 08:02] ismcagdas commented on #6051
Great 😃 , you too.

[2021-03-03 08:02] #6051 closed

[2021-03-03 09:28] #5943 closed

[2021-03-03 09:31] bxjg1987 commented on #6045
thanks!

[2021-03-03 09:31] #6045 closed

[2021-03-03 10:50] #3673 closed

[2021-03-03 11:03] sajasbana commented on #6053
when use use below code as image, it does not include /mywebapplication
![image](https://user-images.githubusercontent.com/34976854/109796401-2cad7280-7c29-11eb-9b61-ec9cde7ffefb.png)

how can i include /mywebapplication?

![image](https://user-images.githubusercontent.com/34976854/109796330-12739480-7c29-11eb-88bf-349e206c45e9.png)

[2021-03-04 05:49] mugambiwarwema opened #6057 "Cannot GET /"
My code was working fine and I was now working on the frontend (Angular) using the latest stable version.

However, somewhere along the line my frontend does not load. (i get a white blank page that says Cannot GET /).

Even a fresh download of your aspnetboilerplate project and still the same error.

I have tried running fresh angular projects and they load.

I have uninstalled @angular/cli and c

[2021-03-04 06:04] ismcagdas commented on #6057
@mugambiwarwema do you see any errors when you run `yarn start` to start your angular app ?

[2021-03-04 06:14] worthy7 opened #6058 "[Question] Session not available after logging in with an Oauth integration"
(I did ask on Stackoverflow too, but no replies)

I am not understanding something basic.
I have an angular app and a web api backend from the ABP template.
I need to ability to add google and microsoft accounts to to the current account.
Inside the app, they can "add account" and start the auth flow for google/ms.

I am using basic dot net owin middleware to manage the flow, my problem is when th

[2021-03-04 07:07] ismcagdas commented on #6053
You need to use ApplicationPath here as well. It might be better to create a helper class and get the base app URL using it.
I will check the main problem you have reported, thank you.

[2021-03-04 07:51] mugambiwarwema commented on #6057
no errors on yarn start

![yarn](https://user-images.githubusercontent.com/18000216/109929486-8e2c1a80-7cd7-11eb-833d-bc62e5881d71.PNG)

[2021-03-04 08:32] inetcp commented on #5604
![image](https://user-images.githubusercontent.com/10843393/109934025-0100ba00-7d07-11eb-8895-cbecab9c6eec.png)

@ismcagdas  Is there an interim solution?

[2021-03-04 09:11] ismcagdas commented on #6057
It seems like your app is not started correctly. Angular CLI can be confusing sometimes :).
You need to downgrade your TypeScript version and try again.

[2021-03-04 09:37] mugambiwarwema commented on #6057
I uninstalled Typescript and reverted back to v3.9.7.
All issues solved.

Also I had a component that was messing everything up and deleted it.
Now all is well.

Thanks much.

[2021-03-04 09:37] #6057 closed

[2021-03-04 11:26] ismcagdas commented on #1434
I have worked on this issue and it seems like EF Core doesn't provide a direct way of getting the initial entity. It provides just the original values for the modified entities. We can use these changed values and send a list to entity events but this also is not fully supported by EF Core. When an owned type of an entity is changed (or one of its properties is changed), it is not easy to get old

[2021-03-04 11:39] #6021 closed

[2021-03-04 13:13] bxjg1987 opened #6059 "How to handle localized text messages when an exception is thrown in an entity"

[2021-03-04 14:55] ismcagdas commented on #5604
@inetcp Actually I couldn't find a workaround at the moment. But, I will try to work on this in a short time again.

[2021-03-05 06:12] ismcagdas commented on #6059
@bxjg1987 it is not possible. You can use a Domain Service and throw exception in it.

[2021-03-05 06:20] ismcagdas commented on #6058
@worthy7 it is hard to say something without seeing a reproduction project.

[2021-03-05 06:38] worthy7 commented on #6058
I can't share the whole project here, but could you explain how session is determined? It really doesn't make any sense since the project does have/see the cookie....

[2021-03-05 07:18] bxjg1987 commented on #6059
thanks!

[2021-03-05 07:18] #6059 closed

[2021-03-05 23:38] orionjensen commented on #3221
Any updates on this, we've got several projects running into this problem now.

[2021-03-07 14:00] ismcagdas commented on #3221
@orionjensen no progress yet. Is your problem same with https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3221#issue-307799146 ?

[2021-03-08 02:49] orionjensen commented on #3221
Yes.  It seems this setting **EnableRetryOnFailure** is critical in order to host on Azure and this setting is not compatible with ABP.

[2021-03-08 10:03] zx493734247 opened #6060 "AbpUserConfiguration GetAll slowly"
Hello
Your Abp package version.5.4
Your base framework: .Net core
Hi Team,

I found this Api(http://localhost:21021/AbpUserConfiguration/GetAll) is taking longer time to execute.
When i override this class. i find it's also execute long time when i just return a empty AbpUserConfigurationDto class
![image](https://user-images.githubusercontent.com/18095753/110299285-74b90480-8030-11eb-87b1-dbd46b2

[2021-03-08 13:34] freedyang opened #6061 "WebhookSend：Incorrect of "attemptNumber""
Abp package version: 6.2
Framework: .Net 5

Hi,

DefaultWebhookSender.cs --> line 102:

            var webhookSendAttemptId = InsertAndGetIdWebhookSendAttempt(webhookSenderArgs);
            var request = CreateWebhookRequestMessage(webhookSenderArgs);
            var serializedBody = GetSerializedBody(webhookSenderArgs);

"GetWebhookPayload" was call by "GetSerializedBody" after "InsertAndGetIdW

[2021-03-09 04:46] amendez1000 commented on #5465
Hi @osalas891123,

Were you able to load the files at the same transaction?
Thanks!

[2021-03-09 06:13] #6012 closed

[2021-03-09 06:54] #6060 closed

[2021-03-09 06:56] zx493734247 commented on #6060
That's my fault.
I used ElasticSearch logging the AuditInfo.it's take a long time

[2021-03-10 07:02] ismcagdas commented on #6058
@worthy7 yes, it is retrieved from claims. I think your app is an Angular app. In that case, Angular app gets token from cookie and sends it via request headers.

You can try to execute `abp.auth.getToken()` on browser console and see if it returns any value.

[2021-03-10 07:38] worthy7 commented on #6058
Yes my app is an angular app, but in this situation I think its not
relevant.

The user is logging in through google, and when they are redirected (in a
separate window) the cookie is sent, but the service doesn't retrieve any
claims and put them into `AbpSession`
So I am wondering what is missing, is the Oauth (google) middleware
interfering with AbpSession?

On Wed, 10 Mar 2021 at 16:03, İsmail

[2021-03-10 07:55] abolfazlmohammadiseif opened #6062 "GetLoginResultAsync does not fill Permissions"
Hi,
GetLoginResultAsync within Authenticate API does not fill Permissions list.
I use default Actions from ABP Template and insert a record in Permissions table in DB, for a user (fill UserId FK), but when I use GetLoginResultAsync to get user data, I get the data except Permissions. Do I need any other configuration or action to do?
Thanks

[2021-03-10 09:02] abolfazlmohammadiseif commented on #6062
I solved it.

[2021-03-10 09:02] #6062 closed

[2021-03-10 09:24] abolfazlmohammadiseif opened #6063 "Permissions does not work"
Hi,
I use GetLoginResultAsync (like the default of ABP template) when Authenticating and get user data containing Permissions which is correct.
But when I use [AbpAuthorize("ABC")] on an action, it lets the user get in the action even if they don't have the permission.
I don't know how Permissions work in the framework. Does the framework put permissions within the Token. where does it happen?

[2021-03-10 12:49] ddo88 opened #6064 "Signalr not serialize correctly CustomNotificationData"
I create a custom notification data
[code]

I send it using the NotificationPublisher
[code]

but when I receive the message in signalR it comes in this form

[code]
i check the notification on db and has the field Data and IsRequired without problem
![notification on bd](https://user-images.githubusercontent.com/885227/110631885-016cdb00-8175-11eb-9bb5-b12f1b741720.PNG)

this app is using Abp 6.2

[2021-03-11 03:30] amendez1000 commented on #5632
@RobersonLuo , where do you store the files? What folder would be the best practice? In my application, I have the backend and the front-end in an Angular project. If I do something like

`string businessLogos = Path.Combine(_environment.WebRootPath, "businessLogos");`

The application is going to try to save the picture in the server used for the backend and I need to display the pictures as pict

[2021-03-11 07:20] ismcagdas commented on #6064
That's because https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/UserNotification.cs is send to user.

[2021-03-11 07:25] ismcagdas commented on #6063
Is this on an AppService or a Controller ? If it is a Controller, could you try Authorize attribute instead ?

[2021-03-11 07:29] ismcagdas commented on #6058
@worthy7 Angular app doesn't use the cookie, it uses the token header. So, when you get data (token or code) from Google, you need to send it to your server and your server must validate user with Google using this information. After that, you need to authenticate user on the server and send locally generated token to your angular app.

Then, your Angular app can use this token.

[2021-03-11 07:45] sorensenmarius commented on #4148
Have you gotten any close to this, @ismcagdas ?

Have you got any examples or sources that can be easily implemented with ABP, @jotamorais ?

[2021-03-11 07:49] ismcagdas commented on #4148
@sorensenmarius not yet but I'm adding it to one of the next milestones for evaluation.

[2021-03-11 08:01] worthy7 commented on #6058
I see, so it is not because the browser is sending the cookie that the
session is populated, it is because the angular app is putting the token in
the header right.

But in that case, is there not a simple place I can just "turn on cookies"
so that the server will read the cookie and popular the session? I did look
at the MVC project but I don't see anything other than the UseCookies part
of the c

[2021-03-11 16:17] ddo88 commented on #6064
ok, but If I defined a definition for my notification , why is that difference? how can i send that object to the user?

[2021-03-12 04:47] amendez1000 commented on #4498
Hello Everyone,

I created manually the folders App_Data\Logs and then assign the full rights to the user group IIS_USERS. The file is being created: Logs.txt. However, it is not logging.

This is my log4net.config file:

`<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="App_Data/Logs/Logs.txt" /

[2021-03-12 06:40] ismcagdas commented on #6064
If you want to send the exact message, you can directly use SignalR. Those additional information are used by the framework.

[2021-03-12 07:09] ismcagdas commented on #6058
@worthy7 you can enable cookies but in that case, I assume, you will be hosting your Angular app and your Host app under the same domain (or subdomain) for cookie share.

[2021-03-12 08:39] worthy7 commented on #6058
Yes they are under the same TLD, different sub domains.

So what do I need to do to enable cookie based session too? I did already
try Use cookies but I imagine that isn't the ABP way...

On Fri, 12 Mar 2021, 16:10 İsmail ÇAĞDAŞ, ***@***.***> wrote:

[2021-03-12 08:40] RickyLin opened #6066 "Tiny improvement when converting GUID to 32 digits string"
I found out code like this when reading code in this file:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b0d274adc638275c1795b2f4c4460839bbf84484/src/Abp/Webhooks/WebhookSubscriptionManager.cs#L148

We can invoke `Guid.ToString("N")` method to get the same 32 digits string without extra string allocation.

[2021-03-12 09:08] #6066 closed

[2021-03-12 09:14] ismcagdas commented on #6061
@freedyang as I can see, the attemptCount is increased only one place and it is called once in SendWebhook (or SendWebhookAsync).

How can I reproduce this problem ?

[2021-03-12 12:02] ismcagdas commented on #6058
@worthy7 I'm not sure since I haven't used cookies in Angular template. But, enabling cookies should work just like any other ASP.NET Core app.

[2021-03-12 19:44] acjh commented on #6064
This is caused by SignalR using `System.Text.Json` since ASP.NET Core 3.0.

You can switch to `Newtonsoft.Json`:

1. Install the `Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson` NuGet package.
2. Chain an `AddNewtonsoftJsonProtocol` method call to the `AddSignalR` method call in `Startup.ConfigureServices`:

[code]

https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=asp

[2021-03-12 20:36] ddo88 commented on #6064
@acjh you are the best, that work's for me thanks

[2021-03-13 02:29] freedyang commented on #6061
@ismcagdas to reproduce,  just trigger the default  "App.TestWebhook" event in [ASPNETZERO] Angular Template，then see the result:  the first call, "Attempt" is 2 but not 1:

![image](https://user-images.githubusercontent.com/6386613/111015686-164fa580-83e5-11eb-8ed6-0a2b74a897ee.png)

**SendWebhook:**

First call  "InsertAndGetIdWebhookSendAttempt",   a WebhookSendAttempt record was inserted.

The

[2021-03-13 15:00] zhangkefeng2010 commented on #6034
I has found the issue for abp mvc version, but not fixed it, Maybe it is related data protection when server need decrypt the cookie!

[2021-03-13 15:19] zhangkefeng2010 commented on #6033
Please include abp.js file in layout page or _Scripts.cshtml, and make sure call method: AbpAntiForgeryManager.SetCookie(Context);
and check the cookie "XSRF-TOKEN" is exist in your browser.

[2021-03-13 15:20] zhangkefeng2010 commented on #6033
Please make sure call method: AbpAntiForgeryManager.SetCookie(Context);
and check the cookie "XSRF-TOKEN" is exist in your browser.

[2021-03-14 08:43] ismcagdas commented on #6061
Thanks, will check it again.

[2021-03-14 08:44] #6064 closed

[2021-03-14 19:25] amendez1000 commented on #5252
Hi @ismcagdas ,

I have deployed locally my application in IIS. The backend (.net core) was deployed correctly in IIS and the frontend (angular) was deployed without problems. Locally, I can access the application.

This is the appconfig.json for my client application:

`{
  "remoteServiceBaseUrl": "http://localhost:9945",
  "appBaseUrl": "http://localhost:4300",
  "localeMappings": [
    {

[2021-03-14 20:00] amendez1000 commented on #5252
I changed "localhost" to my local ip address and it is working now, Thanks!

[2021-03-15 09:48] morfeoo commented on #6034
Yes, the problem is not related to the code. It is related to the hosting session time. Thank you for your attention.

[2021-03-15 09:48] #6034 closed

[2021-03-15 20:19] Meffistas commented on #2826
This should be solved, not closed. A vulnerability scanner Sonatype still detects a high alert here.

[2021-03-16 05:33] ismcagdas commented on #2826
@Meffistas thank you for the reminder. Maybe we can offer a way to solve this problem. I'm moving it to next milestone.

[2021-03-16 05:42] #5908 closed

[2021-03-16 05:42] #5964 closed

[2021-03-16 05:42] #5967 closed

[2021-03-16 11:13] abolfazlmohammadiseif commented on #6063
This is an AppService. I checked Authorize attribute but it didn't worked.

[2021-03-16 18:25] ismcagdas commented on #6063
Probably the problem is somewhere else. AbpAuthorize attribute should work on app services. Could you share the source code of this app service ?

[2021-03-19 04:32] worthy7 opened #6069 "CreateUpdateBookDto no Id?"
Hi there, I am wondering in the documentation:

https://docs.abp.io/en/abp/latest/Application-Services#example-1

We have `CreateUpdateBookDto` but I don't see any Id on this DTO, so how exactly is this supposed to do any kind of "update"?

Is this just a mistake in the example?

[2021-03-19 05:15] acjh commented on #6069
The abp.io repo is https://github.com/abpframework/abp.

The `id` is in `[Route("{id}")]`:
https://github.com/abpframework/abp/blob/d8723d2fce25ef7022a97ed78f02e756460a3901/test/AbpPerfTest/AbpPerfTest.WithAbp/Controllers/BookController.cs#L69-L70

[2021-03-19 05:17] #6069 closed

[2021-03-19 18:10] AmrMRamadan commented on #2957
@hikalkan @ismcagdas  if I want to replace IExceptionToErrorInfoConverter with my own implementation, how can I override the configuration and force it to run my custom implementation

[2021-03-20 05:40] acjh commented on #2957
Try this in your module:

[code]

[2021-03-20 08:38] RobersonLuo commented on #5632
@amendez1000 ,
I think you need to upload your Images or Files to a 3th Object Storage Service (OSS， like Amazon Simple Storage Service).
Then you can load、display or download them  on any client in anywhere.

[2021-03-20 11:31] iamseanduffy commented on #5973
Fair enough; thanks for the reply.

[2021-03-20 11:31] #5973 closed

[2021-03-22 01:05] #5989 closed

[2021-03-22 07:57] sreilus opened #6070 "Problem logging out after 30 minutes in mvc project"
Hi,

Abp package version: 5.13.0
Framework: .Net Core Mvc 3.1

I installed aspnetboilerplate .net core 3.1 mvc sample template. When I log in with a tenant, it logs out after 30 minutes. How can I increase the duration of this session?

[2021-03-22 08:28] #6061 closed

[2021-03-22 12:04] maliming commented on #6070
hi

This is related ASP NET Core Identity.

https://www.jamessturtevant.com/posts/ASPNET-Identity-Cookie-Authentication-Timeouts
https://stackoverflow.com/questions/37086645/how-to-set-asp-net-identity-cookies-expires-time?answertab=active#tab-top

[2021-03-22 15:23] iyilm4z opened #6071 "Upgrade templates to the latest AdminLTE version"
[AdminLTE 3.1.0 ](https://github.com/ColorlibHQ/AdminLTE/releases/tag/v3.1.0) is released few hours ago.

[2021-03-23 08:59] ismcagdas opened #6072 "Define a setting to disable GetScriptsResponsePerUserCacheMiddleware"
We need to define a setting and check this setting in GetScriptsResponsePerUserCacheMiddleware. IF this setting is disabled GetScriptsResponsePerUserCacheMiddleware should do nothing.

[2021-03-23 18:53] sreilus commented on #6070
Thanks @maliming i will try.

[2021-03-23 19:01] LucasWBritz commented on #6020
Did it worked @yogichandras? We are also having this same issue right now.  =/
We're using version 6.2

[2021-03-24 01:08] 274188A opened #6073 "Update templates to ABP 6.3"
Please bump up the latest [Templates](https://aspnetboilerplate.com/Templates) to 6.3.0.  Currently we can only download (stable) release 6.0 yet the latest Volvo nuget packages (stable)  are 6.3.0

[2021-03-24 01:10] yogichandras commented on #6020
@LucasWBritz Yes it worked after I upgraded my ABP Version from 6.1 to 6.2 :). Maybe you can try upgrading your ABP version to the latest version, now 6.3.

@ismcagdas thank you for your solution.

[2021-03-24 01:10] #6020 closed

[2021-03-24 01:43] worthy7 opened #6074 "Limited documentation on ValueObject"
The mentions of value object are:

Brief explaination of how to build one (but it doesn't "just work")
https://docs.abp.io/en/abp/latest/Value-Objects

Then here in the DDD guild there is TALK about the VO with the `IssueLabel`, but no implementation shown for it.
https://docs.abp.io/en/abp/latest/Domain-Driven-Design-Implementation-Guide#aggregates

There is also brief mention here
https://docs.a

[2021-03-24 01:46] acjh commented on #6074
The abp.io repo is https://github.com/abpframework/abp.

[2021-03-24 01:55] worthy7 commented on #6074
Ah sorry - again

[2021-03-24 01:55] #6074 closed

[2021-03-24 05:05] ismcagdas commented on #6073
@274188A we will update the templates in a short time.

[2021-03-24 05:45] 274188A commented on #6073
ok thank you 👍

[2021-03-24 07:06] demirmusa commented on #6073
- [ ] module-zero-core-template
- [ ] module-zero-template
- [ ] aspnetboilerplate-templates
- [ ] aspnet-core-template

[2021-03-24 08:05] ismcagdas commented on #6020
@LucasWBritz this might cause if you are using AsyncHelper as well. We are trying to reduce its usage to minimum. If upgrading to 6.3 doesn't solve your problem, you can also take a look at that.

[2021-03-24 09:11] huyqta opened #6075 "Need to download project to debug controller: AbpLocalization/ChangeCulture"
Hi support team,

I'm having issue at this url: `https://localhost:44368/AbpLocalization/ChangeCulture?cultureName=nl&returnUrl=xxx` when I click button to change language. This controller is not in generated projects. So, how can debug this controller? What is project and where can I download it?

Thank you so much.

[2021-03-24 09:39] maliming commented on #6075
NET Core:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/552c0240c44d9899c1209fb20eb48d35b17d5e54/src/Abp.AspNetCore/AspNetCore/Mvc/Controllers/AbpLocalizationController.cs#L25

MVC5:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/552c0240c44d9899c1209fb20eb48d35b17d5e54/src/Abp.Web.Mvc/Web/Mvc/Controllers/Localization/AbpLocalizationController.cs#L26

[2021-03-24 09:39] #6075 closed

[2021-03-24 09:50] sajasbana commented on #6073
@ismcagdas @ismcagdas
could you make this in release 6.3 since this update related to v6.3?

[2021-03-24 10:32] ismcagdas commented on #6073
@sajasbana since we do these updates after a version is released, we put package upgrade issues to next milestone.

[2021-03-24 11:13] huyqta commented on #6075
I'm trying to add project Abp.AspNetCore to solution and built but it's causing many errors of dependencies. Could you please give a tutorial to debug it?
![image](https://user-images.githubusercontent.com/5053933/112301578-aa1a4f00-8ccc-11eb-8698-84fb76075fc3.png)

Thanks and best regard.

[2021-03-24 11:35] ismcagdas commented on #6075
@huyqta ABP's 6.4 version is not released yet. Did you change NuGet package version to 6.4 ?

[2021-03-24 15:13] huyqta commented on #6075
No, I didn't change Nuget version, I've just downloaded source code version **6.2** and build **Abp.dll**, then add reference to project **Abp.AspNetCore** as below screenshot, but it still cause error. Is it correct way?
![image](https://user-images.githubusercontent.com/5053933/112334427-ffb32380-8ced-11eb-83ea-c3309be59f75.png)

[2021-03-24 15:58] mark-at-tusksoft opened #6076 "Creeping dependencies on service-proxies module"
* Zero template 10.2.0
* Your base framework: .Net Core.

Something I have referenced in #5216 is the separation of service proxies from the application. With the past couple updates, additional provider dependencies continue to creep in making this separation increasingly more troublesome. To be specific, I am referring to services such as ZeroRefreshTokenService and ZeroTemplateHttpConfiguration

[2021-03-25 04:07] huyqta commented on #6075
Hi @ismcagdas , I can debug it now, it was my mistake about downloading version of Abp.AspNetCore. It should be same version as file dll on my project. Thanks for you supporting

Best regard.

[2021-03-25 08:21] #5640 closed

[2021-03-25 08:24] #5805 closed

[2021-03-25 08:24] #5961 closed

[2021-03-25 08:25] #5962 closed

[2021-03-25 08:25] #5966 closed

[2021-03-25 08:25] #5984 closed

[2021-03-25 09:04] #5993 closed

[2021-03-25 09:04] #5994 closed

[2021-03-25 09:06] #6005 closed

[2021-03-25 09:08] #6009 closed

[2021-03-25 09:10] nguyenxuansan opened #6077 "Fake DbConnection using Effort has problem"
[Unit testing in C# using xUnit, Entity Framework, Effort and ASP.NET Boilerplate.](https://www.codeproject.com/Articles/871786/Unit-testing-in-Csharp-using-xUnit-Entity-Framewor)

[code]
**When I debug then seeing LocalIocManager.IocContainer is null. Please help me to solve this problem.**

//Unit tests are thrown out of exception:

[code]

a) Call the Effort.Provider.EffortProviderConfiguration

[2021-03-25 09:31] ismcagdas commented on #6010
@bxjg1987 you can either replace default repositories with your own implementation or manually call the initialize method.

[2021-03-25 09:32] #6018 closed

[2021-03-25 09:35] ismcagdas commented on #6029
@deepakkumarbarik did you figure it out ? This seems something related to ASP.NET Core.

[2021-03-25 09:35] ismcagdas commented on #6030
@shrekshadow were you able to reproduce it ? If not, can we close the issue ?

[2021-03-25 09:37] #6038 closed

[2021-03-25 09:37] #6039 closed

[2021-03-25 09:37] #6040 closed

[2021-03-25 09:38] #6047 closed

[2021-03-25 09:38] #6052 closed

[2021-03-25 09:40] #6073 closed

[2021-03-25 09:41] maliming commented on #6077
hi

The codeproject article may be a bit outdated. You can check the template project.

https://github.com/aspnetboilerplate/module-zero-template/blob/master/src/Tests/AbpCompanyName.AbpProjectName.Tests/AbpProjectNameTestBase.cs#L63

[2021-03-25 10:36] ismcagdas opened #6078 "Reduce usages of AsyncHelper"
Following https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6065

[2021-03-25 15:55] mugambiwarwema opened #6079 "ResetPasswordAsync returns TRUE but does not actually update/change the user's password."
I am using the latest version of abp.

with this I have a function that sends a password change reset code

`

                var user = await UserManager.FindByEmailAsync(EmailAddress);

                if (user == null)
                {
                    throw new UserFriendlyException("User not found!");
                }

                user.SetNewPasswordResetCode();`

with the value of

[2021-03-25 16:48] ismcagdas commented on #6079
You need to validate the password reset code and then change the user's password using `_userManager.ChangePasswordAsync`

[2021-03-25 17:03] mugambiwarwema commented on #6079
@ismcagdas

Thank you for the quick response. Allow me to ask

where's the method to validate password reset.

I have checked the instance of _userManager but cannot find any suitable method that validates the reset code?

[2021-03-26 03:04] nguyenxuansan commented on #6077
Hi maliming,

Thanks for your replying.

I edited my code as the template project but still have error:

Test Name:	SimpleTaskSystem.Test.Tasks.TaskAppService_Tests.Should_Get_Tasks
Test FullName:	SimpleTaskSystem.Test.SimpleTaskSystem.Test.Tasks.TaskAppService_Tests.SimpleTaskSystem.Test.Tasks.TaskAppService_Tests.Should_Get_Tasks
Test Source:	D:\Working\Projects\ASPNETBoilerplate\ASPNETMVC5\Simp

[2021-03-26 05:21] maliming commented on #6077
Are you using the template project?

if not, can you try [Create the application from boilerplate template](https://aspnetboilerplate.com/Pages/Documents/Articles/Introduction-With-AspNet-MVC-Web-API-EntityFramework-and-AngularJs/index.html#ArticleApplication)

[2021-03-26 05:45] nguyenxuansan commented on #6077
I using the template project with version 5.5.0 to create the solution SimpleTaskSystem but I create the SimpleTaskSystem.Test project manualy from Visual Studio 2019 - Class Library (.NET Framework 4.6.1).

[2021-03-26 06:06] ismcagdas commented on #6079
You need to validate it manually. Something like this should work;

[code]

[2021-03-26 10:25] Abouzeid opened #6080 "Would SaveChanges result in a new Transaction for the remaining Uows code?"
* Abp package version = v5.14
* Framework = .Net Core 3.1
* Exception message and stack trace if available.
[code]
* Steps needed to reproduce the problem.
I am trying to resolve the above error. It occurs when there is a Parallel concurrent call to  MyApplicationService that implements IApplicationService.

In short,
1. Method 1 of MyApplicationService  calls select with join SQL statement (throu

[2021-03-26 12:53] ismcagdas opened #6083 "Possible code enhancements"
1. There are some places in unit tests which we can use async version of related methods.
2. There are also not used using statements which we can delete
3. There are also other optimization points for a better code readability

[2021-03-26 14:06] #6025 closed

[2021-03-27 01:04] RuiGeWeiKeJi opened #6084 "cme.bookStore.books.book.getList({}).done(function (result) { console.log(result); });,acme is not defined"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2021-03-27 13:26] maliming commented on #6084
Please answer the question in the template.

[2021-03-28 11:29] ismcagdas commented on #6080
Hi @Abouzeid could you also share your app service method ?

[2021-03-28 14:19] Sunzhuokai opened #6086 "This line always false"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/cb2cb45329bb3e6adc9d62546ac75f57ff8dbb78/src/Abp.HangFire.AspNetCore/Hangfire/HangfireBackgroundJobManager.cs#L19

Did you mean ` if (typeof(IBackgroundJob<TArgs>).IsAssignableFrom(typeof(TJob)))`

[2021-03-28 14:32] Sunzhuokai commented on #6086
respond so quickly 😄

[2021-03-29 01:22] #6078 closed

[2021-03-29 01:51] Abouzeid commented on #6080
[code]

Will **CalculateInspectionTask** run in a different transaction because it is after the SaveChanges?
Please let me know if you need more details

[2021-03-29 01:56] maliming commented on #6080
hi

Can you try to make the methods **virtual**?

[code]

[2021-03-29 02:28] Abouzeid commented on #6080
@maliming , I did change them to virtual as your suggestion. Still the same error.
With only one call, it worked fine. However, if there are multiple calls simultaneously, then it fails.

[2021-03-29 02:42] maliming commented on #6080
hi Abouzeid
Can you try to reproduce the problem with simple code?
Please share the full code.

[2021-03-29 03:15] Abouzeid commented on #6080
@maliming got it.

[2021-03-29 06:24] #6086 closed

[2021-03-29 06:48] ismcagdas commented on #6076
@mark-at-tusksoft sorry I couldn't understand the problem here. Is it possible for you explain it with samples ?

[2021-03-29 08:58] #6083 closed

[2021-03-29 09:30] Abouzeid commented on #6080
[Issue6080.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/6220667/Issue6080.zip)

- Please update to a relevant MySql database connection.
- Run Update-Database in Packet Manager Console
- Run the Issue6080Tester Console App.
![image](https://user-images.githubusercontent.com/9715386/112816642-31443a00-90b4-11eb-9713-07acd04d4934.png)

The Error:
![image](https://user-images.git

[2021-03-29 10:16] maliming commented on #6080
I did not try MySQL, but this is like a transaction isolation level problem,Can you try to set **IsolationLevel** ?

[code]

[2021-03-29 10:18] maliming commented on #6080
I will try using MySQL later.

[2021-03-29 10:41] Abouzeid commented on #6080
I have tried the Isolation level to ReadUncommitted already.
[image: image.png]

Still got the deadlock

On Mon, Mar 29, 2021 at 6:16 PM maliming ***@***.***> wrote:

--

*Mahmoud M. Abouzeid (馬安奇)Master's degree in Computer Science*

*EECS International Graduate ProgramNational Chiao Tung University*
*1001 University Rd, Hsinchu, Taiwan*

[2021-03-29 15:02] maliming commented on #6080
You can try to use retry in **CreateTopicTask** to re-execute the method when a deadlock occurs.

This problem has nothing to do with ABP but with MySQL transaction.

The insert and update may cause deadlock
![image](https://user-images.githubusercontent.com/6908465/112856735-b21a2a80-90e2-11eb-8d87-5415d4ff722e.png)

[2021-03-29 17:03] jeevabhc opened #6090 "Upgrading abp-ng2-module for angular 9 makes more console errors"
### 1. I have upgraded my project to angular 9 , so I updated my abp-ng2-module and abp-web-resources. I have followed @https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5272#issuecomment-605792351 and https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5272#issuecomment-623455553 to resolving import errors. I resolved my import errors.

### 2. ng serve command also ran succe

[2021-03-30 01:29] Abouzeid commented on #6080
Understood.
Thanks a lot for your help.

![image](https://user-images.githubusercontent.com/9715386/112919596-0270a700-913a-11eb-8358-dfe816e8009d.png)

When I placed the insert inside a new transaction, it worked.

Can I conclude that calling   `   CurrentUnitOfWork.SaveChanges();`  doesn't commit the current transaction ?. Therefore, the remaining queries after SaveChanges() will still be in the

[2021-03-30 01:52] maliming commented on #6080
Yes. https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work

[2021-03-30 02:00] Abouzeid commented on #6080
From the documentation "you may want to save changes to the database in the middle of a unit of work operation."

So this is done not through a transaction-commit.

@maliming  Got it, thanks a lot for your time and your support.

[2021-03-30 02:00] #6080 closed

[2021-03-30 03:35] hzicong commented on #5805
I had the same problem， the sku2 must be null

`
    public class TestAppService : ApplicationService
    {
        private readonly IRepository<ProductSku, long> _productSkuRepository;

        public TestAppService(IRepository<ProductSku, long> productSkuRepository)
        {
            _productSkuRepository = productSkuRepository;
        }

        public virtual async Task<ProductSku> TestDe

[2021-03-30 03:58] hzicong commented on #5805
I didn't use soft delete

[2021-03-30 06:18] ismcagdas commented on #5805
Yes.

[2021-03-30 07:08] ismcagdas commented on #6090
Hi,

abp-ng2-module 6.3.0 is for Angular 10.x and there are important changes. You can either upgrade your project to latest Angular version or downgrade abp-ng2-module version.

I think it is better to download a project from https://aspnetboilerplate.com/Templates and compare it with your project.

[2021-03-30 07:26] hzicong commented on #5805
So when I delete entities, I have to call SaveChange before I get it again, but Update does not？

[2021-03-30 08:24] ismcagdas commented on #5805
When updating, you already changed the field values fore calling Update method. For delete and create (for generating Id value for example), SaveChanges must be called.

[2021-03-30 08:43] abolfazlmohammadiseif commented on #6063
Would you please tell me how [AbpAuthorize("ABC")] checks the permissions? Does it use Claims within the token, or it checks the DB immediately to decide if the user has the proper permissions to the API or any other method?

[2021-03-30 20:43] mark-at-tusksoft commented on #6076
Since I have two issues talking about this, I will spin up a repo that implements what I'm trying to accomplish. Will need to find a free moment though.

[2021-03-31 03:00] Redyoung49 opened #6091 "local area network without internet"
### version info
* Abp package version:6.1.1
* base framework: aspnet core MVC
### about the link styles  "fonts.googleapis.com"
my abp project would deployed in a local area network without internet，the template views/account/_Layout.cshtml and views/shared/Layout/_Styles.cshtml use this code:
`<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

[2021-03-31 03:08] maliming commented on #6091
So you can download those resources to local manully.

[2021-03-31 03:08] #6091 closed

[2021-03-31 06:01] #6084 closed

[2021-03-31 06:23] ismcagdas commented on #6063
It is handled [here](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/AuthorizationHelper.cs#L33)

Permissions are cached, if the cache is emtpy it is checked from the db first time. When a users or roles permissions are changed, the cache is updated.

Could you share your app service class ?

[2021-03-31 07:06] Redyoung49 commented on #6091
I found those , idk how many other resources remain.
and why not download to template or use libman?

[2021-03-31 07:10] abolfazlmohammadiseif commented on #6063
Thanks for your help. Actually, my code is a bit different. I have separated the Identity section from the whole project and I have used the  `AuthConfigurer.Configure(services, _appConfiguration);` within startup class. Overall, Authentication works fine, but when it comes to Authorization, id doesn't work. I am looking for exact process of Authorization to change it in a way that it works in my

[2021-03-31 09:02] Abouzeid commented on #6080
For the record, the root cause turned out to be a database transaction that inserts a row into the child table and updates the parent, which resulted in a deadlock.
For more info see [here](https://bugs.mysql.com/bug.php?id=48652).

Since the try-catch in the application service method didn't catch such a deadlock exception.
As a general practice for MYSQL integration,  How can I retry a unit-of-w

[2021-03-31 09:13] abolfazlmohammadiseif commented on #6063
What is the main configuration to enable Authorization, so that I  could move them into my project and use Authorization?

[2021-03-31 18:05] osalas891123 commented on #5677
@maliming , @ismcagdas any effort on this?

[2021-03-31 21:04] deshpandevd opened #6092 "XML Attribute Type does not getting map with Model properties web api 2.2"
I am doing this in WebAPI(.net Core 2.2).
My code should support both XML and JSON request to WebAPI(.net Core 2.2)

Problem Statement :  XML Attribute Type does not getting map with Model properties. XML Element data is getting set to model class properties but the same class structure doesn't work for XML Attribute.  Its not setting up SystemId and DocId properties. Its always setting value as n

[2021-04-01 01:14] maliming commented on #5677
It is still in backlog.

[2021-04-01 07:28] ismcagdas commented on #6063
It is done via interceptors, so could you be sure this line is executed in your app https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/AbpBootstrapper.cs#L106 ?

This is the interceptor https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Authorization/AuthorizationInterceptor.cs and this is its registrar https://github.com/aspnetboilerplate/aspnetboilerplat

[2021-04-01 07:30] ismcagdas commented on #6092
Could you also share your ABP NuGet package version ?

[2021-04-01 07:37] ismcagdas commented on #6080
@Abouzeid actually I don't know how to do that. Maybe [Polly](https://github.com/App-vNext/Polly) can help you.

[2021-04-01 10:54] jeevabhc commented on #6090
Thanks ,

App worked after upgrading project to angular 10.

[2021-04-01 10:54] #6090 closed

[2021-04-02 09:02] LoyalAILife opened #6093 "Method not found: 'Abp.Runtime.Caching.ICache Abp.Runtime.Caching.ICacheManager.GetCache(System.String)'."
### Documentation

When I upgrade the ASP.NET CORE frame from 2.2 to 3.1, I encountered this error.

Stack trace:
Castle.MicroKernel.ComponentActivator.ComponentActivatorException: ComponentActivator: could not instantiate LinkedX.OpenSdk.AbpCommon.AbpOpenSdkCache
 ---> System.Exception: Could not instantiate LinkedX.OpenSdk.AbpCommon.AbpOpenSdkCache.
 ---> System.Reflection.TargetInvocationExcept

[2021-04-02 09:05] LoyalAILife commented on #6093
The project ABP package version is upgraded from 3.9.0 to 5.13.0.

[2021-04-03 07:09] abolfazlmohammadiseif commented on #6063
Thank you for the details. I think this registration is done within the ABP project. or do I need to add it into my microservices too?

Identity project is exactly the template that I've downloaded from ABP site and it contains (User, Tenant, Role, … ), and I don't need these models within other microservices.

And I suppose these 2 lines (in startup.cs) are enabling Authentication and Authorizati

[2021-04-03 10:07] ismcagdas opened #6095 "CachedUniqueKeyPerUser bugs"
See https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6016#issuecomment-812721789
and
see https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6016#issuecomment-812810663

[2021-04-03 10:40] ismcagdas commented on #6093
@LoyalAILife could you check if your project dependencies are upgraded correctly ? There might be different versions of ABP NuGet packages in your solution. Because this method https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Caching/ICacheManager.cs#L32 is there for a long time.

[2021-04-05 07:45] sajasbana opened #6096 "Use a Table component in Angular template"
Dears,
hope you are fine

Is it possible to sorting to datatables records for example users or roles views?

is there way to add this feature in abp?

Thanks

[2021-04-05 08:18] bxjg1987 opened #6097 "Dynamic associated entity"
EntityA may be associated with entityB, or entityC, or entityN... whether it can provide entity implementation of dynamic association.

The following is my mind map. It turns out that my English is not very good.
![图片](https://user-images.githubusercontent.com/39435771/113553501-74f5f100-962a-11eb-8a57-04511361a34f.png)

[2021-04-05 08:53] DamienLaw opened #6098 "Caching - Raise event when cached item is evicted"
This is a suggestion for enhancement.

When setting a cache (`IAbpCache.Set()`), allow the method to take in an optional callback as parameter. As the cached item expires or being evicted, the callback will be triggered. [MemoryCache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-5.0#cache-dependencies) in ASP.NET Core already have this feature and the cal

[2021-04-05 10:28] bxjg1987 commented on #6010
Well, thank you very much.

[2021-04-05 10:28] #6010 closed

[2021-04-05 11:03] demirmusa commented on #6008
Hi @fncap
You don't need to implement `HangfireIocJobActivator ` to your aspnetcore project since aspnetcore version of hangfire works correctly with DI.
Can you please share your backgrund job's code, and the error that you get?

[2021-04-06 01:48] #6097 closed

[2021-04-06 03:47] LoyalAILife commented on #6093
The package of this project is 5.13. When I have access to any interface, I will report this fault.
<img width="634" alt="企业微信截图_16176807869584" src="https://user-images.githubusercontent.com/40223956/113656136-cefbc280-96cd-11eb-8805-2befaad9a25b.png">

[2021-04-06 03:49] LoyalAILife commented on #6093
The requested interface is not injected into ICaManager and does not use any ICaManager methods.

[2021-04-06 06:47] ismcagdas commented on #6063
@abolfazlmohammadiseif it is hard to identify the problem without checking the source code. But, you can at least call the interceptor manually in your custom project and see if it works.

[2021-04-06 08:23] demirmusa opened #6101 "Add a document about CachedUniqueKeyPerUser"
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6016

[2021-04-06 10:23] ismcagdas commented on #6096
@sajasbana do you mean in the templates ?

[2021-04-06 10:48] ismcagdas commented on #6093
Could you share AbpOpenSdkCache ?

[2021-04-06 10:52] sajasbana commented on #6096
@ismcagdas yes to one page in template like users

[2021-04-07 02:06] LoyalAILife commented on #6093
Sorry, I can't find AbpOpenSdkCache in the project.

[2021-04-07 03:03] LoyalAILife commented on #6093
public class AbpOpenSdkCache : IOpenSdkCache
    {
        ICacheManager _cacheManager;
        ICache _cache;
        public AbpOpenSdkCache(ICacheManager cacheManager)
        {
            _cacheManager = cacheManager;
            _cache = _cacheManager.GetCache("OpenSdk.Clients");
        }

        public T GetOrDefault<T>(string key)
        {
            return _cache.GetOrDefault<string, T

[2021-04-07 03:04] LoyalAILife commented on #6093
I am trying to upgrade this package。

[2021-04-07 03:37] maliming commented on #6093
You can also check the template project.

[2021-04-07 04:25] LoyalAILife commented on #6093
I think I've figured out the problem. Thank you.

[2021-04-07 04:25] #6093 closed

[2021-04-07 06:58] ismcagdas commented on #6097
You may use https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Entities/IExtendableObject.cs and store related entity IDs in ExtensionData property. But, this will not allow you to query related entities easily.

[2021-04-07 06:59] ismcagdas commented on #6098
@DamienLaw thanks for your suggestion, we will consider this.

[2021-04-07 12:38] #5992 closed

[2021-04-08 10:20] Abouzeid opened #6102 "[Question] Can I disable AbpUserConfiguration/GetAll() ?"
Greetings to the ABP Team,

Looks like all of these Controllers are open to the client by default.
![image](https://user-images.githubusercontent.com/9715386/114010436-ae329900-9896-11eb-9a97-93ca41fa6ef3.png)

I am wondering if there is a way to disable the _**AbpUserConfigurationController**_ in Abp.AspNetCore package.
I don't want the client to call/know it.

Any help will be appreciated.

[2021-04-08 11:11] ljupchoristovski opened #6103 "XSRF-TOKEN cookie value is not created, it is not visible in browser also"
### GitHub Issues

If you're creating a bug/problem report, please include followings:

* Abp 5.14.0
* .Net Core. 3.1

* Steps needed to reproduce the problem.

The issue is with the antiforgery token, it is not created and not visible in the browser, within the cookies. When trying to access with abp.security.antiForgery.getToken() it returns null.

In the backend we have the settings like:

serv

[2021-04-08 13:23] ismcagdas opened #6104 "Unit test error when depending on AbpQuartzModule in several modules"
When a dependency added to AbpQuartzModule in a core module or multiple modules, AbpQuartzModule's PreInitialize method is executed more than once and Quartz doesn't allow setting JobFactory multiple times.

[2021-04-09 10:18] montelyno commented on #6103
Hi all,

does someone have a few minutes for this problem?
Would highly appreciate your involvement.

Regards, Michael

[2021-04-09 14:06] #6104 closed

[2021-04-09 14:41] ismcagdas commented on #6103
@montelyno how do you execute GetToken method ? Normally we place it in cshtml file like below;

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Views/Shared/Layout/_Layout.cshtml#L11

[2021-04-09 15:37] montelyno commented on #6103
Hi ismcagdas,

thanks for responding!

We have the Angular template (Asp.Net Zero), therefore no MVC UI with Razor.
We understood, that we have to register the authentication filter to enable the AntiForgery verification:
![image](https://user-images.githubusercontent.com/7818858/114203612-9d4a5c00-9958-11eb-9198-110892f75875.png)

In the UI we have implemented the Angular http interceptor like th

[2021-04-09 17:02] ismcagdas commented on #6103
@montelyno for Angular UI, you shouldn't use AntiForgery token. You can refer to https://support.aspnetzero.com/QA/Questions/10173/AbpAutoValidateAntiforgeryTokenAttribute----working

[2021-04-10 07:08] webcoweb commented on #3000
fixed by https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3000#issue-293426146

[2021-04-10 18:43] amendez1000 opened #6107 "QUESTION: Is possible to include a filter inside a GetAllIncluding?"
Hi All,

This is not an issue. I am looking for an idea to solve my problem.

Let's imaging the following case. I have two tables: Customer and ShipTo. The ShipTo table is a child of the Customer.

Customer fields:
ID
Name
Type

ShipTo fields
ID
Name
Address
State (numeric)
City (numeric)
CustomerID

If I want to retrieve all my Customers including their ShipTos I would do something like this:

`R

[2021-04-11 02:10] osalas891123 opened #6108 "(QUESTION) New updates on 4.X branch"
There is any plan to merge new features on 4.X branches ex. #4497 ?

[2021-04-11 08:59] ismcagdas commented on #6108
@osalas891123 unfortunately no.

[2021-04-11 09:04] ismcagdas commented on #6107
@amendez1000 have you tried https://docs.microsoft.com/en-us/ef/core/querying/related-data/eager#filtered-include ?

Something like this might work;

`Repository.GetAllIncluding(x => x.ShipTo.Where(s => s...))  `

[2021-04-11 09:16] ismcagdas commented on #6096
Thanks @sajasbana we can add it for the next version.

[2021-04-11 09:25] ismcagdas commented on #6102
@Abouzeid AbpUserConfigurationController returns information for app to work. Why do you need to disable it ? If you do, your app will not work.

[2021-04-11 18:35] amendez1000 commented on #6107
@ismcagdas I tried your line of code and I am getting this:

ERROR 2021-04-11 13:31:36,322 [7    ] Mvc.ExceptionHandling.AbpExceptionFilter - Lambda expression used inside Include is not valid.
System.InvalidOperationException: Lambda expression used inside Include is not valid.
   at Microsoft.EntityFrameworkCore.Query.Internal.NavigationExpandingExpressionVisitor.ProcessInclude(NavigationExpansi

[2021-04-11 21:19] osalas891123 commented on #5677
@maliming @ismcagdas @demirmusa , what would be a partial solutions to this until the well architected solution rise. How can i change from cookie storage to session storage?

[2021-04-12 01:22] Abouzeid commented on #6102
I've followed your answer [here](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3296#issuecomment-384540373) and got a customized one that I forcibly want the front-end to consume instead of the original one.

I could have some workarounds like adding filters. However, I was wondering if there is any way that I could disable it through a setting.

[2021-04-12 04:05] osalas891123 opened #6109 "(QUESTION) Multitenancy or not Multitenancy"
It is not an issue but a question or advice on what is better approach given the concepts of abp. In my case there are different kind of roles that interact with some core entities. Let say.

**Entities:**
MedicalClaim : FullAuditedEntity
PharmacyClaim : FullAuditedEntity
Ticket : FullAuditedEntity

**Roles:**
Admin
Manager
Auditor
Insurer
ProfessionalBiller
PharmacyBiller
HospitalBiller
Physician

[2021-04-12 06:21] ismcagdas commented on #6109
@osalas891123 maybe you can add a custom filter similar to https://aspnetboilerplate.com/Pages/Documents/Articles%5CHow-To%5Cadd-custom-data-filter-ef-core. So, you can get info from currently logged in user (like user's role or roles) and filter the records you want using this info.

[2021-04-12 06:22] ismcagdas commented on #6102
@Abouzeid you can change your frond-end to call the newly created controller. Unfortunately, it is not possible to disable the current controller.

[2021-04-12 06:24] ismcagdas commented on #5677
@osalas891123 you can manually write and read from session storage. Are there any blocking issues for that ?

[2021-04-12 06:34] ismcagdas commented on #6107
@amendez1000 this only works in .NET 5. So, in your case, you can write a custom LINQ query to get correct data.

[2021-04-12 08:09] montelyno commented on #6103
Hi ismcagdas,

thanks for the reply!
We have an internal department enforcing us to use AntiForgery tokens to have more security by securing each request with a unique token beside the JwT bearer token. CORS is already enabled on our side.

From tech perspective it should fit that each response already contains the AntiForgery token which has to be used by the next call.
Got a good idea how to ena

[2021-04-12 08:47] Abouzeid commented on #6102
@ismcagdas got it, and thanks for your reply.

[2021-04-12 08:47] #6102 closed

[2021-04-12 09:53] bxjg1987 commented on #6011
This can be explained in the [dependency injection document](https://aspnetboilerplate.com/)

[2021-04-13 12:28] abolfazlmohammadiseif commented on #6063
Where is the code that checks the cache and DB. In what file this checking is taking place?

[2021-04-13 14:59] inetcp commented on #5604
![image](https://user-images.githubusercontent.com/10843393/114572268-ea586600-9ca9-11eb-9747-aae7a6f233e2.png)
@ismcagdas  Why does the repository need to register interceptor, Can i delete this line?

[2021-04-13 15:46] bxjg1987 commented on #5662
https://docs.hangfire.io/en/latest/background-processing/configuring-queues.html

[2021-04-13 17:44] osalas891123 commented on #5677
@ismcagdas , yes there are a lot of places that use cookieStorage and are not accesible without loosing on new update. abp.js for example

[2021-04-14 06:19] ismcagdas commented on #5604
Repository methods use uow by default. If you remove it, you will face some problems in your app.

[2021-04-14 07:02] ismcagdas commented on #6103
@montelyno do you host both apps on the same domain ? If that's the case, you can create a new controller which will host index.html of the Angular app. You can place anti forgery token into that cshtml file like below;

[code]

Then, you can modify https://github.com/aspnetboilerplate/abp-ng2-module/blob/master/projects/abp-ng2-module/src/lib/interceptors/abpHttpInterceptor.ts to include XSRF tok

[2021-04-14 09:00] MaxNikoIntelVision commented on #2531
I think this is my case, could describe how to fix it?

[2021-04-14 13:13] ismcagdas commented on #5995
@easyest do you have a sample or code block which can reproduce this problem ?

[2021-04-14 13:55] easyest commented on #5995
The code with the problem is the in ABP 6.1.1.0.
I have a C# library project with a module for AngularJs MVC ABP. In this project I have some .js files. I mark them as embedded resources. I can get them using virtual file system, but only one by one. If I try to bundle them - there is an error.

Module PreInitialize:
[code]
Module Initialize:
[code]

Just compare Your path provider's `GetCacheDepe

[2021-04-14 14:01] easyest commented on #5995
Here is my code, that let me bundle directories of embedded resource javascript:
[code]

Then, there is one more shitty thing - to force ASP.NET to use my provider. You cannot just do:
[code]
Sorry, I don't remember why, but something was not working with this way.

What I had to do was:
[code]

And of cource, all this code is living in my library, my Web module has only DependsOn and that's it -

[2021-04-14 20:32] osalas891123 commented on #6109
Hi @ismcagdas what about dealing with multiples kind of Tenants (Doctors, Pharmacies, Hospitals, Insurer) every entity is different and users belong to only one of those entities or are "HOST" if multitenancy, but at the end every doctor, pharmacy, hospital is a Biller (has the same "permissions", CAN_CREATE_PHARMACY_CLAIM, CAN_CREATE_HOSPITAL_CLAIM, only differentiated by the feature the have act

[2021-04-15 02:36] DamienLaw commented on #2531
I change the language using query string instead of header.

`https://localhost:44301/AbpLocalization/ChangeCulture?cultureName=zh-Hans`

[2021-04-15 04:54] easyest commented on #5995
I will try to give really short explanation.

To reproduce an error, You just need to bundle virtual directory with the path from embedded resources :
[code]
The error will be thrown in `GetCacheDependency` method by the `base.GetCacheDependency`. That is because with bundled directories `virtualPath` contains bundle path `~/Bundles/Components/js` and ABP does not find it in resources, so it calls

[2021-04-15 06:30] ismcagdas commented on #6109
@osalas891123 you can add a TenantType to Tenant entity and can differentiate tenants.

[2021-04-15 19:31] dolphinsd opened #6111 "IOnlineClientManager async version"
Consider adding async versions of EventHandler to IOnlineClientManager  or async version of IOnlineClientManager

[2021-04-15 20:50] dolphinsd opened #6112 "ITenantResolver async version"
Consider adding async version of ITenantResolver or async method

[2021-04-16 09:16] osalas891123 opened #6113 "(QUESTION) When auditing is called"
ABP Version: 4.21

I made an override to SaveAsync of AuditingStore but even with this changes Application Services are not loggued by default, but if called through an AbpController then the changes are registered. Also TokenAuthController is loggued on exceptions even with the override.

[code]

[2021-04-16 11:19] #6112 closed

[2021-04-17 20:29] amendez1000 commented on #6107
Hello @ismcagdas,

I am doing my code like this:

    protected override IQueryable<Customer> CreateFilteredQuery(PagedCustomerResultRequestDto input)
    {
        return Repository.GetAllIncluding(x => x.ShipTo);
    }

    public override async Task<PagedResultDto<PromosDto>> GetAllAsync(PagedPromosResultRequestDto input)
    {
         List<int> shipTosListFiltered = new List<int>();

[2021-04-18 14:15] Rakuzan-Developer commented on #4724
I have Created a profile class which inherited the class of Profile and have done CreateMaps. Also I have used [AutoMapfrom(typeof)..] functions for mapping. even ı have used in my getall method objectmapper function but still ı have same error in my aspnet boilerplate project. Do you have any advise?

[2021-04-19 00:21] dusdong opened #6115 "QUESTION: When I upgrade abp 6.2 to 6.3, IBackgroundJobManager.Enqueue() error"
[code]

[code]

But when I disable AbpHangfireModule, the code is good running.

Tanks~

中文：abp 从 6.2 升级到 6.3 之后，此行代码运行报错。如果禁用 AbpHangfireModule 而使用 abp 默认的任务管理，代码可以正常运行。

[2021-04-19 00:24] maliming commented on #6115
I think it related to https://github.com/aspnetboilerplate/aspnetboilerplate/pull/6087

[2021-04-19 00:32] dusdong commented on #6115
thanks~ I wait upgrade to abp 6.4

[2021-04-19 00:32] #6115 closed

[2021-04-19 06:25] ismcagdas commented on #4724
@Rakuzan-Developer could you provide a sample project ?

[2021-04-19 06:39] ismcagdas commented on #6107
I was talking about a simpler query like below;

[code]

[2021-04-19 07:30] Rakuzan-Developer commented on #4724
[AutoMapFrom(typeof(Account))]
    public class PagedAccountResultDto : PagedResultRequestDto
    {
        public string District { get; set; }

        public string City { get; set; }

        public string AccountName { get; set; }

        public virtual ICollection<OpenCloseTime> OpenCloseTimes { get; set; }

    }

    public class Account : FullAuditedEntity<Guid>
    {
        public stri

[2021-04-19 07:32] Rakuzan-Developer commented on #4724
these are my entities , Dtos and Service Class

public class AccountMapProfile : Profile
    {
        public AccountMapProfile()
        {
            CreateMap<Account, PagedAccountResultDto>();
            CreateMap<Account, AccountDto>()
                .ForMember(o => o.OpenCloseTimes, opt => opt.Ignore())
                .ForMember(o => o.Gender, opt => opt.Ignore());

            CreateMap<

[2021-04-19 11:39] Rakuzan-Developer commented on #4724
@ismcagdas Did you solve the problem?

[2021-04-20 04:33] hoanghieptnt opened #6117 "Oracle intergration"
Dear team!
please, can you let me know how to connect with Oracle Database?
Thanks All!
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/doc/WebSite/EF-Core-Oracle-Integration.md

[2021-04-20 06:22] ismcagdas commented on #6117
You can use one of the Oracle adaptors here https://docs.microsoft.com/en-us/ef/core/providers/?tabs=dotnet-core-cli. To do the integration, first remove all migrations from your project, integrate oracle and add the initial migration after that.

[2021-04-20 06:55] ismcagdas commented on #6113
@osalas891123 it is registered [here](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Auditing/AuditingInterceptorRegistrar.cs) and used [here](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Auditing/AuditingInterceptor.cs)

[2021-04-20 06:58] ismcagdas opened #6118 "Update Background job documentation with AsyncBackgroundJob"
Because using BackgroundJob throws an exception.

[2021-04-20 22:02] jmhinnen commented on #5244
@maliming @ismcagdas We ran into this issue today.  This method was taking 13 seconds to return.  It looks like this commit never got merged into dev branch.  Can we get this issue re-opened?

[2021-04-21 00:55] maliming commented on #5244
hi @jmhinnen

You can consider deleting those expired tokens.

[2021-04-21 11:05] keremcep opened #6119 "admin-lte-css-only version 3.0.4 version is no longer available"
Dear team!

I downloaded the project from the website as the latest version.
I did yarn install
![image](https://user-images.githubusercontent.com/22896064/115543426-05c70080-a2aa-11eb-849e-b33a980c97ce.png)
When i investigate the error the admin-lte-css-only version 3.0.4 version is no longer available. Current version 3.1.0.
It worked when I update the package.json file

[2021-04-21 17:11] cuiboand1 opened #6120 "swagger + OData + abp5.8, no odatacontroller show"
I use OData, by https://aspnetboilerplate.com/Pages/Documents/OData-AspNetCore-Integration；but in swagger page no odata controller.
my cotroller code
`[DontWrapResult]
    public class BarSectionController : AbpODataEntityController<BarSection>, ITransientDependency
    {

        private IRepository<BarSection> repository;
        public BarSectionController(IRepository<BarSection> _res)

[2021-04-22 06:28] ismcagdas commented on #6120
@cuiboand1 I think it is because https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Api.OData/WebApi/OData/Controllers/AbpODataController.cs is not an AbpController.

[2021-04-22 06:36] ismcagdas commented on #6119
Thanks a lot @keremcep, we will update the dependencies.

[2021-04-22 14:36] cuiboand1 commented on #6120
how to fix the problem?

[2021-04-22 17:01] wujiale0324 opened #6121 "Language not change in some browser."
I published my application in MS Azure and the application's language setting is working fine with google chrome, however, when i switch to MS Edge Browser, the language stuck in English.

I tried to print out abp.localization.currentLanguage at the begining of main.ts

MS Edge log the language as even I switch to another lanugage:

Object
  displayName: "EN"
  icon: ""
  isDefault: false
  isDisa

[2021-04-23 00:30] maliming commented on #6121
I think this is related to the **accept-language** of the browser's request header. You can write a middleware to handle it.

[2021-04-23 08:55] wujiale0324 commented on #6121
Thank you so much. That's exactly the issues. I added a new middleware to update accept-language, it works fine now.

[2021-04-23 08:55] #6121 closed

[2021-04-23 09:35] Ajaysinh4377 opened #6122 "Castle.MicroKernel.KernelException: 'Could not instantiate custom activator'"
**Exception Message - Castle.MicroKernel.KernelException: 'Could not instantiate custom activator'**

When I tried to Linker "All assemblies" to reduce sizes but I am causing this issue. I tried to skip the below assemblies but still no luck.

1. Castle.Core.AsyncInterceptor
2. Castle.Facilities.Logging
3. Castle.Core
4. Castle.Windsor
5. Abp
6. Abp.AutoMapper

Below code throwing exception:
`AbpB

[2021-04-23 09:37] ismcagdas commented on #6120
@cuiboand1 it is designed this way. You can copy base controller to your project and inherit it from Controller.

[2021-04-23 17:12] afonsoft commented on #4444
Hi, I used ```JobFilterAttribute ``` with a ```IServerFilter```.

Example:

[code]

And I create a new Class ```AsyncBackgroundJobHangFire<TArgs> : AsyncBackgroundJob<TArgs>```

Exemple:

[code]

It´s Work

In a Class of job i use a ```AsyncBackgroundJobHangFire```

And de method is

[code]

[2021-04-24 02:57] worthy7 opened #6123 "Check for null cookie incorrect"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/059db7626b3642114b7a2ba7d15b6a14304640dd/test/aspnet-core-demo/AbpAspNetCoreDemo/wwwroot/Abp/Framework/scripts/abp.js#L643

I think this code is supposed to be trying to exclude cookies where they have been set to null/undefined, but it doesn't actually do that because when you split a string  `enc_auth_token=` on `=` it still returns 2 i

[2021-04-24 11:39] pl-jcarpio opened #6124 "How to use ServiceLifeTime in DBContext?"
public static void Configure(AbpDbContextConfiguration<BAMDbContext> options)
        {
            if (options.ExistingConnection != null)
            {
                options.DbContextOptions.UseLoggerFactory(MyLoggerFactory).UseMySql(options.ExistingConnection).EnableSensitiveDataLogging(true);
            }
            else
            {
                options.DbContextOptions.UseLoggerFacto

[2021-04-25 09:10] ismcagdas commented on #6124
@pl-jcarpio would you like to use DbContext as scoped ? If so, it is not supported by default. The DbContext is transient by default, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L35

[2021-04-25 09:14] ismcagdas commented on #6123
@worthy7 do you set the cookie to null or is it done automatically ?

[2021-04-25 09:23] ismcagdas commented on #6122
@Ajaysinh4377 could you explain the steps to reproduce this problem on an empty template ? I haven't used Linker "All assemblies" before, thanks.

[2021-04-25 10:34] ismcagdas commented on #4724
@Rakuzan-Developer could you download a new project from https://aspnetboilerplate.com/Templates, reproduce this problem and share the project with us ?

Thanks,

[2021-04-25 10:57] redrose007 opened #6125 "abp use IdentityServer4 with ClientCredentials type"
Is there any demo or example show ClientCredentials type ?  in this type, how to protect web API, Use Authorize attibute is ok?

[2021-04-25 11:38] worthy7 commented on #6123
it is part of the template code for Angular (in the auth-service)
https://github.com/aspnetboilerplate/module-zero-core-template/blob/ef5b1a93be8121c504eaf98ee07b2759571e27c7/angular/src/shared/auth/app-auth.service.ts#L29

I discovered this whilst changing my app to start writing cookies to include subdomains too, and I found that it was reading out a blank string because it was still reading the

[2021-04-25 13:47] maliming commented on #6125
There is no example now.

It should be works, You can give it a try.

[2021-04-25 18:03] bxjg1987 opened #6126 "hangfire 1.7.19 has bug, please Upgrade Hangfire to 1.7.22."
hangfire 1.7.19 throw not found assembly..exception,please Upgrade Hangfire to 1.7.22.

[2021-04-25 18:15] bxjg1987 commented on #6126
1.7.22. has same issue

[2021-04-25 18:15] #6126 closed

[2021-04-25 23:14] redrose007 commented on #6125
i tried,but failed.
![image](https://user-images.githubusercontent.com/13333983/116012737-f572a500-a65e-11eb-89a4-12d7286ce5cf.png)

[2021-04-26 00:48] maliming commented on #6125
You can try using plain asp net core + identity server.

[2021-04-26 02:46] Ajaysinh4377 commented on #6122
We are using Linker "All assemblies" to reduce application size. If we are not using that option then the issue will not be reproducable. So I need this "All assemblies" to be linked to reducing application size.

[2021-04-26 03:31] redrose007 commented on #6125
ok,  thanks,i found this, but the question is still there.
![image](https://user-images.githubusercontent.com/13333983/116025368-e43b8f80-a682-11eb-878e-e35ab81871d0.png)

[2021-04-26 03:37] maliming commented on #6125
This issue has nothing to do with yours.

[2021-04-26 03:41] Ajaysinh4377 commented on #6122
Create a Sample repository to reproduce this.
https://github.com/Ajaysinh4377/AbpSample-V5.10.1
@ismcagdas Please look into that.

[2021-04-26 06:29] ismcagdas commented on #6122
@Ajaysinh4377 thanks, I will check it.

[2021-04-26 07:31] ismcagdas commented on #6123
@worthy7 thanks, I think it will be better to use deleteCookie in the logout function.

[2021-04-26 09:17] RobersonLuo opened #6127 "Need to support developing Flutter App."
I am using Flutter to develop Mobile Appa, the back-end also use aspnetboilerplate.
If it will support a Flutter front-end UI project template,  that will be nice and apreciate very much!

[2021-04-26 11:22] worthy7 commented on #6123
Me too!

On Mon, 26 Apr 2021 at 16:32, İsmail ÇAĞDAŞ ***@***.***>
wrote:

[2021-04-26 14:44] smry-web opened #6128 "Possible Documentation error in Documents/Data-Filters"
https://aspnetboilerplate.com/Pages/Documents/Data-Filters#disable-filters

using (_unitOfWorkManager.Current.DisableFilter(AbpDataFilters.**SoftDelete**))

I believe this line should be:
using ([...]DisableFilter(AbpDataFilters.**MayHaveTenant**))

[2021-04-26 15:21] #6123 closed

[2021-04-26 15:28] ismcagdas commented on #6128
@smry-web SoftDelete filter can be disabled as well. Why do you think it should be MayHaveTenant ? In that sample, line below will retrieve soft deleted records as well;

`var people2 = _personRepository.GetAllList();  `

[2021-04-26 15:44] smry-web commented on #6128
I was going to use MayHaveTenant filter because I believe that's correct for what we are trying to accomplish in one of our filters.
I wanted to double check documentation if there was anything else we'd want to be aware of by using the filter and google directed me to that document

I scrolled down only to that portion of the document and noticed that IMayHaveTenant subsection had SoftDelete refe

[2021-04-26 15:44] #6128 closed

[2021-04-26 20:09] Kuysberg opened #6129 "System.InvalidOperationException: An exception has been raised that is likely due to a transient failure."
**System.InvalidOperationException: An exception has been raised that is likely due to a transient failure. Consider enabling transient error resiliency by adding 'EnableRetryOnFailure()' to the 'UseMySql' call.**

We're encountered the error above although we have already follow it in our DbContext configuration (using EnableRetryOnFailure()), still the error persist.

Our setup is, we implement

[2021-04-26 20:24] pl-jcarpio commented on #6124
Does it have effect whether we use Scoped or Transient on efficiency specially if GraphQL is implemented?

[2021-04-27 03:40] #4590 closed

[2021-04-27 07:08] #6011 closed

[2021-04-27 07:17] #6119 closed

[2021-04-27 07:23] ismcagdas commented on #6124
@pl-jcarpio on our tests, we didn't have any problem. We will be implementing [DbContext Pooling ](https://docs.microsoft.com/en-us/ef/core/performance/advanced-performance-topics?tabs=with-constant) in the future so it might help you as well.

[2021-04-27 07:26] ismcagdas commented on #6129
Could you upgrade to ABP 6.1 and see if it makes any difference ? If it doesn't, could you provide a sample project for us to test and improve the performance ?

[2021-04-27 08:36] ismcagdas commented on #6127
@RobersonLuo you should be able to use the backend from a Flutter app. You need to get a token as explained [here](https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Angular#token-based-authentication) and send the token in request headers in each request which requires authentication.

[2021-04-29 03:40] osalas891123 opened #6130 "(QUESTION) Proper place to override frontend function defined in abp.js, interceptor etc."
Where is the proper place to override functions defined in abp.js or abp-ng2-module.
ex.  **abp.auth.setToken**

[2021-04-30 06:45] sajasbana opened #6131 "Enable https in project by default"
Dears,

I download new template .netcore 5 with mpa
when run project it not show login page 'This site can’t be reached'.
i solve this by enable https from project properties

can you enable https by default when download project template

[2021-04-30 07:03] ismcagdas commented on #6130
@osalas891123 you can create a new js, and override functions in abp.js. For abp-ng2-module, you can do it in your app.

[2021-04-30 07:15] NepPure opened #6132 "Oracle OPD.NET provider bug: "An error occurred using a transaction." (ORA-00900)"
ref https://github.com/abpframework/abp/issues/8210

Same problem.

The strange thing is that there is no detailed exception information in the error log of Abp v6.3, only "An error occurred using a transaction", I finally find this bug by debug efcore code.

https://github.com/oracle/dotnet-db-samples/issues/167

[2021-04-30 08:01] ismcagdas commented on #6132
@NepPure it seems like it is related to Oracle provider, right ? https://github.com/oracle/dotnet-db-samples/issues/167#issuecomment-829244070

[2021-04-30 08:04] NepPure commented on #6132
YES

[2021-04-30 08:07] NepPure commented on #6132
In error level log I can only see this ↓

![image](https://user-images.githubusercontent.com/12379907/116666969-31df3180-a9ce-11eb-8499-b7dc7cb502c5.png)

[2021-04-30 13:01] juicebyjustin commented on #5682
@behiunforgiven I'm looking at using the react template. What issues did you find with it?

[2021-04-30 19:11] behiunforgiven commented on #5682
@juicebyjustin  when I commented that, the repository libraries were too old. Now they are some how updated but the project structure is not updated. It lacks react hooks and react new function system.

[2021-05-01 05:56] sajasbana opened #6133 "DB migration based on environment"
Dears,

I have issue: i tried to migrate db based on environment in abp template

after searching i found this: https://support.aspnetzero.com/QA/Questions/6704/Update-database-with-migrations-using-development-environment-settings-appsettingsDevelopmentjson#answer-be28c63c-d55c-c865-ac5d-39eccf2119ce

could you please add needed lines to template

also it good if it added in abp doc: migrate base

[2021-05-01 10:33] linhfpt opened #6134 "ApplicationService Status 500."
Please help me out, just a leaner want to learn this amazing framework.
But i got stuck with this Services. Can someone help me out with this. I can do it with ControllerBase, but i cant use it here.
The CRUDAppServices is pretty good, but i want to do it with my code. But i cant debug it.
i try it with swagger and some breakpoints but cant jump into the task?
What's my problems. Can you guys help

[2021-05-02 02:27] maliming commented on #6134
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2021-05-02 03:47] linhfpt commented on #6134
Are u have another ways to contact. Can i ask u some Qs? Cause its hard to follow this comment in realtime. Sr for my bad english.

[2021-05-02 09:44] ismcagdas commented on #6134
@linhfpt you can check Logs.txt file to see error details first.

[2021-05-02 09:58] ismcagdas commented on #6133
@sajasbana sure, we can add this, thank you.

[2021-05-03 08:41] #6048 closed

[2021-05-03 08:59] #6095 closed

[2021-05-03 09:00] #6072 closed

[2021-05-03 09:31] #6101 closed

[2021-05-03 16:39] #6134 closed

[2021-05-03 16:41] wujiale0324 opened #6135 "Language setting not working with Azure Redis"
I published my application to Azure application with multi instance and seems all the language setting are messed up. The application was running prefect when it has only one instance, until we increased instance.

Some components are displaying in Chinese while some components are displaying in English. When I try to switch language sometime the setting works, sometimes not. We are using Azure Re

[2021-05-04 17:31] dolphinsd opened #6136 "IdentityServer4 and JwtTokenMiddleware integration issue"
Our log is full of this errors:
ERROR 2021-05-04 05:22:05,916 [69   ] AspNetCore.Server.IIS.Core.IISHttpServer - Connection ID "17221764985265380864", Request ID "8000de01-0002-ef00-b63f-84710c7967bb": An unhandled exception was thrown by the application.
System.InvalidOperationException: StatusCode cannot be set because the response has already started.
   at Microsoft.AspNetCore.Server.IIS.Core.

[2021-05-04 21:35] BenLewies commented on #3749
Good evening

@hikalkan Please take another look at this.  Attached is a screenshot of the documentation generated by Swagger (that I would like to make available to third party integrators).

![image](https://user-images.githubusercontent.com/3214176/117072497-cfb96000-ad30-11eb-8ee8-4e1334c4fc25.png)

As you can see, the Swagger does not expect our results to be wrapped inside a "result" object,

[2021-05-05 06:11] ismcagdas commented on #3749
@BenLewies how do your clients generate code using the generated JSON ? We are using NSWAG and it works without a problem.

[2021-05-05 06:16] ismcagdas commented on #6136
Hi @dolphinsd is your project based on an ABP template ?

[2021-05-05 07:26] ismcagdas commented on #6135
Hi @wujiale0324

Could you explain how do you do that ? Did you just configure Redis on your app ?

[2021-05-05 11:03] worthy7 opened #6137 "No encrypted token returned on first (external) login in templates"
https://github.com/aspnetboilerplate/module-zero-core-template/blob/8414e48892aada5def1c244cfbeaf9956cdc66e0/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Core/Controllers/TokenAuthController.cs#L121

Why is no `EncryptedAccessToken` in here too?

[2021-05-05 22:08] BenLewies commented on #3749
I am also using NSWAG to generate some client code, but I can not predict what tooling my clients will use.  I don't believe there is an issue with my or my clients' CodeGen tooling.  I would rather like to understand why, during runtime, the JSON returned by my appservices do not match the JSON structure generated by Swagger, nor the structure of my DTO's.

[2021-05-06 02:27] worthy7 opened #6138 "How to disable an IEventHandler (for testing)"
Hi there,
I am having to migrate our system to be very Event Driven, and I have come accross a slight issue.

I have events happening, and what I would like to do, during testing, is disable one event handler.
This means, removing it from the DI container.

I cannot see a way to do this anywhere, at least with CW > 3.0

https://github.com/castleproject/Windsor/issues/151

(aspnetboilerplate)