[2020-04-22 16:00] acjh commented on #5526
Please describe your use case. This may be an [XY problem](https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem).

[2020-04-22 18:26] #5227 closed

[2020-04-22 19:17] hmrt88 commented on #3997
This happens to me at login and I want to cut the error message as well as the image but I use the template with net core and angular

![image](https://user-images.githubusercontent.com/64163505/80024015-0c0e7b00-84a4-11ea-8131-7cd76640f36e.png)

[2020-04-23 00:56] maliming commented on #5528
You don't need to create a separate module and replace the `IConnectionStringResolver `, you can refer to multiple dbcntext examples.

https://github.com/aspnetboilerplate/aspnetboilerplate-samples/tree/master/MultipleDbContextEfCoreDemo

[2020-04-23 01:14] maliming commented on #3997
hi @hmrt88
Please discuss this issue in a separate issue. Provide detailed information about the issue.

[2020-04-23 01:56] chai93323 commented on #5526
I just need each module can use different implementation of interface. example : Module a,b,c use ClaimsAbpSession and module d,e,f use CustomAbpSession, but both implement IAbpSession. So I can use IAbpSession in all module. (but behind logic maybe different)

[2020-04-23 02:10] maliming commented on #5526
hi @chai93323

All modules are using a dependency injection container, the framework does not design this.

Your own code may be able to do it, but the built-in services of the framework cannot.

[2020-04-23 02:40] maliming commented on #5515
hi @vcluopeng Can you share a template project?

[2020-04-23 02:58] maliming commented on #5527
If calling api is the business of the application, it should be in the core layer, and you can create some api response models for it.

You can also put these API calling methods and the Dto it needs into a separate library. Then reference it in the application service layer or core layer.

[2020-04-23 03:08] maliming commented on #5514
hi @abolfazlmohammadiseif

Please use the template project to reproduce the problem. It's simple and clear.

https://aspnetboilerplate.com/Templates

[2020-04-23 03:51] chai93323 commented on #5526
@maliming thank for answer, i will find other way to solve my issue.

[2020-04-23 05:05] #5526 closed

[2020-04-23 05:41] dangminhbk commented on #5499
Thank you.

[2020-04-23 05:41] #5499 closed

[2020-04-23 11:03] mtad2002 opened #5529 "Abp.AspNetCore.SignalR 5.6 Error Connecting,"
I noticed that after upgrading Abp.AspNetCore.SignalR  to 5.6 version the following error appears and it repeat every second and make my dev machine very busy .

[code]

* Steps needed to reproduce the problem.
I really don`t know how to reproduce the problem because I dont use signalr and I revert almost every change I`ve made in start up class.
I use aspnetboilerplate MVC template with .NetCore

[2020-04-23 11:32] maliming commented on #5529
I will check it

[2020-04-23 11:52] prinkpan opened #5530 "animate.css@3.7.0 library could not be resolved by cdnjs"
**Abp package version:** 5.4.0
**Base framework:** ASP.NET Core v3.x Multi Page Web Application
**Exception message:** `LIB002	The "animate.css@3.7.0" library could not be resolved by the "cdnjs" provider	ppdemocore.Web.Mvc	C:\Miscellaneous\ASPNETBoilerplate\5.4.0\aspnet-core\src\ppdemocore.Web.Mvc\libman.json	194`
**Steps needed to reproduce:** Follow steps given on https://aspnetboilerplate.com/

[2020-04-23 12:34] ismcagdas commented on #5530
@prinkpan thanks, we will fix this problem.

[2020-04-23 14:08] iyilm4z commented on #5530
@ismcagdas i can do it? Btw this library should be optional for startup template. That's why i didn't add it to angular ui. There are just few places the lib has been used.

[2020-04-24 06:24] ismcagdas commented on #5464
Do you use Angular project ? If so, how do you handle result of this call on Angular side ?

[2020-04-24 09:56] maliming commented on #5529
hi
Can you provide a simple project to reproduce your problem?
https://aspnetboilerplate.com/Templates

[2020-04-24 10:49] iyilm4z commented on #5530
So i'm gonna remove it.

[2020-04-24 11:58] hassoon3 opened #5532 "ERROR in account/account.module.ts:7:29 - error TS2307: Cannot find module 'ngx-bootstrap'."
* Your Abp package version.
5.4.0

* Your base framework: .Net Framework or .Net Core.
 .Net Core.

* Exception message and stack trace if available.
When running `npm start` against the ng app

[code]

* Steps needed to reproduce the problem.
Download and run the app for the first time from the https://aspnetboilerplate.com/

* Suggested Solution
https://github.com/valor-software/ngx-bootstrap/is

[2020-04-24 12:01] maliming commented on #5532
Duplicate of #5500

[2020-04-24 12:01] #5532 closed

[2020-04-24 13:05] arpitce27 commented on #5464
Yes it is on Angular side, on click of Access Account of any user account, we are running following in Angular Side.

[code]

[2020-04-24 14:33] acjh commented on #5464
Create a repro project that is forked from [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

[2020-04-24 14:36] arpitce27 commented on #5464
@acjh I am not sure how it is going to help.

[2020-04-24 14:43] acjh commented on #5464
It may help by allowing us to find the problem.
As it is, your description is incomplete.

[2020-04-24 14:53] KirteeM commented on #1123
Hi, can you provide a sample code for this please.
I want to populate the CustomData in a controller as each method will have it's own custom data.

Thanks
Kirtee

[2020-04-24 14:54] mahdighorbanpour opened #5533 "AsyncCrudAppService default create method doesn't set CreatorUserId and TenantId"
* Your Abp package version: 5.6.0
* Your base framework: .Net Core: 3.1.300-preview-015048
* Steps needed to reproduce the problem.
1- I went to https://aspnetboilerplate.com/Templates and downloaded the .NetCore with angular app. and run update-database and get the default site running.

2- I added a new entity in core project:
[code]

3- I added the entry in DbContext and created a migration and

[2020-04-24 14:57] mahdighorbanpour commented on #5533
The downloaded code from https://aspnetboilerplate.com/Templates is using abp 5.4.0 which I experienced this problem, then I updated to 5.6.0 and problem is not resolved.
Also I Added angular component for Categories and tried with the UI, the same problem. no difference

[2020-04-24 15:15] acjh commented on #5533
Duplicate of #3276

[2020-04-24 15:15] #5533 closed

[2020-04-24 15:23] FaizaNasir commented on #5527
I can not create separate library , its not allowed as per my structure. . Yes the api calling is business of application, but if I took my api calls in core I will be needing DTOs and automapper in core , so what i thought is if i call my api from core after taking user input from application and then return the api response back to application and then auto map the response with dtos in applicat

[2020-04-24 15:29] #5293 closed

[2020-04-24 15:29] #5294 closed

[2020-04-24 15:52] mahdighorbanpour commented on #5533
Is there a way to override the default behavior of IMayHaveTenant? If logged in user is a tenant user, then it should set the tenantId and if it's host, then do not set it

[2020-04-24 17:00] mugambiwarwema opened #5534 "Swagger UI + Generating documentation"
According to [Microsoft documentation](https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-3.1&tabs=visual-studio) it is possible for Swagger to generate comments from by adding the triple slash to an action method.

I have followed to documentation but I am unable to generate the documentation.

Here are the changes i've made so far

1. In my Pr

[2020-04-25 05:00] vcluopeng commented on #5515
@maliming
I found the solution
## Startup.cs
[code]
## AbpAppServiceApiVersionSpecification.cs
[code]
But the ```dynamic javaScript proxies``` still does not work
Because the ```ApiVersioning``` modified the ```ControllerName```
## AbpServiceProxies
[code]
I am thinking how to solve this problem

[2020-04-25 05:57] abolfazlmohammadiseif commented on #5514
[This is](https://github.com/abolfazlmohammadiseif/TestingHeader) a brand new project using template.
just check the **/api/services/app/Role/Test** action to see how to sent **TenantId** using header.
@maliming @acjh @ismcagdas

[2020-04-25 06:12] ravola commented on #3235
I am facing a similar issue on my local build. Downloaded the latest yesterday (V.5.4.0) CORS blocks the GetAll call. I have tried enabling CORS in Startup.cs. Any help is appriciated.

Changed the port to use 5000 in the angular appconfig.json. Then Swagger started to work but without the ui. I just get the swagger json back. Also when i load the Angular project the call to GetAll throws an error

[2020-04-25 06:26] acjh commented on #5514
I can reproduce with an invalid **TenantId**, which is by design, and a valid **TenantId** works fine.

[2020-04-25 06:40] abolfazlmohammadiseif commented on #5514
1- You mean before entering the action above, it checks the database, first, to see if the **TenantId** exists?
2- Is there any way to change the design so that it does not check the database so that I would be able to send whatever **TenantId** I want?
3- I have moved Tenant class/table to another project (there is a standalone Identity project) how can I modify client project (Tenant class is no

[2020-04-25 06:40] ravola commented on #3235
Alright it works now.

[2020-04-25 06:41] ravola commented on #3235
@acjh Your comments helped. Thank you.

[2020-04-25 07:12] acjh commented on #5534
You are supposed to do it for the project that contains the XML comments.

[code]

[code]

[2020-04-25 07:20] acjh commented on #5514
1. Yes, `TenantResolver` calls `_tenantStore.Find`, which checks the cache and the database.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/cae84a2c7b259beb00b478b81e2c64bc0096023d/src/Abp/MultiTenancy/TenantResolver.cs#L88-L91

2. You can replace `ITenantResolver`.
3. You can replace `ITenantStore`.

[2020-04-25 07:24] 3151036158 opened #5535 "this.EventBus.TriggerAsync<PaymentCompleteEventData>(eventData);"
I am very confused, feeling that because of the use of eventbus domain events (asynchronous), I do not know if anyone knows the correct usage or guidance

Abp.AspNetCore.Mvc.ExceptionHandling.AbpExceptionFilter || A second operation started on this context before a previous operation completed. This is usually caused by different threads using the same instance of DbContext. For more information o

[2020-04-25 07:33] acjh commented on #5535
Did you `await` the `EventBus.TriggerAsync` call?

[2020-04-25 07:48] 3151036158 commented on #5535
Can't it be asynchronous?I don't want to wait, and I shouldn't, for my business

[2020-04-25 08:10] acjh commented on #5535
It *is* asynchronous.
If you don't want to `await` a task that requires a unit of work, then consider a background job.

References:
1. https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/
2. https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers

[2020-04-25 08:24] acjh commented on #5535
You can try requiring a new unit of work for your event handlers:

[code]

[2020-04-25 08:52] 3151036158 commented on #5535
thanks ,I‘ll try

[2020-04-25 09:37] abolfazlmohammadiseif commented on #5514
2-  How to replace? Could you please explain it a little more? It is not enough to just make a new interface and a new class inheriting from **ITenantResolver** and **TenantResolver** respectively and Hide **ResolveTenantId()** .

[2020-04-25 10:02] acjh commented on #5514
Please read the documentation:
https://aspnetboilerplate.com/Pages/Documents/Startup-Configuration#replacing-built-in-services

[2020-04-25 10:39] abolfazlmohammadiseif commented on #5514
Thank  you very much @acjh

[2020-04-25 10:44] #5514 closed

[2020-04-25 12:13] abolfazlmohammadiseif commented on #5514
What if I wanna do the same thing for **UserId** so that add **Abp.UserId** to swagger and get its value in **IAbpSession.UserId** ?
Is there something like these (following) for userId?

[code]

[2020-04-25 12:23] acjh commented on #5514
Nope. You can replace `IAbpSession`.

[2020-04-25 12:25] abolfazlmohammadiseif commented on #5514
Thanks @acjh  That was really helpful

[2020-04-25 12:43] mtad2002 commented on #5529
unfortunately i couldn`t reproduce the problem.

so far i found that when user login error is not appearing.

i`ve added some complex type to user class in core project , do you think it related to them?

[2020-04-25 13:42] acjh commented on #5533
Override the function mentioned in the linked issue.

[2020-04-25 15:45] MAIDUONGTHAO commented on #2623
@maliming   First of all thank you so much. Now, I want to get list user online. I think create list user from abp.session.userId and connectId.But how can i save this list by real time

[2020-04-25 16:28] Shanlujun opened #5536 "Last modification audit information not recorded when only change MultiLingual data"
I am using .Net Core & ABP v5.4,
My entity Currency with MultiLingual works fine except that the modification audit information was not recorded when I only change the multilingual information. Did I missing something?
[code]
[code]

[code]
When I change "Code" or "Sign", the LastModificationTime & UserId are recorded, when only change something in the "Translations", the translation data save cor

[2020-04-25 18:26] zhongchunjin opened #5537 "AbpRedisCache Class Serialize Method"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/53396a45bc0fec2136228cb3a9db1fa96c794514/src/Abp.RedisCache/Runtime/Caching/Redis/AbpRedisCache.cs#L163

Why is the return here different from the iredoscacheserializer interface? Is there a reason?

[2020-04-25 19:42] ismcagdas commented on #2623
You can take a look at https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/RealTime/OnlineClientManager.cs. Please also create separate issues instead of writing to a closed issue.

[2020-04-26 03:02] MAIDUONGTHAO commented on #5314
@toanml get OnlineClient from _onlineClientManager by ???

[2020-04-26 03:11] MAIDUONGTHAO commented on #2623
Soleved the problem. Thank you

[2020-04-26 04:45] ryancyq commented on #5537
Please include your Abp version in the future.

Both AbpRedisCache and AbpMemoryCache are services that integration into Abp's Cache system which uses string as key and object as value.

See https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Runtime/Caching/ICache.cs

[IRedisCacheSerializer)(https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.RedisCache/Run

[2020-04-26 05:06] alejsouza opened #5538 "LDAP Query"
* Your Abp package version: 5.5.0
* Your base framework: .Net Core.

I have my project working integrated with LDAP, it works well. Now as a new requirement I need to validate if a user exists in LDAP. Basically what I need to do is create a new page where I can enter a user name and query using this as a filter againt LDAP

I already have in the core project a class to handle LDAP authentication

[2020-04-26 05:09] natiki opened #5539 "Questions in integerating ABP into an application already in production...."
I have an existing **.NET Core 2.x** project. I am keen to integrate ABP into this project. Having read https://aspnetboilerplate.com/Pages/Documents/AspNet-Core I am want to understand:

- Whether ABP IoC can co-exist with the built in MS one
- How MVC would potentially be affected with `services.AddMVC()`
- How DbContext would potentially be affected with `services.AddDbContext()`
- How authoriz

[2020-04-26 05:23] ryancyq commented on #5538
You probably need to write custom implementation to achieve it.

In your custom code,
Step 1, create  PrincipalContext similar as
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/53396a45bc0fec2136228cb3a9db1fa96c794514/src/Abp.Zero.Ldap/Ldap/Authentication/LdapAuthenticationSource.cs#L130-L136

Step 2, find user using
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/53396a45

[2020-04-26 08:06] sajasbana commented on #5538
you can try add method like this and change it as you need, this to search AD and return needed property if search success

[code]

[2020-04-26 08:18] biapar opened #5540 "Is there a showcase page?"
Is there a showcase page?

[2020-04-26 08:30] ryancyq commented on #5540
You can take a look at https://aspnetboilerplate.com/Samples

[2020-04-26 09:18] acjh commented on #5536
This is expected since `Translations` is simply a collection property.

You can override `ApplyAbpConcepts` in your `DbContext` to mark the entity entry as modified:

[code]

[2020-04-26 09:20] ismcagdas commented on #5314
@MAIDUONGTHAO https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/RealTime/IOnlineClientManager.cs#L48.

[2020-04-26 09:38] ismcagdas commented on #1123
After implementing this https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1123#issuecomment-226943836 (But use https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Auditing/DefaultAuditInfoProvider.cs instead of WebAuditInfoProvider ), you can inject IHttpContextAccessor into your custom AuditInfoProvider and access the controller.

[2020-04-26 09:41] ismcagdas commented on #5527
@FaizaNasir yes.

Agree with @maliming, create models in core layer and map them to your DTOs in your application layer when you need.

[2020-04-26 16:25] KirteeM commented on #1123
Hi ismcagdas,
thank you for the prompt response.

I have created a class as follows:
[code]

I have added the following in the PreInitialize() method:
 `Configuration.ReplaceService<IAuditInfoProvider, AuditInfoProvider>(DependencyLifeStyle.Transient);`

I am not able to figure out how to populate the CustomData in AuditInfo  from the following method in a controller.
[code]

Please assist.

Thank

[2020-04-26 20:09] ismcagdas commented on #1123
Yes, you can't do that directly. You need to set to to a common place in your Index action and get it from that common place in your custom AuditInfoProvider.

[2020-04-27 01:23] maliming commented on #5529
According to the information above, I cannot confirm the reason. : )

[2020-04-27 01:28] maliming commented on #5539
I suggest you use abp's template project, check its code to understand how abp works.

Read the documentation of abp. And migrate some existing application code to abp project and check it.

Migrate code and test. Step by step.

[2020-04-27 01:58] Shanlujun commented on #5536
@acjh Thanks a lot, that works.

[2020-04-27 01:58] #5536 closed

[2020-04-27 02:09] alejsouza commented on #5538
Thanks @sajasbana looks like what I need. Where I should place this code? I mean in which project.

Thanks in advance

[2020-04-27 02:17] alejsouza commented on #5538
Thanks @ryancyq. I saw that piece of code on LdapAuthenticationSource.cs and I have created a new method in my custom ldap class but to be honest I do not know how can I call or how can I expose this new method to be used from an app service.

example.

   public class AppLdapAuthenticationSource : LdapAuthenticationSource<Tenant, User>
    {
        public AppLdapAuthenticationSource(ILdapSetting

[2020-04-27 07:01] natiki commented on #5539
@maliming As a **long time** user of ABP I know how it works. I have read the documentation.

I am looking for **insights** with people that have already done it. When adding ABP I will be doing it side by side with what comes from M$. So how does this work **in practice**. Having read https://aspnetboilerplate.com/Pages/Documents/AspNet-Core it does not ell me enough.

So let me break this down a

[2020-04-27 07:21] cunzhu opened #5541 "How do I return PascalCase format data forward"
Your Abp package version.
5.4
Your base framework: .Net Framework or .Net Core.
.Net Core 3.1
Exception message and stack trace if available.
Empty
Steps needed to reproduce the problem.
My project is based on version 4.3, now I upgrade it to version 5.4.The original project can return the same data format as the background by setting the front end (camel hump format), but now, whether I use the o

[2020-04-27 07:29] FaizaNasir commented on #5527
Can u please guide how do I map them with my DTOs in core level.
consider this is my code

public async Task<UserByEmailApiDto> GetUserByEmail(string email)
        {
           UserByEmailApiDto result = null;
            var content = GetUserProfileApiDto(email); //this method returns dictionary
            var responseJson = await Get(SlackConst.LOOKUP_USER, content); //this method makes HTTP a

[2020-04-27 07:36] maliming commented on #5541
Please refer to #3453

[2020-04-27 07:43] maliming commented on #5527
**create models in core layer and map them to your DTOs in your application layer when you need.**

The return value of the `GetUserByEmail `method is these models.

[2020-04-27 07:51] FaizaNasir commented on #5527
U mean I return responseJson to application level and then map it there?

[2020-04-27 08:28] maliming commented on #5527
Create a model class, eg: `UserModel` or other name.

`public async Task <UserModel> GetUserByEmail(string email)`

[2020-04-27 08:37] KirteeM commented on #1123
Thank you ismcagdas.
Do you have any recommendation apart from using sessions for the "common place"?

[2020-04-27 08:37] FaizaNasir commented on #5527
Great thanks alot, got it

[2020-04-27 08:39] #5527 closed

[2020-04-27 08:42] ervingayle opened #5542 "Social Logins"
Hello,

I know that the social logins were removed and that they exist in aspnetzero of which I am a customer. However, following the instructions for adding social logins for Google & Microsoft to the .NET Core MVC/jQuery aspnetboilerplate project are not clear and with .NET core 3.1, the documentation references scaffolding which I am not sure how it relates to the existing implementation of asp

[2020-04-27 08:46] cunzhu commented on #5541
The problem has been solved. Thank you for your help. The correct way is as follows:
            services.PostConfigure<MvcNewtonsoftJsonOptions>(options => {
                options.SerializerSettings.ContractResolver = new MyCustomContractResolver();
            });

[2020-04-27 08:46] #5541 closed

[2020-04-27 14:09] mtad2002 commented on #5529
i tried to debug the code then I got :

Abp.AspNetCore.SignalR.pdb contains the debug information required to find the source for the module Abp.AspNetCore.SignalR.dll

I saw pdb files where removed from nuget package to reduce the size, how can i add pdb file for Abp.AspNetCore.SignalR 5.6?

[2020-04-27 17:49] mugambiwarwema commented on #5534
@acjh

Hey Arron much thanks. The changes work except for the xml file is not generated at

\MyApp.Web.Host\bin\Debug\netcoreapp3.1\TheDigest.Web.Host.xml

[2020-04-27 18:01] acjh commented on #5534
Why do you need that?

[2020-04-27 18:05] mugambiwarwema commented on #5534
its the file that will generate the documentation for swagger UI

[2020-04-27 18:32] acjh commented on #5534
You can do it for both projects.

[2020-04-28 00:44] maliming commented on #5539
No, The application can only use one dependency injection container **globally**. Boilerplate uses the Castle Windsor framework for Dependency Injection.

`AddDbContext `just add dbcontext and other services to the DI container.

https://github.com/dotnet/efcore/blob/c69926a8cdd05f4427e89ac8bac734e490b3d23a/src/EFCore/Extensions/EntityFrameworkServiceCollectionExtensions.cs

It depends on how you

[2020-04-28 00:52] maliming commented on #5529
Sourcelink is currently having problems, you can copy the source code and try to replace some built-in components.

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5403#issuecomment-614977473

[2020-04-28 01:46] dainer88 commented on #4534
@osalas891123 you can resolve this? i have same problem

[2020-04-28 01:51] worthy7 commented on #4534
It's a standard thing for IIS servers. They don't load until the first request, it's nothing to do with ABP

[2020-04-28 02:03] dainer88 commented on #4534
I am use docker version

[2020-04-28 03:47] #5522 closed

[2020-04-28 05:04] ryancyq commented on #5538
@alejsouza you can directly inject `AppLdapAuthenticationSource` into your app service and use `SearchUserAsync(xxx)` as you need to. Does this not work for you?

[2020-04-28 08:29] haivp3010 commented on #5529
Probably due to this commit https://github.com/aspnetboilerplate/aspnetboilerplate/commit/ed163dcef73b65a15057805e5b84e0241c19ba8b where the hub starts throwing error if user is not authenticated, rather than being silent like version 5.5
It's also worth checking out this issue if you're authenticating using IdentityServer https://github.com/IdentityServer/IdentityServer4/issues/2349

[2020-04-28 08:34] maliming commented on #5529
@haivp3010  You are right. I will try fix it.

[2020-04-28 08:37] maliming commented on #5529
I will try to reproduce it again.

[2020-04-28 09:59] iyilm4z opened #5543 "Microsoft.NET.Sdk.Web or Microsoft.NET.Sdk.Razor for class libs contains views"
In my app each module depends on Abp.AspNetCore and it uses sdk of `Microsoft.NET.Sdk.Web`.
As i know this abp module is usually for runnable web apps but sure we can use it for class libs.
In my app each module has it's own views and static assets.

My question is  what is the recommended approach for classlibs contains views?
Using **Microsoft.NET.Sdk.Web** with `<OutputType>Library</OutputType>

[2020-04-28 10:47] maliming commented on #5543
Abp vnext(https://github.com/abpframework/abp) is using `Microsoft.NET.Sdk.Razor` + `AddRazorSupportForMvc` : )

[2020-04-28 11:16] haivp3010 commented on #5529
Yeah I think that is the case, or the token was somehow invalid (due to keys changes, etc.), or missing encrypted token, and the Angular side will keep trying reconnecting (and keep failing) until a valid token is issued again.
This is more noticeable in version 5.6 as it results in an infinite queue of requests and therefore high resources being used.

In my case it was because of the fact that I

[2020-04-28 11:20] iyilm4z commented on #5543
Alrite imagine that i go for `Microsoft.NET.Sdk.Razor + AddRazorSupportForMvc` .
How about `<FrameworkReference Include="Microsoft.AspNetCore.App" />`? I see no Volo.Abp.AspNetCore.Mvc.* modules uses it.

[2020-04-28 11:37] mtad2002 commented on #5529
i`m not using signalr, but yes as i said before this error comes when the user is not authenticated my question is why in version 5.5 of  Abp.AspNetCore.SignalR i don't have this error ?

i revert every client-side code that i have but error not going.
 i also revert many changes i`ve made one startup class but it didn't help, the one thing that is so hard to change for me is reverting changes i`v

[2020-04-28 11:59] haivp3010 commented on #5529
I'm not sure how unauthenticated users can access your page, but if the components for anonymous access is under the /app path then the error is expected as SignalR is initialized there.
If you don't need SignalR or any kind of real time notification, then I guess it's safe to comment out `SignalRAspNetCoreHelper.initSignalR()` in `app.component.ts`. Another way is to create your anonymous compone

[2020-04-28 12:07] mtad2002 commented on #5529
thank you for response

i`m using mvc jquery aspnetcore 3.1 template not angular version.

Unauthenticated access is simply website home page, i`m not using signalr yet, and commenting out signalr js file in the home is a solution, but i think it is a wrong solution because i maybe want to add some features like online chat with new unauthenticated user later.

[2020-04-28 12:46] maliming commented on #5543
Please refer to Microsoft's documentation.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore

[2020-04-28 12:56] iyilm4z commented on #5543
Thanks for your concern.

[2020-04-28 12:56] #5543 closed

[2020-04-28 15:23] iyilm4z commented on #4669
Hi @gnsilence, i hope you are not still struggling with this issue:)  I had the same issue and i fixed it. Let me tell you how i did it.

In my case, i had a simple RCL named MyRLC and i referenced it from Web.Host and i've done needed configs for _supporting razor pages_ as it's shown in the link below.

But i still had been facing with the same issue:/ Then i realized there is no module definati

[2020-04-28 16:26] VentsislavDinev opened #5544 "Dynamic Parameter System in microservice architecture"
Hello,
I want to create dynamic parameters in my features, but I want to use GRC / Graphql in my gateway and Clients.
What can I do to transfer my entities with GRPC / GraphQL?

[2020-04-28 17:55] #5535 closed

[2020-04-28 22:05] natiki commented on #5539
Will this implementation of the framework be moving to AutoFac (or at least offer AutoFac as a container option) to ease the transition to abp.io?

Yep that assumes I am still using the MS IoC which I cannot based on your above if I want ABP extensions.

So basically bottom line here is to remove MS IoC and register all services and DbContexts (manually to start) with Windsor?

[2020-04-29 00:58] maliming commented on #4669
MVC needs to add application parts.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/AbpAspNetCoreModule.cs#L56

[2020-04-29 06:44] ismcagdas commented on #5544
@VentsislavDinev do you mean using https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5307 ?

[2020-04-29 08:57] ismcagdas commented on #1123
You can use cache as an alternative using Controller's Full Name as cache key, see https://aspnetboilerplate.com/Pages/Documents/Caching

[2020-04-29 22:30] osalas891123 opened #5545 "(QUESTION) How to save json model together with files"
**Angular 6 + Asp.Net Core**
Any sample, docs or suggestion, on how to save a model with related files at the same time. It's critical for some kinds of apps where files are mandatory for saving models.

Ex.  A patient with it's surgery's files, any of patient or files can't be orphaned, What is recommended?

[2020-04-30 11:37] chrsas commented on #5102
I have not found any commit in 4.x, could you please update this feature in 4.x?

[2020-05-01 07:11] #5435 closed

[2020-05-01 09:14] sajasbana opened #5548 "Enable Custom error in project"
Dears,
I'm using .net core with jQuery template
I need show to error message when exception in thrown, now it goes to below page
in mvc project there was custom error option to enable it but in .net core project where to do this
I put
<system.web>
    <customErrors mode="On"/>
  </system.web>
but not worked

![abp1](https://user-images.githubusercontent.com/34976854/80795437-27187380-8ba5-11ea-983

[2020-05-01 09:29] #5548 closed

[2020-05-01 11:22] ismcagdas commented on #5545
You can basically use a form which includes regular fields like text, number etc... and file fields. Then you can just submit this form. By the way, this is not related to AspNet Boilerplate.

[2020-05-01 11:22] #5545 closed

[2020-05-01 11:28] #5529 closed

[2020-05-01 16:01] #5315 closed

[2020-05-01 16:01] #5324 closed

[2020-05-01 16:01] #5313 closed

[2020-05-01 18:24] sajasbana opened #5549 "Dynamic parameter suggestion"
Dear,
Can you add feature to check if Dynamic parameter is required or not?
Thanks

[2020-05-02 01:59] scorpion86 opened #5550 "https://aspnetboilerplate.com/ connection problem."
I cannot be able to login "https://aspnetboilerplate.com/" and "https://docs.aspnetzero.com/" for a while. I investigate the problem and findout that "Eset Internet Security SSL/TLS protocol filtering" was blocking the sites. I Added your sites to well known sites to exlude from scan. Now i can be able to open successfully. I think certificates taken from "lets encrypt" is being blocked. I just wa

[2020-05-03 11:45] #5344 closed

[2020-05-03 12:22] ismcagdas commented on #5550
Thanks @scorpion86 for informing us, this will help others I guess. We will handle this internally.

[2020-05-03 12:22] #5550 closed

[2020-05-04 07:02] maliming opened #5551 "Avoid reading the redis cache many times at the same time."
There are some component methods that use caching to improve performance(eg: MultiTenantLocalizationDictionary), but if this method may be called many times at the same time, caching will affect performance when using redis.

Related: https://support.aspnetzero.com/QA/Questions/8948

We can consider making the component support multiple parameters.

[code]

[2020-05-04 11:03] #5452 closed

[2020-05-04 11:54] #5513 closed

[2020-05-04 13:12] ismcagdas commented on #5272
Resolved via https://github.com/aspnetboilerplate/module-zero-core-template/commit/c50d2442e7795ec8788ef72bf778b9a2ce26f054

[2020-05-04 13:12] #5272 closed

[2020-05-04 13:22] Smahdie opened #5552 "StackExchange.Redis.RedisConnectionException: No connection is available to service this operation"
There is a problem that occurs very often. I get this exception when my code tries to read from or write in Redis cache, and then I have to reset Redis service. I'm using these packages:

Abp.RedisCache 5.6.0
StackExchange.Redis 2.1.28

There is a [discussion ](https://github.com/StackExchange/StackExchange.Redis/issues/1120)in StackExchange.Redis project about this issue, but they say it's fixed

[2020-05-04 13:33] liangshiw commented on #5552
Can you provide your redis version and redis server OS?

[2020-05-04 13:40] Smahdie commented on #5552
@liangshiw
Redis: 3.0.504
Windows Server 2012 R2 64 bit

[2020-05-04 14:18] ismcagdas commented on #5424
@Kyotos this is expected. You can't reference to MyCompany.MyProject.Application.

[2020-05-04 14:18] #5424 closed

[2020-05-04 14:22] liangshiw commented on #5552
I think this problem has nothing to do with abp, abp only does a simple encapsulation of redis.
I suggest that when this problem occurs again, you can use redis-cli to check the metrics of the redis server.

[2020-05-05 01:10] maliming opened #5555 "Pass cancellationToken to asynchronous methods of ORM in 4.x"
I have not found any commit in 4.x, could you please update this feature in 4.x?

_Originally posted by @chrsas in https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5102#issuecomment-621778701_

[2020-05-05 01:44] maliming commented on #5102
@chrsas  Please follow: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5555

[2020-05-05 04:52] Smahdie commented on #5552
@liangshiw
It happened again and as you suggested, I ran monitor command on CLI and got this log. While I get connection errors, my requests actually reach to the server and get logged.

mgr: 10 of 10 available, clientName: DESKTOP-U2JP647, IOCP: (Busy=0,Free=1000,Min=8,Max=1000), WORKER: (Busy=1,Free=32766,Min=8,Max=32767), v: 2.1.28.64774

![image](https://user-images.githubusercontent.com/50626

[2020-05-05 05:43] maliming commented on #5552
hi @Smahdie

I think this issue has nothing to do with abp, you should discuss it in [StackExchange/StackExchange.Redis](https://github.com/StackExchange/StackExchange.Redis).

[2020-05-05 05:47] #5552 closed

[2020-05-05 09:14] thibnes commented on #3111
Hi @Lefka did you manage to solve your problem?

[2020-05-05 14:58] andrei-neculau opened #5557 "Question: Username can only contain digits or letters"
Hello,

I am working on the register feature and it seems it is impossible to register a new account with the email as username. Is this intended?

Note that if an email different from the email used to register the account is used for the username, a different exception is thrown

Here is the stack trace:

<pre>Abp.UI.UserFriendlyException: User name 'zxc@zxc.ca' is invalid, can only contain lett

[2020-05-05 15:53] ryancyq commented on #5557
Please provide the followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.

[2020-05-05 16:01] ryancyq commented on #5557
@andrei-neculau seems that you just need to configure Asp Net Identity correctly. See https://stackoverflow.com/questions/19460078/configure-microsoft-aspnet-identity-to-allow-email-address-as-username

[2020-05-05 16:02] ryancyq commented on #5555
Close via #5556

[2020-05-05 16:02] #5555 closed

[2020-05-05 16:03] #5540 closed

[2020-05-05 16:04] #5537 closed

[2020-05-05 17:07] andrei-neculau commented on #5557
Yup that solved it, thanks alot

[2020-05-05 17:07] #5557 closed

[2020-05-06 04:23] Mehranh opened #5558 "Dapper - The transaction is either not associated"
Hi Dears

I have an error for a long time

I use Dapper  for calling some Store Procedure like this:

[code]

For Get Activate Transaction:

[code]

Some times we have this error in our log:

We use Windows Server 2016 Standard and last version of Abp

Please help me to resolve this issue

Thanks

[2020-05-06 08:50] #5530 closed

[2020-05-06 08:51] #4594 closed

[2020-05-06 09:09] tabuechn opened #5559 "Import errors with the newest abp-ng2-module with Angular 9"
I attempted to update my Angular Frontend to Angular 9 and during the process of that I raised my version of "abp-ng2-module" from 5.1.1 to 6.0.0 just like in the newest [Template](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/package.json)
My tsconfig.json looks like the following:
![image](https://user-images.githubusercontent.com/9283585/81158547-628db600-8f

[2020-05-06 11:31] tabuechn commented on #5559
I found the solution myself, the imports just need to be changed to
`
import { AbpModule } from 'abp-ng2-module';
`
instead of using the "@abp/..." annotation.

[2020-05-06 11:31] #5559 closed

[2020-05-06 13:53] ikliapchuk commented on #5272
that's the solution?

[2020-05-06 14:28] ismcagdas commented on #5272
@ikliapchuk not just that. You also need to update abp-ng2-module to 6.0.

[2020-05-07 01:53] #5341 closed

[2020-05-07 06:31] worthy7 opened #5560 ""en" flag is UK flag"
So my issue is that "en" language using the Union Jack (Great Britain) flag, but the problem is dates are obviously formatted in US format.

So I think mabye the default english should use the US flag, and a "en-GB" language be added to be specific for GB people?

[2020-05-07 10:31] ismcagdas commented on #5560
@worthy7 definitely right.

[2020-05-07 13:52] sajasbana opened #5561 "Localization enhancement suggestion"
Dears,
suppose i'm in url (note id in query string)
https://localhost:44304/Orders/CreateOrEdit?id=d1949d27-5d52-4b9e-4483-08d7f1afd433

when change language it returns to
https://localhost:44304/Orders/CreateOrEdit

but without id parameter

can you keep parameters when return after language change

Thanks

[2020-05-07 14:23] liangshiw commented on #5561
This is already the case

![2020-05-07-22-20-03](https://user-images.githubusercontent.com/16813853/81305738-446fa500-90b1-11ea-87bc-4599d55c7dc1.gif)

[2020-05-07 15:19] sajasbana commented on #5561
Dear @liangshiw
Just download the template from site aspnet core 3 with mpa
and test then you will find there is issue

can you tell me which version you are using?

[2020-05-07 15:28] sajasbana commented on #5561
Dears,
this line should be added right navbar same as account languages switch component
![abp1](https://user-images.githubusercontent.com/34976854/81313380-78869e00-9090-11ea-9354-3ec2561b233a.PNG)

this is the solution
Thanks

[2020-05-07 21:09] dolphinsd opened #5562 "Bug with notifications"
Bug in version Version=5.6.0.0

When inserting notification for null tenant (host) they get distributed to everyone!

See code
[code]

Here is sql generated, see empty string inserted for tenant instead of 'null'
[code]

[2020-05-08 02:01] xdqsgit commented on #5109
我也遇到这个问题了 单独允行项目正常
集成到service fabric 上就报这个错误，注释了 xxx.AddFacility(f =>f.UseNLog()……
也没用

[2020-05-08 02:05] liangshiw commented on #5561
@sajasbana  Sorry ,I have aspnetboilerplate and abp vnext mixed up.

[2020-05-08 03:27] ryancyq opened #5563 "Support encoded return url in AbpLocalizationController"
Return url can be url encoded, it should be decoded before checking `IsLocalUrl`

For example,
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/14936fa7301327ccf8c5332f254769dfbd98ed3b/src/Abp.AspNetCore/AspNetCore/Mvc/Controllers/AbpLocalizationController.cs#L50-L52

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/14936fa7301327ccf8c5332f254769dfbd98ed3b/src/Abp.Web.Mvc/Web

[2020-05-08 07:23] #5561 closed

[2020-05-08 07:25] ismcagdas commented on #5109
If you can create a new issue and provide a reproduction project, we can try to help you.

[2020-05-08 07:33] ismcagdas commented on #5562
@dolphinsd do you mean every user of the current tenant (or host) ? If so, it is by design, see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Notifications/NotificationPublisher.cs#L79

[2020-05-08 08:44] ismcagdas commented on #5558
Hi @Mehranh could you share the entire method for the code block you have shared first ?

[2020-05-08 12:41] iyilm4z commented on #5560
@ismcagdas done:)

[2020-05-08 12:42] #5560 closed

[2020-05-08 12:48] iyilm4z commented on #4943
@ismcagdas you can close this issue.

[2020-05-08 12:48] iyilm4z commented on #4982
@ismcagdas you can close this issue.

[2020-05-08 12:50] #4982 closed

[2020-05-08 12:50] #4943 closed

[2020-05-08 14:20] fermanquliyev commented on #1882
How can we

How can we implement this type of solution on the new version of ABP? There is no any AbpWebApi() extension

[2020-05-08 20:10] alejsouza commented on #5538
Both solutions works well! thanks @ryancyq , @sajasbana

[2020-05-08 20:10] #5538 closed

[2020-05-09 02:25] MAIDUONGTHAO commented on #2623
@ismcagdas Can you show me about document angular for signalR Abp Framework  when i want to send user  and send to group. Thank you

[2020-05-09 02:50] #5339 closed

[2020-05-09 04:06] smartls opened #5564 "How can I update AbpAuthorizationException response message"
I am working on Abp .Net Core,  I set "AllowOneConcurrentLoginPerUser"  true, to limit concurrent user in single client. When I simulated another user login, the SecurityStamp was updated, and the original access token was checked invalid, this works fine.
My question is: How can the client distinguish normal expiration and SecurityStamp checking？If access token get failed checking, client always

[2020-05-10 12:23] ismcagdas commented on #5564
@smartls this is related to AspNet Zero, please create your issue on https://github.com/aspnetzero/aspnet-zero-core

[2020-05-10 12:23] #5564 closed

[2020-05-10 12:32] maliming commented on #1882
@fermanquliyev

If you mean `abpframework/abp` please discuss it at https://github.com/abpframework/abp/issues

[2020-05-10 19:50] ismcagdas commented on #2623
@MAIDUONGTHAO could you create a new issue and give a bit more detail ? Thanks.

[2020-05-11 17:02] liej6799 opened #5566 "abp is not defined when try to call swagger generated library"
Hi all, is it possible to use **nswag** generated code to call web service running abp in new angular project (not generated during download)?

As I would like to implement nswag into my **nativescript angular** application to call **abp web service.**

[code]
When I try to call the service, it shows
**JS: ERROR ReferenceError: abp is not defined**,
and the `countryService` not being called as the

[2020-05-11 17:53] vdurante commented on #5559
@tabuechn is there a way of keeping the @abp notation?

I have tried both `"@abp": ["../node_modules/abp-ng2-module"]` and `"@abp*": ["../node_modules/abp-ng2-module/*"]` to no luck

[2020-05-11 19:37] Kababaer opened #5567 "Use InMemoryDatabase with multiple DbContexts"
* Your Abp package version. 5.5
* Your base framework: .Net Core 3
* Steps needed to reproduce the problem:

Hi there,

I'm trying to setup an in-memory database for testing. The idea is to combine two DbContexts into one using an InMemoryDatabaseRoot. That is, because I have two DbContexts but one DbContexts depends on the other (readonly entities). Basically, each DbContext is "maintained" by it

[2020-05-11 20:33] #5347 closed

[2020-05-11 20:33] #5312 closed

[2020-05-11 22:46] mrs01dev opened #5568 "Asp net boilerplate application continuously displaying login page"
### Documentation
When Running ABP , the login page is displayed
[http://localhost:62114/Account/Login]
after login to  abp , the return message is
{"result":null,"targetUrl":"/home","success":true,"error":null,"unAuthorizedRequest":false,"__abp":true}
when try to access any other page like
[localhost:62114/home]
Abp application redirects to the login page again.
What is the reason for this issue

[2020-05-11 23:03] mrs01dev commented on #5568
I had downloaded a fresh copy and it is working from google chrome and Firefox browsers
it is not working from opera browser
So it is  opera browser issue
Thanks , bet regards

[2020-05-11 23:03] #5568 closed

[2020-05-12 00:50] #3998 closed

[2020-05-12 06:16] tabuechn commented on #5559
@vdurante I could not get it to work myself and I was satisfied with my solution, so I did not try anything else.

[2020-05-12 09:54] abolfazlmohammadiseif opened #5569 "Does AbpModule have access to Appsettings config?"
Does **AbpModule** have access to **appsettings.json** Configuration?
I mean something like this:
`var temp = Configuration["Json_Tag_In_Appsettings "];`
I dont wanna use the following:

[code]

because I don't have access to **GetAppConfiguration** method. I have deleted it. I wanna handle this just using **AbpModule**  properties. is it possible?

[2020-05-12 10:16] MAIDUONGTHAO commented on #2623
@ismcagdas  i can't send user to user. This is my function on hub
 public async Task  SendPrivateMessage(MessageDto message)
        {
            var listOnline = await GetAllListUserOnline();
            foreach(var item in listOnline)
            {
                if(item.UserId == message.ReceiverUserId)
                {
                   await Clients.Client(item.ConnectionId).SendAsync("Re

[2020-05-12 12:54] mkamranaslam opened #5570 "Hangfire: Cannot insert duplicate key in object 'HangFire.Counter'"
I was using a single deployment/server previously, Now aster shifting to an IIS Cluster with three servers, getting this exception a lot, jobs are not completing.

Violation of PRIMARY KEY constraint 'PK_Counter'. Cannot insert duplicate key in object 'HangFire.Counter'. The duplicate key value is (stats: succeeded).

Using: Abp.Hangfire.AspNetCore 5.4.0, hangfire 1.7.9

[2020-05-12 13:26] iyilm4z commented on #5569
@abolfazlmohammadiseif Imho it's not possible. Because AbpModule existing in kernel module named [Abp](https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp) and that module can't use [IHostingEnvironment](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.ihostingenvironment?view=aspnetcore-3.1) because this interface realted to AspNetCore and kernel module

[2020-05-12 14:47] rogerhesong opened #5571 "Abp.AutoMapper(oalesce used with type that cannot be null) (5.7.0)"
When I use Auto Mapping Attributes, the program will prompt the following error:

![image](https://user-images.githubusercontent.com/12381976/81705383-9180bc00-94a1-11ea-9f32-5b6244ba111d.png)
DTO:
![image](https://user-images.githubusercontent.com/12381976/81705978-3c917580-94a2-11ea-80d1-4102cb4edd53.png)
Entity:
![image](https://user-images.githubusercontent.com/12381976/81706093-6185e880-94a2-

[2020-05-12 15:17] acjh commented on #5571
Can you show a proper reproduction instead of pasting a screenshot with types and property names blurred out?

[2020-05-12 15:40] rogerhesong commented on #5571
error:
SiXunMall.Marketing.VoucherBag.Dto.TempvoucherbagDetailDto
FATAL 2020-05-12 22:35:15,406 [1 ] Abp.AbpBootstrapper - System.InvalidOperationException: Coalesce used with type that cannot be null
at System.Linq.Expressions.Expression.ValidateCoalesceArgTypes(Type left, Type right)
at System.Linq.Expressions.Expression.Coalesce(Expression left, Expression right, LambdaExpression conversion)
at

[2020-05-12 16:45] acjh commented on #5571
I could not reproduce.

Please create a repro project that is forked from [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

[2020-05-12 19:51] ismcagdas commented on #5570
Hi,

Did you check https://github.com/HangfireIO/Hangfire/issues/1500 ?

[2020-05-13 06:28] ismcagdas commented on #5567
@Kababaer can you do this without using AspNet Boilerplate ?

[2020-05-13 06:31] worthy7 opened #5572 "ChangeCulture multiple parameter returnURL get's trimmed"
![image](https://user-images.githubusercontent.com/4762399/81778939-af483280-952e-11ea-81eb-b882d994d3b6.png)

That third parameter is supposed to be part of the returnUrl's paramters. I understand why this is happenening, is there a simple way to fix this for everyone?

[2020-05-13 06:34] ryancyq commented on #5572
You can try url encode the `returnUrl` similar to https://github.com/aspnetboilerplate/module-zero-core-template/pull/537

However, it requires another PR in Abp core package #5563

[2020-05-13 06:46] worthy7 commented on #5572
Thanks, I'm unclear if this issue is a duplicate or not then so please close if it is.

[2020-05-13 06:49] ryancyq commented on #5572
I add tests for url encoding to verify if it is working for special characters in #5565

[2020-05-13 06:51] worthy7 commented on #5572
Add a test to make sure it works for more than one parameter :)

On Wed, 13 May 2020 at 15:49, Ryan Chang <notifications@github.com> wrote:

[2020-05-13 06:54] ryancyq commented on #5572
@worthy7 it will be good if you could provide an example for this case.

[2020-05-13 06:58] worthy7 commented on #5572
There's nothing broken with my use of Japanese I think. Any returnUrl with
more than one parameter should be correctly encapsulated and passed back to
the browser as the return url 302. So any parameters will do.

On Wed, 13 May 2020 at 15:54, Ryan Chang <notifications@github.com> wrote:

[2020-05-13 07:00] worthy7 commented on #5572
`[InlineData("/local/site?id=1&something=2", "/local/site?id=1&something=2")]`
on top of
`public async Task Should_Redirect_Local_Return_Url(string returnUrl, string expected)`

[2020-05-13 07:39] Kababaer commented on #5567
Yes, I created a minimal test project and it worked fine. I also got it working using ABP once, to be honest I don't know why it's not working. Actually it should work because the DbContexts have a common "InMemoryDatabaseRoot" object and share the same database name.

[2020-05-13 10:02] rogerhesong commented on #5571
Resolved. The error is due to the current dto content is empty, all caused by inheritance

[2020-05-13 10:02] #5571 closed

[2020-05-13 10:05] Kababaer commented on #5567
Well, I got it. The problem was that EF Core didn't report an error. I moved the in-memory Db creation from "PreInitialize" to "Initialize" and now things are running.

[2020-05-13 10:05] #5567 closed

[2020-05-13 10:10] saliksaly commented on #3909
Hi,

How you can please inject the MyUserRole to the DbContext DbSet?
I am trying to override the UserRoles property but it is not possible to use overriden class as property type...

[2020-05-13 10:11] iyilm4z commented on #5569
@abolfazlmohammadiseif if my comment was answer to your question, could you please close the issue?

[2020-05-13 10:24] abolfazlmohammadiseif commented on #5569
yes @iyilm4z  thank you very much

[2020-05-13 10:24] #5569 closed

[2020-05-13 10:37] iyilm4z opened #5573 "[module-zero-core-template] Inconsistencies between angular and mvc ui"
After angular side theme migration, we had some ui inconsistencies between angular and mvc ui. For instance, tables and filters below. We should fix inconsistencies similar to these for being more consistent. We should make changes for mvc ui based on angular ui.

Mvc table and filter
![mvc](https://user-images.githubusercontent.com/9105939/81801454-24ab0780-951d-11ea-9092-ae18bb2c7ba1.jpg)

Angul

[2020-05-13 12:07] mkamranaslam commented on #5570
yeah.. it solved my problem...but its kind lf a hack. Now my tabld is filled with millions of record. I think i will have to update the Hangfire and Abp alongwith it

[2020-05-13 17:41] pl-jcarpio opened #5574 "Abp.AspNetCore.Threading.HttpContextCancellationTokenProvider Error"
Im getting this error:

System.TypeLoadException: 'Method 'Use' in type 'Abp.AspNetCore.Threading.HttpContextCancellationTokenProvider' from assembly 'Abp.AspNetCore, Version=5.4.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.'

[2020-05-13 17:51] acjh commented on #5574
Update `Abp.AspNetCore` to version 5.5+.

[2020-05-13 20:38] jogoertzen-stantec commented on #4767
@ismcagdas Did anything ever happen with this?

[2020-05-14 01:22] TeYoMe opened #5575 "Can the Navigation has more then two sub menu items?"
the Navigation in most examples I have seen has two sub menu, Can I create more then two sub menu items in Navigation ,how to do it

[2020-05-14 01:46] maliming commented on #5575
Please refer to the template project.

![image](https://user-images.githubusercontent.com/6908465/81883393-b3745e80-95c7-11ea-8967-0ef492e63107.png)

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/Startup/AbpProjectNameNavigationProvider.cs

[2020-05-14 01:46] #5575 closed

[2020-05-14 03:33] ryancyq commented on #5572
This seems to related to how ModelBinding works with unescaped URL.

If you use the following test case
[code]
and modify `AbpLocalizationController.ChangeCulture` method signature to
[code]
you will see `string value` will be assigned with the value `2`

[2020-05-14 03:40] worthy7 commented on #5572
Yea I understand why it's happening, it's just undesirable for redirect url's to do this.

[2020-05-14 03:48] ryancyq commented on #5572
UrlEncode the `returnUrl` will be the recommended approach.

Are you facing this issue in your custom code or from abp templates?

[2020-05-14 03:51] worthy7 commented on #5572
I have a project built on a template and there is a page with multiple get
request parameters. When the user decides to change language whilst on this
page the problem happens and they end up in the year 0001 :-)

On Thu, 14 May 2020 at 12:48, Ryan Chang <notifications@github.com> wrote:

[2020-05-14 03:53] ryancyq commented on #5572
Does the code come from abp template? Also, are you using SPA or MPA?

[2020-05-14 03:55] worthy7 commented on #5572
well... I am using the templates LocalizationController yea, but my pages
obviously I made them... It's an invoicing page.

MPA

On Thu, 14 May 2020 at 12:53, Ryan Chang <notifications@github.com> wrote:

[2020-05-14 03:59] ryancyq commented on #5572
in that case, i would still recommend using the approach in https://github.com/aspnetboilerplate/module-zero-core-template/pull/537

[2020-05-14 05:20] saliksaly commented on #3909
@fabio-basedev ping

[2020-05-14 05:21] saliksaly commented on #3909
@ryancyq ping

[2020-05-14 06:30] ismcagdas commented on #3909
You can just add it to your DbContext;

`public virtual DbSet<MyUserRole> MyUserRoles { get; set; }`

Is this the problem ?

[2020-05-14 07:02] #5570 closed

[2020-05-14 08:29] ismcagdas commented on #5566
@liej6799 did you include abp-web-resources package and it's script into your project ?

[2020-05-14 10:28] MAIDUONGTHAO commented on #2623
@ismcagdas  i need some documents about flutter(back-end) and asp.net boilerplate asp.net core. Do you know about it ???

[2020-05-14 11:09] mvdlele29 opened #5576 "Change tenant for an authenticated host user."
How can i change tenantId for a host user?

[2020-05-14 12:55] ryancyq commented on #5391
I will take this.

[2020-05-14 13:54] maliming commented on #5576
Use the repository to change the user's TenantId directly.

Maybe related: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1555

[2020-05-14 16:42] mariasamuel commented on #5392
I am getting this error when trying to authenticate using swagger.

[2020-05-14 17:54] mvdlele29 commented on #5576
I want to select a specific tenant, from where the user receive data. I want to change tenant anytime.

[2020-05-14 23:35] maliming commented on #5392
@mariasamuel Please create a new issue and explain your it in detail, thank you.

[2020-05-15 02:14] AlexGeller opened #5577 "Ambiguous controller."
Abp Version: 3.6.1
base framework: .Net Framework 4.6.1

When I used the IocManager.RegisterAssemblyByConvention(Assembly.GetExecutingAssembly()); to register different module's IOC, I get this error.

[code]

It's becauce i have the same name of Controller in defferent module, i just want to ask that if there is a way to set a Controller to default Area, as i look into the abp's code where regist

[2020-05-15 05:25] maliming commented on #5577
Try `RouteArea`

https://devblogs.microsoft.com/aspnet/attribute-routing-in-asp-net-mvc-5/#route-areas

[2020-05-15 06:51] #5551 closed

[2020-05-15 07:09] ismcagdas commented on #5576
@mvdlele29 could you explain your use-case a bit more detailed ?

[2020-05-15 07:40] hzicong opened #5579 "why i accept JwtToken but AbpSession.UserId is null"
this problem only in iis and not in linux

i Use a Middleware HeaderMiddleware:

    public class HeaderMiddleware
    {
        private readonly RequestDelegate _next;
        private readonly ILogger _logger;
        private readonly ProxyAccessTokenManager _accessTokenManager;
        private readonly IHttpContextAccessor _httpContextAccessor;
        private readonly IAbpSession _abpSession;

[2020-05-15 08:09] maliming commented on #5579
Please check if claims is the value you expected.

![image](https://user-images.githubusercontent.com/6908465/82027195-6e832180-96c6-11ea-96ca-b8960f09d57d.png)

[2020-05-15 08:14] hzicong commented on #5579
yes, claims  is right,
but a few minutes later ,AbpSession.UserId has been normalized.
the claim value is same value

[2020-05-15 08:18] hzicong commented on #5579
WARN  2020-05-15 16:15:44,985 - Url:http://120.33.89.109:29003/api/services/app/Store/GetListByTenantId
WARN  2020-05-15 16:15:44,985 - UserId:
WARN  2020-05-15 16:15:44,985 - Authorization:eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjE0NTk4IiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jb

[2020-05-15 08:59] maliming commented on #5579
You can debug and check if there is a problem with the value of `_httpContextAccessor.HttpContext?.User`

[2020-05-15 09:34] mvdlele29 commented on #5576
I want the user to be able to select the current tenant from user interface, to change tenant after he sign. There is a function _unitOfWorkManager.Current.SetIdTenant(idTenant) but these has only a temporaly efect. I want that the change of tenant id to be global until the user will change tenant againt.
Is like selecting tenant at login interface, but i want also user be capable to change tenant

[2020-05-15 09:43] AlexGeller commented on #5577
I think this isn't the Route's problem, it's the IOC's problem, because the ABP has register the Contoller IOC in application_start.

IocManager.RegisterAssemblyByConvention(Assembly.GetExecutingAssembly());

So when the Module and Area have a same Controller Name, even though i have set the namespace to the routes, it's useless when the IOC begin to initialize the Controller, it will find out two

[2020-05-15 10:24] hzicong commented on #5579
On my computer, there is no such problem, but on the server(IIS/Win), there is an error

[2020-05-15 11:50] maliming commented on #5579
Then it has nothing to do with the framework, it is recommended that you continue to troubleshoot the deployment environment.

[2020-05-15 14:18] ogix commented on #2097
I am facing the same issue with .NET Core 3.1 and ABP 5.4. Is it possible to fix this somehow?

[2020-05-15 17:39] #5572 closed

[2020-05-15 21:10] td48260 opened #5581 "404 Errors"
* Abp package version: 5.4.0
* base framework: .Net Framework
I deployed the website to a remote server with Web Deploy. Functionally it works fine, but there are missing images. When navigating to the different pages (e.g. Home, Users, Roles, About) Developer Tools shows 404 errors like this:
Bundles/fonts/fontawesome-webfont.woff2?v=4.6.3 net::ERR_ABORTED 404 (Not Found)
Bundles/vendor/famfamfam

[2020-05-16 05:39] #5579 closed

[2020-05-16 05:54] maliming commented on #5581
Are you using the project generated by the website? https://aspnetboilerplate.com/Templates

`ASP.NET MVC 5.x(Single Page Web Application,Multi Page Web Application,Entity Framework)`?

[2020-05-16 06:08] #5386 closed

[2020-05-16 15:04] KennyEng12 commented on #3396
Hi @ezustnyilgenyo

Does this issue resolved? I’m facing this issue as well.

Hi @ismcagdas
Does this issue resolved in latest version?

Thanks,
Kenny.

[2020-05-16 18:41] ornolisvt commented on #3774
Working very well, thanks

[2020-05-17 01:23] maliming opened #5583 "Enhance localization services(4.x)."
https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5551

[2020-05-17 10:00] liej6799 commented on #5566
Hi @ismcagdas, yes I have added abp-web-resource into native script project. Anyway is there a problem from my changeset on implementing abp into a new angular project?

[2020-05-17 12:03] maliming commented on #5583
<scipt>alert</script>

[2020-05-17 19:52] td48260 commented on #5581
Yes. All I changed was the connection string. Thanks...

[2020-05-17 20:41] ismcagdas commented on #5566
According to error message, it seems like, somehow, abp.js is not used. Could you share your angular.json ?

[2020-05-17 20:48] ismcagdas commented on #3396
@KennyEng12 we didn't find such a problem. Could you try with a new browser to visit your site ? If you still face the same problem, could you create a separate issue ?

[2020-05-17 20:53] ismcagdas commented on #5583
Closed via https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5584

[2020-05-17 20:53] #5583 closed

[2020-05-17 21:14] #5581 closed

[2020-05-18 01:41] pocd opened #5586 "Organization Unit Filter in DbContext doesn't work as expected"
* Abp package version: 5.7
* .Net Core: 3.1

I have customised the AbpSession as the following:
Please note the LabId is the OrganizationUnitId
[code]
[code]
[code]
Replacing the IAbpSession implementation with POCLabsAbpSession at Core module:
[code]
Customised the TestAbpSession implementation:
[code]
[code]
We used AbpSession and CurrentUnitOfWork to get the Organisation Unit Id instead of gett

[2020-05-18 02:01] maliming commented on #5586
hi @pocd Please share a simple project using the above code.

[2020-05-18 02:37] KennyEng12 commented on #3396
@ismcagdas ok sure, no problem

[2020-05-18 05:36] senxiaoxing opened #5587 "The downloaded template lacks the 'libs' folder"
Today I went to https://aspnetboilerplate.com/Templates to download the latest template.

I selected the following options:
ASP.NET Core -> Multi Page Web Application -> Check the 'Include login, register, user, role and tenant management pages.' -> Check the 'Latest stable (uncheck to get latest version including pre-releases)' -> Click the 'Create my project!'

However, when I started ABP, there

[2020-05-18 05:55] maliming commented on #5587
Duplicate of #5488

[2020-05-18 05:55] #5587 closed

[2020-05-18 07:33] ismcagdas commented on #2097
@ogix could you share your code which causes this problem ?

[2020-05-18 08:00] ismcagdas commented on #5576
@mvdlele29 you can do that but changing tenant like that is not enough. There must be a user on related tenant and you also need to change UserId as well.

[2020-05-18 08:03] ismcagdas commented on #2623
No, sorry.

[2020-05-18 09:46] ismcagdas opened #5588 "Features in AbpZeroTenantFeatures Cache become incorrect for a Tenant"
Reported at https://support.aspnetzero.com/QA/Questions/9015

[2020-05-18 10:33] mvdlele29 commented on #5576
ok.. thanks a lot

[2020-05-18 11:24] OCP-team commented on #5588
We did manage to build a method that reproduces this. I think it is your call now wether this is just a case of bad practice on our part or if the codebase should warn us when this is about to happen.

The following method in a mvccontroller: `  [HttpGet]
        [AbpMvcAuthorize]
        public async Task CorruptCache()
        {
            using (CurrentUnitOfWork.DisableFilter(AbpDataFilters.M

[2020-05-19 00:37] pocd commented on #5586
@maliming  Thanks for helping. Please find the attached zip file
[POC.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/4647576/POC.zip)

[2020-05-19 01:50] maliming commented on #5586
hi @pocd
What are the steps?

[2020-05-19 02:01] pocd commented on #5586
Sorry @maliming , forgot to mention the steps to reproduce the issue.

1. Please locate the `QualityReportAppService_Tests` class in the `POC.Application.Tests` project
2. Please run the `GetAll_LabFilter_Test` test case which supposed to use `CurrentUnitOfWork.SetFilterParameter` but failed
3. Please run the `GetAll_ByLabUser_Test` test case which supposed to filter out the records by the AbpSess

[2020-05-19 02:39] maliming commented on #5586
There is a problem with your filter code, please replace `POCDbContext` with the code below.

![image](https://user-images.githubusercontent.com/6908465/82278490-ed28d900-99bc-11ea-8840-f7f753ab8873.png)

[code]

[2020-05-19 02:39] #5586 closed

[2020-05-19 03:48] #5385 closed

[2020-05-19 04:27] senxiaoxing opened #5589 "VUE Template problem"
- I successfully launched the backend service

![image](https://user-images.githubusercontent.com/16147131/82284080-b78aec80-99ca-11ea-99c9-9c09fae66db9.png)

- I also successfully launched the front-end VUE service

![image](https://user-images.githubusercontent.com/16147131/82284186-0173d280-99cb-11ea-8511-1e31772ef354.png)

- But when I open http://localhost:8080/ and the page is blank, I open

[2020-05-19 04:56] pocd commented on #5586
Thanks so much for your help, @maliming . :thumbsup:

[2020-05-19 05:49] neethu2092 opened #5590 "TypeError: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable"
I'm receiving the following error when the api returns an error.

"TypeError: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable".

Is this an issue with wrong import of throwError in AbpHttpInterceptor?

Following is the import statement in AbpHttpInterceptor.
import { throwError } from 'rjxs/internal/observable/throwError';

Whe

[2020-05-19 05:58] maliming commented on #5590
Can you provide a project that reproduces the problem?
https://aspnetboilerplate.com/Templates

[2020-05-19 06:46] #5405 closed

[2020-05-19 07:24] worthy7 commented on #5194
Hey guys, I was just about to open a new issue but I think this might be the same thing.

The fallback system is simply not working for me.

I am adding English to our site (mostly Japanese) and it turns out that because of date formatting differences around the world, we are going to add GB and US English options.
I put them in the database as 'en-GB' and 'en-UK', but they cannot find my 'en' XML

[2020-05-19 07:48] worthy7 commented on #5194
Here's what happens if you change the default project to use 'en-gb' instead of 'en'

![image](https://user-images.githubusercontent.com/4762399/82299486-8d4c2580-99f0-11ea-9b1b-ec99a703e7ce.png)

[2020-05-19 15:21] iddelacruz opened #5591 "Angular and multiTenancySides: MultiTenancySides.Tenant don't work"
Hi guys.
I'm trying to run multitenant app with ASP.NET Boilerplate (ASP.NET Core & Angular) for testing. I'm following all the steps in the documentation but I have a problem.

ASP.NET Core
 - I created an entity called Products.
[code]
 - I created an AppService with all the dtos: CreateProductDto, PagedProductResultRequestDto, ProductDto
[code]
 - I added a new permission Pages_Products in the

[2020-05-19 21:05] #5588 closed

[2020-05-19 23:04] SesticM opened #5593 "Executing update-database fails for older versions of PostgreSQL (e.g. 9.x)"
There's both issue and solution included, please keep reading:

### Issue

I'm running PostgreSQL version 9.x (or earlier) and everything's being set as suggested per article: https://aspnetboilerplate.com/Pages/Documents/EF-Core-PostgreSql-Integration

When executing `update-database` via PM it throws following error:

[code]

### Solution

PostgreSQL version 10 introduced a new feature called `G

[2020-05-20 00:41] titobf opened #5594 "When will the new Angular UI with AdminLTE become available for download from the Startup Templates page"
When downloading the Asp.Net Core - Angular startup template from the [Startup Templates Page](https://aspnetboilerplate.com/Templates), version 5.4.0 is provided.

Shouldn't it be version 5.7.0 with the new AdminLTE template?

[2020-05-20 04:22] dolphinsd commented on #5562
@ismcagdas , what you are saying that there is no way to send notifications to host?

[2020-05-20 04:24] dolphinsd opened #5595 "LocalizableMessageNotificationData localization"
From what I see, there is no way to localize
LocalizableMessageNotificationData

as if it is called as part of a job, it needs a way to pass culture, otherwise its a crap shoot, and it takes the culture of a current thread.

It should have a way to pass
var culture = CultureHelper.GetCultureInfoByChecking("tr");

 var notificationData = new LocalizableMessageNotificationData(
                new L

[2020-05-20 07:18] ismcagdas commented on #5562
No.

@dolphinsd do you mean every user of the current tenant (or host) ?

[2020-05-20 07:37] MAIDUONGTHAO commented on #2623
@ismcagdas  Thanks <3

[2020-05-20 08:01] ismcagdas commented on #5593
@SesticM thank your for sharing the issue and the solution. So, did you have a chance to try this with PostgreSQL version 10 ?

[2020-05-20 08:44] maliming commented on #5594
It will be in v.5.5. : )

https://github.com/aspnetboilerplate/module-zero-core-template/releases/tag/v5.5.0

[2020-05-20 08:44] #5594 closed

[2020-05-20 08:52] ismcagdas commented on #5594
@titobf you can try now.

[2020-05-20 10:18] #5563 closed

[2020-05-20 11:22] iyilm4z opened #5597 "AdminLTE community notified about our usage of their theme"
[Here](https://github.com/ColorlibHQ/AdminLTE/issues/2693) is the issue.

[2020-05-20 12:26] SesticM commented on #5593
I will test it on PostgreSQL 10.x in the following days, will keep you informed if it doesn't behave as expected.

[2020-05-20 12:51] iyilm4z opened #5598 "Update screenshots for AdminLTE"
Screenshots related to admin bsb theme should be replaced with screenshots of admin lte theme.

[2020-05-20 12:55] titobf commented on #5594
@ismcagdas wonderful!

[2020-05-20 14:57] #5598 closed

[2020-05-20 14:59] dolphinsd commented on #5562
@ismcagdas  maybe you misunderstood the issue.

If I use this var tenantIds = new[] { null };
I mean that I want to send to every user of host a notification that they subscribe to!

Instead, it takes null out, and if its is running a background job send notification to every tenant in the system!

It is bad.

array of nulls is not the same as empty array
In this case, it is! which is wrong.

[2020-05-20 18:21] naazz1992 opened #5599 "[FromServices] Repository injection "Cannot access a disposed object.""
Hi,
We are getting a error while trying to inject Repository using [FromServicesAttribute].

We think that it might be related to the implementation of the castle-windsor-ms-adapter

https://github.com/volosoft/castle-windsor-ms-adapter

Abp v5.4
.net core 3.1

**Reproduction steps:**
Clone this repository https://github.com/naazz1992/AspnetboilerplateSlowDiTest
Call the method test inside TestApp

[2020-05-21 00:34] maliming commented on #5599
I will check this issue.

[2020-05-21 00:52] maliming commented on #5589
* Steps needed to reproduce the problem.

[2020-05-21 01:31] maliming commented on #5591
Are you sure you are logged into the tenant instead of the host account?

[2020-05-21 05:33] maliming commented on #5599
Try the following code:

[code]

[2020-05-21 05:59] #5599 closed

[2020-05-21 06:09] KazziAzzim commented on #3063
@kgamalseif Please can you share you custome TestBase class

[2020-05-21 06:28] kgamalseif commented on #3063
[code]

[2020-05-21 06:42] KazziAzzim commented on #3063
@kgamalseif Thank you brother

[2020-05-21 08:03] senxiaoxing commented on #5589
Go to https://aspnetboilerplate.com/Templates to download ASP.NET Core Vue.js startup template
Follow the steps in the https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core launched my application successfully.
Open the vue folder in Visual Studio Code and the following command was executed:
[code]

[2020-05-21 08:06] senxiaoxing commented on #5589
1. Go to https://aspnetboilerplate.com/Templates to download ASP.NET Core Vue.js startup template
2. Follow the steps in the https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core launched my application successfully like above.
3. Open the vue folder in Visual Studio Code and the following command was executed:
[code]
4. Then I open http://localhost:8080/ and the page is blank,

[2020-05-21 08:09] senxiaoxing commented on #5589
1. Go to https://aspnetboilerplate.com/Templates to download ASP.NET Core Vue.js startup template
2. Follow the steps in the https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core launched my application successfully like above.
3. Open the vue folder in Visual Studio Code and the following command was executed:
[code]
4. Then I open http://localhost:8080/ and the page is blank,

[2020-05-21 09:41] MAIDUONGTHAO commented on #2623
@ismcagdas  how can i get user from token ??? please

[2020-05-21 10:01] maliming commented on #2623
@MAIDUONGTHAO could you create a new issue and give a bit more detail ? Thanks.

[2020-05-21 11:27] QianYS opened #5600 "a problem for Test"
I have a problem for unitTest
My Code
![image](https://user-images.githubusercontent.com/28479614/82554502-a8599980-9b98-11ea-8c66-0e8a04f46842.png)

![image](https://user-images.githubusercontent.com/28479614/82554591-d2ab5700-9b98-11ea-865f-05ef89eb796a.png)

when I test
![image](https://user-images.githubusercontent.com/28479614/82554655-efe02580-9b98-11ea-9a41-dbdaf0c93e05.png)

My Test Code
!

[2020-05-21 12:46] acjh commented on #5600
Duplicate of #4125

[2020-05-21 16:33] ryancyq opened #5602 "Abp Localization Controller with double encoded return url"
When the return url is double encoded, it passes one time decoding at MVC controller level, then reaching `AbpUrlHelper.LocalPathAndQuery` which is then determined as a valid local path.

For example, `%252FAccount%252FLogin` is the double encoded return url for `/Account/Login`
The extracted local path from `AbpUrlHelper.LocalPathAndQuery` will be `%2FAccount%2FLogin`.

[2020-05-21 20:38] #5562 closed

[2020-05-22 01:11] QianYS commented on #5600
I add this code:
 Configuration.ReplaceService<Microsoft.Extensions.Configuration.IConfiguration, Microsoft.Extensions.Configuration.ConfigurationRoot>();
But has a new problem
Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and i

[2020-05-22 01:40] maliming commented on #5600
see https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1386#issuecomment-403760491

[2020-05-22 01:46] QianYS commented on #5600
thanks  I fixed it

[2020-05-22 01:47] #5600 closed

[2020-05-22 02:03] emisand opened #5604 "Castle Windsor performance problems"
Do you have any plans to replace Castle.Windsor dependency injection with Microsoft Dependency Injection for ABP 6.0?

We find that Castle.Windsor is extremelly slow at resolving dependencies and also really hard to profile with profilers like dotTrace or Visual Studio Diagnostics Tools.
For example we could measure that resolving dependencies for an app service with a dependency graph with about

[2020-05-22 02:04] MAIDUONGTHAO commented on #2623
@ismcagdas  i want to create a function with parameter access token when i go to the app without login because i did it before.

[2020-05-22 02:13] maliming commented on #5604
Hi,

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1150#issuecomment-381333146

However, some developers have tried to replace `Castle Windsor` (Chinese document :)).

https://blog.myzony.com/use-dryioc-replace-abp-di-framework/
https://blog.myzony.com/about-abp-after-replcing-the-dryioc-framework/

[2020-05-22 02:24] emisand commented on #5604
@maliming Thanks for the quick reply.
I will check those documents and also abp.io sources to see if I can replace the IoC container at least for my solution. I think trying this would take less effort than migrating my ASP.NET Zero solution to abp.io

[2020-05-22 03:31] dolphinsd commented on #5562
@ismcagdas and @acjh  your fix will not work.

as
var tenantIds = new[] { null };
if you call tenantIds.IsNullOrEmpty()
it will return true! but it is not empty, it an array of one null

you should not use tenantIds.IsNullOrEmpty() or fix IsNullOrEmpty extension on arrays.

[2020-05-22 05:48] acjh commented on #5562
Did you even try?

1. `var tenantIds = new[] { null };` is invalid syntax.
2. The unit tests pass, which means `tenantIds.IsNullOrEmpty()` returns `false`.

[2020-05-22 06:32] osalas891123 commented on #5465
@ismcagdas, Is there any restriction on POST Json translated Dto (CreatePatientDto) + List<IFormFile> from angular side to app service, trying to solving this issue, i fill the Dto and Have list of files on the same form then i want to POST all the data to PatientAppService, but i read somewhere that IFormFile can't be used on AppService side, any solution to this?

[2020-05-22 06:47] senxiaoxing commented on #5589
I got it.
This could be a problem with my Chrome browser.When I clean up all the cache, it works.

[2020-05-22 06:47] #5589 closed

[2020-05-22 07:23] SDVII opened #5605 "Add notify close function"
SweetAlert2 can cause some issues if it's visible during some routing changes or other specific scenarios, so I'd like to be able to close it programmatically if possible but there is no function for that in `abp.notify`.

SweetAlert2 already supports it via `Swal.close()`.

[2020-05-22 07:38] ismcagdas commented on #5605
Thanks @SDVII for your suggestion. You can temporarily solve this problem by adding "swal2-toast-shown" to body element in NavigationEnd event of your routing module.

[2020-05-22 07:40] SDVII commented on #5605
Thanks for the quick response! I'll try it out.

[2020-05-22 07:43] ismcagdas commented on #5465
You can use IFormFile but you have to add a reference to Microsoft.AspNetCore.Http.Features on your application layer project.

[2020-05-22 07:58] SDVII commented on #5605
This fixed the issue, thanks again! but I still think adding the function could be useful for other scenarios. Keep up the good work!

[2020-05-22 08:07] osalas891123 commented on #5465
@ismcagdas, thanks for your quick response. When i include in CreatePatientDto a property of type List of IFormFile the generated service proxy omit the Content of IFormFile, maybe is generated service proxy doesn't translate to multipart?

This is the generated service proxy ( I'm working with Angular)

export interface IIFormFile {
    contentType: string | undefined;
    contentDisposition: str

[2020-05-22 08:11] maliming commented on #5465
In this case you need to use XMLHttpRequest or other http library to upload files manually.

[2020-05-22 08:17] osalas891123 commented on #5465
@maliming, my real issue is how you deal with the fact that Files are Part of an AggregateRoot and need to be saved transactionally, i don't want take the risk of saving the Patient without Files, but want to get a good practice | pattern of doing this task in ABP, i already see samples but everything one of the two entities exists so the other reference the existing Id. In my case Attachment will

[2020-05-22 08:45] ismcagdas commented on #2623
@MAIDUONGTHAO https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2623#issuecomment-631998794

[2020-05-22 09:06] Kababaer opened #5606 "Testhost is not releasing memory"
* Your Abp package version. 5.5
* Your base framework: .Net Core.

Hi,

while testing the services and stuff of my Abp-Application, I recognized that when I run all my tests, the testhost needs more and more memory.
I have currently 200 tests and the testhost memory is getting up to 2GB. My tests are structured like this:

- TestModule (inherit from AbpAspNetCoreTestBaseModule)
- TestBase (inherit

[2020-05-22 14:37] maliming commented on #5606
Can you provide a project to reproduce the problem?

Maybe copying 1 method to 200 methods can be reproduced?

[2020-05-22 23:39] maliming commented on #5577
hi @AlexGeller Please provide a project to reproduce the problem.

[2020-05-23 07:37] ryancyq commented on #5595
@dolphinsd `LocalizableMessageNotificationData` is designed to contain localizable information (not localized information)

You should retrieve the localizable information in notification data when displaying a notification

[2020-05-24 22:49] parsisan opened #5608 "Replace Phone Number with email in login and all system..."
I want to have this scenario!

users be able to register by **phone number** Instead of **email address**!
so email address is not need for my scenario.
so users can login with username or phone number (its not necessary to completely delete email functional, its just can be null like when we use just username!)

i want use **Apb asp.net core & MVC**,
for this can you help me guys?
should i overri

[2020-05-25 00:31] maliming commented on #5465
![image](https://user-images.githubusercontent.com/6908465/82768499-040a7800-9e62-11ea-9a94-d2e7ea50bf3a.png)

[2020-05-25 01:18] maliming commented on #5608
You can customize the default implementation according to the documentation, https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

However, according to the design of asp net core identity, the mobile phone number is not unique. It does not provide a management method for the mobile phone number. You can extend these services, such as `UserManager`.

Of course, using a mobile ph

[2020-05-25 02:07] worthy7 commented on #5194
Is this being looked at or should I open a new issue.

[2020-05-25 02:24] maliming commented on #5194
@worthy7 New issue please.

[2020-05-25 03:03] worthy7 opened #5609 "Culture fallback system not working"
The fallback system (culture `en-GB` fallsback to `en`) is simply not working.

`en-GB` cultures should search for `en` localization texts but does not.

I am adding English to our site (mostly Japanese) and it turns out that because of date formatting differences around the world, we are going to add GB and US English options.
I put them in the database as 'en-GB' and 'en-UK', but they cannot fin

[2020-05-25 03:03] worthy7 commented on #5609
Here's what happens if you change the default project to use 'en-gb' instead of 'en'

![image](https://user-images.githubusercontent.com/4762399/82299594-ace34e00-99f0-11ea-9522-922e95bbbda4.png)

![image](https://user-images.githubusercontent.com/4762399/82299570-a523a980-99f0-11ea-9caa-8852201af1ef.png)

![image](https://user-images.githubusercontent.com/4762399/82299796-eae07200-99f0-11ea-8678-

[2020-05-25 03:04] worthy7 commented on #5194
(new issue https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5609)

[2020-05-25 06:03] #5391 closed

[2020-05-25 06:09] maliming commented on #5609
hi @worthy7
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Steps needed to reproduce the problem.

[2020-05-25 06:15] #5400 closed

[2020-05-25 06:45] worthy7 commented on #5609
Your Abp package version.
5.4 and 4.6
Your base framework: .Net Framework

My screenshots above testing the problem on a 4.6 multipage dot net mvc project.

Download the sample project, change 'en' to 'en-gb' in the `DefaultLanguages` seed, then migrate and start the project and it won't be able to find any text's.

[2020-05-25 08:33] AlexGeller commented on #5577
just used the abp zero project that can reproduce the problem and don't need to add any code.

as the DashboardContoller is belong to Mpa Area, so when you login as a ternant and directly visit the url http://localhost:8010/Dashboard, the route can find the DashboardController, and the IOC can initialize the DashboardController class too. and then it will show out http 500 error in interface and t

[2020-05-25 13:32] AlexGeller commented on #5577
The problem is just like this:
https://stackoverflow.com/questions/1799214/mvc-2-beta-defaultcontrollerfactory-with-areas

And I think that should override the CreateController and GetControllerType functions in WindsorControllerFactory class to handle the RequestContext.RouteData's namespaces and AreaName.

[2020-05-25 15:42] sajasbana opened #5610 "Determining Current Tenant"
Dear,
i'm using .net core with jquery template
I read this article
https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#determining-current-tenant

i did like this in my application
abc.com (host)
test1.abc.com (tenant name test1)

my question suppose tenant (test1) have his own domain (www.xyz.com) is it possible when people enter (www.xyz.com) to know which tenant is this? can this scenar

[2020-05-25 17:50] sajasbana commented on #5610
after read article again this part

DomainTenantResolveContributor: Tries to resolve tenancy name from an url, generally from a domain or subdomain. You can configure the domain format in the PreInitialize method of your module (like Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "{0}.mydomain.com";). If the domain format is "{0}.mydomain.com" and the current host of the request

[2020-05-25 18:25] parsisan commented on #5608
thanks for your answer, can i accept phonenumber such as a username?
is it possible to customize aspnetboilerplate for take UserNameOrEmailOrPhoneNumber for login ?
and how can i do this?
thanks.

[2020-05-25 20:13] ismcagdas opened #5611 "abp.signalr-client.js ES6 syntax problem"
reported at https://support.aspnetzero.com/QA/Questions/9061/IE11-javascript-error---SCRIPT1004-Expected-%27%27---AngularASPNET-Core-version

[2020-05-26 00:38] maliming commented on #5608
Sorry I thought you were talking about abp vnext, for aspnetboilerplate you can add additional methods to `AbpLogInManager `to support mobile phone number login etc.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.ZeroCore/Authorization/AbpLoginManager.cs#L23

[2020-05-26 03:37] amendez1000 commented on #4724
Hi,

I have the same error after uplift from 4.6.0 to 5.4.0. I am getting this error:

Mapping types:
CreateBranchDto -> Branch
Exapp.Branches.Dto.CreateBranchDto -> Exxap.Branches.Branch
AutoMapper.AutoMapperMappingException: Missing type map configuration or unsupported mapping.

Do you know what I am missing? I didn't understand the @zlyxm comment.

Thanks so much!

Regards,
Arturo

[2020-05-26 03:39] maliming commented on #4724
hi @amendez1000

You should manually create map for the types below.

https://aspnetboilerplate.com/Pages/Documents/Object-To-Object-Mapping#creating-mappings

[code]

[2020-05-26 03:49] amendez1000 commented on #4724
It worked. Thanks @maliming

[2020-05-26 08:44] maliming commented on #5610
You can configure the domain format in the `PreInitialize `method of your module (like `Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "{0}.mydomain.com";`). If the domain format is `"{0}.mydomain.com"` and the current host of the request is `acme.mydomain.com`, then the tenancy name is resolved as "acme". The next step is to query `ITenantStore` to find the `TenantId` by the giv

[2020-05-26 15:10] sajasbana commented on #5610
Dear @maliming
what if each tenant has their own domain?
with this work ```Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "{0}.com"; ```  where {0} is tenant name
?
if not how can i handle this especially for host
Thank

[2020-05-26 18:59] alexandis commented on #520
@hikalkan
Hi, I have followed the tutorial and created CRUD base on CrudAppService. Now I noticed they are not async. As far as I can see, even if to put apart, CrudAppService and ICrudAppService are not identical. And I have not found any clear explanation, what are the principal differences and what's the point to have CrudAppService if now everyone wants asynchronity? :) I am pondering and do n

[2020-05-28 07:41] maliming commented on #5577
hi

What do you mean by `abp zero project`? I did not find `DashboardContoller`.

[2020-05-28 08:28] maliming commented on #5609
The fallback system (culture en-GB fallsback to en) needs to add **en** language.

You can check its implementation code. The dictionaries need to include **en**

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/9107e23b017fa121d7b43e847b2554eee0ac0c92/src/Abp/Localization/Dictionaries/DictionaryBasedLocalizationSource.cs#L106

[2020-05-28 10:58] #5410 closed

[2020-05-28 12:29] fncap opened #5612 "AbpCommonHub - OnlineClient.Properties: populate it from QueryString"
It would be helpful, if AbpCommonHub automatically store QueryString's values inside OnlineClient.Properties during client connection!

[2020-05-28 13:16] ismcagdas opened #5614 "Encrypted settings feature"
Allow to define and use settings with encrypted values.

[2020-05-28 13:47] #5611 closed

[2020-05-28 15:26] Brandejs opened #5616 "rename.ps1 - bash alternative"
Is there alternative **FAST** way how to rename project? Seems that _rename.ps1_ doesn't work on MacOS even with installed Powershell

`PS /AbpProject/5.5.0> ./rename.ps1`

[2020-05-28 23:46] maliming commented on #5612
From https://support.aspnetzero.com/QA/Questions/9078

[2020-05-29 00:24] maliming commented on #5616
You can download the project from the website.

`rename.ps1` comes from the community.
There is a tool for renaming.
https://github.com/stulzq/SolutionRenamer
https://gist.github.com/hikalkan/014eecdae7c8d2677b192fcebcf5ba29

[2020-05-29 00:24] #5616 closed

[2020-05-29 02:50] maliming commented on #5577
For questions about zero, please feedback on the zero support forum or github.

[2020-05-29 02:50] #5577 closed

[2020-05-29 03:03] AlexGeller commented on #5577
OK, Thank you.

but I think this is a abp's IOC/DI problem for Controller instantiation, not just the abp zero has this problem, but also the project created with abp, I just used the abp zero as an example and reproduce the problem.

[2020-05-29 05:56] iyilm4z commented on #5597
Changes committed by theme repo’s prime contributor. With the next release, we will see our name under implementations section in theme’s docs.

[2020-05-29 05:56] #5597 closed

[2020-05-29 06:54] iddelacruz commented on #5591
Sorry, my mistake. I was changing the permission proider and that was the error. Sorry again.

[2020-05-29 06:54] #5591 closed

[2020-05-29 08:02] #5614 closed

[2020-05-29 08:43] dazyzsy commented on #5541
`options.SerializerSettings.ContractResolver = new AbpMvcContractResolver(IocManager.Instance)
                {
                    NamingStrategy = new CamelCaseNamingStrategy
                    {
                        OverrideSpecifiedNames = false
                    }
                };`
`
 public class MyClass
{
      [JsonProperty(PropertyName = "DoNotCamelCaseMe")]
      public string D

[2020-05-29 08:49] cunzhu commented on #5541
thanks

[2020-05-29 09:01] #5444 closed

[2020-05-29 10:13] sajasbana commented on #5610
[code]

[2020-05-29 11:11] ismcagdas commented on #520
You can use https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Application/Services/AsyncCrudAppService.cs

[2020-05-29 14:22] lukebooroo opened #5619 "ABP generate-proxy with multiple angular projects"
Abp package version. 2.8.0
Your base framework: .Net Core.

I'm using angular-cli with multiple angular projects. Documented here:
https://angular.io/guide/file-structure#multiple-projects

There doesn't seem to be a way of selecting which project to put the ABP code into. It simply places it in to /src/app which does not exist in this sort of cli project.

Also, it doesn't seem that in a regular

[2020-05-29 22:24] sajasbana commented on #5610
Dear
@maliming

I have issue which is if my site is ```abc.com``` and i type ```www.abc.com``` it treat it as host
tenant resolver should consider this case, i wrote DomainFormat  as ```"{0}.com```

please need help

[2020-05-30 06:35] abolfazlmohammadiseif opened #5620 "MultiLingual For List of Strings"
In a MultiLingual Entity we mostly have a `string` property and configure it as a MultiLingual property so that we move it into **translation class**. What if we have a property with the type `List<string>` instead of a single `string`? what do you suggest for that? can I move `List<string>`  into translation class?

[2020-05-30 06:41] #5428 closed

[2020-05-30 08:48] ismcagdas commented on #5620
Could you provide a real world example for this ?

[2020-05-30 08:52] danghung-dev opened #5621 "Log with CorrelationId"
I want to track log with unique CorrelationId. Because we use multiple instance, it will help us search the log easier.

I have searched google and see that we can config like this in log4net. Does aspnetboilerplate support this?
%timestamp [%thread] %level %logger %property{CorrelationId} - %message%newline

I do some research, we can use LogicalThreadContext to implement unique CorrelationId for

[2020-05-30 09:02] abolfazlmohammadiseif commented on #5620
I wanna have property **Description** to be a MultiLingual property.

[code]

is it ok to have sth like this:

    public class Product : IMultiLingualEntity<ProductTranslation>
    {
         public int Id { get; set; }
         public string Item { get; set; }
        public ICollection<ProductTranslation> Translations { get; set; }

    }

    public class ProductTranslation : IEntityTranslatio

[2020-05-30 10:03] acjh commented on #5621
This is not specific to aspnetboilerplate and does not require aspnetboilerplate support.

You can configure the log pattern in **log4net.config**:

[code]

You can set the `CorrelationId` in a simple middleware:

[code]

References:
- https://logging.apache.org/log4net/release/manual/configuration.html
- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1
- h

[2020-05-30 11:19] danghung-dev commented on #5621
@acjh It worked. Thank you so much. That save my life :)
I have another question. I saw the error log, the line number show in Stack trace is incorrect.
[code]

Actually, The line number is 125.
How can I fix it?

[2020-05-31 01:25] #5454 closed

[2020-05-31 03:14] maliming commented on #5621
How can I fix it?

This is not specific to aspnetboilerplate.

[2020-05-31 03:14] #5621 closed

[2020-05-31 12:59] behiunforgiven opened #5622 "Controller Frombody parameter is null"
* Abp package version : 5.8.0
* base framework: .Net Core.

[code]

I want to handle Telegram Bot with webhook. In a new clean .Net Core solution it works but it not work with my Abp solution.

[2020-05-31 13:42] maliming commented on #5622
Can you share the bot's request info?

For example, its request body is json or xml, etc.

[2020-05-31 14:01] behiunforgiven commented on #5622
I have no access to request body. it's Telegram webhook request.
[the official example works correctly](https://github.com/TelegramBots/Telegram.Bot.Examples/tree/master/Telegram.Bot.Examples.DotNetCoreWebHook).

[2020-05-31 20:06] ismcagdas commented on #5622
Hi @behiunforgiven

Does that work when you use this controller https://github.com/TelegramBots/Telegram.Bot.Examples/blob/master/Telegram.Bot.Examples.DotNetCoreWebHook/Controllers/UpdateController.cs ?

[2020-06-01 01:12] maliming commented on #5619
Please create an issue in the right place. : )

https://github.com/abpframework/abp

[2020-06-01 01:12] #5619 closed

[2020-06-01 04:29] behiunforgiven commented on #5622
Hi @ismcagdas
Not in Abp (Web.Mvc) project but it works in a stand alone Asp.Net Core project.
I tried both Abp Controller Base and .Net Core controller but non of them works in Abp project.
but when I create a simple project as in library sample it works fine.

[2020-06-01 05:11] maliming commented on #5622
hi @behiunforgiven

[2020-06-01 06:43] natiki commented on #5539
Bump!!!

[2020-06-01 06:52] suzong opened #5623 "Method 'GetActiveLanguages' in type 'Abp.Localization.ApplicationLanguageProvider'"
![image](https://user-images.githubusercontent.com/18459074/83383220-42caa000-a417-11ea-8b21-fe09d1c0a7ac.png)
Method 'GetActiveLanguages' in type 'Abp.Localization.ApplicationLanguageProvider' from assembly 'Abp.Zero.Common, Version=4.13.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.
Problems after integrating MongoDB！！！

[2020-06-01 07:06] maliming commented on #5623
Duplicate of https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5125?

Actually AspNet Boilerplate doesn't officially support MongoDB at the moment.

[2020-06-01 07:09] suzong commented on #5623
AspNet Boilerplate Mongodb integration is included。

[2020-06-01 07:37] maliming commented on #5610
hi @sajasbana

You can create new tenant resolve service for your special needs.
[code]

[2020-06-01 13:00] ridvanozbugru commented on #3369
I had the problem,i use last version ABP
No mapping to a relational type can be found for property 'Abp.Webhooks.WebhookSubscriptionInfo.IsActive' with the CLR type 'bool'.

[2020-06-01 16:02] Jerome2606 commented on #4711
@alaawahbah Is it possible for you to send me the file .ts from your post because without the line return is not ok from a copy-paste ?

Thanks

[2020-06-01 19:02] Sam140619 commented on #2836
Hi, am sorry to post this here, but really i have no other option.
first am new to Abp framework and am seeking any kind of support to guide me to the correct path instead of waste time.
i have Abp project with identity server already set up, i receive a requirement to integrate other application login flow to that identity server. i tried many code to integrate but its not working.

[2020-06-01 19:16] #5440 closed

[2020-06-01 20:12] ismcagdas commented on #2836
@Sam140619 it would be better if you can create a new issue and;

1. explain what you have tried
2. what is the final problem you are having

Thanks.

[2020-06-01 20:29] Sam140619 opened #5624 "Client Integration with Identity server 4"
Hi,
am new to asp net boiler plate , and i hope am in the right place to ask couple of questions that would help me to achieve my goal.

first, am working on .net core web application which contains its regular login page, and the requirement was to include an external page that allows the users to logged in to mm application using other login flow. the other application setting up the boiler plat

[2020-06-01 21:01] mark-at-tusksoft opened #5625 "Owned type on derived user fails to persist properties that are materialized from null"
#4072 Looks like the same issue
#5382 appears to be similar but not the same issue
[Related SO article](https://stackoverflow.com/questions/46872428/owned-type-property-not-persisting-for-a-modified-entity-in-ef-core)

We are using Zero, but I have a strong suspicion this is present in ABP as well
ABP Package Version: v5.1.0
AN0 Package Version: v8.1.0
Base framework: .Net Core v3.1
Exception mess

[2020-06-02 00:48] maliming commented on #3369
hi @ridvanozbugru Please create a new issue and explain your issue in detail.
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-06-02 03:21] maliming commented on #5539
hi @natiki

It is currently not possible, and there are no plans to do so.

[2020-06-02 03:25] Jayjun9 commented on #3544
1

[2020-06-02 03:34] ryancyq commented on #5624
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-06-02 03:36] ryancyq commented on #5624
Have you seen the [documentation on Abp identify server integration](https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server) ?

[2020-06-02 03:38] ryancyq commented on #5623
@suzong as mentioned in #5125, `GetActiveLanguages` is only available in [Abp 5.1](https://github.com/aspnetboilerplate/aspnetboilerplate/releases/tag/v5.1.0)

[2020-06-02 03:38] #5623 closed

[2020-06-02 05:01] behiunforgiven commented on #5622
@maliming Do you mean in Log.txt file in App_Data ?

[2020-06-02 05:57] maliming commented on #5622
I guess that model binding not work. right?

`[FromBody]Update update`

[2020-06-02 06:00] maliming commented on #5625
hi @mark-at-tusksoft

Can you use the template project to reproduce the problem and share it? : )
https://aspnetboilerplate.com/Templates

[2020-06-02 06:08] ridvanozbugru opened #5626 "System.InvalidOperationException: No mapping to a relational type can be found for property"
I can't migrate postgresql database.I'm using asp.net core Multi Page Web Application bolierplate 5.5.0.The error messagge I get is :
Execute add-migration Initial_Migration
[code]

[2020-06-02 06:13] maliming commented on #5626
* Steps needed to reproduce the problem.

[2020-06-02 06:27] ridvanozbugru commented on #5626
1) I installed the Npgsql.EntityFrameworkCore.PostgreSQL NuGet package to the *.EntityFrameworkCore project.
 2) I'm change Configure DbContext
` public static class ManagementDbContextConfigurer
    {
        public static void Configure(DbContextOptionsBuilder<ManagementDbContext> builder, string connectionString)
        {
            builder.UseSqlServer(connectionString);
        }

        p

[2020-06-02 06:50] #5509 closed

[2020-06-02 07:10] maliming commented on #5626
Do you delete existing migration files and add new migrations again?

[2020-06-02 07:16] ridvanozbugru commented on #5626
thanks a million it worked.

[2020-06-02 07:17] #5626 closed

[2020-06-02 08:08] lukebooroo commented on #5619
Thank you :)

[2020-06-02 08:35] #5443 closed

[2020-06-02 09:35] #5436 closed

[2020-06-02 09:53] behiunforgiven commented on #5622
Yes, if I use ```[DisableValidation]``` the parameter is null and if omit it I got Validation Error in Log.txt file.

[2020-06-02 12:35] #5330 closed

[2020-06-02 13:47] behiunforgiven commented on #5253
Hi @ryoldash
any progress here?

[2020-06-02 13:59] maliming commented on #5622
Can you set a breakpoint in the `Post `method to view the request header of http?

For example, its body, querystring and other information related to model binding.

[2020-06-02 14:14] behiunforgiven commented on #5622
yes these are some screen shots.

![Screenshot_3](https://user-images.githubusercontent.com/2098017/83530489-0bd0b900-a501-11ea-9ee8-8e13a358056d.png)

![Screenshot_4](https://user-images.githubusercontent.com/2098017/83530518-125f3080-a501-11ea-9c5b-48347c51f50e.png)

![Screenshot_5](https://user-images.githubusercontent.com/2098017/83530530-168b4e00-a501-11ea-8996-bd67658a0910.png)

[2020-06-02 14:18] maliming commented on #5622
Try
[code]

[2020-06-02 14:29] behiunforgiven commented on #5622
It's empty!

![Screenshot_6](https://user-images.githubusercontent.com/2098017/83532252-3d4a8400-a503-11ea-8e87-3974dd410bc9.png)

[2020-06-02 14:32] behiunforgiven commented on #5622
Request Form has an exception:

[code]

[2020-06-02 19:46] alaawahbah commented on #4711
Hi @Jerome2606, what is the problem exactly and what is the version of ABP and version of angular

[2020-06-02 19:52] alexandis commented on #2103
How can I determine language change in UI? I need to catch this event and make entity refresh (it depends on currently selected UI language).

[2020-06-02 22:34] alexandis commented on #339
Hi, we have the project where DB localization is based on some language codes like "E", "F", etc. - non-standard. What we would like to achieve is to synchronize language switch in UI part (angular) with the language-dependant entities, i.e. reload them. It's not clear how to subscribe to the corresponding event in httpapi.host module (using delegate for each request is not a good idea, imho) and

[2020-06-03 00:10] maliming commented on #5622
hi @behiunforgiven
The cause of the problem is that the request body is wrong, and you can troubleshoot accordingly.

[2020-06-03 00:49] maliming commented on #2103
hi @alexandis
Please open a new issue. Thanks.

[2020-06-03 01:28] maliming commented on #5620
Have you tried the CreateMultiLingualMap method?

[2020-06-03 03:12] rafadastan opened #5627 "[Trends] - Resolving"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exc

[2020-06-03 03:17] ryancyq commented on #5627
@rafadastan please state your problems in the issue.

[2020-06-03 05:58] #5602 closed

[2020-06-03 06:02] #5404 closed

[2020-06-03 06:23] ceoultrapublish commented on #1192
This is a old issue but still present even today.

Solution is to run `Update-Database -verbose` on your **".EntityFramework"** project. Running it on any other project does not work.

[2020-06-03 06:37] tsutomi opened #5628 "WbHook Management NuGet Packages"
You did a great job publishing a WebHook Management system within the Boilerplate framework, but at today there is not NuGet package available for it

[2020-06-03 06:45] alexandis opened #5629 "Determining UI language change on other layers"
Using the latest ABP framework version (2.8) for my AspNet Core 3.1 solution, I still can’t see the proper way to catch current UI language change event on the web site from other layers.

Whereas I understand it’s possible to plug into each request for app, I think it’s not good approach. I can see it’s possible to add a culture request provider, but it’s not possible to use some sort of subscrip

[2020-06-03 06:46] ryancyq commented on #5629
For abp.io please create the issue at https://github.com/abpframework/abp/issues/new

[2020-06-03 06:46] #5629 closed

[2020-06-03 06:47] #5628 closed

[2020-06-03 06:58] behiunforgiven commented on #5622
the request body is not wrong because it works in [this sample](https://github.com/TelegramBots/Telegram.Bot.Examples/tree/master/Telegram.Bot.Examples.DotNetCoreWebHook) and also in a new project (not an abp project)

[2020-06-03 08:32] ryancyq commented on #339
@alexandis please create a new issue for your case.

[2020-06-03 09:19] xx5ll opened #5630 "EntityHistory Collection property's OriginalValue that always equal CurrentValue after modification"
when i update a relationship entity,the OriginalValue of Collections always equal CurrentValue,
i think this may be the ef core problem,but i figure out a way to fix it temperary.

Here you are,the example

`public Class A`
`{`
`public int Id { get; set; }`
`public virtual ICollection<B> details { get; set; }`
`}`
`public Class B`
`{`
`public int Amount { get; set; } `
`}`

etc:
Before modified:

[2020-06-03 09:30] ryancyq commented on #5630
@xx5ll are `A` and `B` regular entities in Ef Core? (e.g not owned type)

[2020-06-03 09:33] #5627 closed

[2020-06-03 09:45] ismcagdas opened #5631 "Convert Ldap password setting to encrypted setting"
For apps using Active Directory integration, use `SettingEncryptionService.Encrypt` to encrypt current Ldap password setting value and update it in the database.

[2020-06-03 09:45] xx5ll commented on #5630
@ryancyq owned type.
Both A and B is inherit from FullAuditedEntity

the AbpEntityChangeSets only can record the full FullAuditedEntity's property and shadow property

[2020-06-03 09:48] ryancyq commented on #5630
@xx5ll you mean both `A` and `B` are `FullAuditedEntity`. Then `A` owns a collection of `B`. Is that right?

[2020-06-03 09:52] xx5ll commented on #5630
yes,tha's right.

[2020-06-03 13:07] Rudyzio opened #5632 "File upload using IFormFile at application services"
I have a doubt about how to make a file upload to an ApplicationService.

I made two approaches: trying to have an IFormFile inside an input object and trying to have an IFormFile as one of the two arguments in the method.

For instance:
[code]
[code]

This approach returns that a IFormFile cannot be instantiated (because it is an interface).

[code]

In this other approach, the file parameter is

[2020-06-03 13:54] marcelluswalace opened #5633 "Cors Issues using angular 8 .Net Core template version 4.8.0"
Hello,
I have a problem with the cors; When I working on my localhost everything is super but in production, for any get api call from UI to back end its working but for as soon as I do a delete or an update api call I get this: Access to XMLHttpRequest at 'http://#########:21021/api/services/app/Scheduler/Delete?Id=5' from origin 'http://#########:4202' has been blocked by CORS policy: No 'Access

[2020-06-03 14:28] lockcd opened #5634 "way to switch between Newtonsoft, and Utf8Json in abp 5.9.0"
### Documentation
Utf8Json - Fast JSON Serializer for C#
Please check the official documentation before asking questions:
https://github.com/neuecc/Utf8Json

[2020-06-03 15:21] sajasbana commented on #5194
Dears,
@ismcagdas @ryancyq
Any updates about this issue

[2020-06-03 15:26] ryancyq commented on #5194
Hi @sajasbana , i took a closer look at it and found that it was indeed that the behavior was changed in https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5070.

According to the documentation, https://aspnetboilerplate.com/Pages/Documents/Zero/Language-Management,  `MultiTenantLocalizationSource` initializes dictionaries base on the application languages from the datbaase. However, sinc

[2020-06-03 16:39] ryancyq commented on #5632
AspNetCore default model binding does not support multiple complex types binding.

For example
1. Primitive  + Complex (**works**)
[code]
2. Complex  + Complex (**does not work**)
[code]

For more information, see https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1

[2020-06-03 16:42] marcelluswalace commented on #5633
Can somebody at least tell me how I can add Access-Control-Allow-Origin dynamically to a request from the UI? Looks like framework is doing this for get, create method but not for update and delete...
My probleme is that service code in the UI is generated...

[2020-06-03 16:42] ryancyq commented on #5633
Can you check if the CORS settings are the same in
- [appsettings.json](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/appsettings.json)
- [appsettings.Staging.json](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/appsettings.Staging.j

[2020-06-03 16:45] marcelluswalace commented on #5633
I am just using on appsettings.json

 "CorsOrigins": "http://localhost:4200,http://localhost:4202,http://############:4200,http://############:4202",

[2020-06-03 16:46] marcelluswalace commented on #5633
also

  "ServerRootAddress": "http://############:21021/",
    "ClientRootAddress": "http://############:4202/",

[2020-06-03 16:49] marcelluswalace commented on #5633
something that really blows my mind is that even if I remove all cors settings everywhere in the back end I still have cors issues...that is really something I don't understand...

[2020-06-03 17:03] marcelluswalace commented on #5633
looks like all the services in the backend api that are deriving from AsyncCrudAppService
have that problem. Any post I do to the back from a method that is not coming from AsyncCrudAppService works fine from the front end...

[2020-06-03 17:04] Rudyzio commented on #5632
Thank you. Regardless, is there way of doing it at application service level using abp?

[2020-06-03 18:59] demirmusa commented on #5194
So the dictionary should have active languages + default language. It should fix that problem.

[2020-06-03 19:51] sajasbana commented on #5194
@demirmusa
first thanks for set issue in milestone
second, hope your solution take care of the issue i mentioned and details i put, for summary:
i have 2 .xml file
- xml with culture ('en')
- xml with culture ('ar')

in db there are 4 languages
- en (disabled)
- ar (disabled)
- en-GB (enabled - default)
- ar-KW (enabled)

expected result as mentioned in the issue: when user select language e.g (en

[2020-06-03 20:15] marcelluswalace commented on #5633
Ok I found the issue. The problem comes from the fact that Angular Services that are generated from an BackEnd Class deriving from AsyncCrudAppService do not add necessary cors related headers for method update and delete when they send request to the backend. It works perfectly for create method. I simply create custom method for the delete and the update and now it is working see my code below:

[2020-06-03 22:01] mark-at-tusksoft commented on #5625
[OwnedEntityIssue.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/4726421/OwnedEntityIssue.zip)

@maliming After setting up, simply follow step 6 using the swagger interface.

[2020-06-04 03:00] maliming commented on #5634
Many components of the framework depend on `Newtonsoft`, and it is not easy to switch to other libraries.

I remember that Microsoft's `System.Text.Json` is missing some features. I think `Utf8Json `may be too.

[2020-06-04 03:22] maliming commented on #5622
But in abp app can't get body string. https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5622#issuecomment-637580194

[2020-06-04 03:33] xx5ll opened #5635 "EntitySnapshotManager.GetSnapshotAsync() throw a exception"cannot access a disposed object""
i use EntitySnapshotManager like this,
![image](https://user-images.githubusercontent.com/51010082/83711463-d5f11900-a655-11ea-85f3-a45851e5c2b4.png)

![image](https://user-images.githubusercontent.com/51010082/83711246-464b6a80-a655-11ea-8514-547c85f1d3bd.png)

when i move the implementions of EntitySnapshotManager to  EntitySnapshotManagerBase,the problem fix.
![image](https://user-images.github

[2020-06-04 03:35] ryancyq commented on #5635
Could you share the error stacktrace for `System.ObjectDisposedException`?

[2020-06-04 03:43] maliming commented on #5625
hi @mark-at-tusksoft You seem to have shared a template project, can you add your steps to the project? : )

[2020-06-04 03:49] xx5ll commented on #5635
at Microsoft.EntityFrameworkCore.DbContext.CheckDisposed()
   at Microsoft.EntityFrameworkCore.DbContext.get_DbContextDependencies()
   at Microsoft.EntityFrameworkCore.DbContext.Microsoft.EntityFrameworkCore.Internal.IDbContextDependencies.get_StateManager()
   at Microsoft.EntityFrameworkCore.Query.QueryContextDependencies.get_StateManager()
   at Microsoft.EntityFrameworkCore.Query.QueryContext

[2020-06-04 04:31] mark-at-tusksoft commented on #5625
@maliming My mistake. In my haste I uploaded the initial zip from my download folder instead of the modified zip. I have updated my comment.

[2020-06-04 05:54] xx5ll commented on #5630
i find out the `OriginalValue` of `Collection` 's shadow property is always null, it will always insert a AbpEntityPropertyChanges even the shadow property is not modified.
![image](https://user-images.githubusercontent.com/51010082/83719960-be705b00-a66a-11ea-9eab-b4813169ba66.png)

But it will be fixed if i use the GetDatabaseValues().

@ryancyq

[2020-06-04 08:31] xx5ll commented on #5635
and i find out it will never get the CurrentValue of shadow property, because you haven't include the owned entity in `GetEntityById()`.

i have a Entity like
`Class A`
`{`
` public Supplier supplier { get; set; }`
`}`

when you use the `GetEntityById()`,i will get an A with null supplier,so the `propertyChangesStackTree` can not get the newest value of supplier.

![image](https://user-images.gith

[2020-06-04 08:36] demirmusa opened #5636 "Update and release free templates"
* Upgrade ABP packages
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnet-core-template
- [x] aspnetboilerplate-templates

* Release templates
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnet-core-template
- [x] aspnetboilerplate-templates

[2020-06-04 09:27] xx5ll commented on #5635
i was wrong,even if i got the value of owned entity,it will never match at all.

![image](https://user-images.githubusercontent.com/51010082/83739206-de624780-a687-11ea-81c3-80b85c41d189.png)

because `AddChangeToPropertyChangesStackTree()` is using shadow property name to `GetProperty()`

![image](https://user-images.githubusercontent.com/51010082/83739124-c1c60f80-a687-11ea-92ad-ab7f128a736d.png

[2020-06-04 09:30] maliming commented on #5625
hi @mark-at-tusksoft

Can you elaborate on step 6?

[2020-06-04 09:40] acjh commented on #5630
Show code for how you "update a relationship entity".

[2020-06-04 10:09] #5631 closed

[2020-06-04 10:10] ismcagdas opened #5637 "Convert Ldap password setting to encrypted setting (4.x)"
4.x version for https://github.com/aspnetboilerplate/aspnetboilerplate/milestone/137?closed=1

[2020-06-04 10:22] xx5ll commented on #5630
i just put a modified Dto, and use `AsyncCrudAppService.UpdateAsync()`
![image](https://user-images.githubusercontent.com/51010082/83745358-0190f500-a690-11ea-8e13-69d022fa5bcb.png)

![image](https://user-images.githubusercontent.com/51010082/83744916-6435c100-a68f-11ea-9ca1-8fb603c93ebf.png)

`ProcessEntity()` is a method i use to attach the owned entity. never mind.

[2020-06-04 10:43] ismcagdas commented on #5637
Closed via https://github.com/aspnetboilerplate/aspnetboilerplate/commit/fc439186c3b84722f267c5e137bbd53ebf96ff5f

[2020-06-04 10:43] #5637 closed

[2020-06-04 11:09] mathipa opened #5638 "Mvc.ExceptionHandling.AbpExceptionFilter - No component for supporting the service"
Hello,

I've implemented the ldap as is on Abp.Zero.Ldap (aspnetboilerplate/src/Abp.Zero.Ldap) ,I think I have implemented everything is suggested but when I try to log in I get the "**Internal error occurred during your request!**"  and the below is what I see in the logs

[code]

**AppSettingsNames.cs**
[code]
**TestApp2020CoreModule.cs**

[code]
![internalerror](https://user-images.githubuserco

[2020-06-04 12:55] #5636 closed

[2020-06-04 13:15] acjh commented on #5630
For the `OriginalValue` to be known to and correctly populated by EF Core, you should override `AsyncCrudAppService.GetEntityByIdAsync(TPrimaryKey id)` to include the `details` collection.

[code]

You should also call `cfg.AddCollectionMappers()` from the [AutoMapper.Collection](https://github.com/AutoMapper/AutoMapper.Collection) library.

[code]

Disclaimer: Not tested.

[2020-06-04 14:27] mark-at-tusksoft commented on #5625
Here is a visual recreation of the issue.
![OEI](https://user-images.githubusercontent.com/49250831/83769466-e604fa80-a64d-11ea-8b9a-a2499f0959b6.gif)

[2020-06-04 14:34] marcelluswalace commented on #5632
Hello this how I did file upload using application services and primeng (Asp.Net boiler plate .Net Core Angular 8). ON the UI side:
Prime-ng control

   <p-fileUpload name="demo[]" [url]="remoteServiceBaseUrl" (onUpload)="onUpload($event)" (onBeforeUpload)="onBeforeUpload($event)"
                              multiple="multiple" accept="text/xml">
                    <ng-template pTemplate="conte

[2020-06-04 14:35] Sunzhuokai commented on #4604
When set chinese as the first language and english as the second language in chrome ,  the Accept-Language request HTTP header value is  `zh-CN,zh;q=0.9,en;q=0.8` . but abp framework only support `zh-Hans` now , in this case the `en` will be chosen as the default language. may be we should support `zh-CN` and `zh-Hans` all

[2020-06-04 14:35] marcelluswalace commented on #5632
the application service must have public (IFormCollection data) as argument to be able to retrieve formdata from UI form

Regards

[2020-06-04 15:13] marcelluswalace commented on #5633
Finally it doesnt work;
I am coming down to removing completely this cors stuff from asp.net boilet plate frame work. Now the problem I have is that even if I remove all the cors configuration from the startup and from the config from everywhere I still cannot call the backend cause it is complaining about headers missing I dont know what do to here can somebody help?

Regards

[2020-06-04 15:23] marcelluswalace commented on #5633
Thanks Jesus Christ my Lord!!!!
found the answer here

https://forum.aspnetboilerplate.com/viewtopic.php?p=27497

[2020-06-04 15:23] #5633 closed

[2020-06-04 18:55] arpitce27 opened #5639 "How to extend NotificationSubscriptionInfo"
Wants to extend **NotificationSubscriptionInfo** in order to add two additional fields,
1) Email Notification
2) On-App Notification

So if user s are subscribed for such notification, accordingly notification can send out.

I already tried to extend entity named: **NotificationSubscriptionInfo** but system is not allowing to do that. Any suggestion or ides are welcomed. Thank you!

[2020-06-05 00:41] maliming commented on #4604
@Sunzhuokai
You can refer to the code of this library to map the language code.

https://github.com/maliming/Owl.Abp.CultureMap/blob/master/src/Owl.Abp.CultureMap/Owl/Abp/CultureMap/OwlApplicationBuilderExtensions.cs#L14
https://github.com/maliming/Owl.Abp.CultureMap/blob/master/src/Owl.Abp.CultureMap/Owl/Abp/CultureMap/CultureMapRequestCultureProvider.cs#L16

[2020-06-05 01:10] #5624 closed

[2020-06-05 01:10] Sam140619 commented on #5624
close

[2020-06-05 01:13] Sam140619 opened #5640 "postlogout uri redirection"
Hi,
am facing issues on the redirection after logout completed successfully were the Abp identity server after logout redirect to the login page of IDS4 instead to redirect to the path found in postlogouturi

### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, featur

[2020-06-05 01:20] maliming commented on #5638
hi

It looks like your `LdapAuthenticationSource `is a generic class, try registering it manually.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3bb70c6cecfea9033d55808aed0b9ed0b582389b/src/Abp/AbpKernelModule.cs#L50

[2020-06-05 01:27] maliming commented on #5639
see https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Extending-Existing-Entities-Core-Angular

[2020-06-05 01:30] maliming commented on #5640
hi @Sam140619 I think this problem is related to the identity server, and the template code of abp can also be changed.

[2020-06-05 02:13] xx5ll commented on #5630
thanks for your advise,

that explain why the `OriginalValue` of Collection 's shadow property is always null.

okay, we can talk about the first question of this issue.

the `OriginalValue` of Collections always equal `CurrentValue`, so it will not insert into  `AbpEntityPropertyChanges` at all,even the collections is modified.

is there a another way to fix this problem without change the source

[2020-06-05 02:24] acjh commented on #5630
I just told you exactly how and even provided a code sample.

[2020-06-05 02:47] xx5ll commented on #5630
but it doesn't work for me.

when i override `AsyncCrudAppService.GetEntityByIdAsync(TPrimaryKey id)`

i can not update at all

[2020-06-05 03:52] acjh commented on #5630
What does "can not update" mean specifically? Did you encounter an exception?

[2020-06-05 05:05] xx5ll commented on #5630
nope, no exception.
just nothing happen,
it seems like using the entity which is from database to `Update`, not the entity i modified.

maybe you can run some test.

[2020-06-05 05:53] maliming commented on #5625
hi @mark-at-tusksoft
Try `public Address Address { get; protected set; }// = new Address();`

[2020-06-05 07:04] acjh commented on #5630
Please create a repro project that is branched from [aspnetboilerplate/module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template).

[2020-06-05 08:31] xx5ll commented on #5630
i extended so features base on the React Template of ABP 5.1 ,
i just updated the AbpLib to 5.9 before yesterday

[2020-06-05 08:58] maliming opened #5641 "Sample: Using Stored Procedures, User Defined Functions and Views"

[2020-06-05 08:58] #5641 closed

[2020-06-05 09:13] gpcaretti opened #5642 "Encrypted settings feature might throw an exception"
* Abp v5.9 and v4.17
* framework: .Net Framework
* Exception message: "There is no setting defined with name: Gps.Social.Youtube.ChannelHref"
* Steps needed to reproduce the problem.
With the introduction of the new feature #5614, you modified the code for [SettingManager.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/SettingManager.cs) by aggregating the

[2020-06-05 09:24] maliming commented on #5642
I think we can ignore these non-existent names.

[2020-06-05 12:03] mathipa commented on #5638
Hi @maliming thank you for the response, I'm kinda new to this environment  do I register it in my coreModule.cs?

[2020-06-05 13:19] lockcd commented on #5634
For serialization, Utf8Json is 2 times faster than System.Text.Json and a whole 4 times faster than Newtonsoft. For deserialization, Utf8Json is 3.5 times faster than System.Text.Json and 6 times faster than Newtonsoft.

The only surprise here is how poorly Newtonsoft.Json performed. This is probably due to the UTF-16 and UTF-8 issue. The HTTP protocol works with UTF-8 text. Newtonsoft converts th

[2020-06-05 13:27] ismcagdas commented on #5634
As I can see, this project is not very active as well, https://github.com/neuecc/Utf8Json/graphs/contributors

[2020-06-05 13:51] behiunforgiven commented on #5622
so I think it's not request problem! the problem is from abp controller.

[2020-06-05 14:04] ismcagdas commented on #5622
@behiunforgiven could you explain how can we reproduce this ? Does Telegram have a document to use it's webhooks ?

[2020-06-05 14:10] #5642 closed

[2020-06-05 16:02] Sam140619 commented on #5640
so is there any work around for this ?

[2020-06-05 19:44] behiunforgiven commented on #5622
Hi @ismcagdas
thank for your reply.

you can do these steps:
1- Create a new apb .net core project (Multi Page App)
2- Add [this nuget](https://www.nuget.org/packages/Telegram.Bot/) ([docs and source in github](https://github.com/TelegramBots/Telegram.Bot))
3 - Create a controller as in samples to use with webhook
4 - Create a Telegram bot with [botfather](https://core.telegram.org/bots)
5 - Run p

[2020-06-05 20:42] yanielbf opened #5645 "Testing using data from database"
@maliming @ismcagdas Hi, I am testing my code using test module. I need to do test using real data from my database. How I do it?. Greetings

[2020-06-05 21:13] alexandis commented on #3187
A lot is said about registering implementation via `IocManager.IocContainer.Register`. But I can't find information WHERE it needs to be done.

[2020-06-05 21:42] mark-at-tusksoft commented on #5625
That successfully allows null properties from an owned entity to update. Any idea if this is an issue with EF Core or Abp's UoW? If the latter, is this mentioned anywhere in the docs?

[2020-06-06 05:31] emisand commented on #5604
I've been trying to implement the DryIoc replacement as detailed in the guides, but it's quite incomplete and doesn't cover all of Abp DI requirements. And as you know, it's really hard to replace because Abp is tightly coupled to Castle.Windsor.

Also, I can observe that in my solution, Castle.Windsor microkernel spends over 75% of the time required to process any request in the solution, and tha

[2020-06-06 05:47] abolfazlmohammadiseif commented on #5620
Not yet. But I'll try.

[2020-06-06 06:52] Jerome2606 commented on #4711
Hi @alaawahbah My version of ABP is 4.8.0 and angular version 8.2.4
I try to follow your steps but I got some errors in my ts files.

For example:

![image](https://user-images.githubusercontent.com/4534893/83938242-f1cdf980-a7d2-11ea-9702-d5e2b096a8e6.png)

I was wondering if you can send me the whole files concerned by your changes so that I could make the difference using some tool like WinMerg

[2020-06-06 08:53] #4972 closed

[2020-06-06 10:13] alaawahbah commented on #4711
i cant share the files because its owned to my company but the ssr steps, we are ask the company to share it only not the code.

[2020-06-06 10:56] gdunit opened #5646 "Entity History join table entity changes not recorded"
* Abp package version: 5.8
* Framework: .Net Core 3.1
* ORM: EF Core

I'm running into a problem with entity history.
There are join table entities that exist as children of my base entity that I want to audit.
The entity history feature records changes as expected for child collections which are entities with a single Id.

However it does not record changes when the entities are join tables that

[2020-06-06 19:52] ismcagdas commented on #5604
@emisand what problems did you face ? Maybe we can help you with that. We don't have a plan to change Castle Windsor.

[2020-06-06 22:41] emisand commented on #5604
@ismcagdas Hello, let me show an example.

Having the solution running and fully warmed up, if I click to refresh a simple DataTable (using jquery version) it takes over 3500ms to get to the first line of the app service method, and the execution of my app service method takes only 135ms, see screenshot below:

![get-customer-list-1](https://user-images.githubusercontent.com/2250102/83955743-d0016

[2020-06-07 09:08] guaicaiboshi opened #5647 "this MySqlConection is already in use"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

* Abp package version 5.8.
* Your base framework:  .Net Core 3.1.
* The program initializes the background thread. In the background thread, some functions are performed to calculate the uploaded data, but the exception (random probability) will be r

[2020-06-07 12:42] maliming commented on #5647
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-06-07 12:57] guaicaiboshi commented on #5647
I'm ready for exception message and stack trace tomorrow.
I'll try to do a demo.

[2020-06-08 00:54] maliming commented on #5625
This is the technical category of ef core, and has nothing to do with abp.
https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities

[2020-06-08 00:54] #5625 closed

[2020-06-08 00:55] maliming commented on #3187
@alexandis Please create a new issue.

[2020-06-08 01:03] maliming commented on #5638
Please share your `LdapAuthenticationSource` class.

https://aspnetboilerplate.com/Pages/Documents/Zero/User-Management#ldap-active-directory

[2020-06-08 01:05] maliming commented on #5640
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-06-08 01:09] maliming commented on #5645
hi @yanielbf

If you really need to do this, you can remove the configuration of the in-memory database in the unit test.

https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/test/AbpCompanyName.AbpProjectName.Tests/DependencyInjection/ServiceCollectionRegistrar.cs#L25

[2020-06-08 05:07] osalas891123 commented on #5632
@ryancyq i have the same issue, there are use cases where you can't separate files from the main model, A patient and it's Files Records must be saved as a transaction.

[2020-06-08 06:18] ismcagdas commented on #5632
@osalas891123 yes, you can do it in a Controller or in an AppService https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5632#issuecomment-638889374.

[2020-06-08 06:30] guaicaiboshi commented on #5647
System.InvalidOperationException: This MySqlConnection is already in use. See https://fl.vu/mysql-conn-reuse
   at MySqlConnector.Core.ServerSession.StartQuerying(ICancellableCommand command) in C:\projects\mysqlconnector\src\MySqlConnector\Core\ServerSession.cs:line 214
   at MySqlConnector.Core.CommandExecutor.ExecuteReaderAsync(IReadOnlyList`1 commands, ICommandPayloadCreator payloadCreator, Co

[2020-06-08 06:42] mathipa commented on #5638
Hi @maliming

`using Abp;
using Abp.Authorization.Users;
using Abp.Dependency;
using Abp.Extensions;
using Abp.MultiTenancy;
using Abp.Zero.Ldap.Configuration;
using System;
using System.DirectoryServices.AccountManagement;
using System.Threading.Tasks;

namespace TestApp2020.Authentication
{
    public abstract class LdapAuthenticationSource<TTenant, TUser> : DefaultExternalAuthenticationSource<T

[2020-06-08 06:49] maliming commented on #5647
This MySqlConnection is already in use. See https://fl.vu/mysql-conn-reuse

[2020-06-08 12:34] mathipa commented on #5638
Hi @maliming  Thank you very much this issue has been resolved. I will create a separate issue.
You rock!

[2020-06-08 12:34] #5638 closed

[2020-06-08 12:59] mathipa opened #5648 "Mvc.ExceptionHandling.AbpExceptionFilter - The server could not be contacted."
Hello,
I have implemented the LDAP Authentication is stated on [aspboilerplate](https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.Zero.Ldap/Ldap) I had a couple of issues but resolved many of them only one left.
**The issue**

When trying to log in I'm getting an internal error issue
![internalErrorDuringRequest](https://user-images.githubusercontent.com/6106194/84032411-9568

[2020-06-08 20:21] naazz1992 commented on #5604
We are actually facing the same exact issue.

[2020-06-08 23:16] maliming commented on #5622
Hi @behiunforgiven I will test your steps as soon as possible.

[2020-06-09 00:13] maliming commented on #5648
This error appears in your log.

[code]

[2020-06-09 07:01] dangminhbk opened #5649 "[Question] IdentityServer Integration."
Do ABP management their own token seprately with IdentityServer ( 2 token) or they just use IdentityServer token.

[2020-06-09 14:13] dwildcash commented on #5622
Same problem here.  It was working before but stopped working few month ago.  Here how I fixed

public async Task<IActionResult> Webhook([FromBody]dynamic jsonresult)
        {

            try
            {
                await _updateService.EchoAsync(JsonConvert.DeserializeObject<Update>(jsonresult.ToString()));
            }

[2020-06-09 17:46] Sam140619 commented on #5640
Your Abp package version. [ AbpIdentityServer v 3.4.0, AbpAspNetZeroCore v 1.1.1 ]
Your base framework: .Net Framework or .Net Core. [ .Net Core 2.0 ]
Exception message and stack trace if available. [error in log : End session request validation failure: Invalid post logout URI]

Steps needed to reproduce the problem. [ below code ]

client startup code:

            services.AddAuthentication(opt

[2020-06-09 18:08] sajasbana opened #5650 "feature request - workbox and indexedDB"
Dears,
is it possible to add workbox and indexedDB?

link
https://developers.google.com/web/tools/workbox/

Thanks

[2020-06-10 01:57] maliming commented on #5649
You can either use the identity server token or implement jwt in the application.

https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

[2020-06-10 01:57] #5649 closed

[2020-06-10 03:24] XbCore opened #5651 "How to keep login state by token in DingTalk's Micro application?"
* Abp Version 5.40+.
* Base framework:  .Net Core.

I want to make my App run in DingTalk's Micro application, by OAuth.
When I open the OAuthControl, I send the Model Data to the AccountController，and input the UserName and Password to login.
But the DingTalk's Android apk App's Embedded Browser doesn't seem to support the general Cookie.When I redirect to the HomeControler's index view by set th

[2020-06-10 04:33] maliming commented on #5651
This does not seem to be an ABP-related issue. Any application that uses cookies will not work. You should consider using non-cookie methods. Such as jwt token.

[2020-06-10 04:33] #5651 closed

[2020-06-10 04:56] dangminhbk commented on #5649
So if we want manage it seprately, we have two write an aditional middleware to validate that.

[2020-06-10 05:32] ismcagdas commented on #5650
@sajasbana could you explain a bit more detailed ? Can you use it directly in your project ?

[2020-06-10 08:37] iyilm4z opened #5652 "Unwanted modal delay on closing"
In the process of migration ui to new template, in order to make modal markup cleaner, i used modal service for Angular. However i realized i forgot implementing modal's active state for preventing modal delay on closing. This causes some problems like double click creates double records. I will fix this issue.

[2020-06-10 08:57] sajasbana commented on #5650
@ismcagdas
I read this article (and hope you have 5min for quick read this) it like show case that was legacy and they want to be Progressive Web App(PWA)
(https://medium.com/@paulosouzav/how-we-turned-our-legacy-system-into-a-progressive-web-app-pwa-a3dada05d31d)

i'm trying to read more and check if i can apply in in my abp project, and shared idea here maybe you think it will worth to add this

[2020-06-10 17:38] tiagoags opened #5653 "CheckAndSetMayHaveTenantIdProperty doesnt work with Tenancy enabled"
* Your Abp package version.: 4.9
* Your base framework:  .Net Core.

* Steps needed to reproduce the problem:
MultiTenancyConfig.IsEnabled = true;
IRepositorty of IMayHaveTenant  entity.

When working with a multiTenant enviroment the implementation on CheckAndSetMayHaveTenantIdProperty  at class AbpDbContext,  never  sets 'Current Tenant' on entity.TenantId during insert (EntityState.Added).

thi

[2020-06-11 01:35] emisand commented on #5604
@ismcagdas I hope you can check on this soon.
Performance is my main concern with ASP.NET Boilerplate and ASP.NET Zero, this should be taken care of ASAP to get all the performance enhancements as possible before adding new features.

Maybe you can find some tweaks with Castle and the Module system that can improve these loading times. As I said before, having the IoC take over 75% of the CPU time

[2020-06-11 05:24] sevenNightL commented on #5403
![image](https://user-images.githubusercontent.com/27542146/84348037-a0fd3d00-abe6-11ea-9346-5bca15c38a61.png)
![image](https://user-images.githubusercontent.com/27542146/84348141-d1dd7200-abe6-11ea-8e65-ef85cbbfe52a.png)

How to solve this problem

[2020-06-11 05:27] sevenNightL commented on #5403
![image](https://user-images.githubusercontent.com/27542146/84348228-06e9c480-abe7-11ea-81b9-6b9f9db277fe.png)
![image](https://user-images.githubusercontent.com/27542146/84348250-136e1d00-abe7-11ea-9d5a-83ae5b1859f2.png)
![image](https://user-images.githubusercontent.com/27542146/84348267-1cf78500-abe7-11ea-940c-d061ea207a44.png)

How to solve this problem? I can't enter Abp source code

[2020-06-11 05:29] ismcagdas commented on #5403
@sevenNightL we will test it since https://github.com/dotnet/sdk/issues/10614 is already fixed.

[2020-06-11 06:17] sevenNightL commented on #5403
so. is this problem caused by  [dotnet/sdk#10614] ?

[2020-06-11 06:20] XbCore commented on #5651
经测试，并非钉钉微应用不支持Cookie，而是其dingtalk.open.js劫持了request。
解决方式为在Login.js验证ajax的success中自行添加了Cookie保存登录参数，然后startup.cs中添加身份验证处理的Middleware，如果验证未登录且存在登录参数Cookie，发起验证并为HttpContent.User赋值。

[2020-06-11 06:21] sevenNightL commented on #5403
@ismcagdas  so. is this problem caused by [dotnet/sdk#10614] ?

[2020-06-11 12:49] #5494 closed

[2020-06-11 14:53] fdelcarmen opened #5657 "Problem opening v8.9.2 in vs2019 (Net core 3.1)"
Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1045	The current .NET SDK does not support targeting .NET Core 3.1.  Either target .NET Core 2.2 or lower, or use a version of the .NET SDK that supports .NET Core 3.1.	fisyssigae.GraphQL.Tests	C:\Program Files\dotnet\sdk\2.2.109\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets	137

The .net core

[2020-06-11 14:58] maliming commented on #5657
Please discuss in zero's support forum. Thanks

[2020-06-11 14:58] #5657 closed

[2020-06-12 12:44] mrs01dev opened #5658 "How to differentiate paid version from free version ?"
Dear all
Github have too many repositories for aspnetboilerplate project.
some repositories have a  custom code and no licence.
many repositories  are based on "GSoft.AbpZeroTemplate" .
is this "GSoft.AbpZeroTemplate" a free version -so i can use it - or  paid version ?

Thanks

[2020-06-12 12:49] ryancyq commented on #5658
Hi @mrs01dev official free templates are only available at https://aspnetboilerplate.com/Templates, official paid templates are only available at https://aspnetzero.com/

[2020-06-13 07:09] #5473 closed

[2020-06-13 14:47] behiunforgiven commented on #5622
@dwildcash Thanks a lot, your solution works 👌

[2020-06-14 12:09] wei6bin opened #5659 "ABP"

[2020-06-14 12:10] #5659 closed

[2020-06-14 13:47] abolfazlmohammadiseif opened #5660 "Create user just By PhoneNo And Password"
I wanna register a user just using **PhoneNumber** And **Password**. (So that in my case **Username** will be filled with **PhoneNumber** and other fields will be left **Null** ) . Is this possible to do so or not?
I mean there may be some validation on some other fields, say, **EmailAddress**. Is there any validation like that to prevent me from registering a user?

[2020-06-14 20:37] ismcagdas commented on #5660
@abolfazlmohammadiseif we are using ASP.NET Core Identity, so you can check its documentation. As you said, EmailAdress will be a problem.

[2020-06-15 07:34] #5660 closed

[2020-06-15 09:02] ismcagdas commented on #5604
@emisand is it possible to reproduce this problem using free templates ? If not, is it possible to share your project with us ? We haven't faced such a problem before.

[2020-06-15 11:44] #5476 closed

[2020-06-15 16:04] emisand commented on #5604
@ismcagdas The issue gets noticeable as the application grows up in features.
I will try to set up an example application this week with a large set of dummy permissions, settings and features, and also a large set of dummy domain services and app services to give the IoC a good load of dependencies to work with.

[2020-06-15 17:43] YSnh2 opened #5661 "Boilerplate ASP.NET template model form cannot show or pop-up when deploy into Ubuntu machine"
Hi my Boilerplate ASP.NET template is ver 5.1, I face an issues when deploy the .net core MVC into ubuntu machine, all the popup model form is not working, no pop-up form can be show and no error at console also.

Can you advice, what is getting wrong ?

[2020-06-16 01:25] maliming commented on #5661
Has the request for js, css, etc. been loaded successfully?

[2020-06-16 01:41] maliming commented on #5640
hi @Sam140619
Have you tried using plain asp net core + identity server?

[2020-06-16 05:49] a157147899 opened #5662 "Does ABP support to configure web application run as Hangfire client?"
* Abp version.  4.3.0
* .Net Core. 2.2

Hi ABP team,

It seems ABP can't configure web application as a Hangfire client, because of the app.UseHangfireServer() function should be invoked in the Configure function of Startup.cs but through the Hangfire documentation, it can be achieved.

Once app.UseHangfireServer() begin called the current web application will be registered as a Hangfire server an

[2020-06-16 06:36] maliming commented on #5662
You can take a look this https://support.aspnetzero.com/QA/Questions/3753

[2020-06-16 06:57] Brandejs opened #5663 "CreatorUserId is null if inherited from FullAuditedEntity<Guid>"
I notice that CreatorUserId is not set correctly if Entity is inherited from FullAuditedEntity<Guid> with GUID. It will probably have same issue with LastModifierUserId and DeleterUserId _(Not tested yet)_

**Abp package version: 5.9.0
Base framework: .Net Core**

[code]

[code]

[2020-06-16 07:15] ryancyq commented on #5663
@Brandejs By design, Abp does not set tenant information during the unit of work for entities with `IMayHaveTenant` interface. You will have to assign the tenant information yourself

[2020-06-16 07:25] Brandejs commented on #5663
Well... I know that I must set TenantId manually. But if the Entity is inherited from `FullAuditedEntity` CreatorUserId is set correctly if AbpSesssion provides valid User/Tenant identifier. But If my entity is inherited from `FullAuditedEntity<Guid>`  CreatorUserId is set to `NULL`

[2020-06-16 15:31] JosePolanco18 opened #5664 "Question: It's possible to use Angular version without authorization?"
I want to use Abp as base for my company projects, actually we use Oracle for Database.

The problem is all bussiness logic including Users, Roles are managed by the database, in my case I don't need to use authorization.

Really I need a clean version of the framework wihout any table. I know I can download the framework like this If I don't mark the check "Include login, register, user, role and

[2020-06-17 02:52] maliming commented on #5664
hi

I think you can download the template project that contains angular and remove the code you don't need, there is currently no way to generate the project you need.

[2020-06-17 03:45] a157147899 commented on #5662
Hi, maiming,

Is this the only way to accomplish my needs? I mean this extra code does not really make sense as we already configured it in the AddHangFire() function.

`JobStorage.Current = new SqlServerStorage(_appConfiguration.GetConnectionString("Default")); `

[2020-06-17 05:38] nitinjs opened #5665 "How to execute raw sql query"
How to execute raw sql query in asp.net core aspnetboilerplate 5.6.0,
It seems entity framework code 3.1.4 is referred in the project

My code is as follows

[code]

[2020-06-17 05:47] maliming commented on #5665
You can use `_dbContextProvider.GetDbContext().Set<XXXEntity>().FromSql("select ...")`

[Entity Framework Core
Querying data Raw SQL Queries](https://docs.microsoft.com/en-us/ef/core/querying/raw-sql)

[2020-06-17 11:02] #5665 closed

[2020-06-17 11:14] mathipa opened #5666 "Abp.AbpBootstrapper - System.Configuration.ConfigurationErrorsException"
Hello,

I've implemented the LDAP Auth  here are the [clases](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5648) all seems to be good until I get invalid username or password: this is from the logs
`
WARN  2020-06-17 12:52:12,700 [22   ] Mvc.ExceptionHandling.AbpExceptionFilter - Login failed!
Abp.UI.UserFriendlyException: Login failed!
   at TestApp2020.Controllers.TokenAuthContr

[2020-06-17 11:19] maliming commented on #5666
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-06-17 11:42] mathipa commented on #5666
Hi @maliming

The Abp package
![abpVersions](https://user-images.githubusercontent.com/6106194/84892824-8faca880-b09e-11ea-9d58-9061a046052d.PNG)

The stack trace:
[stackTrace.txt](https://github.com/aspnetboilerplate/aspnetboilerplate/files/4792168/stackTrace.txt)

How to reproduce:
Implemented the LDAP implementation as mentioned here [aspnetboilerplate](https://github.com/aspnetboilerplate/aspn

[2020-06-17 11:43] Timyrlan commented on #4285
Same problem here

[2020-06-17 12:20] amr-saafan opened #5667 "Extend SignalR Functionality"
Hello,

I would like to show a message to the user telling him that we lost connection to SignalR Server and we are connected again to SignalR server.
I can see in this script file abp.signalr-client.js tryReconnect method is logging this message but I can't modify this script file because it will be overwritten when I publish.

So, the question is how to extend the functionality of SignalR to kno

[2020-06-17 12:59] maliming commented on #5666
Please provide a project that can reproduce the problem.

[2020-06-17 18:52] munirhussain110 opened #5668 "Initializing abp framework in .NET Core Worker Service"
We initiated a .NET Core Worker Service project in order to develop a background service dependent on Application and EntityFrameworkCore projects. This service is required to connect with Aspnetboilerplate framework so that we are able to connect with database. However, no attempt is successful so far.

Forked project: https://github.com/munirhussain110/module-zero-core-template.git

Abp package

[2020-06-18 00:58] maliming commented on #5667
You can copy the content of `abp.signalr-client.js` into a new js file and reference it.

[2020-06-18 01:02] maliming commented on #5668
You can look at https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5369

[2020-06-18 03:50] rqx110 commented on #5367
any update on this issue?

[2020-06-18 05:10] maliming commented on #5367
@rqx11
Will be resolved in net 5.0.
https://github.com/dotnet/runtime/issues/35990

[2020-06-18 05:26] naazz1992 commented on #5604
Hi,

Here is a basic project that i made to reproduce the issue. What i have basically done is just creating 9 entities, 3 app services, one repository per entity.

https://github.com/naazz1992/DIIssue

Steps to reproduce:
- Setup the basic solution(update-database,etc..)
- Launch the api solution (swagger)
- Call one of the 3 endpoints:
  - /api/services/app/TestOneDependency/Test
  - /api/servic

[2020-06-18 05:54] ismcagdas commented on #5604
@naazz Thanks. How did you measure the request duration ?

[2020-06-18 06:44] tangdf opened #5669 "The return value of the dynamic method getNotification is Task"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/5e56c62c3c107be3e2a2d0b88cb4bec079a55921/src/Abp.Web.SignalR/Web/SignalR/Notifications/SignalRRealTimeNotifier.cs#L58

  await (Task)signalRClient.getNotification(userNotification);

[2020-06-18 06:50] ismcagdas commented on #4285
@Timyrlan can you reproduce it using one of the templates https://aspnetboilerplate.com/Templates ?

[2020-06-18 07:28] munirhussain110 commented on #5369
@maliming
When I tried above snippet, it gives compilation error on:
.UseCastleWindsor(IocManager.Instance.IocContainer); [CreateHostBuilder within Program.cs]

I have tried by adding these packages but not successful:
Microsoft.Extensions.DependencyInjection
Castle.Windsor
Castle.Windsor.MsDependencyInjection

[2020-06-18 07:58] maliming commented on #5669
I will check it.

[2020-06-18 08:01] demirmusa commented on #5604
Hi @naazz1992
I checked your project but could not reproduce it.

You meant that stopping and reruning the host project right? Did I misunderstand you?

If you think your problem is related castle windsor, that isssue is in our current milestone and will be complete.

If you can share something like gif that show the problem we can investigate it. (You may use https://github.com/NickeManarin/Scree

[2020-06-18 08:03] #5668 closed

[2020-06-18 08:06] maliming commented on #5369
@munirhussain110

Detailed information?

[2020-06-18 08:39] munirhussain110 commented on #5369
@maliming
Created a .NET Core Worker Service with name [SampleWorkerService].
Here is the code of Program.cs:
[code]
SampleWorkerServiceModule.cs:

[code]

Worker.cs (Background Worker on which Abp dependency is required for IUserAppService):

[code]
In above source code, I am having compilation error on Program.cs:

`.UseCastleWindsor(IocManager.Instance.IocContainer);`

[2020-06-18 11:39] #5194 closed

[2020-06-18 13:08] maliming commented on #5609
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5670

[2020-06-18 13:08] #5609 closed

[2020-06-18 13:25] naazz1992 commented on #5604
@ismcagdas i mesure it doing the call with postman for now. But we also did it with dotrace on our own project.

@demirmusa No your right. The first call in an appService that inject dependency that have not been injected yet is always slow after that it's fast. Like if there is a sort of cache done in the first call. We have some call that take up to 20 seconds. The best would be to demonstrate t

[2020-06-18 15:07] Riaan-Crause-Kohde commented on #5369
@munirhussain110

I ran into this same issue. Digging further I came across this commit made in February.
https://github.com/aspnetboilerplate/aspnetboilerplate/commit/c3f503389a81f4534698cb2b4944bb08344714a9

I'm guessing if you upgrade your "Abp.AspNetCore" package it should solve your issue.

If you are on the same boat as me and cannot do so right now, I created the extension method in my solu

[2020-06-18 18:12] munirhussain110 commented on #5369
@Riaan-Crause-Kohde Issue resolved by updating Abp.AspNetCore package. Thanks!

[2020-06-18 19:13] zmrfzn opened #5671 "Swagger index page errors out on firefox"
### Documentation

Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
5.6 (latest as of 19-06-2020)

* Your base framework: .Ne

[2020-06-18 22:37] nitinjs commented on #2310
what about getting access token?

[2020-06-18 22:38] DavidRogersDev opened #5672 "InvalidOperationException during Startup"
After creating a database, populated with the ABT's tables, I populated the connection strings and ran up the application. Boot-up was interrupted by the following Exception:

This was thrown in the CreateEditions method of the DefaultEditionCreator class.

**Environment**
Visual Studio 2019
ABT v.5.6.0 using the Vuejs template at https://aspnetboilerplate.com/Templates
SQL Server 2016 Developer E

[2020-06-19 01:43] maliming commented on #5671
hi

Will the same problem occur if you use Microsoft's example?

https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-3.1&tabs=visual-studio

[2020-06-19 01:46] #5517 closed

[2020-06-19 01:47] maliming commented on #2310
@nitinjs  create a new issue please.

[2020-06-19 01:49] maliming commented on #5672
Have you see this issue: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/3221#issuecomment-377526030

[2020-06-19 01:55] #5491 closed

[2020-06-19 01:56] #5512 closed

[2020-06-19 06:07] #5669 closed

[2020-06-19 07:01] ismcagdas commented on #5604
@naazz thanks 👍 . Let us first check and try to reproduce the problem like you did. I will ask for your help if I can't reproduce. Thanks a lot for preparing the solution again 🙂

[2020-06-19 09:04] KevinvdBurg commented on #4897
Any updates on this issue?

[2020-06-19 13:47] Sam140619 commented on #5640
Hi @maliming , No actually, i don't.

[2020-06-19 14:45] maliming commented on #5640
hi

Can you try it without abp?

[2020-06-19 19:26] svlad69 opened #5675 "Using tenant as a sub-domain (IIS)"
Hello there, I’ve been trying to configure the IIS in order to use the tenants as sub-domains, but I haven’t been really successful while doing it.

I know I gotta use this:

Configuration.Modules.AbpWebCommon().MultiTenancy.DomainFormat = "{0}.mydomain.com";)

in order to make it work, but I could use some tips and tricks regarding how I should configure the infrastructure itself (IIS, Windows Se

[2020-06-20 03:41] #5497 closed

[2020-06-20 08:21] ismcagdas commented on #5675
Hi,

This might help you https://docs.aspnetzero.com/en/aspnet-core-mvc/latest/Overview-Core#multi-tenancy

[2020-06-20 08:39] ismcagdas commented on #4897
@KevinvdBurg React template was a community contribution and we don't have a React developer. That's why we couldn't work on this issue until now. If there will not be a community help for this, we will try to fix it in 6.0 version.

[2020-06-20 08:42] svlad69 commented on #5675
Ok so basically I should just bind it on the ip.

But how about the localhost? I’ve used the windows/system32/drivers/etc/hosts path, and binded to 127.0.0.1 mydomain.com, but I’m not sure about how should I set the IIS binding in order to simulate it.

Thank you!

[2020-06-20 08:42] ismcagdas commented on #5663
@Brandejs thank you for your report, we will check it.

[2020-06-20 08:49] ismcagdas commented on #5675
For localhost, you can assign a port to your app on IIS (ex: 8080) and when you try to access mydomain.com:8080, it should go to your local app.

For testing subdomains, you must also map several subdomains to 127.0.0.. For example;

tenant1.mydomain.com -> 127.0.0.1
tenant2.mydomain.com -> 127.0.0.1

etc...

Then, you can access tenant1.mydomain.com:8080 and your app should detect tenant1.

[2020-06-20 10:03] #5493 closed

[2020-06-20 10:26] ghost opened #5676 "Deploy angular ui and asp.net core api to azure"
Hello,

I was wondering if you guys have any documentation on how to deploy to azure, i seem to be having trouble deploying the angular app despite a custom build configuration in azure devops. I am also unable to find the swagger index file when i deploy to azure by hitting the same url i would locally except with the azure url

Thanks

Stephen

[2020-06-20 21:17] osalas891123 opened #5677 "(FEATURE) Add settings to use sessionStorage instead of cookieStorage"
abp 4.7 + Angular

The feature request is due to the breaking change of chrome and mozilla with how cookies are handle. Following specification cookies must be destroyed after the agent is disconnected, but browsers right now prefer to track session breaking the standard. For a lot of applications this behavior is not good due to security. The **sessionStorage** behavior meets the requirement, but

[2020-06-21 06:41] mugambiwarwema opened #5678 "angular/nswag/refresh not generating desired code on service-proxxies.ts"
I downloaded a fresh aspnetboilerplate v3 with angular.

I have added some code and these services are available on Swagger UI.

However, when I go to generate the desired angular code from angular/src/nswag and click refresh.bat nothing is generated on my angular app.

Please advise

[2020-06-21 22:33] mugambiwarwema commented on #5678
I was running the code from VSCode on windows 10.

I installed VStudio Community and debugged the solution and nswag was able to generate the desired code.

Might this be an issue/step missing if one runs it from VSCode?

[2020-06-21 22:52] DavidRogersDev commented on #5672
I did not see that issue.
That is a bit odd, as I did search the issues for the text _SqlServerRetryingExecutionStrategy_ before starting this one.
That being the case, I'll close this issue.
Thanks

[2020-06-21 22:52] #5672 closed

[2020-06-22 00:52] #5675 closed

[2020-06-22 01:04] maliming commented on #5678
What information does it output when you run refresh.bat?

I remember that NSwag requires the runtime of net core.

[2020-06-22 01:52] #5528 closed

[2020-06-22 04:51] mugambiwarwema commented on #5678
Nothing, the cmd window just pops open and closes shortly.

No code was generated.

[2020-06-22 05:07] ismcagdas commented on #5678
Could you run the refresh.bat using a cmd window ? In that case, you can see the output message.

[2020-06-22 05:36] ismcagdas commented on #5676
@smooney123 we don't have a document for this. Would you like to deploy angular app and host app separately or to the same domain ?

[2020-06-22 16:54] aadurham commented on #5678
I am having the same problem. I am on NetCore3x, but the .bat file is calling for the NetCore21 dll. Can this be the source of the error? Thanks.

I get the following error:

C:\5.6.0\angular\nswag>"..\node_modules\.bin\nswag" run
NSwag NPM CLI
NSwag command line tool for .NET Core NetCore21, toolchain v13.6.1.0 (NJsonSchema v10.1.21.0 (Newtonsoft.Json v11.0.0.0))
Visit http://NSwag.org for more i

[2020-06-22 21:00] smooney123 commented on #5676
separate domains. Using app service in azure.

[2020-06-23 00:35] maliming commented on #5678
hi @aadurham  Yes, You need install net core 2.1 runtime.

[2020-06-23 02:24] aadurham commented on #5678
thanks @maliming, the same problem keeps going. I have installed net core 2.1, rebooted the pc, turned off the firewall and ran refresh.bat, again exactly the same error message

[2020-06-23 02:28] maliming commented on #5678
@a-merson

Did you run the api project?

In the `service.config.nswag` file. https://localhost:44301/swagger/v1/swagger.json

[2020-06-23 03:44] maliming commented on #5676
Maybe zero's documentation can give you some help.
https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Deployment-Angular-Publish-Azure

[2020-06-23 06:06] aadurham commented on #5678
thanks again @maliming, rebooting the pc and rerunning the web api seemed to do the trick

[2020-06-23 07:09] ismcagdas commented on #5678
@mugambiwarwema can you try the same ?

[2020-06-23 07:37] #5504 closed

[2020-06-23 07:37] #5508 closed

[2020-06-23 11:37] Sam140619 commented on #5640
Hi maliming,
actually i don't try that, but am going to do it and update the thread.
another question if you could help me out on this, am trying to add custom claims on top of the returned claims to the client, i went in too many documentation and figure out that i need to implement IProfileService, and as you know am using Abp, so i couldn't find any documentation / samples related to AbpProfile

[2020-06-23 18:40] muhammadumairaslam commented on #5227
@ryancyq did you managed to merged that changed in released version [v5.9](https://github.com/aspnetboilerplate/aspnetboilerplate/releases/tag/v5.9)?

[2020-06-25 01:51] #5515 closed

[2020-06-25 10:33] lockcd opened #5679 "Upgrade to Angular v10"
https://blog.angular.io/version-10-of-angular-now-available-78960babd41

[2020-06-26 00:50] JosePolanco18 commented on #5664
Excelent!, thank you.

[2020-06-26 00:50] #5664 closed

[2020-06-26 08:25] MakkoyevYevgeniy opened #5680 "Unable to save tenant on DigitalOcean PostgreSQL"
Hello to everyone, i've started to use this software few days ago, and i found a problem related to postgres on Digital Ocean.

I have the same connection string in appsettings, but when i'm trying to add another cloud database as connection string during tenant registration, it gives me a login error (local database works like a charm).
So i was wondering how i might solve this problem. The digit

[2020-06-26 08:38] maliming commented on #5680
hi

Does this `cloud database` have permission to create a database?

[2020-06-28 11:41] #5544 closed

[2020-06-28 21:35] MakkoyevYevgeniy commented on #5680
Actually is an existing database. Does it creates one?

[2020-06-29 00:45] maliming commented on #5680
Can you test if the connection string can be connected without using abp?

[2020-06-29 00:57] maliming commented on #5640
hi

You can try customize user claims in `AbpUserClaimsPrincipalFactory`. eg `user.TenantId`
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c0604b9b1347a3b9581bf97b4cae22db5b6bab1b/src/Abp.ZeroCore/Authorization/AbpUserClaimsPrincipalFactory.cs#L28-L35

[2020-06-29 02:34] JosePolanco18 opened #5681 "Using ApplicationService Layer from another project (How can I resolve dependecy Injection) ?"
I have added another project to my ABP and I need to access to ApplicationService methods, I've created a module for my new project here is the code

    [DependsOn(
        typeof(PrestamosApplicationModule),
        typeof(PrestamosEntityFrameworkCoreModule))]
    public class ReportsApplicationModule : AbpModule
    {

        public ReportsApplicationModule(PrestamosEntityFrameworkCoreModule a

[2020-06-29 03:02] maliming commented on #5681
If you plan to use abp in a web project. Please refer to the configuration code of the template project. `Startup`

[2020-06-29 04:06] JosePolanco18 commented on #5681
How can I do that?

[2020-06-29 05:06] maliming commented on #5681
You can refer to this project. https://github.com/aspnetboilerplate/module-zero-core-template/tree/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host

[2020-06-29 07:10] behiunforgiven opened #5682 "React Startup Template"
Hi dear contributors.
Is there any plan to update or create a new React startup template or we have to wait for its abp.io version?
I already open issues about current template but no one answered. 😐

[2020-06-29 07:33] MakkoyevYevgeniy commented on #5680
I've already tested, and created host with the same connection, but can't create tenant on the other table (I have 2 dbs).

I'm connected on all'dbs in DBeaver, and everything works like a charm.. any clue?

[2020-06-29 13:39] maliming opened #5683 "Create a new unit of work for TransactionScopeOption.Suppress."
https://support.aspnetzero.com/QA/Questions/9182

[2020-06-30 01:21] #5622 closed

[2020-06-30 01:23] maliming commented on #5682
hi

React Startup Template is a contribution from the community. There are currently no plans to update it. 🙂

[2020-06-30 02:38] #5612 closed

[2020-06-30 03:42] abolfazlmohammadiseif opened #5687 "Multilingual for Enums and resource files"
Is there a way to apply multilingual to **Enums** and **Resource Files** (messages to user). what do you suggest?

[2020-06-30 07:25] demirmusa commented on #5652
I think, you had to disable button when you get the first click and start process. It is the safest way. Is https://github.com/aspnetboilerplate/module-zero-core-template/pull/547 all about that?

[2020-06-30 07:30] iyilm4z commented on #5687
@abolfazlmohammadiseif  i reccomend using extension method with description atrribute contains localized key.

[code]

[2020-06-30 07:46] iyilm4z commented on #5652
@demirmusa Even though i disabled the button, i still faced with the same problem. Because modal has fading effect takes like 500ms on closing, if a backend action takes less than 500ms, button will be enabled again but modal still will be shown. We actually could fix this issue by disabling effect of modal but i thought this is not the right solution.

[2020-06-30 09:27] iyilm4z commented on #5687
@abolfazlmohammadiseif helps?

[2020-06-30 09:40] iyilm4z commented on #5687
@abolfazlmohammadiseif dude, if the answer fixes your issue you shouldn't keep it open :)

[2020-06-30 09:42] abolfazlmohammadiseif commented on #5687
Thanks @iyilm4z for the solution.
I should completely check this solution in my case and I will let you know soon.
also I want to get any feedback about **Resource Files** too.

[2020-06-30 09:46] iyilm4z commented on #5687
@abolfazlmohammadiseif alrite. could you please explain more what do you mean by saying "Resource Files (messages to user)"?
A localization resouce file that you use it only for mesagges to user?

[2020-06-30 09:47] abolfazlmohammadiseif commented on #5687
yes exactly

[2020-06-30 10:02] demirmusa commented on #5652
Thanks for the explanation @iyilm4z . I will review your prs in next milestone

[2020-06-30 10:09] iyilm4z commented on #5687
In localization directory of your core module, create a folder named MesaggesToUser and in it create localization resource files named **MesaggesToUser.xml, MesaggesToUser-tr.xml, MesaggesToUser-ir.xml**. Then use **LocalizationSourceExtensionInfo** to extend your existing localization source like below in your core module's PreInitialize lifecyle method.
[code]

[2020-06-30 10:21] bxjg1987 opened #5690 "Dynamic webapi cannot be generated when registering generic application services"
my version abp 5.9

I have such a generic application service：
`public class BXJGShopFrontItemAppService<TDataDictionary> : AbpServiceBase, IBXJGShopFrontItemAppService`

Because it is generic, I manually register it in the module of the application layer:
[code]

But in this way, ABP can't generate dynamic webapi. Is it because I made a step error? Or does ABP's dynamic webapi not support this ap

[2020-06-30 10:26] abolfazlmohammadiseif commented on #5687
Thank you very much @iyilm4z  teşekkür ederim

[2020-06-30 10:26] #5687 closed

[2020-06-30 10:31] iyilm4z commented on #5687
@abolfazlmohammadiseif your welcome. khodahafez ;)

[2020-06-30 10:53] maliming commented on #5690
Does asp net core support the use of generic controllers?
How to confirm which generic controller should be used in http request?

[2020-06-30 10:58] bxjg1987 commented on #5690
**BXJGShopFrontItemAppService<GeneralTreeEntity>** is an explicit type. It is the implementation of **IBXJGShopFrontItemAppService** and has been registered in the IOC container

[2020-06-30 12:53] #5683 closed

[2020-06-30 13:50] abolfazlmohammadiseif opened #5691 "authorized WebApi works with all tenantIds + Token"
I get a token from **Authenticate** Api with specific **TenantId** but when I send a request (using provided **Token**) to another Api on which AbpAuthorize Attribute exists, no matter what is the **TenantId** of the second request, when I send it, the Api always responds successfully. even if I change the **tenantId** the WebApi does not ban or return Null. It successfully returns the data of the

[2020-06-30 14:22] maliming commented on #5690
How to confirm which generic controller should be used in http request?

If only `BXJGShopFrontItemAppService<GeneralTreeEntity>` is not necessary to use generics.

[2020-06-30 14:29] maliming commented on #5691
See https://aspnetboilerplate.com/Pages/Documents/Multi-Tenancy#determining-current-tenant

[2020-06-30 15:04] Sam140619 commented on #5640
Hi maliming,

i already tried this, but unfortunately when i checked the claims on client side, its removed.
i add the same code above and below the result in the client side

![claims](https://user-images.githubusercontent.com/66274358/86142664-6be75a80-bac1-11ea-8f8c-6c3cad1b5bd5.JPG)

[2020-06-30 15:30] bxjg1987 commented on #5690
Module a refers to module B. some types of module B need to be provided by module a. There are a lot of similar scenarios in my module, so we need to define a large number of application service classes with little significance in module a, and their purpose is only to provide generic types. It feels cumbersome, but it's not a big problem.

So does ABP not support generic application service imple

[2020-06-30 15:44] #5464 closed

[2020-06-30 15:44] #5525 closed

[2020-06-30 18:46] mugambiwarwema opened #5692 "Deployed angular/react web-app won't change tenants on login page"
I have downloaded a fresh template and pushed it to production.

I have multi tenancy enabled but whenever I go to change the tenant, the login page refreshes(complete callback) and tenant is not changed.

Due to the callback I cannot see the result of console.log.

I have seen some threads on this but nothing stands out to why this is happening.

I have cleared my browser's cookies and cache and

[2020-06-30 23:16] ferventcoder opened #5693 "Colombia Time Zone appears to be missing?"
### GitHub Issues

We use Asp.NET Zero, which uses ABP. It appears that when attempting to set the timezone to Colombia Time, that one is missing. It doesn't have a DST, where the closest one being Mexico would change clocks for daylight savings time.

I didn't see it in the mappings at https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Timing/Timezone/Mapping/WindowsZones.xml

[2020-06-30 23:18] ferventcoder commented on #5693
More info - https://www.timeanddate.com/time/zone/colombia

[2020-07-01 05:00] abolfazlmohammadiseif commented on #5691
according to the link Claim name **http://www.aspnetboilerplate.com/identity/claims/tenantId** exists in my claims list and contains my tenantId.
The problem is that when they provide this token they can view other tenant's data.

[2020-07-01 06:07] ismcagdas opened #5694 "Upgrade IdentityServer4 to 4.x"

[2020-07-01 06:20] maliming commented on #5692
If you use nginx as a reverse proxy server, please note that if **TenantIdResolveKey**  contains an underscore or other special characters, there may be a problem, please refer to: http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers http://nginx.org/en/docs/http/ngx_http_core_module.html#underscores_in_headers

By default, ASP.NET Boilerplate uses "**Abp.TenantId**" to f

[2020-07-01 07:28] mugambiwarwema commented on #5692
@maliming

Now it's starting to make sense as I have come across another thread on SO that explains this.

Yes, I am serving the app via nginx as the reverse proxy.

Allow me to request you be explicit because I am not sure how to implement your solution.

Where do I add/change this line from the server side

`Configuration.MultiTenancy.TenantIdResolveKey = "Abp-TenantId";`

Also, where in the ang

[2020-07-01 09:27] mugambiwarwema commented on #5692
@maliming

I have updated my nginx script by adding

`ignore_invalid_headers off;`

to the server block now it seems to be OK.

[2020-07-01 09:27] #5692 closed

[2020-07-01 10:35] #5682 closed

[2020-07-01 10:49] cwsheng opened #5695 "High execution time of AppService method"
The execution time of AppService method(GetRptParametersByRptId) is only 1ms, but the logging time is more than 100ms

ABP Version: 5.5 .Net Core

**Log：**
2020-07-01 18:41:43,882 INFO  Request starting HTTP/1.1 GET http://localhost:21023/api/services/app/RptRun/GetRptParametersByRptId?rptId=7093e1fe-8fbd-4856-8d35-42e71303a410
2020-07-01 18:41:43,929 INFO  Executing endpoint 'RptS.RptRunApplicati

[2020-07-01 11:16] ismcagdas opened #5696 "Reverted #5688"
via https://github.com/aspnetboilerplate/aspnetboilerplate/commit/7e0640c340cf6e87b334a922d31c321f162f55e6

[2020-07-01 11:17] #5696 closed

[2020-07-01 12:11] maliming commented on #5695
* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

Because the execution time is related to your computer and database. Please provide more information.

[2020-07-01 13:47] ferventcoder commented on #5693
Actually ignore this - we found Bogota. Closing. Mark as invalid please.

[2020-07-01 13:47] #5693 closed

[2020-07-01 15:12] zsanhong opened #5697 "why summernote not show in edit modal?"
I want to use summernote in abp, so I download summernote and include in the  views/Shared/Layout/_Scripts.cshtml
like this:
` <script src="~/libs/summernote/dist/summernote.js"></script>`
and I  change the code of views/Roles /_CreateModal.cshtml like this:

` @* <textarea id="role-description" name="Description" class="form-control"></textarea>*@
    <textarea id="summernote" name="Description">

[2020-07-01 15:13] cwsheng commented on #5695
1. APB package Version is 5.5.0
2. base framework：.Net Core.

The logic of the method is to get the result from the cache. When the method is executed in parallel, the time displayed in the log is more than 100ms

2020-07-01 18:59:12,057 INFO  Request starting HTTP/1.1 GET http://localhost:21023/api/services/app/RptRun/GetRptParametersByRptId?rptId=7093e1fe-8fbd-4856-8d35-42e71303a410
2020-07-01 1

[2020-07-02 02:53] zsanhong commented on #5697
any one can help?

[2020-07-02 06:15] ismcagdas commented on #5697
@zsanhong try to move your summernote code here https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Mvc/wwwroot/view-resources/Views/Roles/_EditModal.js#L45

[2020-07-02 07:17] #5495 closed

[2020-07-02 07:19] ismcagdas commented on #5695
@cwsheng what happens when you disable logging for this method ?

[2020-07-02 07:49] ismcagdas commented on #5691
@abolfazlmohammadiseif could you share reladed AppService and related entity definitions ?

[2020-07-02 08:24] zsanhong commented on #5697
thank you,I kown the reason,because I use the same summernote id in _CreateModal.cshtml and _EditModal.cshtml as the Description property of role,so they conflict eachother,I change the _EditModal.cshtml part of code like this:
`
@* <textarea id="role-description" name="Description" class="form-control"></textarea>*@ <textarea id="summernote1" name="Description"></textarea>
and in the _EditModel.j

[2020-07-02 08:25] #5697 closed

[2020-07-02 08:36] demirmusa opened #5698 "Update and release free templates"
* Upgrade ABP packages
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnet-core-template
- [x] aspnetboilerplate-templates

* Release templates
- [x] module-zero-core-template
- [x] module-zero-template
- [x] aspnet-core-template
- [x] aspnetboilerplate-templates

[2020-07-02 10:01] jeffrey987 opened #5699 "How to change user table ID data type to Guid"
I now need to change the user ID to Guid and the role ID to Guid to facilitate data migration

[2020-07-02 10:11] #5620 closed

[2020-07-02 10:25] ismcagdas commented on #5699
@jeffrey987 it will require lots of work, you can check previous discussions;

https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4721
https://github.com/aspnetboilerplate/aspnetboilerplate/pull/979

[2020-07-02 10:36] #5314 closed

[2020-07-02 13:01] yanielbf commented on #5639
@maliming Hi, Iam trying to do this ( https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Extending-Existing-Entities-Core-Angular) but not working. This error is throw: Invalid column name 'Discriminator'. Help me please. Greetings

[2020-07-02 13:20] #5698 closed

[2020-07-03 01:35] maliming commented on #5639
hi yanielbf

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

[2020-07-03 02:30] cwsheng commented on #5695
Invalid mask log record.

Configuration.Auditing.IsEnabled = false;

[2020-07-03 04:15] maliming commented on #5695
Please share a project.

[2020-07-03 08:32] osalas891123 commented on #5677
@maliming , @ismcagdas is this issue planned soon?

[2020-07-03 08:41] maliming commented on #5677
I will finish it as soon as possible.

[2020-07-03 22:18] #5534 closed

[2020-07-04 01:30] ryancyq commented on #5690
@bxjg1987 Abp will not recognize abstract/generic application service as controller

see https://github.com/aspnetboilerplate/aspnetboilerplate/blob/b9326bc79d08998a6148032a9302d11959464191/src/Abp.AspNetCore/AspNetCore/Mvc/Providers/AbpAppServiceControllerFeatureProvider.cs#L29-L30

[2020-07-04 09:46] hzicong opened #5700 "in abp 5.4.0, i upgrade Pomelo.EntityFrameworkCore.MySql from 2.2.0 to 3.1.0 , string comparison methods are case-sensitive by default"
Is there a way to turn it off?

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/996

[2020-07-04 10:00] #5542 closed

[2020-07-04 10:41] bxjg1987 commented on #5690
@ryancyq  I see. Thank you very much!

[2020-07-04 10:41] #5690 closed

[2020-07-04 12:12] maliming commented on #5700
This seems to have nothing to do with aspnetboilerplate.

[2020-07-06 08:55] ismcagdas commented on #5680
@MakkoyevYevgeniy could you check App_Data/Logs/Logs.txt file and share the error message with us ?

[2020-07-06 10:55] demirmusa commented on #4089
We will reevaluate that after .net 5 update.

[2020-07-06 15:06] sajasbana commented on #5194
@demirmusa
I download new template from the site and issue still there
![image](https://user-images.githubusercontent.com/34976854/86608346-11636800-bfb3-11ea-9ed3-1fa20fadc3cc.png)

i updated these files like below
![image](https://user-images.githubusercontent.com/34976854/86608053-b6317580-bfb2-11ea-848b-3e47614c8344.png)
![image](https://user-images.githubusercontent.com/34976854/86608144-d530

[2020-07-07 00:56] maliming opened #5701 "localization not work when disable one of languages"
@demirmusa
I download new template from the site and issue still there
![image](https://user-images.githubusercontent.com/34976854/86608346-11636800-bfb3-11ea-9ed3-1fa20fadc3cc.png)

i updated these files like below
![image](https://user-images.githubusercontent.com/34976854/86608053-b6317580-bfb2-11ea-848b-3e47614c8344.png)
![image](https://user-images.githubusercontent.com/34976854/86608144-d530

[2020-07-07 00:56] maliming commented on #5194
hi @sajasbana https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5701

[2020-07-07 09:19] #5691 closed

[2020-07-08 00:51] #5558 closed

[2020-07-09 08:10] #5695 closed

[2020-07-09 08:57] tanghaojie opened #5702 "AbpSession with custom login info"
I use .net core 3.x multi page web application, exclude login, register....template
so i custom login method, using asp.net core cookie.
[code]
i can get userid like this in controllers : ` var userid = HttpContext.User.Claims.FirstOrDefault((Func<Claim, bool>)((Claim c) => c.Type == AbpClaimTypes.UserId));`
but i have lots of dynamic webapi methods in application layer,  it has no HttpContext. I

[2020-07-09 09:44] #5700 closed

[2020-07-09 14:30] maliming commented on #5702
Duplicate of #5123

[2020-07-09 14:30] #5702 closed

[2020-07-09 15:07] #4789 closed

[2020-07-09 18:05] mugambiwarwema commented on #5050
Incase someone has this issue, Resting Password, please pass the tenant name like

[code]

[2020-07-10 12:47] inancakcan opened #5703 "asp.net core template issue"
the given snippet given below is from _scripts.cshtml located in
.....\5.7.0\aspnet-core\src\TSE.Kalibrasyon.Web.Mvc\Views\Shared\Layout

`    @*abp scripts start*@
    <script src="~/libs/block-ui/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/libs/spin/spin.js" asp-append-version="true"></script>
    <script src="~/libs-ext/spin/jquery.spin.js" asp-append-version="true

[2020-07-11 01:02] maliming commented on #5703
Duplicate of #5488

[2020-07-11 01:02] #5703 closed

[2020-07-11 12:48] deepakkumarbarik opened #5704 "An error occurred while starting the application"
test

[2020-07-11 12:48] #5704 closed

[2020-07-11 16:41] sajasbana opened #5705 "Is it possible to add IHasActivityTime"
Dears,
is it possible to this feature:
- IHasActivityTime (to save last activity time)
- IActivityAudited (to save last activity user id)
it is similar to IHasCreationTime and IHasModificationTime idea
but the difference is in IHasActivityTime it will put last activity time (first time is creation time and next times are modification time)

this will be helpful if some tables needs only to know la

[2020-07-11 19:43] ismcagdas commented on #5705
@sajasbana I think you can easily achieve it by adding a computed field to your entity.

[2020-07-11 21:54] vdurante opened #5706 "AntiforgeryValidationException after upgrading angular"
After upgrading module-zero-core-template to angular 9 and publishing the application to Azure, it seems that the antiforgery token is not working properly. It does send some kind an antiforgery token, but they are not the ones ABP expects.

The tokens sent with the request: `.AspNetCore.Antiforgery.w5W7x28NAIs` and `XSRF-TOKEN`. Apparently, from the error message, it expects `X-XSRF-TOKEN`. Could

[2020-07-12 07:55] tanghaojie opened #5707 "Interceptor not support .net core?"
I want use Interceptor for log before all application services.
from [Creating Interceptors Tutorials](https://aspnetboilerplate.com/Pages/Documents/Articles/Aspect-Oriented-Programming-using-Interceptors/index.html) , customed an interceptor.

![image](https://user-images.githubusercontent.com/14171892/87241675-0f3c5600-c458-11ea-916d-2070a18e6ec3.png)

debug shows that Constructor Breakpoint be

[2020-07-12 08:00] tanghaojie commented on #5707
each project has some code and structure:
![image](https://user-images.githubusercontent.com/14171892/87241734-9c7faa80-c458-11ea-9897-0b4844400cd6.png)

[2020-07-12 08:35] sajasbana commented on #5705
Dear @ismcagdas
can i achieve this without adding columns for create and modify audit?

[2020-07-12 12:52] maliming commented on #5707
Please share your full code.

[2020-07-12 18:51] deepakkumarbarik opened #5708 "Cors error"
### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version. **core 2.1 with angular 7**
* Your base framework: .Net Framework or .Net Core.- .**Net Core**.
* Exception message and stack trace if available..
**Access to XMLHttpRequest at 'http://loc

[2020-07-12 18:53] deepakkumarbarik commented on #5708
![image](https://user-images.githubusercontent.com/3807461/87254267-08850180-c49f-11ea-968d-2f13b96b35f2.png)
 I have configured in the file still the above error is throwing.

[2020-07-12 23:24] #5574 closed

[2020-07-13 00:14] maliming commented on #5708
Why the origin is **http://http://127.0.0.1:8080**? can you check this?

[2020-07-13 01:56] tanghaojie commented on #5707
`MeasureDurationInterceptor` and `MeasureDurationInterceptorRegistrar` code is same as [Creating Interceptors Tutorials](https://aspnetboilerplate.com/Pages/Documents/Articles/Aspect-Oriented-Programming-using-Interceptors/index.html), register at ApplicationModule PreInitialize method.
ITestAppService
[code]
TestAppService
[code]
use postman request `http://localhost:62114/api/services/app/Test/q

[2020-07-13 02:16] maliming commented on #5707
[code]

[2020-07-13 02:16] #5707 closed

[2020-07-13 02:37] deepakkumarbarik commented on #5708
Hi,
Thanks for your quick reply. This is the default ip address hosted in local IIS server. Also I tried with different network with below IP address facing same issue.
http://192.168.0.104:8080. Please help me how to solve this issue.

Best Regards,
Deepak

[2020-07-13 02:52] sevenNightL opened #5709 "Custom Repositories error report"
### Documentation

https://aspnetboilerplate.com/Pages/Documents/EntityFramework-Integration#custom-repositories

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version:4.8
* Your base framework: Net Core:2.2
* Exception message and stack trace

[2020-07-13 03:03] maliming commented on #5708
Are there any error messages in the application's logs?

[2020-07-13 03:08] ryancyq commented on #5709
@sevenNightL the issue it pretty clear stated in the error message.

Please do not use `IRepository` with `AutoRepositoryTypes` attribute

[2020-07-13 03:16] sevenNightL commented on #5709
@ryancyq
But document tells mo to do this. What shall i do?
![image](https://user-images.githubusercontent.com/27542146/87267455-5418c900-c4fa-11ea-9363-4499ed531e89.png)

[2020-07-13 03:41] sevenNightL commented on #5709
@ryancyq  Now error report has changed. like as
![image](https://user-images.githubusercontent.com/27542146/87268670-95f73e80-c4fd-11ea-865d-009a8e737dbe.png)

[2020-07-13 05:59] ryancyq commented on #5709
@sevenNightL can you post a full error stack trace instead of screenshots

[2020-07-13 06:10] sevenNightL commented on #5709
@ryancyq
![image](https://user-images.githubusercontent.com/27542146/87276184-643ca280-c512-11ea-9363-59ee234232fa.png)
![image](https://user-images.githubusercontent.com/27542146/87276221-7ae2f980-c512-11ea-83bc-f0cbb7f7b5c1.png)
![image](https://user-images.githubusercontent.com/27542146/87276258-8d5d3300-c512-11ea-9d9f-2555a3ca62fe.png)
![image](https://user-images.githubusercontent.com/2754214

[2020-07-13 06:30] sevenNightL commented on #5709
@ryancyq
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\lin\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
Application startup exception: Castle.MicroKernel.ComponentActivator.ComponentActivatorException: ComponentActivator: could not instantiate Acme.EntityFrameworkC

[2020-07-13 06:36] ismcagdas commented on #5705
@sajasbana yes, you can add a property as below to your Entity;

 `public DateTime? ActivityTime => LastModificationTime ?? CreationTime;`

And don't map it in your EF configuration.

[2020-07-13 06:36] ryancyq commented on #5709
@sevenNightL please provide a sample project from `https://aspnetboilerplate.com/Templates` with the issue mentioned above.

[2020-07-13 06:41] ryancyq commented on #5706
https://angular.io/api/common/http/HttpClientXsrfModule#withOptions

@vdurante can you double check these in the network request?

[2020-07-13 06:46] sevenNightL commented on #5709
@ryancyq
[4.8.0.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/4911014/4.8.0.zip)

[2020-07-13 08:20] sevenNightL commented on #5709
@ryancyq  Did you find the problem

[2020-07-13 08:49] demirmusa commented on #5701
I could not reproduce the problem.
@sajasbana, Can you please share steps to reproduce the problem or share a project which have same problem?

[2020-07-13 08:50] demirmusa commented on #5701
I could not reproduce the problem.
@sajasbana, Can you please share the steps to reproduce the problem or a project which have same problem?

[2020-07-13 10:15] hzicong opened #5711 "why Dynamic webapi takes a lot of time?"
* Abp package version：4.8.1.
* .Net Core 2.2.

It takes only 15.9595ms to get the data, but the whole method takes 345.9956ms

my code:

        public virtual async Task<AjaxResponse<PaymentRecordDto>> GetPaymentRecordByPaymentNo(string paymentNo)
        {
            var sw = new Stopwatch();
            sw.Start();

            var paymentRecord = await _repository.GetAll().AsNoTracking().Firs

[2020-07-13 12:19] maliming commented on #5711
Have you tried disabling audit logs?

[2020-07-13 13:42] vdurante commented on #5706
@ryancyq thank you for the response.

I had upgraded it by pasting the updated project on top of my own and using `git diff` to select the code that made sense.

I ran some further tests here and noticed that for some reason XSRF-TOKEN was being set automatically on the application. Attempting direct calls to the API using Swagger (that means no cookies) and it worked properly. Everything was real

[2020-07-13 18:16] deepakkumarbarik commented on #5708
ok I got the below log message. Please help on it.

FATAL 2020-07-13 23:19:24,004 [1    ] Abp.AbpBootstrapper                      - System.Data.SqlClient.SqlException (0x80131904): Login failed for user
 'BLR\deepaksystem$'.
   at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, SqlCredential credential, Object provider

[2020-07-14 00:25] maliming commented on #5708
'BLR\deepaksystem$'.

There is a problem with the connection string, you need to check it.

[2020-07-14 01:02] hzicong commented on #5711
yes, i disabled audit log.
I change my code, I didn't return a dto, I just returned an entity, which also consumed time

[2020-07-14 01:38] maliming commented on #5711
Can you provide a project(template project)?

[2020-07-14 02:22] hzicong commented on #5711
Is it true that the more services of DI, the slower it will be

[2020-07-14 02:23] maliming commented on #5709
Your `AcmeRepositoryBase` class is **abstract**

![image](https://user-images.githubusercontent.com/6908465/87373276-f9e03c80-c5bb-11ea-8ece-b880e90f40dd.png)

[2020-07-14 03:02] sevenNightL commented on #5709
@maliming still not
![image](https://user-images.githubusercontent.com/27542146/87378869-745f8b00-c5c1-11ea-85c3-6091216e9d5a.png)

[2020-07-14 06:00] abolfazlmohammadiseif opened #5712 "Cannot access a disposed object DbContext in multiple startup projects"
I downloaded a project from template (angular core 3.X). then added a **Console** project above **Application & EFCore layers**  then modified the **Program.cs** class as follow:

[code]
Now I have to startup projects (web.host & Console) an **IHotelService** inherits **ISingletonDependency** or even can be **ITransientDependency**. But when I try to run this
`_mappedHotelRepository.GetAll().Count

[2020-07-14 06:07] ryancyq commented on #5711
Could be related https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5604

[2020-07-14 06:26] sajasbana commented on #5701
@demirmusa i wrote steps in the post you just need to modify the 2 classes in seed DefaultLanguagesCreator.cs and DefaultSettingsCreator.cs as same as in the post images

I downloaded new project again and test it and issue still there, I shared with you the project so you can see the changes and run to see the issue
https://drive.google.com/drive/folders/1E_RzIvWpzfO32f4TfpZafmb4kX9kmceU?usp=shar

[2020-07-14 07:06] hzicong commented on #5711
It should be this problem. Is there any way to solve it

[2020-07-14 07:22] maliming commented on #5712
Please check the official documentation before asking questions: https://aspnetboilerplate.com/Pages/Documents
https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#irepository-getall-method

[2020-07-14 07:22] #5712 closed

[2020-07-14 07:47] abolfazlmohammadiseif commented on #5712
@maliming Please read the question before **Closing** it!!
This question is not about GetAll() or any other lambda expression!  this is about **disposing DBContext**. If you don't know the answer just leave it open! Thanks

[2020-07-14 08:00] maliming commented on #5712
**I have read it.**

https://aspnetboilerplate.com/Pages/Documents/Unit-Of-Work#irepository-getall-method

[2020-07-14 08:03] abolfazlmohammadiseif commented on #5712
If I change GetAll to any other Query, I get the same Error. It is not about GetAll or Tolist() or IQueryable or IEnumerable,  .... IT's about closing DBContext and why this happens.

[2020-07-14 08:10] maliming commented on #5712
Try open an unit of work please.
[code]

[2020-07-14 08:59] maliming commented on #5709
![image](https://user-images.githubusercontent.com/6908465/87406552-6cb8da00-c5f3-11ea-8817-308381b0c1f4.png)

[2020-07-14 09:11] dangminhbk opened #5713 "Blacklist access token."
Since logout action in aspboilerplate simple delete this token frome clientsite, but we want to completely logout user from app ( access token will not be valid anymore)

[2020-07-14 09:21] maliming commented on #5713
hi

I think you can implement it yourself, there are many ways.  As you mentioned the blacklist.

[2020-07-14 09:25] dangminhbk commented on #5713
Ok, thank you. Do Aspboilerplate ( or ABP Framework) have plan to implement it in future ?

[2020-07-14 13:47] deepakkumarbarik commented on #5708
Thanks for your reply , I need some help from you here , Please can help me some below point. The above error is throwing only in deployment mode not in development mode.
![image](https://user-images.githubusercontent.com/3807461/87433150-9b8c7b80-c606-11ea-96ef-16099ce0dfb2.png)

[2020-07-14 16:30] sajasbana commented on #5705
Dear @ismcagdas
Great, I appreciate you help

[2020-07-14 16:31] deepakkumarbarik commented on #5708
I am totally helpless. please help me here if you can. I am sharing code here.
[TestDemo.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/4919992/TestDemo.zip)

[2020-07-14 18:18] naazz1992 commented on #5604
Did you have the time to reproduce it? Any ETA for release 6.0?

[2020-07-14 21:25] DamienLaw commented on #4877
It's actually kinda easy to reproduce this issue. First define entities that have the potential of creating a reference loop. For example.

[code]
The entities above have reference to one another therefore a self-referencing loop is possible.
Run migration for the above entities and the following SQL query
[code]

Mirror the DTOs like their Entities counterpart
[code]

Now create an AppService for

[2020-07-15 00:21] maliming commented on #4877
Don't depend on each other in DTO class.

[2020-07-15 00:30] maliming commented on #5708
hi @deepakkumarbarik
Are you deploying in IIS?
`Server=localhost; Database=TestDemoDb; Trusted_Connection=True;` may not be used in IIS, you can try to specify the `username `and `password`.

https://stackoverflow.com/questions/20723623/application-cannot-open-sql-connection-when-on-iis

[2020-07-15 00:31] #5705 closed

[2020-07-15 00:34] maliming commented on #5713
hi

There are currently no plans.

[2020-07-15 00:34] #5713 closed

[2020-07-15 01:37] deepakkumarbarik commented on #5708
Hi, Thanks you very very much. Have a good day. You make my day. God bless you. Once again thanks

[2020-07-15 01:37] #5708 closed

[2020-07-15 16:20] recruitans commented on #5632
How ? any sample ?

[2020-07-16 06:00] abolfazlmohammadiseif commented on #5712
Thanks it helped. But I was wondering why this error happens and fix it, if possible.

[2020-07-16 07:03] sevenNightL commented on #5709
@maliming  It's also changed here .still not

[2020-07-16 20:59] chadsmith12 opened #5714 "Can't Configure JsonSerializerSettings for Api Responses"
**Abp Version**:  5.8.0
**Base Framework**:  .NET Core
**Issue**:
In my API Responses from my controllers I sometimes have Dates being returned that I would expect to be in UTC time. I noticed though that in the JSON Responses that I was not seeing any time zone information being included at the end of the string. this of course causes issues on clients. Going through the [Newtonsoft.Json document

[2020-07-16 21:06] chadsmith12 commented on #5714
To also say: I could explicitly set the the `DateTimeKind` to be `DateTimeKind.Utc` on the `DateTime` and the Z would be included. Though this is still not exactly what I want, as I should be able to configure this setting and have the Z included without explicitly setting the kind.

[2020-07-17 04:04] maliming commented on #5714
ABP will use **AbpDateTimeConverter** for datetime. You can use **DisableDateTimeNormalizationAttribute** to disable it.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/211be9f47acd41cbebbf3f9e2d473953f2b7172a/src/Abp.AspNetCore/Json/AbpMvcContractResolver.cs#L39-L83

[2020-07-17 09:25] armandpostma opened #5715 "Repository.Load appears to retrieve entity from database"
According to the documentation the Repository.Load method simply creates a proxy object and does not make a trip to the database to fetch the actual object, unless you access properties other than the ID field (lazy-loading). However, whenever I use the Load method, the EF Core logging clearly shows a SELECT query being performed on the database, even when I don’t touch the object properties at al

[2020-07-17 09:36] maliming commented on #5715
I think you can override the **Load** method.

[2020-07-17 09:51] armandpostma commented on #5715
Oops, you're right I somehow read over that part of the documentation. Apologies.

[2020-07-17 09:51] #5715 closed

[2020-07-17 11:28] #5576 closed

[2020-07-18 08:44] staterium commented on #3221
Are there any plans to address this issue? I investigated implementing my own IEfCoreTransactionStrategy that uses EnableRetryOnFailure, as per [this](https://devblogs.microsoft.com/cesardelatorre/using-resilient-entity-framework-core-sql-connections-and-transactions-retries-with-exponential-backoff/) Microsoft article.

The problem is that the way to achieve connection resilience in EF Core is to

[2020-07-18 12:08] #5590 closed

[2020-07-20 01:50] maliming commented on #5632
@recruitans

[2020-07-20 07:30] zen-mind opened #5716 "ASPNET Boiler Plate not working in Internet Explorer 11"
I am using abp(version 5.7.0) framework with ASP.NET core 3.1 along with angular 9. The site is working fine all other browsers except IE 11. I have did the configurations for the angular to support IE 11 as per the below link

https://stackoverflow.com/questions/56379067/how-do-i-support-internet-explorer-in-an-angular-8-application

But after those configuration getting error as "abp  is not def