[2017-06-06 01:40] hikalkan commented on #2161
Hi,

Actually, we don't want to wrap AutoMapper by custom attributes. Maybe we should want that from automapper :)

[2017-06-06 01:47] hikalkan opened #2192 "Upgrade to Dapper v1.50."
It supports .netstandard 1.3.

[2017-06-06 01:47] hikalkan commented on #2186
@osoykan is your PR for EF Core or .net core? I suppose @josuedallagnese mention about .net core.
As I see, Dapper now supports .net core with v1.50. (https://www.nuget.org/packages/Dapper/1.50.0).
So, we can upgrade Abp.Dapper package to Dapper v1.50 to take advantage of .net core.
I can do it after merging #2188. Created an issue: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/219

[2017-06-06 06:26] osoykan commented on #2186
@hikalkan  The PR is on EF Core but we can change the Dapper reference to 1.5 to take advantage of .net core,  this would be good thanks :)

[2017-06-06 06:32] hikalkan commented on #2186
I can do it. But if you like, you can update nuget package and change target framework of Abp.Dapper project (example: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AutoMapper/Abp.AutoMapper.csproj#L6)

[2017-06-06 07:01] sebitsi commented on #2190
Hi, if it is not possible to Access swashbuckle configuration from module config, is it possible opposite ?

I mean, ABP framework is initialized first in startup configure method. Right ?

Is it possible to Access abp configuration inside  startup configure method after abp has been initialized ?

My goal is to split big swagger document do separate documents based on module names (CreateControll

[2017-06-06 10:21] osoykan commented on #2186
Sure, i will.

[2017-06-06 10:24] hikalkan commented on #2190
Yes, possible. in Startup's Configure, after UseAbp, you can do that:

[code]

[2017-06-06 10:33] iyhammad opened #2193 "Loosing AbpSession across multiple threads"
Abp Version: 2.0.2
Hi,
I'm facing an issue while calling Application Service from my web application report.
The application service functions is decorated by **AbpAuthorize** attribute for authorization.
The report is resolving the Application Service using dependency injection and using its Interface.
Whenever the **AbpAuthorize** attribute is exist, the I got unauthorized exception. ~If I remov

[2017-06-06 10:42] remeWdm opened #2194 "Castle.Core-log4net ，please"
#hello，I use abp framework develop winform ，version 1.5.1

- static void Main()
        {
            using (var bootstrapper = AbpBootstrapper.Create<AppWinFormsModule>())
            {
                bootstrapper.IocManager.IocContainer.AddFacility<LoggingFacility>(f => f.UseLog4Net().WithConfig("log4net.config"));
                bootstrapper.Initialize();
                Application.EnableVis

[2017-06-06 10:47] josuedallagnese commented on #2186
@hikalkan and @osoykan thanks for your answers!

I had migrated the Abp.Dapper to the .net core support, but making changes to work together with EF Core.
Dapper.Extensions had a direct reference to .net 4.6, so it replaces it with Dapper.Extensions.DotNetCore (Dapper.Extensions and Dapper.Extensions.DotNetCore are from the same repository:
https://github.com/tmsmith/Dapper -Extensions).
I hope I

[2017-06-06 11:02] jamesatgithub opened #2195 "message in NegotiagedContentResult"
Abp 2.0.2

a Web api with custom 400 error message like below:

[code]

but the content body is always "Bad Request" instead of the custom message, is there any global setting ignoring the custom message?

[2017-06-06 14:52] vdurante commented on #2176
I tried to send you an email through gmail and outlook and it blocked due to security reasons. Here it is.

https://1drv.ms/u/s!Aon_lf2n7StXge0hAhS1j36miMdRLQ

[Core.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1055393/Core.zip)

[2017-06-06 16:53] osoykan commented on #2186
Thank you for inspring us, @josuedallagnese.

Abp.Dapper now supports .net core with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2188/commits/455f8735b3256795dcce5e9ee3a5c068a53d08f0

[2017-06-06 16:56] hikalkan commented on #2195
Can you try to add [DontWrapResult] attrbiute to your Test method.

[2017-06-06 16:57] hikalkan commented on #2186
Thank you @osoykan I'm very happy for your contribution.

[2017-06-06 16:57] hikalkan opened #2196 "Document Dapper usage"

[2017-06-06 18:38] iyhammad commented on #2193
I'm trying to debug and trace the issue.
What I did

- Enable Only Cookie Authentication and Disable JwtBearer Authentication.
- I put a lot of breakpoints and I observed that, at some point while jumping from a thread to another the Session is lost and come back.

[2017-06-06 19:10] hikalkan commented on #2193
You are doing it right. AbpAuthorize on the app service method works when you inject app service by interface (as method interception used).

Is that AspNet Core or MVC 5.x? Angularjs or Angular 4?
If it's MVC 5.x + Angularjs, default startup template use cookie based auth. So, enabling/disabling JwtBearer Authentication should not have an effect.

Do you have a chance to reproduce it in a simplif

[2017-06-06 19:24] hikalkan commented on #2194
Use Abp.Castle.Log4Net package (https://www.aspnetboilerplate.com/Pages/Documents/Logging#abpcastlelog4net-package)

Add Abp.Castle.Log4Net package and use ``UseAbpLog4Net()`` extension method instead of ``UseLog4Net()``

[2017-06-06 19:25] gabrielrobert commented on #2141
I cannot reproduce my problem. Using `ObjectResult`, everything looks good as we speak.

[2017-06-06 19:25] #2141 closed

[2017-06-06 19:27] hikalkan commented on #2141
OK, thank you for the feedback.

[2017-06-06 19:31] iyhammad commented on #2193
I think It's not really a bug in ABP.
I'm using Telerik Reports they have this issue
http://www.telerik.com/support/kb/reporting/details/httpcontext.current.user-is-not-available-in-the-data-retrieval-method-executed-by-an-objectdatasource-component
http://www.telerik.com/forums/dataobject-can%27t-get-httpcontext
Do you think I can overcome this using ABP ?
My Solution is ASPNET Core over .NET Fra

[2017-06-06 19:48] hikalkan commented on #2193
I was suspecting that. Because AbpSession uses claims/principal from HttpContext (here: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Runtime/Session/AspNetCorePrincipalAccessor.cs#L9).

So, if it can not get HttpContext, it can not get UserId.

If it's for a few methods in your codebase, you can make like that:

1. Add a property to your app service

[2017-06-06 20:00] iyhammad commented on #2193
The Problem is the solution is Multi-Tenancy and ABP infrastructure depends on the session to determine the current Tenant and get the data correctly.
I need to have a mechanism to determine/override the session with correct data.

[2017-06-06 23:58] remeWdm commented on #2194
thank you very much

[2017-06-06 23:58] #2194 closed

[2017-06-07 01:48] alirizaadiyahsi commented on #2176
@vdurante, I run your project and it works as expected.

### non translated (to other than Portuguese)

![image](https://user-images.githubusercontent.com/4375000/26858756-dcfdf0c4-4b3b-11e7-9296-516db80240b3.png)

### translated (to Portuguese)

![image](https://user-images.githubusercontent.com/4375000/26858775-f7ebf2a0-4b3b-11e7-81e8-5ec8740d13cd.png)

Do you get any error, when you run the pro

[2017-06-07 02:50] hikalkan commented on #2193
Overriding session is easy. Just implement IAbpSession and replace default one with your own implementation.

But notice that AbpSession is actually not using any "asp.net session" system. It gets from HttpContext.User's claim (which gets from auth cookie) which is a standard way of authentication also in ASP.NET.

[2017-06-07 03:18] jamesatgithub commented on #2195
@hikalkan this doesn't work, same result with adding the attribute on the method or disable it in module's like
`Configuration.Modules.AbpWebApi().DefaultWrapResultAttribute.WrapOnError = false;`

[2017-06-07 04:42] jamesatgithub commented on #2195
@hikalkan this has nothing to do with abp, it is the httpErrors in web.config. My web.config has some custom errors for mvc which also affects http error on api. Just found this thread and it works now
https://stackoverflow.com/questions/18858925/is-it-possible-to-use-custom-error-pages-with-mvc-site-but-not-web-api

[2017-06-07 04:42] #2195 closed

[2017-06-07 07:10] xiaoyc commented on #2153
@hikalkan

Thanks .  if i use IsGranted method ,i have to check the permission and draw a message to UI  **in every method**, there will be a lot of duplicate code , so  is it possible i override the AbpMvcAuthorizeFilter HandleUnauthorizedRequest method  ? or i saw it will trigger an event at last (_eventBus.Trigger) , how can i register this event ?

ABP Code :
[code]

[2017-06-07 08:53] hikalkan commented on #2192
closed with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2188

[2017-06-07 08:53] #2192 closed

[2017-06-07 08:54] hikalkan commented on #2186
closed with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2188

[2017-06-07 08:54] #2186 closed

[2017-06-07 09:07] xiaoyc opened #2197 "where can i get the matching symbols for local debugging?"
Hi

where can i get the (matching) ABP symbols for local debugging?

Thanks .

[2017-06-07 09:08] hikalkan commented on #2153
Hi,

You can derive from AbpMvcAuthorizeFilter and override needed methods.  Then in your module's PostInitialize method, remove AbpMvcAuthorizeFilter from GlobalFilters.Filters and add yours.

[2017-06-07 09:17] hikalkan commented on #2197
We deploy to symbolsource, but it's not working correctly. Added Sourcelink integration for the next version: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2133

[2017-06-07 09:17] #2197 closed

[2017-06-07 09:35] xiaoyc commented on #2153
@hikalkan

Yes, i did it as you said , but i have a  question .  it seems it didn't go into the AuthorizationFilter.OnAuthorization method when authorization (AuthorizationFilter.OnAuthorization can work , because other request can go into ) , it directly throw the below exception, so which method need i override ? :).

HTTP Error 403.0 - Required permissions are not granted. At least one of these

[2017-06-07 09:59] tamys opened #2198 "[FeatureRequest] Provide a way to reload navigation Provider during runtime"
Lets say we have a navigation provider that reads menu from a data source (xml or db).
As it is loaded during preinitialize method of WebModule it cannot be changed during rurntime (Please confirm)

Therefore, a way to reload the navigation provider will refetch updated menu from data source.

Is there already a way to achieve that? or can be a feature request?

[2017-06-07 12:25] vdurante commented on #2176
No. It simply won't translate. I will record a video and show you step by
step.

On Jun 6, 2017 10:48 PM, "alirizaadiyahsi" <notifications@github.com> wrote:

[2017-06-07 13:17] sebitsi commented on #2190
Yes of course.

Thanks for help.

Edvin

[2017-06-07 13:17] #2190 closed

[2017-06-07 14:51] hikalkan commented on #2198
You're true. Current design assumes menu as static and not changeable after application startup. This can be a feature request.
BTW, if you store menu in the database, you can directly build menu from database instead of using ABP's menu system because it has no advantage in this point.

[2017-06-07 15:00] vdurante commented on #2176
I decided to make a video explaining the situation, but it worked in the
video. For some reason it is not working on my main project. I gotta figure
it out.

Thanks for the attention!

On Wed, Jun 7, 2017 at 9:25 AM, Vitor Durante <vitcoppidu@gmail.com> wrote:

[2017-06-07 15:05] hikalkan commented on #2153
It's done here: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Mvc/Web/Mvc/Authorization/AbpMvcAuthorizeFilter.cs#L48
So, overriding OnAuthorization method should work normally.
Are you sure that you removed AbpMvcAuthorizeFilter from the GlobalFilters.Filters? If not, it will work before your code and throw ex.

[2017-06-07 15:19] tamys commented on #2198
Yes that suggestion is also valid, however while is everything in place and tested alongside​ with permission support to hide menus, and now with the addition of isActive method it should be easier for someone to use it (including myself 😁) that way.

[2017-06-07 16:00] hikalkan opened #2199 "Abp.Web.MultiTenancy.DomainTenantResolveContributor should clean DomainFormat before check"

[2017-06-07 16:01] #2199 closed

[2017-06-08 01:51] hikalkan opened #2200 "Update appveyor.yml file to include new unit tests."

[2017-06-08 02:09] hikalkan opened #2201 "Abp.Dapper test failing on appveyor"
Abp.Dapper.Tests.DapperRepository_Tests.Dapper_Repository_Tests [FAIL]
      System.Data.SqlClient.SqlException : Failed to update database "C:\PROJECTS\ASPNETBOILERPLATE\TEST\ABP.DAPPER.TESTS\DB\ABPDAPPERTEST.MDF" because the database is read-only.
      Stack Trace:
           at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInActi

[2017-06-08 02:29] #2200 closed

[2017-06-08 03:02] #2185 closed

[2017-06-08 06:10] hikalkan opened #2202 "Split EnsureLoadedAsync to EnsurePropertyLoadedAsync and EnsureCollectionLoadedAsync"
Otherwise, collections are considered as property and wrong extension method is working!

Workaround:

Instead of calling

[code]

call like

[code]

[2017-06-08 06:33] #2187 closed

[2017-06-08 06:59] #2202 closed

[2017-06-08 08:43] debin168 opened #2203 "please include angular universal and preboot in the next version"
please ,please,please,the seo is very  important for my site , it will decide grwothing or die

[2017-06-08 09:20] jaq316 commented on #1351
Is there a way to override this for a specific method on a controller?

[2017-06-08 10:05] maliming commented on #2125
generic types implement the TransientDependency(SingletonDependency) will not be registered by default?

[2017-06-08 10:07] hikalkan commented on #2125
Yes, they are not being registered already. But there are some rare cases it cause the problem, so I filtered them. It will not effect your application.

[2017-06-08 10:09] maliming commented on #2125
after the upgrade, I found that all generic types need to be registered manually.

[2017-06-08 10:10] hikalkan commented on #2125
More info: Think a class like that:

[code]

If we register this by convention, you will get a runtime exception that says **T** is not known. I just fixed this problem. It does not break any existing working code. If not, can you share a sample?

[2017-06-08 10:17] hikalkan commented on #1351
There is no way of that, but you can create an issue/PR if you like.

[2017-06-08 10:17] maliming commented on #2125
[code]

[2017-06-08 10:17] hikalkan commented on #2203
So, why not implementing it yourself :)

[2017-06-08 10:20] hikalkan commented on #2125
This was already not working before. You need to register it manually like that:

[code]

[2017-06-08 10:24] maliming commented on #2125
Upgrade 2.1 before do not need to manually register, and now I manually registered resolved.

[2017-06-08 10:25] sebitsi commented on #2203
@debin168 You mean ASPNETZERO angular template. Right ?

@hikalkan  If so, this mean that we cannot have dependices like jQuery. Pure Angular. Right ?

[2017-06-08 11:14] osoykan commented on #2201
I think, we can change entire Dapper tests to sqlite to get rid of flaky tests.

[2017-06-08 14:50] hikalkan commented on #2203
I understood this request is for free templates (since this repository for not aspnetzero).

I don't know if it's like that.

[2017-06-08 15:07] hikalkan commented on #2125
I haven't known that Castle register open generic classes. I think this type of classes will be a few and you can handle it manually. If not, you can create a conventional registrar for them. Example:

[code]

Then add this to conventional registrars in PreInitialize method of your module:

[code]

[2017-06-08 15:50] nikko1337 commented on #2170
@tamys, how did you solve the problem? Can you share code?

[2017-06-08 19:38] tamys commented on #2170
It is based #2015, but I changed it to cover my needs:
In your AsyncCrudAppService you should inject the child repository:

[code]
And then override the MapToEntity Method:

        protected async override void MapToEntity(PageDto updateInput, Page entity)
        {
            base.MapToEntity(updateInput, entity);

            entity.Translations = new List<PageLocalized>();

            foreac

[2017-06-08 23:05] maliming commented on #2125
thank you very much. I got it.

[2017-06-09 02:53] maliming opened #2204 "Very strange Newtonsoft.Json error"
Abp v2.1.1
Newtonsoft.Json 10.0.0.0

**It is very easy to reproduce the error**
[code]

[2017-06-09 03:04] maliming commented on #2204
Abp 2.0.2 Newtonsoft.Json 10.0.0.0 version does not have this problem.
So I think it should be caused by the new version of abp

[2017-06-09 04:08] hikalkan opened #2205 "Revert #2180 - Do not override Equals of EntityDto, throws Newtonsoft.Json.JsonSerializationException"
First of all, it's implemented in the wrong way.. It does not check if two objects are instances of the same type. It also does not consider multitenancy.

When we serialize DTOs derived from EntityDto, we get such an exception:

Newtonsoft.Json.JsonSerializationException : Self referencing loop detected for property 'Value' with type 'Abp.Tests.Json.EntityDtoSerialization_Tests+MyClass2'. Path ''

[2017-06-09 04:12] #2205 closed

[2017-06-09 04:13] hikalkan commented on #2204
Related to wrong overriding Equals method in EntityDto. Resolved with https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2205

[2017-06-09 04:13] #2204 closed

[2017-06-09 05:25] maliming commented on #2178
#2204 #2205
we can use some third-party linq extensions to solve the problem of filtering duplicate data. :sweat_smile:
like [MoreLINQ DistinctBy](https://github.com/morelinq/MoreLINQ/blob/8fbb540fd140b6d0008120c37abd00e129203cc6/MoreLinq/DistinctBy.cs#L65)

[2017-06-09 05:56] debin168 commented on #2203
i try it so much time ,but it  alwasy not work.  my english is  poor ,  i can't read those document very fine ,even i read them all, i still can't understood that mean's what  by some detail.

[2017-06-09 13:58] xiaoyc commented on #2153
@hikalkan

Thanks , i use the below the code to remove abp filter , but it seems does not work ,after executed,the filter was still there . is there something wrong with the code ? :)

[code]

[2017-06-09 17:11] hikalkan commented on #2153
Try this:

[code]

[2017-06-09 17:53] vdurante commented on #2176
I am sorry I reopened the issue. Is there any way to clean the cache or debug the javascript proxy? The translations stopped working in javascript now and I am trying to understand what happened. Thanks!

[2017-06-09 18:19] vitorlacerda opened #2206 "It is possible to extend PlugIn Module to support Embbeded Views/Controllers/Css like ExtCore?"
ABP has a plugin module to dynamically load assemblies and support to embedded files.
It is possible to extend PlugIn Module to support Embedded Views/Controllers/Css like ExtCore?
Thanks

[2017-06-10 07:02] hikalkan commented on #2176
Hi,

Are you using angular4 + asp.net core or just asp.net core mvc template?

[2017-06-10 07:19] hikalkan commented on #2206
Hi,

It also supports embedded view/js/css/img... etc. modular-todo-app does that: https://github.com/aspnetboilerplate/modular-todo-app/blob/master/src/todo-module/TodoModule.Web/TodoWebModule.cs#L17

[2017-06-10 09:01] iyhammad commented on #2193
I've used the dependency Injection to inject the necessary information to the report and used the scoped  override session technique to recover the important session information (TenantId, UserId) inside the report.

[2017-06-10 09:01] #2193 closed

[2017-06-11 02:45] zerocoll04 commented on #2076
Hi hikalkan,

I have the issue yet, I download a new project from aspboilerplate.com and the issue not disapear.
Can you help me?

[2017-06-11 07:50] hikalkan commented on #2076
Are you getting the same exception? Are you using .net core or .net framework?

[2017-06-11 08:11] #2169 closed

[2017-06-12 00:14] abou-emish opened #2207 "No component for supporting the service IRecurringJobManager<IHashtagCacheManager> found"
Upgrade from version 1.4.2 to version 2.1.2
exception message:
[code]
Stack trace
[code]
i resolve in application module PostInitialize()
[code]
**IRecurringJobManager** is in different Module "different solution" and **IHashtagCacheManager** in application module it self.

It was working fine till i upgraded to version 2.1.2

[2017-06-12 01:43] hikalkan commented on #2207
I suppose it can be related to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2125
Can you try the solution https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2125#issuecomment-307132637

[2017-06-12 02:50] jackchn opened #2208 "Use NotificationPublisher.Publish but accept fail"
current version: abp 1.2.1.0 ,module zero

because of using the mvc5 controller as api ,  I  do NotificationPublisher.Publish when user is not logined :
` _notificationPublisher.Publish(
                notificationName
                , new MessageNotificationData(message)
                , new EntityIdentifier(type, id)
                , NotificationSeverity.Info
                , new UserIdenti

[2017-06-12 02:55] xiaoyc commented on #2153
@hikalkan  Thanks very much ! it works.

[2017-06-12 02:55] #2153 closed

[2017-06-12 04:27] hikalkan commented on #961
implemented: https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

[2017-06-12 04:27] #961 closed

[2017-06-12 04:58] hikalkan commented on #2125
See this test to understand why I removed conventional open generic registration:

[code]

As you see ``HasComponent(typeof(IMyService))`` returns true but it can not resolve the component because generic argument is unknown. This behaviour causes problems in some cases.

[2017-06-12 04:59] hikalkan commented on #2207
I suggest you to manually register it: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2125#issuecomment-307062544

[2017-06-12 05:45] hikalkan commented on #2174
Documented: https://aspnetboilerplate.com/Pages/Documents/Entities#iextendableobject-interface

[2017-06-12 08:46] hikalkan commented on #2208
That's expected behaviour. If your is not logged in, we can not know what is user's id, so can not deliver the notification real time.

[2017-06-12 09:19] Sdzeng commented on #2116
thx!

[2017-06-12 09:20] #2116 closed

[2017-06-12 12:11] halido opened #2209 "Abp.Dapper .net Framework has dependency to DapperExtensions.DotnetCore"
DapperExtensions.DotnetCore   Has dependency to NETStandard.Library  So, .Net framwork 4.6 targeted project trying to install NetStandart Libraries

[2017-06-12 13:08] jaq316 commented on #1351
See PR #2210

[2017-06-12 15:47] hikalkan commented on #1351
Thank you for the PR.

[2017-06-12 16:19] abou-emish commented on #2207
Yes, registering it manually solved the problem.
Thanks

[2017-06-12 16:19] #2207 closed

[2017-06-12 16:49] josuedallagnese opened #2211 "EntityFrameworkCore UnitOfWork Parallel_Queryng_Tests"
Hi @hikalkan!
I believe you have identified a defect in the latest version (2.1.2).
The Abp.EntityFrameworkCore.TestsParallel_Querying_Tests unit test does not pass a few times on my fork tests.
When I change the ActiveDbContexts property of the Abp.EntityFrameworkCore.Uow.EfCoreUnitOfWork class to use ConcurrentDictionary I no longer get the problem with multithreading.

I could not reproduce the

[2017-06-12 18:54] vdurante commented on #2176
asp.net core MVC template. I've been working with angular4 without problems

[2017-06-12 20:48] herbertmilhomme commented on #744
I've reset the solution and reset my database, but the seeding values aren't being inserted into the database tables. (The tables are created, but not the preset values). When i manually import the table values, the site works. But it's not supposed to work that way, i dont want to keep copying and pasting database-to-database sql import queries.

Can you help me? Can we re-open this? Or do i need

[2017-06-13 00:30] natiki opened #2212 "Method not found: 'Abp.Domain.Uow.UnitOfWorkAttribute Abp.Domain.Uow.UnitOfWorkAttribute.GetUnitOfWorkAttributeOrNull()"
Hi Halil,

- ABP 2.1.2 (Just upgraded from 2.0.2)
- Am getting the above error. I can find no evidence of the class UnitOfWorkDefaultOptionsExtensions.cs
![image](https://user-images.githubusercontent.com/4738140/27060857-29241bcc-5023-11e7-89e3-0a88011cbec6.png)
- Have verified that I have Abp.EntutyFramework 2.1.2 and Abp.EntutyFramework.Common 2.1.2 referenced.

What have I missed?

[2017-06-13 03:05] hikalkan commented on #2212
Can you share stacktrace. You probably missed to upgrade some packages. Ensure that you have upgraded all Abp.* packages.

[2017-06-13 03:09] hikalkan commented on #744
Seed code is executed by Entity Framework (assuming that you are using EF 6.x).
It's better to move this to https://github.com/aspnetzero/aspnet-zero and provide a bit more detail. For instance, as I see you have added an AutomaticMigration, what is it?

[2017-06-13 03:14] hikalkan commented on #2211
Actually, I also had this problem a few times and could not understand the reason. Each thread must use it's own unit of work. So, every UOW is single-thread and being regular dictionary should not be a problem. If this is a problem that means threads somehow sharing same UOW objects which is a bigger problem.
Will work on that when I've time. Thank you.

[2017-06-13 03:23] hikalkan opened #2213 "Make AbpActionResultWrapperFactory non static and injectable, so it can be replaceable"

[2017-06-13 03:46] parallelbgls opened #2214 "How to combine abp authorization to openidconnect"
Codes are here.

[code]

OpenId Connect to Identity Server 4 has been succeeded, but AbpAuthorization doesn't recognize it.

Logs are here

[code]

[2017-06-13 04:28] hikalkan commented on #2214
Try this after your ``JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();`` line:

[code]

[2017-06-13 04:47] natiki opened #2215 "Reload plugin modules after application start up...."
Hi Halil,

Our plan here is to have an MVC application that is running all the time. We want to add some functionality to the application via the APB plugin module system without re-starting the application. Is this possible?

The documentation only talks about at Application_Start()

(The functionality being added in this case would be additional RabbitMQ message subscribers))

[2017-06-13 05:27] hikalkan commented on #2215
If you are asking for loading a new module after application started, there is not such a system. But you can always load a dll to your application using .net's reflection mechanism.

[2017-06-13 05:45] natiki commented on #2212
Hi Halil,

I went through every single ABP reference and did find one that was old (and it did not show up in packages for solution). Once I upgraded that, all was well.

Apologies for the noise. I will know for next time.

[2017-06-13 05:45] #2212 closed

[2017-06-13 06:00] parallelbgls commented on #2214
Sorry, it doesn't work. Acturally, no claims are passed into User.Identity

[2017-06-13 06:15] natiki commented on #2215
I actually want to register the DLL with the ABP plugin system. Is there anything special that has to be done?

[2017-06-13 06:53] hikalkan commented on #2214
ABP gets claims from HttpContext.User's principals. Can you check what claims there are (names of the claims). ABP checks standard ``http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier`` claim.

[2017-06-13 08:11] parallelbgls commented on #2214
There are no claims is HttpContext.User.
But when I decrypt bearer token using jwt.io, everything appears.

[2017-06-13 08:24] parallelbgls commented on #2214
I lock the problem, cause after I aquire the bearer token, this program has no way to signin. Can you explain where is signin endpoint by example.

[2017-06-13 08:58] watoo opened #2216 "Method not found: 'System.String Abp.Runtime.Security.SimpleStringCipher.Decrypt(System.String, System.String, Byte[])'"
I have created new project and when I turn off multitenancy (set         public const bool MultiTenancyEnabled = false;)
and when I run project I get error:

**Stack trace:**
`[MissingMethodException: Method not found: 'System.String Abp.Runtime.Security.SimpleStringCipher.Decrypt(System.String, System.String, Byte[])'.]
   Abp.MultiTenancy.TenantCache`2.CreateTenantCacheItem(TTenant tenant) +0

[2017-06-13 09:06] parallelbgls commented on #2214
Problem changed.
Bearer was not authenticated. Failure message: IDX10501: Signature validation failed. Unable to match 'kid'

[2017-06-13 09:57] hikalkan commented on #2214
Hi,

I didn't understand if you are just making your app an openid connect client or you want to make your app as an identity server?

We documented soon for identity server integration: https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server

Working with identity/auth stuff is a bit problematic. I had also many problems while working on IdentityServer4. The latest error you got is not

[2017-06-13 10:36] parallelbgls commented on #2214
Hi, my apolygize. First of all useidentityserver will throw the same exception, by the way I think this is a capibility problem cause all of the solutions posted are not worked here. I will pause this project in a short time and use source codes to debug with that. Thanks for the help.

[2017-06-13 10:38] rob-weiss commented on #2095
I get the exact same errors as @proganywei. Any idea how to fix this?

[2017-06-13 10:39] osoykan commented on #2209
Strange... I suppose, we need to seperate _DapperExtensions_  packages per TargetFramework ?

[2017-06-13 10:56] watoo commented on #2216
It does not allow me to set version while downloading so I don't know the version of my project. (I downloaded it today!)

[2017-06-13 15:03] #2165 closed

[2017-06-13 15:28] hikalkan commented on #2216
Are you using .net framework 4.6.1 or .net core 1.1?

[2017-06-13 15:46] arnbunchen opened #2217 "A large number of transaction timeout while writing"
my code:
[UnitOfWork(false)]
 public void CreateDataType(DataType entity)
 {
         _dataTypeRepository.Insert(entity);
 }
void Main(){
var data = List<DataType>();
//Article 100000 the data collection
data.ForEach(n=>{
       CreateDataType(n) ;  // System.TimeoutException: Transaction timeout
  });
}

Please include your Abp version, exception message and stack trace in bug/problem reports.
Sy

[2017-06-13 15:58] watoo commented on #2216
I'm using . net Framework 4.6.1

[2017-06-13 16:32] hikalkan commented on #2216
Let us test this. Thank you.

[2017-06-13 17:04] abou-emish opened #2218 "Can not find 'MainMenu' in localization source 'Abp'!"
Abp 2.1.2

I see hundreds of logged exceptions after upgrading to v 2.1.2

Logger: Abp.Localization.Dictionaries.DictionaryBasedLocalizationSource
Message: Can not find 'MainMenu' in localization source 'Abp'!

[2017-06-13 17:06] abou-emish commented on #2218
Found unlocalized key in my Navigation provider, but it wasn't visible before upgrade

[2017-06-13 21:51] jhoiby commented on #2216
I'm using ASP.NET MVC 5.x, Multi Page Web Application and getting the same error. I downloaded it a fresh template a month ago and another one today and get the same issue. I'm doing a vanilla install:
1. Unzip project
2. Create database
3. Set startup project
4. Run update-database
5. Launch project
6. Log in, go to tenants list
7. New tenant, fill form, click on save button
8. Server error.

I'm

[2017-06-14 00:46] arnbunchen commented on #2218
xxx.Core\Localization\Source\ xxxx.xml add 'MainMenu'
 Corresponds to your language environment

[2017-06-14 01:10] natiki opened #2219 "Broke all our test cases: Abp.AbpException : Did not call Complete method of a unit of work....."
Hi Halil,

- ABP 2.1.2

We have been running ABP in our unit tests as follows for a long time now, but this behavior started happening as soon as we upgraded from 2.0 to 2.1.2. And unfortunately rolling back is not an option at the moment so I am looking for a fix or work around ASAP.

We use NUnit for all our unit testing and have our test fixtures structured as follows:

[code]
You can pretty mu

[2017-06-14 02:07] maliming commented on #2217
is your Main function internally already Unit Of Work?

[2017-06-14 03:51] scheshan opened #2221 "How to integrate with ASP.NET Core logging services?"
I'm new to ABP framework and I use ABP 2.1.2 on ASP.NET Core 1.1 . I found that there are two logging services. One is Castle.Core.Logging.ILogger used in ABP and another one is Microsoft.Extensions.Logging.ILogger used in ASP.NET Core. And Castle logger cannot capture log messages in Microsoft logger.

Is there any way to integrate them together?

[2017-06-14 04:00] My-Account-ir opened #2222 "Bad Request - 400 Empty or invalid anti forgery header token"
Hi

I want call a action with URL from another domain and post a Form Data.

![capture](https://user-images.githubusercontent.com/21397787/27114785-4dd8dd00-50db-11e7-87a9-4014112d8149.JPG)

Attribute [DisableAbpAntiForgeryTokenValidation] don't work in this example and I don't want disable :

`Configuration.Modules.AbpWeb().AntiForgery.IsEnabled = false;`

and I don't want enable:

`        priva

[2017-06-14 06:54] alirizaadiyahsi commented on #2216
Hi,

We fixed this issue in ABP after v2.0.2. Check this: #2076

**Solution:** If you upgrade ABP version, it will be fixed.

**NOTE:** You may get some breaking changes after upgrade. If you can't fix, you can ask. And also, after upgrade, some db changes may occur. Before run project, run `add-migration migration_name` and `update-database` on Package Manager Console.

[2017-06-14 06:54] #2216 closed

[2017-06-14 06:55] eightHundreds opened #2223 "Task<IReadOnlyList<ISettingValue>> GetAllSettingValuesForUserAsync(UserIdentifier user) can not get the default value, this is a bug?"
Please include your Abp version, exception message and stack trace in bug/problem reports.
Abp 1.3.1
This method calls GetReadOnlyUserSettings(try to get the value from ISettingStore ),and then return result.

[2017-06-14 08:00] watoo commented on #2216
I was unable to turn off multi tenancy so I commented tenant field. Now when I register I get error:
https://ibb.co/b5KuJQ

**Stack Trace:**
`[MissingMethodException: Method not found: 'System.String Abp.Runtime.Security.SimpleStringCipher.Decrypt(System.String, System.String, Byte[])'.]
   Abp.MultiTenancy.TenantCache`2.CreateTenantCacheItem(TTenant tenant) +0
   Castle.Proxies.TenantCache`2Proxy

[2017-06-14 08:00] jhoiby commented on #2216
Core\packages.config shows references to Abp version 2.0.2 and Abp.Zero version 2.0.1.

I downloaded the template yesterday and did a virgin install. Are you saying there is a new version posted since yesterday? Or how else do you recommend I get a newer version?

Thank you!

James

From: alirizaadiyahsi [mailto:notifications@github.com]
Sent: Tuesday, June 13, 2017 11:54 PM
To: aspnetboilerplate/

[2017-06-14 08:48] watoo commented on #2216
Thank you for pointing out. I just run `Install-Package Abp` to upgrade ABP version but still I'm getting same error:

Then I run `Install-Package Abp.Zero`, Now it gives error: https://ibb.co/icObXk

 These are the packages versions:
`<packages>
  <package id="Abp" version="2.0.2" targetFramework="net461" />
  <package id="Abp.Zero" version="2.0.1" targetFramework="net461" />
  <package id="Abp.Z

[2017-06-14 09:08] alirizaadiyahsi commented on #2216
@jhoiby, we don't update ABP versions of templates after every change. ABP packages and templates developing, seperately. So you can sometimes have to update it manualy.

@watoo, update all ABP.* packages with using UI (check all abp.* packages):

![image](https://user-images.githubusercontent.com/4375000/27124241-1ce8f3ce-50f9-11e7-99c2-16ea33285095.png)

PermissionChecker class is changed in new

[2017-06-14 09:37] watoo commented on #2216
Thank you, I making above mentioned changes I got this error

So I run `add-migration migration_name` and I got error:  `Unable to generate an explicit migration because the following explicit migrations are pending: [201701271145151_AbpZero_Initial]. Apply the pending explicit migrations before attempting to generate a new explicit migration.`

then I run `update-Database` and I got error: `There

[2017-06-14 09:42] alirizaadiyahsi commented on #2216
If it is possible, remove database and then run `update-database`.

[2017-06-14 09:47] watoo commented on #2216
thanks, it worked

[2017-06-14 10:07] alirizaadiyahsi commented on #2216
Glad, it works.

[2017-06-14 20:06] osoykan commented on #2209
pr is opened #2224

[2017-06-14 23:40] arnbunchen commented on #2217
@malimingThanks for your reply,  I found the answer to the question,I method is A method call the B, B method to disable the transaction, but A way to disable the transaction, as A method of execution time is too long, the final step in the database transaction timeout.
---
I disable A method of transaction, open the B method of transaction, it is good
---
我是A方法调用了B方法，B方法禁用事务了，但是A方法没禁用事务,由于A方法执行时间

[2017-06-14 23:40] #2217 closed

[2017-06-15 01:52] ebicoglu commented on #2222
I would do it like this;

- From other website (let's say Payment Website) > Login to my aspnetboilerplate website programmatically.
- Get the valid AntiForgeryToken.
- Use the token in the http post methods.
- As soon as it's timeout, refresh it by logging again.

[2017-06-15 02:15] ebicoglu commented on #2218
Let's say you are using Ukrainian translation.

Just add the line below
[code]
to the file
[code]

[2017-06-15 02:19] fengyeju commented on #2223
看下EntityFramework.DynamicFilters版本是不是1.4.x，Abp 1.3.1要用1.4.x的EntityFramework.DynamicFilters

[2017-06-15 04:49] hikalkan commented on #2223
It's by design. See summary: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Configuration/ISettingManager.cs#L121

[2017-06-15 04:49] #2223 closed

[2017-06-15 04:53] hikalkan commented on #2215
Module system registers module class to DI, then resolves it and executes PreInitialize, Initialize and PostInitialize methods. You can do it manually. Thus, module can register it's dependencies and make it's configurations.

[2017-06-15 05:02] hikalkan commented on #2212
Visual Studio's nuget package upgrading is very bad, I'm manually changing package versions in cshtml files then a few times restrarting VS and running ``dotnet restore`` command to make it working.

[2017-06-15 05:26] natiki commented on #2212
This was VS2015

[2017-06-15 05:28] natiki commented on #2215
I will do it that way, but could I make a feature request and ask for a facility to allow this kind of thing to be done via an ABP method call? Easiest would be to load any newly discovered plugins from a folder or similair.

[2017-06-15 05:29] hikalkan commented on #2219
Can you share your stacktrace, it will help me understanding it. Also, are you using EF Core or EF 6.x?

BTW, please try to add ``IsTransactional = true`` to UnitOfWorkOptions on Begin method.

[2017-06-15 05:32] hikalkan commented on #2215
You can create a future request, sure. But such lazy loading plugins may cause another problems with some cases. For instance, such lazy loaded module can not add a setting provider or navigation provider since they are collected on ABP PostInitialize. So, to make this working as just other modules may require significiant design changes. That's why I don't want to officially add it, then people w

[2017-06-15 05:39] hikalkan commented on #2221
They are already integrated. You can use any of them. We are using Castle.Core.Logging.ILogger normally (because we were using it before MS release it's logger), but you can choose the one you like.

[2017-06-15 05:50] martingagne opened #2225 "The latest version of the Free Template (Material Design) does not render properly in Edge."
The latest version of the Free Template (Material Design) does not render properly in Edge.

![image](https://user-images.githubusercontent.com/17655088/27167082-c8653b0e-5153-11e7-8e2c-ef1048cd510c.png)

[2017-06-15 05:52] My-Account-ir commented on #2222
@ebicoglu

Request is sent by the bank. So, the login is not a good idea as impractical.
Bank can not send me a valid token.

This page has been sent

![capture](https://user-images.githubusercontent.com/21397787/27167109-50459e1e-51b4-11e7-873c-9d1c701db34d.JPG)

[2017-06-15 05:58] hikalkan commented on #2225
Thank you for reporting this. We will work on that, I suppose it's some CSS issue. Moved to https://github.com/aspnetboilerplate/module-zero-core-template/issues/63

[2017-06-15 05:58] #2225 closed

[2017-06-15 05:58] natiki commented on #2219
- EF 6.x
- I am trying to get a stack trace, but that is all I am getting back from the unit tests atm. I am wondering if it is because of an earlier exception that may be causing this - I will keeping digging
- What is the purpose of IsTransactional? (I am not in front of a machine so I can look at the source atm)

[2017-06-15 06:06] #2209 closed

[2017-06-15 06:16] pantonis opened #2226 "Abp4.1 error when running npm start"
Please include your Abp version, exception message and stack trace in bug/problem reports.
Abp 4.1 Asp,net core with angular 2

Hi I downloaded the src run npm install then npm start and I get following error
[code]

There are more errors like this

[2017-06-15 06:17] hikalkan commented on #2218
Hi,

It works for me:

![image](https://user-images.githubusercontent.com/1210527/27167809-54378a72-51ab-11e7-8a8e-c76b9cfb5bb4.png)

Can you try to get it from LocalizationManager like that to see what it returns. If it returns [Main menu] that means localization manager can not find it (and thus logs warning).

[2017-06-15 06:19] hikalkan commented on #2226
can you try ``yarn``?

[2017-06-15 06:21] pantonis commented on #2226
No experience with yarn. Can you give me instructions ?

[2017-06-15 06:23] hikalkan commented on #2226
https://yarnpkg.com/lang/en/docs/install/

After installation, just run ``yarn`` in the angular folder.

[2017-06-15 06:23] pantonis commented on #2226
noooo dont want to install more things on my pc. :)
Is there any way to get this fixed with npm?

[2017-06-15 06:27] hikalkan commented on #2226
I don't know other solution, npm install should work normally (works for me), but I can not know why it doesn't work.

[2017-06-15 06:29] hikalkan commented on #2222
Does ``Configuration.Modules.AbpWeb().AntiForgery.IsEnabled = false;`` solves your problem? I just want to understand it.

[2017-06-15 06:30] hikalkan commented on #2219
To be sure that UOW is transactional.

add try-catch arround ``_UnitOfWork.Dispose();`` and debug to see if this line throws exception. You can also may get stacktrace in that way.

[2017-06-15 06:31] pantonis commented on #2226
These are the packages that are not installed

[code]

[2017-06-15 06:40] ismcagdas commented on #2226
@pantonis, Can you try to remove npm-shrinkwrap.json, remove node_modules folder and run "npm install" again ?

Probably those dependencies are not in npm-shrinkwrap.json.

[2017-06-15 07:02] My-Account-ir commented on #2222
Hi @hikalkan
Yes, but security comes down. I'm looking for a solution for just one Controller or Action.
Details were given in the first comment.

thank you

[2017-06-15 07:14] hikalkan commented on #2222
OK, I will check if why DisableAbpAntiForgeryTokenValidation not working.

[2017-06-15 07:19] hikalkan opened #2227 "Upgrade Castle.Windsor.MsDependencyInjection to v2.0.1."

[2017-06-15 07:31] #2227 closed

[2017-06-15 07:37] pantonis commented on #2226
@ismcagdas You were right. The above errors are gone but now I get these
[code]

[2017-06-15 07:44] ismcagdas commented on #2226
Can you add below lines to typings.d.ts ?

[code]

[2017-06-15 07:58] hikalkan commented on #2222
Is that asp.net mvc 5.x project or asp.net core?

[2017-06-15 08:03] My-Account-ir commented on #2222
I'm using ASP.NET MVC 5.x MPA and ABP 1.4.2.0. (first comment)

[2017-06-15 08:03] hikalkan commented on #2222
BTW, this will work if you call the method from a non-browser client (from a mobile app, from a 3rd-party app or from postman for instance). Did you try it?

[2017-06-15 08:05] hikalkan opened #2228 "Upgrade nuget packages."

[2017-06-15 08:06] #2228 closed

[2017-06-15 08:12] My-Account-ir commented on #2222
No I use from web pages in browsers, a page that sends information to the bank and the bank sends a result of paying customers to the website.

[2017-06-15 08:36] hikalkan commented on #2222
I could not repeat the problem. Before DisableAbpAntiForgeryTokenValidation:

![image](https://user-images.githubusercontent.com/1210527/27172642-a1e5a4e4-51be-11e7-8a3b-6c196c19d011.png)

After DisableAbpAntiForgeryTokenValidation:

![image](https://user-images.githubusercontent.com/1210527/27172658-aeca1da2-51be-11e7-8f59-26ec2d00b0f7.png)

But I'm using the latest version. I'm not sure if there

[2017-06-15 09:01] abou-emish commented on #2218
it returns [Main menu]
![bug](https://user-images.githubusercontent.com/6557160/27173726-56239ff8-51c2-11e7-92b7-bca9fd154c20.JPG)

[2017-06-15 09:03] My-Account-ir commented on #2222
thank you @hikalkan
I'm trying to follow other part of the problem, if not fix the problem, update to the latest version ABP.

[2017-06-15 09:07] hikalkan commented on #2218
OK, then it simply doesn't work for your case. This text (MainMenu) is defined in Abp package (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Localization/Sources/AbpXmlSource/Abp.xml#L19).
Probably the problem is your default language is not english and this text is not defined in your current language and not defined in the default language. You can check it for your def

[2017-06-15 09:27] #2222 closed

[2017-06-15 10:04] andmattia commented on #2177
@hikalkan it works fine. Thanks for your clarification

[2017-06-15 10:04] #2177 closed

[2017-06-15 10:07] abou-emish commented on #2218
yes my default language is Arabic and it wasn't localized, i created a pull request [2229](https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2229)

[2017-06-15 10:07] andmattia opened #2230 "Multi plugin dependency"
I develop 2 plugin is it possibile to check if a plugin is available (on preintialize for example) Or I need to reference my second plugin to first to be sure that all plugin needed are availble during application work?

mat

[2017-06-15 10:10] abou-emish commented on #2218
Thanks @arnbunchen @ebicoglu

[2017-06-15 11:02] natiki commented on #2215
Yeah that is always the problem ;-)

I still kinda see this as a valid feature request - however happy for you to close this one and put it on the pile of "things to include" if a redesign happens.

As a general thing I would say that if a redesign happens that one of the objectives should be that things can change over the lifetime of the application etc. For instance my other request to dynamica

[2017-06-15 12:56] scheshan commented on #2221
@hikalkan Thanks for your answer. My question is that when I use Castle.Core.Logging.ILogger, the log messages in Microsoft.Extensions.Logging.ILogger(it's used by many services in ASP.NET Core MVC) are saved in other places.

As the code below:
[code]
There are many logging messages in console output:
[code]

I read into the source code and find that there should be a logging module registered be

[2017-06-15 13:24] pantonis commented on #2226
Thanks that did the trick

[2017-06-15 13:24] #2226 closed

[2017-06-15 16:11] hikalkan commented on #2221
As I see your code, you only added Console logging for MS logger.
Use ``services.AddAbp`` like this example to integrate Castle Logging:

[code]

Startup templates already like that: https://github.com/aspnetboilerplate/aspnet-core-template/blob/master/src/AbpCompanyName.AbpProjectName.Web/Startup/Startup.cs#L31

Note that this code expects that there is a ``log4net.config`` file like https://gith

[2017-06-15 17:28] moustafa20 opened #2232 "Pass Current Language in Query String"
Hello
please refer to this post
https://forum.aspnetboilerplate.com/viewtopic.php?p=20142#p20142

regards

[2017-06-15 19:38] hikalkan commented on #2230
If you reference to that plugin dll it's possible. But in that case it's not a plugin anymore, it becomes a development time dependency.

If you want to do without referencing it, you can make that:

Inject ``IAbpModuleManager`` into your main module that should check the plugin existence. Then use it's ``Modules`` collection to get list of all loaded modules. Thus, you can check if your module do

[2017-06-15 23:46] scheshan commented on #2221
@hikalkan Oh I miss this method. Thanks very much! It resolved my problem!

[2017-06-16 01:36] #2221 closed

[2017-06-16 02:06] hikalkan commented on #2232
Thank you for offer. We will do it probably in the next version: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2162

[2017-06-16 02:06] #2232 closed

[2017-06-16 02:11] hikalkan commented on #2215
Hi,

I agree about dynamically changing settings/menus on the runtime. We have notes on that.

While loading a dll/module into application on the runtime is relatively easy, unloading it may not be. Unloading a dll is only possible if we load it inside an AppDomain which has costs and limitations. But we will try to find it a balanced model. Thanks.

[2017-06-16 02:11] #2215 closed

[2017-06-16 02:24] natiki commented on #2219
I am still working on getting you the information that is required and trying to understand why this is breaking for us. I have a few questions:

1) Where is the concrete implementation of IUnitOfWorkDefaultOptions? I am trying to work out what the default values are for UOW specifically when I am looking at UnitOfWorkOptions.FillDefaultsForNonProvidedOptions()

2) Why is the explicit IsTransactio

[2017-06-16 06:32] jackchn commented on #2208
@hikalkan If  someone register  and must be reviewed by admin , I think it's reasonable.  The registrar can not logged before reviewed , and  the target user is admin ,not the registrar,  so it's a problem

[2017-06-16 06:40] #2213 closed

[2017-06-16 06:46] hikalkan commented on #2208
Sorry, but could not understand well.

[2017-06-16 07:07] jackchn commented on #2208
@hikalkan I want notice admin to reviewed  when  someone register,but now it's not logged in

[2017-06-16 07:20] hikalkan commented on #2208
Notifications are saved to database (to AbpTenantUserNotifications table) if you are using module-zero. You can show notifications to admin user when he login.

[2017-06-16 08:05] DekeYan opened #2234 "dynamic webapi datetime format"
Please include your Abp version, exception message and stack trace in bug/problem reports.
abp 2.1.2
I use GlobalConfiguration.Configuration.Formatters.JsonFormatter.SerializerSettings.DateFormatString = "yyyy-MM-dd HH:mm:ss";
also

[code]

but all did not work ,could you give me some help

[2017-06-16 11:21] watoo opened #2235 "global.asax(1): error ASPPARSE: Could not load type 'Project1.Web.MvcApplication'"
Hi,
I'm using . net Framework 4.6.1. While publishing project to AppHabor I'm getting this error.

**Stack Trace:**
`/global.asax(1): error ASPPARSE: Could not load type 'TempABP5.Web.MvcApplication'.

[HttpException]: Could not load type 'TempABP5.Web.MvcApplication'.
   at System.Web.UI.TemplateParser.GetType(String typeName, Boolean ignoreCase, Boolean throwOnError)
   at System.Web.UI.Template

[2017-06-16 22:32] #2218 closed

[2017-06-17 05:03] fireheadbr opened #2236 "Validation Errors on subscribe event"
There is way to get the validation errors on a subscribe event (angular4) from a serviceproxy to handle it on my form?

[2017-06-17 05:07] My-Account-ir commented on #2222
This problem was solved with a code on the _Layout.cshtml, temporarily until an update to the latest version

`@if (ViewContext.RouteData.GetRequiredString("action") != "UserCallBack")
{
    SetAntiForgeryCookie();
}
`

[2017-06-17 05:11] yanshengjie commented on #2234
I also have this problem, please help to work around.

[2017-06-17 07:10] natiki commented on #2219
Hi Halil,

So far tracking this down has proved to be elusive. I tried adding a try..catch around the Dispose() but that showed me nothing other than what I posted above namely:

What I have noticed anecdotally is that as soon as we have an exception in a test then subsequently the ABP exception is raised numerous times. If the location of the first exception changes this does not change the behav

[2017-06-17 14:48] hikalkan commented on #2219
Hi @natiki let us check what changes done between v2.0 and 2.1.2 that may cause this issue. For your questions;

Here: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Uow/UnitOfWorkDefaultOptions.cs

It's normally not needed. I just wanted to be sure if default behaviour is changed in your base test class. Because we were disabling transaction in our unit tests since

[2017-06-17 14:53] hikalkan commented on #2234
Why do you do that? What's your purpose? Are you getting an exception? If so, can you share the ex message and stacktrace? And also can you see what is sent by browser/client?

[2017-06-17 15:00] hikalkan commented on #2236
I suppose currently no way of getting it because AbpHttp hides errors and shows error message to the user. You can try to catch and log error but I don't suppose that it has validation errors.
Let us to test this and try to find a way of handling it.

[2017-06-18 05:01] oakuraape commented on #1971
I know this post is closed - but i would be interested in knowing what is the recommended approach here. Having a project that is based off the Ng2 Core template I have an ng2 app and a Web.Host (api). The api has hangfire enabled. But by default there is only teh TokenAuthController available in the api for issuing tokens (only to the ng2 app at the moment). Is it best to introduce Mvc controller

[2017-06-18 08:32] hikalkan opened #2237 "Images are not responsive in the documentation after new web site"

[2017-06-18 09:35] hikalkan commented on #1971
I personally haven't worked on that so don't know the best approach. Did you asked that to Hangfire? Maybe they have a solution.

[2017-06-19 00:53] natiki opened #2238 "Using ILogger...."
Hi Halil,

- ABP 2.1, WebForms
- I am resolving an ILogger in a static class as follows:

[code]

And writing to the log successfully as:

[code]

and what I get in the log is something like:

What I want to know is where does "Default" come from and how do I change it? The only thing named that in the app is my connection string, but the logging has nothing to do with it.

[2017-06-19 01:49] hikalkan commented on #2238
"Default" is name of the Logger. If you inject ILogger to a class, say MyService, log line writes ``MyService`` as the logger name. Since you directly resolve from IocManager, it gets the Default logger. This is behavior of the Logger, not ABP's. If you need a named logger, resolve ILoggerFactory and create logger manually with a desired name.

[2017-06-19 02:23] DekeYan commented on #2234
I want to format the datetime to  “yyyy-MM-dd HH:mm:ss“，but it does't work.  I didn't get exception yet.

[2017-06-19 06:07] watoo opened #2239 "Error while deploying a fresh project"
Hi,
I created a new ASP.NET MVC 5.x project. On local host it was working fine while on deploying site to Azure it gives error:

- The OwinStartup attribute discovered in assembly 'TempABP8.Web' referencing startup type 'TempABP8.Web.Startup' conflicts with the attribute in assembly 'TempABP5.Web' referencing startup type 'TempABP5.Web.Startup' because they have the same FriendlyName ''. Remove or

[2017-06-19 06:16] watoo commented on #2239
And when I deploy the same fresh application to apphabor it gives error:
`/global.asax(1): error ASPPARSE: Could not load type 'TempABP8.Web.MvcApplication'.

[HttpException]: Could not load type 'TempABP8.Web.MvcApplication'.
   at System.Web.UI.TemplateParser.GetType(String typeName, Boolean ignoreCase, Boolean throwOnError)
   at System.Web.UI.TemplateParser.ProcessInheritsAttribute(String base

[2017-06-19 06:20] watoo commented on #2239
I had a fresh project downloaded about 3 months ago. I deployed that project and it worked fine. But newly created .Net project is throwing above errors on deployment. (Tested by deploying on Azure and Apphabor)

[2017-06-19 06:58] maliming opened #2240 "MyEmailSettingProvider get an wrong value"
abp 2.1.3

[code]
**When i read it**
[code]

I think it should be "MyDefaultFromAddress" and "MyDefaultFromDisplayName"
so where did i use it wrong?

[2017-06-19 07:00] #2240 closed

[2017-06-19 07:01] maliming commented on #2240
I found in Migrations.SeedData.DefaultSettingsCreator
[code]

[2017-06-19 07:05] maliming commented on #2240
[abp EmailSettingProvider.cs](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Net/Mail/EmailSettingProvider.cs)

[2017-06-19 09:55] natiki commented on #2239
Sounds like your bin folder contains old assemblies from TempABP5. Make sure your bin folder is empty before deploying TempABP8

[2017-06-19 10:21] NuelNikhil opened #2241 "Hide Menues for Host Admin"
Abp Version 1.0.0
How to hide all menus or specific menus for Host admin. Now I am getting all menus as combined, which are created for Tenant Admin and other Tenant Users(all roles are assigned for Host Admin). I want to prevent Host Admin from viewing other Tenant Admin/Users menu.

[2017-06-19 10:48] watoo commented on #2239
I just created a new repository on github and configured with my apphabor account but deployment failed with following error:
`/global.asax(1): error ASPPARSE: Could not load type 'TempABP8.Web.MvcApplication'.

[HttpException]: Could not load type 'TempABP8.Web.MvcApplication'.
   at System.Web.UI.TemplateParser.GetType(String typeName, Boolean ignoreCase, Boolean throwOnError)
   at System.Web.U

[2017-06-19 12:04] natiki commented on #2239
You have two issues here.... 1) Deploying to Azure and 2) Deploying to AppHarbour. I suggest we deal with 1) in this thread and with 2) in #2235 that you previously logged.

So for Azure did you try as I suggested and made sure your bin folder is empty? It looks like you have left over DLL's in there and it is finding the same type twice.

[2017-06-19 16:02] hikalkan commented on #2241
``MenuItemDefinition`` has ``requiredPermissionName`` so you can set a related permission to this menu item. Then you can set ``MultiTenancySides`` of the permission to ``MultiTenancySides.Tenant``.

[2017-06-20 04:16] Cephei commented on #2095
After a week of messing with ABP, I was finally able to get Angular and ModuleZero working on OS X with EF/MySQL and .NET Core. It certainly wasn't a straightforward process and I'd like to write up some documentation on it if I end up sticking with ABP for my app. Excited to finally get started learning the framework and build on it.

If you use the ABP nuget packages and/or the generated solutio

[2017-06-20 06:29] watoo commented on #2239
Did you mean deleting all data from my project's bin folder? I have removed data from bin folders of all 7 projects in solution but still it gives error:

- The OwinStartup attribute discovered in assembly 'tempProject.Web' referencing startup type 'tempProject.Web.Startup' conflicts with the attribute in assembly 'TempABP8.Web' referencing startup type 'TempABP8.Web.Startup' because they have the

[2017-06-20 15:40] hikalkan commented on #2239
It seems you have tempProject.Web and TempABP5.Web projects (dlls) in the same application. Is it intentional or accidently?

[2017-06-20 15:45] hikalkan commented on #2095
Thank you. I personally only use Windows and haven't tested to open solution in Mac.
I suppose the problem is that project files (csproj) contains conditional package includes. Example:

.Web.Core.csproj

[code]

This is not a problem for Windows, but I suppose it's a problem for Mac. @Cephei we will be happy if you can write what you have changed to make it building?

[2017-06-20 20:55] matthiaswelz opened #2244 "AbpAspNetCoreModule should add all ABP modules as ApplicationParts"
I am trying to use ABP (with ABP Zero) on .NET 4.6.2 with the regular, full entity framework (non EF-core). Thus, I started a project based on the ABP template and modified it to use EF instead of EF-core. One thing I needed to do (because of [this issue](https://stackoverflow.com/questions/43553242/cannot-enable-migrations-in-vs-2017-with-asp-net-core-web-application/44374444#44374444)) was to ch

[2017-06-21 00:52] jeinz11 opened #2245 "ABP.Dapper Issue"
hi im trying out abp.dapper im using the new template .net core with .net framework and im having this error

       SqlException: Invalid object name 'User'.
         System.Data.SqlClient.SqlConnection.OnError(SqlException exception, bool breakConnection,
             Action<Action> wrapCloseInAction)

this is my constructor

             private readonly IRepository<User, long> _userRepository;

[2017-06-21 01:03] jeinz11 commented on #2245
@osoykan @hikalkan  thanks guys

[2017-06-21 02:08] natiki commented on #2219
Hi Halil,

I was wondering if you had any success determining what the underlying issue is here? I need to get our unit tests passing ASAP as currently we are flying a little blind here ;-).

[2017-06-21 02:12] hikalkan commented on #2219
Could not have time yet since we are hardly working on AspNet Zero v4.1 release. I can probably check this in the next week if not a big problem for you?

[2017-06-21 05:31] natiki commented on #2219
Thanks Halil. Not a big problem, but anytime something fundamental like this "breaks" it concerns me as I have production systems depending on it.  So as soon as you can would be great. And yes, I know ABP is open source etc. And that I owe you some promised PR's :-)

As our unit tests are now returning false positives (in one run a test will pass, and in the next with no code change affecting it,

[2017-06-21 06:19] ryc16 opened #2246 "How to throw custom exception from service layer using Asp.Net Core with angular with module zero template?"
Here is an example. I make a field ie. userId as a unique field to avoid duplication. When client post duplicate key, I always got internal error exception on the client which is not a good message. Can the framework handle this exception? If not, is there any way to customize the exception?
[code]
I bypass the client and just use curl and found the framework wrapped up the error. So even I could

[2017-06-21 07:07] halido commented on #2245
Did you add DbSet to your dbcontext ?  @jeinz11
`   public class NovaDbContext : AbpDbContext
    {
public virtual IDbSet<User> Users{ get; set; }
}
`

[2017-06-21 08:23] hikalkan commented on #2244
Thank you very much @matthiaswelz for sharing your experince. I believe that this will be very helpful for others having the similar situation.

I don't think that you case is so common. We don't want to add all modules to ApplicationParts because ASP.NET Core searches all ApplicationParts to find Controllers. This will take unnecessary application initialization time and most of modules will not

[2017-06-21 09:09] ayicode opened #2247 "Do you have any plans to migrate to the project not base on .NET Framework?"

[2017-06-21 09:10] hikalkan commented on #2247
Could not understand? ABP supports both of .net framework and .net core?

[2017-06-21 10:41] watoo commented on #2239
Oh that my be there accidentally. I now created a fresh aspnet boiler plate project and while deploying on apphabor it gives error:

`Parser Error

Description: An error occurred during the parsing of a resource required to service this request. Please review the following specific parse error details and modify your source file appropriately.

Parser Error Message: Could not load type 'TempABP9.W

[2017-06-21 10:47] watoo commented on #2239
This is the link of my live webiste:

http://final1-1.apphb.com/

[2017-06-21 10:58] natiki commented on #2239
Can you post the Global.asax.cs file? Or the class declaration in that file?

[2017-06-21 11:01] watoo commented on #2239
I'm trying to deploy fresh project. I haven't made any changes in it!

**Global.asax.cs**

`using System;
using Abp.Castle.Logging.Log4Net;
using Abp.Web;
using Castle.Facilities.Logging;

namespace TempABP9.Web
{
    public class MvcApplication : AbpWebApplication<TempABP9WebModule>
    {
        protected override void Application_Start(object sender, EventArgs e)
        {
            AbpBootst

[2017-06-21 11:03] natiki commented on #2239
Can verify that the ` character I see before the using and after the last } are not present in the file?

[2017-06-21 11:05] watoo commented on #2239
yes these two characters ` are not part of file. I put these to indent code while adding comment.

[2017-06-21 11:14] natiki commented on #2239
When posting see https://guides.github.com/features/mastering-markdown/ you use. Or use the Preview tab to see what you posted formats well. See image of my post.

![image](https://user-images.githubusercontent.com/4738140/27381551-9c7b8142-56c6-11e7-84d0-9cc1912cb441.png)

I suggest simplifying your Application_Start() as follows to see if that still produces an issue. If it does then post your w

[2017-06-21 11:29] watoo commented on #2239
Thank you for the link. Same error after changing Application_Start function. This is the link of my repository you can see code here:
https://github.com/watoo/Final1

I'm deploying to appbh directory from this repo.

[2017-06-21 11:52] osoykan commented on #2245
@jeinz11,

Did you write any mapping for User entity? If there is **Users** table in your database for User entity, Dapper needs to know your table name explicitly; otherwise Dapper accept your class name as table name as default.

[2017-06-21 13:39] andmattia commented on #2206
@hikalkan I use the example to startup schema plugin. So we have a simple issue on controller inside plugin (DLL web). My controller is TemplateController when I try to call from web
http://localhost:6240/Template/Index does't fire. If I move it into web off main site it works fine.
I need to regsiter some file/dll during startup. WepApi works fine

[2017-06-21 14:58] ayicode commented on #2247
ABP is base on .net4.6 for now
[code]
I mean， do you have plan to support .net core
[code]

[2017-06-21 19:55] hikalkan commented on #2247
ABP supports .net core because we support .net standard 1.6 which is already supported by .netcoreapp1.1.
You can easily test it: Create a new project from https://aspnetboilerplate.com/Templates with default options. It will be a .netcoreapp1.1 project with ABP referenced.

[2017-06-21 19:57] hikalkan commented on #2206
Continue from https://stackoverflow.com/questions/44681263/add-controller-on-plugin? Thanks.

[2017-06-21 19:57] #2206 closed

[2017-06-21 23:49] jeinz11 commented on #2245
@halido this is the default user created by abp
@osoykan thanks ill try this

[2017-06-22 02:28] hikalkan commented on #2246
You can handle exception and throw a UserFriendlyException so users can see a custom message.

[2017-06-22 04:48] natiki commented on #2238
Thanks @hikalkan

[2017-06-22 04:48] #2238 closed

[2017-06-22 05:01] watoo commented on #2239
Please let me know if there anything else I can do to help you understand this issue.

[2017-06-22 06:42] #2247 closed

[2017-06-22 11:06] fiting opened #2249 "How to clear Embedded View Resource Cache ?"
My application is ABP 2.1.2  SPA application on  .Net Framework,
The view embedded in plugin has not been updated to client browser, after I changed and build into the assembly. Is there a cache to the browser on server?
Thanks.

[2017-06-22 11:44] Eternalhazard opened #2250 "where is the material design theme in the new release"
where is the material design theme in the new release

[2017-06-22 18:45] hikalkan commented on #2250
https://aspnetboilerplate.com/Templates

[2017-06-22 19:04] hikalkan commented on #2249
When you change an assembly (dll) in an application running IIS, IIS normally automatically restarts your application. There is no way of replacing a dll without restarting the application. If IIS did not restart it (maybe because it's outside of the application folder, I don't know) you can manually restart it.

[2017-06-23 00:24] akinix commented on #2133
@hikalkan
symbol load failed.
detail "https://msdl.microsoft.com/download/symbols/Abp.pdb/2D669CDFC7534A0282E49866E15D13421/Abp.pdb not found"

[2017-06-23 01:55] hikalkan commented on #2133
It works for me. How can I reproduce it? Isn't it working for default templates for instance?

[2017-06-23 02:38] maliming commented on #2133
@hikalkan
all the abp dll are output: "can not find or open pdb file"
this is my symbol server list

![pdb](https://user-images.githubusercontent.com/6908465/27464423-03ea9bf8-5800-11e7-8aa2-aee472f6647d.png)

[2017-06-23 02:43] hikalkan commented on #2133
This is mine:

![image](https://user-images.githubusercontent.com/1210527/27464544-b860c2d0-57d6-11e7-8dd8-575d85ab18b7.png)

I don't know if our case because of Abp package or sourcelink system. What you can do is simply trying another nuget package with sourcelink enabled to understand if it's related to Abp package.

[2017-06-23 04:05] akinix commented on #2133
creat console application:
install package Abp 2.1.3 from nuget.org
code:
![debugcode](https://user-images.githubusercontent.com/16933380/27466242-bd228ca6-580b-11e7-97e9-2c6941e2c0d9.png)
press F11 not  into the source of Abp.
my setting:
![debugcode1](https://user-images.githubusercontent.com/16933380/27466309-3a9d076a-580c-11e7-8efa-f5a128f4cf10.png)
![debugcode2](https://user-images.githubuser

[2017-06-23 04:42] Eternalhazard commented on #2250
the design for angular and Entity framework MVC is still the old Blue Design , not the colorful Material Design you advertised on the home page as free ?? what is the reason
![image](https://user-images.githubusercontent.com/12001928/27467012-12054c2c-57df-11e7-8323-d8ef8336bf68.png)

[2017-06-23 04:43] Eternalhazard commented on #2250
where is that design , is it for core only and not supported for MVC ,because i tried both and they are in the old blue Template
![image](https://user-images.githubusercontent.com/12001928/27467026-3643f94e-57df-11e7-96c3-35b8c951300d.png)

[2017-06-23 04:46] Eternalhazard commented on #2250
and also i can't find the AR localization XML File as stated for the latest Version ??
![image](https://user-images.githubusercontent.com/12001928/27467075-97985b40-57df-11e7-83a3-28c531cc5c4f.png)

[2017-06-23 05:00] hikalkan commented on #2250
ASP.NET MVC 5.x template is not changed to new theme yet.

[2017-06-23 05:19] watoo commented on #2239
While deploying to azure, I'm getting this error:

- The OwinStartup attribute discovered in assembly 'TempABP9.Web' referencing startup type 'TempABP9.Web.Startup' conflicts with the attribute in assembly 'Final1.Web' referencing startup type 'Final1.Web.Startup' because they have the same FriendlyName ''. Remove or rename one of the attributes, or reference the desired type directly.
To disable

[2017-06-23 05:29] maliming commented on #2133
The abp package don't include pdb file.

![1](https://user-images.githubusercontent.com/6908465/27467479-5cb7546e-5815-11e7-82c5-497c0f6eeba3.png)

[2017-06-23 05:44] cuibty commented on #2133
@akinix i also encountered this problem

[2017-06-23 06:11] hikalkan opened #2251 "Nuget packages should include pdb files"

[2017-06-23 06:14] hikalkan commented on #2133
Actually csproj files are configured to include pdb files: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Abp.csproj#L26
I created an issue for that: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2251

Anyway, I can step into Abp source code without problem with the same code shared by @akinix. Probably it's not needed to add pdb files anymore.

[2017-06-23 06:16] hikalkan commented on #2239
You still have TempABP9.Web and Final1.Web projects which should not be like that normally.

[2017-06-23 06:21] watoo commented on #2239
I don't know how this happens. I empty bin folder and then re-deployed but same error.

[2017-06-23 06:23] watoo commented on #2239
My WebApp1 on azure was first deployed with TempABP9 project but know I want to deploy Final1 project on WebApp1. How can I do that?

[2017-06-23 06:30] akinix commented on #2133
@hikalkan
i think you can step into source. because the default file path of "abp.pdb" is "D:\Github\aspnetboilerplate\src\Abp\obj\Release\net46\Abp.pdb", i don't have this file. but this file was been in your operating system.
can you try it again on a new operating system with virtual machine? or after delete the file "D:\Github\aspnetboilerplate\src\Abp\obj\Release\net46\Abp.pdb".
it maybe has

[2017-06-23 06:35] hikalkan commented on #2239
Azure probably does not delete old files but just overwrites.

[2017-06-23 06:40] hikalkan commented on #2133
You're right, it does not step into when I delete ``D:\Github\aspnetboilerplate\src\Abp\obj\Release\net46\Abp.pdb``. So, resolving #2251 should solve this problem.

[2017-06-23 08:23] hikalkan opened #2252 "Validation should allow to pass null value to nullable enum parameters"

[2017-06-23 08:25] #2252 closed

[2017-06-23 10:18] watoo commented on #2239
I found solution for apphabor deployment.
1. Make sure targeting framework is same for all projects.
2. Don't publish using visual studio. Place your complete project on github and apphabor will build itself.

But I still couldn't find solution for Azure deployment.

[2017-06-23 13:55] fiting commented on #2249
The plugin dll files (in /plugins folder, not /bin folder) was locked by the application pool, every time update the pugin files, I must stop the application pool, then replace the files. but after restart the application, the embedded resource have not been updated on client. But after modify the web.config file to trigger the application restart, then the embedded resources updated.
Thank you fo

[2017-06-23 16:28] KlemensE opened #2253 "Authorization in CrudAppService not working without overriding some functions"
* Abp package version: 2.1.3
* Your base framework: .Net Core

* Steps needed to reproduce the problem:

Using following code, I can call any CRUD function from SwaggerUI without Authorization
[code]

Using following code, I can call any method execpt GetAll without authorization.

[code]

Using following code, I can call no method without authorization.

[code]

[2017-06-24 06:26] watoo opened #2254 "How to assign roles to user?"
In `UserAppService.cs` I want to assign role to user, so I updated my `CreateUser` function to:

[code]

How can I save this user role?

[2017-06-24 06:49] tamys commented on #2254
try this:
 await _userManager.AddToRoleAsync(user.Id, role.RoleName);

[2017-06-24 06:52] tamys commented on #2253
as you have overrided the getAll method, you are responsible to check for permissions by using CheckGetAllPermission() before returning any result from overriden method. If you use the default implementation, it handles it internally

[2017-06-24 07:31] KlemensE commented on #2253
The problem is not the authorization but the authentication.

Changing the code as you suggested setting the PermissionName in the ctor I get the following response:

[code]
When calling the GetAll method I expected following response if I did not loggin:

[code]

[2017-06-24 10:19] tamys commented on #2253
This seems you are logged in using cookie authentication and your webapi does not suppress it to token auth only. Therefore the cookie is taken into account for api calls. Have you tried it in new incognito window without logging in? At least for .net this is how it works. I haven't tested it on core

[2017-06-24 10:48] ryc16 opened #2255 "Repository.Insert not returning a real Id"
Hey,

I have the following sample code.

[code]

But I realized nplrDetail has negative Id` ie Id = -2147482643`.  I expect it should be the really Id that from DB. Any idea?

[2017-06-24 10:56] acjh commented on #2255
You need to save changes.
[code]

[2017-06-24 11:08] ryc16 commented on #2255
Cool. Thanks

[2017-06-24 11:08] #2255 closed

[2017-06-24 11:20] heavenwing opened #2256 "Can not access Api AccountController other action"
I add a another action in AccountController on Api project for my custom authen logic.

But when access this action from postman, I always get a error:
![image](https://user-images.githubusercontent.com/2920062/27508123-64d53c18-5911-11e7-9717-167ec8505e2e.png)

And I found that my request for AccountController be redirected to Authenticate action at all times.

I search Stack Overflow, not found

[2017-06-24 11:30] acjh commented on #2256
It's `Content-Type`, not `Context-Type`.

[2017-06-24 14:04] heavenwing commented on #2256
@acjh

You are right. But reason is not here.

[2017-06-24 14:39] KlemensE commented on #2253
I am very sure that I have never logged in. The only thing I added to the .net core zero module template: An entity a repository and the crudservice.

[2017-06-24 16:00] luigledr commented on #2095
@Cephei Can you give us instructions about how to run ABP on a Mac Only machine? I tried use the Template gereated in the site, without success on my mac.

[2017-06-24 19:57] MichaelPaulukonis commented on #2250
@hikalkan Is there a timeframe for updating the template?

[2017-06-24 21:24] gokhansengun commented on #2095
@luigledr, if you are using Visual Studio for Mac, as @hikalkan pointed out, there is a bug preventing stable version of VS for Mac to interpret msbuild conditionals correctly. It might be due to the old msbuild version it is using. If you remove conditionals like below from `*.csproj` files, it should work just fine.

[code]

Alternatively if you do not want to touch the source, command line util

[2017-06-24 23:09] ebicoglu commented on #2255
Alternatively you can ise the method .insertAndGetId()

[2017-06-25 01:14] #2249 closed

[2017-06-25 06:04] hoatv1008 commented on #2095
Thanks @gokhansengun. Just works.

BTW, for anyone who gets error on YourProject.EntityFrameworkCore, just add this Nuget package Microsoft.EntityFrameworkCore.

[2017-06-25 06:19] hikalkan commented on #2250
Created an issue: https://github.com/aspnetboilerplate/module-zero-template/issues/94
No timeframe yet, but we will think on that.

[2017-06-26 06:42] ShiningRush commented on #2256
The method AnotherAuth need paramter "loginModel" and it is null, so cause the abp validation exception.

You should check if the posted paramter is correct json string and the request have a correct Content-Type header so that Media Formatters can correctly bind the parameter.

About model binding for reference: [Click](https://docs.microsoft.com/en-us/aspnet/web-api/overview/formats-and-model-bi

[2017-06-26 07:56] heavenwing commented on #2256
@ShiningRush I am confusing why another action method must have this parameter?

`        [HttpPost]
        public AjaxResponse AnotherAuth(string token)
        {
            return new AjaxResponse(true);
        }

        [HttpPost]
        public async Task<AjaxResponse> Authenticate(LoginModel loginModel)
        {
            CheckModelState();

            var loginResult = await GetLogin

[2017-06-26 11:23] brunobertechini commented on #1476
Thanks Halil, now with the new v4.1 and angular version i will come back to this thread and share my findings.

Bruno

[2017-06-26 13:48] heavenwing commented on #2256
And I found second question that I added a another Controller in api folder, and get error:
`{
    "message": "No HTTP resource was found that matches the request URI 'http://localhost:61759/api/MobileAccount/Authenticate'.",
    "messageDetail": "No action was found on the controller 'MobileAccount' that matches the request."
}`

[2017-06-26 14:37] Cephei commented on #2095
I did end up removing all references to Owin and SignalR from the csproj and in code as well.

[2017-06-27 03:11] Caskia opened #2258 "Migrate old project to net core, is it possiable?"
Hi,
    My project run .net framework 4.6 with abp for a long time. Recently I have saw abp upgrade to 2.1 version which support .net standard and ef core, so i want to update my project to net core. I found the
migration problem is on abp.zero. You have implemented aspnet.identity and aspnetcore.identity on it, some little changes on user and role table. Is it feasible to migrate an existing proj

[2017-06-27 10:56] Caskia opened #2259 "ChangeAbpTablePrefix need to add SetTableName for UserToken"
Hi,
May be you forgot to set table name for UserToken table.

[code]

[2017-06-27 21:30] CarlosPove opened #2260 "EntityFramework Core: An expression of non-boolean type specified in a context where a condition is expected, near ')'."
I am using the latest ABP version available, .NET Core and Angular. I am using a standard repository and whenever calling the Getall or GetAllList functions and querying inside them I get back the following error:

 An expression of non-boolean type specified in a context where a condition is expected, near ')'.

This is usually when comparing strings or multiple statements. For example:

_account

[2017-06-27 21:32] #2260 closed

[2017-06-27 23:10] natiki commented on #2219
Hi Halil,

Have you had time to think about this one yet? :-)

[2017-06-28 02:19] picorelli opened #2261 "IQueryable - Include method doesn`t work"
Hello guys!

I'm having some problems with repository. For example, I`m trying do this:

`
var products =
                _productRepository
                    .GetAll()
                    .Include(q => q.CreatorUser)
                    .OrderBy(input.Sorting)
                    .PageBy(input)
                    .ToList();`

But the Visual Studios is showing this message to me:

CS1061	'IQuer

[2017-06-28 04:27] hikalkan commented on #2261
Include is a method of Entity Framework. Try to add Entity Framework package to your project containing that code.

[2017-06-28 04:28] hikalkan commented on #2219
Hi,

Our vacation is just finished and I will work on that in this week (today/tomorrow).

[2017-06-28 04:32] ismcagdas commented on #2256
@heavenwing, can you share how do you send token parameter to AnotherAuth action ?

[2017-06-28 04:35] halido commented on #2256
@heavenwing  If you want to  Route api  by Action Name
[check this](https://stackoverflow.com/a/18662128/971839)

[2017-06-28 04:42] wocar commented on #2261
You can use .GetAllIncluding() method
El El mar, 27 de junio de 2017 a la(s) 11:28 p.m., Halil İbrahim Kalkan <
notifications@github.com> escribió:

[2017-06-28 04:49] hikalkan commented on #2259
Thank you for reporting. Moved to https://github.com/aspnetboilerplate/module-zero/issues/392.

[2017-06-28 04:49] #2259 closed

[2017-06-28 05:11] hikalkan commented on #2258
Hi,

Yes, it's feasible. We have upgraded AspNet Zero successfully for instance. You should use Abp.ZeroCore.* packages instead of Abp.Zero.* packages (https://aspnetboilerplate.com/Pages/Documents/Zero/Nuget-Packages). You can take new [module-zero-core-template](https://github.com/aspnetboilerplate/module-zero-core-template) as a reference.

[2017-06-28 06:05] natiki commented on #2219
Hi,

Much appreciated. Hope you had a good break.

[2017-06-28 07:58] hikalkan commented on #2253
This is very strange. Will check it and fix if there is a bug. Thanks.

[2017-06-28 10:42] Krystian-D opened #2262 "EF DbContext configuration"
* Abp 1.5.1
* .Net 4.5.2

Hi,
I'm trying to figure out how to change configuration of DbContext.
I've got process in application which imports large set of data, and change detection is slowing it down significantly (previously process was outside of Abp application and was using dbContext directly so I was able to change configuration)

Is there any recommended way of getting DbContext reference

[2017-06-28 10:50] hikalkan commented on #2262
Startup templates already contains EntityFramework project that includes a DbContext. You can change configuration of it. What change you want to do?

[2017-06-28 10:53] Krystian-D commented on #2262
For long running import process I'd like to change to disable autodetectchangesenabled feature

[2017-06-28 10:54] picorelli opened #2263 "Access the backend constants by JS"
Hello everyone! Does it possible to access the backend constants by JS? Thanks!

Example: Abp.Consts.Create

[2017-06-28 11:02] hikalkan commented on #2262
If you add EntityFramework reference to your project then you can access to internal DbContext of a repository like ``_repository.GetDbContext()`` and you can directly use it's API.

[2017-06-28 11:08] Krystian-D commented on #2262
The whole time I was trying to access Context property of EfRepositoryBase<>.
Using `_repository.GetDbContext()` did the job.

Many thanks !
Keep up amazing work you're doing guys

[2017-06-28 11:08] #2262 closed

[2017-06-28 11:11] hikalkan commented on #2262
You're welcome :)

[2017-06-28 11:18] hikalkan commented on #2263
There is not built-in way of that.

[2017-06-28 13:36] brunobertechini commented on #66
What about NSWAG to C# generator ?

[2017-06-28 13:38] hikalkan commented on #66
+1 for nswag (because we are not working for this feature  yet :))

[2017-06-28 16:56] arnbunchen opened #2265 "ABP framework has implemented separated write and read?"
ABP framework has implemented separated write and read?

[2017-06-28 18:52] hikalkan commented on #2265
If you are talking about CQRS, then ABP does not offer any infrastructure. See https://github.com/aspnetboilerplate/aspnetboilerplate/issues/88

[2017-06-28 18:52] #2265 closed

[2017-06-28 22:06] longhuynh commented on #2263
See: https://github.com/aspnetboilerplate/aspnetboilerplate/pull/378

[2017-06-29 01:50] Worthy7 opened #2266 "[UnitOfWork] In tests"
I know I may have asked this before, but can you make the attribute [UnitOfWork] work for test methods to start and end a UoW?

[2017-06-29 05:17] coolshun opened #2267 "Does Abp .net core suport mysql database?"
HI,
Does  Abp .net core suport mysql database?

Thanks!

[2017-06-29 05:30] hikalkan commented on #2266
That can be good, but I don't know if it's possible with xunit.

[2017-06-29 05:33] hikalkan commented on #2267
We are using EF Core. I haven't tried but there is a MySQL driver as I know.

[2017-06-29 07:29] sebitsi opened #2268 "Sharing connections, EfCoreStrategy and multitenancy"
Hi,

i read how i can share connection if i use multidbcontext in #1834
It works well in single database.

Is this multitenancy safe ?
I mean, if i use tennant per database concept will code

`options.DbContextOptions.UseSqlServer(options.ExistingConnection)
`

return existingconnection of current tennant ?

If so does it mean that options object is per tennant ?

[2017-06-29 07:33] hikalkan commented on #2268
Yes, it's multitenant safe if you are using module-zero.

[2017-06-29 07:47] sebitsi commented on #2268
This was super fast response !

Yes i use module-zero.
Does it mean that options object is somehow cached per tennant ?

So, when we access options (AbpDbContextConfiguration) we get
ConnectionString, ExistingConnection and DbContext option of current logged tennant ?

Right ?

[2017-06-29 07:52] hikalkan commented on #2268
It's not cached. The method below is called every time when a new database connection is needed:

[code]

This class is responsible to select correct connection string based on current tenant: https://github.com/aspnetboilerplate/module-zero/blob/dev/src/Abp.ZeroCore.EntityFrameworkCore/Zero/EntityFrameworkCore/DbPerTenantConnectionStringResolver.cs

In brief, it works as expected :)

[2017-06-29 07:56] #2268 closed

[2017-06-29 09:42] natiki commented on #2266
You can do it yourself with a base test (Example is in NUnit) https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2219

[2017-06-29 10:31] coolshun commented on #2267
@hikalkan I use Mysql instead of Sqlite by MySql.Data.EntityFrameworkCore,but it throw the exception bellow.

Nested transactions are not supported.

   at MySql.Data.MySqlClient.MySqlConnection.BeginTransaction(IsolationLevel iso)
   at MySql.Data.MySqlClient.MySqlConnection.BeginDbTransaction(IsolationLevel isolationLevel)
   at Microsoft.EntityFrameworkCore.Storage.RelationalConnection.BeginTra

[2017-06-29 10:34] ismcagdas commented on #2267
@coolshun you can try this one https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2017-06-29 10:40] hikalkan commented on #2267
Where is this unit test (Should_Get_Initial_Persons)? ABP's source code does not contain such a test.

[2017-06-29 10:44] coolshun commented on #2267
@hikalkan the Person class is created by me.

 public class Person:Entity<string>
    {
        public virtual string Name { get; set; }
    }

[2017-06-29 10:45] hikalkan commented on #2267
Beside unit tests, can you try with a real application too?

[2017-06-29 10:50] coolshun commented on #2267
@hikalkan yes,It is same with "Blog","Post".

[2017-06-29 11:22] natiki opened #2270 "New MVC/EF Template - Generates a TS Upgrade Dialog...."
Hi,

Just downloaded the latest from the website and opened in VS2017 on Win10 Fully Patched and I get:

![image](https://user-images.githubusercontent.com/4738140/27685316-02602706-5d11-11e7-94db-c4771ed256d1.png)

Not a big deal, but it would be better if this dialog was not generated.

[2017-06-29 11:40] hikalkan commented on #2270
We upgrade typescript version in the next release. Thanks.
But this can be a problem for people who don't have the latest typescript.

[2017-06-29 11:41] hikalkan commented on #2270
Also, it would be very good if you can move this issue to the related repository?

[2017-06-29 11:48] natiki commented on #2270
This issue was moved to aspnetboilerplate/aspnetboilerplate-templates#66

[2017-06-29 11:48] #2270 closed

[2017-06-29 12:06] coolshun commented on #2267
@hikalkan I remember that the "UnitOfWork" using a single Transaction in your source code,but what's the "Nested transactions"?

[2017-06-29 12:08] hikalkan commented on #2267
Yes, it should be single transaction. I wondered why stack trace goes to UnitOfWorkInterceptor.PerformSyncUow that much. We should investigate it.

[2017-06-29 12:09] hikalkan commented on #2270
Thanks.

[2017-06-29 12:18] coolshun commented on #2267
@hikalkan Do you need me to give you the Zip file of  source code? May be of help to you.
`  var builder = new DbContextOptionsBuilder<BloggingDbContext>();

            builder.ReplaceService<IEntityMaterializerSource, AbpEntityMaterializerSource>();

            //var inMemorySqlite = new SqliteConnection("Data Source=:memory:");
            //builder.UseSqlite(inMemorySqlite);
            //usi

[2017-06-29 12:20] hikalkan commented on #2267
Yes, it can help. But if you only changed the code above no need.

[2017-06-29 12:27] coolshun commented on #2267
@hikalkan The others is simple calasses like "Person","PersonRepository",so you no need it .I'm waiting for your result.Thanks!

[2017-06-29 12:59] Caskia commented on #2267
I am migrating my project to net core with mysql, not find this problem.

[2017-06-29 13:56] coolshun commented on #2267
@Caskia May I have the project files you migrated?可以给我看一下你的代码么？qq:908790392

[2017-06-29 14:28] hikalkan opened #2271 "Enhance startup template docs (especially for angular4)"
For instance, we can add a section to show where the main menu is located.

[2017-06-29 14:29] mwallnoefer commented on #961
Is it possible to integrate also with a separate standalone _IdentityServer_ instance? There is no example yet which discusses this.

[2017-06-29 14:37] hikalkan commented on #961
Hi @mwallnoefer

Creating examples for possible combinations and maintaining them (keeping up to date) is hard for us.

I believe https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server document should be enough. There is not much difference between directly using identity server and using it with ABP. It has it's own documentation. But I should say that Identity Server is already compl

[2017-06-29 14:37] wocar commented on #961
Do you mean authenticating against an auth server? If so you can use owin
to handle the oauth token on the server side using openidconnect and
identitymodel nuget on the client
El El jue, 29 de junio de 2017 a la(s) 9:29 a.m., Matthias Dieter Wallnöfer
<notifications@github.com> escribió:

[2017-06-29 14:46] mwallnoefer commented on #961
@wocar Yes I mean that. Consider that I have a stand-alone _Identity Server_ instance. I would like to share its user accounts and realise SSO with ASP.NET Boilerplate.

Did I get this correctly that I am not able to approach this using _AbpIdentityServer_ respectively https://aspnetboilerplate.com/Pages/Documents/Zero/Identity-Server? Therefore I would need to use _OpenID Connect_ and _IdentityMo

[2017-06-29 14:55] hikalkan commented on #961
Identity Server 4 has a compherensive documentation: https://identityserver4.readthedocs.io/en/release/
Identity Server 4 is a framework and has many different options, configurations and uses cases. This is why we don't want to cover it's documentation and just wanted to show differences when you want to use it with ABP.
So, please read it's documentation you will find example and some code.

[2017-06-29 15:37] fileman opened #2272 "External Data Source"
Have you planned usage of external data source like OData services, instead of EF / NH dbcontext?

[2017-06-29 15:44] Caskia commented on #2122
Hi @hikalkan,
So if we can not use model filter. When using the include method, is there any suggestion to get the data without deleted?

[2017-06-29 18:19] hikalkan commented on #2122
Just filter it manually if you need. You can delete that code once MS releases EF Core. I think no other chance yet.

[2017-06-29 18:22] hikalkan commented on #2272
You can replace ``IRepository<T>`` by any implementation as you know. But creating a remote repository implementation is not in our plan now.

[2017-06-30 02:50] Worthy7 opened #2274 "Job Poll conflicts"
I think we should have a better default way to manage jobs that are "in processing".

If we poll the BackgroundJobs table every 5 seconds (default), then any jobs which have been started but not finished/failed, it seems are reprocessed. This is not good, as I now have duplicate emails being sent out.

Am I correct in this conclusion? If so, I think that the default BGJobManager should read, and i

[2017-06-30 03:47] coolshun commented on #2267
@hikalkan I create a Multi Page Web Application from your website ,and set it by mysql,and execute "Add-Migration InitialCreate" command ,but it throw a exception bellow.

The entity type 'EditionFeatureSetting' is part of a hierarchy, but does not have a discriminator property configured.

`namespace ABP_MPA.EntityFrameworkCore
{
    public static class ABP_MPADbContextConfigurer
    {
        pu

[2017-06-30 03:59] Zonciu opened #2275 "ArgumentNullException in GetUnitOfWorkAttributeOrNull"
Abp version: 2.1.3
.Net Core version: 1.1 or 2.0 preview1

Stack trace
[code]

My codes
[code]

Dependency injection
[code]

[2017-06-30 04:54] Caskia commented on #2267
@coolshun  I can send you a template with mysql.

[2017-06-30 05:10] ismcagdas commented on #2267
Hi @coolshun,

Pomelo does not have this error as far as I know but if you don't want to use it you need to configure EF TPH model configuration in OnModelCreating of your DbContext, for example:

[code]

[2017-06-30 05:13] Worthy7 opened #2276 "CalculateNextTryTime()"
Can you make it not protected, so we can inherit from BackgroundJobInfo

[2017-06-30 05:20] hikalkan commented on #2274
We use AbpTimer (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/BackgroundJobs/BackgroundJobManager.cs#L51)
And AbpTimer waits until current job finishes (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Threading/Timers/AbpTimer.cs#L115).

I will add a unit test for it to see if it overlaps. BTW, you can always switch to hangfire.

[2017-06-30 05:27] newacc12 opened #2277 "Question about DTOs"
This is more an architectural question and its not directly related to ABP. I see the recomendation is to return DTOs from the application services. Is there a way to share "simple" logic between DTOS and domain entities? I read DTOs shouldn't contain any logic but follow throught this scenario:

Lets say I have a Post entity. I need to list all posts from a user, so I create a list of PostDTO map

[2017-06-30 05:34] #2276 closed

[2017-06-30 05:36] carldai0106 commented on #2274
Before I got the same problem, But I do not why it happened #1954

[2017-06-30 05:40] coolshun commented on #2267
@ismcagdas Thank you, but it throws another exception bellow.
`System.InvalidOperationException: No mapping to a relational type can be found for property 'Abp.Notifications.UserNotificationInfo.TenantNotificationId' with the CLR type 'Guid'.
   at Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapperExtensions.GetMapping(IRelationalTypeMapper typeMapper, IProperty property)
   at Microsoft.E

[2017-06-30 05:56] Worthy7 commented on #2274
@hikalkan I forgot why, but I can't at the moment.

I just discovered that AbpTimer does indeed wait, but this means I have literally no idea what the problem is. Could it be possible that I have two background workers running? I did build a custom one, so is it that and the default one?

[2017-06-30 05:57] Zonciu commented on #2275
My bad，missing `AbpEntityFrameworkCoreModule` in Module.
Solved.

[2017-06-30 05:57] #2275 closed

[2017-06-30 06:00] hikalkan commented on #2274
It can be like that if you haven't replaced the existing one like ``Configuration.ReplaceService<IBackgroundJobManager,YourJobManager>()``

[2017-06-30 06:04] Worthy7 commented on #2274
I'm using this:
IocManager.Register<IBackgroundJobManager,MyBackgroundJobManager>(DependencyLifeStyle.Transient);

I need to update Abp to use that code...

[2017-06-30 06:08] Worthy7 commented on #2274
In my startup log:

I guess this is actually correct though. And it seems the original is not being loaded....

[2017-06-30 06:11] hikalkan commented on #2274
You should register it as Singleton, not Transient. But the problem is not related to that probably.

[2017-06-30 06:19] Worthy7 commented on #2274
I hope it is the problem because this only seems to happen on the production server, which is under load, which could affect "something" to do with when things are resolved. Whereas my dev and test servers haven't been able to reproduce this, even by spamming lots of mails in a short timeframe - which would have sent duplicates if any of the problems I mentioned above were the cause.

:/

[2017-06-30 06:27] Worthy7 commented on #2274
So I made it a singleton, and then spammed 20 mail send jobs in about 5 seconds.

A very strange error occurred which I actually saw on my dev server too at one point, which I think is the cause.

jobInfo.NextTryTime = nextTryTime.Value;
This line errors with, the exception is caught, but then when
jobInfo.IsAbandoned = true;
is tried, it also errors, because:
he object is in a detached or deleted

[2017-06-30 06:42] Worthy7 commented on #1954
@carldai0106  were you using a custom backgroundjobmanager? If so, how did you register it?

What @iyhammad said in my issue about it being registered as transient corresponds to you restarting IIS and it working

[2017-06-30 07:06] coolshun commented on #2267
@hikalkan I create a Multi Page Web Application without ZERO from your website ,and set it by mysql,and create a "Person" enity class,but it still throws the exception bellow when I run it.
1.InvalidOperationException: Nested transactions are not supported.
2.InvalidOperationException: Connection must be valid and open to commit transaction

`InvalidOperationException: Nested transactions are not

[2017-06-30 07:07] coolshun commented on #2267
@hikalkan How do I give you the source code?

[2017-06-30 07:25] coolshun commented on #2267
@hikalkan I use Pomelo.EntityFrameworkCore.MySql,It It works well.

[2017-06-30 07:26] MarsonShine opened #2278 "About Validating-Data-Transfer-Objects from abp document"
hi!
First of all, I'm sorry that my English is not good.
I have been in trouble. In my DTO class, I have annotated the class attribute, but not the result I want.
For example:

[code]

then,In Presentation layer
In the form, I don't fill in anything, then click submit, and the result is:
the collection of ValidationResult`ErrorMessage In the following:
**Age:""**,Email:"ExpireDate Not Empty",**Exp

[2017-06-30 07:41] Worthy7 commented on #2274
Nope, I just asked it to send ONE email, and it sent 3 on my production server, 1 on my test server.

[2017-06-30 07:54] Worthy7 commented on #2274
I don't know how to explain this, but the sending of the duplicate mails is also not being logged properly (one 1 was logged) so this could mean some kind of zombie bg process from a previous deployment or something which is being allowed to continue?

[2017-06-30 08:03] Worthy7 commented on #2274
Ok this is the ONLY trick that I could use to fix the problem.
[code]

I published my app, sent 1 email, received 1, sent another and received 3.
My log was showing that it only sent one email. So I don't know what to say.

[2017-06-30 08:16] Zonciu commented on #2266
+1
I'm using MediatR, my call chain is: AbpController.Action->MediatR.SendRequest->RequestHandler. In RequestHandler class, I inject IUnitofWorkManager, it works well. When I send a request in unit test project(xunit), the IUnitOfWorkManager.Current is null.

[2017-06-30 09:28] tom177y commented on #2228
I can't find some of the packaged mentioned above such as Castle.Windsor.MsDependencyInjection but I am able to update to ABP v2.1.3 and Module-Zero v2.1.3 packages and compile the current AspNetZero template v3.2.0.

Will the missing packages cause any side effects?

[2017-06-30 11:07] ModernRonin opened #2279 "Core Template Updating Published Version on Azure"
Hi,
My problem is that it seems that for some reason the ASP.Core solution, after the initial publish to Azure, never really gets updated on subsequent publish-operations.
What I did:

1. I'm using VS 2017
2. I used the ASP Core template.
3. I removed everything related to the Angular client because I don't need that.
4. I used Project | Docker Support on the ...Host project.
5. I created a publis

[2017-06-30 13:02] acjh commented on #2278
`int` defaults to `0`. `Required` attribute checks if a property is `null`, but `0` is not `null`. You can use `int?`.

[2017-06-30 13:22] hikalkan commented on #2278
As alternative you can use Range(1, int.MaxValue) if you only accept positive values.

[2017-06-30 13:25] hikalkan commented on #2266
@Zonciu you can make your request handling method virtual and add [UnitOfWork] attribute for it.
[UnitOfWork] for test method will ensure that IUnitOfWorkManager.Current is not null for code **directly in the test method**.

[2017-06-30 13:26] hikalkan commented on #2228
Castle.Windsor.MsDependencyInjection package is here: https://www.nuget.org/packages/Castle.Windsor.MsDependencyInjection

But you don't need to explicitly upgrade it since when you upgrade Abp, they will also upgraded indirectly.

[2017-06-30 13:39] maliming commented on #2228
`Unable to resolve dependencies. 'Castle.Core 4.1.0' is not compatible with 'Castle.LoggingFacility 3.4.0 constraint: Castle.Core (>= 3.3.0 && < 4.0.0)', 'Castle.Windsor 3.4.0 constraint: Castle.Core (>= 3.3.0 && < 4.0.0)'.
`
I found this error.

[2017-06-30 15:30] tom177y commented on #2162
I m using AspNetZero Template v3.2 (MVC5+AJ1) and upgraded ABP from v1.5.0 to v2.1.3.
Am I right to say it still NOT possible for user's with preferred language set, the system will automatically show his/her preferred language instead of system default language?

[2017-06-30 15:33] AlanFlaherty commented on #2267
If you delete all the migrations in the migrations folder and create an initial migration against the MySql database when you are setting the project up dotnet ef should work against MySql with Pomelo.EntityFrameworkCore.MySql.

[2017-06-30 16:30] devsharper commented on #2128
@hikalkan
This new feature doesn't seem to work in 2.1.3, I attribute my custom db context like this:

`[AutoRepositoryTypes(typeof(IMyRepository<>), typeof(IMyRepository<,>), typeof(MyRepository<>), typeof(MyRepository<,>), WithDefaultRepositoryInterfaces = true)]`

and I still got "not registered" exception when I try to resolve IRepository<> or IRepository<,>, like IRepository<User, long>.

Whe

[2017-06-30 16:32] devsharper commented on #2151
@hikalkan
This new feature doesn't seem to work in 2.1.3, I attribute my custom db context like this:

`[AutoRepositoryTypes(typeof(IMyRepository<>), typeof(IMyRepository<,>), typeof(MyRepository<>), typeof(MyRepository<,>), WithDefaultRepositoryInterfaces = true)]`

and I still got "not registered" exception when I try to resolve IRepository<> or IRepository<,>, like IRepository<User, long>.

Whe

[2017-06-30 17:00] Zonciu commented on #2266
@hikalkan Thanks! That works!

[2017-06-30 19:06] hikalkan commented on #2151
Since this issue is closed, can you create a new issue for the bug report so we test it. Thanks.

[2017-06-30 19:11] hikalkan commented on #2162
If a user changes language, language change is remembered in the same browser. You can try it.

[2017-06-30 21:51] AlanFlaherty commented on #2253
It looks like the problem is adding [AbpAuthorize(PermissionNames.Parcells)] to a class that derives from the CrudAppService class that seems to cause problems. The error seems to happen within the PermissionCheckerExtensions . The IPermissionChecker that it uses seems to be incorrect, it seems to uses the base version not the version in the core project. Or to state more correctly a base version

[2017-07-01 02:01] tom177y commented on #2162
I have tried.  The browser does remember until I clear the cookies.

The point of clarification is that shouldn't the system is able to detect the user has a preferred language and therefore, showing his/her preferred language and making this as higher priority over default language over the cookies or system thread locale.

The use case here is "authenticated users" rather than landing page or ge

[2017-07-01 02:39] devsharper opened #2280 "Custom repository auto register doesn't work"
ABP 2.1.3, here is my code:

I define an abstract RepositoryBase in my Data module:
[code]
with interface in Core module:
[code]
then a MainDbContext and a MainRepository as my default repository in Data:
[code]
with interface in Core:
[code]

In 2.1.3, both IRepository&lt;TEntity&gt; and IMainRepository&lt;TEntity&gt; are not registered, I got an exception when I try to resolve them.

**Same code

[2017-07-01 02:41] scheshan opened #2281 "Equivalent to ServiceCollection.AddScoped<> in IocManager"
The DependencyLifeStyle enum only contains Singleton and Transient. Is it possible to register a type which lifetime is scoped(per HTTP request)?

[2017-07-01 03:19] scheshan commented on #2281
I tried to use lower API to register my service:
[code]

But when resolving the service, an exception was thrown.

[code]

[2017-07-01 03:21] scheshan commented on #2281
Here is my code:

[code]

[code]

[code]

[2017-07-01 04:12] acjh commented on #2281
Try this:

[code]
[code]
[code]

[2017-07-01 04:56] scheshan commented on #2281
@acjh
LOL, I can't do it in this way. Above is a very simple sample. In a real project, the service should have dependencies and be accessed by other controllers/services.

There must be some wrong in Castle Windsor. I tried the following code and still got the exception.

[code]

And I found services.AddScoped<TestService>() work as expected.

[2017-07-01 05:47] natiki commented on #2219
Hi Halil,

You managed to find anything?

[2017-07-01 06:20] mokezhuhy opened #2282 "Why using dapper extension without sql dialect configuration?"
Hi, @hikalkan ,
The sql dialect configuration provides some native sql chars and some others functions in dapper extensions. Without configuration the SqlServerDialect will be used by default. Why not to configure it before using its extensions?

Thank you.

[2017-07-01 07:30] osoykan commented on #2282
@mokezhuhy,

AFAIK, Dapper has SqlServerDialect as default. If you want to change it, you can do it on your Data layer's `Initialize` method. Otherwise i think that we already take advantages of SqlServerDialect since it is default behaviour of Dapper.

[2017-07-01 08:35] devsharper commented on #2151
Issue created. #2280

[2017-07-01 09:01] devsharper commented on #2277
First of all, you should always add deletion checking logic to your domain, since your application services could be public in future, invoked by other clients like javascripts or Android/iOS apps, client inputs should never be trusted.
"is being shown" is 100% UI Logic, I think you can write it in ViewModels, or in DTOs directly.
"can be deleted" is not just a UI logic but a typical business logi

[2017-07-01 09:24] natiki commented on #2277
You have a couple of things going on here:

- Having to keep expanding your DTO's to get necessary data vs Doing it more focused from the database via a stored procedure

Unfortunately there is no easy answer here, there are trade offs. It is always going to be more efficient to do:

SELECT COUNT(*) FROM TableName than it is to do IQueryable.Count()

- Restricting your DTO's returned

Remember tha

[2017-07-01 09:59] acjh commented on #2281
I found the answer by @hikalkan [here](https://stackoverflow.com/a/40594303):

[code]

[2017-07-01 13:09] scheshan commented on #2281
@acjh
Yes, I've tried and it works. Thank you very much!

[2017-07-01 18:37] #2281 closed

[2017-07-01 18:44] hikalkan commented on #2162
Yes, it should be like that. Current implementation is that: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web/Web/Localization/CurrentCultureSetter.cs
We will align it final logic in https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2103

[2017-07-01 18:55] hikalkan commented on #2279
It would be better to also ask this on StackOverflow (with aspnet, aspnetboilerplate and azure tags at least).

[2017-07-01 22:54] osoykan opened #2283 "UnitOfWorkInterception problem when use IDapperRepository<TEntity,TPrimaryKey>"
After investigating [this problem](https://github.com/aspnetboilerplate/aspnetboilerplate/pull/1854#issuecomment-312146166), it seems to related with Castle.Core's `Invocation.MethodInvocationTarget` on [UnitOfWorkInterceptor](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Uow/UnitOfWorkInterceptor.cs#L27). In some cases `Invocation.MethodInvocationTarget` comes nul

[2017-07-02 09:43] hikalkan commented on #2283
I haven't known that there is a ``GetConcreteMethod`` method. You can send it as PR. Thanks a lot.

[2017-07-02 09:49] osoykan commented on #2283
opened, https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2284

[2017-07-02 09:50] hikalkan commented on #2283
Thanks.

[2017-07-02 10:00] #2283 closed

[2017-07-02 23:20] KostasFM commented on #2216
Just created a new project from a template with MVC5.x and AngularJs. The problem is still there. Cannot find the method.

[2017-07-03 04:18] arnbunchen opened #2285 "In BackgroundJob injection IRepository cannot work?"
public class MockBackgroundJob:BackgroundJob<MockBackgroundJobArgs>, ITransientDependency
    {
        private readonly ICourseScheduleNotifier _courseScheduleNotifier;
        private readonly IRepository<TeacherProfile, long> _repository;
        public MockBackgroundJob(ICourseScheduleNotifier courseScheduleNotifier, IRepository<TeacherProfile, long> repository)
        {
            _courseSc

[2017-07-03 04:48] wocar commented on #2285
Wrap the statement with a unit of work or decorate your method with the
UnitOfWork attribute or use GetAllList method
El El dom, 2 de julio de 2017 a la(s) 11:18 p.m., Arn-Bun Chen <
notifications@github.com> escribió:

[2017-07-03 05:43] Worthy7 commented on #2266
So, If I make my test method virtual, [UnitOfWork] works?

[2017-07-03 05:47] hikalkan commented on #2266
No, because test classes is not created by dependency injection, so they can not be proxied.

[2017-07-03 05:58] Worthy7 commented on #2266
So is it not possible

[2017-07-03 06:26] maliming commented on #2266
take look this library [https://github.com/daniel-chambers/xunit.ioc](https://github.com/daniel-chambers/xunit.ioc)

[2017-07-03 06:57] coolshun opened #2286 "The project with ABP Zero run failed in docker of Visual Studio 2017。"
I created the mvc project with Zero form ABP -website,and add docker support by Visual studio 2017,and debug it with docker,then it throw a exception bellow.

//ABP_MPA\src\ABP_MPA.Web.Mvc\Startup\Startup.cs
public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
        {
            //Throw a exception on this line of code bellow.
            app.Use

[2017-07-03 07:21] hikalkan commented on #2219
Hi,

I tried to investigate it, but could not find any change that can cause your problem. Actually, I expect that your code should not work normally, so I wonder how it worked before.

One question: Do you tests run in parallel?

One test: Can you just run one unit test and check if ``_UnitOfWorkManager.Current`` is null on given points:

1. First line of TestSetup.
2. Last line of TestSetup.
3.

[2017-07-03 07:47] arnbunchen commented on #2285
@wocar  Thank you,according to your ideas, problem solved

[2017-07-03 07:51] #2285 closed

[2017-07-03 09:46] coolshun commented on #2286
I run another project without ZERO by the same way,it run well.

[2017-07-03 09:48] natiki commented on #2219
Hi Halil,

I will get that information to you ASAP when I am back in the office tomorrow. My guess is that the tests are running in paralell but I will have to check.

Why do you say that you don't understand how the code has worked before? Each test run is isolated so what is the problem?

[2017-07-03 10:16] MarsonShine commented on #2278
thank you for your help
i know what you mean
but,there are some cases where some of the fields in the class have to be consistent with the database.
so I think "int?"  is not appropriate
maybe I'll have to change my mind
thanks a lot

[2017-07-03 10:20] #2278 closed

[2017-07-03 10:28] levin9 opened #2287 "Linq does not support In queries. I want to extend DapperExpressionVisitor, but the implementation classes are internal and can ABP provide In queries?"
Linq does not support In queries. I want to extend DapperExpressionVisitor, but the implementation classes are internal and can ABP provide In queries?

------------------------
eg：

[code]

[code]

[2017-07-03 11:46] rcyq opened #2288 "MenuItemDefinition should accept IPermissonDependency"
Should [RequiredPermissionName](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Application/Navigation/MenuItemDefinition.cs#L43) accept IPermissonDependency instead of string?

So that multiple permissions can be supported

[2017-07-03 14:09] hikalkan commented on #2288
It would be good. I'm taking this as a feature request.

[2017-07-03 14:17] hikalkan commented on #2219
The problem is tricky and related to implementation of AsyncLocal by .net. If you want to know more, you can read this issue (https://github.com/dotnet/corefx/issues/8681) which I have some comments and code samples.

In brief, if you set an ambient value (to callcontext or asynclocal) and return from the method, the value has gone! You begin UOW inside TestSetup then returning from this method an

[2017-07-03 16:37] osoykan commented on #2287
@levin9,

That would be nice but, I generally use and advise pure sql queries in such cases, IMHO, we shouldn't load much burden to dapper linq based queries since we don't(and shouldn't) manage huge business in dapper. So, if you like, you can change this query as:

[code]

This won't hurt, but if you want to contribute/implement this approach it would be great anyway.

[2017-07-03 17:49] maharatha commented on #50
Any idea when we can expect this to implemented in ABP

[2017-07-03 18:01] newacc12 commented on #2277
@devsharper Yes I agree. In the case I described, "is being shown" and "can be deleted" use the same logic. My question is: Do I have to write the same code in two different places? One to be used on the UI and the other one on my Domain? Would I be able to share them somehow between domain/dto's/viewmodels?

@natiki Hum... I understand what you are saying but I don't get how to relate this to my

[2017-07-03 22:21] tom177y commented on #50
+1. Hope this can become a feature enahancement.

[2017-07-04 00:23] Worthy7 commented on #2266
Interesting. I don't have time at the moment but thanks for the reference.

[2017-07-04 02:27] levin9 commented on #2287
In the ABP 1.5 , we implemented it in your way,  and we think the framework is not friendly enough for soft deletion, multi tenant, and data access control support.
Later, to upgrade 2.1, in order to maintain consistency with EF and solve the 1.5 problem, we use single table LINQ to construct conditional queries.
We think that the overhead of conversion is small and the extension is convenient.
I

[2017-07-04 04:58] natiki commented on #2219
Hi Halil,

I have cross checked with our TeamCity (TC) integration and the tests are running sequentially using the NUnit 3 console runner as follows:

and the NUnit.xml config is as follows:

[code]

In all my discussions prior I was seeing the issue in TC only. I can however now also reproduce it when running the same tests from within the VS2015 IDE using R# NUnit runner. The big difference now

[2017-07-04 06:11] hikalkan commented on #2219
See this log:

[code]

UnitOfWork ``e2a65d08d65941c38ed9919e93abfc9e`` is somehow shared between ReleaseCabinHoldForCabinNumber and RequestCabinHoldForCabinNumber. TestTearDown of ReleaseCabinHoldForCabinNumber  has same UOW Id with TestSetup of RequestCabinHoldForCabinNumber.

[2017-07-04 06:13] osoykan commented on #2287
Could you expand a bit Dapper Work unit?

[2017-07-04 06:18] hikalkan commented on #2219
It's hard to solve this issue. But I will try to provide a workaround. This this:

Add this class to your unit test project:

[code]

Then replace ICurrentUnitOfWorkProvider by SingletonCurrentUnitOfWorkProvider in preinitialize of your test module:

[code]

(requires ``using Abp.Configuration.Startup;``).

But in that case tests must be run one by one, not in parallel.

[2017-07-04 06:36] natiki commented on #2219
It looked like it was being used across the same thread. Which is how it works I guess in a regular web app as each request is across a single thread, so you can associate the UoW with each thread.

My reading of it was that R# spins up a number of worker threads to process the tests and then uses each one of these in a round robin fashion to do the tests. AFAIK this is the same thing that MsBuild

[2017-07-04 06:51] hikalkan commented on #2219
Actually I could not figure out what change effected it. There are 176 commits since v2.0 (https://github.com/aspnetboilerplate/aspnetboilerplate/compare/v2.0.0...master).

Because CallContext/AsyncLocal UOW is still there. ABP does not start a new UOW (even you call UowManager.Begin) if there is a CallContext/AsyncLocal exists. Some questions:

* Is TestTearDown working even there is an exception

[2017-07-04 07:52] levin9 commented on #2287
I have this idea after I am fully acquainted with ABP

[2017-07-04 08:21] natiki commented on #2277
Hi @newacc12,

Not sure we are saying exactly the same thing. Lets assume you have a DTO as follows:

[code]

and a repository method PostsRepository.GetAll(SomeFileCriteria aSomeFilterCriteria) that has some pseudo code of:

[code]

So in your presentation layer you are only concerned with preparing the filter criteria and supplying that to GetAll(). So now lets say you have a new requirements wh

[2017-07-04 08:58] natiki commented on #2219
Hi Halil,

Realise there have been heaps of commits.... But anecdotally this feels like it is a problem that has come about with the 2.1.2 release.

As long as the Setup runs without error it is guaranteed to run https://github.com/nunit/docs/wiki/TearDown-Attribute

I don't know specifically, I assumed that was because of the preceding ABP exception. However I see there is an instance of it when

[2017-07-04 09:22] skseeker opened #2290 "Suggestion: IDapperRepository Execute & ExecuteAsync methods Return Value"
Hi, @osoykan @hikalkan

The Execute & ExecuteAsync methods are void.
Would you modify the return value of the two methods to return the dapper's return value.

[code]

[2017-07-04 12:03] natiki opened #2291 "ABP MVC with Forms Based Authentication - SQL Server connection error...."
Hi Halil,

Apologies for the long post, but I figured you would want to see all the various bits.

- Downloaded latest ASP.NET MVC (No Module Zero) with EF from website (which had ABP 2.0.2)
- Upgraded to 2.1.3 via NuGet in VS2017

I need to use the old forms based authentication with an existing database so I modified my web config to do that ending up with a web,config as follows after adding th

[2017-07-04 13:42] nikko1337 commented on #2277
I think I had a similar problem and I was not sure how to solve it. I will try to illustrate his example:

[code]

Now he wants to show the posts from a User let's say in a grid:

[code]

This looks good to me so far. But now he is saying he needs to do something on the view (like change a class or something) based on the logic of IsBeingShown() but that only exists on the Domain.

@newacc12 Pleas

[2017-07-04 14:49] zhaoqinglong commented on #165
thanks，i used this property in my project today

[2017-07-05 00:23] Worthy7 commented on #2274
This has occurred again. Even with my above fix. I observe the following:

My schedule runs only once, and reports in the log that 6 jobs are added.
Each job is to email a different person some different information.
Only one of the jobs are actually logged to have happened.
Yet I hear from people that they received their email, or duplicate emails, even though it wasn't logged.

This implies that

[2017-07-05 00:37] fengyeju commented on #2287
Linq for in queries? Can't it be used?
`var queryResult = from p in db.Products
where (new int?[] {1,2}).Contains(p.CategoryID)
select p;`

[2017-07-05 01:30] levin9 commented on #2287
@fengyeju ,Sorry, I used drapper, not EF.

[2017-07-05 01:57] rcyq commented on #2253
Hi @AlanFlaherty, for the sorting issue, are you using EF Core? Also, are you doing a projection for the query, for example ```.Select(e => new MyProjection(){ });```?

[2017-07-05 02:13] rcyq commented on #2253
Hi @ismcagdas , I faced the same issue also.

I think it could due to [`ReflectionHelper.GetAttributesOfMemberAndDeclaringType`](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/6076a126f975ea1721348f24c89ed7b44e9f2d6e/src/Abp/Reflection/ReflectionHelper.cs#L81) is using ` memberInfo.DeclaringType`.

Perhaps using [`MemberInfo.ReflectedType`](https://msdn.microsoft.com/en-us/library/sys

[2017-07-05 03:26] natiki commented on #2219
Hi Halil,

# 1. Because CallContext/AsyncLocal UOW is still there

But note the following:

[code]
At the beginning of **each** test we spin up a brand new UoW Manager so unless I am misunderstanding something you should "always" be starting a new UOW?

# 2. System.ArgumentOutOfRangeException

This was an exception on our end that was being internally handled. I have refactored our OzCruisingPlatf

[2017-07-05 04:48] Worthy7 commented on #2274
Just some more info.

I only have one w3wp.exe process, yet I can confirm with NetMon, that it is making multiple jobpoll requests to the database from withing what looks like one thread.

I changed my custom bg worker, to poll every 20 seconds, and it can be seen that there are at least 2 "pollers" working at the same time on this server.

I am trying to see if the base ABP bg worker does the sam

[2017-07-05 04:58] Worthy7 commented on #2274
I managed to reproduce the multiple worker problem by sending 1 email, which seems to have somehow spawned another worker (but not as a separate process). I can see this from the multiple on-time messages in NetMon.

I'm going to update Abp... and try Configuration.ReplaceService<IBackgroundJobManager,YourJobManager>()

[2017-07-05 06:21] maliming opened #2292 "Is there a possibility of using dependency injection in DbMigrationsConfiguration?"
[code]
Is there a possibility of using dependency injection in DbMigrationsConfiguration?

[2017-07-05 06:33] hikalkan commented on #2292
When you use "Update-Database" command from PMC obviously you can't use because ABP is not being initialized in this case.

[2017-07-05 07:04] maliming commented on #2292
thank you very much @hikalkan

[2017-07-05 07:04] #2292 closed

[2017-07-05 07:35] developer-power-ro commented on #1762
If the antiforgery cookie is not present shouldn't we ensure that the Jwt bearer token is present (authentication)?
At least one of jwt or xsrf token should be present in header or the attribute [ValidateAntiForgeryToken] will have no effect (the dev's will be unaware).

[2017-07-05 07:38] Worthy7 commented on #2274
Seems the same.
Something else interesting: IIS said my application was stopped. Yet something was still pinging my database every 20 seconds.

Btw, I am using the "AlwaysOn" setting for "startmode" in IIS because I am using Quartz.

[2017-07-05 08:08] Worthy7 commented on #2274
@hikalkan
I am fairly certain the problem is something to do with multiple application workers.
The first problem I would like to fix is that I cannot see any log output from these "dead" workers. Can you tell me how I would allow multiple workers to be able to write to the same log (IIS workers, not abp).
I assume DI isn't in effect because it is effectively a separate application running all in

[2017-07-05 08:22] devsharper opened #2293 "Package dependency conflicts about Abp.RedisCache"
Abp.RedisCache depends on StackExchange.Redis, but some packages from Microsoft depend on StackExchange.Redis.StrongName, like Microsoft.Web.RedisSessionStateProvider and Microsoft.AspNet.SignalR.Redis.

According to MS docs, these two packages have naming conflicts and can't be used at same time.

Would you consider to change denpedency to StackExchange.Redis.StrongName?

Thanks.

[2017-07-05 08:29] hikalkan commented on #2293
I suppose StackExchange.Redis.StrongName is strongly named version of StackExchange.Redis. We can change to StackExchange.Redis.StrongName if there is no disadvantage.

[2017-07-05 08:38] hikalkan commented on #1762
If the antiforgery cookie is not present then we already don't check antiforgery tokens. So, adding a second condition (jwt or xsrf token should be present) will not change it. Did I misunderstand it?

While it's used to make operation on behalf of the current use, you may also want to not allow a POST (a form post) from a web site other than your own.

[2017-07-05 10:23] natiki commented on #2291
Hi Halil,

I have worked around this by adding the following to my web.config:

[code]

after finding the following reference:

https://www.codeproject.com/Articles/637428/SimpleMembershipProvider-vs-MembershipProvider

However my question still remains. As I am not using Module Zero I am ultimately using the [NullPermissionChecker](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a706b

[2017-07-05 11:27] natiki commented on #2291
Hi Halil,

ABP is definitely affecting things here. As soon as I have a Forms Authentication based cookie viz .ASPXAUTH then no matter what the setting is for enabledSimpleMembership I get the exception:

Even after replacing AbpController I still get the exception. Looking at the current stack trace I still see AbpAuditing in there:

And also Claims based authentication which is based on [ASP Ide

[2017-07-05 14:44] martingagne opened #2294 "AbpHangfireAuthorizationFilter exists in both Abp.HangFire.AspNetCore, Version=2.1.3.0' and 'Abp.HangFire, Version=2.1.3.0'"
I am currently trying to setup Hangfire with Abp. I have Hangfire working, but I would like to enable authentication to the Dashboard. When trying to use the AbpHangfireAuthorizationFilter, I get the following error:

[code]

Am I missing something?

* Abp package version: 2.1.3
* Your base framework: .Net Core.

[2017-07-05 14:47] hikalkan commented on #2294
Use Abp.HangFire.AspNetCore and remove Abp.HangFire package. They are alternatives of each other and should not be used together.

[2017-07-05 15:17] mokezhuhy commented on #2282
Ok, I get it. Thank you.

[2017-07-05 15:17] #2282 closed

[2017-07-05 16:35] martingagne commented on #2294
That you Halil!

However, I just tried AbpHangfireAuthorizationFilter and I do not get prompted for a username and password. I logged out entirely and when I go to /hangfire I am never being asked for a username and password.

Am I missing something?

[code]

[2017-07-05 16:38] oceanho commented on #1751
I found another solution, but I do not know if it is suitable for use here .
[Microsoft's in-memory test provider](https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/in-memory)

[2017-07-06 05:34] ismcagdas commented on #2274
Hi @Worthy7,

Can you share the code for your Background Worker ?

[2017-07-06 09:33] ModernRonin commented on #2279
As per your request, continued on stackoverflow:

https://stackoverflow.com/questions/44945072/docker-publish-does-not-update-on-azure

[2017-07-06 09:33] #2279 closed

[2017-07-06 11:38] natiki opened #2295 "abp.js - Few small linting issues that should be cleaned up..."
Hi,

- ABP 2.1.3 MVC

Ideally the following should be cleaned up in abp.js as reported by http://eslint.org/. At a minimum the equality checking.

![image](https://user-images.githubusercontent.com/4738140/27909301-5f774ad2-6293-11e7-8afa-bdc51a8879bc.png)

[2017-07-06 11:51] ismcagdas commented on #2295
Thanks @natiki, we will do that :)

[2017-07-06 12:44] ModernRonin opened #2296 "https://aspnetboilerplate.com/ is down"
See http://www.isitdownrightnow.com/aspnetboilerplate.com.html

Seems to be a DNS issue, the name cannot be resolved.

[2017-07-06 13:46] ismcagdas commented on #2296
Hi @ModernRonin, yes we have a problem related to domain provider.
They are trying to solve it.

[2017-07-06 13:53] ebicoglu commented on #2294
you use **app.UseHangfireDashboard**() twice. Maybe that causes the problem.

[2017-07-06 14:36] bjscharf commented on #2296
It is back up for us right now

[2017-07-06 14:38] ismcagdas commented on #2296
Yes, @bjscharf, it is back to live now.
Thanks for reminding :). Closing the issue now.

[2017-07-06 14:38] #2296 closed

[2017-07-06 14:42] newacc12 commented on #2277
@nikko That's exactly what I meant. Thank you for  writing the examples down. I tried using the spec and it works except for the dto part. I was able to move the logic from IsBeingShown to a spec e apply that spec to queries and to check if a post object satisfies it in the deleted method. However I still don't know how could I share that logic to fill the boolean property on the dto to send to th

[2017-07-06 16:05] andreydil commented on #1702
I still experience the memory leak.
I updated all Abp libs from 1.5.1 to 2.1.3 and I see no changes. After some time of usage IIS process hits the 32 bit process limit. The last lines of `!dumpheap -stat` in windbg look like this:
[code]
Castle.Windsor version is 3.4.0

[2017-07-06 23:31] osoykan commented on #2201
PR is opened https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2297

[2017-07-06 23:31] osoykan commented on #2290
PR is opened https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2297

[2017-07-07 01:52] coolshun commented on #2286
I debuged the whole source code include ABP and Zero module,fined that DB connect string "Server=localhost; Database=ABP_MPADb; Trusted_Connection=True;" use "integrated security",it only supported in windows OS，in linux of docker it not supported.

[2017-07-07 03:19] natiki commented on #2219
Hi Halil,

I hope you have come up with something ;-). I am pretty much stuck in terms of what I can do on my end.

[2017-07-07 07:18] GerryGe commented on #2133
@akinix @maliming How do you debug now? I cannot still debug with Sourcelink or Symbols. 期待你们的回复！

[2017-07-07 07:32] natiki commented on #2277
@newacc12 Ok, let me see if I can clarify..... As you move content from the database you ultimately traverse as follows:

The specification only helps you restrict what you are returning from the database. How you construct the DTO is dependent on how you handle the presentation layer.

The decision of what to display in the presentation layer should be **loosely coupled**  to your domain layer. T

[2017-07-07 07:37] andreydil commented on #1702
@hikalkan any ideas?

[2017-07-07 07:41] ismcagdas commented on #1702
@andreydil Have you updated https://www.nuget.org/packages/Castle.Windsor.MsDependencyInjection/ nuget package as well ?

[2017-07-07 07:42] andreydil commented on #1702
I don't have that package installed and never had. The solution was created using ASP.NET Zero

[2017-07-07 07:45] ismcagdas commented on #1702
Do you use ASP.NET Core version or ASP.NET MVC 5.x ?

[2017-07-07 07:46] andreydil commented on #1702
ASP.NET MVC 5.x

[2017-07-07 08:07] ismcagdas commented on #1702
This fix was related to ASP.NET Core version.
Your problem is probably something different.

Have you investigated your problem with a third party tool ?

[2017-07-07 08:17] andreydil commented on #1702
Investigated with windbg, as I mentioned above

[2017-07-07 09:39] natiki commented on #1702
@andreydil What does profiling with https://www.jetbrains.com/dotmemory/ reveal?

[2017-07-07 09:56] akinix commented on #2133
@GerryGe
* i have a private nuget server by `ProGet`. `ProGet` include symbol server.
* build all abp sources.
* pack all nupkgs with `-Symbols` argument
* push them to private nuget server
* download packages from private nuget server. e.g `http://127.0.0.1/nuget/default`
* edit config `Debug`-`Symbols Source` in vs201x. add a new source link. e.g `http://127.0.0.1/symbols/Default`
then press `F1

[2017-07-07 09:59] reberinformatik opened #2299 "Add missings german/french translation for AbpWeb-de/fr.xml"
Just some translations for Abp version v2.3.0
See my pull-requests: https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2298 and https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2400

[2017-07-07 10:54] maliming commented on #2133
@GerryGe
Abp the next version can be debugging.
Sit and waiting...
#2251
[Nuget packages should include pdb files](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2251)

[2017-07-07 13:42] NuelNikhil opened #2300 "Multi tenant - Multi DB application throwing error while creating new tenant(with new DB) in Azure."
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Abp package version. - 1.0.0
* base framework: .Net Framework or .Net Core. .Net Framework - 4.5
* Exception message and stack trace if available.
[code]

[2017-07-07 13:47] ismcagdas commented on #2300
It seems like you cannot access the second db.
Can you check if it is created or not on Azure ?

[2017-07-07 18:52] guilmori opened #2301 "Suggestion: Entity modification audit"
I think it would be a valuable addition to ABP to have an audit of all modifications(create,update,delete) made to certain entities.
Something like this:
http://beeming.net/Post/2017/1/easily-adding-auditing-to-a-entity-framework-code-first-project

We could have attribute or marker interface to indicate on which entities we want to activate the audit.

A background job could purge the old audit r

[2017-07-08 06:47] martingagne commented on #2294
Thank you @ebicoglu! You're right, I have app.UseHangfireDashboard() twice... Thank you for the help!

[2017-07-08 06:47] #2294 closed

[2017-07-08 17:44] andreydil commented on #1702
@natiki dotMemory shows almost the same:
![dotmem](https://user-images.githubusercontent.com/6322131/27987875-86e25942-643f-11e7-9c35-a3cbdff6a832.png)
Not sure what table/diagram you want to see, so here is the full workspace (zip 270MB) https://www.dropbox.com/s/r5dr65w0ip65txv/memLeak.zip?dl=0
This time it work much less hours, so the numbers are lower.

[2017-07-09 03:58] natiki commented on #1702
@andreydil And the above is just from regular requests to your application? Nothing "special" happening so just typical HTTP request, retrieve some data from the database and display it?

[2017-07-09 05:17] andreydil commented on #1702
Yes. It's after a few hundred api requests that are just CRUD.

[2017-07-09 11:47] ModernRonin opened #2302 "Swagger & AbpAuthorize"
Hi,

I'm trying to find information on how to make the swagger integration include authorization info so that:
* generated clients automatically know about having to send the bearer token in the header
* the live documentation mentions for each call whether it needs authentication and if so, which permissions are required.

I looked at https://github.com/domaindrivendev/Swashbuckle.AspNetCore#add-

[2017-07-10 05:39] NuelNikhil commented on #2300
It is created successfully...

[2017-07-10 07:12] andreydil commented on #1702
So there are reads and writes.
@natiki what would you recommend to investigate?

[2017-07-10 07:14] GerryGe commented on #2133
@akinix Thanks, How can I get touch with you?

@maliming  Thanks too, I am working on abp v2.1.3, I cannot make decision to upgrade our abp, so I need workaround to debug,so I cannot waiting next version...

[2017-07-10 07:30] maliming commented on #2133
@GerryGe

[code]

![debug](https://user-images.githubusercontent.com/6908465/28007077-9a0da6ca-6584-11e7-931c-bf8eea1e385d.png)

[2017-07-10 07:40] maliming opened #2303 "How do I change the default implement of IoC?"
hi @hikalkan
my abp is v2.1.3

ITaskAppService has two implementations, do not know how to switch the default implementation according to the conditions.
[code]

Now I've found a way to implement it, but it's registered too much. Do you have any good way?
[code]

[2017-07-10 07:42] Worthy7 commented on #2274
`using Abp.BackgroundJobs;
using Abp.Dependency;
using Abp.Events.Bus;
using Abp.Events.Bus.Exceptions;
using Abp.Threading;
using Abp.Threading.Timers;
using Abp.Timing;
using Newtonsoft.Json;
using System;

namespace NewMyProject.Core.BackgroundJobs
{
    public class using Abp.BackgroundJobs;
using Abp.Dependency;
using Abp.Events.Bus;
using Abp.Events.Bus.Exceptions;
using Abp.Threading;
using

[2017-07-10 07:42] Worthy7 commented on #2274
[code]

[2017-07-10 07:45] Worthy7 commented on #2274
So, This has happened again. I cannot understand why at all. My implementation even stops it from grabbing multiple jobs - just in case- by setting the NextTryTime to infinity.
This morning's emails were sent fine, yet this lunch time's emails were sent duplicates, almost exactly 5 seconds apart. EVEN THOUGH my job worker is set to poll every 20 seconds.

[2017-07-10 07:49] Worthy7 commented on #2274
Ok BREAKTHROUGH?

These lines in my log:

[2017-07-10 07:50] ismcagdas commented on #2300
I assume you are using Entity Framework 6.x.
If so, can you apply changes in this title https://aspnetboilerplate.com/Pages/Documents/EntityFramework-Integration#transaction-management and see if it works.

[2017-07-10 08:18] rcyq opened #2304 "EntityNotFoundException handling in DefaultErrorInfoConverter"
Abp 2.1.3 -> Asp Net Core

Currently in [DefaultErrorInfoConverter](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/master/src/Abp.Web.Common/Web/Models/DefaultErrorInfoConverter.cs#L83), `EntityNotFoundException ` is handled by assuming that the EntityType is being set by the constructor. However, when other constructors of `EntityNotFoundException` is used and EntityType is not set,

[2017-07-10 08:35] natiki commented on #1702
@andreydil my read of the above is that you have some UoW that are not being released. As they are supposed to be transient I would expect to see nothing in the heap. So if possible can you restrict this to only reads and see if that makes a difference? And can you post some code so we can have a look at what you are doing?

[2017-07-10 08:37] ismcagdas commented on #2303
Hi @maliming,

With Castle Windsor, using IsDefault is the only way as far as I know.
But, in ABP you can also use ReplaceService to change implementation before classes are registered for DI https://aspnetboilerplate.com/Pages/Documents/Startup-Configuration#replacing-built-in-services

[2017-07-10 08:41] ismcagdas commented on #2274
Hi @Worthy7,

I'm not sure if it is related but all _store.UpdateAsync's are called async instead of sync.
Can you change it and try again ?

Thanks.

[2017-07-10 08:43] ismcagdas commented on #1702
@andreydil, Do you have any dependency manually resolved ? Maybe, you forgot to release them, is that possible ?

[2017-07-10 09:10] Worthy7 commented on #2274
I could but think about it, it will then get all the jobs, then update each one and wait whist it updates. The idea behind this was to quickly flag all the jobs as "being dealt with", if I change it to sync it will of course run slower which is the opposite of what I need.
Either way it doesn't seem to matter, with or without this, the program is somehow sending another email almost exactly 5 seco

[2017-07-10 09:13] maliming commented on #2303
If want to modify the already injected, it seems that only re-registered.
thanks @ismcagdas

[2017-07-10 09:18] GerryGe commented on #2133
@maliming I still cannot debug, do you have some settings?
Below is my settings and some steps:
![image](https://user-images.githubusercontent.com/6952917/28010751-81883ada-6592-11e7-82f7-49922fad67b1.png)
![image](https://user-images.githubusercontent.com/6952917/28010803-aa72d4a0-6592-11e7-89ea-509cd0d18424.png)

![image](https://user-images.githubusercontent.com/6952917/28010774-90ef2f2e-6592-1

[2017-07-10 09:21] GerryGe commented on #2133
![image](https://user-images.githubusercontent.com/6952917/28011196-1784f98c-6594-11e7-83f6-c743bc96fb50.png)

[2017-07-10 09:25] maliming commented on #2133
![111](https://user-images.githubusercontent.com/6908465/28011290-67b32186-6594-11e7-97b0-18c7f92363ea.png)
![222](https://user-images.githubusercontent.com/6908465/28011293-6adfabd6-6594-11e7-8c76-5ea2dbae43a1.png)

output:
'iisexpress.exe' (CLR v4.0.30319: /LM/W3SVC/2/ROOT-1-131441522092039718): Loaded 'C:\Users\malim\AppData\Local\Temp\Temporary ASP.NET Files\vs\a546c73b\99231f5a\assembly\dl3\8

[2017-07-10 09:30] Worthy7 commented on #2274
Btw, from the log file this means that the duplicate emails are being processed by the same thread.

[2017-07-10 09:33] GerryGe commented on #2133
I don't know why I cannot  find or open the PDB file, may I miss some steps?

![image](https://user-images.githubusercontent.com/6952917/28011677-ba5b78c4-6595-11e7-9546-3c73fe31cd59.png)

[2017-07-10 09:39] GerryGe commented on #2133
@maliming
![image](https://user-images.githubusercontent.com/6952917/28011910-9bae90ae-6596-11e7-936c-b49909d4bf0c.png)
![image](https://user-images.githubusercontent.com/6952917/28011935-b066d9d4-6596-11e7-8350-bea0dd0a2154.png)

[2017-07-10 09:56] ismcagdas commented on #2301
There is a similar issue here https://github.com/aspnetboilerplate/aspnetboilerplate/issues/447

[2017-07-10 10:01] Worthy7 commented on #2274
More log. This is the problem not happening until lunch time today:

[2017-07-10 10:06] Worthy7 commented on #2274
@hikalkan could this have anything to do with a caching problem? For example on my production server, could this job info be getting cached and reread? Or something?

[2017-07-10 11:51] NuelNikhil commented on #2300
Yes... will do...

[2017-07-10 11:58] natiki commented on #1702
@andreydil IocManager.ResolveAsDisposable<> or similair.

[2017-07-10 12:09] natiki commented on #2291
Sorry to press, but..... @hikalkan, @ismcagdas Any chance of some help here? I really need to get this working in the next couple of days.

[2017-07-10 17:41] guilmori commented on #2301
Wow, 2 years old.
If you don't have time to implement this, maybe you could at least add an IAuditStrategy hook.
Your default implementation would do nothing.
We could implement this interface ourselves to do our audit stuff.
The method would receive as params the DbEntityEntry, on which we could query the Old and Current values.

I tried to use an EntityChangingEventData<> handler, but the SaveCh

[2017-07-10 23:12] tom177y commented on #2301
This is conflicting with the abp documentation:
https://aspnetboilerplate.com/Pages/Documents/EventBus-Domain-Events#entity-changes

It says, 'ing' events (ex: EntityUpdating) are triggered before saving changes. So, you can rollback the unit of work to prevent the operation by throwing exceptions in these events.

[2017-07-10 23:22] guilmori commented on #2301
The unit of work (transaction) is still active and can be undone. But the SaveChanges() has been called, which reset the change tracker state.

[2017-07-11 00:42] Worthy7 commented on #2274
Today, 4 emails were sent to each person, in my log email jobs were created and obviously executed, but none of them were logged. This is very strange and suggests zombie processes which cannot log to the file.

This seems to only be happening with jobs created by the scheduler btw.

Using network monitor I can clearly see at least 3 workers are pinging my database concurrently.

I think this is e

[2017-07-11 04:56] #2303 closed

[2017-07-11 07:26] ismcagdas commented on #2274
Hi @Worthy7,

Does your test & prod servers (operating system, IIS) have same configurations ?
If we can reproduce this problem on your test server, it will be easier to identify your problem.

[2017-07-11 07:39] rcyq commented on #2304
@ismcagdas will the constructor of `EntityNotFoundException (string message)` remain supported?

[2017-07-11 08:48] Worthy7 commented on #2274
They are exactly the same, except the hostname is different and their db IP address is different.
Of course, I have been trying to reproduce this forever but I just cannot work it out.

It is something to do with the recycle process in IIS causing things to go bad. I have identified a possible pattern from event logs:

1) Deploy (event ID 27001)
2) Next worker tries to recycle (29 hours thing) ( E

[2017-07-11 08:48] Caskia opened #2305 "Hangfire.AspNetCore IsJobExecutionEnabled not work"
Hi,
   I found out IsJobExecutionEnabled can not control application execute jobs. Do you have any idea to support this function?

[2017-07-11 10:06] Worthy7 commented on #1554
Is there a better solution for this? For example a way to write our own Attribute which extends Abp's versions?

These messages are literally the only thing filling up my logs - with all the stacktraces etc.
Or could this be a configurable option?

[2017-07-11 10:24] Caskia commented on #2305
Rewrite UseHangfireServer() method
[code]

[2017-07-11 11:54] natiki opened #2306 "Castle.Core 3.3.3 or 4.1.0 for ABP 2.1.3"
Hi,

- Net Framework, MVC, EF
- ABP 2.1.3

I just pulled the latest project template from the website and after upgrading all the 3rd party packages I notice that Castle.Core is at 3.3.3:

![image](https://user-images.githubusercontent.com/4738140/28067132-516a80d2-6683-11e7-9d81-72162d6cb818.png)

What is the status in terms of updating to 4.x? Is ABP still performing validation of this new relea

[2017-07-11 13:45] cuibty commented on #2306
![123](https://user-images.githubusercontent.com/12811343/28071334-3589d9ae-6682-11e7-857f-20594d20b3c1.png)

[2017-07-12 00:30] maliming commented on #2306
Castle Windsor 3.4.0

[code]

[2017-07-12 01:00] Worthy7 commented on #2274
After much more investigation, it seems whatever is pinging the database looking for jobs is the same process and possible the same thread (TID = 0, so I guess it's the same).
This means that there is a bug inside my app somewhere/abp and it dosen't seem like IIS has a problem even though it is reporting errors.

I used ProcessMonitor and analyzed the events for presumably reading the database at

[2017-07-12 01:06] Worthy7 commented on #2274
I feel this may be something related to WebDeploy events.
I would like to know if there is a chance this could be causing some kind of duplicate schedule/worker to run inside Abp:
http://docs.hangfire.io/en/latest/deployment-to-production/making-aspnet-app-always-running.html
Hangfire link, but the point is that IIS can "start" soemthing from within the app.
I don't see a IProcessHostPreloadClient

[2017-07-12 03:41] Worthy7 opened #2307 "ApiControllers UoW issue in 2.0=>2.1.3"
Non of my API (normal or dynamic or odata) requests work anymore after updating to 2.0=>2.1.3

ERROR 2017-07-12 11:46:09,727 [29   ] nHandling.AbpApiExceptionFilterAttribute - メソッドが見つかり
ません: 'Abp.Domain.Uow.UnitOfWorkAttribute Abp.Domain.Uow.UnitOfWorkAttribute.GetUnitOfWorkAttributeOrNull(System.Reflection.MemberInfo)'
System.MissingMethodException: メソッドが見つかりません: 'Abp.Domain.Uow.UnitOfWorkAttribu

[2017-07-12 08:18] natiki commented on #2307
@Worthy7 Do you get an exception message? I cannot read the Chinese but wonder if this is related to #2219.... As I have a feeling something went wrong in the UoW in 2.1.x.

[2017-07-12 08:20] #2241 closed

[2017-07-12 08:27] NuelNikhil commented on #2300
HI... I have downloaded a new template from  https://aspnetboilerplate.com/Templates and connected it to Azure. But I get this below-mentioned exception on creating a new Tenant

[code]

[2017-07-12 09:11] Worthy7 commented on #2307
Not on the client side. It just says it can't find the method Abp.Domain.Uow.UnitOfWorkAttribute

[2017-07-12 10:52] ismcagdas commented on #2304
@rcyq, I suppose it will be.

[2017-07-12 12:12] marjezhang opened #2308 "DisableFilterGlobally"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

### Stack Overflow

Please use Stack Overflo

[2017-07-12 13:06] natiki commented on #2308
@marjezhang Disable what filter globally? You also need to provide version information as indicated otherwise helping you is a little difficult as there are numerous ABP versions out in the field,

[2017-07-12 14:35] brzuck opened #2310 "How to log-in without a password, using only username?"
I need to force log-in a user in some situations using only the username. Is it possible to do this?

I'm using ABP 0.8.4 with module zero.

Thank you

[2017-07-12 15:19] devsharper commented on #2125
@hikalkan
I didn't notice this enhancement until just now, is this the reason why custom generic repository can't be registered automatically?  #2280
I think repositories should be exceptional of this convention obviously.

[2017-07-12 16:19] Caskia opened #2311 "Load web common's localization file fail!"
Hi,
    When load web common's localization file, there is a error path in code.

Exception:
[code]
Error Path
[code]

Should be
[code]

[2017-07-12 16:23] Caskia commented on #2310
You can add LoginAsUser method.

[code]

[2017-07-12 17:34] vdurante opened #2312 "Empty validation messages on AppServices"
I am getting  empty validation messages when I try to submit an invalid value to an AppService. Idk if this is expected behavior

[code]

[code]

[code]

# Swagger input
[code]

# Swagger output
[code]

# EDIT

I have spent hours debugging. Apparently, the issue is caused by a malformed json, which causes an exception such as `Newtonsoft.Json.JsonReaderException: 'Could not convert string to doubl

[2017-07-13 00:57] Worthy7 commented on #2274
ERROR 2017-07-13 08:00:06,517 [ker-1] Abp.Quartz.Quartz.AbpQuartzJobListener   - Job NormalMorningScheduledJob failed with exception: Parameters: refire = False, unscheduleFiringTrigger = False, unscheduleAllTriggers = False
 Quartz.JobExecutionException: Job threw an unhandled exception. ---> Quartz.SchedulerException: Job threw an unhandled exception. ---> System.Reflection.TargetException: 非静的メ

[2017-07-13 04:18] malaikuangren opened #2313 "Wiki Document Issue (Http verb workaround. package reference issue.)"
I found there is a document issue. Please read below.
In the [Dynamic Web API Layer](https://aspnetboilerplate.com/Pages/Documents/Dynamic-Web-API)
As doc put .

But in my experience. I only add the reference to the System.web.http packge . This works for me.

Please let me know if there is anything missed. Thanks.

[2017-07-13 05:39] #2304 closed

[2017-07-13 06:00] ismcagdas opened #2314 "Use derived service name in audit logs for CrupAppServices"
This is suggested in forum topic https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=9559

[2017-07-13 06:01] hikalkan opened #2315 "Replace Fortress.Windsor by Castle.Windsor 4.0"
Castle.Windsor 4.0 now supports .net standard!

[2017-07-13 07:09] Jesn commented on #2169
@osoykan
when i add dapper to my website ,the error is ,
System.MissingMethodException: "cannot find the method:" Void Abp.Domain.Uow.IUnitOfWorkDefaultOptions.set_IsTransactionScopeAvailable (Boolean)"."

What should I do?

[2017-07-13 07:43] osoykan commented on #2169
@Jesn, I think it is related with your target .net framework. If it is not 4.6 (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Dapper/Dapper/AbpDapperModule.cs#L14) will be a problem.

[2017-07-13 08:47] hikalkan commented on #2313
Thanks a lot. We will try and fix it.

[2017-07-13 09:11] Caskia commented on #1971
@evannielsen you can do it with cookie authentication middleware.

#### ApplicationBuilder
[code]

#### HangfireDashboardAuthorizationFilter
[code]

[2017-07-13 09:37] xiaoyc opened #2316 "Upgrade ABP 2.1.3 has problems."
it's working fine with ABP. 2.1.2 , but after i upgraded to ABP 2.1.3 , it build failed with below error.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'Component' exists in both 'Castle.Windsor, Version=4.0.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' and 'Fortress.Windsor, Version=0.5.274.0, Culture=neutral, PublicKeyToken=null'	SuperCMS.Tests	E:\

[2017-07-13 11:27] Worthy7 commented on #2274
I Uninstalled quartz and went for an API-TaskScheduler solution.
I can however say that STILL something fishy is happening.
This happends:

When I request, things are written in the log by that request thread. Then the worker which picks up the email job created also writes in the log.
When I request, things are written in the log by that request thread. But when the worker which picks up the emai

[2017-07-13 11:32] Worthy7 commented on #2274
@hikalkan Please explain how logging works between threads.... I really don't understand. Can multiple processes/workers/threads all write to one file or do they all lock and unlock it very quickly?

[2017-07-13 12:19] #2290 closed

[2017-07-13 12:19] hikalkan commented on #2290
resolved with https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2297

[2017-07-13 14:02] hikalkan commented on #2306
This will be resolved when we solve this one: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2315

[2017-07-13 14:02] #2306 closed

[2017-07-13 15:48] guilmori commented on #2301
Here is my implementation:

https://gist.github.com/guilmori/94433da9e2ba8aafc8b56933d9f41133

[2017-07-14 02:27] Caskia opened #2317 "Abp.SignalR websocket transport can not work with net core project"
There is a hack to sovle this problem.

[2017-07-14 02:57] Worthy7 commented on #2274
I created a very detailed log of events. Including JobId's from the database.
It suggest the following.

1) The problem is always resolved by a AppPool recycle.
2) There are cases of both scheduler and worker not being able to write to the log. Otherwise this would be easier.
3) There are cases of multiple schedulers operating. JobId's were 2x or 3x yet the scheduler only logged 1 event.
4) There

[2017-07-14 06:32] hikalkan commented on #2316
This is a problem of Visual Studio's nuget update system. While these packages are conditionally included, Visual Studio breaks conditionally includes when you upgrade nuget packages.

If you are using .net core then you can remove Castle.Windsor dependency from your project (edit .csproj file) or vice verse.

[2017-07-14 06:37] hikalkan commented on #2317
We are currently not using AspNet Core SignalR (https://github.com/aspnet/SignalR) because it's not stable released yet (it's in preview: https://github.com/aspnet/SignalR/releases).

[2017-07-14 06:57] hikalkan commented on #2312
What is your ABP package version?

[2017-07-14 07:00] hikalkan commented on #2125
Generic repositories are not registered by convention, they are registered explicitly. So, this issue is not related to #2280.

[2017-07-14 07:03] #2308 closed

[2017-07-14 07:08] hikalkan commented on #2307
Abp.Domain.Uow.UnitOfWorkAttribute is a class, not method. Have you solved the problem?

[2017-07-14 07:12] Caskia commented on #2317
I know, but Abp.SignalR use Microsoft.AspNet.SignalR.Core. The solution is work for Microsoft.AspNet.SignalR.Core, just in aspnet/SignalR project's issues.

[2017-07-14 07:32] hikalkan commented on #2317
OK. Then we will check it.

[2017-07-14 11:02] vdurante commented on #2312
I tested on both 2.1.2 and 2.1.3

On Jul 14, 2017 3:57 AM, "Halil İbrahim Kalkan" <notifications@github.com>
wrote:

[2017-07-14 11:11] hikalkan commented on #2312
OK, we will try this and enhance error message if possible.

[2017-07-14 14:36] hikalkan opened #2318 "Allow to write additional logic while looping changed entities in dbcontext for EF."
This is currently possible, but we will split ApplyAbpConcepts and other methods into smaller virtuals so developer can override and add extra logic.

[2017-07-14 17:04] harryhopkins opened #2319 "Prioritize SlidingExpiration over AbsoluteExpiration in MemoryCache"
We are currently using MemoryCache for our caching layer.  Here are the specs for our app.

* Abp package version: 2.0.2.
* Base framework: .Net Core.

We are using a mixture of Sliding and Absolute expiration settings depending upon the specific cache.  So we have default Absolute and Sliding values, but allow for these values to be overridden in code.
 Looking at the [AbpMemoryCache.cs](https://

[2017-07-14 22:23] ModernRonin opened #2320 "QUESTION: AppServices and resource-style parameters"
Hi,

if I want my API to be accessible like this:
[code]

how would I write the corresponding Delete() method in `SomeAppService`?
if I write
[code]
then it expects id as a query-parameter, like
[code]

Many thanks,
Max

PS: I would very much like to avoid having to manually write a controller which uses the app service internally...

[2017-07-14 22:54] vdurante commented on #2312
I can do that myself and make a pull request if you want, as far as you
point which file I should eddit. I tried debugging it through Abp source
code and couldn't find the best place to do so. Since it is not a
validation exception I got lost and gave up.

Ty

On Jul 14, 2017 8:11 AM, "Halil İbrahim Kalkan" <notifications@github.com>
wrote:

[2017-07-15 01:14] natiki commented on #2219
Hi Halil,

Have you got any insights for me? I am facing a difficult decision here of replacing all our unit tests with a different approach when it comes to interacting with the database as I still have no tests I can rely on.

[2017-07-15 01:15] natiki commented on #2291
Can anyone point me in the right direction here?

[2017-07-15 05:33] natiki commented on #2320
What does your RouteConfig look like?

[2017-07-15 11:00] ModernRonin commented on #2320
I changed nothing about routing from the downloadable template (I picked the Core variant).
I was under the impression there's no need if I'm writing `IApplicationService`s and am happy with the default paths/urls generated.

[2017-07-15 13:15] maliming commented on #2320
then it expects id as a query-parameter, like
[code]

[2017-07-15 15:06] cnmnm opened #2321 "WebApi request 401 httpcode is automatically redirected to the login page."
### Github Issues
I use Web.Host to publish WebApi applications.
I launched an unauthorized request on purpose.
WebApi request 401 httpcode is automatically redirected to the login page.
My Web.Host does not exist on the login page.
So I didn't get 401 code, but 404 code.
How can I get the first 401 response?

* Abp package version:2.1.3.
* Base framework: .Net Core.
Also, some classes want to ove

[2017-07-15 16:47] cnmnm opened #2322 "Error using Protobuf as data transport format."
### Error using Protobuf as data transport format.

* Abp package version:2.1.3.
* .Net Core.

`public static void AddProtobuf(this MvcOptions options)
        {
            options.OutputFormatters.Add(new ProtobufOutputFormatter());
            options.InputFormatters.Add(new ProtobufInputFormatter());
        }`
I tried to use Protobuf as the WebApi transport format. The response output is norm

[2017-07-15 20:32] hikalkan commented on #2311
@alirizaadiyahsi can you write a unit test to see if it's working and make this change if necessary.

[2017-07-15 20:34] hikalkan commented on #2267
It was long to read, shall I close this if it's OK?

[2017-07-15 20:39] hikalkan commented on #2219
@natiki we discussed that much and still trying to find a way but the approach you are trying (making test methods UOW by default and rollback the transaction) is not the way we design it. Also could not find what causes the problem from v2.0 to v2.1.3. If you like, you can send your solution to me (and define how can I run it) so I can debug tests to understand it.

[2017-07-15 20:40] hikalkan commented on #2201
completed by https://github.com/aspnetboilerplate/aspnetboilerplate/pull/2297 thanks @osoykan

[2017-07-16 04:10] mattkylix opened #2323 "Error in Abp.EntityFramework.Uow.EfUnitOfWork.SaveChanges()"
The method "ForEach" in Castle.Core.Internal.CollectionExtensions has been removed from Version 4.0, but Abp.EntityFramework.Uow.EfUnitOfWork.SaveChanges () is still calling this method, causing an exception to be thrown.

[2017-07-16 05:58] #2322 closed

[2017-07-16 08:18] oldrev commented on #2323
Can you publish a hotfix version for .NET Framework build?

[2017-07-17 05:17] natiki commented on #2291
@hikalkan Can you point me in the right direction here?

[2017-07-17 07:12] hikalkan commented on #2323
It should not be problem for Abp.EntityFramework since it only supports .net framework 4.6 and uses Castle.Core 3.3.0. Also, it should not be possible to upgrade to Castle.Core 4.0, did you upgrade it?

[2017-07-17 07:15] #2323 closed

[2017-07-17 07:18] hikalkan commented on #2321
Are you using AspNet Zero (https://aspnetzero.com) or free template?

[2017-07-17 07:19] hikalkan commented on #2320
You can try to add [Route] attribute to your method.

[2017-07-17 07:21] hikalkan commented on #2312
I'm not sure. What I think is that ASP.NET MVC's model binding creates the error message for the parameter.

[2017-07-17 08:05] hikalkan commented on #2319
If you set DefaultAbsoluteExpireTime to null (it's already null by default) then cachePolicy.SlidingExpiration is set. Notice that you can set this value per cache. Example:

[code]

[2017-07-17 08:30] oldrev commented on #2323
Yes, i did upgrade to Castle.Core 4.0, everything seems working fine but this one.

[2017-07-17 08:32] hikalkan commented on #2323
What's you Abp package version?

[2017-07-17 08:34] oldrev commented on #2323
2.1.3

[2017-07-17 08:37] hikalkan commented on #2323
I suppose this is because Castle team release new packages.
I suggest you to downgrade to Castle.Core 3.3.3 until we release Abp v2.2.

[2017-07-17 08:40] oldrev commented on #2323
Indeed, i rolled it back to 3.3, thanks anyway.

[2017-07-17 09:55] MaiReo opened #2324 "QUESTION:After which version of Abp is supporting show the dynamic api controller in swagger ui?"
Abp package version : 0.7.6
base framework : .Net Framework 4.5.2
Swashbuckle.Core.Net45 package  version : 5.2.1 (or Swashbuckle.Core package version : 5.6.0)
WebApiModule class
`
[DependsOn(typeof(AbpWebApiModule), typeof(ApplicationModule1), typeof(ApplicationModule2), typeof(ApplicationModule3), typeof(ApplicationModule4), typeof(ApplicationModule5))]
   public class AbpZeroTemplateWebApiModul

[2017-07-17 10:29] cnmnm commented on #2321
using free template.

[2017-07-17 10:39] hikalkan commented on #2321
OK, will test it and understand the reason.

[2017-07-17 10:49] #2253 closed

[2017-07-17 11:42] hikalkan commented on #2288
Closed by  #2289. Thank you @rcyq.

[2017-07-17 11:42] #2288 closed

[2017-07-17 12:27] #2315 closed

[2017-07-17 12:49] hikalkan commented on #2280
Why do you need to define RepositoryBase and IRepositoryBase? They are not needed, but just makes it complicated. Remove these first.

In addition;

* Derive ``MainRepository<TEntity>`` from ``MainRepository<TEntity, TPrimaryKey>``.
* Derive ``IMainRepository<TEntity>`` from ``IMainRepository<TEntity, TPrimaryKey>``

If it's possible, can you do same for a new startp template (from https://aspnetb

[2017-07-17 12:53] hikalkan commented on #2274
@Worthy7 do you have a web farm where multiple instances of the application works?

[2017-07-17 12:54] #2267 closed

[2017-07-17 13:56] #2201 closed

[2017-07-17 15:32] brunobertechini commented on #1768
Hi there, hit the same problem but I have two dbcontexts each in its own module/project. Do I need to enable it for both modules (MainModule form Abp and my Custom ECoreModule ) ?

[2017-07-17 15:34] brunobertechini commented on #1706
I couldnt find this interface on EntityFrameworkCore namespace.

Is it the same for dotnetcore ?

Bruno

[2017-07-17 15:36] brunobertechini commented on #1706
NEver mind, for efcore we need to add the 'core' suffix

` Configuration.ReplaceService<IEfCoreTransactionStrategy, DbContextEfCoreTransactionStrategy>(DependencyLifeStyle.Transient);`

[2017-07-17 15:47] brunobertechini commented on #1768
@hikalkan would you please shed some light, im struggling with this.

None of the solutions above have worked for me.

Here is my structure:

Default AspNetZero project created so I have Erp.EntityFrameworkCore project
Project set for custom module: Core/App/EFCore/WebCore.

For the record I have created the same structure for EFCore module. With a single DbContext everything works fine. When  I U

[2017-07-17 15:49] brunobertechini commented on #1768
My Abp Version is 2.1.3

[2017-07-17 16:08] cnmnm commented on #2321
I tested the reason for using IdentityServer.

[2017-07-17 16:25] brunobertechini opened #2325 "Error using two DbContexts from same AppService Method (dotnetcore)"
Hello there. Im having the same problem from #1706 but none of the solutions from that issue solved my problem. I have posted same question there, but I've decided to open a new issue since that one is already closed.

* Your Abp package version: 2.1.3
* Your base framework: .Net Framework or .Net Core: .Net Core
* Exception message and stack trace if available:
[code]
@hikalkan would you please s

[2017-07-17 16:31] brunobertechini commented on #2325
I believe it is something related to the DbContextEfCoreTransactionStrategy using the connection string as source key from its dictionary:

[code]

Does this mean that we must have different conn string per dbcontext? Not only the name?

Right now Im using same conn string since both dbcontext lies on the same physical database.

[2017-07-17 16:46] nikko1337 commented on #2277
Thanks for the input. I will think about this.

[2017-07-17 16:50] brunobertechini commented on #2325
Another thing i have noticed is:

In my customservice EFCoreModule when I add my custom dbcontext, configuration have always the main abp connstring instead of my customservice:

[code]

[2017-07-17 17:14] brunobertechini commented on #2325
Just a heads up, even specifying the conn string manually on above method, same error occurs.

Hit the wall again :(

Bruno

[2017-07-17 18:04] brunobertechini commented on #2325
I will giveup for now.

One more info only: The DbContextOptions for my customservices comes with ExistingConnection pointing to Abp connection (main dbcontext) not the specific connection.

Waiting for instructions :)

Bruno

[2017-07-18 00:10] Worthy7 commented on #2274
No. It's just one IIS 8 server, with just 1 thread, 1 app pool.

[2017-07-18 00:15] Worthy7 commented on #2307
Nope, and sorry my mistake, it says that it cannot find the method:
Abp.Domain.Uow.UnitOfWorkAttribute.GetUnitOfWorkAttributeOrNull(System.Reflection.MemberInfo)

[2017-07-18 05:16] Klainer opened #2327 "ABP 401 response from api insted of redirect"
I have the same problem like is mentioned there:[https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=4865]( https://forum.aspnetboilerplate.com/viewtopic.php?f=5&t=4865) , but I have ABP 2.1 with module-zero core template. I´m using Web.Mvc project as my startup project and I want to make api calls.

When i try to perform request to API I got this 200 OK response but I would expect 401. Where

[2017-07-18 05:57] hikalkan commented on #2327
I suppose this is similar to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2321

[2017-07-18 06:01] hikalkan commented on #2307
GetUnitOfWorkAttributeOrNull is removed from UnitOfWorkAttribute: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Domain/Uow/UnitOfWorkAttribute.cs
Be sure that you have upgraded Abp.Web.Api package to the latest version too. Also check if there is an old package.

[2017-07-18 06:13] gentledepp commented on #88
I just read a bit about that topic (CQRS and Rest)
Jimmy Bogard has a very interesting explanatory post about designing REST interfaces for CQRS here:
https://lostechies.com/jimmybogard/2016/06/01/cqrs-and-rest-the-perfect-match/

It looks to me as if this had quite an impact on the IApplicationService stuff of abp.
At least we'd need quite a bit more control over the API surface that the DynamicA

[2017-07-18 07:22] hikalkan commented on #2311
Could not repeat the problem. See unit test: https://github.com/aspnetboilerplate/aspnetboilerplate/commit/3f5ad92257af1eb05e317fd7784bff6d549471c8#diff-6067e1d3df51b37fee37d8a985c3da47R22
Which version you're using? Also, maybe your default language and current languages are not english and not localized.

[2017-07-18 07:22] #2311 closed

[2017-07-18 08:28] hikalkan commented on #2251
PDF files are accidently added to the projects. Hide them.

[2017-07-18 09:59] devsharper commented on #2280
@hikalkan
I didn't use official template before, my RepositoryBase class just like the abstract XxxRepositoryBase in template.

I tried in template project again, problem still exist.

See attach, start from HomeController of Web project.

[CustRepoTest.zip](https://github.com/aspnetboilerplate/aspnetboilerplate/files/1155437/CustRepoTest.zip)

[2017-07-18 10:38] #2162 closed

[2017-07-18 11:20] hikalkan opened #2331 "Remove PDB files from projects"
After implementing #2251 now PDB files are in the solution explorer. They should not be a part of projects.

[2017-07-18 11:20] #2251 closed

[2017-07-18 11:39] natiki commented on #2219
Hi Halil,

Appreciate that. I am working on a cut down project that replicates the issue as I cannot ship the entire solution to you as it is too big.

[2017-07-18 11:42] alirizaadiyahsi commented on #2176
Unfortunately, we can not repeat the error. So I am closing this issue. When you find the exact reason, then you can reopen this issue.

[2017-07-18 11:42] #2176 closed

[2017-07-18 11:50] hikalkan commented on #2280
The sample you sent is just works:

![image](https://user-images.githubusercontent.com/1210527/28315652-131f6e2e-6bc8-11e7-809f-0d921289d7a7.png)

What I have done:

* Enabled ``AutoRepositoryTypes...`` attribute on CustRepoTestDbContext
* Added ``public virtual IDbSet<User> Users { get; set; }`` to CustRepoTestDbContext.
* Created a new migration (since dbcontext changed) and updateed database.
*

[2017-07-18 11:54] hikalkan commented on #2219
OK, waiting it.

[2017-07-18 12:01] hikalkan commented on #2274
@Worthy7 you must call _store.UpdateAsync(job); as sync with AsyncHelper (as @ismcagdas stated). You can not use an async method like that. If you want to make it parallel you should handle it in a different way (and I say that same db connection does not support multi-threading at all).

[2017-07-18 13:49] devsharper commented on #2280
@hikalkan  Thanks for your quick reply.

I think I found the exact problem. My Entity was added to DbContext before, but not using IDbSet<>, I add them like this:

[code]
It works fine in 2.0.2, generic type IRepository&lt;TEntity&gt; and IRespository&lt;TEntity, TPrimaryKey&gt; are registered.

But IDbSet<> properties are necessary in 2.1.3, or all repositories will not be registered.

It's kind

[2017-07-18 14:28] hikalkan commented on #2280
Actually, it was always getting entities from DbSet properties. It worked for you before accidently :)
We may consider to get entity types so it cover all entities related to the dbcontext even for those not defined as dbsets.

[2017-07-18 14:39] devsharper commented on #2280
uh.... thanks, hope to see it soon.

[2017-07-18 14:42] hikalkan commented on #2280
Actually we worked on it but then cancelled for this reason: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/554#issuecomment-135044907

I don't know, but maybe there is an easy way of getting all Entity types in a DbContext. Do you know?

[2017-07-18 16:13] devsharper commented on #2280
I didn't read ABP source code yet, but I think the way I 'accidently' used in 2.0.2 may be a good compromise.

Auto create/register repositories for all entity types is not a good idea, but ABP can just register the generic repository interface and implementation to IocContainer. Actually, generic IRepository&lt;TEntity&gt; and IMyCustomRepository&lt;TEntity&gt; will be registered even if I do not

[2017-07-18 18:02] hikalkan commented on #2280
We don't make it because it causes problems if you have more than one DbContext in your application (which one to use?) and makes it complicated.
You can easily register generic IRepository and IMyCustomRepository interfaces for your application with 2 lines of code if you will only have 1 dbcontext.

[2017-07-18 18:02] #2280 closed

[2017-07-18 22:41] natiki commented on #2291
Hi @hikalkan,

Any chance you can point me in the right direction here? I really need to understand why ASP Identity (I think) is being pulled in as this is a serious blocker for me atm.

[2017-07-19 00:58] Worthy7 commented on #2274
I tried this just now and you're right. But the entire reason I added that code in the first place was because something was duplicating jobs - and I did this to stop other "workers" from grabbing the jobs (if they were present).

[2017-07-19 00:59] #2324 closed

[2017-07-19 01:11] Worthy7 commented on #2274
So...
The update would have opened a new thread/connection. After this completes the Entity would not be update-able without rereading it first.
So the job would execute, but it would not be able to delete the job, and it would not be able to set it as abandoned. - but because the "NextTryTime" was set to infinity, the job won't re-execute. So it should have just remained in the database. This nev

[2017-07-19 01:21] Worthy7 commented on #2274
I have made a completely separate windows service, which starts up Abp, and my custom worker. At first I didn't `Configuration.BackgroundJobs.IsJobExecutionEnabled = false;` so it started 2 workers - but that was very clear from the log, so I disabled the Abp started one, and just used the one I initiated myself.
However, the affects from forcing 2 workers to start, gave the same symptoms as my pr

[2017-07-19 01:45] devsharper commented on #2280
I thought before, mainly, that AutoRepositoryTypes attribute is used to solve the multi dbcontext and multi repository problem.

[AutoRepositoryTypes(typeof(IXRepository<>), typeof(IXRepository<,>), typeof(XRepository<>), typeof(XRepository<,>))]

means:
[code]
and if there is a WithDefaultRepositoryInterfaces = true in attribute definition, default interfaces IRepository<> and IRepository<,> will

[2017-07-19 01:52] Worthy7 commented on #2274
@hikalkan going back to the original problem, can I just ask simply, what would cause the application to occasionally not to be able to write to the (log4net) log?
I can only thing that the file is locked, but that's what we have the singleton for right? One instance is locking it, that instance is being injected, and then all requests are using that instance. It sounds like a rogue copy of the ap

[2017-07-19 03:55] pedoc commented on #1491
@babinecm thank you for your method to help me

[2017-07-19 07:49] alirizaadiyahsi commented on #2313
Hi @malaikuangren. You can not download/manage `System.Web.Http` seperately.

Check following links:
[Downloading System.web.dll](https://social.msdn.microsoft.com/Forums/vstudio/en-US/54291cf6-55a1-4b9f-90fc-271c87bb1599/downloading-systemwebdll?forum=csharpgeneral)
[Where can I find a NuGet package for upgrading to System.Web.Http v5.0.0.0?](https://stackoverflow.com/questions/20202188/where-can

[2017-07-19 07:49] #2313 closed

[2017-07-19 08:17] coolshun opened #2333 "Cannot find module '@shared/helpers/JTableHelper'"
I download the ZERO project named "***.AngularUI",and run it in container of docker.I execute "ng serve --host 0.0.0.0" in the project folder. it throw the ERROR like
 "ERROR in /app/angularapp/abpzero/src/app/admin/roles/roles.component.ts (11,30): Cannot find module '@shared/helpers/JTableHelper'."
I see the file named "JTableHelper" ,it's name is "jtableHelper",that's why the ERROR be throwed.

[2017-07-19 09:50] natiki commented on #2219
Hi Halil,

I think I have solved this. We have found that on a few methods within our test fixtures we had:

[code]
[Reference](https://github.com/nunit/docs/wiki/Parallelizable-Attribute). So is the change in observed behaviour between the different versions of ABP perhaps the AsyncLocal change?

We are happy to remove the parallelization of our tests and as far as I can tell after running this a

[2017-07-20 02:50] coolshun opened #2336 "AngularUI:An error has occurred! Error detail not sent by server."
I download the ZERO project ,there is project named '***.AnglarUI',and I run it in docker container,and I visit the website,and I login it ,and it alert me to reset the password,and I reset the password,then it show me the div says that 'An error has occurred! Error detail not sent by server.'.
How do I see the logs? I want to check the error.

[2017-07-20 07:35] #2237 closed

[2017-07-20 07:41] #2293 closed

[2017-07-20 07:54] hikalkan opened #2338 "Add X-Requested-With header on abp.ajax by default"

[2017-07-20 07:54] #2338 closed

[2017-07-20 09:05] hikalkan commented on #2336
Server side logs are located in ``...Web.Host\App_Data\Logs`` folder. I also suggest you to check network communication from your browser's dev tools.

[2017-07-20 09:10] hikalkan commented on #2219
I'm very happy that you finally solved your issue. Thank you for informing.

[2017-07-20 09:10] #2219 closed

[2017-07-20 09:11] hikalkan commented on #2219
It can be related to AsyncLocal change but really I could not figure out what's the exact difference.

[2017-07-20 09:13] hikalkan commented on #2333
Thank you for informing. We will check this and fix.

[2017-07-20 10:04] Codeshark-NET opened #2339 "Using JWT with custom authentication filter in the Web API"
Hey there, and thanks for an amazing framework!

I've scoured the web for an issue about this, but couldn't find one, so here goes.

I'm attempting to implement JWT, to authenticate mobile clients by a deviceToken (as the clients doesn't use a login). I've followed the setup from: https://github.com/cuongle/WebApi.Jwt , using the same filters, and then inserting the following in the **ProjectNameW

[2017-07-20 10:16] natiki commented on #2291
@hikalkan Any chance of some input here please?

[2017-07-20 11:56] alirizaadiyahsi commented on #2321
Hi @cnmnm,

I've tested with no issue.

![image](https://user-images.githubusercontent.com/4375000/28416113-4e88bb70-6d5b-11e7-9585-3c792dd3c646.png)

Could you explain your test a bit more detailed? How are you testing? Which tools are you using? And which methods are you calling?

[2017-07-20 12:14] hikalkan commented on #2327
``app.UseIdentity();`` causes the problem. Actually, cookie authentication middleware does it by default. It automatically redirects to "/Account/Login" when user is not authorized. There are some partial solutions. You can somehow disable redirection but that time your application UI will not rediect to the login page.

Search "asp.net core identity redirects to login on API unauthorized" on Goog

[2017-07-20 12:14] #2327 closed

[2017-07-20 12:15] hikalkan commented on #2321
That may cause if you added UseIdentity or cookie based auth to your application (https://github.com/aspnet/Security/issues/804).

[2017-07-20 12:41] jerviscui opened #2341 "A NullRefrenceException"
### Github Issues

* Your Abp package version: lastest
* Your base framework: .Net Framework

I have a question.

The `Entity` Class, override the `Equals` method.
like:
[code]

#### It's a Bug?

Now, the method is called, the `Id` is null and `other.Id` is not null, then will be throw a `NullRefrenceException`.

#### Why happen

I meet this problem because I overwrite the `DeleteAsync(Expression<

[2017-07-20 13:07] devsharper opened #2342 "Suggestion: Auto register generic Repositories instead of concrete ones"
ABP searches Entity types from IDbSet&lt;&gt; or DbSet&lt;&gt; props of DbContext, constructs concrete types like IRepository&lt;User&gt; or IRepository&lt;Task, long&gt; then registers them to IoC container.

This logic has a little problem. Sometimes I may relate my entities to dbcontext without dbset definitions. For example, in a large project with a lot of entities, I want to reflect all enti

[2017-07-20 13:30] ellaisys opened #2343 "there are couple of issues with existing code in the template. If I upgrade the nuget package to latest and the existing code in the latest template starts failing. Is there any template compatible with v2.1.3 available? If not which is the most stable version on which latest project template runs seemlessly?"
### Github Issues

Github issues is for bug reports, feature requests and other discussions around the framework.

If you're creating a bug/problem report, please include followings:

* Your Abp package version.
* Your base framework: .Net Framework or .Net Core.
* Exception message and stack trace if available.
* Steps needed to reproduce the problem.

### Stack Overflow

Please use Stack Overflo

[2017-07-20 14:18] brunobertechini commented on #2325
@hikalkan any thoughts ?

[2017-07-20 16:08] brunobertechini commented on #66
Guys, Im tryting to use NSwag because i need to call abp api from C# code without referenced projects. My Abp project is dotnetcore and the client is AspNetMvc (dotnetframework).

Im having problems with NSwag because of AjaxResponse from abp webapi.

when nswag deserialize it tries to deserialize directly to Dto type not to AjaxResponse. The wrapresponse does not work on api result, only on NSwag

[2017-07-20 16:14] brunobertechini commented on #66
Sample code for GetUserforEdit:

[code]

[2017-07-20 20:16] JbmOnGitHub commented on #88
@albertdev

Yes, but with "CQRS only" if you want to obtain some real gains, you have to find a way to get very directly datas who fits to your viewmodel/dto used in your UI. (= denormalized datas...)
These denormalized data are like a cache that you must invalidate when necessary. It's hard to manage and that's why you'll use Event Sourcing.
Create  Views in Database to obtain directly the readvi

[2017-07-21 00:23] csharpweb opened #2344 "Sweet alert auto hide"
* abp 2.0.2
*  .Net Framework
*  Google Chrome v59.0.3071.115

In my application service,i throw userfriendly exceptions.
users do the action in the page,, and get the notify message first time.
and then, do the same action ,they can not get the notify message anymore.
i check the console logs, it write the error logs,but there is no alert message for users.

[2017-07-21 00:28] Worthy7 commented on #1554
Hello again, since I have now enabled "AllowAnonomous" for logging, this is now really starting to have an adverse affect on the database because every time someone is redirected for not being logged in (which is basically all the time) it is logging it to the database, and also to file.

I know this isn't your problem, but I have to take care of our space usage because in Oracle Standard Edition,

[2017-07-21 00:47] csharpweb commented on #2344
i debuged the abp.ng.js,i found the alert message had shown,but it hidden automatically,i do not know why it happen.

[2017-07-21 01:04] csharpweb commented on #2344
the sweet alert elements like this:

[code]

the class of the container div element  is 'showSweetAlert',it means the alert is visible,but the div elements style display is none,it looks confusedly,why it happen?

[2017-07-21 02:01] jerviscui commented on #2341
is anybody there?

[2017-07-21 02:45] acjh commented on #2341
You should check if `Id` is null.

[code]

[2017-07-21 02:52] csharpweb commented on #2344
i have solved the problem.use settimeout function to execute callback.
[code]
in the file abp.sweet-alert.js alt 97 line.

[2017-07-21 05:10] #2344 closed

[2017-07-21 07:09] hikalkan commented on #2343
Closing since issue formating is terrible. Title is too long and content is not edited at all.

[2017-07-21 07:09] #2343 closed

[2017-07-21 07:22] ellaisys commented on #2343
there are couple of issues with existing code in the template. If I upgrade the nuget package to latest and the existing code in the latest template starts failing. Is there any template compatible with v2.1.3 available? If not which is the most stable version on which latest project template runs seemlessly?

[2017-07-21 07:25] ellaisys commented on #2343
hikalkan, understand the point about formatting. But the issue still persists and we are not able to proceed on implementation. I am fine to provide the formatted question but question still remains same. I think providing support for issue and helping in resolution is more imp than formatting of question. Let me know how a question needs to be formatted so that support people like to provide solu

[2017-07-21 07:29] Worthy7 commented on #2307
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/3010b77510b77a2fe0a16fadd7e8c6b1dfd5157c/src/Abp/Domain/Uow/UnitOfWorkDefaultOptionsExtensions.cs#L9

It's still not working, Everything is 2.1.3

[2017-07-21 07:36] ellaisys opened #2345 "Getting compilation error after nuget packages are upgraded to v2.1.3"
Error : CS0308	The non-generic type 'PermissionChecker' cannot be used with type arguments
Project: MembershipMgmt.Core
Class: MembershipMgmt.Authorization.PermissionChecker

[2017-07-21 07:43] ellaisys commented on #2343
Have logged a well formatted issue. Seeking for support. Hope to get support from team as 2.0.2 based latest ASP.NET boilerplate template is having runtime errors. and if nuget package is upgraded to 2.1.3 then compilation error is coming as "Error : CS0308 The non-generic type 'PermissionChecker' cannot be used with type arguments".
Project: MembershipMgmt.Core and Class: MembershipMgmt.Authoriza

[2017-07-21 08:01] Worthy7 commented on #2307
I don't really know what I'm talking about but,
The up-to-date 2.1.3 WebApi package is calling the line:
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c2952f68c2bab9b1653818e270dc30c7d718738b/src/Abp.Web.Api/WebApi/Uow/AbpApiUowFilter.cs#L45

Which it must think exists not in the Interface (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/a81cac018f9698cf5b161b0df94546eb03

[2017-07-21 08:01] hikalkan commented on #2236
Hi,

I checked and it seems it's already possible. Example usage:

this._roleService.createOrUpdateRole(input)
    .subscribe(() => {
        //success...
    }, error => {
        //fail...
    });

You pass a function (lambda) as second argument to subscribe. error object is like below:

![image](https://user-images.githubusercontent.com/1210527/28454425-e628ac1c-6e03-11e7-84ea-8df412102f42.png)

[2017-07-21 08:06] hikalkan commented on #2236
Sorry, I was wrong, it's not possible. Checking again.

[2017-07-21 08:10] ismcagdas commented on #2345
Hi,

Is your PermissionChecker defined like this ?
[code]

[2017-07-21 08:12] Worthy7 commented on #2307
You were right, not only did I need to do a "clean" but I had to delete all bin+obj folders from everywhere. Thanks VS.

[2017-07-21 08:12] #2307 closed

[2017-07-21 08:13] hikalkan commented on #2236
Fixed with https://github.com/aspnetboilerplate/abp-ng2-module/issues/7
After release of abp-ng2-module v1.1, you will be able to get error detail as I have written above.

[2017-07-21 08:13] #2236 closed

[2017-07-21 08:17] ismcagdas commented on #2343
@ellaisys, which template do you use ? Can you share what you have selected while downloading the template ?

[2017-07-21 08:24] cuibty commented on #2343
@ellaisys

AbpProjectName.Core/Authorization/PermissionChecker.cs

old
[code]
new
[code]

[2017-07-21 09:14] gentledepp commented on #88
there is a very, very, very, very nice video about how and why an ordered stream of events helps us to scale systems and why distributed transactions cannot be the solution
https://martin.kleppmann.com/2016/03/07/qcon-london.html
An absolute must see for everyone here!

[2017-07-21 09:26] ellaisys commented on #2345
Hi, Thank you for responding. It was like below:

public class PermissionChecker : PermissionChecker<Tenant,Role, User>
{
    public PermissionChecker(UserManager userManager)
        : base(userManager)
    {
    }
}

I changed it to just have Role and User and removed Tenant and it started working.

[2017-07-21 10:00] acjh commented on #2345
Yes, it's a breaking change from [v2.1.0](https://github.com/aspnetboilerplate/module-zero/releases/tag/v2.1.0): aspnetboilerplate/module-zero#380

[2017-07-21 10:37] ellaisys commented on #2345
ok...

[2017-07-21 10:37] #2345 closed

[2017-07-21 10:48] ellaisys commented on #2343
Thank you for responding.

[2017-07-21 11:24] sebitsi opened #2347 "ABP Specifications and remote (SQL) processing"
I want to use some concept that is reusable and properly processed on remote (SQL side).

Simple query like

`ctx.Documents.Where(d => ((d.Meta.ValidEnd == null || d.Meta.ValidEnd > DateTime.Now())).ToList();
`

is properly processed on SQL like

`WHERE (ValidEnd is null OR ValidEnd > '2017-07-21')
`

If i try to put this expression in delegate, method, etc, like

[code]
filtering is always proces

[2017-07-21 13:16] #2196 closed

[2017-07-21 14:04] hikalkan commented on #2347
As I know EF does not support your usage.

Why not using specifications as documented: https://aspnetboilerplate.com/Pages/Documents/Specifications

[2017-07-21 14:08] hikalkan commented on #2342
Already answered: https://github.com/aspnetboilerplate/aspnetboilerplate/issues/2280#issuecomment-316086215

[2017-07-21 16:10] devsharper commented on #2342
I totally agree with you about not registering generic types by convention. #2125

But I think repository registration is a special case, generic repository is commonly used, I don't see any necessity of registering concrete repository types to IoC, when you do this, searching entity-dbcontext(repository) relations becomes a tough question. #554 This leads to tight coupled.

Why doesn't ABP framew

[2017-07-21 23:43] DavidDury opened #2348 "ASP.NET Core use default dependency injection system"
How can I use the default ASP.NET Core dependency injection system rather than Castle.Windsor.MsDependencyInjection? I mean I know how to use the default ASP.NET Core DI system however what work will require to switch from Windsor to default system. I have some hard time understanding the Windsor Implementation.

[2017-07-22 15:57] kennethalong commented on #2348
Hi David, the short answer is that it would take a lot of work.  I started trying to do it, spent weeks on it and in the end decided to give up on it.

ABP uses a lot of "just in time" injection, for example, when you instantiate the EventManager, they use Windsor to scan the assemblies looking for Event related signatures, and it registers them at the time the manager is instantiated.  The defaul

[2017-07-23 04:57] devsharper commented on #2342
Hi @hikalkan
If you insist that concrete repository types should be registered, my advice is to retrieve entity types from metadata of dbcontext instance in IDbContextEntityFinder, instead of using reflection. Like this:

[code]
Then you can construct concrete repository types. Metadata includes all entity types related to  dbcontext, not only defining by DbSet properties.

The only problem of thi

[2017-07-24 00:53] Worthy7 commented on #2127
What was the solution btw @gabrielrobert

[2017-07-24 01:07] Worthy7 opened #2349 "IsEnabledForAnonymousUsers & {DisableAuditing] doesn't work"
It seems IsEnabledForAnonymousUsers & [DisableAuditing]  causes logs still to get written.

[2017-07-24 01:12] Worthy7 commented on #2349
[DisableAuditing] on my login function is stils getting Audit logged.

[2017-07-24 01:18] Worthy7 commented on #2349
I'm a liar, I had two Index functions and didn't put [DisableAuditing] on the correct one.

[2017-07-24 01:18] #2349 closed

[2017-07-24 04:09] Worthy7 opened #2350 "Auditing: IsEnabled=False & [Audited]"
Config.Auditing.IsEnabled=False
but using [Audited] on functions.
I expected this to Audit only the functions I attributed, but it doesn't audit anything.

Is this a bug or a feature?

[2017-07-24 06:23] hikalkan commented on #2350
Config.Auditing.IsEnabled=False completely disables it. It's not bug.

[2017-07-24 06:23] #2350 closed

[2017-07-24 06:42] sebitsi commented on #2347
Hi,

nothing is wrong with specifications as documented.
But like you said in discussion in that specification the main arguments for using this pattern for me are reusability, composability and testability.

We can achieve this with other tecnique too.
But this was not point of my question.

I just searched to find some concept that is reusable and properly processed on remote (SQL side).
As you

[2017-07-24 07:24] jerviscui commented on #2341
you must overwrite 100+ entities

[2017-07-24 08:03] hikalkan opened #2351 "Add ClientCache attrbiutes to control result caching for ASP.NET Core"
### How to use

``AllowClientCacheAttribute`` can be used for a method (action) or class (controller) to allow client to cache results. ``NoClientCacheAttribute`` can be used to prevent caching.

Default behaviour is ``NoClientCacheAttribute`` which prevents caching for ajax requests by default.

You can implement ``IClientCacheAttribute`` for a finer control on caching.

[2017-07-24 08:09] #2351 closed

[2017-07-24 11:05] hikalkan commented on #2348
Leaving Windsor or depending only MS DI is a huge design change in ABP framework and only can be done within a major re-design. We will work on that, but not in a very near future (no time plan yet).

But.. you can currently use MS dependency injection as you can use in any other project. For instance, you can inject IServiceProvider and use it. You can register dependencies on ConfigureServices a

[2017-07-24 11:14] natiki opened #2352 "Exception when upgrading to EntityFramework.DynamicFilters 2.9.0"
- ABP: 2.2.1
- .NET 4.6.1
- Upgrading to EntityFramework.DynamicFilters 2.9.0 produces the following. Downgrading back to 2.8.0 fixes the issue

[code]

[2017-07-24 11:17] hikalkan commented on #2352
I suppose EntityFramework.DynamicFilters 2.9.0 introduces a breaking change. Stay with v2.8.0 until Abp dependency is upgraded.

[2017-07-24 11:17] hikalkan commented on #2325
This is a little bit long to read and understand. I will check when I've time.

[2017-07-24 13:21] brzuck opened #2353 "Question: Wait for user answer on abp.message.confirm()"
I'm having a problem with abp.message.confirm().
I need the execution to stop/wait for user answer.

Can someone help me with this or give me a way out?

checkAbc() returns undefined before user selection
[code]

[2017-07-24 13:30] hikalkan commented on #2353
Your code has javascript level problems and not related to ABP. It would be better to ask on stackoverflow.

[2017-07-24 15:35] acjh commented on #2353
@brzuck You forgot to `return`.

[code]

It still won't work the way you're using it though. Do this:

[code]

[2017-07-24 17:23] shahab00304 commented on #1192
I deployed the project on the server but when i open the website i got the same error "
System.ApplicationException: No language defined!"
And i also update the db In  Package-manager console  and in the AbpLanguage table values are there.

![hallrentalerror](https://user-images.githubusercontent.com/25884283/28535501-0f4ef30a-70be-11e7-916c-ce61aaa26e2a.PNG)

![dbimage](https://user-images.github

[2017-07-24 20:11] dazsco opened #2354 "Unit of work interception does not work for interface proxies."
DomainService:

[code]

Web View .cshtml
`var dict = IocManager.Instance.Resolve<IDataDictionaryManager>();`

error:
The operation cannot be completed because the DbContext has been disposed.

This error is not available in the 2.1.3 version

[2017-07-24 21:10] maharatha commented on #1713
An error has occurred.","exceptionMessage":"There is an action GetUserNotifications defined for api controller app/notification but with a different HTTP Verb. Request verb is GET. It should be Post","exceptionType":"System.Web.HttpException","stackTrace":"   at Abp.WebApi.Controllers.Dynamic.Selectors.AbpApiControllerActionSelector.GetActionDescriptorByActionName(HttpControllerContext controllerC

[2017-07-25 03:11] Worthy7 opened #2355 "[Audited] on controller methods with nullable parameters"
When using the [Audited] attribute on ANY methods in a controller which has a method with some nullable parameters, an error is thrown when said method is called.

Example

[code]

goto: www.mywebsite.com/controller/b

Error will be thrown - even though method b does not even have the attribute on it.

[code]

if it's

[code]

It works fine.

[2017-07-25 04:24] Worthy7 opened #2356 "Directly injected Services' [ApbAuthorize] is ignored"
2.1.3
In a controller, if MyMessageApplicationService is injected instead of IMyMessageApplicationService, then any [AbpAuthorize(PermissionNames.Whatever_permission)] attributes are not encountered.

If this is not a bug it should be written about somewhere - it poses a fairly big security risk to those who don't know about it. Alternatively, create some kind of way to avoid raw services being in

[2017-07-25 04:45] acjh commented on #2355
Might be a different problem - what's the method signature of `Modal_Order_Details`?

[2017-07-25 04:47] acjh commented on #2356
Are your methods `virtual` as described [here](https://aspnetboilerplate.com/Pages/Documents/Authorization#abpauthorize-attribute-notes)?